[2019-09-19 17:08] rjminchuk commented on #4362
It looks like I was just flat out wrong in my earlier post. It does appear that approvals (known as checks in the environments sub page of the pipeline tab) are a feature in yaml pipelines. I had previously equated Environments with Deployment Group Agents, where an environment might be a machine with an agent installed on it, and I ignored it as a tool to facilitate approvals.

Thank you @katlimr

[2019-09-19 17:08] planetmarshall commented on #3921
FYI I used pipeline templates to resolve this same issue.

[2019-09-19 17:14] RoopeshNair commented on #4362
@rjminchuk  - thanks for confirming, yes we do support approvals on environments, soon you will be able to set them on other resources like Service connections etc.

[2019-09-19 17:14] planetmarshall opened #5672 "Docker containers must not define `USER` as anything other than root"
The [requirements](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops&tabs=yaml) for Linux based containers to be used in container jobs is incomplete.

When containers are initialized, the following command is executed by a pipeline:

[code]

Only the root user can execute `groupadd` without `sudo`, meaning that if a docker container specifies anoth

[2019-09-19 17:27] vtbassmatt commented on #5671
Today we support `checkout: self` and `checkout: none`. In the future, it will be possible to checkout other repos.

[2019-09-19 17:27] #5671 closed

[2019-09-19 17:41] oleksandr-bilyk opened #5673 "$(System.TeamFoundationServerUri) is not evaluatable."
$(System.TeamFoundationServerUri) should be evaluated as the URL of the service connection in TFS or Azure Pipelines.
I have created custom agentless task. In task.json I attempt to send $(System.TeamFoundationServerUri) with many other variables. All other variables (e.g. System.TeamFoundationCollectionUri) are evaluable exception of System.TeamFoundationServerUri. How it may be?

---
#### Docume

[2019-09-19 18:01] bourquep commented on #3702
Does anybody here have an elegant workaround?

[2019-09-19 19:24] bremnes opened #5674 "Firewall settings missing for retrieving artifacts when deploying"
The IP address ranges mentioned in the article are

13.107.9.0/24
13.107.42.0/24
13.107.43.0/24

We are allowing outgoing connections in the firewall to the mentioned addresses, and the agent connects and can run agent jobs:

Connecting to the server.
2019-09-19 18:49:37Z: Listening for Jobs

However, when downloading artifact it first tries to connect to a storage account that is within the ip ra

[2019-09-19 19:58] warzinskid opened #5675 "Issue changing Categories"
I built this example with no problems.  However, I wanted to have my extension in the Pipelines section instead of Repos.  I changed:

"categories": ["Azure Repos"],

to:

"categories": ["Azure Pipelines"],

and it didn't move.  It compiles and updates just fine, but it remains in the Repo section.  Is there a bug somewhere or am I doing something wrong?

[2019-09-19 20:00] warzinskid opened #5676 "Issue changing Categories"
I built this example with no problems. However, I wanted to have my extension in the Pipelines section instead of Repos. I changed:

"categories": ["Azure Repos"],

to:

"categories": ["Azure Pipelines"],

and it didn't move. It compiles and updates just fine, but it remains in the Repo section. Is there a bug somewhere or am I doing something wrong?

---
#### Document Details

⚠ *Do not edit this

[2019-09-19 20:02] #5675 closed

[2019-09-19 20:27] mjalas commented on #3702
The closest workaround I was able to do was using a combination of variables and job templates. The end result was close enough, at least for now, to what dynamic variable groups with strategy matrix would have provided. However, it is not as explicit and far as I understood it required an extra file for the template.

[2019-09-19 20:31] eric-labelle commented on #4087
Why is this issue closed? @ClydeDz never actually gave a solution like @chcomley is saying. The only thing was what I consider a workaround provided by @brianfleibenzon (_which works_) although it's a pain to always bump this task.json patch version manually in order to see our changes to the task reflected when developing a task. I'm not saying it should update automatically when the task is actu

[2019-09-19 20:39] #5612 closed

[2019-09-19 20:39] #5631 closed

[2019-09-19 20:48] chcomley commented on #4087
Hello all, I suppose I figured the workaround sufficed when it was closed back in August, not sure. I've reopened this issue and have an engineer looking into it as we "speak." Thanks for speaking up, @eric-labelle. @jordynniara, curious whether you contacted Support and what may have come from it?

[2019-09-19 20:53] KathrynEE commented on #5637
@jstallm - Thank you for the feedback. I will update the topic to note the limit. The limits are between 14 and 180 days.

[2019-09-19 20:53] #5637 closed

[2019-09-19 21:06] KathrynEE commented on #5654
@TASlavens - I've reached out to the product team for instructions and will add more information as I receive it.

[2019-09-19 21:15] KathrynEE commented on #5643
@brujah6 - Thank you for your inquiry. Previously for the cloud hosted service, you couldn't change the Activity or Discipline pick list. However, with a recent update, you can by modifying an inherited process. See {Customize system picklist values}(https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-156-update#customize-system-picklist-values). I will update the topic to clar

[2019-09-19 21:15] #5643 closed

[2019-09-19 21:28] KathrynEE commented on #5203
@CordellStocker - Thank you for your inquiry. I'm contacting the product team and will update you with a response as soon as I have one.

[2019-09-19 21:59] WilliamAntonRohm commented on #5495
@mengyang88 -- I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-19 21:59] #5495 closed

[2019-09-19 22:00] WilliamAntonRohm commented on #5656
@dsahu1001 -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-19 22:02] WilliamAntonRohm commented on #5659
@manb-msft -- Manigandan, thank you for bringing this to our attention.

[2019-09-19 22:08] WilliamAntonRohm commented on #5670
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-19 22:08] #5670 closed

[2019-09-19 22:11] WilliamAntonRohm commented on #5673
@oleksandr-bilyk -- Oleksandr, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevo

[2019-09-19 22:11] #5673 closed

[2019-09-19 22:16] WilliamAntonRohm commented on #5676
@warzinskid -- here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@willsmythe -- Will, please look into this issue 5676.

[2019-09-19 22:20] WilliamAntonRohm commented on #4379
@raisingcode -- Jason, I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-19 22:20] #4379 closed

[2019-09-19 22:21] WilliamAntonRohm commented on #4168
@kristelaune -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.

[2019-09-19 22:21] #4168 closed

[2019-09-19 22:26] zeusk opened #5678 "Duplicate field data type entry in table"
There is an identical duplicate entry for "string or Text field" in section "Query field data types and values".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a718268-1105-4def-5f9e-20ea21afc0d7
* Version Independent ID: 0f08fa18-3075-4275-22c7-d5d1c1e260b0
* Content: [Query fields, operators, and macros/variables -

[2019-09-19 22:33] BenLeggiero opened #5680 "Does not address that the provisioning profile must contain the device UUID"
I cannot build my project because my provisioning profiles don't contain the UUID(s) of the device(s) which run the build task:

https://devops.stackexchange.com/q/9214/17181

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e66a70d-e359-9d0a-0143-a9e43b263795
* Version Independent ID: 7b320a02-0a63-947a-3017-4826ab46111

[2019-09-19 23:22] tedchamb commented on #5206
@leon99, I agree that the documentation needs to be updated.  The work to do this is already under way.

@wireznak as fyi.

[2019-09-19 23:59] WilliamAntonRohm commented on #5678
@zeusk -- Shantanu, thank you for your feedback & fix.

@KathrynEE -- Kathryn, please review the above-mentioned PR.

[2019-09-20 00:01] WilliamAntonRohm commented on #5680
@BenLeggiero -- Ben, thanks for your feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtuala

[2019-09-20 00:03] WilliamAntonRohm commented on #5680
@BenLeggiero -- Ben, I see your request here is for an additional description.

[2019-09-20 00:38] highpost opened #5681 "SSH keys for GitHub?"
This article recommends using SSH keys instead of a credential manager for working with Azure DevOps. Does this recommendation also hold for using GitHub?

[2019-09-20 00:52] highpost commented on #5681
I should have seen this:

https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github

[2019-09-20 00:52] #5681 closed

[2019-09-20 05:17] opendll commented on #5471
EXCELLENT INFORMATION WITH WONDERFUL EXAMPLE, I LEARNED A LOT OF NEW THINGS FROM THIS ARTICLE, BUT I CAN'T [OPEN DAT FILE](https://opendllfiles.com/open-dat-file/), CAN YOU PLEASE HELP ME OUT THAT?

[2019-09-20 05:31] ishitam8 commented on #5662
Hi @ChrisGibson1982 ,

Thank you for the feedback. I will update the documentation and help text for the command with few examples. I am opening an [issue](https://github.com/Azure/azure-devops-cli-extension/issues/795)  in our extension repo. You can track the bug there.

To answer your question, if you pass allow-bit as 7 to Release management permission ,  you will be able to **view, edit and d

[2019-09-20 05:38] RoopeshNair commented on #5663
Raised PR #97

[2019-09-20 09:47] basickarl opened #5683 "Present full working azure-pipelines.yml examples"
It's quite annoying that the documentation always splits up every section of a azure-pipelines.yml file and never shows an actual full example. Leaving the user to waste hours trying to get the file to work after piecing together every little section of code.

Present full working examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-20 10:11] ChrisGibson1982 commented on #5662
Thanks @ishitam8, just one more point, can you skip numbers?  e.g. if i wanted to allow user to only view or delete releases could i set 6 as the allow bit?  (Sorry i couldn't think of a better example)

[2019-09-20 10:14] ishitam8 commented on #5662
@ChrisGibson1982  ,
Yes, you can skip numbers as well.
The allow-bit would necessarily be the addition of only those permission numbers/types for which you want to explicitly allow permissions for.

[2019-09-20 10:33] durayakar opened #5684 ""Enforce merge strategy" changes"
"Enforce merge strategy" has been renamed to "Limit Merge types".
The options also changed as below:
Allowed merge types:
Basic merge (no fast-forward)
      Preserves nonlinear history exactly as it happened during development.
Squash merge
        Creates a linear history by condensing the source branch commits into a single new commit on the target branch.
Rebase and fast-forward
      Creates

[2019-09-20 10:35] #5684 closed

[2019-09-20 10:36] durayakar commented on #5684
duplicate

[2019-09-20 10:50] tgdane commented on #5272
Also looking for this, for the moment writing the variable to a file and uploading that as an artifact, which is pretty clunky.

[2019-09-20 12:37] edglas1 commented on #4087
Thanks @brianfleibenzon for posting the solution that you need to update the version number in task.json as well on the tfx command line. Clearly having to specify the version in two places is confusing and should not be necessary. I will check to see why we have this requirement.

[2019-09-20 15:05] ChrisGibson1982 commented on #5662
@ishitam8  Cheers

[2019-09-20 15:10] ADringer opened #5685 "Reporting deployment in a monorepo"
We using Azure DevOps as a monorepo and I believe you are well (as described here: https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/use-git-microsoft)

One issue we have with this is that a a commit is created for User Story 1 related to Application A. This is deployed to Development and so the story now shows that this is deployed to the Application A environment (using App

[2019-09-20 15:11] BenLeggiero commented on #5680
Azure DevOps provides predefined Xcode build tasks. This means that Azure DevOps officially supports building Xcode projects. I've followed every step in the documentation, but this is a step that's not included in the documentation: how to add the Azure Pipelines' build machine's UUID so the project can be build properly, with the proper provisioning profiles.

[2019-09-20 15:24] eatdrinksleepcode commented on #4672
I am trying to provide guidance to teams building pipelines on when they should use server jobs, but I can't do that without knowing what tasks are supported for Server Jobs.

[2019-09-20 16:57] sunshineforlove opened #5686 "Transform html files"
hi,
Is it possible to transform html file via azure devops.

Thanks,
VP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f14deae3720
* Content: [File transforms and variable substitution - Azure Pipelines](https://docs.microsoft.com/e

[2019-09-20 17:36] jpalvis86 commented on #5443
@StingyJack have you look at [this section of the documentation](https://docs.microsoft.com/en-us/azure/devops/learn/git/centralized-to-git#migrating-history)?
It gives more details about why migrating history might be challenging.

I haven't performed a migration yet but our team is currently planning how to do so.

[2019-09-20 18:15] ljfraney commented on #4486
The only mention I can find of it is in [Gopinath Chigakkagari's blog post](https://devblogs.microsoft.com/devops/whats-new-with-azure-pipelines) announcing Multi-stage YAML pipelines back in early May. In the section "A look at what's next" he says...

In [Gloridel Morales's blog post](https://devblogs.microsoft.com/devops/azure-devops-roadmap-update-for-2019-q3/) on July 31st, the only mention o

[2019-09-20 18:43] TroySchmidt commented on #4486
We have since dialed back our adoption of multistage YAML for deployments.  We are only going to use  in a build validation workflow.  Basically once the build validation is successful it will immediately deploy the code using the workaround.
Microsoft has pushed preview functionality for associating work items directly to releases for the normal Pipeline > Releases.  That functionality combined w

[2019-09-20 18:52] kirkone commented on #4714
Hi @Zenexer

can you please provide a sample how to use `feedRestore`?
I can not figure it out how to use it where.

Thanks

[2019-09-20 19:07] ljfraney commented on #4486
@TroySchmidt I set up a multi-stage pipeline to build and publish a library to our NuGet feed with stages that include build > alpha > beta > final. It works great for this since there are no deployment groups involved. I can probably think of other cases where multi-stage pipelines could work for us, but the bulk of our pipelines are building and deploying web applications. We will probably go fo

[2019-09-20 19:26] mariuszdotnet opened #5687 "Approval Notification Email"
Should this send a notification email to the approvers?  I don't see a setting for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b067a175-f640-7503-9c1e-f0130c6dbeda
* Version Independent ID: ff743c7b-a103-eae6-4478-62ba995a4b36
* Content: [Pipeline deployment approvals - Azure Pipelines](https://docs.microsoft.

[2019-09-20 20:03] steved0x commented on #5635
@peterlanoie Thank you for your feedback. On Azure Devops Server 2019, the Branch menu hasn't changed in the areas of branch policies, it looks like this. Does yours look different? Even if your user account doesn't have the permission to change the branch policies, you can typically still see the menu item for branch policies, click it, and view the policies.

Based on the screenshot I just took,

[2019-09-20 20:43] MorganW09 opened #5688 "Extra open bracket in markdown file"
I noticed an extra open bracket on the following page.

https://docs.microsoft.com/en-us/azure/devops/project/wiki/wiki-markdown-guidance?view=azure-devops

On the bottom left of this image.
![image](https://user-images.githubusercontent.com/4063086/65357493-cb245000-dbbc-11e9-82c5-c8ca32571785.png)

Looking through the raw markdown

[code]
Should be
[code]

Small issue, but I'd love to submit a P

[2019-09-20 20:57] segraef commented on #5405
What about a simple `rm filename` after the pipeline agent got configured?

[2019-09-20 21:50] Hebo-Y opened #5689 "What's availability of the build artifacts in case of regional disaster?"
Most Azure products have info on the availability/redundancy in case of regional disaster. I was not able to find it for  Azure DevOps Pipeline build artifacts.

[2019-09-20 22:35] raffety opened #5690 "this is a BI test"
Please delete this record.  brraffet@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 764b5c96-75f0-09dd-e9a9-d873743b389f
* Version Independent ID: 5007d9f8-a540-1866-a8e2-888231ff7c7d
* Content: [Collect screenshots, video, logs, and attachments - Azure Pipelines](https://docs.microsoft.com/en-us/azure/de

[2019-09-20 22:45] #5690 closed

[2019-09-20 23:35] SudoBrendan commented on #5405
That might work - I figured that considering how much effort went into ensuring that file's existence in the script, the agent needed it there; definitely worth testing! I do know that the agent has some callbacks to AzDo during it's lifetime; re-establishing connections, unregistering itself, etc... maybe it loads the token into memory at some point? Maybe not?

[2019-09-21 08:13] loundy opened #5692 "Update screenshots"
Screenshots need updating for the new DevOps experience.

For example, the last screenshot showing "My Hub" is under "Repos &gt; My Hub"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14955ee9-29f2-46fe-3a8d-a42666f53ffc
* Version Independent ID: 5d417cd0-a671-ee30-8fca-5f8b0addd328
* Content: [Develop a web extension

[2019-09-21 11:27] bradleyscollins commented on #5638
Thanks a ton!

[2019-09-21 20:51] vadimcn opened #5694 "Please document how cache key fallback works."
Based on https://github.com/microsoft/azure-pipelines-tasks/issues/10842, I'm using Cache task like this:
[code]
However each time it outputs `Information, There is a cache miss.` and no data is getting restored.

I would have expected there to be a partial match on the first two key parts with cache from previous build.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-09-22 00:14] xtellurian commented on #5647
@LarsCelie you can use this in your pipeline yaml

[code]

https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

[2019-09-22 02:17] Zenexer commented on #4714
@kirkone

If your Azure DevOps organization URL is `https://dev.azure.com/YourOrganization/', and your solution file is `YourOrganization.YourApplication.sln`:

[code]

[2019-09-22 04:52] dotnetcanuck commented on #4486
@steved0x Is there any update you can provide on this issue? Thanks!

[2019-09-22 07:43] angel-p57 opened #5696 "The chapter "How SSH key authentication works" has wrong content"
The content is based on misunderstanding.
1. Authentication keys are not for encryption/decryption. They are for signing/verifying the digital signature created through the authentication process.
2. Authentication keys have no effect on message encryption.  Even without authentication keys, e.g. even with password authentication, messages between server and client are encrypted.

---
#### Documen

[2019-09-22 07:47] once-returner commented on #5630
@raiyanalam @mkajerski @rustyautopsy I agree that environments aren't the proper place to configure pre-deployment approvals due to the fact that they don't map to all organizations' use cases... in the legacy UI, stages are where an pre-deployment approvals is set. I believe the stage is where approvals should be set in the yaml structure as well (which would match the legacy UI behavior and woul

[2019-09-22 08:51] jamesmcroft commented on #4341
Looking at what has been cached in web history, the repo was last recorded as existing in January 2019 with the last commit history being September 2017.

I wonder if the repo became redundant with the UWP docs becoming better. That being said, this documentation could do to have a useful, simple sample app to work alongside the Azure Pipeline docs

[2019-09-22 09:01] jamesmcroft commented on #4341
Digging into this further, @rido-min seemed to be the last contributor to commit to the branch based on the archived history.

The URL that was associated with the repo takes you to the **[Create a "Hello, world" app (XAML)](https://docs.microsoft.com/en-us/windows/uwp/get-started/create-a-hello-world-app-xaml-universal)** documentation in the UWP docs.

There's also a GitHub pages site for the UW

[2019-09-22 11:10] welabbar1 opened #5697 "Here is how to pick up & set variables in pipelines using Python"
Use the following to pick up pipeline variables:
import os
os.environ['VARIABLE_NAME']

to set pipeline variables in scripts:

print ('##vso[task.setvariable variable=sauce]crushed tomatoes')
print('##vso[task.setvariable variable=secret.Sauce;issecret=true]crushed tomatoes with garlic')
print (f'##vso[task.setvariable variable=sauce]{pythonvariable}')

---
#### Document Details

⚠ *Do not edit th

[2019-09-22 11:16] welabbar1 commented on #5697
and

print (f'##vso[task.setvariable variable=sauce]{pythonvariable}')

[2019-09-22 17:39] rguthriemsft opened #5698 "Industry Resources Links"
The three scrum alliance links will 404 if you are not a member of scrum alliance which requires a paid membership.  You might add a note in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27e01fac-6a61-00a9-b914-2d42aa270bf8
* Version Independent ID: 6cc94467-d5d8-ff66-290f-c37304a83ccc
* Content: [Velocity m

[2019-09-22 17:51] LasseNisted commented on #4502
Thanks, @chweems - that makes sense. It would help if the docs are updated to clearly state this distinction.

[2019-09-22 19:47] fmms commented on #5271
I would have very much expected myself that variables to be set at build time -- which means easily configurable parameters be the user executing the pipeline could be exposed via YAML. However, I have reached the conclusion that this is not missing in the documentation but totally missing in the product.

I think it is very strange to define the whole pipeline as code and then for approvals and b

[2019-09-22 19:57] bluewwork commented on #4179
tutoril pls,with vid in windows 10

[2019-09-22 20:30] fmms commented on #4881
@vijayma how can i break up my pipeline between CI and CD? Can you point to any example? How can I reference the artifact of the CI pipeline when I break it up?

[2019-09-22 20:35] fmms commented on #4499
@RoopeshNair approvals have hit DevOps now. However, there is the unexpected requirement that everyone of the approvers have to approve. That is unusable for me. For me it would be one person out of several. Any idea how to cope with this?

[2019-09-22 21:04] patrickeibl opened #5699 "Update UI controls information in extension development documentation"
Develop extensions / Reference / UI controls
The documentation in the above section is very thin and also out of date as it does not reference the newer azure-devops-ui controls. The whole section should just be replaced with a short description and pointer to the azure-devops-ui page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-22 22:19] fmms opened #5700 "How to just do manual propagation instead of approvals?"
Hi,

with classic pipelines one could easily just manually deploy to different environments. We have used that intensively and after testing a build on the TEST environment. We deployed exactly that build to the PROD environment.

How can I achieve this with YAML multi-stage pipelines?

As I understand the documentation Approvals are a sophisticated solution to this. However, I do not really need

[2019-09-23 00:08] clix455 commented on #5581
Thank you Steve.

[2019-09-23 01:14] rido-min commented on #4341
The repo has been marked as private. @karann-msft or @diverdan92  might know more

[2019-09-23 05:42] ishitam8 commented on #5662
@ChrisGibson1982 , I am glad that your issue is resolved.

I don't think I've enough permission to close the bug.
@KathrynEE , could you please close this.

[2019-09-23 06:29] RoopeshNair commented on #4499
Adding individual users mandates all of them to approve. If you add a group instead, any one of them can approve.

[2019-09-23 08:43] shashban commented on #5630
@once-returner With move to config as code (YAML), we believe the pipelines get exposed to more users for modifications. At the same time, it is undesirable to allow contributors to modify the approvals. We hence are trying to keep approval configuration segregated from pipeline process and defined by the infrastructure. We have started with Environments, and would extend to other infrastructure e

[2019-09-23 08:45] fmms commented on #4499
thank you so much! Just for everyone else in addition to user names one can specify Azure Devops Teams here. Teams are configured at Project Settings - Tems.

[2019-09-23 08:48] fleed opened #5702 "Specific branch for second repo"
How do I set a specific branch name for additional git repos?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800c5477-b39f-48e6-6f9c-aa7994b2ec2a
* Version Independent ID: db9e2e97-d44d-734e-6a6f-b01f60f01c95
* Content: [Options for Git repositories - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipel

[2019-09-23 08:49] RoopeshNair commented on #5686
html is not supported. Can you share your scenarios for html transformation?

[2019-09-23 08:49] #5686 closed

[2019-09-23 09:17] shashban commented on #5590
@jeremyklamer By comments I believe you are talking about ability to provide comments when completing an approval. This support already exists in the platform.
![image](https://user-images.githubusercontent.com/16793896/65414305-0919b200-de11-11e9-9458-65c98944fdbb.png)

[2019-09-23 09:27] shashban commented on #4672
Currently Invoke REST API, Invoke Azure function and Delay tasks would be functional in a server job.
Having said that tasks are extensible and can be added through extensions.

[2019-09-23 09:51] jeremyklamer commented on #5590
Wauw I never expected a response! What I actually meant was manual approval
before a stage in a yaml pipeline. Later I saw thst the article already
covered this subject and I just read over it.

Thanks a lot for the response though! That's amazing.

On Mon, Sep 23, 2019, 11:17 AM shashank bansal <notifications@github.com>
wrote:

[2019-09-23 10:34] ebashmakov opened #5703 "How to share files between stages?"
Let's say I have Build, Test, Publish, and Deploy stages:

[code]
How can I share the job results (artifacts) between stages? So for example the "Deploy" stage will have "myProject.zip" file from the "Publish" stage.
Do I have to publish artifacts after each stage? Is it possible to share files (pipeline environment) between stages automatically?

---
#### Document Details

⚠ *Do not edit this sec

[2019-09-23 10:51] #5590 closed

[2019-09-23 11:00] shashban commented on #4729
@eugeneneimand Are you still blocked on this?

[2019-09-23 11:02] neryacohen opened #5704 "Can't see the graphs at Capacity"
![Annotation 2019-09-23 132302](https://user-images.githubusercontent.com/35538785/65418530-542dc800-de05-11e9-90c4-ebd6f9ed1746.png)
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please

[2019-09-23 11:08] shashban commented on #5700
We currently do not have an ability to manually start stages in yaml pipelines.
@vijayma to comment

[2019-09-23 11:11] rustyautopsy commented on #5630
@shashban I understand the need to "control" approvals, however, the `yaml` used by the pipeline should be "controlled" by your standard Git workflow. Branch, code, submit for review. Setup protected branches on the repo's that house the IaC and ensure only those who have to approve the PRs can change those setting in the GUI.

Wouldn't you say that proper vcs use would negate the need to set up f

[2019-09-23 11:24] shashban commented on #5703
Stages are logical an independent parts of a pipeline. Publishing artifacts is the supported means to transfer files between stages.

[2019-09-23 11:27] shashban commented on #5687
This is being developed. Currently there is no notification for a pending approval.

[2019-09-23 11:42] shashban commented on #5651
If the variable is not marked as an Output variable i.e. does not have isOutput=true, then the new value myvar will be applicable to the rest of steps in the job. It will overwrite the existing value.
If you mark isOutput=true, then it would create a new variable as <TaskName>.myVar

[2019-09-23 12:55] ebashmakov commented on #5703
@shashban thanks for the reply! But they're called "Stages", they're kinda dependent by definition. That's super weird. All the provided examples do not make sense for me then - I have to copy/publish and download artifacts over and over again. It seems like a waste of time and resources. Maybe I understand it wrong but what would be a real use-case when you don't need to share data between stages

[2019-09-23 13:18] f-tischler opened #5705 "Update instructions for cross-compiling"
The "resin" images are deprecated and superseded by "balenalib". The current way to do cross-compiling is explained here:

https://www.balena.io/docs/reference/base-images/base-images/

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: e825c07d-2168-c0aa-782a-ef6f9c7ba95e
* Version Independ

[2019-09-23 13:26] kcpevey commented on #5479
@shashankbarsin Any suggestions here?

[2019-09-23 13:49] luckyrat opened #5708 "publishConfig property note should be improved"
Please change "The build does not support using the publishConfig property" to something like "The build will fail, potentially with unrelated authentication errors, if you include the publishConfig property in your package.json config file" since this more closely describes the reality of this build system bug and the workaround required to avoid hitting it.

---
#### Document Details

⚠ *Do not

[2019-09-23 14:26] henry-padilla opened #5709 "Can I call functions from one Powershell task in a different task?"
I would like to get some modularity to these deployment pipelines. Is there a way I can import functions in one step and then use them in other steps? I'd rather not have different copies of the same functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77731c06-e4fd-8125-0daf-870c9ccedd3f
* Version Independent ID:

[2019-09-23 14:56] rob2244 opened #5710 "Preview APIS specified in documentation not available on TestManagementHttpClient class"
I am trying to use the preview apis for creating test plans, test suites and test cases in a .net standard 2.0 library project. I have the latest version of the Microsoft.TeamFoundation.Server.Client and Microsoft.VisualStudio.Services.Client installed:

![image](https://user-images.githubusercontent.com/26353604/65435979-600e8f80-ddef-11e9-9341-27d1ab48e924.png)

But the APIS specified by the doc

[2019-09-23 15:49] jcbrooks92 opened #5711 "Run from package should not be used for a webjob deploymetn"
If run from package is used with a webjob deployment from DevOps, users will get a 404 when they try to stop, start, or use other webjob APIs to manage the app. The cause of this is run from package puts the site into a read only mode. Some of the management APIs directly modify the settings.job file located in the directory of the webjob. Since its in read only with run from package this file can

[2019-09-23 16:49] rob2244 commented on #5710
It appears like the method exists on TestCompatHttpClientBase but intellisense is not picking it up. Additionally it is marked as obsolete in that class:

[2019-09-23 16:55] StingyJack commented on #5443
That doc should be linked to the recommendation. I would argue several points on it, especially "relative rarity.

[2019-09-23 17:27] #5688 closed

[2019-09-23 17:28] WilliamAntonRohm commented on #5688
@MorganW09 -- thank you for finding and especially fixing this issue.

[2019-09-23 17:35] WilliamAntonRohm commented on #5689
@Hebo-Y -- [this link](https://docs.microsoft.com/en-us/azure/devops/organizations/security/data-protection?view=azure-devops) may help answer your question.  See also these sites:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I am closing this issue now.  You are welcome

[2019-09-23 17:35] #5689 closed

[2019-09-23 17:39] Hebo-Y commented on #5689
@WilliamAntonRohm Thanks for the response! I am afraid that the "data-availability" is very high level and didn't mention any particular service (we care about the build artifacts most) of Azure DevOps. I searched on the internal MSFT stack overflow but didn't find any existing topic so I created one https://stackoverflow.microsoft.com/questions/166126/whats-the-availability-redundancy-for-artifac

[2019-09-23 19:05] akshaykg commented on #3869
not working for me "This module requires Az.Accounts version 1.6.2. An earlier version of Az.Accounts is imported in the current PowerShell session. Please open a new session before importing this module. This error could indicate that multiple incompatible versions of the Azure PowerShell cmdlets are installed on your system. Please see https://aka.ms/azps-version-error for troubleshooting inform

[2019-09-23 19:54] o-o00o-o opened #5713 "How do you deal with product versioning?"
I have used GitFlow and GitVersion and while there is a bit more merging going on there - the GitVersion capability was really nice.

GitVersion doesn't seem to work with Release Flow as the Release Branches never get merged back into Master (and that would need an additional merge) - which is a shame

So how do you manage your version increments?

---
#### Document Details

⚠ *Do not edit this se

[2019-09-23 20:27] chasewilson commented on #5399
@TomasHubelbauer Thanks for the input. Artifacts will be releasing a new Connect to Feed experience soon which will update all of this. The experience should be much better and I will make sure to follow up then. I just wanted to let you know I have my eyes on this and will be working with you on it :) Thank you again and talk to you soon

[2019-09-23 20:29] chasewilson commented on #5547
@tommyJimmy87 This is a great question! Thanks for the input, I'm going to bring in the Artifacts PM @elbatk for his expertise. Elijah, do you have any input here?

[2019-09-23 20:30] WilliamAntonRohm commented on #5694
@vadimcn -- thank you for your feedback. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@willsmythe -- please look into adding this information.

[2019-09-23 20:32] WilliamAntonRohm commented on #5704
@neryacohen -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-23 20:34] WilliamAntonRohm commented on #5709
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-23 20:34] #5709 closed

[2019-09-23 20:36] WilliamAntonRohm commented on #5713
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-23 20:36] #5713 closed

[2019-09-23 21:14] chasewilson commented on #5160
@leyshon sorry for the late response. The documentation is correct. I know the terminology is a little confusing. Honestly, it took me a bit to parse through it too. Unfortunately, it's not the working or the documentation. It's the naming of what is considered a parallel job. The note you mentioned about accurately states what the tiers mean:

If you pay 40$ a month, you still have one **parallel

[2019-09-23 21:14] #5160 closed

[2019-09-23 21:44] mniak commented on #4486
Bumping this, as we also would appreciate deployment groups support soon!

[2019-09-23 22:13] chasewilson commented on #4623
@KnicKnic This is a great catch! Thanks for the input! I'll be merging this in and you should see it live within 24 hours. Feel free to open new issues if you have any more feedback :)

[2019-09-23 22:15] #4623 closed

[2019-09-23 22:22] chasewilson commented on #4550
@RoopeshNair Just giving this a bump.

[2019-09-23 22:26] chasewilson commented on #4418
@StingyJack Thanks for the feedback. I believe @gburghardt.
There is going to be a revamp of the connect to feed experience and documentation soon. I'm closing this issue for now but feel free to open a new issue in the updated documentation if you are still having issues.

[2019-09-23 22:26] #4418 closed

[2019-09-23 22:27] chasewilson commented on #4532
@andyf1ynn sorry for the late response. Are you still having this issue?

[2019-09-23 22:36] vadimcn commented on #5694
Thanks,
I've figured it out, actually: I needed to provide the `restoreKeys` parameter.
The point about updating documentation still stands.

[2019-09-23 23:39] peterlanoie commented on #5635
I see what the confusion was. In Azure DevOps Server 2019, the `Code` hub is now `Repos`. When I couldn't find `Code` in the hubs list, I went to `Project Settings` > `Code` > `Repositories` and then the branches under a repo. That's where the `...` menu for the branch only shows `Lock Branch`. The `Project Settings` > `Code` > `Policies` section has a note and screenshot directing us to the area

[2019-09-23 23:47] elbatk commented on #5547
We have this [doc on npm with Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/npm?toc=%2Fazure%2Fdevops%2Fartifacts%2Ftoc.json&view=azure-devops&tabs=yaml). It actually could use updating to not use npm but use the [npm authenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm-authenticate?view=azure-devops) instead.

In short,

[2019-09-23 23:51] WilliamAntonRohm commented on #5710
@rob2244 -- thank you for your feedback.  Please send me a link to that article and I will look into this issue.

[2019-09-24 04:50] msebolt commented on #5312
Closing this issue now.  Please comment below if there are any concerns.

[2019-09-24 04:50] #5312 closed

[2019-09-24 05:23] msebolt commented on #5491
@baoduy  Thank you for the response.

It looks like the only alternative is to create a [custom service hook](https://docs.microsoft.com/en-us/azure/devops/service-hooks/?toc=%2Fazure%2Fdevops%2Fservice-hooks%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fservice-hooks%2Fbreadcrumb%2Ftoc.json&view=azure-devops) triggered by the `Code pushed` event which would include a call to a [REST API PR Status](https://do

[2019-09-24 05:26] msebolt commented on #5508
Closing this now, please comment below if there are further issues.

[2019-09-24 05:26] #5508 closed

[2019-09-24 05:29] #5546 closed

[2019-09-24 05:30] msebolt commented on #5562
Closing this now.  Please comment below if there are any issues.

[2019-09-24 05:30] #5562 closed

[2019-09-24 05:31] msebolt commented on #5569
@mikeblakeuk Thank you for the feedback.

The documentation has been updated.

[2019-09-24 05:31] #5569 closed

[2019-09-24 05:32] msebolt commented on #5577
Documentation updated.

[2019-09-24 05:32] #5577 closed

[2019-09-24 05:34] msebolt commented on #5584
Documentation updated.

[2019-09-24 05:34] #5586 closed

[2019-09-24 05:39] #5633 closed

[2019-09-24 06:00] msebolt commented on #5645
@SanderHolvoet  Thank you for clarifying, assigning the author now.

[2019-09-24 07:55] leyshon commented on #5160
@chasewilson There's never been any difficulty with my understanding of the documentation. As I've been saying since the start, if the documentation on this page is correct then the pricing calculator is incorrect. However, the pricing calculator appears to have now been amended to match the documentation so all is resolved.

[2019-09-24 08:06] baoduy commented on #5491
Hi @msebolt
Thanks for your suggestion. I will go for Suggest a Feature on Azure DevOps UserVoice.

[2019-09-24 08:20] RoopeshNair commented on #4550
Yes, getting to security settings for all pipelines is now few clicks away. We will look into this. However, no time lines at this point in time. We know this is important for you, we will continue to monitor this. At the moment we are prioritizing issues that impact broader set of customers

[2019-09-24 08:36] N-Usha commented on #5711
Sure. We agree that despite the performance optimization that Run from Package (RFP) offers, it has its own limitations. And we are soon making a change to the [Azure Web App task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app?view=azure-devops) where Zip deploy method is used by default (when deployment method is not specified) and RFP is used only when exp

[2019-09-24 08:43] Julio-Guerra opened #5714 "Exhaustive list of container requirements"
Please list the full requirements of a docker image. As the nodejs binary is mounted by the agent, we don't know what are its dependencies and you ask us to blindly install extra libraries.

So far, my alpine container still fails at the container initialization stage, but I could go further in this stage by blindly installing libc6-compat, gcompat, libstdc++, libgcc. Now it fails when doing:
`##[

[2019-09-24 08:55] danieltulp opened #5715 "This page needs updating as it does not describe the possible usage of the File Transform task"
The file transform task (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/file-transform) has the ability to transform entire arrays in JSON files. Which makes it no longer necessary to use `DBAccess.Users.0 = NewUser` but you can use `DBAccess.Users = ["NewUser1","NewUser2","EvenAddMoreUsersThanBeforeDemoUser"]`

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-09-24 09:10] N-Usha commented on #5715
Sure, Thanks for calling out. We'll have the documentation updated.

[2019-09-24 09:17] neryacohen commented on #5704
hi,
thanks for your response.
I'll leverage this mail to ask some questions:

Few questions

We have hierarchy of Epics -> features -> USs -> tasks that covered the
whole backlog of the project.

   1. How do we associate a specific features/ stories with a version?

What is the best practice of doing it?

We thought about add tag for the selected tasks, and manage it with it.

Is there a better o

[2019-09-24 09:57] Julio-Guerra commented on #5714
Still stuck so far, using the container of the following Alpine [Dockerfile](https://github.com/sqreen/azure-pipelines-container-golang/blob/master/alpine/1.12/Dockerfile)

[2019-09-24 10:51] OraDotNetDev opened #5716 "Typo in link to Migration Guide download"
There's a typo in the link for the Migration Guide - clicking link redirects to MS Home Page.

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bff3fd07-3d7b-1244-88e4-c2cfbb3fa204
* Version Independent ID: 63f4392f-2dc6-4620-a24f-c02070dd7115
* Content: [Troubleshooting the migration import from Azure DevOps Serv

[2019-09-24 10:58] jjindrich opened #5717 "WebApp deployment to Windows docker"
Hi, I'm missing deployment on WebApp Windows Container. Please when will be added ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593c3abc-7b38-6673-62b6-7787d0dda4dd
* Version Independent ID: cbb2b875-b220-596c-7b4d-c2cf6c644335
* Content: [Deploy a Docker container app - Azure Pipelines](https://docs.microsoft.com/e

[2019-09-24 11:16] shachar-kindite commented on #5660
Thanks, for the quick reply. "after stage trigger" is not good for me, I'll explain: I have a multi-stage release pipeline for my Test environment and I have another multi-stage release pipeline for my Production environment. What I want is to make sure the Production release can be initiated only if a Test release had been successful. The way I thought I could achieve that is by using the "New Re

[2019-09-24 11:19] jonathanrelf opened #5718 "Typo in 1st sentence"
"If Microsoft Project is your preferred tool for tacking projects" should read "If Microsoft Project is your preferred tool for tracking projects"
Tacking / Tracking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6edd47-46d7-ab0d-db47-d73bc45d6b43
* Version Independent ID: 6ac2ae49-0bd0-2c28-fc87-7f034dd96443
* Conte

[2019-09-24 11:40] rob2244 commented on #5710
@WilliamAntonRohm Here is a [link](https://docs.microsoft.com/en-us/dotnet/api/microsoft.teamfoundation.testmanagement.webapi.testmanagementhttpclient?view=azure-devops-dotnet) to the documentation. Thank you very much for the prompt response. If you could direct me to the correct nuget packages to use for the 5.1 preview apis I would appreciate it, as I have had to fall back on manually calling t

[2019-09-24 13:27] ggretz commented on #4486
a statement from Microsoft would be good... we are wainting for this too ;)

[2019-09-24 13:31] akkensheen opened #5719 "Deploy on all clients inside pool"
Hi
How can I run deploy job on all clients inside pool? I've tried run simple job versus two clients and jugging by logs it run only on one client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7ff690-b2e4-41c7-a342-e528b911c6e1
* Content: [Deployment jo

[2019-09-24 14:05] blueelvis commented on #4285
@steved0x @pgroene - Nope, that PR doesn't fix this issue. Please reopen this issue.

[2019-09-24 14:32] 24mu13 opened #5720 "Is possible to run as superuser (sudo)?"
Is possible to run the specified command as superuers (sudo)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a79d17fd-6e65-d8f0-ea05-f62d68456474
* Version Independent ID: 3f7338a7-aae7-b6b6-3291-5c985c6fa6f3
* Content: [Command Line task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/

[2019-09-24 14:33] vtbassmatt commented on #5720
On the hosted pools, both Mac and Linux, you have password-less sudo on the agent user account. (So yes.) On a private agent, all bets are off - it has to do with how the person setting up the agent has configured the machine. (So it depends.)

[2019-09-24 14:33] #5720 closed

[2019-09-24 16:36] WilliamAntonRohm commented on #5635
I've updated https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/79 to reflect only that change (Code is now Repos).

[2019-09-24 16:48] chasewilson commented on #5587
@adraut Thanks for the question! I believe there is a differentiation between TFS and Azure DevOps Server and it should work with the latest version of AzureDevOps Server. @elbatk can you confirm this?

[2019-09-24 17:00] msebolt commented on #5491
Sounds good, thank you for moving the issue.

[2019-09-24 17:00] #5491 closed

[2019-09-24 17:10] msebolt commented on #5719
@akkensheen Thank you for the question.

Please refer to the syntax used in [Jobs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml).

Perhaps you need to specify the `strategy` and `parallel` options?

[2019-09-24 17:15] RoopeshNair commented on #5719
@akkensheen  - are you referring to matrix execution or Deployment groups equivalent?

[2019-09-24 17:19] edgariscoding commented on #399
@alexhomer1 are you sure? The yaml snippet above says that credentials are optional.

[2019-09-24 17:21] chasewilson commented on #4493
@htxryan Thanks for the input! This whole page will be revamped next month and this will be addressed.

[2019-09-24 17:30] elbatk commented on #5587
Today, `vsts-npm-auth` doesn't work on-prem at all, the docs should read "TFS or Azure DevOps Server".

[2019-09-24 19:04] eric-labelle opened #5721 "Add a variable to access Organization Name"
It would be really useful to expose `organization` as it is needed for all Azure DevOps REST Api calls and is currently inaccessible (_as far as I know_). The only variable exposed is the CollectionId.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID:

[2019-09-24 19:50] MS-Santi opened #5722 "Deployment Groups"
Need to include the definition of deployment groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f8c8539-89a7-a426-868b-96e961c39e29
* Version Independent ID: de260a68-aab7-7c6b-6727-90c92c65b225
* Content: [Azure Pipelines New User Guide - Key concepts - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devop

[2019-09-24 20:23] petr-stupka commented on #5647
This works, thanks for advice!

    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - task: KubernetesManifest@0

[2019-09-24 20:39] fgervais commented on #4524
@kwaazaar yes I can't figure out why they would deprecate those images, makes no sens to me.

Copy and pasting scripts is error prone, inheriting from an image is not.

[2019-09-24 20:51] fgsantos89 commented on #4486
Please, implement this feature!

[2019-09-24 21:55] sbolotovms opened #5723 ""Test on the Android emulator" section is outdated"
Hi,

this section here: https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/android?view=azure-devops#test-on-the-android-emulator
is outdated and works for previous hosted VM generation - macOS 10.13. Since then, Azure provides VM macOS 10.14 definition, for which this no longer applies. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-24 23:00] thatnerdyguy opened #5725 "History or Git gc limits?"
Are there limits in place for how long closed pull requests are held? Indefinitely? Once the request is merged (let's say via Squash), you can still see the original commits in the pull request itself, however will those ever go away as part of a server side git gc? Or can we act as though those can be treated as fixed history, to be looked at months, or perhaps years, later?

---
#### Document De

[2019-09-24 23:55] ibrahim0814 commented on #5721
+1

[2019-09-25 01:11] jimmcslim opened #5726 "Default value is not documented!"
It appears the default value for this is $(Date:yyyyMMdd).$(Rev:r)

It would be also handy if the 'Variables, predefined' section linked from the description of 'Build.BuildNumber' to this page (and could we also be consistent about whether we are talking about 'Run Number' or 'Build Number' please? - I'd suggest calling it Build Number...)

---
#### Document Details

⚠ *Do not edit this section.

[2019-09-25 01:14] jimmcslim opened #5727 "Build.BuildNumber is unclear"
It appears that the discussion behind where Build.BuildNumber is set is inaccurate. I see nothing in ADO Pipeline options to set this. However it appears that it can be set with a top-level 'name' property in the pipeline YAML. There is discussion about this in the 'Run number' page. However it also confusing to have 'Run number' and 'Build number' which are both the same thing. Let's just refer t

[2019-09-25 04:54] fleed opened #5728 "Templates for stages"
Is it possible to use templates for stages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-1d85c13c0065
* Content: [Job and step templates - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?v

[2019-09-25 05:32] plbenpeterson commented on #5445
I am experiencing the same behavior, and for me the proposed solution to replace the last line of start.sh with
[code]
is not working

[2019-09-25 06:20] ShreyasRmsft commented on #5625
Can you please open an issue in https://github.com/microsoft/azure-pipelines-tasks/issues.

Tag it with "Area: Test" or post the link here. In the issue please provide entire zip containing all the logs with system.debug = true and also the coverage files (both vstest ones and the previous tooling you were using.)

[2019-09-25 07:19] adriantorrie commented on #5630
Suggestion:
Create "Approvals" in the UI like you do with "Service Connections". Then the yaml can just reference the "Approval" by name.

In the UI an "Approval" should have the same options that were available in classic Release Pipelines, email address, timeout before it fails automatically, etc. Much like the way we use service connections in our org, this abstracts away the underlying resourc

[2019-09-25 08:23] hr-sn commented on #5728
we are using templates for stages like this
- stage: CI_Build
  displayName: 'CI Build'
  jobs:
  - template: 'CI Build.yml'

[2019-09-25 08:39] tauke1 opened #5729 "Can i use dynamic variables (generated in powershell by ##vso.setVariable command) in {{ each ... }} statement?"
Can i use dynamic variables (generated in powershell by ##vso.setVariable command) in {{ each ... }} statement?
I want to generate some objects in powershell by ##vso.SetVariable command and iterate it by {{ each ....}} statement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Vers

[2019-09-25 09:33] EugeneKonneh opened #5730 "Cannot playback video recordings created by the Test & Feedback extension"
[I am unable to playback video recordings from Test & Feedback extension.

I have both Chrome and  VLC Video player installed.
However, when I click on the video recording from Test &Feedback, it is trying to open MTMS files, advising me to look for a new app.

![image](https://user-images.githubusercontent.com/48555490/65588527-98dd6e80-df7f-11e9-9cc2-ce40f0098b0a.png)

]

---
#### Document Detai

[2019-09-25 12:14] stevenvolckaert commented on #4486
That's interesting, if you could share some more details of your setup that would be awesome!

For example, let's assume the version of a library (set by the `Version` property in the `*.csproj` file) is set to `1.2.0`.

How do you make sure that the `Alpha` stage is adding a unique, sequential number to the end of the `1.2.0-alpha` informational version string? If possible, I would prefer the rel

[2019-09-25 12:27] TroySchmidt commented on #4486
We use Git and GitVersion task for versioning.

On Wed, Sep 25, 2019, 8:14 AM Steven Volckaert <notifications@github.com>
wrote:

[2019-09-25 12:29] stevenvolckaert commented on #4486
Thanks for the info @troyschmidt, I'll check it out.

[2019-09-25 12:29] dotnetcanuck commented on #4486
We did something similar...we set the first three "digits" (i.e. 1.0.0) in a variable. Then depending on the branch name, we add a prerelease tag (alpha for feature, beta for develop, RC for release or hotfix, or nothing for master).

Finally, the build ID is appended to the very end. The result would be something like 1.0.0-beta.6384, or 1.0.0.6424.

[2019-09-25 12:42] ed-sparkes opened #5731 "API based callback approval"
We have a separate system for release / change management, as part of our build process we create a ticket in that system and then once it is approved manually in that system we would like a callback as a check rather than manual check so the other system can tell azure pipelines that the promotion to the environment is approved. Is this on the roadmap at all?

---
#### Document Details

⚠ *Do not

[2019-09-25 13:05] vtbassmatt commented on #5729
You cannot. Template expressions (`${{ }}`) are fully expanded [before the run even really starts](https://docs.microsoft.com/azure/devops/pipelines/process/runs?view=azure-devops#process-the-pipeline).

[2019-09-25 13:05] #5729 closed

[2019-09-25 13:06] vtbassmatt commented on #5728
Good catch, will fix.

[2019-09-25 14:52] #5635 closed

[2019-09-25 14:54] mattsteinRRD commented on #4729
@shashban I too need a way to access and/or set variables from the gate in an agent based task.  Your previous comment said you would look to have an extension to do this.  Is that something that could be done quickly?  If not, how can I use powershell or javascript based task to run in "agentless" or gate phase?  Or are you saying that we can only use task types that use HttpRequest(Chain) execut

[2019-09-25 15:09] msebolt commented on #5721
@eric-labelle Thank you for the feedback.

This is more of a feature request and would get better traction in front of the product team.

Please move this issue to **Suggest a Feature** in the [Azure DevOps User Voice](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-09-25 15:10] cluggas commented on #4497
How about Gates? Do you know when they will be supported in Yaml Pipelines?

[2019-09-25 15:27] #5728 closed

[2019-09-25 15:37] eric-labelle commented on #5721
Allright. Sorry about that, here it is: https://developercommunity.visualstudio.com/idea/747962/add-a-variable-to-access-organization-name.html

[2019-09-25 15:37] #5721 closed

[2019-09-25 15:38] kinseymd opened #5733 "Microsoft hosted agents - what are the IP address ranges"
Your section above provides the link to download all the IP ranges for Azure hosted services. No where in this json file is the word DevOps or agents.
Specific section in this article: https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops#using-microsoft-hosted-agents
Linked resource: https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2019-09-25 15:55] tauke1 opened #5734 "How to get previous job status in condition statement on job"
I trying to add condition on job, and my previous job was skipped and how to write right expression to identify that previous job as canceled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc762db18
* Content: [Expressions - Azur

[2019-09-25 15:57] shashban commented on #4729
This should be available in 2-3 weeks from now, if not sooner.

[2019-09-25 15:59] shashban commented on #4497
Gates will be supported in Yaml Pipelines in two phases. In Phase 1, we'll add pre-deployment gates as a sibling for approvals. You'll see these incrementally get added over the next 10-12 weeks.
In phase 2, we'll extend these to be included in the deployment workflow as a first class concept. This will take us longer.

[2019-09-25 16:04] chasewilson commented on #5587
Great! I'll be updating the doc and you should see the update live within 24 hours! Thanks again @adraut

[2019-09-25 16:18] msebolt commented on #5730
@EugeneKonneh Thank you for the question, we're sorry you're experiencing issues.

It appears this issue has been filed before [here](https://developercommunity.visualstudio.com/content/problem/305783/unable-to-play-video-recording-from-test-feedback.html), please see if [these instructions](https://www.webmfiles.org/how-to-play-webm-files/) can resolve the issue.

[2019-09-25 16:23] sahammer opened #5735 "Docker instructions no longer valid"
It appears that the project https://github.com/MicrosoftDocs/pipelines-dotnet-core no longer contains Docker files required for build.  There is a new repository specific to Docker located at https://github.com/MicrosoftDocs/pipelines-dotnet-core-docker

However, neither of these repos contain the required test files and as a result the instructions contained within this document are no longer val

[2019-09-25 16:26] #5587 closed

[2019-09-25 16:49] mthouser77 commented on #5731
Just to comment.  Where this becomes important is in the new Multi-stage pipelines using YAML config as code. i assume the OP is probably referring to this capability as part of the new YAML pipelines, and not the legacy Build / Release one.  Is this on the roadmap?

[2019-09-25 17:59] chasewilson commented on #5160
Ahh apologies. I took my first look when I closed the issue and I must have missed the original pricing calculator. I'm glad the docs are correct and hope to see more feedback from you in the future!

[2019-09-25 18:32] chasewilson commented on #4385
Alright, I've updated the info with a note. I'll be closing this issue but you should see it live within 24 hours. Feel free to open a new issue with any more feedback you have and it will keep it at the top of my issues :) Thanks again for all of the feedback @MisinformedDNA

[2019-09-25 18:32] #4385 closed

[2019-09-25 18:33] #3776 closed

[2019-09-25 19:06] steved0x commented on #4536
Some of the other versions of the topic, like this [TFS 2017 version](https://docs.microsoft.com/en-us/azure/devops/pipelines/create-first-pipeline?view=tfs-2017&tabs=tfs-2018-2) are much longer, and I think the build system (that automatically adds the reading estimates) uses the contents of the whole file. We don't have a way to change that, sorry for any confusion.

[2019-09-25 19:06] #4536 closed

[2019-09-25 19:06] chasewilson commented on #3392
I'll be closing this issue for now as it looks like it was resolved in comments. If you have any more questions or feedback, feel free to reach out!

[2019-09-25 19:06] #3392 closed

[2019-09-25 19:29] soccerjoshj07 opened #5736 "Mention the Git Credential Manager Core (Beta) for dev.azure.com repositories?"
Following the github page linked in this article to use brew to install git-credential-manager for MacOS did not work for dev.azure.com repos.

This worked- https://github.com/microsoft/Git-Credential-Manager-Core#download-and-install

Not sure if it is worth mentioning here for others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-09-25 20:07] ktchup commented on #4524
Hi everybody, I created a Docker image on the hub which contains .NET Core 3 SDK, Docker within Docker, SQL Server commands clients and more --> wizzapi/azpdockeragent

[2019-09-25 20:44] #5288 closed

[2019-09-25 20:44] #5355 closed

[2019-09-25 20:45] AliciaHerrejon commented on #5687
Hi, is there an estimated time frame? Our team is really interested in this feature.

[2019-09-25 21:11] WilliamAntonRohm commented on #5698
@rguthriemsft -- thank you for your feedback.

@KathrynEE -- please review the added wording in the above-mentioned PR.

[2019-09-25 21:26] tauke1 opened #5737 "No one examples of join expression"
Hello! Can you give some examples with join expression?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc762db18
* Content: [Expressions - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expression

[2019-09-25 21:55] WilliamAntonRohm commented on #5704
@neryacohen -- Nerya, it looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-09-25 21:55] #5704 closed

[2019-09-25 21:57] WilliamAntonRohm commented on #5731
@ed-sparkes, @mthouser77 -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsv

[2019-09-25 21:57] #5731 closed

[2019-09-25 21:59] WilliamAntonRohm commented on #5734
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-25 21:59] #5734 closed

[2019-09-25 22:04] WilliamAntonRohm commented on #4124
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-25 22:04] #4124 closed

[2019-09-25 22:06] WilliamAntonRohm commented on #4098
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-25 22:06] #4098 closed

[2019-09-25 22:34] adriantorrie opened #5738 "Add example for Pipenv.lock"
Add example for Pipenv.lock

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/index?view=azure-devops)
* Conten

[2019-09-25 22:51] swappy208 opened #5739 "What about variables with same name across different variable groups and variables created using the web editor referenced in the same pipeline?"
if i created a variable "foo" in the pipeline variables with value "bar",
created a variable group with variable "foo" value "bar2" and referenced the variable group in the pipeline,
which one would have a precedence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independ

[2019-09-25 23:46] bukandu1 commented on #3268
Hello. Is there an update on this issue? I ran into the same issue where it refers me to this page on how to build artifacts. There are no instructions currently on how to copy and build artifacts in any of the pages related to Azure Pipelines.

[2019-09-25 23:50] joeschu33 opened #5740 "Bulk export URLs to all the wiki pages"
We just went through an effort to lift and shift our content from mediawiki to ADO Wiki. Our Alerts in ICM have links to the wiki pages in the old wiki that we'd like to update to the new wiki pages in the new wiki. The problem is the full url's to the new wiki pages include a "page id" that I don't know how to bulk export and doing it one at a time is a giant pain. Is there an API or better yet,

[2019-09-26 00:10] ljfraney commented on #4486
@stevenvolckaert  I require the developer to modify the `<VersionPrefix>1.2.3</VersionPrefix>` in the .csproj file based on whether they are making breaking changes (major), adding new features (minor), or fixing bugs (patch). I document this in my readme files. In my mind, only the developer knows the answer to this. My stages look similar to this...
[code]
The nuget_alpha.ps1 file just looks lik

[2019-09-26 01:38] shashban commented on #5687
This is being tracked as one of the critical gaps with Multi-stage YAML pipelines. As per current state of the backlog, I expect it to be in place sometime in November this year.

[2019-09-26 01:38] BrightRan opened #5741 "Need some summary about the troubleshooting of the error MTOUCH : error MT2002: Failed to resolve"
Need some summary about the troubleshooting of the error
MTOUCH : error MT2002: Failed to resolve "......"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54533c61-9265-2908-c92d-f49285b24333
* Version Independent ID: 004ded47-21ee-94a7-51fe-2b835e124b55
* Content: [Build Xamarin apps - Azure Pipelines](https://docs.mic

[2019-09-26 02:16] lmeyerov opened #5742 "Run number environment variable not documented"
The docs provide information on defining Run Number format, but "Variables, predefined" does not document reading the Run Number environment variable within a script. It is unclear what environment variable to read to reference the Run Number, which is an important part of signing generated artifacts with correlation IDs.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-26 06:59] liamfoneill opened #5746 "YAML Release Permissions?"
Now that YAML includes release stages also, how can the pipeline permissions be secured? An example scenario is a financial institution who wants developers to be able to create builds but wants oversight of the release and needs to ensure that the release pipeline contains sufficient quality before a release. If the pipeline is in the Repo, they do not want to have to approve every merge to maste

[2019-09-26 07:18] li2 opened #5747 "Cannot find any file based on /Users/vsts/agent/2.155.1/work/1/s/{APP_FILE}"
I followed the doc to set `appFile: '{APP_FILE}'`

[code]
then I got the following error:
![image](https://user-images.githubusercontent.com/6058601/65665642-5bf8a100-e07f-11e9-9f43-e522fadfa6ac.png)

Finally, I fixed it by `appFile: '$(APP_FILE)'`, please update docs thanks

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-26 09:26] pmiossec commented on #1529
@chapterjason If the different repositories in the sub folders are not linked, you'd better create multiple git repositories.

If there is a **real** link between the sub repositories, you should use `git submodules`.

But because it add a big burden and are not really easy to use, you must think about it twice about using it.
And perhaps stick to the `monorepo` strategy.

[2019-09-26 09:30] pmiossec commented on #1046
I think by using 'vss', he was thinking about TFVC.
Git is perfectly able to handle multiple projects or solution in a repository.
If the monorepo strategy is not enough, use `git submodules`.

[2019-09-26 10:07] adriantorrie opened #5749 "Checkout - Allow tagging on completion"
Add an attribute to `checkout` that allows the git repo to be tagged on success.

Raised in https://github.com/microsoft/azure-pipelines-yaml/issues/139 and https://github.com/microsoft/azure-pipelines-yaml/issues/325

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independ

[2019-09-26 11:32] adriantorrie commented on #5562
Possibly, but why would you close this issue without confirming that first?? Or at least providing a resolution? Project managers aren't likely to go crafting up REST calls either (they are the ones who typically administer the project in Azure Devops Boards after all).

[Iterations - List - Parameters](https://docs.microsoft.com/en-us/rest/api/azure/devops/work/iterations/list?view=azure-devops-r

[2019-09-26 13:11] henry-padilla opened #5750 "Does this install and remove the certificate?"
"To connect to the cluster, the service fabric task uses the machine cert store to store the information about the certificate. Using the same certificate, if two releases run together on one machine they will start properly. However, if one of the tasks is complete, the certificate from the machine cert store would be cleaned up, which would affect the second release"

This implies that the task

[2019-09-26 13:12] chcomley commented on #4087
Following up on this - @ClydeDz, are you interested in @edglas1's findings? Please do let us know. @edglas1, how do you believe we could clarify this within the article? Thanks.

[2019-09-26 13:17] chcomley commented on #4142
Hi @shudv, I wanted to follow up and let you know that we are currently updating this article and will notify you once it has been published. Thank you!

[2019-09-26 13:34] chcomley commented on #4535
Hi @SephirotJustin, I've followed up on this and will let you know once we've published an update. Thanks very much!

[2019-09-26 13:52] adibradfield opened #5751 "Argument list descriptions out of sync"
For example, the argument `publishPackageMetadata` has a description of:

This clearly doesn't seem correct. It looks like the `allowPackageConflicts` argument is missing but the description isn't, causing descriptions from that point onwards to be referring to the row below it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-26 14:08] paolosalvatori opened #5752 "Loop through custom variables of a release pipeline"
How do I loop through the custom variables for a given release pipeline or stage? From PowerShell, I can run Get-Children Env: but this command returns all the environment variables, including the custom variables defined at the Release and Stage level, whereas I just want to loop through the custom variables defined at the Release or Stage level.

---
#### Document Details

⚠ *Do not edit this se

[2019-09-26 14:29] nickfoster opened #5753 "Sample index.ts doesn't compile"
Index.ts from Step 1 does not compile.  Opening it in VS Code shows a problem at line 5:

const inputString: string = tl.getInput('samplestring', true);

Type 'string | undefined' is not assignable to type 'string'.
  Type 'undefined' is not assignable to type 'string'.ts(2322)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-26 14:58] vtbassmatt commented on #5749
This is a product feature request, not a documentation bug.

[2019-09-26 14:58] #5749 closed

[2019-09-26 15:03] Wenish opened #5754 "Publish Universal Package to Public Artifact Feed"
So today there is no option for publishing Universal Package to a Artifact public feed.
Is this just a bug in my Organisation?
Is this a planned feature or not at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77bcd39f-91ab-bb93-40fc-dd4fc5f2374f
* Version Independent ID: c228aece-669a-57d6-b3ed-d427586f8a61
* Con

[2019-09-26 15:21] LanceMcCarthy commented on #4643
I had to abandon Group linked variables as well. It never recognizes them. This seems to also be a problem for SecureFiles, even if a SecureFile is allowed for all pipelines.

[2019-09-26 15:24] cpboyd opened #5755 "Add note that git-svn authors-transform.txt should be saved as UTF-8"
I generated this with the PowerShell command:
[code]
 and edited/saved in Visual Studio Code.  Without my knowledge, the file was formatted as UTF-16LE.

This caused the first line of the file to never be read.  Changing the formatting to "UTF-8" (note: *without* BOM) fixed this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-26 15:31] cpboyd commented on #3940
This also affects the references for tags as well.

[2019-09-26 15:46] cluggas commented on #4497
@shashban is there anywhere I can track the progress of Gates? This issue is closed.

[2019-09-26 15:52] LanceMcCarthy commented on #5119
Agreed, this is a frustrating experience. There needs to be a good article on the difference between the variable names for SecureFiles as well as linked Group variables. The syntax of using the tag xxx.secureFile versus xxx in different places is frustrating.

I ended up removing the linked Group because none of them would resolve (yes the variable group and secure files have allow multiple pipel

[2019-09-26 16:04] shashban commented on #4497
We will keep announcements on that through release notes and doc upsates. Keep an eye on those.

[2019-09-26 16:22] dazinator opened #5756 "Problem after logging out I no longer have access"
After following this guide, after disconnecting the old AD, and then signing out, when I sign in again it says I do not have access to the Azure DevOps organisation.

My account is a member in the old AD as well as the new AD. I followed all of the prereequisites above. So how come after logging out, and then logging back in - I no longer have access?

---
#### Document Details

⚠ *Do not edit thi

[2019-09-26 16:25] msebolt commented on #5739
@swappy208 Thank you for the question.

The order of precedence for variables goes,

1.  Variables used in the yaml file.
2.  Variables declared in the pipeline's variables.
3.  Variables declared in the shared variable groups.

So to answer your question, the pipeline variable `foo` would take precedence over the variable group `foo`.

[2019-09-26 16:26] WilliamAntonRohm commented on #5708
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-09-26 16:26] #5708 closed

[2019-09-26 16:28] dazinator commented on #5756
My scenario - we have a new azure organisation and subscription. I want to switch Azure DevOps AD to the Azure AD within our new Azure Organisation.

I am the project owner in DevOps, so I invited myself as a guest into the new Azure AD - then I used the powershell script here to convert my user type from "guest" to "member": https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/faq

[2019-09-26 16:32] bkaidbb opened #5757 "Bitbucket repository resource type not documented"
According to [Repository resource type](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#type):

It seems Bitbucket is also supported.  I was successfully able to do the following with my pipeline:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87

[2019-09-26 16:39] msebolt commented on #5740
@joeschu33 Thank you for the question.

The Azure DevOps REST API includes the [Wiki List](https://docs.microsoft.com/rest/api/azure/devops/wiki/wikis/list?view=azure-devops-rest-5.1) call that includes the `url` property.

Assigning this to the author for possible Kusto options.

[2019-09-26 16:50] msebolt commented on #5741
@BrightRan  Thank you for the feedback.

This error summary seems better suited for the [Xamarin docs repo](https://github.com/MicrosoftDocs/xamarin-docs/issues).

Please move this issue there to see if it can be added the docs.

[2019-09-26 17:03] SirAlvarex opened #5758 "Generated server id doesn't match what is advised in the azure artifacts packaging page"
Love this tool.  It will help us tremendously, as the auto-authenticate of the maven task requires the root POM to have all upstream registries.  Plus, this will be great for our Docker authentication.

However, the generated ID in the settings.xml is just the name of the artifact stream you are attaching to.  The snippet in the packaging UI has a schema of dev-azure-com-${ORG}-${PACKAGESTREAM}.

[2019-09-26 17:17] #5739 closed

[2019-09-26 19:18] JustinSchneiderPBI opened #5759 "Additional File copy parameters are not applied"
We had a problem with overwrite recently, where 2 different build definitions incorrectly pointed to the same share. This caused a significant amount of duplicated work for a number of people, so the followups are rather important. In addition to correcting the destinations, we're preventing future misconfigurations by blocking overwrite of files. I added additional file copy parameters to exclude

[2019-09-26 19:36] chcomley commented on #5733
Hi @kinseymd, Thanks for reaching out. I'm following up on this and will be in touch.

[2019-09-26 19:43] henry-padilla commented on #5750
Answered my own question - per https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/ServiceFabricDeployV1 ... yes, it installs and removes the service endpoint certificate.

This can be closed.

[2019-09-26 19:51] marc-gmail-towersap opened #5760 "download an artifact from a fileshare to the pipeline"
according to the yaml comment directly above, this
Download artifacts from file share
By fileshare, I am assuming this is a UNC path (says \\share\drop).  But when I try to configure it to use \\mycomputername.domainname\uncshare, I get Error: UNKNOWN, scandir '\\mycomputername.domainname\uncshare'

First, does this have the agent download file(s) from that UNC share so I can use them?  I'm trying

[2019-09-26 19:52] marc-gmail-towersap commented on #5760
those are double backslashes matching a UNC pattern (fyi), it seemed to have slashed my double backslash...

[2019-09-26 20:06] vtbassmatt commented on #5757
This is a bit of a "leak" of future work. It may work but isn't guaranteed (thus I won't be documenting it at this time).

CC @vijayma

[2019-09-26 20:06] #5757 closed

[2019-09-26 20:09] timheuer opened #5761 "Naming doesn't match pipeline UI"
When using the Azure Pipleines UI the task is not called '.NET Core Tool Installer' but rather 'Use .NET Core' and either the docs here should change or the task should change to match each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9660c58-3366-f1be-8380-d6cf1d3c0150
* Version Independent ID: 226a4fd8-bce8

[2019-09-26 20:22] timhoeppner opened #5762 "Missing syntax for deleting multiple files"
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/delete-files?view=azure-devops

I had to determine this through trial and error, would be nice if there was an example in the docs. All it says is that the file patterns can be supplied one-per-line. Maybe this is obvious for Yaml guru's but it wasn't for me.

What worked for me:

[code]

[2019-09-26 20:27] msebolt commented on #5746
@liamfoneill Thank you for the question.

For now, you need to use YAML from the [Invoke REST API task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/http-rest-api?view=azure-devops) and call the [Permissions endpoint](https://docs.microsoft.com/rest/api/azure/devops/security/permissions?view=azure-devops-rest-5.1).

Is this something along the lines with what you had in mind?

A

[2019-09-26 20:32] andreasschild commented on #4087
The command `tfx extension create --manifest-globs vss-extension.json --rev-version` is updating the patch version of the AzDo extension, but not the patch version of the custom task (task.json). I think, that the new version of the custom task is not fetch by the AzDO organization, because it doesn't find a new version (by design).
I have a simple script, which sets the patch version to the build

[2019-09-26 20:40] msebolt commented on #5750
@henry-padilla Thank you for the feedback.

We welcome all contributions to the forum.

[2019-09-26 20:40] #5750 closed

[2019-09-26 20:59] msebolt commented on #5753
@nickfoster  Thank you for the feedback, we're sorry you're experiencing issues.

As per [this post](https://stackoverflow.com/questions/54496398/typescript-type-string-undefined-is-not-assignable-to-type-string), please try:

```const inputString: string = tl.getInput('samplestring', true)!;```

[2019-09-26 21:30] trylek opened #5763 "Could this page include a link or section on variable templates?"
It seems like treatment of variable templates is missing both on this page and on the Templates page. It is actually pretty tricky to find any documentation of the feature at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4

[2019-09-26 21:39] msebolt commented on #5756
@dazinator  Thank you for the feedback, we're sorry to hear you're experiencing issues.

This issue currently appears to be a [common problem in VSTS](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+idea&type=question+OR+problem+OR+idea&c=&redirect=search%2Fsearch&sort=relevance&q=lost+access+to+organization) with a variety of resolutions, though it is likely

[2019-09-26 21:47] msebolt commented on #5759
@JustinSchneiderPBI  Thank you for the feedback, we're sorry you're experiencing issues.

This problem is a good candidate for the product team to respond to.

Please move the issue to [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) and comment below if there are any further issues.

[2019-09-26 21:50] dazinator commented on #5756
@msebolt
It appears that after some period of time I was able to access it again. I'll close this for now but this was only done on a test organisation to test the process. I'll reopen the issue if it occurs again and does not resolve itself.

[2019-09-26 21:50] #5756 closed

[2019-09-27 06:01] adramasu commented on #5740
Hi,

Like @msebolt says, there are REST APIs to get this done. Kusto doesn't not have all the data related to pages, pageids and URLs. So, there would be only partial information in Kusto.

[2019-09-27 11:28] PaulVrugt commented on #5321
any info about this? We would really like to try the caching feature, but we need some clarification about solution level caching. Adding separete caching tasks for 50 project lock files doesn't really seem viable

[2019-09-27 13:54] stevenvolckaert commented on #4486
Thanks a million @ljfraney for sharing this!!

[2019-09-27 14:04] note-do commented on #5351
Disagree. You can reference predefined variables, but only in the case when they have been initialized on the build. In your case System.PullRequest.PullRequestNumber will be available only with GitHub PR. In Azure DevOps PR you have only:
6 queue time variables used
system.pullRequest.pullRequestId : 90
system.pullRequest.sourceBranch : refs/heads/feature/azure-pipelines
system.pullRequest.target

[2019-09-27 14:24] StingyJack opened #5764 "What does Wiki security have to with version control and how do I grant contributors the ability to add new pages?"
Contributors should have access to this, but there isnt anything in the permissions list that says anything like "can add/edit pages". Its all strictly version control things like "can rename repository" and things like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c86f5178-e331-f45e-b60a-f0f3955f7a08
* Version

[2019-09-27 14:27] sujayvsarma opened #5765 "How do I set up a condition to exclude certain types of commits from triggering a build?"
My scenario is specific to GitHub-hosted projects.

I have set up an Azure DevOps Pipeline that builds and deploys a GitHub-hosted project to an Azure Web App. But the build fires for anything that is checked in to the branch. For example, if I update the `readme.md` file! I don't want that to happen.

How do I set up exclusion conditions in Azure DevOps?

NOTE: I do not know any YAML. So if you a

[2019-09-27 14:40] Skintkingle opened #5766 "Job Workspace is at the wrong level"
the Job schema implies that "workspace" is a member of Job. However the following issue https://developercommunity.visualstudio.com/content/problem/614016/there-is-no-way-how-to-clean-workspace-in-deployme.html (and subsequent resolution) shows that workspace should infact be a member of pool, not of job. The documentation on this page should be updated to reflect this as the indentation for works

[2019-09-27 14:49] esamudio24 commented on #2691
I had tested the variable pattern ${{ variables.build.Myvariable }} it didn't work.

[2019-09-27 15:12] fgervais commented on #5430
@Astasian on our side we use your option 1 but in the Dockerfile we make the agent version a build arg and we let the pipeline find the latest version and set it when building the image. Those images then get taggged with the agent version. We also have the pipeline update the "latest" tag.

I actually think this is what Microsoft should be doing, then they would push those images to their dockerh

[2019-09-27 15:36] JustinSchneiderPBI commented on #5759
Thanks. I followed the link in the build task, but it pointed me here instead of to file the bug. New issue in pipelines-tasks: https://github.com/microsoft/azure-pipelines-tasks/issues/11451.
Thanks!

[2019-09-27 15:40] chcomley commented on #5740
Hi @joeschu33, Let us know if you have any further questions, however I'll be closing this issue. Thanks for reaching out!

[2019-09-27 15:40] #5740 closed

[2019-09-27 15:45] vtbassmatt commented on #5766
Workspace is definitely a concern of the job, not of the pool. That feedback ticket is wrong, and has essentially made "workspace" a no-op because it's part of the agentspec for that pool. I will follow up.

[2019-09-27 15:45] #5766 closed

[2019-09-27 16:02] chcomley commented on #5733
Hi @kinseymd, Our team is working on this and we'll update the article accordingly. In the meantime, please follow [these instructions](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges).

There aren't specific ranges for hosted agents since the're dynamic and can change. You need to whitelist the IP address range in the entire geography. We kn

[2019-09-27 16:02] #5733 closed

[2019-09-27 16:10] chcomley commented on #4006
Hi @davidcorrigan714, Please accept my "delayed" reply, we appreciate you reaching out. I hope the following information is helpful.

Features are used to provide a user a way to turn on or off functionality in your extension. Here is an example: https://github.com/microsoft/azure-devops-extension-sample/tree/a3a789521efb84f1b857a0a299ed507e5f7c40e6/src/Samples/Feature

When you define a feature,

[2019-09-27 16:10] #4006 closed

[2019-09-27 16:37] ylemkimon opened #5768 "Add to KaTeX users"
Hi, I'm a maintainer of @KaTeX.

I'd like to ask if Microsoft would mind adding Azure DevOps logo to [KaTeX user list](https://katex.org/users.html). Do you have a branding guideline on its usage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822

[2019-09-27 16:51] ljfraney commented on #4486
@stevenvolckaert No problem! I ran in to an issue this morning where I realized I need to be clearing out my bin folder. I'm publishing `$releaseFolder\*.nupkg`, and the alpha .nupkg was still hanging out in the folder with the beta. It was trying to re-publish the alpha and failing before it got to the beta stage. Should be a simple fix, though.

[2019-09-27 19:00] johnthcall opened #5769 "When I reference a task in a pull request description it doesn't have a mention in the task itself."
Sometimes we will create a task related to manual cleanup that needs to be done when a PR is deployed. If I mention it in the discussion it gets a mention on the task but when I reference it in the description it doesn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22780209-b809-62af-1d6e-ed4c91db867a
* Version Inde

[2019-09-27 19:10] cpdohert opened #5770 "None of the logging options are documented"
logProjectevents, createLogFile and logFileVerbosity are supported but undocumented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f86c97-f534-50ad-bfb1-a2cf78c7af94
* Version Independent ID: acea40e3-512b-4d9a-9389-71b8b24327be
* Content: [Visual Studio Build build and release task - Azure Pipelines](https://docs.m

[2019-09-27 21:16] ccoghill opened #5772 "Multi-Select Disabled"
In step 3, after selecting more than one test case, the Create Suites button becomes disabled now that the new view has rolled out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e2cb79-709d-972b-6747-6d26c965fb2a
* Version Independent ID: d512ea69-a97a-e5ff-a804-6691c5dfe1e6
* Content: [Create test plans and suites

[2019-09-27 22:06] AskYous opened #5773 "What do we put for '<feedName>' ?"
Is it the feed Url? The feed's Name? Where do we get the feed's name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ed58a1-5819-f3a4-c674-dafcdbd56fbc
* Version Independent ID: d68aca4d-3fd3-1864-09f5-6060295e0399
* Content: [Publishing to NuGet feeds - Azure Pipelines and TFS](https://docs.microsoft.com/en-us/azure

[2019-09-27 22:16] WilliamAntonRohm commented on #5764
@StingyJack -- Andrew, thank you for your feedback.

@chcomley -- please look into this issue.

[2019-09-27 22:18] WilliamAntonRohm commented on #5765
@sujayvsarma -- Sujay, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirt

[2019-09-27 22:18] #5765 closed

[2019-09-27 22:46] WilliamAntonRohm commented on #5769
@johnthcall -- John, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from yo

[2019-09-27 22:46] #5769 closed

[2019-09-27 22:53] WilliamAntonRohm commented on #5773
@AskYous -- Yousef, thank you for your question.  You may find an answer here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@thomps23 -- Ryan, please look into clarifying this article.

[2019-09-27 23:16] WilliamAntonRohm commented on #5698
Answered in https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/129 -- the section and links are removed.

[2019-09-27 23:16] #5698 closed

[2019-09-28 04:41] sujayvsarma opened #5774 "How do I set up a condition to exclude certain types of commits from triggering a build?"
## This is a bug in the documentation because it is not documented!

My scenario is specific to GitHub-hosted projects.

I have set up an Azure DevOps Pipeline that builds and deploys a GitHub-hosted project to an Azure Web App. But the build fires for anything that is checked in to the branch. For example, if I update the readme.md file! I don't want that to happen.

How do I set up exclusion con

[2019-09-28 07:33] olandese opened #5775 "View expanded template"
For easier debugging, Is possible to see the expanded template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-1d85c13c0065
* Content: [Templates - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/temp

[2019-09-28 11:42] shashankbarsin commented on #5293
@ericdrobinson we've update the documentation for container ecosystem recently. References to [Docker registry service connection](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops#sep-docreg) have been included under the guidance on [pushing the images to the container registries](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/contai

[2019-09-28 11:42] #5293 closed

[2019-09-28 11:45] shashankbarsin commented on #4113
I've update the entire set of docs associated with container ecosystem. The new documentation uses [Docker registry service connections](https://docs.microsoft.com/azure/devops/pipelines/library/service-endpoints?view=azure-devops#sep-docreg) for the purpose of specifying the credentials and authentication required by the Docker task when [pushing the images to the container registry](https://docs

[2019-09-28 11:45] #4113 closed

[2019-09-28 11:50] shashankbarsin commented on #4821
This issue is associated with the old languages/docker.md doc. The entire set of documentation associated with container ecosystem has been updated and this issue no longer exists on the build-image.md doc file.

Also, a note on enabling the preview feature for multi-stage experience has been included in the doc on [Build and Push to Azure Container Registry](https://docs.microsoft.com/azure/devop

[2019-09-28 11:50] #4821 closed

[2019-09-28 11:54] shashankbarsin commented on #3009
The entire set of docs associated with the container ecosystem has been updated. This issue is addressed as the doc on [pushing images to container registries](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/containers/push-image?view=azure-devops) uses samples based on Docker@2 task and Docker registry service connection instead.

[2019-09-28 11:54] #3009 closed

[2019-09-28 12:00] shashankbarsin commented on #3448
According to [Docker's documentation on tags](https://docs.docker.com/engine/reference/commandline/tag/), tag name must adhere to the following format -

`A tag name must be valid ASCII and may contain lowercase and uppercase letters, digits, underscores, periods and dashes. A tag name may not start with a period or a dash and may contain a maximum of 128 characters.`

Closing this issue as only u

[2019-09-28 12:00] #3448 closed

[2019-09-28 13:49] jxjia commented on #5545
This problem has been repeating, your Build pipeline does NOT automatically installs dependencies during deployment (i.e. a missing pip install -r requirements.txt step). I wonder how is this not catered in the Azure Pipeline's deployment process wheras the az webapp up command does ?
By the way, the article itself is awecome! Great contents and adequate explanation. Way to go team !

[2019-09-28 15:21] diegri commented on #4898
The comment of @anmason it's more explicit about what really do the on and off option of "Enable Azure Active Directory Conditional Access Policy Validation"

[2019-09-29 14:15] fernandreu opened #5777 "Linux agent assumes linux-x64"
I am doing some tests setting up a Raspberry Pi 4 as an agent through this page. The docker image builds fine, but the run command fails with the error message:

[code]

It turns out the start.sh script is assuming a `linux-x64` platform when downloading the agent:

[code]

If I change the last part to `platform=linux-arm`, the error is gone.

I think it is worth at least adding a comment that you

[2019-09-29 17:14] Tiberriver256 opened #5778 "How to delete a classic pipeline?"
Sorry for such a basic question but I can't seem to find anything in the docs here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7336a04e-5b38-d02f-8bba-a55445b2f094
* Version Independent ID: 783c30b3-63b6-da7c-1336-b000bb8b4c66
* Content: [Create your first pipeline - Azure Pipelines](https://docs.microsoft.com/en-u

[2019-09-29 19:19] Joel-INTO commented on #1615
Also hit the same issue. Any news?

[2019-09-29 21:49] MightyPen opened #5779 "Please add explanation of How I can test the 'Closed Date' field for Null or Empty, or....."
Please add explanation of How I can test the 'Closed Date' field for Null or Empty, or have article _**explicitly**_ state that no query can directly test a Date field for Null. (Which would be an important feature for the product to add soon.)
Thank you. (MightyPen = GeneMi)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-29 22:05] MatthewSteeples opened #5780 "How do I find what I'm using storage on?"
Our tenant is using 1090 (!!!) gb of Azure Artifacts. How can I find out where that space has gone so I can remove it? We've stopped using it as a NuGet cache, and have merely 3 of our own packages published (which probably totals about 30mb).

It would be useful if the docs showed where this number came from, so we could work on reducing it. Support don't seem to be able to tell us anything

---

[2019-09-29 22:15] MightyPen opened #5781 "No documentation article explains exactly how to put parentheses between AND and FIELD NAME, for Boolean OR?"
No documentation article, about Azure DevOps, explains exactly how to put parentheses between AND and FIELD NAME, for Boolean OR? No TOC title helps in this case.

REQUEST: Please add an article that shows a plain SQL-ish (or WIQL-ish) kinda like the following SQL; plus also shows the corresponding query form with the corresponding checkmarks for the _**parentheses**_ in the WHERE clause:

[code]

[2019-09-29 22:23] MightyPen commented on #5781
Explanation needed for precisely what these little checkboxes do to generate _**parentheses**_ in the query:

![Issue-5781 Azure-DevOps Parentheses](https://user-images.githubusercontent.com/9660758/65840365-f568c280-e2cc-11e9-94a5-835950217334.PNG)

[2019-09-30 01:59] olivierdagenais opened #5782 "Incorrect server public key fingerprints in the "SSH Public Keys" page"
When trying to clone via SSH today, I visited

https://(account).visualstudio.com/_usersSettings/keys

...and noticed neither the SHA256 nor the MD5 versions of the public key fingerprints matched.  Since I hadn't used my account in a while (i.e before the re-re-branding), I thought I might have been getting the fingerprints for the old names, so I then signed in through dev.azure.com and visited

[2019-09-30 06:15] powered182005 opened #5783 "##[error]Error: self signed certificate at the pre-job of Android build pipeline"
I hit this error when running the Android build pipeline with my keystore stored in the secure file. I am running an in-house Azure DevOps Server 2019 with self-signed certificate. Is there any workaround for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5f8376-3654-0ed4-d9f8-d15f28350783
* Version Independent

[2019-09-30 07:12] alexevansigg commented on #5630
As i understand it currently, I can assign two roles to a Service Connection... User or Administrator.
That would imply if my account has neither of these Roles on a service connection and I run a Multistage Release Pipeline which references that Service Connection for some tasks what will be the behavior? The Descriptions of the permissions refer to authoring rather than consuming the connections

[2019-09-30 07:49] swiix opened #5784 "compare files shortcut menu tip documentationn"
"Choose Compare with Workspace Version to see what changes you have made to the version you checked out.

Tip

You can also press Ctrl+Shift and then double-click the file."
---
Ctrl+Shift is false. Only Shift + Double Click is the shortcut.

Tested in Visual Studio 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2019-09-30 09:42] mandar1203 opened #5785 "how to integrate jmeter with azure devops using commandline"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-09-30 11:33] vtbassmatt commented on #5775
Click the "download all logs" button, open the zip file that results, and grab `InitializePipeline.txt`. At the very bottom, you'll see the fully-expanded YAML file after all template processing.

[2019-09-30 11:33] #5775 closed

[2019-09-30 12:30] PBoraMSFT commented on #3742
@jaaakkko - Please see the following sections in the UI testing considerations doc:
* [Visible UI testing using Microsoft hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/ui-testing-considerations?view=azure-devops&tabs=mstest#visible-ui-testing-using-microsoft-hosted-agents) - as mentioned in this section, hosted agents are pre-configured for UI testing. You do not need

[2019-09-30 12:30] #3742 closed

[2019-09-30 12:31] PBoraMSFT commented on #2746
@cytron201 - we blogged about the deprecation of the service early this year. You can find the blog post at https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/

[2019-09-30 12:31] #2746 closed

[2019-09-30 12:36] PBoraMSFT commented on #3208
@B-Raya - The thread has been inactive for more than 90 days now. We are closing this issue.

If this issue is persisting for you, please open this issue on the [tasks repo](https://github.com/Microsoft/azure-pipelines-tasks) for our engg. team to take a look and help with the next steps.

[2019-09-30 12:36] #3208 closed

[2019-09-30 12:57] ossentoo opened #5786 "dependencies statement seems to pull value from first stage only if there are multiple stages in a deployment."
We have a yaml deployment that uses multiple stages and the dependencies statement within a job (that is a child of the stage).

It seems to me that if the **dependencies** statement is used in this scenario, then the statement doesn't appear to be scoped to only pull values from the current stage.  It seems to also pull values from the previous stages too.

This means, that if we have stages DEV,

[2019-09-30 13:20] pravinpande commented on #4400
@alexcnichols @KathrynEE Is this supported for GitHub.com only? What about enterprise repos?

[2019-09-30 13:38] buckleyGI commented on #4859
It's unclear what this option does. Can you give an example? Thank you.

[2019-09-30 13:40] ab-aayers opened #5787 "Further Clarification appreciated..."
"Personal Access Token (PAT):
"... Also, as explained above, this PAT is used only at the time of registering the agent, and not for subsequent communication."
If the pat is used only at time of registration, than can i assume that expiration of the PAT OR disabling and removing the user that generated the PAT will not break the integration?  (after initialization.)

---
#### Document Details

⚠ *

[2019-09-30 13:48] jamie-tillman opened #5788 "Mermaid support is not universal - misleading/confusing documentation"
This page (https://docs.microsoft.com/en-us/azure/devops/project/wiki/wiki-markdown-guidance?view=azure-devops) indicates that Mermaid is supported by the Wiki and shows an icon on the editing toolbar.  This icon does not appear in my project's wiki and when I enter the specified syntax into a new wiki page, it is not interpreted, but shown verbatim.

Which is wrong:  This page's assertion that Me

[2019-09-30 13:50] jamie-tillman commented on #5646
Then, perhaps you should fix the documentation page, because the page that documents this feature is NOT in development.  It is live.  I just wasted 20 minutes trying to figure out why my project wiki doesn't support something the documentation says it does.

This is, after all, an issue report for the documentation, not the service itself.

[2019-09-30 13:57] dazinator opened #5789 "Does it support full semver spec including pre-release labels?"
As per title - this document specifically mentions semver and 3 numeric components. Does it fully support semver spec includijng pre-release labels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 405dfb6a-2f3d-1d74-2d28-d00be3bb069d
* Version Independent ID: d446b533-c215-6302-3df2-93b1ffd936df
* Content: [Publish and

[2019-09-30 15:29] ANTPro opened #5790 "Variable endpoint is not working"
Sample:
 variables:
    Server: $[dependencies.Name.outputs['SetVariableJob.Server']]
- task: SSH@0
    inputs:
      sshEndpoint: '${Server}'
      runOptions: inline
      inline: 'echo ${Server}'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ad03c70-4014-135f-ffd3-245c08b3ce32
* Version Independent ID: 42a84b54-9a

[2019-09-30 15:54] Kodack opened #5791 ""Show children" removed"
Why would you remove such a handy feature? Now I have to switch between reports and the test plan. Do you talk to users? Was this a common request?

Since it's not possible to query outcome of testing (Why is still a riddle to me, that's the one and only request PM has...) we could show all TC of a test plan. With that gone, no possibility to easily (copy, paste) bring it to Excel.

So one big wis

[2019-09-30 15:54] #5645 closed

[2019-09-30 15:54] #3553 closed

[2019-09-30 15:54] #5705 closed

[2019-09-30 15:56] alexcnichols commented on #4400
@pravinpande the fact that install and authorize steps have been combined is a setting specific to the Azure Boards app in GitHub.com. The options for integrating with GitHub Enterprise Server are a bit different.

[2019-09-30 15:58] alexcnichols commented on #4400
@KathrynEE this issue appears to have been closed without being fixed. The steps in the flow are different than what's in the docs.

[2019-09-30 16:04] olandese commented on #4859
that's the point, more explanation is needed about this option

[2019-09-30 16:28] torbennehmer opened #5792 "How to set default wiki?"
I'm missing a way to select the wiki shown by default in case multiple branches are published. In my example I've got a "develop" and a "master" branch. The system displays "develop" by default, but i'd like to present the "master" branch to my users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c697355f-1e75-27a9-82

[2019-09-30 16:49] richardgavel commented on #5275
I wonder if this changed between 0.x and 1.x of the task. I have a 0.x version using targetPath appropriately. Got bit using 1.x without realizing.

[2019-09-30 16:54] ebrown424 opened #5793 "Feedback about new Test Plans page"
I tried to email this to the email address listed above (devops_tools_microsoft.com) but it came back as undeliverable because I'm not allowed to email sadadirs@microsoft.com.  Here is my feedback:
On both the define and execute tabs, could you give us back the ability to expand contract the columns to see more of the test case title?

My usual way of execution is to open a test case, add an attac

[2019-09-30 17:18] msebolt commented on #5774
@sujayvsarma Thank you for the feedback.

Please refer to the `Paths` section of [Build triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml).

There you'll find both descriptions and YAML examples.

[2019-09-30 17:20] JoeBrockhaus commented on #2515
Not only is is not very clear, it actually seems wrong _(or other bits are still wrong)_.
The use of the value `specific` to denote `all` files seems to be the confusion.
Both of these settings values should be applied to the `specified build`, right?

Given the Description:

How should that be interpreted?

1.
   - "... download a single artifact .. of a specific build."
   - "... download all ar

[2019-09-30 17:31] msebolt commented on #5778
@Tiberriver256 Thank you for the question.

Go to **Pipelines** > **Builds**, select your build and expand the **...** (options) in the right-hand corner.  There you should find the **Delete** option.

Assigning this to the author to address including this in the docs.

[2019-09-30 17:36] msebolt commented on #5730
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:36] #5730 closed

[2019-09-30 17:37] msebolt commented on #5741
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:37] #5741 closed

[2019-09-30 17:38] msebolt commented on #5746
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:38] #5746 closed

[2019-09-30 17:39] msebolt commented on #5753
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:39] #5753 closed

[2019-09-30 17:41] msebolt commented on #5759
Thank you for transferring the issue.

[2019-09-30 17:41] #5759 closed

[2019-09-30 17:55] msebolt commented on #5779
@MightyPen  Thank you for the feedback.

Assigning this to the author for review.

For feature requests, please use the [Azure Dev Ops Developer Community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-09-30 17:56] msebolt commented on #5781
@MightyPen Thank you for the feedback.

Assigning this to the author for review.

[2019-09-30 18:21] msebolt commented on #5756
Sounds good, thank you for the update.

[2019-09-30 18:22] janabimustafa opened #5794 "Allow for download of source code as artifact"
Hello! Would love the ability to have source code be a type of artifact. We have a lot of deployment scripts that are not necessarily  compiled (ps1 files) and I don't want to go through the hassle of publishing an artifact just for the scripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9

[2019-09-30 19:18] ericdrobinson commented on #5293
@shashankbarsin That's great - a **_vast_** improvement over the previous documentation. Thanks very much for adding it.

I would suggest that you do a grammar pass, however, as there are many simple-yet-distracting grammatical issues with [the document](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/containers/push-image?view=azure-devops) in its current form.

[2019-09-30 20:10] msebolt commented on #5793
@ebrown424  Thank you for the feedback.

Unfortunately, issues here relate to documentation concerns only.

For better traction, please move this issue to [Azure Dev Ops Community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) where the product team can offer engagement.

[2019-09-30 20:18] msebolt commented on #5791
@Kodack  Thank you for the feedback.

Unfortunately, issues here are documentation only.  Perhaps the issue has already been reported [here](https://developercommunity.visualstudio.com/content/problem/747813/show-child-test-cases-from-child-suite-along-with.html)?

If not, please move this issue to the [Azure Dev Ops Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.

[2019-09-30 20:44] msebolt commented on #5792
@torbennehmer Thank you for the question.

When publishing the wiki, you should be able to select the version in the URL.

For master, use:

[code]

...instead of a branch-specific version:
[code]

Please comment below if this does not address your concern.

[2019-09-30 21:08] msebolt commented on #5788
@jamie-tillman  Thank you for the feedback.

This features is still listed as a [feature under development](https://docs.microsoft.com/azure/devops/release-notes/features-timeline#features-under-development).

Assigning to the author to remove or clarify.

[2019-09-30 21:09] msebolt commented on #5646
Please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/5788.

[2019-09-30 21:16] msebolt commented on #5790
@ANTPro  Thank you for the feedback, we're sorry your experiencing issues.

Instead of:

[code]
...please try using:

[code]

And post the results.

[2019-09-30 21:17] Leon99 commented on #3553
@steved0x were there any changes made? Why was this closed?

[2019-09-30 21:20] KathrynEE commented on #5781
@MightyPen - I appreciate the feedback and will update topics to clarify the use of parenthesis in the Query UI. To support you in your efforts, I suggest you install the [WIQL query editor extension](https://marketplace.visualstudio.com/items?itemName=ottostreifel.wiql-editor) which will allow you to see the WIQL version of any Query UI entry.

For example - this Query in the UI:
![image](https:/

[2019-09-30 21:20] #5781 closed

[2019-09-30 21:21] ANTPro commented on #5790
What? Its eqal.

[2019-09-30 21:23] ANTPro commented on #5790
1.
variables:
Server: $[dependencies.Name.outputs['SetVariableJob.Server']] #Value = Server1
- task: SSH@0
inputs:
sshEndpoint: 'Server1'
runOptions: inline
inline: 'echo Server1'
2. - bug
variables:
Server: $[dependencies.Name.outputs['SetVariableJob.Server']] #Value = Server2
- task: SSH@0
inputs:
sshEndpoint: 'Server1'
runOptions: inline
inline: 'echo Server2'

[2019-09-30 21:23] msebolt commented on #5790
Just a similar issue earlier...  see https://github.com/MicrosoftDocs/vsts-docs/issues/5747.

Are there any additional errors in the output?

[2019-09-30 21:26] ANTPro commented on #5790
No errors

[2019-09-30 21:28] msebolt commented on #5790
This is probably better handled by the product team, please move the issue to [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues).

Our apologies for the inconvenience.

[2019-09-30 21:36] ANTPro commented on #5790
This is not task bug. Bug in Azure DevOps.

[2019-09-30 21:49] KathrynEE commented on #5779
@MightyPen - THank you for your inquiry. You can find work items whose Closed Date is Empty by:

Closed Date =  (leave Value field empty).

I'll update the [Query by date or current iteration](https://docs.microsoft.com/en-us/azure/devops/boards/queries/query-by-date-or-current-iteration?view=azure-devops) topic with this example. Please note that several examples are provided under the Queries >

[2019-09-30 21:49] #5779 closed

[2019-09-30 21:53] msebolt commented on #5790
Thank you, I'll assign the author to then.

[2019-09-30 21:55] KathrynEE commented on #5678
@zeusk - Thank you for your contribution which has been merged.

[2019-09-30 21:55] #5678 closed

[2019-09-30 21:57] msebolt commented on #5716
@OraDotNetDev Thank you for the feedback.

The documentation has been updated.

#please-close

[2019-09-30 21:57] #5716 closed

[2019-09-30 21:57] KathrynEE commented on #5669
@rlvandaveer - Thank you for the feedback, I will update the topic to address these validation errors.

[2019-09-30 21:57] #5669 closed

[2019-09-30 21:58] msebolt commented on #5718
@jonathanrelf Thank you for the feedback.

The documentation has been updated.

[2019-09-30 21:58] #5718 closed

[2019-09-30 21:59] msebolt commented on #5747
@li2  Thank you for the feedback.

The documentation has been updated.

[2019-09-30 21:59] #5747 closed

[2019-09-30 21:59] msebolt commented on #5751
@adibradfield Thank you for the feedback.

The documentation has been updated.

[2019-09-30 21:59] #5751 closed

[2019-09-30 22:00] msebolt commented on #5755
@cpboyd  Thank you for the feedback.

The documentation has been updated.

[2019-09-30 22:01] msebolt commented on #5761
@timheuer Thank you for the feedback.

The documentation has been updated.

[2019-09-30 22:01] #5761 closed

[2019-09-30 22:01] KathrynEE commented on #5668
@RonakThakkar - Thank you for the feedback. I will update the topic as advised.

[2019-09-30 22:01] #5668 closed

[2019-09-30 22:05] #5662 closed

[2019-09-30 22:12] KathrynEE commented on #5575
@StingyJack - Thank you for your feedback. I've updated the article to indicate that the URL is used to open the template in a browser.

[2019-09-30 22:12] #5575 closed

[2019-09-30 22:14] KathrynEE commented on #5347
@huntantr - I'm closing this issue for now. Without having specific URLs to review, we really can't act on this feedback. Please feel free to reopen if you can provide those URLs.

[2019-09-30 22:14] #5347 closed

[2019-09-30 22:16] KathrynEE commented on #5203
@CordellStocker - The product team responded:

[2019-09-30 22:16] #5203 closed

[2019-09-30 22:58] bobbytreed opened #5797 "GitHub WorkItem Types are not defined"
For GitHub WorkItem types there are no System.(Something) references.

Every other linkType has an associated System.LinkType.Hierarchy-Forward, or something.

What is the linktype for GitHub

I'm submitting one in a patchDocument and it keeps erroring.
                patchDocument.Add(new JsonPatchOperation()
                {
                    Operation = Operation.Add,
                    Pa

[2019-09-30 23:27] jamie-tillman commented on #5788
And so it is.  Then it is good I reported this bug.  Your documentation is incorrect.  Please correct the bug so others don't waste their time looking for a feature that isn't there.

[2019-09-30 23:29] jamie-tillman commented on #5788
I am confused by the actions taken on this ticket.  It appears to have been assigned, and then closed after being linked to another closed ticket from 2 weeks ago.  If you had addressed THAT ticket, mine would have been unnecessary.

[2019-10-01 02:20] regala84 opened #5799 "K"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-10-01 02:35] msebolt commented on #5799
@regala84 Thank you for the feedback.

Please comment below if you have an issue to address.

[2019-10-01 04:09] brettrowberry opened #5800 "Need editable diagrams"
Need an solution for displaying diagrams in the wiki that can be edited.

[2019-10-01 04:17] sujayvsarma commented on #5774
So if I have multiple `.md` files in different places, I would need to exclude them one by one? (since I as per the documentation, cannot write `exclude: *.md`).

Also, I don't have a `.yaml` file. I used the Azure DevOps GUI to create the pipeline -- it builds and deploys to an App Service on Azure. So, where would I make these edits to the `.yaml` file?

[2019-10-01 07:00] hassaan4 opened #5802 "Conditional Step to skip checkout in azure pipeline?"
I don't want to perform checkout process again on each run of azure devops pipeline.

[2019-10-01 08:33] vithati commented on #5602
@syonekura, Can you provide debug enabled task logs (set system.debug with value true in release variables)

[2019-10-01 08:59] garethmonk opened #5803 "Create release after PR has been completed"
Hi,

Is there a way to only trigger a release once a pull request has been approved or completed?

We don't want to deploy artifacts that have failed a code review (for example).

Thanks.

[2019-10-01 09:02] #5803 closed

[2019-10-01 09:02] garethmonk commented on #5803
Will post this on the page it references

[2019-10-01 09:03] garethmonk opened #5804 "Create release after PR has been completed"
Hi,

Is there a way to only trigger a release once a pull request has been approved or completed?

We don't want to deploy artifacts that have failed a code review (for example).

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbb2877-5e10-4065-e3c6-7883e9df4b3c
* Version Independent ID: 58122a19-2258-3cf3-833

[2019-10-01 09:42] buckleyGI commented on #5500
+1 (lol)

[2019-10-01 11:40] pokke123 opened #5805 "Permently delete git repository without projects"
Is there any way to permently delete a git repository without the need of the project.

I already have deleted the projects and they are not in the database any more.
however the git repositorys stil are. how can these be deleted

[2019-10-01 12:39] adramasu commented on #5788
The feature is in the process of deployment. It should be available in your account in a couple of weeks time.

[2019-10-01 12:40] semilej opened #5806 "Extremly important to lock labels"
It must be a way in TFS to lock a label to a changeset within a TFS project/Database.  This is a security issue
If the label is changed you loose  your reference to to the source code used. Then you might end up in serious problems when you shall maintain the release fir bug corrections in the future.  So, Is this not possible, i.e. to lock a label ????

---
#### Document Details

⚠ *Do not edit t

[2019-10-01 13:00] steved0x commented on #5788
@adramasu Thank you for the update, and @jamie-tillman sorry that you ran into trouble. I did a quick check and see that the Mermaid syntax is not in my personal accounts (the ones I checked anyway) and is in the one work account that I did check, so it appears to be rolling out. Let me see if I can get any more information and I will report back.

[2019-10-01 13:01] jamie-tillman commented on #5788
Concerned.  Is it common practice for your docs to remain out of sync with
deployed code for weeks at a time?  You've already received two independent
bug reports, indicating this is causing confusion.

On Tue, Oct 1, 2019 at 8:39 AM Adithya Ramasubramanian <
notifications@github.com> wrote:

--
Jamie Tillman / Chief Executive Officer & Lead Architect / www.Prolydian.com

[2019-10-01 13:01] jamie-tillman commented on #5788
Ok, thanks.

On Tue, Oct 1, 2019 at 9:00 AM Steve Danielson <notifications@github.com>
wrote:

--
Jamie Tillman / Chief Executive Officer & Lead Architect / www.Prolydian.com

[2019-10-01 13:39] chcomley commented on #5764
Hello there @StingyJack,
The Contribute permissions is used to cover "can add/edit pages."
Contributing to a repository is about the ability to add and edit. Please let me know if you need further clarification, thank you!

[2019-10-01 14:04] syonekura commented on #5602
@vithati Here are the logs:

- of the previous step (docker compose build)
  [log_18_4759.zip](https://github.com/MicrosoftDocs/vsts-docs/files/3676747/log_18_4759.zip)
- and the error in docker compose push
[log_19_4759.zip](https://github.com/MicrosoftDocs/vsts-docs/files/3676749/log_19_4759.zip)

[2019-10-01 14:24] ChrisGibson1982 opened #5807 "When can we add "... Azure Web Apps, virtual machines, databases..." to environments?"
[Enter feedback here]
The first line of the article states that environments "...Kubernetes clusters, Azure Web Apps, virtual machines, databases..." however the article then goes on the state that only Kubernetes is currently supported.  Do we have a date for when the other resource types are going to be available or can you change the first line to reflect the current functionality?

---
#### Do

[2019-10-01 15:12] dazinator opened #5808 "yaml variables in azure-pipelines.yml file"
I am directly updating an azure-pipelines.yml file to add the docker build step. The docs show the yaml that I'd need to add but they don't explain the variables and how they tie up to the acr registry.

For example where do I get the values for these yaml variables:

- $(imageRepository)
- $(dockerRegistryServiceConnection)

I thought I could guess these but my builds keep failing as it seems the

[2019-10-01 15:14] dazinator commented on #5808
And the failing build output is:

[2019-10-01 15:26] msebolt commented on #5794
@janabimustafa Thank you for the question.

This sounds like more of a feature request then change needed for the documentation.

Please move the issue to **Suggest a Feature** on [Azure DevOps User Voice](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) for better traction with the product team.

[2019-10-01 15:30] msebolt commented on #5797
@bobbytreed  Thank you for the question.

Please refer to [GitHub link types](https://docs.microsoft.com/azure/devops/boards/queries/link-type-reference?view=azure-devops#github-link-types) and comment below if you have questions.

[2019-10-01 15:38] msebolt commented on #5800
@brettrowberry Thank you for the question.

Please refer to [mermaid](https://mermaidjs.github.io/#/) which is finally on the [release schedule](https://docs.microsoft.com/azure/devops/release-notes/features-timeline#features-under-development).

[2019-10-01 16:20] vithati commented on #5602
@syonekura, There are no changes in docker compose task. Does your docker compose file has image with latest tag? I tired to repro the issue, I am not able to repro the issue. if possible can you share your dockercompose file.

[2019-10-01 16:35] gfarnsworth commented on #4901
Hi, has this been implemented? I still cannot edit multiple test cases at the same time like I used to.

[2019-10-01 16:43] #5311 closed

[2019-10-01 16:58] jknapp25 opened #5809 "Markdown links not being created"
Under Kubernetes resource creation / Azure Kubernetes Service, there are two markdown links that were not turned into links on this page. Just wanted to let you guys know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7730ae4d-4101-9c83-1823-4ff43ff161ce
* Version Independent ID: 20a7e263-4819-783e-c984-c4f3b459e22f
*

[2019-10-01 17:13] chasewilson commented on #4953
I'm assuming you are talking about not being able to adjust the Release retention policies. In Azure DevOps you cannot adjust them. While I agree with you on this thread it doesn't seem to be a docs issue? have you reached out to the developer community for a feature request?

[2019-10-01 17:15] bobbytreed commented on #5797
@msebolt Refer to the article I read that brought me to this page: Check

Question, as stated above.

The link type for a hierachical link within Azure DevOps are: System.LinkTypes.Hierarchy-Forward
                                                                                              System.LinkTypes.Hierarchy-Reverse

Which you can specify to the above code sample when creating a work ite

[2019-10-01 17:46] yelob commented on #5573
It would be extra cool, if when you specified the environment like
 environment: 'smarthotel-dev.bookings'
that it would not only create the environment 'smarthotel-dev' (if it didn't exist), but also create the namespace 'bookings' as a resource in the environment (if it didn't exist).

[2019-10-01 18:24] steved0x commented on #5788
Hi Jamie, it is not and we dropped the ball somewhere with the synchronization between this feature release and the documentation for that feature.

As soon as I get some more information, I'll get that note updated, and we'll keep this issue open until it is resolved, so that any other folks with the same question will more easily find this thread and see that the Mermaid feature is being rolled

[2019-10-01 18:24] torbennehmer commented on #5792
@msebolt I do understand that, this is exactly, what I did. However, I want to change the branch, that gets shown by default when clicking on the Wiki Link in the menu without explicitly selecting a branch.

What I did:
1. Publish Branch "develop"
2. Publish Branch "master"

Now if I click the Wiki link or select a general URL without a wikiVersion selector, DevOps shows me the "develop" docs. Ins

[2019-10-01 18:43] steved0x commented on #5802
@hassaan4 You can use `checkout: none` in your YAML file to avoid syncing the sources, as described here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

But it sounds like you want to get the sources the first time, but not on subsequent runs?

If you are using a Microsoft-hosted agent, then you are getting a fresh image each time and so

[2019-10-01 19:04] msebolt commented on #5797
Have you installed the [Azure Boards app](https://docs.microsoft.com/azure/devops/boards/github/install-github-app?view=azure-devops)?

Also, try using the API `https://dev.azure.com/{organization}/_apis/wit/workitemrelationtypes/{relation}?api-version=5.1` to see if the GitHub type is available.

Assigning this to the author now.

[2019-10-01 19:04] #5788 closed

[2019-10-01 19:07] chasewilson commented on #3386
@elbatk, Custom npm upstream sources available in on prem versions?

[2019-10-01 19:44] chasewilson commented on #4532
I'll be closing this issue for now. I want to make sure you are no longer having this issue so please either respond here or make a new issue and I will get back to you as soon as possible.

[2019-10-01 19:44] #4532 closed

[2019-10-01 19:51] chasewilson commented on #4864
I'll be closing this issue for now. Feel free to open a new issue if you feel this one has been incorrectly closed.

[2019-10-01 19:51] #4864 closed

[2019-10-01 19:53] chasewilson commented on #5399
This will be updated with some new information based on a new credential provider. But it does appear that there is documentation for [VS for Mac](https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/consume?view=azure-devops#macos-add-the-feed-to-your-nuget-configuration). Is there some information there you feel is missing?

[2019-10-01 19:54] msebolt commented on #5792
@torbennehmer Sorry for the misunderstanding.

However, this is now more of a product feedback issue and will need to be moved to [Azure Dev Ops Developer Community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) where the product team can weigh in on the feasibility.

[2019-10-01 19:55] TomasHubelbauer commented on #5399
This part of my original question:

However the link you provided is super useful and for sure should be linked to from the page VSTS shows when clicking on the link in the Connect to Feed modal there.

[2019-10-01 20:04] StingyJack commented on #5764
@chcomley - I dont see "can add/edit pages" when I am looking at Wiki Security. The user in question is a member of the DevOps contributors group, which per one of the closed threads on this doc, should have access to do this.

![i dont see add pages](https://user-images.githubusercontent.com/15381181/65995968-7efec880-e464-11e9-8e48-1693e093a3f7.png)

This is the same set of confusing permissions

[2019-10-01 20:24] StingyJack commented on #4953
@chasewilson - I am talking about the screenshots depicted in https://github.com/MicrosoftDocs/vsts-docs/issues/4953#issuecomment-516648890. They are for the project, not the organization and are not editable. While they are part of retention settings, this document does not cover **build** specific settings very well.

There is a devcomm issue that is going nowhere and a proper support case that

[2019-10-01 20:33] jmorleyjones commented on #5800
@brettrowberry I have implemented a way to generate plantuml diagrams to be part of the wiki. It would work for mermaid as well. I will write up and share if that will help.

[2019-10-01 20:46] WilliamAntonRohm commented on #5256
@shindigo, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more inform

[2019-10-01 20:46] #5256 closed

[2019-10-01 21:25] sasanmcp commented on #5737
I need that too, please.

[2019-10-01 22:01] eric-labelle opened #5810 "How can we have one manifest for multiple tasks"
In the documentation for Multiple Version Layout (https://docs.microsoft.com/en-us/azure/devops/extend/develop/integrate-build-task?view=azure-devops#multiple-version-layout) there is only one manifest, for multiple tasks with multiple versions. How is this possible?
I'm trying to get all my tasks flat level like the MS repository (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tas

[2019-10-01 22:22] WilliamAntonRohm commented on #5768
@ylemkimon -- please look into this avenue:  https://www.microsoft.com/legal/intellectualproperty/trademarks/en-us.aspx

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-01 22:22] #5768 closed

[2019-10-01 22:24] WilliamAntonRohm commented on #5805
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-01 22:24] #5805 closed

[2019-10-01 22:25] WilliamAntonRohm commented on #5806
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-01 22:25] #5806 closed

[2019-10-01 22:27] WilliamAntonRohm commented on #5807
@ChrisGibson1982 -- Chris, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevops

[2019-10-01 22:27] #5807 closed

[2019-10-01 22:29] WilliamAntonRohm commented on #5810
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-01 22:29] #5810 closed

[2019-10-01 22:31] WilliamAntonRohm commented on #3984
@vijaychowthri, @drakor007 -- Thanks for your questions. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azured

[2019-10-01 22:31] #3984 closed

[2019-10-01 22:32] WilliamAntonRohm commented on #3917
@planetmarshall -- Andrew, I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-01 22:32] #3917 closed

[2019-10-02 01:33] lmeyerov commented on #5742
nudge @steved0x any guidance here?

[2019-10-02 02:01] eric-labelle commented on #5810
Well not really.. I'm trying to understand how to make it work as it is documented on the manifest page I linked. There's 2 tasks with 2 versions each but only one manifest

[2019-10-02 02:06] poltj18 opened #5811 "How to detect an empty array"
I'm struggling to come up with an expression to determine if an array is empty. ex: `dependsOn: []`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc762db18
* Content: [Expressions - Azure Pipelines](https://docs.microsoft.com/en

[2019-10-02 02:18] mitchdenny commented on #4236
#please-close

[2019-10-02 03:22] brettrowberry commented on #5800
@jmorleyjones I would be interested in seeing that

[2019-10-02 05:06] StevenTCramer opened #5812 "Miss path delimiter on pipleline variables"
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#pipeline-variables
Under Pipeline Variables, the path is missing the backslash.
`C:\agent_work\1` should be `C:\agent\_work\1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version

[2019-10-02 06:34] mimatn commented on #5449
Well, the documentation now clearly states in [docs/artifacts/concepts/upstream-sources.md](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/artifacts/concepts/upstream-sources.md) that custom upstream urls are supported only for NPM 😒

[2019-10-02 06:34] #5449 closed

[2019-10-02 08:36] MrVitaly commented on #240
I use 'Windows Machine File Copy' task (Description  : Copy files to remote machine(s); Version      : 1.0.41) in TFS Version 15.117.27024.0 and I have the same problem:

It works on some build agents and does not work on others.

I see many differences in the lists of system capabilities provided by these hosts. Several of them are in the table below. I hope it will be helpful for the investigati

[2019-10-02 09:22] logicfox commented on #5616
This is a very annoying limitation. Having CI/CD pipelines fail because of expired tokens could be classified as an unacceptable limitation. Will the team at least consider OAuth token or JWT auth? I can always pass a JWT as a password that can easily be verified.

[2019-10-02 09:45] LukaszGrela opened #5815 "Select branch to build"
I'm looking for a solution to change default branch based on variable, this is possible with the TFVC source but I can't find it with this one (Azure Repos GIT). Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b846aea-82f7-a988-67d8-1b5e74b61ed2
* Version Independent ID: 2d632729-bb33-c0a0-c996-e1d8e86c

[2019-10-02 09:57] matthiasburger opened #5816 "Shut out from Wiki"
I am project admin and my boss is project collection admin. I changed the permissions for contributors (as I am a member, too) but not for project and project collection admin. Seems like the permissions for contributors are higher than for project admin. Neither my boss as PCA nor me as PA have access to the wiki anymore.

**edit:** now my boss gave me both, Project Administrator and Project Coll

[2019-10-02 10:38] ryanps1 opened #5818 "Outbound IP - service connections"
Hi,

I have a service connection connecting to third party services which are IP restricted, I have whitelisted the four /24's provided on the documentation but unfortunately this is still being denied. Is it possible to provide a list of what the possible IP addresses may be so that I can look to whitelist these?

[2019-10-02 10:48] DalpheSDC commented on #1772
What is the workaround for this issue. I know that we are behind a proxy, so what todo about this certificate issue?

[2019-10-02 10:53] takluyver opened #5819 "Please document what "looks like a file path""
&gt; any key segment that "looks like a file path" will be treated like a file path

"Looks like a file path" is rather vague. It seems from the examples that anything with a `.` in is considered a file path, but it would be good to have it spelled out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-

[2019-10-02 10:54] bobbytreed commented on #5797
Thanks.
Hello @KathrynEE ,
GitHub AzureBoard integration is enabled in my org, but I don't see that GitHub link type available, or else it is hiding as another type (ExternalLink), etc.

I am looking for the oppositeEndReferenceName for GitHub Issue and PullRequest Links.

 https://dev.azure.com/{organization}/_apis/wit/workitemrelationtypes/{relation}?api-version=5.1

Example:
usage

[2019-10-02 10:55] takluyver commented on #5819
Off-topic, but nice work on this docs/issues integration I just used. :+1:

[2019-10-02 12:10] akkensheen commented on #5719
@msebolt thanks for response
In the end I've done deployment using Job, since it has parallel option. But I don't have this option in "Deployment jobs"? or it has this option, but thin https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops#schema must be updated accordingly.

[2019-10-02 12:16] akkensheen commented on #5719
@RoopeshNair thanks for response
I referring strategy and parallel options from Job and ability make changes on all agents inside agent group. I don't have access to Deployment groups, but from their description they similar to agent groups. So I expect that I'll be able to run "Deployment job" on all agents inside group

[2019-10-02 12:33] dsiders-rs commented on #3154
@navneet-g Can live updates be made optional on Taskboard, via a toggle like on Kanban?  Or make improvements to the live update so that it doesn't annoyingly scroll your view anytime someone else makes a change when you're looking at the board?

[2019-10-02 12:44] estensen opened #5820 "No docs on how to use task groups in multi-stage pipelines"
We have a fairly complicated blue-green deploying strategy which we have bundled together in task groups. I would like to re-use this in all my multi-stage pipelines without copy-pasting a lot of code. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521b594c-dbb9-54d5-f56f-00e2f5fa1d92
* Version Indepe

[2019-10-02 12:49] pjawesome opened #5821 "Document how to create PR on GitHub via Work item"
The introduction modal dialog allows users to open a PR on GitHub right after creating an issue as documented here https://www.youtube.com/watch?time_continue=356&v=A3jD3eWvYLE

At the moment though there doesn't seem to be an option to do this same operation beyond that on boarding dialog (e.g. one can only link existing PRs on the GitHub repository).

The use case for this would be to open a PR

[2019-10-02 12:49] estensen commented on #5820
Are task groups renamed to [templates](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates) for multi-stage pipelines?

[2019-10-02 13:24] #4961 closed

[2019-10-02 13:41] shivanaru commented on #1772
@DalpheSDC - copy the cert to the ca-bundle.crt and update git config to read from the updated cert bundle. Like mentioned here - https://stackoverflow.com/a/49515609. That resolved it for us.

[2019-10-02 13:48] navneet-g commented on #3154
Thanks @dsiders-rs for the feedback, we will try to repro it at our end and see if this regressed recently. If you can share a video/gif of the experience it will be helpful to understand.

[2019-10-02 14:10] steved0x commented on #4983
Section added [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pr-trigger)

[2019-10-02 14:10] #4983 closed

[2019-10-02 14:42] jpduffield opened #5823 "Create Pull Request screenshots and instructions are deficient"
When I go to create a new PR, I have to select source and target repositories as well as source and target branches. The instructions on this page do not show that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version Independent ID: 1a6fdbe7-5ba4-a7f8-1b2e-271289a7b9fd
* Conten

[2019-10-02 15:10] juliakm commented on #5283
There is an approvals section now that addresses this issue - https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml.

[2019-10-02 15:34] willsmythe commented on #4611
@WilliamAntonRohm - correct (no longer in preview). It would made be good to have someone from Engineering (like @nkirchem or @apawast) review the rest of the content and make sure it's still applicable/correct.

[2019-10-02 15:45] elbatk commented on #1024
I'm going to close this as it doesn't look like a docs bug but more of a feature question. Pinging @chcomley to see if she knows who on the product team could potentially come in here and sneak an answer about notifications.

[2019-10-02 15:45] #1024 closed

[2019-10-02 15:47] elbatk commented on #2170
Going to close this as I haven't gotten a response in a bit :)

[2019-10-02 15:47] #2170 closed

[2019-10-02 15:48] elbatk commented on #2496
Hey @roofers , did this get updated? Don't want to close if it didn't.

[2019-10-02 15:52] elbatk commented on #2700
Hey everyone, I want to close this because we've swapped from our old Maven task and are encouraging people to try our new [Maven Authenticate Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/maven-authenticate?view=azure-devops), but I'd like to get people trying it and get feedback before I do that. Any help would be appreciated.

[2019-10-02 15:55] eloisetaylor5693 opened #5824 "Incorrect task name in example snippet"
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops

The test task snippet has an incorrect task name (`DotNetCLI` instead of `DotNetCoreCLI`)

**Currently this:**
[code]

**Should be:**
[code]

[2019-10-02 16:08] msebolt commented on #5812
@StevenTCramer Thank you for the feedback.

The article seems to be using `C:\agent_work` as the example for any working folder, see [agent variables](https://docs.microsoft.com/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#agent-variables), whereas `C:\agent` is the installation folder.

[2019-10-02 16:38] #5799 closed

[2019-10-02 16:51] jd-porter opened #5825 "Invalid feedback email"
The email address in the "Provide feedback" section is bouncing with the following. It's difficult to engage with the ADO team if we can't give feedback as requested.

--
Your message to sadadirs@microsoft.com couldn't be delivered.

The group sadadirs only accepts messages from people in its organization or on its allowed senders list, and your email address isn't on the list.

---
#### Document

[2019-10-02 17:04] #987 closed

[2019-10-02 17:07] #2378 closed

[2019-10-02 17:09] chasewilson commented on #3110
I'll be closing this issue for now. Feel free to open a new issue if you need more clarification :)

[2019-10-02 17:09] #3110 closed

[2019-10-02 17:15] chasewilson commented on #3284
Hi all. Thank you for the feedback, questions, and input. I'm going to be closing this issue for now. There will be some updates to view usage and other related content. If you have any more questions or issues with the documentation, feel free to create a new issue!

[2019-10-02 17:15] #3284 closed

[2019-10-02 17:19] #3472 closed

[2019-10-02 17:35] StingyJack opened #5826 "None of these agents are in the selection list anymore"
I have things like
[code]
Why did that change and what should I pick for VS 2019 now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4409a9cb-8448-edd6-da0a-243e5601aa3e
* Version Independent ID: ec15f71a-a76d-c3f9-1d31-832f92183ef4
* Content: [Agents pools - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devo

[2019-10-02 17:39] msebolt commented on #5816
@matthiasburger  We're sorry your experiencing issues.

This is likely deals with account permissions in which case a member of the product team is needed to assist, our apologies for the inconvenience.

Please move the issue to the [Azure DevOps forum](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) for further escalation.

[2019-10-02 17:41] jbeesonnuva opened #5827 "FIle Matching Patterns not working"
I'm trying to convert my Download Build Artifact tasks to pipeline artifact downloads and using the same file matching pattern is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Content: [Download Pipeline

[2019-10-02 17:41] jbeesonnuva commented on #5827
Specifically, I need to exclude nested folders.

[2019-10-02 17:42] StingyJack opened #5828 "Why did the crappy YAML agent image names start showing up in build pipelines?"
I've been asked at least three times in the last few days as to which to pick because ONLY ONE OF THE CHOICES MENTIONS A VISUAL STUDIO VERSION in the YAML name. .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e116
* Content:

[2019-10-02 17:48] msebolt commented on #5827
@jbeesonnuva  Thank you for the feedback.

This however is more of a product issue, then documentation.

Please transfer the issue to the [azure-pipelines-tasks repo](https://github.com/microsoft/azure-pipelines-tasks/issues) and attach the code in question.

[2019-10-02 17:48] #5809 closed

[2019-10-02 17:53] msebolt commented on #5826
@StingyJack Thank you for the question.

Please use either `windows-latest` or `windows-2019` (refer to [Microsoft agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent)).

[2019-10-02 17:56] #5283 closed

[2019-10-02 17:57] msebolt commented on #5828
@StingyJack  Thank you for the feedback.

This would be a good question for the image team, unfortunately we're unable to address this.

Please transfer the issue to the [azure-pipelines-image-generation repo](https://github.com/Microsoft/azure-pipelines-image-generation/issues).

[2019-10-02 17:58] steved0x commented on #4879
@meastp @alecmocatta Pipeline variables are hierarchical, and have the following priority:

Job scope overrides stage scope overrides pipeline scope.

Said another way:

* A variable set at job scope overrides variables set at stage or pipeline scope
* A variable set at stage scope overrides variables set at pipeline scope

So the example given in the original issue is exactly right.

We'll get th

[2019-10-02 18:04] StingyJack commented on #5826
Great. Now please add the useful part back to those names so I (or anyone else) don't have to go look it up. Why add confusion where there wasn't any?

[2019-10-02 18:10] msebolt commented on #5818
@ryanps1  Thank you for the question.

Please refer to this [latest post on IP rules](https://devblogs.microsoft.com/devops/new-ip-firewall-rules-for-azure-devops/) and comment below if there are any questions.

[2019-10-02 18:15] StingyJack commented on #5828
@msebolt - I opened an issue over there, reporting it as a bug. If it isnt a bug, then this docs page needs updating asap.

[2019-10-02 18:21] msebolt commented on #5828
Sounds good, then I'll assign this to the author in the interim.

[2019-10-02 18:24] msebolt commented on #5826
@StingyJack This is a good question for the [azure-pipelines-image-generation repo](https://github.com/Microsoft/azure-pipelines-image-generation/issues)?

[2019-10-02 18:41] kestasjas commented on #5660
My wish list: I want to deploy Test project (Smoke Test) Release after API from another pipeline Release successful deployment. Release triggered by another Release.

[2019-10-02 18:50] WilliamAntonRohm commented on #4611
@willsmythe -- Will, thank you for that confirmation.

@apawast -- Apeksha, please review the above-mentioned PR 171.

[2019-10-02 18:53] torbennehmer commented on #5792
@msebolt If there is no option to influence the order, that's fine with me so far, I was looking for that information. Basically: Is the order sorted alphanumerically, is it in the order the wikis were published? I'm missing this information in the docs.
Apart from that I'll raise the issue in the dev community.

[2019-10-02 19:12] #4879 closed

[2019-10-02 19:12] jmorleyjones commented on #5800
@brettrowberry

I am doing these instructions while I am on the road without laptop, here are the basics. I will write up a more detailed post next week. This should get you going.

Step 1) follow the steps in this post to configure the build pipeline to enable git check in - https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/git-commands?view=azure-devops&tabs=yaml

Step 2) configure

[2019-10-02 19:31] StingyJack commented on #5826
@msebolt - this is the same complaint but for a different docs page

[2019-10-02 19:50] steved0x commented on #5036
@sadedil Sorry for the delay in following up to close the loop on this issue - pipeline expressions don't include string operations like split, substring, etc... The easiest way to do that would be to use a custom script task (for example all Microsoft-hosted agents have node installed) to do the string operations and return the desired parts, for example splitting up a version string to access th

[2019-10-02 19:50] #5036 closed

[2019-10-02 19:56] steved0x commented on #5209
@ghelyar You are correct, and others, sorry for the delay in following up to close the loop on this issue - pipeline expressions don't include string operations like split, substring, etc... which could be used to get the component parts of a version. The easiest way to do that would be to use a custom script task (for example all Microsoft-hosted agents have node installed) to do the string opera

[2019-10-02 19:56] #5209 closed

[2019-10-02 20:09] KathrynEE commented on #5821
@pjawesome 	- Thank you for your suggestion. Product feature suggestions, such as this one, should be added here:  https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?type=idea.

[2019-10-02 20:09] #5821 closed

[2019-10-02 20:20] KathrynEE commented on #5797
@bobbytreed - Hi. Thank you for your inquiry. For link types that connect work items to work items, you have the Reference names as you list above for the Dependency-Forward. These are all listed is this API: https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20item%20relation%20types/list?view=azure-devops-rest-5.0.

However, for link types that link work items to other artifacts - s

[2019-10-02 20:20] #5797 closed

[2019-10-02 20:49] kraigb commented on #5545
Thanks everyone; I'm looking into what's needed here.

[2019-10-02 21:00] timheuer opened #5830 "Bad link on creating principal using CLI"
The link: https://blogs.msdn.microsoft.com/arsen/2016/05/11/how-to-create-and-test-azure-service-principal-using-azure-cli/ no longer is valid and takes you to a Medium blog with no relevant direct link to the topic.  This should be removed or replaced with official tutorial on this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-02 21:32] cpboyd commented on #5755
@msebolt `-encoding utf8` will add the BOM in standard Powershell (this behavior wasn't changed until Powershell 6): https://stackoverflow.com/questions/5596982/using-powershell-to-write-a-file-in-utf-8-without-the-bom

[2019-10-02 21:35] msebolt commented on #5755
Sorry about that, I'll reassign this to the author.

[2019-10-02 21:48] memao opened #5831 "npmAuthentication task fail randomly"
The authentication for a registry outside of our org goes wrong randomly.

On azure hosted agents, we are using npm authentication task and npm service connection to do the authentication.  Normally, if things goes right, this step would find the correct username and password for the feed. However, randomly, this step gets back a authToken which is wrong for the feed!
Why does this happen? How do

[2019-10-02 23:27] jordynniara commented on #4919
Has anything changed with this? I'm ussing the Token auth scheme in my service connection, but also do not need the Server Url. I want to hide it.

[2019-10-02 23:37] louistio commented on #1381
Here is a specific user voice idea requesting the feature:

[2019-10-03 02:33] henry-padilla commented on #5647
I am finding that the deployment job (as of this post) downloads artifacts from earlier build job but it downloads them to D:\a\1\ as opposed to D:\a\1\a  ( the System.ArtifactsDirectory )
This makes using the files difficult.

[2019-10-03 06:23] PBoraMSFT commented on #2914
@Additi - can you look into this?

[2019-10-03 06:34] PBoraMSFT commented on #4604
@Additi - can you look at updating the docs for the behavior when mergeTestResults is false?

@MarkKoz @goudarzi - we will update the docs with the current behavior. If you are looking for feature work here, please raise an issue on the [tasks repo](https://github.com/microsoft/azure-pipelines-tasks), where we track issues and enhancements to the pipeline tasks.

[2019-10-03 06:42] PBoraMSFT commented on #4055
@prabhushrikant - the task runs a cloud-load test with JMeter. It does not produce files / make the results available on the agents. The results of the JMeter test and its output can be found in the load test hub under Test Plans. See https://docs.microsoft.com/en-us/azure/devops/test/load-test/get-started-jmeter-test?view=azure-devops

Please note that we announced the deprecation of the cloud lo

[2019-10-03 06:42] #4055 closed

[2019-10-03 06:44] ryanps1 commented on #5818
Hi @msebolt

Thanks for the reply. I had indeed whitelisted those IP Addresses, however, when attempting to configure the service connection I can see that this request is originating from: 40.81.159.67.

[2019-10-03 06:46] PBoraMSFT commented on #5216
Fixed with the above mentioned pull request.

[2019-10-03 06:46] #5216 closed

[2019-10-03 06:52] PBoraMSFT commented on #4135
We have updated the documentation with the current limitations. [Link](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops#q--a).

We are currently working on enhancing our code coverage reporting capabilities that will overcome these limitations.

Closing the doc issue.

[2019-10-03 06:52] #4135 closed

[2019-10-03 06:53] PBoraMSFT commented on #5422
@MisinformedDNA - [Task Docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops#q--a) have been updated.

[2019-10-03 06:53] #5422 closed

[2019-10-03 08:12] noseratio commented on #3520
I also experienced this issue `fatal: could not read Password for 'https://myorg@dev.azure.com': terminal prompts disabled`. Indeed, it got resolved when I changed the submodule URL inside `.gitmodules` to be a relative URL to the main repo (in my case, all repos belong to the same Azure DevOps project). I.e.:

[code]

[2019-10-03 08:17] LarsWH commented on #2914
The fix suggested by @AjkayAlan above does not work for me. I am trying to publish `**/surefire-reports/TEST-*.xml` and `**/failsafe-reports/TEST-*.xml` but without success. @divais - where can I find the updated documentation?

[2019-10-03 09:14] gtedeschi commented on #4142
Hi! I've the same problem... How to get data from datasource/service?

[2019-10-03 11:06] 5eb commented on #5782
I second this. The GUI on https://dev.azure.com/company/_usersSettings/keys explicitly asks the user to check the server fingerprint. And the keys don't match.
GUI:
Server SHA256 Fingerprint YGzJgZudZVkYdnmgPuLFFgWE6CLA+cTuTcm+Jbs7g0Q (RSA)
SSH:
The authenticity of host 'ssh.dev.azure.com (20.41.47.137)' can't be established.
RSA key fingerprint is SHA256:ohD8VZEXGWo6Ez8GSEJQ9WpafgLFsOfLOtGGQCQo6O

[2019-10-03 11:20] RobertoBorges commented on #2237
Hey @chcomley, All this discussion about using Single Project is based on the premisses that this project is using GITVC, because using TFSVC it's quite hard.
And the article don't mention anything about the type os repo that is used in the project.

[2019-10-03 11:20] matthiasburger commented on #5816
Thanks you @msebolt  , I asked for help in the forum: https://developercommunity.visualstudio.com/content/problem/759418/shut-out-from-wiki.html - hope we can edit our wiki soon 😆

[2019-10-03 12:23] onovotny opened #5835 "Doc updates"
This page could use some doc updates:

- `UseDotNet` task instead of `DotNetCoreInstaller`, along with mention of if/when you need to call it multiple times (with sdk vs runtime for multi targeting)
- Explicit example using Coverlet's integration and coverage publishing given that Pipelines won't display anything for .coverage but will display a full report for Coverlet
- Don't need to explicitly

[2019-10-03 13:41] spashx opened #5836 ""select accounts" ?"
Could you please describe more precisely what do you mean by "select accounts of Azure DevOps Services" ? The Hosted XML seems not to be available by default.
regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdffff7-f341-d9af-a26e-ebf755b3769a
* Version Independent ID: 7aea2747-67f8-4256-722a-740cb3677aca
* Con

[2019-10-03 14:18] lonevvolf commented on #3553
Please advise - we are also hitting this issue.

[2019-10-03 14:19] lgmorand commented on #5807
I think the question is quite valid. the documentation is unclear. it says we can setup a group of resources within an "environment" but then that only AKS can be added.
Same issue in the product, you can create an empty ENV OR a AKS env, but once the empty ENV created, you can only add AKS

[2019-10-03 14:21] archiebw-amido commented on #5509
Is there any update on the above? I have checked the file referenced in #5509 and It's not clear if the Azure DevOps hosted agents IP ranges are listed.

[2019-10-03 14:32] RoopeshNair commented on #5807
We are currently working on adding support for Virtual Machines, it will be available in ~2-3 months. We will follow up with most of the Azure resources including WebApps, soon after that.

[2019-10-03 14:34] l3ender commented on #5460
@congyiwu You mention the following hostnames:
* ssh.dev.azure.com
* ssh.visualstudio.com

However, if cloning a repo from Azure DevOps, I am seeing the following hostname instead:
* vs-ssh.visualstudio.com

If we are able to whitelist by hostname/domain, should we use the latter instead?

[2019-10-03 15:01] matthiasburger commented on #5816
@msebolt I removed "contributors" from my groups and had to remove contributos as parent of other groups and it worked.. still bit confusing why denying for contributors is higher than allowing for project administrator

[2019-10-03 15:01] #5816 closed

[2019-10-03 15:13] peterjc123 opened #5837 "How to use the Docker images on Amazon ECR?"
Related to https://github.com/MicrosoftDocs/vsts-docs/issues/1929. It is said to use the Docker Registry service connection, but it won't work because the token will expire in 12 hrs. The AWS extension provides the ECR pull task, maybe we can make use of that.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 3339a2e0-be29-1363-f588-b231d4472c02
* Version Independent I

[2019-10-03 15:31] steved0x commented on #5826
@StingyJack The names to choose for the VM images in YAML or classic editor are listed [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent) on the Microsoft-hosted agents page and linked from the Agent Pools topic [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops&tabs=yaml#cho

[2019-10-03 15:35] steved0x commented on #5826
I just found this: https://github.com/microsoft/azure-pipelines-image-generation/issues/1287

Unsure how that will be addressed but I'll make it as easy to find in the docs as I can.

[2019-10-03 16:11] jeffpriz commented on #2020
Badly need this documentation updated..

[2019-10-03 16:17] StingyJack commented on #5826
Ty @stevedox, hopefully it's a bug or mistake and we don't have any further action.

[2019-10-03 16:18] BiribiriJaNai commented on #4919
@jordynniara , if you just want to hide the default Server URL field, you can try something like this.
This example is what I used to create a service connection for Apache Kafka:
[code]
The important part is **"isVisible": "false** and **"required": "false"**.
You also have to set a **valid** URL by default, because even if the field is hidden, it's evaluated.

Which gives me the following, witho

[2019-10-03 16:26] dmckinstry commented on #2237
Hi @RobertoBorges - Good call on the TFVC.  @chcomley and I can work on getting that updated.  The general guidance is that if you are using TFVC and heading toward a consolidated project model, you create root folders for different teams/projects/... just as you would create separate repos in Git.  Folders can be secured as needed and workspace mappings can control what segments of the repo you'r

[2019-10-03 16:45] HvGo commented on #4068
Hi, Please, can you tell me where I add that configuration

[2019-10-03 17:01] Eilon opened #5838 "Missing argument description for: restoreDirectory"
Similar to doc bug https://github.com/MicrosoftDocs/vsts-docs/issues/5411, there are also no docs for `restoreDirectory`, which is implied to be a required parameter (because it doesn't say it's optional).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1d9884-19f7-592b-f47c-8cf100639ff0
* Version Independent ID: 555c

[2019-10-03 17:22] #5656 closed

[2019-10-03 17:25] WilliamAntonRohm commented on #5831
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-03 17:25] #5831 closed

[2019-10-03 17:26] #4236 closed

[2019-10-03 17:49] #4892 closed

[2019-10-03 18:06] Jacob-Nelson-mscst commented on #5359
My work around was to add a power shell script to the repo that would creat or update my key vault secrets. To execute that script during the release I added a power shell script task with the file path to my script in the repo. I had to use a service principle and the connectAzAccount command within the script to access the subscription.

you could add these variables as arguments to the power sh

[2019-10-03 18:30] chcomley commented on #5616
Hi @logicfox, I recommend submitting a feature request. You can do so [here](https://visualstudio.microsoft.com/vs/support/#talktous). We thank you for your input.

[2019-10-03 18:47] vijaychowthri commented on #3984
@WilliamAntonRohm

thanks !!

[2019-10-03 18:52] davoodharun commented on #3702
+1 on this

[2019-10-03 18:58] poltj18 opened #5839 "Insert local template in remote template"
Regarding the Insertion section of this documentation:

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#insertion

Is it possible to reference a local template as an inserted step(s) in a remote template.

For example, I can't seem to get something like this to work:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-03 19:38] charleswm commented on #4790
+1 especially about the part about setting up the service connection.

[2019-10-03 19:46] steved0x commented on #5825
@jd-porter I have identified the issue with that alias and am getting the team to fix it ASAP, ETA tomorrow. I apologize for the trouble, and I will loop back when the alias is fixed. Thank you for your feedback.

[2019-10-03 20:11] jjaspenextech opened #5840 "Add Requester filter to Release subscriptions"
Using the Azure Pipelines Integration for Slack, I want to be able to subscribe to successful releases that a particular user requested, usually me.

Currently it doesn't have this filter. I added a screenshot of what user I mean from Azure DevOps.
![Release Page](https://user-images.githubusercontent.com/25592908/66160541-5c051d80-e5f8-11e9-9486-8bf7bbb607ff.png)

[2019-10-03 20:18] jjaspenextech opened #5841 "Add source branch to release notification message"
Using the Azure Pipelines Integration for Slack, when subscribed to successful release, I want to see the name of the branch that triggered the release in the notification message.

The message currently contains a link to the release, which in turn contains a link to the artifacts page, which has the branch name I want. Below are screenshots of what I want:
![Release Page Link to artifact](https:

[2019-10-03 20:26] pyoungberg opened #5842 "Stakeholders link broken"
404 when going to Stakeholder features page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aa416a-b842-77d0-e18a-bee7f7bf7205
* Version Independent ID: 65942145-45ca-48bb-6adc-c16bd662b80a
* Content: [Manage users and access levels - Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/organizations/a

[2019-10-03 20:53] jordynniara commented on #4919
That was exactly what I needed. Thanks @BiribiriJaNai

[2019-10-03 21:11] WilliamAntonRohm commented on #5839
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-03 21:11] #5839 closed

[2019-10-03 21:14] WilliamAntonRohm commented on #5840
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-10-03 21:14] #5840 closed

[2019-10-03 21:17] WilliamAntonRohm commented on #5841
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

Also, here are a couple of options where you might find more information:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagge

[2019-10-03 21:17] #5841 closed

[2019-10-03 21:19] WilliamAntonRohm commented on #3883
Thanks for your question, and apologies for the delay in responding.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](ht

[2019-10-03 21:19] #3883 closed

[2019-10-04 00:08] #4248 closed

[2019-10-04 00:09] #3288 closed

[2019-10-04 00:13] congyiwu commented on #5460
@l3ender sorry about that! `vs-ssh.visualstudio.com` is actually the correct hostname, not `ssh.visualstudio.com`.

I created a PR for a fix: #5843

[2019-10-04 00:40] Shpetz opened #5844 "Template parameters cant have a dash "-" in their name."
It should be pointed out that unlike pipeline variables, yaml template parameters cant have dashes in their names.

eg. parameters.resource-group wont work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-1d85c13c0065
* Content: [Temp

[2019-10-04 01:19] dazinator commented on #5789
It seems yes but the prereiease label must be lowercase, and build metadata isnt supported.

[2019-10-04 01:22] bbarman4u opened #5845 "Incorrect documentation note for the Jenkins Service Connection"
The Jenkins service connection uses username and token (where the token is generated for the user used to connect to the Jenkins instance). Using the jenkins login password for the user would end in HTTP 403 error when Azure Pipelines connects to the Jenkins Instance.

![image](https://user-images.githubusercontent.com/20643454/66174633-9f24b800-e61b-11e9-8b70-9b9aed46b9aa.png)

---
#### Document

[2019-10-04 03:06] chcomley commented on #5764
Hi @StingyJack, **Contribute** is the permission that we check. Is the wiki in question a project wiki or a code wiki? Is the user a **Stakeholder user**? A stakeholder user can't contribute to code wikis...

[2019-10-04 04:10] msebolt commented on #5818
@ryanps1  Sorry you're still having issues.

Which documentation are you referring to?  Have you opened all IPs listed in the topic [Migration import](https://docs.microsoft.com/azure/devops/migrate/migration-import?view=azure-devops)?

I can assign this to an author though you should probably [start a ticket](https://developercommunity.visualstudio.com/spaces/21/index.html) also since this involv

[2019-10-04 04:11] msebolt commented on #5782
The documentation has been updated.

[2019-10-04 04:13] msebolt commented on #5816
@matthiasburger Glad you figured it out and thank you for providing the solution.

[2019-10-04 06:16] derekbekoe opened #5846 "Scheduled release triggers: Missing documentation on option "Only schedule releases if the source or pipeline has changed""
When defining a scheduled release trigger, there is a checkbox option for "Only schedule releases if the source or pipeline has changed". The behavior for this option isn't documented on the page.

For example, my question on this checkbox option is: If I have defined multiple artifacts in the releases definition, say GitHub Release (marked as Primary artifact) and Build Artifact, will a release b

[2019-10-04 06:39] vijay-gowda opened #5847 "Information in Prequisite is bit misleading"
The point below in pre-requisite indicates that a user with Basic or Stakeholder license have permission to change process by default.
"Users granted Basic or Stakeholder access are automatically granted permission to create, edit, and delete processes,...."

Another point below states, the user needs to be part of the Project Collection Administrators group,
"To create, delete or edit a process,

[2019-10-04 07:32] wcornfredrik commented on #4493
Can you please show me where this setting is? I cannot find it.

[2019-10-04 07:45] srivatsamarichi commented on #1713
@BalajiAnand Can you please confirm if you have configured the sample app to include a YAML file for deploying to your AKS cluster? It seems you might have missed the step for which you're seeing the aforementioned error. If you have not, then would suggest you to please create one and then follow the rest of the article. You can find the link [here](https://github.com/spring-guides/gs-spring-boot

[2019-10-04 08:09] Iloer opened #5848 "Не корректно работают ссылки типа "Hyperlink""
Azure DevAps Server 2019 update1.
WorkItem - ChangeRequest
В WebLayout добавлен раздел:
            &lt;Group Label="Hyperlink"&gt;
              &lt;Control Type="LinksControl" Name="Hyperlink"&gt;
                &lt;LinksControlOptions&gt;
                  &lt;ListViewOptions GroupLinks="false"&gt;&lt;/ListViewOptions&gt;
                  &lt;LinkFilters&gt;
                    &lt;WorkItemLi

[2019-10-04 09:15] #5802 closed

[2019-10-04 09:30] olivierdagenais commented on #5782
Where?

https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/repos/git/use-ssh-keys-to-authenticate.md and https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/repos/git/_img/use-ssh-authentication/ssh_accessing_security_key.png were last updated 15 days ago and the https://docs.microsoft.com/en-us/azure/devops/repos/git/use-ssh-keys-to-authenticate?view=azure-devops page looks the s

[2019-10-04 09:49] RehanSaeed opened #5850 "How to Securely Publish to NuGet from PR's"
I'm using the following yaml to publish NuGet packages to Azure Artifacts and GitHub packages on each commit and to the official NuGet repository when I use a Git Tag.

[code]

This works fine when I checkin but when someone creates a PR, the above publish steps fail because:

- Azure Artifacts - The user does not have permissions.
- GitHub - The user does not have access to use the secret variabl

[2019-10-04 10:24] alex-3sr commented on #2412
Hi everyone,

work item has an update about this "must have" feature ? it's not imaginable to add contributor righ at subscription level for just add some VS licences. Please, can you give us an update.

Thanks
Alexandre

[2019-10-04 10:38] nishantvas opened #5851 "Can we not download artefacts locally to systems like we could from the Summary Page without the Multi-Stage preview on"
without the multi-stage pipeline preview on, we're able to download the artefacts from the Summary page of the pipeline to our systems and view things like test results that we have stored.
However, with the preview on, I don't see the option to download the artefacts to the local system using the GUI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-04 10:47] EldarAliev opened #5852 "backlogs"
Hello!
How to create several backlogs as in the picture? https://docs.microsoft.com/en-us/azure/devops/boards/sprints/_img/assign-items-sprint/backlog-team-selector-s155.png?view=azure-devops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eca2985c-878e-ee5d-9df3-ad5755abd873
* Version Independent ID: cf61abed-bd24-817f

[2019-10-04 10:48] batorskik commented on #3702
+1 It would be extremely useful.

[2019-10-04 10:49] MattT95 commented on #5263
I am also having a similar confusion to that mentioned by @frackham.

The ##vso[task.logdetail] entries are being removed from the log output in Azure Pipelines, but I am seeing no visual change to the build log UI for my pipeline runs. Is this still supported in the latest UI?

[2019-10-04 11:51] vtbassmatt commented on #5851
This isn't a doc bug, it's a product bug - could you file it over at [Developer Community](https://developercommunity.visualstudio.com/spaces/22/index.html)? Thanks!

[2019-10-04 11:51] #5851 closed

[2019-10-04 12:07] Apholisha commented on #4874
Hi
I have the same issue.
I have .artifactignore in the root of the repo.
I do copy it in the $(build.artifactstagingdirectory) and then then I publish.

What I ended up is a .artifactignore as part of the artifact ( which I do not want) and the files that it is supposed to ignore are still there.

- task: CopyFiles@2
  displayName: 'Copy artifactignore to: $(build.artifactstagingdirectory)'
  inp

[2019-10-04 12:13] razidare opened #5854 "Azure DevOps Pipeline Environment - Resource limit of 10"
Hello,

Our team is trying to offer a self-servicing platform, where developers can create their own Kubernetes namespaces and destroy them, on demand.

This requires creating a **Resource** inside an Azure DevOps **Environment** and we have scripted this.  The issue is that we have hit a limit of 10 resources/environment and can't create any more.

Is there a way to lift this limitation of 10 res

[2019-10-04 12:38] freljung opened #5855 "The descriptions for *Basic and Basic + Test Plans seems a bit mixed up"
Basic has description: "... and to users for whom you are paying for Basic + Test Plans access in an organization." and Basic + Test Plans has description: "... and to users for whom you're paying for Basic access in an organization.". This seems mixed up to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db47b85-e

[2019-10-04 12:40] freljung commented on #5855
Well that got added a bit sooner then expected. Anyhoo my point I was going to make was that Basic has description: "... and to users for whom you are paying for Basic + Test Plans access in an organization." and Basic + Test Plans has description: "... and to users for whom you're paying for Basic access in an organization.". This seems mixed up to me.

[2019-10-04 13:23] rathishrms opened #5856 "CSMFile format"
i have my ARM templates stored in Azure Git repos and want to use it with Azure template deployment task  in my multistage YAM pipeline. As this is just IaC i am only doing release and no build. I get an error saying ""Error: Could not find any file matching the template file pattern"
 what is the format to point to my template. I am pointing as below - this is the folder path of my template insid

[2019-10-04 13:27] #4611 closed

[2019-10-04 14:24] powerdude opened #5857 "Copying Dashboards"
It would be nice if it was possible to copy/duplicate dashboards between/to other teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3d9f6cf-89b6-a0e3-0a37-f23446ede457
* Version Independent ID: 988af21a-7ee0-66b4-0fac-07360b8be17d
* Content: [Add, rename, delete, and manage team dashboards - Azure DevOps](https://

[2019-10-04 14:34] #5824 closed

[2019-10-04 14:38] awentzel opened #5858 "The arguments on this page do not match the code snippet shown"
This sample https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops#yaml-snippet does not match the defined arguments documentation https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops#arguments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-10-04 14:42] MishalValiyakath opened #5859 "Requirement mentioned in requirements.txt file is not getting installed automatically."
I was following these steps to install my flask app which is having just sample application.py with some sample dependencies to some data science packages. The dependencies are mentioned in requirements.txt  and as per step 8 it says the requirements will be installed automatically. Please note that I am not using a custom container image as done in the github sample project (python-sample-vscode-

[2019-10-04 14:48] MishalValiyakath commented on #5545
I am facing the same issue, getting permission denied if we explicitly add the pip3.6 install in the post-deployment script. Also, in my case there is extra index url as well.

[2019-10-04 14:59] steved0x commented on #5788
@jamie-tillman Mermaid support just appeared in my personal Azure DevOps Services account, so it might be in yours by now.

Also, we are developing a process of including a note in our docs with newly released features that includes a timeframe for rollout (that will be subsequently removed when we add the next batch from the next sprint) to try and avoid confusion like we did this time. Sorry aga

[2019-10-04 15:08] kraigb commented on #5859
Thanks. I'm investigating; see https://github.com/MicrosoftDocs/vsts-docs/issues/5545, which is related.

[2019-10-04 15:09] jamie-tillman commented on #5788
It is in my account now, as well!  I really appreciate the responsiveness of the team on this.  It really raises my confidence of the platform.  Not to mention the actual Mermaid support is almost like you guys read my mind.  We've been having to embed diagram images until now.  This was probably the only thing standing in the way of our full use of the wiki!

[2019-10-04 15:21] davoodharun commented on #3702
I actually found somewhat of a work around for this if you use a script to hit the azure devops rest api for variable groups.

https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/variablegroups/get%20variable%20groups?view=azure-devops-rest-5.1

[2019-10-04 15:28] drewbren commented on #2412
We haven’t created a custom RBAC role, but what we’ve done is to leverage the admin role we already have in Azure DevOps. In the past, you needed to have at least contributor rights to make any purchases (ie. to increase/decrease the count of paid users, pipelines, etc…). Now you only need to have contributor access _initially_ to set up billing (a one time operation). After that, anyone you add a

[2019-10-04 15:32] jamers99 commented on #4211
Here is the version right before it was removed:
https://github.com/MicrosoftDocs/vsts-docs/blob/e5d4e6f62d381a0d78b2c3dba7ffeedcf25be73a/docs/pipelines/build/options.md

[2019-10-04 16:08] msebolt commented on #5791
Closing the the issue now, please comment below if there are any concerns.

[2019-10-04 16:08] #5791 closed

[2019-10-04 16:13] msebolt commented on #5800
@jmorleyjones  Thank you for posting your solution.

Also, according to https://github.com/MicrosoftDocs/vsts-docs/issues/5788 mermaid was just released.

Closing the issue now, please comment below if there are any further questions.

[2019-10-04 16:13] #5800 closed

[2019-10-04 16:15] alex-3sr commented on #2412
Hi Andrew, Thanks for your quick reply. So if I understand correctly, I just to give contributor 1 time for its first bill, then i can remove rbac access to azure subscription and let only PCA role in DevOps. If this process works, so yes for me it's enough ;)
Thanks
Alexandre

[2019-10-04 16:16] msebolt commented on #5793
Closing the issue now, please comment below if there are any questions.

[2019-10-04 16:16] #5793 closed

[2019-10-04 16:16] msebolt commented on #5794
Closing the issue now, please comment below if there are any questions.

[2019-10-04 16:16] #5794 closed

[2019-10-04 16:31] msebolt commented on #5782
@olivierdagenais  See https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/169 referenced above.

The private repo is synced daily with public, so changes should be publicly available now.

[2019-10-04 16:38] shashankbarsin commented on #5808
@dazinator this particular document is an end-to-end walkthrough. Take any repository containing a Dockerfile as the starting point, create a new pipeline, and in the template recommendations choose the template corresponding to building and pushing images to Azure Container Registry. If these steps are followed, the $(imageRepository) and $(dockerRegistryServiceConnection) variables should get au

[2019-10-04 16:38] #5808 closed

[2019-10-04 16:44] msebolt commented on #5774
You should be able to reference them all if you refer to a root folder, such as `/build/*/*.md`.

To use YAML, see [Tasks](https://docs.microsoft.com/azure/devops/pipelines/process/tasks?view=azure-devops&tabs=yaml), though the easiest way is to add the `.yaml` file to your repo and point to it from the Pipelines screen.

![Capture](https://user-images.githubusercontent.com/6675884/66224663-53a9f2

[2019-10-04 16:47] shashankbarsin commented on #5465
Unable to reproduce this issue as I just verified that it works for an Azure Repos repository containing Dockerfile as well.

@lukos I think the multistage pipeline preview feature may not be turned on and that's why the Configure tab is not available. Can you turn on the multistage pipeline preview feature and try again. We do have a note (shown below) suggesting to do so in our documentation as

[2019-10-04 16:47] #5465 closed

[2019-10-04 16:47] msebolt commented on #5792
@torbennehmer Thank you for moving the issue.

I'll assign the author for feedback on default order and whether or not this should be added as a note.

[2019-10-04 16:53] scuba6388 commented on #3363
Still not updated.  Spent a lot of time troubleshooting because of this.

[2019-10-04 16:55] shashankbarsin commented on #5573
@skwasiborski and @yelob we have a feature coming up really soon (around early November) called review apps which lets you create namespaces on the fly for each PR and register them as K8s resources under environments. We are doing this with the intention of allowing the user a way to assess the state of the application in this review environment before merging the PR.

About the request for docum

[2019-10-04 16:56] msebolt commented on #5812
Closing the issue, please comment below if there are any concerns.

[2019-10-04 16:56] #5812 closed

[2019-10-04 17:12] olivierdagenais commented on #5782
Ah, because the other repo is private, no such link is visible to us mortals.

Thanks!

[2019-10-04 17:21] msebolt commented on #5850
@RehanSaeed Thank you for the question.

Unfortunately issues here only involve documentation concerns.

For product feedback or product related issues, please use the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Or for general support requests, try [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops).

[2019-10-04 17:21] #5850 closed

[2019-10-04 17:31] msebolt commented on #5852
@EldarAliev  Thank you for the question.

Each **Backlog** is considered a one of the tools per [Team](https://docs.microsoft.com/azure/devops/organizations/settings/about-teams-and-settings?toc=%2Fazure%2Fdevops%2Fboards%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fboards%2Fbreadcrumb%2Ftoc.json&view=azure-devops#each-team-gets-their-own-set-of-tools), so you will need to create multiple teams.

Also refer

[2019-10-04 17:33] #5844 closed

[2019-10-04 17:51] msebolt commented on #5857
@powerdude  Thank you for the feedback.

Unfortunately changes here are for documentation only.

Please use the [Azure Dev Ops community](https://developercommunity.visualstudio.com/spaces/21/index.html) where your request can be voted on and responded to by the product team.

[2019-10-04 18:06] msebolt commented on #5854
@razidare  Thank you for the question.

It sounds like you're hitting the 10 parallel jobs constraint (see [Azure DevOps pricing](https://azure.microsoft.com/en-us/pricing/details/devops/azure-devops-services/)) in which case the you'll need to purchase additional jobs.

[2019-10-04 18:16] mganeshphani opened #5860 "documentation for how to use service connection in powershell"
I want to write a custom task with powershell that uses the service connection associated with it, how can i do it? can you refer me to respective doc section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90dd0-49f9-4ed4-3010-9a64dde6ae5a
* Version Independent ID: 6e679d50-4e94-eee3-8793-af884cc909ca
* Content: [S

[2019-10-04 18:20] msebolt commented on #5848
**Issue (Translated)**

Links like "Hyperlink" do not work correctly
Together with the "Hyperlink" type, all other links were displayed in the section.
The "Add link" button displays the form for adding links, but the list of types is empty.

@Iloer  Thank you for the feedback.

Unfortunately changes here are for documentation only, please move this issue to **Report a Problem** in the [Azure DevO

[2019-10-04 19:30] brettrowberry commented on #5800
Thanks!

[2019-10-04 19:52] mick-anderson24 opened #5861 "Code Highlighting copy button missing"
I am working on wiki's within Azure DevOps in a tfvc instance.  When i add a code block with the 3 ```  the copy button that is shown in the docs on this page isn't visible.  Is there a bug with this or is it not supposed to show up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
*