[2020-04-27 17:29] devops-brain opened #8104 "AZP_TOKEN is not adequately defined. A list of needed perms is the minimum required to define the variable in a way that is implementable from the docs."
[Enter feedback here]
AZP_TOKEN is not adequately defined.  A list of needed perms is the minimum required to define the variable in a way that is implementable from the docs.

This type of error is prevented by walking through the documentation before releasing, just like Middle Schoolers do for their project before handing it into their teacher.

I more often encounter a documentation that would

[2020-04-27 18:09] Thilas opened #8106 "Clarify how template file paths are resolved"
Could you clarify how path resolution for templates is managed in a more advanced scenario?

[code]

[code]

[code]

In this example, it seems that the variables template path `variables/config.yml` is resolved from the jobs template location `jobs/build.yml`. And indeed, file `jobs/variables/config.yml` does not exist.

But one would expect to have paths resolved from where there are used, here i

[2020-04-27 18:16] #5683 closed

[2020-04-27 18:16] #7469 closed

[2020-04-27 19:36] juliakm commented on #8070
I can see how that would be confusing. Updating now.

[2020-04-27 19:46] juliakm commented on #8070
#sign-off

[2020-04-27 19:48] #8070 closed

[2020-04-27 20:16] clazarr opened #8107 "Prohibit the most recent pusher from approving their own changes"
Under the "Require a minimum number of reviewers" section of this article, it appears to be missing any description of the behavior of the "Prohibit the most recent pusher from approving their own changes" option. Clarification would be helpful especially as this option pertains to any of the sibling options including "Allow requestors to approve their own changes" and "Reset code reviewer votes w

[2020-04-27 20:17] matdug opened #8108 "Type of pipeline variable in expression"
Hi, in the 'counter' expression example a built-in variable 'pipeline' and its startTime property are referenced
 a: $[counter(format('{0:yyyyMMdd}', pipeline.startTime), 100)]
What is the type of 'pipeline' and where is it defined ?  What other built-in objects of the sort, objects that can be readily used in expressions in the same way as pipeline, are available besides the standard predefined v

[2020-04-27 20:18] msebolt commented on #8077
@nbrown02 Thank you for the question.

For information on new features,  please refer to the [features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline) or for feature ideas/concerns try soliciting feedback from the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

If you feel this information is missing or should be added to,

[2020-04-27 20:23] msebolt commented on #8083
@ivorb  Thank you for the question, assigning this to the author for further review.

Please note if this is a missing feature it needs to be filed with the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-04-27 20:25] WilliamAntonRohm commented on #7971
@steved0x -- Steve, please review [private PR 1319](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1319).

[2020-04-27 20:31] matdug commented on #8108
Related to https://github.com/MicrosoftDocs/azure-devops-docs/issues/8014

[2020-04-27 20:33] msebolt commented on #8075
@agrabhi Thank you for the feedback.

Unfortunately your only option is to disable the feature and provide a [custom web hook](https://docs.microsoft.com/azure/devops/service-hooks/services/webhooks) for notifications.

Since this is product-related please consider moving the issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit additional feedback, or let us kn

[2020-04-27 20:35] juliakm commented on #8056
Thanks @LittleBoxOfSunshine! The update will go out shortly.

[2020-04-27 20:35] #2894 closed

[2020-04-27 20:36] ramiMSFT commented on #2894
@BStrat77 Thank you for your feedback. The updated version will go live shortly.

[2020-04-27 20:36] WilliamAntonRohm commented on #7988
@apawast -- Apeksha, please review [private PR 1320](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1320).

[2020-04-27 20:41] WilliamAntonRohm commented on #7993
@KathrynEE -- please review [private PR 1322](https://github.com/MicrosoftDocs/azure-devops-docs/issues/7993).

[2020-04-27 20:48] msebolt commented on #8086
@zhenbang-databricks Thank you for the feedback, we're sorry for the difficulties.

Does this issue apply to an example in the article?  If so, please provide any details below.

With user-specific scenarios, provided support in the documentation forum is limited unfortunately. For additional support options, please refer to:

- [Azure DevOps community](https://developercommunity.visualstudio.com/

[2020-04-27 20:48] WilliamAntonRohm commented on #8031
@juliakm -- Julia, please review [private PR 1323](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1323).

[2020-04-27 20:51] juliakm commented on #8056
#sign-off

[2020-04-27 20:52] #8056 closed

[2020-04-27 20:52] msebolt commented on #8081
@dazinator Thank you for the question, assigning this to the author for further review.

In the meantime, please refer to the following:

- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-04-27 21:07] msebolt commented on #8088
@mehrandvd Thank you for the feedback.

Unfortunately, our support options in this forum are limited to documentation examples only.

For a similar product-related issue, please refer to [this issue](https://developercommunity.visualstudio.com/content/problem/833128/cant-filter-on-parent-in-de-field-criteria-by-plan.html) for comment/vote to see if it can be re-opened for further review.

[2020-04-27 21:23] msebolt commented on #8084
@pabrams Thank you for the feedback and apologies for the issues.

Unfortunately this is an issue for the product team to address, which still uses [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/22/index.html) to solicit feedback and resolutions.

Please refer to a similar issue posted [here](https://developercommunity.visualstudio.com/content/problem/148342/agent-down

[2020-04-27 21:31] qJake opened #8110 "Missing Info about Deleting Branch Restrictions"
The page is missing answers to the following questions:

* When can you not delete a branch?
  * Yours or someone else's?
* If a cross-repo policy affects this branch, and it cannot be deleted, how can an admin get around the policy and still delete the branch?

The error that appears is:

![image](https://user-images.githubusercontent.com/652006/80422910-9d1a9300-88a4-11ea-8d80-85820213cbaf.png)

[2020-04-27 21:37] WilliamAntonRohm commented on #7998
@ivee-tech -- Dan, thank you for clarifying.

@KathrynEE -- Kathryn, please look into this issue.

[2020-04-27 21:42] stewartadam commented on #6740
It's silly to expect everyone to have to use the task assistant just to put together the task.

The documentation here is on the task's **yaml configuration** and should document the **yaml configuration**. If I wanted help using the task assistant I'd just hover over the "(i)" buttons built-in to the UI.

[2020-04-27 21:47] stewartadam commented on #6740
It's silly to expect everyone to have to use the task assistant just to put together the task... The documentation here demonstrates the task's yaml configuration and so should document the yaml configuration syntax.

Why have this page showing the config options if they're left undocumented?

For help with the task assistant, the built-in "(i)" buttons pop-out with relevant help text. This page s

[2020-04-28 00:12] clouddna-au commented on #5685
Any updates on this when using a monorepo?

[2020-04-28 00:37] akempe commented on #8101
I've been tearing my hair out with this exact problem for a few days now. The bad news is that I don't think it's possible because parameters get expanded into their values and validated at compile time - when variables are not "fully" available. I say "fully", because it appears that the location where the variable is defined *may* influence its availability for *some* usage at compile time. Agai

[2020-04-28 02:29] echoesian opened #8111 "Confused"
source codes show Java but title says deploy nginx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf8bb33-e4cf-3dc5-5510-1111b8f1bdbf
* Version Independent ID: 3148d97d-2ff1-30f5-0487-dbfe93888a3f
* Content: [Deploy nginx to a Linux VM - Azure Pipelines](https://docs.microsoft.com/en-in/azure/devops/pipelines/apps/cd/

[2020-04-28 03:02] CharmanderJieniJieni commented on #3596
any update on this?

[2020-04-28 05:18] bmargula commented on #5570
My understanding here is that it's deprecated in favour of DownloadPipelineArtifact. Why do we now get a warning on Azure DevOps to now use the other way again?

"DownloadPipelineArtifact (DownloadPipelineArtifact)

Please use Download Build Artifact task for downloading Build Artifact type artifact. https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-build-artifacts?vie

[2020-04-28 06:37] ninallam commented on #6740
We are working on getting all the task docs updated to have the yaml arguments as well. Thanks for your feedback.

[2020-04-28 06:37] #6740 closed

[2020-04-28 07:44] karooloo opened #8112 "Setup diff code coverage for pull requests."
Hello,

I'm trying to publish differential code coverage for pull requests in repository.
Unfortunately i'm not able to see results, at comment added by: Azure Pipelines Test Service i've got message:
✔️ Diff coverage check succeeded.

Update 56: Coverage for changed lines cannot be determined. Coverage data not found.

So as far as i understand coverage file hasn't been found.

I'm generating .co

[2020-04-28 09:11] aaronleesmu opened #8113 "@myRecentActivity error"
I found an answer via this link here, encounter @myRecentActivity error when opening Azure DevOps in excel.

https://medium.com/objectsharp/azure-devops-work-item-query-macros-ddf45257af3a

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a718268-1105-4def-5f9e-20ea21afc0d7
* Version Independent ID: 0f08fa18-3075-4275-22

[2020-04-28 09:24] narenkv opened #8114 "Provision two agents in the same machine for deployment groups to achieve parallel deployment"
Hello ,

We wanted to know if there is a possibility to host more than one agents in the same machine for deployment groups.

I would like to deploy two web applications to an on-premise server simultaneously/parallely . Is there a possibility to install more than one agent in the same server so that we achieve parallel deployment of applications on a single physical server/vm.

In this case, web1

[2020-04-28 09:25] aelmanaa commented on #5964
yes indeed. I also hardcoded the parameters values

[2020-04-28 09:54] jwermuth commented on #7116
I have posted a couple of related issues

https://developercommunity.visualstudio.com/content/problem/1005991/checkout-fails-with-an-error-occurred-while-loadin.html

https://developercommunity.visualstudio.com/content/problem/1009708/checkout-syntax-for-resource-section-and-inline-is.html

Perhap something usefull will show up in one of those

[2020-04-28 09:57] szymon3 commented on #7980
I have the same issue.

[2020-04-28 11:29] cubikca commented on #8101
Yes, you can try something like:

[code]

This will template the steps within job.yml setting the IsPr parameter to the value of the build variable IsPr.

[2020-04-28 12:34] VerdonTrigance opened #8117 "Still complicated"
Hello guys. I read this page and still can not understand timing of all transformations with variables. Could you draw a diagram like ASP Net control lifecycle so everyone could understand when template is unwrap, when runtime variables take place, when ordinary variables begin to works and most important how it all ties together?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-04-28 12:41] BuddyJoker opened #8118 "Should I use resources in the defined template?"
I've seen the official docs about [template](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#use-other-repositories)
And I wanna define a template like this:

**build-test.yml**
[code]
then the **pipeline-build.yml** is:
[code]
but it does not work when i run this pipeline,the error is:

so how can i create a template include resources or have another wa

[2020-04-28 13:55] VerdonTrigance commented on #7802
And... nothing? 25 days passed, but no any activities? Why did you close this issue? Problem is still here.

[2020-04-28 14:44] VerdonTrigance opened #8119 "VSBuild task ignores DacApplicationName and SqlTargetName properties"
I have sqlproj with DacApplicationName and SqlTargetName set up to "CDB_Acquiring". But VSBuild task ignore it and use project name as output for .dacpac:

[code]

My task is:

[code]

As you can see there is clean: true, but even with clean this doesn't work. I spent huge amount of time for determine the reason, but without success.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-04-28 15:08] akempe commented on #8101
@cubikca please can you provide a full example showing your variable declarations and assignment as this doesn’t work for me.

[2020-04-28 15:24] cubikca commented on #8101
Yes it seems you are correct. I was thinking of a multi-stage deployment where the stages were selected:

[code]

And then in deploy-stage.yml:

[code]

This general idea seems to be very flexible. But you are right that the syntax provided does not work because the templating engine runs before build variable replacement. I believe the syntax `${{ variables.IsPr }}` might work here because the va

[2020-04-28 15:33] msebolt commented on #8102
@jeffpatton1971 Thank you for the feedback.

This is an issue for the samples repo, please move this [here](https://github.com/microsoft/azure-devops-dotnet-samples/issues) for further feedback.

@chcomley

[2020-04-28 15:39] msebolt commented on #8100
@JimSuplizio Thank you for the question.

The product team is still working on its release, please vote and/or add comments [here](https://developercommunity.visualstudio.com/idea/552892/please-support-java-12-in-maven-tasks-of-azure-pip.html) to solicit additional feedback.

[2020-04-28 15:40] Ahetejaz opened #8120 "One needs to be Project collection Administrator to achieve this."
The article nowhere says about the access one needs to have to achieve what mentioned in the article. One needs to have Project collection admin to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f5446e-0797-3aa1-6503-1fcc08f906ed
* Version Independent ID: e059f72e-3b00-e5d1-3401-ba47240117d1
* Content:

[2020-04-28 16:00] jeffpatton1971 commented on #8102
Pretty sure it's an issue for you, that entire repository changed names, and it appears that the code there is ONLY for the public dotnet libraries.

https://github.com/Microsoft/vsts-restapi-samplecode

became

https://github.com/microsoft/azure-devops-dotnet-samples

[2020-04-28 16:06] ramiMSFT commented on #7674
@jkoplo Thank you for your feedback. I 'm glad you found the answer on our Azure DevOps developer community. I'm adding the notes to this issue for future reference.

- All new feeds are recommended to be project-scoped. Creating a new feed through the create feed panel will create a project-scoped feed.

- You can use the [Create Feed API](https://docs.microsoft.com/en-us/rest/api/azure/devops/ar

[2020-04-28 16:06] #7674 closed

[2020-04-28 16:29] msebolt commented on #8102
I'll assign this to the author for further review.

In the meantime, please refer to the [REST API](https://docs.microsoft.com/rest/api/azure/devops) with corresponding [auth sample](https://github.com/microsoft/azure-devops-auth-samples/tree/master/ClientLibraryConsoleAppSample).

[2020-04-28 16:42] msebolt commented on #8098
@dazinator Thank you for the question.

According to the [reference](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureWebAppContainerV1) `appSettings` are provided for your application on startup and `configurationSettings` are used for the task container.

I can assign this to the author for further confirmation and to clarify this information to the article.

[2020-04-28 16:45] samaneh-kamalian commented on #4151
Hi. I follow all steps but when run, return Error: unable to verify the first certificate
I upload my self sign certificate and create my keystore file with this command:
keytool -genkeypair -v -keystore my-upload-key.keystore -alias my-key-alias -keyalg RSA -keysize 2048 -validity 10000

what does this error mean?

[2020-04-28 16:46] VerdonTrigance commented on #6533
For those who is looking for way to use another repo in template file in case like I provided before I found solution:

Inside my commonly used template I just checked out repo directly without defining repo:
[code]

[2020-04-28 16:50] msebolt commented on #8097
@dombat  Thank you for the feedback, assigning this to the author for review.

Please refer to the [nuget CLI](https://docs.microsoft.com/nuget/consume-packages/install-use-packages-nuget-cli) for ways on automating this process.

[2020-04-28 16:53] FilBot3 opened #8121 "Git Repo with standard Service Connection templates in JSON?"
Is it possible for Azure DevOps to provide their standard, default JSON Templates for the Service Endpoints in a Git repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 209081c3-76a3-562e-3479-e6b63b7ec2c7
* Version Independent ID: c0be31ee-9568-cddd-2ee4-af196aa318d8
* Content: [Create Service Endpoint using Azure De

[2020-04-28 16:57] ramiMSFT commented on #7061
@DrGriff Thank you for your feedback. `days to keep recently downloaded packages` allow you to effectively manage your packages and artifacts storage. Example: if you set `days to keep recently downloaded packages` to 10, this means that any package that hasn't been downloaded in 10 days will be deleted automatically.
For `recovering deleted packages` section: the recycle bin will show you any pac

[2020-04-28 16:57] #7061 closed

[2020-04-28 17:18] jeffpatton1971 commented on #8102
@msebolt thanks, was really looking for some samples of working with build definitions. But I'm not finding any C# samples for anything more than auth.

[2020-04-28 17:25] bartduncan opened #8122 "No docs on additionalCodeCoverageFiles input"
Documentation of the additionalCodeCoverageFiles optional input is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ac4ff4-9839-6a6d-8d20-a25084d221ef
* Version Independent ID: bd09f139-8e69-8ea1-6671-b7bba8e17c23
* Content: [Publish Code Coverage Results task - Azure Pipelines](https://docs.microsoft.com/en-us

[2020-04-28 17:45] chcomley commented on #8120
Thanks for your feedback, @Ahetejaz. I've just published an update, adding the prerequisite, which should be live shortly. Thanks again!

[2020-04-28 17:48] #8120 closed

[2020-04-28 17:51] dazinator commented on #8098
@msebolt - thanks, that's confused me a little more - the ms docs page I created this issue form refers to `configurationStrings` as the argument, and you've now referenced a page that shows `configurationSettings` not `configurationStrings`..

Yes if this can be clarified that would be great, thank you.

[2020-04-28 18:04] mjwoodsphx opened #8123 "Pipeline Events in Azure DevOps Server 2019"
Since Pipelines using YAML are now in Azure DevOps Server 2019, are the pipeline events valid in 2019 as well?  Are the lists of events between 2019 and Services current to the products?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913

[2020-04-28 18:13] WilliamAntonRohm commented on #8011
@KathrynEE -- please review [private PR 1331](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1331).

[2020-04-28 18:23] #7971 closed

[2020-04-28 18:45] #7993 closed

[2020-04-28 18:45] #8011 closed

[2020-04-28 18:51] #8031 closed

[2020-04-28 18:51] Mikilll94 opened #8124 "Explain what happens what the stage/job is skipped"
There is no information about how the `conditions` and `dependsOn` work when a stage/job is skipped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Content: [Conditions - Azure Pipelines](https://docs.microsoft.com/en-

[2020-04-28 18:55] #6463 closed

[2020-04-28 18:56] ovidiubuligan commented on #4241
@jwikman  I was in the same boat with the feeling that we need this in a simpler way, but after trying it it ofers quite some advantages  over traditional way like jenkins. For example i you have 7 pipelines that all need to manually deploy when they reach production.  When something breaks in production (or any environment ) you will now go to environments and look at the a chronological deployme

[2020-04-28 18:58] liusu119 opened #8125 "Availability of queue time variable and run time parameter"
This document doesn't explain clearly when is queue time variable available for evaluation, it only given an example saying it's not in step 1. Run time parameter is not mentioned at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db159e68-9b01-0d29-c664-f3ee9a2012d6
* Version Independent ID: c42f292a-d7cb-ec3f-43d

[2020-04-28 19:02] seanprince commented on #4714
Thanks to @Zenexer for pointing out the deficiencies in the feedRestore documentation. Though I found that I had to specify the feed id for feedRestore, not the organization (as suggested by Zenexer's example) to get this to work.

[2020-04-28 19:23] FilBot3 commented on #7816
Yeah, that bot doesn't really help much with kinds of questions.

[2020-04-28 19:46] akempe commented on #8101
This is why I cry... it is exactly what pipelines should be making easy!

And this is **exactly** where there is a total lack of clarity and consistency across all the docs. Each doc references a slightly different variable syntax and never includes details about how the variable was declared/set - which from experimentation **is critical**. There isn't clear documentation of scope. What worries m

[2020-04-28 19:51] danhellem commented on #5685
Sorry, no current plans to invest in the deployments control in 2020.

[2020-04-28 19:51] #5685 closed

[2020-04-28 20:33] nbrown02 commented on #8077
Should all the Odata references in the documentation be changed to have v4.0preview rather than 3.0 ?

[2020-04-28 20:38] ashokirla commented on #7787
@seanjmalone I am not able to reproduce this issue. Can you share the YAML snippet with resource triggers. And do you have any other resources added in YAML. Also, can you try enclosing the CI pipeline with spaces in quotes and try it.

[2020-04-28 20:40] JimSuplizio commented on #8100
Thanks @msebolt for referring me to the correct place. I guess we can close this out.

[2020-04-28 20:40] #8100 closed

[2020-04-28 20:57] AArnott commented on #4241
I'm trying to adopt this now. But the docs are making it very difficult. I can't find a single example of the entire YAML structure from top of file to this approval-required environment including steps, etc. I'm left guessing how it fits, and I keep getting AzP rejecting my YAML for schema reasons.

[2020-04-28 21:02] msebolt commented on #8100
@JimSuplizio Sure, no problem.

If you feel there are concerns with the documentation to address please comment below.

[2020-04-28 21:13] seanjmalone commented on #7787
@ashokirla we no longer have pipeline names with whitespace and our pipeline triggers are running fine, although I believe at the time we had two, with `resources` sections like:
[code]
And:
[code]
I was seeing the one with a space not triggering, although it had also been recently created. Could it be possible that there is sometimes a delay between the YAML file being updated to add the trigger,

[2020-04-28 21:19] #7900 closed

[2020-04-28 21:20] WilliamAntonRohm commented on #7909
@Samboy1990 -- please clarify your title change, and add a link in a comment for the docs.microsoft.com topic you're reading.

[2020-04-28 21:48] AArnott commented on #4241
I've figured out the structure. But I'm still losing functionality by switching to YAML-based release pipelines.
With regular release pipelines, I got 'opt-in' deployment, but I also had auto-triggers where a tagged build could deploy automatically to the environment, and without the tag I could still deploy manually. I don't _think_ I can achieve that using environments with manual approval, as t

[2020-04-28 23:32] Chibuikekenneth commented on #8074
Making a PR for this issue right away.

[2020-04-28 23:35] cpdohert commented on #5212
I've tried babelshift's suggestion (also specifying the --source and --api-key paramaters) but the task simply throws a failure to authenticate exception.

`warn : The plugin credential provider could not acquire credentials. Authentication may require manual action. Consider re-running the command with --interactive for `dotnet`, /p:NuGetInteractive="true" for MSBuild or removing the -NonInteract

[2020-04-29 00:24] annajanicka commented on #7665
Hi all,
I was able to add a scale set agent around 2 weeks ago, but this option is not available for me anymore. I would like to add another one, but just can't. Is sending an email to this contact still an option?
Thanks in advance for any advice.

[2020-04-29 00:32] doctorlard opened #8127 "Pipelines Agent, Windows SSL certificate management"
Why does the Windows build of the Azure Pipelines Agent, which runs on Windows, not use the official Windows build of git, which includes the option in the installer to use the Windows SSL Certificate store, instead of a port of the OpenSSL store? For organistations that have a bunch of internal services set up and CA certs installed with Group Policy, this would make a lot more sense.

---
#### D

[2020-04-29 01:14] vanderby opened #8129 "Duplicate Cron Syntax In "Supported cron syntax""
0 18 * * Mon,Wed,Fri is listed twice in the following example:

Build every Monday, Wednesday, and Friday at 6:00 PM	0 18 * * Mon,Wed,Fri, 0 18 * * 1,3,5, 0 18 * * Mon,Wed,Fri, or 0 18 * * 1-5/2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ea2c851-bd1e-cddc-b4d0-e9f4112b8565
* Version Independent ID: 07c23fdd-14b5-9

[2020-04-29 02:09] WilliamAntonRohm commented on #8118
Thanks for your question. It looks like you're working through an issue with your scenario or implementation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-04-29 02:09] #8118 closed

[2020-04-29 02:36] WilliamAntonRohm commented on #8129
@steved0x -- Steve, please review [private PR 1340](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1340).

[2020-04-29 02:50] cconrado commented on #7236
any update on this?

[2020-04-29 03:25] Samboy1990 opened #8130 "@Samboy1990 -- please clarify your title change, and add a link in a comment for the docs.microsoft.com topic you're reading."
@Samboy1990 -- please clarify your title change, and add a link in a comment for the docs.microsoft.com topic you're reading.

_Originally posted by @WilliamAntonRohm in https://github.com/MicrosoftDocs/azure-devops-docs/issues/7909#issuecomment-620861634_

[2020-04-29 06:56] MortenSL commented on #7288
This one had me thrown off for a while as well :-) Anyone figured out a workaround yet?

[2020-04-29 07:47] tmahncke-lhind opened #8131 "Required and optional arguments"
From the documentation above I find it very hard to understand which arguments must be provided and which don't. Do I have to give a value in my pipeline that is required but has a default value? If not, what is the difference between a required value with default false and an optional value with default false?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-04-29 08:13] Akshayalg opened #8132 "how to restrict assigning of work items only to members of the Project"

[2020-04-29 08:15] Akshayalg opened #8133 "How to restrict work items assignment to only members of the project?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2020-04-29 08:18] zynga7 opened #8134 "How to restrict work items assignment to only members of the project?"
How to restrict work items assignment to only members of the project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a197bf55-89c7-682d-bb1c-e82bec732349
* Version Independent ID: 5aa2afac-cb82-3f72-643c-25a0173cce98
* Content: [Using work items to track user stories, & more - Azure Boards and TFS](https://docs.microso

[2020-04-29 08:59] angiridhar opened #8135 "How import a new Work item which has discussion"
If we want to add discussion items during import, is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4296d1cc-f211-9d17-d97f-2b0858fdea7d
* Version Independent ID: cc66dfee-adde-cdfb-b3f5-5d58d89d3c81
* Content: [Import or update work items from a CSV file - Azure Boards](https://docs.microsoft.com/en-us/az

[2020-04-29 09:06] VerdonTrigance opened #8136 "Checkout path clarify"
As we see in doc:

This mean 'name' property of repository?

[code]
 or repository name itselft?

[code]

So after next step:

[code]

I would use it like this:

[code]

or this?

[code]

PS: Actually I tried both and it doesn't work both:

[code]

Checkout debug log does not tell where it checked out. Every time I using yaml I think 'what the hell is going on?'. I forced to spent on DevOps action

[2020-04-29 09:29] solomson opened #8137 "Inaccurate information regarding adding users to organization."
From the prerequisites section:

[code]

I've found this to not be true / not exact

Project Admins can invite users in the same Active Directory tenant and assign them (default) stakeholder access. They are then part of the organization as far as I am concerned.

Is there a way to turn this off? I want project admins to be able to assign users to the project ONLY IF the users are already part of

[2020-04-29 09:50] DotNetWebAppDeveloper commented on #3702
We are trying to reference a variable group dynamically with if condition. We get a error message
![image](https://user-images.githubusercontent.com/19928575/80582521-277f0600-8a0f-11ea-8641-c120f9ac25f9.png)
**Error message:**
![image](https://user-images.githubusercontent.com/19928575/80582533-2e0d7d80-8a0f-11ea-96af-cfb2bf4a0194.png)
There are other new syntax on Azure-DevOps?

[2020-04-29 10:01] VerdonTrigance commented on #8119
Problem was with .sqlproj file that missed DacApplicationName and SqlTargetName properties for 'Release' configuration. I had to set up this manually for both configs.

[2020-04-29 10:01] #8119 closed

[2020-04-29 10:35] michwii commented on #3702
Try the post I have written below :

Don't worry about the syntax error highlighting, I also have it in my editor.

Wish it will help you :)

[2020-04-29 10:41] arcotek-ltd opened #8138 "Need detailed explanations on executing file path scripts"
The error on the "hosted" agent is: ##[warning]Executable bit is not set on target script, sourcing instead of executing. More info at https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/bashnote.md

However, that link is not very informative, and telling people to leave well-alone if they don't understand, is not really a satisfactory answer.

Even when the "execution bit" _is_ se

[2020-04-29 10:42] arcotek-ltd commented on #8138
Wrong page.

[2020-04-29 10:42] #8138 closed

[2020-04-29 10:44] arcotek-ltd opened #8139 "Need details on how to handle execution bit on .sh scripts"
The warning on a "hosted" Windows agent is:
`##[warning]Executable bit is not set on target script, sourcing instead of executing. More info at https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/bashnote.md`

However, that link is not very informative, and telling people to leave well-alone if they don't understand, is not really a satisfactory answer.

Even when the "execution bi

[2020-04-29 10:59] DotNetWebAppDeveloper commented on #3702
**It works**
Thanks

[2020-04-29 11:08] GuuBu commented on #4206
I get similar problem, by run /AzurePipelines run, I get "
 Azure Pipelines could not run because the pipeline triggers exclude this branch/path."
Then I tried /azp run slow-pipeline, then it gives "No pipelines are associated with this pull request". But after that, a pipeline actually get run, and I do include the branch. But I keep get the same message when run /azurePipelines run, while a pipe

[2020-04-29 11:12] brunomartinspro commented on #8106
We really need more clarification, the purpose of templates is that we can reuse it anywhere and it doesn't seem the case.

Example of folder structures:

-- Build
---- Provision.yml
-- Deploy
---- CD.yml
-- Templates
---- GitVersion.yml

I would be my expectation that the Provision.yml would be able to use the template GitVersion.yml, how does this work?

[2020-04-29 11:25] Barsonax commented on #5700
After thinking about evenly spreading the load over multiple frames I agree with Adam that this probably should be a separate system.

I think the flexibility that coroutines give you in defining wait conditions makes it really complex/impossible to implement this properly so its not really suited.

[2020-04-29 11:29] awarberg opened #8141 "How can I grant feed permission to a service principal?"
We are using Universal Packages and are trying to download artifacts on a Universal Package feed. In the script, we are using the Azure CLI to login as a Service Principal. How do we grant the Service Principal permission to the feed?

Script snippets:
`az login --service-principal --username <username> --password <password> --tenant <tenant>`
`az artifacts universal download ...` # Permission den

[2020-04-29 11:39] Thilas commented on #8106
@brunomartinspro, you can use `GitVersion.yml` from `Provision.yml` with a relative path: `- template: ../Templates/GitVersion.yml`. At least in this scenario, I know it works.

[2020-04-29 12:42] vtbassmatt commented on #8139
Good find. This is a product bug, not a doc bug, so I will move it to the agent repo.

/move to microsoft/azure-pipelines-agent

[2020-04-29 12:43] #8139 closed

[2020-04-29 13:09] arcotek-ltd commented on #8139
Thank you, but don't you think a "note" in the doc would be useful to make sure people do assign the "execution bit"?

[2020-04-29 13:17] vtbassmatt commented on #8139
Sure, I can add that. The bigger issue is the bug, though, and the easiest way to get that fixed was to use the Movebot command.

[2020-04-29 13:17] sameer-kumar commented on #8095
I agree, more guidance is needed with examples around [Managing Deployments](https://docs.microsoft.com/en-us/azure/devops/repos/git/git-branching-guidance?view=azure-devops#manage-deployments) and how they are associated with release and master branch?

[2020-04-29 13:56] Simonsoulie commented on #7727
Hello @ashokirla

[2020-04-29 14:14] michaellihs opened #8143 "Conditionally skip a stage / job with a manual approval"
For our Terraform Deployment, we use an Azure DevOps pipeline that has 3 stages:

1. plan
2. apply (manual approval)
3. test

For the apply stage we use a deployment job with an environment that has a manual approval (check). What we would like to have is "skipping" the apply and test stage, if the plan stage has shows no changes. Therefore we try to use the following yaml configuration for the ap

[2020-04-29 14:48] IeuanWalker commented on #7503
@WilliamAntonRohm Any updates on this?

[2020-04-29 14:52] VerdonTrigance commented on #8136
I found the reason.
There were such words:

Because of them I was 100% sure that I should follow "Multiple repositories" rules such as I previously checked out two more repositories in previous Job. But no! All these 'rules' about single and multiple repositories applies only in **Job scope**.

@steved0x I think you should mention this in doc, because this will help other to save many hours!

[2020-04-29 15:00] StavroulaSsi opened #8144 "Where is the 17.153.29605.3 version?"
This is maybe not the right place to ask, but I will try anyway. I wanted to run the migration tool. The currently available migration tool is for version 17.153.29605.3. We are actually still in version 17.153.29522.3. I am not able to run the migrator, probably because this version is wrong or does not exist yet. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-29 15:02] rroman81 commented on #5921
I looked at the relevant page and there still seems to be no way to unpublish a revision/version of the Wiki.  Is that still in the plans?

[2020-04-29 15:08] tarabishy2020 opened #8145 "Only registering the repository does not work!"
The "Connecting to the feed as a PowerShell repo" part did not work for me.

I do manage to see the packages in the feed after registering the repository, but installing any of them fails.
Only by adding this step, installing the modules works
[code]
Prior to that I kept getting this error whenever I try
[code]
[code]
When I added -verbose -debug to the installation, I noticed it was actually mana

[2020-04-29 15:08] jonstelly opened #8146 "Cache Task Instructions - Value cannot be null. Parameter name: securityNamespace"
Following instructions on this page on a multi-stage build, I got the error `Value cannot be null. Parameter name: securityNamespace` on the build.  I found this issue: https://github.com/microsoft/azure-pipelines-tasks/issues/11291 and added a `securityNamespace: cache` input for the cache tasks and everything worked as expected.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-04-29 15:50] david-77 commented on #7503
I resolved this using Yaml pipeline configuration.
I created a two stage pipeline, the first one for the build, and the second one for deploy.
In this second stage, I specify the value i want for the property "environment".
Here's a the beginning of this stage (indentation not respected) :

_\- stage: Deploy
  \-  jobs:
    # track deployments on the environment
  \- deployment: DeployWeb
    pool

[2020-04-29 15:55] slbentley commented on #6756
@WilliamAntonRohm, looks like there are a number of us, me included, looking for documentation on calling these APIs from a service account. Rather than redirecting us elsewhere, do you have any comment on additional samples to do what we're looking to do?

[2020-04-29 16:03] chcomley commented on #5921
Hi @rroman81, I've followed up with the product group and will get back to you soon. Thanks

[2020-04-29 16:10] chcomley commented on #8102
Hi @jeffpatton1971, I've followed up with the product group and will be in touch soon. Thanks and I hope you have a great day!

[2020-04-29 16:30] jackiems82 commented on #7288
I used a build Pipeline that is connected with the feed. That has no problems publishing my package. If course your scenario may vary. I still have that problem when I want to install new packages via npm install. Need to use a token inside the project .npmrc for that to work..

[2020-04-29 16:48] chcomley commented on #8043
Hi @edwinludik, I've just followed up with the product group and will be in touch soon. Thanks and have a wonderful day!

[2020-04-29 16:56] pdesantis commented on #8101
Were you able to get it to work? I'm trying to set a parameter based off a variable like so:

variables:
  - name: needsManualApproval
     value: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

(then later in one of my jobs):
- template: deploy.yml
  parameters:
    deploy: ${{ eq(variables.needsManualApproval, false) }}

[2020-04-29 17:00] WilliamAntonRohm commented on #8080
Thanks for your question. It looks like you're working through an issue with your scenario or implementation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-04-29 17:00] #8080 closed

[2020-04-29 17:00] WilliamAntonRohm commented on #8099
Thanks for your question. It looks like you're working through an issue with your scenario or implementation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-04-29 17:00] #8099 closed

[2020-04-29 17:05] WilliamAntonRohm commented on #8104
@devops-brain -- thank you for your feedback.  You can submit issues related to your overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

@steved0x -- please look into the documentation for AZP_TOKEN.

[2020-04-29 17:10] WilliamAntonRohm commented on #8107
@clazarr -- Chuck, thank you for your questions.  Here are a couple of options where you might consider asking them:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@apawast -- Apeksha, please look into this issue.

[2020-04-29 17:13] WilliamAntonRohm commented on #8112
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-04-29 17:13] #8112 closed

[2020-04-29 17:14] WilliamAntonRohm commented on #8114
@narenkv -- Naren, thank you for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/ques

[2020-04-29 17:14] #8114 closed

[2020-04-29 17:19] WilliamAntonRohm commented on #8110
@qJake -- Jake, thank you for your questions. Here are a couple of options you might consider:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@apawast -- Apeksha, please look into this issue.

[2020-04-29 17:43] WilliamAntonRohm commented on #8121
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

cc @KathrynEE for awareness

[2020-04-29 17:43] #8121 closed

[2020-04-29 17:57] juliakm commented on #8117
@VerdonTrigance We'll take a look at adding a chart. In the meantime, the [Pipeline run sequence article](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runs?view=azure-devops#process-the-pipeline) may be helpful.

[2020-04-29 18:18] AceHack commented on #7743
What does the new way look like?

[2020-04-29 19:02] WilliamAntonRohm commented on #6756
@borys86, @mboutet, @paulnuk, @TerenceSansom, @slbentley -- thank you for clarifying.

@chcomley -- please look into this issue.

[2020-04-29 19:16] KathrynEE commented on #6595
@NenoLoje - Thank you for the suggestion. I'm updating the article to version the section to TFS 2015 and earlier. I'll also look at versioning it's mention in other articles. Thanks.

[2020-04-29 19:16] #6595 closed

[2020-04-29 19:27] WilliamAntonRohm commented on #8108
@matdug -- thank you for your question. Here are a couple of options you might consider:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm -- please look into this issue.

[2020-04-29 19:41] KathrynEE commented on #8113
@aaronleesmu - Thank you for this feedback. I'll update the article to reflect the usage of certain macros only working in the web portal.

[2020-04-29 19:41] #8113 closed

[2020-04-29 19:47] KathrynEE commented on #8026
@danavbaldwin - Thank you for the feedback. I'll do as you suggest and move towards the top of the article.

[2020-04-29 19:47] #8026 closed

[2020-04-29 19:50] KathrynEE commented on #7934
@seanwhitepc - Thank you for the feedback.  I'll update the article to point to the instructions provided here: [Install SQL Server Reporting Services](https://docs.microsoft.com/en-us/sql/reporting-services/install-windows/install-reporting-services?view=sql-server-2017) article.

[2020-04-29 19:50] #7934 closed

[2020-04-29 19:56] lamebrain commented on #7924
@bharney0 I think this is to remain open. Is that correct, @WilliamAntonRohm?

[2020-04-29 19:57] lamebrain commented on #7924
Woops, page was stale when I last commented. Pls ignore.

[2020-04-29 20:32] chcomley commented on #8137
Hi @solomson, Thanks for your feedback. I'm following up with the product group and will be in touch. Thanks again!

[2020-04-29 21:16] KathrynEE commented on #5863
@shawnhernan, @martinessiet - Thank you for this feedback. I've left this issue opened for as long as I have as I wasn't sure how to address it. I agree the PDF is of no use as it doesn't provide support for versioned content and instead includes all content for all versions. This is a known issue which is being investigated. Also, the problem with consistent terminology is being addressed and we

[2020-04-29 21:16] #5863 closed

[2020-04-29 21:22] tsaibabu4u opened #8147 "Is it possible to get runtime parameters from rest api ?"
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runtime-parameters?view=azure-devops&tabs=script

I dont see an example get parameters from a rest api or a script to populate. can we do that ?

Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL

[2020-04-29 21:38] WilliamAntonRohm commented on #8127
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-04-29 21:38] #8127 closed

[2020-04-29 21:39] WilliamAntonRohm commented on #7909
@Samboy1990 -- please leave this information in a comment in this issue.

[2020-04-29 21:40] WilliamAntonRohm commented on #8130
duplicate of #7909

[2020-04-29 21:40] #8130 closed

[2020-04-29 21:42] steved0x commented on #8136
@VerdonTrigance Thank you for your feedback, I am reopening this one to track making the update that you suggested.

[2020-04-29 21:43] WilliamAntonRohm commented on #8132
duplicate of #8134

[2020-04-29 21:43] #8132 closed

[2020-04-29 21:44] WilliamAntonRohm commented on #8133
duplicate of #8134

[2020-04-29 21:44] #8133 closed

[2020-04-29 21:56] cpdohert commented on #7105
Then the documentation needs to be changed to indicate that this Task will only run on Windows if you are using a Microsoft-hosted Windows agent.

[2020-04-29 22:13] paulnuk commented on #6756
From what I've read (and I've done a lot of reading on this) there's actually no support for calling these APIs from a service principal, which is somewhat surprising to say the least. As it stands you have to get the user to authorise your app to use the selected scopes, and get a refresh token via the code that gets given after the user grants the authorisation. Then you have to store each user'

[2020-04-29 22:58] WilliamAntonRohm commented on #6756
@paulnuk -- thanks for your feedback.  You are welcome to [put in your request here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2020-04-29 22:59] tsaibabu4u opened #8148 "is there any way we can setup round robin fashion to choose agent pool instances ?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2020-04-30 03:27] yanlinsun commented on #4445
I ran into exactly the same issue. The root reason is that, if you check the task folder in the agent machine which runs your task, there is no 'node_modules' folder under the task folder. At first, I thought it was due to some errors in my extension; but, after hours of investigation, it is simply that the agent will not automatically install the required modules, it is expecting your task folder

[2020-04-30 03:48] norman-v opened #8149 "After creating the VMSS and the agent pool, no agents appear even if VM instances are created, online, and healthy"
Any troubleshooting tips/documentation for when this happens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2476ab-d8db-bd41-689c-8d3b7c4a16d8
* Version Independent ID: 6d2e5dd0-8678-d850-a1f3-f664a653bac3
* Content: [Azure virtual machine scale set agents - Azure Pipelines](https://docs.microsoft.com/en-us/azure/de

[2020-04-30 04:11] kevinheins opened #8150 "Cannot add ScaleSet from an Azure US Government service connection"
I have a properly configured and validated service connection (via service principal) to an Azure US Government subscription. When I try to Add the Agent Pool I get an error when trying to select the Virtual Machine Scale Set from the dropdown menu "The subscription 'REDACTED' could not be found."

![image](https://user-images.githubusercontent.com/6421447/80671260-54670380-8a77-11ea-8979-869938f2

[2020-04-30 04:47] chrisahunter commented on #7214
I agree the Samples are great. It took a long time to work through all of them. The one I really need is the final one, which also happens to reference "State Change Count - First Completed", which was not covered. William's reply above was completely useless. I followed both links searching for an answer and nada. He may as well have said "Google it". Does Microsoft have anyone actually QA these

[2020-04-30 05:52] akempe commented on #8101
@pdesantis nope, and I’m pretty sure it’s impossible with the current parameter functionality offered by pipelines. I gave up using parameters entirely in favour of variables. Unless someone from MS provides a concrete working example, I wouldn’t waste more time on this.

[2020-04-30 05:59] akempe commented on #8117
Please also detail parameter lifetime in relation to the variable lifetime in this chart to help #8101

[2020-04-30 06:26] akempe commented on #8117
@juliakm that page is good, and the diagrams helpful, but we are hitting too many edge cases where variables/parameters don’t behave/aren’t available as expected.

Please consider these contexts:

- variables defined outside the yaml (secrets and overridable ones - notably in case of cli triggering)
- variables defined within the yaml, but at different points
  - top level scope
  - stage/job/etc

[2020-04-30 07:03] soutchilin commented on #6591
Hi @chcomley , any updates in planning of this feature?

[2020-04-30 07:39] VerdonTrigance opened #8152 "Reason for using outputs | resources clean option?"
Hi everyone, in this page we have:

But previously I asked about re-using items between jobs and got answer - it's not possible.
https://github.com/MicrosoftDocs/azure-devops-docs/issues/7360#event-3216065356

As so what the reason for not cleaning "all" workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67504b3

[2020-04-30 07:49] annajanicka opened #8153 "CD pipeline job is waiting forever while VS scale set instances are in "Running" state"
Hello,
I've created a new Azure VS scale set and a new Agent Pool in DevOps. I selected this new Agent Pool in my CD pipeline. The problem is my job is forever in state

I have two instances of VM scale set in "Running" state.
One of these instances has thrown an error, but its state is still "Running":

DevOps settings:

- Maximum number of virtual machines in the scale set - 2
- Number of agents

[2020-04-30 07:51] ovidiubuligan commented on #4241
@AArnott is there a separate issue with the conditional manual approval missing possibility ? (I want to watch it)

[2020-04-30 09:04] srikcgaa2 opened #8154 "Download multiple secure files"
We have a requirement where we need to replace a list of files during a production build. These would contain production URLs and production keys which should not be checked into repository for security purposes and so these files should be stored in SecureFiles.  Since DownloadSecureFile is a pipeline task taking a single filename, it is not possible to include this in a loop, for example, from a

[2020-04-30 13:55] brunomartinspro commented on #6715
Any changes on this?

[2020-04-30 14:03] danhellem commented on #7306
@StingyJack I don't know all the characters that need to be escaped. But you could certainly start with the standards like ' and slashes. If you get stuck ping me on Teams.

[2020-04-30 14:03] #7306 closed

[2020-04-30 14:12] danhellem commented on #6467
@StingyJack good catch. I believe 100 is the limit. We will work with docs and engineering to get the limits updated in the docs accordingly

[2020-04-30 14:30] RichardMeadowsTC commented on #6715
No change yet.  Microsoft thinks people don’t need Org scoped feeds still.  Last time I checked, the documentation for using REST api to create a feed makes no mention of Org scoped feed.  Possible to do.  But you have to know about not including the Project name in REST url.

Richard Meadows

From: Bruno Martins<mailto:notifications@github.com>
Sent: Thursday, April 30, 2020 6:55 AM
To: Microsoft

[2020-04-30 14:55] VerdonTrigance opened #8155 "Preventing to get Error NU5012"
Hi everyone.
I have successful build after which I place NuGet pack, but I get Error NU5012 for reason I don't understand. Please help me out.

Here is NuGet task log output:

[code]

And here is my task:

[code]

I understand that it might be related to nuget.exe directly, but anyway it related to NuGet task indirectly itself such as "it may be require some additional parameter to build such case

[2020-04-30 15:07] ramiMSFT commented on #6715
@RichardMeadowsTC Thank you for your feedback. Creating a new organization-scoped feeds through the UI is not supported.

- All new feeds are recommended to be project-scoped. Creating a new feed through the create feed panel will create a project-scoped feed.

- You can use the [Create Feed API](https://docs.microsoft.com/en-us/rest/api/azure/devops/artifacts/feed%20%20management/create%20feed?vi

[2020-04-30 15:07] #6715 closed

[2020-04-30 15:16] brunomartinspro commented on #6715
@ramiMSFT can someone the  explain it to me how are we going to share microservices artifacts if sharing artifacts between projects is not recommended?

Example:

Architecture Project

Project A
Repository A
Repository B

Project B
Repository C uses Architecture Artifacts
Repository D uses ProjectA Artifacts

Furthermore there is the issue of the package replacement settings not having a “allow pa

[2020-04-30 16:37] WilliamAntonRohm commented on #7214
@chrisahunter -- thank you for your feedback.

@thomps23 -- please look into this issue.

[2020-04-30 17:26] WilliamAntonRohm commented on #8135
@angiridhar -- thank you for your question. Here are a couple of options where you might consider asking it:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-04-30 17:26] #8135 closed

[2020-04-30 17:37] msebolt commented on #8143
@michaellihs Thank you for the question.

Unfortunately at this time we can only provide support for documentation examples only.

Moving forward you will need to either provide an article example to be fixed/improved, or submit this as an issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

Or, for additional

[2020-04-30 17:49] msebolt commented on #8144
@StavroulaSsi Thank you for the feedback.

Since this is a product-related, please consider moving the issue [here](https://developercommunity.visualstudio.com/content/idea/post.html?space=21), or let us know and we can move it for you.

Assigning this to the author of [migration overview](https://docs.microsoft.com/azure/devops/migrate/migration-overview) for awareness.

[2020-04-30 18:21] KathrynEE commented on #8135
@angiridhar - No that isn't possible. Discussion doesn't map to a specific field.

[2020-04-30 18:25] KathrynEE commented on #8088
@mehrandvd  - The description of the Parent field is described here: https://review.docs.microsoft.com/en-us/azure/devops/boards/queries/linking-attachments?view=tfs-2013&branch=pr-en-us-1345#parent. It explicitly notes that the Parent field can't be used in a query.

[2020-04-30 18:32] dazinator commented on #7315
@WilliamAntonRohm
I couldn't find any answers there. The virtual support bot was not able to help me with any of my questions along the lines of "How do I add a custom deployment type?"
I searched stack overflow for an answer but couldn't find any.
It would be useful for this doc to clarify or link to an answer whilst documenting this feature as I think it might be a common requirement for anyone

[2020-04-30 18:48] vtbassmatt commented on #5427
[Templates](https://docs.microsoft.com/azure/devops/pipelines/process/templates) and [Runs](https://docs.microsoft.com/azure/devops/pipelines/process/runs) have been expanded to help with this.

[2020-04-30 18:53] KathrynEE commented on #7315
@dazinator - Support for customizing the deployment type isn't supported. I recommend you suggest it as a feature on our [Developer Community page](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-04-30 19:01] dazinator commented on #7315
@KathrynEE - thank you for the answer.
It looks like someone already raised that feedback here: https://developercommunity.visualstudio.com/content/problem/857820/can-deployment-type-be-customized.html

The response from MS was to archive that suggestion - I can't find a replacement - perhaps the person that raised it gave up?

[2020-04-30 19:13] dazinator commented on #7315
I have opened a new User Voice for this: https://developercommunity.visualstudio.com/idea/1014346/customise-the-deployment-types.html

[2020-04-30 19:45] chcomley commented on #8043
Hi @edwinludik, I don't see any menu-related contributions, so I'm not aware that such extensibility exists. If you would, please submit a feature request in the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html? ), so we can get this in front of our engineers. I'm closing this issue, however please @mention me with any further questions or concerns. Thank you!

[2020-04-30 19:45] #8043 closed

[2020-04-30 19:48] WilliamAntonRohm commented on #7315
@dazinator -- thank you!

@KathrynEE -- thanks for the followup.

[2020-04-30 19:51] chcomley commented on #4445
Thanks @yanlinsun, for your hours of investigation and for providing this feedback! I've created a user story to update this article with the information you've provided. Have a great day!

[2020-04-30 20:00] lee0c commented on #5427
Just to make it easier to find:

From [this section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runs?view=azure-devops#process-the-pipeline) of the linked doc above.

[2020-04-30 20:43] michaelbpalmer commented on #8153
I am seeing the same issue on my end. No errors, but the VM instance never shows up in my agent pool.

[2020-04-30 20:44] horvatic commented on #6756
A while ago it was possible to call API's with basic auth, and a PAT token. Is this still possible, since its unrealistic to have the user sign in for a automated system

[2020-04-30 20:55] msebolt commented on #8148
@tsaibabu4u Thank you for the feedback.

Since this is a product-related issue, please move this issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) or let us know and we can start an issue for you.

There users can vote and provide input until the product team offers feedback on the overall feasibility.

[2020-04-30 21:22] akaszynski opened #8156 "Fix docs for the pip-authenticate task"
## Fix docs for the pip-authenticate task

Need another two spaces before "onlyAddExtraIndex" in the yaml snippet at:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/pip-authenticate?view=azure-devops#download-python-distributions-from-azure-artifacts-feeds-consulting-official-python-registry-first
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-30 21:24] #8156 closed

[2020-04-30 21:34] atlaskerr commented on #4289
@davidstaheli Is the `.azure-pipelines` feature supported yet?

[2020-04-30 22:51] RichardMeadowsTC commented on #6715
My security guy is making me use project scoped artifact feed.  Apparently, the security really isn’t there.  Will see about that.  The build account is supposed to have access to feeds from all the projects.  Like what I have.

Richard Meadows

From: Bruno Martins<mailto:notifications@github.com>
Sent: Thursday, April 30, 2020 8:16 AM
To: MicrosoftDocs/azure-devops-docs<mailto:azure-devops-docs@n

[2020-04-30 22:59] ramiMSFT commented on #4965
@sdshou Thank you for your feedback. The updated version will go live shortly.

[2020-04-30 23:02] #4965 closed

[2020-04-30 23:36] WilliamAntonRohm commented on #8149
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-04-30 23:37] WilliamAntonRohm commented on #8150
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-04-30 23:44] WilliamAntonRohm commented on #8152
@VerdonTrigance -- thank you for your question.  Please consider these resources:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm -- please look into this issue.

[2020-04-30 23:47] Romiko commented on #7236
Yes, please can we have some documenation using arguments a variety of ways

e.g. inlinde
xya $1 $2

also what about name arguments
xya $arg2 $arg1 etc

[2020-04-30 23:55] WilliamAntonRohm commented on #8060
@KathrynEE -- please review [private PR 1350](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1350).

[2020-04-30 23:58] #8074 closed

[2020-05-01 00:05] WilliamAntonRohm commented on #8032
@steved0x -- please review [private PR 1351](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1351).

[2020-05-01 00:59] DigitalTargit commented on #5616
What you might be able to do is put the PAT in a secure file ... and then tie the uid of the secure file to a library variable and then access the library variable in your pipeline yml.

[2020-05-01 01:03] cishawe commented on #8153
Same issue as well. I setup a pool with a Server2019 image, and when the pool was initiated, it setup the first VM and it was in the running state, but the VM was never added into the pool. Then after scheduling a job, I can see it creating a new VM, but no agents have been added to the pool.

[2020-05-01 01:10] norman-v commented on #8149
I think it's an issue with the documentation if I follow the documentation strictly and no agents are shown in the agent pool I created. (I see a few people have also reported the same issue here)

The az cli code you have on this page for creating the VMSS (#4) also breaks at:
--load-balancer ""
with az cli saying that it is an invalid parameter value or "expected one argument":
az : ERROR: az vm

[2020-05-01 01:12] norman-v commented on #8153
Same issue here using an Ubuntu image (following exactly what this doc says and a few other variations). VMSS instances are healthy but no agents showing up in the pool.

I reported the same issue earlier here but it was closed as a non-documentation issue.

[2020-05-01 02:24] brunomartinspro commented on #6715
At this point I’m just trying to understand why the concept of feeds of Microsoft is so different from the rest of the solutions out there in the world.

My first issue was with package replacement - why would anyone force teams to increase the versions of packages? Couldn’t this be a setting? What if something goes wrong in a build and we need to replace it with the same version to send it to the

[2020-05-01 02:32] BhargaviAnnadevara-MSFT commented on #8047
@jbeesonnuva Hope you had a chance to check the above responses. Closing this issue for now.

[2020-05-01 02:32] #8047 closed

[2020-05-01 04:13] rosanch commented on #6968
any updates on the issue. My team deployment it's also currently blocked because of it. The SP password expired and we had to renew it, then I can't seem to shake off this error message.

[2020-05-01 05:08] Gocoollnath commented on #1755
There is no other way to upload steps ,apart from using Grid option? For 1000's of test cases, adding test steps using grid is a tedious process

[2020-05-01 06:41] Justin-DynamicD commented on #7861
Blog post released 4/28 once again mentions packages as a valid resource option.
https://devblogs.microsoft.com/devops/announcing-general-availability-of-azure-pipelines-yaml-cd/

This is actually a pretty big ask, so I'm holding my breath it was perhaps stealth rolled out.

[2020-05-01 06:46] kissferenc opened #8158 "Update Work Item dates field"
I want to bring Issues from other tracking site. Can I somehow update the Create Date, Change Date and Closed Date values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4296d1cc-f211-9d17-d97f-2b0858fdea7d
* Version Independent ID: cc66dfee-adde-cdfb-b3f5-5d58d89d3c81
* Content: [Import or update work items from a CSV

[2020-05-01 07:14] Justin-DynamicD commented on #7861
dirty update:

resources:
  packages:
    - package: coolname
       <...>

This actually appears to work ... except I cant seem to guess what params it wants. This wqould be really _REALLY_ cool to know

[2020-05-01 07:16] 24mu13 opened #8159 "Xamarin project"
No mention about restoring packages for a single Xamarin project, instead of entire solution. You need a task for that, since restoring for Xamarin project is not supported by .NET restore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f447b8b0-80af-cd43-a7a1-a5a9ffd4cdd2
* Version Independent ID: 7805ee87-93b8-d9db-9

[2020-05-01 09:09] o-o00o-o commented on #6597
This is still really needed guys. From what I can see this doesn't work and I have no documentation to understand why. We have to manually track work items against releases right now.

[2020-05-01 09:15] borys86 opened #8160 "New service connection page with ambiguous IDs in "Authentication""
If you try to configure Azure Service connection with existing service principal section with ID is ambiguous
Look closely to "Authentication". At the top it says:
"Service Principal Id" but under the form, it says "Client Id for connecting to the endpoint. Refer to link on how to create Azure Service Principal."
Client ID and service Principal ID are not the same. Which of those do we need to use

[2020-05-01 09:20] borys86 commented on #8160
![image](https://user-images.githubusercontent.com/1665527/80795767-be79c880-8b9d-11ea-9a12-d97f097be2dc.png)

[2020-05-01 09:22] borys86 commented on #8160
![image](https://user-images.githubusercontent.com/1665527/80795787-ccc7e480-8b9d-11ea-8e1f-6ca2c6f3604c.png)

[2020-05-01 10:17] StingyJack commented on #7306
@danhellem I don't think I can ping you on Teams?

[2020-05-01 11:31] didaskein opened #8161 "How can we get the Artifact zip output of the build stage (like before)"
How can we get the Artifact zip output of the build stage (like before).
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e013ceb-c5eb-6fc8-9842-708e669bd4ce
* Version Independent ID: b9bc3c0e-85e5-1318-374b-fe1cd3354152
* Content: [Multi-stage pipelines user experience - Azure Pipelines](https://docs.microso

[2020-05-01 12:22] jeanfrancoislarente commented on #8153
I have the issue as well:

There is an error in the agent logs in the instance.
If you ssh (Linux) or RDP (Win) into the agent instance, one of the log errors is:

[2020-05-01 12:17:12Z ERR  Terminal] WRITE ERROR: Access Denied: Microsoft.TeamFoundation.ServiceIdentity;<ID>:AgentPoolAdmin:<ID>needs the following permission(s) on the resource / to perform this action: Read service definitions and/o

[2020-05-01 12:39] Dede24 opened #8162 "Question about the different possible states of a bug"
With my team, we use the reporting bug. When the tester report a bug, the state of the bug is "New" and when the developper resolved the bug, he pass in "Resolved" but the bug is not delivered. How to add on the state of the bug a "Delivered" state to inform the tester that the bug is delivered on the update of the software?
"New" is to inform the developper of the bug
"Active" is when the develop

[2020-05-01 12:52] gd-ksc commented on #4451
Thanks for the reference info, posted here.

Following is the procedure I've used, successfully:

#### Setup: Personal Access Token
- Go to: User Settings
- Select: Personal access tokens
- Select: New Token
- Select: Name: whatever
- Select: Expiration
- Select: Custom define
- Select: the calendar
- Select: Go to today
- Select: Full access
- Select: Create
- Copy: the token
- Select: Close

###

[2020-05-01 12:58] kluhman opened #8163 "Referencing Output Variable from Dependency does not work as described"
I'm using the runOnce strategy with the deploy hook, but referencing an output from one of the tasks does not work using this syntax as described here.

$[dependencies.&lt;job-name&gt;.outputs['&lt;lifecycle-hookname&gt;.&lt;step-name&gt;.&lt;variable-name&gt;']]

The only way I was able to get this to work was actually by using the following syntax

$[dependencies.&lt;job-name&gt;.outputs['&lt;jo

[2020-05-01 14:50] thatnerdyguy opened #8164 "Do environment deployments respect the ##vso[build.updatebuildnumber] command?"
If you use:

echo ##vso[build.updatebuildnumber]1.2.3.4

Either in the same or previous stage as a deployment job in some pipeline, it appears the environment still uses the 'original' build number of something like 20200501.1 rather than a custom one of something like 1.2.3.4 when showing the little "label" in the deployment summary list page for the environment. If you click on the label, it wil

[2020-05-01 15:42] DaveJarvis opened #8165 "Interpolated Variables"
Consider the following YAML document:

[code]

I would like to reference those values within the Markdown. Moreover, I would also like to control the syntax whereby said values are referenced. I've written a YAML preprocessor named [yamlp](https://bitbucket.org/djarvis/yamlp/src/master/README.md) that can perform string interpolation.

Multimarkdown, pandoc moustache, and other systems allow autho

[2020-05-01 15:51] moikot opened #8166 "Update Service Fabric Manifests task requires Windows Desktop PowerShell"
The fact that ServiceFabricUpdateManifests@2 requires Windows Desktop PowerShell and doesn't work on Linux is not reflected in the documentation.

You'll get the following message if you try to run it on a Linux agent:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a355ee-4a55-38b0-d430-ede22728182b
* Version

[2020-05-01 16:00] msebolt commented on #8153
@annajanicka Thank you for the question, assigning this to the author for further review.

Please note that for user-defined scenarios (outside the referenced example), you need to request support from one of the following:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure Dev

[2020-05-01 16:06] msebolt commented on #8154
@srikcgaa2 Thank you for the feedback.

Looping tasks is not yet possible, instead please refer to [this post](https://stackoverflow.com/questions/61398206/azure-devops-yaml-pipeline-how-to-repeat-a-task) on how to repeat tasks.

To solicit feedback from the product team for support on this feature, please see [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.htm

[2020-05-01 16:12] Gocoollnath opened #8167 "Uploading Test Steps via Excel"
There is no other way to upload steps ,apart from using Grid option? For 1000's of test cases, adding test steps using grid is a tedious process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505849d3-01c8-a2cd-dc6c-271dd1120e2d
* Version Independent ID: 577fc252-60e4-f670-bb92-6bdbcb7d5c69
* Content: [Bulk modify work

[2020-05-01 16:14] adalfa opened #8168 "rename master to trunk"
in Push repository to a bare git repository step 3
git branch -m trunk master
is not working
unless i change to
git branch -m svn/trunk master

it seems to be not aligned with the note to mantain the prefix svn/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd6cbc8-5e3b-c3a1-4672-d42510cc058b
* Version Independent ID

[2020-05-01 16:22] kosherhog commented on #4451
Perfect!  Thanks for the assist here!

[2020-05-01 16:41] msebolt commented on #8155
@VerdonTrigance Thank you for the question.

Unfortunately our forum can only provide support for documentation examples.

Please either reference an example from the documentation or see if the resolution from https://github.com/NuGet/Home/issues/7131 applies to your scenario.

For additional support options, see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure Dev

[2020-05-01 16:56] #7597 closed

[2020-05-01 18:11] chcomley commented on #8165
Hi @DaveJarvis, Thanks for your feedback. I'm assigning this to the product group for further assistance. Thanks again!

[2020-05-01 18:17] chcomley commented on #4445
The user story I've created to update this article is slated for May, 2020, so I'll be closing this issue now. I'll link the PR to this issue, however. Please feel free to @mention me. Thank you!

[2020-05-01 18:17] #4445 closed

[2020-05-01 18:30] VerdonTrigance commented on #8155
I already saw this issue. And as told in https://github.com/NuGet/Home/issues/7131#issuecomment-535497315 in it doesn't seems to be optional params and nowhere in docs told about this. That's why I want you to change docs related to this problem.

[2020-05-01 18:34] msebolt commented on #8155
Assigning this to the author for further review.

[2020-05-01 18:38] WillLennon commented on #8153
Sorry for the trouble.  This VMSS agent pool feature suffered an outage.  We have a fix rolling out now that should reach everybody by Monday.

[2020-05-01 19:12] KathrynEE commented on #8167
@Gocoollnath - You may find a solution using the REST API for Test, https://docs.microsoft.com/en-us/rest/api/azure/devops/test/?view=azure-devops-rest-5.1. Otherwise, I suggest you Request a Feature,https://developercommunity.visualstudio.com/spaces/21/index.html, to support your needs.

Closing this issue as it is a product issue and not a document issue.

[2020-05-01 19:12] #8167 closed

[2020-05-01 19:23] KathrynEE commented on #8158
@kissferenc  - Thank you for your inquiry. No, changing the Create Date, Change Date and Closed Date values isn't possible. These are system fields controlled by the system. If you import work from another site, it will create new work items with the dates for that time of import.

[2020-05-01 19:23] #8158 closed

[2020-05-01 20:11] WilliamAntonRohm commented on #8159
@24mu13 -- Samuel, thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-05-01 20:11] #8159 closed

[2020-05-01 20:35] KathrynEE commented on #7271
@anup-behera - Azure DevOps Services doesn't support customizing the Reason field. If you are on-premises and use the On-premises XML process model, then you can change the workflow by changing the XML WIT definition. See [Change the workflow for a work item type](https://docs.microsoft.com/en-us/azure/devops/reference/xml/change-workflow-wit?toc=%2Fazure%2Fdevops%2Freference%2Ftoc.json&bc=%2Fazur

[2020-05-01 20:35] #7271 closed

[2020-05-01 20:37] chcomley commented on #8123
Hi @mjwoodsphx, Thanks for posting your question. The “BuildCompleted” event would still work for YAML pipelines. It is generated when a pipeline run is completed. In addition to that, we will have new events for stage state changes. If I can help any further, please @mention me, as I'm now closing this issue. Thanks again!

[2020-05-01 20:37] #8123 closed

[2020-05-01 21:10] steved0x commented on #8153
I'll keep this issue open now for visibility, and close it once the fix is rolled out.

[2020-05-01 21:11] steved0x commented on #8150
@kevinheins We're checking into this to see what happened, will report back with more information as soon as I have it.

[2020-05-01 21:23] steved0x commented on #7944
@carct These aren't required for Scale set agents in Azure pipelines, can you share more details of your scenario? If we provide a note here and a link to `az vmss create` would that provide the required information?

[2020-05-01 22:39] crowleysoftware opened #8169 "Custom commands don't work"
What would an example of valid customCmds be? I can't get any ftp commands to work:
connected: 220 Microsoft FTP Service
FTPError: 500 Command not understood.
Ftp Upload failed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ea8b7b-44cb-e315-b086-c4e3361bf59a
* Version Independent ID: 5fcdaa72-ca89-2139-a8c9-2eb263b48

[2020-05-01 23:19] Mikilll94 commented on #7667
@NenoLoje
That is the configuration file for Coverlet. You can read more about that here:
https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

On this website, they are naming this file `coverlet.runsettings`, but the name of this file does not matter.

[2020-05-02 00:57] AArnott commented on #4241
I haven't filed one. I wonder whether it's best to file it here in docs or (assuming it's a missing feature) if there's a better product repo to file it at.

[2020-05-02 06:10] azlam-abdulsalam opened #8170 "Timeline for queuing policies"
Is Queuing policies on an immediate roadmap? I cant see it in the feature timeline. This is very important for us in case for legacy platforms. Manually cancelling an earlier build run is a chore?

This was always one of the strong suites of Azure Pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4266f72c-c774-

[2020-05-02 12:17] jeanfrancoislarente commented on #8153
Fantastic. Will try it first thing!

[2020-05-02 12:20] couven92 opened #8171 "Need Azure DevOps Pipeline expression function to access a numbered item in an array"
If you have an array-typed object in a template expression (e.g. passed by parameters), you can only iterate over that array with today's syntax. There is no way to access a specific (i.e. indexed) item from that array.

Consider the following example, where a template is invoked with a defaults object that contains a list of default object specifications coming from different sources. By using a

[2020-05-02 19:41] Relent97 commented on #6830
Hi Please specify the resource group.

"az webapp up -n <appname> --resource-group <resource group name>".

[2020-05-02 22:04] Relent97 opened #8172 "App not running because of dependencies"
Thank you for the post, it was very well detailed and simple to follow.
However I have a problem, the app is not running.
1)  I went through the issues and set my SCM_DO_BUILD_DURING_DEPLOYMENT = false as instructed.
2) I tried installing the requirements through my requirements.txt file however a particular library PyODBC needs an ODBC driver to work. Is there a way to put an instruction in the r

[2020-05-02 23:11] mvrmoreira commented on #1615
I'm having the same issue trying to use pullrequests variables in azure pipelines for github repo

[2020-05-02 23:34] adrian-baker opened #8173 "Do simultaneous deploys to the same environment from different pipelines block/queue?"
If I have an environment targeted by multiple deploy tasks simultaneously across different pipeline runs, what happens? Eg, lets say I have two branch builds running, both of which try deploying to an integration test environment. I would expect the second pipeline to block until the first pipeline completes it's deploy task before it can begin a deploy.

---
#### Document details

⚠ *Do not edit

[2020-05-03 05:02] StingyJack opened #8174 "Are there any plans to allow other testing frameworks to be plugged into DevOps?"
Since CodedUI is kaput

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6c92a2-2f5c-e34e-f285-3e1a2a02604b
* Version Independent ID: 6f31f4c2-94ac-20eb-da01-e1d47f041945
* Content: [Run automated tests from test plans - Azure Test Plans](https://docs.microsoft.com/en-us/azure/devops/test/run-automated-tests-from-test-h

[2020-05-03 05:06] StingyJack commented on #7305
@KathrynEE - what about my question(s)?

[2020-05-03 08:37] JoseFMP opened #8175 "This task is not working"
It prepends ** two asterisks to the image name and the push cannot find the images in the system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1a328e2-391c-843d-7442-932ec77b2a91
* Version Independent ID: 83eb4008-ded5-597c-8d54-2383bbf9d240
* Content: [Push an image - Azure Pipelines](https://docs.microsoft.com/en-

[2020-05-03 09:53] edwinludik commented on #8043
Reported it here tx:
https://developercommunity.visualstudio.com/content/problem/1015702/wiki-extensibility-points.html

[2020-05-03 13:27] kenakamu opened #8176 "How to trigger CD after CI"
I follow the document to create two pipelines, build and release. But whenever I commit change to a branch, it triggers both pipelines. How i can trigger release only after build pipeline completed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d5-4fb4-7c3e-b84abfa290c2
* Version Independent ID: 3e2b80d9-30

[2020-05-03 13:48] znatan commented on #7085
+1. any answers from MSFT?

[2020-05-03 15:03] niowniow commented on #6830
Thanks, yes, in a way @smcateer  already gave the solution to the problem but it might be worthwhile to mention it in the tutorial.

[2020-05-03 18:30] StingyJack commented on #5114
@ErrCode  - When I have to make something like an installer change like that, I will usually create a branch and let the prior installer tech EOL in and point the older build def at it. The new build def will be pointed at the current release branch.

If build time is not a significant consideration for you, build both installers in the same build and forego the switching. Then you wont have any "

[2020-05-04 04:45] kenakamu opened #8177 "How to auto trigger pipeline B"
The document says "To prevent triggering two runs of B in this example, you must remove its CI trigger or pipeline trigger." However, if I remove pipeline trigger, then B won't be triggered at all. How can I trigger B only after A compiled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86285f72-9e28-da97-59bb-c29eb60f

[2020-05-04 04:53] kenakamu commented on #8177
Actually, if I remove pipeline trigger, it uses implicit trigger so it's triggered once which is even worse.

[2020-05-04 06:54] SamYuan1990 opened #8178 "Is there anyway to set up host name like travis?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2020-05-04 08:54] donatogr opened #8179 "Custom conditions with dependencies on Release Pipelines"
How can dependencies be specified in Release Pipelines, so to have a custom condition based on a specific job (e.g. run job C only if job A has failed and job B has succeeded)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd8991

[2020-05-04 09:15] jeanfrancoislarente commented on #8153
@WillLennon - any update on this? Tried now (I know it's early on Monday) and it's still the same error / behavior.

[2020-05-04 11:14] jeanfrancoislarente commented on #8153
Is there another area where this issue is being tracked, so that we can get updates? Thanks!

[2020-05-04 11:39] weitzhandler opened #8180 "Please clarify "Wait for author""
When this value is set, will the PR automatically be approved when the author resolved all my comments?
Otherwise this option should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version Independent ID: 1a6fdbe7-5ba4-a7f8-1b2e-271289a7b9fd
* Content: [Review and merge c

[2020-05-04 12:39] csabagal commented on #7933
We came across the same issue. The documentation says it works! But id does not. Please update your documentation! Not to cause more headaches to others!

[2020-05-04 13:33] KehindeOwens opened #8181 "Plugin Doesn't show what change occurred"
Hello,

This app does most things right except one thing i've noticed. It'll inform you that a work item was updated and what it was updated to but it doesn't show what it was updated from. For example, I can assign a bug from John to Bill and people will see in the notification that the bug is assigned to Bill but there is nothing telling them that it was originally assigned to John. Is this some

[2020-05-04 13:38] luber opened #8182 "trigger a pipeline on the same branch"
In notes, it is stated that one of the drawbacks of the classic editor is: "For instance, there is no way to trigger a pipeline on the same branch as that of the triggering pipeline using build completion triggers."

That is exactly what I need to do. How this can be achieved with YAML configuration?

I have a repo A with branch release/1.0.0 and repo B which should be triggered once repo A is bui

[2020-05-04 13:50] ciufudean opened #8183 "This page about automated tests sits under node "manual testing""
This page about automated tests sits under node "manual testing"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6c92a2-2f5c-e34e-f285-3e1a2a02604b
* Version Independent ID: 6f31f4c2-94ac-20eb-da01-e1d47f041945
* Content: [Run automated tests from test plans - Azure Test Plans](https://docs.microsoft.com/en-us/azure/d

[2020-05-04 14:23] mprevdelta opened #8184 "What permission is needed to have the context menu shown in step 4?"
I can see the users in the organization, but no context menu next to each name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aa416a-b842-77d0-e18a-bee7f7bf7205
* Version Independent ID: 65942145-45ca-48bb-6adc-c16bd662b80a
* Content: [Manage users and access levels - Azure DevOps Services](https://docs.microsoft.co

[2020-05-04 14:51] sgerace commented on #5570
@bmargula We also started seeing a few of these warnings a few days ago:

![Screen Shot 2020-05-04 at 9 06 52 AM](https://user-images.githubusercontent.com/1239058/80968950-d7c18580-8de6-11ea-854c-4db4299f90bc.png)

We were originally confused by the warnings (as you were), until we realized that we were using the `PublishBuildArtifacts@1` task in a few places in our pipeline (we were using `Publi

[2020-05-04 14:57] nieve opened #8185 "Resetting or modifying client npmrc set up"
Would be great to add to the [Troubleshooting vsts-npm-auth](https://docs.microsoft.com/en-us/azure/devops/artifacts/npm/npmrc?view=azure-devops&tabs=windows#troubleshooting-vsts-npm-auth) some info on how can you reset the setup on your computer if you'd like to modify the way you set it up.

In my case, I have added an option (cannot remember which) when setting up a colleague computer, which ma

[2020-05-04 15:05] sblais-nb opened #8186 "Azure Devops Virtual Agent - Please enter a valid email address ("efffdc56-fd4c-aeba-6cd3-d07aaf776d51")"
When I'm trying to use the @regionmove flow in the Azure Devops Virtual Agent, I have the following error after entering my organization email (sblais@normandin-beaudry.ca) in the region move form.

![image](https://user-images.githubusercontent.com/22942436/80980643-e1eb8000-8df6-11ea-8386-40c96ac8705e.png)

[2020-05-04 15:28] cpdohert commented on #6053
This doesn't work for dotnet pack.  Given this:

[code]

The task completely ignores the `arguments:` option entirely and constructs the command line thusly:
[code]

One look at the number of posted issues indicates that the task and its documentation are in dire need of a quality review.

[2020-05-04 15:31] cpdohert commented on #6053
Addenda: I just noticed that it *is* documented that `arguements:` is not supported for `dotnet pack`.  Because why would we be consistent, or anything.

[2020-05-04 15:47] Sebbl22 commented on #7624
Same here: Just plain text on Azure DevOps Server

[2020-05-04 16:21] frankzo commented on #8153
Would like to give some more feedback too. Just to help out and contribute to the product. Would be nice to have a place, close to development, to do that.

[2020-05-04 16:32] jeanfrancoislarente commented on #8153
@frankzo I found something [here](https://github.com/microsoft/azure-pipelines-agent) - not sure if it's the right spot

[2020-05-04 16:35] frankzo commented on #8153
@jeanfrancoislarente Understand; but it would be nice to have some kind of updates on preview functions. For feedback and some headsup.

[2020-05-04 17:37] brandonh-msft opened #8187 "Not all regions support containerized Functions"
Docs need to have a list of supported regions.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf1cd4c-6bb6-e965-34ef-480656a3d41d
* Version Independent ID: aa5c5789-9196-ea25-2a5c-216f8ef22861
* Content: [Deploy a function app to Azure Functions Container - Azure Pipelines](https://docs.microsoft.com/en-us/azu

[2020-05-04 17:38] brandonh-msft opened #8188 "Not all regions support containerized Web Apps"
Docs should have list of supported regions.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabab0a1-052d-7a62-0773-5c6ad707752b
* Version Independent ID: 967fde84-2b93-ffa5-cb27-4f1dd4ecef49
* Content: [Deploy an Azure Web App Container - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/

[2020-05-04 18:09] brandonh-msft commented on #8188
looks like this was an issue in the Terraform documentation I was using.

[2020-05-04 18:09] #8188 closed

[2020-05-04 18:09] brandonh-msft commented on #8187
looks like this was an issue in the Terraform documentation I was using.

[2020-05-04 18:09] #8187 closed

[2020-05-04 18:37] chcomley commented on #7624
Hi @chrisbardon and @Sebbl22, Mermaid diagrams in wikis are only supported in Azure DevOps Services, not in Azure DevOps Server. Make sure your page is set to your version in the top left of your screen and the content will apply to your version. In the Azure DevOps Server version of this article, the Mermaid feature isn't mentioned. Thanks and have a great day!

[2020-05-04 18:37] #7624 closed

[2020-05-04 18:52] Sebbl22 commented on #7624
Hi @chcomley,
but Azure DevOps Server 2019 is mentioned, together with some TFS versions which didn't even have a wiki.
![grafik](https://user-images.githubusercontent.com/10319545/81001854-a11c5700-8e48-11ea-9fc7-e59e6b57205c.png)

[2020-05-04 18:56] chcomley commented on #7624
Hi @Sebbl22, It's mentioned on the left under "In this article" only when the Azure DevOps Services version is highlighted. When you select a different version, that option goes away.

[2020-05-04 19:03] jpreese commented on #6088
We are also confused by this messaging!

[2020-05-04 19:18] JFolberth opened #8189 "Updated terminology"
Can some of the terminology be updated to align with the new Azure DevOps terminology.
For instance the headers:
Run tests in parallel in build pipelines
Run tests in parallel in release pipelines

Should probably be updated to include the classic denotations like:
Run tests in parallel in classic build pipelines
Run tests in parallel in classic release pipelines

Without this, this is confusing s

[2020-05-04 20:00] KathrynEE commented on #7305
@StingyJack - Apologies for not addressing your question.  The data warehouse tables pertaining to work items are:
- [Work item History tables](https://docs.microsoft.com/en-us/azure/devops/report/sql-reports/work-item-history-tables?view=azure-devops-2019)
-  [Work Item Link History tables](https://docs.microsoft.com/en-us/azure/devops/report/sql-reports/work-item-link-history-tables?view=azure-d

[2020-05-04 20:07] WilliamAntonRohm commented on #8075
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-04 20:07] #8075 closed

[2020-05-04 20:08] WilliamAntonRohm commented on #8084
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-04 20:08] #8084 closed

[2020-05-04 20:09] #8143 closed

[2020-05-04 20:09] WilliamAntonRohm commented on #8148
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-04 20:09] #8148 closed

[2020-05-04 20:10] #8154 closed

[2020-05-04 20:19] WilliamAntonRohm commented on #8160
@borys86 -- Boris, thank you for your question. Here are a couple of options where you might consider asking it:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@RoopeshNair -- Roopesh, please look into this issue.

[2020-05-04 20:23] WilliamAntonRohm commented on #8161
Thanks for your question. Here are a couple of resources you might consider:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

cc @steved0x for awareness

[2020-05-04 20:23] #8161 closed

[2020-05-04 20:25] WilliamAntonRohm commented on #8162
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-04 20:25] #8162 closed

[2020-05-04 20:27] WilliamAntonRohm commented on #8164
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-04 20:27] #8164 closed

[2020-05-04 20:33] WilliamAntonRohm commented on #8169
@crowleysoftware -- thank you for your question. It looks like you're working through an issue with your scenario or implementation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@vijayma -- plea

[2020-05-04 20:41] mehrandvd commented on #8088
Thank you. I didn't know that here is just for documentation support.

[2020-05-04 20:58] ShaunFS commented on #7699
@xxycode Can you elaborate on what the fix was for your code signing?  I am running into this issue right now

[2020-05-04 21:24] WilliamAntonRohm commented on #8170
@azlam-abdulsalam -- thank you for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/qu

[2020-05-04 21:24] #8170 closed

[2020-05-04 21:27] WilliamAntonRohm commented on #8171
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-05-04 21:27] #8171 closed

[2020-05-04 21:27] Boosten commented on #8173
Also see this thread: https://developercommunity.visualstudio.com/content/problem/590010/multi-stage-pipelines-allow-simultaneous-deploymen.html

[2020-05-04 21:28] WilliamAntonRohm commented on #8172
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-04 21:28] #8172 closed

[2020-05-04 21:31] WilliamAntonRohm commented on #8173
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-04 21:31] #8173 closed

[2020-05-04 21:32] WilliamAntonRohm commented on #8174
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-04 21:32] #8174 closed

[2020-05-04 21:32] WilliamAntonRohm commented on #8175
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2020-05-04 21:32] #8175 closed

[2020-05-04 21:43] chcomley commented on #6591
Hi @soutchilin, No updates yet. You can check on feature requests here: https://mseng.visualstudio.com/TechnicalContent/_queries/query-edit/f9b3de18-d757-42a5-a3fb-e63abd75b094/

[2020-05-04 22:53] WilliamAntonRohm commented on #8043
@edwinludik -- Ed, thank you.

[2020-05-05 00:12] adrian-skybaker commented on #8173
Thanks - would it not be reasonable to update the documentation to indicate that deployments to the same environment are permitted?

[2020-05-05 00:32] sanjeev40084 commented on #6261
I agree with @AndreSteenveld, the relative path doesn't seem to work to display images in Azure DevOps wiki.

[2020-05-05 02:15] #8060 closed

[2020-05-05 04:01] Ahetejaz opened #8190 "##[warning]Failed to read D:\CurrentUnitTestAgent_WorkingFolder\4\a\CopiedCoveragFile\MachineName_2020-05-04_22_53_39\In\MachineName\MachineName_2020-05-04 22_53_35.coverage. Error : Data at the root level is invalid. Line 1, position 1.. ##[warning]No coverage data found. Check the build errors/warnings for more details."
I have tried to utilized this task to publish code coverage. I have spent a good amount of time on this however everytime I get this above mentioned error. Not sure if the task is actually looking for an XML file? When we run a .NET project the coverage file which get produced from task VSTest will produce file with name .coverage instead of .XML, not sure if .coverage is supported here. If yes, c

[2020-05-05 04:04] kallsu opened #8191 "Pricing"
The information about the pricing, for the users/groups connected aren't clear or missing.

DevOps has a payment structure per users, if I connect my AD with existing users (1000 example), I will pay the fees for the users into DevOps, or not ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 031380a0-4f04-4105-199a-8171

[2020-05-05 04:24] StingyJack commented on #8174
@WilliamAntonRohm - if what I am asking for is already present and possible, then this is probably a documentation issue because I cant find info about it. If its not already present this is a product roadmap or feedback item.

Have you tried to use that support bot before? Try asking it something with a simple yes or no answer like "Can I override config file settings in an app Service?"  (yes, y

[2020-05-05 05:55] #8076 closed

[2020-05-05 05:57] msebolt commented on #8076
@hangy Thank you for providing this feedback.

The documentation has been updated and changes will be released in the next publish cycle.

[2020-05-05 08:13] ox4 commented on #7621
@WilliamAntonRohm , @vijayma I was wondering whether there are any updates on this issue? I took the same steps @jrummell mentioned and got exactly the same result.
Unfortunately I had no luck finding anything related on StackOverflow.

[2020-05-05 08:23] gdalsnes opened #8193 "Missing info about overwrite (or not)"
Does not say or no way to configure if it should overwrite existing files or not. Does it by default overwrite existing files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ea8b7b-44cb-e315-b086-c4e3361bf59a
* Version Independent ID: 5fcdaa72-ca89-2139-a8c9-2eb263b4824e
* Content: [FTP Upload task - Azure Pipelines]

[2020-05-05 08:50] msebolt commented on #8176
@kenakamu  Thank you for the question.

Assigning this to the author for review of changes to the documentation.

For help with user-specific scenarios and additional support options, please see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-05-05 08:53] msebolt commented on #8177
@kenakamu  Thank you for the question.

Assigning this to the author for further review to see if the documentation requires an update.

If this is product-related and is not yet currently feasible, please refer to **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit feedback from the product team

[2020-05-05 08:54] msebolt commented on #8177
@thomps23 Temporarily assigned.

@ashkir  Doesn't appear as a valid alias.

[2020-05-05 08:56] msebolt commented on #8178
@SamYuan1990 Thank you for the question.

Assigning this to the author for further review to see if the documentation can be updated.

If this feature is not yet available, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit feedback directly from the product team.

Or, for additional

[2020-05-05 08:59] msebolt commented on #8179
@donatogr Thank you for the question.

Assigning this to the author for further review to see if the documentation can be updated.

If this feature is not yet available, please use Report a problem or Suggest a feature in the  [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit feedback directly from the product team.

Or, for additional support op

[2020-05-05 09:01] Marco-Santoni opened #8194 "Using wildcards in filtering criteria"
Is it possible to use wild cards in the filtering criteria? If so, could it be added to the page?
Example

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3982f11f-c9aa-26fe-0812-f56b855c0c0e
* Version Independent ID: 54a34df8-7172-b2cc-9466-d527f0f324da
* Content: [Manage personal notification settings - Azure D

[2020-05-05 09:02] msebolt commented on #8186
@sblais-nb  Thank you for the question.

If you can you provide a reference to the an article, I can assign this to an author for further review.

Otherwise, if this is a product-related issue, you can use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit feedback from the product team.

Or, fo

[2020-05-05 09:04] msebolt commented on #8182
@luber  Thank you for the question.

Assigning this to the author to see if changes can be made to the documentation.

Otherwise, if this is a product-related issue, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit feedback from the product team.

Or, for additional support options,

[2020-05-05 09:05] msebolt commented on #8182
Temporarily assigned @thomps23, @ashkir appears to be missing as an alias.

[2020-05-05 09:12] dazinator opened #8195 "Customise the message?"
Is it possible to customise the deployment complete message - for example - to include a link to the deployed website?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a6f5aa-7e92-a028-d13e-e1e4b7fede86
* Version Independent ID: be7e5d7c-0033-6b72-4bd1-809f7d1894aa
* Content: [Azure Pipelines with Slack - Azure Pipelin

[2020-05-05 09:15] msebolt commented on #8181
@KehindeOwens Thank you for the question.

This is a good candidate for the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

There the product-team can provide additional feedback on feasibility and release schedules if the feature is approved.

In the meantime, perhaps try using [custom fields](https://docs.microsoft.com/azure/devops/organizations/setti

[2020-05-05 09:17] msebolt commented on #8180
@weitzhandler Thank you for the question.

Assigning this to the author to see if the article should be updated.

If this feature is not yet available, please use **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit further feedback from the product team.

[2020-05-05 10:28] pietergheysens opened #8196 "Old screenshot with alternate authentication credentials"
Alternate authentication credentials are not supported anymore. Update the screenshot to avoid confusion.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: a18e09c1-5c84-4fd6-9d62-2299a3bd53cd
* Version Independent ID: c1627714-5e55-1be0-4ba5-63f264b96e5c
* Content: [Change app access policies for organiza

[2020-05-05 10:32] Anna-3 opened #8197 "File Transform task - messed up formatting after json file transformation"
We are using the task to transform json files during deployments, but after the transformation the new file has always messed up formatting - everything is in one line, and this makes it much more difficult to read.
Could you please do not change file formatting during transformation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-05-05 10:43] SamYuan1990 commented on #8178
well, for my understanding, just wait for @juliakm 's replay if it is problem/feature right?

[2020-05-05 10:52] jvincke opened #8198 ""General work item feature access" wrong default permission documentation"
"Move work item to another project" permission is not set by default for "Contributor" group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35602ee-9d11-9746-4b79-075e295a5fb8
* Version Independent ID: dbea8e30-e80b-8f13-987e-ef0ad3ba9b83
* Content: [Default permissions and access quick reference - Azure DevOps](http

[2020-05-05 13:06] juliakm commented on #7861
@gintuoklis and @Justin-DynamicD This feature is being deployed now and may not be available for your organization yet.  I'll get more info on the required parameters.

[2020-05-05 13:20] pb6 commented on #8021
Please add option for workspace cleanup after the build. I get the idea, that you might need something to troubleshoot failed build, but usually we strive to successful builds etc. One of many microsoftish solutions to the problem :)

[2020-05-05 13:21] successhawk opened #8199 "How are Azure DevOps Public Projects discoverable?"
According to the definition of Public Projects they are discoverable.  How?

[Here is my related StackOverflow question](https://stackoverflow.com/questions/61483693/how-do-i-find-public-azure-devops-projects).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f62cfc55-db49-3ad5-3d06-f3b98a41e3e6
* Version Independent ID:

[2020-05-05 13:37] divais commented on #8181
Hi @KehindeOwens

Adding history / audit details isn't in our plans currently. We strive to ensure only key elements are available in the notification to reduce signal to noise element. I would love to understand what key problem are you trying to solve here.

[2020-05-05 13:59] MTomBosch opened #8200 "Missing information on package resources"
Hi, above it is mentioned that there are "package" resources but I cannot find any documentation about it. Can you fix that?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d5-4fb4-7c3e-b84abfa290c2
* Version Independent ID: 3e2b80d9-30e5-0c48-49f0-4fcdfedf5eee
* Content: [Resources - Azure Pipeline

[2020-05-05 14:47] MTomBosch opened #8201 "Capabilities of Script are not well described"
When I enter something into a "script" does it mean that under the hood these commands are just delegated to the respective shell of the executing agent? If that is the case when should I choose Script over Bash (that is available on Win, Lin and MacOS)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 797838e7-f32b-868e

[2020-05-05 15:14] chcomley commented on #8199
Hi @successhawk, Thanks for reaching out. I've followed up with the product group for some clarity and will get back to you soon. Hope you're having a nice day. Thanks!

[2020-05-05 15:19] chcomley commented on #8194
Hi @Marco-Santoni, Thanks for reaching out. I've followed up with the product group about using wild cards in the filtering criteria and will be in touch soon. Thanks!

[2020-05-05 16:13] JoeGaggler opened #8202 "VMs matching tags: "any" or "all" ?"
Please update the "Reference VM resources in pipelines" section to indicate whether the VM resource must match ALL of the tags or ANY of tags. The linked reference document (YAML Schema) does not even define "tags" as an option for "environment".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d0d31f-81ee-c024-db7e-da

[2020-05-05 16:32] msebolt commented on #8178
Yes, apologies for not understanding if this is feasible or not.

If you suspect this is not yet supported it couldn't hurt to run it by the product team sooner than later.

[2020-05-05 17:08] divyacbala commented on #8153
I am still seeing this error. I created the vmssagentpool yesterday. The instances seem to run for a while then get deleted and new instances are recreated. This is happening continuously. And I do not see any agents in ADO.

[2020-05-05 18:19] chcomley commented on #8196
Hi @pietergheysens, Thanks for the heads up. I've created a PR, which should be live shortly with the latest and greatest UI. Thanks again!

[2020-05-05 18:19] #8196 closed

[2020-05-05 18:35] #7151 closed

[2020-05-05 18:50] juliakm commented on #6896
Pushing an updated example shortly.

[2020-05-05 19:13] juliakm commented on #8178
@SamYuan1990 My understanding is that the syntax from Travis would not work. I think that you would want to use the [Install SSH Key task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-ssh-key?view=azure-devops) to set up known hosts. It looks like there is an [active feature request](https://github.com/Microsoft/azure-pipelines-tasks/issues/10838) to support a know

[2020-05-05 19:13] #8178 closed

[2020-05-05 19:43] WilliamAntonRohm commented on #8190
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-05 19:43] #8190 closed

[2020-05-05 19:45] jrybacek opened #8203 "How can Stakeholders see the portfolio backlog?"
In the article above, it claims Stakeholders can see the portfolio backlogs and Kanban boards.  Can you explain to me how I can set this up, our Stakeholders currently click on Backlogs, but they get a blank screen.

Agile Portfolio Management
Includes limited access to portfolio backlogs and Kanban boards. Stakeholders can't change the backlog priority order, and can't assign items to an iteratio

[2020-05-05 19:47] WilliamAntonRohm commented on #8193
@gdalsnes -- thank you for your question. Here are a couple of options where you might consider asking it:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@vijayma -- please look into this issue.

[2020-05-05 19:47] WilliamAntonRohm commented on #8195
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-05-05 19:47] #8195 closed

[2020-05-05 19:55] PawcioCNCProfi opened #8204 "How/with who I can share the Artifacts?"
In the first sentence this page only says "...with teams of any size." but what are requirements/limitations of this?
This is a key thing and I can't find clear answer to it on any page in this documentation.

I used to share package to my colleague through local file share.  The [Get started with NuGet packages in Azure DevOps Services and TFS](https://docs.microsoft.com/pl-pl/azure/devops/artifa

[2020-05-05 21:23] abatishchev opened #8205 "Doc doesn't explain the difference between DownloadPipelineArtifact and DownloadBuildArtifacts"
To my understanding, `DownloadBuildArtifacts@0` is legacy and `DownloadPipelineArtifact@2` is preferred.

However, I'm getting the following warning when using the _latter_:

The documentation for neither tasks explains which I need to use, when and why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6

[2020-05-05 21:57] WilliamAntonRohm commented on #7808
@taspeotis -- Todd, thank you for clarifying.  My apologies for the delay in responding.

@steved0x -- Steve, please look into this issue.

[2020-05-05 22:00] WilliamAntonRohm commented on #7779
@dastewa -- D, thank you for clarifying.  My apologies for the delay in responding.

@pulkitaggarwl -- Pulkit, please look into this issue.

[2020-05-05 22:03] WilliamAntonRohm commented on #7724
@ToMakeSense -- thank you for clarifying.  My apologies for the delay in responding.

@KathrynEE -- please look into this issue.

[2020-05-05 22:17] WilliamAntonRohm commented on #8041
@bennypowers -- Benny, thank you for clarifying.  My apologies for the delay in responding.

@azooinmyluggage -- Atul, please look into this issue.

[2020-05-05 22:19] WilliamAntonRohm commented on #8067
@haymansfield -- thank you for clarifying.  I am looking into this article now.  My apologies for the delay in responding.

[2020-05-05 22:31] WilliamAntonRohm commented on #7810
cc @azooinmyluggage for awareness

[2020-05-06 00:10] Victorealvirus commented on #1579
This issue still exists and shouldn't be closed. If anyone has found a solution, please reply.

[2020-05-06 00:42] jamers99 commented on #8124
It seems it still runs even if a depending stage was skipped.  This seems like the wrong behavior.  Is there a way to implement this?

[2020-05-06 04:35] AdrianSanguineti commented on #8097
@dombat, what you're actually after is adding a [nuget.config](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file) file at the solution level of your repository with the package sources set as desired. Then check that file into source control with everything else.

Visual Studio then will automatically use the nuget.config file that's next to the solution instead of the system wide

[2020-05-06 05:10] mikehachen commented on #7123
It's very strange... In one pipeline everything is working as expected but with another (older) yaml-Pipeline I can't get azure key vault secrets to work. However I think it's easier to restart with a new pipeline.
Thank you for your help!

[2020-05-06 05:10] #7123 closed

[2020-05-06 07:07] wouterroos opened #8206 "ResourceNotFound: The Resource 'Microsoft.Web/sites/xxxx' under resource group 'xxxx' was not found"
Hi,

Please see my comment https://github.com/MicrosoftDocs/azure-docs/issues/43203#issuecomment-621734170 on a similar issue. In short: A few weeks ago deployments of web apps with managed identity enabled started failing with the error message mentioned in the title. We've been deploying these ARM templates successfully for over 2 years without issues and they've started failing only recently. W

[2020-05-06 07:09] MTomBosch commented on #7929
I agree to @NenoLoje. I was also searching for this information. In the top part about "Tasks" it says something about creating build definitions but in the "Permissions" chapter it is nowhere mentioned anymore so it is simply a documentation gap. Please fix it.

[2020-05-06 08:41] gintuoklis commented on #7861
hi @juliakm,
I found examples within your design [documents](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/pipeline-resources.md)

There you have parameter **Connection**
`connection: string   # service connection for your package repo.`

It is unclear how to use it, in case you want to download universal package hosted within the same project. Could you please make inquirie

[2020-05-06 09:18] xxycode commented on #7699
When I copy provision file, I named "embedded.mobileprovision" to "embedded.provisionprofile", the right name is "embedded.mobileprovision".

[2020-05-06 10:50] cawoodm opened #8207 "Clarify Publishing .zip files"
It's not clear how we can publish .zip files directly. When we pass a folder or file, the task will zip it  - how can we specify that we have already zipped the artifact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9cc6a2f66
* Version Independent ID: bdf954b9-9bbe-8b34-b674-71ad8153519d
*

[2020-05-06 11:25] bbarman4u commented on #7085
+1. I guess this method outlined is only useful if we have any specific needs for having a custom image that needs tools that MSFT don't have in their base image and not easy to maintain on the hosted platform. It does not look like they are keen on allowing users to extend their base agent for pipeline for this.

[2020-05-06 13:24] #6896 closed

[2020-05-06 13:34] witekkij commented on #4141
This is still failing

[2020-05-06 13:46] IRLeif opened #8208 "Incorrect documentation and sample code from Azure"
I can't get the recommended approach to work based on the examples provided.

After spending the better part of two days reading countless blog posts, StackOverflow issues, documentation pages, etc. I still haven't been able to identify the root cause.

I suspect a different `.pypirc` might be loaded from the wrong location on the virtual machine in the Azure DevOps Pipeline, but I haven't been ab

[2020-05-06 14:01] steved0x commented on #7718
@yobyot I am publishing an update to this article today with more detail on the process. `Whoever decided that "download the weekly file" is enough should be embarrassed.` - definitely agree that this article needs more info and hopefully today's update will provide better guidance.

[2020-05-06 14:29] CoolDadTx commented on #8010
@steved0x thanks

[2020-05-06 14:30] gintuoklis opened #8209 "MFA and PATs"
hey Guys,
Could you please confirm that I understood it right?

Let's say enable CAP for my AzureDevops organization. From that point users are required to use MFA to access our AzureDevops site. This change will not have any affect to self-hosted agents, that authenticates to AzureDevops using PAT. PATs will remain working without any CAP rules enforcement.

Did I got it right?

---
#### Document

[2020-05-06 14:41] Sunnyerin opened #8210 "Exporting Test Results"
Prior to the new page there was a feature to export test results that was really nice.  Not having this is a huge loss of functionality.  Is there any plan to bring it back?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c520dee-1218-777e-7405-551623817c03
* Version Independent ID: 82b5d172-ae1a-2b4c-82ac-595cd7609d3c

[2020-05-06 14:44] lg2de commented on #3791
Any updates on this issue?
I'm confused like @yannduran.
When reading "enable" I expect to see a new option somewhere.

[2020-05-06 14:46] slbentley opened #8211 "Progress report shows "Not Run""
Curious if there are any common reasons why my progress report, as well as my widget "Chart for test plans" always shows my test cases as not run? All test cases/work items are in the ready state. All tests are passing during my pipeline build. My unit test project is core 3.1 and I'm running it with a "core" pipeline task and the "test" parameter.  After each pipeline build I get a "tests" tab an

[2020-05-06 14:46] schellem opened #8212 "Needs documentation for NON YAML"
I don't use YAML, how do I specify multiple files in the Contents field of the tasks UI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd0e110-4b14-2d96-f28e-d2d2ef53b966
* Version Independent ID: 76cb1df7-c2c5-2de0-fd14-93175838934f
* Content: [Delete Files task - Azure Pipelines](https://docs.microsoft.com/en-us/az

[2020-05-06 14:52] Vchawla21 opened #8213 "ReleasePipeline details"
I Can see releasepipelineid in TestRun and TestResults entity but there is no refrence table to get release pipeline details , Are these avaiable in v3.0-preview or any plan to include this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0406dd-f852-001f-eba5-a665ed4ef7a0
* Version Independent ID: 51657f61-8b0c-3132-5

[2020-05-06 14:59] nadworny commented on #6005
Did you figure it out in the end or are you waiting for the above feature request to be implemented?

[2020-05-06 15:18] Luminaii commented on #5301
I have added the HTTP_PROXY and HTTPS_PROXY variables to my system but I'm getting "error]tunneling socket could not be established, cause=getaddrinfo ENOTFOUND 8080 8080:80".

Is there any know solution for this?

[2020-05-06 15:28] vatolinrp opened #8214 "Override variables"
I'm using two variable groups in my azure devOps pipeline, configured with yml file: Common-group and Dev-group. I have same variable in each of them. I want to override variable from Common-group with the one from Dev-group. I am able to do it within the deployment job, but not with the regular job. What may be the explanation to such difference?

---
#### Document Details

⚠ *Do not edit this se

[2020-05-06 15:39] steved0x opened #8215 "Test issue - title rename"
This is a test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Triggers in Azure Pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops)
* Content

[2020-05-06 15:40] #8215 closed

[2020-05-06 15:42] derekantrican opened #8216 "DeleteFiles task Isn't working for me"
Here's my yaml:

[code]

But upon running this step in ADO pipeline it just says:

[code]

And the folders are not deleted on the machine.

Am I using the syntax wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd0e110-4b14-2d96-f28e-d2d2ef53b966
* Version Independent ID: 76cb1df7-c2c5-2de0-fd14-93175838934f
* Co

[2020-05-06 15:44] Nirav-Bhadradiya commented on #6815
@RoopeshNair How can i check if my API check on environment is failing or passing ? it keeps waiting for it to pass when doing a build. There should be some way to check what happened to my REST API call.

[2020-05-06 16:08] msebolt commented on #8197
@Anna-3 Thank you for the feedback.

This was reported earlier [here](https://developercommunity.visualstudio.com/content/problem/527013/file-transform-json-into-single-line.html), so this might be a version issue.  Please be sure you're using the latest version to see if this resolves the issue.

Otherwise, given this is product-related, it will need to be reported to the product team in the [Azu

[2020-05-06 16:18] ShadenSmith commented on #3812
I can confirm that the fix from @RyanPicco works and was needed for my environment.

[2020-05-06 16:26] msebolt commented on #8201
@MTomBosch Thank you for the question.

Using the **Script** task is really meant to support the Window's CMD platform.  For all other needs you should be using **Bash**.

For limitations of the **Bash** task on Windows, see [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/about) and [Git Bash](https://gitforwindows.org/) for more information.

Assigning this to the autho

[2020-05-06 16:40] ramiMSFT commented on #6960
@soccerjoshj07 Thank you for the feedback. Package demotion is not supported. I added a note for more clarification. The updated article will go live shortly.

[2020-05-06 16:42] trajano opened #8217 "Distinguish why Build.Repository.Name results in Null and Build.SourceBranch does not result in Null"
When declaring
[code]
The documentation states it is an agent scoped variable.  Perhaps there should be more clarification on what that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Predefined variabl

[2020-05-06 16:44] #6960 closed

[2020-05-06 16:48] ramrajesh commented on #8209
That is correct. Setting up a MFA policy will not impact our non-interactive flows that uses alternate credentials like PATs.  Here is the public facing documentation on this.

https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-conditional-access?view=azure-devops&tabs=preview-page

[2020-05-06 17:08] NenoLoje commented on #7929
@WilliamAntonRohm Can we-activate this request, please?

[2020-05-06 17:09] andre-f-paggi opened #8218 "Share Azure Artifacts for all organization"
I was not sure about it when reading the docs.

Can I share Azure Artifacts from one DevOps project to all organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf693ac-c5c3-96a6-7f4b-bbc2271a6375
* Version Independent ID: 4f76c74c-1d6c-644f-f00d-97d7738d7b01
* Content: [Using packages in Azure DevOps best prac

[2020-05-06 17:20] chcomley commented on #8209
Hi @gintuoklis, I'm closing this issue, however please @mention ramrajesh if you have any further questions. Thanks and have a great day!

[2020-05-06 17:20] #8209 closed

[2020-05-06 17:25] WilliamAntonRohm commented on #7929
@NenoLoje, @MTomBosch -- thank you for clarifying.

@juliakm -- please look into this issue.

[2020-05-06 17:27] msebolt commented on #8200
@MTomBosch  Thank you for the feedback.

Please refer to the issue https://github.com/MicrosoftDocs/azure-devops-docs/issues/7861 for further updates on the status of this.

Closing this issue now.

[2020-05-06 17:27] #8200 closed

[2020-05-06 17:29] natyo opened #8219 "Reopen bugs or PBIs."
How do the cycle and lead time work if I need to reopen a bug or PBI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e813268-5e00-7c84-2479-3068e27ea443
* Version Independent ID: 269b0352-2a6a-d5c9-96a3-68d5ce93c616
* Content: [Cycle time and lead time control charts - Azure DevOps Services](https://docs.microsoft.com

[2020-05-06 17:38] billybraga commented on #8177
@kenakamu Try `trigger: none` in your pipeline yaml

[2020-05-06 18:02] ronwarner opened #8220 "Should promoting from @Prerelease to @Release result in removing the package from @Prerelease?"
I promoted a package to @Prerelease for testing.  Once it was verified to be solid, I promoted it to @Release.  The package is now in both views.  I wasn't sure if that was expected behavior or not, but wasn't too worried about it.  However, back in Visual Studio, when trying to add that package to a solution through the NuGet Package Manager GUI, the package only shows up when I check the "Includ

[2020-05-06 18:13] WilliamAntonRohm commented on #8067
@juliakm -- please review [private PR 1376](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1376).

[2020-05-06 18:18] ravishan-msft commented on #8210
Export option is still available in the new view, @Sunnyerin - click the context menu on any suite in the suite hierarchy and you will see the "Export" option.
Look at the 2nd section on Suite Tree on the New Test Plans page.

[2020-05-06 18:19] MichaelBelousov opened #8221 "Example manual subsitution for "don't sync sources""
In [this article](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml), the documentation on the "Don't Sync Sources" option of the azure pipelines source fetch step is lightly documented. We are syncing sources manually with a script, and having issues authenticating (the git credential manager is prompting on the agent when the bearer auth should suff

[2020-05-06 18:23] WilliamAntonRohm commented on #8163
@juliakm -- please review [private PR 1378](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1378).

[2020-05-06 18:25] Sunnyerin commented on #8210
OK.  We are looking for exporting Test Execution Results by test case.  It was there before the new view.  We know how to export the test cases themselves.  I just tried the recommendation and it isn’t exporting the actual results with corresponding screen shot like it did in the past.

Erin

From: ravishan-msft [mailto:notifications@github.com]
Sent: Wednesday, May 06, 2020 1:19 PM
To: MicrosoftD

[2020-05-06 18:31] pauloqueiroga opened #8222 "fatal: Authentication failed for git clone with PAT"
For the git clone command using PAT, this page shows:
git clone https://anything:{yourPAT}@dev.azure.com/yourOrgName/yourProjectName/_git/yourRepoName
But that gives a "fatal: Authentication failed for ..." message. The correct syntax is as follows:
git clone https://{yourPAT}@dev.azure.com/yourOrgName/yourProjectName/_git/yourRepoName

Specifically: no username; no "anything"; and no colon ":".

[2020-05-06 18:34] WilliamAntonRohm commented on #8166
@RoopeshNair -- please review [private PR 1379](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1379).

[2020-05-06 18:43] msebolt commented on #8205
@abatishchev Thank you for the question.

The recommended approach is to use [Download Pipeline Artifact](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops) task, please try using it with the [Publish Pipeline Artifact](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact) task to eliminate this error.

[2020-05-06 18:54] tesharp commented on #6005
@nadworny We didn’t really solve this no. Tried for a bit to only run certain stages in master, so we could test releases in branches. However problem then was if we actually wanted to deploy something from a branch we had to merge to master.

In the end we changed it to only run those stages if a build variable was set. So when manually triggering build in DevOps you had to set a variable “Deploy

[2020-05-06 19:11] pradeepna commented on #8213
@Vchawla21 - TestRuns and TestResults entity just contain enough information to identify the release pipelines that they ran on so that they can be grouped or filtered by those attributes. However, since we do not have Release pipeline data in Analytics, the actual release pipelines tables are not present. It will not be available in v3.0-preview and we do not have plans to do this either.

//cc -

[2020-05-06 19:14] nllorente opened #8223 "Execute without admin rights"
Could you add a more detailed explanation providing the reasons an administrative account is needed? Is it really impossible to execute the task with a lower level of privileges?
This raises concerns about security risks. Information Security departments usually reject this kind of requests unless there is strong justification.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-06 19:30] nadworny commented on #6005
@msebolt it's apparently in the roadmap but no release date yet

[2020-05-06 19:41] chcomley commented on #8191
Hi @kallsu, Thanks for reaching out for clarification. You will only pay for the users you invite to collaborate in Azure DevOps and if you assign them a Basic license. Thanks and have a great day!

[2020-05-06 19:41] #8191 closed

[2020-05-06 19:46] msebolt commented on #6005
@nadworny Thank you for the update.

Please follow this in the **Developer community**  at https://developercommunity.visualstudio.com/idea/855198/yaml-pipeline-approvals-rejection-fails-build.html and we can update the documentation once released.

[2020-05-06 20:05] PawcioCNCProfi commented on #8204
And I just realized I used wrong tab for this issue. It suppose to be linked to [What is Azure Artifacts?](https://docs.microsoft.com/en-us/azure/devops/artifacts/overview?view=azure-devops) and not to "Communicate package quality with prerelease and release views - Azure Artifacts"

[2020-05-06 20:27] abatishchev commented on #8205
@msebolt thanks for the info! Did I understand correctly that the warning is misleading: instead of switching from DownloadPipeline to DownloadBuild, I rather should switch from UploadBuild to UploadPipeline?

[2020-05-06 20:41] wildky commented on #7236
Do we use arguments to pass pipeline variables to the CLI scripts? I am also requesting more info and examples around the arguments option

[2020-05-06 20:54] tsaibabu4u commented on #4497
I am looking for this too

[2020-05-06 21:05] zeande opened #8224 "Creating docker containers inside of Microsoft-hosted build agents"
Url to article: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

This is a general question or issue about the capabilities of the Microsoft-hosted build machines in Azure DevOps. I have a build scenario where I need to create a docker container using a specific image and then run various commands on the host that do things inside of the container. I would r

[2020-05-06 21:34] abatishchev commented on #7616
@vijayma ping on this, please.

[2020-05-06 21:36] abatishchev opened #8225 "Does PublishPipelineArtifact@1 support wildcard or glob pattern?"
The documentation doesn't say much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41baa0b5-175c-a697-4b7d-c150259c6e6b
* Version Independent ID: 75085b15-1acc-526a-0495-74a13c42c1d5
* Content: [Publish Pipeline Artifacts task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publ

[2020-05-06 22:02] WilliamAntonRohm commented on #7558
@juliakm -- please review [private PR 1381](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1381).

[2020-05-06 22:14] WilliamAntonRohm commented on #7581
@verbedr -- Dries, thank you for clarifying.  Your first comment is fine -- it's what we do!

@shashban -- Shashank, please review [private PR 1382](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1382).

[2020-05-06 22:14] chcomley commented on #8222
Thanks for the feedback, @pauloqueiroga. I have this update in a PR, which should be live sometime today or early tomorrow. Thanks again and have a great day!

[2020-05-06 22:14] #8222 closed

[2020-05-06 22:35] zeande commented on #8224
User error. The cmdlet I was calling, which was creating the docker container, was passing the --isolation hyperv parameter. Removing that fixed the issue.

[2020-05-06 22:35] #8224 closed

[2020-05-06 23:00] afi-itree commented on #7621
Exactly the same behaviour for me... Double checked the PAT, also tried to base64 encode the PAT with no success. I also use scoped registry, like @jrummell.

[2020-05-06 23:02] WilliamAntonRohm commented on #8189
@PBoraMSFT -- Prachi, please review [private PR 1384](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/1384.

[2020-05-06 23:22] majorvin opened #8226 "How to roll out new version of vmss agent if vmss scale set is used?"
When creating through the portal, 1 agent pool = 1 vmss. What if we want to roll out a new version? How can we 'use' the same name so there will be no changes in the pipelines?

[2020-05-06 23:31] smabusali opened #8227 "Is there a difference in billing, etc. when Visual Studio Subscription user is granted another access level?"
Under the Visual Studio Subscription section it says: "If you assign Basic or Stakeholder, they also receive their Visual Studio subscription benefits upon sign-in."

Do the benefits being referred to include ADO access or is the access level still according to what is assigned? If it includes subscriber access, is the redundancy simply for ease of administration or are there any other implication

[2020-05-06 23:51] KathrynEE commented on #8203
@jrybacek - Stakeholders should automatically be able to see all backlog levels. If they are seeing a backlog but no work items, then I'd check what permissions have been placed on the area path. See [Create child nodes, modify work items under an area path](https://review.docs.microsoft.com/en-us/azure/devops/organizations/security/set-permissions-access-work-tracking?view=azure-devops&branch=use

[2020-05-06 23:51] #8203 closed

[2020-05-07 00:13] Leon99 opened #8228 "batch is not supported"
`batch` in YAML is not supported yet as admitted by MS support engineers, it should be removed from the documentation until it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipelines]

[2020-05-07 02:03] kenakamu commented on #8177
Thanks @billybraga. Is there anyway to trigger only previous pipeline completed?

[2020-05-07 05:08] weitzhandler commented on #8180
I will, first need to determine what's the "by design" here. Because currently setting status to "wait for author", doesn't actually do anything.
When we get feedback from article-author, will post a feature request for "approve when all comments resolved" state.

[2020-05-07 05:52] msebolt commented on #8206
@wouterroos Thank you for the feedback.

Please see if [this post](https://stackoverflow.com/questions/60954793/the-resource-microsoft-web-sites-abc-rg-under-resource-group-null-was-not-f) addresses the issue and report the problem [here](https://developercommunity.visualstudio.com/content/problem/post.html?space=21) to get feedback from the product team.

[2020-05-07 05:54] msebolt commented on #8207
@cawoodm Thank you for the question, assigning this to the author for further review.

Please note if this is a feature not yet supported you should solicit further feedback from the product team [here](https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2020-05-07 06:05] ravishan-msft commented on #8210
Erin, can you please share a screenshot from the old view about the functionality you are describing. You can turn-off the new test plans page from the Preview Features option.

[2020-05-07 06:07] msebolt commented on #8211
@slbentley Thank you for the feedback.

Please see if [this post](https://developercommunity.visualstudio.com/content/problem/911149/passed-test-cases-are-showing-in-dashboard-as-not.html) addresses the issue and if not, report this as a problem to the product team [here](https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

@steved0x

[2020-05-07 06:20] msebolt commented on #8214
@vatolinrp Thank you for the feedback.

Please see if [variable group precedence](https://github.com/MicrosoftDocs/azure-devops-docs/issues/1142) or [overlapping scope](https://developercommunity.visualstudio.com/content/problem/660069/variable-group-precedence-not-working-when-using-o.html) helps resolve the issue.

Otherwise you can search [this list](https://developercommunity.visualstudio.com/

[2020-05-07 06:34] sonal-b opened #8229 "Enabling Dependency Bot notifications"
The 'Dependency Bot' section doesn't provide enough details on what needs to be done to enable the notifications, and whether the notifications can be managed by users through their preferences.

Please add that detail.

For the record, I have not received any notifications to date for the scenarios handled by the Dependency Bot - hence I'm not sure its working properly/enabled.

---
#### Document

[2020-05-07 07:07] kelos-01 commented on #8210
I'm also battling to figure out how to export. I don't see the 3 ellipses.
I have administrator level access.
https://imgur.com/gwFO6rh - Screen shot

[2020-05-07 07:47] pkuma-msft commented on #8210
Hi @kelos-01 .. can you tell us which browser you're trying it on? And also if possible, can you try on Chrome or Edge Chromium (if not already done).

So as I'm seeing, you are not seeing the 3 dots when you hover the mouse over the suite name, is that correct?

[2020-05-07 07:56] kelos-01 commented on #8210
I have tried using different browsers. None of them are showing the 3 dots. I'm not sure what more to do?

[2020-05-07 08:29] SalvoSwift21 commented on #7699
@xxycode , please can you help me I don't know what to watch anymore. I have the same error: `## [error] "{\" error \ ": \" Error: Missing required params from body: build_version, unique_identifier, Service id: {ID} \ "}"`

Here is my configuration by replacing the variables that depend on the project with xyz.
Thanks in advance

[code]

[2020-05-07 09:24] harshit211997 commented on #8219
If a work item enters a Completed state and then is reactivated and moved out of that state, then any additional time it spends in a Proposed/In Progress state will contribute to its lead/cycle time when it enters a Completed state for the second time. Reference - https://docs.microsoft.com/en-us/azure/devops/report/dashboards/cumulative-flow-cycle-lead-time-guidance?view=azure-devops

[2020-05-07 09:50] anb0s commented on #7624
That is really a pity. We are using  Azure DevOps Server 2019 and cannot use Mermaid at own servers.

[2020-05-07 09:51] anb0s commented on #7624
No Mermaid, no PlantUML no other diagrams are supported?

[2020-05-07 09:55] advent77 opened #8230 "Doesn't help at all !!"
I know I need a PAT to link LCS and VSTS (DevOps). I've now got one, but the ridiculous situation is that when I try to set-up the link between LCS and my DevOps project, the poorly written UI tells me that I need a Personal Access Token and then directs me to this URL !! Absolute nonsense and typical of the circles we all run around to get any Microsoft Integration working as intended!!

---
####

[2020-05-07 10:57] BrayanKhosravian opened #8231 ""Request premission""
Is that "Request premission" thing documented somewhere?

"Your administrator can provision the Wiki Git repository or you can request that they elevate your permissions. Stakeholders can't create a wiki, as they have no permissions to work in Repos or Code."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973bb49c-7fcb

[2020-05-07 11:54] ashishgrazitti opened #8233 "are webhooks retried in case of no response?"
Hi Azure Devops team,

I am thinking of a webhook subscription based integration with Azure Devops.  I have a doubt if my system is down when the webhook is fired, will that event be fired again? or that piece of information is lost?

[2020-05-07 11:56] Sunnyerin commented on #8210
It was  chrome and the functionality is gone.  I tried replicating what we were able to do about 6 months ago and it is gone.  You can close this.  It is unfortunate that it isn’t there anymore.  Our Risk and Control team really liked the email we sent that included all the screen shots.  I can at least get the outcome though so thank you for your help in that.

From: Franco [mailto:notifications@

[2020-05-07 11:58] hdennen opened #8234 "Build.BuildNumber"
It strikes me as odd that `Build.BuildNumber` can be used, "[...] but not as part of the build number [...]."

If we could use `Rev` anywhere other than `name` that would be great. But we can't. And since `name` is actually 'Build.BuildNumber' and `BuildNumber` is conveniently accessible from release pipelines it really makes it difficult not to use it as a build number.

Can someone explain why `

[2020-05-07 12:04] kotaroino opened #8235 "For linux Not working now"
The linux sample has stopped working.

Maybe there is no Link
`pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
`

It worked↓
`pip install azure-cli
`
Check it out

error log ↓
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9480b69-ca1f-55bc-8505-49c51d9f205e
* Versi

[2020-05-07 12:09] slbentley commented on #8211
There issue was different in that the test cases would show as executed, but the graphs would show as not run. I can't even get the test cases to show as executed. They just show as "ready". We have other devops projects where we've gotten this to work, and a side-by-side comparison of all settings doesn't reveal anything we've missed. I've followed the link and reported a problem as suggested. Bu

[2020-05-07 12:09] slbentley commented on #8211
*Their issue. SMH.

[2020-05-07 12:42] beatcracker commented on #7779
Does `modifyOutputPath` work for publishing solutions (`*.sln`)?

[2020-05-07 13:08] #8219 closed

[2020-05-07 13:45] borys86 commented on #8160
Just to make clear: this is about contradicting text where a text field says to a. it needs service principal id and b. Client ID. Both are mutually exclusive. So either top text "Service Principal ID" or "Client Id" in the button of the field needs to be updated.

[2020-05-07 13:52] WillLennon commented on #8153
The fix rolled out to everybody as of Wednesday May 7th.  Is anyone still hitting the issues with agents failing to come online?

[2020-05-07 13:54] frankzo commented on #8153
@WillLennon it is working again for us! Thanks for the effort. Really love the feature!

[2020-05-07 14:10] MTomBosch opened #8236 "Custom package version"
Above it is mentioned that also the custom package version can be specified while uploading a universal package.
Does it mean I can use a different version format than the semver major.minor.bugfix (all parts numbers) ?
When reading the documentation this is not clear to me.
Finally I am wondering if something like a 'head' version can be realized using universal packages.

---
#### Document Detai

[2020-05-07 14:11] sensslen opened #8237 "Give Example on Multiline Patterns"
When trying to match Files I came accross the question whether a file must match all given patterns or just one.
Is it possible to control this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd54e81-9a0c-c5e5-fb89-9534372805ff
* Version Independent ID: f3d49618-32d7-0abc-1c33-8211eb7dd073
* Content: [File matching pa

[2020-05-07 14:12] chcomley commented on #7624
Hi @anb0s, I appreciate your comments. Please go [here](https://developercommunity.visualstudio.com/spaces/21/index.html), and then select **suggest a feature**. That'll get it in front of the developers. Thanks.

[2020-05-07 14:18] Weiman74 commented on #8182
"For instance, there is no way to trigger a pipeline on the same branch as that of the triggering pipeline using build completion triggers."

Whoa, this is a huge drawback for my organization. We are heavily invested in classic pipelines (which are muuch more user friendly than yaml), and have just created our first release branch. I was wondering why I could not get the  build completion triggers

[2020-05-07 14:44] thecoolestname36 opened #8239 "Normalize nomenclature"
The wording "select the version at the time of release creation" is slightly different when creating a build artifact in ADO, it is worded as "specify at the time of release creation" and should be updated for SEO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 598465e1-85d4-4961-b8b6-902d6026c5e3
* Version Independent

[2020-05-07 15:42] bhalbright commented on #7865
same here, have to resort to magic strings like 'none'. but runtime parameters are a huge improvement

[2020-05-07 15:59] mdtro commented on #8010
I've been keeping an eye on the documentation for the updates because I really need this as well. Has anyone had success in getting the correct IPs parsed out?

[2020-05-07 16:00] msebolt commented on #8216
@derekantrican Thank you for the question.

Please try including the `SourceFolder` parameter, as this will default to the root folder of the repo which might interfere with the absolute paths.

[2020-05-07 16:08] msebolt commented on #8218
@andre-f-paggi Thank you for the question.

Yes, for more information please refer to [Azure Artifacts](https://docs.microsoft.com/en-us/azure/devops/artifacts/?view=azure-devops).

For instance, one DevOps project can publish a [nuget feed](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?toc=%2Fazure%2Fdevops%2Fartifacts%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fartifacts%2Fbreadc

[2020-05-07 16:10] wschin opened #8240 "How to set up GPU VMs for CI?"
I search for keyword GPU under "Azure DevOps Services" but the search result is empty. Does it mean GPU machines are not available for CIs? If GPU machines are allowed, could you please share some documents? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf8bb33-e4cf-3dc5-5510-1111b8f1bdbf
* Version Independen

[2020-05-07 16:31] msebolt commented on #8220
@ronwarner Thank you for the question.

This is built-in by design and you will also need to increment the version to avoid this issue.

Here's a recent [post](https://stackoverflow.com/questions/37174786/how-to-remove-prerelease-designation-on-nuget-package) that further highlights some work-arounds.

To solicit additional feedback from the product team, please refer to the [Azure DevOps communit

[2020-05-07 16:41] msebolt commented on #8221
@MichaelBelousov Thank you for the feedback.

This subject appears to be included in a few sections, namely [Options for Git repos](https://docs.microsoft.com/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops#dont-sync-sources-tfs-2017-and-newer-only), [Build repos](https://docs.microsoft.com/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#get-the-source-code)

[2020-05-07 16:55] kenturley commented on #7118
Thank you @andrewrandsbluestone for the workaround. I've used the full template in the past and it allowed me to enter a web site name. Now it doesn't. The only way I could get there was by adapting your solution, except I had to begin by adding via the IIS (without SQL) template since it was the only way I could find to reference my Deployment Group. Then I deleted the template's Manage and Deplo

[2020-05-07 17:23] tedvanderveen commented on #4179
Same problem here. Mostly HTTP 413 errors and sometimes 503 error. Relatively small number of files (35) total size around 250Mb. Nothing too special.

[2020-05-07 17:29] cameronsibbald commented on #7040
There is a community contributed task (thanks to Guillaume Rouchon)that you can use for variable substitution in other file types that contain tokens that is not restricted to "applicationSettings", "appSettings", "connectionStrings", and "configSections" nodes.

https://marketplace.visualstudio.com/items?itemName=qetza.replacetokens

[2020-05-07 17:39] billybraga commented on #8177
@kenakamu Yes. Edit pipline > Menu > Triggers > Build completion > + Add > Choose build

[2020-05-07 17:59] derekantrican commented on #8216
Thanks for the help. For people in the future, this is my final task yml:

[code]

For @msebolt I would argue that this shouldn't have been a problem and that absolute paths should be allowed. Can this be improved?

[2020-05-07 18:07] #8010 closed

[2020-05-07 18:09] KathrynEE commented on #8134
@Akshayalg - Thank you for your question. Please review these 2 articles which provides details.

- https://docs.microsoft.com/en-us/azure/devops/organizations/security/restrict-access?toc=%2Fazure%2Fdevops%2Fsecurity-access-billing%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fsecurity-access-billing%2Fbreadcrumb%2Ftoc.json&view=azure-devops
- https://docs.microsoft.com/en-us/azure/devops/organizations/secur

[2020-05-07 18:23] erlendwtf opened #8241 "UpdateReleaseName works on Azure DevOps Server"
Hi! The notes for "##vso[release.updatereleasename]release name" states that it is not supported on Azure DevOps Server.
This is wrong, it works just fine for us on Azure DevOps Server 2019 Update 1. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf0bbb-8b63-6384-aa33-b5b1e2b8cfe3
* Version Independent ID: f4da8db

[2020-05-07 18:50] Thilas commented on #8049
@WilliamAntonRohm, could you please reopen this issue as per my previous comment?

[2020-05-07 19:02] Thilas opened #8242 "Type casting"
The type casting section is really helpful. It is just missing a couple of cases. What is the expected behavior when casting the values `[]` and `{}` to booleans? `true` or `false`?

IMHO, it should return `false` but it seems not. Could you confirm and document the expected behavior please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-07 19:58] kasubram commented on #7787
I couldn't reproduce it either. There is a background job which picks up the trigger filter detail and store them for later reference but its generally runs instant. There shouldn't be any delay. If you have your yaml file in github or any other repo other than TfsGit may be we never received the event that there is a change in the yaml which has trigger enabled.

Please let us know in which repos

[2020-05-07 21:08] ShaunFS commented on #7699
For anyone having issues with this, our application has several extensions with their own provisioning profiles and the signing was not working properly until we created a plist file and used that option

- task: Xcode@5
      inputs:
        actions: 'clean build archive'
        xcWorkspacePath: 'xyzapp/xyzapp.xcworkspace'
        scheme: 'xyzapp-$(Configuration)'
        xcodeVersion: 'specifyP

[2020-05-07 21:14] mdtro commented on #8010
Thank you for submitting that fix. Am I correct in that there would currently be 1,410 network CIDRs in scope for the US regions?

[2020-05-07 21:34] rscottwatson opened #8243 "Python builds don't work and there is no anonymous access to badges."
Following your example for python produced a pipeline that fails in the pytest step in all versions.  I believe there is also a problem with the wheel package missing from the requirements.  The last issue I found was that there doesn't seem to be any option for anonymous access to badges in the setting under pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-07 21:41] rodsantest1 opened #8244 "What's the WinAppDriver url when running in Azure Pipelines?"
When I'm testing locally I manually start WinAppDriver and talk to http://127.0.0.1:4723. What url do I use when inside Azure Pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c96ae1b3-ab4c-540e-c4ca-79075f55f202
* Version Independent ID: c7b3e395-c55e-51a1-0f7e-8f5fb0430ee8
* Content: [Configure for UI testing

[2020-05-07 21:47] tsaibabu4u opened #8245 "Can we create these environments using CLI or thru REST API ?"
Please give me an example to create these environments thru cli or rest api.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec01d88087
* Content: [Environment - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelin

[2020-05-07 21:51] msebolt commented on #8228
@Leon99  Thank you for the feedback, we apologize for any issues you're having.

`batch` is officially supported and cannot be removed from the documentation unless a specific reference is provided and we will update accordingly.

Otherwise, please see if the [following batch issues](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+idea&type=question+OR+proble

[2020-05-07 21:59] msebolt commented on #8226
@majorvin Thank you for the question.

Please provide a link to the documentation and we can assign an author for review, though note the support options here are limited to examples only.

Otherwise, for more specific use-case scenarios, see:

- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/inde

[2020-05-07 22:12] rscottwatson commented on #8243
I am not sure if this is the right solution but I added wheel==0.34.2 as the first line of the requirements.txt and I also changed the test_test1.py to be
`def test_printmessage():
    print('Hello World')`

now my builds are working.

[2020-05-07 22:29] sdg002 commented on #8117
This works. But, I had to spend over 30 minutes to get it working. Microsoft should consider simplifying so that developers can better utilize their in building solutions which bring value to the end customer.

E.g. The expressions for capture an output variable for multiple stages does not have to be so complex. The classic UI should provide tabular data entry which will let the user to specify t

[2020-05-07 22:32] ramiMSFT commented on #6524
@SeanStL Thank you for the feedback. What you can do to share a package with your org is that you can promote that package to a `view` and set its visibility to `People in my organization`. See [Get started with feed views](./views.md#get-started-with-feed-views) for details.

I added a note to the article and the new version will go live shortly.

[2020-05-07 22:33] #6524 closed

[2020-05-07 23:52] ahelwer opened #8246 "Not clear how to publish to nuget.org"
Apparently NuGetAuthenticate isn't necessary for nuget.org because it doesn't accept API key authentication. Publishing to nuget.org is an extremely common use case and should be covered explicitly in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ed58a1-5819-f3a4-c674-dafcdbd56fbc
* Version Independent

[2020-05-08 00:25] sdg002 opened #8247 ""Override template parameters" how to pass an environment variable"
If it were a simple Release variable, I could use the structure $(somevariable)
But, what if I need to pass the value of an Environment variable
E.g. TEMP
Should I use $(TEMP) or $(env:TEMP) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59ea95e-b51a-e529-37a8-215e383c9a0b
* Version Independent ID: f1afdb0e-f090-319

[2020-05-08 04:17] qbikez opened #8248 "yaml schema file"
There's an endpoint in DevOps REST API that provides YAML schema: https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/yamlschema?view=azure-devops-rest-5.1
It should be mentioned in docs here (the schema in vscode extension can get outdated).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1b

[2020-05-08 04:58] jeffpatton1971 commented on #7506
@chcomley This was in Azure DevOps, to my knowledge there is no registry setting that is accessible there. Perhaps you were thinking Devops Server? TFS?

[2020-05-08 05:05] talynone commented on #1579
I had the same issue, here is my work-around:

1.) In the solution root created a file called **DevOpsNuGet.config**. The contents of this file includes both the my local NuGet files (located in the **LocalNugetPackages** folder under my solution) and the public feed (or any other feed your solution needs to build). For example:

[code]
2.) In the pipeline build definition add a **Command Line Scr

[2020-05-08 05:16] edwardhu opened #8250 "There's no gradle relevant content on this document"
In the Azure Artifacts, I saw the Gradle option but can not find any relevant content here.
Does the Gradle got fully support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078a8c96-ec59-c10b-e48e-8c5586c8cb09
* Version Independent ID: 200f5723-2404-298d-e6bb-533592a28ff3
* Content: [Azure Artifacts in Azure DevOps -

[2020-05-08 06:09] msebolt commented on #8233
@ashishgrazitti Thank you for the question.

If you reference an article we can assign this to an author for review, though note our support options are limited to documentation examples only.

Otherwise, for additional support options, please see:

- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21

[2020-05-08 06:22] msebolt commented on #8230
@advent77 Thank you for the feedback and we apologize for the issues you're having.

Please see if [this post](https://developercommunity.visualstudio.com/content/problem/868724/the-personal-access-token-configured-for-this-proj.html) addresses the issue and consider reporting this issue to the product team [here](https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

If

[2020-05-08 06:41] Patrickkk commented on #7917
@nlaveck
I assume you are talking about the following:

Because npm ci deletes the node_modules folder to ensure that a consistent, repeatable set of modules is used, you should avoid caching node_modules when calling npm ci.

The example caches the "shared cache directory." not the node modules. So its not contradicting. though I thought the exact same thing as well. :)

[2020-05-08 06:49] Victorealvirus commented on #1579
Thank you. If this issue is closed, I wonder if there is an official way of doing this too. In the meantime, this will work in our case.

[2020-05-08 07:02] orpitaPesto opened #8251 "Query"
I am a newbie to azure devops , I just want to know how to add plugin to an Azure Devops and how to see the working execution and debug it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4136c15d-672e-44b0-b42b-16b877deb381
* Version Independent ID: 16df8860-d655-b092-2f8b-aaa5d1b2e955
* Content: [FAQs about getting ex

[2020-05-08 08:21] advent77 commented on #8230
Thanks for response.
I got the issue fixed!

The problem is the form which is displaying the message that I need a token!

The form is not long enough! The field for entry of the token is “hidden” from view... you need to scroll down to see the input field!

Can I suggest that this form gets FIXED!!

Regards
Joe

(iPhone mail)

[2020-05-08 10:01] turbut commented on #8235
Same issue here.
Debug does not give any more info....

[2020-05-08 11:14] NathanielRose commented on #7580
I do not see an option to use YAML for a release pipeline. I only see the option to import JSON. Release pipelines have unique features such as condition gates which I am unsure how to incorporate into a YAML with the correct syntax.

[2020-05-08 12:06] anb0s commented on #7624
@chcomley Thanks! I've created two feature requests for specific formats:
- [Mermaid](https://developercommunity.visualstudio.com/idea/1023488/mermaid-rendering-support-for-azure-devops-server.html)
- [PlantUML](https://developercommunity.visualstudio.com/idea/1023490/plantuml-rendering-support-for-azure-devops-server.html)

an one for generic solution:
- [Extension point for diagram rendering](de

[2020-05-08 13:27] theneedyguy commented on #5964
@MichaKnoe could you provide a sample on how to do the workaround? I've been trying to use variables to change the service connection name in my builds too.

[2020-05-08 13:42] Izzmo opened #8252 "`pkgArtifactName` says optional but build task says otherwise"
When I use this task in my pipeline, it tells me the `pkgArtifactName` input is required.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b41ba27-633a-37d4-ce78-a1444a99b5b1
* Version Independent ID: 387739fb-276b-d0c9-4848-45426b6e2319
* Content: [Update Service Fabric Manifests task - Azure Pipelines](https:/

[2020-05-08 14:09] AndrewR66 opened #8253 "Build.DefinitionName ?"
Both $(Build.DefinitionName) and $(BuildDefinitionName) are mentioned. Is the first one a typo ? If not, could you explain the difference ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57f8545-bb15-3a71-1876-3a9ec1a59b93
* Version Independent ID: 28c87c8d-c28d-7493-0c7c-8c38b04fbcd7
* Content: [Run (build) number -

[2020-05-08 14:29] MichaKnoe commented on #5964
It is hard to explain at the moment @theneedyguy :
There is no real good workaround for this.
When using yaml pipeline and variable templates you have the possibility to reuse templates with different parameters. Here you can provide the value of variables to be delivered as a parameter value.
But the same is not possible for serviceConnection names. That means you cannot retrieve such a value fro

[2020-05-08 14:34] theneedyguy commented on #5964
@MichaKnoe thanks. I worked around this by setting task variables and then executing the task based on the variable value (I basically have the same task multiple times but only one will execute based on the variable value) I had to hard code the ServiceConnection name in my "root" YAML file though. It's better than nothing.

[2020-05-08 15:50] guillaume86 opened #8254 "Add support for JUnit attachments"
I would be nice to add support for JUnit attachments in addition to VSTest and NUnit ones.
I tried to look in https://github.com/microsoft/azure-pipelines-tasks/tree/14e133b26af7115fc46a2b19e3c1fb710000cd96/Tasks/PublishTestResultsV2
to see if I could add it myself and I couldn't find the code that parse and sends attachements.

The attachment format is described here: https://plugins.jenkins.io/j

[2020-05-08 15:52] msebolt commented on #8186
Closing this issue now.

[2020-05-08 15:53] msebolt commented on #8181
Closing this issue now.

[2020-05-08 15:53] #8181 closed

[2020-05-08 15:54] msebolt commented on #8197
Closing this issue now.

[2020-05-08 15:54] #8197 closed

[2020-05-08 15:57] msebolt commented on #8240
@wschin  Thank you for the feedback.

This feature is currently in **Preview**, please see [Deploy container instances that use GPU resources](https://docs.microsoft.com/azure/container-instances/container-instances-gpu) for more information.

[2020-05-08 16:07] chcomley commented on #7624
@anb0s fantastic, thank you!

[2020-05-08 16:25] chcomley commented on #8137
Hi @solomson, I've created a user story to address the prerequisites, thank you. We're working on a feature that gives you a toggle to turn this off, so stay tuned! Please @mention me if you have any further questions. Have a great weekend!

[2020-05-08 16:25] #8137 closed

[2020-05-08 16:26] msebolt commented on #8230
Closing this issue now.

[2020-05-08 16:26] #8230 closed

[2020-05-08 17:00] rscottwatson commented on #8243
I forgot I also had to create a file called pytest.ini with the following

[pytest]
junit_family=xunit1

[2020-05-08 17:40] brandonh-msft commented on #6616
I, too, am confused here. Docs say you can convert a string to a boolean, but no indication as to _how_ to do this. E.g. if I have a pipeline var that I set to `True`, `1`, or `true` how do I get `eq(variable('foo'), true)` to work?

[2020-05-08 18:15] cicorias opened #8255 "Can the YAML list schema shown or the list of arguments be corrected"
The YAML shown does not match the argument list shown. And there are serious gaps in things like including the Resource Group name when using service connections and RM and the clarity of that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcada909-0670-815f-66e7-abc3dfc3f10e
* Version Independent ID: e9e42b5b-1f86-94

[2020-05-08 18:58] Sebbl22 commented on #7624
@anb0s Mermaid is already on the roadmap for Azure DevOps Server 2020, whenever it will be realeased.
https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline
(see 23 September 2019), last item

[2020-05-08 19:19] sblais-nb commented on #8186
The article is : https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/change-organization-location?view=azure-devops.

The link to the Azure Agent is : https://azuredevopsvirtualagent.azurewebsites.net/
![image](https://user-images.githubusercontent.com/22942436/81441204-5ac44200-913f-11ea-978b-2de51ccee7a4.png)

[2020-05-08 20:21] majorvin commented on #8226
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops

[2020-05-08 20:25] steved0x commented on #7595
@heing I'm adding an example to the document right now, basically it looks like this, you specify a blank `vmImage` for the self-hosted agent

[code]

[2020-05-08 20:29] jhoyosg5 opened #8256 "Runtime parameters for pipeline template"
Hi,

I love the idea of having runtime parameters, but when I add them to my templates, it doesn't work the same way, that when I add the runtime parameters directly to the pipeline, is there any way to add runtime parameters to the pipelines templates?

Thanks

[2020-05-08 20:47] ramiMSFT commented on #4479
@abbottbd Thank you for the feedback. The new version of the article will go live shortly.

[2020-05-08 20:49] #4479 closed

[2020-05-08 21:11] sanjeevmajgotra opened #8257 "Protected branch check."
Can this check be added at pipelines?
I don't see this option approval and checks in pipeline.environments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d40fccec-c358-843c-10d5-7ea367f6e406
* Version Independent ID: 45390d5d-c1d7-c90e-ef3f-2768d406ba7b
* Content: [Pipeline resources - Azure Pipelines](https://docs.mic

[2020-05-08 21:19] ronwarner commented on #8220
@msebolt - Thanks for your response.  To be certain I have understood you clearly, is the recommended approach to simply not promote from Prerelease to Release, but instead build another package (after verifying the Prerelease is stable) which is identical to the Prerelease package, except for an incremented version number, and to then promote the new package directly to Release, skipping Prerelea

[2020-05-08 21:47] #7595 closed

[2020-05-08 22:53] haiku08 commented on #760
@yewmsft I was wondering more about the "$top" function. I literally tried to put in a URL that triggers a query in WIQL to be this: "https://office.visualstudio.com/GSX/_workitems?_a=query&wiql=SELECT [System.ID], [System.Title], [System.State], [System.CreatedDate]
FROM WorkItems
   WHERE [System.WorkItemType]='Bug'
   AND [System.Tags] contains 'Aug Loop'
   ORDER BY [System.CreatedDate] desc w

[2020-05-09 00:55] successhawk opened #8258 "Move the Note to the pre-requisites if it is true, but please make it NOT true ;)"
[Enter feedback here]
Regarding:
![image](https://user-images.githubusercontent.com/3745327/81459066-ee136c80-916b-11ea-8bec-63555dfe642a.png)

1. Why is this Note in the middle of the page?  Shouldn't this be in the pre-requisites?  I didn't see this until after I tried to subscribe and it misleadingly told me that my project had no git repos.  Inform users up front so that they don't waste their

[2020-05-09 03:24] chriscortopassi opened #8259 "git push --mirror is dangerous"
We ended up losing a bunch of branches because of --mirror (it will delete any branches not in the source repo). Please consider omitting --mirror and/or documenting that it can delete branches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a9c9ac-02c4-839a-555b-8d9d22d08fab
* Version Independent ID: 259fcc03-e73d-2

[2020-05-09 08:40] nbrown02 opened #8260 "Odata Inconsistent"
I've found an issue with the guidance here - it appears there are inconsistencies between projects as to how the data is coming through. Issue logged at https://developercommunity.visualstudio.com/content/problem/1019488/odata-inconsistencies.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40bb3182-6622-0d21-31d8-d

[2020-05-09 10:10] anb0s commented on #7624
@Sebbl22 Thank you!

Now we have to wait until it's released...

[2020-05-09 14:03] mustafaoral opened #8261 "Schema documentation suggests pool can be specified at pipeline level but pipeline run doesn't reflect this"
[YAML schema reference](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema#pool) suggests that the pool can be specified "at the pipeline, stage, or job level". With the exception of stages, which are not possible to configure using classic build pipelines, this mirrors the classic build pipelines where the pool can be specified at

[2020-05-09 14:50] mustafaoral commented on #8261
My bad. `vm-image` is not the correct syntax.

[2020-05-09 14:50] #8261 closed

[2020-05-09 17:05] djee-ms opened #8262 "How to access the selected branch name and ref of a repository resource?"
The branch/ref of the repository resource can be configured at runtime via the Run dialog, but how can we access the actual branch name and ref that the user running the pipeline selected?

The job logs clearly show that there are such variables:
[code]

But no matter the syntax I tried, I cannot get any value.
- ${{resources['repositories']['self']['ref']}}
- $(resources['repositories']['self']['

[2020-05-09 19:24] chadbert opened #8263 "Windows docker instructions use base image that won't work"
According to the Visual Studio documentation and my own experience, the windows server core base image won't run the build tools properly. See VS2019 documentation here: https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-

[2020-05-09 23:21] thovipe opened #8264 "Task Docker@0 fails on Azure Pipeline vmimage windows-latest or windows-2019"
After serveral attempts to build an image with the task Docker@0 or Docker@2, the process fails every time.

The scenario is the following:

ymal build template with two stages
Stage 1 - builds the app
Stage 2 - builds the docker image and pushes to registry
Simple.

We use this task on other pipelines, but it only works when there is no other task. Besides a replace tokens task like:  colinsalmco

[2020-05-10 04:31] MarioAllegro commented on #7980
Hi @ferrata,

I think you faced the same problem as me currently. Could it be that you are currently not on an pull request build but an automated CI build?
It seems, that if your are not on a PR you do not have access to the variable in this context and you will get the aforementioned error. Just add a condition as shown below to make sure you are on a PR:
`- job: Database
condition: eq(variables

[2020-05-10 07:59] heing commented on #7595
@steved0x Thanks!

[2020-05-10 12:41] da2018 opened #8266 "Tasks are not parallel, and scheduling is stupid."
strategy:
      matrix:
        stable:
          rustup_toolchain: stable
        beta:
          rustup_toolchain: beta
        nightly:
          rustup_toolchain: nightly

1. The tasks are not parallel
There're 9 pipeline jobs triggered by my project, and because the tasks are not parallel, so the task execution takes dozens of minutes, all the tasks are executed one by one.

2.After the task

[2020-05-10 12:43] da2018 commented on #8266
![image](https://user-images.githubusercontent.com/16920793/81499527-dcae9980-92fe-11ea-97eb-3233e7e50890.png)

[2020-05-10 14:18] rdenisi commented on #5687
Tried today and I also didn't receive any notification.

[2020-05-10 14:30] StingyJack opened #8267 ""HTML tags and fontawesome aren't supported in the Mermaid diagram syntax.""
This isnt exactly true. `&lt;br&gt;` tags work fine for breaking up longer lines of text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9f92-6d2f3c5ac336
* Content: [Markdown syntax for wikis in Azure DevOps - Azure DevOps](https://docs.m

[2020-05-11 04:17] mohammednaseem commented on #8177
@billybraga
is there a way to trigger a "Release" pipeline based on previous pipeline completed?
what is you said above is about tying about build pipelines together or sequencing them right?

[2020-05-11 04:29] kenakamu commented on #8177
In addition to what @mohammednaseem mentioned, is there any way to define the trigger in yaml rather than using GUI of ADO which may stay in projects?

[2020-05-11 05:54] qzxpqbp opened #8268 "Can't connect Power BI to Azure DevOps even with "View analytics" permission."
I can't connect Power BI to Azure DevOps. I still get the error "We couldn't authenticate with the credentials provided. Please try again." even when I have "View analytics" permission.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f04bf6a-1455-8770-0a2e-da22f644bced
* Version Independent ID: d63dea23-3678-60c4-c028-

[2020-05-11 09:38] arcotek-ltd commented on #7613
It looks like this was closed without resolution, siting your complex repo system. Could you answer it please, as a fresh Windows install of the agent does not seem to come with any version of bash. As your documentation suggests this task works on Windows, it would be good to highlight any prerequisites.

Thanks

[2020-05-11 09:40] arcotek-ltd opened #8269 "Please confirm where bash binaries come from (for Windows)"
This was asked in #7613, but closed without resolution, siting your complex repo system.

Could you answer it please, as a fresh Windows install of the agent does not seem to come with any version of bash.

As your documentation suggests this task works on Windows, it would be good to highlight any prerequisites.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-11 10:24] kubasiak opened #8270 "tests"
It would be very helpful to give any template/example/or even just description what is 'test' in

- script: |
    pip install pytest
    pip install pytest-cov
    pytest tests --doctest-modules --junitxml=junit/test-results.xml --cov=. --cov-report=xml --cov-report=html
  displayName: 'Test with pytest'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-11 11:08] nachiketrss opened #8271 "Documentation missing for metadata labels for self-hosted agent"
In the "Overview" section, under "Metadata added as labels" - The documentation for self-hosted agent metadata labels is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Content: [Docker task - Azure Pipelines](

[2020-05-11 11:56] vtbassmatt commented on #8270
This topic isn't intended to walk you through PyTest or teach its concepts. The expectation is that someone would already be familiar with testing Python code or specifically with PyTest.

[2020-05-11 11:56] #8270 closed

[2020-05-11 12:28] vtbassmatt commented on #8269
<img width="1063" alt="image" src="https://user-images.githubusercontent.com/714283/81561506-43649f00-9361-11ea-9873-0bab59ff54da.png">

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/714283/81561559-59725f80-9361-11ea-884c-a7ebe0ac5ea1.png">

[2020-05-11 12:28] #8269 closed

[2020-05-11 13:23] arcotek-ltd commented on #8269
Hi @vtbassmatt,

Thank you for your terse reply. I like spending my time opening these tickets. I guess I didn't ask the question clearly enough!

Your documentation states this task should work on Windows. However, on a new installation of the DevOps agent, where is the bash binary? On a new instance of Windows server (Core or otherwise), with nothing installed apart from the agent, the documente

[2020-05-11 14:46] vtbassmatt commented on #8269
:wave: I'm sorry that my response didn't address your question adequately. #7613 was not closed without resolution. The Bash task topic was improved to make it explicit where it would search for Bash. Our dual-repo thing makes that change impossible to see from the outside, so I screenshotted the resolution (both the PR and published change) in order to answer your issue.

The agent doesn't come w

[2020-05-11 16:17] msebolt commented on #8211
@slbentley No problem, thank you for posting the issue to the product team.

Yes, unfortunately this forum is currently limited to the documentation. Support requests can be provided per issue with the examples, but all product issues are directed to use **Report a problem** in the [Azure DevOps community](https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

Please pos

[2020-05-11 16:22] mrbrennonwilliams opened #8272 "Better Example Required"
"Replace the placeholders with the respective values" - a functioning example would be better here. The Syntax shown isn't broken down and it's just annoying to hunt down what these commands are supposed to look like.

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec99483d-828e-093b-a5af-bd2d25ea27d1
* Version

[2020-05-11 16:24] chcomley commented on #7506
There's a registry setting for Azure DevOps, configurable by our engineers, but defaults to int max (over 2 billion). Even thousands of repos would become difficult to deal with, so please consider how many you choose to add. Thanks very much!

[2020-05-11 16:27] msebolt commented on #8216
@derekantrican No problem, great to know you got this working.

For product-related issues and/or suggestions, please use the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html). Here's an [example](https://developercommunity.visualstudio.com/content/problem/396088/project-template-absolute-path.html) of a previously suggested feature similar to your issue.

[2020-05-11 16:27] #8216 closed

[2020-05-11 16:39] #8067 closed

[2020-05-11 16:41] #8163 closed

[2020-05-11 17:10] #7947 closed

[2020-05-11 18:20] msebolt commented on #8186
@sblais-nb Thank you for the reference, assigning this to the author for review.

Please note our support is limited to the examples in the document.

For support on more user-specific scenarios, please refer to [this post](https://powerusers.microsoft.com/t5/I-Found-A-Bug/Cannot-use-quot-Created-by-quot-from-Azure-DevOps-as-a-valid/td-p/288277) or try the following:

- [Azure DevOps Support](http

[2020-05-11 18:22] msebolt commented on #8226
@majorvin Thank you for the document link, assigning this to the author for further review.

[2020-05-11 18:24] msebolt commented on #8226
Please also note, if the issue is product-related or not yet supported, you'll need to use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Or, for additional support options, see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackover

[2020-05-11 18:37] OOPMichael opened #8273 "Can this be enabled when a Load Balancer is already on the VMSS?"
I do not understand why the requirement of a blank LoadBalancer Configuration on the VMSS is required. we have some under utilized Service Fabric Clusters we are interested in running the Azure Devops agents on but they have load balancers on then which is required for sf.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-11 18:58] slbentley commented on #8211
https://developercommunity.visualstudio.com/content/problem/1021628/unit-tests-are-passing-but-associated-test-cases-s.html

[2020-05-11 19:02] msebolt commented on #8220
@ronwarner I agree that the referenced methodology is a work-around, I only meant by **Azure DevOps** design that to use a pre-release version, it will be included in addition to the release version.

It would be under the assumption that developers prefer keeping a record of all releases versus having certain releases replace other (pre)releases.

Most topics involve [issue with the Visual Studio

[2020-05-11 19:13] KehindeOwens opened #8274 "Confluence space migration to Azure Wikis"
I am attempting to migrate my confluence spaces to Azure wikis. Unfortunately when I do (I export the spaces in XML and convert them to Markdown) they are not readable. Has this migration been done successfully and if so how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d4fe5c7-0ab6-a0e4-4a6e-f98d0355f49a
* Version

[2020-05-11 19:14] haiku08 opened #8275 "WIQL $Top Question"
I was wondering more about the "$top" function in WIQL (Work Item Query Language). I literally tried to put in a URL that triggers a query in WIQL to be this: "https://office.visualstudio.com/GSX/_workitems?_a=query&wiql=SELECT [System.ID], [System.Title], [System.State], [System.CreatedDate]
FROM WorkItems
WHERE [System.WorkItemType]='Bug'
ORDER BY [System.CreatedDate] desc with $top=1"

However,

[2020-05-11 19:14] steved0x commented on #8248
@qbikez It looks like that might be there as part of some autogenerated API ref, but I'll see if I can get that updated. What it returns unfortunately isn't very readable, just from curiosity, how are you using the returned values? Note that it is specific to your organization and includes tasks and things that you have registered there.

[2020-05-11 19:31] abatishchev commented on #8205
@msebolt, @vijayma gentle ping.

Right now if artifacts were uploaded using legacy "upload build" but downloaded using modern "download pipeline", the latter will show wrong, misleading warning message:

Instead it should display this one:

[2020-05-11 19:44] jf781 commented on #8235
Had same issue.  Modified steps as @kotaroino described and it is now working.

[2020-05-11 19:46] egrubbs opened #8276 "Azure Pipelines Docker Agent downloads prerelease version of azure-pipelines-agent"
In step 5 of the Linux Dockerfile setup, the following code from the `start.sh`  script always grabs the most recent version of azure-pipelines-agent even if it is a prerelease. I have run into bugs with the prerelease version. It would be helpful if this script downloaded the "Latest Release" version as indicated on the github page, instead of downloading the "Prerelease" version.
https://github.

[2020-05-11 19:46] chcomley commented on #8186
Hi @sblais-nb, Since this isn't a documentation issue, I'm closing it. But, since it's saying that your email address isn't valid, you may want to contact [Support](https://azure.microsoft.com/support/devops/). Thank you.

[2020-05-11 19:46] #8186 closed

[2020-05-11 19:52] reynoldsbd opened #8277 "Precedence of preferTriggeringPipeline"
Consider the following task inputs:

[code]

Does `preferTriggeringPipeline` take precedence?

In other words, if the current pipeline was triggered by an earlier run of another pipeline, but a later run of that other pipeline has already completed, will I still get artifacts from the earlier run since it was the one responsible for triggering me?

---
#### Document Details

⚠ *Do not edit this se

[2020-05-11 19:53] msebolt commented on #8079
@dazinator Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-05-11 19:57] artisbiuro commented on #8248
The last section of the document ("Syntax highlighting") mentions a VSCode extension that "includes a JSON schema for validation". I'm using this extension and was getting syntax errors on a valid yaml pipeline, because the schema version that this extension uses was outdated. After some digging I found this API endpoint and used the returned value to update the schema. And intelisense started wor

[2020-05-11 20:01] qbikez commented on #8248
The last section of the document ("Syntax highlighting") mentions a VSCode extension that "includes a JSON schema for validation". I'm using this extension and was getting syntax errors on a valid yaml pipeline, because the schema version that this extension uses was outdated. After some digging I found this API endpoint and used the returned value to update the schema. And intelisense started wor

[2020-05-11 20:05] msebolt commented on #8247
@sdg002  Thank you for the question.

The syntax depends on the particular OS environment, see [environment variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables&tabs=yaml%2Cbatch#environment-variables).

Please comment below if you need additional information, or for help with user-specific scenarios, see [Azure DevOps support](https://azure.microsoft.com/support/devops/)

[2020-05-11 20:09] msebolt commented on #8251
@orpitaPesto Thank you for the question.

Please refer to [this tutorial](https://docs.microsoft.com/azure/devops/extend/develop/add-build-task?view=azure-devops) and post any questions or comments below if there are issues running the sample.

@chcomley

[2020-05-11 20:17] msebolt commented on #8252
@Izzmo Thank you for the feedback,  consider [becoming a contributor](https://docs.microsoft.com/contribute).

According to the [repo](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/ServiceFabricUpdateManifestsV2/task.json), this is required when `updateType = Manifest versions && updateOnlyChanged = true`, a fix will be provided to the documentation accordingly.

[2020-05-11 20:28] msebolt commented on #8254
@guillaume86 Thank you for the feedback and for bringing this to the product team's attention, see [here](https://developercommunity.visualstudio.com/idea/1023731/support-junit-attachments-in-the-publishtestresult.html).

This forum is for documentation issues and will keep this issue open until the product team provides an adequate response.

[2020-05-11 20:36] msebolt commented on #8256
@jhoyosg5 Thank you for the question.

Please refer to [this issue](https://developercommunity.visualstudio.com/content/problem/872011/passing-variables-in-azure-pipelines.html) previously addressed by the product team in [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Or, for additional support refer [here](https://azure.microsoft.com/support/devops/),

[2020-05-11 20:41] msebolt commented on #8257
@sanjeevmajgotra Thank you for the feedback.

Please see if any of [these posts](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+idea&type=question+OR+problem+OR+idea&c=&redirect=search%2Fsearch&sort=relevance&q=protected+branch) addresses the issue, or try soliciting direct feedback from the product team [here](https://developercommunity.visualstudio.com/spa

[2020-05-11 20:41] ramiMSFT commented on #8059
@PaulVrugt Thank you for your feedback. Caches are scoped to a project, pipeline and a branch. Jobs in the same pipeline can have access and share the same cache. You can have one or more caching task(s) in your pipeline and there is no limit on the caching storage capacity at the moment.

[2020-05-11 20:48] ramiMSFT commented on #6902
@AElharouny Thank you for your feedback. Caches are scoped to a project, pipeline, and branch. A pipeline can have one or more caching task(s) and there is no limit on the caching storage capacity at the moment.

[2020-05-11 20:49] msebolt commented on #8260
@nbrown02 Thank you for the feedback and for soliciting feedback from the product team.

We will provide the updates to documentation depending on how this is resolved.