[2018-05-25 10:56] xdaDaveShaw opened #899 "Build Compatbility"
XAML Builds have been re-enabled in 2018 Update 2, see here: https://docs.microsoft.com/en-us/visualstudio/releasenotes/tfs2018-update2#build-and-release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6b0a421-bc31-fec9-fab1-aea1a7d6cebf
* Version Independent ID: 584d306a-6f5c-d197-ed32-c246463bdb14
* Content: [Changes

[2018-05-25 11:15] alexhomer1 commented on #862
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-05-25 11:21] alexhomer1 commented on #865
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-05-25 11:21] #865 closed

[2018-05-25 16:10] KathrynEE commented on #864
@CaptainZippy - The only way to add this type of link is by using the Hyperlink link type. There is ongoing work planned for later this year to provide cross account linking which would support adding links to work items defined in a project in another account associated with the same organization.

[2018-05-25 16:10] #864 closed

[2018-05-25 17:27] KathrynEE commented on #835
@erptechnician - Thank you for your inquiry.  I don't believe that you lose any practical functionality by foregoing the use of Releases. Here are a few additional notes:
- The system doesn't accept Iteration Paths which have overlapping dates, which could happen if you define Releases that span several sprints. However, if you set the iteration dates for a Release for a single day, then you may b

[2018-05-25 17:49] erptechnician commented on #835
Kathryn,

Thanks for your response.  It was very detailed and packed with helpful ideas.

I'll try mapping User Stories (aka PBIs) to Features.  If I recall correctly, Features in VSTS already have a "Target Date" field, so I can probably use that to track collections of work items that span multiple Iterations.

I might also try using Tags as you suggest, but I need to do some more research about

[2018-05-25 17:49] #835 closed

[2018-05-25 17:51] jkeech opened #900 "The JS snippet to discover group identifiers no longer works"
After pasting the JS snippet into the F12 console, it doesn't seem to have any effect on the rendered context menus. I tried a couple different menus on VSTS. Is this code outdated due to VSTS changes? What is the current way to discover context menu group identifiers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46

[2018-05-25 20:06] Baisakhc commented on #772
The projectId is an optional parameter to provide to the REST api. So, yes if you can provide the link even without providing the projectId , that will work too.

[2018-05-25 20:45] mydiemho opened #901 ""Build job timeout in minutes (VSTS, TFS 2017.3 and newer)" should be "Build job cancel timeout in minutes (VSTS, TFS 2017.3 and newer)""
There's already a "Build job timeout in minutes".  The second section should be "Build job cancel timeout in minutes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa5a83c-70fd-6925-a8c8-256b21c21a2e
* Version Independent ID: 75f4a136-7245-7878-2953-6b68272fe4ec
* Content: [Build definition options](https://docs.micr

[2018-05-26 12:07] cbailiss opened #902 "Missing Link"
For option 2, please include a link to the below page, as well as the PDF link.  I missed the docs page, used the PDF, then later found that the page below is better than the PDF in some respects (has much more detail).
https://docs.microsoft.com/en-gb/vsts/articles/migration-import

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-05-26 12:24] cbailiss opened #903 "Small teams / Azure AD guidance: Making Azure AD requirements clearer"
For individuals and small orgs who aren't using Azure AD, haven't got TFS and Azure AD sync'd to an on-prem domain, this guide is unclear.
Especially if the primary way of interacting with VSTS has been using MSA accounts (which was true in my case).
After a lot of reading I still wasn't clear whether I could migrate a non-AD linked TFS Express collection to VSTS using the Migrate tool.  I wanted

[2018-05-27 19:31] KevinDonnelly opened #905 "The Myth of Authorization"
Thank you for hacking my computer for approximately ten days. It seams that old habits die hard. Thanks to your persistent endeavours in this area I was able to overcome the Anaconda 3 uninstaller problem with alot of help from people who had access to my computer, with and without my knowledge.

The main point is Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-28 04:26] trumhemcut opened #907 "The link doesn't work (Deploy: Azure SQL Database Deployment)"
Hi,

I tried to open this link https://docs.microsoft.com/en-us/vsts/build-release/tasks/deploy/azure-sql-database-deployment?view=vsts but it doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fe3a05-aeb1-5a05-1bba-34aa733c9bb3
* Version Independent ID: ff3b8383-6df0-60f6-a898-c1ae5792efe0
* Content: [Deplo

[2018-05-28 05:39] nschonni commented on #907
Should be fixed with #841

[2018-05-28 05:43] nschonni commented on #905
I'm guessing this is something for https://github.com/MicrosoftDocs/visualstudio-docs rather than VSTS

[2018-05-28 09:14] vietkuong opened #908 "Full source code"
Hi,
Can you provide full source code for this example? I've tried but my extension doesn't work, not sure what's wrong, I need your source code to compare. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e6cb0ed-c129-901c-10a2-909354aa562f
* Version Independent ID: ceb10d41-b306-0d3f-ccb2-124a3ba69332
* Content

[2018-05-28 10:22] mitschman commented on #791
Hello @DavidStaheli
I see that the DownloadSecureFile task should be also updated manually everywhere in each Build/Release with a new secure file, in case if the used secure file deleted and uploaded again, even if the file name is the same.

Is the support of direct updates you prognoses soon will have the same behavior?..
I mean when the secure file update will be supported - will it be necessa

[2018-05-28 10:38] KNShrinidhi commented on #418
Any updates here?

[2018-05-28 14:40] shashban commented on #418
@KNShrinidhi yes process variables override the variable from variable group. The order of precedence for variables is "Release scoped variable group" < "Release scoped process variable" < "Environment scoped variable group" < "Environment scoped process variable" < "Variable updated by one of the previous tasks in the phase"

[2018-05-28 15:04] CaptainZippy commented on #829
@elbatk - thanks for the info! I have set up the build task to fetch a dummy repository & explicitly fetch the real repo from a script.

It works, but it seems a little clunky. For instance:
* Build triggers are on the dummy repo, not the one we want (this is the main issue)
* Default working directory & sources directory are the dummy, not the real local path.

Do you have a tracking issue for ge

[2018-05-28 21:37] nschonni commented on #908
A bunch are over here https://github.com/Microsoft/vsts-extension-samples, but I don't see that particular one

[2018-05-29 02:50] tura08 opened #909 "Export current build definition to YAML"
In the case where one already has a build definition, but would like to use YAML moving forward to maintain the build definition as code, is it possible to export a current build definition to YAML and then place that in the repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Ver

[2018-05-29 03:29] KNShrinidhi commented on #418
@shashban  Thank you for the answer, in the mean while I tried and it worked for me. Thanks again!!!

[2018-05-29 07:35] LodewijkSioen commented on #285
I agree. Right now the resources for **Build** Agent Pools are there, but they are just not documented.

[2018-05-29 08:06] olavt opened #910 "Expected video to talk about Power BI for Visual Studio Team Services"
I was expecting the video on this page to contain relevant content about "Power BI for Visual Studio Team Services", but it was a 100% generic Power BI introduction video.

I suggest we link to a more relevant video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2374cb69-33d1-6e2a-e554-2ad05d1ec507
* Version Independe

[2018-05-29 15:23] elbatk commented on #838
Hi @mishal153 ! Thanks for pointing this out - we're doing some work in our repo and this one must have slipped by. The correct link is: https://docs.microsoft.com/en-us/vsts/pipelines/symbols/index?view=vsts and I'm fixing the link ASAP :)

[2018-05-29 15:23] #838 closed

[2018-05-29 15:27] elbatk commented on #600
Closing this issue as I think this is a valid solution, feel free to reopen and comment if you're still having trouble @singhp27 , thank you @Jashuva-D

[2018-05-29 15:27] #600 closed

[2018-05-29 15:31] elbatk commented on #900
Hi @jkeech , I've reached out to the product team to try to get this thing figured out for you. Hopefully we can get you an answer and update the article soon if needed!

[2018-05-29 15:31] artisticcheese opened #911 "Link to Keyvault setting is missing"
For my variable group I can not see "link to keyvault" option in VSTS.

![vmconnect_2018-05-29_10-30-11](https://user-images.githubusercontent.com/13176884/40669046-a10d755e-632b-11e8-8a08-d8f93833537c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version Independent ID: c9e

[2018-05-29 15:48] alexhomer1 commented on #911
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-05-29 15:49] steved0x commented on #896
@nschonni I am hopeful that these will be all fixed this week - I have got a big PR that is going through hopefully by tomorrow. I'm keeping these issues open until they are live.

[2018-05-29 15:56] 2Dews opened #912 "Search across "collections""
It appears as though  the search functionality does not search across all collections. Our organization has many collections and it would be nice to search all of them at once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1619be8b-c51b-b8f8-a590-d14fa524714b
* Version Independent ID: 5e0b06c3-0fad-105c-1ade-4d448844c

[2018-05-29 19:20] sameer-kumar opened #913 "Custom build task with multi-version upload error"
I get this error when uploading vsix to TFS 2017.1 - "**The task.json file was not found in contribution xxx**"

When I create a vsix of my custom build task with flat structure it works like a charm. But when I introduce new folder scheme which allows multiple version of a task then it poops out during upload of the vsix extension in TFS.
I guess my Contributions are messed up:
[code]
I think it

[2018-05-30 00:54] artisticcheese opened #915 "Variable substitution is not working for cases where configSource attribute is used to point to external file"
Hello,

If web.config specifies configSource to external file then variable substitution in XML file is not working. Code shall parse configsource and perform replacement there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f14deae

[2018-05-30 01:19] aapalm opened #916 "Syntax bug in "Code Highlighting" example"
In Edge, the "To install the Microsoft VSTS Cross Platform Build & Release Agent..." code highlighting example is somehow rendering the example with plus (+) signs:

+Example: + +
+To install the Microsoft VSTS Cross Platform Build & Release Agent, run the following: `$ sudo npm install vsoagent-installer -g`.
+

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-05-30 06:42] jwatkin opened #917 "Possible typo: missing "to""
In the sentence fragment: "... the pipeline stages each successive environment the next upon successful completion of tests.", should it have been this instead: "... the pipeline stages each successive environment to the next upon successful completion of tests."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 895ed016

[2018-05-30 10:30] ronnieghosh opened #918 "Migrate wikis to another account"
On line 13, we are pushing back the changes to the same project in the same account. What should I do if I want to push the wiki to a another project in another account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89127967-cf31-edd5-53f3-bad14d30e651
* Version Independent ID: 576a9e5b-8a3b-ff49-e6e1-d193c26f6093
* C

[2018-05-30 11:57] artisticcheese commented on #911
Can not send to that email, it replied with

[code]

[2018-05-30 13:01] alexhomer1 commented on #915
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-05-30 15:46] KathrynEE commented on #897
@Richspeirs - Thank you for your inquiry. More information for this change is provided in the blog post, [@CurrentIteration, Team Parameter, Offset](https://blogs.msdn.microsoft.com/devops/2018/03/01/currentiteration-team-parameter-offset/).  The change was also noted in the Mar 5 release notes, [Work Items hub and VM-based Azure DevOps Project – VSTS Sprint 131 Update](https://docs.microsoft.com/

[2018-05-30 15:46] #897 closed

[2018-05-30 16:40] ChristopherMank commented on #832
I noticed the "Edit" button no longer appears on the VSTS docs on the right-side nav. Can we no longer directly edit in GitHub and create a PR?

[2018-05-30 16:45] ChristopherMank opened #920 "Add more detail to Authentication section"
Please add more detail to the authentication section to indicate that the account (PAT) used to register the agent is only used when registering and nothing else. Also, mention the server permissions needed to register the agent. I believe you have to be a local admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 476

[2018-05-30 18:06] Advanium opened #922 "Which version and update of Team Foundation Server do you need in order to use YAML builds?"
This article doesn't tell you which version of Team Foundation Server supports the use of YAML builds. I noticed TFS 2018 Update 1 doesn't have that feature yet, so it's propably supported from TFS 2018 Update 2 onwards, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Versio

[2018-05-30 18:52] andyjlewis commented on #922
It's not yet in TFS.

[2018-05-30 19:26] alvipeo opened #923 "WARNING: The DOCKER_REGISTRY variable is not set"
I have this warning when I try to build a container locally and then that same warning becomes an error in VSTS build. I just created a standard ASP.NET MVC solutions with Docker support (NOT Core).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc9593a-77be-75c1-8d20-86a995d925f6
* Version Independent ID: 63c81326-3b

[2018-05-30 20:59] TASlavens opened #924 "Section on TFS 2017 agent versions is incomplete and incorrect"
TFS 2017u2 provided agent version 2.117.2 and TFS 2017u3.1 (and presumably also 2017u3) provided agent version 2.122.1, so it seems very unlikely that the listed agent version 2.112.0 is correct - maybe that's the correct agent version for TFS 2017u1, but surely not for 2017u3.  Currently the list doesn't include TFS 2017u1 and 2017u2; I suppose we can assume that 2017u3.1 (also not listed) provid

[2018-05-30 22:12] TASlavens commented on #283
What the OP states may be true when TFS 2018 is freshly installed, but my TFS 2018u2 upgrade from TFS 2017u3.1 still retains the "/tfs" portion of the URL.

[2018-05-30 23:32] nakamacchi opened #926 "Warning : Option 2 is very hard for migration from non-English TFS to VSTS"
If you use non-English TFS, it is very difficult to use Option 2, because VSTS WIT requires the WIT data is English-based. The migration scenario from non-English TFS to VSTS, you have to modify the TFS WIT manually before migration. In many cases it is very tough and difficult task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-05-30 23:44] nakamacchi commented on #926
Also created a product feedback.
https://developercommunity.visualstudio.com/content/problem/263991/please-provide-the-option-to-ignore-the-wit-data-m.html

[2018-05-30 23:50] craigktreasure opened #927 "The "ASP.NET Core" VSTS build task no longer exists"
The "ASP.NET Core" VSTS build task no longer exists. What is the proper task and configuration to use when building an ASP.NET Core project to be published to Azure? I have a seen a funky VSBuild task that has a bunch of MSBuild properties specified: /p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifacts

[2018-05-30 23:53] nakamacchi commented on #926
Also created a product feedback. (which is the correct location?)
https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/34404625-please-provide-the-option-to-ignore-the-wit-data-m

[2018-05-31 00:19] KathrynEE commented on #918
@ronnieghosh - Thank you for your inquiry. If you are on VSTS, I believe you can migrate the wiki content to whatever project you want. I suggest reviewing these two topics:
- [Clone and update wiki content offline](https://docs.microsoft.com/en-us/vsts/collaborate/wiki-update-offline?view=vsts)
- [Publish a Git repository to a wiki](https://docs.microsoft.com/en-us/vsts/collaborate/publish-repo-t

[2018-05-31 00:19] #918 closed

[2018-05-31 05:55] nschonni opened #941 "mseng link used in release-notes/2017/jun-22-team-services.md"
https://github.com/MicrosoftDocs/vsts-docs/blob/master/release-notes/2017/jun-22-team-services.md
The link is to https://mseng.visualstudio.com/docs/collaborate/preview-features but that isn't available to users outside of Microsoft Engineering.

[2018-05-31 06:14] simondel opened #942 "Markdown not parsed on 'Add and manage dashboards'"
On the [Add and manage dashboards page](https://docs.microsoft.com/en-us/vsts/report/dashboards/dashboards?view=vsts&tabs=new-query-exp#manage-dashboards) the markdown is not properly parsed at the start of the article:
![image](https://user-images.githubusercontent.com/4221997/40764735-6e85919a-64aa-11e8-9050-bc89a6ee672f.png)

It seems to be [this md file](https://github.com/MicrosoftDocs/vsts-d

[2018-05-31 08:28] VerdonTrigance opened #943 "Draw deployment groups and pools schema"
Guys! I still don't understand how these pools and groups works!
I have one single project with many areas that related to real team projects. I have two independent test environment for one area (team) project called qa01 and qa02. I suppose that I may have ONE deployment pool for my VSTS project named Global (that contain all these areas) and MULTIPLE deployment groups in THAT deployment pool. B

[2018-05-31 09:25] VerdonTrigance opened #944 "500: Role name Service Account does not exist in the current scope"
VSTS, page 'Manage security roles for deployment pool'.
I select role Service Account in drop down list and get:
500: Role name Service Account does not exist in the current scope
TFS.WebApi.Exception: Role name Service Account does not exist in the current scope
    at g (https://cdn.vsassets.io/bundles/vss-bundle-common-vckFHnvQy05nfPGjggB03Fhqb42PuigHW7KFjkRG0luc=:56:499)
    at https://cdn.vsa

[2018-05-31 10:17] Advanium commented on #922
Hi @andyjlewis,

would you then please update the documentation to not speak of TFS as of yet? That's kind of confusing.

Thank you.

[2018-05-31 12:10] artisticcheese commented on #911
FYI if anybody else find the same issue. This feature is not GA and have to be enabled manually by Microsoft on your account.

[2018-05-31 12:10] #911 closed

[2018-05-31 12:38] imalokagrawal commented on #911
@artisticcheese - This feature is actually GA. Due to a bug, this feature is not getting enabled by default for our new accounts. We are working on fixing this bug.

Thanks for your support.

[2018-05-31 13:08] andyjlewis commented on #922
agree, good catch, thanks, will do

[2018-05-31 13:21] davidsk opened #945 "Review Branch Folder restrictions"
Assuming I had implemented restrictions such as those described, how can I inspect a repository to review these restrictions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330532da-d568-b010-a154-62afb1844e4a
* Version Independent ID: 4efad37d-4ec2-033e-51b1-b9f588e675c6
* Content: [Require branches to be created in f

[2018-05-31 13:25] HaydnFidler opened #946 "Available event types"
Can we extend the list of available event types? In particular, I want to know when the wiki is updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913-f305a055a819
* Content: [Service hooks event reference](https://docs.microsoft.co

[2018-05-31 14:34] spottedmahn commented on #2
Hello - any updates on this?  Thanks 🙏

[2018-05-31 14:59] sgwatgit opened #947 "Should group members be able to approve their own PRs?"
I have "Require a minimum number of reviewers" checked.
I have "Minimum number of reviewers" set to 1.
I do not have "Allow users to approve their own changes" checked.

If I am in a group that automatically added as a required reviewer and I approve the PR, along with another team member, will the PR approval policy be met?

I've noticed when I Approve my own PR it doesn't count towards the 'mini

[2018-05-31 15:28] rahulvmarathe opened #948 "XML Transformation fails with : System.NullReferenceException: Object reference not set to an instance of an object."
The error occurs as attributes referenced in the transformation files (web.release.config) are missing from the web.config. This may happen if the transformation is applied during the build stage. The documentation does call this out. However to disable the XML transformation during the build phase build phase I had to use /p:TransformWebConfigEnabled=false msbuild argument. Contrary to the Notes

[2018-05-31 17:54] alexkokkinos commented on #909
Yes, it's currently possible.

1. Edit your build definition in VSTS
1. Navigate to the Tasks section
1. Select the entire process or any individual task and click the "View YAML" button on the top right area of the window. The icon looks like a clipboard.

You may need the Build YAML definitions Preview feature to be enabled to see the "View YAML" link in the first place (I'm not 100% on that).

[2018-05-31 18:31] ChristopherMank commented on #920
FYI, I noticed the Edit link is back on the VSTS pages, however get a 404 error in GitHub when clicking it.

[2018-05-31 20:42] steved0x commented on #941
@nschonni Whoops :) I'll get that fixed, once I figure out where it should point... I think to [https://docs.microsoft.com/en-us/vsts/collaborate/preview-features?view=vsts](https://docs.microsoft.com/en-us/vsts/collaborate/preview-features?view=vsts)

[2018-05-31 20:43] steved0x commented on #941
`but that isn't available to users outside of Microsoft Engineering.` or to inside either, that is a bad link :)

[2018-05-31 20:45] aboyaniv opened #950 "Add new docker host connection - Server URL must be a valid URL"
When I add new docker host connection , if I set the Server URL to https://192.168.16.227:2376 I get a docker error on the release  ( same as http).
[code]
The docker H option  need to by only IP and not http/s .

but i can't add only address i get "Server URL must be a valid URL
![image](https://user-images.githubusercontent.com/7420904/40807301-98c98d8a-652c-11e8-9aef-52c855ba7aea.png)

[2018-05-31 20:45] kdubau opened #951 "Alternative to using the Checkout submodules option - PAT must be Base64 string"
`git -c http.https://<url of submodule repository>.extraheader="AUTHORIZATION: basic ********" submodule update --init --recursive`

The docs here fail to mention that you must first encode your PAT as a Base64 string which is explained here: https://docs.microsoft.com/en-us/vsts/integrate/get-started/authentication/pats?view=vsts#create-personal-access-tokens-to-authenticate-access

---
#### Docu

[2018-05-31 20:46] steved0x commented on #926
@nakamacchi The first one is correct, [https://developercommunity.visualstudio.com/spaces/21/index.html](https://developercommunity.visualstudio.com/spaces/21/index.html) is where to report product issues. I will see if we can get this article updated to provide more information and sorry that you ran into trouble. Thank you for letting us know.

[2018-05-31 20:48] #926 closed

[2018-05-31 20:54] steved0x commented on #945
@davidsk You can use the [tf git permission](https://docs.microsoft.com/en-us/vsts/tfvc/git-permission-command?view=vsts) command to view the permissions, from that page, [here](https://docs.microsoft.com/en-us/vsts/tfvc/git-permission-command?view=vsts) is an example of viewing permissions for a repo. Maybe I should update that topic and include an example of reviewing the permissions once you ha

[2018-05-31 20:59] steved0x commented on #946
@HaydnFidler You can submit a feature request to have more events added to the Wiki, by to the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html). I don't see any Wiki events on this doc page (and I'm not familiar with Wikis) so I am assigning this to the author of that Service hooks events topic for their feedback - they may have more up to date information to s

[2018-05-31 21:04] davidsk commented on #945
That would be very helpful, thanks!

[2018-05-31 21:22] nschonni opened #952 "Some issue populate getting marked with MSeng internal repo"
Noticed on a few issue templates that it seems to get the `Content Source` set as urls pointing to `https://mseng.visualstudio.com/DefaultCollection/TechnicalContent`
This doesn't appear to be specific to MS employees that would be visiting inside, so maybe it's something related to the live/private cut over.

EX: https://github.com/search?p=2&q=org%3AMicrosoftDocs+https%3A%2F%2Fmseng.visualstudio

[2018-05-31 21:36] KathrynEE commented on #942
@simondel - Thank you for the correction. I've updated the topic and the changes should appear later today.

[2018-05-31 21:36] #942 closed

[2018-05-31 21:56] tura08 commented on #909
Great thanks. I think it would be good to include that in the docs.

[2018-06-01 01:27] ghost opened #954 "Only master branch migrate to remote"
When I do mirror push on TFS2015 update 4, I can see something like
root@redmine:/tmp/myproject# git push --mirror http://mytfs.com.tw:8080/tfs/SDD/DevOpsinfra/_git/myproject
Counting objects: 1005, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (448/448), done.
Writing objects: 100% (1005/1005), 147.85 KiB | 0 bytes/s, done.
Total 1005 (delta 527), reused 1005 (delta 527

[2018-06-01 03:45] cResults opened #955 "I'd like vsts to do what this article says"
It appears that you can no longer apply a wild card to for example include all feature branches with "feature/*".  It appears that now you can only select existing feature branches from a list.  We'd really like to be able to have a single build for a microservice that is used across multiple branches so that we can publish them all with a single publish.  Ideally we'd like an easy way to filter t

[2018-06-01 12:07] andyjlewis commented on #909
Yes, and thank you for calling attention to this issue. We've had some big site changes going on that have gotten in the way of some of these kinds of fixes. I'll follow up.

[2018-06-01 14:08] alexhomer1 commented on #912
Please file a request at https://visualstudio.uservoice.com/forums/330519-team-services. If there are sufficient votes it may be implemented in the product. Thank you!

[2018-06-01 14:08] #912 closed

[2018-06-01 14:31] davidsk commented on #945
Maybe I'm missing something but how can I see the branch folders that I've specified?  I can see that [TeamProject]\Contributors has the CreateBranch permission but not that I've restricted it to features/ and users/.

[2018-06-01 15:42] #817 closed

[2018-06-01 15:43] alexhomer1 commented on #545
We are working on a new topic that fully explains how to connect to other source repositories. I'll update the topic with details when this is published.

[2018-06-01 15:43] #545 closed

[2018-06-01 15:44] allenbrubaker commented on #800
It's released... when can we expect this support for v2.1 in the build agent?

[2018-06-01 16:02] alexhomer1 commented on #948
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-06-01 16:02] #948 closed

[2018-06-01 16:18] steved0x commented on #927
I'm not sure what happened Andy, I must have accidentally unassigned you somehow.

[2018-06-01 18:22] KathrynEE commented on #772
@FredConklin - Thank you for your inquiry. You can use the [Get Work Items](https://docs.microsoft.com/en-us/rest/api/vsts/wit/work%20items/get%20work%20item?view=vsts-rest-4.1) REST API to get a work item solely by account name and ID.
**For example:**
`https://mseng.visualstudio.com/_apis/wit/workitems/1263163?api-version=4.1`
{
•	id: 1263163,
•	rev: 27,
•	fields:
{
o	System.AreaPath: "VSOnline\

[2018-06-01 18:22] #772 closed

[2018-06-01 18:58] KathrynEE commented on #806
@damongaylor   - Thank you for the correction. I've updated the topic and the changes should be live later today.

[2018-06-01 18:58] #806 closed

[2018-06-01 18:58] #741 closed

[2018-06-01 19:03] KathrynEE commented on #916
@aapalm - Thank you for your correction. I'm updating the topic and the changes should be live later today.

[2018-06-01 19:03] #916 closed

[2018-06-01 20:19] paiw commented on #2
His

รับ Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael DePouw <notifications@github.com>
Sent: Friday, June 1, 2018 12:34:53 AM
To: MicrosoftDocs/vsts-docs
Cc: Subscribed
Subject: Re: [MicrosoftDocs/vsts-docs] Adopt the Tab Approach for Different Versions Instead of Inline Approach (#2)

Hello - any updates on this? Thanks 🙏

—
You are receiving this because

[2018-06-01 20:39] paiw commented on #916
Yes

รับ Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: KathrynEE <notifications@github.com>
Sent: Saturday, June 2, 2018 5:03:25 AM
To: MicrosoftDocs/vsts-docs
Cc: Subscribed
Subject: Re: [MicrosoftDocs/vsts-docs] Syntax bug in "Code Highlighting" example (#916)

Closed #916<https://github.com/MicrosoftDocs/vsts-docs/issues/916>.

—
You are receiving this because yo

[2018-06-01 21:10] steved0x commented on #947
@sgwatgit Here is the example I am going to add to the article:

The **Allow users to approve their own changes** setting only applies to the **Require a minimum number of reviewers** policy, and doesn't affect other policies such as [Automatically include code reviewers](#require-a-minimum-number-of-reviewers). In the following example, Jamal Hartnett creates a pull request with the following pol

[2018-06-01 22:07] sgwatgit commented on #947
@steved0x Thanks, that's definitely a helpful explanation!

[2018-06-02 21:54] alexbenavidesgit opened #960 "All possible agents are disabled"
I keep running into the following error message when attempting to use vsts.ci file to automate the build definition "Waiting for an enabled agent. All possible agents are disabled".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Version Independent ID: ace78317-e562-e35d-781d-23c

[2018-06-03 03:20] neraath opened #962 "Several images are not showing on this page"
There appear to be several images that fail to render on this page. I can see the references to them:
![Schematic showing tasks](_img/2017-user-experience/Process parameters view 1.png)
![Schematic showing tasks](_img/2017-user-experience/Tasks linking.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b96fad0-7bfb-8

[2018-06-03 05:07] lbininhbl opened #963 "Couldn't create an account with github."
I want to sign in AppVeyor via my github account, but every time I choose github way, I will be told that "There was an error while creating new AppVeyor account. Please contact AppVeyor support". I also try to revoke the access rights many times, it doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b205b682

[2018-06-03 05:14] #963 closed

[2018-06-03 20:19] aboyaniv commented on #950
is need to be TCP://192.168.16.227:2376  not http.

[2018-06-03 20:19] #950 closed

[2018-06-04 05:46] Liran-Dobrish opened #965 "Incorrect title for typescript sections"
Title for typescript shows javascript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d966f184-5f28-f746-ed60-6afedc044d47
* Version Independent ID: 274ed471-e63f-47db-c9df-595e0173ea1a
* Content: [Use the Combo Control](https://docs.microsoft.com/en-us/vsts/extend/develop/ui-controls/comboo?view=vsts#typescript_list)
*

[2018-06-04 05:50] Liran-Dobrish opened #966 "workitem custom extensions"
The examples here don't work when used in work item custom controls.
the popup section is limited by the control's iframe.
i have tried using the combobox with tree and a simple one., both had there popup section limited by the iframe (visibly cut)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d966f184-5f28-f746-ed60-

[2018-06-04 05:52] Liran-Dobrish opened #967 "incorrect API used"
Some of the properties used in the examples are not valid / don't exists when using typescript
example:
* width
* sepChar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d966f184-5f28-f746-ed60-6afedc044d47
* Version Independent ID: 274ed471-e63f-47db-c9df-595e0173ea1a
* Content: [Use the Combo Control](https://docs.mic

[2018-06-04 11:09] jrottmann opened #968 "Linking of process parameters to release definitions"
The Links to 'Link' and 'Unlink' process parameters in a release definition are missing in TFS2018 Update 2. In Build definitions everything is okay.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b96fad0-7bfb-8c02-701a-5960da7fb313
* Version Independent ID: 74847500-c617-31f4-999c-a344e7b4299e
* Content: [New Build E

[2018-06-04 15:29] alexhomer1 commented on #968
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-04 16:24] mahony opened #969 "Broken hyperlinks"
In the Project Server section, the first two table rows contain "Synchronize TFS with Project Server" hyperlinks which result in a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641b37fc-f117-aca0-32f4-8ea9b73e9d71
* Version Independent ID: 211130c6-43b8-f47f-3589-cb4d2a330231
* Content: [Requirements and co

[2018-06-04 16:25] allenbrubaker opened #970 "Unable to compile .net core 2.1 code with Hosted Linux Preview agent"
This task is failing for me:

queue: Hosted Linux Preview
....

bash: |
echo "Restoring nuget packages"
dotnet restore $CSPROJ --configfile ./nuget.config

echo "Compiling source code"
dotnet publish $CSPROJ -c Release -o ./obj/Docker/publish
displayName: Source > Build

The error is:
/usr/share/dotnet/sdk/2.1.101/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.TargetFrameworkInference.targets(135,5):

[2018-06-04 16:50] vbjay opened #971 "Dependency Version Issues"
See https://pastebin.com/zPCRVhKW (DGML)  My project  https://github.com/vbjay/TFS-Release-Notes is a powershell module that will generate release notes from workitems on VSTS.  The dependency version issues are causing problems.  Please fix dependency issues.

I have tried updating nuget packages to the latest and they still have the same issues.
Get-WorkItemChangesets : Could not load file or as

[2018-06-04 17:57] jholovacs opened #972 "This doesn't seem to work with command-line .NET Core?"
I try something like `dotnet publish --configuration Release --self-contained true --runtime win-x64 MySolution.Application` and I get `C:\Program Files\dotnet\sdk\2.1.201\NuGet.targets(114,5): error :   Response status code does not indicate success: 401 (Unauthorized). [C:\Repos\MySolution\MySolution.Application\MySolution.Application.csproj]`

---
#### Document Details

⚠ *Do not edit this sect

[2018-06-04 19:36] MSGriz opened #973 "Needs updated for newer Office versions"
Visual Studio 2015 has an FW Link to this doc, but Office 365 current release has different dialogs that do not match these instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e823a432-9aab-43ea-52e2-07512c0b5c55
* Version Independent ID: 93d6e60f-8c46-8ec1-68c8-ab8afc7f2359
* Content: [TF237002-Cannot open th

[2018-06-04 20:16] vijayma commented on #800
We have started the rollout of updated image in hosted agents. It should be everywhere before the end of this week. Thanks.

[2018-06-04 20:33] steved0x commented on #970
@allenbrubaker Sorry that you are running into trouble. The GitHub issues in this repo are to report documentation feedback. What article is associated with this feedback so I can assign it to the right author so they can take a look? Thank you.

[2018-06-04 20:35] steved0x commented on #952
@nschonni Let me see if I can figure out why this is happening and get them fixed.

[2018-06-04 20:36] steved0x commented on #944
@VerdonTrigance Sorry that you are running into trouble. The GitHub issues in this repo are for providing documentation feedback. What article goes with this feedback so I can forward it to the right author for review? Thank you.

[2018-06-04 20:39] steved0x commented on #943
@alexhomer1 Can you take a look and provide a few links to @VerdonTrigance - I'm not familiar enough with this documentation area to know if we have a gap, or if they just aren't able to find the right content to answer the question.

[2018-06-04 23:08] moshezvi opened #975 "Change permissions with API"
Is it possible to make changes to the permissions not through tf, but rather through an API?
Using tf assumes Developer Command Prompt, and is not easily integrated into a development flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330532da-d568-b010-a154-62afb1844e4a
* Version Independent ID: 4efad37d-4ec2-033e-5

[2018-06-05 03:31] aboo opened #976 "Code Coverage"
When enabling TIA the code coverage result is generated just for the tests that are run therefore we cannot maintain our 100% code coverage. Any solution on how to keep the code coverage maintained while having TIA on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6529216f-fe59-01f0-ae0e-3268dcfaeca2
* Version Indepen

[2018-06-05 05:21] vbjay commented on #971
*** Assembly Binder Log Entry  (6/4/2018 @ 11:33:20 PM) ***

The operation failed.
Bind result: hr = 0x80070002. The system cannot find the file specified.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll
Running under executable  C:\Windows\System32\WindowsPowerShell\v1.0\powershell_ise.exe
--- A detailed error log follows.

=== Pre-bind state information ==

[2018-06-05 05:28] vbjay commented on #971
I did fix the ad nuget mismatch by doing this.  https://github.com/vbjay/TFS-Release-Notes/commit/a7664ff55aebade33d9a5f7e2a6560a92f6533e5

[2018-06-05 07:24] nk111 opened #977 "TFS 2018 please"
I'd also really like to use this on TFS 2018 (without the update). Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6cdab61-a70b-e725-cd74-f258620447b7
* Version Independent ID: ee1753a6-2b6c-8304-5cba-73b86606ebb3
* Content: [Visual Studio Test Platform Installer](https://docs.microsoft.com/en-us/vsts

[2018-06-05 07:41] jawn opened #978 "The Prerequisites title is displayed as markdown instead of HTML."
The Prerequisites title is displayed in markdown instead of HTML.

![image](https://user-images.githubusercontent.com/1705112/40961987-84b04336-68a4-11e8-8dc6-0988f6612c91.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dff2777-0bde-c6ae-c421-b6c1a3f536a8
* Version Independent ID: 1943469d-b7c3-5d41-5715-da86961a8

[2018-06-05 07:43] jawn commented on #978
This sounds like product feedback instead of a documentation issue. There's a different link to give feedback.

[2018-06-05 11:16] josefblaha opened #979 "What is notifyLoadFailed parameter?"
What is the "e", the only parameter of the notifyLoadFailed method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f699a190-5e7e-1103-8d9d-c3d58e698e3a
* Version Independent ID: 1e54fe20-7e4d-d5ff-1682-8659f7a8fba8
* Content: [Core Client SDK](https://docs.microsoft.com/en-us/vsts/extend/reference/client/core-sdk?view=

[2018-06-05 11:39] EltonAlvess commented on #247
Any new about it?

[2018-06-05 11:45] elbatk commented on #829
Hey @CaptainZippy , sorry to leave you hanging! I reached out again and hoping to get an answer for ya soon!

[2018-06-05 11:47] elbatk commented on #908
Hi @vietkuong , all of our full samples are in the github repo that @nschonni has pointed out, if it's not there then we likely don't have it. What problem(s) are you seeing?

[2018-06-05 11:48] elbatk commented on #899
Ah, yes, you're right @xdaDaveShaw , I'll make this apparent in the docs, thank you!

[2018-06-05 11:48] #899 closed

[2018-06-05 11:52] richardgroves opened #980 "'run' script can't handle spaces in path"
The run.sh script referenced will fail if the path it is in has a space in it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cb3bd5-5c72-4ad6-8566-3bc4527112ce
* Version Independent ID: 4c0f61d9-0d61-83e6-ece5-4d96ca91e9d1
* Content: [Deploy a build and release agent on macOS](https://docs.microsoft.com/en-us/vsts/p

[2018-06-05 12:09] VerdonTrigance commented on #944
@steved0x yes please.

[2018-06-05 12:15] elbatk commented on #913
Ah, this should be working according to this document: https://github.com/MicrosoftDocs/vsts-docs/issues/913#event-1654134332

Adding @willsmythe to take a look!

[2018-06-05 12:16] elbatk commented on #946
Hi @HaydnFidler , reaching out to the owner of Service Hooks implementation to see if I can't get an answer for ya!

[2018-06-05 12:21] elbatk commented on #965
Ah, yes they do. They must have gotten switched over somehow when we moved docs locations! I'll get this sorted out, thanks @Liran-Dobrish !

[2018-06-05 12:21] #965 closed

[2018-06-05 12:24] elbatk commented on #967
Ah, that's misleading. I'll sort this one out too @Liran-Dobrish thanks again!

[2018-06-05 12:55] andyjlewis commented on #980
How is this issue different than what happens for any other script?

[2018-06-05 12:56] steved0x commented on #978
@jawn This is good documentation feedback, I am assigning to the author and we'll get that formatting fixed. Thank you for letting us know.

[2018-06-05 12:56] elbatk commented on #969
Ah, you've actually shed some light on a lot of broken links in that docset.. thank you! Shipping the fix right now! @mahony

[2018-06-05 12:56] #969 closed

[2018-06-05 12:57] elbatk commented on #969
Oh, and the issue was that it was adding ".md" to the end, so the correct link is:
https://docs.microsoft.com/en-us/vsts/work/tfs-ps-sync/sync-ps-tfs?view=tfs-2015

[2018-06-05 12:58] elbatk commented on #971
This looks like a good question for the product team. Adding @alexmullans to help out!

[2018-06-05 12:58] alexhomer1 commented on #976
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-05 12:59] elbatk commented on #972
Ah, looks like an auth issue. Adding @alexmullans to take a look for ya!

[2018-06-05 13:00] alexhomer1 commented on #943
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-06-05 13:00] richardgroves commented on #980
The script doesn't take arguments, so I can't wrap them in "s manually and scripts that want to work widely take care of making sure that they wrap up paths in "s internally when they capture and pass them around.

[2018-06-05 13:09] DavidStaheli commented on #977
Hi @PBoraMSFT, do you know if the VS Test Platform installer task is compatible with TFS 2018 if we build it and upload it into TFS with the tfx-cli tool?

[2018-06-05 13:35] kmunusam opened #981 "Need Scope for TFS/DistributedTask/TaskAgentRestClient"
Trying to Retrieve Variablegroups details using Rest Client, code below:
VSS.require(["VSS/Controls", "VSS/Service", "ReleaseManagement/Core/RestClient","TFS/DistributedTask/TaskAgentRestClient"],
            function (Controls, VSS_Service, RM_WebApi,DTClient) {

			var DTClients = VSS_Service.getCollectionClient(DTClient.TaskAgentHttpClient);
	DTClients.getVariableGroupsById(Project_name,variabl

[2018-06-05 13:35] chrisrpatterson commented on #960
@alexbenavidesgit what pool are you targeting with your build?  Did you check to make sure that pool has agents enabled and they meet all of the demands of your build?

[2018-06-05 13:38] chrisrpatterson commented on #645
@santoorman are you on TFS or VSTS?  If you are on TFS then you are going to be locked to the version of the agent that shipped with that version of TFS.

[2018-06-05 13:39] chrisrpatterson commented on #584
@ramrgit that is not possible.  The pools are shared across all projects in the account.

[2018-06-05 13:44] vbjay commented on #971
I'll try an experiment of upgrading framework version.  I will let you know how it goes.

[2018-06-05 13:47] alexmullans commented on #972
dotnet's auth story is a bit tricky. This page can help: https://docs.microsoft.com/en-us/vsts/package/nuget/dotnet-exe?view=vsts

[2018-06-05 14:12] vbjay commented on #971
I upgraded all packages and reverted the ad package mismatch like I did above.  I still get the same issue.

[2018-06-05 14:16] chrisrpatterson commented on #449
You can use postman or similar tool to post to this api
https://<accountname>.visualstudio.com/_apis/distributedtask/inputvalidation

with this body

{"inputs":{"expression":{"type":"expression","value":"VALUE"}}}

[2018-06-05 14:16] richardgroves commented on #980
[code]

[2018-06-05 14:18] chrisrpatterson commented on #980
ok that run script.  I would suggest you not do this as your users running builds or releases could end up with failures if they don't quote everything.

[2018-06-05 14:22] richardgroves commented on #980
You might want to update the documentation to not suggest using it then.

<img width="771" alt="screen shot 2018-06-05 at 15 21 10" src="https://user-images.githubusercontent.com/715058/40981970-213dc8d4-68d4-11e8-9aec-f16c83a28a9c.png">

[2018-06-05 14:38] vbjay commented on #971
FYI.  https://www.marss.co.ua/2017/05/reference-conflicts-analyzer-visual.html  Dependency Conflict Analyzer

![image](https://user-images.githubusercontent.com/3629489/40982965-8d9040de-68ac-11e8-9872-8b61f1228b3f.png)

[2018-06-05 15:04] vbjay commented on #971
I am going to try this  http://vunvulearadu.blogspot.com/2014/10/powershell-and-assembly-dll-how-to.html.

[2018-06-05 15:20] AlexanderViken opened #982 "Deploy or upgrade"
Is it possible to have this task  do a check to see if an service fabric application already is deployed? If it is not - deploy a fresh new copy, if it is, upgrade it. It's a small pain when you for instance add a new environment to your pipeline and It would remove a few manual steps needed from how it is working now.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-06-05 15:54] vbjay commented on #971
It does not work.  https://github.com/vbjay/TFS-Release-Notes/commit/9df2a26c62060df2469dc432534a1070e29effaf.

[2018-06-05 15:59] xjlim opened #983 "Broken link https://visualstudio/extend/ide/overview.md"
Found in [extend](https://docs.microsoft.com/en-us/vsts/extend/index?view=vsts) docs [TOC](https://github.com/MicrosoftDocs/vsts-docs/blob/d46d2a1372ab71c64032c0014a0575850d31884a/docs/extend/toc.yml#L187)

[2018-06-05 16:05] alexhomer1 commented on #982
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-05 17:43] CoolDadTx opened #984 "SourceLink page is out of date"
The page content seem out of date. It mentions publishing the symbols via VSTS but that isn't really source linking from what I understand. The page is specifically about GitHub but there is a version available for VSTS Git as well from Microsoft (pre release). It would be nice if the docs were updated to reference it instead. The steps have changed quite a bit as you don't need the listed package

[2018-06-05 19:45] ChristopherMank commented on #920
I noticed this is now working again for Edit. I updated the doc and created the following PR to fix: https://github.com/MicrosoftDocs/vsts-docs/pull/985

[2018-06-06 06:39] qubuss opened #986 "./config.sh: line 29: 6458 Segmentation fault: 11 ./bin/Agent.Listener configure "$@""
Hey I Have problem with configuration tfs on Mac. TFS is running on local server in my company. I try connect with PAT Authentication type.

Enter (Y/N) Accept the Team Explorer Everywhere license agreement now? (press enter for N) > y

Enter server URL > https://tfs.company.local
Enter authentication type (press enter for Negotiate) > PAT
Enter personal access token > ****************************

[2018-06-06 08:22] glatzert opened #987 "Documentation not finished"
The documentation seems unfinished and it should be added how to use give Teams and buidls Access to Feeds ans how the packages can be shared with everyone (which might be important)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e77774e-012a-45cc-d566-7170d86003cd
* Version Independent ID: 778dafea-bf98-3292-f451-d82

[2018-06-06 09:07] jabteles opened #988 "Missing inline option"
Hi,

I notice on the "YAML snippet" part of this documentation that it has the input argument "inlineScript", but on the "PowerShell on Target Machines" task version 1.* I have available on my TFS 2018 Update 1 I don't see any possibility to add an inline script or either the scriptpath, only the possibility to fill "PowerShell Script" editbox which says "Location of the PowerShell script on the t

[2018-06-06 09:09] RoopeshNair commented on #982
@AlexanderViken - we do deploy fresh if the application is not found and upgrade if already existing. Make sure you check upgrade checkbox available after enabling "Override all publish profile upgrade setttings"

[2018-06-06 14:31] JorgeJMartins opened #989 "Service Hooks behind a proxy"
I have created a service hook to notify Microsoft Teams about tasks in TFS 2018.
TFS is installed in a local server and all requests have to be done using an authenticated proxy.
I have have no clue how to setup the service hook using the proxy and the last four hours searching the net for answers came up with nothing.
I have this error and would thank anyone that can help me:
"System.Net.Http.Htt

[2018-06-06 14:55] jgillette opened #990 "404 errors"
Most, if not all, of the links under Permission namespaces and actions currently throw 404 errors on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e029db98-bcf4-40b9-8fa7-af0e9460ac54
* Version Independent ID: 5a9402e5-b519-15e0-5920-29e6bd368a90
* Content: [Change groups and permissions with TFSSecurity](h

[2018-06-06 15:15] jbreadner opened #991 "Resource link "Build Visual Studio extensions" broken"
The server name is 'visualstudio', which is not a FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f699a190-5e7e-1103-8d9d-c3d58e698e3a
* Version Independent ID: 1e54fe20-7e4d-d5ff-1682-8659f7a8fba8
* Content: [Core Client SDK](https://docs.microsoft.com/en-us/vsts/extend/reference/client/core-sdk?view=vsts)
* Cont

[2018-06-06 16:43] Nirosha927 opened #992 "Custom conditions in Release tasks for TFS 2017 update 3.1"
Microsoft documentation says custom conditions are available in release tasks for TFS 2017.3. So I have upgraded to TFS 2017.3 from TFS2017.2. But didn't find that feature in release tasks. Is this feature available for TFS2017 update3?
Please find the documentation in the below link.
https://docs.microsoft.com/en-us/vsts/pipelines/process/conditions?view=vsts#enable-a-custom-condition

[2018-06-06 16:55] jallman112 opened #993 "Broken link for Code Search hardware requirements"
In section Hardware Requirements for Multi Server Deployments, the link to "For more details, see hardware requirements for Code Search." results in a 404 error.

https://docs.microsoft.com/en-us/tfs/server/requirements#multi-server-deployments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641b37fc-f117-aca0-32f4-8ea9

[2018-06-06 16:57] jallman112 commented on #993
Looks like the ".md" strikes again.

It would appear the link should be this: https://docs.microsoft.com/en-us/vsts/project/search/administration?view=vsts#hardware-recommendations

[2018-06-06 17:41] elbatk commented on #993
@jallman112 whew, you scared me because I thought I fixed all of these. These were fixed in our master branch but just not pushed to live site - these should all be fixed (hopefully) in the next 5-10 minutes. If you find another one after today then you really will scare me :P

[2018-06-06 17:41] #993 closed

[2018-06-06 18:41] ChristopherMank commented on #920
Closing this issue since PR https://github.com/MicrosoftDocs/vsts-docs/pull/985 was merged.

[2018-06-06 18:41] #920 closed

[2018-06-06 18:48] jholovacs commented on #972
That doesn't seem to work.  I created a PAT, ran the nuget command line
with the url set to v2 as the vsts documentation says to do.  `nuget
sources list` shows my repository.   When I try to run dotnet from the
command line, I get a 404 instead of a 401.  Progress?  In the wrong
direction?  Not sure how to tell.

On Tue, Jun 5, 2018 at 9:47 AM, Alex Mullans <notifications@github.com>
wrote:

[2018-06-06 18:58] jholovacs commented on #972
NM, it looks like I was led astray by the VSTS documentation, I still
needed to keep it v3.

On Wed, Jun 6, 2018 at 2:48 PM, Jeremy Holovacs <jholovacs@gmail.com> wrote:

[2018-06-06 20:58] shanelile opened #994 "Maven Artifact fails to publish"
Using the sample config above, I'm running into issues getting the artifact to actually publish to maven. It seems like gradle doesn't like something about how the artifact is configured and results in an error like:

Invalid publication 'myPublication': multiple artifacts with the identical extension and classifier ('aar', 'null')

What version of gradle was the sample written for? I'm seeing thi

[2018-06-06 22:11] elbatk commented on #979
Hey @josefblaha , I just reached out to the product team to find this out - it does seem a bit vague huh? I'll notify you when I find out!

[2018-06-06 22:12] elbatk commented on #247
Hi @cnayan and @EltonAlvess , sorry for the embarrassingly long time to reply here. I've reached out to the product team and I'll let you know what they say!

[2018-06-06 22:13] elbatk commented on #981
Hi @kmunusam , I've reached out to the product team and I'll let you know what they say!

[2018-06-06 22:16] elbatk commented on #984
Hi @CoolDadTx , thanks for the input here! I've added a work item on our backlog to get this updated and will discuss it with the product team at our meeting (which happens to be tomorrow)

[2018-06-06 22:16] #984 closed

[2018-06-06 22:20] elbatk commented on #987
Hi @glatzert , thanks for the input here! I've added a work item on our backlog to get this updated and will discuss it with the product team at our meeting (which happens to be tomorrow)

[2018-06-06 22:23] elbatk commented on #989
Adding @willsmythe for help here.

[2018-06-06 22:27] elbatk commented on #991
Hey @jbreadner , I've updated the link to go to this page: https://docs.microsoft.com/en-us/visualstudio/extensibility/starting-to-develop-visual-studio-extensions

Thanks!

[2018-06-06 22:27] #991 closed

[2018-06-06 22:39] shanelile commented on #994
Looks like this was a problem on my side. I tried to integrate the publishing changes into an existing build.gradle file for my project. It works if I only have what's in the sample in a build.gradle file higher up in my repository.

[2018-06-06 22:39] #994 closed

[2018-06-06 22:40] elbatk commented on #994
Ah, glad you figured it out @shanelile :)

[2018-06-07 02:51] yashints opened #995 "GitHub link is either wrong or private"
When I click on https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/CopyFiles to see the details, I get 404 from GitHub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Version Independent ID: ace78317-e562-e35d-781d-23cd7d2dfff2
* Content: [CI Build in code using YAML](https:

[2018-06-07 07:05] glatzert commented on #987
Thank you.
I'd volunteer as "does this really work"-tester ;)

[2018-06-07 10:46] has-taiar opened #996 "adding .vsts-ci.yml file and pushing changes is not creating a build definition :("
I am following the documentation here and doing all the steps as described but no build defintion is created from my .vsts-ci.yml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cfd9f66-a0f8-8369-f19e-c3446c301bcd
* Version Independent ID: 4f666589-3917-3424-bd3b-83b658e3a56d
* Content: [Build a repo with YAML file](ht

[2018-06-07 12:47] Grandizer opened #997 "This extension is not installable on any currently installed products"
I went through the steps and it all seemed straight forward until I went to install the extension in our VSTS.  Here is the log:

6/7/2018 8:40:40 AM - Microsoft VSIX Installer
6/7/2018 8:40:40 AM - -------------------------------------------
6/7/2018 8:40:40 AM - vsixinstaller.exe version:
6/7/2018 8:40:40 AM - 15.7.105+ga2c5d563c6
6/7/2018 8:40:40 AM - -------------------------------------------

[2018-06-07 13:19] TMattes commented on #537
We are using the copy files task in many of our build and release definitions (TFS 2017.2 / 2018.2 on premise). When nothing is copied (for example due to pattern issues) or a file to be copied is not found, there should at least be a warning and a "partially succeeded" build out of the task, so that there is not the illusion of everything being alright.

[2018-06-07 13:54] vijayma commented on #996
A few things to check:
- YAML is still in preview. You need to turn the preview toggle on. Your profile -> Preview features -> Account level.
- Is the file at the root of your repo and in the default branch of the repo?

[2018-06-07 15:47] steved0x commented on #995
@yashints I think that that section moved and the new link is: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/CopyFilesV2

I have assigned this issue to the author of the article and they can confirm.

[2018-06-07 15:49] elbatk commented on #990
These should have all been fixed, are you still seeing this issue @jgillette ?

[2018-06-07 15:49] steved0x commented on #986
@qubuss Thank you for your feedback. The GitHub issues in this repository are intended to allow readers to submit feedback on our documentation. Can you let me know what topic you were reading when you encountered this issue, so I can route it to the right author? Thank you.

[2018-06-07 15:52] elbatk commented on #997
@Grandizer It looks like VSIXInstaller is used to install extensions for Visual Studio, not VSTS. Are you installing the extension from the Marketplace?

[2018-06-07 15:56] elbatk commented on #983
Thanks @xjlim ! This should be fixed within 5-10 minutes with the latest push and it should go here: https://docs.microsoft.com/en-us/vsts/integrate/ide/extensions/overview?view=vsts

[2018-06-07 15:56] #983 closed

[2018-06-07 16:07] iamperson347 opened #998 "Supported Method of Updating Service Account Password (when running under domain account)"
What is the supported method of updating the password of the service account for code search? Is it as simple as updating the password via services.msc and restarting the service or is there a different method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0bdbf7-3132-9007-6c6a-368c5bcb0f3d
* Version Independent ID:

[2018-06-07 16:20] timheuer opened #999 "Test Publish docs do not address dotnet CLI test output"
In following this documentation it is focused on MSBuild but does not address the ```dotnet``` CLI user that uses ```dotnet test``` commands - like me :-).

You have to tell the output to produce TRX files for publishing or else this doesn't work.  I could not find appropriate documentation on using ```dotnet test``` with VSTS.  I had to find the information on a blog: https://medium.com/@bridgesq

[2018-06-07 16:48] Grandizer commented on #997
Actually take from here: https://docs.microsoft.com/en-us/vsts/extend/get-started/node?view=vsts and is a VSTS extension.

[2018-06-07 16:53] alexhomer1 commented on #992
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-07 16:59] alexhomer1 commented on #999
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-06-07 17:02] alexhomer1 commented on #988
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-06-07 17:14] kduenke opened #1000 "Variable Substitution"
Is variable substitution supported for Arguments (Optional) Command arguments?  Currently, I've tried $(), documented here...
https://docs.microsoft.com/en-us/vsts/pipelines/release/variables?view=vsts&tabs=batch#using-custom-variables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc7eeb7f-4e6b-8fee-1d7f-582cfb018b02

[2018-06-07 17:36] RoopeshNair commented on #988
Inline script option is enabled only since 3.* version of the PowerShell on Target task, which is by the way still in preview. Unfortunately, you will not able to run inlinescript with 1.* version of the task.

[2018-06-07 18:12] KathrynEE commented on #978
@jawn - Thank you for the feedback. I'm correcting the affected topics and they'll be live later today.

[2018-06-07 18:12] #978 closed

[2018-06-07 18:53] tlemke11 commented on #699
I am also trying to figure out if this is possible. Have you had any luck?

[2018-06-07 20:14] nschonni commented on #986
The repo for support of the agents is https://github.com/Microsoft/vsts-agent/issues

[2018-06-07 21:11] FredConklin commented on #772
Apologies - I should have been more explicit.  I am looking for a way to have an "edit" hyperlink on an internal webpage that will open the workitem in the VSTS editor.  The workitem could be in one of several different projects and the only information I have available to me is the workitem Id.  I have tried the hyperlink mentioned in the Document Details page at https://docs.microsoft.com/en-us/

[2018-06-07 21:32] kduenke commented on #1000
False alarm.  This completely works fine.  I just made a simple mistake.  I forgot to save my release definition after linking my variable group.

[2018-06-07 21:43] SauceTheBoss opened #1002 "Image Type-O"
The last image (effective-tfvc-branching-strategies-for-devops-complex.png) has a type-o above the 2nd branch.  It should read "Rel V2.0"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 357101ee-b4ac-33e8-984a-20590ba91360
* Version Independent ID: e0fc3848-cfe7-2bed-3097-1a7acbcb268f
* Content: [Manage branching strate

[2018-06-07 21:47] FredConklin commented on #772
After digging around some more, I was able to get this to work, and so I'll just add this comment in case others have the same issue.
This hyperlink worked for me:   https://AccountName.visualstudio.com/_workitems/edit/{id}  where {id} is the workitem id.
e.g. https://acme.visualstudio.com/_workitems/edit/7

[2018-06-08 00:03] jabteles commented on #988
Yes, for now, copy the file on the remote machine is my workaround but it creates some unnecessary files.

How can I upgrade my 1.* version to 3*?

[2018-06-08 02:36] canmor opened #1004 "How to run cpack"
Is it possible to run cpack?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6fa6eec-60ed-0a5c-7f79-a53088cf089e
* Version Independent ID: 8a0a6b23-293e-c8c1-79bd-9409b11a8733
* Content: [CMake build and release task](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/build/cmake?view=vsts)
* Content Source: [docs/p

[2018-06-08 03:06] vijayma commented on #699
Two options -

- Model the second build's process as a second phase in the first build. Make the second phase conditional on the success of the first phase.
- Make the second build trigger upon completion of the first build using build completion trigger.

Note that in both the above options, the second process runs automatically if the first one succeeds. I did not understand what the issue is if

[2018-06-08 03:31] adammulroy opened #1005 "Customization"
Is there any plans in the future to allow these filters to be customizable? For instance, we would like custom fields we create to be filterable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b77a32-4cd0-3c02-12b2-c18f57ab3057
* Version Independent ID: 9c357297-9c80-ab6e-d35f-c2d66288b0f6
* Content: [Filter your Kan

[2018-06-08 05:33] RoopeshNair commented on #988
There are significant changes since 2.* version of the task. I'm not sure if you can update the version in your TFS with 3.* version of the task.  Let me check and get back.

[2018-06-08 06:32] banza opened #1006 "Non default branch"
Hello, this functionallity seemingly doesn't work on non default branch in TFS2018. I have default branch, and I have policy on it and everything work fine. But I've created policy on another branch in the same repo and i can complete PR without external service approval.
I dont now this right place for post this. Sorry.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-06-08 06:50] RoopeshNair commented on #943
- Deployment pools are collection scoped and can share the targets with multiple team projects.
- Deployment Groups are team project scoped and are backed by a Deployment Pools at the collection.

Deployment group (DG) represents your physical environment viz. UAT, Staging, Production etc. It also the defines the security boundary so that users don't get to deploy, to say production target without

[2018-06-08 07:38] olsh commented on #699
Hi @vijayma,

I don't want to run the second build automatically, because it's very expensive, it's a long-running build. So your solution doesn't work for me.

I want to prevent accidentally pushing the broken code to a server if the first build (unit tests, static code analysis) is failed.

[2018-06-08 07:45] jawn opened #1007 "Markdown link not converted to HTML"
The following markdown is visible multiple times in this web page:
I tried fixing it in the markdown, but don't know why the link is not replaced.
 [Artifact Link Types API](https://docs.microsoft.com/rest/api/vsts/wit/artifact link types/list)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcb1a9df-f8c9-517d-187c-558c

[2018-06-08 20:14] mmitrik commented on #1006
@banza Will you open a ticket on the [Developer Community](https://developercommunity.visualstudio.com/spaces/22/index.html)?  Any additional details you can provide, such as screenshots of the policy configuration would be helpful.  Thanks!

[2018-06-09 00:10] yashints commented on #995
Thanks Steve

[2018-06-09 10:21] ahaleiii opened #1015 "Cannot upload .msg file to VSTS Pull Request Comment"
Trying to attach an Outlook .msg file in a reply to a VSTS Pull Request comment results in an error:

![image](https://user-images.githubusercontent.com/7021001/41190460-cbb03ef2-6bac-11e8-970d-aabfdcbdacd1.png)

[According to the docs:](https://go.microsoft.com/fwlink/?linkid=838045)

Are there certain limitations to .msg files being uploaded to VSTS? Thanks.

---
#### Document Details

⚠ *Do not

[2018-06-10 00:18] arcotek-ltd opened #1017 "Dockerfile missing ARG PHATOM="xyz""
Unless I am blind, your Dockerfile is missing a declaration for `$PHANTOM` variable.

As the Phantom project is not being developed (at the moment), it is safe to add the line:

`ARG PHANTOM="phantomjs-2.1.1-linux-x86_64"`

Straight after `# install phantomjs`

I think this Dockerfile needs some expansion, explaining what it does differently to all the Dockerfiles mention https://hub.docker.com/r/

[2018-06-10 03:46] StevenTCramer opened #1018 "Show example out puts for versioning Scheme"
#versioningScheme: 'off' # Options: off, byPrereleaseNumber, byEnvVar, byBuildNumber

The documentation does not show examples of what the versions will actually be for the various options. (Would save much time)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551-16ad-e164-a4ac522cdaab
* Version Independent I

[2018-06-10 17:14] sgwatgit opened #1019 "Fabrikam version of Gadgets (3.0.0) is incorrect"
The image here https://docs.microsoft.com/en-us/vsts/package/concepts/_img/upstream-source-graph3.svg?view=vsts which is underneath the following content ...

"Now, let's have the Fabrikam feed add an upstream source to the Contoso feed. Once that's done, a user connected to Fabrikam can install any verion of Widgets, any version of Gizmos, but only saved versions (i.e. 2.0.0) of Gadgets. "

has t

[2018-06-10 18:31] kirakosyan opened #1020 "does not work with .net core"
more than one year old issue
https://github.com/NuGet/Home/issues/4491

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2512189-84f9-f997-0255-13b276c233b4
* Version Independent ID: c7ccb0ba-4221-bdac-85e1-111eaf51943b
* Content: [Publish NuGet packages from Team Build to Package Management](https://docs.microsoft.com/e

[2018-06-11 04:09] kmunusam commented on #981
Hi Steve,

Do I have any update on this?

Thanks,
Kamesh

[2018-06-11 05:59] RoopeshNair commented on #988
@jabteles  - the newer version of the tasks are just rolling out as a preview in VSTS. And they aren't tested with TFS 2018. My recommendation would be to use Windows File Copy task first followed by PowerShell on target task as mentioned earlier.

[2018-06-11 09:07] dotnetstep opened #1021 "Not able to see Download PDF Link ?"
Most of the documentation at https://docs.microsoft.com has Download PDF as link. By using that we can download documentation as PDF which is very useful but over here I can not see such link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5835c5-57ca-e68d-f033-d97ec7bd106f
* Version Independent ID: 20ff829f-93d5-b3b

[2018-06-11 09:39] naveen0905 opened #1022 "Documentation update for "vsts pull request status server""
Hi Team,

Recently I have faced an issue with VSTS web hook and thought if we can consider adding below documentation so that developer will be clear at the time of reading the documentation itself.

**Issue what i have faced:**
I created PR State Server and used an existing API as external service to validate the PR. The existing API will throw an error/validation based on business flow.

But aft

[2018-06-11 10:50] ArgTang commented on #504
@vijayma

Could you also include a paragraph on how to consume the output variable in another step. I have an output variable but i have no idea how to use it later

[2018-06-11 12:47] steved0x commented on #1018
@StevenTCramer Thanks for letting us know, I am assigning this to the author of the article to get it fixed.

[2018-06-11 12:51] steved0x commented on #1007
@jawn Thanks for letting us know, my guess would be the spaces in the URL need to be URL encoded, I have assigned this to the author of the article to take a look. Thank you.

[2018-06-11 12:53] steved0x commented on #1002
@SauceTheBoss Thanks for letting us know, I'll get this fixed.

[2018-06-11 12:53] steved0x commented on #1000
@kduenke Thanks for letting us know and glad to hear you got it working.

[2018-06-11 12:53] #1000 closed

[2018-06-11 13:50] alexhomer1 commented on #998
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-11 14:18] chrisrpatterson commented on #1004
Running a command line tool from a script in CI is a pretty standard thing to do.  I am not sure I would say it is not elegant.

[2018-06-11 16:30] Powerhelmsman opened #1023 "Unable to see @ symbol"
The issue is submitted by @nitu1702 from https://github.com/MicrosoftDocs/feedback/issues/427

Using Version 15.117.27414.0
I created some tasks in TFS and assigned to my team members.
Team member could see it in his list and change status, update comments.
But the team member cannot see '@' for tagging. Because of this, I as a manager do not get mails on what he has updated.
What could be the rea

[2018-06-11 17:13] dinye commented on #476
Is it possible to use "@mention" in python script and automatically @ someone when the script runs? Thx!

[2018-06-11 17:15] dinye opened #1024 "automatically @mention in script"
Is it possible to use "@mention" in python script and automatically @ someone when the script runs? Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ae521f-6ae4-4d7f-2cce-f844e5811b66
* Version Independent ID: 18098490-1f34-e966-3135-cb90197bfa6f
* Content: [Use @mentions in work items and pull requests - VSTS and

[2018-06-11 18:07] KathrynEE commented on #1005
@adammulroy - Thank you for your inquiry. I recommend that you add your suggestion to our User Voice site - https://visualstudio.uservoice.com/forums/330519-team-services where are Product Managers can reply to your feature request.

[2018-06-11 18:07] #1005 closed

[2018-06-11 18:14] KathrynEE commented on #1007
@jawn - Thank you for the correction. I'm updating the topic and the changes should be live later today.

[2018-06-11 18:14] #1007 closed

[2018-06-11 18:44] jholovacs opened #1026 "How to preserve column settings changes?"
Every time I leave this page, I lose the "Assigned To" column, I keep having to re-add it.  How do I get it to stay?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fd2a68-d9ad-0966-bbc4-c70a23566ff8
* Version Independent ID: f66ea1ca-6c7a-8f6c-9be7-7b386662fa22
* Content: [Add or remove columns, change column width,

[2018-06-11 19:05] VinKamat commented on #546
What are the other pre-requisites for private agent such that Azure tasks are run properly? I've installed Azure PS and AzureRM modules however still can't copy a file to Azure Blob Storage. This works fine on the Hosted VS2017 agent.

[2018-06-11 19:21] benrobot opened #1027 "Windows Machine File Copy - no longer supports wild cards"
I was using this task to copy files to a remove Windows machine.  My source path contained a wild card in it and everything worked as expected.  However, now it seems this feature has been disabled by the use of `Test-Path -LiteralPath $value` inside the Utility.ps1 `Validate-SourcePath` function.

Was this intentional?

What is the recommended way of copying files with a wildcard now that using t

[2018-06-11 21:07] daniloalsilva commented on #800
Still not working on agents, any update about rollout to .net core 2.1?

[2018-06-11 21:47] chrisrpatterson commented on #546
You should ask this question on the https://github.com/microsoft/vsts-tasks repo

[2018-06-11 22:38] aaron-bozit commented on #330
I also had the same issue when running from the documentation.

Thanks.

[2018-06-12 07:42] jawn opened #1029 "Markdown visible in analytics views documentation"
Screenshot:

![image](https://user-images.githubusercontent.com/1705112/41276562-dd7f37c6-6e24-11e8-828e-c87c8d8c4576.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 508bfe7d-16cf-7b44-53a7-26a9f9563be8
* Version Independent ID: f365dd42-530f-e145-5dd3-28420237bc7b
* Content: [What are Analytics views? - VSTS](http

[2018-06-12 09:54] alexhomer1 commented on #999
The product team tell me they are planning to update these topics and will incorporate your suggestion. Thank you.

[2018-06-12 09:54] #999 closed

[2018-06-12 10:55] PBoraMSFT commented on #977
@DavidStaheli - the installer task will install the platform, but the option to use that platform has to be chosen in the VSTest task, so the update to VSTest task is also needed for the scenario to work. So, using the tfx-cli for this isn't recommended.

[2018-06-12 11:02] DavidStaheli commented on #977
Thanks a lot, @PBoraMSFT.  @nk111 I'm sorry this doesn't yet meet your needs.  😞

[2018-06-12 11:37] nk111 commented on #977
Thank you very much @PBoraMSFT & @DavidStaheli ! In the meantime i had to install SSDT to complete another task and this also installed a visual studio 17 instance. I then added a "user function" VSTest" with the path pointing to this instance. The build completes. I wonder if i could somehow update my agent so the vstest capability is recognized automatically? A simple restart of the agent servic

[2018-06-12 11:52] PBoraMSFT commented on #977
@nk111 - agent restart should recognize the VS install and gain the vstest capability automatically with that. Which version of VS do you have - details from Help->About would help..

[2018-06-12 11:57] stewx opened #1030 "Mistake with JobStatus values?"
This page lists a value for Agent.JobStatus "SucceededWithIssues". This other documentation refers to a different value, however: "PartiallySucceeded". If both are valid, that should be mentioned here. Otherwise, only the correct one should be listed.

https://docs.microsoft.com/en-us/vsts/pipelines/process/conditions?view=vsts

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-06-12 12:07] nk111 commented on #977
unfortunately i still get the message that no agent could be found with "msbuild, visualstudio, vstest".

this is the output from vs on the build machine:

Microsoft SQL Server Data Tools for Visual Studio 2017  (SSDT)
Version 15.7.3
VisualStudio.15.Release/15.7.3+27703.2026
Microsoft .NET Framework
Version 4.7.02558

Installed Version: IDE Standard

C# Tools   2.8.3-beta6-62923-07. Commit Hash: 7

[2018-06-12 13:05] TallJeff opened #1031 "Needs Updated"
This would be a great source of information if it were updated to include TFS 2018 Update 1 and TFS 2018 Update 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff0c895d-9660-6db7-676e-5aa194b403e8
* Version Independent ID: 5c14f6ec-f4b5-26dc-aaf2-d8fc445036b5
* Content: [What's new for Team Foundation Server](https://

[2018-06-12 13:14] mason-mcglothlin commented on #747
@elbatk It's been over a month. And this still isn't fixed. Surely this wouldn't take more than an hour of someone's time to finish?

[2018-06-12 14:13] bergmeister commented on #747
cc @xenalite

[2018-06-12 14:18] arnoldpistorius commented on #792
I can confirm this behavior on my machine too. I think the documentation should be altered to use the $(Agent.TempDirectory) instead of $env:TEMP variable

[2018-06-12 14:33] draevin opened #1032 "Missing Link?"
I believe there's a missing link in the last section of the Branching section for the Git column of the table. It appears that "See Use Git branches to switch contexts, suspend work, and isolate risk." should be a link after "See" based on context, as well as its sibling in the TFVC column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-12 14:47] DavidStaheli commented on #792
Thanks a lot, @dtamai and @arnoldpistorius!  This documentation is fixed and should be [available](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/utility/download-secure-file?view=vsts) in production later today.

[2018-06-12 15:40] alexmullans commented on #747
Sorry for the delay. Working across VSTS accounts with NuGet is a bit of a pain, frankly. We've got some features queued up that will make it better but they're still a ways out. We have an internal to Microsoft guide of how to use NuGet packages from one VSTS account in another VSTS account's build. I'll chat with @elbatk this week to see if we can get it cleaned up and published as public docume

[2018-06-12 16:02] steved0x commented on #1031
@TallJeff We'll get this updated, in the meantime you can get some of the information about what's new from here: [VSTS Features timeline - current features](https://docs.microsoft.com/en-us/vsts/release-notes/#current-features) - even though it is called "VSTS Features timeline" it includes the TFS versions as well.

[2018-06-12 16:04] SamGrantham opened #1033 "More Broken Hyperlinks"
Under SQL Server High Availability features Supported by Team Foundation Server the link:

Use SQL Server 2012 Always On Availability Groups with Team Foundation Server (https://docs.microsoft.com/en-us/install/sql-server/use-always-on-groups)

is dead... also this is supposed to be about the config of TFS for Always on not about the SQL Config? which I think is this:

https://docs.microsoft.com/e

[2018-06-12 16:45] nschonni opened #1034 "tfs content links here but repo is missing `docs/server` folder"
If you create an issue from https://docs.microsoft.com/en-us/tfs/server/install/sql-server/use-always-on-groups?view=vsts it point to `https://github.com/MicrosoftDocs/vsts-docs/blob/live/docs/server/install/sql-server/use-always-on-groups.md` which doesn't exist here.

Is it just on the private repo for now, or a comment system bug?

[2018-06-12 17:48] bergmeister commented on #747
cc @xenalite

[2018-06-12 17:49] bergmeister commented on #747
@alexmullans We have also seen issues where it does not work if the VSTS accounts are hosted in different Azure regions (US and Europe to be specific)

[2018-06-12 20:23] steved0x commented on #1023
@Powerhelmsman The GitHub issues in this repo are for documentation feedback for VSTS issues, similar to the doc feedback repo as the original issue: https://github.com/MicrosoftDocs/feedback/issues/427 . Please submit this bug report here: https://developercommunity.visualstudio.com/spaces/21/index.html

If I have misunderstood, and this issue is related to documentation feedback, please let me k

[2018-06-12 20:23] #1023 closed

[2018-06-12 20:33] KathrynEE commented on #1015
@ahaleiii - Thank you for your comment. The .msg file format isn't supported in pull requests. I've updated the topic to indicate that.

[2018-06-12 20:33] #1015 closed

[2018-06-12 20:36] KathrynEE commented on #973
@MSGriz - Thank you for your comment. I've added a backlog item to update this topic and other Office articles to be more up-to-date.

[2018-06-12 20:36] #973 closed

[2018-06-12 20:36] Powerhelmsman commented on #1023
@nitu1702 for awareness. He is original user.

[2018-06-12 20:48] steved0x commented on #947
@sgwatgit It's live now, thanks for a great question!

[2018-06-12 20:48] #947 closed

[2018-06-12 21:24] andre-capri-iag opened #1037 "Incorrect documentation"
I went and checked the docs on this page and happily found the variable I was looking for put it in to my release pipeline and much to my dismay it did not work.
Obviously I had made a mistake I thought, was this the wrong docs, was I looking at the TFS maybe? Or maybe even made a mistake in inputing it on the release.
So I went about debugging and found that another artifact variable was indeed w

[2018-06-13 02:49] cecedxx opened #1039 "Missing variable Build.SyncSources"
This documentation doesn't contain the variable `Build.SyncSources` as the blog below mentioned:
https://blogs.msdn.microsoft.com/tfssetup/2017/09/25/disabling-get-sources-step-in-vnext-build/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62a

[2018-06-13 09:31] AgentMC opened #1040 "A way to clone the suite in the same plan"
The `tcm suites /clone` does not allow copying the suite within the same plan. This may sound weird as MTM does. And indeed this is a senseless limitation which you can easily overcome by creating a temporarily "proxy" plan, copying the `source` to `proxy` and then `proxy` to `target` within the same plan `source` is in.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-06-13 09:42] alexhomer1 commented on #1037
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-06-13 09:54] alexhomer1 commented on #1040
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-13 10:12] Dushelov commented on #800
Same question. When .net core 2.1 will be supported by hosted agents?

[2018-06-13 11:02] adnanebrahimi opened #1041 "Need higher version"
Hello,
For building angular 6, need a higher version of Node.js, see the error log:

You are running version v6.9.1 of Node.js, which is not supported by Angular CLI v6.
The official Node.js version that is supported is 8.9 and greater.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c00d3b8-64c1-9f1b-83f8-62d8cf07817b

[2018-06-13 13:04] andyjlewis commented on #1039
That's not how you do it today on VSTS. Instead, on the Tasks tab, select Get sources, and then clear the Don't sync sources checkbox.

[2018-06-13 13:04] #1039 closed

[2018-06-13 13:45] andyjlewis commented on #1030
We've got a backlog item to update this topic.

[2018-06-13 15:41] steved0x commented on #1034
@nschonni Let me look into this and see what is happening - some of the TFS docs are in a different place now (note the `/tfs/` part of the URL that replaces the `/vsts/` part that most of the other docs have (except release notes).

[2018-06-13 17:06] steved0x commented on #1033
@SamGrantham Thank you for letting us know, we'll get these fixed. I'm assigning this to the author of this article.

[2018-06-13 17:59] stewartadam opened #1042 "Broken link for creating VSTS organizations"
Link is broken in this statement from the article:
*You must have an organization created in VSTS. If you haven't created one yet, [do that now](https://docs.microsoft.com/en-us/vsts/accounts/set-up-vs.md).*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4107b23a-ba0a-5a1b-b689-072717cfe8ec
* Version Independent ID: 1e

[2018-06-13 18:02] BillRaymond opened #1043 "Content is showing markdown, not html content"
When viewing this document on the Microsoft site, it is displaying with markdown rather than HTML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 574443d9-7dc6-8fba-f549-2781def08395
* Version Independent ID: bfa2a8a3-f07a-0859-4282-0becc46e692f
* Content: [Create an Analytics view - VSTS](https://docs.microsoft.com/en

[2018-06-13 20:51] JanZiese commented on #908
I think the full code for this sample is available here: https://github.com/Microsoft/vsts-extension-color-control

[2018-06-14 00:02] imranmomin commented on #800
Still not working for me. My account is located at **South Central US** region

[2018-06-14 01:10] cidrugHug8 opened #1046 "gitからvssに変更したい"
1ソリューションに含まれる複数のプロジェクトが1つのフォルダ以下に無い場合にgitで管理できないので、ソース管理をgitからvssに変更したいが、やり方が分からない。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: beb650b9-47d2-4f04-97c9-22b9b6ddeeb9
* Version Independent ID: 74ac33fd-0fee-1b22-b783-9ed9c83a23be
* Content: [Create a new Git repo](https://docs.microsoft.com/ja-jp/vsts/git/tutorial/creatingrepo?view=vsts&tabs=visual-

[2018-06-14 01:29] vishnu4 opened #1047 "VS403247: Unable to access the package location"
getting the following error when i try to run import.  not sure the best way to troubleshoot

[Info   @21:23:28.164] [Info] Microsoft Team Foundation Server (R) Tfs Migrator Tool version 16.131.27716.2
                       [Info] Copyright (C) Microsoft Corporation. All rights reserved.
                       [Info] Executing at 2018-06-14T01:23:28.1562638Z:
                       [Info] tfsmigr

[2018-06-14 03:34] cecedxx commented on #1039
It seems this option only exists in `VSTS Git`.

[2018-06-14 09:17] Liero commented on #800
I was able to build asp.net core 2.1 app using hosted build aged (West Europe). My first build task is:
.NET Core Tool Installer:
![image](https://user-images.githubusercontent.com/3494407/41403082-492b9a00-6fc4-11e8-8641-90195c7b6797.png)

I got runtime version from [here](https://github.com/dotnet/core/blob/master/release-notes/releases.csv).

My question is:
Is .NET Core Tool Installer task req

[2018-06-14 09:36] PJBowron opened #1050 "Non-hosted agent pools"
Is it, or will it be, possible to use yaml configurations with non-hosted agent pools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Version Independent ID: ace78317-e562-e35d-781d-23cd7d2dfff2
* Content: [CI Build in code using YAML](https://docs.microsoft.com/en-us/vsts/pipelin

[2018-06-14 10:59] minherz opened #1051 "TFS 2017"
Does this feature exist in one of releases of TFS 2017? I have Update 2 RTM (Version 15.117.26714.0) and I do not see this feature in the branch policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9a3fce3-aa8f-c5e5-5b10-da912f6941fc
* Version Independent ID: c36e9af9-cc20-c264-0525-2ca7e7d9ad8e
* Content: [Configur

[2018-06-14 11:04] #943 closed

[2018-06-14 12:08] igor-moskvitin opened #1052 "One code coverage result from many test's project in solution"
Is it possible to compose one coverage result from many coverage.cobertura.xml files?
Now have a issue like `Multiple file or directory matches were found. Using the first match: D:\TFS\...\coverage.cobertura.xml`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ac4ff4-9839-6a6d-8d20-a25084d221ef
* Version Independent

[2018-06-14 12:30] alexhomer1 commented on #1052
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-14 13:01] alexhomer1 commented on #1052
The product team tell me that merging multiple cobertura xml files is currently not supported. However, we are taking up work to evolve code coverage integration in VSTS, and will evaluate this in Q3 of 2018.

[2018-06-14 13:01] #1052 closed

[2018-06-14 13:09] mmitrik commented on #1051
Pull request status extensibility is available in TFS 2018 Update 2 (see the [release notes](https://docs.microsoft.com/en-us/visualstudio/releasenotes/tfs2018-update2#pull-request-status-extensibility)).

@steved0x should we have a note on this page to indicate the TFS version where this is available?

[2018-06-14 14:10] #1051 closed

[2018-06-14 15:03] kmunusam commented on #981
Waiting for the reply?

[2018-06-14 15:28] VerdonTrigance commented on #943
Still don’t understand why DG need a separate pool. Why multiple groups can’t belong one pool?

[2018-06-14 15:58] RoopeshNair commented on #943
@VerdonTrigance  - Let's say we have 2 deployment groups `Dev` and `Prod`. Now instead of having independent pools backing them, you have only 1 deployment pool. Now every production machine is available for `Dev` deployment group and vice-versa.  i.e., every dev machine is available in `Prod` deployment group. Hope it helps

[2018-06-14 16:52] ardumez opened #1053 "How to make manuel testing, on master ?"
I have difficulty with my team for manuel testing, if we merge on master and after doing manual testing on master there are possibility of conflict with other new merge, and the QA dont know what deploy. We don't have infrastructure for create env by pull request for doing test befor merge on master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-06-14 16:57] thomasmktong opened #1054 "Variable inside variable?"
I would like to get Release.TriggeringArtifact.Alias first and use its value to get the build ID, is this possible? thanks.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Independent ID: 41efb94b-4c7a-64a3-b23b-70c8634ae727
* Content: [Variables in Release Managemen

[2018-06-14 17:21] JacobHenner commented on #686
This is no longer occurring.

[2018-06-14 17:21] #686 closed

[2018-06-14 17:21] KathrynEE commented on #1029
@jawn - Thank you for bringing this to our attention. I saw the same problem yesterday, and updated several topics. So the fixes are in now.

[2018-06-14 17:21] #1029 closed

[2018-06-14 17:32] lsprado opened #1056 "Supported Build versions for XAML Builds"
TFS 2018 Version
TFS 2018 Build Agent
TFS 2017 Build Agent
TFS 2015 Xaml Controller
TFS 2013 Xaml Controller
TFS 2010 Xaml Controller

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dab4a714-225b-809e-e427-0c40350eea98
* Version Independent ID: 1f67eb43-53eb-561b-0f2a-c2673c7c0028
* Content: [Compatibility and TFS versi

[2018-06-14 19:13] SamGrantham opened #1058 "The Admin Console is a bit lacking in error reporting, this is the work around in place since 2010."
The process here: https://blogs.msdn.microsoft.com/roberthorvick/2009/10/27/enabling-tracing-during-tfs-2010-configuration/  works for versions up to 2017, and there is a different key that can be used for 2018 (I can provide upon request and PG approval).  Is this something that we can add to this documentation or is it more appropriate for a Blog. Personally I'd like it more easily accessible as

[2018-06-14 19:15] SamGrantham commented on #1058
To be clear this isn't specifically about the opening from command line, it's more general to the TFS Admin Console.  Thanks!

[2018-06-14 19:17] SamGrantham commented on #1033
Thank you much!

[2018-06-14 20:44] steved0x commented on #1058
@SamGrantham I'll assign this to Elijah and he can ping you next week when he is back.

[2018-06-14 20:46] steved0x commented on #1056
@lsprado You are saying these are the supported versions for XML builds?

[2018-06-14 20:52] smeredith opened #1059 "Paragraph formatting on wiki"
The following two sentences are in conflict:

&gt; While in a Markdown file, wiki, or widget, enter two spaces prior to the line break to begin a new paragraph, or enter two line breaks consecutively to begin a new paragraph.

&gt;In pull request comments and the wiki, press Enter to insert a line break and begin text on a new line.

"Wiki" should only be included in the second line, since this ma

[2018-06-14 20:53] steved0x commented on #1053
@ardumez Can you give me some more details on your scenario? For example, a step by step list of what you are doing, and then where the missing piece or the problem comes in?

Possibly a [build validation policy](https://docs.microsoft.com/en-us/vsts/git/branch-policies?view=vsts#build-validation) would work for you?

Please let me know more details of your scenario and then I can help further or

[2018-06-14 21:04] steved0x commented on #1047
@vishnu4 I'm sorry that you ran into trouble. This GitHub repo is intended for documentation feedback, and the best place for you to post your question is here:

https://developercommunity.visualstudio.com/spaces/21/index.html

However, let me see if I can give a couple of ideas to try before you file a request there. My best guess to start would be to verify everything in [this step](https://docs

[2018-06-14 21:05] steved0x commented on #1046
Translation: `1 If multiple projects included in the solution are not under one folder, you can not manage with git, so I'd like to change source control from git to vss but I do not know how to do it.`

[2018-06-14 21:16] vishnu4 commented on #1047
sure thing.  the issue ended up being the fact that in the instructions it was unclear what type of azure storage to use: blob/file/etc.  And after i chose one (blob), i would need to create a container in that blob storage.  and if i used blob storage, i would have to include the container name in the url.  so instead of using
https://XXX.blob.core.windows.net/
as my location, i needed to use
htt

[2018-06-14 22:18] fullerth commented on #922
Is there a roadmap for TFS getting support for YAML builds?

[2018-06-14 22:47] NPadrutt opened #1060 "Dead Link"
The link for CCMI in the first paragraph is dead:
https://docs.microsoft.com/en-us/vsts/work/work-items/guidance/cmmi-proces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd11642-1af2-c211-68bc-7e324131a6cb
* Version Independent ID: 81d3f210-59e5-8487-0347-3db574242a97
* Content: [Customize a project - VSTS](https://

[2018-06-15 00:03] erptechnician opened #1062 "Request for naming conventions for Tags in VSTS"
This article is very useful, and I refer to it often. However, it seems to completely omit any information regarding naming convention of Tags in VSTS.

Would it be possible to add a section in this document specifically for Tags so that new VSTS users and administrators will have some guidance?  It would be useful to know things such as maximum length, disallowed characters, and other rules gover

[2018-06-15 02:44] nschonni commented on #1056
https://blogs.msdn.microsoft.com/bharry/2017/05/30/evolving-tfsteam-services-build-automation-capabilities/ talks about the temporarily re-introduced support.

[2018-06-15 04:17] nschonni commented on #330
I think the name might be OK because it's not using the plain published image, but maybe it needs a line like:
[code]
And maybe change the name to something like `colin/agent-with-phantom`

[2018-06-15 08:02] alexhomer1 commented on #1054
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-15 14:01] steved0x commented on #1051
@minherz I have updated the documentation to reflect that PR Status Branch Policy is supported in TFS 2018 Update 2 and it should be live later today or Monday. Thanks for bringing it to our attention.

[2018-06-15 14:03] #1060 closed

[2018-06-15 14:50] steved0x commented on #1047
@vishnu4 I am glad you got it resolved, and I will see if I can get that documentation updated to clarify that -it looks right [here](https://docs.microsoft.com/en-us/vsts/articles/migration-import?view=vsts#import-specification-file) would be a good place to clarify that?

[2018-06-15 14:52] steved0x commented on #850
Link in the source doc is fixed

[2018-06-15 14:52] #850 closed

[2018-06-15 14:57] steved0x commented on #851
I can't update the FWLink but I have replaced it the 3 places it was used in the VSTS docs.

[2018-06-15 14:57] #851 closed

[2018-06-15 14:59] steved0x commented on #853
The redirect is in place and it is fixed, and the link is replaced with the new one in the source doc.

[2018-06-15 14:59] #853 closed

[2018-06-15 15:01] steved0x commented on #854
@alexhomer1 Can you fix the broken links in this article? It looks like some stuff has moved and I don't know enough about that area to replace it with the new good links.

[2018-06-15 15:04] steved0x commented on #866
@KathrynEE Does [this](https://support.office.com/en-us/article/fill-data-automatically-in-worksheet-cells-74e31bdd-d993-45da-aa82-35a236c5b5db) look like it might be the new location of the item you have linked from the last link in the table [here](https://docs.microsoft.com/en-us/vsts/report/excel/burndown-excel-report?view=tfs-2018#Updating) that is a 404 now?

[2018-06-15 15:05] steved0x commented on #867
Link is fixed.

[2018-06-15 15:05] #867 closed

[2018-06-15 15:08] steved0x commented on #869
@KathrynEE Sorry to have held on to this issue so long, I thought I had bulk updated them, but my updates didn't include technet and I don't know this area well enough to replace it with the new links.

[2018-06-15 15:09] steved0x commented on #871
Link was replaced in that article and is fixed.

[2018-06-15 15:09] #871 closed

[2018-06-15 15:09] steved0x commented on #872
Link was replaced in that article and is fixed

[2018-06-15 15:09] #872 closed

[2018-06-15 15:10] steved0x commented on #875
@elbatk Sorry to have held onto this issue for so long, I did a bulk update of these broken links but unfortunately I don't know enough about this area to find the right links to replace the broken ones.

[2018-06-15 15:11] steved0x commented on #877
Link was fixed in article

[2018-06-15 15:11] #877 closed

[2018-06-15 15:14] vishnu4 commented on #1047
absolutely!  Thank you.

[2018-06-15 15:14] #1047 closed

[2018-06-15 15:15] steved0x commented on #880
Fixed and should be live soon

[2018-06-15 15:15] #880 closed

[2018-06-15 15:18] steved0x commented on #886
Fixed

[2018-06-15 15:18] #886 closed

[2018-06-15 15:18] steved0x commented on #887
Fixed

[2018-06-15 15:18] #887 closed

[2018-06-15 15:18] steved0x commented on #888
Fixed

[2018-06-15 15:18] #888 closed

[2018-06-15 15:20] steved0x commented on #889
Fixed

[2018-06-15 15:20] #889 closed

[2018-06-15 15:21] steved0x commented on #890
Fixed

[2018-06-15 15:21] #890 closed

[2018-06-15 15:21] steved0x commented on #891
Fixed

[2018-06-15 15:21] #891 closed

[2018-06-15 15:23] steved0x commented on #892
Fixed

[2018-06-15 15:23] #892 closed

[2018-06-15 15:52] KathrynEE commented on #1042
@stewartadam - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 15:52] #1042 closed

[2018-06-15 15:52] mmitrik commented on #1022
Responding to the webhook with an error tells the system that there's a disconnect between what we're sending and what that external service is expecting.  If your service is getting the payload as expected, you should respond with 200 OK.

@steved0x - maybe we should add a Note to the status server doc?  It also seems like the [WebHook documentation](https://docs.microsoft.com/en-us/vsts/service-

[2018-06-15 15:59] KathrynEE commented on #885
@nschonni - - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 15:59] #885 closed

[2018-06-15 16:03] KathrynEE commented on #884
@nschonni - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 16:03] #884 closed

[2018-06-15 16:07] KathrynEE commented on #883
@nschonni - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 16:07] #883 closed

[2018-06-15 16:13] KathrynEE commented on #869
@nschonni - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 16:13] #869 closed

[2018-06-15 16:19] KathrynEE commented on #881
@nschonni - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 16:19] #881 closed

[2018-06-15 16:19] mmitrik commented on #1046
@steved0x, can we confirm that this translation is correct?  VSS has not been supported for several years, so this is not a recommended approach.

If I assume the desire is to go **to Git**, and you have multiple projects in a single solution, I would generally recommend that everything that's needed to build the solution should be included in a single Git repo.  It will be much easier to version

[2018-06-15 16:20] KathrynEE commented on #870
@nschonni - Thank you for reporting this issue. I'm fixing the content and it should be live later today.

[2018-06-15 16:20] #870 closed

[2018-06-15 16:21] KathrynEE commented on #1043
@BillRaymond  - Thank you for reporting this issue. I've fixed the content format issues.

[2018-06-15 16:21] #1043 closed

[2018-06-15 16:28] KathrynEE commented on #882
@nschonni - I'm not seeing this as a broken link. It resolves as expected.

[2018-06-15 16:28] #882 closed

[2018-06-15 16:33] nschonni commented on #882
Thanks, it's resolving for me too now. Maybe it was temporary

[2018-06-15 18:39] VerdonTrigance commented on #943
You mean that DG's owner may add machines to his own DG (for example Dev) from Prod DG if both that groups are linked to the same DP, right? Ok, I understand. But let's back to situation where I have two independent QA environments for single project. I have to add my targets to one DP, tag them somehow and then use one DG associated with that DP with my independent releases? Is that possible?

[2018-06-15 23:11] ayeltsov opened #1066 "reconcile command is missing"
Unable to find documentation for reconcile command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 052ab215-efa4-8cd6-fa3c-f08f8015b881
* Version Independent ID: 3aac0244-74a6-070a-dafe-f246aaad699c
* Content: [Use Team Foundation version control commands](https://docs.microsoft.com/en-us/vsts/tfvc/use-team-foundation-v

[2018-06-16 18:45] kenotron commented on #610
It is now mid-June and this is still the case. Is there a real ETA for this?

[2018-06-17 06:49] lohithgn commented on #955
@cResults … you can customize your build number format in VSTS. Here is the docs which talks about this - https://docs.microsoft.com/en-us/vsts/pipelines/build/options?view=vsts
If you use the format:
$(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
generates
Fabrikam_CIBuild_master_20090805.2
There are bunch of prebuilt variables you can use. do check the docs.

[2018-06-17 07:51] thomasmktong commented on #1054
Thanks, I am currently using the following Powershell as workaround:

[code]

[2018-06-17 08:46] keithpatton opened #1069 "Compare two runs button not available"
Hi,
I have latest version of vs.net 2017 enterprise and there is no compare two runs button available as the CTRL button cannot select multiple load test runs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f483e5ac-716e-3074-b6c3-af6bb2a65c7b
* Version Independent ID: c389cc86-143c-0c2d-1a87-4b81b6a5acc9
* Content: [V

[2018-06-17 11:45] has-taiar commented on #996
Thanks the issue was that I could not see the feature in my Preview Features because it only shows up in when you select Account form the drop down list. Closing this issue

[2018-06-17 13:19] Liran-Dobrish commented on #967
any progress?

[2018-06-18 08:51] justlearntutors opened #1075 "HTTP Error 502.5 - Process Failure"
Followed each step. Once the project is released to the windows server, I am checking the public ip address.

Your github project uses ASP.NET core 2, but your .NET Core SDK is 1.

Website: http://104.43.242.117/
DNS: http://justlearntest.centralus.cloudapp.azure.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a373b

[2018-06-18 08:52] justlearntutors commented on #1075
# Install the .NET Core SDK
Invoke-WebRequest https://go.microsoft.com/fwlink/?linkid=848827 -outfile $env:temp\dotnet-dev-win-x64.1.0.4.exe
Start-Process $env:temp\dotnet-dev-win-x64.1.0.4.exe -ArgumentList '/quiet' -Wait

The .NET Core version is 1.0

[2018-06-18 10:15] subsri commented on #998
@iamperson347: Where are you using Code Search and what is the role of this service account? Is it an MSA account (outlook/hotmail/live)?

[2018-06-18 12:59] mlearned commented on #955
@cResults I'm looking into this as well, and will be back. (just FYI)

[2018-06-18 13:20] queBurro opened #1076 ""Inline" 'Powershell Script' task - is that TFS 2017 only?"
I'm having to use a Peter Groenewegen's third party "Run Inline Powershell" tool to achieve the same thing with TFS2015. If this doc is incorrect please can you fix it, if not can you point me at the correct task.  Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Ind

[2018-06-18 13:21] queBurro opened #1077 "Please can you clarify how I pass a variable between VSO tasks with on-prem tfs2015"
the example's not that clear to me. Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Independent ID: 41efb94b-4c7a-64a3-b23b-70c8634ae727
* Content: [Variables in Release Management](https://docs.microsoft.com/en-us/vsts/pipelines/release/variables?view=vsts&tabs=pow

[2018-06-18 14:52] alexhomer1 commented on #854
I cannot find this link in the source of the topic. Maybe it was already fixed? If not, let me know where it is in the topic. Thank you.

[2018-06-18 14:52] #854 closed

[2018-06-18 14:53] alexhomer1 commented on #1069
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-18 14:56] andyjlewis commented on #996
re-opening the issue until we add mention about preview feature needing to be turned on

[2018-06-18 15:08] alexhomer1 commented on #1077
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-18 15:09] steved0x commented on #1020
@alexhomer1 Is this one in your area? Do you know the answer?

[2018-06-18 15:11] alexhomer1 commented on #1020
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-18 15:14] alexhomer1 commented on #1076
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-18 17:46] chataylor opened #1078 "Link to an existing work item - TOPIC UNDER REVISION"
We have recently made updates to the existing "Add a link" experience, including separating link types based on the artifact the user chooses to link to first. We have also modernized the linking experience to leverage our Search APIs. Now, you can easily add a work item link via recent-activity based suggestions and inline add. To add multiple work item links, you CANNOT do so by using comma sepa

[2018-06-18 17:49] willsmythe commented on #997
It looks like @Grandizer is somehow downloading the .vsix and then running it, which won't work since the VSIX installer is not used to install VSTS extensions. @Grandizer - after you click "Get it free", you should be presented with a list of VSTS accounts that you can install your extension into. Is this not happening for you?

[2018-06-18 17:55] AStoker commented on #955
This is an issue with bad UI causing confusion. The select dropdown for "Branch specification" does not hint to the user that you can type whatever you want in the drop down. This feature does exist however (Gif 1), with the exception documented below.

When you click on the dropdown, you get a list of branches, and a "Filter my branches" text input. Typing in the filter input narrows down your av

[2018-06-18 19:04] Grandizer commented on #997
After some attempts at getting it to work I wound up going the REST route for what I needed to do.  So no Extension needed at all.  Thank you for the response.

[2018-06-18 19:13] seangwright opened #1079 "Linking a work item to a git branch from the command line"
In the documentation here it is stated

`The recommended method is to drive development from the work item or add the work item ID when creating branches, commits (git), changesets (TFVC), pull requests (git). `

I know there is a convention for linking a work item to a commit using `#workItemId` in the commit message, but often a work item is not a single commit, but instead multiple commits (bas

[2018-06-18 21:56] iamperson347 commented on #998
We are using code search with on-prem TFS 2018 update 2. The account is a domain user account in an on-prem AD server.

Though the screenshot is of TFS 2017, please see step 3 of this link. https://docs.microsoft.com/en-us/vsts/project/search/administration?view=vsts#installing-or-updating-search-on-a-separate-server

You can see the option to see the service account as network service or a domain

[2018-06-18 23:56] alexmullans commented on #1020
I chatted with @elbatk about this - we'll make some updates to the NuGet in build docs page to more clearly reflect when you should use the .NET Core task vs the NuGet task. Also, @anangaur and team are working on making the original linked issue better.

[2018-06-19 08:54] wzk64657534 opened #1081 "Who has the full source code?"
Who has the full source code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5515c697-786f-e5d2-60fa-a62192c2e9c1
* Version Independent ID: 1fc22c8f-1b7b-32fa-0ec2-05e0b741103e
* Content: [Use the Grid Control](https://docs.microsoft.com/en-us/vsts/extend/develop/ui-controls/grido?view=vsts)
* Content Source: [docs/ext

[2018-06-19 10:10] rogatec opened #1082 "priority and who is working on it"
As you recommend at least two reviewers should be added to the branch policy.
We created a review-team with 3 members and the policy says that the team must accept the pull request.
Now, how can one of the reviewer from the team see, if another guy is already working on reviewing the pull request?
Is there an option to set a "flag" that the pull request is already "under review".

The second (ever

[2018-06-19 11:33] VerdonTrigance opened #1083 "PowerShell v2 Arguments"
I see in documentation Arguments there is Arguments parameter, but in version 2 no such parameter. How to pass -Verbose to PowerShell v.2 ?

[2018-06-19 11:41] fleed opened #1084 "Custom tasks"
Is it possible to use custom tasks (e.g.: cake, https://github.com/cake-build/cake-vso)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87686bea-7c46-cd47-d1a9-128e16b63a23
* Version Independent ID: ace78317-e562-e35d-781d-23cd7d2dfff2
* Content: [CI Build in code using YAML](https://docs.microsoft.com/en-us/vsts/pipel

[2018-06-19 13:30] remanation opened #1085 "Not supporting tables"
We are using TFS 2018 update 1 (16.122.27409.2). I seem that tables are not supported in .md files :-( If I add tables in my readme.md file it is not displayed when viewing the file. The same table snippet works fine for a PR comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
*

[2018-06-19 13:42] elbatk commented on #1018
@alexmullans hey, can we throw some examples inline here?

[2018-06-19 13:45] elbatk commented on #1024
@willsmythe pretty straightforward question here, I think. Mind helping me @dinye out?

[2018-06-19 13:48] elbatk commented on #1031
Yes, sorry @TallJeff I've been out of office but I'll get this updated!

[2018-06-19 13:52] elbatk commented on #908
Going to close this issue for now - creating new samples and better ramp-up documentation is on the backlog for writing extensions so hopefully that will address some documentation gaps found here.

[2018-06-19 13:52] #908 closed

[2018-06-19 14:06] tannermlx opened #1086 "Can this be put on the Zendesk marketplace so it is considered a public app?"
Right now since it is technically a private app you have to upgrade to the next plan with a price difference of $59 vs $25, seems a little ridiculous when it could be resolved by an upload.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1646acb-1bd0-d506-fe70-1b749cccbbc4
* Version Independent ID: 89aa9387-8ce6-9877-8

[2018-06-19 14:27] joshuapoq commented on #610
+1 We're checking this page every week... we would love a little more transparency here, and would have been great to sign up to some sort of newsletter to be told that you were planning on removing the feature in the first place.

[2018-06-19 14:37] sistoimenov opened #1087 "Broken link in the article"
In the article under section "Create a new pull request" - first bullet point has a link to "Create a pull request" which cannot be opened - it returns 403 status code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9a3fce3-aa8f-c5e5-5b10-da912f6941fc
* Version Independent ID: c36e9af9-cc20-c264-0525-2ca7e7d9ad8e
* Co

[2018-06-19 14:37] giwleb opened #1088 "Define "above" :)"
Stop and uninstall the service as explained above. - where is above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022dbf46-5ccf-ac17-f47a-7557b98bcbd6
* Version Independent ID: cfd090f9-4428-d4f9-224e-9e42805e08c0
* Content: [Remove and re-configure an agent](https://docs.microsoft.com/en-us/vsts/pipelines/agents/_sh

[2018-06-19 14:38] elbatk commented on #1033
Hi @SamGrantham , I plan fixing the dead link to point to the article you've linked to, in your second bit are you saying that article isn't in the context of the link here?

[2018-06-19 15:33] elbatk commented on #1058
Thanks for the feedback @SamGrantham , @aaronhallberg could you take a look at this and let me know if you want to spin something up for this?

[2018-06-19 15:46] elbatk commented on #876
Hi @nschonni , I know this was a while back, but it would seem that article no longer exists, so I'm updating  the text a bit and changing the link to this page about account delegation in AD: https://technet.microsoft.com/en-us/library/2007.02.activedirectory.aspx

[2018-06-19 15:46] #876 closed

[2018-06-19 16:13] elbatk commented on #875
Thanks again @nschonni, fixing most of these to point to the [Hyper-V documentation](https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/hyper-v-server-2016), couldn't find a link to the Hyper-V Server 2008 R2 oddities though.

[2018-06-19 16:13] #875 closed

[2018-06-19 16:16] elbatk commented on #967
Hi @Liran-Dobrish , I've reached out to the product team but our backlogs have been pretty busy lately, I'll update here as soon as I hear something! I just re-sent the question :)

[2018-06-19 16:24] alexmullans commented on #1018
Sure.

For byPrereleaseNumber, the version will be set to whatever you choose for major, minor, and patch, plus the date and time in the format yyyymmdd-hhmmss.

For byEnvVar, the version will be set as whatever environment variable e.g. $(MyVersion) you provide, so make sure the environment variable is set to a proper SemVer e.g. 1.2.3 or 1.2.3-beta1.

For byBuildNumber, the version will be set t

[2018-06-19 16:38] elbatk commented on #1018
Awesome, thanks Alex. I hope this helps, @StevenTCramer , I'm adding this to the documentation as well to help future inquirers :)

[2018-06-19 16:38] #1018 closed

[2018-06-19 16:40] StevenTCramer commented on #1018
Yes will save the next guy some time.  Thanks :)

[2018-06-19 17:15] elbatk commented on #1081
Hi @wzk64657534 , we do not have the full source for these samples, is there a specific question I can help you with?

[2018-06-19 17:49] chrisrpatterson commented on #1084
Yes just install them into the account and reference them as you would any other task.

[2018-06-19 20:56] steved0x commented on #1087
@sistoimenov Thanks for catching that, I just fixed it and it should be live in a day or two.

[2018-06-19 20:56] #1087 closed

[2018-06-19 20:58] steved0x commented on #1083
@VerdonTrigance Thank you for the feedback, can you let me know which article it goes with so I can pass it along to the right author for review? Thank you.

[2018-06-19 21:00] steved0x commented on #1079
@sgwatgit Let me see if I can find out, I personally associate my branches with work items by creating the branch from within the work item, so to me that means it must be possible, let me find out if/how we can do it from the command line.

[2018-06-19 21:05] steved0x commented on #1082
@rogatec Good questions, there is not a "built-in" way to set a PR as being under review, but you could use Pull Request labels to indicate you are starting a review, such as `In review by Steve`, and you could also indicate priorities in a pull request label. This is a relatively new feature and is documented here: [Help reviewers using pull request labels](https://docs.microsoft.com/en-us/vsts/g

[2018-06-19 22:53] TallJeff commented on #1031
Thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: elbatk <notifications@github.com>
Sent: Tuesday, June 19, 2018 3:25:06 PM
To: MicrosoftDocs/vsts-docs
Cc: TallJeff; Mention
Subject: Re: [MicrosoftDocs/vsts-docs] Needs Updated (#1031)

@TallJeff<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FTallJeff&data=02%7C01%7C%7C09

[2018-06-20 02:44] konrad-jamrozik opened #1091 "Unclear if this page applies to service endpoint extensions."
I am trying to validate OAuth token given by VSTS to my service-endpoint-based extension. I thought this page has the answer, but I believe I have been misled. Seems to me this page applies only to Web extensions: https://github.com/Microsoft/vss-web-extension-sdk

Furthermore, this table is confusing:
https://docs.microsoft.com/en-us/vsts/integrate/get-started/authentication/authentication-guidan

[2018-06-20 05:59] VerdonTrigance commented on #1083
Yes, of cause. But not now :) I just remember it was from VSTS powershell action tooltip link.

[2018-06-20 06:14] nschonni opened #1092 "Missing image /tfs/server/_img/add-administrator-tfs/people-and-groups.png"
The image with the alt text "Follow instructions for your version of SharePoint" doesn't resolve

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a6dbc38-c975-8045-8910-d87483e3446e
* Version Independent ID: d9c4ddff-7e03-6fc3-9f20-a2e281a1d6a1
* Content: [Set SharePoint permissions for TFS](https://docs.microsoft.com/e

[2018-06-20 06:42] nschonni opened #1095 "Dead link https://aka.ms/LinkVSSubscriptionToAADAccount"
Shortlink currently resolves to https://docs.microsoft.com/en-ca/vsts/tfs-server/team-services/link-msdn-subscription-to-organizational-account-vs?utm_source=ms&utm_medium=guide&utm_campaign=vstsdataimportguide
Maybe it should point to https://docs.microsoft.com/visualstudio/subscriptions/vs-alternate-identity?view=vsts

---
#### Document details

⚠ *Do not edit this section. It is required for do

[2018-06-20 06:50] nschonni opened #1096 "Dead link https://msdn.microsoft.com/library/dd547204%28v%3Dvs.140%29.aspx"
Currently resolves to https://docs.microsoft.com/en-ca/vsts/tfs-server/add-administrator-tfs#project-collection
Maybe should be updated to https://docs.microsoft.com/en-ca/vsts/organizations/security/set-project-collection-level-permissions

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b99618d-5812-0151-30b9-021c7c47

[2018-06-20 06:56] rogatec opened #1097 "Remove branch-policy"
Unfortunately in this documentation there is no part where we can delete a branch policy which was added by test purpose/accident.
My user account is in the Team Foundation-Administrators group, is in the default project administrator group and also I created the branch-policy.
I don't know how I can remove the protection of this branch. There is a documentation which I've found [Remove Check-In P

[2018-06-20 06:57] rogatec commented on #1082
@steved0x Thanks for your reply and sorry for the dumb question, but where is the label section in the pull request? ;) - when creating a pull request I don't see this option which is shown on the documentation screen [Add pull request label](https://docs.microsoft.com/en-us/vsts/git/_img/pull-requests/add-pull-request-label.png?view=vsts)

[2018-06-20 07:33] Shankarkl opened #1102 "Microsoft test mangaer"
[Enter feedback here]
Not  able to play back the recorded actions ,overwritting existing actions pop up is not been displayed
It was working fine before but when i updated mtm 2015 to mtm 2017 above issue is occuring

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc84c9a-f2a6-5919-f709-17572bc3bad4
* Version Independe

[2018-06-20 10:43] alibengtsson commented on #558
any updates on the solution file ? @mlearned

[2018-06-20 11:53] alexhomer1 commented on #1102
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-20 12:03] alexhomer1 commented on #1096
Thank you for your feedback. I will update the link in the topic.

[2018-06-20 12:03] #1096 closed

[2018-06-20 12:11] ardumez commented on #1053
Hello,
Thanks for your reply.
I have make an example with Kanban Board and Git Branch Strategy

![image](https://user-images.githubusercontent.com/9568904/41657354-72caa706-7493-11e8-985e-508a9bcfa847.png)

-----
![image](https://user-images.githubusercontent.com/9568904/41657372-804cc1d4-7493-11e8-9dd8-8354f200db37.png)

-----

![image](https://user-images.githubusercontent.com/9568904/41657394-9

[2018-06-20 12:20] sidashah opened #1106 "Mistake in "Additional scheduling fields (Agile, CMMI)""
Missing closing &lt;/HELPTEXT&gt;
This after:
&lt;FIELD name="Completed Work" refname="Microsoft.VSTS.Scheduling.CompletedWork" type="Double" reportable="measure" formula="sum"&gt;
   &lt;HELPTEXT&gt;
       The work that has been completed for this task (in person hours)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-20 13:04] ravneetDevops opened #1107 "Validate identities failed"
I am getting error while TFSMigrator.
[Info   @16:47:04.299] Validating service identities
[Error  @16:47:05.120] Microsoft.TeamFoundation.Framework.Server.ActionDeniedBySubscriberException: Exception of type 'Microsoft.TeamFoundation.Framework.Server.ActionDeniedBySubscriberException' was thrown.
please help
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-06-20 13:13] ravneetDevops opened #1108 "Validating service identities during TfsMigrator validate"
I am encountering below error while running TfsMigrator validate. Can you please help with the resolution?
[Error  @16:47:05.120] Microsoft.TeamFoundation.Framework.Server.ActionDeniedBySubscriberException: Exception of type 'Microsoft.TeamFoundation.Framework.Server.ActionDeniedBySubscriberException' was thrown.
                          at Microsoft.TeamFoundation.Framework.Server.TeamFoundation

[2018-06-20 13:35] mlearned commented on #731
@Soarc its from step 13 (per the article) when you enable the option, you get the guid as part of the URL.  Does the below make sense?

![image](https://user-images.githubusercontent.com/17324782/41661631-c2b9bc40-7464-11e8-938d-f4acbf981291.png)

![image](https://user-images.githubusercontent.com/17324782/41661503-89c33cae-7464-11e8-990a-bb4ae3a2788e.png)

[2018-06-20 13:45] mlearned commented on #653
@Advanium can you provide some additional details on this one? I assume you are referring to executing a build that runs for multiple configurations (thus producing multiple sets of outputs), is that correct?  And you are looking to understand the process for publishing all artifacts from all configs there, do I have it correct?

[2018-06-20 13:50] mlearned commented on #354
@pjshah70 you control at the task level if you want to continue on error, and yes you get logging as part of this.  Does this make sense?
![image](https://user-images.githubusercontent.com/17324782/41662479-de375656-7466-11e8-84fd-7770416a560c.png)

[2018-06-20 13:56] mlearned commented on #524
@guylevy yes VS with SSDT tools will be required on agent side.

[2018-06-20 14:03] mlearned commented on #556
@padmick sorry I missed the reply here, can you elaborate on what you mean by "secure file?" .. I'm assuming you mean you have some secrets inside a file that you want to permanently purge out that file in version control correct? Are you using Git or TFVC with VSTS?  The problem here will be history and you'll need to purge it.  See this article here https://help.github.com/articles/removing-sens

[2018-06-20 14:03] #556 closed

[2018-06-20 14:16] alexhomer1 commented on #446
A new version of the more general Azure Service Fabric task is currently being developed that will incorporate a wide range of functions.

[2018-06-20 14:16] #446 closed

[2018-06-20 14:40] andyjlewis commented on #1088
Thank your for the heads up. This piece of content is not meant to be viewed independently. We're working on trying to get it removed from the site. Meanwhile, see either https://docs.microsoft.com/en-us/vsts/pipelines/agents/v2-osx or https://docs.microsoft.com/en-us/vsts/pipelines/agents/v2-linux

[2018-06-20 14:40] #1088 closed

[2018-06-20 14:57] AStoker opened #1109 "Tags vs. Release Branches"
I'm curious as to why release branches are used as opposed to tags? I would imagine making a tag on the master branch to represent a releasable state would result in less overhead than creating an entire branch for a release (that's what tags are meant for). And in the case where you need a hotfix, but you don't have everything in master ready to release (which shouldn't be a frequent case based o

[2018-06-20 15:51] andyjlewis commented on #1050
Yes, you can run YAML builds on private agents.

[2018-06-20 15:51] #1050 closed

[2018-06-20 16:20] harishkragarwal commented on #1102
Hi @Shankarkl, sorry to hear this. Do reach us at devops_tools@microsoft.com and share snapshots/short video in the process so that we can investigate this.
Once resolved, the resolution can be posted here for everyone else's benefit. Thanks.

[2018-06-20 16:42] ianceicys opened #1110 "TFS (on prem) Support for Enterprise Github?"
Is there any documentation for setting up TFS (on prem) to work with Github enterprise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-18f4-e94a4e2fe2c9
* Content: [Define a CI build process for your GitHub repository](https://docs.micros

[2018-06-20 16:45] donfouts opened #1111 "missing permission"
in these steps - Merge Branch is missing from the access control summary, so step 3 is not an option.
is this list of permissions in the summary variable? if so how do i add / remove them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f5ce059-ec92-5413-0910-4e28033db034
* Version Independent ID: 540610d3-6073-664d-97

[2018-06-20 16:53] tlemke11 opened #1112 "File Transform and Variable substitutions not available for IIS Web App Deploy task"
The WinRM - IIS Web App Deploy task (https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppDeploy/README_IISAppDeploy.md)
does not have anywhere where it shows "File Transform and Variable Substitution Options" section. With the same project, the "Azure App Service Deploy task" does show these options.

---
#### Document Details

⚠ *Do not edit t

[2018-06-20 17:13] andyjlewis commented on #922
Yes, the roadmap is here: https://docs.microsoft.com/en-us/vsts/release-notes/

[2018-06-20 18:17] nschonni opened #1114 "Broken include docs/_shared/qa-vsts-sla.md"
Was searching for something and noticed this was broken from the search results.
- Heading is stuck to text
- The link is partially formed

I would have PR'd but even fixing the link to add back the starting text https://www.microsoft.com/en-us/support/legal/sla/visual-studio-team-services/v1_2 is still a dead link

[2018-06-20 20:58] SamGrantham opened #1115 "Deprication information is incorrect."
Hi,
Rather than add another place this must be maintained can you please refer to https://docs.microsoft.com/en-us/vsts/report/powerbi/connect-vso-pbi-vs?view=vsts, this product is fully UNSUPPORTED at this point and any page that says otherwise is a Customer Satisfaction issue waiting to happen.

Thank you,
Sam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-20 21:22] konrad-jamrozik opened #1116 "Clarify this is about agent-based extensions and add link to the doc on authoring server-based extensions."
Namely, to this doc:
https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/servertaskauthoring.md

I was misled by this documentation. After hours of searching, I ended up asking question on internal MS StackOverflow. The answer pointed me to the doc mentioned above:
https://stackoverflow.microsoft.com/questions/102928/is-vsts-service-bus-endpoint-extension-posting-directly-to-service

[2018-06-20 21:44] MeltdownZA commented on #576
This is out of date, there is not 'Configure Continuous Delivery' option in Azure when selecting a Web App.

[2018-06-20 21:44] MeltdownZA opened #1117 "Out of date"
This is out of date, there is no 'Configure Continuous Delivery' option in Azure when selecting a Web App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e617bc-bf8d-0348-5fd4-7b040e4d2ff3
* Version Independent ID: ded5c7ec-feee-b573-ffbf-c972d25135bb
* Content: [Deploy your app to an Azure web app](https://docs.micr

[2018-06-21 03:38] norman-v opened #1120 "Available icons"
Where can I get info on available icons? It would be great if it was mentioned here as it is used here a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 766b8f6f-72a2-76a8-40cf-a81affd7250e
* Version Independent ID: abdbb5f7-1fe8-ab84-f275-2d8abf36418c
* Content: [Use the Menubar Control](https://docs.microsoft.com

[2018-06-21 03:53] kmunusam commented on #981
Any update..?

[2018-06-21 06:00] Soarc commented on #731
I'm using [YAML builds](https://docs.microsoft.com/en-us/vsts/pipelines/build/yaml?view=vsts) , so that steps does not apply to me. For yaml builds there is no options menu, as described in step 13.

![image](https://user-images.githubusercontent.com/3385495/41700535-ae408ac0-7539-11e8-9e0e-d55c106e31c1.png)
 Is there any other way to get build definition Id?

[2018-06-21 07:47] alexhomer1 commented on #1117
Thank you for your feedback. The previous Continuous Deployment feature was a preview and has now been updated to a new experience called Deployment Center, which offers extended functionality. We are currently working on an updated topic for this.

[2018-06-21 07:47] #1117 closed

[2018-06-21 07:49] alexhomer1 commented on #1112
Thank you for your feedback. Some of the extension tasks (as opposed to the built-in tasks) have different sets of parameters due to their specialist nature. However, I have passed your feedback on to the product team for comment.

[2018-06-21 09:01] Doomblaster opened #1121 "Pass secret argument"
Is it in any way possible to pass a secret from a library to a deploy service fabric application task? From what I read you need to pass secrets as an argument to a task, but I can't really see any way to do this in that task. Currently I'm trying to override ApplicationParameters/Cloud.xml with a secret variable, but only seems to work when the parameter is plain text.

---
#### Document Details

[2018-06-21 09:53] alexhomer1 commented on #1121
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-21 09:55] syedhassanabbas opened #1122 "Is it available for on prem tfs 2017?"
documentation state its applicable for "VSTS | TFS 2018 | TFS 2017 | TFS 2015 | TFS 2013" I have TFS 2017  with Update 3. when I hit my TFS base URL post fixed with _admin/_users or _users is gives 404/Not found. Is it only available for VSTS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 361c08ef-48be-de59-d223-595ca

[2018-06-21 12:01] willsmythe commented on #913
@chrisrpatterson - can you help on this?

[2018-06-21 12:22] pulkitaggarwl commented on #1121
To make sure we are on same page,couple of clarifying questions

- are you using "Override application parameters" check box in Service Fabric Application deployment task ?
- If yes, is the issue that the parameters are getting replaced variables are plain text but  not when we mark them as secret ?

![image](https://user-images.githubusercontent.com/36596168/41718725-74552702-757b-11e8-9f64-47a44

[2018-06-21 12:56] sandeepchads commented on #946
Hi,

We have this on our backlog but I dont have an ETA on this yet. You can upvote the user voice so that you can get updates on when we implement this feature:
https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/20285818-service-hooks-to-support-new-wiki

Thanks
Sandeep Chadda

[2018-06-21 12:57] nschonni opened #1123 "Migrate TFS Release notes from Visual Studio docs to here"
Right now they live with the Visual Studio release notes like https://docs.microsoft.com/en-us/visualstudio/releasenotes/tfs2017-update2 although not in the actual visualstudio-docs repo.

It seems like every time I need to find these pages it takes quite awhile since it's not found in any site navigation and the vsts-docs repo might be a better home.

[2018-06-21 12:58] Doomblaster commented on #1121
That is correct. Only plain text variables seem to be replaced.

[2018-06-21 14:29] #1106 closed

[2018-06-21 14:30] elbatk commented on #981
Hi @kmunusam , sorry I've been out of the office. This question is more suitable for the product team, you can post it here in the [VSTS Developer Community page](https://developercommunity.visualstudio.com/spaces/21/index.html). Sorry I can't help more, but they should be able to answer it there!

[2018-06-21 14:30] #981 closed

[2018-06-21 14:58] mlearned commented on #1110
you can set up the service connection like via this blog https://blogs.msdn.microsoft.com/mihansen/2018/05/05/team-foundation-server-and-github-enterprise-in-azure/  @ianceicys

[2018-06-21 14:59] steved0x commented on #1082
@rogatec My apologies, I saw that you were on TFS 2017 Update 3 but neglected to verify that when I was looking up Pull Request Labels - the Pull Request Labels were added in [TFS 2018 Update 2](https://docs.microsoft.com/en-us/visualstudio/releasenotes/tfs2018-update2#help-reviewers-using-pull-request-labels).

I guess an alternative would be to update the PR title for one you are reviewing and p

[2018-06-21 15:13] steved0x commented on #1083
@elbatk Elijah can you help with this one?

[2018-06-21 15:18] elbatk commented on #1095
Thanks @nschonni , I've reached out to the owner of the migration documentation!

[2018-06-21 15:21] steved0x commented on #1097
@rogatec You should be able to follow the steps in that article for configuring branch policies for your desired branch, and uncheck all the boxes and then save the policy, which should effectively clear it. Which branch policy or policies do you have enabled for that branch that you want to clear?

The link you gave was for TFVC which has its own types of permissions and protections but not the s

[2018-06-21 15:22] steved0x commented on #1108
Note, possibly related to https://github.com/MicrosoftDocs/vsts-docs/issues/1107

[2018-06-21 15:22] mferris2421 opened #1125 "Import from VSTS to VSTS"
The documentation suggests that we can import a VSTS repo. Currently I am trying to import from the same account to a different project.

Is this possible?

Currently i am getting the following error:

**Import request cannot be processed due to one of the following reasons:
Clone URL is incorrect.
 Clone URL requires authorization.
Clone URL points to an empty repository.**

[2018-06-21 15:23] steved0x commented on #1107
Note, possibly related to https://github.com/MicrosoftDocs/vsts-docs/issues/1108

[2018-06-21 15:50] steved0x commented on #1125
@mferris2421 You should be able to do that - but it requires authorization, and you can put in your username and personal access token that allow you to access the repo to be imported. Are you importing into VSTS or are you using TFS? (Well you say same account but different project so it is all on VSTS?)

As a quick check, can you clone the repo to be imported to a new location using the same cre

[2018-06-21 15:52] steved0x commented on #1123
@nschonni That seems like a better place, I will pass this along, I don't use those pages very often (unless I am providing a link to a question asking when feature XYZ was added) and then I always just Bing "TFS Release notes".

[2018-06-21 16:00] steved0x commented on #1114
@nschonni The correct location is here:

https://azure.microsoft.com/support/legal/sla/visual-studio-team-services/v1_2/

I fixed it and it should be live today or tomorrow. Thank you!

[2018-06-21 16:00] #1114 closed

[2018-06-21 16:01] mferris2421 commented on #1125
I'm running it from my work laptop. I can clone the repo. I tried with my credentaisl, and I tried to create a PAT with all permissions and I still received that same error.

Same account, same subscription, different team projects.

I ended up doing it manually with git commands.

[2018-06-21 16:37] elbatk commented on #1083
Are you trying to do it via a powershell script or from the command line? This may be a better question in the [VSTS tasks GitHub repo ](https://github.com/Microsoft/vsts-tasks). Is this issue related? https://github.com/Microsoft/vsts-tasks/issues/3245

If you could point me to the documentation that you found on this issue we could route it better for ya.

[2018-06-21 17:56] VerdonTrigance commented on #1083
@elbatk No, I mean documentation https://docs.microsoft.com/en-us/vsts/pipelines/tasks/utility/powershell?view=vsts is talking about "Arguments" argument, but in version 2 there is no such argument actually.
![image](https://user-images.githubusercontent.com/12109173/41736519-6febdc46-7595-11e8-82b2-b4f21f952ec0.png)

[2018-06-21 17:58] elbatk commented on #1083
Looping in @andyjlewis and @chrisrpatterson

[2018-06-21 20:52] Iloer opened #1126 "click on the pie segment"
Good afternoon!
It would not be bad, after clicking on the segment of the diagram, not to go over the entire query, but apply the filter to the selected segment.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: dcb11d2d-86bd-ff52-d191-4da86d54b473
* Version Independent ID: 79438e17-b3d3

[2018-06-22 00:51] Allann opened #1128 "Don't see the Change link on the account page"
The Account Setting page does not appear as shown above in the documentation, and the Account owner field is just a straight textbox with a clear button.  Change owner instructions should be changed to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5939e96c-d796-e1a7-8440-7c4f932d4eb0
* Version Independen

[2018-06-22 01:08] sadjadbp commented on #1108
You should take look at TfsMigrator logs as mentioned here

https://docs.microsoft.com/en-us/vsts/articles/migration-import?view=vsts

are you at validation phase or migration, probably contacting VSTS CSS/support would be best case so we can get all the data we need.

[2018-06-22 04:58] dggsax commented on #541
Why have the dead links not been fixed yet?

[2018-06-22 07:59] ShreyasRmsft commented on #977
Does the SSDT installation install vstest.console.exe on the machine? Can you check under the installation path whether this file exists and share the path if it does?

Also are you installing SSDT via the standalone installer or as a workflow in the VS installer?

[2018-06-22 08:13] nk111 commented on #977
@ShreyasRmsft i did install SSDT via standalone installer. One possible reason could be that i had to install SSDT into a new subfolder under the existing "Visual Studio \ 2017" path. When i tried using the existing path (C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools) created by the agent the installation exited with an error. So SSDT was installed to "C:\Program Files (x86)\Micro

[2018-06-22 11:15] kaadhina commented on #977
@nk111 The VSTest task does not support running tests via an SSDT installation. You can instead use the Visual Studio Test Platform Installer task to get the requirements onto the agent and use it to run tests using VSTest task.
https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts has instructions about how to use this.

[2018-06-22 12:07] nk111 commented on #977
@kaadhina unfortunately this task is not available for TFS2018 only for TFS2018.2 (which is not installed on our production system yet).

[2018-06-22 12:18] asadabbas88 opened #1129 "Run build first and the status policy"
Is there a way to run build first completely and then the status check policy .. Currently it runs the status check policy because its faster .. due to which the results are not correct as after build is completed status might be changed in my case ..

So can any one help in it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-22 12:53] roofers commented on #903
Hi @cbailiss - I'm sorry for the issue that you've run into. The parameter /tenantdomainname should be optional for validate, but that regressed with our latest release to become required. We have a fix in place and are working on getting that fix released ASAP. TfsMigrator will notify you when you run a command if a newer version of the tool is available.

[2018-06-22 12:57] roofers commented on #1095
Hi @nschonni - Can you try the link again? It's been updated to point to the correct location.

[2018-06-22 12:58] roofers commented on #1107
Hi @ravneetDevops - Can you email a copy of your full TfsMigrator.log to vstsdataimport@microsoft.com? We can take a look and help you out there.

[2018-06-22 13:15] ravneetDevops commented on #1107
Hi roofers, - I was able to resolve the issue by detaching the TFS collection and attaching it before running the TFSMigrator /validate. Thank you

[2018-06-22 13:21] mmitrik commented on #1082
@rogatec The suggestions that @steved0x made are the best options we have right now.

The feature you've suggested (a flag to indicate "in review") is something we've heard before, but it isn't currently a priority fo us.  I'd encourage you to [file a suggestion on our UserVoice site](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/) to help us gauge the interest from

[2018-06-22 13:40] alpacamybags118 opened #1130 "Run Phase if Specific Previous Phase Failed"
Is there a way to specific to run a phase only if a *specific* previous phase failed?

For example, I want to trigger an Agentless Phase with a manual intervention only if a specific previous Agent Phase that has my Integration Test job fails, and not if any other phase fails.

I looked around in the documentation and didn't see anything that allowed you to specify a specific phase. Any help would

[2018-06-22 13:43] nschonni commented on #1095
@roofers it appears to be pointing to the general Billing topic rather that one about linking the alternate credentials. https://docs.microsoft.com/visualstudio/subscriptions/vs-alternate-identity?view=vsts still seems closer to the name, but I'm not sure what the original article it pointed to was

[2018-06-22 14:08] sylvaingirardbe opened #1131 "Unable to change account owner"
I'm unable to change the account owner of my VSTS account. There is no link that says 'Change'. I'm logged in as the current account owner. The UI also doesn't look like the one pictured in the screenshots. I'm most likely looking at a newer version or something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0be4f37-

[2018-06-22 14:19] asadabbas88 commented on #1129
any one here?

[2018-06-22 14:45] alexhomer1 commented on #1130
If you are using the UI you can enter a conditional expression (https://docs.microsoft.com/vsts/pipelines/process/conditions?view=vsts) for the "Run this phase" setting of a phase in the "Tasks" tab (select the phase and scroll to the bottom of the properties panel under "Additional options"). If you are using YAML, see https://docs.microsoft.com/vsts/pipelines/process/multiple-phases?view=vsts&ta

[2018-06-22 14:45] #1130 closed

[2018-06-22 15:03] mmitrik commented on #1129
@asadabbas88 What build system are you using?  If you're using VSTS build, you shouldn't need to do status checks at all - there is a built-in build policy you should use instead.  Check out this doc for details: https://docs.microsoft.com/en-us/vsts/git/branch-policies?view=vsts#build-validation

[2018-06-22 15:05] asadabbas88 commented on #1129
@mmitrik thanks for the response .. yes it posts the status but issue is my build succeeds .. sonar doesn't break the build .. It doesn't break the build on quality gate failure

[2018-06-22 15:36] steved0x commented on #1126
@Iloer Thank you for your feedback. The issues in this repo are intended for documentation feedback, and it sounds like your feedback is a product feature request. You can file this feature request at the following link, and it will go directly to the product team.

https://developercommunity.visualstudio.com/spaces/21/index.html

I am assigning this feedback to the author of that article in case

[2018-06-22 16:05] alpacamybags118 commented on #1130
Thanks @alexhomer1 . I did see the custom conditional expression, but I guess what I was getting at was I don't see any conditions that refer to getting the status of a specific phase in a release. The documentation listed there seems to mostly refer to build steps or branches. I might be missing something, though.

[2018-06-22 16:57] JJones-IAI opened #1132 "grammatical errors"
Your document contains some grammar errors and typos that should be corrected.  For example, early in the third sentence, the word "is"  should be "as"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e18eead-7795-0752-93b0-e07f6d088089
* Version Independent ID: f637de69-b13c-eed8-ab05-3515106c9270
* Content: [What is G

[2018-06-22 17:05] spottedmahn commented on #2
Looks like this is live now!!

![image](https://user-images.githubusercontent.com/14079228/41789332-ef5df4be-761c-11e8-887d-039efd798e79.png)

[2018-06-22 17:05] #2 closed

[2018-06-22 17:21] roofers commented on #1095
@nschonni - I've fixed the link to point to the correct location. Thanks for pointing it out.

[2018-06-22 17:34] smoore4moma opened #1133 "Why is Web.config not part of .gitignore"
Why is Web.config not part of .gitignore (Web.Debug.config and Web.Release.config too)?  I know that it is key to the build process but it seems too easy for people to put connection strings and sensitive app settings on GitHub by accident.  It should be excluded by default IMO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-22 18:46] Rabadash8820 commented on #381
I agree this would be a very useful feature.

@alexhomer1  I'm disappointed to see GitHub Issues turning into a customer support forum.  You shouldn't be "passing questions to the product team", the product team should be looking at these issues directly.  And you can't just close an Issue by saying "this is not supported at the moment" because by definition that means that the Issue is not closed

[2018-06-22 20:53] jeyoung opened #1135 "At what point are notifications of code review comments sent?"
The documentation is not clear about the trigger for notifications to be sent out to the PR creator when reviewers post comments? Is it at the time a comment is added? Or, when an action is chosen for the PR (Approve, Reject, etc.)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* V

[2018-06-22 22:05] sharatsc opened #1136 "python-sample is empty?"
https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/get-started-yaml.md references a yaml file within https://github.com/adventworks/python-sample , However, the repo looks empty.

[2018-06-23 02:41] chcomley commented on #1128
@Allann Thanks for letting us know. I've created a work item for this update, thank you.

[2018-06-23 02:41] #1128 closed

[2018-06-23 03:13] chcomley commented on #1131
@sylvaingirardbe thanks for letting us know. I have created a work item to track this update. If you are still having difficulties, please send me an email with screen shots and I'd be happy to help. chcomley@Microsoft.com

[2018-06-23 03:13] #1131 closed

[2018-06-23 08:40] Mahek1331 opened #1138 "How to Create Artifacts for Console Application Solution"
Hi ,

I am facing an Issue , I am trying to create a build definition for my console application (which is used for deploy webjob- we are doing it manually since log , solution not upgraded to VS Webjob). I Could not able to create Artifacts for the same solution . Could you please help me on this .

Please let me know if you need any other Information .

Regards
Mahek

[2018-06-23 13:10] asadabbas88 commented on #1129
@mmitrik did you get my point?

[2018-06-23 16:37] TJH-AIZ opened #1139 "No partial match search?"
I deleted a local branch yesterday, and Git-VS deleted the tracked remote branch along with it.  (Not what I intended.)

I deleted the local branch because my codebase got corrupted and I was unable to return the solution to the LKG state.  So I also deleted the local cloned repository so that I could just re-clone the project.  (At this time I was unaware that VS had also deleted the remote branc

[2018-06-24 07:39] mostafa8026 opened #1140 "take a look at 'Team Explorer navigational shortcuts'"
something went wrong in section 'Team Explorer navigational shortcuts'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2fe0af-744d-e535-b300-8d1060945db6
* Version Independent ID: 10892c8d-ff0b-3072-46bd-cad31923c240
* Content: [Web portal& Team Explorer keyboard shortcuts - VSTS & TFS](https://docs.microsoft.com/en-

[2018-06-24 08:13] sashmen5 opened #1141 "VSTS extension`s key (certificate)"
Hello!
I am developing VSTS extension.
I ran into a problem automatic fetching my extension’s key.

This guide:
https://docs.microsoft.com/en-us/vsts/extend/develop/auth?view=vsts#get-your-extensions-key
explains how to get key from UI.
After every update of extension this key updating too.
How can I get new generated key from some code or api (without using UI)?

Thanks a lot.

[2018-06-24 17:08] alizahid opened #1142 "Variable group override precedence"
Hey,

Say I have multiple environments and a variable group for each environment. But a lot of the variables are same for most of them. So I create a common group and now each environment has the groups common and their own.

If I were override a value that's defined in the common group in one of the other groups, will it work? What gets the precedence?

Thanks!

---
#### Document Details

⚠ *Do n

[2018-06-24 21:24] bl4cky opened #1143 "Mstest-v2 - dont make it worse as it is :)"
I think the following is outdated and should therefore be removed from the page (at least wiht mstest v2 it is possible)

"NOTE: At present you cannot use this procedure to associate MSTest V2 tests or tests written in NUnit and XUnit. Adding this capability is planned for a future release."

Cheers :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-06-25 02:59] asadabbas88 opened #1144 "Can we do this for build completed event?"
Its a question rather than an issue .. Can we get service hook to post status on build complete event just like it's done for pull request completed? So that after pull request is created .. it should also complete build and once build is completed then its should apply status policy using service hook..

Let me know if there is a better place to ask this

Thanks

[2018-06-25 03:18] chrisrpatterson commented on #913
Get ride of the JasonTokenizer in the hierarchy and explicitly list each version.  Also I am not sure off the top of my head if multi-version is supported in 2017.1

[2018-06-25 08:47] bogdanbanciu commented on #747
@alexmullans We also have issues where we can not restore private packages on our build server, please help

[2018-06-25 12:29] alexhomer1 commented on #1142
Thank you for your feedback. As noted in previous feedback, the order of precedence for variables where names collide is "Release scoped variable group" < "Release scoped process variable" < "Environment scoped variable group" < "Environment scoped process variable" < "Variable updated by one of the previous tasks in the phase"

[2018-06-25 12:30] #1142 closed

[2018-06-25 12:30] ramandeep-singh-1983 commented on #381
+1 to the above, this should be kept open.

[2018-06-25 12:31] sergej-reiser opened #1145 "Agent behind a Proxy"
When using an Agent behind a corporate proxy, I have to explicitly set the proxy configuration inside the vsts gradle task definition, by adding parameter options like this:
`gradlew -Dhttp.proxyHost=proxy.mycompany.com -Dhttp.proxyPort=3128 myTask`

This of course leads to build failures, when switching to other non-proxy agents.

According to the [VSTS How-To-Guides](https://docs.microsoft.com/e

[2018-06-25 12:49] savyk commented on #1078
I already miss adding multiple items at the same time via comma separated IDs.  Many times I am working with batches of data which are much faster to input all at once instead of waiting for the new search API to find each one individually and allow it to link.  Also, I see that the query function is no longer working.  Again, with batches of data, I use the query to generate results once and then

[2018-06-25 13:30] alexhomer1 commented on #381
I don't know of a date for the feature to be introduced, or even whether it is planned. As mentioned in the documentation, there is a specific site for feature requests and development progress: https://visualstudio.uservoice.com/forums/330519-team-services. Please post your requests there for consideration by the product team as part of future development. Thank you!

[2018-06-25 13:47] steved0x commented on #1138
@Mahek1331 The GitHub issues in this repository are intended for documentation feedback. Can you let me know which article your feedback goes with, so I can forward your comments to the right author? Thank you.

[2018-06-25 13:50] steved0x commented on #1144
@asadabbas88 Thank you for feedback. The issues in this GitHub repo are for documentation feedback - your comments sound like a product request, and you can file that [here](https://developercommunity.visualstudio.com/spaces/21/index.html). You can also search to see if someone else has the same suggestion and you can upvote it, if they have. Thank you for your feedback.

[2018-06-25 13:50] #1144 closed

[2018-06-25 14:03] alexhomer1 commented on #1143
Thank you for your feedback. I will pass this on to the product team for confirmation and update the topic based on their response.

[2018-06-25 14:03] #1143 closed

[2018-06-25 15:07] elbatk commented on #1091
Adding @chrisrpatterson for some guidance here, mind giving this a look, Chris?

[2018-06-25 15:09] steved0x commented on #1139
@TJH-AIZ Sorry that you ran into trouble - I'm going to see if I can find any hot tips that will help you restore your work. I will reply back here as soon as I have some more information.

`This searching for deleted branches process should support partial match searching.` - that sounds like a good feature request that would be helpful in your scenario - you can file a product request [here](htt

[2018-06-25 15:09] yury-stepanov opened #1146 "Possibility to create new fields from extension."
Hello, it would be nice to have possibility to extend work items with custom fields from extension.
Any plans on bringing this functionality?
Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a26044c-d3bf-05fc-6901-17bd1d6b0b68
* Version Independent ID: 546b2780-9b7d-0b46-1696-6edb8608dc18
* Content: [TFS/Work/Re

[2018-06-25 15:12] elbatk commented on #1146
Hi @yury-stepanov , you can extend the work item form now. Check out this doc: https://docs.microsoft.com/en-us/vsts/extend/develop/add-workitem-extension?view=vsts

Also some of our [samples](https://docs.microsoft.com/en-us/vsts/extend/develop/samples-overview?view=vsts) mess around with the work item form as well. Are these not quite what you're looking for? Let me know!

[2018-06-25 15:22] steved0x commented on #1135
@jeyoung There are different notifications for when someone votes on a PR, and when someone comments on a PR. Depending on which subscriptions to notifications you have, you may not get notifications for all events. See [View your subscriptions, op out as needed](https://docs.microsoft.com/en-us/vsts/notifications/unsubscribe-default-notification?view=vsts) to see how to check your subscriptions a

[2018-06-25 15:59] JayCeeK opened #1147 "Items supported with TFS 2015"
Also the whole way of configuring branch policies is different in TFS 2015. Only some things described here are valid for TFS 2015, I'd suggest a separation of the documentation here or an exact description of applicable versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Ver

[2018-06-25 16:00] KathrynEE commented on #1140
@mostafa8026 - Thank you for your feedback. I'm working on fixing the format and it should be fixed later today.

[2018-06-25 16:00] #1140 closed

[2018-06-25 16:35] steved0x commented on #1139
@TJH-AIZ I have a couple of things to try:

* You can try `git reflog` locally to see if you can find your commit and restore the branch locally.
* If you have the work item number, and the work item was linked to the branch (you don't say if it was), then you can look at the history for that work item and get it that way. (I personally name my branches after the work item number too, and I usuall

[2018-06-25 16:36] elbatk commented on #972
hi @jholovacs , I know this is a while ago, but what part told you to use anything but v3? I could change that if it's incorrect :)

[2018-06-25 16:54] #1126 closed

[2018-06-25 16:59] KathrynEE commented on #1122
@syedhassanabbas - Thank you for your inquiry. Please use the version selector in the upper left corner of the page to see the content that addresses your TFS version. The **Users** tab isn't a supported feature for TFS.
![image](https://user-images.githubusercontent.com/10856840/41864311-5a7995d0-785e-11e8-9660-49a3374e7346.png)

[2018-06-25 16:59] #1122 closed

[2018-06-25 18:02] KathrynEE commented on #1115
@SamGrantham - Thanks for the reminder. I'm removing the files and adding redirects as needed. Updates should be live later today.

[2018-06-25 18:02] #1115 closed

[2018-06-25 18:07] KathrynEE commented on #1092
@nschonni - Thank you for the feedback. I'm correcting this now and the fix should be live later today.

[2018-06-25 18:07] #1092 closed

[2018-06-25 18:20] KathrynEE commented on #1085
@remanation - Thank you for your feedback.  I believe that tables should be supported in README.md files for TFS 2018. If you're having problems with this feature, please reach out to https://developercommunity.visualstudio.com/spaces/21/index.html.

[2018-06-25 18:20] #1085 closed

[2018-06-25 18:32] Advanium commented on #653
@mlearned Yes, I was wondering if there is any guidance on multi-configuration builds using f.e. the BuildConfiguration and BuildPlatform modifiers. I especially like to have more insights on how to configure the steps involved in supporting multi-configuration builds: how to configure output directories, debug symbol packaging and artifact publishing.

I found it hard to grasp how to set up the f

[2018-06-25 18:34] elbatk commented on #1116
Ah, sorry for the time we wasted for ya. Thanks for this contribution suggestion and I've added a blurb saying this article covers agent tasks and agent-based extensions and a link to the server task doc @konrad-jamrozik . It should go live by end of day!

[2018-06-25 18:34] #1116 closed

[2018-06-25 18:36] elbatk commented on #1091
Thanks so much for this info @konrad-jamrozik , I'm gonna get the thumbs up from the product teams for both web extensions and build/release tasks and then add this guidance to the docs if all is good

[2018-06-25 18:38] ozyx commented on #760
Hi,

I'd like to second the request for more extensive WIQL documentation as it pertains to TFS. In our case, we are using TFS 2015, and I am trying to query a list of a certain type of WorkItemLink ("Defect"). I found some examples online which seem to be working, but I'm really just missing a main hub which tells me what I'm allowed to query for in TFS.

For example, I'd like to know the differe

[2018-06-25 18:39] elbatk commented on #1107
Looks like we got this one sorted out, going to go ahead and close the issue, let us know if you have any other issues @ravneetDevops . Thank you @roofers.

[2018-06-25 18:39] #1107 closed

[2018-06-25 19:46] cjmather opened #1148 "please support headless install"
These instructions are for deploying a self-hosted Linux agent.  Microsoft probably would like these agents to run on Azure VM's.  Azure Linux VM's do not support the Linux GUI and must be accessed headless.  But your instructions assume the user is running a browser from the agent VM.  Please support headless install of the agent and add appropriate instructions.  I.e., wget and yum/apt install l

[2018-06-25 19:53] lifesoccult opened #1149 "Provide a YAML example for use of the App Center Test task"
It would be great to provide working examples of this YAML inline with its definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad0bff55-744d-06c4-d6da-595e6d5d6e94
* Version Independent ID: 4fc5c777-ec33-38fd-0c56-6c6038e9ac40
* Content: [App Center Test](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/tes

[2018-06-25 20:04] KathrynEE commented on #1062
@erptechnician - Thank you for your feedback. I've reached out to the product team for guidelines which I'll publish once I receive them.

[2018-06-25 20:04] #1062 closed

[2018-06-25 20:10] yury-stepanov commented on #1146
Thanks! Looks like I was looking for, but would this new field be available for querying?
Cheers

[2018-06-25 20:59] alexmullans commented on #747
@bogdanbanciu can you post the issue on https://developercommunity.visualstudio.com/spaces/21/index.html?

[2018-06-25 21:58] #910 closed

[2018-06-25 22:00] KathrynEE commented on #1108
@ravneetDevops - Thank you for your inquiry. Please take a look at the TfsMigrator logs as mentioned in the above comment. I'm closing this issue as CSS/support would be better able to help.

[2018-06-25 22:00] #1108 closed

[2018-06-25 23:07] RubixRevenge opened #1150 "While MVC unit tests work fine, SSDT unit tests do not."
While unit tests created for SQL Server Database projects work just fine on VS 2017, I have been unable to get them to work on TFS 2018. I've gone through so many tweaks and trial-and-error-and-still-fail that I don't know what I should be doing or what to do next. The official Microsoft documentation is marked as outdated. I'm using VS 2017 and TFS 2018. Are there current and relevant documents I

[2018-06-26 08:27] thomasdc opened #1152 "Labelling sources triggers infinite build loop"
When VSTS tags sources and pushes that tag, it triggers another build that again pushes another tag etc.
This is intended behavior but worth documenting. You can circumvent this by excluding a trigger on refs/tags/*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41d4fcf8-3fd9-27b5-89e5-a026cc4a2b6a
* Version Independe

[2018-06-26 08:29] ramandeep-singh-1983 commented on #381
Thanks, voted for this: https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/32083207-allow-variables-in-variable-groups-to-be-settable

[2018-06-26 08:44] steveculshaw opened #1153 "Needs updating with details on the new UI"
Needs updating with details on the new UI

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2ed06ca-1352-19fe-23bb-8c29685fd95a
* Version Independent ID: 3e6fd6f3-f602-a011-7c68-047b4aa8cc89
* Content: [Delete a team project from VSTS and TFS](https://docs.microsoft.com/en-gb/vsts/organizations/accounts/delete-team-proje

[2018-06-26 13:44] shteeven commented on #898
I can confirm. I am able to associate with .Net Core and NUnit. They fail when trying to run from the test plans, but I am able to associate.

[2018-06-26 14:13] PaulNovelli opened #1154 "Builds publishing packages; revisiting permissions"
This is an excellent article and we look forward to understanding how to allow builds to publish packages.  This is a very good topic.

On the permissions front, I'm still having trouble understanding the relationship between Access Levels (in Server Settings), the feed permissions discussed here, and the licensing requirement.  It appears that anyone doing anything with the feeds must be in that

[2018-06-26 14:13] artkpv opened #1155 "How not to fail on Standard Error?"
Thank you for the ability to give feedback and the tools! How can I specify for Azure PowerShell task not to fail a step if someone writes to Error stream? There is no "Advanced" group in UI for my release definition as in a PowerShell task to uncheck the option. We want to run Selenium tests which write to this stream on some failed test and we wish to continue running other tests.

---
#### Docu

[2018-06-26 15:32] chcomley commented on #1153
@steveculshaw Thanks so much for your input - I've created a work item on my backlog for this update.

[2018-06-26 15:32] #1153 closed

[2018-06-26 15:47] steved0x commented on #1147
@JayCeeK I'll get that document updated and reply back here shortly with some more information.

[2018-06-26 16:48] psined1 opened #1156 "Additional resources is missing"
It says above "For more information about both of these books, see Additional resources later in this topic."

There is no Additional resources chapter on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dcd8f18-dc4c-3780-7fda-f662ceba7890
* Version Independent ID: 452ebf35-75b1-4b9e-2d06-b3e8da78e774
* Conte

[2018-06-26 16:50] psined1 commented on #1156
Sorry, I accidentally opened this on the wrong page

[2018-06-26 16:50] #1156 closed

[2018-06-26 16:50] psined1 opened #1157 "Additional resources is missing"
It says above "For more information about both of these books, see Additional resources later in this topic."

There is no Additional resources chapter on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b18f4fa-1687-69e9-20ad-82c4b60e9b6c
* Version Independent ID: e662b71c-a02a-cafe-d7a8-d2b7034aa2b9
* Conte

[2018-06-26 17:11] jholovacs commented on #972
There's an "instructions" modal when setting up the package repo for how to
connect, basically suggested (at least the way I read it) that I needed to
use PAT and v2 to access this externally.

On Mon, Jun 25, 2018 at 12:36 PM elbatk <notifications@github.com> wrote:

[2018-06-26 18:08] KathrynEE commented on #1078
Closing this issue. Topic has been updated. @savyk - My understanding is that the product team is looking at further improvements to address your issue.

[2018-06-26 18:08] #1078 closed

[2018-06-26 19:04] RubixRevenge commented on #1150
To replicate the symptoms, feel free to create your own hello world scenario.

I'm erring on the side of being too detailed, but here's the best I can do (at present) to help you replicate this, as business policy prevents me from making my project public.

1. Using TFS 2018, create a new project (git version control). Assumption: TFS is _not_ the express version and is set up on a server.
2. Init

[2018-06-26 19:31] chataylor commented on #1078
@savyk Thank you for reaching out to the team. I certainly apologize for any frustration you're experiencing with the new Add a Link experience. We understand this change in behavior and decision to remove query support does force some of our users into a new way of working. Our hope, however, is as we continue to improve the simplicity of quickly finding and linking a work item that this new way

[2018-06-26 20:50] jfoshee opened #1159 "What if "Change" link is missing?"
I first accessed my VSTS account via my MSDN Developer-Benefit Azure account. The VSTS account was auto-created and has an ugly UUID name. It seems it cannot be renamed...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0279339c-59d3-26c3-e41f-8e38cf994aec
* Version Independent ID: 242fe1ff-8786-0c02-5dd6-df1f3e9f000a
*

[2018-06-26 23:17] ndbills commented on #508
You can find a list from the 'old' documentation site, for now, until all of the documentation makes it over: https://web.archive.org/web/20161203225627/https://www.visualstudio.com/en-us/docs/integrate/extensions/reference/targets/overview
It seems like the documentation migration for the VSTS extension development has been really spotty; there seems to be a lot missing.

[2018-06-27 09:51] aminkh17 opened #1163 "Error on IIS Web App Deploy"
After I have tried a few times, repeatedly I got the following error.
Error: No package found with specified pattern

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1c5394-611b-b119-dbf3-b88404e351d5
* Version Independent ID: fcc23259-21ec-f9fa-4e25-f587e1e0f41b
* Content: [Deploy to an IIS web server on a Windows Vir

[2018-06-27 11:50] artkpv commented on #1155
Probably setting a variable from the script would help:

    	Write-Host "##vso[task.setvariable variable=failOnStandardError;]false"

See https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md .

[2018-06-27 12:08] alexhomer1 commented on #1150
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-27 12:29] alexhomer1 commented on #1163
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-06-27 12:38] RoopeshNair commented on #1163
@aminkh17 - can you check if the artifact linked with the release has *zip file in it? also can you share the complete logs rm_customer_queries dot com

[2018-06-27 13:09] asadabbas88 commented on #1129
not relavant now

[2018-06-27 13:09] #1129 closed

[2018-06-27 17:43] alexmullans commented on #747
@elbatk can you close this issue? The [permissions page](https://docs.microsoft.com/en-us/vsts/package/feeds/feed-permissions?view=vsts) has been fixed, and I've added a guide of doing [NuGet package restore across VSTS accounts here](https://docs.microsoft.com/en-us/vsts/pipelines/packages/nuget-restore?view=vsts#restoring-packages-from-feeds-in-a-different-account).

[2018-06-27 21:16] RubixRevenge commented on #1150
Thank you @alexhomer1  and @harishkragarwal. I am eager to hear what, if anything, can be done to resolve this issue.

[2018-06-27 21:49] nschonni opened #1166 "Should `enableqna` value be quoted"
It is described as a boolean, but the value is always shown as a quoted boolean value. Should it just be a plain boolean value like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b703fe-8982-4284-6db0-ef33abac08a4
* Version Independent ID: 0fc84d11-1c32-0a49-04ec-641b68f44886
* Content: [Extension Manifest Re

[2018-06-27 21:53] BruceHaley opened #1167 "Documentation needs more detail."
Please explain that backslashes ("\\") in search patterns are not supported, and that slashes match backslashes. This needs to be spelled out because standard Windows paths use backslashes.

Please include complex examples using "**" such as:
\*\*/bin/release/\*\*/\*connector\*.dll
(Possibly the above is not a valid search pattern. Please explain what the syntactical limits are.)

Please explain t

[2018-06-28 02:12] aminkh17 commented on #1163
Thank you, I've checked and found drop.zip there, however, nothing downloaded when I clicked Build.SourceLabel
[logs_9.zip](https://github.com/MicrosoftDocs/vsts-docs/files/2143486/logs_9.zip)
[ReleaseLogs_4.zip](https://github.com/MicrosoftDocs/vsts-docs/files/2143487/ReleaseLogs_4.zip)

[2018-06-28 03:19] adventworks commented on #955
Thanks @Astoker for the detailed explanation. This is certainly an area of improvement that we would like to make. As you rightly pointed out, you can use wild cards, it is just hard to discover that you can.

[2018-06-28 07:13] nschonni opened #1170 "Dead Link /tfs/server/architecture/extend-vs-for-alm"
Under https://docs.microsoft.com/en-ca/vsts/work/customize/add-modify-field?view=vsts#add-a-custom-control in "Using the object model for tracking work items" but I'm not sure where is should point

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8f0fc3-60e9-114d-b2e2-c26cee932a08
* Version Independent ID: 9de0bcaa-804

[2018-06-28 08:43] alexisCata opened #1171 "I can't see the ssh url when I click clone in TFS"
How can I see the ssh url? When I click clone I only can see the HTTP url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e85ff9-9add-d15c-e92f-02d7dd05e0f2
* Version Independent ID: 0cbd7427-6acd-3cfc-1a3b-8bf5ca60f3bd
* Content: [Connect to your Git repos with SSH](https://docs.microsoft.com/en-us/vsts/git/use-ssh-k

[2018-06-28 12:49] mmitrik commented on #1171
@alexisCata Can you share a screenshot of what you see when you click Clone in the web view?

[2018-06-28 14:00] alexisCata commented on #1171
![untitled](https://user-images.githubusercontent.com/6735063/42038859-43a9df8c-7aec-11e8-9e4b-02f63f9c8794.jpg)

[2018-06-28 14:05] elbatk commented on #747
Closing this issue :)

[2018-06-28 14:05] #747 closed

[2018-06-28 14:32] bigale opened #1172 "Why Tiny Charts?"
I'm using the Add a test status or result chart right now.  Charts are a tool for visual understanding and limiting them to the size of a postage stamp is a terrible idea that severely restricts the use case of an otherwise greatly engineered feature.  I don't see any settings to expand them to be useful.  It seems this limitation has been around for some time?  Do we have to vote on everything???

[2018-06-28 14:54] alexisCata commented on #1171
Microsoft Visual Studio Team Foundation Server
Version 15.112.26307.0

So it's TFS 2017 Update 1 RTM

Should I activate it or something?

[2018-06-28 14:55] elbatk commented on #987
Hi @glatzert , we gave it a small update, check it out and let us know what you think. Closing this issue if you think it's good!

[2018-06-28 15:33] glatzert commented on #987
Hi @elbatk  i think it's more useful than before, but for [TFS-2018](https://docs.microsoft.com/en-us/vsts/package/feeds/feed-permissions?view=tfs-2018) there's a small Problem:

Does not apply - at least not to my Version - to TFS2018.

[2018-06-28 15:34] elbatk commented on #987
Adding @alexmullans so he can comment on availability/versions for us!

[2018-06-28 16:45] thatnerdyguy opened #1173 "Can I chain builds...? Says "Not yet", but the user voice says completed"
Seems like that question should be removed or changed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Build definition triggers](https://docs.microsoft.com/en-us/vsts/pipelines/build/triggers?view=vsts#build-c

[2018-06-28 16:48] thatnerdyguy opened #1174 "My build didn't run. What happened? is confusing"
What does "signed in" here mean? Not explicitly signed out? If I signed in with my user name/pw a week ago, and didn't explicitly sign out, do my builds keep working? We are configured with CI build triggers on a VSTS hosted git, and haven't seen any issues with builds not running.... from this section it seems like that is just a happy accident.

---
#### Document Details

⚠ *Do not edit this sec

[2018-06-28 17:25] kztd opened #1175 "Build fails, specified configuration is invalid"
I tried building this with the following BuildPlatform's:
x86, x64
Any CPU
&lt;blank&gt;

and they all failed with a message like:

D:\a\1\s\cpp-sample.sln.metaproj (0, 0)
D:\a\1\s\cpp-sample.sln.metaproj(0,0): Error MSB4126: The specified solution configuration "debug, release|x64" is invalid. Please specify a valid solution configuration using the Configuration and Platform properties (e.g. MSBu

[2018-06-28 18:00] StingyJack opened #1176 "How to disable VS/TFS auto locking binary files?"
If you have a lib folder, files in it can get automatically locked and prevent other users from working with them.

Using the lock command against a TFS 2015 server from a VS 2017 dev cmd does not work.

Can this behavior be disabled in TFS somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0761c2-64dd-3923-55

[2018-06-28 18:07] mmitrik commented on #1171
Yes, you'll need to configure it in the admin console.  Check out this doc:  https://docs.microsoft.com/en-us/tfs/server/install/single-server#configuration

Interesting bit:

It might be that someone didn't enable SSH during setup.  You can also check on the server to see if `TeamFoundationSshService` is running, and then use the admin console to enable SSH and specify the desired port.

[2018-06-28 18:31] TingluoHuang commented on #211
When you configure the agent as windows service, the agent process will run as the service account you picked during agent config, NetworkService by default.
When your build running on the agent, the agent process will use an OAuth token to talk back to VSTS/TFS endpoint.
But since the process is running as your Service Account, you should be able to use integrate auth for that service in PowerShe

[2018-06-28 19:21] skovsboll opened #1178 "Url schema out of date?"
This page states that for VSTS, urls for workitems follow this pattern: _workitems?id=133&_a=edit
On the subdomains on visualstudio.com that I have access to, the url pattern is: _workitems/edit/133 and the former is not recognized.
This must have changed some time between two versions of VSTS?
Do all subdomains on visualstudio.com run the same version of VSTS and do they have the same url scheme?

[2018-06-28 19:32] andyjlewis commented on #607
Thank you for this feedback. I've copied this issue to our backlog.

[2018-06-28 19:32] #607 closed

[2018-06-28 19:35] vijayma commented on #234
You are using 1709 version of container image, and that is not compatible with the OS of the hosted image that we run.
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility
https://github.com/docker/for-win/issues/1800
We are working on supporting these newer container images. Until then, your best best is to run a private agent.

[2018-06-28 19:40] andyjlewis commented on #490
Thanks for this feedback. I've copied this request to our backlog.

[2018-06-28 19:40] #490 closed

[2018-06-28 19:44] #234 closed

[2018-06-28 20:21] chrisrpatterson commented on #1148
Here a script that can use headless install https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/start.sh. We can look to add something more specific to the docs.

[2018-06-28 20:35] RubixRevenge commented on #1150
Just curious whether this issue is actively being investigated or is deprioritized.

Please let me know so that I can act accordingly.  Thank you

[2018-06-28 20:44] yury-stepanov commented on #1146
@elbatk I'am sorry, I was looking more for a way to extend work item type with custom fields to hold data. For example custom text fields. Should be more specific. Thanks in advance.
Cheers.

[2018-06-28 20:50] andyjlewis commented on #1148
Thanks for this suggestion. I've added it to the backlog.

[2018-06-28 20:50] #1148 closed

[2018-06-28 21:04] yysun opened #1181 "Delete tenant.cache from AppData\Local\GitCredentialManager"

[2018-06-29 11:21] pwpahcc2 opened #1185 "2"

[2018-06-29 12:19] jallman112 opened #1186 "Example URL has project twice"
The example/template URL directly below the heading "Get a list of pull requests in the project" has "project" in it twice.

.../DefaultCollection/{project}/{project}/_apis/...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d5409d2-2ea5-c5c5-e193-58551d3bf11d
* Version Independent ID: 74dc0d16-70c1-7ab1-56e6-6207e99f6

[2018-06-29 12:46] steved0x commented on #1185
@pwpahcc2 Thank you for your feedback. I'm closing this issue since I don't see any action I can take, please open a new issue if you have additional feedback. Thank you.

[2018-06-29 12:46] #1185 closed

[2018-06-29 12:48] steved0x commented on #1181
@yysun Thank you for your feedback. The GitHub issues in this repo are for documentation feedback. If this is documentation feedback, can you let me know what article the feedback is for?

If this GitHub issue has product feedback, please file that feedback/feature request here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you

[2018-06-29 13:23] mlearned commented on #1110
@ianceicys  we have some new docs around this being published (updates to the existing doc) that will be mentioning TFS as well.

[2018-06-29 13:23] #1110 closed

[2018-06-29 13:29] mlearned commented on #785
@get-itips i've created a backlog item for our docs for this one.

[2018-06-29 13:29] #785 closed

[2018-06-29 13:31] mlearned commented on #610
@vijayma @andyjlewis  do we have updates for this one?

[2018-06-29 13:34] mlearned commented on #610
@joshuapoq  @kenotron  we've got an internal thread going on this and will get you an answer.

[2018-06-29 13:36] mlearned commented on #546
@VinKamat  were you able to get your copy to work?

[2018-06-29 13:37] mlearned commented on #544
@jclay thank you for the feedback, i'm looking into doc updates for this one and will update back here.

[2018-06-29 13:39] #524 closed

[2018-06-29 13:41] mlearned commented on #487
@lestephane i'm just making sure your issue was addressed in the above spot and you are all good here?

[2018-06-29 13:41] nschonni commented on #610
Looks like the Agent is still being worked on https://github.com/Microsoft/vsts-agent/pull/1653

[2018-06-29 13:43] mlearned commented on #477
@StingyJack  I'm looking at this one for additional actions.

[2018-06-29 13:46] mlearned commented on #323
@varnk  were you able to get unblocked here?  I'm looking into this one and will be back.

[2018-06-29 14:55] varnk commented on #323
@mlearned.  I stopped using Copy and Publish Build artifacts and opted to use the two-step process of first calling Copy Files and then calling Publish Build Artifacts.  However, I still thought it was a good idea to post the issue with Copy and Publish Build artifacts.

[2018-06-29 16:28] DavidStaheli commented on #610
Sorry for the delay, @kenotron, @joshuapoq, and @nschonni.  Fixing a security hole took longer than we expected.  A few days ago I noticed the docs were out-of-date and updated the ETA to July.  We expect the fix to start deploying next week.  It'll make it to all VSTS accounts within about 2 weeks and we'll turn the forks feature back on as quickly as that happens.  + @thechrisjohnson in case he

[2018-06-29 16:55] kenotron commented on #610
This is great news - it would be really great to get some idea of what the security issue was (secret leaking from PRs, etc?). And what kind of restrictions are going to be placed to help secure PR based triggers.

[2018-06-29 19:28] andyjlewis commented on #1174
Thank you for the feedback. "Sign in" just means to view any page in your VSTS account. I made a small change to the doc that should be published in next day or so.

[2018-06-29 19:44] yysun commented on #1181
Sorry for the confusion. It is for this doc:
https://docs.microsoft.com/en-us/vsts/git/set-up-credential-managers?view=vsts

Following the doc, many still cannot connect to VSTS git. The tip to fix it is:
Delete tenant.cache from AppData\Local\GitCredentialManager

[2018-06-30 02:48] LarryZhangy opened #1189 "How to describe a inputDescriptors in action which need to get from outside service?"
Like the jenkins consumer, in triggerGenericBuild action ,the inputValues of build is get from the jenkins instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 758bed7c-374d-996e-ebff-c68528a823ca
* Version Independent ID: 81777b37-38ab-a7df-6eaa-7aa6bcd1058c
* Content: [Create a consumer service for service hooks]

[2018-07-01 13:33] syedhassanabbas commented on #1122
Thanks got it, it’s probebly not that intuitive.

[2018-07-02 07:45] shayki5 opened #1190 "Send email if I mention someone on shelveset"
Hi,
We have an option on shelveset to write comments on the code, and we can mention user (with @).
But if I mentioned someone he didn't get an email.
This is supposed to be? can you change it?
Thank you.

[2018-07-02 08:31] karann-jain opened #1191 "Is there a release variable which can be used to identify if the CI build was a scheduled build?"
I want to run security tests which takes a couple of hours to run, I want to run static tests as part of build and dynamic as part of deployment. I plan to schedule this to run nightly. I am using custom variables in my build definition to run the phase only for nightly build.

How do i do the same for release? is there a variable which i use to differentiate between if the build was scheduled or

[2018-07-02 09:01] lestephane commented on #487
I tried again just now to create a PR in the direction f-branch -> master, but no build is being triggered in VSTS. Any more information you need?

[2018-07-02 17:04] sabbour opened #1192 "Path filter doesn't appear to exist"
You can't filter out the build trigger by a path filter. It exists in screenshots but not in my VSTS build definition trigger page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521b594c-dbb9-54d5-f56f-00e2f5fa1d92
* Version Independent ID: 509d3e4e-23db-8493-e1a6-acb67ec47e81
* Content: [Building multiple branches](h

[2018-07-02 17:51] nadcraker opened #1193 "Syntax highlighting for C# in a code block doesn't work for me."
I have TFS 2017 (Version 15.117.27414.0), and I cannot get C# language syntax highlighting to work on a readme.md file for my repo.

Here is my wiki markdown:
[code]
This produces just a regular code block, not one with color highlighting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6a

[2018-07-02 17:52] nadcraker commented on #1193
Well it seems to work here.

[2018-07-02 18:20] KathrynEE commented on #1178
@skovsboll - Thank you for the feedback.  All subdomains on visualstudio.com should run the same version of VSTS and have the same url scheme. I'm updating the article to reflect the URL change for VSTS.

[2018-07-02 18:20] #1178 closed

[2018-07-02 18:21] KathrynEE commented on #1172
@bigale - Thank you for your inquiry. I recommend you add your comment to our [User Voice page](https://visualstudio.uservoice.com/forums/330519-team-services) where the product team can take appropriate action.

[2018-07-02 18:21] #1172 closed

[2018-07-02 18:37] KathrynEE commented on #1170
@v - Thank you for the feedback.  The current link is no longer valid. And the valid links are different depending on the TFS version that is being run. I'm updating the article and the changes should be live today.

[2018-07-02 18:37] #1170 closed

[2018-07-02 18:39] KathrynEE commented on #1157
@psined1  - Thank you for the feedback. You are correct that there are no longer any additional resources. Over time, they have been removed from the internet. I've updated the topic to reflect these changes.

[2018-07-02 18:39] #1157 closed

[2018-07-02 18:50] PgxBaku opened #1196 "Variable Group Links to Build settings Keeps disappearing"
I created a variable group.  I then create a build.  Then link the variable group to the build.  I then do a build and it builds fine.  The second time I do a build, the link disappears and I lose all my variables.
Why is this happening?  I can't seem to save the link variable groups to make it last more than 1 build.
I would go  back to my build and refresh and the link to the variable group woul

[2018-07-02 18:50] PgxBaku commented on #1196
Sorry, I forgot to mention I have TFS 2018 Update 2 installed.

[2018-07-02 19:07] mkuzminski opened #1197 "Maximum widgets on dashboard"
What is the maximum number of widgets that can be added to a dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcb11d2d-86bd-ff52-d191-4da86d54b473
* Version Independent ID: 79438e17-b3d3-0331-5040-98107eb840a2
* Content: [Dashboards, charts, & widgets - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/report/

[2018-07-02 20:00] JakeKerber opened #1198 "User can still approve their own changes"
I believe I ran into a situation in which a developer can approve their own changes even if "Allow users to approve their own changes" is unchecked - assuming only 1 approver is required.
1) Alice creates a pull request for BranchA (containing her new code) to be merged into master.
2) Bob pulls down BranchA and makes a new change to it and pushes it up. In our situation this resets any reviewer v

[2018-07-02 22:54] mudnug opened #1200 "Team PR page moved when using new navigation scheme"
The [company-instance].visualstudio.com/_pulls URL now returns "404." Is there a comparable page which lists all PRs which are assigned to you and your teams/groups across repositories under the June/July Navigation updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version I

[2018-07-03 04:05] jmoody opened #1201 "What ruby versions are available?"
This page should display or link to a document that shows the available ruby versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02568f8b-6928-c8f1-178a-79e4cb0d93e2
* Version Independent ID: 1107622c-4165-dcff-741a-279757b35323
* Content: [Use Ruby Version](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/to

[2018-07-03 04:08] jmoody opened #1202 "An example of a "versionSpec" range should be provided"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02568f8b-6928-c8f1-178a-79e4cb0d93e2
* Version Independent ID: 1107622c-4165-dcff-741a-279757b35323
* Content: [Use Ruby Version](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/tool/use-ruby-version?view=vsts#feedback)
* Content Source: [docs/pipelines/tasks/

[2018-07-03 05:44] tsahi opened #1203 "Text duplication"
The second and third paragraphs are almost identical. From the source, it looks like one is for TFS and one is for VSTS, but there is no indication for it in the rendered text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973bb49c-7fcb-a953-21ff-82b03f899e73
* Version Independent ID: 507b2d8b-9560-9afb-4628-ae562832c