[2019-12-09 21:36] #6581 closed

[2019-12-09 22:24] msebolt commented on #6585
@MarioMeldau Thank you for the question.

Does the language change if you update your [general user settings](https://docs.microsoft.com/azure/devops/organizations/settings/set-your-preferences)?

For the ability to use multiple languages, please direct the request [here](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

[2019-12-09 23:04] msebolt commented on #6589
@thisispaulsmith Thank you for the feedback.

A [similar issue](https://developercommunity.visualstudio.com/content/problem/623161/kubernetes-service-connection-failes-on-helm-upgra.html) is currently active.  Also see if [this article](https://jessicadeen.com/how-to-deploy-to-kubernetes-using-helm-and-vsts/) offers any further guidance.

Unfortunately since this is a documentation forum, our supp

[2019-12-09 23:13] msebolt commented on #6593
@logiclrd Thank you for the feedback.

Please provide a link to the article in question and we will assign an author.

[2019-12-09 23:42] msebolt commented on #6594
@SebastianSchuetze Thank you for the feedback, reviewing the PR now.

[2019-12-09 23:49] msebolt commented on #6594
Started a new PR due to validation errors and submitted for further review.

[2019-12-09 23:54] msebolt commented on #6595
@NenoLoje Thank you for the feedback, assigning this to the author for review.

[2019-12-09 23:56] msebolt commented on #6590
@mattlovett Thank you for the question, please see if [this post](https://stackoverflow.com/questions/57417485/how-to-specify-artifact-version-name-in-azure-devops) resolves your issue.

[2019-12-09 23:58] msebolt commented on #6598
@NenoLoje Thank you for the feedback, assigning this to the author for review.

[2019-12-09 23:59] msebolt commented on #6599
@NenoLoje Thank you for the feedback.

The documentation will be updated shortly.

[2019-12-10 00:00] msebolt commented on #6600
@NenoLoje Thank you for the feedback.

The documentation will be updated shortly.

[2019-12-10 00:00] msebolt commented on #6601
@NenoLoje Thank you for the feedback.

The documentation will be updated shortly.

[2019-12-10 00:01] msebolt commented on #6606
@NenoLoje Thank you for the feedback, assigning this to the author for review.

[2019-12-10 00:10] msebolt commented on #6565
@usysware  Sounds good, the issue has been moved.

Please refer to https://github.com/microsoft/azure-pipelines-image-generation/issues/1438.

[2019-12-10 00:10] #6565 closed

[2019-12-10 00:12] #6570 closed

[2019-12-10 00:48] johnterickson opened #6622 "Add ranges for Azure Artifacts"
Azure Artifacts
- *.blob.core.windows.net
- all IP addresses in the "name": "Storage.{your region}" section of this file (updated weekly): Azure IP ranges and Service Tags - Public Cloud

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5a4cfa-aa84-9f0f-55f4-71ec4861c070
* Version Independent ID: d621620a-c924-03b1-8b43

[2019-12-10 02:53] msebolt commented on #6583
@Divya1388 Thank you for the feedback.

According to [this post](https://stackoverflow.com/questions/11036799/hexadecimal-value-0x00-is-a-invalid-character) `0x00` is an illegal character in XML.

Please refer to https://github.com/jstemmer/go-junit-report/issues/99 for status on the **go-junit-report** process, though Windows has had issues also, see [here](https://stackoverflow.com/questions/558

[2019-12-10 02:55] msebolt commented on #6588
@davykinger Thank you for the feedback.

Unfortunately, since this is a documentation forum our support options are limited.

Please start an issue [here](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) for feedback from the product team.

[2019-12-10 03:04] #6580 closed

[2019-12-10 03:05] msebolt commented on #6608
@HughDevlin Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:07] msebolt commented on #6609
@HughDevlin Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:10] msebolt commented on #6610
@devopsdymyr Thank you for the feedback.

Does this work if you change **Team preference** to **All team members**?

If so, please refer to [Manage team delivery settings](https://docs.microsoft.com/azure/devops/notifications/howto-manage-team-notifications?view=azure-devops#manage) for troubleshooting.

[2019-12-10 03:19] msebolt commented on #6612
@muraliwho  Thank you for the feedback.

Please find steps to navigate to your project included in the topic [Sign up for Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/pipelines-sign-up?view=azure-devops).

A link to this topic is included in the **Prerequisites** section of [Create your first pipeline](https://docs.microsoft.com/azure/devops/pipelines/create

[2019-12-10 03:23] msebolt commented on #6613
@jsgoupil Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-10 03:23] msebolt commented on #6614
@estensen  Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:24] msebolt commented on #6616
@GenesisCoast Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:32] msebolt commented on #6617
@boydkronenberg Thank you for the feedback.

You can refer to a [similar post](https://developercommunity.visualstudio.com/content/problem/359308/can-i-get-test-cases-outcome-results-as-a-field-in.html), which allows you to use [Dashboards](https://docs.microsoft.com/azure/devops/report/dashboards/overview?view=azure-devops) to see if this helps solve your problem.

Please note since this a docume

[2019-12-10 03:33] msebolt commented on #6618
@BenResTech Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:34] msebolt commented on #6619
@horros  Thank you for the feedback, assigning this to the author for review.

[2019-12-10 03:42] msebolt commented on #6620
@jbburf Thank you for the feedback, assigning this to the author for review.

Please see [Build, test, and deploy Xcode apps](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/xcode?view=azure-devops) for further guidance.

A similar concern was also posted with https://github.com/Microsoft/azure-pipelines-tasks/issues/8845.

[2019-12-10 04:01] msebolt commented on #6611
@jimicze Thank you for the question.

You would need to create a [custom service hook](https://docs.microsoft.com/azure/devops/service-hooks/services/webhooks) and query your results with the [Test Results API](https://docs.microsoft.com/rest/api/azure/devops/test/results), then subscribe to the hook using something like **Azure Pipelines app for Slack** referenced [here](https://docs.microsoft.co

[2019-12-10 05:35] logiclrd commented on #6593
My apologies for that oversight, the page in question is:

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/nuget?view=azure-devops

I think I ended up here by clicking on the "Send feedback about _this page_" option at the bottom of the page, and thought it would link up automatically, and so everything about the PR assumes that that context is known. I see now that it's complet

[2019-12-10 08:49] XmlmXmlmX commented on #5112
@WilliamAntonRohm Not a bug: https://developercommunity.visualstudio.com/content/problem/718698/download-package-task-missing-latest-version.html

[2019-12-10 09:07] blueelvis commented on #6349
@RoopeshNair @tfosmark -- Could you please reopen this bug and get this clarification in the doc? Would be happy to submit a PR for this.

[2019-12-10 09:36] M0ns1gn0r commented on #4082
@MS please add an understandable error message instead of this obscure one.

[2019-12-10 10:05] grummelf commented on #5737
Even though it does not seem to match the operation explanation, this worked for me as an execution condition:

`and(succeeded(), startsWith(variables['Build.SourceBranch'], join('/refs/heads/', '${{ parameters.TRIGGER_BRANCH_PREFIX }}')))`

[2019-12-10 12:08] JG127 commented on #3702
Same for me. Because I'd like to have a single azure-pipelines.yml file people can reuse as is.

[2019-12-10 13:02] rastrup opened #6624 ".NET Framework containers are no longer supported for 1803 servers"
https://github.com/dotnet/announcements/issues/141
How is the support for containers when running the win1803 image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e116
* Content: [Microsoft-hosted agents for Azure Pipelines

[2019-12-10 13:06] jashan05 opened #6625 "Set and Share variables across pipelines in YAML pipelines"
Hello Team,

We have 2 pipelines in YAML format
- Build pipeline - This pipeline builds some artifacts
- Release Pipeline - This pipeline deploys the build artifacts built in the build pipline.

I can copy the artifacts built using build pipeline, in my release pipeline. But i also need to set some Variables in my build pipeline which i want to use in release pipeline. This variable shouldnt be de

[2019-12-10 13:53] byronbayer opened #6626 "[Solved] The Azure DevOps Office Integration in VS2019 is not working"
Installing the 'Azure DevOps Office Integration' that comes with the Visual Studio 2019 installer does not work. Just trying to connect to the server will give the following misleading error:

Azure DevOps Server

TF31003: Either you have not entered the necessary credentials or your user account does not have permission to connect to the Azure DevOps Server at https://dev.azure.com/organisation.

[2019-12-10 13:56] Abdulsametileri commented on #412
I have exactly same problem. What will we do?

[code]

[2019-12-10 14:27] ChrisColeTech opened #6627 "Not working"
This does not work for VSTS repos, or *.visualstudio.com repos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e7fcfcb-c10c-be34-4a9d-94d54245a3da
* Version Independent ID: aa7b7720-7c7e-1b4f-96e8-3bf068efe9fd
* Content: [Clone a Git repository in a public project - Azure DevOps Services Public Project](https://docs.m

[2019-12-10 14:29] ChrisColeTech opened #6628 "Not working"
This does not work on VSTS repos, or *.visualstudio.com repos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b8a5b68-909f-126d-5f83-4659e0f55b85
* Version Independent ID: f71ca2b9-c00d-0b2b-34bc-63d11b3576db
* Content: [Clone an existing Git repo - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/c

[2019-12-10 17:25] hanneswidrig commented on #6328
Any update on the cause of this issue? It clutters the console messages during DevOps extension development.

[2019-12-10 17:37] StingyJack commented on #412
@Abdulsametileri - I was asking about build pipeline tasks. I actually found these by doing a diff on an old and new build definition in Azure DevOps.

Distributed tasks are different.

[2019-12-10 17:41] JakeWierzba opened #6629 "Lack of Billing Details"
Why is it so hard to find prices for things in Azure.
On the Billing settings page why doesn't have the cost per pipeline in a column right beside the pipeline type.
At the very least when you change it and click save it should tell you that it will increase/decrease you monthly costs by X amount before you save it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-12-10 17:55] WilliamAntonRohm commented on #6371
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-10 17:55] #6371 closed

[2019-12-10 17:59] #6583 closed

[2019-12-10 17:59] #6589 closed

[2019-12-10 18:02] #6613 closed

[2019-12-10 18:02] #6617 closed

[2019-12-10 18:08] WilliamAntonRohm commented on #6481
@KathrynEE -- please review the above-mentioned PR 602.

[2019-12-10 18:13] HughDevlin opened #6630 "select between pre-installed java versions?"
Microsoft hosted agents typically come pre-installed with multiple versions of java installed. For example, currently pools ubuntu-latest and windows-latest include javas 7, 8, and 11. Can this tool be used to simply select among these options? The examples provided above involve downloads and installations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-12-10 18:26] jbburf commented on #6620
I've already reviewed [that link](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/xcode?view=azure-devops) and it was not helpful either. Issue [#8845](https://github.com/microsoft/azure-pipelines-tasks/issues/8845) seems unrelated.

[2019-12-10 18:58] KathrynEE commented on #6574
@ccagahr - I checked with the product team and the functionality to export the process template has been removed and is not supported for Azure DevOps Services Inherited process model. Both export and import features aren't supported.  I will update the topic with this information.

You may find a solution using https://github.com/microsoft/process-migrator.

[2019-12-10 18:58] #6574 closed

[2019-12-10 19:09] MarioMeldau commented on #6585
Thank you. Changing the general user settings helped.

[2019-12-10 19:09] #6585 closed

[2019-12-10 19:41] kevinhartman opened #6632 "Missing documentation on variable redefinition within the same scope"
If a variable is defined twice within the same scope (e.g. there are two entries within a Stage's `variables` map, each with a different value), what is the behavior? Does the last entry in the map prevail? Is this an error case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Vers

[2019-12-10 20:06] HughDevlin opened #6633 "Understand variable syntax: When pipeline variables are turned into environment variables..."
In section Understand variable syntax, the wording "When pipeline variables are turned into environment variables..." is awkward. "turned into" suggest some kind of action, what is it?. Are all pipeline variables stored as environment variables? If not, under what conditions are pipeline variables available as environment variables? When is the lower case syntax used and when is the uppercase synt

[2019-12-10 20:22] chcomley commented on #6629
Hi @JakeWierzba, I'm sorry for your frustration. There was a link to the pricing calculator within the article, however it wasn't easy to find, so I've added a TIP to all of our billing articles, which states the following:
To configure costs for Azure DevOps, see the [Pricing calculator ](https://azure.microsoft.com/en-us/pricing/calculator/?service=azure-devops)or the [Azure DevOps pricing page]

[2019-12-10 20:24] chcomley commented on #6629
Please @mention me if you have any further questions, @JakeWierzba. Thanks again.

[2019-12-10 20:29] JakeWierzba commented on #6629
@chcomley
Thanks for the reply. I did look at the pricing calculator after you mentioned it and it did give me the information I needed.

[2019-12-10 20:30] #6629 closed

[2019-12-10 20:46] chcomley commented on #6606
Hi @NenoLoje, Thanks for this and sorry for any confusion. I've removed the deployment note from the article. Thanks again!

[2019-12-10 20:46] #6481 closed

[2019-12-10 21:21] tannguyen3 commented on #6625
@jashan05: did you try [variable group ](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml).
It allows us to share variable between pipelines and can be used in yaml too.

[2019-12-10 22:25] msebolt commented on #6622
@johnterickson Thank you for the feedback, assigning this to the author for review.

Currently, the article includes a link to [Azure DevOps Service IPs](https://docs.microsoft.com/azure/devops/migrate/migration-import?view=azure-devops#azure-devops-services-ips) with a section on **Azure Artifacts**.

[2019-12-10 23:34] #6473 closed

[2019-12-10 23:34] #6474 closed

[2019-12-10 23:35] #6480 closed

[2019-12-11 01:12] lehmacdj opened #6634 "Is it possible to force a page to sort alphabetically?"
When there is no `.order` file the pages are sorted alphabetically. For some scenarios this is desired. Is it possible to force this behavior and prevent pages from being reordered.

Alternatively, is there a way to remove the .order file and revert to alphabetical sorting without cloning the wiki and removing the file manually?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-12-11 02:05] 200even opened #6635 "Example setting up yarn cache task in classic (non-yaml) pipeline"
I'm having trouble setting this up for our pipeline to cache yarn packages. The YAML mentions a 'script' step, but I don't see that on the GUI task? I'm running yarn install as a separate task just after the cache task but getting a post-job cache error with a cache miss. Any help is appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-12-11 04:52] srivatsamarichi commented on #6519
The documentation has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2019-12-11 05:02] damienpontifex commented on #6500
@WilliamAntonRohm I agree with it being an issue for me. Equally though, if I resolve it, maybe something I can add to the docs for clarification/large use cases.

Reading this note [in the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pipeline-resource)

This is fine when the event is a trigger event from pipeline completion. But if the pi

[2019-12-11 06:02] Additi commented on #6067
@tashrifbillah This issue is fixed now. Please try again and let us know if it resolves your issue.

[2019-12-11 06:06] Additi commented on #6067
close

[2019-12-11 06:23] biohazard999 opened #6636 "The yaml snipplet's comments are wrong and misleading (at least in DownloadSecureFile@1)"
The sample should be:

[code]

That works fine. This is also the same code that the classic UI produces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36505533-7471-1f67-1a1d-4f3273bf4bf2
* Version Independent ID: abffb74f-97ab-c739-f39e-6138fdb5352b
* Content: [Download Secure File task - Azure Pipelines](https://doc

[2019-12-11 06:47] msebolt commented on #6624
@rastrup  Thank you for the feedback, support for the `1803` image ended on November 12th, 2019.

Please refer to the  [Microsoft Docker repo](https://hub.docker.com/_/microsoft-windows-servercore) for more information and a current list supported images.

To see the version used by an agent, refer to the [azure-pipelines-image-generation](https://github.com/microsoft/azure-pipelines-image-generat

[2019-12-11 07:08] darsh2311 opened #6637 "Is it possible to associate Selenium test-case which are developed using Java language through Eclipse?"
Hello, I am able to see that all the configuration to associate the selenium test cases with test plan or test case are shown through Visual studio and not with any other tool like Eclipse, So I want to know whether it's possible to associate selenium test cases which are developed in java language through Eclipse tool directly with the Azure DevOps test plan/test cases(manual test cases)? or Visu

[2019-12-11 07:21] VOVELEE opened #6638 "Support for Git Tagging to publish different content versions"
Hi Team,

currently Azure DevOps wiki engine supports publishing different content versions based on a versioned branch of a Git repo.
Do you plan supporting git tags for different content versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c697355f-1e75-27a9-8214-195c26ede4e7
* Version Independent ID: 3f62c207-54

[2019-12-11 07:32] msebolt commented on #6625
@jashan05 Thank you for the question.

As mentioned above, please refer to [Variable groups](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml), or use the **Azure DevOps community** to comment on the [latest variable feature](https://developercommunity.visualstudio.com/idea/365752/library-of-variable-and-task-groups-shared-between.html) an

[2019-12-11 07:42] msebolt commented on #6626
@byronbayer Thank you for providing the feedback.

We apologize for any difficulties, the issue was previously documented [here](https://docs.microsoft.com/azure/devops/reference/error/tf31003-user-account-no-permission-connect-tfs?view=azure-devops).

I'll make sure a note with link gets added to the [Office integration issues](https://docs.microsoft.com/azure/devops/boards/backlogs/office/tfs-of

[2019-12-11 07:53] jashan05 commented on #6625
@tannguyen3 @msebolt  Thanks for the response. I already tried the variable groups, but that doesnt help me in my use case.
In my use case i need to set the variable as an Output of my build pipeline everytime i ran my build.
Then my release pipeline uses that output variable of build pipelines as an input.
As per my understanding Variable group can be used when we have a static variable to be sha

[2019-12-11 07:55] horros opened #6639 "Reject canary job uses "promote" action"
"Reject canary job" in the section "Manual intervention for promoting or rejecting canary" says to use a promote action, but surely this should be a reject action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079492cb-bdc3-7ba6-8581-dd76391cda4f
* Version Independent ID: 81e719d4-b127-fa41-4cf2-421e91b9d4be
* Content

[2019-12-11 07:56] msebolt commented on #6627
@ChrisColeTech Thank you for the feedback.

Does this apply to a specific set of instructions in the documentation, i.e. with Visual Studio or command-line and what is the specific error?

Please note that since this is the documentation forum our support options are limited.

For further support, you will need to move the issue [here](https://developercommunity.visualstudio.com/content/problem/19

[2019-12-11 07:57] horros opened #6640 "Manual intervention sections 5 and 7 refs nonexistent percentage section"
Sections 5 and 7 of the section "Manual intervention for promoting or rejecting canary" says to set percentage to 25, but there is no such input field when promoting or rejecting a canary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079492cb-bdc3-7ba6-8581-dd76391cda4f
* Version Independent ID: 81e719d4-b127-fa41-4c

[2019-12-11 07:59] msebolt commented on #6628
@ChrisColeTech Thank you again for the feedback.

Please refer to the process from https://github.com/MicrosoftDocs/vsts-docs/issues/6627 to resolve this issue also.

[2019-12-11 09:55] IanKemp commented on #6321
Why would you want to do this?

[2019-12-11 10:30] bertrandpons opened #6641 "How to retrieve pipeline variable in inline script ?"
Hello,

Could you please document how to retrieve pipeline variable in an inline script ?

Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb6bb80-ad9e-525c-3cae-275955b00919
* Version Independent ID: 79d62477-08d2-f412-d59d-d8cbac75dc32
* Content: [PowerShell task - Azure Pipelines](https://docs.microsoft.

[2019-12-11 12:43] AlexChongMicrosoft commented on #6321
@IanKemp thank you for attention. Honestly, one user meets issue after we upgrade the OS image. So the user want to get the privous one. But luckily, we found the root cause and overcome it. It's because customer's component is too old to get the new OS image's support.

Sorry to bother you. But at least, I know it's impossible. Next time I can reply users directly and try to help them find out th

[2019-12-11 13:15] vtbassmatt commented on #6641
It's documented [in the variables topics](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-variables-in-pipeline). We take the variable name, uppercase it, and replace all `.` with `_`, then it's set in the environment.

[2019-12-11 13:15] #6641 closed

[2019-12-11 14:12] a30001539 opened #6643 "Possible error in Environment stanza"
The full definition at https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#environment, indicates that the 'strategy' element can be declared inside the 'environment' stanza, but if you do that you get an error.

/provisioning/azure_devops_templates/jobs/sql.yaml (Line: 12, Col: 7): Unexpected value 'strategy'

My yaml looks like this

jobs:
- deployme

[2019-12-11 14:27] tsahi commented on #3943
Yes. It seems to me that when resolving rebase conflicts, e.g. from master to feature branch, the Target is the master and the Source is the branch.

[2019-12-11 15:34] tannguyen3 commented on #6625
@jashan05 for your case, I don't know any feature that would help. One thing you can try is serializing the variables in build to a file, add it to the artifact and use them in the release.

[2019-12-11 15:36] bertrandpons opened #6644 "How to retrieve build artifact in release to be consumed with yml file"
Hello,

I don't have find any indication on how to be able to retrieve generated build artifact in release pipeline to be deployed, with yaml file. Could you please explain how ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7175ebdc-0bba-7e00-d113-036a5cffe5fa
* Version Independent ID: 149ab9f4-0b7d-97e7-6

[2019-12-11 15:57] mateialexandru commented on #6108
@aosyatnik @PBoraMSFT thanks for this post ! Shed some light on uwp testing infrastructure.

Wanted to ask for clarification on the build agent: do we need a selfhosted agent ? Aka no way around hosted agent images just because they are windows server skus ?
If so, what extra steps did you have to take in configuring the selfhosted agent (assuming that vs, sdk is already installed ) : Is turning d

[2019-12-11 15:58] marcin-vt opened #6645 "Only supported in windows environment"
I think it would be nice to add info about this important limtation: it can only be used in windows environment. So people can avoid this error: "The current operating system is not capable of running this task. That typically means the task was written for Windows only.". Or maybe even better add support for linux....

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-12-11 16:01] devedse opened #6646 "Helm 3.0.1 is not supported"
When trying to use the latest Helm 3.0.1 using the install task everything installs fine, however I run into some trouble when I then try to do a Helm deployment using the Helm Install command:

https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/tasks/deploy/helm-deploy.md

I run into the following error:
[code]

According to the documentation this has been changed to --generate

[2019-12-11 16:04] mateialexandru commented on #6240
Highly recommend getting the documentation in ; spent hours researching online about what and how to do and tried billion of things without success just to find out that you need to do some magic by specificing "*.appxrecipe" patter for mstest build task; yet that is not enough because in some weird scenarios your output would contain multiple "*.appxrecipe" files; so then it's even better to spec

[2019-12-11 16:11] mateialexandru commented on #6239
@vijayma @PBoraMSFT Thanks for driving this!
Highly recommend getting the documentation in ; spent hours researching online about what and how to do and tried billion of things without success just to find out that you need to do some magic by specificing "*.appxrecipe" pattern for mstest build task; yet that is not enough because in some weird scenarios your output would contain multiple "*.appxr

[2019-12-11 17:18] HughDevlin commented on #6630
Seems to me like this tool could gracefully handle selecting among pre-installed Javas. Maybe a new jdkSourceOption 'Pre-installed", which attempts to match on versionSpec and jdkArchitectureOption, if found activates without overhead of download & install.

- script: |
    echo "##vso[task.setvariable variable=JAVA_HOME]$(JAVA_HOME_11_X64)"
    echo "##vso[task.setvariable variable=PATH]$(JAVA_HO

[2019-12-11 17:24] chcomley commented on #6634
Hi @lehmacdj, Thanks for reaching out. I've followed up with the product group for clarification and will be in touch. Have a nice day.

[2019-12-11 17:38] #6606 closed

[2019-12-11 18:07] msebolt commented on #6630
@HughDevlin Thank you for the feedback.

Something like is better handled by the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks) team tasked with adding new features to the source code.

Please start this issue [here](https://github.com/Microsoft/azure-pipelines-tasks/issues) and reference this issue in the description if you'd prefer.

[2019-12-11 18:11] msebolt commented on #6632
@kevinhartman Thank you for the question.

This is a duplicate of https://github.com/MicrosoftDocs/vsts-docs/issues/1142.  Please refer there for any additional questions or comments.

[2019-12-11 18:12] msebolt commented on #6633
@HughDevlin Thank you for the feedback, assigning this to the author for review.

[2019-12-11 18:16] johnterickson opened #6647 "Project scoped feed should be part of the ToC"
Perhaps under "Concepts"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34f46a54-1fe4-6b64-9479-022f3a06cd70
* Version Independent ID: 7f2e7006-865c-5ace-cd85-3b2936db9ffa
* Content: [Project scoped feeds - Azure Artifacts](https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/project-scoped-feeds?view=azure-d

[2019-12-11 18:21] KathrynEE commented on #6598
@NenoLoje - Thanks Neno, I'll update the topic to reflect that it is out of preview.

[2019-12-11 18:21] #6598 closed

[2019-12-11 18:24] KathrynEE commented on #6568
@igoose - The logo has been updated.

[2019-12-11 18:24] #6568 closed

[2019-12-11 18:53] WilliamAntonRohm commented on #6500
@damienpontifex -- Damien, thank you for your follow-up.

@steved0x -- Steve, please look into this issue.

[2019-12-11 18:56] prittelm opened #6648 "Bad link"
Under Related Topics, the link to "Release pipelines and releases" is incorrect and is currently pointing to the current page (Approvals).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b27fd8-df35-5e98-8c6e-2924f541a504
* Version Independent ID: 4c6e6300-2354-a9ec-0cf3-7f935ea268ce
* Content: [Understand approvals a

[2019-12-11 19:24] msebolt commented on #6635
@200even Thank you for the feedback, assigning this to the author for review of the steps.

Note this is a documentation forum and support options are limited to what's outlined in the general steps.

Please direct requests involving specific settings, environments, etc. to either:

- [Azure DevOps Support](https://azure.microsoft.com/en-us/support/devops/)
- [Azure DevOps on StackOverflow](https:

[2019-12-11 19:32] WilliamAntonRohm commented on #6493
@steved0x -- please review this change in the above-mentioned PR 615.

[2019-12-11 19:42] msebolt commented on #6636
@biohazard999 Thank you for the feedback, assigning this to the author for review.

[2019-12-11 19:47] 200even commented on #6635
Thanks @msebolt. In this case, I'm specifically requesting an example to be included in the documentation alongside the existing YAML example.

[2019-12-11 20:50] damienpontifex commented on #6500
CI Pipeline
[code]

CD Pipeline
[code]

The master branch trigger works as describe in the docs triggering and getting those resources.

Couple of scenarios I tried:
* Queue CI on branch feature/1 and wait until finish
* Manually Queue CD on branch feature/1
This CD run gets resources from feature/1

If I:
* Queue CI on branch feature/1 and wait until finish
* Queue CI on branch master and wait un

[2019-12-11 22:25] WilliamAntonRohm commented on #6500
@damienpontifex -- Damien, you're welcome to [add your feature request here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2019-12-11 22:52] WilliamAntonRohm commented on #6519
@patchandthat -- Patrick, thank you for your feedback.

@srivatsamarichi -- Srivatsa, thank you for the follow-up.

[2019-12-11 22:52] #6519 closed

[2019-12-11 22:57] #6509 closed

[2019-12-11 22:58] johnterickson commented on #6622
@msebolt  That link is only relevant for the data import process (moving from on-prem to hosted).  This page is about which IP address you need when you use the hosted service.

[2019-12-11 22:59] WilliamAntonRohm commented on #6509
@yelenapakumirzakova -- Yelena, thank you for bringing this to my attention.  It has been fixed in the documentation and should be live by tomorrow.

[2019-12-11 23:00] johnterickson commented on #6622
I removed vsassets.io as it was already listed above.

[2019-12-12 02:15] msebolt commented on #6637
@darsh2311 Thank you for the question.

Out of box setup requires Visual Studio, refer to [UI Test with Selenium](https://docs.microsoft.com/azure/devops/pipelines/test/continuous-test-selenium).

However, for a custom approach you can run Selenium from `java` like [this post](https://stackoverflow.com/questions/1231975/i-want-to-run-selenium-test-case-file-from-command-line) describes, then wrap

[2019-12-12 02:20] msebolt commented on #6638
@VOVELEE Thank you for the question.

Please refer to the [Azure DevOps timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline) for new features currently slated on the release schedule.

If this feature is missing, provide input to and get feedback from the product team by submitting this as a feature request [here](https://developercommunity.visualstudio.com/content/id

[2019-12-12 02:25] msebolt commented on #6639
@horros  Thank you for the feedback, assigning this to the author for review.

[2019-12-12 02:25] msebolt commented on #6640
@horros  Thank you for the feedback, assigning this to the author for review.

[2019-12-12 03:36] msebolt commented on #6643
@a30001539 Thank you for the feedback, assigning this to the author review.

[2019-12-12 03:45] msebolt commented on #6644
@bertrandpons Thank you for the question.

Please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/2341 for an extensive discussion on the subject.

[2019-12-12 05:03] farzadmf opened #6649 "Include Software Link is Broken"
It seems that the `README` for included software has moved to another repo (`virtual-environments`), but the links are still pointing to `azure-pipelines-image-generation` repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e

[2019-12-12 05:58] allensh929 opened #6650 "can I test webhook service integration from localhost？"
this is maybe not an issue.
My case is:
I set up ADS in local, and create a webhook defined the target URL like https://xxxx.azurewebsites.net/api.
but it's failed when I try to trigger it from the localhost.
for example, I create workitem.created a webhook, but the target service didn't get an event when I create a work item on local.

Much appreciate anyone who can answer it.
thank.

[2019-12-12 07:45] bertrandpons commented on #4808
You can refer to this page: https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=azure-devops&tabs=batch

[2019-12-12 07:53] bertrandpons commented on #6644
@msebolt Thank you for your answer and the link. The thing is that I cannot retrieve my zip file contained in a specific artifact to be deployed with app service deployment task. I tried many combinations to be able to specify the right path to the zip package but I have not found the right way.

Is there a documentation or something to do this very simple step in yaml: publish artifact in build t

[2019-12-12 07:55] VOVELEE commented on #6638
Thanks.

I already reviewed timeline - there is nothing planned for Git Tagging and wikis.
I have submit feature [request](https://developercommunity.visualstudio.com/idea/854050/enable-azure-devops-wiki-to-support-for-tagging-to.html)

[2019-12-12 07:55] #6638 closed

[2019-12-12 08:43] hmz opened #6651 "About authorization error"
I was able to run "tf git permission" command but now it gives "TF.exe : TF30063: You are not authorized to access https://dev.azure.com/my_project.". I tried this on a new VM to check if any credentials cached, it was asking for me to enter my account credentials before but now it throws this authorization error directly without asking for credentials. My account has the Project Collation Admin r

[2019-12-12 08:48] #6651 closed

[2019-12-12 08:58] hmz commented on #6651
I was trying with powershell, it is working with powershell but before using powershell I need to use Developer Command Prompt so it will ask me for my account credentials than I can use the commands on powershell ISE.

[2019-12-12 09:32] kitingChris commented on #5271
is there an update? This concept would be a great enhancement!

[2019-12-12 11:45] mithunshanbhag commented on #6649
Yup, all these links are now broken.

![image](https://user-images.githubusercontent.com/2327905/70709510-06897300-1d03-11ea-9c01-39e0d4f8bad0.png)

[2019-12-12 11:47] philspokas opened #6652 "Generated archtectype does not build on Windows Subsystem for Linux"
I'm using Ubuntu WSL
I copy the command straight from a copy in the subsystem
The generated pom.xml is not sufficient to build

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a845b604-ed87-fb81-fcea-3ef43062f445
* Version Independent ID: 45762c44-81aa-9c59-6011-b57e5f8f4796
* Content: [Get started with Maven packages -

[2019-12-12 12:22] mithunshanbhag commented on #6649
I've submitted a PR to fix the broken links. Please merge: https://github.com/MicrosoftDocs/vsts-docs/pull/6653

[2019-12-12 12:52] FrankHeimes opened #6654 ""Path to solution" does not support the minimatch pattern fully"
The default string for the _Path to solution_ parameter is `**/*.sln`
This creates the impression that this parameter supports the minimatch pattern, but it does not.
Specifically, it does not honor exclude patterns.

E.g. the pattern:  `Main\**\*.sln;-:**\Libs\**` will include all solution files below `Main` but not exclude any in `*\Libs\*`.

The property does accept multiple include patterns, l

[2019-12-12 12:59] vtbassmatt commented on #5271
Apologies, this took longer than expected. New ETA is mid-January.

[2019-12-12 13:26] Seabizkit commented on #6563
how do i see the result of the File Transform, its a task in release but can not see how i can see the results of the files which it has or has not applied to. FFS i really wish there were more examples of how 99% of people would be setting up builds and releases.

[2019-12-12 13:30] ctahok opened #6655 "Reference and picture is outdated"
The page says "Choose (1) Project Settings, choose (2) GitHub connections", well there is no GitHub Connections under Project Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04afcda8-8a01-6fda-8387-778feaba9fea
* Version Independent ID: a0c518ee-dc43-42a6-07d9-150dfa8724c3
* Content: [Connect a project to a Gi

[2019-12-12 14:04] GAUTAMSIM commented on #3087
Can you please tell me more about the [7z file](https://opendllfiles.com/open-7z-files/), I am going to use this code in my computer, so can you please help me out?

[2019-12-12 14:09] RyanWeishalla opened #6656 "Add the --collection option to the documentation under the Deployment Group Only section of the unattend scripts."
The --collection parameter is not included in the documentation for creating the deployment group only under the unattend section.  This is needed otherwise it cannot find the correct location to be able to install the agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version

[2019-12-12 14:21] davestephens commented on #5570
I find it somewhat surprising that there's no mention of this in the docs!

[2019-12-12 14:25] chrisevans9629 opened #6657 "Capabilities Tab does not show system capabilities"
The capabilities tab no longer shows the system capabilities.  Where can I see the capabilities of an agent that are not user capabilities?  This doc is not accurate in this respect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Independent ID: be9a6174-a69b-7aed-d584-5f6

[2019-12-12 14:26] chrisevans9629 commented on #6657
![image](https://user-images.githubusercontent.com/33850520/70720229-08c6df80-1cb9-11ea-8df0-141c4eea9282.png)

[2019-12-12 14:28] jimicze opened #6658 "Build options for YAML"
We shifted our builds to YAML def, but the options tab is gone. How can i define creating workitem after build fails?? (e.g. bug) Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521b594c-dbb9-54d5-f56f-00e2f5fa1d92
* Version Independent ID: 509d3e4e-23db-8493-e1a6-acb67ec47e81
* Content: [Customize your pipeline

[2019-12-12 15:39] tashrifbillah commented on #6067
Thanks for patiently working on it for two months. I have tested your fix. I would like to point out that the following warning didn't go away:
[code]
Test runs fine but test output is shown in one single line compared to nicely colored multi line output from manually downloaded GoogleContainerStructureTest tool:

Total Tests: 1, Pass: 1, Fail: 0

A new warning appeared:
[code]

Given that, I don'

[2019-12-12 16:22] Gary-Peluso opened #6659 "Demands for Azure File Copy task is incorrect"
The Demands section of the Azure File Copy task documentation says none.  But the task will require the "azureps" capability on the agent.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops

[2019-12-12 16:25] jimlamb commented on #6658
I'm working on this one.

[2019-12-12 17:53] chcomley commented on #6634
Hi @lehmacdj,
Removing the .order file is the only way to do so, however the following process may be easier, which I've added to the article:
When there's no *.order* file the pages are sorted alphabetically. To revert to alphabetical sorting, do the following steps:
1. Copy the clone URL for the Wiki and open it in a browser.
   Doing so opens the Git Repo (Files Hub), which backs the Wiki.
2. N

[2019-12-12 18:04] #6634 closed

[2019-12-12 18:05] nadcraker opened #6660 "Is this supported on Azure Devops Server 2019 or not?"
We are running Devops Server 2019, on prem. When I try and use this task I get the following error: "##[error]Failed to get artifact tool. Universal Packages are not supported in Azure DevOps Server."

This page however says that this task can be run on "Azure Pipelines | Azure DevOps Server 2019 | TFS 2018"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-12-12 18:51] aosyatnik commented on #6108
Hi @mateialexandru .
I used ms agent, with a self-hosted agent it didn't work. SO you do not need a self-hosted agent. You might check my branch in repo here: https://dev.azure.com/melashkina0755/UWP_App_With_Tests/_git/81b0f53a-f8d9-46da-a794-36706ca7bbf5

There you will find `azure-pipelines.yml` file. There you can find
[code]

This is ms agent:
![image](https://user-images.githubusercontent.co

[2019-12-12 18:51] chcomley commented on #6582
@JimsonChalissery Please see the above comment and address. Please let me know if we need an update to the article, as well. Thank you!

[2019-12-12 19:13] Flaniga3 commented on #4486
Our automation platform depends on standardization and simplicity via pipelines as coded templates. Is this, clearly high-demand, feature going to get implemented anytime soon?

[2019-12-12 19:25] rajarshi-singh opened #6661 "Helm v3.0 in docs"
Please update examples to mention Helm v3.0, it seems like this task supports it now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6730d493-93eb-12c0-eae3-a60f9462ab18
* Version Independent ID: 5b6ce957-8fa9-43d5-dc1a-129ddd553910
* Content: [Helm installer task - Azure Pipelines & TFS](https://docs.microsoft.com/en-

[2019-12-12 19:41] abby-d-chr opened #6662 "Typo - Web.Contents"
Typo in https://docs.microsoft.com/en-us/azure/devops/report/powerbi/data-connector-functions?view=azure-devops#vstsaccountcontents
The second paragraph says Web.Concents when it should say Web.Contents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbdc5841-fa63-c6df-8b26-90f05ffb6210
* Version Independent ID: dba4d2

[2019-12-12 21:22] sulu99 opened #6663 "The Graphics are out-of-date on this page about running automated tests."
The graphics need an update for Azure-related automated tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6c92a2-2f5c-e34e-f285-3e1a2a02604b
* Version Independent ID: 6f31f4c2-94ac-20eb-da01-e1d47f041945
* Content: [Run automated tests from test plans - Azure Test Plans](https://docs.microsoft.com/en-us/azure/dev

[2019-12-12 22:16] ata18 commented on #6534
Same issue here. Trying to run a template based on a condition. The conditional variable is set through the UI during queue time.

[code]

The template is executed irrespective of the value set in `runSetup`.

[2019-12-12 22:23] #6502 closed

[2019-12-12 22:23] #6503 closed

[2019-12-12 22:24] #6508 closed

[2019-12-12 22:24] #6515 closed

[2019-12-12 22:31] WilliamAntonRohm commented on #6646
@devedse -- Devedse, thank you for your feedback.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@shashankbarsin -- Shashank, please look into this potential documentation issue.

[2019-12-12 23:11] ata18 commented on #6534
Same issue here. Trying to run a template based on a condition. The conditional variable is set through the UI during queue time.
[code]
The template is never executed irrespective of the value set in runSetup.

[2019-12-12 23:14] trevvv123 commented on #6438
Any updates on this? Our Org is managed centrally and we only get Team Admins access, not Project Admins, so it would be great if we didn't need to provide Project Admin permissions

[2019-12-12 23:43] ata18 commented on #6534
Using `$[` instead of `${{` results in the following error.

[code]

/pipelines/bringup-accumulo-cluster-on-demand.yml (Line: 59, Col: 5): Unexpected value '$[ if in(variables['runLaunch'], 'true', 'True') ]',/pipelines/bringup-accumulo-cluster-on-demand.yml (Line: 66, Col: 5): Unexpected value '$[ if in(variables['runWipe'], 'true', 'True') ]',/pipelines/bringup-accumulo-cluster-on-demand.yml (Li

[2019-12-13 00:00] dotnetcanuck commented on #6005
@tesharp @kine @Barsonax I've posted a feature request for this to be changed.

https://developercommunity.visualstudio.com/idea/855198/yaml-pipeline-approvals-rejection-fails-build.html

cc @shashban @mijacobs @msebolt

[2019-12-13 00:17] NenoLoje opened #6664 "Some icons not loading"
Some icons on this page do not load correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c00c80cb-e1fa-8af1-25a7-0e1fd679b879
* Version Independent ID: 51baa23d-66da-3d19-ddc7-56c101e9e09d
* Content: [Feature overview for Azure DevOps - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/user-guide/alm-dev

[2019-12-13 00:17] NenoLoje commented on #6664
Screenshot:

![grafik](https://user-images.githubusercontent.com/13981145/70759348-5e959900-1d46-11ea-91b3-191b773c357d.png)

[2019-12-13 01:56] WilliamAntonRohm commented on #6649
@farzadmf -- Farzad, thank you for your feedback.

@mithunshanbhag -- Mithun, I appreciate your creating a PR for these.

@steved0x -- Steve, please look into this issue & the corresponding PR.

[2019-12-13 01:59] WilliamAntonRohm commented on #6650
@allensh929 -- Allen, you may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-12-13 01:59] #6650 closed

[2019-12-13 02:02] WilliamAntonRohm commented on #6652
@philspokas -- Phil, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https

[2019-12-13 02:04] WilliamAntonRohm commented on #6654
Frank, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-12-13 02:04] #6654 closed

[2019-12-13 04:14] navin22 commented on #6067
@tashrifbillah - Thanks for the feedback. loc warning, I couldn't repro it locally.
Will see how to reproduce that.
Regarding the new warning, what's the Agent Version you are using?

[2019-12-13 04:23] tashrifbillah commented on #6067
I appreciate your cooperation. Can you take a look at [Initialize Job](https://dev.azure.com/tbillah/ci-cd-with-docker/_build/results?buildId=163) log to see agent version? The devops project is public so you should be able to see the logs. The log I hyperlinked says:
`Current agent version: '2.163.1'`

[2019-12-13 04:41] navin22 commented on #6067
Can you re queue your pipeline?, I switched off some flags at my end.
Wanted to check on the new warning introduced `##[warning]Failed to publish test run data: System.ArgumentException: Unknown test runner`

This will help you to see the test results in the `Tests` tab.

[2019-12-13 04:53] tashrifbillah commented on #6067
1. I do confirm that with your modification the `##[warning]Failed to publish test run data: System.ArgumentException: Unknown test runner` went away. [Here](https://dev.azure.com/tbillah/ci-cd-with-docker/_build/results?buildId=164) are the new logs.

2. You are right, now I need to figure out a way from your documentation about publishing test results and artificats on the `Tests` tab. I was fol

[2019-12-13 05:11] navin22 commented on #6067
For #3 we will fix it in the next task update, and #1 we will fix it properly in the next agent version. Will see If I can back port the fixes to the previous versions.

Regarding #2, was the test tab helpful in seeing the test details ? I didn't get your question "publishing test results and artifacts on the `Tests` tab".?

#4 - Will fix this, but in general. Since we show the nice report in the

[2019-12-13 05:38] tashrifbillah commented on #6067
My apologies, I didn't realize with your fix the results already got exported to the `Tests` tab. Great!

You are right, I may no longer need to look at the logs. I need to do a few tests and get back to you.

[2019-12-13 06:06] msebolt commented on #6659
@Gary-Peluso Thank you for the feedback, assigning this to the author for review.

[2019-12-13 06:11] msebolt commented on #6660
@nadcraker Thank you for the feedback.

This feature is still in the process of being released as per [this thread](https://developercommunity.visualstudio.com/content/problem/447345/universal-package-publish-support-for-devops-serve.html).

Please refer there for updates and/or create a new thread for the product team to address in the [Azure DevOps community](https://developercommunity.visualstu

[2019-12-13 06:12] msebolt commented on #6661
@rajarshi-singh Thank you for the feedback, assigning this to the author for review.

[2019-12-13 06:13] msebolt commented on #6662
@abby-d-chr Thank you for the feedback.

We'll get the documentation updated shortly.

[2019-12-13 06:14] msebolt commented on #6663
@sulu99 Thank you for the feedback, assigning this to the author for review.

[2019-12-13 06:16] msebolt commented on #6664
@NenoLoje Thank you for the feedback.

We'll get the document updated shortly.

[2019-12-13 06:18] RoopeshNair commented on #6659
@ninallam

[2019-12-13 06:20] msebolt commented on #6610
Closing the issue now.

[2019-12-13 06:20] #6610 closed

[2019-12-13 06:20] msebolt commented on #6611
Closing the issue now.

[2019-12-13 06:20] #6611 closed

[2019-12-13 06:20] msebolt commented on #6612
Closing the issue now.

[2019-12-13 06:20] #6612 closed

[2019-12-13 06:21] msebolt commented on #6627
Closing the issue now.

[2019-12-13 06:22] msebolt commented on #6628
Closing issue now.

[2019-12-13 06:23] msebolt commented on #6630
Closing issue now.

[2019-12-13 06:23] #6630 closed

[2019-12-13 06:23] msebolt commented on #6637
Closing issue now.

[2019-12-13 06:23] #6637 closed

[2019-12-13 07:40] christopheblin opened #6666 "Explicit documentation for the option feedRestore that is not usable for dotnet test"
If you use

[code]

Then the feedRestore (and other options) are simply ignored and the build fails with an error saying `error NU1101: Unable to find package XXX. No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages, nuget.org`

The solution is to explicitly have restore > build > test tasks but this should be explicitly added to the documentation (maybe in troubl

[2019-12-13 10:34] ast-devops opened #6667 "Cannot read $(BUILD.SOURCEVERSIONMESSAGE) when check-in comment contains single quotes (')"
We have a requirement to save all build, release details to a long term log. I had setup a SQL step to inset the env. variables to a DB table. everything worked fine until a code merge was done.  generating a $(BUILD.SOURCEVERSIONMESSAGE) value
"#20191210.8 Merge branch 'AzureID' of https://abc.visualstudio.com/"

with the single quote (') in the  $(BUILD.SOURCEVERSIONMESSAGE) noting can be done,

[2019-12-13 10:49] bertrandpons commented on #6644
@msebolt well actually I have found a way that works:
I use the task PublishPipelineArtifact@1 on build side with the targetPath set to '$(Build.ArtifactStagingDirectory)'
Then on deployment side, I use the task DownloadPipelineArtifact@2 with buildType set to 'current' and downloadPath set to '$(Build.ArtifactStagingDirectory)'

[2019-12-13 12:25] ChrisColeTech commented on #6628
There is no 'Clone' button on VSTS repos' so step 2 fails. And you can't use GIT command, because it says "fatal error". Thanks for the reply.

[2019-12-13 12:30] ChrisColeTech commented on #6627
There is no 'Clone' button on VSTS repos -

<img width="1404" alt="Screen Shot 2019-12-13 at 7 26 12 AM" src="https://user-images.githubusercontent.com/33706157/70800313-e9dc5200-1d79-11ea-812e-9c18c8c0b1b9.png">

so step 2 fails.

Also, it does not work from the command line:

<img width="565" alt="Screen Shot 2019-12-13 at 7 29 18 AM" src="https://user-images.githubusercontent.com/33706157/70800

[2019-12-13 13:47] vijayma commented on #6557
Working on this.

[2019-12-13 13:47] vijayma commented on #6553
Working on this.

[2019-12-13 13:49] vijayma commented on #6445
Working on this.

[2019-12-13 14:06] steved0x commented on #6657
I'm taking a look, thank you for letting us know.

[2019-12-13 14:08] damccorm commented on #6648
Thank you for your feedback - I'm taking a look at this now and will update the doc.

[2019-12-13 14:25] steved0x commented on #6657
@chrisevans9629 You can see all the software that is installed on the Microsoft-hosted agents here:

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent

I am finding out why that info is removed from the Capabilites tab in the Agent settings (is it a glitch or is it gone, but maybe displayed elsewhere?)

I will report back as soon a

[2019-12-13 14:26] damccorm commented on #6648
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-13 14:26] #6648 closed

[2019-12-13 14:31] steved0x commented on #6656
@RyanWeishalla Thank you for letting us know, I am taking a look at this one.

[2019-12-13 14:31] chrisevans9629 commented on #6657
The links to the included software seem to be broken, for example:
https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.14-Readme.md

[2019-12-13 14:33] jeanpoelie opened #6669 "Add next step after creating the image"
Create the next step to use Releases to deploy your newly made image to kubernetes cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45ba2ebe-27c4-111b-18b4-0192d8c3fb3a
* Version Independent ID: f48fdf00-e04f-b406-93f3-20b7fad568be
* Content: [Build and push to Azure Container Registry - Azure Pipelines](https:/

[2019-12-13 14:36] damccorm commented on #6633
Thanks for your feedback - I'm taking a look.

[2019-12-13 14:50] steved0x commented on #6657
Found them, will have the links updated shortly, here is the page for macos10.14

https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.14-Readme.md

[2019-12-13 14:54] damccorm commented on #6633
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-13 14:54] #6633 closed

[2019-12-13 15:00] justhchung commented on #6284
Thank you for your feedback.
We are closing this issue and directing you to seek an answer through our support web site: [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-13 15:00] #6284 closed

[2019-12-13 15:00] damccorm commented on #6535
Hey @willowJohn - we don't install PowerShell, we just use whatever version of PowerShell you have on your path - I'm a little confused about what text field you're mentioning, would you mind clarifying?

[2019-12-13 15:02] damccorm commented on #6518
Thank you for your feedback - I'm taking a look!

[2019-12-13 15:08] JSaaS commented on #6328
Yep, it does clutter up things when developing. Also, it seems to throw inexperienced (me!) developers off track when it comes to finding the true error in their code.

With that said. I have the same issue. But, if I interpret this thread right I should ignore this?

[2019-12-13 15:09] justhchung commented on #6436
Thank you for your feedback.
We are closing this issue and directing you to seek an answer through our support web site: [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-13 15:09] #6436 closed

[2019-12-13 15:13] vijayma commented on #6363
Working on this.

[2019-12-13 15:15] abby-d-chr opened #6670 "Variables for templates?"
Can you add information about whether or not it's possible to use variables (such as @currentiteration) in templates for auto-populating relative information (such as team or date)?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1debd814-eb48-c984-a4f9-7606093e9617
* Version Independent ID: f48ef796-c2e3-8fa3-6

[2019-12-13 15:15] damccorm commented on #6510
Thanks for your feedback - I'm taking a look!

[2019-12-13 15:18] pierowman commented on #2844
Fyi for all that read this
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
variables:
  - group: vault1
  - group: vault2

This allows multiple variable groups

[2019-12-13 15:23] damccorm commented on #6518
It turns out `ubuntu-latest` actually points to `ubuntu-16.04`, `ubuntu-16.04` and `ubuntu-18.04` both seem right though. We had to roll `latest` back to point to `16.04` due to capacity issues which have since been fixed. We're tracking a work item to make `latest` point to `18.04` again, that should go out after the holidays.

I'm going to close here since we're tracking the work to fix this on

[2019-12-13 15:23] cmking81874 commented on #6666
I'm taking a look, thank you for letting us know.

[2019-12-13 15:25] wnjenkin commented on #6300
@rjmille2 thank you for reporting this. Working on a fix

[2019-12-13 15:31] steved0x commented on #6657
OK found them all except for VS2015, will get that added shortly. Ont he Agent Pools page, system capabilities are displayed for Self-hosted agents, but system capabilities are not used for Hosted agents and so are not displayed. I have updated the documentation to cover this. As soon as I get the link for VS2015 I will get this published. Thank you for letting us know!

[2019-12-13 15:31] damccorm commented on #6510
Hey @mahilleb-msft it looks like this section does what you're asking for - https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops#using-the-cache-task - is there any specific info you think its missing?

[2019-12-13 15:34] damccorm commented on #6487
Hi, thanks for the feedback - I'm taking a look!

[2019-12-13 15:44] todomedahueva commented on #3849
I had the same issue here the swolution:

You need to create the next path:

Docs/pull_request_template/additional.md

and my default template is at

Docs/pull_request_template.md

best regards.

[2019-12-13 15:45] mjroghelia commented on #6618
I'm looking at this one.

[2019-12-13 15:46] damccorm commented on #6418
Hey @evmimagina - Azure DevOps agents share the same IPs as the machines they're running on, so they're the same as the IPs we publish, as described [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges)

[2019-12-13 15:46] damccorm commented on #6418
Thank you for your feedback.
We are closing this issue as there is no action to take on our part to address the issue.  The guidance provided is correct.

[2019-12-13 15:47] wnjenkin commented on #5180
@carlos-quintero thanks for report. Working on an update to this document

[2019-12-13 15:48] damccorm commented on #6487
Thank you for your feedback.
The article reference is being updated to reference the link you mentioned.

[2019-12-13 15:48] #6487 closed

[2019-12-13 15:49] steved0x commented on #6649
Thank you for letting us know, I am tracking down the vs2015 link and will get it updated as soon as I find it, and I have approved your PR. Thank you!

[2019-12-13 15:49] #6649 closed

[2019-12-13 15:51] steved0x commented on #6643
#reassign:juliakm

[2019-12-13 15:54] evmimagina commented on #6418
Non sense, on that list is not clear which category includes the Azure Devops Agents….

[2019-12-13 15:54] steved0x commented on #6601
I am working on this one and it should be updated shortly.

[2019-12-13 15:59] damccorm commented on #6418
Hey @evmimagina - could you help me out a bit - which step are you getting stuck on? I can try to clarify here or in the docs as necessary:

[2019-12-13 16:00] mjroghelia commented on #6618
@BenResTech Thank you for your feedback. The documentation you referenced is describing the automatic translation of pipeline variables to environment variable and does not pertain to the environment variables you explicitly define yourself via the `env` options. Environment variables you yourself declare will remain as you declare them. In the following example, the first echo demonstrates what i

[2019-12-13 16:00] #6618 closed

[2019-12-13 16:10] mahilleb-msft commented on #6510
thanks @damccorm .. Usually there's something like for example https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/maven?view=azure-devops under the "Reference > Tasks" section, which has like an overview on just the "schema" if you will...

[2019-12-13 16:12] damccorm commented on #6329
Hey @spottedmahn thanks for the feedback! Its definitely true that stages can be used for this kind of divide and this often makes sense, especially as your pipeline becomes more complex (e.g. I might want to build on one platform and test on 3 others, so I can't run all of my steps in a single job). In general, though, its equally valid to build and test in a single job.

For the sake of simplici

[2019-12-13 16:12] #6329 closed

[2019-12-13 16:13] evmimagina commented on #6418
Ok, let me explain like that… we have that json file, right?

It starts like this;

{
  "changeNumber": 90,
  "cloud": "Public",
  "values": [
    {
      "name": "AzureActiveDirectory",
      "id": "AzureActiveDirectory",
....

Could someone know the name or id where the agent machines fall?

would be nice if the document points to the category that someone should look when trying to find the poo

[2019-12-13 16:13] damccorm commented on #6510
Ah, I see - that makes sense, I'll look at adding that. Thanks for the suggestion!

[2019-12-13 16:13] mahilleb-msft commented on #6510
thanks @damccorm

[2019-12-13 16:15] vtbassmatt commented on #3631
I'm tweaking the docs slightly, and I've reactivated a bug in the agent repo to consider making `arguments` work with inline scripts. It's a product issue, not a doc issue, so I'll be closing this one.

[2019-12-13 16:15] shashban commented on #6644
I am glad you were able to resolve the problem.
You can also use [publish](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#publish) and [download] (https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#download) macros instead of the complete tasks to the same effect.
Closing this issue now.

[2019-12-13 16:15] #6644 closed

[2019-12-13 16:22] #3631 closed

[2019-12-13 16:22] tashrifbillah commented on #6067
Okay, test results appeared in the `Tests` tab:

![image](https://user-images.githubusercontent.com/35086881/70813884-451d3d00-1d98-11ea-90e6-74b617fd7f51.png)

But the traceback/details of my `pytest -v` are not in the `Tests` tab, so I would still need to look at the logs:
[code]

However, following [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?vi

[2019-12-13 16:32] BenResTech commented on #6618
@mjroghelia I'm sorry but I don't think that that is the case (or if it is the case then the page needs changing). The page states (in the 'Understand Variable Syntax' section):
[code]
(Bold emphasis is mine)

If what you say is true and only variables defined at the pipeline level are manipulated in that way, then the above extract is wrong.

In addition the section in 'Set Variables in Pipelines

[2019-12-13 16:32] vtbassmatt commented on #4941
We don't document anything other than native Docker mounts, which are mentioned [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#container-resource). The `volumes` syntax matches Docker Compose format.

[2019-12-13 16:32] #4941 closed

[2019-12-13 16:45] Cutux opened #6672 "Helm Task doesn't support Helm 3."
Hello,

Currently I'm trying to package my chart in Azure Devops using the Helm task, first I'm installing version 3.0.1 and it completes fine, but when I run 'helm package' I get the following error:

[code]
This is blocking our releases, so please I hope you guys can help us.

Thanks in advance.

Regards.

[2019-12-13 16:56] spottedmahn commented on #6329
Hi @damccorm 👋

Fair enough, I get it, makes sense.  Appreciate the thoughtful response, thanks 😃.

[2019-12-13 17:09] jimlamb commented on #6636
Taking a look at this one.

[2019-12-13 17:27] vijayma commented on #6557
Thank you for your feedback.
The article is being updated to address the issue.

[2019-12-13 17:27] #6557 closed

[2019-12-13 17:27] marcpopMSFT commented on #4502
Taking a look at this update now.

[2019-12-13 17:27] vijayma commented on #6553
Thank you for your feedback.
The article is being updated to address the issue.

[2019-12-13 17:27] #6553 closed

[2019-12-13 17:28] vijayma commented on #6445
Thank you for your feedback.
The article is being updated to address the issue.

[2019-12-13 17:28] #6445 closed

[2019-12-13 17:30] vijayma commented on #2967
Thank you for your feedback.
The article has been updated to clarify this. This has been a popular ask to honor path filters when pushing new branches, and we are glad that we have been able to complete that work.

[2019-12-13 17:30] #2967 closed

[2019-12-13 17:31] vijayma commented on #6363
Thank you for your feedback.
The article on [triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml) has been updated to address the issue.

[2019-12-13 17:31] #6363 closed

[2019-12-13 17:46] hanneswidrig commented on #6328
I haven't noticed any issues with my extension even though I see the error. @JSaaS

[2019-12-13 17:47] shashban commented on #6601
Thanks for reporting Neno. Getting it fixed now.

[2019-12-13 17:47] vijayma commented on #6441
Working on updating the doc.

[2019-12-13 17:53] vijayma commented on #5703
You have flexibility in order to use steps, jobs, or stages. Steps share the most - same agent, files, etc. Jobs and stages are higher level constructs that are intended for various other scenarios. For instance, if you want to build once and test on multiple platforms, you need these constructs. Or, if you need to build on multiple platforms, then you need these constructs as you need a different

[2019-12-13 17:53] #5703 closed

[2019-12-13 17:55] vijayma commented on #6233
Working on this update to the doc.

[2019-12-13 18:05] #4502 closed

[2019-12-13 18:13] #4869 closed

[2019-12-13 18:14] damccorm commented on #6510
Thank you for your feedback.
I've added a doc which should roll out shortly

In the meantime - this is the yaml snippet:
[code]

And here's the descriptions:
<table>
<thead>
<tr>
<th>Argument</th>
<th>Description</th>
</tr>
</thead>
<tr>
<td>Key (unique identifier) for the cache</td>
<td>
<p>This should be a string that can be segmented using '|'. File paths can be absolute or relative to $(System

[2019-12-13 18:14] #6510 closed

[2019-12-13 18:24] steved0x commented on #6555
I'll get this updated, thanks for letting us know.

[2019-12-13 18:24] damccorm commented on #6168
@Blightysoft this is working for me - see my repro here - https://dev.azure.com/damccorm-repros/mac-os-set-variable/_build/results?buildId=305&view=results.

Any chance you could share a yaml snippet that isn't working for you?

[2019-12-13 18:26] vijayma commented on #6441
Thank you for your feedback.
The article has been updated to address the issue.

[2019-12-13 18:26] #6441 closed

[2019-12-13 18:27] vijayma commented on #6233
Thank you for your feedback.
The article has been updated to describe what "no queuing policies" means.

[2019-12-13 18:27] #6233 closed

[2019-12-13 18:28] vtbassmatt commented on #5271
This isn't a doc issue, the feature doesn't exist right now. Closing, and we'll definitely update the docs when the new feature is available.

[2019-12-13 18:28] #5271 closed

[2019-12-13 18:30] #5427 closed

[2019-12-13 18:30] steved0x commented on #6493
I'm updating this one.

[2019-12-13 18:30] justhchung commented on #3628
Thank you for your feedback.

We are closing this issue and directing you to seek an answer through our support web site: [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-13 18:30] #3628 closed

[2019-12-13 18:31] vijayma commented on #3354
Variables tab has now been prominently added on both YAML and classic pipelines. This has been addressed in the product.

[2019-12-13 18:31] #3354 closed

[2019-12-13 18:31] vtbassmatt commented on #5489
There's not a way to do this. Parameters are fully evaluated at template compilation time, while matrix variables are not available until job runtime.

[2019-12-13 18:31] #5489 closed

[2019-12-13 18:32] #6493 closed

[2019-12-13 18:32] justhchung commented on #4170
Thank you for your feedback.
We are closing this issue and directing you to seek an answer through our support web site: [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-13 18:32] #4170 closed

[2019-12-13 18:33] damccorm commented on #6418
Because we're just spinning up a VM in Azure, that's basically what is necessary - we intentionally don't have dedicated machines (and along with that IPs) for scale reasons, and we offer [self hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#install) if that's not a security boundary you're comfortable with.

Even if we could offe

[2019-12-13 18:33] vtbassmatt commented on #5510
The actual problem here is the presence of resources in a template, and the error message in Server 2019 wasn't great. We've fixed that for the service (and a future Server release will contain the fix).

[2019-12-13 18:33] #5510 closed

[2019-12-13 18:35] vtbassmatt commented on #5915
This must be something to do with classic RM pipelines. Classic and YAML builds never made artifacts available by default; you always had to opt into work. @ashokirla can maybe comment.

[2019-12-13 18:35] StefanSchoof commented on #6233
Thanks @vijayma

[2019-12-13 18:36] vtbassmatt commented on #6078
Manual intervention is not a supported server-side task in YAML, and the doc has been updated to reflect that.

[2019-12-13 18:36] #6078 closed

[2019-12-13 18:38] vtbassmatt commented on #6535
The PowerShell task doesn't take a PowerShell version as input. Perhaps this is related to a Marketplace task or something?

[2019-12-13 18:38] #6535 closed

[2019-12-13 18:40] justhchung commented on #4314
Thank you for your feedback.
We are closing this issue as there is no action to take on our part to address the issue.  The guidance provided is correct.

[2019-12-13 18:40] #4314 closed

[2019-12-13 18:43] damccorm commented on #5947
Hey @cawoodn - this is documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml#examples) - basically you can just set a condition on different tasks or jobs using `Build.SourceBranch`.

I'm going to close since I don't think there's any action for us on our end here.

[2019-12-13 18:43] #5947 closed

[2019-12-13 18:45] wnjenkin commented on #5180
@carlos-quintero I've update the doc with a note that wild cards are not supported. The change will be pushed in the next update.

[2019-12-13 18:45] #5180 closed

[2019-12-13 18:48] vtbassmatt commented on #5837
After doing some research, I see now that Amazon ECR has a proprietary mechanism for getting an auth credential that Docker understands. This means that, without feature work in the Azure Pipelines agent, this likely won't work.

If anyone is keen to have this feature, we accept pull requests on https://github.com/microsoft/azure-pipelines-agent. The work would be in converting an AWS service conn

[2019-12-13 18:48] damccorm commented on #5900
Hey @aapalm, thanks for the feedback - you definitely can do that, we don't doc it because for the vast majority of use cases its probably simpler to do the following (which is what we doc and recommend):

[code]

The reason output variables are useful for this in particular is because they can dynamically generate the matrix for the next job, if you just use normal variables you don't get that ad

[2019-12-13 18:48] #5900 closed

[2019-12-13 18:49] vijayma commented on #2966
As Josh explained, you can view the artifacts now in the UI (enable multi-stage pipelines preview feature). You can find the URL by opening the browser tools and looking at the network call. It is of the form: https://dev.azure.com/<org>/<project-id>/_apis/build/builds/<buildid>/artifacts?artifactName=<artifactname>&api-version=5.1&%24format=zip

[2019-12-13 18:50] damccorm commented on #5819
Thanks for the feedback - I'm taking a look!

[2019-12-13 18:52] vijayma commented on #4637
You can now do this using the retry feature. If you select this action on a failed stage, then it re-runs the failed jobs in that stage. If you select this action on a successful stage, it re-runs all the jobs in that stage.

[2019-12-13 18:52] #4637 closed

[2019-12-13 18:52] jimlamb commented on #6608
Taking a look to see if I can come up with something a bit more clear.

[2019-12-13 18:53] #6657 closed

[2019-12-13 18:55] justhchung commented on #1147
Thank you for your feedback.
We are closing this issue as there is no action to take on our part to address the issue.  The guidance provided is correct, requested additional information was not provided, or the content referenced is no longer relevant.

[2019-12-13 18:55] #1147 closed

[2019-12-13 18:56] vtbassmatt commented on #6192
Sorry for the long delay. Confirmed that batching is now working, and that `batch: false` is the default.

[2019-12-13 18:56] #6192 closed

[2019-12-13 18:57] #5837 closed

[2019-12-13 19:00] marcpopMSFT commented on #5696
Working on this now

[2019-12-13 19:01] damccorm commented on #5895
Thanks for the feedback - I'm taking a look!

[2019-12-13 19:04] justhchung commented on #4334
Thank you for your feedback.
We are closing this issue as there is no action to take on our part to address the issue.  The guidance provided is correct, requested additional information was not provided, or the content referenced is no longer relevant.

[2019-12-13 19:04] #4334 closed

[2019-12-13 19:04] damccorm commented on #5895
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-13 19:04] #5895 closed

[2019-12-13 19:06] wnjenkin commented on #3477
@arefinsami Thanks for your feedback. I'll update the doc to be clearer. The change will go out in the next update of the doc.

[2019-12-13 19:06] #3477 closed

[2019-12-13 19:06] vtbassmatt commented on #5390
This must be running under classic RM, and it's using the RM default working directory. Your script is probably in your source directory. Set the working directory for this step (task) to the source directory.

[2019-12-13 19:06] #5390 closed

[2019-12-13 19:06] #6420 closed

[2019-12-13 19:11] jpricket commented on #6590
Seems like mattlovett found what he needed and said this was a duplicate, so closing it.

[2019-12-13 19:11] #6590 closed

[2019-12-13 19:11] damccorm commented on #5819
You're correct that its basically anything containing a `.` - the article reference is being updated to address the issue.

[2019-12-13 19:11] #5819 closed

[2019-12-13 19:11] damccorm commented on #6418
I'm going to close since I think the docs are correct.

[2019-12-13 19:11] #6418 closed

[2019-12-13 19:18] mjroghelia commented on #6618
@BenResTech To clarify, when I said "pipeline variables" I was referring to variables as the concept that exists in Pipelines and is described by this document, not variables defined only at the top level of the YAML. Variables can be defined in the YAML globally or at the stage or job level using the `variables` key.

This is separate from operating system environment variables. When you use the

[2019-12-13 19:19] jpricket commented on #5874
I can see why this is confusing. The actual name of the input is "solution" which should work perfectly. However, in the docs just below the sample we use the alias of the input which is "project". Either should work, but we should probably be consistent. Especially, on a single page.

[2019-12-13 19:25] damccorm commented on #5296
Thanks for the feedback! It looks like this has been fixed as there are no more references to `DotNetCLI@2` in the linked file, so I'm going to close.

[2019-12-13 19:25] #5296 closed

[2019-12-13 19:31] KathrynEE commented on #6655
@ctahok - What version of Azure DevOps are you working from? This feature is only supported for the cloud and Azure DevOps Server 2019. To learn which on-premises version you are using, see [What platform/version am I using?](https://docs.microsoft.com/en-us/azure/devops/user-guide/provide-feedback#platform-version)

If you are on one of these platforms, then please reach out to our support web si

[2019-12-13 19:31] #6655 closed

[2019-12-13 19:31] vtbassmatt commented on #5600
`includeCapabilities` adds `systemCapabilities` and `userCapabilities` properties to the response. `includeLastCompletedRequest` adds a `lastCompletedRequest` property (unless, as you point out, the agent has never serviced a request).

We have this pattern all over the place (properties that don't show up until you request them). While I don't love it, I think it's pretty easy to discover.

[2019-12-13 19:31] #5600 closed

[2019-12-13 19:36] #5198 closed

[2019-12-13 19:39] damccorm commented on #4811
Hey @Willem-J-an, thanks for the feedback!

I think this is actually working as designed/doced. To walk through your example:

[code]

This first step sets `JsonVarOutput` as an output, and `JsonVar` as a normal variable

[code]

Results::
[code]

As you've noticed here, `JSONVAROUTPUT` doesn't resolve to a variable. This is because, per the docs, this variable needs to be prefixed with the scope

[2019-12-13 19:39] damccorm commented on #4811
I'm going to close since this looks like a no-op on our end

[2019-12-13 19:39] #4811 closed

[2019-12-13 19:41] damccorm commented on #4810
Looks like this has been fixed so I'm going to close. Thanks for the feedback

[2019-12-13 19:41] #4810 closed

[2019-12-13 19:43] damccorm commented on #4705
It looks like this has been fixed since this issue was opened - from https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#specifying-jobs:

[code]

it looks like this is now clear so I'm going to close here

[2019-12-13 19:43] #4705 closed

[2019-12-13 19:43] vtbassmatt commented on #5623
I think we're missing docs for the `securityroles` area, which seems to be what the UI is calling. That's a core framework concern, not specific to Pipelines. @ramrajesh would be a good contact.

[2019-12-13 19:43] damccorm commented on #4690
Hey, thanks for the feeback! I'm taking a look

[2019-12-13 19:43] cmking81874 commented on #6666
Updated the documentation in [this PR](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/636).

[2019-12-13 19:43] #6666 closed

[2019-12-13 19:49] damccorm commented on #4690
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-13 19:49] #4690 closed

[2019-12-13 19:56] #5672 closed

[2019-12-13 19:57] mahilleb-msft commented on #6510
Thanks!

[2019-12-13 19:58] vtbassmatt commented on #5943
This is [documented for the hosted build agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent). Private agents have whatever their owner has configured on them.

[2019-12-13 19:58] #5943 closed

[2019-12-13 19:59] vtbassmatt commented on #6316
Thank you - they're both valid, but I think we never actually said that anywhere! I'll fix.

[2019-12-13 20:07] damccorm commented on #3747
Thank you for your feedback.
We are closing this issue as there is no action to take on our part to address the issue.  The guidance provided is correct, requested additional information was not provided, or the content referenced is no longer relevant.

[2019-12-13 20:07] #3747 closed

[2019-12-13 20:08] HahnNovari commented on #5570
I was unable to get "DownloadBuildArtifacts" to work in my yaml pipeline; however, "DownloadPipelineArtifacts" worked on my first attempt. Could be a PICNIC error on my end for BuildArtifacts.

[2019-12-13 20:09] JimsonChalissery commented on #6582
@craigforr Thank you for the details, it helps show how it can be a challenge to manage PATS when you have a lot of auto-created ones. While you have many PATs at this stage, I'm assuming the number of PATs have kind of accrued over time. One potential workaround would be to go to the PAT page and edit the name of the PAT to something more meaningful as soon as you've used GIT to clone a repo, for

[2019-12-13 20:16] chcomley commented on #6582
@craigforr, I'm going to close this issue, however please @mention me or Jimson if you have any further questions. Thanks very much and enjoy your weekend!

[2019-12-13 20:16] #6582 closed

[2019-12-13 20:26] MouthOfMadness commented on #3671
This page needs a link on how to generate the apple certificates.

[2019-12-13 20:48] evmimagina commented on #6418
Well Danny, it's not a matter of dedicated machines but just few dedicated pools of public IP addresses.
I know I could use self hosted agents (thanks for the advice), but might be on Microsoft's interest to offer the chance to keep configuring Azure Cloud Services after provisioning some resources without having to whitelist the whole AzureCloud.
E.g. if I try to secure the AKS API access and kee

[2019-12-13 21:03] #6664 closed

[2019-12-13 21:04] chcomley commented on #6664
@NenoLoje I've just published a fix. Thanks so much for the heads up!

[2019-12-13 21:14] KathrynEE commented on #6342
@CyricPL - Thank you for your inquiry. If your team is configured to Show **Bugs managed as tasks**, then you should be able to add them from the Kanban board from any work item type that appears there.

![image](https://user-images.githubusercontent.com/10856840/70832038-f035f280-1da8-11ea-9467-51a3678f5a35.png)

Once you add the tasks, bugs, or tests - the annotations should automatically  appea

[2019-12-13 21:14] #6342 closed

[2019-12-13 21:22] KathrynEE commented on #6531
@lvanvugt - The definitive answer is that we don't support cross-project integration at this time.  No plans are on the roadmap at this time.

[2019-12-13 21:22] #6531 closed

[2019-12-13 21:29] KathrynEE commented on #6339
@batorskik - Thank you for the feedback.  Closing this issue as answered by geverghe.

[2019-12-13 21:29] #6339 closed

[2019-12-13 21:37] #6600 closed

[2019-12-13 21:37] #6601 closed

[2019-12-13 21:37] #6555 closed

[2019-12-13 21:37] KathrynEE commented on #6467
Emailed product team for clarification.

[2019-12-13 21:41] KathrynEE commented on #6105
@kvinther - Thank you for the feedback. I have updated the referenced article and others to clarify the installation.

[2019-12-13 21:41] #6105 closed

[2019-12-13 21:45] steved0x commented on #4955
I'll get this updated.

[2019-12-13 21:46] #4955 closed

[2019-12-13 21:48] marcpopMSFT commented on #6037
Working on updating this

[2019-12-13 22:12] marcpopMSFT commented on #5002
Working on this

[2019-12-13 22:13] chcomley commented on #2020
Hello all! We've got the ball rolling on these updates! I'll be publishing the first phase of updates to this article today, which includes versioning (with new nav) for Azure DevOps. The first phase includes new content for the "Hubs and hub groups" section. This includes a new section on [adding an icon](https:// docs.microsoft.com/en-us/azure/devops/extend/reference/targets/overview?view=azure-

[2019-12-13 22:17] marcpopMSFT commented on #3826
Thanks for the feedback. I've filed an internal feature request for this since this is a suggestion rather than a documentation bug.  You are also welcome to file this suggestion on https://developercommunity.visualstudio.com/ so you can track status.

[2019-12-13 22:17] #3826 closed

[2019-12-13 22:22] WilliamAntonRohm commented on #4486
Thanks for the suggestions! The product teams aren’t always watching this repository, so to make sure it gets in front of them, please [submit your ideas here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2019-12-13 22:22] steved0x commented on #6292
@mmisztal1980 We just released a new multi-repo checkout functionality, so while it isn't specific to submodules, it may help you with checking out your code from multiple projects in the same organization?

[Check out multiple repositories in your pipeline](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/multi-repo-checkout?view=azure-devops)

[2019-12-13 22:28] marcpopMSFT commented on #6374
The PipelinesSDK user identity is used when generating API-specific scoped security tokens.  We're discussing whether to hide it or document it.

[2019-12-13 22:28] steved0x commented on #6238
The Publish Pipeline Artifact task is listed as being supported for Azure DevOps Services only at this time:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops

We can get that cleared up in the documentation. I'll get that updated.

![image](https://user-images.githubusercontent.com/1580889/70836298-bdeabc00-1dcd-11ea-9acd-7231b7bb747

[2019-12-13 22:39] WilliamAntonRohm commented on #6658
@vijayma -- Vijay, please look into the above-mentioned PR.

[2019-12-13 22:39] marcpopMSFT commented on #3084
There is nothing built in like puppet but you may be able to use the details from the QA section of this document related to multiple SSH keys (note quite the same scenario as multiple users but closest we have). Q: I have multiple SSH keys. How do I use different SSH keys for different SSH servers or repos?

[2019-12-13 22:39] #3084 closed

[2019-12-13 22:51] #6599 closed

[2019-12-13 22:54] marcpopMSFT commented on #5002
Completed

[2019-12-13 22:54] #5002 closed

[2019-12-13 22:56] mmisztal1980 commented on #6292
@steved0x does this work across projects within the same Azure DevOps organization?

[2019-12-13 22:59] iUnknwn commented on #5943
Can we add a link in the bash and powershell pages to that the hosted build agents page, so it's easier to find (maybe under a "what software is available?" faq item). Right now, it's not immediately obvious.

[2019-12-13 23:04] #6658 closed

[2019-12-13 23:07] WilliamAntonRohm commented on #6667
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-12-13 23:07] #6667 closed

[2019-12-13 23:09] #6660 closed

[2019-12-13 23:38] marcpopMSFT commented on #5736
Seems reasonable.  I'll take a look.

[2019-12-13 23:38] #5696 closed

[2019-12-13 23:40] WilliamAntonRohm commented on #6670
@abby-d-chr -- you may find an answer here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @KathrynEE -- please look into this potential documentation issue.

[2019-12-13 23:41] #6037 closed

[2019-12-13 23:50] #5736 closed

[2019-12-14 00:15] WilliamAntonRohm commented on #6672
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

Meanwhile, you may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-de

[2019-12-14 00:20] damccorm commented on #6168
I'm going to close since I can't reproduce. Please comment if you still think this is a problem

[2019-12-14 00:20] #6168 closed

[2019-12-14 00:26] damccorm commented on #6609
Thanks for the feedback - I'm taking a look

[2019-12-14 00:31] Sean-Driscoll opened #6675 "Indexing portable PDB and SourceLink"
The comment "For portable PDBs, the build does the indexing, however you should use SourceLink to index the symbols as part of the build", in the Portable PDBs section, is unclear to me.

I believe the first part of the sentence indicates that I should **uncheck** the "Index sources" box in the [Index Sources and Publish Symbols](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/

[2019-12-14 00:38] damccorm commented on #6609
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-14 00:38] #6609 closed

[2019-12-14 00:46] marcpopMSFT commented on #5147
We reuse the existing release branches.  In the example in this document, I would check in the hotfix to both the 129 and 130 release branches.  Then we would deploy both branches but to different rings.  The 130 release branch would redeploy with the hotfix to all rings that had already been upgraded to 130.  129 would redeploy with the hotfix to any rings that hadn't yet moved to 130.  We have e

[2019-12-14 00:50] damccorm commented on #6286
Hey edgariscoding - we don't get/expose that data anywhere. If you need it, you can [query the GitHub API for it](https://stackoverflow.com/questions/16500461/how-do-i-find-the-default-branch-for-a-repository-using-the-github-v3-api) if its a GitHub repo. This also tends to be a static value, so you're probably also safe just storing it as a variable in your YAML.

I'm going to close since the doc

[2019-12-14 00:50] #6286 closed

[2019-12-14 00:53] damccorm commented on #6241
Hey @DerekLiang - it looks like the docs have been updated to address this now. From the yaml snippet below (which I copied from the doc), the default is `Container`. I'm going to close here since the docs seem to address this.

[code]

[2019-12-14 00:53] #6241 closed

[2019-12-14 01:04] damccorm commented on #6190
Hey @leodaruiz thanks for the question

How often is that? Is there a way to configure this recurrence?

The doc actually appears to be a little off on what's happening here. In reality, the agent is continuously waiting on the server via an HTTP long poll (a common pattern when the server is initiating interactions with the client). I'll update the docs shortly.

Sure! In fact, one of the (hypoth

[2019-12-14 01:06] vijayma commented on #5945
Thank you for the feedback.
We are updating the doc to remove the references to $1 and $2 since they assume that the variables are passed as inputs to the script. However, the doc assumes that they are set as output variables in the previous step.

[2019-12-14 01:06] #5945 closed

[2019-12-14 01:10] damccorm commented on #6190
Thank you for your feedback.
The article reference is being updated to address the issue.

[2019-12-14 01:10] #6190 closed

[2019-12-14 03:28] SirAlvarex opened #6676 "Question about "ReRun Failed Jobs""
Is there a syntax that can be used to run past successful jobs when executing "rerun failed jobs"?  An example use case is when tests require a setup stage, then a second job uses a matrix strategy to run tests in parallel.

In our case, it's provisioning test hardware to then validate against contracts we have for expected functionality.

Currently with our configuration only the failed step is r

[2019-12-14 12:22] turowicz commented on #3087
I am running a custom VM, not the hosted pool.

[2019-12-14 17:12] jlaw84 commented on #4486
Looks like this idea was already [submitted here](https://developercommunity.visualstudio.com/idea/665340/use-deployment-groups-in-a-multi-stage-yaml-file.html).  Might help if everyone upvotes it there to bring more attention to it.

[2019-12-14 17:53] ata18 opened #6677 "Delete pipeline artifacts when re-running failed jobs"
Edited:
No example/documentation in [Pipeline artifacts in Azure Pipelines page](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml) around how to delete or overwrite a published artifact.

Old question:
When re-running a failed pipeline job, it fails at the `publish` step because the artifacts already exist. I would like to manually or

[2019-12-14 19:34] JasonAtallah opened #6678 "Bash Script Task run as if my Linux VM is a Windows machine"
I have a Linux VM that I am trying to deploy to using a Bash Script task. Why is it trying to run Window's commands?

![image](https://user-images.githubusercontent.com/24923418/70853637-d4e0eb00-1e6d-11ea-8833-8b8241b34224.png)

[2019-12-14 22:40] jeevaeastpoint commented on #2287
@michaelmairegger  I have a submodule where the repo is from a private azure devops. The git submodule update is using the new format of the repo url. And still getting the same issue where azure pipeline agents are unable to read username. I tried the "Checkout Submodule" option which results in the same error. Please provide a solution. This is holding us back.

[2019-12-15 06:47] JiandongRuan opened #6681 "How can I get git commit from which the artifacts is built?"
"Release Pipeline" can set variable $(Release.Artifacts.{alias}.SourceVersion), the git commit from which the artifact is built. How can I get the same information in the YAML pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9cc6a2f66
* Version Independent ID: bdf954b9-9bbe-8b34-b674-

[2019-12-15 14:53] VAllens opened #6682 ""VSS/organizations/security/RestClient" module does not exist"
[code]

#### `"VSS/organizations/security/RestClient"` module does not exist.
#### The correct is `"VSS/Security/RestClient"`.
Do you have MSDN documents about `"VSS/Security/RestClient"`.
I want to know the parameter details of all rest api.
For example, `permissions`:
[code]

## I want to judge whether the current user has `Project Collection Administrators` group on collection admin `hub page`.

[2019-12-15 14:56] VAllens commented on #6682
There is also an error in the document. The `alwaysAllowAdministrators` parameter is required.
[code]

[2019-12-15 14:58] VAllens commented on #6682
Besides the `permissions` parameter, I also want to know how to assign the `securityNamespaceId` parameter. :)

[2019-12-15 19:51] JaDevGuy opened #6683 "Fails when running in a deployment job"
When used in a deployment job you get this message
"Checkout of repository 'MyRepoAlias' is not supported. Only 'self', 'none', or a repository alias are supported"
If specifying an inline reference it gives this instead
"The checkout step references the repository 'git://DemoProj/MyRepo@refs/head/master' which is not defined by the pipeline"

Any idea when deployment jobs will support this featur

[2019-12-16 04:37] a30001539 opened #6684 "When are YAML-based queueing policies being supported ?"
We have approvals limiting collisions somewhat, but its not full-proof.

When is this planned to be delivered to the product ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4266f72c-c774-0046-4593-d01eb775d3c3
* Version Independent ID: f20827aa-a6c5-96a8-5969-e576ffbc2e38
* Content: [Stages in Azure Pipelines - Azure

[2019-12-16 04:43] rnarayana commented on #5281
Workaround is to pass --tag in build arguments like this:
 --tag $(ImageTag)

[2019-12-16 04:56] a30001539 opened #6685 "Environment approvals are ignored for PR-triggered deployments"
Our YAML pipeline is a deployment pipeline, i.e. is uses a 'deployment' stanza in 'jobs'
No PR-trigger rules are defined, which means PR's trigger a speculative build, which for a deployment job is a speculative deployment, which is probably a bad idea.
The environment it first deploys to has an approval gate defined.
Merges to master etc use the gate.
PR's ignore the gate and immediately deploy t

[2019-12-16 06:22] buck-mbeer commented on #5510
I appreciate the update @vtbassmatt, does that mean it's currently not possible to run templated pipelines in containers? It would be a nice feature for a team providing CI-as-a-service to be able to encapsulate the build container in their templates.

[2019-12-16 06:28] RoopeshNair commented on #6643
Yaml is space sensitive, it is not clear from the sample, if you are indenting it correctly.

[code]

[2019-12-16 06:28] #6643 closed

[2019-12-16 07:10] vipulnewaskar7 commented on #3874
How can we edit the YAML of gradle task, so that we can add bash script to run before gradle task runs?
I see "View YAML", but can't edit that.

Also,
why the gradle task foolishly sets "**DOCKER_CONFIG**" environment variable and sets its value **<empty>**?
**Either don't set it, or set the right value as "~/.docker"**

[2019-12-16 07:30] timja commented on #6434
@msebolt the docs haven't been updated yet, wouldn't it be better to close this when the docs update is merged.
i.e. by adding `Fixes #6434` to the PR description?

I just wasted time on this :(

[2019-12-16 08:26] estensen commented on #6518
Closing this issue makes it harder for other folks to see that this is an issue.

[2019-12-16 08:28] JohnH-FF commented on #5384
No comments on this? The documentation says you can run UI tests, it doesn't say how. Can someone shed some light?

[2019-12-16 08:55] tdi commented on #5220
@IainCoSource maybe this will help. https://dev.to/7d1/using-go-modules-from-private-repositories-in-azure-devops-pipelines-44dk

[2019-12-16 09:06] BenResTech commented on #6618
Ah! Understood @mjroghelia, thanks for the clear explanation, that's makes a lot more sense.
Where is the above documented? I'd like to read through it further so I can nail it down in my head.

[2019-12-16 09:23] #6662 closed

[2019-12-16 09:57] a30001539 opened #6687 "#6643 still not fixed - strategy still appears to be an option in environment."
Previous issue people thought the issue was with _my_ YAML, not the YAML in the doco.

This issue is with the YAML in the doco.

It seems that the link at [YAML schema reference - Environment](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#environment) indicates that "strategy" is a valid child element of "environment". This will cause an error. I

[2019-12-16 11:28] RGKarthik commented on #6438
@trevvv123 ,
Ability to allow Team admins to create subscriptions will be live in Jan.

[2019-12-16 13:39] damccorm commented on #6518
That's fair, we can reopen until this is fixed.

[2019-12-16 13:44] SamHasler opened #6688 "Tip: "Type f to move your cursor to the filter box " incorrect, shortcut does not work"
It looks like the shortcut documented by the Tip starting "Type f to move your cursor to the filter box" does not work.

Per this page: https://docs.microsoft.com/en-us/azure/devops/boards/boards/kanban-board-keyboard-shortcuts?view=azure-devops

it should be "Ctrl+Shift+f"

Also, the text "To move the focus up or down within a column, enter the up/down arrows. " appears to be incorrect. CTRL +Shi

[2019-12-16 18:07] rnarayana opened #6690 "What is the meaning of cache"
I think I may have misunderstood the idea of caching here. This page says "the cache step will report a cache hit and the contents of the cache will be downloaded and restored." If it is going to be downloaded again, what is the point of cache? I have a self hosted agent, and this seems to be the exact behavior. All that is happening is, instead of downloading from nuget.org, I am downloading from

[2019-12-16 18:16] #5762 closed

[2019-12-16 18:20] jeanpoelie opened #6691 "Requesting Documentation for deploying container images via azure pipeline releases"
I am trying to find documentation on deploying a Container image to kubernetes services.
I hope to be able to use Deploy to Kubernetes but this tells me that the artifact should be a .yml and not a container repository.

[2019-12-16 18:38] #6316 closed

[2019-12-16 18:59] cordialamit opened #6692 "Release run condition for skipped tasks"
Hi,

I have azure dev ops release which has multiple steps which are hooked with each other. Each task has "Run only if all previous steps are successful" condition. However if someone directly executes given step then it should fail since previous step was not executed.

Can you provide guidance on how to enforce this automatically.

[2019-12-16 19:27] centreboard commented on #4170
@justhchung I've already provided a link to developer community answer, the issue is the docs for Azure DevOps Server don't match the answer given there.

The choice to select which artifacts to download as shown in https://docs.microsoft.com/en-us/azure/devops/pipelines/release/artifacts?view=azure-devops-2019#download is not present in 2019 and is behind a preview flag in 2019.1 Should the docs

[2019-12-16 20:08] tboniger opened #6693 "Mac Included Software"
The link for "Included Software" on mac is broken. Someone removed the readme files in Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e116
* Content: [Microsoft-hosted agents for Azure Pipelines - Azure Pipelines](htt

[2019-12-16 20:28] steved0x commented on #5147
Fixed in: https://github.com/MicrosoftDocs/devops-learn-pr/pull/10 and it should be live soon.

[2019-12-16 20:28] #5147 closed

[2019-12-16 21:43] KathrynEE commented on #6564
@eponerine - Thank you for your request. I'm updating the article to clarify. The current section, [Determine the type of import](https://docs.microsoft.com/en-us/azure/devops/migrate/migration-import?view=azure-devops#determine-the-type-of-import), does describe the differences between Dry run and Production run - but could be clearer in equating them to the parameters, DryRun and ProductionRun.

[2019-12-16 21:43] #6564 closed

[2019-12-16 22:01] awentzel opened #6694 "remove the use of non-industry acronyms for public facing documentation"
WIT's isn't a common industry term.  I had to search up in the page to figure out what that acronym meant.  I understand, it simplifies the word count when documenting by those that are intimately familiar with the documentation.  But, for customers, I'd recommend not abbreviating and just saying "work item types" in writing to save the majority of those reading this documentation time.

---
####

[2019-12-16 22:06] chcomley commented on #6543
Hi @fleed, I've added a link in the article to the [REST API Reference](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.1). Since you're talking about releases and environments, I assume you're looking for this document in particular: [Releases - Get release environment]
(https://docs.microsoft.com/en-us/rest/api/azure/devops/release/releases/get%20release%20enviro

[2019-12-16 22:06] #6543 closed

[2019-12-16 22:31] ata18 opened #6695 "Get raw content of a file in ADO"
[code]
This returns HTTP/1.1 200 OK. But on removing `-I` flag, the raw content is not returned. What is the correct way to get the raw content of a file in ADO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f99d2d-363b-d01d-039d-4fdc636fa2df
* Version Independent ID: f47330d5-e2de-36a4-e5b3-5bc77505b161
* Content:

[2019-12-16 22:34] ata18 commented on #6695
Is there a `github gist` like feature available for ADO?

[2019-12-16 23:17] IhorLeontiev commented on #6693
Actually it was deleted with commit: https://github.com/actions/virtual-environments/commit/51964b2bf08632829a163829f191e9dd0e73b72a#diff-4394d8548d8c9fe8cfb040b0b1a76dff
As no relevant to Github Actions
But you can always access to the old version of file https://github.com/actions/virtual-environments/blob/51d02f26f42e53bb963bb6bc9754501b28a3d2ba/images/macos/macos-10.13-Readme.md

[2019-12-17 01:22] WilliamAntonRohm commented on #6675
@Sean-Driscoll -- thank you for your feedback.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chasewilson -- please look into this potential documentation issue.

[2019-12-17 01:26] WilliamAntonRohm commented on #6678
@JasonAtallah -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-17 01:28] WilliamAntonRohm commented on #6681
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-17 01:28] #6681 closed

[2019-12-17 01:30] WilliamAntonRohm commented on #6682
@VAllens -- Allen, thank you for your questions and feedback.  You may find some answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @apawast -- Apeksha, please look into https://github.com/MicrosoftDocs/vsts-docs/issues/6682#issuecomment-565816770.

[2019-12-17 01:33] WilliamAntonRohm commented on #6683
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-17 01:33] #6683 closed

[2019-12-17 01:34] WilliamAntonRohm commented on #6676
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-17 01:34] #6676 closed

[2019-12-17 01:35] WilliamAntonRohm commented on #6677
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-17 01:37] WilliamAntonRohm commented on #6684
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-12-17 01:37] #6684 closed

[2019-12-17 01:39] WilliamAntonRohm commented on #6685
@a30001539 -- Leif, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.  Meanwhile, you may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-12-17 01:46] dev4jam opened #6696 "How to set it up for the iOS app with extensions?"
https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/mobile/app-signing?view=azure-devops&tabs=apple-install-during-build#apple

I have an app with multiple extensions. I have several InstallAppleProvisioningProfile@1 tasks to import all provision profiles. But when I run Xcode@5 task there is only one provision profile field available.

Please assist in solving this issue.

[2019-12-17 03:19] JiandongRuan opened #6697 "Is there any other way to use dynamic variables in template?"
I understand they can't be used via "${{ }}" template expression. But are there any other way to access them? I'd like to bake kubernetes manifest file in a template (https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/kubernetes/bake?view=azure-devops). The bake task set an output variable $(bake.manifestsBundle).

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-12-17 04:49] jfro commented on #6693
I was just trying to view this as well. I'm confused as to why this is removed... isn't it still relevant to DevOps at least? Also why wouldn't it be relevant to actions? Both have mac agents, so there going to be a different page with updated info or something?

[2019-12-17 05:14] JiandongRuan commented on #6681
It is documentation issue. pipeline artifact variable is important information related to how one can consume pipe artifacts. It is very difficult to google the information. At this page, you should at least at a cross-reference to the section about those "resources.pipeline.XXX" variables in https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/pipelines/sprint-160-update

[2019-12-17 06:02] #6697 closed

[2019-12-17 06:35] JiandongRuan commented on #6697
Just try the scenario on a template. It actually works.

[2019-12-17 07:06] ashokirla commented on #5845
In Azure DevOps, Jenkins service connection takes username and password as input. You don't have to generate a token. Can you provide more details on where you are facing this issue.

[2019-12-17 07:40] fleed commented on #6543
Thank you, @chcomley!

[2019-12-17 08:24] VAllens commented on #6682
Is there any keyword that can help me find the answer on `Stack Overflow`?

I tried but I couldn't get the answer I wanted. -_-

[2019-12-17 08:36] VAllens opened #6698 "Is there an example of VSS.getServiceContribution()?"
##### I have a question, but no answer, no sample reference, can you help me?

[code]

### Instance is null !!! What do I seem to have missed?

I'm sure this contribution exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f699a190-5e7e-1103-8d9d-c3d58e698e3a
* Version Independent ID: 1e54fe20-7e4d-d5ff-1682-8659f7a

[2019-12-17 08:52] alloro commented on #3922
@steved0x is it planned to have PR trigger on azure repositories in the future? Branch policies are more or less ok but will be executed atm on every change or needed to be triggered manually. PR trigger would be more fine granular and better suitable for certain use-cases where you only want to execute certain actions when a PR is opened for example.

[2019-12-17 09:40] soutchilin opened #6699 "Provide information how to switch to organizations across multiple tenants"
It is difficult to find the URL below. The information to the personal account (https://account.activedirectory.windowsazure.com/r/#/profile) shows the tenants only (misleadingly calling them organizations). The organizations inside of the tenants are not shown at all. So you need the following URL: https://app.vsaex.visualstudio.com/me?mkt=en-US There you see tenants, in each of the tenant its or

[2019-12-17 11:14] ashokirla commented on #6356
We are working on the overall documentation for resources and triggers. It will be updated soon.

[2019-12-17 11:15] ashokirla commented on #6349
Will update the task group documentation accordingly.

[2019-12-17 11:21] ashokirla commented on #6259
Yes, it is the resource ID from URL and it is currently supported in YAML. We have now stopped allowing creation of service connections with duplicate names. So you should not face this issue going forward. For the existing service connections with duplicate names, we are looking for ways to make them unique so that you can get unblocked in YAML. Until then, I suggest you to use endpoint ID instea

[2019-12-17 11:22] ashokirla commented on #6094
The documentation is now updated. https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#download

[2019-12-17 11:36] ashokirla commented on #5915
Publishing an artifact is always an explicit step. One thing we can do is to make publish task part of the default templates we provide (if not already done) and point it to build output folder so that customer doesn't have explicitly mention it. Regarding download, both in YAML and classic releases, it is downloaded to as standard path different from build path so that it doesn't override other t

[2019-12-17 11:44] ashokirla commented on #5760
Yes, when you publish your artifacts to fileshare, the agent downloads the artifacts from the UNC share it is pointed to.
You need to provide the fileshare path (server/share) and the name of the artifact to download. You also need to ensure the agent has rights to download the artifact from the share.

[2019-12-17 11:48] ashokirla commented on #5570
BuildsArtifacts are the old way to storing your artifacts. Going forward we recommend you to use pipeline artifacts.

If you have published your artifacts using PublishBuildArtifacts task, then you need to use DownloadBuildArtifacts task to download them.
However if you have used PublishPipelineArtifacts task (or `-publish` simply) then you can use DownloadPipelineArtifacts task (or `- download` s

[2019-12-17 11:55] davestephens commented on #5570
It would be worth documenting this, in the time I've spent looking through
the docs this is the first time I've heard that pipeline artifacts are the
way forward...

On Tue, 17 Dec 2019, 11:48 ashokirla, <notifications@github.com> wrote:

[2019-12-17 11:57] ashokirla commented on #5195
Thanks for your feedback. We have this ask in our backlog to show the variable group references in the pipelines. As of now no timelines are finalized on this feature. We will update once we decide on the timelines.

[2019-12-17 11:57] #5195 closed

[2019-12-17 11:58] mahilleb-msft commented on #6259
Thanks @ashokirla. We started doing that once supported.

[2019-12-17 12:02] #6259 closed

[2019-12-17 12:04] ashokirla commented on #5570
We have already documented here: https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml#migrating-from-build-artifacts

[2019-12-17 12:07] ashokirla commented on #5221
Thanks for your feedback. Support for variable group authorization in our current backlog and will start the implementation very soon.
@shashban to keep note.

[2019-12-17 12:13] ashokirla commented on #4859
Yes, Once you set specificBuildwithTriggering set as true, it will download from the triggering build and you don't have to set branch.

However, if you are looking for ways to auto trigger from other build pipeline and download the artifacts, we came up with a first class `pipeline` resource with triggers: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=

[2019-12-17 12:13] #4859 closed

[2019-12-17 12:16] ashokirla commented on #4213
Sharing of service connections across projects work now completed. We are doing some fit and finish. If you are interested, we can enable the preview version for you. Please reach out to us directly with your account details.

[2019-12-17 12:26] ligurio opened #6700 "There is no documentation about how to develop custom flaky tests detection methods"
Article in [Azure documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops) describes custom flaky tests detection methods:

 There is a [similar question](https://developercommunity.visualstudio.com/content/problem/722029/how-to-implement-custom-flaky-test-detection-in-az.html) without answer on forum. But there are no details about devel

[2019-12-17 12:32] ashokirla commented on #3606
Taskgroup pararmeters are not passed as env variables. This is as per design. The value provided to the task group parameter just replaces the variable in the task definition. In your case, $(Destination) in your underlying task is exposed as a taskgroup parameter called Destination and it is replaced with the value you have provided 'dd'. But it will not be considered as a variable available to y

[2019-12-17 12:33] ashokirla commented on #3537
Yes, now we support SCVMM 2016. We will update the documentation.

[2019-12-17 12:41] #5570 closed

[2019-12-17 12:43] ashokirla commented on #3014
For task groups, we don't have deny read permissions. The philosophy of task groups is to enhance developer productivity and collaboration by being able to write once and share everywhere. It is similar to any other tasks where anyone can view and use the tasks. You can only control who can update/delete the task group.

[2019-12-17 12:43] #3014 closed

[2019-12-17 12:46] ashokirla commented on #2670
Taskgroup is a design time concept and during runtime, the tasks are expanded are executed. We will add this request to our backlog.

[2019-12-17 12:47] #2670 closed

[2019-12-17 12:48] #2511 closed

[2019-12-17 12:48] janten opened #6701 "Broken links for macOS"
The macOS Included Software links in [hosted.md](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/agents/hosted.md](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops)) currently point to [github.com/actions/virtual-environments](https://github.com/actions/virtual-environments/blob/master/images/macos/). The path _images/macos/_ does not ex

[2019-12-17 12:48] ashokirla commented on #2511
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-build-artifacts?view=azure-devops

[2019-12-17 12:51] ashokirla commented on #1728
Creator role is a hub level role that decides who can create an entity. It has no impact at individual variable group level once it is created. This creator of the variable group will become administrator by default for that particular variable group.

[2019-12-17 13:17] abelfiore opened #6702 "Can branch policies be inherited?"
Can a branch inherit its policies from its parent? If so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Version Independent ID: d60c996e-187e-dd6b-7f3a-dd056a1603f4
* Content: [Protect your Git branches with policies - Azure Repos](https://docs.microsoft.com/en-us/azure/devo

[2019-12-17 13:46] aserowy opened #6703 "dotnet core packing with NuGetCommand@2"
Hi,

it should be mentioned, that core and standard packages should get packed with:
- task: DotNetCoreCLI@2
  displayName: 'dotnet pack $(buildConfiguration)'
  inputs:
    command: pack

Otherwise you will get a System.InvalidCastException: Unable to cast object of type 'System.String' to type 'NuGet.Frameworks.NuGetFramework'.

Kind regards

---
#### Document Details

⚠ *Do not edit this sectio

[2019-12-17 14:18] jackpoz commented on #3104
is this a missing feature or is it just too hidden to be found easily ?

[2019-12-17 14:33] verschaevesiebe opened #6704 "Documentation about Scheduled pipelines are incomplete"
The documentation around Scheduled pipelines don't define the fact that you also have to put a trigger and pr in order to make it Scheduled only.

trigger: none       //if not provided commits also trigger your pipeline.
pr: none              //if not provided pull requests also trigger your pipeline.
schedules: ......

Please make sure to add the preffered documentation including the above.
I per

[2019-12-17 15:09] StingyJack opened #6705 "An example of how to actually use these would be nice."
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8b4989-21f0-53c5-dfce-6d5f1a66b8b2
* Version Independent ID: 2f4419a7-408b-40cd-9190-985a9976d556
* Content: [Authenticate with your Git repos - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/auth-overview?view=azure-devops)
* Content Source: [doc

[2019-12-17 15:11] StingyJack commented on #6705
Now I'm blocked for some unknown time period because MSFT cant be bothered to finish a doc, and I have to either hack or do research.

Again. Real tired of this. I have actual work that needs to be done and I dont need to be spending time hacking at this BS.

[2019-12-17 15:18] hbuckle opened #6706 "Decorator not triggered on Deployment"
Decorators are not being triggered for `Deployment` jobs in the new yaml pipelines, is this intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0704e7ce-a2bb-7ccd-4ad4-2c6ad55bc8f4
* Version Independent ID: 4efcddb9-864d-f895-8122-451c1045b272
* Content: [Pipeline decorators - Azure DevOps](https://docs.microso

[2019-12-17 15:19] #6614 closed

[2019-12-17 15:22] estensen commented on #6614
@v-albemi can you link to the PR or commit that fixed this issue or explain why it was closed?

[2019-12-17 15:23] v-albemi commented on #6614
@estensen

It looks like this closed when I merged https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/680.

[2019-12-17 15:25] estensen commented on #6614
https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/680 gives me a 404

[2019-12-17 15:28] v-albemi commented on #6614
the link works for me.

There's another link just above your comment from 5 minutes ago. Maybe that one will work?

[2019-12-17 15:31] estensen commented on #6614
If you hover over the link you posted you can tell they are the same

[2019-12-17 15:34] v-albemi commented on #6614
I think it's a permissions issue. There's a note in 680 that says it fixes this PR.

[2019-12-17 15:49] estensen commented on #6614
It would have been easier for outsiders to track the issue if it wasn't closed before the updates were in production. Also a link to the PR would make it easier to see if the issue was fixed.

[2019-12-17 15:53] towerbe commented on #6438
@rgkarthik, is there any way we can create a security group to provide appropriate permissions to create the subscriptions?  We don't like tying this ability to Team Admin role because that opens up entirely too many other permissions just to accomplish this task.

[2019-12-17 16:02] Eldadc opened #6707 "Does WIQL support Alias name as in SQL ?"
Hi,

Does WIQL support Alias name as in SQL ?
SQL aliases are used to give a table, or a column in a table, a temporary name.

SELECT column_name AS alias_name
FROM table_name;

Thanks

[2019-12-17 16:14] buckleyGI opened #6708 "Custom detection documentation"
The documentation states flaky test management supports system and custom detection.
How do we implement custom detection? I can't find any documentation on how to proceed.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8dfb3bf-8cce-7ad8-b2c6-40d6c2b9d441
* Version Independent ID: 53e2d39d-6808-70d5-9c26-bc

[2019-12-17 16:45] A-AontwSR opened #6709 "extension publish PAT rights?"
What rights are needed in the PAT for "tfx extension publish"? This page is only mentioning "You'll need a personal access token, too." Please add a description or link with more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5ef8-9

[2019-12-17 17:07] msebolt commented on #6688
@SamHasler  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-17 17:11] msebolt commented on #6690
@rnarayana Thank you for the feedback.

This is not the intended behavior of cache and should be reported to the product team.

Please move the issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

@chasewilson

[2019-12-17 17:23] erichfrazer commented on #1520
I am seeing the same issue. pushing 240MB file, getting HTTP 413 error

[2019-12-17 17:42] lukepuplett opened #6710 "Worth calling out that doing this will mean publishing and downloading artifacts"
Link to example bottom of page.

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7ff690-b2e4-41c7-a342-e528b911c6e1
* Content: [Deployment jobs - Azure Pipel

[2019-12-17 17:44] msebolt commented on #6691
@jeanpoelie Thank you for the feedback.

Please refer to the [kubectl](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/kubernetes) task.

This should allow you to run something like the Kubernetes [run](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run) command directly against an Azure Container repository.

[2019-12-17 17:54] v-albemi commented on #6614
@estensen

Thanks for your contribution. The commit was pulled into another PR and the issue should be resolved and live soon.

[2019-12-17 17:57] msebolt commented on #6692
@cordialamit Thank you for the question.

For now, you would need to use a custom [condition](https://docs.microsoft.com/azure/devops/pipelines/process/conditions) that is only set to **true** by the first task in the sequence.

For built-in automation, please direct this to the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-17 17:57] lukepuplett commented on #6170
Agree. I'm beginning to doubt if the cost of learning, remembering and fighting for hours with the slow trial and error feedback loop of a build pipeline, and with all this YAML (which I'm sure will change next year and the year after that) beats using Az DevOps to trigger a tiny console app I could write and debug locally to run the whole thing, in a language of my choice, and with total freedom.

[2019-12-17 18:11] chcomley commented on #4796
Hi @pabrams, Thanks so much for your patience on this. We have a newer design site, for which I've added a link within the article. See [Formula Design System - Filter](https://developer.microsoft.com/en-us/azure-devops/components/filter). Please @mention me if you have any further questions. Thanks!

[2019-12-17 18:13] StingyJack commented on #6705
This is where I found how to use the PAT. A link to this page would be appropriate.

https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=preview-page#use-your-personal-access-token

[2019-12-17 18:15] lukepuplett commented on #6710
Also worth adding `dependsOn` to examples as, IMO, its likely readers of this page will have their other job doing their build, so they're likely to be unsuccessful on their first go with this.

[2019-12-17 18:16] #4796 closed

[2019-12-17 18:19] #6094 closed

[2019-12-17 18:44] ata18 commented on #6677
Thanks, @WilliamAntonRohm. I did not find any documentation/examples on how to delete a pipeline artifact and so raised it here.

[2019-12-17 18:49] msebolt commented on #6693
@tboniger Thank you for the feedback, assigning this to the author for review.

@shadyysf  Are these images no longer supported?

[2019-12-17 18:50] msebolt commented on #6694
@awentzel Thank you for the feedback, assigning this to the author for review.

[2019-12-17 18:55] shadyysf commented on #6693
@msebolt, sorry for the confusion. The 10.13 and 10.14 readme files live in the old azure-pipelines-image-generation repository since they don't ship to Actions(https://github.com/microsoft/azure-pipelines-image-generation/tree/master/images/macos). The readme file for 10.15 which does ship in Actions lives in the virutal-enviornments repository (https://github.com/actions/virtual-environments/tre

[2019-12-17 18:59] msebolt commented on #6693
@shadyysf  No problem, thanks for clarifying.  I'll go ahead and update the documentation links.

[2019-12-17 19:03] msebolt commented on #6693
The documentation has been updated and is pending review.

[2019-12-17 19:57] HughDevlin opened #6712 "drop"
Unclear, is drop an example value for artifact name or the default value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/

[2019-12-17 20:00] HughDevlin opened #6713 "Deploy YAML snippet artifact name"
In section Deploy to multiple web apps in the YAML has 2 jobs, the 2nd job refers to an artifact named drop which is not named in the 1st job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a40a853-83d6-844a-4752-8b00909c9ffb
* Version Independent ID: e3121964-de38-2a57-2414-c1e29a880477
* Content: [Deploy an Azure We

[2019-12-17 20:25] #6688 closed

[2019-12-17 21:15] HughDevlin opened #6714 "can this task build a war?"
In the Auto Detect Logic section, the War deploy subsection reads "Creates a .war deployment package..." This makes this task the Azure App Service Deploy task sound like a build-type task rather than a deploy-type task. Meanwhile, the Package parameter is described as requiring a path to a war file. Unclear, does this task build a war or move a war from a build environment to a deployed environme

[2019-12-17 21:26] msebolt commented on #6695
@ata18  Thank you for the question.

Could it be perhaps the requested resource doesn't return content?

Does the example `curl -u username[:{personalaccesstoken}] https://dev.azure.com/{organization}/_apis/build-release/builds` return content as stated in the topic?

[2019-12-17 21:32] msebolt commented on #6696
@dev4jam Thank you for the question.

Perhaps setting the `xcWorkspacePath` can solve this issue?

See [here](https://stackoverflow.com/questions/53225705/azure-devops-pipelines-xcode-project-with-multiple-provisioning-profiles-fails) for more information.

[2019-12-17 21:53] msebolt commented on #6698
@VAllens  Thank you for the feedback, please see if [this example](https://gist.github.com/Gordon-Beeming/92289e01e266972bfbca) helps.

I can assign this to the author, though please note this forum is for documentation only.

For any help related to support requests, please refer to either:

- [Visual Studio community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Visual St

[2019-12-17 22:00] msebolt commented on #6699
@soutchilin Thank you for the feedback, assigning this to the author for review.

[2019-12-17 22:03] msebolt commented on #6700
@ligurio  Thank you for the feedback, assigning this to the author for review.

[2019-12-17 22:06] msebolt commented on #6701
@janten  Thank you for the feedback.

This issue was reported earlier in https://github.com/MicrosoftDocs/vsts-docs/issues/6693, please refer there for further updates.

[2019-12-17 22:10] msebolt commented on #6702
@abelfiore Thank you for the feedback.

This issue is currently an open item found [here](https://developercommunity.visualstudio.com/idea/365671/inherit-branch-policies-from-parent-branch.html) in the **Azure DevOps community**.

Please refer there for further updates and/or to add feedback.

[2019-12-17 22:11] msebolt commented on #6703
@aserowy Thank you for the feedback, assigning this to the author for review.

[2019-12-17 22:12] msebolt commented on #6704
@verschaevesiebe Thank you for the feedback, assigning this to the author for review.

[2019-12-17 22:33] msebolt commented on #6706
@hbuckle Thank you for the feedback.

Unfortunately, since this is a documentation forum, our support options are limited.

Please start a thread in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

For additional support options, see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure De

[2019-12-17 22:45] arammaliachi commented on #6683
Currently investigating, apologies for the inconveniences. As a workaround please turn all of the jobs with checkout steps to be 'regular' jobs by calling them as - job: instead of - deployment:

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#specifying-jobs

[2019-12-17 22:46] RichardMeadowsTC opened #6715 "Orginazation Scoped Feeds"
Where is the documentation for creating an organization scoped feed?  I need a new feed that is Organization-scoped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3db27124-fabe-5ab3-0f2e-e866cabff257
* Version Independent ID: c64aad85-16eb-919a-aff1-34f350065019
* Content: [What are feeds? - Azure Artifacts](https://d

[2019-12-17 23:01] chcomley commented on #6698
Hi @VAllens, please let me know whether @msebolt's example worked for you.

[2019-12-17 23:07] #2020 closed

[2019-12-17 23:39] chcomley commented on #5613
Hi @Styxxy, This article is super old and should be archived at some point. I've added a note to the article, which states the following.
Looking for Azure DevOps REST APIs? See the newest [Azure DevOps REST API reference](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.1).

Please @mention me if these links don't provide the necessary information.

Thank you!

[2019-12-17 23:43] #5613 closed

[2019-12-18 00:01] fordprefect480 commented on #1499
Is this second issue being tracked somewhere? Making our Azure DevOps Server 2019 instance public is not an option for us.

[2019-12-18 00:10] ata18 commented on #6695
This doesn't work either.

[2019-12-18 00:34] TASlavens opened #6716 "Adding Git branches to code search indexing is _not_ available in AzDOS 2019u1"
When viewing the document for the Azure DevOps Server 2019 version, in the section "Syntax for simple and compound searches", the paragraph right before the image showing how to configure code search for additional branches other than "master" in a Git repo, and also the entire paragraph itself, does not apply to AzDOS 2019.  The option to add branches for indexing is not present in AzDOS 2019u1 (

[2019-12-18 00:42] justrhysism opened #6717 "Mermaid Markdown Inconsistent with Common Practice"
So the docs state that Mermaid can be used using the Wiki's three-colon invocation `:::`. But this goes against the common practice of placing Mermaid markdown syntax inside backticks `\`\`\``:

- https://github.com/temando/remark-mermaid
- https://docs.gitlab.com/ee/user/markdown.html#mermaid
- https://markdownmonster.west-wind.com/docs/_5ef0x96or.htm
- https://www.mweb.im/markdown.html#toc_19

U

[2019-12-18 01:05] zkbule opened #6718 "specify extension/{id} in demands is not working"
![image](https://user-images.githubusercontent.com/13895180/71047096-58f5d580-20ef-11ea-843f-56539c532e2f.png)

[2019-12-18 01:06] zkbule commented on #6718
![image](https://user-images.githubusercontent.com/13895180/71047172-99555380-20ef-11ea-82fd-a13f2b95abe1.png)

[2019-12-18 02:03] drdamour commented on #6166
@msebolt @RoopeshNair any update on this one?

[2019-12-18 02:42] VAllens commented on #6698
##### I saw this in `VSS.SDK.js`:
[code]

## Thank all, especially @msebolt .

[2019-12-18 04:46] drdamour opened #6719 "can you have a non deployment job not requiring approval in the same stage as a deployment job requiring approval?"
seems like -deployment means the whole stage needs approval and no way to run a job/task before deployment, is that the case?  in fact it seems like the strategy: isn't really even required the -deployment & environment trigger the approval need alone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0

[2019-12-18 08:34] jeanpoelie commented on #6691
We currently use Octopus deploy to deploy our new images to our cluster, but since we have the option of going to Azure DevOps we are exploring it at the moment.

Octopus deploy provides us with a large set of settable configurations which make deploying an image a breeze for everyone in the team, only few know all the needed commands.
Is there a plan to implement this in azure pipelining at some

[2019-12-18 11:09] Abdulsametileri commented on #3825
I think, No.

https://ss64.com/nt/robocopy.html

[2019-12-18 11:45] llewis-wildtree commented on #5536
What is the status of this?  Is this just considered a docs issue, or is the underlying 401 issue going to be addressed for on-prem?

[2019-12-18 12:10] N-Usha commented on #4486
Quick update: We now support adding “Virtual machines” as a resource within an Environment , which can be targeted for Rolling deployments in YAML pipelines.  Feature is currently behind a feature flag and under Private Beta testing. We will roll this out to all the customers over the next weeks.

[Here](https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-162-update#vm-deployme

[2019-12-18 12:39] rfontijn commented on #4632
Maybe a good idead to change the examples as well on this...

[2019-12-18 12:55] mejje opened #6721 "Arguments Login & Password is not accepted"
Login & Password from your argument list does not match the task inputs, e.g. sqlUsername. Will sqlPassword actually accept a secret variable? Couldn't get it to work. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19f07c04-6b05-0de0-9b74-e032226528a4
* Version Independent ID: f0363446-1415-4e48-4c40-9b56906654

[2019-12-18 14:16] woutervanvliet opened #6722 "Specifying version (tag, branch) when triggering a pipeline"
Is it now also possible to specify what version to checkout when triggering a pipeline?

I imagine it's possible to use variables for any of the configuration properties, but a regular variable just gives you a freetext field. Having a dropdown where one can select a valid branch or tag would be very nice (similar to how build artifacts are selected when triggering a release.

---
#### Document De

[2019-12-18 14:20] fordunka opened #6723 "How can a developer find messages between reviewer and developer for future reference?"
The messages that are code and block specific don't seem to be easily retrievable using Azure Devops tool.   I need to see what those comments are from time to time without having to dig through emails to find the pertinent review.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0d4140-d512-8c58-0f35-dac14e355cdf
* Ve

[2019-12-18 14:59] #6693 closed

[2019-12-18 15:18] shashankbarsin commented on #6646
@devedse, we are yet to update the Helm task to have an option to use either Helm 2 or Helm 3. So right now, the task is generating command scripts that are specific to Helm 2 while using Helm 3 cli that was installed correctly by the Helm Installer task.

We will definitely have an update on this issue soon. However, in the meanwhile, can you try out the following to unblock yourself -
- Use Helm

[2019-12-18 15:21] shashankbarsin commented on #6669
While the documentation on using setting up release pipelines is available piecemeal (different release constructs documented under various concept docs), please find below the [how-to guide](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/kubernetes/canary-demo?view=azure-devops#setup-continuous-deployment) leveraging release pipelines on setting up canary deployments on Kubernetes c

[2019-12-18 15:21] #6669 closed

[2019-12-18 15:22] devedse commented on #6646
Hi @shashankbarsin , thanks for the response.

For now we changed the command to helm upgrade which apparently worked after some tweaking. (I think it doesn't make use of any new or obsoleted values in comparison to Helm v2)

[2019-12-18 15:28] adeydev commented on #5687
Is this still on track for a January release?

[2019-12-18 16:19] msebolt commented on #6707
@Eldadc Thank you for the question.

It is unlikely the feature is supported at this time, please move this to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

For additional support options, see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackov

[2019-12-18 16:26] #6701 closed

[2019-12-18 16:28] msebolt commented on #6705
@StingyJack Thank you for the feedback.

We'll get the document updated shortly.

[2019-12-18 16:29] msebolt commented on #6708
@buckleyGI Thank you for the feedback, assigning this to the author for review.

[2019-12-18 16:29] msebolt commented on #6709
@A-AontwSR Thank you for the feedback, assigning this to the author for review.

[2019-12-18 16:30] msebolt commented on #6710
@lukepuplett Thank you for the feedback, assigning this to the author for review.

[2019-12-18 16:49] #6698 closed

[2019-12-18 17:15] anandlukose commented on #6715
I am looking for the same as well. Existing feeds are switched to organizational scope and we have to create more but we can only create project scoped feeds now. Any help is appreciated.

[2019-12-18 19:13] Materia-xx opened #6724 "task.setvariable - IsOutput docs"
task.setvariable looks like it's missing docs about the IsOutput Property.
Info can be found here if needed: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-in-script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf0bbb-8b63-6384-aa33-b5b1e2b8cfe3
* V

[2019-12-18 19:14] placidseven commented on #6443
@WilliamAntonRohm Are you serious? Your going to site StackOverflow as documentation? I shouldn't have to go ask the question else where. This is an issue of lack of documentation, and all documentation should be sourced from this repository. There should be sufficient examples for use cases within the documentation.
If the documentation says I can set my secret variable as an environment variable

[2019-12-18 19:29] jpricket commented on #6683
@JaDevGuy - Thanks for reporting this issue. I created a bug and I have a fix that should get in this week, but because of the holidays, it won't start rolling out until January sometime. Sorry for the oversight.

[2019-12-18 19:36] leus commented on #539
Hello - this documentation hasn't changed is still as useless as it was when this was first reported. Any ideas on how to deploy a Windows Desktop Application (as an artifact for downloading)?

[2019-12-18 19:38] juliakm commented on #6246
@DaveJarvis Thank you for this amazing diagram!!!! I'm working on getting it updated to meet our style guidelines and incorporated into the docs.

[2019-12-18 19:47] JaDevGuy commented on #6683
Thanks @jpricket ! I'll standby for the fix and test again once it's ready. Appreciate the quick turnaround!

[2019-12-18 20:01] juliakm commented on #5093
Thanks for your patience on this. I checked with the product team and there are places where variables will expand when nested, and the behavior will be slightly different if you specify variables with macro syntax (example: `$(var)`). However, this is not an officially supported feature and their recommendation is to not document macro variables as expanding recursively.

If you would like to rea

[2019-12-18 20:01] #5093 closed

[2019-12-18 20:29] bc3tech commented on #6443
I'll circle back around to tell people how I ended up getting this to work...

[Per the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables), the only way to use secrets is to inject them in to your pipeline and use them as _environment variables_ like this:

Variable group with secret value:
![image](https://user-ima

[2019-12-18 20:34] #6707 closed

[2019-12-18 20:48] shashankbarsin commented on #6646
We'll just do a check once of the commands supported by the Helm task currently to see if there any changes required. If no changes are required, that's perfect and I'll close this issue. If changes are required, we will fix it.

[2019-12-18 20:51] grlima commented on #3869
Okay, version 4 is out of preview and it seems I can no longer use Az.ManagedServiceIdenty. The first thing I do in my script is to install it (Install-Module Az.ManagedServiceIdenty). This was working fine, but I now I get the following error (later in the script when I try to use one of the cmdlets):

The 'Get-AzUserAssignedIdentity' command was found in the module 'Az.ManagedServiceIdentity', b

[2019-12-18 21:06] bc3tech commented on #6443
To the point of this GitHub issue, the documentation could be much clearer on the steps needed for secrets - that they must be piped in to Env Variables as part of the pipeline before being used - which aren't clear in the current samples/examples (IMO because they all focus on YAML which isn't in itself verbose enough to be documentation)

[2019-12-18 21:26] ata18 opened #6726 "Deleted runs still show up in pipeline reports"
Is it possible to remove deleted runs from pipeline reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2da4714e-d931-6777-d8be-b123a2b0fa17
* Version Independent ID: 09eec061-51ab-e6a9-e61c-0b6f618cd969
* Content: [Pipeline reports - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/reports/

[2019-12-18 21:42] chcomley commented on #6695
Hi @ata18,

Here's a more appropriate article for downloading a file: https://docs.microsoft.com/en-us/rest/api/azure/devops/git/items/get?view=azure-devops-rest-5.1#download

Let me know if you have any further questions by @mentioning me. Thanks!

[2019-12-18 21:49] chcomley commented on #6709
Hi @A-AontwSR,

Here's a link to [more information about PATs](https://docs.microsoft.com/en-us/azure/devops/extend/publish/command-line?view=azure-devops#acquire-a-personal-access-token). I've added a link to more info within the article as well.

Thanks for your feedback! Please @mention me if you have any further questions.

[2019-12-18 22:02] chcomley commented on #6699
Hi @soutchilin,

Go here for more information: [Change Azure AD Connection](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/change-azure-ad-connection?view=azure-devops)

I'll also provide a link to this information within this article.

Please @mention me if you have any further feedback or questions. Thanks again!

[2019-12-18 22:09] msebolt commented on #6575
Closing issue now.

[2019-12-18 22:09] #6575 closed

[2019-12-18 22:26] msebolt commented on #6628
Assigning this to the author for review.

[2019-12-18 22:44] msebolt commented on #6434
@timja  We apologize for the confusion.

The change is available, see...

![Capture](https://user-images.githubusercontent.com/6675884/71129295-fc082700-21a3-11ea-9845-d306be486433.PNG)

...has Linux removed from the description.

[2019-12-18 22:49] WilliamAntonRohm commented on #6712
@HughDevlin -- Hugh, in this article `drop` is an example value.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-18 22:49] #6712 closed

[2019-12-18 23:10] msebolt commented on #6593
@logiclrd  Thank you for the update.

The documentation has been updated.

Default version is 4.9 as per [source](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/NuGetToolInstallerV1/nugettoolinstaller.ts).

You can omit the version and set `checkLatest` to true to keep up with the latest version as per the default above.

[2019-12-18 23:11] msebolt commented on #6627
Assigning this to the author for review.

[2019-12-18 23:21] msebolt commented on #6625
This feature is currently in progress, pease refer to [this issue](https://developercommunity.visualstudio.com/content/problem/701307/use-of-dynamic-variables-in-yaml-pipelines.html) for updates.

A possible work-around is to use the PowerShell task, see [here](https://stackoverflow.com/questions/58813136/dynamically-set-azure-devops-variable-in-scripts).

Closing issue now.

[2019-12-18 23:21] #6625 closed

[2019-12-18 23:30] taiyee opened #6727 "Severe lag in Web Hook"
I have a Web Hook set up to trigger on Work Item Update. I noticed it is severely lagging. For example, update to work item made on Friday does not show up in the Web Hook History until Tuesday. When it does show up, it shows Success, not Fail, but the 5-day delay is too long. What troubleshooting steps should I take?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-12-18 23:39] WilliamAntonRohm commented on #6718
@zkbule -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-18 23:41] WilliamAntonRohm commented on #6719
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-19 00:02] johndaly123 opened #6728 "libssl issue on Ubuntu 19.04 when running ./config.sh"
Enter authentication type (press enter for PAT) &gt;
Enter personal access token &gt; ****************************************************
No usable version of the libssl was found
./config.sh: line 86:  6211 Aborted                 (core dumped) ./bin/Agent.Listener configure "$@"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-12-19 00:35] HughDevlin commented on #3495
More generally, on a PUT, can an input file be specified in the parameters for this task, as it can in the corresponding underlying PowerShell Utility method?
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-restmethod?view=powershell-6

[2019-12-19 02:07] hewigovens commented on #6172
we actually cache `Pods` folder and avoid `pod install` step, might be better than caching ~/.cocoapods

[2019-12-19 02:20] drdamour commented on #6719
Not sure how u for that impression...the docs don’t make it clear what happens if you have multiple jobs ina stage and one is a deploy job

[2019-12-19 02:35] chrisdrobison opened #6729 "Repos paths are wrong"
I get couldn't this to work as documented. The URLs are missing the project name. So it should be the following instead:

[code]

And the command:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069d650f-9948-2492-86d2-a5423ce043fb
* Version Independent ID: 9c95f2fb-44be-5dbb-be51-0c498ed692d2
* Content: [Go get

[2019-12-19 02:40] johnnykang opened #6730 "Deployment status without using the Release Pipeline"
Hi,

Is there any way to publish the deployment status without using the Release Pipeline? Perhaps using Devlops CLI to publish a deployment status to a workitem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462be419-4cfd-4bfc-06cc-45800c0d888b
* Version Independent ID: 95cb8a7d-c61d-dfac-403f-12fe40ba1c49
* Content:

[2019-12-19 03:33] ata18 commented on #5159
@chasewilson The documentation doesn't clearly mention that the user "Project Collection Build Service" has to be explicitly added. I ended up making the same mistake of updating the permissions on "Project Collection Build Service Accounts" instead of updating the user's. Can you please update the document to call this out.  Also the screen shots on the page looks stale.

[2019-12-19 04:31] #6695 closed

[2019-12-19 04:31] #6699 closed

[2019-12-19 06:55] M0ns1gn0r commented on #6434
I would say it's still unclear. Why not directly write "you need at least one Windows agent..."

[2019-12-19 08:33] elangelo opened #6731 "BUILD_SOURCEVERSIONMESSAGE missing"
We were using the BUILD_SOURCEVERSIONMESSAGE succesfully in our build until yesterday when i noticed that this environment variable is no longer set.
Either this is a bug in the documentation or in the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc

[2019-12-19 09:11] v-avirao commented on #5739
What happens when two variable groups having same variable are imported in a stage.
For Eg: Group1 has variable "variable1" and Group2 also has "variable1" and I am referring both the groups in one stage. How to access Group1.Variable1 ?
Thanks

[2019-12-19 09:17] v-avirao commented on #5739
What happens when two variable groups having same variable are imported in a stage.
For Eg: Group1 has variable "variable1" and Group2 also has "variable1" and I am referring both the groups in one stage. How to access Group1.Variable1 ?
Thanks

[2019-12-19 09:25] v-avirao opened #6732 "How access variables specific to a variable group, When Imported multiple variable groups with same variable names."
What happens when two variable groups having same variable are imported in a stage.
For Eg: Group1 has variable "variable1" and Group2 also has "variable1" and I am referring both the groups in one stage. How to access Group1.Variable1 ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef6

[2019-12-19 10:16] MarioMeldau opened #6733 "Creation of work item does not work"
Hello,

i try to create a work item from an extension but i always get the following error code:
An undefined error occurred while attempting to connect to the server. Status code 0: error.

Here is the source code. I do not know why this error happens. The function "workItemClient.getWorkItem" works fine.

VSS.require(["TFS/WorkItemTracking/RestClient"], function (restClient) {
    var workItemCl

[2019-12-19 10:35] A-AontwSR commented on #6709
Hi @chcomley ,
Thanks for the link with more information, that is excactly what i needed 👍.
But I can not find a link to this info in the article on https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops#upload-your-extension

[2019-12-19 10:36] baoliangwan opened #6734 "Can not save the option for Authorize for use in all pipelines"
I can not save the option for Authorize for use in all pipelines. It's grey all the time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140dcb9a-2ed0-11d5-064b-068f863ed97f
* Version Independent ID: 672d2aa3-cf0d-9207-c97c-e2eba14506b7
* Content: [Secure files for Azure Pipelines and TFS - Azure Pipelines](https://doc

[2019-12-19 10:45] oliverholliday opened #6735 "The documentation and the example don't match"
The argument documentation says they're all required, but the example says 4 are optional.

The argument list has totally different sets of which values are valid compared to the example and the names don't match up either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cebdaea-9b1f-e65a-a789-6571b5e28c03
* Version In

[2019-12-19 11:03] MarioMeldau commented on #6733
I found the solution. I had to change to scope of the extension to vso.work_full. It was only vso.work

[2019-12-19 11:03] #6733 closed

[2019-12-19 11:31] wagnerbsouza commented on #3118
Same here :disappointed:
![image](https://user-images.githubusercontent.com/49475734/71170326-4f897c00-225b-11ea-9bbf-ea18de538d43.png)

Task:
[code]

[2019-12-19 12:06] nguyenlamlll opened #6736 "Windows-2019 and vs2017-win2016 agents do not contain bower"
I used those two agents and when I tried to run `bower -v`. But both say the command is not recognized.

![image](https://user-images.githubusercontent.com/20963684/71172395-a9f1ff00-2292-11ea-9bae-4e3da2029e23.png)

The documents ([2019](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md#nodejs), and [2016](https://github.com/actions/virtual-environments/

[2019-12-19 13:24] sdavis3 commented on #3869
Have tried using version 4 and 5.* (preview) and get the same error:

##[error]Could not find the modules: 'Az.Accounts' with Version: ''. If the module was recently installed, retry after restarting the Azure Pipelines task agent.

[2019-12-19 13:38] sdavis3 commented on #3869
Reverting the task to version 3 solves the issue as a workaround for me. This implies something related to Az.Accounts is broken in version 4 and has not yet been resolved in version 5.* (preview).

[2019-12-19 14:37] lukepuplett commented on #6710
In fact, I've now spotted it automatically added a download step before Checkout. I just haven't been able to work out which predefined variable addresses the folder where it put, only 3 days spent on it so far, no problem...

[2019-12-19 14:52] lukepuplett commented on #6710
It's ($Pipeline.Workspace)

Finally, I can move onto tackling the next error.

[2019-12-19 14:53] RoopeshNair commented on #6714
@HughDevlin - Thanks for reporting this. No, this task doesn't create *.war, it expects *.war file as an input. Will get the docs udpated

[2019-12-19 15:29] RoopeshNair commented on #6166
Created [PR#726](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/726) for doc update

[2019-12-19 15:31] #6166 closed

[2019-12-19 15:54] placidseven commented on #6443
It complicates matters that different PowerShell cmdlets use secure strings differently. There doesn't seem to be any sort of consistency on use of types.

Example:

[code]
versus

[code]

The differences are subtle but important. I know this isn't the place to address this issue, but to be honest for this reason I wouldn't use powershell if it wasn't a requirement for us.

[2019-12-19 16:33] alwalderman commented on #5647
I agree, this should be made clear in the docs.

[2019-12-19 17:15] chcomley commented on #6709
Hi @A-AontwSR, I'm so glad you got what you needed. I hadn't signed off on my PR, so it didn't get completed until just now, which is why you couldn't see the new link within the article. :) Thank you!

[2019-12-19 17:20] #6709 closed

[2019-12-19 17:33] lettucemode commented on #4419
Hi @stephenmichaelf , are you aware of any updates to this planned feature?

I'm on the build team at a large corporation, and one of the things we'd like to do is gather statistics on how many releases are done daily and what kinds of technologies are in use. For example, what % of our applications are .NET and hosted in Azure. This release decorator would be perfect for that, since we could drop

[2019-12-19 17:52] stephenmichaelf commented on #4419
@lettucemode They've been added! Let me find out if we've updated the docs for how to use them.

[2019-12-19 17:54] stephenmichaelf commented on #4419
I've reached out to the team that implemented decorators for release and asked them to respond here with steps and to updated our docs [here](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?view=azure-devops).

[2019-12-19 18:21] #6626 closed

[2019-12-19 19:05] msebolt commented on #6715
@RichardMeadowsTC Thank you for the question, assigning this to the author for review.

Please refer to the open issue [here](https://developercommunity.visualstudio.com/idea/863132/organisation-scoped-feeds.html) for feedback and updates from the product team.

Details on using the API can be found [here](https://developercommunity.visualstudio.com/content/problem/859583/can-no-longer-create-orga

[2019-12-19 19:12] msebolt commented on #6717
@justrhysism Thank you for the feedback.

Please note to resolve issues in this forum, we can only make changes to the working documentation.

For product issues and/or feature requests, please move the issue [here](https://developercommunity.visualstudio.com/spaces/22/index.html) for updates from the product team.

[2019-12-19 19:14] HughDevlin opened #6737 "Argument names"
The input parameter names in the YAML snippet do not match the Argument column in the Arguments section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0ef2cf-ed52-6ded-bf14-4820d73b4ed0
* Version Independent ID: 7781e0f0-43aa-9008-abda-c03a37e2d7b4
* Content: [Windows Machine File Copy task - Azure Pipelines](https:

[2019-12-19 19:28] HughDevlin opened #6738 "requires Windows agent"
page should state a Windows agent is required, both source and destination agents

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0ef2cf-ed52-6ded-bf14-4820d73b4ed0
* Version Independent ID: 7781e0f0-43aa-9008-abda-c03a37e2d7b4
* Content: [Windows Machine File Copy task - Azure Pipelines](https://docs.microsoft.com/en

[2019-12-19 19:37] pantheraleonessa commented on #6340
I'm having this same issue. I get notifications when mentioned on PRs, but not stories, tasks or features. Is there a way to be notified when mentioned on these? Or is it only for PRs?

[2019-12-19 19:45] #6608 closed

[2019-12-19 21:04] placidseven opened #6739 "env variable creation"
Creating env variables inline does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb215324-b1a0-93b5-5022-4bcc7da93bb7
* Version Independent ID: 9eb2977b-ac34-9d53-670e-04fa027bc8e4
* Content: [Azure PowerShell task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-

[2019-12-19 21:04] msebolt commented on #6722
@woutervanvliet Thank you for the question and feedback.

You can refer to some issues involving the use of variables posted [here](https://developercommunity.visualstudio.com/idea/388532/specify-variables-with-release-trigger.html) and [here](https://developercommunity.visualstudio.com/content/problem/212251/configuration-of-build-definition-variables-on-sch.html).

Please note that feature reque

[2019-12-19 21:39] weevil44 commented on #6043
I am looking for this also.  We have multiple teams sharing the same project but do not want variable groups shared between the pipelines.  How do we restrict someone from authorizing the variable group from another team for access on their pipeline?

[2019-12-19 21:43] HughDevlin opened #6740 "argument names and parameter names agreement"
The names of the input arguments in the YAML snippet do not match the argument names in the argument column in the Argument section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f9308fc60cd
* Version Independent ID: 2c28a59b-8ef5-d7ab-46a6-58748ec552f5
* Content: [Azure File Copy task - Azure

[2019-12-19 22:05] HughDevlin commented on #6434
Don't you need 2? Isn't it true the agent running the task as well as the destination machine must both be Windows?

[2019-12-19 22:27] HughDevlin opened #6741 "You will see this parameter"
In the Arguments section, under runtimeStack, awkward unclear wording "You will see this parameter only when..." seems to be a cut&paste from a GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955bb83-fa46-22e0-de73-7700ae214af8
* Version Independent ID: 1f55672f-711e-24fa-e6bc-edc0ca723eba
* Content: [Azure Web Ap

[2019-12-19 23:07] adamsj-oci opened #6742 "Pipeline triggers example give "Unable to resolve definition""
Using the example given at this link

https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#pipeline-triggers-1

My build results in an "Unable to resolve definition..." for the name of the pipeline in the same organization. What is the difference between the pipeline and the source names because the documentation seems to indicate that the pipeline nam

[2019-12-19 23:48] msebolt commented on #6723
@fordunka Thank you for the feedback.

Please see if [this post](https://developercommunity.visualstudio.com/idea/365924/search-filter-commit-messages.html) addresses your issue.

Else, you will need to start a new thread with the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-12-19 23:49] msebolt commented on #6724
@Materia-xx Thank you for the feedback, assigning this to the author for review.

[2019-12-19 23:54] msebolt commented on #6726
@ata18 Thank you for the feedback.

Please see if either [this post](https://developercommunity.visualstudio.com/idea/715299/azure-devops-pipeline-reports-custom-metrics.html) or [this post](https://developercommunity.visualstudio.com/idea/807720/allow-the-ui-to-delete-test-runs.html) addresses the issue.

Else, please move the issue [here](https://developercommunity.visualstudio.com/spaces/22/ind

[2019-12-19 23:57] msebolt commented on #6727
@taiyee  Thank you for the question, we're sorry you're experiencing issues.

Unfortunately, support options are limited since this is a documentation forum, please see [here](https://azure.microsoft.com/support/devops/) for additional options.

@chasewilson

[2019-12-20 00:02] msebolt commented on #6728
@johndaly123 Thank you for the feedback.

Please refer to https://github.com/microsoft/azure-pipelines-agent/issues/2349.

[2019-12-20 00:15] msebolt commented on #6729
@chrisdrobison Thank you for the feedback.

We'll get this added to the documentation updated shortly.

[2019-12-20 00:35] johndaly123 commented on #6728
Great, thanks for the follow-up, we went with Ubuntu 18.04

From: Matthew Sebolt <notifications@github.com>
Sent: Thursday, December 19, 2019 4:02 PM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: John Daly <johndaly@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsts-docs] libssl issue on Ubuntu 19.04 when running ./config.sh (#6728)

@johndaly123

[2019-12-20 01:02] yorhpokie opened #6743 "Classic Editor"
How to specify multiple repos in the Classic Editor in Azure DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0499c0-bd1c-47a0-b472-54a5d6c159b4
* Version Independent ID: ec3feae0-4f23-68ab-6307-75fde645468a
* Content: [Check out multiple repositories in your pipeline - Azure Pipelines](https://docs.microsoft.c

[2019-12-20 01:22] msebolt commented on #6728
Sounds good, no problem.  Apologies for the inconvenience.

Please refer to [features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline) for updates on when 19.04 will be supported.

[2019-12-20 01:22] #6728 closed

[2019-12-20 03:35] madhuv-msft commented on #6706
@hbuckle We are yet to implement decorators for Deployment type jobs. we do not have any ETA on when this can be available. once we have this feature we will update the [document](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?view=azure-devops).

CC: @chshrikh

[2019-12-20 04:34] pavankumarBL opened #6744 "Inappropriate Image"
This page of section is about Git But tag View History has a Image of TFVC history where it is a Centralized SCM. Previous sections tells to add commit and Push code to Git repo and in the portal while viewing the history of the changes image shown is TFVC so i feel we need a change here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-20 04:38] madhuv-msft commented on #4419
@lettucemode we have added the info in this [document](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?view=azure-devops#author-a-pipeline-decorator). You can find info on what to add as targets, _ms.azure-release-pipelines-agent-job.pre-job-tasks and ms.azure-release-pipelines-agent-job.post-job-tasks targets inject the decorators in jobs in release pipelines._

[2019-12-20 06:36] msebolt commented on #6744
@pavankumarBL Thank you for the feedback, assigning this to the author for review.

[2019-12-20 06:41] msebolt commented on #6743
@yorhpokie Thank you for the question.

Since this is product-related it would best be served by the product team, please move the issue [here](https://developercommunity.visualstudio.com/spaces/22/index.html).

Please see [this post](https://developercommunity.visualstudio.com/content/problem/610934/long-term-support-for-classic-editor.html) for an example on classic editor support.

@steved0x

[2019-12-20 06:44] msebolt commented on #6736
@nguyenlamlll Thank you for the feedback.

Unfortunatley changes in this forum can only apply to the documentation.

As referenced from your provided links, please move the issue to the [virtual-environments](https://github.com/actions/virtual-environments/issues) repo.

[2019-12-20 06:46] msebolt commented on #6735
@oliverholliday Thank you for the feedback, assigning this to the author for review.

[2019-12-20 06:51] msebolt commented on #6730
@johnnykang  Thank you for the feedback.

Unfortunately, we are unable to resolve support requests in this forum.

If you feel this is an issue with the product itself, you can get feedback from the product team by moving the issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

Otherwise, for additional support options, please see:

- [Azure DevOps Support](https://azur

[2019-12-20 07:20] Korijn opened #6746 "Explain project-scoped feed authentication"
The task does support project-scoped feeds but it doesn't explain how. Support was merged into the task in https://github.com/microsoft/azure-pipelines-tasks/pull/10657 but the docs were not updated. Looking at the changes in that PR it seems that you can prefix feednames with the project name and a forward slash, is that correct? Like this:

[code]

I _also_ needed to manually add the "**project-

[2019-12-20 09:07] Additi commented on #6663
Hi,
Can you help me understand what exactly do you refer to when you say "Azure-related automated tests"?

[2019-12-20 09:12] Additi commented on #4715
Hi @Sychevlgor, Apologies for late reply. It works fine with VS2019. We recommend you to have the latest version for the best experience.

[2019-12-20 09:14] sebader opened #6747 "Variables set in one task get prefixed?"
I'm using a powershell script to set output variables in one task as outlined here: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cpowershell#set-in-script

However, when I want to use them from the environment variables in the next task, they always get prefixed with either "POWERSHELL1_", or if I specify a reference name for the output,

[2019-12-20 09:26] PatrickGrub opened #6748 "Search for pipelines/releases not created by me"
I want to search through pipelines and releases where I have access to but I am not the creator of.
Now, I can find anything in the search for the project where I am administrator.
How can I configure this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9adc845-adee-a494-79b4-3466f51d3ec9
* Version Independent ID: 124

[2019-12-20 09:31] RGKarthik commented on #6438
@towerbe ,
Connecting with you over email.

[2019-12-20 09:52] danielstefanescu commented on #6031
The issue is still valid: the yaml build doesn't start if the on-premise agent doesn't have the latest *pre-release* version; lost 3 hours on this.

[2019-12-20 10:20] jawn opened #6749 "Swimlanes in TFS 2017"
Hi,
This page lists the following product versions:
Azure Boards | Azure DevOps Server 2019 | TFS 2018 | TFS 2017 | TFS 2015

However, I cannot find the Swimlane configuration in TFS 2017.

I do see the field Board Lane, but no setting to configure the use of swimlanes in TFS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-20 11:30] garylogin commented on #2451
Thanks Ozzian thats great...but when i do that i cannot put a description, there is no date or user assigned to the tag
![image](https://user-images.githubusercontent.com/4747269/71252114-04836d80-231c-11ea-8133-d4d1edcf04ef.png)
1.0.25 was done using your method 1.0.25-beta was manual
thanks again

[2019-12-20 14:43] lettucemode commented on #4419
Thank you both!

[2019-12-20 15:17] melezhik commented on #6043
I've sorted it out by setting ACL for a certain variable group.

`token = $project/library/$variable-group-id`

[2019-12-20 15:20] RoopeshNair commented on #6739
Can you share more info?

[2019-12-20 15:28] RoopeshNair commented on #6738
We believe the task name is quite descriptive.

[2019-12-20 15:28] #6738 closed

[2019-12-20 15:34] RoopeshNair commented on #6737
Argument column is not meant to be YAML input names. You can use the task assistant to get the YAML snippet.

![image](https://user-images.githubusercontent.com/1370480/71265407-29073600-236c-11ea-934d-2f9a66eeab68.png)

![image](https://user-images.githubusercontent.com/1370480/71265429-36242500-236c-11ea-8e59-e45211558828.png)

![image](https://user-images.githubusercontent.com/1370480/71265468-

[2019-12-20 15:34] #6737 closed

[2019-12-20 15:36] RoopeshNair commented on #6740
Argument column is not meant to be YAML input names. You can use the task assistant to get the YAML snippet.

![image](https://user-images.githubusercontent.com/1370480/71265407-29073600-236c-11ea-934d-2f9a66eeab68.png)

![image](https://user-images.githubusercontent.com/1370480/71265429-36242500-236c-11ea-8e59-e45211558828.png)

![image](https://user-images.githubusercontent.com/1370480/71265468-

[2019-12-20 16:19] HughDevlin commented on #6738
in the context of Azure the requirements to run this task are not clear. For example, as I understand it, Powershell may be run on Windows or Linux, and bash scripts may be run on WIndows or Linux. Isn't it a simple matter to clearly state the requirements?

[2019-12-20 16:22] #6593 closed

[2019-12-20 16:24] msebolt commented on #6690
Closing this now, please comment below if there are further issues.

[2019-12-20 16:24] #6690 closed

[2019-12-20 16:24] HughDevlin commented on #6737
Is it too much to ask, that the names of the parameters, used when coding up an invocation of this task, match the parameter names in the online documentation for this task? Really? The mapping between the actual parameter names and the parameter names in the documentation is available separately? Really?

[2019-12-20 16:25] #6692 closed

[2019-12-20 16:25] #6696 closed

[2019-12-20 16:26] #6702 closed

[2019-12-20 16:26] HughDevlin commented on #6740
The actual parameter names do not match the doc, and this is something we should all just get used to? Really?

[2019-12-20 16:35] rnarayana commented on #6690
Hey, thanks for your response. Am i supposed to report the issue elsewhere or have you taken care of it already?

[2019-12-20 16:46] msebolt commented on #6690
@rnarayana Thank you for the update, issue created at https://developercommunity.visualstudio.com/content/problem/864520/issues-with-cache-behavior.html.

[2019-12-20 17:05] beasamu1 commented on #3702
+1 on this!

[2019-12-20 17:15] HughDevlin commented on #6737
Please re-open for further discussion. Thank you.

[2019-12-20 17:20] HughDevlin commented on #6737
Everyone who uses this task is asked to perform the mental gymnastics of figuring out which actual parameter (in the YAML) corresponds to the description of the parameter in this doc. Consider this a cry for mercy. And yeah, I recognize it is not just this task, many if not all of the tasks exhibit this laziness in terms of documentation. It's almost as if this doc is automatically generated someh

[2019-12-20 18:13] Nikababy01 opened #6750 "New TFS is very buggy"
The new updates now, when copy in grid, does not copy text correctly, causing text to overlap. Can no longer copy and paste text to next test lines when inside a test case. Test cases now open in Execute mode, which causes confusion if you are trying to make changes to the test scripts. These new tabs are very inconvenient.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-12-20 18:35] WilliamAntonRohm commented on #6732
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-20 18:35] #6732 closed

[2019-12-20 18:37] WilliamAntonRohm commented on #6734
@baoliangwan -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

Meanwhile, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https:/

[2019-12-20 18:42] WilliamAntonRohm commented on #6748
@PatrickGrub -- Patrick, thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

Meanwhile, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support B

[2019-12-20 19:33] aapalm opened #6751 "[Approvals] Pipeline variable for environment approval"
Is there a way to fetch the approver's id / email and date in the pipeline?  I can't seem to find any predefined variable or REST API for this.

For releases, there was a PreDeployApprovals and PostDeployApprovals we could use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b067a175-f640-7503-9c1e-f0130c6dbeda
* Versio

[2019-12-20 20:09] ata18 commented on #6695
[code]
This works. Thanks!

[2019-12-20 20:58] madrum opened #6752 "Apply the customized process to your project update"
Before step 1, "Open the … context menu for the process and choose the Change team projects… option...", you must click the Process name that your current projects is using to view the process details. Click "Projects", which is to the right of "Work item types" and "Backlog levels". Then, click the "..." (meatballs) button and "-&gt; Change process".

A side window will pop out where you can sele

[2019-12-20 21:24] juliakm commented on #5567
@cocowalla  The documentation will be updated shortly. You can use .NET formatting for updating dates with format. For example, this YAML should work.

`trigger:
  - '*'

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job:
  variables:
    a: $[format('Hello {0} {1}', 'John', 'Doe')]
    b: $[format('{0:yyyyMMdd}', pipeline.startTime)]

  steps:
    - bash: echo $(a)
    - bash: echo $(b)
    `

[2019-12-20 21:44] Korijn commented on #6746
I can see how you would label this as doc enhancement but I think you should also update the default permissions for new project scoped feeds. They don't work out of the box.

[2019-12-20 22:14] Exodus opened #6753 "Pipeline trigger not working as expressed in documentation"
I am running a test for a recently added feature (https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-159-update#cd-capabilities-for-your-multi-stage-yaml-pipelines), this is not working as expressed in the documentation (https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#pipeline-triggers-1).

Per the documentation, I am running

[2019-12-21 04:59] kumarallamraju opened #6754 "Typo error on this page"
[Enter feedback here]

Do you mean

To use these tools you simply

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec7fc8c5-4ab5-d227-e930-9c3c3a5f62ac
* Version Independent ID: a6dfdeac-8b46-a4b8-f1a8-ac34a7e1900b
* Content: [Use standalone static analysis - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/ja

[2019-12-21 09:15] borys86 opened #6756 "Any suggestions on interacting with API with a service account?"
In my scenario, I wish to have some sort of a service principal that will perform calls to API without a need for user involvement. Could you point me in the right direction on how to implement non-interactive interaction and what authentication setup is needed for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2019-12-21 16:53] HughDevlin opened #6757 "No doc for rootDirectory input parameter"
No documentation on the rootDirectory input parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ea8b7b-44cb-e315-b086-c4e3361bf59a
* Version Independent ID: 5fcdaa72-ca89-2139-a8c9-2eb263b4824e
* Content: [FTP Upload task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/f

[2019-12-21 17:27] NetTecture commented on #4486
Yeah, except most of us will most likely NOT use VM deployment but file deployment. While I can se the benefit of this for certain scenarios, it is widely totally not usable in most enterprise environments.

In my case, i.e., I deploy to VM's - but those VM's are managed by a separate IT department with a month long turnaround time. And VM's are handling multiple applications that also have separa

[2019-12-21 17:40] Kadajski commented on #4486
The link provided in the previous comment does mention you can install the deployment agent on the target servers. So I think you're getting caught up in the naming of "virtual machine". I suspect that naming was used as that is what azure provides and this is azure devops after all. The functionality does seem like it is the replacement for what this thread was originally created for. Instead of

[2019-12-21 17:42] NetTecture commented on #4486
I do not know because I only hve this link for now - not prone to seeing this in my features yet (but it should show up in a couple of weeks). if it is the case, it is a one of the most epic misnaming ever, and it would require me to use the same machine in multiple environments OR them adding tags to allow futher filtering - will see what the documentation says once it become available.

[2019-12-21 20:32] kumarallamraju opened #6758 "Typo under Deploy agents to a deployment group section"
[Enter feedback here]

There's an extra "by" in the above sentence
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b38c265-be4c-b038-e3a9-783a5e5ce659
* Version Independent ID: 67da69da-3651-a8f4-f06a-c35aa3aa98fc
* Content: [Use deployment groups in a release pipeline - Azure Pipelines](https://docs.microsoft.com/en-us

[2019-12-21 23:09] ssa3512 commented on #4179
@arammaliachi I am not able to push a 342 MB file with `git lfs push`. Azure devops returns a HTTP 413 (Request Entity Too Large).

[2019-12-22 05:55] SharbelWired commented on #3520
Dude, thank-you so much for this hint!  I was scratching my head wondering why this was giving me so much grief!  Updating my git client on our on prem Ubuntu agent solved the issues we were having with regarding to submodule checkout in build pipeline.

Thanks again!

[2019-12-22 15:15] RothNRK opened #6759 "Incorrect docs for default value for Azure Devops Docker Compose containerregistrytype"
If you do not provide: `containerregistrytype: Azure Container Registry` the pipeline will default to
` [docker.io/azureContainerRegistry/projectName]` and not `[azureContainerRegistry.azurecr.io/projectName]` as the documentation suggests.

In the docs:
containerregistrytype(Container registry type) | (Optional) Azure Container Registry if using ACR or Container Registry if using any other contai

[2019-12-22 15:50] RothNRK opened #6760 "Incorrect information for Azure Devops Docker Compose azureContainerRegistry"
In the docs is clearly says `Name of the Azure Container Registry` while it really requires the Azure Container Registry `Login server`.

In the docs:
azureContainerRegistry(Azure Container Registry) | (Required) Name of the Azure Container Registry.

General feedback:
The amount of time my team wastes on misleading, ambiguous, or incorrect documentation is adding up. Azure's poor documentation is

[2019-12-22 23:34] #3695 closed

[2019-12-23 07:40] Bouke opened #6761 "Daily interval not working on Mondays"
I have a scheduled CI build with the definition below. It should run at midnight on Mon-Thu. However the observed frequency is Tue-Thu, skipping Monday. This behaviour is not expected and also not correct.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent I

[2019-12-23 08:55] sirLoaf commented on #5687
Hi Guys.
Any updates on this one? Even when I configure the notifications with "An approval for a deployment is pending" I don't receive any email. It used to work with previous version of tfs, but with the current version(Azure dev ops server, on prem, 17.143.28912.1) it stopped working.
Email notification is needed for our business.

Thanks

[2019-12-23 10:08] PiotrPerak opened #6762 "Path to artifact cannot use wildcards"
I think docs should clearly say that path in publish pipeline artifacts task can't use wildcards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9cc6a2f66
* Version Independent ID: bdf954b9-9bbe-8b34-b674-71ad8153519d
* Content: [Publish and consume artifacts in pipelines - Azure Pipelines an

[2019-12-23 10:11] RoopeshNair commented on #6758
[PR#742](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/742)

[2019-12-23 10:51] csuzw commented on #6513
This limitation on the use of variables with templates in pipelines is really limiting and frustrating.  Is there any intention to change this behaviour to something sensible?

[2019-12-23 13:45] rh-alps opened #6763 "Great Page"
It's rare that I reading a reference page is as rewarding as this one has been. Many thanks t the author.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipelines](https://docs.microsoft.c

[2019-12-23 14:51] ssa3512 commented on #4179
I was able to determine a ~120MB file size limit using this method:

- Create new azure devops git repository
- Run the following powershell in an emtpy folder
[code]
This generates arbitrary files in increasing 10MB steps. A 120MB file will push fine, but a 130MB file and anything larger fails with an HTTP 413 error.

This seems like a crazy low limit for Git LFS as GitHub supports files up to 2G

[2019-12-23 14:53] ssa3512 commented on #1520
I was able to determine a ~120MB file size limit using this method:

- Create new azure devops git repository
- Run the following powershell in an emtpy folder
[code]
This generates arbitrary files in increasing 10MB steps. A 120MB file will push fine, but a 130MB file and anything larger fails with an HTTP 413 error.

This seems like a crazy low limit for Git LFS as GitHub supports files up to 2G

[2019-12-23 17:15] chcomley commented on #4884
Hi @brunoterkaly, I've addressed your feedback, adding a bit of clarity, although we don't feel that there should be an explanation for the README, as most people who are coding at this level, creating tasks, will know that README's are quite common/standard. Please @mention me if you have any further questions or feedback. Thank you!

[2019-12-23 17:16] arammaliachi commented on #4179
@ssa3512 **HTTP 413** is usually a grumpy proxy or any other networking/machine limitation. I have seen tickets for that. Please [open up a support request for the Azure DevOps support team](https://azure.microsoft.com/en-us/support/devops/) and send the ID to my email: v-armal@microsoft.com

[2019-12-23 17:31] juangps96 opened #6764 "Tag "categories" is missing on vss-extension.json code on Add a Hub example - Azure DevOps"
The Tag "categories" is missing on vss-extension.json code:

 "categories": ["Azure Boards"],

On this example:

https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-hub?view=azure-devops

![Error](https://user-images.githubusercontent.com/13917423/71371683-f6ce2200-257f-11ea-8c29-462fc7fa8e68.png)

[2019-12-23 17:53] shanehsu commented on #4179
@macjustice Sorry to bother, but is there any update on increasing the total push size beyond 5 GB? Also, I'd like to know if there is a soft or hard limit on **total LFS object size**.

[2019-12-23 18:02] juangps96 commented on #4303
Yes, please, put a reference, at least with this link:  https://docs.microsoft.com/en-us/azure/devops/extend/reference/targets/overview?view=azure-devops#menus-and-toolbars

I could realize that this menu appeared in somewhere like: "Shared Queries" ... "More Actions"

Because of the target:

"targets": [
                "ms.vss-work-web.work-item-query-menu"
            ],

[2019-12-23 19:25] drdamour opened #6765 "artifactName is optional, and it's default is NOT drop"
The way the docs read today it looks like artifactName is optional (which it is) and the default value is drop..which it is not. It seems like the default name is constructed from the stage and job that called the task. _ are removed and the two items are concatenated with a .

the docs needs to be updated to indicate the correct default name.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-12-23 20:20] apacha opened #6766 "Provide a working YAML example for building and testing an iOS app."
Can you please provide a full WORKING example for iOS?

I've seen examples for Android, but I'm building also an iOS app and there seems to be no proper documentation. Note that there are some instructions that actually work (https://docs.microsoft.com/en-us/appcenter/test-cloud/preparing-for-upload/xcuitest), but the [Azure DevOps step](https://docs.microsoft.com/en-us/azure/devops/pipelines/task

[2019-12-23 20:34] drdamour opened #6767 "doc if you can have deployment and non deployment jobs side by side in a stage"
The docs don't clarify very well if a deployment job can live side by side with other jobs in a stage.  In practice it seems like if any job is a deployment job, then all jobs in the stage act as deployment jobs, namely they require approvals.  IE the entire stage is approved or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-23 21:21] arammaliachi commented on #4179
@shanehsu product group is not currently considering increasing the 5GB limit/push operation for Git repositories that **do not** implement LFS. The 5GB limit is hard for files that are not tracked by LFS.

I don't think we have a size limit per LFS object.

[2019-12-23 21:58] drdamour opened #6768 "include short form"
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#download describes a shortform that is not documented here and should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
*

[2019-12-23 22:41] drdamour commented on #6100
@mijacobs  can you revisit please?

[2019-12-23 22:45] drdamour commented on #6719
@WilliamAntonRohm  can we revisit please?

[2019-12-23 22:50] mijacobs commented on #6100
@juliakm Can you take a look? This issue was originally tagged as a product-question but it looks like a doc enhancement.

[2019-12-24 00:09] drdamour opened #6769 "add an example of how to reference a pipeline variable vs repeating the same expression"
I'd like to have an example added that shows how to reference a pipeline level variable expression

IE
in pipeline top something like it

variables:
  - name: isMaster
    value: eq(variables['Build.SourceBranch'], 'refs/heads/master')

then for a stage condition uses that isMaster:

condition: and(variables.isMaster, succeeded())

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-12-24 05:17] RaphHaddad commented on #6731
I'm having a similar problem when using `$(Build.SourceVersionMessage)` in YAML builds.

All of a sudden on Thursday 19th of December ~15:48 (AEST) the variable `$(Build.SourceVersionMessage)` stopped resolving. I did a diff on my commits on the YAML file and I can't see anything.

I'm not sure if this is the best place to report this issue as this repo is docs specific. Any direction to the right

[2019-12-24 12:07] Dash opened #6772 "Add match groups"
For the Copy Files task, it would be a handy addition to utilise matches from the source in the destination.
e.g.
Source path:  SubProject1\**\bin\$(BuildConfiguration)\*.dll
Destination: $(build.artifactstagingdirectory)\SubProject1

Make the "SubProject1" a matching variable, so this produces the same effect, just dynamically:
Source path:  (?&lt;area&gt;*)\**\bin\$(BuildConfiguration)\*.dll
Des

[2019-12-24 16:41] algattik opened #6773 "How can connectionType be both required and have a default value?"
"required" and "having a default value" are antonyms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcbb25d1-a706-e8fc-61e4-d5b86aa54f47
* Version Independent ID: 5634d9dd-fd92-761c-24b8-5e32ed6c6c35
* Content: [Kubectl task - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/

[2019-12-24 19:45] MarkIannucci opened #6775 "Checkout documentation does not specify defaults if parameters aren't specified"
I'm working on a broken build and realized that I need to not use the default checkout step and override the persistcredentials parameter.  In reviewing this documentation, I can't figure out what Azure DevOps does when Checkout is not specified, so I have to do a bunch of trial and error work to figure that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr