[2019-10-18 20:54] msebolt commented on #6056
@zl00p3r Thank you for the feedback, assigning this to the author for review.

[2019-10-18 20:56] msebolt commented on #6053
@jeremy-jameson Thank you for the feedback, assigning this to the author for review.

[2019-10-18 20:59] WilliamAntonRohm commented on #5993
@rernst-IQ -- thank you for your feedback.  On further investigation I believe the "<" operator should instead be "=", as an assignment rather than a condition.

@KathrynEE -- please review the changes in the above-mentioned PR 5993.

[2019-10-18 21:13] tashrifbillah commented on #5879
Following ...

[2019-10-18 21:28] msebolt commented on #6055
@agneszitte-nventive  Thank you for the feedback and for starting dialogue with the product team.

This may not be feasible since by design each build can include multiple schedules/triggers which can then include multiple repos/branches.

However, for now just create a new branch with an additional YAML schedule and we'll see how the product team responds.

[2019-10-18 21:29] msebolt commented on #6057
@seanwhitepc Thank you for the feedback, assigning this to the author for review.

[2019-10-18 21:43] msebolt commented on #6058
@slushysnowman Thank you for the question and image validation.

The documentation won't be updated until after official support for Ubuntu 18.04 is announced.

Please refer to https://github.com/Microsoft/azure-pipelines-image-generation/issues/506 for its status.

[2019-10-18 21:50] msebolt commented on #6055
@agneszitte-nventive Apologies, I just realized the issue you created is with other document team.

Please consider moving the issue under **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) where the product team can assess.

[2019-10-18 21:53] alexwiz91 opened #6060 "Download as zip ignores submodules"
It appears that Download as Zip will ignore submodules that are in a Git repo. Is there any chance that in the future this will also download all of the submodules as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35cd88fb-ff0f-5c7a-4c69-e3bb850836b4
* Version Independent ID: d29e4f48-37d9-c581-0fc5-91cc6829df1b

[2019-10-18 22:00] #5985 closed

[2019-10-18 22:07] dreagor opened #6061 "What effects will have change from one Azure Subscription to another"
I need to link a different Azure Subscription to my Azure DevOps Org.
What will happen with my Basic / Basic + Test licenses, extension licenses, service connections and build / release pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f717dae-91b5-276f-2f87-4b98331fb303
* Version Independent ID: e6e9d3b1-c00d

[2019-10-18 22:26] drewbren commented on #6061
- Change subscription will transfer any charges from Subscription A to Subscription B
- Extensions are all now paid to the publisher directly, so there is no change for extension licenses
- Service connections and build/release pipelines will be unchanged (only billing for pipelines will be transferred)
-

Let us know if the answers your question

Thanks,
-Andrew

[2019-10-18 23:34] arammaliachi commented on #4179
@macjustice thank you for spotting this, the change has been submitted and is under review by the Content Development team. In short:

[2019-10-18 23:55] StephenRSkinner opened #6062 "TFS 2018 Package Feed SemVer 2.0 Metadata Not Supported"
When pointing to the TFS 2018 package feed configured as a passthrough for NuGet, the nuget.frameworks.5.0.0.nupkg package produces the following error.

The package is invalid: The package version had build metadata.  We do not support versions with build metadata.

This is not the only package to produce this error. It appears any package that has SemVer 2.0 metadata fails to download or cache i

[2019-10-19 06:14] bitcrazed opened #6063 "Multiple Configurations not supported"
The docs say that the VSBuild task can build multiple configurations, but I can't find the 'Multi-configuration' or 'Multipliers' fields in the job settings.

Also, the instruction to 'Select Tasks and click on the agent job' appears to be incorrect.

ALSO, Variables tab doesn't appear to populate itself with Variables from the pipeline definition. Is this intended?

---
#### Document Details

⚠ *

[2019-10-19 07:27] loicmorvan opened #6064 "Not enough info with .NET Core"
Hello,

At the beginning of the article, you say: "Tests that target the .NET core framework can be executed by specifying the appropriate target framework value."
How do you specify the appropriate target framework value?
On which argument? With which value?
Are there other things to know when using vstest with .NET Core?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-19 13:05] ashwinifly opened #6065 "It's not clear how can we recover from status server downtime. Will devops retry?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-10-19 13:53] cjoakim opened #6066 "AzureFunctionApp@1 package attribute value"
The value of "javafunctions" in the package attribute of the AzureFunctionApp@1 is confusing and mysterious.  Where does it come from?  Is it a standard directory for deploying Java Azure Functions?

- task: AzureFunctionApp@1
  displayName: Azure Function App deploy
  inputs:
    azureSubscription: $(serviceConnectionToAzure)
    appType: functionApp
    appName: $(appName)
    package: $(build.a

[2019-10-19 14:17] tashrifbillah opened #6067 "ContainerStructureTest@0 may not be configured properly"
I have a [pipeline](https://github.com/tashrifbillah/docker-azure/blob/d5ce4893a2ac550d9a16c530c8fb5008760cd9f2/azure-pipelines.yml) and test [configFile](https://github.com/tashrifbillah/docker-azure/blob/d5ce4893a2ac550d9a16c530c8fb5008760cd9f2/structure-test.yaml)

Firstly, it gives the following warning:

[code]

Then, yields the following error:

[code]

I do confirm that my `configFile` is c

[2019-10-19 14:24] tashrifbillah commented on #6067
By the way, following command passes the test on my local machine:

where `container-structure-test-linux-amd64` executable is downloaded from [here](https://github.com/GoogleContainerTools/container-structure-test)

[2019-10-19 17:50] cforce opened #6068 "Missing guide for steps in Grafana"
The page is missing what todo in Grafana after trigger is configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847579c6-9fbb-d9b7-3472-f733e4e2aa93
* Version Independent ID: 73f7444c-472a-666c-a6c3-09a9273bdefc
* Content: [Create a service hook for Azure DevOps Services and TFS with Grafana](https://docs.microsof

[2019-10-20 14:21] wjvii opened #6069 "Versioning .NET Core Install Task in Build Pipeline"
This is not clear to me and does not appear to work as stated based on the message I get in the log.

First, in the build log when I use the explicit sdk version in the DotNetCoreInstaller task it says:
##[warning]Kindly upgrade to new major version of this task 'Use .NET Core (2.*)' for installing newer versions of .NET Core.
'0.*' task version might not be able to download newer .NET core versio

[2019-10-20 15:49] smiklos opened #6070 "Running docker inside docker"
Hi,

It appears that one can't use docker inside docker even if we bind-mount the nested container because in the agent this feature is not supported https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Worker/ContainerOperationProvider.cs#L62

Shouldn't the document be changed or be more specific? I assume with bind mount we can build and push images but it's still not possibl

[2019-10-20 17:53] chcomley commented on #6061
Hi @dreagor, I'm closing this issue, however please @mention me if you do end up having any further questions. Thanks for reaching out!

[2019-10-20 17:53] #6061 closed

[2019-10-20 19:45] DavidNorena opened #6071 "Bake action: overrides how to delimit different values ?"
Its seems the [source code](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesManifestV0/src/actions/bake.ts#L39) is delimiting by "\n" but how to use it in the task ?

You should add that to the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72bba72b-235b-ce64-b8fd-2c6ed52a9f

[2019-10-20 19:54] sheepnerd commented on #1772
Node seems to have sha256 hash computation failure on Intel CPU that has no avx feature.
    Intel Pentium J4205
    Intel Celeron J3455
    Intel Celeron J3355
    Intel Pentium N4200
    Intel Celeron N3350
    Intel Celeron N3450
    Intel Atom x7-E3950
    Intel Atom x5-E3940
    Intel Atom x5-E3930

This couse mess node, openssl and some Intel Celeron processors. Ultimate couses DevOps nuget

[2019-10-20 20:41] StingyJack commented on #5828
So yall added a more confusing and generally worse user experience _by design_.

Or was this just another oversight?

"My users hate it when I have to use row IDentity values instead of the user friendly names they used to see in my programs, but I just tell them "the architecture requires this". They will figure out what products 6646 and 443 are eventually and hopefully memorize them so I dont g

[2019-10-21 01:09] pegues opened #6072 "Keys No Longer Work"
I've been struggling with getting a git clone to work across SSH for a couple weeks, and it seems as though a growing number of people are having the same problem. I use putty plink with Git Bash, and this has worked for ages for managing my private keys when needed. About 6 months ago this stopped working for Azure DevOps. The problem is not with my keys as they all continue to work with Github a

[2019-10-21 02:23] rernst-IQ commented on #5993
@WilliamAntonRohm I still believe it should be `View Name'[State Previous] <> 'View Name'[State]`. This calculated column is supposed to be a boolean that identifies whether that row is a state transition. By using the 'Not Equal To` operator you will correctly catch rows where the previous state does not match the current state, which means the comparison will return `True` as expected. If you us

[2019-10-21 06:35] nerijusk commented on #4826
Raised a problem in Developer Community: https://developercommunity.visualstudio.com/content/problem/785678/manualintervention-task-unsupported-in-yaml-pipeli.html

[2019-10-21 06:41] RobCoPKC commented on #6049
The counterpart to "eq" would be "ne".
So I'm basically asking if there is a "doesntStartWith"-parameter.

Kind regards,
Robin

[2019-10-21 07:46] 0xaryan opened #6073 "Is adding a new hub group deprecated?"
I used the sample above to add a new hub group to Azure DevOps 2019, but it seems nothing happens. Other types of extensions work tho. FWIW hub groups are not in [extensibility points](https://docs.microsoft.com/en-us/azure/devops/extend/reference/targets/overview?view=azure-devops), however, somebody successfully added it to AzureDevOps [here](https://stackoverflow.com/questions/53582701/manifest

[2019-10-21 08:13] slushysnowman opened #6074 "container endpoint is a service connection"
Documentation for this doesn't point out that the endpoint should actually be the name of a service connection. Suggest clarifying this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipe

[2019-10-21 09:16] Zaniar0 commented on #6052
Hi @msebolt is it possible to do using the API?

[2019-10-21 09:51] mengyang88 commented on #5662
@ishitam8
Could you please tell us how to get the --token <SECURITY_TOKEN>

[2019-10-21 09:55] ishitam8 commented on #5662
@mengyang88  , You can refer to this [document](https://docs.microsoft.com/en-us/azure/devops/cli/security_tokens?view=azure-devops) for more detials on security tokens.

[2019-10-21 10:09] lisaduplessis commented on #5932
Hi @harishkragarwal, any idea when the export feature is being added? We need this for our TCR. Is there a workaround for the meantime? Can we go back to the old view anyway?

[2019-10-21 10:19] lisaduplessis commented on #5932
No worries, saw the workaround for the old view, thanks

[2019-10-21 11:36] pviotti commented on #5540
For me it worked as in the docs (`git clone -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" <url>`), but I had to check this box in the Job configuration panel - which would be useful to add to the documentation:

![image](https://user-images.githubusercontent.com/1350095/67201937-56cd0e80-f3ff-11e9-8b1b-5b9299b61dae.png)

[2019-10-21 12:00] chekm8 opened #6076 "Tooling to quickly design WIT forms?"
I am working on porting custom WIT forms to the "new form" format.

Is there WYSIWYG tooling to be able to quickly visualize the custom work item form changes?  It is tedious to use witadmin to import changes, validate the page, make additional changes etc.  I didn't see anything in this article that talks to tooling to be able to design the forms easily.

https://github.com/MicrosoftDocs/vsts-doc

[2019-10-21 12:40] vijayma commented on #6041
From an execution perspective, if you do not specify a 'dependsOn' between jobs in a stage, they run in parallel (provided you have enough concurrency/agents to run all of them). If you do not specify a 'dependsOn' between stages in a pipeline, they run in sequence in the order they are specified in the YAML file. It was not clear from your description if (a) you are not seeing this behavior in th

[2019-10-21 12:55] akunaatrium opened #6077 "Link leads to an empty page"
There is a link on this page to see which software is installed on the Ubuntu 18.04 machine and the link leads to this page: https://github.com/microsoft/azure-pipelines-image-generation/blob/master/images/linux/Ubuntu1804-README.md
But there is no information about the installed software.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-21 13:12] nsinclair09 commented on #6046
We are using a customized agile process -  However, We do have "Working with Bugs" set to "Bugs are managed with requirements" and are still seeing this issue.  I'm unable to see were it is deployed after it has been released.

[2019-10-21 13:22] amang2205 commented on #4493
You'll find it in if you select the agent job group (by default it's called Agent job 1), towards the lower section of the right-hand pane, under the section called 'Additional options'

[2019-10-21 13:51] Styxxy commented on #6032
I figured it out, below a snippet from the agent logs.
So this answers kind of my question, the domain name **vstsagentpackage.azureedge.net** needs to be white listed. I would suggest to add this to the "to white list domain names".

[code]

[2019-10-21 13:55] kine opened #6078 "Server side job examples"
Hi, in section Server there is text:
---
server specifies a server job. Only server tasks such as manual intervention or invoking an Azure Function can be run in a server job.
---
Have tried to use the manual intervention in the YAML build and it failed. Is this task supported at all right now? (ended with error:
Stage2:RunOnServer: "Task execution section of task definition for ID: bcb64569-d51a-

[2019-10-21 13:58] tashrifbillah commented on #6067
Ping @Additi

[2019-10-21 14:10] japj commented on #5887
Also related to pool owner: is there a way to change it? (if someone leaves the organisation)

[2019-10-21 14:41] danechitoaie opened #6079 "Is there a way to publish the log of the failed section of a build to GitHub checks?"
I've seen in the docs info about how the logging commands can be used to add annotations to the GitHub checks on the PR that's being build. (https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands)

1) Is there any way to also publish the full output of the section that failed? In case there's some error that can't be outputted as annotation (too much text, not related to

[2019-10-21 15:28] juliakm commented on #6074
I'm working on updating the schema and example.

[2019-10-21 15:49] agneszitte-nventive commented on #6055
Thanks @msebolt, I entered the issue under "Suggest a feature".
https://developercommunity.visualstudio.com/idea/786778/yaml-add-the-possibility-to-includeexclude-pipelin.html

[2019-10-21 16:03] brbarnett commented on #3023
This was the right solution for me -- thank you so much for posting the update!

[2019-10-21 16:12] chcomley commented on #6047
Hi @ideoclickVanessa,

Wiki is backed by a Git repository, so the Contribute permissions set at the Git repo level are honored for Wiki. But, if the user is part of more than 1 group, and the Contribute permission is set to _Deny_ in any one group, then it will take precedence and the user won't be able to edit the wiki.

Example:
Group-1 (Wiki Reader)  has User-1, User-2, and User-3
Group-2 (Wiki

[2019-10-21 17:09] Dann1112 commented on #5859
I've ran into the same issue. My problem was that I created an app service manually for Python and there is this parameter that gets added when you create a Python App Service from command line that is not created when you set up an App Service for Python manually.

{
    "name": "SCM_DO_BUILD_DURING_DEPLOYMENT",
    "value": "True",
    "slotSetting": false
  }

You'll need to go to **App Service

[2019-10-21 17:48] ideoclickVanessa commented on #6047
HI @chcomley,

Thanks for the additional information. It likely should be added to the article.
That said, I've confirmed that the user is only in one group which is the Wiki Editors group I posted in my OP.  Yet, they are still unable to edit.

[2019-10-21 18:19] MishalValiyakath commented on #5859
@Dann1112 Looks like that resolved the issue of installing the requirements. Now I can see a .tar.gz file in the wwwroot folder with all the packages in it. Thanks :)

[2019-10-21 18:42] stevenmg opened #6081 "Update repository resource options"
According to the docs: "Pipelines support two types of repositories, git and github." Bitbucket should be added to the list of options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipel

[2019-10-21 18:56] santhoshrajr opened #6082 "Release doesnt not show in deployment section when we take existing build and link it to development"
Document URL: https://docs.microsoft.com/en-us/azure/devops/boards/work-items/work-item-deployments-control?view=azure-devops

I have integration turned on in my releases. However i linked a PR and build to a different work item than the one which i intended to. So my deployment section has releases for the wrong work item. i went ahead and added the links for PR and build to my WI which i want th

[2019-10-21 19:57] jontreynes commented on #2867
@mrumpf   Is there a way to do this with the new multi-pipeline feature? I do not see an option to link variables, but I see an option to "Authorize Access" which fails

[2019-10-21 21:33] WilliamAntonRohm commented on #6060
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-21 21:33] #6060 closed

[2019-10-21 21:34] WilliamAntonRohm commented on #6062
@StephenRSkinner -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-21 21:36] tarunaroraonline opened #6084 "Bug in the script in example above..."
The script has this... `--use-git-aliases yes` This is not valid, it should be `--use-git-aliases true`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9480b69-ca1f-55bc-8505-49c51d9f205e
* Version Independent ID: 03df29bf-108d-6ffc-bb3e-b29fb8a1e46c
* Content: [Azure DevOps CLI in Azure Pipeline YAML - Azure DevOps](h

[2019-10-21 21:38] WilliamAntonRohm commented on #6064
@loicmorvan -- Loïc, thanks for your questions.  You may find some answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @PBoraMSFT -- Prachi, please look into this issue.

[2019-10-21 21:39] WilliamAntonRohm commented on #6065
@ashwinifly -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-21 21:42] xt0rted opened #6085 "How do you setup notifications for builds regardless of their status when using yaml workflows?"
Something changed with this integration and I no longer get notifications when builds complete. I'm guessing this is a result of using yaml workflows which give you multiple options to pick from but no matter what configuration I pick I still don't receive notifications that my builds have completed (failed or success). All I want is a simple "a build happened" message like I used to get.

---
###

[2019-10-21 21:46] vgeldbr opened #6086 "Iteration and AssignedTo entities not returned"
Following the sample on this page does not return same results. For example the Iteration and AssignedTo entities are not returned so cannot be expanded. Other steps also do not match actual experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae009f6-b650-9162-0a5c-f59570288022
* Version Independent ID: 8778491

[2019-10-21 21:47] WilliamAntonRohm commented on #6069
@wjvii -- Thanks for your feedback.  Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @pulkitaggarwl -- please look into this issue.

[2019-10-21 21:50] WilliamAntonRohm commented on #6067
@tashrifbillah -- Tashrif, thank you for your feedback.  You may find answers to your questions here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @Additi -- Aditi, please look into adding this information to the documentation.

[2019-10-21 21:53] WilliamAntonRohm commented on #6072
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-21 21:53] #6072 closed

[2019-10-21 21:56] WilliamAntonRohm commented on #6073
@0xaryan -- Aryan, thank you for your feedback.  Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chcomley -- please look into this potential documentation update.

[2019-10-21 21:57] cramsey86 commented on #2353
Agreed. I do not see the link to creating the Helm chart either.

[2019-10-21 22:15] #3473 closed

[2019-10-21 23:01] #5990 closed

[2019-10-21 23:04] msebolt commented on #5998
Closing the issue now.

[2019-10-21 23:04] #5998 closed

[2019-10-22 00:13] WilliamAntonRohm commented on #6076
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-10-22 00:13] #6076 closed

[2019-10-22 00:17] WilliamAntonRohm commented on #6079
@danechitoaie -- Daniel, thank you for your questions.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chasewilson -- Chase, please look into this issue.

[2019-10-22 02:33] srivatsamarichi commented on #3937
The task document is [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops) for the latest version. There are isolated tasks based on the Web App types.

[2019-10-22 02:34] iamsrivatsa commented on #3937
The task document is [here ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops)for the latest version. There are isolated tasks based on the Web App types.

[2019-10-22 03:25] tashrifbillah commented on #6067
@WilliamAntonRohm -- William, thank you for your idea.

Answers relevant to my question doesn't exist in either of the sources you pointed out. Moreover, Azure DevOps Support Bot can only point you to a few pages of the documentation, apparently due to improper and incomplete training.

Curious, did you refer to `Stack Overflow` and `Support Bot` here only?

[2019-10-22 08:03] RvsValori opened #6087 "Unable to copy data from single cell in grid mode"
I would like to be able to copy values from one cell to another. Now when I copy either a cell or the text inside the cell and then paste on a new line/record, the entire line/record of the copied cell/text is inserted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c520dee-1218-777e-7405-551623817c03
* Version Indepe

[2019-10-22 08:10] nicos99 opened #6088 "lack of documentation about 'Completion options' of "Automatically include reviewers""
In the "Automatically include reviewers" windows (Azure DevOps site) there is a check-box "Requestors can approve their own changes" under "Completion options", but no information in this documentation § "Automatically include code reviewers", yet it complicates the comprehension of the function in relation to the general parameter with the same name ("Requestors can approve their own changes" und

[2019-10-22 08:17] IsNoGood commented on #5561
"If this is not what you see, then make sure the Multi-stage pipelines experience is turned on."

[2019-10-22 08:17] buck-mbeer commented on #5873
Looks great, thanks for the update @juliakm

[2019-10-22 09:18] #5859 closed

[2019-10-22 09:21] MishalValiyakath commented on #5545
@kraigb, the original issue I opened is now closed with resolution from @Dann1112. It will be great if we can update this information as well in our documentation.
@HK-Zhang and @jxjia, please check the resolution provided on the linked issue, it fixed mine.

[2019-10-22 10:26] liamfoneill commented on #4729
Hi @shashban , are there any updates on this? I have other customers who are looking for this functionality. Thanks, Liam

[2019-10-22 10:52] blueelvis commented on #2865
@steved0x - Could you please add this clarification in the document as well? I just encountered this same issue and this is not documented.

/reopen

[2019-10-22 11:37] aelray opened #6089 "Dynamically instantiate vsts agent containers"
Hello,
is there a way to dynamically create vsts agent docker containers on demand if the queue is filling up?

BR,
Adel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec599-4410-697d-1002-1c41b1c17bb6
* Content: [Running a self-hosted agent in Docker -

[2019-10-22 11:53] kraigb commented on #5545
Yes, I'll be working on a doc update. I've finally gotten the same solutions through internal conversations.

Here's the solution from the other issue:

There is a parameter that gets added when you create a Python App Service from command line that is not created when you set up an App Service for Python manually.

{
"name": "SCM_DO_BUILD_DURING_DEPLOYMENT",
"value": "True",
"slotSetting": false

[2019-10-22 12:25] KUGA2 opened #6090 "Which files for CTest?"
What files should i put into Test results files for CTest? The Testing\Temporary\LastTest.log file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bd8dd1-7650-8c18-2553-38a8bc54e892
* Version Independent ID: f9fa517a-7adc-e327-d12e-256295a1ed52
* Content: [Visual Studio Test task - Azure Pipelines](https://docs.micro

[2019-10-22 12:46] Adnn opened #6091 "Rationale for inability to define an ENTRYPOINT on Linux containers?"
This page states the following among the linux requirements:

This last point seems extremely restrictive: its is a very widespread pattern in Linux based images to rely on the following in their dockerfile:

    ENTRYPOINT ["/docker-entrypoint.sh"]

This script is usually responsible for the initial setup of the container to make it usable.

Then the container can be started with a default `CMD`,

[2019-10-22 13:20] abby-d-chr opened #6092 "Typo in second paragraph"
In the second paragraph of the summary section at the top of the article, there is a missing period and following space after the "Plan and track work" link:

If you're just getting started, read the information provided in this article. To jump right in and start tracking work on a Kanban board, see Plan and track [[[TYPO]]] workFor [[[TYPO]]] a quick reference to various work item tasks and key

[2019-10-22 13:28] ChrisGibson1982 commented on #5271
Hey @vtbassmatt , do you know if the below has/is being implemented?

https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/runtime-parameters.md

[2019-10-22 13:30] vtbassmatt commented on #5271
@ChrisGibson1982 in progress right now. I'm not sure if we'll have it out this sprint or if it will be one more.

[2019-10-22 13:32] ChrisGibson1982 commented on #5271
@vtbassmatt  Brill, thanks for the update

[2019-10-22 13:45] ashwinifly commented on #6065
My issue is for the design here - https://docs.microsoft.com/en-us/azure/devops/repos/git/create-pr-status-server-with-azure-functions?view=azure-devops

So if we build a status server to listen to devops events, how do we recover from status server downtime. Meaning it is certainly possible that status server will go down some time in future for whatever reason, how will the status server know wh

[2019-10-22 13:46] Tr3yb0 commented on #5528
This has also been my experience using a Maven build. Every stage runs git checkout and removes all of the artifacts from previous jobs. I am using checkout:none on every stage that needs the output on a previous build job, which is essentially all of them except the initial checkout.

[2019-10-22 14:08] stevenmg opened #6094 "Update download step documentation to include use with pipeline resources"
The information under the "download" section is limited to downloading artifacts for the current pipeline. This should include the ability to download artifacts for other pipelines linked as a resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd

[2019-10-22 14:13] chasewilson commented on #3937
@worldspawn thanks for the feedback! The documentation has been updated by @iamsrivatsa and I'll be closing the issue. If you have any more feedback I hope you will create a new issue :) Thanks for the great work @iamsrivatsa

[2019-10-22 14:13] #3937 closed

[2019-10-22 14:37] Dann1112 commented on #5859
I spent a couple of days trying to figure that out! It's good to know that helped @MishalValiyakath ! Cheers !

[2019-10-22 14:50] LordObsidian01 commented on #2451
This, very much! Thanks @Ozzian for finding a way to do it with the yaml. Yaml support to tag repos needs to be added to yaml pipelines

[2019-10-22 16:24] Ozzian commented on #2451
I have noticed an "easier" way to tag too; found in https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

[code]

[2019-10-22 16:24] kraigb commented on #5545
@HK-Zhang Please close this issue at your convenience, as the solution is in a previous comment.

[2019-10-22 16:42] msebolt commented on #6082
@santhoshrajr  Thank you for the feedback.

Unfortunately, issues here are for documentation concerns and this is more of a product issue.

Please get in touch with the product team using **Report a problem** in the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-22 16:42] pkzOR opened #6096 "Need entire example"
It would be helpful if the entire yml file was available as an example. The sections above are often being added as needed and seeing where they reside in an entire file would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec716c61-248c-75c9-2bc7-262749cc7421
* Version Independent ID: 45f47edc-e800-2c42-416

[2019-10-22 16:47] dmitrybelyakov commented on #6085
Same here, we are creating a pipeline using the DevOps UI but there is no way to subscribe to "Build completed". This used to work just recently but doesn't work any longer. The only events we can subscribe to now are: Run state approval change, Run stage state change, Run stage waiting approval, Run state changed. So as you can see, Build Completed is gone from the list.

[2019-10-22 16:56] msebolt commented on #6088
@nicos99  Thank you for the feedback, assigning this to the author for review.

[2019-10-22 17:02] msebolt commented on #6087
@RvsValori Thank you for the feedback.

Please vote and/or comment on this in the **Developer Community** using this [active issue](https://developercommunity.visualstudio.com/content/problem/760975/test-case-editing-grid-copy-paste-issues.html).

There you will also get updates on any resolution made by the product team.

[2019-10-22 18:26] Sureiya commented on #5221
@WilliamAntonRohm Generally trying to understand the issue before closing is helpful.

[2019-10-22 18:57] msebolt commented on #6005
@tesharp  These are good questions, assigning this to the author now.

[2019-10-22 18:59] #6012 closed

[2019-10-22 18:59] #6015 closed

[2019-10-22 18:59] #6034 closed

[2019-10-22 19:00] #6036 closed

[2019-10-22 19:02] #6044 closed

[2019-10-22 19:02] #6045 closed

[2019-10-22 19:04] #6042 closed

[2019-10-22 19:08] MouthOfMadness opened #6097 "AndroidSigning@3 fails to sign - java.io.IOException: Keystore was tampered with, or password was incorrect"
Is AndroidSigning@3 using a different keystore format and if so, how do you generate it?

I'm receiving a DevOps YAML task signing error using AndroidSigning@3
VS2019 16.3.5 generated the keystore, using Ad-Hoc
The keystore is uploaded as a secure file.
The passwords are set as secure

Using the same pipeline, but different android signing tasks:
**This works:**

- task: AndroidSigning@2
    displ

[2019-10-22 19:23] msebolt commented on #6055
Great, thank you @agneszitte-nventive.  I'm closing the issue now.

Please use the link above for further comments and/or status updates.

[2019-10-22 19:23] #6055 closed

[2019-10-22 19:25] msebolt commented on #6052
@Zaniar0 Not currently, though you should probably check with the product team for the current status.

[2019-10-22 19:31] msebolt commented on #6046
Unfortunately, this is a product issue and should be handled by the [Azure DevOps Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Please use either **Report a problem** or **Suggest a feature** and link back to this issue to get the product team's feedback.

[2019-10-22 19:40] msebolt commented on #6085
@xt0rted  Thank you for the feedback.

This sounds like a product issue and should be directed to the product team.

Please use **Report a problem** in the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) and link back to this issue.

[2019-10-22 19:43] chcomley commented on #6073
Hi @0xaryan, I have engaged with an engineer - can you please share your users manifest file?

[2019-10-22 19:48] msebolt commented on #6089
@aelray  Thank you for the question, assigning this to the author for review.

Have tried using the [Bash](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/bash?view=azure-devops) or [Command-line task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/command-line?view=azure-devops&tabs=yaml) to run the agent via `docker` command?

[2019-10-22 19:48] kine commented on #6005
I am supporting this request. In our situation Tags will not solve this. In our pipeline the app is deployed to QA environment first. Next stage is release to customer's sandbox, but this must be approved based on result of testing in QA. But Rejection doesn't mean necessarily that the build failed. It just mean we are skipping the release to sandbox from any reason (e.g. another build is ready to

[2019-10-22 19:55] msebolt commented on #6090
@KUGA2 Thank you for the question, assigning this to the author for review.

In the meantime, please use the following resources:

- [Azure DevOps Support](https://azure.microsoft.com/en-us/support/devops/)
- [Azure DevOps Community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

...for a

[2019-10-22 20:00] msebolt commented on #6091
@Adnn  Thank you for the question, assigning this to the author for review.

For the limitation concern and/or anything else that involves the product team, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps Community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-22 20:04] chcomley commented on #6059
Hi @henry-padilla,
We're sorry for the confusion. I'll follow up shorty. Thanks so much for reaching out!

[2019-10-22 20:14] ArchSerpo commented on #6042
Thanks @msebolt, I have created a developer community issue here

https://developercommunity.visualstudio.com/idea/788973/is-it-possible-to-publish-a-pipeline-artifact-acro.html

[2019-10-22 20:21] msebolt commented on #6092
@abby-d-chr Thank you for the feedback.

The documentation has been updated and will be published shortly.

[2019-10-22 20:26] msebolt commented on #6094
@stevenmg  Thank you for the feedback, assigning this to the author for review.

[2019-10-22 20:27] msebolt commented on #6096
@pkzOR  Thank you for the feedback, assigning this to the author for review.

[2019-10-22 20:47] drdamour opened #6098 "clarify scope of " These variables are available to downstream steps.""
i believe the variables are only available to downstream steps within the job, the won't persist to downstream jobs in the stage, or downstream stages in the pipeline, correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc762d

[2019-10-22 20:52] chcomley commented on #5899
Hi @dengyakui,
After discussion with an engineer, we definitely don't have anything available containing all of this information. He's advised that he has added your idea to their backlog. I'd also suggest submitting a feature request and get it up-voted. You can do so here: https://visualstudio.microsoft.com/vs/support/#talktous and then select **Submit an idea**.
Thank you!

[2019-10-22 20:53] #5899 closed

[2019-10-22 21:10] WilliamAntonRohm commented on #5221
@Sureiya -- Chris, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-10-22 21:19] chasewilson commented on #5754
@Wenish, thanks for the question. Currently, Universal Packages are not supported in public feeds. I'm not entirely sure on the reasoning behind this.

[2019-10-22 21:22] #6084 closed

[2019-10-22 21:24] msebolt commented on #6049
Thank you for clarifying.  You will need to use `not`, such as:

[code]

[2019-10-22 21:24] #6050 closed

[2019-10-22 21:39] drdamour opened #6099 "update variable expansion precedence info for stage variables"
the section that says

[code]

doesn't mention stage variables, but they certainly must come into play here somewhere, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4b40f2a
* Content: [Variables - Azure Pipelines](https:

[2019-10-22 21:40] drdamour opened #6100 "missing how to reference step output from a job from a different stage"
i'm not sure it's psossible but the examples include how to reference output vars from other jobs, other matrix/slice jobs, but they don't mention how to reference output from another stage's job output.  Is that supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version In

[2019-10-22 21:54] #5939 closed

[2019-10-22 22:25] johnmbaughman commented on #6059
This issue ticket I submitted describes this:

https://developercommunity.visualstudio.com/content/problem/789067/markdown-syntax-for-anchor-links-requires-user-con.html

[2019-10-22 23:17] mihirdalal opened #6101 "Can this be used to transform XML files (not .config, but .xml files)?"
I need to deploy server specific values in certain XML files in the project.  These XML files are .xml, not web.configs...is it possible to use this to transform non config XML files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f

[2019-10-23 00:22] #5545 closed

[2019-10-23 01:36] shashban commented on #6043
@gmoed The behavior isn't intended to be different depending on where the variable group is defined. Let me check why is there a difference. I guess we would like to fix the problem than documentation only. Thanks

[2019-10-23 05:17] msebolt commented on #6097
@MouthOfMadness Thank you for the feedback and for providing your examples.

Since this is a bug it needs to be directed to the product team for review, please use either the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) or the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo and link back to this issue.

[2019-10-23 05:27] msebolt commented on #6098
@drdamour  Thank you for the feedback.

You are correct, please use [Variable groups](https://docs.microsoft.com/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml) for access across pipelines.

The documentation has been updated.

[2019-10-23 05:28] msebolt commented on #6099
@drdamour  Thank you for the feedback, assigning this to the author for review.

[2019-10-23 05:32] 0xaryan commented on #6073
Thank you @WilliamAntonRohm

Hi @chcomley, here is my manifest:

https://gist.github.com/0xaryan/42ff89824e8a50994f708e01320e0283

[2019-10-23 05:33] msebolt commented on #6100
@drdamour  Thank you for the question.

Currently it's only possible by using [multi-job output variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-a-multi-job-output-variable).

There's a good post on this [here](https://stackoverflow.com/questions/57485621/share-variables-across-stages-in-azure-devops-pipelines).

[2019-10-23 05:39] msebolt commented on #6101
@mihirdalal  Thank you for the question.

There should be no issues transforming native XML.

Please provide feedback or post below if there are any issues.

[2019-10-23 06:02] plbenpeterson commented on #5445
It turns out my start.sh file was CRLF, which was the problem. Changing to LF solved it and now this proposed solution works for me as well. Thanks!

[2019-10-23 06:56] p2well opened #6102 ""Azure Boards with Teams" link redirects to wrong URL"
"Azure Boards with Teams" link (https://aka.ms/AzureBoardsTeamsIntegration) inside "Related articles" section redirects to Microsoft website and not to the corresponding documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43aa8c60-c25d-535b-2166-f51fa9f171c6
* Version Independent ID: 8890a537-9eda-5606-4

[2019-10-23 07:34] nareshsudhaakar opened #6103 "Publish third party tool (Static Analysis results) results to Azure Devops"
Gentlemen's,

Do we've a provision to publish a third party commercial static analysis results (HTML/PDF/XML) to Azure Devops? If so, could you kindly help me in guiding the steps?

[2019-10-23 08:06] luweilevi opened #6104 "Vstest fails build pipeline, when "Flaky tests included in test pass percentage" is unchecked under "Flaky test options""
Flaky test failures should not fail my pipeline, when flaky tests are not included in the Test Summary. As described in this document (https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops#flaky-test-management-and-reporting).
However, It still marked Vstest task failed and pipeline failed, when the only flaky tests failed.

![flaky](https://user-imag

[2019-10-23 08:26] #6052 closed

[2019-10-23 08:41] buckleyGI commented on #6104
I can also reproduce this
https://stackoverflow.com/questions/58507830/flaky-tests-are-not-taken-into-account-by-the-publish-test-results-task

[2019-10-23 09:06] kvinther opened #6105 "Additional steps may be needed with Visual Studio installed"
I suggest adding a section, that explains that event though you may have Visual Studio installed, the "Office integration" component still needs to be explicitly installed - mine wasn't. I went into the installer and added the component - after that I got the Team tab in Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-23 09:09] greengumby opened #6106 "Variable group substitution"
Hi,

I have a variable within a variable group (linked to release) named "ConnectionStrings.ProductDatabaseConnection" with the value of "Data Source=$(DatabaseServer);Initial Catalog=$(DatabaseName);Integrated Security=False;User ID=$(UserId);Password=$(Password);MultipleActiveResultSets=False"

Now I have another variable group which is linked to the stage that I am deploying to that has the var

[2019-10-23 09:16] atinb commented on #6085
@xt0rted
Most likely you have turned on Multi stage pipelines from the Preview features (as below)

![MultiStagePipelines](https://user-images.githubusercontent.com/12844776/67377820-e3183680-f5a3-11e9-83de-e3023dff2a9e.png)

With multi-stage pipelines, the Build completed event is replaced by the 4 events you mention below. You can subscribe to “Run State Changed” event which will give you the sa

[2019-10-23 09:17] tomrijntjes opened #6107 "The documentation is unclear about both the function and the syntax of "overrideParameters""
I want to dynamically assign parameters: I provision a CosmosDB database as output sink and its keys are needed to define the output for the streaming analytics query. After reading this I have insufficient information to proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59ea95e-b51a-e529-37a8-215e383c9a0b
* Ver

[2019-10-23 09:21] jessehouwing commented on #6052
If there is an existing team, you can add the group to the team. A team is just a security group, so you can query it like any other. Then add the group to it. `az devops security group membership add`
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/security/group/membership?view=azure-cli-latest#ext-azure-devops-az-devops-security-group-membership-add

If there isn't an existin

[2019-10-23 09:25] jessehouwing commented on #6052
Here is the underlying REST API: https://docs.microsoft.com/en-us/rest/api/azure/devops/work/iterations/post%20team%20iteration?view=azure-devops-rest-5.1

[2019-10-23 09:39] aosyatnik opened #6108 "It's not said about .appxrecipe for UWP test pipeline"
In the documentation it's mentioned only `**\*test*.dll`, but it's possible to use `.appxrecipe` for UWP test pipeline.
Although I still do not understand why it's failing in the build, but tests are running. It would be very helpful if you add an example of how to configure Visual Studio Test task for UWP.

Here I created a repo with an example: https://dev.azure.com/melashkina0755/UWP_App_With_T

[2019-10-23 09:46] Zaniar0 commented on #6052
Im probably explaining it wrong. I mean adding a "Azure DevOps Group" to the security part of an iteration. In the img below I've added "team2019" by clicking on the "+ Add" button on the webui. My question is, is it possible to do this using the cli or api.
`az boards iteration team add` does not do this.

![adding team using cli]([Imgur](https://i.imgur.com/76IxlYZ.png))

[2019-10-23 10:03] jessehouwing commented on #6052
That part is exactly as I explained on Twitter. Just grant the group any of the listed permissions and they will be added to the list.

So:

![image](https://user-images.githubusercontent.com/4173387/67381227-e0114c00-f58b-11e9-88ad-a7b40710ab00.png)

With the correct token and permission bit will add the user to that list if you grant them any permission bit. The dialog just shows all users & gro

[2019-10-23 10:22] Zaniar0 commented on #6052
your a legend. Thanks!!!!!

[2019-10-23 10:46] pachidev opened #6109 "Extensions scope"
I want to solve this crucial question before start: Is it possible to create an extension to implement at Organization level?
What I want to do is to create a new tab in the Organization panel, so you can have the following tabs:
Projects / My Work Items / My Pull Requests / [MY EXTENSION]
In my extension I want to show all active pull request for all projects.
Thank you.

[2019-10-23 11:23] henry-padilla commented on #6059
Please disregard this issue.
We had a Wiki add-on that was accessible from the main (left) navigation pane and that is where I was making changes. It has been obsolete for some time and our admin has simply not removed it.

Once I began using "Publish code as wiki" from the wiki option under the Overview menu all things work as expected.

[2019-10-23 11:23] #6059 closed

[2019-10-23 11:36] aelray commented on #6089
@msebolt No I haven't tried using the Bash or the Comman-line task. So your idea is to configure a pipeline which instantiates a self-hosted agent in Docker when a build is queued?

[2019-10-23 11:51] RobCoPKC commented on #6049
Works flawlessly.
Thank you very much!
Please close this issue.

Kind regards,

Robin

[2019-10-23 12:15] marcussonestedtbarium commented on #5874
Solution works for me, even for specifying projects.

[2019-10-23 12:20] eric-labelle commented on #4087
**Thank you** @andreasschild for this command, first time I've heard of it.

It would worth mentioning on [the guide](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops#optional-install-and-test-your-extension) as it is **A LOT** more convenient to develop and test new tasks or next task iteration using another GUID to keep the first version untouched.

M

[2019-10-23 12:21] Gijsreyn opened #6110 "YAML pipeline report status"
The report deployment status badge is not available for YAML based pipelines.

My expectation would be that when performing a "build" stage in YAML, that this is reported back after the build is success. Yet only when the whole pipeline is finished, only this is placed on the work items.
Releases aren't even available. Is there any documentation available?

[2019-10-23 13:42] #6092 closed

[2019-10-23 13:44] #5997 closed

[2019-10-23 14:03] peterz84 opened #6111 "CLI"
Is it possible to do this with Azure Devops CLI or the DevOps Services REST API ?
Or possible to do this organization wide?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 2a46752f-3ee0-1503-9423-740ae926c25f
* Version Independent ID: 78a11eae-b3b7-5e6f-971a-4abc5716013d
* Content: [Turn a service on or

[2019-10-23 14:14] #6106 closed

[2019-10-23 14:20] okutbay opened #6112 "Bulk add with excel problem"
I'm using excel to bulk add my features and product backlog items. But when adding a product backlog item as child of a feature system creates the link with "dublicate" link type by default as far as i see. I could not find a way to fix it or adding with a different link type. Help needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-23 14:27] okutbay commented on #6112
![image](https://user-images.githubusercontent.com/30014/67403130-339a8e80-f5ba-11e9-9046-d187d8f5d461.png)

![image](https://user-images.githubusercontent.com/30014/67403303-63e22d00-f5ba-11e9-8f4c-a086067eb00f.png)

[2019-10-23 15:17] #6049 closed

[2019-10-23 15:46] katlimruiz opened #6113 "As additional info, this page should link to the MS hosted agents (vm Ubuntu)"
This way, we can tell whether this is actually optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb95406-322e-11db-41e0-7b8064c8295c
* Version Independent ID: 57fb95a8-385d-7548-ee6a-9a3a875a150e
* Content: [Node.js Tool Installer task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/t

[2019-10-23 16:11] katlimruiz commented on #6113
I see that there is already a link, yet it is only that I know beforehand that it may already be installed that I've gone and see the details.

[2019-10-23 16:13] W0GER commented on #5076
The answer from thejoebourneidentity is an example of why getting all this to work is a monumental task. No one at Microsoft wants to OWN the build process for Xamarin across the various tools (Azure DevOps Build Pipelines, Hosted Images, Xamarin SDK, etc.). The provided documentation is poorly written and circular; when issues are raised the "buck" is passed and apparently dropped as there are fe

[2019-10-23 16:26] v-wilock commented on #6034
@msebolt - That issue is specifically for headers, as opposed to - presumably - spans.

[2019-10-23 16:29] msebolt commented on #6089
Yes, first check if the `docker run` syntax (see [docker run](https://docs.docker.com/engine/reference/run/)) runs from the command line.

Then, add the command to a **Bash** or **Command-line** task for local machines.

For remote machines you might need to use a script with either the [SSH](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/ssh?view=azure-devops) or [PowerShell on re

[2019-10-23 16:31] msebolt commented on #6034
@v-wilock  Then you'll need to create a new issue, though link back to this in both cases.

[2019-10-23 16:47] v-wilock opened #6114 "Dark theme squashes formatting example (not headers)"
The text
"The project status is GREEN even though the bug count / developer may be in red. - Capability of span"
shows up all in white for me. I'm using the dark theme.
Note that this is distinct from [the headers issue](https://developercommunity.visualstudio.com/idea/542332/wiki-header-colors-for-dark-theme.html), though both are formatting related.

---
#### Document Details

⚠ *Do not edit thi

[2019-10-23 18:26] WilliamAntonRohm commented on #6103
@nareshsudhaakar, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualage

[2019-10-23 18:26] #6103 closed

[2019-10-23 19:55] WilliamAntonRohm commented on #6107
@tomrijntjes -- thank you for your feedback.  Here are a couple of options where you may find answers:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@RoopeshNair -- please look into this issue.

[2019-10-23 19:59] WilliamAntonRohm commented on #6108
@aosyatnik -- Anna, thank you for your detailed feedback.  You may find some answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @PBoraMSFT -- Prachi, please look into this issue for potential documentation updates.

[2019-10-23 20:00] WilliamAntonRohm commented on #6109
@ohmybeer -- Pachidev, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-23 20:01] WilliamAntonRohm commented on #6110
@Gijsreyn -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-23 20:06] WilliamAntonRohm commented on #6111
Thanks for your questions.  Here are a couple of options where you may find answers:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Also, you're welcome to [submit your idea here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

I am closing

[2019-10-23 20:06] #6111 closed

[2019-10-23 20:08] WilliamAntonRohm commented on #6113
@katlimruiz -- Kat, thank you for your feedback.

@vijayma -- Vijay, please look into this issue.

[2019-10-23 20:10] WilliamAntonRohm commented on #6114
@v-wilock -- William, thanks for your feedback; we appreciate it. You can submit issues related to the overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2019-10-23 20:12] WilliamAntonRohm commented on #6112
Thanks for your feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites

[2019-10-23 20:12] #6112 closed

[2019-10-23 20:16] chcomley commented on #6059
Here's what I saw:
Header at the bottom is (### HTP Clone ###)
And the link at the top is [Link 1](#http-clone)

Looks like the Header has only one ‘T’ in “HTP Clone”
Where as the link at the top has two ‘T’s “#http-clone”

Glad you got it working. :)

[2019-10-23 20:19] ideoclickVanessa commented on #6047
Hi @chcomley,

I've double-checked with the user and they provided the below screenshot with all of the edit features greyed out:
![image](https://user-images.githubusercontent.com/44000426/67430567-5a939900-f597-11e9-8dd7-474fc26ca789.png)

Can I please get an update on how to correctly give the user edit permissions?

[2019-10-23 20:20] chcomley commented on #6047
Hi @ideoclickVanessa,

Can you please share answers to the following questions:
1.	Was the user able to edit the Wiki if they were added to “Contributors” group directly instead of “Wiki Editors”?
2.	Is this issue happening with a specific user or anyone who was added to “Wiki Editors” group were unable to edit the Wiki?

Thank you!

[2019-10-23 20:42] mihirdalal commented on #6101
Thank you Mathew...I will try it & post an update..when done.

[2019-10-23 20:47] ideoclickVanessa commented on #6047
Hi @chcomley,

I'm not willing to do 1 as the user is external to the company.

I do have access to a different account (let's call it `x`) that is normally part of the default "Readers" group.  I logged in as `x` and verified that I could not edit the wiki.  I then removed `x` from "Readers" and added `x` to "Wiki Editors".  I logged back in as `x` and verified that I could now successfully edit

[2019-10-23 21:03] v-wilock commented on #6114
@WilliamAntonRohm - I was specifically asked to create this second ticket after the last one was closed because it was conflated with being related to headers.

[2019-10-23 21:14] Mexicoder commented on #2361
This would be nice if it was updated to be more clear. Also when I use this I get errors is I have a leading '/'.

[2019-10-23 21:18] chcomley commented on #6111
Hi @peterz84,

To answer your questions, unfortunately there is no CLI or REST API which enables/disables the services, and it cannot be set organization wide.

Thanks for reaching out.

[2019-10-23 21:25] chcomley commented on #6114
Hi @v-wilock,

I've reopened this issue and engaged our PM. We'll be in touch ASAP.
Thanks for reaching out.

[2019-10-23 23:03] WilliamAntonRohm commented on #3829
@moverperfect -- Jack, thank you for your feedback.  These typos have been fixed.

[2019-10-23 23:03] #3829 closed

[2019-10-23 23:36] DanielHabenicht opened #6116 "Multi Line not working in windows-2019"
Hi just tried to run
[code]
but it does not execute commands after `npm install -g @angular/cli` on vmImage `windows-2019`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a79d17fd-6e65-d8f0-ea05-f62d68456474
* Version Independent ID: 3f7338a7-aae7-b6b6-3291-5c985c6fa6f3
* Content: [Command Line task - Azure Pipelines](

[2019-10-23 23:38] DanielHabenicht commented on #6116
Here the build log: https://dev.azure.com/DanielHabenicht/bachelor_thesis/_build/results?buildId=1953&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

[2019-10-23 23:43] gdv820 opened #6117 "Helm Charts"
You've mentioned that the previous CI build pipeline packaged and published the helm charts needed for the later stages. Can you provide the link to that tutorial please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa99181-afb1-98c4-5978-6dab603b55f9
* Version Independent ID: 8f4ec1e8-f3b2-f427-0b3f-4e658a573095
*

[2019-10-24 04:52] vivekjilla commented on #6047
Hi @ideoclickVanessa  To get more info on what permissions a user has (and why), we can do the following:

Go to Wiki Security Dialog.
1. Click +Add..  button and select that user and them.
2. The User should now be visible in the users section. Click on that user to know what permission they have,
3. Click on the "why" beside the "contribute" permission to open the trace permission dialog
4. We w

[2019-10-24 05:29] Gijsreyn commented on #6110
@WilliamAntonRohm
Thank you for your response.

On the release pipeline the "Report deployment status to Boards" is available. So when having for example these stages:

![image](https://user-images.githubusercontent.com/26114636/67456028-b4e03880-f62f-11e9-92ef-ef2903a62db2.png)

We first have our building stage that produces the artifact. I selected the "Automatically link work items included in

[2019-10-24 05:33] keokichang opened #6118 "artifactFeeds not artifactFeed"
Artifact feed name property is 'artifactFeeds' rather than 'artifactFeed'.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726683ec-c811-46b7-17d6-527fbafaf8d0
* Version Independent ID: 6d964146-88fb-1975-1263-4d4f6584a03a
* Content: [Python Twine Upload Authenticate - Azure Pipelines](https://docs.microsoft.com/en-au/a

[2019-10-24 06:07] mcurko commented on #5561
Same problem here. You should stress the fact in the doc that this preview feature needs to be on to follow the tutorial. Now it works.

[2019-10-24 06:33] okutbay commented on #6112
Thanks for your reply. I just wanted an extension on document related to this problem.

[2019-10-24 09:19] cristianbanarescu opened #6119 "Cobertura required XML format"
Hi! I am trying to use this plugin to publish my code coverage results. Apparently i am missing something about my 'Summary file', meaning i am creating a wrong XML for the plugin in order to publish it. Can someone provide an example of how this XML file should look like in order for this plugin to work correctly and publish my code coverage results ? I am getting this warning: ##[warning]No cove

[2019-10-24 09:37] PBoraMSFT commented on #6108
@aosyatnik - I see in the pipeline sample that you have provided that you are using Microsoft hosted agents. Microsoft hosted agents are not equipped to run UWP workloads as they are Server OS images.

There are multiple things to do here.
1. Add an E2E UWP example in the documentation. Can I please request you to file a separate issue for that, so that all aspects of UWP development (and not just

[2019-10-24 10:36] aosyatnik commented on #6108
Hi, @PBoraMSFT , thank you for your reply.

2. I tried to run on self-hosted agent. I created another branch called `with_self_hosted_agent`
Here is the result: https://dev.azure.com/melashkina0755/UWP_App_With_Tests/_build/results?buildId=8

As self-hosted agent, I used my laptop.
![image](https://user-images.githubusercontent.com/8158404/67477628-cab72300-f65a-11e9-89a1-5d09019246dc.png)

Tests

[2019-10-24 11:16] PBoraMSFT commented on #5982
@msebolt - this is not my area of expertise and I don't own that task / doc. Please re-route.

[2019-10-24 11:36] konradsikorski commented on #3865
I agree the Issue should be visible on product/sprint backlog

[2019-10-24 12:42] vtbassmatt commented on #6116
`npm` on Windows is a batch script wrapper. You must execute it using `call`, otherwise the underlying process terminates. (This is annoying, and you don't notice it on an interactive terminal, which leads to this confusion.)

[code]

[2019-10-24 12:42] #6116 closed

[2019-10-24 13:27] #6074 closed

[2019-10-24 13:35] aelray commented on #6089
@msebolt Thank you for the idea, but it seems kind of uncomfortable because you have to manage the instances. It would be nice if there would be some kind of mechanism as in [Gitlab](https://docs.gitlab.com/runner/configuration/autoscale.html).

[2019-10-24 13:36] DanielHabenicht commented on #6116
But the task states that it is for cross platform compatibility, that's annoying. Can't the task prepend call to every command run on windows?

[2019-10-24 13:44] juliakm commented on #6099
@drdamour Variables at the job level override variables at the root and stage level. Variables at the stage level override variables at the root level. I'll update that part of the documentation.

[2019-10-24 13:45] vtbassmatt commented on #6116
Unfortunately not. Not every line needs to be `call`ed (if it's a real executable like Git, or a shell builtin like `set` for example). Also, we don't want to be in the business of munging your shell script.

At the end of the day, all we're really doing is passing the contents of the `script` keyword to Cmd on Windows and Bash on non-Windows. "Cross-platform compatibility" is correct only to the

[2019-10-24 13:56] vanbroup opened #6121 "Double-quote error"
The double-quote error as shown in the example is shown when importing a CSV with newlines and quotes exported by Excel for Office 365.

I find it strange that it's not possible to import a CSV file that is generated by Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4296d1cc-f211-9d17-d97f-2b0858fdea7d
* Version

[2019-10-24 14:38] ideoclickVanessa commented on #6047
Hi @chcomley,

I'm still waiting to hear back from the user whether the permissions are finally fixed for them; however, the following two screenshots makes it seem like it should:
![image](https://user-images.githubusercontent.com/44000426/67496090-b9592100-f630-11e9-9d97-3beed0fcc5a6.png)
![image](https://user-images.githubusercontent.com/44000426/67496204-e9082900-f630-11e9-8866-35920a707fcc.pn

[2019-10-24 14:40] Balfa commented on #4828
Looks like there's a breaking change in the API of `azure-pipelines-task-lib/task`. When I run `tsc` against the `index.ts` as presented above, I get `index.ts:5:15 - error TS2322: Type 'string | undefined' is not assignable to type 'string'.`.
Replacing `const inputString: string = tl.getInput('samplestring', true);` with `const inputString: string | undefined = tl.getInput('samplestring', true);

[2019-10-24 14:41] Balfa opened #6122 "Breaking change in azure-pipelines-task-lib"
Looks like there's a breaking change in the API of `azure-pipelines-task-lib/task`. When I run `tsc` against the `index.ts` as presented above, I get `index.ts:5:15 - error TS2322: Type 'string | undefined' is not assignable to type 'string'.`.
Replacing `const inputString: string = tl.getInput('samplestring', true);` with `const inputString: string | undefined = tl.getInput('samplestring', true);

[2019-10-24 17:12] RealNoArms opened #6124 "Can you copy files to Deployment Groups?"
Is there any way to use deployment groups with a Windows Machine File Copy or other task to deploy files to a server farm?

[2019-10-24 17:25] msebolt commented on #6118
@keokichang  Thank you for the feedback.

The `artifactFeeds` from [V0](https://docs.microsoft.com/azure/devops/pipelines/tasks/package/prev-versions/twine-authenticate-0?view=azure-devops) has been changed to `artifactFeed` in [V1](https://docs.microsoft.com/azure/devops/pipelines/tasks/package/twine-authenticate?view=azure-devops#feedback).

Please refer to [task.json](https://github.com/microso

[2019-10-24 17:35] msebolt commented on #6119
@cristianbanarescu Thank you for the feedback.

This appears to be a recurring problem in the community, please see issues [2186](https://github.com/Microsoft/azure-pipelines-tasks/issues/2186), [3036](https://github.com/microsoft/azure-pipelines-tasks/issues/3036), [4814](https://github.com/microsoft/azure-pipelines-tasks/issues/4814), and [10149](https://github.com/Microsoft/azure-pipelines-task

[2019-10-24 17:46] msebolt commented on #6121
@vanbroup  Thank you for the feedback.

There is a similar issue currently active with the product team posted [here](https://developercommunity.visualstudio.com/content/problem/782030/error-tf401232-when-importing-csv-of-work-items.html).  If this describes what you're experiencing please add a comment there and/or link back to this issue.

Also, an Excel work-around has been posted [here](https:

[2019-10-24 17:58] msebolt commented on #6122
@Balfa  Thank you for the feedback, assigning this to the author for review.

In the meantime you should start an issue with the [azure-pipelines-task-lib](https://github.com/microsoft/azure-pipelines-task-lib/issues) repo.

[2019-10-24 18:00] larryms opened #6125 "RenderType documentation incorrect"
under Bake, RenderType this page says " Acceptable values: helm2. "
After reviewing the source code, I believe this is incomplete; the acceptable values are: (per the source code)
                "helm2": "Helm 2",
                "kompose": "Kompose",
                "kustomize": "Kustomize"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-10-24 18:02] vanbroup commented on #6121
Thanks, they look to have fixed the double quote manually, this is not really an option with hunderds of records.

The plugin work-around is an option and this seams to work (when you have administrator rights and don't mind to make your excel a little unstable).

[2019-10-24 18:09] Anand-Moghe opened #6126 "Migrate Build and release pipeline from TFS 2018 update 3 to Azure devops service"
Does the latest data migration tool also migrate TFS 2018 update 3 Build and Release pipeline to Azure DevOps Service ?  Do I need to make any manual changes/update to build or release pipeline after migration on Azure DevOps Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d0174c-2ab8-1e50-9566-e1366cb39ded
*

[2019-10-24 18:11] ofunky opened #6127 "Removal of deprecated functionality"
In what version of Azure DevOps will the deprecated Copy and Publish Build Artifacts be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34301e0e-fc7e-bf7a-de61-c466756f22a3
* Version Independent ID: 2595a9cf-03b2-4206-6dda-43ac1b903add
* Content: [Copy and Publish Build Artifacts task - Azure Pipelines](https:/

[2019-10-24 18:33] DaveVoyles opened #6128 "TF401232: Work item 15 does not exist, or you do not have permissions to read it."
I have exported all work items from ADO backlog A as .csv.
I've created a new ADO repository (B).
In ADO repository B, click the "import work items" button to upload the .csv from A.

That's when I receive this error:
``` TF401232: Work item 15 does not exist, or you do not have permissions to read it.```

I have no idea of what this is telling me, because this item exists.
If I delete it, I then

[2019-10-24 18:33] ronwarner opened #6129 "Typos"
Under Dependencies/Classic, there are two typos:
"With a After release trigger" should be changed to "With an After release."
"With a After stage trigger" should be changed to "With an After stage."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4266f72c-c774-0046-4593-d01eb775d3c3
* Version Independent ID: f20827aa-a6

[2019-10-24 18:49] askjeevers opened #6130 "Test Outcome from automated tests does not display in Test Plan"
Not sure when this stopped working...

We have a build/release pipeline that runs automated tests.  Our automated tests are associated to Test Cases in Azure DevOps, which are also contained within a Test Plan.

Previously, when our build/release would run, the results of the automated tests would update the Test Outcome in our Test Plans.  This is no longer working in the 'new' and 'old' version

[2019-10-24 18:53] ChristopherMank commented on #5297
Confirmed there is no retention policy. Deleted branches are kept indefinitely. Created PR #6131 to update docs.

[2019-10-24 19:05] ronwarner opened #6132 "Where is "Clean repository?""
The part of this document that reads "This option has no practical effect unless you also set Clean repository to False" could be more useful if it included a link to what "Clean repository" is, and where that option can be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22342679-18af-7c79-f902-fe9c0bb55379
* Ver

[2019-10-24 19:22] cptnalf opened #6133 "Argument names"
The argument names don't match any of the yaml-syntax names.  While one can infer the parameters, it would be nice if the parameter names were explicitly called out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add63018-4f2c-f258-76ea-9f76aa43ff09
* Version Independent ID: c71f17c9-9a78-396e-7a0f-ad8b52b01724
* Conte

[2019-10-24 19:23] msebolt commented on #6124
@RealNoArms Thank you for the question.

Unfortunately this would better be served by the product team through the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) where they will start a feature request.  They can also offer temporary work-arounds.

Please start a thread there and link back to this issue.

[2019-10-24 19:27] msebolt commented on #6125
@larryms  Thank you for the feedback, assigning this to the author for review.

[2019-10-24 19:46] msebolt commented on #6126
@Anand-Moghe  Thank you for the questions.

TFS 2018 update 3 is supported (see [here](https://devblogs.microsoft.com/devops/team-foundation-server-2018-update-3-and-update-1-1-are-available/)).

For any problems please see contact listed in the [Migration overview](https://docs.microsoft.com/azure/devops/migrate/migration-overview?view=azure-devops#q--a) or contact the product team via [Azure Dev

[2019-10-24 19:54] msebolt commented on #6127
@ofunky  Thank you for the question.

Unfortunately this is more of a question for the product team.

Please move the issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-24 19:56] damccorm commented on #6122
So this isn't really a breaking change - prior to the changes that caused this, our lib didn't allow strict type checking. With this change, it does, and we should only see this error when using strict typing. With that said, the docs should be updated.

`const inputString: string | undefined = tl.getInput('samplestring', true)` is indeed correct

[2019-10-24 19:58] vtbassmatt commented on #6133
@steved0x are we going to do any updates to the task docs to map friendly names and YAML names?

[2019-10-24 20:09] Anand-Moghe opened #6134 "Can you add more detail for migrating TFS Release to Azure DevOps Service?"
The article explicitly mentioned XAML Build pipeline Migration process and clearly mention that to migrate it to Azure DevOps Service, one has to use **Manual approach and no automation is available.**

But does that also means that the **new TFS pipeline** which is based on the simpler task- and script-driven cross-platform approach **can be migrated using automation using Data Migration tool for

[2019-10-24 20:23] Anand-Moghe commented on #6126
@msebolt I will try my luck on Azure DevOps Community.

[2019-10-24 20:23] #6126 closed

[2019-10-24 20:44] chcomley commented on #6073
Hi @0xaryan,

The issue is that there are no hubs that target the new hub group. If a hub group is empty we don't show it. The hub that is defined targets the cide hub group. Make this change to get the new hub-group to appear:

"contributions": [
        {
            "id": "my-hub",
            "type": "ms.vss-web.hub",
            "targets": [
                "AryanEbrahimpour.my-first-extensio

[2019-10-24 21:33] msebolt commented on #6128
@DaveVoyles Thank you for the feedback, sorry you're experiencing difficulties.

There is an active item started [here](https://developercommunity.visualstudio.com/content/problem/782030/error-tf401232-when-importing-csv-of-work-items.html) with the product team in **Azure DevOps** community.

Please add your comment there and link back to this issue, or comment below if this does not address your

[2019-10-24 21:39] msebolt commented on #6129
@ronwarner  Thank you for the feedback and attention to detail.

The documentation has been updated and is pending review.

[2019-10-24 21:51] msebolt commented on #6130
@askjeevers  Thank you for the feedback, we're sorry you're experiencing issues.

Unfortunately, something like this needs to be addressed by the product team.

Please use **Report a problem** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to start a thread and link back to this issue.

A similar post [here](https://developercommunity.visualstudio

[2019-10-24 22:05] msebolt commented on #6132
@ronwarner  Thank you for the feedback.

The repo's clean setting is an option set using `git`, refer to [clean the local repo](https://docs.microsoft.com/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops#clean-the-local-repo-on-the-agent).

The documentation has been updated and is pending review.

[2019-10-24 22:27] #6008 closed

[2019-10-24 22:28] #6046 closed

[2019-10-24 22:28] #6082 closed

[2019-10-24 22:32] #6087 closed

[2019-10-24 22:34] msebolt commented on #6097
Thank you for moving the issue, closing this now.

Please refer to the link above for any additional comment or concerns.

[2019-10-24 22:34] #6097 closed

[2019-10-24 22:37] #6098 closed

[2019-10-24 23:07] joyl1216 commented on #5327
Not sure which SSH key should I upload to the secureFile. Public key?

[2019-10-25 01:57] operick8 opened #6135 "Missing information for Service Hooks consumption and limits"
With this documentation It is unclear to me how are the service hooks affecting the global consumption limit. I understand that all actions performed by a user have related TSTUs. My guess is that when a service hook is triggered it will also have some TSTUs related but I didn't find anything specific to the service hooks consumption and limits here or in the service hook documentation. Specifical

[2019-10-25 04:38] LJ9999 opened #6136 "How do I remove git from my project in Visual Studio?"
Are you telling me this cannot be done? Seriously?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03af1d9-4eeb-ac18-d517-a0a44a2478be
* Version Independent ID: 842691c8-8c41-facf-2cff-03542262f2e5
* Content: [Delete a Git repo from your project - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/del

[2019-10-25 04:52] Barsonax commented on #6005
Running into this as well. Also as long as you don't reject or approve anything the status will be waiting. So the result is build now wait endlessly for a approval that never comes.

[2019-10-25 05:32] cristianbanarescu commented on #6119
Hi, @msebolt ! I looked into the issues you specified and i will try some suggestions from there. I will let you know what i have accomplished.

[2019-10-25 08:21] skylee91 commented on #2365
OMG there is no follow up since July. Nobody working in this Docs Microsoft?

[2019-10-25 08:24] skylee91 commented on #3940
I also hit this error. Try `git branch` to list the available branches. Then change the command accordingly.
For example, `git branch -m bare/svn/trunk master` instead of `git branch -m trunk master`

[2019-10-25 08:38] michaldudak opened #6139 "Using files from other repositories"
Is it anyhow possible for the script from another repository to reference some other file from that repository?

For example, I'd like to have a "Common" repo with yaml templates that use powershell scripts (as external files) and "Application" repo that would include templates from the "Common" one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-10-25 08:43] mloskot commented on #2365
@skylee91 Yes, unfortunately, this issue is not an exception. Microsoft asks the community for help in proof-reading the docs but looking at the number of open issues, well, it's very de-motivating...

[2019-10-25 08:56] ianwilliams1 commented on #2365
Unfair to single out the Docs ppl; the last real update to the [Jenkins tfs-plugin](https://github.com/jenkinsci/tfs-plugin/releases) was 2018-08-13, over a year ago. There was a minor update to the documentation there recently in which they basically forgot about their product Azure DevOps Server in their re-branding exercise, so not counting it. [83 outstanding issues](https://issues.jenkins-ci.

[2019-10-25 09:13] junpark12 opened #6140 "File copy from blob"
Hi
Can i copy files from blob and deploy it to azure vm? It seems like i can only specify blob as target.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f9308fc60cd
* Version Independent ID: 2c28a59b-8ef5-d7ab-46a6-58748ec552f5
* Content: [Azure File Copy task - Azure Pipelines](https://

[2019-10-25 09:21] cpbattrick opened #6141 "Error: Cannot find module 'sync-request'"
I have run through the instructions, I believe to the letter.  When trying to run the command "mocha tests/_suite.js" it fails giving the error "Error: Cannot find module 'sync-request'".  Any ideas on whats gone wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Indepe

[2019-10-25 10:52] cpbattrick commented on #6141
cracked it, i had the test folder in the route folder and not in the buildAndReleaseTask folder.  Maybe update the instructions so its a bit clearer?

[2019-10-25 11:40] buhlergroup commented on #4428
Yes, this would be a nice function: Copy (Access) a field from the parent item. E.g. to overtake a funding number.
It reduces the need to write Azure functions.

[2019-10-25 12:04] cawoodm commented on #5081
It would be helpful if there was a recommendation for which branch should *normally* be the default: master or develop??

[2019-10-25 12:42] vtbassmatt commented on #6139
[Templates can live in other repositories.](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#using-other-repositories)

Soon we will be introducing multi-checkout, so you'll be able to grab the files (tools, scripts, etc.) from those other repos as well.

[2019-10-25 12:42] #6139 closed

[2019-10-25 12:53] cristianbanarescu commented on #6119
For anyone interested: if there is anyone using this task to publish XCode code coverage results, i suggest using slather framework to generate the required XML for this task. I used it and now i am able to publish my code coverage results

[2019-10-25 12:53] #6119 closed

[2019-10-25 13:17] aliostad commented on #2706
Having the same problem.

[2019-10-25 13:29] rogersillito commented on #5327
@joyl1216 - I would think it will be a private key, assuming your use case was similar to mine: i.e. wanting the build agent to be able to authenticate as "you" against a resource that is authorized using the correpsonding public key.

[2019-10-25 13:50] jhow31 commented on #4068
Inside func.runtimeconfig.json, you need to put
{
  "runtimeOptions": {
    "configProperties":{
      "System.Globalization.Invariant": true
   }
  }
}

[2019-10-25 15:41] msebolt commented on #6134
@Anand-Moghe Thank you for the question.

Please review the [migration overview](https://docs.microsoft.com/azure/devops/migrate/migration-overview?view=azure-devops) and add any questions below.

The data migration tool does support TFS though the descriptions are somewhat blurred since lthis is now referred to as Azure DevOps Server.

[2019-10-25 15:49] msebolt commented on #6135
@operick8 Thank you for the feedback.

Please see the service hooks category starting with the [overview](https://docs.microsoft.com/azure/devops/service-hooks/overview?view=azure-devops).  Many examples are included here, such as [webhooks](https://docs.microsoft.com/azure/devops/service-hooks/services/webhooks?view=azure-devops).  If you need further examples or have any suggestions please comme

[2019-10-25 16:07] msebolt commented on #6136
@LJ9999  Thank you for the feedback.

The article is intended to accomplish this.

Are the instructions not working or is something missing from the steps?

[2019-10-25 16:15] #6118 closed

[2019-10-25 16:56] operick8 commented on #6135
Hi @msebolt thanks for the prompt response. I do understand how to use service hooks and for the moment I don't need examples about them. What I do want to know is about the service hooks resource consumption. I think it is something important that should be included somewhere in the documentation.  @roofers Could you help answering the questions? Thanks in advance!

- Do Service hooks have a reso

[2019-10-25 17:07] #6122 closed

[2019-10-25 17:13] Balfa commented on #6122
Why closed? The documentation is still wrong.

[2019-10-25 17:15] chcomley commented on #6122
@Balfa, See above your comment, where I referenced a PR, which is where the documentation updates were included. They will go live sometime today. Thanks

[2019-10-25 17:24] chcomley commented on #6122
@Balfa, No worries. It's good to know that it may not be reflected on your side. I'll look into it. Thanks so much. Have a wonderful weekend!

[2019-10-25 17:59] Anand-Moghe commented on #6134
@msebolt Thanks!

[2019-10-25 17:59] #6134 closed

[2019-10-25 18:11] devlife opened #6142 "How to share files across jobs?"
I have a stage with two jobs.
1. `Job1` run `dotnet publish` --> outputs files to staging directory
2. `Job2` publish artificats --> publish the files in the staging directory

However, when `Job2` runs, the staging directory is empty. Is it possible for two jobs to share files?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-25 18:24] mayeager22 opened #6143 "Visual Studio Test Platform Installer and Team Foundation Server 2017"
This page shows using the task "Visual Studio Platform Installer", yet that task in not available in TFS 2017 and I cannot find it to download from the marketplace.

Is the task available for TFS 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e51d18-72ec-1ad4-9ae7-8185c8e1dcd6
* Version Independent ID: 9f2f0471

[2019-10-25 19:29] chcomley commented on #6114
Hi @v-wilock, I've published an update to the article, replacing the text with screenshots of light and dark themes. Is this what you meant? I also updated the versioning of the article, as HTML tags didn't get added until the [release of Azure DevOps Server 2019.1](https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline). I'm sorry for any confusion. The updates should be li

[2019-10-25 19:49] v-wilock commented on #6114
![image](https://user-images.githubusercontent.com/46005579/67599876-d3c0f680-f725-11e9-8a47-d8b1673a5551.png)
Attached a screenshot.

[2019-10-25 19:53] drdamour opened #6144 "Deploy to Multiple Web Apps section seems to be missing multiple web apps"
The example, if i'm not mistaken only deploys to 1 app.

also shouldn't the deploy job be marked as a deploy job?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a40a853-83d6-844a-4752-8b00909c9ffb
* Version Independent ID: e3121964-de38-2a57-2414-c1e29a880477
* Content: [Deploy an Azure Web App - Azure Pipelines](http

[2019-10-25 20:07] chcomley commented on #6114
@v-wilock What version of the product are you using please? Thanks!

[2019-10-25 20:56] spankr opened #6145 "Checkout clean doesn't match my TFS Yaml"
The example for 'clean on checkout' on this page is a boolean (with 'true' as the value).
The yaml in my pipeline expects a string of "all", "outputs" or "resources".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 024e4ed9-cf8d-155f-5e4a-73c2effaaed8
* Version Independent ID: f19c0538-4aae-b3b4-82b9-422e76723b01
* Cont

[2019-10-25 21:46] kohithms opened #6146 "Azure SQL Database deployment VSTS TASK : Error Message : System.Management.Automation.ActionPreferenceStopException: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: One or more errors occurred. when Task is configured with "AADAuthenticationIntegrated""
Hi Team,

We are using Azure SQL Database deployment VSTS TASK in the pipeline. When we are using the SQL server credentials its started working. When we switch to "**aadAuthenticationIntegrated**" system is throwing error.

**Error Message**: System.Management.Automation.ActionPreferenceStopException: The running command stopped because the preference variable "ErrorActionPreference" or common pa

[2019-10-25 22:27] WilliamAntonRohm commented on #6141
@cpbattrick -- thank you for your feedback.

@chcomley -- please look into this issue.

[2019-10-25 22:29] WilliamAntonRohm commented on #6142
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-10-25 22:29] #6142 closed

[2019-10-25 22:30] #5946 closed

[2019-10-25 22:47] WilliamAntonRohm commented on #6146
@kohithms -- Thank you for your feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent

[2019-10-25 22:47] #6146 closed

[2019-10-25 22:54] WilliamAntonRohm commented on #6140
@junpark12 -- please see the "Destination Type" argument in [that article](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops#arguments).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-25 22:54] #6140 closed

[2019-10-26 07:22] 0xaryan commented on #6073
@chcomley It worked! Thank you so much.

[2019-10-26 07:22] #6073 closed

[2019-10-27 07:45] junpark12 commented on #6140
hi William
My point was that I’d like to use blobs as source.
If I cannot do that now, do you have specific plan for that.
Thanks

[2019-10-27 13:14] balteravishay opened #6150 "Can't have two resources under the same environment with the same namespace"
When trying to create two k8s resources, under the same environment, referencing different clusters with the same namespace getting an error for:  "Resource 'namespace' already exists in current environment".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7730ae4d-4101-9c83-1823-4ff43ff161ce
* Version Independent ID: 2

[2019-10-27 19:12] koskila commented on #6038
Isn't it "publishVstsFeed" ? That's documented on the page, but it indeed looks to be wrong in the example...

[2019-10-27 19:56] seapeter opened #6152 "Track Changes"
The answer to the question "Can I track changes to test plans and test suites that I create with Azure DevOps?", it states that "Yes, you can track changes to test plans and test suites. Open the work item for the test plan or test suite, then view the work item history.  For test suites, other actions are tracked in the Test Suite Audit field. For example, adding and removing test cases from a te

[2019-10-28 01:18] cyrilzh opened #6153 "failed to create pipeline agent in docker for DevOps Server 2019 Update 1"
I am following https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops to create a pipeline agent in Linux docker.

It works fine in Azure DevOps Server 2019 but not in Azure DevOps Server 2019 update 1. The PAT authentication in start.sh script failed. The issue can be reproduced by running the following script against a DevOps 2019 server.  It will return empty re

[2019-10-28 08:46] koskila opened #6154 "There are broken line-breaks on the page."
Example:
packagesToPack
Path to csproj or nuspec file(s) to pack"	Pattern to search for csproj directories to pack.\n\nYou can separate multiple patterns with a semicolon, and you can make a pattern negative by prefixing it with '!'. Example: **\\*.csproj;!**\\*.Tests.csproj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-28 08:46] koskila commented on #6154
I think a screenshot illustrates this better:
![image](https://user-images.githubusercontent.com/4086860/67664381-373e6480-f970-11e9-9b4f-09b35c22945f.png)

[2019-10-28 09:22] yarko686 opened #6156 "Add the setting for time zone for scheduled pipelines"
Currently, pipelines support only UTC timezones. It would be very helpful to have the timezone setting for pipelines.
For example we are in UTC+02:00 and we have to move to DST. In case with UTC schedule we will have to manually change the time of the next trigger. If the timezones settings were available this change would have been made automatically.
schedules:
- cron: "30 09 * * Mon-Fri"
  disp

[2019-10-28 09:34] mcurko opened #6157 "Suggestion"
I'm trying to follow these quickstarts in Azure Test Plans. The user interface doesn't even look like what I see here and I don't understand the purpose of what is described here. You should describe what are you trying to achieve and why should someone use Azure Test Plans, and than add a detailed and easy to follow description of steps to achieve the result. (see Azure Pipelines)

---
#### Docum

[2019-10-28 11:20] Jon889 opened #6158 "Using expression"
Is it possible to use functions like coalesce? For example I want the build number to be based on the PR number, unless it was run manually, then it should use the date. Something like `name: $[coalesce(system.pullRequest.pullRequestNumber, Build.SourceBranchName)].$(Rev:r)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-28 11:23] John-Blair opened #6159 "not a single example!"
Why not be really helpful and include a few examples of how to use this command. There are lots of parameters with vague usage details. I want to copy a folder from a Test app service to a Live app service - maybe start with that example? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f

[2019-10-28 13:59] juliakm commented on #6144
@drdamour In this example, it looks like we are treating the stage web app and prod web app as two separate apps. I'll update the wording to make it clearer and note the deploy app.

[2019-10-28 14:03] drdamour commented on #6144
Ah I see it now, maybe a comment above the stage deploy task

[2019-10-28 14:07] nikoNguyen opened #6161 "Who should I believe ?"
Maybe it is time to refresh this interesting comparison, GitLab page show a different result in many areas
https://about.gitlab.com/devops-tools/azure-devops-vs-gitlab.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96200b4-9fc1-7d8c-dce4-6a2b0cb5fa4d
* Version Independent ID: bf8e5f2c-a8a5-d2e1-f89c-5ed5129c32a3

[2019-10-28 14:23] vairakkumar-vairaperumal commented on #6141
I am getting this error even when I am running from within the buildAndReleaseTask

npm version
{ buildandreleasetask: '1.0.0',
  npm: '6.12.0',
  ares: '1.15.0',
  brotli: '1.0.7',
  cldr: '35.1',
  http_parser: '2.8.0',
  icu: '64.2',
  modules: '64',
  napi: '4',
  nghttp2: '1.39.2',
  node: '10.16.3',
  openssl: '1.1.1c',
  tz: '2019a',
  unicode: '12.1',
  uv: '1.28.0',
  v8: '6.8.275.32-node

[2019-10-28 14:57] ideoclickVanessa commented on #6047
While I visually confirmed with the user on Friday that they still can't edit the wiki even though their permissions match the above, I'm going to go ahead and close this issue since I can successfully give other users wiki edit permissions.

[2019-10-28 14:57] #6047 closed

[2019-10-28 15:05] jschwanz opened #6162 "Missing Pipeline Resources Documentation"
Sprint 159 introduced [CD capabilities for your multi-stage YAML pipelines](https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-159-update#cd-capabilities-for-your-multi-stage-yaml-pipelines), but there's not any real documentation around how to use it. This is both on the main resources page and the [YAML schema](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-sch

[2019-10-28 16:13] drdamour commented on #6100
@msebolt i didn't understand your response, you say it's possible, but then link to a stack item that says it's NOT possible.  Is it possible or not?  with the multi-job where you specify the job name, what if two different stages have the same job?

[2019-10-28 16:20] drdamour commented on #6100
looks like it still does NOT work across stages https://github.com/microsoft/azure-pipelines-tasks/issues/4743#issuecomment-539585951 or at least i'm not the only one confused

[2019-10-28 16:28] msebolt commented on #6100
I misread the StackOverflow post, this only works between Jobs but not between Stages.

[2019-10-28 16:32] chcomley commented on #6047
Thank you for letting us know, @ideoclickVanessa. Have a nice day!

[2019-10-28 16:36] drdamour commented on #6100
does it warrant a note in this doc that you can't use values across stages?

[2019-10-28 16:41] msebolt commented on #6100
Possibly, I'll assign this to the author for review.

[2019-10-28 16:55] #6114 closed

[2019-10-28 17:31] suxstellino opened #6164 "New article "Reducing the gap between operations and development using Azure DevOps""
Hi there,
I'm Alessandro Alpi, an Italian data platform MVP. I'd like to send a new article about Azure DevOps. I think that this tricky article could be useful. Here is what I'm trying to describe:

- problem: Dev vs Ops, too much isolated, too much waste of time, and so on
- obstacles: culture, communication, single point of work
- solution: using multiple backlogs, with multiple teams, with new

[2019-10-28 17:32] bender2k14 opened #6165 "Typo involving publishFeedCredentials and verbosityRestore"
In the [Arguments section](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#arguments), there are two consecutive rows with arguments `publishFeedCredentials` and `verbosityRestore` that look like

|Argument|Description|
|-- | --|
|`publishFeedCredentials` **NEWLINE** Verbosity | Specifies the amount of detail displayed in the output.|
|`verbosityRestor

[2019-10-28 17:46] chcomley commented on #4142
Hi @ashokirla,

Following up on this - have you published these updates yet? Thanks for your help.

[2019-10-28 17:52] drdamour opened #6166 "make a note this isn't supported in yaml yet"
AFAIK this still is not supported in yaml, can a note be added with a link to an issue to track?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1c633b9-c8b2-e05d-de2c-7754894d28fd
* Version Independent ID: df031b76-0fe7-e138-dd36-2736757a97fd
* Content: [Manual Intervention task - Azure Pipelines](https://docs.microso

[2019-10-28 18:03] chcomley commented on #4535
@SephirotJustin, I'm publishing an update to the article today, adding an Important note containing a link to our latest and greatest guidance, which is here: https://developer.microsoft.com/en-us/azure-devops/develop/extensions. I'm closing this issue, however please @mention me if you have any further questions.
Thank you!

[2019-10-28 18:03] #4535 closed

[2019-10-28 18:38] ajklotz commented on #1770
I have a build pipeline using the matrix strategy, and I'm specifying **maxParallel:** 1 but I'm seeing multiple jobs from the matrix running at the same time. **maxParallel** doesn't seem to be honored.

[2019-10-28 18:46] bender2k14 opened #6167 "feedRestore not listed in YAML snippet section"
`feedRestore` is in the table in the [Arguments section](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#arguments) but it is missing from the [YAML snippet section](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#yaml-snippet).

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-28 18:57] msebolt commented on #6150
@balteravishay  Thank you for the feedback, I will assign this to the author for review.

Please note that for feature requests and/or product limitations, items need to be submitted to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) for the product team to assess.

[2019-10-28 19:06] msebolt commented on #6153
@cyrilzh  Thank you for the feedback, assigning this to the author for review.

Please also consider involving the product team by using the **Report a problem** feature in [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and linking back to this issue.

[2019-10-28 19:08] vtbassmatt commented on #1770
@ajklotz it seems to be working for me. But feel free to report it over on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-10-28 19:08] msebolt commented on #6154
@koskila  Thank you for the feedback, we'll take a look at getting these changes made.

[2019-10-28 19:17] ajklotz commented on #1770
Disregard, I had different sets of Jobs and the matrix didn't apply to the other ones. My fault!

[2019-10-28 19:25] ajklotz commented on #4607
I would like the ability to reference the current matrix name being processed in case I have matrix specific things to differentiate

[2019-10-28 19:27] #6099 closed

[2019-10-28 19:40] koskila commented on #6154
Not sure if you accept tiny contributions like this, but I actually already submitted a pull request ( #6155 ) to fix it 😅

[2019-10-28 19:54] Blightysoft opened #6168 "Setting variables in macOS fails"
This line:

echo "##vso[task.setvariable variable=sauce]crushed tomatoes"

Does not work to alter the 'sauce' variable. Nor does:

##vso[task.setvariable variable=sauce]crushed tomatoes

Although it is frankly a lot more believable as a solution. This page also talks about 'shell' and 'batch', but the only similar task in Azure is 'command'. So it seems quite out of date.

---
#### Document Detail

[2019-10-28 19:54] msebolt commented on #6154
Yes, thank you for contributing.  I'll see if I can merge the changes.

[2019-10-28 19:57] kevinpshan opened #6169 "Broken link"
http://scaledagileframework.com/business-epic-kanban/  gives a 404.  In the new version it may be this link https://www.scaledagileframework.com/portfolio-kanban/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c926cb3-ed15-3489-65f8-2a5c1fd129d4
* Version Independent ID: 1b441906-10f0-2ec0-d1aa-d3686ff94146
* Content:

[2019-10-28 19:58] msebolt commented on #6154
The documentation has been updated.

Thank you again for contributing to Microsoft Docs.

[2019-10-28 19:58] #6154 closed

[2019-10-28 20:00] msebolt commented on #6156
@yarko686  Thank you for the feedback, unfortunately this is an issue for the product team to address.

Please start a thread in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-28 20:02] msebolt commented on #6157
@mcurko  Thank you for the feedback, assigning this to the author for review.

[2019-10-28 20:18] msebolt commented on #6158
@Jon889  Thank you for the question.

The `coalesce` function under [functions](https://docs.microsoft.com/azure/devops/pipelines/process/expressions?view=azure-devops#functions) is supported unless you are not including a literal expression at the end of the parameter sequence or the `pullRequestNumber` is being evaluated to something other than a given value or the empty string/null value.

Plea

[2019-10-28 20:19] msebolt commented on #6159
@John-Blair  Thank you for the feedback, assigning this to the author for review.

[2019-10-28 20:26] msebolt commented on #6161
@nikoNguyen Thank you for the feedback.

The article is a dated comparison and we should probably address this in the beginning of the article, instead it's mentioned in the [compare for yourself](https://docs.microsoft.com/azure/devops/learn/compare/azure-devops-vs-gitlab#compare-for-yourself) section.

I'll have the note reworded and added to the top of the document.

[2019-10-28 20:29] msebolt commented on #6164
@suxstellino  Thank you for the suggestion, assigning this to an author for review.

[2019-10-28 20:31] koskila commented on #6154
Thanks & my pleasure!

[2019-10-28 21:15] msebolt commented on #6165
@bender2k14  Thank you for the contribution and feedback.

The documentation has been updated and is pending review.

[2019-10-28 21:18] msebolt commented on #6166
@drdamour  Thank you for the feedback, assigning this to the author to review and confirm.

[2019-10-28 21:31] msebolt commented on #6167
@bender2k14 Thank you for the feedback.

It looks like `feedRestore` was updated to `vstsFeed` and the tables were never changed. refer to [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/task.json).

The documentation has been updated with changes pending review.

[2019-10-28 21:42] #6124 closed

[2019-10-28 21:42] #6127 closed

[2019-10-28 21:42] #6128 closed

[2019-10-28 21:44] #6130 closed

[2019-10-28 21:45] #6136 closed

[2019-10-28 22:12] drdamour opened #6170 "benefits unclear"
this doc doesn't really seem to clarify why i would use a deployment job, it says i can view the history but doesn't say why a deployment job's history is different than any other job? is there a special place we can view deployment history? can we add a link to the docs about that place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-28 22:32] #5516 closed

[2019-10-28 22:47] WilliamAntonRohm commented on #5906
@KathrynEE -- please review the above-mentioned PR 232.

[2019-10-29 02:28] cyrilzh commented on #6153
Thanks @msebolt. Here is the link in Azure DevOps Community.

https://developercommunity.visualstudio.com/content/problem/795513/azure-devops-server-2019-update-1-pat-authenticati.html

Please feel free to let me know if any more information is needed. BTW, the problem can be reproduced by authenticating with PAT in Postman as well.

[2019-10-29 04:18] SadagopanRajaram commented on #6108
@aosyatnik - I see that the yaml suggests that the build was done for x86 but the tests are run for x86 and x64. Can you please check to make sure that the architecture between the build and test task match?

[2019-10-29 05:36] msebolt commented on #6168
@Blightysoft  Thank you for the feedback, assigning this to the author for review.

[2019-10-29 05:44] msebolt commented on #6169
@kevinpshan  Thank you for the feedback and fixed link.

The document has been updated and is pending review.

[2019-10-29 05:46] msebolt commented on #6170
@drdamour  Thank you for the feedback, assigning this to the author for review.

[2019-10-29 07:16] aosyatnik commented on #6108
Hi @SadagopanRajaram , thank you for suggestions. I tried to run only x86. No good result.
Here is a build for Windows agent (1 test passed): https://dev.azure.com/melashkina0755/UWP_App_With_Tests/_build/results?buildId=9
Here is a build for Self-hosted agent (no test assed): https://dev.azure.com/melashkina0755/UWP_App_With_Tests/_build/results?buildId=10

I'm wondering why there is no good work

[2019-10-29 09:38] iamsrivatsa commented on #5411
The **packDirectory** is the alias used for **outputDir** and same is already documented in the Arguments table along with the description.

[2019-10-29 10:18] arnauddrain opened #6172 "Missing CocoaPods example"
An example to cache CocoaPods, especially the `~/.cocoapods` folder,  would be very useful for iOS developers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure Pipelines](https://docs.m

[2019-10-29 10:25] bakgaard opened #6173 "REST API for Library"
Is there an API for updating the Library's variables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2fe2521-cc98-8946-89b4-5a8199a6d898
* Version Independent ID: dbc4b6cf-ddb1-ac16-c634-eaf15072e111
* Content: [Library for Azure Pipelines and Team Foundation Server - Azure Pipelines](https://docs.microsoft.com/en-us/

[2019-10-29 12:10] jasoncabot-ms commented on #6141
You can work around this by installing sync-request from inside the buildAndReleaseTask folder:

[code]

[2019-10-29 12:56] Lizzie42 opened #6174 "Trying to use output variables from tasks in the same job"
In my custom extensions I'm trying to use output variables from one task in another with the $(firstTask.variableName) format in a downstream task.  The input fields don't throw errors when I type this format in, however, when I try to save & queue my pipeline, I get this error:

The pipeline is not valid. Job Job_1: Step input variableName references $(firstTask.variableName) which could not be f

[2019-10-29 13:38] juliakm commented on #6029
I've confirmed that there is no predefined variable for the agent pool name that needs to be added to our documentation. You can reach out to the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is monitored by the product team, to submit a feature request.

[2019-10-29 13:38] #6029 closed

[2019-10-29 14:44] rofehaim opened #6175 "Does Universal Packages supported by Azure DevOps Server?"
I tried to upload a universal package to Azure DevOps Server but I get an error "Universal Packages are not supported in Azure DevOps Server" but I can find any document that approves it...
I have Azure DevOps Server 2019 Update1 RC1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 405dfb6a-2f3d-1d74-2d28-d00be3bb069d
*

[2019-10-29 14:45] juliakm commented on #6074
The doc update is [live](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#container-resource) now.

[2019-10-29 14:46] juliakm commented on #6144
You can see the updated doc [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/webapp?view=azure-devops&tabs=yaml#deploy-to-multiple-web-apps).

[2019-10-29 14:49] drdamour commented on #6144
But shouldn’t it use https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops ?

[2019-10-29 15:52] bitsofinfo opened #6176 "kubernetes service connections w/ openidconnect AAD integration enabled AKS cluster"
Will kubernetes service connections work with an AKS cluster that is bound to AAD via openidconnect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90dd0-49f9-4ed4-3010-9a64dde6ae5a
* Version Independent ID: 6e679d50-4e94-eee3-8793-af884cc909ca
* Content: [Service connections in Azure Pipelines and Team Foundation S

[2019-10-29 16:03] jb-git commented on #5500
And why is it closed? It's so weird!

[2019-10-29 16:05] bitsofinfo opened #6177 "For k8s service connection: please provide a clear description of difference between "Azure subscription option" and "service account option""
You present 2 options for AKS service connections:

"Azure subscription option" and "service account option"

But there is no explanation on what is the clear difference between these two options. They both produce service accounts? What is the diff? The auth mechanism? What is the auth mechanism?

Please provide more info

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-10-29 16:11] hajtomoto opened #6178 "Error while running Linux self-hosted agent as non-root user"
Is it possible to start self-hosted agent as a non-root user?
e,g. changing user in Dockerfile like this:
USER docker
CMD  ["./start.sh"]

or changing it within the "start.sh" script:
sudo -u docker bash << EOF
exec ./externals/node10/bin/node ./bin/AgentService.js interactive
EOF

I do not want to run as ROOT for security reasons, I need to start Build Agent as non-root user.

I tried both these

[2019-10-29 16:35] nuclear0wl opened #6179 "Usage of repository resource is extremely not obivious"
Hello, now I'm trying to recognise how to add additional repositories to my pipeline and it is a real challenge.
I want to achieve such architecture: in one repository I have branch where my YAML pipelines are stored, in the same repository I have second branch where my source code which I want to build using my pipeline stored.
I've added following code to my YAML pipeline:
[code]
My pipeline was

[2019-10-29 16:48] vtbassmatt commented on #6179
We have not rolled out [multi-repo checkout](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/multi-checkout.md) yet, so adding a second repository as a resource won't help you check out its code. That feature will ship in a few weeks, at which time the docs will be updated.

In the meantime, see [this topic](https://docs.microsoft.com/azure/devops/pipelines/repos/pipeline-opti

[2019-10-29 16:48] #6179 closed

[2019-10-29 16:54] JustinGrote opened #6180 "System.AccessToken Use the OAuth token to access the REST API. Link is broken"
Link is broken, goes to 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Predefined variables - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tab

[2019-10-29 17:02] bweggersen opened #6181 "Microsoft Hosted agents do not seem to contain multiple node versions as advertised"
Under the section `Check for Latest Version` it seems to suggest that if we are using Microsoft-hosted agents we can leave this option blank, in combination with a wide version range, to re-use node versions already installed on the agent. [The documentation on software pre-installed on `macos-latest`](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.

[2019-10-29 18:13] rwronsky opened #6182 "Missing operators under filters"
Hi,
I’ve set up the burnup analytics widget but for some reason the only operators exposed are = and &lt;&gt;.
This is the case for standard fields as well as custom ones which is quite limiting.
I noticed on the examples there are more that I can uses regularly similar to using the queries.
Is there a way to enable others such as “contains” etc...
Thanks.

---
#### Document Details

⚠ *Do not edi

[2019-10-29 18:17] NenoLoje commented on #5411
@iamsrivatsa Thanks for helping out. Now, we both know that, but the page itself has no indication of that relationship. How can we fix that docs page to make it clear for others, too?

[2019-10-29 18:41] bitsofinfo opened #6183 "service connection for "kubeconfig" option does not appear to work against an AAD openidconnect integrated AKS cluster"
When using the "kubeconfig" option I get the error when I click on "verify connection"

```Error: TFS.WebApi.Exception: No user credentials found for cluster in KubeConfig content. Make sure that the credentials exist and try again.```

The kubeconfig I pasted in, and selected the correct context from, is a direct copy paste of what is in my ~/.kube./config file and this works fine w/ kubectl

[co

[2019-10-29 19:18] #5955 closed

[2019-10-29 19:33] WilliamAntonRohm commented on #6174
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:33] #6174 closed

[2019-10-29 19:34] chcomley commented on #6141
@vairakkumar-vairaperumal Did @jasoncabot-ms's work around help? Please let us know if you're still stuck. Thanks!

[2019-10-29 19:34] WilliamAntonRohm commented on #6176
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:34] #6176 closed

[2019-10-29 19:36] WilliamAntonRohm commented on #6178
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:36] #6178 closed

[2019-10-29 19:39] WilliamAntonRohm commented on #6182
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:39] #6182 closed

[2019-10-29 19:40] WilliamAntonRohm commented on #6183
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:40] #6183 closed

[2019-10-29 19:42] WilliamAntonRohm commented on #6173
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-29 19:42] #6173 closed

[2019-10-29 19:52] bitsofinfo opened #6184 "what does kubectl login do? its not an official k8s kubectl argument"
what does kubectl login do exactly? its not an official k8s kubectl argument.... docs should provide clarity on this. I've tested the argument via this Task and it appears to enable any subsequent task to do kubectl commands (such as in bash) and have the local context setup properly? yet I don't see a ~.kube/config file........ but I do see this ENV var that is set?

KUBECONFIG=/home/vsts/work/_t

[2019-10-29 20:07] bitsofinfo commented on #6183
https://stackoverflow.com/questions/58614625/azure-devops-kubernetes-service-connection-for-kubeconfig-option-does-not-appe

[2019-10-29 20:08] bitsofinfo commented on #6176
https://stackoverflow.com/questions/58614582/kubernetes-service-connections-in-azure-devops-w-aad-bound-aks-cluster

[2019-10-29 21:01] WilliamAntonRohm commented on #6180
@juliakm -- please review the above-mentioned PR 339.

[2019-10-29 21:42] chefnobody commented on #5327
Hi, I'm trying to use this step as part of a Build Pipeline and I've followed these directions to the letter. It seems the Install SSH Key step does not like my public key:

[code]
According to the task.json code I found, this task thinks my key is malformed. If that is true, I have no idea how to form this correctly.

I have created an SSH key locally, SSH'd with it to my host (to get a known_hos

[2019-10-29 22:11] mfj082 opened #6185 "Unable to Use Private Feeds in Build Pipelines"
After the update on 10/27 we are no longer able to create organization level artifacts which was expected as part of Microsoft's change. However, due to this change the only feeds that we can publish to are organizational level feeds (which we are no longer able to create). I am assuming we could also publish to public feeds but I do not want a public project or feed. Any feed that is created now

[2019-10-30 00:24] WilliamAntonRohm commented on #6185
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

Also, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops

[2019-10-30 00:24] #6185 closed

[2019-10-30 01:30] Bossmojoman commented on #5500
I closed it and opened a suggestion on MS's suggestions page

[2019-10-30 05:10] PBoraMSFT commented on #6143
@mayeager22 - the task is only available on TFS 2018 Update 2 and higher versions. Please refer the task documentation [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops)

To run the tests without this task, you will need Visual Studio installed on the agent machines. See bullet #2 in the "Include the test in a release" sectio

[2019-10-30 05:10] #6143 closed

[2019-10-30 06:44] roizentner opened #6187 "Using other repositories mistake"
In both examples (Contoso/LinuxProduct and Contoso/WindowsProduct), the repository and name parameters are wrong:
[code]

It should be the other way around:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-1d85c13c0065
* Content

[2019-10-30 07:10] GokulVijayan opened #6188 "Run Test Option in Test Plans"
I just wanted to known whether Run Test option has been disabled from Sprint 158-September 23 onward.
Earlier there was a run test option available under Test Plans in azure devops.But now i am not able to find such a option.I can only find options such as:
Execute test points against a web or desktop application
'Run with options' to leverage Microsoft Test Manager for execution

I was trying to

[2019-10-30 07:32] ParitoshMishra30 commented on #2032
What is the status of this new feature?

[2019-10-30 08:09] shashban commented on #2032
We are focussing on enhancements to yaml pipelines. This improvement is on the backlog but not currently planned for execution. Rather than waiting for it to light up in designer releases, a safer bet would be to migrate to yaml pipelines and get the required parallel execution of jobs.

[2019-10-30 08:46] roofiq commented on #5652
Are you doing it by powershell scripts? I am looking for a way to update global variables (defined in yaml variable templates) and those in library. Could you provide here a code snippet?
Thanks :)

[2019-10-30 08:52] VAllens opened #6189 "Add Default elements for missing mime types"
`tfx-cli` throw warning:
[code]

#### I want the following:
* Eliminate the warning.
* Add `Default` elements for missing mime types instead of adding `Override` elements.

Register the `content type/mime type` to the `windows registry`, can help we eliminate the warning.

[code]

FYI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-10-30 08:56] VAllens commented on #6189
FYI:
https://github.com/microsoft/vso-extension-tools/blob/master/src/scripts/package.ts
https://www.cnblogs.com/VAllen/p/azure-devops-extensions-content-types-warning-fix.html

[2019-10-30 09:39] roizentner commented on #6187
My mistake! the documented information is correct...

[2019-10-30 09:39] #6187 closed

[2019-10-30 10:49] leodaruiz opened #6190 "How often the agent ask for jobs?"
"Periodically, the agent checks to see if a new job request has been posted for it in the job queue in Azure Pipelines/TFS."
How often is that? Is there a way to configure this recurrence?
Are the "deployment groups" recommended for Production environments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-e

[2019-10-30 10:55] MargreetH opened #6191 "How to register agent in agent pool part of project, not the whole organization?"
I am trying to set up a self-hosted Windows agent on my VDI. This is suitable as a first proof of concept. This is easiest because this VDI already has access to the (Informatica) servers and applications containing the software to build/ deploy, and which I will need to connect to to perform automated building and deploying.

My Azure Devops administrator emailed to me that I have rights to creat

[2019-10-30 11:02] Cepheus0815 opened #6192 "Small error regarding default setting for batch"
In the doc it says: batch: boolean # batch changes if true (the default); start a new build for every push if false

But the default behavior seems to be set to false if not specified, not true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-54

[2019-10-30 11:51] tamatsuxyz commented on #5564
Hi, are there any updates?

[2019-10-30 12:17] brubom opened #6193 "Could not transfer artifact"
Hi team,

I created my Azure DevOps company, project and user token. Tested with both with FullAccess permission and Custom Defined (Packaging -&gt; Read & Write)

When I run my publish, I'm getting "Could not transfer artifact com.xxxx.xxxx:xxxi-lib:jar:1.1.0 from/to remote" and
"Received status code 404 from server: Not Found"

Can you please assist me?

---
#### Document Details

⚠ *Do not edit

[2019-10-30 12:34] michaldudak commented on #6139
@vtbassmatt is the multicheckout feature status tracked anywhere publicly?

[2019-10-30 12:39] StingyJack opened #6194 "The link to the Standalone installer in the prerequisites section is pointing to the wrong thing"
The link in the "Add work items" does have the correct url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505849d3-01c8-a2cd-dc6c-271dd1120e2d
* Version Independent ID: 577fc252-60e4-f670-bb92-6bdbcb7d5c69
* Content: [Bulk modify work items using Microsoft Excel - Azure Boards](https://docs.microsoft.com/en-us/azure/de

[2019-10-30 13:37] vairakkumar-vairaperumal commented on #6141
Yes this resolved the problem. please update document accordingly. Don't know when that step is required to do explicitly and not required explicitly as documentation does not include that step

[2019-10-30 13:40] vairakkumar-vairaperumal opened #6197 "Unable to Use a custom task published and private since the account name is not recognized"
Published a custom task successfully. However, it does not show up manually in the task list OR if I use get it it does not show the organization that I am associated with when I am logged into Azure DevOps.

Related Issue that I had resolved earlier as suggested in solution:
https://github.com/MicrosoftDocs/vsts-docs/issues/6141

[2019-10-30 14:04] vtbassmatt commented on #6139
https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1454026

[2019-10-30 14:05] djhunt77 opened #6198 "How to handle items being added to previously prioritized backlog"
When team members move work items into the backlog iteration path, those items are injected into the prioritized backlog based on whatever Backlog Priority value they had prior to being moved. This leaves the impression that the new work items have been prioritized relative to the other work items already in the backlog, which of course is not true.

How do you suggest we handle new work items add

[2019-10-30 14:15] #6129 closed

[2019-10-30 14:16] #6014 closed

[2019-10-30 14:21] beavel commented on #5221
Found this issue while running into the same problem. I ran into the problem from the following scenario.

Given an existing pipeline with `trigger: none` set, and variable group with `Allow access to all pipelines` disabled,
When I add the variable group to a pipeline via text editor and push the code,
Then when I go to Queue I receive the `
An error occurred while loading the YAML build pipeline

[2019-10-30 15:08] brubom commented on #6193
Fixed the issue. You need to Connect to Feed, choose Gradle and copy the displayed url.

[2019-10-30 16:29] chcomley commented on #5564
Hi @tamatsuxyz, Thanks for following up. The user story that I created for this is currently on my backlog. I hope to get to it next sprint. Do you have a specific question at the moment that we could help you out with? Thanks so much.

[2019-10-30 17:09] chasewilson commented on #6175
@rofehaim thank you for the feedback. We try and ensure that the Universal Packages documentation doesn't show when you are looking at the DevOps Server 2019 versioned docs. However. I think it is something I could add to the Q&A section of the documentation to make it a bit clearer. I'll update here when it's merged and ready to go live :)

[2019-10-30 17:18] chcomley commented on #6141
Fantastic, thanks for letting us know. I'm going to close this issue, however I'll link the PR to this issue, so that you're aware of when the doc has been updated. Thanks very much! In the meantime, if you do have any further questions or feedback, please @mention me in this issue. Thanks very much!

[2019-10-30 17:18] #6141 closed

[2019-10-30 17:52] lygasch opened #6199 "Need more info on Update All Agents"
When I (fearfully) clicked the button to Update All Agents, I got some of the information I needed, like that running jobs would complete and new jobs would be paused. But I would also like to know about how long it would take per agent, and to have that info in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-30 18:18] BrianGator opened #6200 "In Azure Test Plans, not able to Move a Test Case to another Test Suite in Test Plan view (Need Info)"
In Microsoft Azure DevOps Test Plans / Test Manager, Test Plan view, how do you Move a Test Case to another Test Suite in the same Test Plan?

I am not able to drag and drop the test case to another suite in the same test plan like I was able to in Test Manager in TFS.

Clicking the "..." on the test case does not give the option to move the test case.

Under Test Case Define window, there is no o

[2019-10-30 18:44] JustinGrote opened #6201 "Does NOT follow .gitignore syntax strictly"
The statement that the gitignore and artifactignore syntax the same is erroneous and misleading.

Maybe for simple scenarios, but the following scenarios are not the same.

For example, try:
[code]

To exclude everything but files with an extension in the root directory. Works with gitignore but not with artifactignore.

`git check-ignore Gitversion.yml`
Gitversion.yml

`git check-ignore Tests`
&l

[2019-10-30 19:27] msebolt commented on #6188
@GokulVijayan Thank you for the feedback, we're sorry for the confusion.

I can't seem to find **Run Test** mentioned in the topic so it's likely the feature was either moved or removed.  Is anything outdated in the document?

As for product feedback, please see [this post](https://developercommunity.visualstudio.com/content/problem/324010/test-runs-menu-item-where-all-test-runs-could-be-v.html) a

[2019-10-30 19:43] msebolt commented on #6189
@VAllens Thank you for the feedback and for pin-pointing the fix.

Since this issue is outside the scope of documentation, please consider moving this to the [vso-extension-tools](https://github.com/microsoft/vso-extension-tools/issues) repo.

@willsmythe @chcomley FYI

[2019-10-30 19:50] msebolt commented on #6190
@leodaruiz Thank you for the question, assigning this to the author for review.

[2019-10-30 20:27] msebolt commented on #6191
@MargreetH Thank you for the feedback, we apologize for any issues you're having.

Per [this post](https://developercommunity.visualstudio.com/content/problem/564774/access-denied-when-adding-agent-to-the-pool.html) are differences between agent pool permissions and agent pool roles.

Please make sure if you are specifically included in a role and comment below if there are still issues.

[2019-10-30 20:31] msebolt commented on #6192
@Cepheus0815 Thank you for the feedback, assigning this to the author for review.

[2019-10-30 20:32] acheraime opened #6203 "Release pipeline condition base on build variable"
I need to set a condition in my release pipeline based on a variable output of the build that triggered the release.
Is there any example available for such use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Cont

[2019-10-30 20:39] msebolt commented on #6193
@brubom  Thank you for the feedback and solution.

Assigning this to the author as an added note to the documentation.

[2019-10-30 20:47] msebolt commented on #6194
@StingyJack  Thank you for the feedback, pending review and merge.

[2019-10-30 20:47] beavel commented on #5221
As an additional update, the documentation seems to be written for building a brand new pipeline. When saving/running a new pipeline for the first time, you do get the failed build with "Authorize Resource" button.

[2019-10-30 20:47] #6194 closed

[2019-10-30 21:01] msebolt commented on #6198
@djhunt77 Thank you for the feedback.

Unfortunately this involves feedback for the product team address in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Please see if either [this post](https://developercommunity.visualstudio.com/content/problem/214273/sort-by-priority-does-not-work.html) or [this](https://developercommunity.visualstudio.com/cont

[2019-10-30 21:15] melezhik commented on #6043
How to deny permissions to link/use given variable group for certain users?
checkbox "Allow access to all pipelines" does not help here.

[2019-10-30 21:16] melezhik commented on #6043
also I can revoke "use" permission for given descriptor for a given variable group but it still does not help, it does not prevent this user to use this variable group ( e.g. he could easily link it to a build definition ).

[2019-10-30 21:37] rgr375 opened #6204 "Enabling Templates when using az repos"
My team has starting using the az repos cli commands and I've noticed that when using `az repos pr create` you don't get an option to use a template. Then when you do open the PR in the UI `az repos pr show --id ###### --open` you don't seem to be able to apply / add a template. Is the only way to use templates is via the UI?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-30 21:46] vemulavenkatesh opened #6205 "Need APIs to add and remove user defined capabilities to self hosted agents"
We have a pool of ~100 self hosted agents with a set of user defined capabilities based on the version of our product installed on the agent and a release pipelines that can update the version of the product on the agent machines. We need to remove capabilities on the agent while updating the agent and add the new capability after updating the agent. Are there any APIs to add and remove user defin

[2019-10-30 21:59] msebolt commented on #6199
@lygasch  Thank you for the feedback.

Status of the time sounds more like a feature request and needs to be directed to the product team in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Also this amount of time can vary and is determined by the length of the job.  What exactly can be added to the doc?

[2019-10-30 22:09] msebolt commented on #6200
@BrianGator Thank you for the feedback.

Please see if this [recent post](https://developercommunity.visualstudio.com/content/problem/752133/cannot-drag-abd-drop-test-case-from-one-test-suite.html) addresses the issue and comment if there are issues.

[2019-10-30 22:15] winstonhenke opened #6206 "errorActionPreference not working"
I'm passing `errorActionPreference: stop` into my task but
`write-host "error preference is: $errorActionPreference"`
is reporting
`error preference is: Continue`
Version      : 4.159.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb215324-b1a0-93b5-5022-4bcc7da93bb7
* Version Independent ID: 9eb2977b-ac34-9d53-670e-

[2019-10-30 22:16] msebolt commented on #6197
@vairakkumar-vairaperumal Thank you for the further info.

This can also be added as a note in the documentation until the underlying issue is resolved.

Assigning this to the author for review.

[2019-10-30 22:22] lygasch commented on #6199
I think that the doc should state what the pop-up told me - that running jobs would continue and new jobs would be paused - and that the down time would be on the order of X minutes each agent. As the owner of these systems for my team, I have to know what to expect when scheduling maintenance. Thanks!

[2019-10-31 00:44] chcomley commented on #5109
I've published an update and linked the PR to this issue! Please let us know whether you have any further feedback on this. Thank you!

[2019-10-31 00:44] chcomley commented on #4877
I've published an update and linked the PR to this issue! Please let us know whether you have any further feedback on this. Thank you!

[2019-10-31 00:44] chcomley commented on #5589
I've published an update and linked the PR to this issue! Please let us know whether you have any further feedback on this. Thank you!

[2019-10-31 00:53] #4877 closed

[2019-10-31 00:53] #5109 closed

[2019-10-31 00:53] #5589 closed

[2019-10-31 01:59] VAllens commented on #6189
@msebolt Thanks. but i think the `vsts-docs` should guide developers on how to add `Default` elements and eliminate warnings.

[2019-10-31 02:52] ArchSerpo commented on #4486
Multistage pipelines have been announced for GA in the Q4 Roadmap :: https://devblogs.microsoft.com/devops/azure-devops-roadmap-update-for-2019-q4/

Has there been any further news on deployment groups?

It almost feels like MS is pushing us towards installing agent pools on our deployment targets and having a convoluted workaround as per above

![image](https://user-images.githubusercontent.com/1

[2019-10-31 03:55] msebolt commented on #6201
@JustinGrote Thank you for the feedback, assigning this to the author for review.

[2019-10-31 04:05] msebolt commented on #6203
@acheraime Thank you for the question.

I think is a good candidate for [Variable groups](https://docs.microsoft.com/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml), however this is not yet available dynamically across pipelines, please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/3702 for updates.

Until then a work-around has been posted [here](https://s

[2019-10-31 04:12] iamsrivatsa commented on #5411
@NenoLoje  I'm still thinking of the format to include those alias as part of the document. Will be updated soon.

[2019-10-31 04:17] msebolt commented on #6204
@rgr375  Thank you for the feedback.

The product team is more apt to handle this through the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Please see if [this issue](https://developercommunity.visualstudio.com/content/problem/396205/azure-pipelines-do-not-allow-you-to-create-from-a.html) is similar for comment (or start a new thread) and link back to

[2019-10-31 04:19] ryjones opened #6207 "Contra documentation, increase from 10 free parallel jobs is not available"
[This document](https://docs.microsoft.com/en-us/azure/devops/organizations/billing/buy-more-build-vs?view=azure-devops#microsoft-hosted-cicd) says:

If you "contact us", you will eventually be told there is no support for increasing this limit. I'm working for [Hyperledger](https://dev.azure.com/Hyperledger/), which is an [open source project](https://www.hyperledger.org) run by the Linux Foundat

[2019-10-31 04:32] msebolt commented on #6205
@vemulavenkatesh Thank you for the question.

Please refer to the [Agent REST API](https://docs.microsoft.com/rest/api/azure/devops/distributedtask/agents?view=azure-devops-rest-5.1) and comment below any additional questions.

[2019-10-31 04:38] msebolt commented on #6206
@winstonhenke Thank you for the feedback.

Unfortunately this is something better suited for the product team.

Please move to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo and provide a link back to this issue.

[2019-10-31 05:03] shashban commented on #6043
@melezhik I am not sure I follow.
- Use permission for users control who all can link the variable group to a pipeline using the UI, mostly for designer pipelines
- For YAML pipelines, the use permissions do not help as the UI can be mypassed and the group can be directly referenced in the file. The checkbox ensures YAML pipelines do not silently end up using the group, and each pipeline has to pe

[2019-10-31 08:05] karanjitsingh commented on #6090
@KUGA2,  don't understand your question here. Are you asking what is the source file you need to pass while running ctest or do you want to generate the test result files while running ctest?

[2019-10-31 08:21] karanjitsingh commented on #6108
@aosyatnik, from the logs it seems the task picks up two .appxrecipe files. Out of which the second one is failing.

[code]

My guess is the second one comes from the parameter `/p:UapAppxPackageBuildMode=StoreUpload`. This could be happening because a `StoreUpload` version does not support deploying.

It seems a little unnecessary to run tests on both of these files. So you can either try to remo

[2019-10-31 09:13] JamesInDenver commented on #6162
Seeing this feature in the Sprint 159 update totally confused me.  Everything about multistage pipelines (including the documentation) suggested that the tooling was moving towards having CI/CD in a single pipeline definition.  Whereas this "CD capability" seems to be taking us back to the classic model of separating build and release into their own definitions.  Some high-level guidance on how th

[2019-10-31 09:19] cyrilzh commented on #6153
I found the answer. In  DevOps 2019 server, the following script works fine.
curl -LsS -u user:[PATToken] -H 'Accept:application/json;api-version=3.0-preview' "https://[servername]/_apis/distributedtask/packages/agent?platform=linux-x64"

In  DevOps 2019 server Update 1, the above script doesn't work. Organization name is required in URL. So the script for DevOps 2019 update 1 is:

curl -LsS -u us

[2019-10-31 09:47] nishubansal commented on #5673
@oleksandr-bilyk - $(**System.TeamFoundationServerUr**i)  variable is not supported in Agentless task. Please use **System.TeamFoundationCollectionUri** variable instead.

[2019-10-31 10:25] damphyr commented on #5583
To my knowledge, all you have to do is add the arguments to your .csproj file and call the corresponding build configuration in the Xamarin.iOS task.
Since the task calls msbuild, any options persisted in the project will be used when building.

[2019-10-31 10:36] GokulVijayan commented on #6188
Yes i did found the found the following document:https://docs.microsoft.com/en-us/azure/devops/test/run-automated-tests-from-test-hub?view=azure-devops outdated as the documents specifies that there is a way to run tests using Run Test option.It is little bit confusing.

[2019-10-31 10:47] stevenvolckaert commented on #4486
Thanks for sharing this, @cawoodm!

Would you know whether a machine can be registered in an agent pool and in a deployment group at the same time? I'd like to know if I can migrate pipeline by pipeline, or if I need to migrate all at once.

[2019-10-31 11:00] SephirotJustin opened #6208 "Any widget example for azure-sdk?"
Hello,

This documentation site using the old vss-sdk: https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-dashboard-widget?view=azure-devops

Is there a newer documentation for widgets with the azure sdk or any examples?

I already found this repository with some examples: https://github.com/Microsoft/azure-devops-extension-sample
But there is no widget example or im misunderstood sm

[2019-10-31 11:30] soroshsabz commented on #3409
Why this app does not available in Microsoft Team?

[2019-10-31 11:57] dotnetcanuck commented on #4486
@cawoodm Thanks for sharing that. Do you know if you can still use approval checks with the job directive?

Also, for everyone else in this thread, agent demands have stopped working in the past couple of days. There is an open bug in Microsoft's developer community site: https://developercommunity.visualstudio.com/content/problem/793882/deployment-stage-is-ignoring-demands-on-pool.html

[2019-10-31 12:19] djhunt77 commented on #6198
Thank you Matthew.

I posted the following suggestion:

https://developercommunity.visualstudio.com/idea/801916/unable-to-identify-and-effectively-manage-items-ad.html

[2019-10-31 12:19] #6198 closed

[2019-10-31 12:29] vtbassmatt opened #6209 "Improve info about agent configuration PAT"
Per feedback here: https://github.com/microsoft/azure-pipelines-agent/issues/2552

It would be helpful to say more about how the PAT is used to configure an agent. You can crib from [here](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/auth.md). I think just a sentence or two describing: 1) what permissions & scopes are needed and 2) calling out that the agent will use

[2019-10-31 12:42] art2mis opened #6210 "Examples for SqlPackage /AccessToken usage"
It would be great to have an example of SqlPackage.exe usage with the /AccessToken argument, including valid connection strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd85890a-ccba-8697-b406-b662aabeb27f
* Version Independent ID: a1d371df-c0a0-1cd6-37f8-4b60913a2e97
* Content: [Deploy to Azure SQL Database - A

[2019-10-31 12:43] winstonhenke commented on #4486
@cawoodm @dotnetcanuck

I think one of the downsides to this work around is you do loose those approval checks since you can't target an environment like you can in a deployment job

[2019-10-31 12:52] winstonhenke commented on #3702
+1 on this

[2019-10-31 12:58] simonjlawson commented on #5533
An example would be great, trying to use the Arguments input, it works in a Private agent but the Hosted Agent does not see them?

[2019-10-31 12:58] dotnetcanuck commented on #4486
@winstonhenke I figured...thanks for the reply!

[2019-10-31 13:09] winstonhenke commented on #6206
If anyone else has this issue I opened this issue
* https://github.com/microsoft/azure-pipelines-tasks/issues/11671

[2019-10-31 13:11] #6206 closed

[2019-10-31 13:25] asapelkin commented on #5981
You can pass json string to the matrix
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml
`matrix will accept a runtime expression containing a stringified JSON object.`
Json can be made from string variable in run time by bash/ps script

[2019-10-31 13:47] melezhik commented on #6043
@shashban our use case is following:

- we have a variable groups that linked to keyvaults and so have a sensitive information ( passwords and so on )

- nowv everyone who has a permission to create a build definition could write a simple yaml  pipeline, create a build definition to run the pipeline and link variable group to that build definition so that code inside pipeline gain an access to tho

[2019-10-31 13:52] elipapa opened #6211 "out of date"
not talking about AD either

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f06e24b-9d7d-b79c-f75f-44032c529027
* Version Independent ID: d0707a11-f483-f192-14c6-cbbfbe5b8071
* Content: [Add AD/Azure AD groups to security groups - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/organizations/security/add-ad

[2019-10-31 15:21] #6156 closed

[2019-10-31 15:21] #6158 closed

[2019-10-31 15:27] msebolt commented on #6189
No problem, assigning this to the author for review.

[2019-10-31 15:31] msebolt commented on #6188
Thank you for the confirmation, assigning this to the author for review.

[2019-10-31 15:35] msebolt commented on #6199
I see what you're describing, assigning this to the author for review.

[2019-10-31 15:49] SamirFarhat opened #6212 "azureSubscription value cannot use a Variable"
Hi,
Please note the limitation that the azureSubscription field cannot contain a variable. The value needs to be hardcoded.
If i set a variable, the following error is thrown:

input ConnectedServiceNameARM references service connection $(connectedServiceName) which could not be found. The service connection does not exist or has not been authorized for use. For authorization details, refer to htt

[2019-10-31 15:58] mkv2 opened #6214 "Using the virtual support agent"
I spent 5minutes attempting to ask questions that would cause the support agent to help me move organization region... ...it was clever enough to offer me a link to this page(!) but that didn't really help.

With increasing frustration, I clicked on the "Chat Menu" and saw "Change Azure Region" specifically listed.  A tweak to the pointer here, would've saved the bad thoughts.  Maybe this:

"To ch

[2019-10-31 16:43] chcomley commented on #5289
Thanks @Volkmire, I've addressed this issue, which should go live this afternoon. Thanks so much for the heads up! I've linked the PR to this issue, also.

[2019-10-31 16:43] #5289 closed

[2019-10-31 16:49] WilliamAntonRohm commented on #6210
@art2mis -- thank you for your feedback.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@RoopeshNair -- please look into this issue.

[2019-10-31 16:51] WilliamAntonRohm commented on #6211
@elipapa -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-10-31 17:10] ChristianJonsson opened #6216 "Does not support Docs Markdown extension"
As a Microsoft product, it would be really neat if this supported https://docs.microsoft.com/en-us/contribute/markdown-reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822-66c8-3a34-8905645ce5f2
* Content: [Markdown syntax for files, widge

[2019-10-31 17:19] Slooz opened #6217 "What is the difference between the Administrator, User, and Reader roles?"
I think I understand the difference between the Administrator and Reader roles, but how does the User role differ from the other roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec01d88087
* Content: [Environment - Azure Pipel

[2019-10-31 17:37] chcomley commented on #6197
@vairakkumar-vairaperumal I've added a note in a number of articles, pointing to the newest documentation on extension development, which is at [Azure DevOps Extension SDK](https://developer.microsoft.com/en-us/azure-devops/develop/extensions). Thank you and please let us know whether you have any further questions. PR is linked to this issue.

[2019-10-31 17:41] tylerjames commented on #5683
I agree.
I'm not sure how to put these steps together, it would be nice to see a full example of something that builds, packages, and deploys something. Then maybe highlight the individual parts that can be modified based on your needs

[2019-10-31 18:08] chcomley commented on #6214
Hi @mkv2, Thank you for the suggested update. I'm sorry for the inconvenience. This update is in a PR that's linked to this issue, which should go live sometime today. Thanks again!

[2019-10-31 18:41] #5838 closed

[2019-10-31 18:41] #5411 closed

[2019-10-31 19:07] Chaithanya-Bangaru commented on #2070
create a feature branch from master, merge to master, and cherry-pick from master into the Release branch(es).

First paragraph is Theoritical lesson.,

Second paragraph is Practical lesson.
create the hotfix branch from the Release branch, merge the hotfix branch to the Release branch, cherry-pick from the Release branch to a feature branch off of master, and merge that feature branch to master

[2019-10-31 19:51] Linaa opened #6218 "job distribution"
there is no explanation of how the jobs get distributed between multiple agents. I have set up three docker agents, but it seems the job will always gets picked up by the same agent...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec599-4410-697d-1002-1

[2019-10-31 19:56] praveendath92 commented on #4265
We are facing the same issue. It picks an agent from the correct pool but demands are not being met.

Our usage looks like this

[code]

The selected agent is from the correct pool but the demands are not met. The exact same spec on a non deployment job working fine

[2019-10-31 20:03] tyler-hogsett-microsoft commented on #4740
I agree with olaeld, here. There is no documentation on passing arguments to a ps1 file. The parameter is briefly explained, but it is not clear from documentation how to actually use it, and any working implementation would really just be based on guessing and assuming/hoping that observed behavior is intended functionality, which is far form ideal for production deployments.

Please provide an e

[2019-10-31 20:43] fiksen99 opened #6219 "Users need to be added to a project before you can add them to a repo"
If a user has never been added to the project (e.g. by adding it to the Reader group, or any other group) it is not searchable in the repository permissions page. This page should reflect the criteria needed to make a user be searchable in the repo permissions page.

There also appears to be a delay between adding the user to the project and when you can search for that user in the repo, this shou

[2019-10-31 20:59] FredConklin opened #6220 "How to enable Test Management in our project?"
I see from the closed issue that this should be available -  Is it available upon request? What steps do we need to see it in our Azure DevOps Services project?  (Today is October 31 2019 and it appears that it is available to some accounts.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8dfb3bf-8cce-7ad8-b2c6-40d6c2

[2019-10-31 21:22] Tr3yb0 opened #6221 "Secrets section update"
I believe "Select the Secret lock icon to store the variable in an encrypted manner." has been updated in the UI, so the lock icon is no longer present on modal.
Please update docs to say "Check the 'Keep this value secret' checkbox" or something to that effect.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7

[2019-10-31 22:06] mkv2 commented on #6214
Wow that's fast. Thanks!

-------- Original message --------
From: chcomley <notifications@github.com>
Date: 31/10/2019 18:08 (GMT+00:00)
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: Mike Vyce <Mike.Vyce@truebyte.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsts-docs] Using the virtual support agent (#6214)

Hi @mkv2<https://github.com/mkv2>, Thank you

[2019-10-31 22:25] ArchSerpo commented on #4486
@dotnetcanuck, @winstonhenke, Assuming you can set up normal jobs to depend on deployment jobs could your stage start off with a more or less empty deployment job with an environment that is configured with checks?

To borrow from @cawoodm above

[code]

[2019-10-31 22:55] winstonhenke commented on #4486
@ArchSerpo clever solution. Still unfortunate we are forced into these wacky work arounds.

[2019-10-31 22:59] dotnetcanuck commented on #4486
@ArchSerpo @winstonhenke That is a clever workaround for that, thanks.

Speaking of wacky workarounds, here's one I just thought of for notifications - take the aforementioned idea of an "empty" job, except make the Powershell script make an SMTP request to the approvers! 😝

Not that I would _actually_ do that, but I can totally see somebody out there doing that if they _really_ wanted approval no

[2019-10-31 23:43] phatcher opened #6222 "Parameter conditions not working"
I can't get parameter condition to work at all, I have...

[code]

I've tried quoting and not quoting the parameter expression/result and both return in the error...

`Unrecognized value: 'publishPackages'. Located at position 51 within expression: format('and(succeeded(), eq(''{0}'', ''true''))', publishPackages).
`

So either it's a regression or the docs are wrong.

---
#### Document Details

⚠

[2019-11-01 03:09] chasewilson commented on #3378
I'll be closing this issue. Thank you all for the feedback, If you would like to make feature requests or product issues, feel free to reach out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). Thank you all again!

[2019-11-01 03:09] #3378 closed

[2019-11-01 03:16] chasewilson commented on #3801
It looks like this one is taken care of. I'll be closing this issue

[2019-11-01 03:16] #3801 closed

[2019-11-01 03:48] chasewilson commented on #6175
@rofehaim Thank you again. The change has been made and you should be able to see it live within 24 hours

[2019-11-01 03:48] #6175 closed

[2019-11-01 03:54] #6038 closed

[2019-11-01 05:38] pholden77 commented on #6212
Try this,

azureSubscription: ${{ variables['connectedServiceName'] }}

It's working for me.

[2019-11-01 07:58] karanjitsingh commented on #6090
You need to execute ctest with parameter -T Test. This will generate a test results xml, something like Test.xml. You need to pass this xml to the `testResultsFiles` argument of the publish test results task.

PS: moving this to microsoft/azure-pipelines-tasks

[2019-11-01 08:01] aosyatnik commented on #6108
Hi @karanjitsingh . Thank you it finally worked! I can see running test AND build didn't fail! Great work! 💃
Here is a build: https://dev.azure.com/melashkina0755/UWP_App_With_Tests/_build/results?buildId=13&view=logs

@PBoraMSFT as build issue is resolved. We can think about adding it to documentation. I find it useful to have such an example for UWP. Where issue should be opened?

[2019-11-01 09:31] cawoodm commented on #4486
We're doing all our CI/CD (build, test and deploy) with pipelines and agent pools. The situation with Azure DevOps at the moment is a bit of a mess and until we can do YAML releases we won't touch releases (and the associated deployment groups/pools).

So, you install build agents on all your hosts and put them in one or more agent pools. You then create one or more .yml pipeline definitions per r

[2019-11-01 09:33] cawoodm commented on #4486
By "approval checks" do you mean the approvers in a pull request. You don't loose those at all with the approach I posted. ` code => pull request => merge => trigger CI/CD pipeline` works just fine. Approval rules are defined on the branch of your repo under "Branch Policy".

[2019-11-01 10:42] laurensvp opened #6223 "Issue lead times not shown"
I would like to create a lead time chart for the Issue work item. However, no matter what I try the chart shows nothing. This may have something to do with the state when an issue is created. By default that state is "Reported", which is not among the proposed states as listed in the figure at the top of this page. Only "New", "Proposed" and "Approved" seem to be taken into account?

---
#### Docu

[2019-11-01 11:52] stevenvolckaert commented on #4486
@cawoodm Thanks for sharing your workflow and insights! 🙏

[2019-11-01 12:54] #4828 closed

[2019-11-01 12:54] #6197 closed

[2019-11-01 12:54] #6214 closed

[2019-11-01 13:04] winstonhenke commented on #4486
@cawoodm

My example below is using a `AzureCLI@2` task to call a powershell script that creates various Azure resources (but could be any script really). This pipeline will both show up in the [deployment history within environments](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?view=azure-devops#deployment-history-within-environments) & will go through the [approva

[2019-11-01 13:29] aosyatnik commented on #6108
For anyone who is having issues with the UWP test task. This is the right YML file:

[code]

[2019-11-01 14:52] RobertoBorges opened #6225 "Lock Branch misinformation"
You've said: ``Use branch policies and pull requests instead of locking if you just want to ensure that changes in a branch are reviewed before they are merged.``

But it's not 100% true, the lock is an excellent way to prevent changes in the branch locked, and after locked, you can use Pull requests to make changes in a branch locked.

As is written, I understand that instead of using the lock, w

[2019-11-01 15:16] selimb opened #6227 "Examples for the `Contents` key are misleading"
- `\temp*` deletes all files in any sub-folder named temp.
- `\temp` deletes any file or folder with a name that begins with temp.

should be the opposite, no?

- `\temp` deletes all files in any sub-folder named temp.
- `\temp*` deletes any file or folder with a name that begins with temp.

Also, why does `temp` only say "all files" and `temp*` say "any file or folder"? Is this correct?

---
####

[2019-11-01 15:21] nick-taylor4730 commented on #3375
4 months later~

[2019-11-01 15:30] zmarty commented on #5876
We are an internal Microsoft team facing the same issue. (But not sure if this item should be opened under a documentation repo...)

[2019-11-01 15:56] krtarwood opened #6228 "Variable Placeholder Using Curly Braces"
The curly braces should actually be parentheses in the lines below:

/bin/bash -c "echo '##vso[task.setvariable variable=MD_APPLE_SDK_ROOT;]'${xcodeRoot};sudo xcode-select --switch ${xcodeRoot}/Contents/Developer"

where ${xcodeRoot} = /Applications/Xcode_10.1.app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d

[2019-11-01 16:02] poltj18 commented on #5811
@juliakm , Thanks for the update. Unfortunately, I don't think the runtime solution will work for my use case. Specifically looking to allow users to provide a list of tasks via `bringYourOwnSteps: []` which would override my default list of tasks in my YAML template. For now, it seems possible to declare `bringYourOwnSteps: ''` and check if `bringYourOwnSteps` is an empty string. Somewhat surpris

[2019-11-01 16:55] cawoodm commented on #4486
So, if I want my deployments (pipeline jobs) to show up under "Environments" I have to make an empty `deployment` item in my YAML pipeline because I can't deploy with `deployment` because it doesn't support the `matrix` strategy and I therefore cannot target multiple agents so I have to use `job` which doesn't support `environment`.

@Microsoft, have your guys really thought this one through?

[2019-11-01 17:38] baywet commented on #4851
however parameters work if you're using a template: ${{parameters.somParam }}

[2019-11-01 17:42] vtbassmatt commented on #4851
@johnterickson is there anyone from your team who can look into this?

[2019-11-01 17:45] vtbassmatt commented on #6227
Good catch. What happened here is that someone ran a tool over all of the docs, and it blindly turned all instances of `**` into `<strong></strong>` pairs. That's... not right in this case :grin: I'll fix it.

[2019-11-01 17:47] #6227 closed

[2019-11-01 17:48] selimb commented on #6227
Aaah that's why the formatting looked off?Thanks for the explanation. Cheers.

[2019-11-01 17:57] baywet commented on #5321
packages.lock.json cause a lot of issues if you're on a different platform between the dev machines and the ci agents (eg windows vs linux). It'll keep complaining that sha's are different.
project.assets.json are only generated when the restore happens, and because the path only accepts a path and not a glob pattern it can be a lot of work to go cache/restore those before the cache of the package

[2019-11-01 18:00] soulis64 opened #6229 ""Search all branches" is not available; can't restore deleted branches"
The "Search all branches" textbox is no longer available; instead there's a "Filter by keywords" textbox that does not provide the "Search for exact match in deleted branches" function. This has made the restore deleted branches functionality non-accessible.

![image](https://user-images.githubusercontent.com/19352132/68045385-5ce8a800-fca7-11e9-992e-c314539b0ff5.png)

---
#### Document Details

⚠

[2019-11-01 18:09] Linaa commented on #6218
The issue was, free tier gives you one parallel job, so registering more than one agent does not help and the job will always run on one agent . closing this feedback as not needed

[2019-11-01 18:09] #6218 closed

[2019-11-01 18:09] benwk commented on #5865
new to Azure pipelines and was misled for a long time

just for reference

[code]

[2019-11-01 18:25] soulis64 commented on #6229
Further investigation on our team showed that the issue is caused by the "New Repos landing pages" preview feature. Turning off the feature restored the old textbox and "Restore deleted branch" functionality.

![image](https://user-images.githubusercontent.com/19352132/68046897-08dfc280-fcab-11e9-8659-c1220503e798.png)

[2019-11-01 18:33] msebolt commented on #6207
@ryjones  Thank you for the feedback, apologies for the confusion.

The documentation has been updated and is under review.

[2019-11-01 18:44] #6207 closed

[2019-11-01 18:44] eriksendc opened #6230 "Incorrect Information Regarding Azure DevOps IP Addresses"
Regarding this documentation:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

I have VM's at Rackspace that I deploy to from Azure DevOps. For a long time I had my firewall at Rackspace allowing inbound connections from Azure for port 5986 (WinRM SSL port). But I only whitelisted IP address ranges from the following file, but only for my region (East US 2).

[2019-11-01 18:46] lukeschlather commented on #4359
Can you just include the cost directly?

[2019-11-01 18:48] msebolt commented on #6208
@SephirotJustin Thank you for the question, assigning this to the author for review.

[2019-11-01 18:53] msebolt commented on #6216
@ChristianJonsson Thank you for the feedback.

This is a good idea though more of a suggestion for the product team.

Please use **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) to start a dialogue and link back to this issue.

[2019-11-01 18:54] mtaylorfsmb commented on #2025
I'm more concerned about the fact that granting Force Push is required for any dev using a traditional Github/Git flow branching policy but at the same time they can also delete tags. Given that tags are how versioning is implemented in these types of flows a developer could delete all our tags (and hence version information) by accident.

[2019-11-01 19:04] msebolt commented on #6217
@Slooz  Thank you for the question.

Roles are often ambiguous and can be defined differently depending on the task.

Please refer to [deployment pool security roles](https://docs.microsoft.com/azure/devops/pipelines/policies/permissions?view=azure-devops#deployment-pool-security-roles) and include additional questions below.

[2019-11-01 20:20] msebolt commented on #6219
@fiksen99 Thank you for the feedback, we apologize for the confusion.

Assigning this to the author for review.

In the meantime, please direct any changes such as page views to the product team in [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) with a link back to this issue.

[2019-11-01 20:54] msebolt commented on #6040
@verodhi Apologies for the delay.

This would require a custom solution based on either using the [Azure DevOps API](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/variablegroups/update?view=azure-devops-rest-5.1) or something from the Marketplace:
- [file to variable](https://marketplace.visualstudio.com/items?itemName=maikvandergaag.maikvandergaag-file-to-variable)
- [jso

[2019-11-01 21:34] SebastianSchuetze opened #6231 "Where is the REST API for health status?"
The section "Using REST APIs" is saying, that there is a rest API to retrieve the current status, but I cannot find any API or documentation about it. Where can I find this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f2bb3a-6619-88c0-ba29-23af30fcb301
* Version Independent ID: 0ede4455-b1df-ffef-743f-126a5e9a1a00

[2019-11-01 21:35] Slooz commented on #6217
So if somebody manually triggers a deployment job, will the job only succeed if that person is a User or Administrator? Will the deployment job fail if the person that manually triggered it was a Reader?

[2019-11-01 21:39] Slooz commented on #6217
Also, I opened this Issue specifically against the Environments documentation. I'm specifically asking about the Roles that you assign in the Security page for Environments. I don't think this is ambiguous. As far as I know, Environments are only used for one task, which is for deployment jobs.

This is different from the deployment pool security roles. There should be a separate section for envir

[2019-11-01 21:44] PaulVrugt opened #6232 "Passing msbuild arguments"
Hello,

I'm trying to use the cachebeta task using nuget lock files. In the example for ci builds I am supposed to pass an msbuild argument to specify a ci build is being run to enable the project property to use the lock file for restore. I can't figure out how to use the nuget task to restore, and specify my custom ms build argument to enable the lock restore. If this is not possible I have no w

[2019-11-01 21:54] chcomley commented on #6231
Hi @SebastianSchuetze, Does this help? https://docs.microsoft.com/rest/api/azure/devops/test/runs?view=azure-devops-rest-5.1

[2019-11-01 22:00] StefanSchoof opened #6233 "Explain yaml Queuing policies"
Even when yaml does not support Queuing policies, it should in this documentation explain how the Queuing policy behavior of multi stage yaml is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4266f72c-c774-0046-4593-d01eb775d3c3
* Version Independent ID: f20827aa-a6c5-96a8-5969-e576ffbc2e38
* Content: [Stages in Azure

[2019-11-01 22:41] msebolt commented on #6221
@Tr3yb0 Thank you for the feedback, assigning this to the author for review.

[2019-11-01 22:53] msebolt commented on #6222
@phatcher  Thank you for the feedback, assigning this to the author for review.

Could the indent be off for the parameter declaration?

Change this:
[code]
to
[code]

[2019-11-01 23:50] SebastianSchuetze commented on #6231
Hi @chcomley, do it doesn't. The link is also given in the documentation, but it only forwards to the API part for "Test Runs" which is part of Azure Test Plans. But it does not say anything about a Service Availability API to get current Service Health of tenants or degradation notifications.

[2019-11-02 00:13] MSFT-Chris-Barrett commented on #4259
@letmaik, I'm also not sure how `$(Build.SourceBranchName)` might be used.  It seems to just be the filename/leaf node of the ref, instead of the branch name.

I don't know what your use-case is for wanting the branch name.  Personally, I'm finding myself in a detached HEAD state on the latest commit in the branch being checked out.  So to re-attach, I'm doing this: `git symbolic-ref HEAD "$(Build

[2019-11-02 02:46] gunr2171 opened #6234 "Clarification for how long the "soft delete" period is."
When a repository is deleted through the UI or through [the Delete API call](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/repositories/delete?view=azure-devops-rest-5.1), it's soft-deleted. The [Get Recycle Bin Repositories API call](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/repositories/get%20recycle%20bin%20repositories?view=azure-devops-rest-5.1) can tell you whic

[2019-11-02 17:03] serbrech opened #6235 "Extract pipeline tests reports"
https://docs.microsoft.com/en-us/azure/devops/pipelines/reports/pipelinereport?view=azure-devops#test-failures-report

These reports are great, however, I can't even copy paste the failing test list to include it in another document.
I want to be able to **export** this list or at least **copy paste it** in an excel sheet, or a wiki.

Maybe allow to create a WorkItem from a failing test in this li

[2019-11-03 10:06] norschel commented on #647
@lvsezhufu It's been ages since you asked, but others certainly have the same problem and end up here. The tool is now available at https://github.com/microsoft/process-migrator .

[2019-11-03 11:05] shayki5 opened #6236 "Update the docs to the new repository options/policies"
Hi,
In the recent releases you changes the repo settings to "Options" and "Policies", you need to update the docs with updated photos and new info about the new policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ba72fe-98e6-cb93-f4e4-6950573a2a8c
* Version Independent ID: 260aaae9-0df1-74e6-9d39-7723d2bc7d2c
*

[2019-11-03 13:16] NenoLoje opened #6237 "Target topic missing: upgrade steps (for Azure DevOps Search)"
In the FAQ section, there are two issues with the following text:

&gt; Q: Why doesn't Search work post upgrade to Azure DevOps Server 2019 Update 1?
&gt; A: If the search is set up on a separate (remote) server and source version is TFS Update 2 (or higher), verify that these upgrade steps were followed. If not, then run this script to fix the issue.

Link: https://docs.microsoft.com/en-us/azure/

[2019-11-03 13:21] NenoLoje commented on #6237
Follow up: It seems to be problem with the version selector. The FAQ item above is shown for the service, (whereas it really only makes sense for on-prem server), and thus the upgrading topic does not exist when the selector is set to service.

[2019-11-03 18:43] phatcher commented on #6222
@msebolt Don't think so since the other parameters in the same file are working fine, e.g.. the nugetFeed one in this step plus the others in the other steps

[2019-11-03 20:17] lnicolae commented on #3348
when i try
nuget.exe push -Source {NuGet package source URL} -ApiKey key {your_package}.nupkg
from console:
error:
Pushing ConsoleApp2.1.0.1.nupkg to 'https://www.nuget.org/'...
  PUT https://www.nuget.org/api/v2/package/
  Forbidden https://www.nuget.org/api/v2/package/ 873ms
Response status code does not indicate success: 403 (The specified API key is invalid, has expired, or does not have permi

[2019-11-03 20:18] lnicolae commented on #3348
PS I use nuget.exe 5.3.1

[2019-11-03 23:14] krizleebear opened #6238 "Task should be marked deprecated"
IMHO the publish-build-artifacts should be marked deprecated in favor of PublishPipelineArtifact.
see also:
https://github.com/microsoft/azure-pipelines-agent/issues/1480#issuecomment-484199370

I'm new on Azure Pipelines and I really like the documentation, great work there. But having deprecated jobs not properly marked is an issue.

If the two tasks are actually intended for different scenarios

[2019-11-04 01:20] andrebriggs commented on #5512
@willsmythe update?

[2019-11-04 04:32] PBoraMSFT opened #6239 "Update VSTest task doc for UWP tests"
Task doc at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops needs to be updated for UWP.

The following addition to the FAQ section will help.

How can I run tests for UWP apps?

Tests for UWP apps can be run by providing the .appxrecipe input to the test assembly input.
For e.g.,
    testAssemblyVer2: |
      **\Release\UnitTestProject1.build.appxrecipe

[2019-11-04 04:34] PBoraMSFT commented on #6239
@steved0x - can you help with this, pls? I have included the information about what needs to change above.

[2019-11-04 04:36] PBoraMSFT opened #6240 "E2E doc for UWP apps"
Have heard from a few customers that they would like to see E2E UWP doc in the ecosystem section.
A recent example is [here](https://github.com/MicrosoftDocs/vsts-docs/issues/6108)
Creating this issue to track.

[2019-11-04 04:38] PBoraMSFT commented on #6108
@aosyatnik - thanks for the feedback and I am glad to see that Karan was able to help you get unblocked. I have filed 2 issues for additional documentation:

https://github.com/MicrosoftDocs/vsts-docs/issues/6240
https://github.com/MicrosoftDocs/vsts-docs/issues/6239

[2019-11-04 04:38] #6108 closed

[2019-11-04 05:27] DerekLiang opened #6241 "default value for publishLocation"
what is the default value of `publishLocation` ?

in the example below, it was not clear if the `publishLocation` is default to `Container` or `FilePath`.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content:

[2019-11-04 07:31] RoopeshNair commented on #6217
- Administrator can administer permissions, manage, view and use an environment
- User can view the environment and use it in a pipeline.
- Reader can only view the environment.

The roles have no bearing on whether who is triggering the pipeline but during authoring whether they can consume the environment or not.

[2019-11-04 07:31] #6217 closed

[2019-11-04 09:07] VAllens commented on #6189
Thanks so much.

[2019-11-04 09:16] blueelvis commented on #5986
@WilliamAntonRohm -- Any update on this?

@ceddlyburge -- Did you get an answer to this? I am also interested in finding out the solution to this problem.

[2019-11-04 09:37] ceddlyburge commented on #5986
Hi There, I haven't got an answer, and it doesn't look possible from reading the docs, so I'm pretty sure it isn't possible. Hopefully it will be added in the future. In the meantime I can thoroughly recommend Netlify (which does this at the click of a button). Heroku can also do it without much setup.

[2019-11-04 10:05] Wenish commented on #5754
@chasewilson any plans to enroll this feature?
it would be the reason for me to use devops artifactory.

[2019-11-04 10:12] luisgmgouveia commented on #2070
I agree this page is not consistent with the 'Release Flow' proposed by Microsoft. According to that model, we should never merge the release branches back to master.

[2019-11-04 11:36] buckleyGI commented on #5500
Thanks. Do you have a link to that suggestion?

[2019-11-04 13:32] Styxxy opened #6242 "Clarify firewall access requirements for consuming Artifacts nuget feeds"
Similar to issue #3801 .

My organisation is in West Europe. My build agent is running on premise and all traffic goes through a firewall. I have to white list traffic to be allowed from the agent. I have white listed *.dev.azure.com (and others, like mentioned on ). However a nuget restore still fails from my Azure Artifacts feeds.

I noticed when looking at the traffic that after https://pkgs.de

[2019-11-04 14:09] chkapil commented on #369
Hello, any update on this? What I read on this page is in contradiction to what I hear from Edward (in the embedded video).  I feel that point raised by @ChristopherMank still remains valid and not sure why this discussion has been marked as closed?

[2019-11-04 15:00] mkajerski commented on #5700
You can set a whole group (e.g. the team) as approver, that way anyone can promote a release to the next stage.

[2019-11-04 15:47] melezhik commented on #6043
@shashban  any updates here? thanks

[2019-11-04 15:48] melezhik commented on #5979
@msebolt , any updates here? thanks

[2019-11-04 15:49] SamirFarhat commented on #6212
Top, it works!! Thanks

[2019-11-04 15:49] #6212 closed

[2019-11-04 16:09] Slooz commented on #6217
Thank you.

So to make sure I understand correctly, the difference between a User and a Reader is that a User can create a pipeline that uses the environment, while a Reader cannot create a pipeline that uses the environment?

[2019-11-04 16:25] M1Marcus opened #6243 "Images are outdated"
The images are outdated. This is no longer how you get to PAT or the security page

[2019-11-04 16:26] #6243 closed

[2019-11-04 16:27] M1Marcus opened #6244 "Images are outdated"
The images are outdated at https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&viewFallbackFrom=vsts#create-personal-access-tokens-to-authenticate-access. This is no longer how you get to PAT or the security page

[2019-11-04 17:19] chcomley commented on #6231
How about now? https://docs.microsoft.com/en-us/azure/devops/user-guide/service-status-info?view=azure-devops

[2019-11-04 17:56] shashban commented on #6043
@melezhik Apologies, I missed your update late last week. "Allow access from all pipelines" is meant to address exactly the scenario you have. We'll need to check why it does nothing within the same project.

[2019-11-04 18:19] warzinskid commented on #5676
I eventually figured this out.

I wasn't updating the entry under contributions - targets.  Once I did that it moved for me.

[2019-11-04 18:19] #5676 closed

[2019-11-04 18:37] chcomley commented on #4142
@shudv, While @ashokirla's group works on updating the article, as a whole, I've added a note that highlights that service connection parameters must be fetched by service connection ID. Thanks so much for your feedback!

[2019-11-04 18:42] #4142 closed

[2019-11-04 18:59] evilches opened #6245 "Work item query language (WIQL) syntax"
Broken link: Work item query language (WIQL) syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8acd801-cb9c-fa87-b4a7-5a44094bbd00
* Version Independent ID: e471c7e6-2ace-9029-ae22-62f1725168fa
* Content: [Query by account, user name, workflow or board changes - Azure Boards](https://docs.microsoft.com/en-us/azure

[2019-11-04 19:31] chcomley commented on #4359
Hi @lukeschlather,

We can't include the cost directly because if that cost changes, our article would be out of sync and incorrect. I've just published an update, however, that leads you to the [Azure DevOps pricing page](https://azure.microsoft.com/en-us/pricing/details/devops/azure-devops-services/), rather than the calculator. Thanks!

[2019-11-04 20:25] DaveJarvis opened #6246 "Diagram"
Consider adding a diagram that goes from the event, triggering a pipeline run, through to a job being executed on an Agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f8c8539-89a7-a426-868b-96e961c39e29
* Version Independent ID: de260a68-aab7-7c6b-6727-90c92c65b225
* Content: [Azure Pipelines New User Guide - Key

[2019-11-04 21:56] celamb4 commented on #5281
I agree with this issue. Docker build and docker tag dont require credentials (dockerregistry connection) to run. Why are they a requirement? If the team only wants to run docker build, why is a service connection required?

[2019-11-04 22:11] #5778 closed

[2019-11-04 22:30] chasewilson commented on #6193
@brubom Thanks for the feedback and I'm glad that you were able to get things worked out! I'll be Adding a note for some clarity.

[2019-11-04 22:30] #6193 closed

[2019-11-04 23:18] WilliamAntonRohm commented on #6021
@cforce -- thank you for replying.  Is this in regards to a particular documentation article, or a general question?

Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-11-04 23:18] brandonaut opened #6248 "`nuGetFeedType` and `packagesToPush` descriptions incorrect"
In the [Arguments section](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#arguments), I think `packagesToPush` has the description for `nuGetFeedType` and the entry for `nuGetFeedType` is entirely missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551-16ad-e

[2019-11-04 23:19] #6062 closed

[2019-11-04 23:22] StephenRSkinner commented on #6062
What additional information do you need? TFS 2018 Package Feed. Right there in the first sentence. Please re-open and fix.

[2019-11-04 23:23] WilliamAntonRohm commented on #6220
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-11-04 23:23] #6220 closed

[2019-11-04 23:24] liusu119 opened #6249 "pipelineId needs more clarification"
It's easily confused with pipeline definition ID.  The url is still using buildId for this value, which adds more confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Content: [Download Pipeline Artifact task - Az

[2019-11-04 23:29] WilliamAntonRohm commented on #6229
@soulis64 -- Michael, thank you for your observations.

@kaylangan -- Kayla, please consider adding a note in the documentation.

[2019-11-04 23:54] WilliamAntonRohm commented on #6232
@PaulVrugt -- Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chasewilson -- Please look into this issue.

[2019-11-04 23:58] WilliamAntonRohm commented on #6235
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2019-11-04 23:58] #6235 closed

[2019-11-05 00:06] WilliamAntonRohm commented on #6242
@Styxxy -- Hans, thank you for your feedback, and for adding it to the developer community site.

@chasewilson -- Chase, please look into this issue.

[2019-11-05 01:58] gholliday opened #6250 "Is the Pipelines Agent supported on Windows Server 2019?"
Under `Check prerequisites` it links to https://aka.ms/vstsagentwinsystem, which makes no mention of `Windows Server 2019`

I expect that it is supported, given that the [Microsoft-hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent) have a `windows-2019` image which runs the same agent.

Can we get the link or the doc

[2019-11-05 02:38] joseharriaga opened #6251 "How to properly use secrets?"
This document says the following:
"Secret variables are not passed into tasks as environment variables and must instead be passed as inputs."

However, the docs on [Variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables) say:
"It is recommended that you use the script's environment in order to pass secrets to the script. Operating systems often log commands for the pr

[2019-11-05 04:41] PBoraMSFT commented on #6240
@vijayma - who owns the UWP ecosystem now?
I can contribute the test portion of the doc, but we need the UWP ecosystem owner to drive the E2E documentation.

[2019-11-05 05:34] sachinzen opened #6252 "State color change is disabled."
Hi,
I am trying to change the color of "Resolved" state in all work items but Azure DevOps is not allowing to change the color. It seems to be disabled or locked.

Thanks
Sachin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 715eca62-8a31-4163-c27b-f5e71d781982
* Version Independent ID: 06dc711f-1946-29e9-aece-75af903d

[2019-11-05 06:32] jujigo opened #6253 "Jujigotec"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-11-05 06:32] #6253 closed

[2019-11-05 06:34] jujigo commented on #6253
![7CE1AD37-4798-47EF-BEC2-3C3E913F3F20](https://user-images.githubusercontent.com/47909022/65013090-789e1780-d8ce-11e9-9611-94e9351d9354.jpeg)
![378DBB67-287D-458E-A6D9-4343F5AD9F5B](https://user-images.githubusercontent.com/47909022/65013091-789e1780-d8ce-11e9-8f7d-75640b6ca898.jpeg
Duplicate of
![7CE1AD37-4798-47EF-BEC2-3C3E913F3F20](https://user-images.githubusercontent.com/47909022/65013090-78

[2019-11-05 07:00] LasseNisted opened #6254 "Multiple group rules affecting same user"
What determines the final access level if, one group rule assigns Visual Studio Subscriber and another assigns Basic for the same user because the user is in multiple AAD groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba38644a-fe6c-e644-2f35-2cf6fa092650
* Version Independent ID: 7d18b423-923f-d9c4-e451-ab7f8ff

[2019-11-05 07:44] larsroholm commented on #6254
And what if said user has no Visual Studio subscription, even though the group rule assigns that access level?

[2019-11-05 09:23] #6090 closed

[2019-11-05 10:23] JamesBroadberry opened #6255 "Title of page typo"
The title of the page has "Scrum" misspelled as "Scum" - this is appearing in Google search results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f73858a-31dd-e0fa-cb7f-53dd42192791
* Version Independent ID: f61f9f02-8fbc-4511-e655-3087834302bd
* Content: [Change process from Scum to Agile - Azure Boards](https://do

[2019-11-05 11:10] mortenlerudjordet commented on #5221
Observing the same as @beavel

[2019-11-05 13:14] kaylangan commented on #6229
@WilliamAntonRohm, you want @apawast. I don't work on Azure Repos anymore.

[2019-11-05 13:36] navin22 commented on #6067
@tashrifbillah Sorry for the delay in response.
I was able to reproduce this in the hosted agents. I am working on this will update you with my findings on this thread.

[2019-11-05 13:37] nmeisenzahl opened #6258 "Container support"
It looks like it's not possible to use containerized jobs in deployment jobs. Are there any plans to support those?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7ff690-b2e4-41c7-a342-e528b911c6e1
* Content: [Deployment jobs - Azure Pipelines](https://do

[2019-11-05 13:44] vtbassmatt commented on #5221
Adding @ashokirla for variable group authorization.

[2019-11-05 14:38] tashrifbillah commented on #5533
Hi all,

I am putting in my environment file that can be a good practice of building, testing, and pushing docker containers.

https://github.com/tashrifbillah/tbss_containers/blob/master/azure-pipelines.yml

I leveraged on `script` commands because of [not-yet-fixed](https://github.com/MicrosoftDocs/vsts-docs/issues/6067) `ContainerStructureTest@0` task. If I could use azure provided test tasks,

[2019-11-05 14:41] tashrifbillah commented on #6067
Hi @navin22 , thanks. Because of the issue, I ended up downloading Google container structure test on the host and then executing the tests. I hope you already noticed, but [here](https://github.com/tashrifbillah/tbss_containers/blob/master/azure-pipelines.yml) is my environment file and relevant code snippet:
[code]

[2019-11-05 14:46] RoopeshNair commented on #6258
Yes, we do plan to support it at a future date. We are tracking this on our backlog.

[2019-11-05 14:46] #6258 closed

[2019-11-05 14:53] mahilleb-msft opened #6259 "YAML: How to disambiguate between service connection that have the same name?"
Maybe I'm missing something, but service connection can end up having the same name if they're created via the ADO website, e.g., if users connect to an Azure subscription. In this case multiple service connection with the same name but different resource ID may be generated.

When specifying the service connection in YAML (as in the azureSubcription example above), how can two same-named instance

[2019-11-05 15:02] hardcorehead87 opened #6260 "Multiple Resources in the same K8s namespace"
We have a k8s cluster we use for internal projects.
Each project gets deployed in a separate namespace to have some isolation.
A project however can consist of multiple microservices. So these end up in a single namespace.

When defining a K8s resource in a DevOps Environment, the resource name is coupled to that specific namespace it is created for. So we can only create a single resource for our