[2018-11-29 17:06] SilverHawk777 opened #2610 "Need help responding to engineers who are frustrated with the constant changes in Azure DevOps"
They say that the constant changes to the interface, processes have caused them productivity issues. There is no warning a change is coming or a way to defer the change. They say is it hard to plan a project that has deadlines and that the rate and level of changes have been too much. I want to convey how working in Azure DevOps has positives over on-premise TFS and the why and wherefor of having

[2018-11-29 17:19] ManuelGalindo commented on #1474
@JoseFMP I sent an email (to your @gmail.com account) with some steps to create a case

[2018-11-29 17:53] #1876 closed

[2018-11-29 17:54] #1924 closed

[2018-11-29 17:56] vijayma commented on #1933
@DavidStaheli can you confirm that tag pushes trigger builds with GitHub?

[2018-11-29 17:56] vijayma commented on #1977
Thanks for the suggestion. We have added this to our backlog.

[2018-11-29 17:56] #1995 closed

[2018-11-29 17:57] spike008t opened #2611 "How to auth using PAT over 90 days for vsts artifacts (npm) ?"
Hello,

As the documentation said, we can use PAT to be able to avoid renew the token every 90 days to access to npm feeds. But when I follow the documentation, I still have a 401 on `npm install`.

The documentation tell to add the following lines on `~/.npmrc`:

[code]

Questions:

1. The strange thing is the url for registry on `.npmrc` project file is not the same as decribe (eg: `registry=htt

[2018-11-29 18:03] #2611 closed

[2018-11-29 18:03] spike008t opened #2612 "How to auth using PAT over 90 days ?"
Hello,

As the documentation said, we can use PAT to be able to avoid renew the token every 90 days to access to npm feeds. But when I follow the documentation, I still have a 401 on `npm install`.

The documentation tell to add the following lines on `~/.npmrc`:

[code]

Questions:

1. The strange thing is the url for registry on `.npmrc` project file is not the same as decribe (eg: `registry=htt

[2018-11-29 18:34] spike008t commented on #2612
@elbatk thank you for your answer.

1. I do not have the right on my org, I'll ask to the manager to turn it on.

[2018-11-29 18:47] vijayma commented on #2079
Thanks, doc fix going out soon.

[2018-11-29 19:07] joshmgross commented on #2583
@ThadHouse This was also reported here: https://github.com/Microsoft/azure-pipelines-tasks/issues/8918

Until we get this fixed, the workaround is to delete that script. Something like:
[code]
Thanks for the help isolating this issue!

[2018-11-29 19:31] elbatk commented on #2612
I've made that change more clear in the docs in a PR today, @alexmullans . I'm assuming you're trying to say what's between the `&lt;` and `&gt;`.

[2018-11-29 19:39] vijayma commented on #2114
@hayesgb I tried this and it worked fine for me. For instance, the Build.Repository.Uri in my test was https://adventworks.visualstudio.com/Experiments/_git/npmtest. The git command works fine with that uri. Can you shed some more light on this issue?

[2018-11-29 19:42] vijayma commented on #2133
@mosswald to comment on this suggestion...

[2018-11-29 19:56] MisinformedDNA opened #2613 "Instrument Everything?"
Are there any videos or posts that better details "Instrument Everything", or how you team "instruments everything"? I'm interested in any guidance, tools, tricks, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15f1fadb-d2a0-f671-af1e-0707ef6e385d
* Version Independent ID: 64faa90d-7e2a-465a-89dc-06f40ccf612c
* Co

[2018-11-29 19:57] moswald commented on #2133
@DominicCabral Changing the value of the counter seed does not reset the current value to that seed. I suggest opening a [Developer Community thread on the subject](https://developercommunity.visualstudio.com/content/idea/post.html?space=21), as that is one way we prioritize future development.

@tspascoal Unfortunately, those endpoints are incorrect. They belonged to an experimental implementatio

[2018-11-29 20:42] alexmullans commented on #2612
Yep, sorry. Fixed my comment.

[2018-11-29 20:47] andyjlewis commented on #2606
Is your project private? If so, do you have sufficient parallel jobs? see https://docs.microsoft.com/en-us/azure/devops/pipelines/licensing/concurrent-jobs-vsts

[2018-11-29 20:51] vtbassmatt commented on #2606
The hosted agents have 2 virtual cores. Parallel build may or may not offer you a speedup depending on how I/O-bound vs CPU-bound your build is.

[2018-11-29 20:51] #2606 closed

[2018-11-29 21:47] rizwaans opened #2614 "Can we publish code coverage reports to the widget (code coverage)"
Hi,
Might be a silly question, but can someone explain or suggest me if we can publish the code coverage reports directly to the code coverage widget on the dashboards (Azure DevOps / VSTS)
or please suggest me a way to check the code coverage results in a standard way by not have to download them from the artifacts folder

![image](https://user-images.githubusercontent.com/25411949/49254103-3a458

[2018-11-29 22:10] spike008t commented on #2612
@alexmullans thank you for your response. I did give a try, but nothings
works...
Of couse i did set the correct value on the placeholder (orgs and feed
name). I've also try to update the npm to the latest version, nothing.

Le jeu. 29 nov. 2018 à 21:42, Alex Mullans <notifications@github.com> a
écrit :

[2018-11-29 23:06] riQQ commented on #2091
@chcomley any update on this?

[2018-11-29 23:20] KathrynEE commented on #2400
@hyonlim  - Thank you for the feedback. The article is being updated accordingly.

[2018-11-29 23:20] #2400 closed

[2018-11-29 23:23] KathrynEE commented on #2386
@thekwilson - Thank you for the feedback. The article is being corrected as noted.

[2018-11-29 23:23] #2386 closed

[2018-11-29 23:25] #1899 closed

[2018-11-29 23:42] jockerman-ipspark opened #2615 "Task Fails: ##[error]Value cannot be null. Parameter name: hashAndAlgorithm"
I have tried to configure and use this task with and without parameterized inputs.  Every build fails on this task with the following:

2018-11-29T23:12:13.0615583Z ##[error]Value cannot be null.
Parameter name: hashAndAlgorithm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Versi

[2018-11-29 23:43] KathrynEE commented on #2414
@Yash-Yadav thank you for your feedback. The article is being updaetd.

[2018-11-29 23:43] #2414 closed

[2018-11-29 23:46] KathrynEE commented on #2408
@kulov - thank you for the feedback. The article is getting updated accordingly.

[2018-11-29 23:46] #2408 closed

[2018-11-29 23:54] KathrynEE commented on #2398
@ShaneCourtrille  - Thank you for the feedback. I have added a task to my backlog to update the content accordingly.

[2018-11-29 23:54] #2398 closed

[2018-11-29 23:58] KathrynEE commented on #2204
@RodrigoGroener - thank you for the feedback. I'm updating the links as needed.

[2018-11-29 23:58] #2204 closed

[2018-11-30 01:09] rvramesh commented on #2552
I had some issues with loading of the scope section. I was able to find the scope section right next to variable name after couple of reload. Adding a screen shot of this section might help new comers.

[2018-11-30 01:57] luyajun0205 opened #2616 "I run my UI case on private agent with Interactive model, even all case have complete with run time in 5 minutes, but agent still run 1 hour until timeout and canceled"

[2018-11-30 02:15] mkliu opened #2617 "How do I run multiple commands in containerCommand field?"
The example above shows "npm install", what if I also need to execute another command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Content: [Docker task - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azur

[2018-11-30 02:53] luyajun0205 commented on #2616
2018-11-29T**09:49:42**.0561780Z Total tests: 1. Passed: 1. Failed: 0. Skipped: 0.
2018-11-29T09:49:42.0562361Z Test Run Successful.
2018-11-29T09:49:42.0569029Z Test execution time: 1.8394 Minutes
2018-11-29T**10:47:23**.6584855Z ##[error]The operation was canceled.
2018-11-29T10:47:23.6632886Z ##[section]Finishing: Test Assemblies

2018-11-30 01:40:58Z: Running job: Job
2018-11-30 02:41:02Z: Job

[2018-11-30 03:31] visargashi commented on #2612
@alexmullans, I have been trying to get this working for two days as well, I keep getting 401s even after setting everything up as documented. A few questions:
1. Why does the PAT npmrc section say "JSON" when the file is not JSON (or is it?)?
2. I have tried using the generated PAT as a password using basic authentication against the NPM url, and I get a response (using a random username). I am n

[2018-11-30 03:36] visargashi commented on #2612
I should clarify what I am doing:
1. I have a Linux docker container.
2. I create a .npmrc file in the project folder with the registry (copied and pasted from the VSTS npm tool)
3. I create a .npmrc file in the ~/ location, using the link paths documented in this page, the username is random, the _password is my PAT (have also tried the base64 version of the PAT), my email address, and always aut

[2018-11-30 04:48] adramasu commented on #2334
Thanks for highlighting this. We are working on this.

[2018-11-30 05:19] changeworld opened #2618 "The page loading does not end."
[フィードバックをこちらに入力してください]
The page loading does not end, even if I wait more than an hour.
In the lower left of the browser, it is displayed as attached.
<img width="295" alt="2018-11-30 14 14 29" src="https://user-images.githubusercontent.com/1207985/49269963-ecd80d80-f4aa-11e8-9922-c82dc13db762.png">

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c333

[2018-11-30 08:51] Fvdthillart opened #2619 "Housekeeping"
How can you run an unattended housekeeping on merged branches older than 6 months ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23a72b8d-3241-a54a-e2c2-4c17b52678c1
* Version Independent ID: 8502eb8f-805b-54da-2c56-523a9aca7ce4
* Content: [Delete a branch in your Git repo - Azure Repos](https://docs.microsoft.com/en

[2018-11-30 09:11] tthiery commented on #1933
@vijayma @DavidStaheli Without change in the build definition, tag pushes to GitHub are now working to trigger a build (starting at least at 2018-11-21). I guess you fixed something or some IT hickup ended ;).

[2018-11-30 12:47] Dushelov opened #2620 "Nuget restore External Service Connetion"
Currently external private nuget feed can be used during "nuget push" option. Please add possibility to use external private nuget feeds which are added through "Nuget service connection" to make "nuget restore".

[2018-11-30 13:57] joseph-cloudthing commented on #2542
parallel & parallelCount don't seem to have any effect?

[2018-11-30 13:58] joseph-cloudthing opened #2621 "parallel & parallelCount don't have effect?"
These two parameters are documented but don't seem to have any effect in practice?

Are docs ahead of live?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task - Azure Pipelines & TFS]

[2018-11-30 14:18] DavidStaheli commented on #1933
Hi @tthiery.  Yes, the fix for this just made it to production.  We also added better wildcard support for the tag name.  Thanks for your patience and help diagnosing!

[2018-11-30 14:18] #1933 closed

[2018-11-30 15:38] xtu opened #2622 "The variable after 'connectedService:' is not clear"
In the `FabrikamService` input object of the task, the 'Fabrikam' in 'connectedService:Fabrikam' is actually the name of the endpoint, which is 'fabrikam' as declared in the contribution. The first letter is not in the same matching case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90db6e4c-6240-fe2e-3043-0a7d186b9c

[2018-11-30 15:42] spike008t commented on #2612
@elbatk Right, so I'm gonna post on Developer Community and I'll update this feed once I do have the response. Very weird that nobody have these issue (maybe they all use the 90 days token...)

[2018-11-30 15:58] elbatk commented on #2612
You'd probably get a quicker response that way, @spike008t , please do report back though because if it's something we should add to the docs to make everyone's life easier, then I'm happy to do it!

[2018-11-30 17:51] MattDavisRM commented on #2610
From the feedback that you've gotten your engineers, what do they feel like is the biggest recent change they were surprised by?  The new navigation?  My experience as a consumer of the service has been that the Azure DevOps team has been very transparent and very organized about what they are planning feature-wise and the timing on roll-out.  I haven't seen any real breaking changes enforced befo

[2018-11-30 18:36] SilverHawk777 commented on #2610
Thank you for getting back to me. Everything you are saying makes perfect sense to me as the Azure admin and I just
need to help the engineers get comfortable with the rapidly changing( better) way of working in Azure DevOps.

I think this is what upset them the most.
Our engineers that have MSDN subscriptions have had them for more than 2 years.
We have an Enterprise agreement and we renew every

[2018-11-30 19:45] blaze515 commented on #418
@alexhomer1 Any chance that this will be added as an update to TFS 2017 as well?

[2018-11-30 21:56] thoaingan opened #2623 "Azure Pipelines - Job Custom Condition - Syntax for parameters in Job Status Functions"
I'm trying to configure a Pipeline Job to run under a custom condition, and I'm having a hard time writing the correct syntax for the custom condition.

I have 3 jobs in total:
- 1st Job Name: Deployment
- 2nd Job Name: Validation
- 3rd Job Name: Rollback

I want the Rollback job to run only if Deployment was successful and Validation failed. Therefore, I wrote the variable expression like so:
![i

[2018-11-30 21:58] steved0x commented on #2623
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=vsts&tabs=yaml

[2018-11-30 21:59] steved0x commented on #2620
@Dushelov Thank you for your feedback. The issues in this repo are for content feedback, and this looks like a product feedback. For product feedback, including feature requests, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-11-30 21:59] #2620 closed

[2018-11-30 22:00] steved0x commented on #2616
@luyajun0205 Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-2692

[2018-11-30 22:03] steved0x commented on #2608
@itaccounts-sw Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26

[2018-11-30 22:04] steved0x commented on #2607
@dalemyers Thank you for the feedback, do we need to fix our reference documentation for this? Can you let me know the URL of the documentationt hat was in error, so I can forward this to the author?

[2018-11-30 22:05] dalemyers commented on #2607
There isn't really a dedicated page for this. It's spread out. I think it's actually a bug, but I don't know how or where to report it.

[2018-11-30 22:05] steved0x commented on #2602
@alejagapatrick10 Thank you for leaving feedback. It looks like your comments were lost. Can you create a new issue with your feedback? Thank you.

[2018-11-30 22:05] #2602 closed

[2018-11-30 22:06] steved0x commented on #2601
@keggster101020 Thank you for the feedback. Can you let me know which article this feedback is for (or which article was missing the steps you needed), so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubuserco

[2018-11-30 22:08] steved0x commented on #2495
@anilraut30 Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924

[2018-11-30 22:12] iandvt commented on #1866
Any update on this issue @DavidStaheli?

[2018-11-30 22:12] steved0x commented on #2484
@neil-yechenwei Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-2

[2018-11-30 22:14] ShevaDas commented on #2486
@zahirtezcan-bugs I'm sorry, I can't reproduce your issue with the print or PDF download. Can you provide more details about what operating system and browser you're using?

[2018-11-30 22:16] steved0x commented on #2476
@pascalberger We are having an issue right now with the syncing between our internal private repo, and this public repo which is for customers to submit feedback issues and PRs. All of the customer changes up through about 2 weeks ago should be merged into our private repo, and live at docs.microsoft.com. However this public repo is about a couple of weeks behind. Our ops team is going to get it f

[2018-11-30 22:17] steved0x commented on #2473
@odelljl Thank you for the feedback. Can you let me know which article this feedback is for (where you mean by `here` in your line above), so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/158

[2018-11-30 22:18] steved0x commented on #2470
@robesonm93 I am assigning this issue to that repo using the new `transfer this issue` feature.

[2018-11-30 22:20] #2470 closed

[2018-11-30 22:21] steved0x commented on #2452
@lflpowell @alexmullans Since this isn't a docs issue, I'm closing this GitHub issue, and you can resume the conversation over at [StackOverflow](https://stackoverflow.com/questions/tagged/azure-artifacts)

[2018-11-30 22:21] #2452 closed

[2018-11-30 22:29] steved0x commented on #1336
@alexmullans Yes I am sending the instructions to @mitchdenny now

[2018-11-30 22:53] mitchdenny commented on #1336
OK so a few things have happened in the NuGet ecosystem since my last response. The most important change is that when publishing to NuGet.org you can now publish a *.snupkg file which is basically just a package which contains portable PDBs. When NuGet.org gets this package it extracts them and makes them available on a symbol server address that they host for the community.

Unfortunately in Azu

[2018-12-01 06:19] zahirtezcan-bugs commented on #2486
Windows 10 and Firefox. It could be seen on the screenshot though anyway.

This is the screenshot from original pdf:

![original](https://user-images.githubusercontent.com/37615095/49324928-8e15a100-f549-11e8-8ab9-e0eedcfbbefb.png)

This is what I do when I try to print a portion of the PDF. Please ignore "Microsoft Print To PDF" device. It is for the showcase here. I get same thing when I actuall

[2018-12-01 08:39] pascalberger commented on #2476
@steved0x I didn't made the PR as the file in this repo is outdated and didn't contain the parts I wanted to fix (I'm not an MSFT Employee).

[2018-12-01 12:33] almmechanics commented on #2622
Agreed, since this is one of the default examples, highlighting the importance of the `connectedService` attribute and how it bridges between `endpoints` and `tasks` would be a great help.

[2018-12-01 18:54] spike008t commented on #2612
@elbatk I've submit a PR to solve this issue
@visargashi the issue was the return line generated by the command before to call base64... The token should end with 2 equal at the end. See below.

To explain the issue, as the documentation said, we have to call:
[code]
But with the previous command, a return line is added at the end of the token before to call base64..
The correct command to get the

[2018-12-01 19:31] abombss commented on #2514
`pipelineId` appears to be `BuildId`, and not the build definition id.  It needs the actual instance id of where the artifact is associated.  I was able to make this work by referencing a release variable tied to the artifact alias.  My alias is named "artifacts" and using `$(RELEASE_ARTIFACTS_ARTIFACTS_BUILDID)` did the trick. So the format would be `$(RELEASE_ARTIFACTS_<alias>_BUILDID)`

If you

[2018-12-01 23:19] DanielBMann9000 commented on #2219
Deployment groups are for servers, not PaaS services. If you need to deploy to PaaS services, use an agent registered to a regular agent pool.

[2018-12-02 15:33] visargashi commented on #2612
@spike008t, that did it... thank you. I didn't think to question the base64 generation

[2018-12-03 01:16] luyajun0205 commented on #2616
https://docs.microsoft.com/zh-cn/azure/devops/pipelines/agents/v2-windows?view=vsts

[2018-12-03 10:42] dendle opened #2627 "A "step 5" is referred to, but not present in image"
Documentation mentions a "step 5" - there is no corresponding "red circle" that represents step 5 in the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f5ce059-ec92-5413-0910-4e28033db034
* Version Independent ID: 540610d3-6073-664d-97f8-e7d8e0a21a20
* Content: [Set Git or TFVC repository permissions - Azure De

[2018-12-03 10:43] dendle commented on #2627
Sorry - it is there, but the image is cropped off in the page, and I'm on a widescreen.  Noone will see step 5 unless they click the zoom button.

[2018-12-03 13:24] MikeHofer-SM opened #2629 "Upgrading Legacy Feeds - Release Notes?"
Was this capability ever released? I've been going through the release notes and haven't found it yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2963d2fc-350f-0d4d-bd1a-900cdfb81474
* Version Independent ID: 474d13a9-83cf-e445-f2d2-2ca917a2b09a
* Content: [Upgrading a legacy feed](https://docs.microsoft.com/en-us/

[2018-12-03 13:32] MikeHofer-SM commented on #2629
I found the [release notes](https://docs.microsoft.com/en-us/azure/devops/release-notes/2018/jun-19-vsts#use-upstream-sources-in-legacy-feeds) that say that you can do this. However, it doesn't provide any guidance on _how_ to do it, and the [Legacy Feeds](https://docs.microsoft.com/en-us/azure/devops/artifacts/reference/feed-upgrade-learn-more?view=vsts) page hasn't been updated.

We're trying to

[2018-12-03 14:36] vtbassmatt commented on #2623
Specifically, see [the Dependencies section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=vsts&tabs=yaml#dependencies).

Something like: `and(eq(dependencies.Deployment.result, 'Succeeded'), eq(dependencies.Validation.result, 'Failed'))`

[2018-12-03 15:59] 5nowx opened #2630 "Add a workflow isn't in the New Navigation Style"
The section 'Add a workflow State' isn't in the new navigation style, only in the old one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 715eca62-8a31-4163-c27b-f5e71d781982
* Version Independent ID: 06dc711f-1946-29e9-aece-75af903da09b
* Content: [Customize the workflow of an inherited process - Azure DevOps Services]

[2018-12-03 16:32] steved0x commented on #2607
@dalemyers If you think it is a bug, you can report it here: https://developercommunity.visualstudio.com/spaces/21/index.html

This will go right to the product team and they'll take a look. Thanks for letting us know.

[2018-12-03 16:32] #2607 closed

[2018-12-03 16:33] chcomley commented on #2558
Hi @ksix, I can certainly add some clarity to the documentation. I've reached out to a few of my PMs for clarification and will keep you updated. Thank you.

[2018-12-03 16:36] steved0x commented on #2596
@wgv-srsedate Thank you for letting us know. Does this information help? [Delete packages from Azure Artifacts feeds
](https://docs.microsoft.com/en-us/azure/devops/artifacts/how-to/delete-and-recover-packages?view=vsts&tabs=maven%2Cnew-nav#delete-packages-from-azure-artifacts-feeds)

We can get that broken link fixed.

[2018-12-03 16:38] steved0x commented on #2594
@thommck It looks like this page hasn't been updated with the most recent talks and presentations, I'll send a note. Do you think we should take the legacy stuff out? Or maybe add a note to explain that while the concepts may be current, the Demos and UI may be outdated?

[2018-12-03 16:38] dalemyers commented on #2607
Whether it is a bug or not, the documentation doesn't align with the actual behavior. I believe it should be updated to reflect the current behavior for now.

[2018-12-03 16:40] steved0x commented on #2589
@SimonKrischer Can you let me know the URL of the doc and I can forward this to that author for their feedback.

[2018-12-03 16:42] thommck commented on #2594
Personally I think you should remove the legacy stuff as you can't get the old version anymore AFAIA.
If the concepts stay true then leave that there until you can fully update it

Thanks,
Thom McKiernan

Sent from 07468 473239

________________________________
From: Steve Danielson <notifications@github.com>
Sent: Monday, December 3, 2018 4:38:32 PM
To: MicrosoftDocs/vsts-docs
Cc: thommck; Mentio

[2018-12-03 16:45] wgv-srsedate commented on #2596
Not exactly, because there's clearly a difference between **unlisting** a package and **deleting** one.  I came to the documentation to try and understand what that difference was, since those are two different commands.

[2018-12-03 16:46] chcomley commented on #2574
Thanks @ksix I'm following up on this and will keep you updated.

[2018-12-03 16:47] steved0x commented on #2572
@MisinformedDNA Thanks for letting us know, I'll check into it, and see if we can add a note in the meantime until such a time as there is a resolution.

[2018-12-03 16:48] chcomley commented on #2596
Thanks @wgv-srsedate I'm following up on this and will keep you updated.

[2018-12-03 17:15] chcomley commented on #2557
@ksix, That is the intended behavior. Group rules are used purely for *licensing* and not for permissions. It is the same way that Office 365 group licensing works. I've created a work item on my backlog to clarity within the documentation. Thank you!

[2018-12-03 17:15] #2557 closed

[2018-12-03 17:31] chcomley commented on #2091
Hi @riQQ , I've learned that the "view builds" task is not applicable to this topic and there is no required update.  @KathrynEE should be able to help, if you have any further questions or concerns. Please let us know. Thank you.

[2018-12-03 17:45] shashankbarsin commented on #2617
Use either of the following formats -
`containerCommand: /bin/bash -c "echo hello; echo world"`
or
`containerCommand: /bin/bash -c "echo hello && echo world`
depending on your requirement. In the first case when ';' is used, the second command runs regardless of the whether the first command gave an error (non-zero) as exit status or not (exit status zero). On the other hand && makes the second co

[2018-12-03 18:01] MisinformedDNA opened #2631 "Fix wrong tense"
Fix sentence from

to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23818e5e-5c57-4460-8e9d-1c8379b72a30
* Version Independent ID: 82653819-279e-1418-468d-759085e10498
* Content: [Evolving Test Practices at Microsoft - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/evolving-test-

[2018-12-03 18:03] shashankbarsin commented on #2369
Sorry for the inconvenience caused and thanks for reporting this. We are updating this in our docs.

[2018-12-03 18:07] shashankbarsin commented on #2390
Sorry for the inconvenience caused. We are currently working on the rewriting the documentation for this task entirely. The changes should get merged soon.

[2018-12-03 18:23] steved0x commented on #2524
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-12-03 18:23] #2524 closed

[2018-12-03 18:24] steved0x commented on #2508
@garthbf Thanks for letting me know the URL, I am assigning this issue.

[2018-12-03 18:32] Mini-Geek opened #2633 "Date query is incorrect"
This is incorrect, it instead shows items created one week ago, to the day. Most likely what was intended is `Created Date>=@Today-7`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a718268-1105-4def-5f9e-20ea21afc0d7
* Version Independent ID: 0f08fa18-3075-4275-22c7-d5d1c1e260b0
* Content: [Query fields, operators, an

[2018-12-03 18:41] steved0x commented on #2564
@nschonni The repo synching between a public and private repo isn't working when one of them is an Azure Repos Git repo, we have been having an issue with syncing the changes between the two repos, and I think this is an artifact of that, I've got a ticket filed and it should be resolved soon. Once they have it fixed I'll merge the outstanding PRs (the one that can merge, and hopefully the issue w

[2018-12-03 18:44] steved0x commented on #2631
@MisinformedDNA Thanks for letting us know, I just fixed that and it should be live in a day or two, I edited it to say: "Another v-team
was responsible for **monitoring** the health of the CI pipeline and **driving**
quick actions."

[2018-12-03 18:49] steved0x commented on #2589
@SimonKrischer I'll see if I can find it by doing a search.

Here are a couple of possibilities:
https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pypi?view=vsts&tabs=yaml#use-a-custom-twine-task-to-publish

https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/python?view=vsts&tabs=ubuntu-16-04#publish-with-twine

Any feedback for either of these articles would go to t

[2018-12-03 18:58] steved0x commented on #2569
@JarekToro I'll see if I can find out, looking at the source code for Git Credential Manager for Windows, there seems to be an example of that here:

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/d8b3b320c253cea8594fcc3f3f57d76b0abc1d79/AzureDevOps.Authentication/Src/Authentication.cs#L421

Would that work for you?

[2018-12-03 19:01] steved0x commented on #2561
@josesimoes That sounds like a good idea. The issues in the vsts-docs repo are for documentation feedback, so i can pass this along, but bug reports and product improvement suggestions carry more weight when they are submitted by customers. You can file this issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) and it will go right to the product team.

Thank you for your

[2018-12-03 19:01] #2561 closed

[2018-12-03 19:03] steved0x commented on #2560
@wagenrace Did @gaborbernat suggestion work for you?

[2018-12-03 19:08] steved0x commented on #2539
https://docs.microsoft.com/en-us/azure/devops/pipelines/policies/retention?view=vsts

[2018-12-03 19:09] lee0c opened #2634 "Build pipeline triggers doc not up to date"
The documentation page for Azure DevOps Build Pipeline Triggers (file [here](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/build/triggers.md)) is no longer up to date with regards to [Pull Request Validation](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=vsts&tabs=designer#pull-request-validation). This option is no longer listed under pipeline

[2018-12-03 19:13] chcomley commented on #2571
Thanks @schmalls, I'm following up on this and have created a work item in my backlog for updates (fixes). To be completed S145 or S146. Thanks again!

[2018-12-03 19:14] MattDavisRM opened #2635 "Applies to TFS 2018?"
I'm trying to verify whether multiple jobs running in parallel is supported in TFS 2018.3?  The dependencies option is not available and when I setup a basic multi-phase build, the phases are executing sequentially instead of in parallel.  Is the parallel options mentioned here really available in TFS 2018?  Or it not really available until 2019.RC1 or later?

---
#### Document Details

⚠ *Do not

[2018-12-03 19:45] madhurig commented on #2549
As per the docs:
The Xcode Package iOS task has been deprecated. It is relevant only if you are using Xcode 6.4. Otherwise, use the latest version of the Xcode task.

Thanks,
Madhuri

[2018-12-03 19:45] bugra-derre opened #2636 "Publishing via Command Line fails with 401 (Not authorized)"
Publishing my extension fails with an 401 (Not authorized). Even though I set up a personal access token. I posted also a question to Stackoverflow for more details https://stackoverflow.com/questions/53579969/publish-an-azure-devops-extension-from-command-line-fails-with-401 hoping that you have an answer for this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-12-03 20:36] alexmullans commented on #2514
Hmm, I thought we'd already shipped the ability to have Pipeline Artifacts downloaded automatically in release pipelines. @ashokirla or @mitchdenny any updates on that?

In general though, we are working on maturing the story around Pipeline Artifacts. You can see some of the [designs here](https://github.com/Microsoft/azure-pipelines-yaml/blob/master/design/pipeline-artifacts.md). Thanks for the

[2018-12-03 20:37] KathrynEE commented on #2630
@5nowx - Thank you for the feedback. This articles is being updated accordingly.

[2018-12-03 20:37] #2630 closed

[2018-12-03 20:59] wagenrace commented on #2560
Sorry for the later reaction. Using 'pip install twine' did solve the problem. Thank you for you help

[2018-12-03 21:07] alexmullans commented on #2536
@steved0x I think this goes to @DavidStaheli (who's out for most of this month) or someone on his team.

[2018-12-03 21:46] pjquirk commented on #2536
@StrikerRUS Artifacts are only associated with builds. The task allows you to specify a branch name which it uses to determine the build to retrieve the artifact from.  In other words, if your task was setup as below:

    - task: DownloadBuildArtifacts@0
    inputs:
        project: 'My project name'
        pipeline: 'My pipeline name'
        buildType: 'specific'
        buildVersionToDownload

[2018-12-03 22:51] StrikerRUS commented on #2536
@pjquirk Thanks a lot for your answer!

I see [`queryOrder`](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/list?view=azure-devops-rest-4.1#buildqueryorder) argument for the API, but I don't see how to sort returned builds by IDs. Is it possible?
BTW, in `4.1` description is broken:

![image](https://user-images.githubusercontent.com/25141164/49406556-f8eff380-f766-11e8-91ee-c

[2018-12-04 00:06] KathrynEE commented on #2627
@dendle - Thank you for the feedback. If you click the image it will expand - this is a "lightbox" image feature. I've updated the article to reflect the need to click the image to expand it.

[2018-12-04 00:06] #2627 closed

[2018-12-04 00:16] KathrynEE commented on #2591
@codenamekarna - Thank you for your inquiry. You can input a tree list. This is documented in the article your reference, https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/office/bulk-add-modify-work-items-excel?view=vsts#add-linked-backlog-items-and-tasks, by choosing the Add tree Level to add the hierarchy to the list.

As for migrating backlog history to another organization - no th

[2018-12-04 00:16] #2591 closed

[2018-12-04 00:19] KathrynEE commented on #2559
@FokkoVeegens - Thank you for the corrections. I'm updating the article accordingly.

[2018-12-04 00:19] #2559 closed

[2018-12-04 00:35] KathrynEE commented on #2481
@skeeler - Thank you for the feedback. You are correct. I have updated the link to point to this article: https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-project-collection-level-permissions?view=vsts&tabs=new-nav#add-a-group-and-change-its-permissions-at-the-organization-or-collection-level-group.

[2018-12-04 00:35] #2481 closed

[2018-12-04 00:36] KathrynEE commented on #2487
@thekwilson - Thank you for the correction. I'm updating the article.

[2018-12-04 00:36] #2487 closed

[2018-12-04 00:44] KathrynEE commented on #2535
@youreeck - Thank you for your inquiry. This article addresses linking work items to various objects. Linking TFVC changeset to a build isn't covered here. I have a backlog item to address end-to-end traceability which will address other types of links. Meanwhile - this article may address tracking changesets: https://docs.microsoft.com/en-us/azure/devops/repos/tfvc/view-where-when-changesets-have

[2018-12-04 00:44] #2535 closed

[2018-12-04 00:46] #1490 closed

[2018-12-04 01:10] KathrynEE commented on #2213
@pthorsley - Thank you for the feedback. I have added a backlog item to update the content within the coming weeks.

[2018-12-04 01:10] #2213 closed

[2018-12-04 01:57] elbatk commented on #2560
I'm adding the twine installation step to the document as the first step, it should go live tomorrow. Thanks everyone!

[2018-12-04 01:57] #2560 closed

[2018-12-04 02:06] sdavis3 commented on #2614
I’m not sure I understand the question. If you use the Code Coverage Widgets extension from the marketplace there is no downloading of artifact since it uses the Rest API directly.

[2018-12-04 04:52] ksix commented on #2557
Hi @chcomley, not entirely sure you are correct that it is licensing only and not permissions also. There is an option with group rules to assign Project Membership at a particular permission level. There is a whole panel for it?

As for the users not being created until they login, sure? Although probably not the best or expected behaviour?

[2018-12-04 07:45] dubcdr commented on #2531
My project is having a similar issue. I thought I was going crazy. Someone I put it together and came here to see if anyone else had input

[2018-12-04 08:12] nkwolf opened #2637 "How to fetch certificates using Azure Key Vault task ?"
Can this task be really used to fetch certificates? When it runs, it only seems to download secrets. The service principal I'm using for the task has get;list permissions to both certificates and secrets. Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69ff8e50-4187-3622-1beb-155f006af5f5
* Version Indepe

[2018-12-04 08:28] spashx opened #2638 "No documentation about permissions for plans with TfS 2017"
Hi,
The documentation about permissions is missing for TFS 2017.
Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef517e1-f614-a2e5-d968-e32bdaac6183
* Version Independent ID: babf6a50-0147-74bb-0e20-b1939de397af
* Content: [Review team delivery plans - Azure Boards](https://docs.microsoft.com/en-us/azure/devop

[2018-12-04 09:10] yhvicey opened #2639 "Doc for multiple azure-devops pipelines in one repo"
I see there're multiple azure devops pipelines under [AspNetCore](https://github.com/aspnet/AspNetCore/tree/master/.azure/pipelines) repo but there seems no doc about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
*

[2018-12-04 10:09] GoshaNick commented on #2363
Does `/src/**/*.md` work?

[2018-12-04 14:08] SamirFarhat opened #2643 "Enable CORS for Storage Account access"
Hi,
The link you provided to enable CORS is generic.
What are the CORS settings that we should set to allow CORS requests from your domain. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59ea95e-b51a-e529-37a8-215e383c9a0b
* Version Independent ID: f1afdb0e-f090-3193-9bb8-ce5952016768
* Content: [Azure Resource

[2018-12-04 14:32] vtbassmatt commented on #2616
Hi @luyajun0205 - this doesn't sound like a doc bug. Please use the [support page](https://azure.microsoft.com/en-us/support/devops/) to get started with a support request for the product.

[2018-12-04 14:32] #2616 closed

[2018-12-04 15:02] pjquirk commented on #2536
There's no explicit sort for build Id, but since you're interested in build artifacts and they're most useful once the build has completed, I'd suggest using `finishTimeDescending` and getting the first build.

Thanks for pointing out the issue with the enum's descriptions, I'll look into resolving that.

[2018-12-04 15:21] StrikerRUS commented on #2536
@pjquirk Thank you for the information and suggestion!

The last question: what is the default sort behavior in REST API and in `task: DownloadBuildArtifacts@0` with `buildVersionToDownload: 'latestFromBranch'`?

[2018-12-04 17:37] JarekToro commented on #2569
Thank you it looks promising.

[2018-12-04 19:14] elbatk commented on #2433
I've added the aforementioned article to the docs:
https://docs.microsoft.com/en-us/azure/devops/artifacts/npm/npm-audit?view=vsts&tabs=yaml

Closing this for now! Looking forward to being able to remove the workaround doc ;)

[2018-12-04 19:22] TravisEz13 commented on #2363
I got an answer that currently the wildcard must be at the end (they answered me directly.)

[2018-12-04 20:01] steved0x commented on #2596
@chcomley When you get this sorted please ping me, there are some redirects going to that 404 that I need to fix up.

[2018-12-04 20:09] StingyJack opened #2644 "The URL's in the examples are all broken."
they should be "https://mytfsserver/tfs/DefaultCollection" if using SSL, or "http://mytfsserver:8080/tfs/DefaultCollection" where 8080 is the default port

Otherwise you will just get a big fat useless error and wonder why this doesnt work for you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f225bc86-a0d2-78d7-c060-

[2018-12-04 20:11] StrikerRUS commented on #2536
@pjquirk Thank you very much for your answers!

Where can I post a feature request for sorting order by IDs?

[2018-12-04 20:15] StingyJack opened #2645 "What parameters are required to find deleted but not destroyed builds?"
The retention policy ate one of the builds I need. I want to find the build to restore it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f225bc86-a0d2-78d7-c060-82abf1a65229
* Version Independent ID: 7e1f2e49-2130-f15d-f11c-6db5638c5355
* Content: [Builds](https://docs.microsoft.com/en-us/azure/devops/integrate/previou

[2018-12-04 21:03] alictai commented on #2557
Hi @ksix,

Azure DevOps includes group-based licensing for Azure Active Directory (Azure AD) groups and Azure DevOps group so you can assign an access level or extensions to a group. Resources in Azure DevOps are assigned to all members of the group. This enables organization administrators to easily automate their licensing policies.

The licenses are assigned upon users' first sign-in to the org

[2018-12-04 21:10] Abutu commented on #1916
@DeborshiSaha1988 I've sent you the HAR file sent  to debsaha@microsoft.com yesterday

[2018-12-04 22:06] liang2zhu1 opened #2646 "Specifics on validation we do"
WRT 'Azure Boards performs a check to ensure that you've entered a valid link.' - The link must be a repository integrated with the team project or the validation will fail, can you capture this in doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c82842d8-dd84-249f-cce1-9e93ecf703bf
* Version Independent ID: eaf9a29

[2018-12-04 22:08] pjquirk commented on #2536
Developer Community: https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-12-04 22:30] KathrynEE commented on #2347
@markarnolditpro - Thank you for the inquiry. An audit log of who has cloned repos is not a supported feature. I recommend that you add it to our [Suggest a Feature](https://developercommunity.visualstudio.com/content/idea/post.html?space=21).  Our product team is always interested in determining what our customers want audited.

[2018-12-04 22:30] #2347 closed

[2018-12-04 22:46] #2536 closed

[2018-12-04 23:57] konrad-jamrozik opened #2647 "How to determine if given Azure DevOps PAT token is valid for all accessible organizations?"
Please see my question I asked on public Stack Overflow: [How to determine if given Azure DevOps PAT token is valid for all accessible organizations?](https://stackoverflow.com/questions/53623171/how-to-determine-if-given-azure-devops-pat-token-is-valid-for-all-accessible-org)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-05 00:33] mtrtm commented on #2527
I second this.  Just trying to figure out how to delete a branch is impossible.  There is a DeleteRefFavoriteAsync() method - but good luck trying to figure out what a favorite id (int) is.  Where do I get that?  I just want to delete a branch.

[2018-12-05 00:35] mtrtm opened #2648 "Need sample of how to delete a branch"
Just looking for a sample of how to delete a branch.  I cannot find any documentation on these APIs or in the REST APIs.  I would accept either - just need to delete a branch using rest or c#, don't care which

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-fcb81bcb2257
* Version Independent ID:

[2018-12-05 04:36] konrad-jamrozik opened #2649 "What are the claims inside System.AccessToken? Can it be used to authorize the caller?"
I have a server-based [service-bus-based](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/authoring/servertaskauthoring.md) Azure DevOps extension, to which I pass OAuth token by having in its `task.json` entry like this (see the token at the bottom):

[code]

My back-end service is reading the message from the service bus, including the auth token. Can I authenticate and autho

[2018-12-05 08:59] Kaali09 opened #2650 "Azure artifacts with Universal package"
is there anyway to download the latest artifacts by using universal packages?

[2018-12-05 13:10] RaymsDev opened #2654 "Pipeline Build Html Code Coverage incorrect display"
I'm trying to display code coverage result generated by [istanbul.js](https://istanbul.js.org/), i have inline css in html file. I can't fit all the page height :

## Expected Result:
![image](https://user-images.githubusercontent.com/14817349/49514687-0efbd200-f895-11e8-9257-284be6dee024.png)

## Actual Result:
![image](https://user-images.githubusercontent.com/14817349/49514609-d6f48f00-f894-11e

[2018-12-05 13:28] LucaMahler opened #2655 "Ambiguous "unique feed""
Regarding your first point, "Each repository should have a unique feed"; do you mean that there should be a 1:1 mapping between repository and feed, or do you just want to make sure that a repository doesn't rely on more than one feed, thus you could use a feed for more than one repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-12-05 14:47] itaccounts-sw commented on #2608
This issue can be closed.

[2018-12-05 14:47] #2608 closed

[2018-12-05 15:20] vtbassmatt commented on #2649
I don't think System.AccessToken has a claim about the user who initiated the pipeline. Let me check with someone who's an expert, though.

[2018-12-05 15:22] davidsk opened #2657 "No description of "Run unit tests" in designer tab"
Selecting the designer tab of the "Run unit tests" step gives a short paragraph on publishing test and coverage results, there is no information on configuring the steps to perform the test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99686eb-6c78-0336-1ec3-802a53c9868d
* Version Independent ID: 6eaf1acb-24d4-5bb7-3

[2018-12-05 15:35] alexhomer1 commented on #2657
Thank you for your feedback. This is not a documentation issue. Product bugs, suggestions, and feature requests are best posted on the Developer Community website at https://developercommunity.visualstudio.com/spaces/21/index.html, where they are tracked by the product teams. Please post your suggestion there. Thank you.

[2018-12-05 15:35] #2657 closed

[2018-12-05 15:44] davidsk commented on #2657
I don't understand, can you please explain why?  It seems to me that content is missing.

[2018-12-05 17:41] chcomley commented on #2574
@ksix The documentation has been updated and should be live by sometime this afternoon. Thank you.

[2018-12-05 17:41] #2574 closed

[2018-12-05 18:18] saluce65 opened #2658 "Publish your packages Designer screenshot shows invalid positioning of NuGet push task"
In the [*Publish your packages*](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?view=vsts&tabs=designer#publish-your-packages) section of [**Publish to NuGet feeds**](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?view=vsts&tabs=designer), the screenshot for the Designer shows the `NuGet push` task in the wrong position.  The screenshot shows to pu

[2018-12-05 18:24] dmckinstry commented on #2594
Thanks @thommck and @steved0x - You are absolutely right.  We just noticed this internally as well and will pick it back up.

[2018-12-05 18:43] alexhomer1 commented on #2657
This feedback channel is to report issues with the online documentation. The pop-up help tips are built into the product, and as such need to be actioned by the product development team. I have notified them of your feedback, but I cannot implement changes within the product. Hence, I suggest using the "Product Feedback" feature that is also provided in every help topic.

[2018-12-05 19:16] jockerman-ipspark commented on #2655
I too would like to know the meaning of this best practice recommendation.

My organization has a set of internal libraries. Wherein each library is contained in an independent repository. Furthermore, these libraries are used across many consumer applications and possibly other libraries.

The original thought I had was to make a common feed to dump all of the internally built library packages. T

[2018-12-05 20:43] davidsk commented on #2657
I'm not reporting an issue with the product, or pop-up help tips, I'm reporting an issue with the online documentation here: https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/javascript?view=vsts&tabs=designer#run-unit-tests

The content of the [YAML tab](https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/javascript?view=vsts&tabs=yaml#run-unit-tests) contains exampl

[2018-12-05 22:38] stevefuzzy opened #2659 "GitHub Connections link missing from my Project Settings"
I'm using the new navigation, yet I do not see GitHub Connections button/link under Project Settings.
Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04afcda8-8a01-6fda-8387-778feaba9fea
* Version Independent ID: a0c518ee-dc43-42a6-07d9-150dfa8724c3
* Content: [Connect a project in Azure DevOps Services with a GitH

[2018-12-05 22:55] yevster opened #2660 "Simpler way of saving than changing branches"
Changing the build host appears to also force the build to save (and authorize resources), just as saving branches does. The former, however, does not require creating another resources and can thus be accomplished in fewer steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d5-4fb4-7c3e-b84abfa290c2
* Ver

[2018-12-06 01:33] anblanco opened #2661 "Can you convert an existing Visual Designer build to a YAML build?"
I can make a new build off of the generated YAML, but can I also convert an existing build to YAML in place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f7a23b-ebd4-af3e-68a2-275f7e45c33e
* Version Independent ID: f552a18c-ba29-00d4-03b6-254d7556d319
* Content: [Create your first pipeline - Azure Pipelines & TFS](

[2018-12-06 01:55] EthanWeber7 opened #2662 "Unable to connect with TFS git repository using ssh from local machine"
Previously, I was able to access our TFS git repository with ssh.  At some point today it stopped working.  To my knowledge, no settings were changed.  Here is the error I received.

`remote:
remote: Your Git command did not succeed.
remote: Details:
remote:         TF14045: The identity with type 'Microsoft.IdentityModel.Claims.ClaimsIdentity' could not be found.
remote:
fatal: Could not read fro

[2018-12-06 02:30] nschonni commented on #2662
https://developercommunity.visualstudio.com/spaces/22/index.html is a better place for a product issue

[2018-12-06 02:33] EthanWeber7 commented on #2662
Thanks

[2018-12-06 02:33] #2662 closed

[2018-12-06 03:17] nmangtani commented on #285
Here is how you can get agent pool at organization level
https://organizationname.visualstudio.com/_apis/build/Queues

Here is how you can get agent pool at project level
https://organizationname.visualstudio.com/projectname/_apis/distributedtask/queues

[2018-12-06 04:22] wdehrich opened #2663 "Grammatical Error"
Under 'Minimize Technical Debt', please change

A smart product owner works with their team to ensure there is time to pay off technical debt in every sprint.

to

A smart product owner works with his or her team to ensure there is time to pay off technical debt in every sprint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-06 05:36] blade-feng-wang opened #2664 "O365 domain account can't sign in"
I can't login using the Office365 domain account here, the error shows the microsoft account doesn't exist. But I can use my personal Microsoft account *@outlook.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2f260d-9321-d669-172d-01289c233263
* Version Independent ID: 14e9ae18-df9d-7555-902c-3e8b4c2b2f22
* Cont

[2018-12-06 05:57] konrad-jamrozik commented on #2649
Thanks @vtbassmatt, that's what I suspected.

[2018-12-06 06:04] konrad-jamrozik opened #2665 "How can I view my permissions programmatically?"
As in subject. Related question: [What are the claims inside System.AccessToken? Can it be used to authorize the caller?](https://github.com/MicrosoftDocs/vsts-docs/issues/2649)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8b2923-a3dc-7055-6550-d4943faa5a68
* Version Independent ID: fce8bd86-a25c-341e-5be4-61f19e4d

[2018-12-06 07:38] kishanparekh-techpartner opened #2666 "Minor correction in Section "Define your CD Pipeline""
Section "Define your CD Pipeline", item 8, please change "Shell Script" to "Bash" within Search text box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf8bb33-e4cf-3dc5-5510-1111b8f1bdbf
* Version Independent ID: 3148d97d-2ff1-30f5-0487-dbfe93888a3f
* Content: [Deploy a nginx web server on a Linux Virtual Machine -

[2018-12-06 09:36] BernieWhite opened #2667 "Update YAML sample to reflect non-alias properties"
Since `testResultsFormat` is an alias for `testRunner` and `buildConfiguration` is an alias for `configuration`, maybe the YAML sample can just show the non-aliased properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba91e46a-de53-c0c1-f7f7-c02e797d527c
* Version Independent ID: 6f478148-461f-694a-ed82-deb4d7318

[2018-12-06 10:36] alexhomer1 commented on #2657
I'll consult with the documentation team to add the appropriate content in the Designer tab.

[2018-12-06 10:38] davidsk commented on #2657
@alexhomer1 Thanks

[2018-12-06 10:54] alexhomer1 commented on #2358
Update to topic has now been submitted for publication.

[2018-12-06 10:54] #2358 closed

[2018-12-06 10:59] alexhomer1 commented on #2492
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 11:01] alexhomer1 commented on #2525
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 11:03] alexhomer1 commented on #2526
Thank you for your feedback. I have passed this on to the product team for attention.

[2018-12-06 11:07] teejam2 opened #2668 "Can't view Git repos"
Git repositories for my projects do not appear in Eclipse, but TFVC repos do:

![image](https://user-images.githubusercontent.com/27975947/49580495-f4823100-f946-11e8-868f-ff6d32550747.png)

![image](https://user-images.githubusercontent.com/27975947/49580546-154a8680-f947-11e8-90cd-00a714001461.png)

Is this a bug? Do I need to configure something?

[2018-12-06 11:08] alexhomer1 commented on #2528
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-12-06 11:08] #2528 closed

[2018-12-06 11:15] alexhomer1 commented on #2540
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-12-06 11:15] #2540 closed

[2018-12-06 11:15] alexhomer1 commented on #2541
Thank you for your feedback. Product suggestions and feature requests are best posted on the Developer Community website at https://developercommunity.visualstudio.com/spaces/21/index.html, where they are tracked by the product teams. Please post your suggestion there. Thank you.

[2018-12-06 11:15] #2541 closed

[2018-12-06 11:32] alexhomer1 commented on #2562
Thank you for your feedback. I will consult the documentation team and update the topic based on their response.

[2018-12-06 11:32] #2562 closed

[2018-12-06 11:34] alexhomer1 commented on #2566
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 11:34] #2566 closed

[2018-12-06 11:36] alexhomer1 commented on #2592
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 11:45] alexhomer1 commented on #2618
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 11:50] alexhomer1 commented on #2534
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 12:35] RolfEleveld commented on #2504
Export the yaml from the visual designer using view yaml (on the far right of the edit screen) copy the yaml and then paste that into a new file in the root of the git repository with name azure-pipeline.yml

[2018-12-06 12:50] RoopeshNair commented on #2566
They are default in the task and can't be overridden

[2018-12-06 12:54] RoopeshNair commented on #2466
Not out-of-the-box, however, user can add custom step in the build pipeline to trigger other pipelines using REST apis

[2018-12-06 12:54] #2466 closed

[2018-12-06 13:05] phatcher commented on #2466
@RoopeshNair  Can we have an example please, e.g. where do we get the PAT to pass etc

[2018-12-06 13:54] elmicka opened #2670 "Task group title not displayed in the UI"
Hello everyone
I have a little question about task groups in pipelines.
Let's say we have two tasks "TASK A" & "TASK B" in a job, and we make a task group "TASKGROUP AB" from those two tasks.
Now, in the job, we add two occurrences of this task group "TASKGROUP AB", and we give each one a specific name, let's say "AB1" & "AB2". when the pipeline runs and the job gets executed, we don't see anywher

[2018-12-06 14:09] vtbassmatt commented on #2665
@andyjlewis this isn't a pipelines question, it's for someone on the enterprise auth team to help with.

[2018-12-06 14:10] alexhomer1 commented on #2670
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-06 14:13] vtbassmatt commented on #2660
Thanks for the suggestion. The reason we don't document it that way is that often, you're adding a new resource in a new branch. If you change the host, it will reauthorize the resources used on the default branch, which won't catch the new one on the branch.

Real fix: make this auth stuff more explicit in the UI, which we're working on.

[2018-12-06 14:13] #2660 closed

[2018-12-06 14:31] #2597 closed

[2018-12-06 15:37] teejam2 opened #2671 ".symbols.nupkg -- isn't this now .snupkg?"
.symbols.nupkg -- The other article said this was deprecated in favor of .snupkg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6717bf11-8e32-75ac-8d60-87a984699acf
* Version Independent ID: 36ceecbc-50ec-d795-bede-289851cbceca
* Content: [Symbol files (PDBs)](https://docs.microsoft.com/en-us/azure/devops/artifacts/con

[2018-12-06 15:58] vSzemkel opened #2672 "vcpkg support for C++ project builds on Azure-Pipeline"
I'm using AppVeyor. They have a **vcpkg** preinstalled on build machines for quite a long time.
C'mon guys, this is MSFT orginated package manager. Add the support for this, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b0c082-81b3-79af-8841-8b3033dedf4a
* Version Independent ID: de8aab33-f9ef-0d8d-dbbc-49e2

[2018-12-06 16:25] andyjlewis commented on #2661
There's no automated way to convert a designer build to a YAML build. However, you can copy YAML to the clipboard from your designer build.

[2018-12-06 16:25] #2661 closed

[2018-12-06 16:35] #2612 closed

[2018-12-06 19:42] ExcaliburVT commented on #1224
Also verified.  Running TFS 2018.3 and cannot find any way to run Phases in parallel.  This is a serious issue for us as it is making our Releases run extraordinarily long.  Please advise when this is going to be resolved for on-prem or a workaround?

[2018-12-06 20:03] markfields opened #2673 "Work Item Template Management instructions are slightly off"
https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/work-item-template?view=vsts&tabs=browser#manage-work-item-templates

It says "Expand Work and choose Team configuration. " but for me it's under "Boards" not "Work".  And the screenshot doesn't show the list of settings containing these options, but that would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-12-06 20:13] sethalicious opened #2674 "Create a visual designer from a yaml file"
Using the visual designer is way easier than configuring a yaml file. I'd love to (at least) be able to import a yaml pipeline and get the visual designer loaded. That way, I can edit my pipeline in the visual designer and then export it back out to a new yaml file.

Even better, we can have the visual designer work with our yaml pipelines under source control. Switching branches reflects the chan

[2018-12-06 20:19] andyjlewis commented on #2674
Please request features here: https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-12-06 20:19] #2674 closed

[2018-12-06 20:41] brunoborges opened #2675 "Needs proper working examples for Java Tool Installer (for Windows/Mac/Linux)"
This task is impossible to use without a working example for all three operating systems. The documentation does not cover the intrinsic details of where the JDK archive (ZIP/TAR.GZ) will be placed, where it will be extracted, how JAVA_HOME will be set, and how it can be used later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-12-06 20:48] Naphier opened #2676 "Does the migration still not init git-lfs? How to migrate work boards?"
We were just testing this out on a small repository and all of our image binaries seemed to come over just fine (nothing more than a 5MB).  So these are probably not tracked by LFS, but not a problem for our small project we migrated. It'll be a bigger problem with larger projects. Does the Git-tfs tool help with this (I'm not seeing any info on that in the github repo).  Also worried that git-tfs

[2018-12-06 21:34] tt122746388 opened #2677 "a0923930645@gmail.com"
a0923930645@gmail.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022fb627-3fc3-e748-8431-a4597bb27ad5
* Version Independent ID: 0b56992a-b121-6095-5a60-65548fdd5a3b
* Content: [Set permissions and access for work tracking - Azure DevOps & TFS](https://docs.microsoft.com/en-us/azure/devops/organizations/security/set

[2018-12-06 21:39] Hesamedin opened #2678 "How to run the yaml file locally?"
Is it possible to run the yaml file, CI, locally the way Bitrise.it does?

[2018-12-06 23:55] MattMencel opened #2680 "Variable Group YAML Syntax"
The documentation for variable groups in YAML just references one group.  Is it possible to have several as well as some single variables?

I know this doesn't work...

[code]

[2018-12-07 01:52] eddylu94 opened #2681 "Default pull request templates only appear when checked into master branch"
From personal experimentation, it seems that VSTS pull request description fields are pre-populated by the default pull request template after the template has been checked into the master branch of the repository; whereas if the template is only checked into branches other than the master branch, then the pull request description fields remain empty. Is this the expected behaviour?

---
#### Docu

[2018-12-07 04:23] ericnewton76 opened #2682 "How to properly configure Get Sources for TFVC when Triggers > Path filters includes $/Project/Main and $/Project/Features/*"
This is confusing on the TFVC Get Sources screen...

Type     Mapping                           Local Path
Map v   [$/Project/Main            ]   [                                    ]

this will work fine when a changeset is committed for $/Project/Main... but what about when a changeset is committed in $/Project/Features/* branch?  How do you get sources properly for that situation?

Triggers an

[2018-12-07 05:00] DonisMarshall opened #2683 "Fabrikam Fiber"
The Fabrikam Fiber project is referenced in various documentation on Azure Devops from Microsoft, including this document.  What are the steps to import that project into Azure Devops?  That would be a great asset in reviewing and improving the learning experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ce0e0

[2018-12-07 06:50] eriawan commented on #2353
@alexhomer1

Any updates on this issue? Please confirm.
It's been a month, without any updates...

cc @azooinmyluggage @vijayma

[2018-12-07 08:34] simonness opened #2691 "Are build variables supported in trigger paths?"
I have a monorepo where I'd like to share a generic pipeline yaml file amongst several projects.

Builds do not seem to automatically trigger correctly if I use the following yaml:

[code]

Where `projectName` is a variable manually defined on the pipeline after its creation.  If I replace `$(projectName)` for the actual folder name in the yaml automatic triggers work as expected.  Are build varia

[2018-12-07 12:52] StefanSchoof opened #2694 "Right syntax for only path trigger"
I want to have a trigger on every branch in one folder. Having this:
[code]
results in no trigger. I need to do a:
[code]
But the [VSCode Azure Pipelines Extension](https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines) says now  to the branches include "`String does not match the pattern of \"^[^\\/~\\^\\: \\[\\]\\*\\\\]+(\\/[^\\/~\\^\\: \\[\\]\\*\\\\]+)*(\\/\\*)?$\"

[2018-12-07 12:54] chilakamarthi opened #2695 "How to get Version 2.*"
Hi,

In our VSTS I see only Version 1.*. How to get Version 2.* Does it need to install any updates? Our Microsoft Visual Studio Team Foundation Server Version is 15.117.27414.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cddddb9-2731-3366-2a76-9089b58d7f96
* Version Independent ID: b34de428-c3d2-14d6-a452-302c68b7

[2018-12-07 13:41] PatrickGrub commented on #2587
On the [Conditions[https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=vsts&tabs=yaml) page it says to use `condition:` after the `job`, but the initial question is about a condition on a `task`.

Do you mean I can use the `condition` on a `task` the same way like on the `job`?

### Same here "I need to run a publish test results task even when a test fails."

[2018-12-07 14:05] vtbassmatt commented on #2587
I just completed a PR to fix the original issue (with the tasks topic). I can also see how the conditions topic is confusing; will think about ways to improve.

[2018-12-07 14:05] #2587 closed

[2018-12-07 15:08] bondido opened #2696 "Deployment group target tags maximums"
Are there any constraints about tagging deployment group targets?
What is the maximum numer of tags?
What is the maximum length of single tag?
Any other limitations?

[2018-12-07 16:31] fiyinad opened #2697 "Typo"
please search for the following line: _The first step is to create the folder structure for the task and **intall** the required libraries and dependencies._

[2018-12-07 16:43] seelamk opened #2698 "The request was aborted: Could not create SSL/TLS secure channel"
Facing said error while executing Load test for HTTPS based application by using HAR file.
Is there a solution to overcome this issue to a load test (HAR based) for https://xxxxx.com?

Stack Trace:
at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
 at Microsoft.VisualStudio.TestTools.WebStress.WebTestTransaction.ResponseReceived(IAsyncResult result)

We are able to resolve this

[2018-12-07 16:45] seelamk opened #2699 "cloud based load test for HTTPs enabled web site"
I have used private rig for load testing.. but i am seeing below error with "The request was aborted: Could not create SSL/TLS secure channel.

at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
 at Microsoft.VisualStudio.TestTools.WebStress.WebTestTransaction.ResponseReceived(IAsyncResult result)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-12-07 16:51] alexhomer1 commented on #2698
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-07 16:51] alexhomer1 commented on #2699
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-07 19:28] adhishchugh opened #2700 "Adding correct build service identity to feed"
Hey, when I try to deploy a maven build jar to a feed, I get a 401 unauthorized error. I've selected the "Authenticate built in maven feed" parameter. Is there anything else I need to do?
Is there any documentation on adding the correct build service identity to the feed?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-07 21:30] konrad-jamrozik commented on #2665
Unfortunately, there is no API for viewing PAT token permissions, according to [Justin's answer](https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/138#issuecomment-445068798). Closing this thread.

[2018-12-07 21:30] #2665 closed

[2018-12-07 21:31] konrad-jamrozik commented on #2649
Unfortunately, there is no API for viewing PAT token permissions, according to [Justin's answer](https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/138#issuecomment-445068798). Closing this thread.

[2018-12-07 21:31] #2649 closed

[2018-12-07 21:55] eddylu94 opened #2702 "Users should be allowed to replace non-edited default pull request templates"
Currently, VSTS pull requests only allow a user to "append" the description field when adding an alternative pull request template from the "Add a template" drop-down. However, there exists a common scenario in which a user creates a new pull request with the intent of using an alternative pull request template other than the default template. For this scenario, the user has to manually clear the

[2018-12-07 22:11] rguthriemsft opened #2703 "It would be good to include a link to creating NuGet packages for the project so you are setup to take advantage of Artifacts."
Not sure where best to put it but it would be good to have a link to https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a10a409-5468-9532-f0dc-5a28cdd566d8
* Version Independent ID: 2ef20266-bc45-448b-27f5-e5c3bffed2ef
* Content: [Get St

[2018-12-08 00:59] Wil73 opened #2704 "Branch on server is necessary?"
I keep seeing these examples where a user creates a local branch and commits the branch to the server.  After this, the user merges the branch on the remote server to the remote master.  What is the point of this? Why not just push directly to the remote master and be done with it?  What on earth is the point of pushing the branch?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-12-08 06:33] zvory opened #2705 "confused trying to get artifact from a build"
i am trying to figure out how to just like, get an artifact from a build (or is it a pipeline?) into my hands, and i am very confused as to how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9cc6a2f66
* Version Independent ID: bdf954b9-9bbe-8b34-b674-71ad8153519d
* Content: [Publi

[2018-12-08 07:04] aensidhe opened #2706 "I need to test against .net core 1.0, 1.1, 2.0, 2.1, 2.2."
I have open source project. For build we need to use .net core sdk 2.2, for tests I need .net core runtimes: 1.0, 1.1, 2.0, 2.1, 2.2.

How can I install several runtimes and/or sdks with this tool?

[code]

That does not work.

If I install sdk first, runtime later - it does not work too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-12-08 13:17] StingyJack opened #2708 ""OM"?"
I'm guessing this means Object Model?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa4b52-1f5c-11c5-329b-2526613833fa
* Version Independent ID: 6d1fb152-1612-a0ec-06fc-4ea2e2135541
* Content: [Deprecation of the Work Item Tracking (WIT) and Test Client OM - Azure DevOps](https://docs.microsoft.com/en-us/azure/devop

[2018-12-08 13:41] cbitter78 commented on #1691
Why cant you just publish the needed webhooks that are configured in GHE.   And then I can manually configure my GHE.  This would be an outbound to the internet call which in most GHE setups is allowed.   And no firewall or agent is required.

[2018-12-08 14:28] StingyJack opened #2709 "The example urls do not work"
most of them 404.

As an example, Ive tried the query in various combinations...

- `https://onpremserver.domain.com/_apis/notification/subscriptionquery` - per example
- `https://onpremserver.domain.com/tfs/_apis/notification/subscriptionquery` - what the examples used to have for on prem
- `https://onpremserver.domain.com/tfs/DefaultCollection/_apis/notification/subscriptionquery` - with the col

[2018-12-09 07:48] MariusVolkhart opened #2712 "Add guidance on symbols when not using Team Build"
We're using a "plain old" run-msbuild-from-command-line setup. We want private symbols on Azure Artifacts. Is that supported? If so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6717bf11-8e32-75ac-8d60-87a984699acf
* Version Independent ID: 36ceecbc-50ec-d795-bede-289851cbceca
* Content: [Symbol files (PDBs)](ht

[2018-12-09 12:01] SamirFarhat opened #2713 "Stage general options"
I think we mean '''Stage owners are not automatically assigned any additional permissions.' instead of ''Stage owners are not automatically assigned any addition permissions.''

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4266f72c-c774-0046-4593-d01eb775d3c3
* Version Independent ID: f20827aa-a6c5-96a8-5969-e576ffbc2

[2018-12-09 23:07] anishkny commented on #2705
@zvory sorry you feel this way. What do you have so far?

As this doc says, if the files you want to download are in a folder named say "some_folder", add this to the steps of your "azure-pipelines.yml" file:

steps:
- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'artifactName'
    targetPath: 'some_folder'

[2018-12-10 02:52] cixelsyd commented on #2287
I was able to get this working by using relative paths.  Note, [the documentation does state](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=vsts) that the relative path must be inside the same project as the parent git repo.  I used this from a private build agent, so even though the path is relative, it still correctly finds and checks out the repo fr

[2018-12-10 05:50] cbfrank opened #2715 "Term inconsist between the "phase" and "job""
Are "job" is the new name of "phase" in azure build pipeline? All azure build pipeline documents about Yaml use "job", but the exported Yaml of an existing azure build pipeline (created with the visual disigner) use "phase" in Yaml.
It a little confused for a beginner which want to learn the Yaml from an existing build pipeline.

[2018-12-10 07:47] joukevandermaas commented on #2659
Also missing for us.

[2018-12-10 10:36] SychevIgor commented on #1624
nothing had changed for 3 months

[2018-12-10 10:36] #1624 closed

[2018-12-10 10:37] SychevIgor commented on #1623
nothing had changed for 3 months

[2018-12-10 10:37] #1623 closed

[2018-12-10 14:19] #2623 closed

[2018-12-10 14:26] antmeehan opened #2716 "Pre-defined variable for draft pull requests"
Is there a pre-defined pipline variable I can use to determine whether the pull request is in a draft state? My use case is that I don't want to publish assets if I know the PR is still in draft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version Independent ID: 1a6fdbe7-5ba4-

[2018-12-10 15:57] steved0x commented on #2702
@eddylu94 That is a great feature idea. I am going to pass that along to the product team. Feature requests and product feedback carry more weight when they come directly from customers, so if you had a moment, please file your request here and it will go straight to the team: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-12-10 15:57] #2702 closed

[2018-12-10 15:58] steved0x commented on #2697
@fiyinad Thank you for the feedback, we'll get this fixed soon in @nschonni pull request.

[2018-12-10 15:58] #2697 closed

[2018-12-10 16:01] steved0x commented on #2696
@bondido I have assigned this issue to the author of this article, which has several mentions of tag with regard to deployment groups.

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deployment-groups/?view=vsts

If there is a different article that better represents your question, please let us know and if it is a different author, we will get this over to them.

[2018-12-10 16:05] steved0x commented on #2681
@eddylu94 Hi Eddy, yes, this is the expected behavior. I will make an update to the article to see if I can clarify that. If you think it would be a good idea to use other branches (such as you describe above where your source branch has a pull request template) you can file it with the product team here:

https://developercommunity.visualstudio.com/spaces/21/index.html

I'll get that article upda

[2018-12-10 16:05] #2681 closed

[2018-12-10 16:06] Wil73 commented on #2704
Or you could just wrap your changes in a toggle defaulted to OFF.  Problem solved.

Again i fail to see the need for all this branching...

[2018-12-10 17:02] steved0x commented on #2683
@DonisMarshall This is a great question, and unfortunately there is no way to import the Fabrikam Fiber projects we use for screenshots and sample documentation.

However, check out the Azure DevOps Services demo generator:

https://docs.microsoft.com/en-us/azure/devops/demo-gen/use-demo-generator-v2?view=vsts

I think this may be able to provide the same benefit as importing the Fabrikam Fiber pr

[2018-12-10 17:06] chcomley commented on #2647
Hi @konrad-jamrozik,
I've copied and pasted the answer from StackOverflow at the bottom of this comment, for your reference. Yes, you can test whether a PAT has access to an organization by checking the projects API, but that doesn't say what kind of access it has. Please let me know if you have further questions. Thank you.

There's no API that I know of that validates a PAT or otherwise tells yo

[2018-12-10 17:07] #2647 closed

[2018-12-10 17:08] chcomley commented on #2596
Thanks for your patience, @wgv-srsedate. The fix has been published. Thank you!

[2018-12-10 17:08] #2596 closed

[2018-12-10 17:16] alexhomer1 commented on #2696
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-10 17:18] alexhomer1 commented on #2713
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-12-10 17:18] #2713 closed

[2018-12-10 17:22] #2571 closed

[2018-12-10 17:22] alexhomer1 commented on #2715
Thank you for your feedback. Yes, the term "phase" is being replaced by "job". There may still be references to phases in some parts of the product, especially in previous releases of Team Foundation Server.

[2018-12-10 17:22] #2715 closed

[2018-12-10 18:44] mehagar commented on #2659
Also missing for us.

[2018-12-10 19:08] zvory commented on #2705
okay, i wanted to get the binary my pipeline was building, so i was specifying the file i wanted published. which meant when i tried to use this task, it was failing because you can only publish directories, and not files.

i should note that it's pretty unclear what this task does, `Publish` could mean anything here, when i tried this task it was because "all the other tasks didn't work, lets try

[2018-12-10 20:16] steved0x commented on #2668
@teejam2 It sounds like it might be a bug - the issues in the repo are for reporting documentation issues - can you report this bug here:

https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you for the feedback.

[2018-12-10 20:16] #2668 closed

[2018-12-10 20:19] OXINARF commented on #2341
Just documenting that besides these differences, the old build artifacts are downloadable for public projects, but the new pipeline artifacts aren't. This might be related to the zip feature, given that the Artifact Explorer isn't available for anonymous access even for old build artifacts (would be nice to get it though).

[2018-12-10 20:19] steved0x commented on #2664
@blade-feng-wang Sorry that you ran into trouble. Thank you for your feedback. The issues in this repo are for content feedback, and this sounds like a product feedback or a bug. For product feedback, including feature requests or bugs, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

If this turns out to be a documentation issue, I will get this article

[2018-12-10 20:19] #2664 closed

[2018-12-10 20:21] steved0x commented on #1916
@Abutu I'm closing this issue since it sounds like you are working directly with @DeborshiSaha1988 - please feel free to reopen this issue if needed. Thank you.

[2018-12-10 20:21] #1916 closed

[2018-12-10 20:22] steved0x commented on #2449
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

[2018-12-10 20:22] #2449 closed

[2018-12-10 20:22] steved0x commented on #2473
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

[2018-12-10 20:22] #2473 closed

[2018-12-10 20:22] steved0x commented on #2484
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

[2018-12-10 20:22] #2484 closed

[2018-12-10 20:32] steved0x commented on #2601
@alexhomer1 Do you know any details about this, or know who might?

[2018-12-10 21:33] chcomley commented on #2558
Hi @ksix Thanks for your patience on this. They are automatically re-run every 12 hrs. I've created a work item to have this added to the documentation. Thanks again!

[2018-12-10 21:33] #2558 closed

[2018-12-10 21:35] BrickOven opened #2717 "2 types of links to remote work items not 3"
Hi - minor correction
In this section
[Link to a remote work item
](https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/add-link?view=vsts&tabs=browser#link-to-a-remote-work-item)
Text is: Choose from one of the following **three** remote link types supported.
Text should be: Choose from one of the following **two** remote link types supported.

There are only two items in the list below

[2018-12-10 21:51] BrickOven opened #2718 "What permissions are required to create links"
I can't find anywhere in the documentation the permissions required to create a parent/child link to a work item in another project. The user only requires change in the project where they are creating a link. They can successfully create a link even if they only have read in the project they are linking from.

Since the link information shows up on work items I was thinking contributor would be r

[2018-12-10 22:13] steved0x opened #2719 "Test feedback issue"
This is a test feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc40b8e-8a81-8213-d98e-a2c39d615f14
* Version Independent ID: 6d175def-aa48-ff2a-614f-4e9cf3324537
* Content: [Get started with Git and Visual Studio 2017 - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/gitquickstart?view=vst

[2018-12-11 00:26] Anand-Moghe opened #2720 "Default permission for Subscriber"
When I register with Azure DevOps, what default level permission do I get ?
Do I have super user/admin level privileges and permission by default automatically?

[2018-12-11 00:35] Anand-Moghe commented on #2720
Looks like one can check the default permission by going to Organization -> Security.

[2018-12-11 00:35] #2720 closed

[2018-12-11 02:27] phil-lgr opened #2721 "General confusion"
I read:

"Installing the Cordova Build task
To setup a Cordova build in Azure Pipelines or TFS 2015, you will need to install the Cordova Build task in your collection.

Azure Pipelines: Simply install the VSTS Extension for Cordova."

Ok and then what? I installed it, but I don't see a cordova option anywhere in Azure Pipelines? :(

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-12-11 02:36] phil-lgr commented on #2721
I don't understand how the Cordova build is supposed to be accessed? Do I need VS Studio?

[2018-12-11 05:53] PBoraMSFT commented on #2699
@seelamk - If the website you are trying to test uses TLS 1.2, then that is not supported by default. You will need to create a webtest plugin [link](https://social.msdn.microsoft.com/Forums/vstudio/en-US/bc3ebf23-575d-4e54-bd6b-a1ed87fe5213/web-performance-test-is-not-working-with-tls12-enabled) to use TLS 1.2.

If your question is not related to TLS 1.2, please log a bug on the [developer commun

[2018-12-11 05:53] #2699 closed

[2018-12-11 05:54] PBoraMSFT commented on #2698
@seelamk - no, this is currently not supported for HAR based tests.

[2018-12-11 05:54] #2698 closed

[2018-12-11 06:34] harishkragarwal commented on #2618
@changeworld: I am failing to understand the issue at hand here i.e. which page is not loading for you. Kindly elaborate. If it involves any info that should not be public then shoot an email to devops_tools@microsoft.com so that we can take a deeper look.

[2018-12-11 06:40] rschindhelm-haba opened #2723 "What are the consequences when enabling and later disabling Features and Epics?"
I'm wondering if those hierarchy levels can be enabled and disabled at any given time and what the consequences would be.
Any insights on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13e0835d-3a94-c06c-8e38-e22598884b26
* Version Independent ID: b19ea878-26f8-7607-9a63-9846e0ab511b
* Content: [Select backlog na

[2018-12-11 07:47] fakhrulhilal commented on #712
I have the same issue with my on premise TFS 2018.3. I try to download using VS 2017 15.9.3, the error occurs with the following message:

[NugetKeyName] Unable to load the service index for source https://on-premise-server/tfs/[ProjectCollection]/_packaging/[FeedName]/nuget/v3/index.json.
  Response status code does not indicate success: 401 (Unauthorized).

It prompts when downloading for the fi

[2018-12-11 07:58] loic-sharma opened #2724 "How to use latest version of nuget.exe?"
I have a NuGet task that pushes my nupkg and snupkg to nuget.org. It seems that the default nuget.exe on Azure DevOps is nuget.exe v4.1, which cannot push snupkg files (nuget v4.1 client incorrectly pushes the snupkg as a nupkg, causing nuget.org to return an HTTP 409 response). How can I use nuget.exe 4.9.1 to do an authenticated push to nuget.org on Azure DevOps? Thanks!

---
#### Document Detai

[2018-12-11 08:14] mikederksen commented on #2604
In the example-json for the task.json it says:

"categories": [
        "Azure Pipelines"
    ],

When deploying this to the marketplace, I'm given the error "The task.json for contribution buildAndReleaseTask could not be deserialized.Unexpected character encountered while parsing value: [. Path 'category', line 7, position 17"

Changing the category to "category": "Azure Pipelines" fixes this is

[2018-12-11 08:15] mikederksen opened #2725 "Category"
In the example-json for the task.json it says:

"categories": [
"Azure Pipelines"
],

When deploying this to the marketplace, I'm given the error "The task.json for contribution buildAndReleaseTask could not be deserialized.Unexpected character encountered while parsing value: [. Path 'category', line 7, position 17"

Changing the category to "category": "Azure Pipelines" fixes this issue

---
###

[2018-12-11 08:57] khenzar opened #2726 "Editing user profiles from admin side?"
Is there a way for org admins to edit user profiles (e.g. change their preferred e-mail address) from Organizaiton Settings page? If yes maybe it should be mentioned in the article.
This would be preferred instead of asking individual users to do these changes (not a good experience for new users).
For example in a case of AAD users, when you know their default e-mail addresses are in fact just pr

[2018-12-11 08:58] PBoraMSFT commented on #2654
@RamysDev - thank you for reporting the issue. This is a known issue with rendering in Chrome browser that was fixed and deployed last week. The new bits should reach you any day now, if they aren't already available in your Azure DevOps organization.
If you continue to see this bug, please feel free to reopen the issue.

[2018-12-11 08:58] #2654 closed

[2018-12-11 09:12] DalpheSDC opened #2727 "Missing info about how to fire an event like refresh from your extension within a workitem extension"
Hi

we are missing information how to interact with a work item event. Like firing an event like refresh or save from the extension.

regards

Peter Dahl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e5d359-480e-bb6d-04d9-45510ae3788b
* Version Independent ID: 06b2073e-795e-d7ce-6112-9610509e2000
* Content: [Extend

[2018-12-11 09:18] khenzar commented on #2726
For reference, below is a couple of examples of the issue I mentioned in the original post:
https://developercommunity.visualstudio.com/content/problem/303833/user-not-receiving-email-notifications.html
https://developercommunity.visualstudio.com/content/problem/318531/emails-not-sent-to-contact-email.html
https://developercommunity.visualstudio.com/content/problem/378458/notifications-are-sent-to

[2018-12-11 12:45] RoopeshNair commented on #2643
@SamirFarhat - please post your suggestions on [DeveloperCommunity](https://developercommunity.visualstudio.com/spaces/21/index.html) so that it gets prioritized appropriately.

[2018-12-11 12:45] #2643 closed

[2018-12-11 12:54] PBoraMSFT commented on #2497
@saikrishnav - this is not a doc issue, but an ask on the task itself. Can you please log an issue on the [tasks repo](https://github.com/Microsoft/azure-pipelines-tasks), so we can track it there?
I am closing this one out.

[2018-12-11 12:54] #2497 closed

[2018-12-11 14:45] andyjlewis commented on #2639
Not sure I understand the issue. We do have docs on using Azure Pipelines with ASP.NET Core: https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/dotnet-core. If you have questions or requests for info about https://github.com/aspnet/AspNetCore/tree/master/.azure/pipelines, please open a PR or issue over there.

[2018-12-11 14:48] yhvicey commented on #2639
No, I'm not talking about "Using Azure Pipelines with ASP.NET Core", but "Using multiple Azure Pipelines within one git repo". The ASP.NET Core repo link here is a example repo, because it contains multiple Azure Pipelines.

[2018-12-11 14:49] andyjlewis commented on #2678
Hi @Hesamedin. There's no way to do that at the moment.

[2018-12-11 14:49] #2678 closed

[2018-12-11 14:55] grayjeremy commented on #1966
The documentation seems to be updated with a purple warning that indicates this isn't applicable for YAML...it looks like this issue can be closed.

[2018-12-11 14:57] #1966 closed

[2018-12-11 14:58] andyjlewis commented on #2639
I see. OK, yeah, I think there's a bit of a hole

[2018-12-11 15:40] ohelin2 opened #2728 "On-premise GitHub compatibility"
Is it possible to connect an on-premise GitHub repository with Azure DevOps ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 04afcda8-8a01-6fda-8387-778feaba9fea
* Version Independent ID: a0c518ee-dc43-42a6-07d9-150dfa8724c3
* Content: [Connect a project in Azure DevOps Services with a GitHub reposi

[2018-12-11 15:49] vtbassmatt commented on #2680
Great feedback, I'll get this fixed. You can use this:

[code]

[2018-12-11 16:01] Abutu opened #2729 "Opening a solution in VS test pro 2017"
There is a steps of Associating your test
"Open your solution in Visual Studio 2017 Enterprise, Professional, or Test Professional, or a later version."
https://docs.microsoft.com/en-us/azure/devops/test/associate-automated-test-with-test-case?view=vsts

Can you actually open a solution on VS 2017 Test Pro? There is only a thick client MTM but couldn't find a VS IDE.

---
#### Document Details

⚠

[2018-12-11 16:23] vijayma commented on #2534
@jeevaeastpoint Can you clarify your question? You can certainly set up a multi-stage pipeline for any app.

[2018-12-11 16:30] jeevaeastpoint commented on #2534
@vijayma The idea is to have one build definition to build the xamarin app and when it comes to the release pipeline, need to distribute the same app but build in different build configuration i.e. Dev -> Debug, UAT- > Release & Prod -> Release. My guess is that to supply the release pipeline with required app builds is to build the app in both debug and release pipeline and then source it to diff

[2018-12-11 16:50] #2705 closed

[2018-12-11 17:21] vtbassmatt commented on #2680
Fix is set to publish today.

[2018-12-11 17:21] #2680 closed

[2018-12-11 17:52] KathrynEE commented on #2717
@BrickOven - Thanks for the correction. Article is getting updated.

[2018-12-11 17:52] #2717 closed

[2018-12-11 18:07] KathrynEE commented on #2673
@markfields - Thank you for the correct. The article is getting updated.

[2018-12-11 18:07] #2673 closed

[2018-12-11 18:11] KathrynEE commented on #2659
@stevefuzzy, @joukevandermaas - As new features are released on Azure DevOps Services, it can take up to 3 weeks for them to roll out to all cloud servers. If the feature doesn't show up by 12/25, please contact [support](https://azure.microsoft.com/en-us/support/devops/).

[2018-12-11 18:11] #2659 closed

[2018-12-11 18:41] greggboer commented on #2614
There are [2 code coverage widgets on the marketplace](https://marketplace.visualstudio.com/search?term=code%20coverage&target=AzureDevOps&category=All%20categories&sortBy=Relevance).

They might work for you. However, there are no Azure DevOps out-of-box widgets that do code coverage.

[2018-12-11 18:52] KathrynEE commented on #2646
@liang2zhu1 - Thank you for the feedback. Article is getting updated.

[2018-12-11 18:52] #2646 closed

[2018-12-11 18:56] KathrynEE commented on #2633
@Mini-Geek - Thank you for the correction. The article is getting updated.

[2018-12-11 18:56] #2633 closed

[2018-12-11 18:59] KathrynEE commented on #2614
@rizwaans - Thank you for the inquiry. I'm closing this issue as answered.

[2018-12-11 18:59] #2614 closed

[2018-12-11 19:01] KathrynEE commented on #2334
@jesuscampos - Thank you for the inquiry. The product team is working on the issue. I'm closing this as answered

[2018-12-11 19:01] #2334 closed

[2018-12-11 19:07] KathrynEE commented on #2222
@Arithmomaniac - Thank you for this feedback. The article is getting updated.

[2018-12-11 19:07] #2222 closed

[2018-12-11 19:12] shivanaru commented on #1772
How did you resolve this? Having similar issue. Thanks!

[2018-12-11 19:58] nschonni commented on #2729
Also from https://visualstudio.microsoft.com/vs/pricing/ for Test Professional

[2018-12-11 22:03] steved0x opened #2730 "Test issue for new issue template"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2018-12-11 22:03] #2730 closed

[2018-12-11 23:47] Crossbow78 commented on #733
When executing either a 'command' or 'inline script', the deployment step never finishes.

I can see on the remote machine that the command gets executed successfully, and upon cancelling the 'hanging' deployment step its logs also show the expected output.

What could this step is waiting for?

[2018-12-11 23:59] schroerbrian commented on #1491
I haven't been able to use the key when trying to clone a target repo from bitbucket. When testing on my local machine, I'm able to use the same key to clone the target bitbucket repo. Running `ssh-add -L` lists the key and cat'ing known_hosts displays "bitbucket.org"; however when trying to clone the target bitbucket repo, I get a "Host key verification failed." error.

[2018-12-12 01:36] geofflamrock opened #2731 "Windows: Registration script does not work behind proxy"
Hi,

I'm not sure if this is the correct spot to raise this, apologies if it is not.

The registration script for powershell in Windows that gets shown in a deployment group doesn't work when the user is behind a proxy, it detects the proxy ok but the download of the agent zip file fails as the credentials are not set properly on the proxy.

Adding `$WebClient.Proxy.Credentials =[System.Net.Creden

[2018-12-12 03:36] yaananth commented on #2114
please make sure the service endpoint points the right URL.
We set that based on how you configure the end point.
Eg:
![image](https://user-images.githubusercontent.com/12280011/49845558-29521600-fd95-11e8-8ab7-7c3df8638302.png)

We shouldn't be allowing such URL, we are fixing that.

[2018-12-12 03:51] zankhanarana9 commented on #2573
That's true. Having some use case would be good.

[2018-12-12 06:41] qualmon opened #2733 "Use multiplier variable in Custom condition"
In the Custom condition of a Phase, can we reference a multiplier variable? For example, given a user variable 'myvar' specified as a multiplier on the Phase, with the values 'foo, bar'. Can we somehow use variables['myvar'] or similar to get the value 'foo' in the first instance of the phase and 'bar' in the second?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-12-12 09:12] adriangodong opened #2734 "App title is confusing"
Is the app title "Azure DevOps Services" (as in the step 2) or "Visual Studio Team Services" (as in the step 2's image) -- apparently the image won. Please fix so we can find the app easily.

And the issue below is still valid -- the screenshot is way outdated. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-12 09:32] Knnthra opened #2735 "No delete option"
I don't have the option to delete the repo, I can only rename it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03af1d9-4eeb-ac18-d517-a0a44a2478be
* Version Independent ID: 842691c8-8c41-facf-2cff-03542262f2e5
* Content: [Delete a Git repo from your project - Azure Repos](https://docs.microsoft.com/en-us/azure/devop

[2018-12-12 10:24] alexhomer1 commented on #733
Thank you for your feedback. Product bugs, issues, suggestions, and feature requests are best posted on the Developer Community website at https://developercommunity.visualstudio.com/spaces/21/index.html, where they are tracked by the product teams. Please post your feedback there. Thank you.

[2018-12-12 10:24] #733 closed

[2018-12-12 10:40] paulmarshall opened #2736 ""Administer account features" link is broken"
Clicking on this link does nothing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db47b85-e178-7969-40d3-3fa83aa3fb54
* Version Independent ID: a78e453b-4b8f-c885-42ee-8a9d9979f345
* Content: [What access levels are supported? - Azure DevOps & TFS](https://docs.microsoft.com/en-us/azure/devops/organizations/security/a

[2018-12-12 10:40] alexhomer1 commented on #2635
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-12 10:42] alexhomer1 commented on #2637
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-12 10:45] alexhomer1 commented on #2667
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-12-12 10:56] turibbio opened #2737 "Duplicated tabs"
In "View your personal notifications" section I see 2 previous version tab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2fdc7bf-dd88-5f39-cfaf-77dca428990e
* Version Independent ID: c939066c-c671-7f50-3ba3-9916b0f4cd4c
* Content: [Manage personal notification settings - Azure DevOps](https://docs.microsoft.com/en-us

[2018-12-12 10:58] turibbio opened #2738 "Undefined content"
I see "::: moniker-end" before "Choose the category and template you want to use. For a list of supported templates, see Default and supported notifications."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2fdc7bf-dd88-5f39-cfaf-77dca428990e
* Version Independent ID: c939066c-c671-7f50-3ba3-9916b0f4cd4c
* Content: [Ma

[2018-12-12 11:30] kolexinfos commented on #1112
Any plan to add these to the WinRM - IIS Web App Deployment tasks? It is available in the Deploy Azure App Service deployment tasks, what is the hold up just add it to this too.

[2018-12-12 11:30] NickPolyder opened #2739 "[VSTS Branch Lock] Can Lock be parameterized via policies and permissions?"
Hello, I was wondering is it possible to make the Lock to not allow even the owner of the Lock to merge or push via policies or branch security ?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ffea81-86af-46cb-a290-5ce83924f235
* Version Independent ID: 2ea32d72-75d8-42f9-bf33-756b1e00b3f2
* Content: [Lock a

[2018-12-12 11:31] alexhomer1 commented on #2666
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-12-12 11:31] #2666 closed

[2018-12-12 12:10] piquet-h opened #2740 "Appears that the MSBuild Arguments don't honor yaml folded style"
In the yaml file I have...
        msbuildArgs: &gt;-
                      /p:DeployOnBuild=true
                      /p:WebPublishMethod=Package
                      /p:PackageAsSingleFile=true
                      /p:SkipInvalidConfigurations=true

Gives an error - note that the properties appear on newlines when they should be folded onto a single line.

Cannot validate argument on paramete

[2018-12-12 12:23] piquet-h commented on #2740
Appears to work with just the
msbuildArgs: >
/p:DeployOnBuild=true
/p:WebPublishMethod=Package
/p:PackageAsSingleFile=true
/p:SkipInvalidConfigurations=true

[2018-12-12 12:23] #2740 closed

[2018-12-12 14:58] LockTar commented on #2330
I just created a test with the situation you described but I can use multiple files in one pipeline. Do you use the "output variable" option? Then you know, your path is correct.

**Download files**
![image](https://user-images.githubusercontent.com/1568453/49877472-c65c8f80-fe25-11e8-82a7-fa45d61297a1.png)

![image](https://user-images.githubusercontent.com/1568453/49877543-e68c4e80-fe25-11e8-8e4

[2018-12-12 15:11] a-mosheh opened #2741 "Deployment group job [more information] link is pointing to this documentation which is wrong"
Deployment group job help [more information] link is pointing to https://go.microsoft.com/fwlink/?LinkId=852588 which is wrong.
It should be pointing to https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-group-phases?view=vsts&tabs=yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90dd0-49f

[2018-12-12 15:13] a-mosheh commented on #2741
or this https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deployment-groups/index?view=vsts

[2018-12-12 15:16] Knnthra opened #2742 "No new testplan button"
I'm unable to see the no new testplan button when I try to create  a test plan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e2cb79-709d-972b-6747-6d26c965fb2a
* Version Independent ID: d512ea69-a97a-e5ff-a804-6691c5dfe1e6
* Content: [Create a test plan - Azure Test Plans](https://docs.microsoft.com/en-us/azure/devo

[2018-12-12 15:43] alexhomer1 commented on #2741
Thank you for your feedback. This is an issue in the product, not the documentation. I've passed it to the development team for them to correct the redirection entry.

[2018-12-12 15:43] #2741 closed

[2018-12-12 15:49] alexhomer1 commented on #2742
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-12 15:49] RWillup opened #2743 "Error in number of steps"
Hi,

There is an error here:
https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=vsts#steps

The number of steps is 5 or 6 and in the text above it says there are four.

Please update.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4

[2018-12-12 15:52] chcomley commented on #2738
@turibbio Thanks for the heads up. Currently working on it and will push a fix to master today. Thanks again!

[2018-12-12 15:52] chcomley commented on #2737
@turibbio Thanks for the heads up. Currently working on it and will push a fix to master today. Thanks again!

[2018-12-12 15:56] MattMencel commented on #2363
So is the example by @GoshaNick the correct syntax or is there a different way to do it?

[2018-12-12 16:36] harishkragarwal commented on #2742
Hi,
Where are you are trying to locate the '+ New Test Plan' action?

In my case I am at https://harishkragarwal.visualstudio.com/MyFirstProject/_testManagement/mine and see the following:
![image](https://user-images.githubusercontent.com/11025866/49884032-ec9c2280-fe59-11e8-9308-1db5cdd3a314.png)

Also do ensure that you have the license to create a Test Plan by having the Test Manager license a

[2018-12-12 16:41] RoopeshNair commented on #2601
I presume, you're trying to update the fields of service connection from a variable and not the service connection itself. If yes, have you tried `##vso[task.setendpoint]value`? check out the agent l[ogging commands](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md)

If you intend the latter, that is setting the service connection as a variable, then it is

[2018-12-12 16:41] #2601 closed

[2018-12-12 16:55] PBoraMSFT commented on #2729
@alexhomer1 - mention of Test Professional is incorrect. There is no IDE for that edition. Also, we need to make this agnostic of VS versions, now that VS 2019 Preview 1 is available. The steps are applicable to VS 2017 and above versions. Can you please fix the docs?

[2018-12-12 16:58] stevo-knievo commented on #2448
An example would be awesome.

[2018-12-12 17:24] Knnthra commented on #2742
Oh wow @harishkragarwal thank you so much. The problem was with the Test plan license. Added it and now I have the correct options.

[2018-12-12 17:24] #2742 closed

[2018-12-12 17:32] phil-lgr commented on #2448
@stevo-knievo

here's how I do it, directly in Azure Web App for now:

![image](https://user-images.githubusercontent.com/9644867/49887079-5fc97880-fe09-11e8-89ba-b36ede5743b2.png)

it was simply easier than finding how to do it manually in Azure Pipelines... but I'd like to do it from my CI and not through the automated web hook on the Azure side.

[2018-12-12 17:40] danhellem commented on #2323
You can see how capacity is calculated on used by following these 2 links

https://docs.microsoft.com/en-us/azure/devops/boards/sprints/set-capacity?view=vsts&tabs=new-nav
https://docs.microsoft.com/en-us/azure/devops/boards/sprints/adjust-work?view=vsts&tabs=new-nav

[2018-12-12 17:40] #2323 closed

[2018-12-12 17:41] #2128 closed

[2018-12-12 17:45] danhellem commented on #2054
you can revise your estimates on the task. If you are using the scrum template then you can update the remaining work as you learn and know more about the task. Agile template is simular but also provides an estimated work field. If it is important for you to capture estimated work down to the precision level for other work item types (users stories, bugs) you can always [add a custom field](https

[2018-12-12 17:45] #2054 closed

[2018-12-12 17:50] danhellem commented on #2203
[This will give you a high level](https://docs.microsoft.com/en-us/azure/devops/boards/work-items/guidance/scrum-process-workflow?view=vsts) of how the scrum process works.

The short answer is, keep the bug in the doing column until all tasks are completed. Your tasks can be activities you need to finish the bug so that it is considered 100% done. Things like "complete testing", "validate", etc.

[2018-12-12 17:50] #2203 closed

[2018-12-12 17:55] danhellem commented on #1982
You should not need to store your images any place. You can cut and paste, or drag and drop, images from other sources directly into the wiki page.

if you want to use [source control for your wiki ](https://docs.microsoft.com/en-us/azure/devops/project/wiki/publish-repo-to-wiki?view=vsts&tabs=new-nav)we suggest doing so with a git repo. I don't believe TFVC is supported.

[2018-12-12 17:55] #1982 closed

[2018-12-12 17:57] danhellem commented on #1478
Sorry - Azure DevOps does not currently have a good solution to support SAFe across several organizations (accounts)

[2018-12-12 17:57] #1478 closed

[2018-12-12 18:24] danhellem commented on #1399
thanks for the feedback. we will take a look and see if it makes sense to add additional resources to the rate limits page

[2018-12-12 18:24] #1399 closed

[2018-12-12 18:40] bkwdesign commented on #2694
I have the same question.
I've got multiple yml based build pipelines which pertain to different parts of my repo. So, I want WebApp1.yml to run regardless of branch, but only when certain files change, and the same goes for WebApp2.yml

I've also noted it is possible to create "branch policies" that let you add "build policies" which also feature a file-based filter.. it would be nice to know whi

[2018-12-12 19:16] westandy-dcp opened #2744 "Syntax is not working"
I have this in a build.yml file that is being run:
steps:
 - bash: |
    echo "Hello world running in directory $PWD"
  - script: npm run build
  - script: npm run test

And I'm getting this error


build.yml (Line: 4, Col: 3, Idx: 76) - (Line: 4, Col: 3, Idx: 76): While parsing a block collection, did not find expected '-' indicator.

As helpful as that error message is, I am stumped.  I am usin

[2018-12-12 19:30] alanboy opened #2745 "How can I reference non-addressable files?"
What are the use cases for non-addressable files? How can I reference them in my extensions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b68bebb-14b6-8f83-b362-03d643d39538
* Version Independent ID: de6d224b-2a80-b093-0330-4f70b5892fe3
* Content: [Add a Hub](https://docs.microsoft.com/en-us/azure/devops/extend/deve

[2018-12-12 19:53] cytron201 opened #2746 "Web and Load Test test support in Azure DevOps"
Other MSDN pages are listing that Visual Studio 2019 will be the last version to support Performance and Load test projects. Downloading DevOps web tests created in the browser produces a project of this type. What's the long term roadmap here? Difficult to commit to these if there's a limited lifespan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-12-12 20:12] Powerhelmsman opened #2747 "Article only refers to old versions and seems to have no link to similar documentation for newer versions."
This feedback is created by @pabrams from https://github.com/MicrosoftDocs/feedback/issues/955
🛑 IMPORTANT: You can get your feedback addressed faster if you use the comment section for the article in which you encountered a problem.
There's already a comment in there dated two weeks ago. I upvoted it.
Link to article:
https://docs.microsoft.com/en-us/tfs/server/admin/move-clone-hardware?view=tfs-

[2018-12-12 20:49] #2738 closed

[2018-12-12 20:51] #2737 closed

[2018-12-12 21:04] TravisEz13 commented on #2363
Actually, I think there needs to be a functional bug to add this functionality first.

they support

[code]

but no wildcards except at the very end currently.

[2018-12-12 21:29] abhiramani-iptiq opened #2748 "create variables inside Variable groups using VSTS Cli"
Any way to create/update/list variables inside Variable groups using VSTS Cli?
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or

[2018-12-12 21:35] steved0x commented on #2748
@abhiramani-iptiq Thank you for your feedback. I am forwarding this to the author of some of the variables articles to see if they can help.

[2018-12-12 21:37] steved0x commented on #2735
@Knnthra If the repo is the only Git repo in your project, you can't delete it until you first [create another repo](https://docs.microsoft.com/en-us/azure/devops/repos/git/create-new-repo?view=vsts). You must also have [Delete Repository permissions](https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-git-tfvc-repository-permissions?view=vsts#git-repository) to delete a repo

[2018-12-12 21:39] #2719 closed

[2018-12-12 21:41] njray opened #2749 "Typos in otherwise fantastic resource"
Change "ot" to "to" here: names just ot achieve political correctness.
Change to "on-premises" (needs end s) here:  from a slower-moving world of on-premise software
Insert "shows" after "Moore" here: Along the way, Tom Moore how we use telemetry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5835c5-57ca-e68d-f033-d9

[2018-12-12 21:47] steved0x commented on #2676
@Naphier I'm trying to find out for you, I have got a few queries out.

Does the info in this issue apply or help? (Or is there more than one git-tfs?)

https://github.com/git-tfs/git-tfs/issues/1241

[2018-12-12 21:47] alexmullans commented on #2724
The [NuGet Tool Installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/nuget?view=vsts) will help.

[2018-12-12 21:48] chcomley commented on #2726
@khenzar Thanks for your comment and for the examples you provided. A colleague has already responded to the developer community ticket that remains open.

Organization administrators cannot edit other user profiles at this time. Please feel free to file a feature request: https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?sort=votes&type=idea&openOnly=true. Ple

[2018-12-12 21:48] #2726 closed

[2018-12-12 21:50] steved0x commented on #2749
@njray I'lll get these fixed and they should be live by tomorrow. Thank you for your feedback.

[2018-12-12 21:50] #2749 closed

[2018-12-12 22:03] Knnthra opened #2750 "Associate to test Case greyed out"
I'm unable to select Associate to Test Case, it is simply greyed out. Am I missing something to be able to use that option. I'm using Visual Studio Pro.  Version 15.9.4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a7e40-73d6-795f-7b8c-77104ef606e8
* Version Independent ID: 8f15995b-bd94-8d9f-1e8b-82f1f364d221
* Co

[2018-12-12 22:04] KathrynEE commented on #2676
@Naphier - If you are just moving your code base from TFVC to Git, there is nothing you need to do to migrate work items. If you are moving your code from TFS to Azure DevOps Services, then you'll want to check out the articles provided here: https://docs.microsoft.com/en-us/azure/devops/articles/migration-overview?view=vsts.

[2018-12-12 22:16] nonameolsson commented on #2083
Is this rollde out to all customers yet? I have specified it in my yml-file but I can't seem to get it to work.

[2018-12-12 23:25] lifesoccult opened #2751 "What is the expected value of Agent.JobName?"
Currently when trying to use `Agent.JobName` (in bash, so `$AGENT_JOBNAME`) its value is just `Job`. I expected this to be the name of the Job/Phase, e.g. `Build` or `Build Job` as shown in the build pipeline UI. Here's the yaml and output where I'm trying to test it.

YAML:
[code]

Output:
[code]

I'm trying to use this value as a grouping ID in influx/grafana, and a value of `Job` clearly does n

[2018-12-12 23:58] andyjlewis commented on #2751
Are you using TFS, Azure DevOps Server 2019, or the Azure DevOps service?

[2018-12-13 00:18] loic-sharma commented on #2724
Ah, that's good to know! Should we add a note for this on the `Publishing to NuGet feeds` page? Ideally, that documentation should have a section dedicated for snupkgs. I can send a pull request if y'all would like

[2018-12-13 02:30] harishkragarwal commented on #2742
Glad, its resolved :)

[2018-12-13 04:55] ryaneastabrook commented on #2079
I would have loved that doc fix hours ago when I ran into the issue above.

Also, for versions of asp .net core > 2.0 you will need to use the microsoft/dotnet image with the appropriate asp.net core tag. An update to the docs would be helpful.

[2018-12-13 06:09] mydiemho opened #2752 "Checkout section is incorrect and incomplete"
1. `checkout` didn't work, I have to use `repo` (I found this by using the GUI designer then look at the generated yaml)
2. Example should be updated to show there `repo`,  `clean`, and `fetchDepth` etc. need to be under the `resources` section
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7c

[2018-12-13 07:03] fakhrulhilal opened #2754 "Authentication failed using personal access token"
I use on premise TFS 2018 update 3 with domain account as authentication. I create a feed and successfully push the package using personal access token with packaging read, write & manage for the scope. But I can't consume the package using the same token, either using nuget CLI or visual studio (2017 15.9.4). It just give error message: 'Response status code does not indicate success: 401 (Unauth

[2018-12-13 07:44] kittaakos opened #2755 "`GithubRelease` task: clarify the `action`"
First off, the `action` must be [case sensitive](https://github.com/Microsoft/azure-pipelines-tasks/issues/9062#issuecomment-446851662) as of today.
Secondly, it is strange that I have to use the `Edit` `action` if I would like to create the tag as part of creating the GH release.

See here:
https://github.com/Microsoft/azure-pipelines-tasks/blob/d9cfbdfcfcd98bf8dfb162128123075d3035cc40/Tasks/Gith

[2018-12-13 08:36] alexhomer1 commented on #2729
Updates to teh topic will be published soon.

[2018-12-13 08:36] #2729 closed

[2018-12-13 08:41] alexhomer1 commented on #2746
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-12-13 08:47] alexhomer1 commented on #2748
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-12-13 10:30] dombat opened #2756 "How to remove?"
Need details of how to remove a self-hosted agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Independent ID: be9a6174-a69b-7aed-d584-5f602fcc5eb4
* Content: [Build and Release Agents - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agen

[2018-12-13 10:31] SrivatsaMarichi commented on #1883
No help yet.

[2018-12-13 10:31] #1883 closed

[2018-12-13 11:05] hferentschik opened #2757 "How to reference variables"
The [variables sections](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=example#variables) describes how variables can be defined, but it does not show how they then can be referenced later on (neither is there a link to where variables references would be described).

Apart of knowing the syntax on how to reference variables (I have seen {{}} as well as ${}, no

[2018-12-13 11:07] rishavsharan commented on #2667
Hey @bernie-msft

In the case of `testResultsFormat` vs `testRunner`, this is to account for the fact that while we support test report xmls in the formats of junit/xunit and nunit, they may have been generated by any test runner other than JUnit/XUnit or NUnit frameworks. For example, Mochajs can generate xunit formatted xmls and the `testResultsFormat` here will be xunit. But the `testRunner` is

[2018-12-13 11:17] LouOtway opened #2758 "Typo"
In section Delete your AKS cluster
Should be --no-wait not --now-wait

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31c95c7b-388a-7b39-5283-43193bb643df
* Version Independent ID: 943fc46d-a114-5555-d6e0-6ad2400d1ad0
* Content: [Deploy to Kubernetes on AKS with Jenkins - Azure Pipelines](https://docs.microsoft.com/en-u

[2018-12-13 11:19] damoando4 opened #2759 "Plans to update?"
Excellent detail but any plans to update or move to the GitHub repo for community to keep updated?

e.g. VFSForGit no longer is using the sparse-checkout or always_exclude to track files and folders (now using the ModifiedPaths).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49c37596-91af-710a-5465-e4211f0b2819
* Vers

[2018-12-13 12:05] beatcracker opened #2761 ""Allow scripts to access the OAuth token" doesn't work with custom secret variables"
I'm unable to access custom secret variables in scripts using Visual Designer. `SYSTEM_ACCESS` token is set, but custom variables are not. If this is intended, documentation should explicitly warn that only `System.AccessToken` is available when using Visual Designer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e

[2018-12-13 12:09] beatcracker commented on #2761
Related: #2303 ?

[2018-12-13 12:28] letmaik opened #2762 "Clarify default condition"
I'm assuming the default condition of a step is "succeeded()". Is that correct? This should be added to this page as it's a good starting point when thinking about writing custom conditions. For example, what would happen if the condition is only `eq(variables['Build.SourceBranch'], 'refs/heads/master')`? Would this step run whether the preceeding tasks have failed or succeeded?

---
#### Document

[2018-12-13 13:34] vtbassmatt commented on #2751
This is a bug we're tracking in the product (1362323 for anyone with access to the internal bug db). As a workaround until it's fixed, you can specify the name in a variable and use it. Example:

[code]

[2018-12-13 13:40] hferentschik commented on #2757
So for example a variable cannot not be used for a task version, right? Something like:

[code]

The _connection_ variable works fine, whereas I get an error for the task version:

[2018-12-13 13:42] vtbassmatt commented on #2083
@nonameolsson it's available everywhere. One gotcha is that new pipelines still set the "override PR triggers" flag in the UI. You have to turn that off to explicitly opt into YAML-based syntax. I'll make that clearer in the docs.

[2018-12-13 13:53] bernie-msft commented on #2667
Hey @rishavsharan believe you have the wrong Bernie. :-)

[2018-12-13 13:55] DavidStaheli commented on #1833
Hi @wood1986.  It's been several months since you suggested this feature, but I want to let you know that it's on our backlog and I'm hopeful we can complete it in early 2019.  Thank you for suggesting it.  I'll close this issue for now, but I've made a note to reply here once the feature becomes available.

[2018-12-13 13:55] #1833 closed

[2018-12-13 14:00] DavidStaheli commented on #1866
Hi @iandvt.  Thanks for reporting this and I apologize for the delayed reply.  We're tracking this as a bug and I've made a note to reply here as soon as progress is made.

[2018-12-13 14:16] DavidStaheli commented on #1960
Hi @ahaeber .  Apologies for the delay in getting back to you.  Since you reported this, we changed the Maven task to **avoid building the effective pom by default**.

Here is the checkbox that when enabled, causes the effective pom to be generated.  It's only necessary to enable this if you want your build to automatically authenticate to Maven artifact feeds from Azure Artifacts.

- ![image](htt

[2018-12-13 14:16] #1960 closed

[2018-12-13 14:18] DavidStaheli commented on #2095
Thanks for reporting this with such helpful details, @ckrempp91!  We'll address this ASAP.

[2018-12-13 14:31] DavidStaheli commented on #2216
The docs are now updated to clarify that Python x86 versions are available on Microsoft-hosted Windows, but not Linux nor macOS.  The updates should be live later today.

[2018-12-13 14:31] #2216 closed

[2018-12-13 14:50] DavidStaheli commented on #2457
Note: user story 1376169

[2018-12-13 14:54] vtbassmatt commented on #2731
Thanks for raising the issue. This is probably better suited for https://github.com/Microsoft/azure-pipelines-agent/issues.

[2018-12-13 14:56] vtbassmatt commented on #2733
I don't believe this is wired up for designer builds. In YAML, it's a [dependency](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=vsts&tabs=yaml#dependencies).

[2018-12-13 14:57] DavidStaheli commented on #2510
Thanks @atg-abhishek!  Tracked as internal bug 1410665.

[2018-12-13 14:57] #2510 closed

[2018-12-13 14:59] #2731 closed

[2018-12-13 15:13] brcrista commented on #1784
@lasote is this still happening for you?

[2018-12-13 15:15] vlef commented on #2694
Same root problem when using the UI for your pipeline: in the **Triggers** tab, when you check the **Override YAML Continuous Integration trigger from here** checkbox, if you setup a Path Filter it won't let you save unless you also setup a Branch filter.

Message is "You must add at least one branch filter."

[2018-12-13 15:16] DavidStaheli commented on #2517
@Lovakumar does your team own this task and its docs?  If so, could you please assign this issue appropriately?

[2018-12-13 15:16] DavidStaheli commented on #2515
@Lovakumar does your team own this task and its docs?  If so, could you please assign this issue appropriately?

[2018-12-13 15:16] DavidStaheli commented on #2511
@Lovakumar does your team own this task and its docs?  If so, could you please assign this issue appropriately?

[2018-12-13 15:16] DavidStaheli commented on #2436
@Lovakumar does your team own this task and its docs?  If so, could you please assign this issue appropriately?

[2018-12-13 15:16] DavidStaheli commented on #2163
@Lovakumar does your team own this task and its docs?  If so, could you please assign this issue appropriately?

[2018-12-13 15:17] brcrista commented on #1784
3.6 should be available for x64 on hosted macOS.  The x86 versions are only for Windows.

[2018-12-13 15:44] lkillgore commented on #2255
Hi @RehanSaeed,
- How was your original endpoint set up?  (OAuth or GitHub Pipelines App)  I ask because the error message is connected with using the GitHub App.  Does the repository you're using have the Azure Pipelines app installed in the GitHub repository?
- From your screenshot, it seems that the repository information wasn't filled out correctly.  (For instance, you have 'master' (a branch

[2018-12-13 16:18] alexmullans commented on #2724
Sure! We always appreciate PRs. /cc @elbatk to review when it's ready.

[2018-12-13 16:56] DavidStaheli commented on #2570
Done.  It should be in production later today.

[2018-12-13 16:56] #2570 closed

[2018-12-13 17:24] andyjlewis commented on #2744
Could you please point to the example in the doc that shows the pattern that's not working for you?

[2018-12-13 17:51] vtbassmatt commented on #2744
Your spacing is off. YAML is (highly) whitespace sensitive per its spec. The `-` characters need to be either at the same level as `steps` or indented by 2 spaces.

[code]

[2018-12-13 17:51] #2744 closed

[2018-12-13 17:54] vtbassmatt commented on #2694
(Note to self: also need to move some of the "how path include/exclude works" stuff out of the Designer tab and into the general area.)

[2018-12-13 18:22] Naphier commented on #2676
@steved0x That sort of helps, it doesn't make things any easier, though. Migrating TFVC to Git needs to have an option to set up LFS first, really. Even a user prompt that just says "hey we detected a bunch of binaries that might not track well with Git, would you like to track common extensions with Git lfs?" This solution might work out though. We'll have to test to see.

@KathrynEE Are you sayi

[2018-12-13 19:07] #2079 closed

[2018-12-13 19:09] ribrdb opened #2763 "Invoke Rest API completion callback"
There should be documentation for how to make the callback when you set the Completion Event to Callback.
The only thing I can find is this blog post which uses the C# api: https://blogs.msdn.microsoft.com/aseemb/2017/12/18/async-http-agentless-task/
Please document how to do it using just the rest api for people not using C#.
I've spent probably an entire day trying to figure this out.
It looks l

[2018-12-13 19:14] Naphier commented on #2676
On further inspection, since we can have the new git repo in the existing Azure Devops project, then I think we're just going to do manual migrations. Most of our repositories are over 1GB anyway, so it seems manual migration is necessary and we can just rely on the TFVC repo's history. We just need to do a freeze and make sure there's nothing we want to revert!

[2018-12-13 20:43] JamesInDenver opened #2764 "Native wiki repos are NOT exposed via Azure DevOps Git interfaces"
This documentation falsely describes how the default wiki repo for a project can follow the same Git workflows as any other repo.  This is not the case because the Project.wiki repo is hidden from the Repos service and from the "Repositories" settings.  This means you can't configure branch permissions or policies, you can't manage pull requests or even view files or history.  I truly wish the wik

[2018-12-13 21:16] chcomley commented on #2764
Hi @JamesInDenver, thank you for your feedback. I've reached out to my PMs for clarity and will update you as soon as possible. Thanks again.

[2018-12-13 21:27] cpetry opened #2766 "Migrating GitLab issues + history to Azure DevOps"
How can I migrate my GitLab issues + comments + attachments to Azure DevOps work items?
I got 3 ideas:
- Existing direct migration tool?!
- GitLab REST Api -&gt; JSON -&gt; Azure REST API
- GitLab REST Api -&gt; CSV/Excel -&gt; Azure DevOps

Is there a How-To for one of those?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-13 22:50] KathrynEE commented on #2736
@paulmarshall - thank you for the feedback. Corrections to this article are now being made.

[2018-12-13 22:50] #2736 closed

[2018-12-13 22:54] KathrynEE commented on #2728
@ohelin2 - That feature isn't supported at this time. You may want to suggest this as a new feature through our developer community page, https://developercommunity.visualstudio.com/spaces/21/index.html.

[2018-12-13 22:54] #2728 closed

[2018-12-13 23:26] mydiemho opened #2767 "Fork configuration for PR trigger"
In the UI, one can configure build to run for pull request from forks.  There's also a setting for secrets availability.  What is the equivalent in yaml?

![screen shot 2018-12-13 at 3 16 57 pm](https://user-images.githubusercontent.com/1634185/49973852-94adfc00-feeb-11e8-82a5-fbf58cc9566d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-12-14 00:41] ttplaya opened #2768 "LFS support on TFS2018 on premise"
I've installed git-lfs 2.6.1 locally, tracked a file as an LFS file and then pushed to my remote sitting on TFS2018. Then when I tried cloning the repo again into a new local folder, I get the following error:

Downloading documentation/&lt;masked&gt; (14 KB)
Error downloading object: documentation/&lt;masked&gt; (2a6b695): Smudge error: Error downloading documentation/&lt;masked&gt; (2a6b6951f7dd

[2018-12-14 00:51] jimicze commented on #1995
@vijayma No. It works as it should. But @hamed-shirbandi need to setup pipeline in different way.

The manner in which the job’s tasks are parallelized.

None: Tasks will run on a single agent.

Multi-configuration: Run the same set of tasks on multiple configurations as specified in the multipliers. Configurations will run in parallel and each configuration will use a single agent. The total numb

[2018-12-14 01:12] stevo-knievo commented on #2448
Thanks @phil-lgr! Same here. I would like to use Azure Pipelines as well. I'm wondering how to replace the image tag in the docker-compose.yml file from the current build $(Build.BuildId) and keep the other image tags.

[2018-12-14 03:56] phil-lgr commented on #2448
I ended up doing it from a npm script

something like:

`"docker:tag:client:releasev": "cross-var docker tag $npm_package_config_docker_registry/$npm_package_name$npm_package_config_docker_client_image_name:$npm_package_version $npm_package_config_docker_registry/$npm_package_name$npm_package_config_docker_client_image_release:$npm_package_version",`

where the $npm_packge_* are npm env variable

[2018-12-14 03:57] phil-lgr commented on #2448
so I tag my images `latest` and also with the package.json version, and then I push both to the registry

[2018-12-14 10:31] leokr commented on #1261
Sample is really not working.

That's because here
var vstsGit = connection.getGitApi().then( success => { console.log(success); }, error => { console.log(error); } );
They create a promise, a not a git client as we expect.
variable "success" is also named incorrectly, actually it is "result".

Fix is to replace mentioned line with
var vstsGit = null;
connection.getGitApi().then(result => {vstsGit

[2018-12-14 10:31] bansalaseem commented on #2525
@atrauzzi Can you please look at method CreateRelease in this [file ](https://github.com/Microsoft/vsts-dotnet-samples/blob/master/ClientLibrary/Snippets/Microsoft.TeamServices.Samples.Client/Release/ReleasesSample.cs) and see whether it works for you or not?

[2018-12-14 12:45] vtbassmatt commented on #2530
Hi @MisinformedDNA - author of that doc here :grin:

The short answer is, there's no one answer. It varies depending on the scope of the change, area of the product, comfort level of the developer doing the review, and more.

In many (most?) cases, developers will pull the branch, build it, and deploy it locally to a test environment. That can be a heavy process, especially for a change that's dep

[2018-12-14 12:45] #2530 closed

[2018-12-14 12:47] fldsblzs opened #2769 ".net Core package restore issue"
A part of our .net core application is using the 'Microsoft.VisualStudio.Services.Release.Client' package to manage releases on our VSTS instance. When we restore the project there are two warnings about 'Microsoft.Net.Http' and 'Microsoft.Bcl' dependencies were restored using .Net Framework 4.6.1. instead of .Net Core. I guess these two are there to support some legacy scenarios but for us it jus

[2018-12-14 13:17] nbcsm opened #2770 "Error: 'libpython3.6m.so.1.0: cannot open shared object file: No such file or directory'"
command to reproduce:
      pip install onnxruntime
      python -c 'import onnxruntime as rt'

Choose python3.5 is fine, while choose python3.6 will fail.
UsePythonVersion is supposed to handle this properly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e765cfad-8ab9-443a-1171-5af81a31252f
* Version Independent ID: 8

[2018-12-14 13:52] carlkenne opened #2771 "Outdated"
This document doesn't appear to be correct. Many of the keys eems to be outdated? Are there a newer version somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d227a6f2-a94b-1c05-57e4-b63d42e2b9e5
* Version Independent ID: d063e189-d0fd-4ca3-c108-a0bd2ae49d22
* Content: [.NET Core CLI task - Azure Pipelines](http

[2018-12-14 15:05] chcomley commented on #2764
@JamesInDenver, I don’t believe we intend to expose the Project Wiki Repo in the list of Repos. There is a [uservoice](https://developercommunity.visualstudio.com/content/idea/365795/wiki-un-hide-git-repository-wiki.html) around that. We are updating the document to explicitly say that Git workflows will be supported only for code wiki. Meanwhile, you can use APIs to set up branch policies and ful

[2018-12-14 15:05] #2764 closed

[2018-12-14 15:14] steved0x commented on #2768
@ttplaya I'm checking on the TFS 2018 part of your question.

There are a few steps here for troubleshooting that may be of assistance:

https://github.com/git-lfs/git-lfs#need-help

[2018-12-14 15:19] steved0x commented on #2758
@LouOtway Thanks for letting us know, I just merged https://github.com/MicrosoftDocs/vsts-docs/pull/2760 so it should be live soon. Thank you.

[2018-12-14 15:19] #2758 closed

[2018-12-14 16:08] RoopeshNair commented on #2755
@Raiyan Alam<mailto:Mohammed.Alam@microsoft.com> – can you please take a look?

Thanks
Roopesh Nair

From: Steve Danielson <notifications@github.com>
Reply-To: MicrosoftDocs/vsts-docs <reply@reply.github.com>
Date: Friday, 14 December 2018 at 8:50 PM
Subject: Re: [MicrosoftDocs/vsts-docs] `GithubRelease` task: clarify the `action` (#2755)

Assigned #2755<https://nam06.safelinks.protection.outlook.

[2018-12-14 16:14] midgleyc commented on #235
Hi @elbatk, this is very useful information to know. Would you mind adding it to the documentation to make it more discoverable (specifically, the total number of retries / wait times for transient failures)?

From my testing, it seems that after 30 seconds of no response, the client times out with the error message "A task was canceled", and this counts as an enduring failure. Is this correct? I

[2018-12-14 16:16] steved0x commented on #2768
I just heard back, there are no special requirement to use Git LFS on TFS, it is supported as of TFS 2015 Update 1.

[2018-12-14 16:21] sobjornstad opened #2772 "Page title is incorrect"
This is under the "Azure DevOps Server 2019 (preview)" section, but the title is "REST APIs for TFS 2015, 2017, and 2018".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2509f5c-5319-8a4f-3386-b0de67959271
* Version Independent ID: 3f0d298c-8784-e1ff-a462-1f040534d0ae
* Content: [REST API documentation for Team Founda

[2018-12-14 17:31] Naphier commented on #2676
Ya bummer but seems to be the solution. Thanks for the assistance.

On Fri, Dec 14, 2018, 10:24 AM Steve Danielson <notifications@github.com
wrote:

[2018-12-14 18:17] rvlacil opened #2773 "Unclear Documentation About Casting"
Seems to me that the documentation is bit unclear about how types are casted from one to another. Types paragraph uses this example:

Types
Although expressions evaluate to strings, they're coerced to other data types as needed. For instance, if an inner function evaluates to "true" and then is used as an input to and(), it will be coerced to Boolean True.

It seems that it implies that "true" is

[2018-12-14 18:57] JamesInDenver commented on #2764
Thanks for the update and for clarify the documentation.  FYI, the default Wiki repository is also not manageable via the API.  At least you cannot get the repoID (needed by all other operations) via the repo list endpoint.

[2018-12-14 19:32] vtbassmatt commented on #2752
The generated YAML is wrong/out of date. `repo` is deprecated syntax, and the correct place to put `checkout`-related keys like `fetchDepth` is on the `checkout` step. I'll file a bug against the "view as YAML" feature. In the meantime, if you want to paste your YAML here, I can help you refactor it into the correct syntax.

[2018-12-14 19:36] KathrynEE commented on #2489
@jasonpadman - Thank you for the feedback and sorry for the delayed response. You are correct that the article is out of date. I have created an item to either update or retire the article. For now, I'd direct you to this topic, https://docs.microsoft.com/en-us/azure/devops/report/powerbi/active-bugs-sample-report?view=vsts&tabs=new-nav#create-a-card-for-latest-bug-count, which outlines how to get

[2018-12-14 19:36] #2489 closed

[2018-12-14 19:41] #2752 closed

[2018-12-14 22:40] OXINARF opened #2776 "Request: allow parameter defaults to use other parameters"
I've tried to define a parameter default using another parameter but it's apparently not possible. It would be useful to have it - it could/should only expand passed parameters, that would probably make implementation easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version

[2018-12-15 00:42] alexvy86 opened #2777 "In which release do scheduled staged triggers happen?"
How does a scheduled deployment trigger decide "on which release" (from all the releases created from that pipeline) it should trigger? The first thing that comes to mind is the latest release, but what happens if I discover that it has an issue and I manually deploy that stage in a previous release? Will the scheduled deployment trigger be smart enough to keep redeploying the stage in *that* rele

[2018-12-15 19:36] yangli6 commented on #1491
Got the same problem here. What is the status now?

[2018-12-16 01:50] albernazf commented on #2548
I keep getting this error, I saw in varies places that to fix it it needs to change the last line of apksigner from
call "%java_exe%" %javaOpts% -Djava.ext.dirs="%frameworkdir%" -jar "%jarpath%" %params%
to
call "%java_exe%" %javaOpts% -classpath "%frameworkdir%" -jar "%jarpath%" %params%
which then worked for me locally, but obviously I can't change that on the hosted Azure Devops

Failed to load

[2018-12-16 22:07] jmichas commented on #2129
@mrooths
So, am I to do your thing instead of doing this:
[code]

I keep getting emails from Apple that state:
"SDK Version Issue - This app was built with the iOS 11.4 SDK. Starting March 2019, all iOS apps submitted to the App Store must be built with the iOS 12.1 SDK or later, included in Xcode 10.1 or later."

I'm hoping your code is the solution.

[2018-12-16 23:47] xbitdigital opened #2778 "wrong task name in Example > Designer tab"
https://docs.microsoft.com/en-gb/azure/devops/pipelines/languages/javascript?view=vsts&tabs=yaml

![capture](https://user-images.githubusercontent.com/45901917/50060506-e9bc6d00-018c-11e9-90c1-305c290aef51.PNG)

that should probably be "Publish Build Artifacts" instead.

[2018-12-17 05:00] raiyanalam commented on #2755
@kittaakos Apologies for the inconvenience.
 The task can create tags even when `create ` action is used. However, you need to provide us what tag you want us to create. For doing this we have a parameter called 'tagSource'. Set it to 'manual' and in the 'tag' parameter mention the tag you want to create. Here is the yaml that would might be useful to you:

[code]

[2018-12-17 05:54] nschonni opened #2779 ""Updating the TF Registry using Powershell" link is incorrect"
Currently points to the fwlink currently points to https://docs.microsoft.com/en-us/sql/analysis-services/multidimensional-models/grant-database-permissions-analysis-services?view=sql-server-2017 which isn't related

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c0a4db-e251-40f8-5d3c-106a43a07a8a
* Version Independen

[2018-12-17 08:29] ahmadyo opened #2787 "how to set filed value as new GUID?"
how to set filed value as new GUID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1d94b21-0d87-af97-bb99-40595bfb38e2
* Version Independent ID: 0c118aeb-8b37-84a7-1d5c-ac8557258146
* Content: [Define default value or copy a value - TFS](https://docs.microsoft.com/en-us/azure/devops/reference/xml/define-default-copy-v

[2018-12-17 09:22] lasote commented on #1784
I don't know, I didn't try again. If there is evidence it is fixed for me this can be close. Thanks

[2018-12-17 11:27] ddkserv opened #2791 "Allow access to all pipelines"
When using both Agent and deployment groups you have the "Allow access to all pipelines". This is not part of the documentation for variable groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version Independent ID: c9e461ee-7f42-3503-9460-18fa3a807bbb
* Content: [Variable gro

[2018-12-17 13:03] tanure opened #2792 "pt-br localization"
How can I help do create docs for VSTS in Brazilian Portuguese!?

[2018-12-17 13:06] jonathantwite commented on #2555
This page is not clear, but this tasks needs the Npm task running first:
- task: Npm@1
  inputs:
    command: 'install'
    #workingDir: 'some/dir' #if needed

[2018-12-17 13:47] brcrista commented on #1784
Hosted macOS should now support the Use Python Version task.  @DavidStaheli , I think we can close this.

[2018-12-17 13:54] #1784 closed

[2018-12-17 13:58] andyjlewis commented on #2555
Are you using a Microsoft-hosted agent or a self-installed agent?

[2018-12-17 15:17] elbatk commented on #2700
I've seen a couple of things about this article where the authentication doesn't seem to work itself out as the article says. @alexmullans could you investigate and circle back here if we need a documentation change?

[2018-12-17 15:22] elbatk commented on #2772
Ah, yes. So I need to find out if these APIs are going to be used for the new version of TFS or if they are strictly for older versions. AKA, if the title is wrong or if the versioning of the article with the dropdown is wrong. @wnjenkin or @willsmythe , could you help out with an answer to that? I can make the change :)

[2018-12-17 16:17] elbatk commented on #235
Hi @midgleyc , I'm adding this info to the doc as we speak. I'm not too sure about the 30 seconds without a response scenario, reaching out to someone on our team now about that now. Keep in mind the holidays are here, but hopefully we can get a response soon :)

[2018-12-17 16:17] andyjlewis commented on #2757
Please check out https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables and see if that helps. I've added @vtbassmatt to advise on your specific question.

[2018-12-17 16:36] elbatk commented on #2754
Hi @fakhrulhilal , thank you for your question.

Could you copy/paste your NuGet config file?

Adding @alexmullans for a heads up, but I'm going to try to figure this one out.

[2018-12-17 16:43] elbatk commented on #2769
Hey @fldsblzs , I think this question would be better tackled on the [Azure DevOps Services Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). You could even try Stack Overflow, as they are both monitored by the product team. Thank you!

[2018-12-17 16:43] #2769 closed

[2018-12-17 17:05] tillig commented on #2511
I was about to leave this same feedback on a different page. For all the build task documentation it's hard to correlate a YAML sample with the prose documentation. The text "naming" the argument doesn't necessarily directly translate into the actual YAML item that needs to be present. This is possibly my largest frustration trying to get my builds into Azure DevOps so far. Makes the build very tr

[2018-12-17 17:06] bricelam commented on #2762
+1 Is `succeded()` the default?

[2018-12-17 17:38] bricelam opened #2793 "Document YAML ${{ if }}:"
I don't see any documentation about the special `${{ if condition() }}` YAML property name syntax...

Example:
[code]

[2018-12-17 17:46] KoduIsGreat commented on #2700
I'm having the exact same issue, The way i solved it is by using gradle and using the auth token as a variable in the build... its kinda messy but it works until this issue gets resolved. unfortunately maven auth doesn't magically happen as they state it does.

1+ if you guys can suggest a better solution

[2018-12-17 17:47] elbatk commented on #2725
Hi @mikederksen . I believe the article is correct. The confusing thing is: in the extension manifest file, it is "categories", but in the task.json, it is "category". Does that line up with your experience and the article?

[2018-12-17 17:52] kittaakos commented on #2440
The example script has been updated via. https://github.com/MicrosoftDocs/vsts-docs/commit/1a246f2ad9faa5693fc00366ed10ec47d77d8c13.

[2018-12-17 18:13] elbatk commented on #2727
Hi @DalpheSDC , does this blog post help? https://blogs.msdn.microsoft.com/devops/2017/11/13/creating-work-item-form-extensions-in-visual-studio-team-services/

[2018-12-17 18:17] elbatk commented on #2734
Hi @adriangodong , I believe we have a plan for revamping all of the Service Hook documentation. It's quite expensive to try to keep all of these articles updated as they are all require accounts for different products. Thank you for your feedback.

[2018-12-17 18:30] elbatk commented on #2743
Ah, fixing this now, thank you @RWillup . Just going to make it generic :)

[2018-12-17 18:30] #2743 closed

[2018-12-17 18:34] markyates90 opened #2794 "Historical Data Filters make Burnup/Burndown Charts useless"
Due to the way Historical Data Filters are applied, it makes it impossible to reorganize a backlog after a project has started. We are a couple of months into the project had needed to add tags or area paths to organize the backlog by sub-projects. The Burnup charts do not work because it only includes items as of the date the tag or area path was assigned. It should include all items tagged as co

[2018-12-17 18:43] elbatk commented on #2745
Hi @alanboy , I think this question would be better addressed on the [Azure DevOps Services Developer Community site](https://developercommunity.visualstudio.com/spaces/21/index.html), which is monitored by the product team. If there is something you find that you think should be added to the docs, feel free to come back here :)

[2018-12-17 18:43] #2745 closed

[2018-12-17 18:46] elbatk commented on #2747
Hi @Powerhelmsman , sorry about this. Adding @aaronhallberg and @roofers to help out here!

[2018-12-17 19:02] bartsipes opened #2795 "Policy to require source branch to be deleted when squash merging"
I've seen lots of branches left over after merges are complete, including after a squash merge. It would be really nice to be able set a policy that if you squash merge a PR, then the source branch is automatically deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56dec464-f25a-5c46-52e7-2cbf17a2db1d
* Version In

[2018-12-17 19:03] elbatk commented on #2573
Hi @mganeshphani , thank you for the feedback. It may be a while before we get to updating this, but I completely agree. I'll add something to the backlog to get to when we have cycles.

[2018-12-17 19:06] elbatk commented on #2604
Hi @xtu , you're right, it should be in the buildAndReleaseTask folder, fixing now to make it a bit more clear.

[2018-12-17 19:06] #2604 closed

[2018-12-17 19:15] elbatk commented on #2636
Hi @bugra-derre , sorry you're having this issue. I can't really help more, but I can point you to the [Azure DevOps Services Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) which is monitored by the product team. Hopefully you can find help there! Best of luck :)

[2018-12-17 19:15] #2636 closed

[2018-12-17 19:17] elbatk commented on #2644
Adding @willsmythe to verify this for me, and then I'll make the change :) Thanks @StingyJack !

[2018-12-17 19:21] #2440 closed

[2018-12-17 19:51] madhurig commented on #2339
To skip signing, you can pass in `signingOption: nosign` to the Xcode task. Hope that helps.

Thanks,
Madhuri

[2018-12-17 20:00] gongminmin opened #2796 "Just a checkbox of Squash is not enough"
Why not mentioning the term "rebase"? Git has 3 idioms to handle pull request merge,
1. Merge, which is the same as diagram 1,
2. Squash + rebase, which is close to diagram 2,
3. Rebase, it keeps the history, but rebase to the tip.
(4. Squash + merge, rarely used)
Basically squash and rebase are orthogonal. Squash does not imply rebase, vice versa. Just provide a checkbox is very confusing.

---
#

[2018-12-17 20:07] Resultfactory opened #2797 "Value cannot be null"
Our build always fails with this error 'Value cannot be null' and Parameter name: workspace. We are building an iOS Xamarin.Forms app, but we never pass this step. Is there something we miss here or is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5891d09-bbcf-012e-483d-795eb4b469e5
* Version Independent

[2018-12-17 20:19] DavidStaheli commented on #2339
Closing this issue... Feel free to reopen it if there's something that the above-mentioned `signingOption` doesn't solve for you.  Thanks for reporting this.

[2018-12-17 20:19] #2339 closed

[2018-12-17 20:42] satrapu commented on #1052
[ReportGenerator](https://github.com/danielpalme/ReportGenerator) can merge multiple coverage files into one, e.g. merge several Cobertura XML files into just one Cobertura XML file, as seen [here](https://github.com/danielpalme/ReportGenerator#file-formats).

Here is an Azure Pipelines fragment used for generating coverage files in Cobertura format for a series of unit and integration tests run v

[2018-12-17 21:16] MattDavisRM opened #2798 "Update screenshots for new navigation"
The screenshot for finding the web hooks is using the old navigation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4806b641-fdb1-c0e9-081c-c007807c7cdb
* Version Independent ID: f59d8501-1285-be79-b084-8371ed8395bb
* Content: [WebHooks with Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/service-

[2018-12-17 21:34] MattDavisRM opened #2799 "Agent Updates"
Should this list include vstsagentpackage.azureedge.net?  See the question here:

https://stackoverflow.com/questions/53512760/azure-devops-vsts-self-hosted-agent-update-url/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e191f4bf-deef-1c48-aaa7-db424c322ae3
* Version Independent ID: 866d576f-77e4-1fc4-d4db-484628e0b51

[2018-12-17 21:45] ARenfroe commented on #1835
Any movement on this?  I ran into the same issue earlier.  I moved the manifest.json file and zipped again.  Error persisted.

[2018-12-17 21:53] ARenfroe commented on #1419
@steved0x @elbatk is this still open?  Any luck?

[2018-12-17 21:55] ARenfroe commented on #1835
@KristofferWest download from here. https://github.com/Microsoft/vsts-zendesk-app/releases

[2018-12-17 21:57] nschonni commented on #2564
Looks like the OpenBuild setup was removed, so I'll close this.
Hope it does get setup in the future though :wink:

[2018-12-17 21:57] #2564 closed

[2018-12-17 21:58] nschonni commented on #1574
@elbatk @willsmythe this is still an issue

[2018-12-17 22:00] nschonni commented on #1123
@steved0x any movement on getting these migrated?

[2018-12-17 22:02] nschonni commented on #941
This looks fixed

[2018-12-17 22:02] #941 closed

[2018-12-17 22:02] #1267 closed

[2018-12-17 22:03] nschonni commented on #840
Looks like this got updated

[2018-12-17 22:03] #840 closed

[2018-12-17 22:05] nschonni commented on #842
Pointing to https://docs.microsoft.com/en-us/visualstudio/cross-platform/tools-for-cordova/?view=toolsforcordova-2017 now

[2018-12-17 22:05] #842 closed

[2018-12-17 22:05] nschonni commented on #845
Currently pointing to https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureRmWebAppDeploymentV4/README.md now

[2018-12-17 22:05] #845 closed

[2018-12-17 22:06] nschonni commented on #846
Currently pointing to https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureRmWebAppDeploymentV4/README.md now

[2018-12-17 22:06] #846 closed

[2018-12-17 22:08] nschonni commented on #878
This is now pointing to https://www.incyclesoftware.com/ which really isn't right either

[2018-12-17 22:10] nschonni opened #2800 "None of the fwlink are pointing at the correct content"
All the links under "To learn more, see one of the following topics:" are pointing pages unrelated to the topics in the text of the links

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5e7bed-20b2-b95b-ebb1-27ef37244586
* Version Independent ID: 1c0afce3-80e6-faa3-6dae-942261d85bd0
* Content: [SQL Server Collation Re

[2018-12-17 22:11] nschonni commented on #878
Replacing with #2800 since the are all broken now

[2018-12-17 22:11] #878 closed

[2018-12-17 22:12] nschonni commented on #848
Link looks like it was replaced/removed

[2018-12-17 22:12] #848 closed

[2018-12-17 22:22] udayansarma opened #2801 "Regarding Azure Scanner"
Hello Mike,
Can you provide more details on the "Azure Scanner" component? I was interested in learning how did you create it, any logic used etc. so I can recreate it assuming it is not available as service.

Thanks
Udy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e62447-f971-a085-7ded-442a363f31e7
* Version Indep

[2018-12-17 23:05] alexmullans commented on #712
@johnkors @fakhrulhilal please post your questions on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is actively monitored.

[2018-12-18 04:13] bpugh opened #2802 "Show how to force push in Visual Studio"
The "Force push to update your remote branch" section should probably be updated to show how to enable a force push from within Visual Studio (as shown in this blog post: https://blogs.msdn.microsoft.com/devops/2017/03/06/new-git-features-in-visual-studio-2017/) along side the command line version just like the rebase example above it.

I can open a PR if you agree.

---
#### Document Details

⚠ *

[2018-12-18 05:53] fakhrulhilal commented on #2754
The original NuGet.config
[code]
It works by changing `ClearTextPassword` to domain password.

[2018-12-18 05:55] fakhrulhilal commented on #712
Thanks, I'm starting new thread instead #2754

[2018-12-18 07:36] Lovakumar commented on #2511
@DavidStaheli yes our team owns this task. Assigning it to me.

[2018-12-18 07:38] nschonni opened #2806 "What is docs/integrate/previous-apis/work/Code file"
@elbatk looks like you added it, but it's not clear what it is https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/integrate/previous-apis/work/Code
A zip, exe, ect...

[2018-12-18 07:47] Lovakumar commented on #2163
@DavidStaheli Please assign this to me.

[2018-12-18 08:52] hferentschik commented on #2757
That helps. A cross reference from the YAML schema page to this page would be nice. However, imo it still leaves several open questions. For example, right now I am wondering about the matrix feature. Something like:

[code]

I want to run a test against two different type of service connections. In the documentation it says a variable(in this case _connection_) will be available for each generate

[2018-12-18 09:05] gdprtcl opened #2809 "Project Page URL - incorrect formatting"
[In "Open your project in Visual Studio", Step 2, the Project Page URL is not formatted correctly. Kindly Check. PFA the screensht for the same.]

![vs-tfvc](https://user-images.githubusercontent.com/19777169/50143029-8425c900-02d1-11e9-9bad-3ed59db62a98.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cdfa4b3-b755

[2018-12-18 09:36] afeblot commented on #2776
I second this request.

[2018-12-18 10:10] KristofferWest commented on #1835
It works :)

[2018-12-18 10:10] KristofferWest commented on #1835
Thank you

[2018-12-18 11:21] jorisvergeer opened #2810 "Nginx is spelled incorrecly"
In the screenshot of step 7 there is a machine named "myNgenix" where is hould be "myNginx"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf8bb33-e4cf-3dc5-5510-1111b8f1bdbf
* Version Independent ID: 3148d97d-2ff1-30f5-0487-dbfe93888a3f
* Content: [Deploy nginx to a Linux VM - Azure Pipelines](https://docs.microsoft.

[2018-12-18 11:46] StiviiK opened #2811 "Merge marker in Doc"
There are merge "marker"
e.g.
![image](https://user-images.githubusercontent.com/8115642/50152098-fcd15900-02c2-11e9-8b37-6d7575855fab.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cafb5cd-55e7-2600-ffa2-e3c9e40c73f7
* Version Independent ID: ed4a9ee5-1df4-fa2b-30b4-65fc1b3051a7
* Content: [Add, run, update inli

[2018-12-18 12:39] karelkral opened #2812 "Don't use arrow function in Mocha description"
Because it causes every test to fail: https://stackoverflow.com/a/46392720/245460

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5ef8-9f2a192a84ad
* Content: [Add a Build or Release Task](https://docs.microsoft.com/en-us/azure/devops/exte

[2018-12-18 13:02] csutorasr opened #2813 "Before 2017.3 no NuGet option"
If you have 2017.2 or older versions you have no NuGet Service option. You have to use Generic Connection. Please update the docs according to this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ed58a1-5819-f3a4-c674-dafcdbd56fbc
* Version Independent ID: d68aca4d-3fd3-1864-09f5-6060295e0399
* Content: [Publishing t

[2018-12-18 13:41] mikederksen commented on #2725
Hi @elbatk , This lines up with what I have in my task.json and manifest file, yes. It's however about the content of the task.json file. The instructions tell me that I should have the following in my task.json file:

[code]

When I deploy this to the marketplace it tries to parse my files. It then gives the error I described in my original question. Changing the task.json content to the example

[2018-12-18 14:21] elbatk commented on #1835
Glad you could get it worked out, @KristofferWest , thanks for the help @ARenfroe . Closing this :)

[2018-12-18 14:21] #1835 closed

[2018-12-18 14:33] andyjlewis commented on #2163
@steved0x would you please invite @Lovakumar to this repo?

[2018-12-18 15:44] nschonni commented on #2811
#2790 should resolve this

[2018-12-18 15:52] nschonni commented on #2809
#2784 fixes this

[2018-12-18 16:37] jderose9 commented on #2319
https://github.com/MicrosoftDocs/vsts-docs/commit/bd5cc012d0f1316f3427545f426f990f30a8036c#diff-01f4794c487fbf5b02ffb8c0d72435f7

Hi @chcomley, I'm still not seeing an explanation of what feature(s) are lost when cross-linking objects across projects rather than teams. Is it in a different document?

[2018-12-18 17:23] chcomley commented on #2319
Hi @jderose9, I'm sorry I haven't made this clear. I've followed up with my PM for a better understanding and will get back to you as soon as possible.

[2018-12-18 17:32] elbatk commented on #2754
I think @alexmullans's advice in the other issue is probably still applicable here. If you open a ticket on the [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html), you'll get a better/faster response from the product team, as this repo is just for docs issues. Thank you and best of luck! If you believe there is a docs change that should come out of this, feel f

[2018-12-18 17:32] #2754 closed

[2018-12-18 17:45] damccorm commented on #2812
Hm, didn't realize this, definitely seems like you're right that we should avoid this though ([Mocha docs agree](https://mochajs.org/#arrow-functions)). I'll go ahead and fix this in the docs.

[2018-12-18 18:15] elbatk commented on #2812
We've got a PR going for this, thanks everyone :)

[2018-12-18 18:15] #2812 closed

[2018-12-18 18:45] jzeferino opened #2815 "Mac OS build agent Xcode and SDK versions"
Azure devops mac os build host is running on Xcode 9.4 and SDK version 11.4.

And Apple says:

So, the build agent must be updated.

[2018-12-18 19:21] elbatk commented on #247
I know some people are waiting on updates here. I think the best place to ask product-based questions are on the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is actively monitored by the product team. I'm going to close this as a docs issue, but if something comes out from the ticket, please reach out and I'll update the doc!

[2018-12-18 19:21] #247 closed

[2018-12-18 19:32] JamesReate commented on #2555
I was using a Microsoft Hosted agent. If gulp@1 now exists, and it actually is tested working, then I think we can close this issue after @jonathantwite request for more clarity is done.
Looks like it was a situation where documentation was ahead of what the Hosted Agent supported.

[2018-12-18 19:42] elbatk commented on #271
Thanks @Tankatronic , I know this was forever ago, but working on clearing out our backlog. I'm making this change!

[2018-12-18 19:42] #271 closed

[2018-12-18 19:43] elbatk commented on #235
Hi @midgleyc , I couldn't get an answer on the 30 second delay you mentioned. It sounds like it may be an error on our end with how we handle certain scenarios, but our team is looking into it! I'm going to close this for now as I have the documentation change coming, but if you have any product issues still, a good place for them is the [Developer Community](https://developercommunity.visualstudi

[2018-12-18 19:43] #235 closed

[2018-12-18 19:52] #370 closed

[2018-12-18 19:56] elbatk commented on #403
I know it's been a while @RyanMathewson , but thanks for your feedback. adding @roofers here to help me find out what change needs to be made here.

[2018-12-18 19:57] elbatk commented on #405
It looks like the upgrade matrix was added, so I'll close this :) Thank you @ErikNoren ! Sorry for the abnormally long delay here.

[2018-12-18 19:57] #405 closed

[2018-12-18 19:59] elbatk commented on #476
Hi everyone, I know it's been a while. I'm going to close this issue here and suggest if you have issues with the product that you post to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) which is actively monitored by the product team. Thanks!

[2018-12-18 19:59] #476 closed

[2018-12-18 20:00] elbatk commented on #567
Hi @magius96 , I'm going to close this as a docs issue and suggest that you post to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) which is actively monitored by the product team. Best of luck!

[2018-12-18 20:00] #567 closed

[2018-12-18 20:13] elbatk commented on #591
Hi @tcgielow , getting around to the older stuff on my backlog, I've got a PR for this, thank you! :)

[2018-12-18 20:13] #591 closed

[2018-12-18 20:14] elbatk commented on #614
Hi @DivvelaLakshmiraj , I know it's been a while, but you will probably find better/quicker answers to product questions on the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) which is actively monitored by the product team, thank you!

[2018-12-18 20:14] #614 closed

[2018-12-18 20:14] #645 closed

[2018-12-18 20:15] elbatk commented on #645
Closing this issue due to lack of response. If you have a product issue, the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) would be best!

[2018-12-18 20:19] westandy-dcp opened #2816 "Tasks and Versioning"
I feel like this needs more explanation.  I'm trying to create an artifact in my release pipeline and I'm getting this error:
Job &lt;MyJob&gt;: Step references task 'ArchiveBackendArtifacts' at version '0' which does not exist.

Here's my pipeline definition:

jobs:
  - job: ${{ parameters.componentName }}
    displayName: ${{ parameters.componentName }}
    pool:
      vmImage: "ubuntu-16.04"

[2018-12-18 20:35] elbatk commented on #2816
Hi @westandy-dcp , the best place to post product issues is the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is actively monitored by the product team. Please link the ticket there on this thread though, as if there is a docs update that comes out of it, I'd like to help with that for future users!

[2018-12-18 20:41] elbatk commented on #2816
Also, out of curiosity, where are you finding that task?

[2018-12-19 01:48] pathakneeti opened #2817 "add to this documentation: when an owner is removed he/she is removed from the PCA group"
add to this documentation: when an owner is removed he/she is removed from the PCA group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df27392f-aec0-41d9-726c-88abc12468e0
* Version Independent ID: f21e6a50-99f5-819b-4e09-99a84253bf9d
* Content: [Change the owner of an organization - Azure DevOps Services](https://doc

[2018-12-19 06:11] rasimavci commented on #1480
I have few questions.
I use TFS and I can not see same Test Explorer screen when I click Test.
I want to Associate a coded UI to my test but I can not see that option when I right click to test.
I connected to a project but dont know which branch fetched, how can I know ?
Shoul I code the coded ui test in same project and main branch ?
Is it possible to associate test to a coded ui test that is in

[2018-12-19 07:12] StefanSchoof opened #2822 "Explain that the environment variable contains only the path to the folder"
I set up a Selenium Test in node. The node Selenium api require the full path to the driver (include the exe part). The documentation should mention that the environment var does only contain the path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e51d18-72ec-1ad4-9ae7-8185c8e1dcd6
* Version Independent ID: 9f2f0471

[2018-12-19 08:52] PBoraMSFT commented on #1480
@rasimavci - which version of VS are you on? Association is available only through VS, not in the TFS / VSTS web-access.

[2018-12-19 08:58] harishkragarwal commented on #2725
Sorry for the confusion here. Our documentation was in a faulty state and have just completed a PR to fix it.  In your task.json please have it as

 "category": "Utility"

'Azure Pipelines' is not a category to be used in the task.json.
I expect the documentation update to be reflected in a day. Or in the worst case post the new year.

[2018-12-19 08:58] #2725 closed

[2018-12-19 09:37] geedsen opened #2823 "Download does not work"
https://pkgs.dev.azure.com/{organizationName}/_apis/public/nuget/client/CredentialProviderBundle.zip  download results in a "The resource cannot be found." Might be good to mention that the {organizationName} needs to be replaced by your own organization name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab0a3735-a9b

[2018-12-19 09:49] bogdanbanciu opened #2824 "Can't disconnect Azure DevOps organization from AD"
I am getting the following error when I try to disconnect the AD: "AAD Tenant disconnection failed due to the error : Account entitlement not found in the dictionary for source identity '**************************'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7244b36c-6f57-1673-7ce4-27006923fec8
* Version Independent

[2018-12-19 12:28] ebrucucen opened #2825 "Display Graphs in iFrame"
Is there any way to display iframes as graph? It would be helpful to display thirdparty graphs to be linked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822-66c8-3a34-8905645ce5f2
* Content: [Markdown syntax for files, widgets, and wikis in Azu

[2018-12-19 13:40] bstoinev commented on #251
OK. I have generated a PAT with full access and supplied it to a "nuget.exe push" command.
There is no difference as it keeps asking for username and password.
Any thoughts? I really need to publish entirely from the command line without setting up a config file...

[2018-12-19 13:55] BrickOven opened #2826 "Support says only individual emails accepted not groups"
HI - Please make the list of valid selections for email more clear and tell people you can only select individual email addresses even though the dialog box even says search users and groups.

From this {issue)[https://developercommunity.visualstudio.com/content/problem/386392/email-work-item-feature-fails-for-dls-with-an-apos.html] The support site says groups are not supported.. only individuals

[2018-12-19 14:36] guytenaerefe opened #2827 "Edit / Overview templates"
Managing templates for releases this way is not really efficient. Are there any plans to make these templates editable from an overview page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce3b1a51-8a5d-1aad-470c-a1e9ed1a3bf7
* Version Independent ID: 857c4c85-1915-8ec2-4586-a758eb423514
* Content: [Use stage templates

[2018-12-19 14:47] naveenav commented on #2700
Hi All, we are struggling with the same issue. Any resolution will be appreciated.

[2018-12-19 14:50] elbatk commented on #2700
Hi everyone, I wanted to let you know that for product issues, it would be best to post to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). It's actively monitored by the product team, so you'll get faster and better traction. However, I have seen this issue before so I'd like to update our docs if there's a need, so I'll leave this issue here open for a

[2018-12-19 15:49] scottaddie commented on #2212
@PBoraMSFT If it helps get this work done, I have a YAML file demonstrating how I accomplished this: https://github.com/scottaddie/ViewComponentsDemo/blob/master/azure-pipelines.build.yml

[2018-12-19 16:54] nschonni commented on #2422
Fixed in #2820

[2018-12-19 17:01] daniel-dorroh opened #2828 "Configuring build agent account"
The doc says

but doesn't explain how the choice of user account is done when running the agent as a service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Independent ID: be9a6174-a69b-7aed-d584-5f602fcc5eb4
* Content: [Build and Release Agents - Azure Pipelines](https:/

[2018-12-19 17:45] alexmullans commented on #2700
@elbatk would probably be good to add a link to this section of the permissions page: https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/feed-permissions?view=vsts&tabs=new-nav#package-permissions-in-azure-pipelines

The page should also mention that you need to check the "Authenticate to built-in Maven feeds" box here:
![image](https://user-images.githubusercontent.com/483400/50237870-

[2018-12-19 17:52] alexmullans commented on #2816
@westandy-dcp it looks like you're trying to use the [Archive Files](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/archive-files?view=vsts) task, but have changed the task name in your YAML from `ArchiveFiles@2` to `ArchiveBackendArtifacts@1`, which doesn't exist (unless you've created and published a custom task by that name?). If you change the task name to `ArchiveFiles@

[2018-12-19 17:58] chcomley commented on #2825
Hi @ebrucucen, I've followed up with my PM and will get back to you shortly. Thanks for your question.

[2018-12-19 18:01] chcomley commented on #2824
Hi @bogdanbanciu, I'm sorry you're experiencing issues. I've followed up with my PM and will get back to you shortly.

[2018-12-19 18:42] steved0x commented on #2815
@jzeferino I'll pass this along, and moving forward, the best place to file issues with the product is here:

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2018-12-19 18:42] #2815 closed

[2018-12-19 18:45] steved0x commented on #2809
@gdprtcl Thanks for letting us know, @nschonni thanks for fixing it. That PR is merged and should be live shortly, with a possible delay due to the holidays.

[2018-12-19 18:45] #2809 closed

[2018-12-19 18:46] steved0x commented on #2802
@bpugh If you wanted to create a PR to add that content, that would be great and I'm sure many customers and readers would appreciate it. I check for new PRs 2-3 times a week, but you can also at mention me and I'll see it sooner. Link it to this issue and we can close them together.

[2018-12-19 18:47] steved0x commented on #2801
@udayansarma I'll reach out to Mike and see if we can get some more details.

[2018-12-19 18:48] steved0x commented on #2801
@mikedouglasdev Do you have any more information to share from this customer feedback?

[2018-12-19 19:00] steved0x commented on #2792
@tanure You can read about our localization of content on docs.microsoft.com here:

[Announcing New International Features on docs.microsoft.com](https://docs.microsoft.com/teamblog/announcing-new-international-features)

We have a localization team that translates the docs.microsoft.com content into different languages, and if we don't have the content that you are looking for in your language, y

[2018-12-19 19:00] #2792 closed

[2018-12-19 19:02] steved0x commented on #2794
@markyates90 I am assigning this to the author of that article to see if we need to update our documentation to address this. I recommend that you also file this as a bug report/feature request here:

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2018-12-19 19:08] steved0x commented on #2795
@bartsipes You can check the box to delete the source branch as part of completing the PR (when you complete your own PR on the branch you created), but if someone else completes your PR they don't have that option. Am I misunderstanding your question, it sounds like we may already have the capability to do what you are asking. Can you provide more details for your scenari?

[2018-12-19 20:16] KathrynEE commented on #2826
@BrickOven - Thanks Brian for the feedback. I'm updating the article to better reflect the restricitons.

[2018-12-19 20:16] #2826 closed

[2018-12-19 20:19] KathrynEE commented on #2787
@ahmadyo - The ability to set a field value as a new GUID is not a supported feature.

[2018-12-19 20:19] #2787 closed

[2018-12-19 20:23] KathrynEE commented on #2723
@rschindhelm-haba - Thank you for your inquiry. there are no consequences. Any team can enable or disable the features and backlogs for their team at any time. The only consequence is that the team doesn't have access to a feature or epic backlog and board.  A Project Administrator can also completely [disable the Epic or Feature work item type](https://docs.microsoft.com/en-us/azure/devops/organi

[2018-12-19 20:23] #2723 closed

[2018-12-19 20:59] Erikvdv commented on #2341
Any idea on timelines for this fix? We would love to have the feature to be able to download release artifacts.

[2018-12-19 21:17] chcomley commented on #2817
Thanks @pathakneeti, I've updated the article. This should be live by sometime this afternoon. Thanks again!

[2018-12-19 21:17] #2817 closed

[2018-12-19 21:19] westandy-dcp commented on #2816
So, I had no idea that the task names such as `ArchiveFiles` were predefined.  From the YAML docs, I got the impression that you can just make up the task name as you wish.  Is there a list somewhere of the MS Azure predefined tasks?

I finally got this to work with this:

[code]

[2018-12-19 21:20] elbatk commented on #2816
@westandy-dcp Glad you got it worked out! You can find the list of tasks and their references on our doc site here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/?view=vsts

Gonna close this for now, if you're happy :)

[2018-12-19 21:21] #2816 closed

[2018-12-19 22:05] steved0x commented on #2796
I am passing this info along to the team. Thank you for your feedback.

[2018-12-19 22:05] #2796 closed

[2018-12-19 22:07] steved0x commented on #2778
@xbitdigital Thank you for letting us know, I will get that fixed.

[2018-12-19 22:07] #2778 closed

[2018-12-19 22:10] JonnewDev commented on #2488
I'm missing this feature too. Also it would be greate if secrets had option for TLS and not just container registry and generic.

[2018-12-19 22:12] steved0x commented on #2776
@OXINARF @afeblot Thank you for the feedback, I am assigning this to the author of the article to see if this is possible, and if so, to add the missing documentation.

If this is a feature request, please close this issue (the issues in this repo are for documentation feedback) and submit your request here:

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure Dev

[2018-12-19 22:13] steved0x commented on #2532
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

[2018-12-19 22:13] #2532 closed

[2018-12-19 22:14] steved0x commented on #2676
@Naphier Thank you again for your feedback, I'm closing this issue.

[2018-12-19 22:14] #2676 closed

[2018-12-19 22:16] JonnewDev commented on #2488
I would like secrets to also support TLS option in addition to already supported ACR and generic. This is could be a way to add TLS certificates (from Azure Keyvault for example) from Azure DevOps as a kubernetes TLS secret. So one could run "kubectl get secrets my-secret" and create / update TLS secret.

[2018-12-19 22:37] KathrynEE commented on #2638
@spashx - Thank you for the feedback. Actually, the permissions for plans are missing for all versions. I'm correcting this with a new topic to be published soon.

[2018-12-19 22:37] #2638 closed

[2018-12-19 23:30] KathrynEE commented on #2404
CLosing this issue for now as haven't heard back from the customer.

[2018-12-19 23:30] #2404 closed

[2018-12-19 23:36] anshuman-goel opened #2831 "How to install packages on Azure DevOps bash plugin?"
I want to install packages like I use to do on Linux. "apt-get -y install jq"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36fff5ec-d766-b589-39ff-9c69ab26dd5b
* Version Independent ID: 12deb045-2511-b5bf-9e41-0d223bef516b
* Content: [Shell Script task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/

[2018-12-20 00:20] seansparkman opened #2832 "Server Endpoint"
You need to explain what Server Endpoint is in your documentation.  It is in the example.  You should also have documentation to explain how to set up an App Link to Visual Studio App Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6643ac-ea32-1761-a7e9-0f17a3c0b8ee
* Version Independent ID: 2442af0f-3f01-a91c

[2018-12-20 05:10] brad-jones commented on #2456
Also I believe the unwritten standard that other ci services honour is `[skip ci]`

https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build
https://circleci.com/docs/2.0/skip-build/
https://documentation.codeship.com/general/projects/skipping-builds/#skipping-via-commit-message

[2018-12-20 07:18] rschindhelm-haba commented on #2723
@KathrynEE Great. Thank you for clarifying.

[2018-12-20 10:19] woonyin2014 opened #2835 "The category 'Azure Pipelines' is not available in language 'en-us'."
I have issue when upload new item (.vsix) file to TFS2017 update 1 on premise.
this is the error "The category 'Azure Pipelines' is not available in language 'en-us'."

Who can help me on this?

[2018-12-20 11:26] andreymir opened #2837 "Download pipeline artifact into release pipeline"
&gt; If you're using pipeline artifacts to deliver artifacts into a release pipeline, you don’t need to add the task. Release pipelines will automatically inject the task into your stages.

This documentation is wrong. I am trying to use pipeline artifact from a release pipeline. The release pipeline does not automatically fetch the artifact. I have to add a task to download the artifact.

---
###

[2018-12-20 11:58] renenadorp commented on #2504
Is it also possible to convert release-pipelines, initially developed using the visual designer, to yaml, and keep this separate from the build-pipeline?
Regards,
R.

[2018-12-20 12:48] dmakaroff opened #2839 "Broken Functionality"
The workaround to authorise a resource does not work anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d5-4fb4-7c3e-b84abfa290c2
* Version Independent ID: 3e2b80d9-30e5-0c48-49f0-4fcdfedf5eee
* Content: [Resources - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resour

[2018-12-20 13:19] #2811 closed

[2018-12-20 13:53] dvdgutzmann opened #2840 "Screenshots misleading?"
In the example there are *_img* and *_shared* folders. However, they are not shown in the screenshots of the wiki. Are they somehow hidden? Or just not visible on the screenshot?

We would love the ability to hide certain folders!

Also are the icons in the wiki screenshots up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-12-20 14:18] PBoraMSFT commented on #2667
@rishavsharan - I believe this issue be closed?

[2018-12-20 14:57] chcomley commented on #2825
@ebrucucen, Currently, there is no way to display iframes as graphs, the only way we support iframes is with embeded videos. We do, however, recommend making a [feature suggestion](https://apac01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdevelopercommunity.visualstudio.com%2Fcontent%2Fidea%2Fpost.html%3Fspace%3D21&data=02%7C01%7C%7C3d5a3783f016463d520608d6663647b6%7C72f988bf86f141af91ab2

[2018-12-20 14:57] #2825 closed

[2018-12-20 15:15] alexmullans commented on #2837
Sorry about that - the docs got ahead of the deployment. Per https://github.com/Microsoft/azure-pipelines-tasks/issues/8119#issuecomment-448909063, the next deployment (first few weeks of 2019, after the holiday deployment freeze ends) will fix some issues with the download task being injected automatically.

[2018-12-20 15:15] #2837 closed

[2018-12-20 15:17] alexmullans commented on #2341
Early 2019 - we're currently in a deployment freeze for the holidays but will be back at full speed in January.

[2018-12-20 15:23] alexmullans commented on #2813
@elbatk can you add a moniker section for < TFS 2017.3 that covers using the Generic service connection instead of the NuGet one?

[2018-12-20 15:30] elbatk commented on #2813
@alexmullans we can't do subversions through monikers, but I can a note for just TFS 2017 that states the guidance for either 2017.2 or older and then 2017.3

[2018-12-20 15:35] mehmetkut commented on #2020
+1 Please update this for new navigation experience

[2018-12-20 18:02] wsmckenz opened #2842 "Release Notes for new Features"
ADO is changing very quickly, usually for the better :-) But these changes often break our pipelines in unexpected ways. It would be good to have release notes as new things are rolled out, particularly for API and Yaml builds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6037c0a7-9595-eff1-3f5c-2607baa73c4d
* Versio

[2018-12-20 18:53] lifesoccult opened #2843 "Output Variable Stopped Working in Template"
Hello,

I have a phase (YAML) generating an output variable that was picked up by another later phase. This was working when they were in the same `.vsts-ci.yml` file as part of that project's pipeline. I then extracted both of these phases out into templates for use across multiple pipelines. Upon doing so, the latter phase is no longer able to read the output of the first phase. Here's my workin

[2018-12-20 19:08] alicejgibbons opened #2844 "Can't reference multiple variable groups from YAML"
I can't reference multiple variable groups from within the yaml pipeline editor. It seems like only the first variable group is picked up unless I manually link the second group through the visual editor.

variables:
- group: my-variable-group1
- group: my-variable-group2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-20 19:19] andyjlewis commented on #2504
You can deploy from a YAML pipeline; some of our docs show examples of this. However, YAML pipelines don't have stages or approvals.

[2018-12-20 19:27] vutkin opened #2845 "How to add to public upstream extra remote nuget feeds?"
Hello team,

How can I add public nuget package feed on a premises hosted on Azure DevOps 2018 environment?

We need add to upstream url from https://nuget.devexpress.com.

https://docs.microsoft.com/en-us/azure/devops/artifacts/concepts/upstream-sources?view=vsts#

Content: Upstream sources
Product: Azure DevOps Service

[2018-12-20 20:01] CZEMacLeod commented on #2330
@LockTar I have used this option in the 'GUI' version, but cannot work out how to do the same in yaml.
The documentation and examples for using yml is appalling.

[2018-12-20 20:05] LockTar commented on #2330
@CZEMacLeod you are doing this in build or release pipeline?

[2018-12-20 20:35] Silvenga opened #2846 "Yaml Schema Incorrect"
Looks like `restoreSolution` should actually be `solution`. At least, this is what the AzureDevOps pipeline VSCode extension says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551-16ad-e164-a4ac522cdaab
* Version Independent ID: a3fd6935-2b99-92ef-4eb3-3249fca01f8a
* Content: [NuGet restore, pack, and publi

[2018-12-20 20:36] lifesoccult commented on #2751
@vtbassmatt I don't have access to the internal bug db. How will we know when this bug is addressed?

[2018-12-20 22:04] ManuelGalindo commented on #2700
@alexmullans We tried that and we hit the same status code 401
From Build Logs

`[ERROR] Failed to execute goal on project enterprise-mainframe-system-api: Could not resolve dependencies for project com.MYPROY.enterprise:enterprise-mainframe-system-api:mule-application:1.0.0-SNAPSHOT: Failed to collect dependencies at com.MYPROY:enterprise-global-exception-handler:jar:1.0.0-RELEASE: Failed to read

[2018-12-20 22:40] CZEMacLeod commented on #2330
@LockTar In the build pipeline. I did eventually work out that the task name property maps to the Output Variables Reference Name field but it wasn't documented anywhere I could find...

[code]

You can then use $(app_pfx.secureFilePath) as the variable name (in my example).

If you have multiple files like @brownkevg did, you just assign a `name: ` to each download then use that as the prefix.

[2018-12-20 22:41] lifesoccult opened #2847 "Output Variable Stopped Working in Templates"
Hello,

I have a phase (YAML) generating an output variable that was picked up by another later phase. This was working when they were in the same `.vsts-ci.yml` file as part of that project's pipeline. I then extracted both of these phases out into templates for use across multiple pipelines. Upon doing so, the latter phase is no longer able to read the output of the first phase. Here's my workin

[2018-12-20 22:42] lifesoccult commented on #2843
Opened #2847 using the correct method. Closing.

[2018-12-20 22:42] #2843 closed

[2018-12-20 23:46] chcomley commented on #2840
Hi @dvdgutzmann, The _img and _shared folders just weren't visible in the screenshot, however I've just pushed a new replacement shot, which includes those folders. Thanks for the heads up on that, as well as the icons, as those screenshots have been replaced also. The updates should be live by sometime this afternoon or early morning tomorrow.
If you want to suggest a feature, please do so! Go he

[2018-12-20 23:46] #2840 closed

[2018-12-20 23:54] AdamYoblick commented on #2762
I'd like to know this as well, it's not clear from the documentation. Can anyone on the AzDo team clarify?

[2018-12-21 03:23] Powerhelmsman opened #2848 "I want to contribute to provide the Azure DevOps pt-bt location docs"
This feedback is from @tanure from https://github.com/MicrosoftDocs/feedback/issues/983

I would like to contribute to AzureDevOps docs for the pt-BR location: https://docs.microsoft.com/en-us/azure/devops/user-guide/index?view=vsts
How I can proceed?
Thanks

[2018-12-21 03:44] #2835 closed

[2018-12-21 06:01] shanthoshravirala commented on #1563
for VSS.getWebContext().user, I am not getting limitedAccess attribute

[2018-12-21 07:28] daanishmillwallacg opened #2849 "Can't use variables for sshEndpoint in SSH Deployment Task"
jobs:

- job: deployjob

  pool:
    vmImage: 'Ubuntu 16.04'

  strategy:
    matrix:
        box_1:
            endpoint: Box1
        box_2:
            endpoint: Box2

  steps:

  - script: echo $(endpoint) #works and prints Box 1 and Box 2 on two jobs

  - task: SSH@0
    inputs:
        sshEndpoint: $(endpoint) # doesn't work and literally uses $(endpoint)
        runOptions: commands