[2022-11-03 21:33] #12851 closed

[2022-11-03 21:46] WilliamAntonRohm commented on #12844
@m365ken -- thank you for your feedback.  This repo is solely for documentation issues, and this seems product-related.  Please add it here:
- [Developer Community](https://developercommunity.visualstudio.com/search?space=21)

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2022-11-03 21:46] #12844 closed

[2022-11-03 23:19] saimtiruvuri opened #12857 "Inaccuracy in Analytics view screenshot"
We noticed that the Analytics views is under the overview section in our production ADO account but the screenshot in the document shows that its under "Boards" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f1556d72-e3dc-2d47-f326-ff0b24f879cb
* Version Independent ID: 2e4122d2-2292-8488-f36f-8feb0ce3e450
*

[2022-11-03 23:55] KathrynEE commented on #12857
@saimtiruvuri - Thank you for bringing this to our attention. I will update the article and close this issue once the updates are published.

[2022-11-04 05:19] Sanmj100 commented on #12849
Hi
i am sharing the details below

2022-11-03T12:19:58.1159969Z ##[section]Starting: IISWebAppDeploymentOnMachineGroup
2022-11-03T12:19:58.1267654Z ==============================================================================
2022-11-03T12:19:58.1267975Z Task         : IIS web app deploy
2022-11-03T12:19:58.1268211Z Description  : Deploy a website or web application using Web Deploy
2022-11-03T12

[2022-11-04 10:57] volkova-a-an commented on #2914
Hi, it would be great to have a working example in the documentation or just here in the issue. I tried newline (as it is stated in docs), pipe as in the comment from [allantargino](https://github.com/allantargino) with and without quotes. Yet I can't figure it out.

[2022-11-04 12:05] AndyBird869 commented on #12839
I'm seeing the same problem on two pipelines created within the last week.

In both cases the pipeline is saved and triggers/runs successfully. No indication of any issues in the UI and no clue about where the problem is.

![image](https://user-images.githubusercontent.com/61562155/199968386-7b422410-115e-4e97-b649-6d92d402441d.png)

[2022-11-04 13:43] svdHero commented on #12851
@KathrynEE Unfortunately, this does not work for me. When linking or mentioning work items, only items from within the same project are shown/suggested. Although I am Project Administrator of both projects, I cannot link work items across projects.

Let's assume we have a project one called "ProjA" with Work Item 4000 and project two called "ProjB" with Work Item 5000. Could you please explain in

[2022-11-04 14:29] Zhaph opened #12858 "Example request to update the retention window for a multi-stage pipeline is incorrect."
Under the example [Updating the retention window for a multi-stage pipeline based on stage success](https://learn.microsoft.com/en-us/azure/devops/pipelines/build/run-retention?view=azure-devops&tabs=powershell#example-updating-the-retention-window-for-a-multi-stage-pipeline-based-on-stage-success) the URL and body for the _update_ request is incorrect.

Attempting to use the example currently res

[2022-11-04 18:25] juliakm commented on #12311
The feature is in Azure DevOps 2022 but not Azure DevOps 2020. I'll update the article shortly.

[2022-11-04 18:36] KathrynEE commented on #12851
@svdHero - I'm sorry you're running into difficulties. The linking should work as indicated. The only possibilities I can think of are:
- You've been added to a group that is limiting your permissions to view or edit work items in ProjB.
- You may have encountered an issue with the New Boards Hub preview feature - mentioned here: [New Boards Hubs now available in public preview](https://learn.micr

[2022-11-04 19:06] #12311 closed

[2022-11-04 21:36] ramiMSFT commented on #12291
@housten Thanks for the feedback! I'm adding an example shortly

[2022-11-04 21:36] #12291 closed

[2022-11-04 23:43] WilliamAntonRohm commented on #12846
@AzureMarker -- Mark, thank you for your detailed feedback and suggestions.  To vote to change the behavior of `succeededOrFailed()`, please add that here:
- [Developer Community](https://developercommunity.visualstudio.com/search?space=21)

@juliakm -- Julia, please look into this potential documentation issue.

[2022-11-05 00:10] WilliamAntonRohm commented on #12847
@1sandol -- SanDol, thank you for your thorough feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

For your suggestion on configuring the capacity line, please add it here:
- [Developer Community](https://developercommunity.visualstudio.com/Az

[2022-11-05 00:21] WilliamAntonRohm commented on #12852
@SQLPRODDBA -- thank you for your feedback and request.  This repo is solely for documentation issues, and this seems implementation-related.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

cc @juliakm for awareness

I am closing this issue now.  You

[2022-11-05 00:21] #12852 closed

[2022-11-05 00:23] WilliamAntonRohm commented on #12854
Related to #12855.

[2022-11-05 00:24] WilliamAntonRohm commented on #12855
Related to #12854.

[2022-11-05 00:28] WilliamAntonRohm commented on #12853
@dwallac1 -- Dave, thank you for your follow-up.  This repo is the right place for documentation issues, in this case a clarification.

@KathrynEE -- Kathryn, please look into this issue.

[2022-11-05 00:33] WilliamAntonRohm commented on #12856
@cpdohert -- thank you for your feedback and question.  Please consider these resources, if you haven't already:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

If you feel this is a product issue, please add it here:
- [Developer Community](https://developercommunity.visualstudio.co

[2022-11-05 00:33] #12856 closed

[2022-11-05 00:38] #12807 closed

[2022-11-05 00:42] KathrynEE commented on #12853
@dwallac1 - There is no feature support to query as to who is following a work item. You can only create a query for work items that you are following. For example, using the following filter clauses:

![image](https://user-images.githubusercontent.com/10856840/200093186-607fe346-f5c6-4ba4-80bc-ad1a92b49a76.png)

[2022-11-05 00:42] #12853 closed

[2022-11-05 10:27] #12850 closed

[2022-11-05 10:28] WilliamAntonRohm commented on #12850
@lorrinferdinand -- thank you for catching this.  I have updated the documentation and it should be live by tomorrow.

[2022-11-07 07:41] WilliamAntonRohm commented on #12849
@Sanmj100 -- thank you for your followup.  What is your pattern intended to match?  The error message seems to indicate it's not a single package.

[2022-11-07 08:00] WilliamAntonRohm commented on #12817
This is the article in question:
- [Set retention policies for builds, releases, and tests](https://learn.microsoft.com/en-us/azure/devops/pipelines/policies/retention?view=azure-devops-2020&tabs=yaml)

[2022-11-07 13:57] neok-g opened #12861 "How to create a serviceEndpoint via Azure DevOps REST API with an approver or group of approvers?"
I am using the Azure DevOps REST API to create a serviceendpoint/serviceconnection which works fine. I am using the following endpoint: https://learn.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/create?view=azure-devops-rest-6.0&tabs=HTTP

However we would like to specify a group of approvers as you can do via the Azure DevOps portal like shown below:

![image](https://user-

[2022-11-07 15:09] MellyDawgKY commented on #10659
yah,  ran into the same dead end catastrophe after a few long days of writing a Powershell solution for managing automated doc entry.  I am always open to an alternate solution if it exist if we can actually do this and missing a simple switch, etc.

[2022-11-07 16:50] juliakm commented on #12744
@gabrielmccoll This comes from a Pipelines PM. I'll update the article as well.

The usefulness of the templateContext comes into light when you process each job, for example, to set up the environment for that job. Imagine you have an unbounded number of jobs that you pass as parameter value to your extended template. You could pass as parameters a list of jobs and an environment properties objec

[2022-11-07 17:01] #12744 closed

[2022-11-07 17:20] gabrielmccoll commented on #12744
I might need to read this a few times.  Is there any chance of an pair of examples that shows the comparison

[2022-11-07 17:21] JulessZ opened #12862 "Mac OS Excel connector?!"
When will be developed a connector for MAC Excel? is this feature on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 505849d3-01c8-a2cd-dc6c-271dd1120e2d
* Version Independent ID: 577fc252-60e4-f670-bb92-6bdbcb7d5c69
* Content: [Modify Azure Boards work items in bulk with Microsoft Excel - Azure Boards](ht

[2022-11-07 17:29] #12796 closed

[2022-11-07 21:07] jonathh21 opened #12863 "Why is the Bicep so much harder?!"
I've followed these steps (ran into the issue with the load balancer, and another with the admin user name (i think it uses the os name as default and my Linux '22_04-lts' or something was unsavoury.)

But I have tried to follow with Bicep and BOY it is hard work.

I am at nearly 60 lines of bicep and it still doesn't work. You have to supply all sorts of values that you simple don't have to with

[2022-11-07 21:36] ramiMSFT commented on #11029
Thanks for your feedback!

[2022-11-07 21:36] #11029 closed

[2022-11-08 07:45] housten commented on #12291
It would be great to have an example of reading a nested value (in other words, not just one in the root of the reply).

[2022-11-08 14:08] charliearcuri opened #12864 "title in metadata doesn't match actual article so copy-paste into Office creates misnamed hyperlink"
[code]
**Repro Steps**

1. navigate to article
2. copy the URL from the browser
3. paste into OneNote - Office will determine that a URL is being pasted and generate a hyperlink with a human-readable title

**Expected**
pasted hyperlink matches title of the article

**Actual**
pasted hyperlink refers to "_**with Azure Artifacts**_" whereas the actual article covers "_**with Azure CLI**_"

[2022-11-08 16:42] benkeen opened #12865 "* Folder match for PublishTestResults doesn't appear to work"
Hi! I'm finding the documentation about the wildcard matching for the `testResultsFiles` field of the PublishTestResults task a bit unclear. From what I can understand, it doesn't appear to work. I'm trying to do a simple folder match, matching XML test files at these locations, where only the project folder changes:

Unless I'm misreading the doc, I should be able to do something like one of thes

[2022-11-08 17:40] ForteUnited opened #12866 "How to do this in an Azure Pipeline"
This article doesn't describe how to do this in an automated CI pipeline. If there is an article on how to do it in CI yaml pipeline, perhaps it should be referenced here in this article.

I am trying to find how to use a secured Azure Artifact feed in my yaml pipeline with the dotnet restore but I'm getting an uauthorized exception.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-11-08 17:44] titans2016 opened #12867 "Document outdate"
I wanted to use these docs for learn students.
But in fact these docs contain plenty of issues, and bugs.
Very outdate document.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 079492cb-bdc3-7ba6-8581-dd76391cda4f
* Version Independent ID: 81e719d4-b127-fa41-4cf2-421e91b9d4be
* Content: [Canary deployment strategy for

[2022-11-08 18:57] ramiMSFT commented on #12647
Thanks for the feedback!

[2022-11-08 18:57] #12647 closed

[2022-11-08 19:06] WilliamAntonRohm commented on #12865
@benkeen -- Ben, thank you for your well-researched feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@shashban -- Shashank, please look into this issue.

[2022-11-08 19:14] WilliamAntonRohm commented on #12866
@ForteUnited -- thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@ramiMSFT -- please look into this issue.

[2022-11-08 20:16] WilliamAntonRohm commented on #12863
@jonathh21 -- thank you for your feedback and questions.  This repo is solely for documentation issues, and this seems more implementation-related.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

I am closing this issue now.  You are welcome to @ men

[2022-11-08 20:16] #12863 closed

[2022-11-08 20:31] WilliamAntonRohm commented on #12820
@RoopeshNair -- Roopesh, please review these changes in [private PR 5228](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/5228).

[2022-11-08 22:57] #12824 closed

[2022-11-08 23:51] WilliamAntonRohm commented on #12862
@JulessZ -- Juless, thank you for your question.  If support is planned, it will be added to the [Azure DevOps Roadmap](https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline) and the [Azure DevOps Roadmap backlog items](https://dev.azure.com/mseng/AzureDevOpsRoadmap/_backlogs/backlog/AzureDevOpsRoadmap%20Team/Roadmap%20Items).

I am closing this issue now.  You are welcome

[2022-11-08 23:51] #12862 closed

[2022-11-08 23:54] WilliamAntonRohm commented on #10659
@MellyDawgKY -- thank you for your followup.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-09 01:15] garysxiq opened #12868 "Maximum number of Service Connections and scope for that limit"
[Enter feedback here]
Can this page be updated with the maximum number of service connections and the scope for that limit e.g. X number per project or organisation?
If there is no upper limit that should be listed as well. This may influence the project and service connection distribution strategy.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-11-09 01:33] KathrynEE commented on #12868
@garysxiq - Thank you for your inquiry. With regards to service connections - are you referring to the number of users from an organization or project that can be active at any one time? I don't think there is a limit on this number, but I will check with the product group. Other resources you might check are: [Usage monitoring](https://learn.microsoft.com/en-us/azure/devops/organizations/accounts

[2022-11-09 01:43] garysxiq commented on #12868
Hi Kathryn thanks for getting back to me so quickly. I'm referring to the number Service Connections that can be created against a given project e.g. for Azure these would usually be linked to the deployment Service Principal. This screen - https://learn.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints

[2022-11-09 08:49] titans2016 commented on #12867
@WilliamAntonRohm Here my comments:
Docs link to Git repo:
https://github.com/MicrosoftDocs/azure-pipelines-canary-k8s

File: misc/servicemonitor.yml
Very legacy file. First line:
apiVersion: monitoring.coreos.com/v1
Resource monitoring.coreos.com does not exist as domain. During deployment, fail pipeline.
I do not know what could use instead, but see that such example was using 4-5 y ago. But not

[2022-11-09 12:01] neok-g commented on #12861
These are pretty general resources. But anyway I found a solution so I will close this issue.

[2022-11-09 12:01] #12861 closed

[2022-11-09 13:41] codeout opened #12869 ""go get" via https can omit "_git/" from repo URL"
[Enter feedback here]

In "Go get with private projects" -> "HTTPS" section, there are possible typos.

[code]

[code]

- Those don't match with "instedOf" config of git
- Those don't match with the URL for SSH

Tested with `go version go1.19.2 darwin/amd64` and `go get` worked without `_git/`.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-09 19:26] KathrynEE commented on #12868
@garysxiq - Thank you for the clarification. I've contacted the product team and will respond when I hear back from them.

[2022-11-09 19:26] KathrynEE commented on #12857
@saimtiruvuri - The screenshot has been updated to reflect the correct image.

[2022-11-09 19:26] #12857 closed

[2022-11-09 22:04] saimtiruvuri commented on #12857
Thank you for the prompt action @KathrynEE

[2022-11-09 22:51] WilliamAntonRohm commented on #12861
@neok-g -- thank you for your follow-up.  For future reference, what is your solution?

[2022-11-09 23:02] WilliamAntonRohm commented on #12867
@titans2016 -- Maxim, thank you for your detailed and thorough follow-up.

@juliakm, @steved0x -- Julia or Steve, please look into this issue.  The listed author is no longer assignable.

[2022-11-10 06:36] DillyBabu opened #12870 "Azure Devops Run time parameter support"
In Azure Devops, If I trigger a pipeline manually, the follow code successfully picks up my value and output is displayed. But if I trigger this pipeline by automatic(like pushing the code from vscode to branch) then it gives the following error:

**Error: "A value for the 'terraformAction' parameter must be provided."**

I am not able to see any reference in Microsoft Document on how to send a ru

[2022-11-10 08:59] worldspawn opened #12871 "Collaborator or Contributor?"
After you add the build user to the feedback as a Collaborator the user appears in the list as a Collaborator. Then when you refresh the permission list the user becomes a Contributor. Highly confusing

![Animation](https://user-images.githubusercontent.com/819581/201048976-a5d6a2ae-be73-4fc9-ac8f-b59158bb3d08.gif)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-10 17:12] genne opened #12873 "Possible to disable "merge commit" in PR builds?"
We would like to only build the code of the PR source branch, not the merge commit with the target branch. I cannot find anything in the documentation about this. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bfba9a21-e0f9-4fc6-43fc-bfdc51af31d3
* Version Independent ID: d93c7852-ce63-a6d0-417a-45f8cf

[2022-11-10 19:59] WilliamAntonRohm commented on #12873
@genne -- Christian, thank you for your questions.  Please consider these resources and let me know they help answer:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

cc @vijayma for awareness

[2022-11-10 21:53] WilliamAntonRohm commented on #12871
@worldspawn -- Sam, thank you for your graphic feedback!  If you feel this is a product issue, please add it here:
- [Developer Community](https://developercommunity.visualstudio.com/AzureDevOps)

@ramiMSFT -- Rami, please look into this potential documentation issue.

[2022-11-10 21:54] WilliamAntonRohm commented on #12870
@DillyBabu -- thank you for your feedback.  Are you following a particular learn.microsoft.com article?  Meanwhile, please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-10 22:28] Davesmall28 commented on #8521
The solution to the above is to move the length expression inside the curly braces:

`condition: gt(${{length(parameters.validateParallelSteps)}}, 0)`

[2022-11-10 22:45] worldspawn commented on #12871
Well I'm not sure what it is. After adding the account and it flips to Contributor the build _can_ authenticate with the feed.

[2022-11-10 23:34] thegreatpeon opened #12874 "NuGet References"
Some of the documentation still references NuGet documentation (command).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b934d9e8-d417-1f45-dc87-e0dc25219c97
* Version Independent ID: 14bbdf7d-0608-f517-3b10-26d0e83eca85
* Content: [Universal Package, download and publish task - Azure Pipelines](https://learn.microsof

[2022-11-10 23:39] thegreatpeon opened #12875 "YAML Won't accept feed/package names"
I'm having a hard time getting this task to accept feed/package names rather than the IDs that you can only see from the Pipeline Editor in Azure DevOps. Every other task lets you do this so I'm assuming there's some proper syntax that I'm missing, but everything I've tried results in a "Cannot find the package '$(packagename)'" error or something similar.

Whether I use a variable or the name doe

[2022-11-10 23:49] JohnDelisle opened #12876 "Where is witadmin in Visual Studio community 2022?"
Your documentation is out of date, and does not apply to Visual Studio 2022.

Where can I find the witadmin tool, in current versions of Visual Studio 2022?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c1b1b597-3b63-8f19-56a7-d14285553983
* Version Independent ID: 36c11397-2887-731a-3262-35a07b699aa1
* Content: [Man

[2022-11-11 00:07] raboley commented on #8521
Ty! I figured it out eventually but forgot about this thread, hope it is able to help someone in the future!

[2022-11-11 00:09] KathrynEE commented on #12876
@JohnDelisle  - Thank you for the feedback. You can find **witadmin** in the following paths depending on your version:
[code]

[2022-11-11 00:17] chcomley commented on #12840
Hi @BrendonLP, in this case, the user should get both the highest license AND all the permissions of any of the rules that apply, and not the experience of one taking precedence over the other. For now, we'll leave the article alone and see what we find, as we've filed an internal bug! Thank you so much for your feedback. Feel free to @mention me if you have any further questions. Thanks.

[2022-11-11 00:17] #12840 closed

[2022-11-11 01:47] ForteUnited opened #12877 ".NET 6 and Assets file '<path>\project.assets.json' not found."
I believe this article is missing a critical piece of information for modern apps. This article instructs the user to include a condition which doesn't include a Nuget command 'restore' step. One could also easily assume this would mean that I could exclude a 'dotnet restore' step as well.

In another article related to dotnet restore it is explicitly said that the project.assets.json file is crea

[2022-11-11 03:21] WilliamAntonRohm commented on #12875
@thegreatpeon -- Adam, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@arob98 -- Angela, please look into this potential documentation issue.

[2022-11-11 03:24] WilliamAntonRohm commented on #12648
@FeelTheWay -- apologies for the delayed response.  Are you still seeing this behavior?

[2022-11-11 03:30] WilliamAntonRohm commented on #12858
@Zhaph -- thank you for your feedback and PR.

@moswald -- please review Zhaph's [PR 12859](https://github.com/MicrosoftDocs/azure-devops-docs/pull/12859).

@steved0x -- assigning this to you as @moswald is not currently assignable.

[2022-11-11 03:46] ForteUnited commented on #12877
In fact, here is a stackoverflow answer that seems to indicate that you do need to do restore with more modern apps exactly because of the package.assets.json file.

At this point, I'm not sure what is correct and what is incorrect.

https://stackoverflow.com/a/47145890/2469548

[2022-11-11 03:57] WilliamAntonRohm commented on #12869
@codeout -- Shintaro, thank you for researching this issue.

@vijayma -- Vijay, please review this change in [private PR 5247](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/5247).

[2022-11-11 08:31] neok-g commented on #12861
@WilliamAntonRohm https://stackoverflow.com/questions/74348387/how-to-create-a-serviceendpoint-via-azure-devops-rest-api-with-an-approver-or-gr

[2022-11-11 12:14] ForteUnited commented on #12877
This article may also want to at a minimum mention the new Central Package Management (CPM) features and how to use them with this Caching capability.

https://learn.microsoft.com/en-us/nuget/consume-packages/central-package-management

[2022-11-11 15:50] toothpasteBeforeOj commented on #8521
Wow, I was struggling with this only today and you just posted yesterday. Thank you so much for sharing!!

[2022-11-11 16:42] christopherbadman commented on #4087
For anybody else running into issues related to this, I also observed this behavior, but it was due to some unlikely circumstances - but perhaps you have the same.

I was publishing my extension using the `PublishAzureDevOpsExtension@3` task in a YAML pipeline. This task was configured with `updateTasksVersion: true` (which seems also to be the default if this input is omitted).

What this does is

[2022-11-11 18:28] dbyte opened #12879 "More detailed information about target path"
There is no information as to whether an **existing** relative path must be specified for the target `path` parameter or whether a non-existent (relative) directory or tree  is created automatically.

In general, one would wish that the path logic for uploaded and downloaded artifacts was described in more detail. The examples alone are not enough.
---
#### Document Details

⚠ *Do not edit this se

[2022-11-11 22:04] JohnDelisle commented on #12876
Thank you - appreciate your help.

[2022-11-12 00:01] KathrynEE commented on #12841
Closing this issue now as the article has been updated.

[2022-11-12 00:01] #12841 closed

[2022-11-12 02:33] abatishchev opened #12880 "Not enough advanced examples for glob patterns for folders"
There is only one examples for folders and it's basic. Need more advanced examples, such as nested folders.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b913056a-d919-94b4-15a9-305ca835ac9b
* Version Independent ID: 000c1ff3-85a6-1134-ead4-1d2628a32375
* Content: [File matching patterns reference - Azure Pipelines](

[2022-11-12 14:46] genne commented on #12873
@WilliamAntonRohm thanks for the reply. I've looked around in both these resources but cannot find any work around for this. As I understand it this is not possible?

[2022-11-13 19:03] 2BitSalute opened #12883 "Azure Repos + Teams instructions are confusing"
[Enter feedback here]

The key is that you can't just paste any of the commands.
In order to get a response from the bot, you have to type the command and let Teams resolve the bot's name.

This may be obvious, but it wasn't obvious to me. "Run command" to me means I can paste it.

It's also not clear *where* you "run the command". Answer: you can run it in reply to the bot's post, for example.

I

[2022-11-13 19:16] 2BitSalute opened #12884 "Azure Repos bot: pull request subscription instructions don't explain how to get a valid reviewer group"
We have more than 100 groups, so the dropdowns don't work.
I tried various formats and permutations, but all I get in the end is this unhelpful error message:

![image](https://user-images.githubusercontent.com/23589257/201539879-293b0305-0ea5-4021-9c17-16fcbc664d05.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-11-14 00:15] luuthanhhieu opened #12885 "PSRepo is not working"
`Register-PSRepository`, `Register-PackageSource`, `Get-PSRepository` can be completed without any issues.
But `Find-Module -Repository PowershellAzureDevopsServices` throwns the below and returns no result:
WARNING: Query Url https://orgxxxxx.pkgs.visualstudio.com/prjyyyy/_packaging/feed1-prj/nuget/v2 is invalid.

My PS versions:
Name                           Value
----

[2022-11-14 06:56] WilliamAntonRohm commented on #12880
@abatishchev -- Alexander, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@steved0x -- Steve, please look into this issue.

[2022-11-14 06:59] WilliamAntonRohm commented on #12885
@luuthanhhieu -- Lucio, thank you for your feedback.  Are you following a particular learn.microsoft.com article?  Meanwhile, please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-15 09:53] LordBenjamin opened #12886 "Using variable to specify environment"
Is there any example of this?

I have a template which is defined using template expression syntax for the variables (expanded at compile time):
[code]

But this fails:
[code]

Which correlates to the `environment:name` definition.

The docs say "we have to use variables", but there are three different supported syntaxes for variables, which are expanded at different times - it's not clear how to

[2022-11-15 15:11] aleqsss opened #12887 "Wrong user for agent stated in documentation?"
In the documentation for [Azure virtual machine scale set agents](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops) under **.5** of the [Lifecycle of a Scale Set Agent](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops#lifecycle-of-a-scale-set-agent) section, the following is stated:

_...For Windows

[2022-11-15 16:04] mikeblakeuk commented on #8382
This should be re-opened.

Each time Microsoft release a .net patch (e.g. 6.0.10 to 6.0.11) release our builds fail with
[code]
We have a Product that restores from **InternalFeed** that has an upstream of **CentralFeed** that pulls from NuGet.

The InternalFeed, can't pull from NuGet.

A work around is to restore from CentralFeed first. that pull from Microsoft. Then pull from InternalFeed

[2022-11-15 17:53] thegreatpeon commented on #12875
Update with some more context for you to work with. Both of these tasks work correctly as they are currently written. The first is pointing to an Organization scoped feed and the second is pointing to a Project scoped feed.

If I replace vstsFeed in Task 2 with the name of the feed, I get the following command and error:
[code]
[code]
If I replace vstsFeedPackage in Task 2 with a variable that con

[2022-11-15 18:58] EddyHaigh opened #12888 "Azure boards section unclear"
When it comes to seeing what Stakeholders have access to on a private project in Azure boards is unclear. It looks like a table should appear but doesn't.

[2022-11-15 19:11] WilliamAntonRohm commented on #12888
@EddyHaigh -- Eddy, thank you for your feedback.  Are you following a particular learn.microsoft.com article?  Meanwhile, please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-15 19:17] EddyHaigh commented on #12888
I'm reading the following article https://learn.microsoft.com/en-us/azure/devops/organizations/security/stakeholder-access?view=azure-devops#azure-boards

It looks like this on my phone (Google Pixel 6 - Chrome)
![Screenshot_20221115-191639.png](https://user-images.githubusercontent.com/23223991/202006439-1cfc3432-3207-45ff-bea6-10644c9e09af.png)

[2022-11-15 20:02] WilliamAntonRohm commented on #12888
@EddyHaigh -- thank you for your follow-up.  This appears to be a rendering issue on the small phone screen, where this table is shown in chunks.  The table is fine in a browser:

![image](https://user-images.githubusercontent.com/27738025/202014051-8aab30d0-c754-4d6d-8f49-f9d2a578acc1.png)

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you a

[2022-11-15 20:02] #12888 closed

[2022-11-15 20:03] WilliamAntonRohm commented on #12887
@aleqsss -- thank you for your thorough feedback.  Please consider these resources:
- [SQL Server on Microsoft Q&A](https://docs.microsoft.com/answers/products/sql-server)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@steved0x -- please look into this issue.

[2022-11-16 02:03] mjbvz commented on #8382
@mikeblakeuk I don't work on dev ops but have hit this issue multiple times while working on VS Code

Having to wait multiple hours for a feed to refresh is impacting our workflow and has broken our CI multiple times now. I filed an issue on dev-ops developer community but unfortunately they do not seem to consider this a bug: https://developercommunity.visualstudio.com/t/Feed-update-for-newly-pub

[2022-11-16 02:47] luuthanhhieu commented on #12885
Hi @WilliamAntonRohm yes, I am following the article, but it's not working as reported. Thanks for sharing the links even though I found no solution yet. Looking forward to any help here. cheers.

[2022-11-16 13:26] mahi072 commented on #11467
Hi, I would like to work on this issue.

[2022-11-16 14:18] ThinkElevenDave opened #12890 "Needs clarity on "consume""
It is not clear what is meant by "consume".  Today I bought two parallel jobs and ran a release pipeline.  Once finished, my count was back to zero.  However, the terminology used in the view page was "monthly" so I expected the parallel functionality to be available for an entire month.  Otherwise this will cost thousands of dollars per month to save a few minutes each release...

---
#### Docume

[2022-11-16 15:40] twurm opened #12891 "DotNetCoreCLIV2 Does Not Respect rollForward"
There should be a note on this page indicating that the rollForward feature of global.json is not supported and will not be supported in the future.  For reference please review: [Azure Pipe Line Task Issue 13376](https://github.com/microsoft/azure-pipelines-tasks/issues/13376)

Documentation on rollForward can be found [here](https://learn.microsoft.com/en-us/dotnet/core/tools/global-json#rollfor

[2022-11-16 17:19] m1o1 opened #12892 "Example of kubectl in a script with an environment"
Please add an example showing how to use kubectl in a script using an environment with a kubernetes resource.

Currently facing an error where it seems the kubectl config is not set (all fields in `kubectl config view` are null or empty strings), even though I set it up to use the environment with access.

The docs say it should be possible in the [alternatives section](https://learn.microsoft.com

[2022-11-16 17:21] WilliamAntonRohm commented on #12885
@luuthanhhieu -- Lucio, thank you for your followup.

@ramiMSFT -- Rami, please look into this potential documentation issue.

[2022-11-16 17:48] WilliamAntonRohm commented on #11467
@mahi072 -- Mahima, thank you for your offer of assistance.  You are welcome to research and create a PR.

[2022-11-16 18:07] WilliamAntonRohm commented on #12892
@m1o1 -- thank you for your suggestion and detailed feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm, @steved0x -- Julia or Steve, please look into this issue.

[2022-11-16 18:12] WilliamAntonRohm commented on #12873
@genne -- Christian, I'm not sure whether that's possible or not.

@vijayma -- Vijay, can you clarify?

[2022-11-16 18:44] SimonLuckenuik opened #12893 "Sample payload for "Work item updated" is wrong"
The payload shown is for `git.push` event type, should be payload for `workitem.updated`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913-f305a055a819
* Content: [Service hooks events - Azure DevOps](https://learn.microsoft.com/en-us/

[2022-11-16 21:53] KathrynEE commented on #12884
@2BitSalute - Apologies for the problems you are seeing. I'm not able to help on the documentation side. I recommend you post the issue you're seeing on our [Developer Community page](https://developercommunity.visualstudio.com/AzureDevOps/report).

[2022-11-16 21:53] #12884 closed

[2022-11-16 21:55] KathrynEE commented on #12883
@2BitSalute - Thank you for your feedback. I have added a work item to update the content with more helpful information. I'll close this issue once the article is updated.

[2022-11-16 23:53] russellboley-uipath commented on #8521
I just googled this again today so I can see how poorly it sticks in my head. Thanks again @Davesmall28  😆

[2022-11-17 06:29] krishna1733 commented on #11815
@Yogeswaran66 can you help me in how to link all the notifications .In the comment of jan 28th you said the threading feature is re enabled.can you provide me the steps to do that.

[2022-11-17 06:32] mtrackeros opened #12896 "How to do It, I am new"
Pls help me, maby I ll help You later nad we make some money

[2022-11-17 10:25] krishna1733 opened #12897 "The steps to link a set of related notifications of azure pipeline in teams channel are not provided.so please provide the steps to solve this. https://github.com/MicrosoftDocs/azure-devops-docs/issues/11815"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2022-11-17 11:37] LarsWH commented on #5703
Why is this closed? At least give us an 'single agent' option that allows jobs to share data (see @gtsiou above).

[2022-11-17 18:02] obaileymwks opened #12898 "Incorrect Sample Payload in webhook documentation"
The "Sample Payload" in the "Work item updated" section is for the "git.push" event type.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913-f305a055a819
* Content: [Service hooks events - Azure DevOps](https://learn.microsoft.com/en-us/

[2022-11-18 01:50] dpowling opened #12899 "Pipeline resource variable documentation is wrong"
Hey, so I have noticed that to use the pipeline resource variables such as;
- resources.pipeline.{Alias}.runID
that the syntax is actually wrong. The start of each word needs to be capitalised as such;
- Resources.Pipeline.{Alias}.RunID

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d5-4fb4-7c3e-b84abfa290c

[2022-11-18 05:42] jjnanthakumar commented on #12868
Please let us know if there are any limitations in Service Connections (numbers) and variable groups.

[2022-11-18 05:52] #12896 closed

[2022-11-18 05:55] WilliamAntonRohm commented on #12897
@krishna1733 -- please see https://github.com/MicrosoftDocs/azure-devops-docs/issues/11815#issuecomment-1318150793.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2022-11-18 05:55] #12897 closed

[2022-11-18 06:06] #12849 closed

[2022-11-18 06:51] krishna1733 commented on #11815
Hi @WilliamAntonRohm ,I have gone through the links and comments of 11815 issue.  I can  only find the images in the above links  i didn't find the steps to link the set of related notifications together ..Could you please provide the specific link to link the notifications together.

[2022-11-18 09:27] Yogeswaran66 commented on #11815
@juliakm This is not working again. Please reopen the issue.

[2022-11-18 19:25] KathrynEE commented on #12868
@garysxiq, @jjnanthakumar - We don't have any limits from the Azure DevOps Services side on creating the service principal, however, there may be limits which are imposed through Azure Active Directory. Please see the following articles:
- [Azure AD service limits and restrictions](https://learn.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-service-limits-restrictions)
-  [

[2022-11-19 03:28] jjnanthakumar commented on #12868
@KathrynEE I am not asking about the service principal in Azure. I need to know the limits in Azure DevOps **Service Connections** (Genric type).

[2022-11-20 15:44] titans2016 opened #12903 "Error on docker cache"
Hi.
Just try to compile example of docker cache, and pay attention to that line:
`tags: |
        '$(tag)'`

I am tired with errors in every article and labs for azure devops.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd39237-2778-c4f1-3ce4-bde343ecb59d
* Version Independent ID: e3daf460-128d-cb57-e899-ca0c841df

[2022-11-21 05:16] WilliamAntonRohm commented on #12903
@titans2016 -- Maxim, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@ramiMSFT -- Rami, please look into this issue.

[2022-11-21 08:52] titans2016 commented on #12903
@WilliamAntonRohm thank for links, but I am top expert in azure devops in europe. I am also a teacher and can resolve easy this issue by my self. just point that there are a lot of mistakes in documentations.

[2022-11-21 14:13] michaeljones opened #12904 "Docs on how to reference output variables from a job which has a matrix strategy"
In the "Use output variables from tasks" section, you could potentially add information about how to reference jobs that have a strategy matrix associated with them. What happens to their job names? You do you reference them in the `dependencies.JOB...` line?

I currently have a job called "Build" with matrix entries called "linx", "windows" and "macos" and referencing output variables from those

[2022-11-21 14:28] stephenandary opened #12905 "Unable to Connect Mermaid Subgraphs For Functional Style Diagram"
[code]

Is it possible to do something like this? I would like to have sub-graphs that categorize specific types of actors for an actor model diagram. As such I don't want to connect nodes directly, but to join the subgraphs which organize the nodes. I return an error `Cannot set properties of undefined (setting 'rank')`. Mermaid version is 9.16.

[2022-11-21 14:57] stephenandary commented on #12905
Closing, wrong repo. Posted in Mermaid

[2022-11-21 14:57] #12905 closed

[2022-11-21 19:02] mrobertmiller opened #12906 "Documentation Incomplete/Inaccurate"
As I previously reported 2 months ago, the "Sync your fork" section of the documentation is still broken/incomplete/inaccurate.  It does not properly state how to sync your forked repo with the upstream, leaving the reader lost and hunting around on how to do it.  Do you plan on fixing this or not???

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-21 22:23] WilliamAntonRohm commented on #12903
@titans2016 -- Maxim, thank you for your follow-up!

[2022-11-21 22:23] #12903 closed

[2022-11-21 22:27] mahi072 commented on #11467
@WilliamAntonRohm, can you please provide me the details that how should I contribute here.
Is there any folder under doc in which I have to update Or it has to be completely different document under pipeline section.

Is there any slack group for this?

[2022-11-22 00:54] WilliamAntonRohm commented on #12904
@michaeljones -- Michael, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm -- Julia, please look into this issue.

[2022-11-22 02:18] miezure opened #12909 "Does Self-hosted Linux agents support "Oracle Linux 8"?"
[Enter feedback here]
Does Self-hosted Linux agents support "Oracle Linux 8"?
I could confirm that Oracle Linux 7 is supported, but Oracle Linux 8 is not mentioned in the documentation(https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-22 06:44] mohitora commented on #10469
We are still hitting this issue. 'Unable to install self hosted agent for azure devops on RHEL 8.7'

[2022-11-22 06:46] mohitora commented on #12909
I am looking for same information

[2022-11-22 10:28] michaeljones commented on #12904
A colleague (maybe?) of yours has kindly answered my question on Stackoverflow: https://stackoverflow.com/a/74528297/98555

It seems that it is documented just not in the place that I thought it would be which is: https://learn.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#use-outputs-in-a-different-job

I should have included that link in my init

[2022-11-22 12:45] sartoriusnoel opened #12910 "Image links broken."
Image links broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 26c14bb1-b4a9-79de-4fa7-eb66f6ccaa63
* Version Independent ID: d227ffcb-775a-09c5-d8dd-0939aaec975a
* Content: [Connect Azure Boards to an Office client to track your work - Azure Boards](https://learn.microsoft.com/en-us/azure/devops/boards/backlogs/o

[2022-11-22 15:04] JasonWhall opened #12911 "DownloadPackage@1 does not describe 'latest' version usage"
The DownloadPackage@1 task looks to support a 'latest' option in the version and was introduced in [this pr to the task](https://github.com/microsoft/azure-pipelines-tasks/pull/12334) however it looks like this has not been updated in the documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bbb58a5-5e29-114a

[2022-11-22 15:43] andersnicolai commented on #8180
Yes, waiting for reviewer, or senior developer to approve, would be nice ;)

[2022-11-22 18:52] WilliamAntonRohm commented on #12911
@JasonWhall -- Jason, thank you for your feedback and PR.

@steved0x -- Steve, please look into this issue.

[2022-11-22 18:56] WilliamAntonRohm commented on #12910
@sartoriusnoel -- thank you for your feedback.  I'm not seeing any broken image links in this article.  Which links are not showing for you?

[2022-11-22 19:00] WilliamAntonRohm commented on #12909
@miezure, @mohitora -- thank you for your question.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@steved0x -- please look into this potential documentation issue.

[2022-11-22 19:01] WilliamAntonRohm commented on #12909
Related to https://github.com/MicrosoftDocs/azure-devops-docs/issues/10469.

[2022-11-22 20:22] pashaBerd opened #12913 "Test Suite types definitions are confusing"
Link to the page https://learn.microsoft.com/en-us/azure/devops/boards/queries/build-test-integration?view=azure-devops
Link to the section on the page https://learn.microsoft.com/en-us/azure/devops/boards/queries/build-test-integration?view=azure-devops.

Issue:
Find "Test Suite Type 1" definitions under the section (link is above)
Take a look at Static and Requirement Based test suites.
The prob

[2022-11-22 21:14] chcomley commented on #12898
Duplicate of https://github.com/MicrosoftDocs/azure-devops-docs/issues/12893

[2022-11-22 21:14] #12898 closed

[2022-11-22 21:14] chcomley commented on #12893
Thank you @SimonLuckenuik, I've created a user story to cover this work!

[2022-11-22 21:53] WilliamAntonRohm commented on #12913
@pashaBerd -- thank you for catching this.

@KathrynEE -- please review this update in [private PR 5271](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/5271).

[2022-11-22 21:58] WilliamAntonRohm commented on #12906
Duplicate of https://github.com/MicrosoftDocs/azure-devops-docs/issues/12751.

cc @vijayma for awareness

[2022-11-22 21:58] #12906 closed

[2022-11-22 22:40] ramiMSFT commented on #12871
@worldspawn Thank you for the great feedback!

@daneshbadlani FYI

[2022-11-23 05:46] dilippanwar1 opened #12914 "Add Dockerfile steps for Ubuntu 22.04(latest)"
I want to run a self-hosted agent on Ubuntu latest i.e 22.04 using Docker but the required steps are missing for latest Ubuntu

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec599-4410-697d-1002-1c41b1c17bb6
* Content: [Run a self-hosted agent in Docker

[2022-11-23 11:44] sartoriusnoel commented on #12910
Hi, it's the [](https://learn.microsoft.com/en-us/azure/devops/boards/backlogs/office/track-work?view=azure-devops&tabs=open-excel)
page in the "open query in excel" tab half way down.

[2022-11-24 03:15] Khaledhfjv opened #12916 "خاص"
**@****
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ learn.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 91d0174c-2ab8-1e50-9566-e1366cb39ded
* Version Independent ID: 8ab7e84f-c738-56dc-64a1-55d2cb4c4ed6
* Content: [Migrate from Azure DevOps on-premises to Azure DevOps Services - Azure DevOps](https://learn.microsoft.com/ar-sa/azure/devops/migrate/migrate-from-tfs?v

[2022-11-24 10:59] ffonz opened #12917 "'Services' does not exists"
"Choose the Settings icon in the menu bar and select Services" should be "Choose the Settings icon in the menu bar and select Service connections"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cd29732f-6c8a-327c-307b-db7897fc0250
* Version Independent ID: 5db35e15-2bbf-7a9f-8f7d-0dd32b6b92b0
* Content: [Deploy to VMw

[2022-11-24 11:23] mahi072 commented on #11467
After going through the pipeline variables, I found below examples:

" $[format('{0:ddMMyyyy}', pipeline.startTime)] " using this we will be getting the date/time in without '.' format so to get that we can use Build number format in the options tab with value $(DayOfMonth).$(Month).$(Year:yyyy) and then use variable $(Build.BuildNumber) directly to get the date/time.

@WilliamAntonRohm, please re

[2022-11-24 11:28] mahi072 commented on #11467
After going through the pipeline variables, I found below examples:

$[format('{0:ddMMyyyy}', pipeline.startTime)] ,
using this it will provide the date/time in without dot format. So for this we will use Build number format in options tab with value: (DayOfMonth).$(Month).$(Year:yyyy) and then use variable $(Build.BuildNumber) directly to get the date/time.

@WilliamAntonRohm, please review this

[2022-11-24 11:42] AbstractionsAs commented on #7561
This breaks my MAUI build when building on macOS.
Are there any known workarounds?

[2022-11-24 15:30] san7hos opened #12919 "exit 1 vs task.complete result=Failed"
This document has been advocating for years to use `exit 1` when issuing `task.logIssue type=error`. I am wondering why when you can achieve the same thing by issuing `task.complete result=Failed`. The main advantage of using `task.complete` seems to be that it does not produce an additional error in the ADO build UI.

When `exit 1` is used, there's an additional error that may say something like

[2022-11-24 20:20] AlexHeroUnit commented on #54
Hello, i'm having the same issue and it's making it really difficult to test OAuth. Can't find anything related in the documentation.

[2022-11-24 22:22] thedarkfalcon commented on #9667
@jonathh21

I did the exact same thing. The supplied answer tells me absolutely nothing. I _think_ what it means is.. If you [read this](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops#open-source) (scroll up slightly from my anchor), maybe the tools cache is the software "pre-installed" but not actually enabled? In my case on [this page](h

[2022-11-25 00:41] garysxiq commented on #12868
Thanks @KathrynEE  for confirming that the Azure DevOps service connections do not have any limit per project.

[2022-11-25 00:42] garysxiq commented on #12868
Sorry accidentally closed. I'll leave you to close post doc update

[2022-11-25 02:13] vovantamvn commented on #6005
Any update on this issue?

[2022-11-25 04:45] ThongNCT opened #12920 "Stages dependencies"
"Say you have the following YAML pipeline. Notice that, by default, stage1 depends on stage2 and that stage2 has a condition set for it."

Why do we have "stage1 depends on stage2"?
Should it be: "stage2 depends on stage1"?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 21e5cee4-eaae-3a96-db91-540ac759e83a
* Version I

[2022-11-25 06:20] microsoft-github-policy-service[bot] opened #12922 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-25 11:23] George-Const commented on #12529
what @cpdohert suggested worked like a charm. His points are valid and many months later the issues are still in the documentation. Thank you @cpdohert

[2022-11-25 23:59] #12913 closed

[2022-11-28 07:05] WilliamAntonRohm commented on #12910
@sartoriusnoel -- thank you for your followup!  I see that broken image link and I'm updating this article.

[2022-11-28 07:09] WilliamAntonRohm commented on #12916
@Khaledhfjv -- خالدبخيت, thank you for your feedback.  Please create a new issue with your desired information.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2022-11-28 07:09] #12916 closed

[2022-11-28 07:12] WilliamAntonRohm commented on #7561
@AbstractionsAs -- thank you for your question.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-28 07:16] WilliamAntonRohm commented on #11467
@mahi072 -- Mahima, please see this article:
- [Microsoft Learn documentation contributor guide overview](https://learn.microsoft.com/en-us/contribute/)

I don't know if there is a slack group.

[2022-11-28 12:11] thomasnal commented on #8382
@cmeeren Can this be caused by configuration of the feed? Azure [docs](https://learn.microsoft.com/en-us/azure/devops/artifacts/concepts/upstream-behavior?view=azure-devops&tabs=nuget%2Cget) describe situations when the feed blocks download from the public registry. When there is already a version of the package in the feed it blocks download of new version from the public registry, depending on s

[2022-11-28 13:21] cmeeren commented on #8382
That's a different issue.

[2022-11-28 14:26] roelofvsr opened #12924 "Link to form about requests for parallel jobs ambiguous"
This link:
https://learn.microsoft.com/en-us/azure/devops/pipelines/licensing/concurrent-jobs?view=azure-devops&tabs=ms-hosted

![Screenshot 2022-11-28 at 15 45 23](https://user-images.githubusercontent.com/17225298/204306424-ac63b18e-c37f-4659-8e14-f64ba64b341d.png)

Is rerouting the user to the exact same page, while it is supposed to direct the user to a form that can be submitted.

Would be ha

[2022-11-28 14:55] bjarte opened #12926 "Cannot skip "Restore nuget" task even if nugets are restored from cache"
I have a problem with the section "Restore cache".

If I understand this correctly, it shouldn't be necessary to run the Restore task if the nuget packages are restored from cache.

That is not my experience. If the nuget packages _are in cache_, but I don't run Nuget restore, I get a million error messages like this in the build task:
[error]NHO.Core\IdentityServerClientStartup.cs(32,12): Error C

[2022-11-28 15:16] vw-bnauta opened #12928 "Variable names are gone"
I think this page used to have a table with variable names and descriptions. It seems only the descriptions are left.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 11d3469c-83c2-c2f6-41d0-08f82c330bbc
* Version Independent ID: a373c48d-6395-3002-d2d8-bbc1fea2e48e
* Content: [Predefined variables - Azure Pipelines](ht

[2022-11-28 15:25] bjarte commented on #7572
@Nirmal4G Can you elaborate your solution?

Did you simply change these lines in the documentation
[code]

to this?
[code]

[2022-11-28 15:29] bjarte commented on #7572
When I follow the documentation to the letter and then run nuget restore after successfully having cached the nuget directory, I get a lot of these from the nuget restore step:
Added package 'Castle.Core.4.4.0' to folder 'D:\a\1\s\packages' from source 'D:\a\1\.nuget\packages'

So it seems the nugets are not stored in the correct directory and the nuget restore task has to copy/move all of them ov

[2022-11-28 15:53] Nirmal4G commented on #7572
@bjarte Yes, that's correct. Azure pipelines will convert Variables of the form `My.Env.Var` to `MY_ENV_VAR`. It no longer respects setting the Env var directly.

[2022-11-28 17:10] WilliamAntonRohm commented on #12928
@vw-bnauta -- thank you for your feedback.  On my screen, all the variable tables are in the article.  Please clarify where the table is missing in your view.

[2022-11-28 17:12] WilliamAntonRohm commented on #12926
@bjarte -- Bjarte, thank you for your clear feedback.

@ramiMSFT -- Rami, please look into this issue.

[2022-11-28 17:17] WilliamAntonRohm commented on #12928
Closing as a duplicate of #12925

[2022-11-28 17:17] #12928 closed

[2022-11-28 17:30] WilliamAntonRohm commented on #12914
@dilippanwar1 -- Dilip, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@steved0x -- Steve, please look into this issue.

[2022-11-28 17:42] #12922 closed

[2022-11-28 17:45] WilliamAntonRohm commented on #6005
@vovantamvn -- Võ, thank you for your follow-up.  Please see this comment above:  https://github.com/MicrosoftDocs/azure-devops-docs/issues/6005#issuecomment-639966306.

[2022-11-28 17:57] bjarte commented on #7572
I still haven't managed to skip the 'Nuget restore' task completely (which the documentation says I should be able to), but I found this workaround to make the process quicker:

[code]
This is the same directory that the Nuget restore step uses.

Then when I run the 'Nuget Restore', all it does is this for each package:
`Checking compatibility for System.Threading.AccessControl 4.6.0 with .NETFram

[2022-11-28 18:25] ForteUnited opened #12929 "Section "Use a template parameter as part of a condition" is confusing"
This section is discussing the use of parameters and conditions that use parameters on tasks. This section first discusses their use directly in a pipeline yaml, and then later discusses their use with pipeline templates using the _extends_ and _template:_ syntax.

The way this is explained and laid out is a bit confusing because both the template and the out pipeline yaml are using "true" as the

[2022-11-28 21:26] embetten commented on #10451
For Powershell Get, you need to use the v2 not v3 endpoint for the Azure Artifacts feed. Otherwise you will get a 404 not found everytime. The register and install both need credentials. To utilize the cred provider on the install so you do not have to pass the -Credential flag on every single install command, please see this https://github.com/PowerShell/PowerShellGetv2/issues/619#issuecomment-12

[2022-11-29 00:04] kichalla commented on #7432
I am experiencing similar issue at my end. My patterns are defined this way:
[code]
The 'services' directory is being downloaded anyway.

Are there any workarounds that I can use? Thanks.

[2022-11-29 06:51] WilliamAntonRohm commented on #12929
@ForteUnited -- thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm -- please look into this issue.

[2022-11-29 06:56] WilliamAntonRohm commented on #7432
@all -- please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@steved0x -- Steve, please look into this issue.

[2022-11-29 11:18] lionelberton opened #12931 "Could you explain what is the role of deployment pool with envionments ?"
In this page there is this sentence which is not clear to me: "To add a VM to an environment, you must have the [Administrator role](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops#security) for the corresponding deployment pool.". Which deployment pool ? there is nowhere a link between an environment and a deployment pool. Could you explain that bett

[2022-11-29 13:04] wildangerm commented on #12403
Hello!

I ran into this issue as well and ended up here.
I think I've found a solution: there is an option in the Maven(V3) task, under the `Code Coverage` section which says: "_Restore original pom.xml after task execution_".

For us it worked perfectly, hope it helps you too!

[2022-11-29 13:43] ncgisudo commented on #12403
Thank you!
I have no proof, but I don't remember seeing that option before and no-one suggested it on neither here or on the AzDO bug page, so perhaps it's a new feature!

[2022-11-29 16:22] juliakm commented on #12578
@ncook-hxgn Could you give an example of how you are trying to use `Agent.JobStatus`? The value `JobStatus` predates YAML and you may be running into a product issue.

[2022-11-29 16:29] steved0x commented on #10469
@mohitora What agent version are you running on? Are you on Azure DevOps Server?

[2022-11-29 17:46] ramiMSFT commented on #12879
@dbyte Thanks for the feedback! I'm adding clarifications shortly

[2022-11-29 17:46] #12879 closed

[2022-11-29 18:24] CodePint commented on #7276
Still unclear...
https://learn.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/steps-download?view=azure-pipelines

[code]

[2022-11-29 18:40] jontreynes commented on #1991
Is this still not possible?

[2022-11-29 19:08] WilliamAntonRohm commented on #12931
@lionelberton -- Lionel, thank you for your feedback.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm -- Julia, please look into this issue.

[2022-11-29 19:18] WilliamAntonRohm commented on #1991
@jontreynes -- Jonathan, thank you for your follow-up.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2022-11-29 19:24] WilliamAntonRohm commented on #7276
@CodePint -- George, thank you for your follow-up.  Please explain which part of that description is unclear, and I'll update it.

[2022-11-29 20:23] lionelberton commented on #12931
@WilliamAntonRohm -- Thanks for these resources. It did not help, however this one did.
https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops-2022#authenticate-with-a-personal-access-token-pat
In the purple note, in point 3, it says:

and that is the solution.
For Azure devops server, the PAT that is generated automatically and incorporated within the script

[2022-11-29 22:20] dirq commented on #12877
+1.  I get the same error

`##[error]C:\Program Files\dotnet\sdk\7.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(267,5): Error NETSDK1004: Assets file 'D:\a\1\s\___project-directory__\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.`

[2022-11-30 06:13] pulkitpatel95 commented on #12836
I have a similar requirement to loop on output variables.

@WilliamAntonRohm  @juliakm can you please confirm if this is possible or not?

[2022-11-30 08:29] arditazo3 opened #12933 "Not able to retrieve templateParameters from Rest API: Runs - List"
Hello MS Support,

According to the documentation: [Get List Pipelines](https://learn.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/list?view=azure-devops-rest-7.1#run) I am not able to retrieve templateParameters from the response.

This issue occurs yesterday and break the functionality which we built on it.

I have tried also with different version but the same issue.

Specification:

[2022-11-30 09:25] wojtekmaj opened #12934 "Yarn cache restoreKeys are misconfigured in doc examples"
Yarn cache restoreKeys are misconfigured in doc examples.

The documentation suggests the following configuration:

[code]

Because in key `"yarn"` is wrapped in quotes and in restoreKey it's not, the result after teeny, tiny change to yarn.lock is a 100% cache miss rather than falling back to an incomplete cache:

<details>
<summary>View raw log</summary>
<pre>
2022-11-30T09:07:52.1640105Z ##[sec

[2022-11-30 09:31] #12933 closed

[2022-11-30 09:31] arditazo3 commented on #12933
Address the issue at the correct place: https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/579

[2022-11-30 12:07] PeterSR commented on #8816
What about multi-repo pipelines https://learn.microsoft.com/en-us/azure/devops/pipelines/repos/multi-repo-checkout?view=azure-devops&preserve-view=true where the project or repo has spaces in the name?

[2022-11-30 15:09] jd1984 opened #12936 "Define 'inactive' account"
Hello,

Please can you define what is considered an _inactive_ account, for the following two lines.

https://learn.microsoft.com/en-us/azure/devops/organizations/accounts/resolve-orphaned-organization?view=azure-devops
- When the organization owner and all project collection administrators are _inactive,_ the organization is considered orphaned.

https://learn.microsoft.com/en-us/azure/devops/org

[2022-11-30 16:25] #12909 closed

[2022-11-30 19:26] ramiMSFT commented on #12885
@luuthanhhieu Thanks for letting us know!

+@daneshbadlani I just ran this and it looks like we have an issue with the Find-Module. Is this a known issue?

[2022-11-30 19:28] Jernik commented on #11899
https://github.com/MicrosoftDocs/azure-devops-yaml-schema/blob/main/task-reference/iisweb-app-management-on-machine-group-v0.md
This documentation has been moved and updated. I am also no longer working on this project so I can't confirm if the new docs answer my complaints. I'm closing this now.

[2022-11-30 19:28] #11899 closed

[2022-11-30 19:40] chcomley commented on #12936
Hi @jd1984, Thanks for reaching out. I'm working on the article, but here's a link to how Azure AD describes an "inactive" account. Once I've solidified the definition for an inactive Azure DevOps owner/PCA, I'll publish an update to the article, which will include links to both definitions. Thank you!

[What are inactive Azure AD user accounts?](https://learn.microsoft.com/en-us/azure/active-dire

[2022-11-30 21:08] coolhome opened #12937 "Incoming Webhook Trigger"
https://github.com/MicrosoftDocs/azure-devops-docs/blob/main/docs/pipelines/build/triggers.md

Why is incoming webhook not documented here?

[2022-11-30 21:21] WilliamAntonRohm commented on #12937
@coolhome -- Preston, thank you for your question.  Please consider these resources:
- [Azure DevOps Services](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@vijayma -- Vijay, please look into this issue.