[2018-04-10 14:59] #509 closed

[2018-04-10 15:19] #231 closed

[2018-04-10 15:29] andyjlewis commented on #245
Yeah, this content is a shared file that is not intended to be shown on its own. These apparently began showing up as pages after we migrated to our new site. I've added an item to our backlog to investigate and fix.

[2018-04-10 15:29] #245 closed

[2018-04-10 15:29] eHealthManny opened #518 "Access to Oauth Token configuration is wrong."
The "Use the OAuth token to access the REST API" section says that "To enable your script to use the build process OAuth token, go to the Options tab of the build definition and select Allow Scripts to Access OAuth Token."

This is incorrect, its actually under the configuration section for each individual phase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-04-10 17:05] chcomley commented on #507
@jgold6 Thanks so much for your input. I've updated the note and link. This change should be live by sometime this afternoon.

[2018-04-10 17:05] #507 closed

[2018-04-10 17:15] mmanela commented on #486
I don't have that either. Here is my solution, can you try that. You will need to click on the solution first and restore packages.
[TEST.zip](https://github.com/MicrosoftDocs/vsts-docs/files/1895629/TEST.zip)

[2018-04-10 17:18] thoaingan opened #519 "Limit modification permissions on non-owners"
I'd like to prevent non-owners from modifying queries, and I cannot figure out how to do so. If I do not set the "Contribute" right, users cannot save to any shared folders. If I set the "Contribute" right, the users can both save to folder and edit everyone else's queries. If I set the explicit "Deny" on a query, it will prevent everyone, INCLUDING the owner from modifying it.

---
#### Document

[2018-04-10 17:33] harishkragarwal commented on #512
You may cancel your purchase immediately after purchase. Also, for the short duration that you may be charged for, one can create an Azure support tickets to refund the amount.

[2018-04-10 17:37] RubixRevenge commented on #509
Good to know. Thanks. It might be helpful if "restart" either linked to
that explanation or summarized it as you have in the email.

Henry Wyckoff
henry.wyckoff@gmail.com

On Tue, Apr 10, 2018 at 7:59 AM, andyjlewis <notifications@github.com>
wrote:

[2018-04-10 19:42] andyjlewis commented on #517
Thanks for the feedback, and I hear you. Unfortunately even if the table format issues could be resolved (the way we have to break on non-word boundaries was not ideal) there's another problem with our new conceptual versioning control being incompatible with tables. I hope eventually we might be able to get back to a tabular format, but I can't say when that might happen.

[2018-04-10 19:42] #517 closed

[2018-04-10 20:39] KathrynEE commented on #514
@RubixRevenge - Thank you for your inquiry. Account-wide wiki is not a supported feature at this time. You can add your vote to this UserVoice suggestion, https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/31921501-account-wide-wiki.

[2018-04-10 20:39] #514 closed

[2018-04-10 21:00] KathrynEE commented on #502
@valeriobisignanesi - Thank you for your comment. I agree that greater clarification is required. I have updated the topic and the updates should be live later today.

[2018-04-10 21:00] #502 closed

[2018-04-10 21:16] KathrynEE commented on #519
@thoaingan - Hi. The only way to prevent non-owners from modifying queries is to set up a set of folders in which you define the permissions for that folder - or for a specific query, getting as granular as you need to.  There is no way to universally set the permissions so that a non-owner of a query can't modify it.

[2018-04-10 21:16] #519 closed

[2018-04-11 05:48] julianparismorgan commented on #491
Thanks Steve. I had scoped it just to my account, not all accessible accounts. That might be a note worth adding?

[2018-04-11 09:51] riezebosch opened #523 "Verify vague"
Unclear what is meant by `highlighting a group on the Group rules tab and choosing Summary` and `highlighting a user on the Users page, and then clicking Summary`. Also some guidance please on whether to remove the direct assignments after group rules are in place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e193f5

[2018-04-11 09:52] jakecahill commented on #486
Hey @mmanela , thanks for providing the solutions. However, now I get the following error on the same line:

System.TypeInitializationException
  HResult=0x80131534
  Message=The type initializer for 'Microsoft.VisualStudio.Services.Common.VssHttpMessageHandler' threw an exception.
  Source=Microsoft.VisualStudio.Services.Common
  StackTrace:
   at Microsoft.VisualStudio.Services.Common.VssHttpMes

[2018-04-11 10:41] guylevy opened #524 "Is SSDT installed a prerequisite?"
For on premise build agents (TFS 2018.1), do we have to first install SSDT on the agents to make this work?

Cheers,
Guy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a56478c9-7dfc-43e9-c348-357dc6862d73
* Version Independent ID: dd3cd0a1-dc03-15d3-1298-b76d770e4760
* Content: [Build your SQL server database](https://

[2018-04-11 13:32] jhueppauff-itvt opened #525 "Is it possible to create wiki's for each Team inside a project?"
It seems every Team is seeing the same wiki.
Is it possible to seperate each Team?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889cc132-e8ed-ea22-cfff-51ee434fb113
* Version Independent ID: 47e62550-289d-e89a-1122-2a6319dc2711
* Content: [Create a wiki for your team project - VSTS & TFS 2018](https://docs.microsoft.

[2018-04-11 14:46] catapedamania opened #526 "Permissions"
What account is used to perform the file copy and where can it be changed? I think I have a permissions issue

##[error]Unhandled: Unable to create directory . Unable to verify the directory exists:  If directory is a file share, please verify the share name is correct, the share is online, and the current process has permission to access the share.

---
#### Document details

⚠ *Do not edit this

[2018-04-11 14:51] mmanela commented on #486
Can you confirm that your nuget packages are all up-to-date? If you go to the package manager, make sure no pending updates.

/cc @tedchamb

[2018-04-11 17:52] sxm0275 commented on #450
That worked. Thanks for the help.

On Mon, Apr 9, 2018 at 1:55 PM, Whitney Jenkins <notifications@github.com>
wrote:

[2018-04-11 17:59] SamGrantham commented on #237
Hi @KathrynEE A member of my team pointed out the the error on the "File" version of the error is incorrect, it should be like above in my Message:
 \?\E:\OLAP\Data\TFS_Analysis.0.db\File.0.dim\232.FileSK.asstore.
but it is still:
\?\I:\OLAP\Data\Tfs_Analysis.0.db\vDimWorkItemOverlay.5.dim\7.WorkItemSK.asstore.
Can you please use the message from my comment earlier here?
Sorry it took us so long t

[2018-04-11 18:15] andyjlewis commented on #283
re-opening until this fix is made

[2018-04-11 19:07] KathrynEE commented on #525
@jhueppauff-itvt - Thank you for your inquiry. Today, we only support creating a single wiki for a team project. Please feel free to submit your suggestion on our User Voice page -  https://visualstudio.uservoice.com/forums/330519-team-services.

[2018-04-11 19:08] #494 closed

[2018-04-11 22:15] elbatk commented on #450
Closing this issue as I think we've got it solved, thanks @wnjenkin !

[2018-04-11 22:15] #450 closed

[2018-04-12 00:35] julianparismorgan opened #529 "404 on hyperlink"
In this sentence, "Widgets can call any of the REST APIs in VSTS to interact with VSTS resources.", the hyperlink on REST APIs leads to https://www.visualstudio.com/integrate/api/overview.md, which throws a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe9c938-dde5-4eba-6e09-6e43ef0e8ee5
* Version Independent ID

[2018-04-12 12:57] roizentner commented on #240
@GITGW I just tried copying from file share and it worked.
I noticed the log states that the source path '\192.168.100.253\d$\REPO' does not exist.
You might be missing a backslash at the beginning there.

[2018-04-12 13:45] elbatk commented on #529
Ah, thanks for letting me know, @julianparismorgan ! I've fixed the link to point to the suggestion that @steved0x provided, as it is the correct one! It should be live within 24 hours. Cheers :)

[2018-04-12 13:45] #529 closed

[2018-04-12 14:20] MS-Trev opened #531 "Please list the supported Azure sub types right here in this document"
I've just had a customer follow this doc but they created a Free Trial AzSub because they didn't know any different and we didn't tell them. Now they have to muddle through the process of converting that to a PAYG or making a new one and doing an unlink\link for billing. What should have been a 15 minute process has doubled, or more.

We should really list the supported AzSub types at the top of t

[2018-04-12 15:45] DylanFPS opened #533 "JetBrains Rider compatibility?"
^

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b71f9c7b-a10e-4adc-22d0-58d4b40b35c8
* Version Independent ID: 90cda752-8667-2e9c-4ba9-5af1abbb63b8
* Content: [Get the IntelliJ IDEA VSTS plug-in](https://docs.microsoft.com/en-us/vsts/java/download-intellij-plug-in?view=vsts)
* Content Source: [docs/java/download-intel

[2018-04-12 15:48] nadcraker commented on #501
I believe it is task.json.

[2018-04-12 15:50] nadcraker opened #534 "How can we use a custom icon for the task icon?"
How can we use a custom icon for the task icon? I don't mean the icon for the extension. That part is working fine. I mean the icon for the build task that shows up in the build definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5

[2018-04-12 16:04] nadcraker opened #535 "Shouldn't taskIcon.png be icon.png?"
My custom icon didn't show up in the build task until I renamed it to icon.png in the task's folder, and made it 32x32 pixels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f7acc5-1222-7216-571b-913fa63298e4
* Version Independent ID: 15b2e074-4a8d-9ac8-8aa8-56a0c11be534
* Content: [Custom build/release task referenc

[2018-04-12 17:16] chcomley commented on #523
@riezebosch Thanks for letting us know. I've added a few screenshots for some clarity and this should be live sometime today. I've also added a work item to the backlog for guidance on whether to remove the direct assignments after group rules are in place. Thank you!

[2018-04-12 17:16] #523 closed

[2018-04-12 17:32] elbatk commented on #370
@hira29feb super sorry for the long delay here! We've just recently switched to this new feedback system and things got crazy there for a bit. Assigning this to the product team so we can try to get your question answered!

[2018-04-12 17:56] steved0x commented on #533
@DavidStaheli Do you know the answer?

[2018-04-12 18:03] elbatk commented on #512
Going ahead and closing this as it seems to have been answered - @paulharker feel free to reach back out on this issue if you have any more questions.

[2018-04-12 18:03] #512 closed

[2018-04-12 18:56] DavidStaheli commented on #533
Hi @steved0x.  Yes, the VSTS plugin for IntelliJ is compatible with Rider, but it ships "in the box", pre-enabled with Rider, so there's no need for users to install it there.

[2018-04-12 18:57] DylanFPS commented on #533
You should specify this in the documentation ;)

On Thu, 12 Apr 2018 at 19:56, David Staheli <notifications@github.com>
wrote:

[2018-04-12 20:06] pjshah70 commented on #354
It doesn't tell simple thing, What happen if file mentioned to copy is not found.
 - Is it going to fail and throw error?
 - Is it going to continue and show error in execution log?
 - Is it going to continue without message?

[2018-04-12 20:09] spottedmahn opened #536 "Teams Rooms Deprecated"
Should there be a note that Team Rooms are deprecated?  [Reference](https://docs.microsoft.com/en-us/vsts/collaborate/collaborate-in-a-team-room?view=tfs-2017&viewFallbackFrom=vsts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16350d80-8e4d-9416-8deb-dac44a65a9b7
* Version Independent ID: 1ce522f1-c50c-909f-6044-2b03

[2018-04-12 20:10] pjshah70 opened #537 "Provide details on execution scenarios."
It doesn't tell simple thing, What happen if file mentioned to copy is not found.
 - Is it going to fail and throw error?
 - Is it going to continue and show error in execution log?
 - Is it going to continue without message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f02378-b85b-d3a4-d3c8-f07d935367da
* Version

[2018-04-12 20:16] wnjenkin commented on #370
@vinodjo to help out.

[2018-04-12 20:42] brandonmcclure opened #538 "LFS support in TFS on premise"
This documentation states that LFS is supported in VSTS, but does not mention support for on premise. I found the post below which indicates that it is currently supported in 2015 Update 1, but I can't find any documentation indicating how (if any) setup needs to be done on the server side for this to work. I have the LFS client installed on my workstation, but I am not sure if LFS is working on t

[2018-04-12 20:54] steved0x commented on #310
@catsburg @sabarishmadhana I’ve got some information about the minimum version of SQLPackage.exe to use when making your DACPAC.

* TFS 2017 imports needs to use the version in the 130 folder or higher
* TFS 2018 imports needs to use the version in the 140 folder or higher

The numbered folder (for example 130 or 140) might be in a couple of different locations, depending on how you installed it:

[2018-04-12 21:52] daniel-dorroh opened #539 "Linked deployment topics are not relevant."
This topic is about building your .NET desktop app. The next steps link to deployment topics that do not work for desktop apps -- they are all geared toward web apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f80d77-da2a-3c8d-efcf-3095bf293f69
* Version Independent ID: 36dcf393-e28a-2bc4-61e6-5c93cdacb625
* Cont

[2018-04-13 00:37] julianparismorgan opened #541 "List of available REST clients"
When I click to get the 'full list of available REST clients and their references here', I get sent to https://docs.microsoft.com/en-us/vsts/extend/reference/client/core-sdk?view=vsts. Is this the right page? I'm not sure where to go to get specific clients I need to call.

In the example provided, the link for the 'Work Item Tracking Client' has a hyperlink to https://www.visualstudio.com/en-us/d

[2018-04-13 08:06] vigneshmsft opened #542 "JSON Substitution not working for nested schemas"
In the above JSON file Data is the rootnode but none of the variables defined in the example follow the Data.{child}.{nextDescendant} pattern,
is it just {child}.{nextDescendant} is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-

[2018-04-13 08:28] vigneshmsft commented on #542
I have the below JSON schema in my appsettings.json
![image](https://user-images.githubusercontent.com/10269434/38724140-2f4ef5cc-3efb-11e8-89f2-43e1670d5ca9.png)

and the below variable in my release variable set in VSTS

![image](https://user-images.githubusercontent.com/10269434/38724229-7a32d612-3efb-11e8-8f1d-a1b921cd6fbc.png)

If you are unable to view the image, I have values set for
Api.In

[2018-04-13 09:30] vinodjo commented on #370
The information provided above doesn't give enough context to provide any meaningful help. Request you to send the issue details along with the code snippet at devops_tools@microsoft.com for us to be able to help you.

[2018-04-13 13:43] alexhomer1 commented on #542
Thank you for your feedback. I have passed this on to the product team and will let you know their response.

[2018-04-13 15:18] jakecahill commented on #486
Hi @mmanela, all my packages are up to date, I used your example, but I keep getting the same error

[2018-04-13 17:36] jclay opened #544 "Missing steps for configure"
The documentation is missing the steps after downloading the agent and before running .\run.cmd

I had to do the following:

- Extract download
- Move to tools\vsts-agent (personal preference)
- Enter project url
- Select `PAT` token type
- Paste token

It should also be noted that an elevated prompt is needed to run the agent as a service, otherwise the config has to be removed, and restarted fro

[2018-04-13 17:39] KathrynEE commented on #536
@spottedmahn - Thank you for your comment. I've updated the topic and changes will be live later today.

[2018-04-13 17:39] #536 closed

[2018-04-13 17:40] Phydeauxman opened #545 "Incomplete documentation"
The article gives you the option of using VSTS or GitHub for source control but then the rest of the article focuses on using VSTS for source control.  There are steps missing when you don't use VSTS for source control.  If you use GitHub (or anything other than VSTS for source control), you have to connect your existing VSTS account with the source before you can perform the "Configure continuous

[2018-04-13 18:14] iyerusad opened #546 "Specs for hosted agents? Recommended specs for private agents?"
What is the SKU used for hosted agents? Assuming hosted on Azure IaaS.

What is the recommended specs for a private agent? Will this differ significantly whether using a docker container or running as system service?

These all questions I can make some educated guesses on, even validate to some extent by running a job to check what I can get from hosted agent instance, but presumably should be do

[2018-04-13 19:30] spatzner opened #547 "Documentation Ambiguity"
This is stated to merge just changeset 137
c:\projects>tf merge /version:C137~C137 branch1 branch2 /recursive

The following is stated to merge all changesets up to 137
c:\projects>tf merge /version:C137 branch1 branch2 /recursive

This is said to discard only changeset 137 but has the syntax similar to the earlier command to merge all changesets up to 137
c:\projects>tf merge /discard /version:C1

[2018-04-13 21:06] scott-lin opened #549 "Is "secureFile" type valid in task.json?"
The article states, "You can build your own tasks that use secure files by using inputs with type secureFile in the task.json." However, the tasks.json schema does not mention secureFile as a valid type. Schema definition I'm reading is https://raw.githubusercontent.com/Microsoft/vsts-task-lib/master/tasks.schema.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-04-14 07:53] MarkusRich commented on #295
Found it ;)

https://www.visualstudio.com/en-us/docs/integrate/api/security/overview

[2018-04-14 07:53] #295 closed

[2018-04-15 13:34] mmanela commented on #486
Can you share me your solution? @jakecahill

[2018-04-16 09:31] toqueteos opened #555 "How to read secret env vars from bash?"
Both `$FOO` and `$(FOO)` syntax resolve as an empty string in bash

[2018-04-16 10:40] jakecahill commented on #486
I just used the same solution that you shared.
[ConsoleApp1.zip](https://github.com/MicrosoftDocs/vsts-docs/files/1914891/ConsoleApp1.zip) folder
[ConsoleApp1.zip](https://github.com/MicrosoftDocs/vsts-docs/files/1914895/ConsoleApp1.zip) solution file

[2018-04-16 11:06] padmick opened #556 "Removing secure file"
I want to overwrite a secure file but that doesn't seem to be possible. Is there anywhere on VSTS I can remove a secure file so I can upload a new version?

Padraic Wade

[2018-04-16 13:37] alexhomer1 commented on #478
This feedback came from the product team:

Msdeploy.exe by default supports overrides values in web.config with values from parameters.xml. Our task does:
1)	Variable substitutions like Variable substitution and XML transformation first and
2)	then invokes msdeploy.exe for deployment during which the web.config substitution happens from parameters.xml.

In this, Variable substitution in Step 1 is

[2018-04-16 13:44] TheBeardedLlama commented on #478
Thank you for the update @alexhomer1
Unfortunately, that doesn't quite clarify things.
That's what the hint text in TFS says, but that's **not** how it works.
Is there a place where I can look at the source to see what is actually going on?

[2018-04-16 14:14] bhaskar39 opened #558 "Solution file for the above POC"
Hi Team,

Can you please provide the complete solution file for the POC. When I cloned, I just got some project files, but not the entire solution to test the build. Can you please add the complete solution file.

Thanks
Bhaskar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd04c64-4ce0-3e69-5936-df95c3870465
* Vers

[2018-04-16 15:07] vijayma commented on #276
Agent's access is not based on the personal access token that you use during registration. Instead, it is based on the permissions you give to Project Build Service Account or Project Collection Build Service Account (depending on the token scope that you set in the build definition). For more information, see: https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents?view=vsts#co

[2018-04-16 15:14] vijayma commented on #492
The 2.x version of Powershell task has a much larger limit on characters.

[2018-04-16 18:12] steved0x commented on #549
@scott-lin It is supported, we'll get the doc updated, and here is an example:

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/InstallAppleCertificate/task.json#L37

Thank you,

Steve

[2018-04-16 18:12] #549 closed

[2018-04-16 18:15] f00-beerd opened #559 "Friendly version"
[Enter feedback here]
The _home/About page should include the friendly version name.
This will avoid some confusion: e.g. 15.117.27024 isn't 2015, it's 2017. And, this will eliminate needing to google/bing around to find the version mapping to determine if you have Update 1, 2, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-04-16 19:02] chrisrpatterson commented on #546
The hosted agents are DS2_v2 or DS2_v3 machines depending on the Azure region and what we are able to get capacity for in a given region.  For private agents it is heavily dependent on your workload.  For example to build our VSTS code base all up we have 24 core machines and run 4 agents on them.  For building the agent code base we use the hosted pools.

[2018-04-16 20:01] tedchambers commented on #486
@jakecahill Can you make sure you are not running as project located on a network share?  This is a .Net issue and not an issue with the vsts clients.  You can do a search for 'ConfigurationErrorsException: Error creating the Web Proxy specified in the 'system.net/defaultProxy' configuration section.' and you will see a number of reasons why this type of error can occur.  Running a project from a

[2018-04-16 20:17] toqueteos commented on #555
The only relevant section seems to be [this one](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?view=vsts&tabs=shell).

From this I understand that the only way to make this work is to explicitly make TFS resolve the variables by using `bash my_script.sh $(SECRET1) $(SECRET2) ... $(SECRETN)` otherwise they will never ever be available.

[2018-04-17 10:04] amittleider opened #561 "Documentation for chaining builds may be incorrect."
[Enter feedback here]
The documentation on this page says that you cannot chain builds (yet). It *appears* to be possible through the interface (see the image below), but it doesn't actually work for me.

![image](https://user-images.githubusercontent.com/1625951/38863049-d206defe-4236-11e8-9ba1-ebb23f14e79c.png)

I have two builds, Build1 and Build2. Build1 has a trigger configured to build Build

[2018-04-17 10:17] user135711 opened #562 "How do you resovle a merge conflict with strategy theirs"
This sentence is incomplete: "You can manually merge changes by selecting Merge, then entering the changes directly into the" Also, what do you do if you have over 1000 conflicts. How do you choose keep local or take remote for all conflicts if you already have a merge conflict? If there's no way, can you git pull with strategy=theirs using team explorer and a github repository?

---
#### Document

[2018-04-17 11:32] spottedmahn opened #563 "Expecting DateTime value | Changed Date Format Wrong?"
According to [this example](https://docs.microsoft.com/en-us/vsts/work/track/query-by-date-or-current-iteration?view=vsts#query-for-items-based-on-when-changes-occurred)

![image](https://user-images.githubusercontent.com/14079228/38867289-94318540-4211-11e8-9e15-eeccff308139.png)

but I get

![image](https://user-images.githubusercontent.com/14079228/38867315-af778836-4211-11e8-992b-f17feda0290f.

[2018-04-17 12:25] spottedmahn commented on #167
Hey @steved0x - did you have a chance to review my response?

[2018-04-17 12:30] spottedmahn opened #564 "Add How to Escape Markdown"
Reposting here as a way of migrating my old issue to the new #awesome system!

Also because the issue was **closed prematurely** IMO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e81f8a-e33c-afb7-493b-f51f40fafd49
* Version Independent ID: c9495a96-c3e8-00f1-1e53-da6ce584412b
* Content: [Syntax usage for Markdown f

[2018-04-17 12:31] spottedmahn commented on #564
Hi @steved0x - did you see [my response](https://github.com/MicrosoftDocs/vsts-docs/issues/167#issuecomment-365647856)?  Thoughts?

[2018-04-17 13:04] ttermeer-reboundcg opened #565 "Example not working"
Using the last the example from the documentation, the following error is returned :
`TypeError: vstsGit.createPullRequestStatus is not a function`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f48d8a-33fb-9f6d-1db1-4cccb5b987d9
* Version Independent ID: 3e18fcbf-331d-9de2-62ae-c4e7c888cc48
* Content: [Create a pull

[2018-04-17 13:29] alexhomer1 commented on #542
I understand that the product team have replied to you and cannot reproduce the issue. They are investigating further now.

[2018-04-17 13:29] #542 closed

[2018-04-17 13:30] alexhomer1 commented on #350
The product team are investigating and we will update the topic with new information when available.

[2018-04-17 13:30] #350 closed

[2018-04-17 14:26] spottedmahn opened #566 "Code Highlighting Missing Inline Feature"
Users can also use the inline feature by surrounding some test with single backticks but that is not mentioned.  Only the span one.

I would submit a PR but I'm not sure if inline is the correct language.

Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e81f8a-e33c-afb7-493b-f51f40fafd49
* Version Independen

[2018-04-17 15:04] magius96 opened #567 "Can't find project"
What do I do when Zapier doesn't see any projects, but it does see repositories and branches?  Where would I look to find the GUID of my project to manually enter it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 229dda3c-d750-fc3a-e626-e0695d47e884
* Version Independent ID: 0367b931-2282-0a33-6f4c-6f941c3efbf3
* Cont

[2018-04-17 16:10] chcomley commented on #559
@f00-beerd Thanks so much for your input! I've bolded the TFS versions, so they stand out for better clarity. This update should be live sometime this afternoon.

[2018-04-17 16:10] #559 closed

[2018-04-17 17:17] spottedmahn commented on #564
Sweet, thanks @steved0x !

[2018-04-17 17:17] elbatk commented on #567
Assigning this to the product team to help you try to get this sorted out @magius96

[2018-04-17 17:18] elbatk commented on #501
Closing this @peterremote1980 , please reach out if you still have issues.

[2018-04-17 17:18] #501 closed

[2018-04-17 19:13] sasedlock opened #572 "Invalid links"
Within the "Related Notes" section of this document, the link for "Work in Team Explorer" actually points to the page for "Work in Web Portal".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a261eec7-bb48-e092-5bb8-e8bb699ef860
* Version Independent ID: 37c7d060-ce28-2e1c-e8d9-1e5be240bf5c
* Content: [Connect to team p

[2018-04-18 07:31] plang85 opened #575 "Setting user capabilities when using unattended agent configuration"
We would like to set user capabilities for agents when we provision them, ie when we call config.sh - is this supported/on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Independent ID: be9a6174-a69b-7aed-d584-5f602fcc5eb4
* Content: [Build and Release Agents]

[2018-04-18 13:00] chrisrpatterson commented on #575
Any environment variables you set as part of the configuration that are not set in the ignore file will be published as capabilities. That is currently the suggested way to accomplish your scenario.

[2018-04-18 13:40] johnhydemtm365 opened #576 "VSTS Build and Deployment configuration"
Hi, this is all good, however I was trying to automate build and deployment using VSTS. I created a CI/CD using the wizard, but the build bit fails as there is nothing to publish. I had to go in and rename the folder 'ClientApp' to 'wwwroot' and then it all worked perfectly. Does this need to be fixed in the scafolding template...?

---
#### Document details

⚠ *Do not edit this section. It is req

[2018-04-18 14:34] alexhomer1 commented on #545
Thank you for your feedback. I have passed it to the production team to investigate and will let you know their response.

[2018-04-18 15:10] spottedmahn commented on #566
PR submitted...

[2018-04-18 15:10] #566 closed

[2018-04-18 15:17] plang85 commented on #575
and even says so in the documentation :)

[2018-04-18 15:17] #575 closed

[2018-04-18 15:29] antonGritsenko opened #578 "Delete tag on Web Portal"
Hello. Looks like behavior on web portal is bit changed you can't remove tag anymore - option in context menu is always grayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb20e31-fc65-913d-f4a6-61318f079224
* Version Independent ID: 0c4960b1-d639-7452-a2e7-08c59934c3b3
* Content: [Working with Git tags](https://do

[2018-04-18 15:37] nschonni opened #579 "Add EditorConfig for this repo"
This is baked into Visual Studio now, and GitHub will use it to respect the whitespace and line ending issues for those using the web editor to change files.
http://editorconfig.org/

[2018-04-18 19:28] bwscheller opened #581 "Current documentation is not correct"
Prior to the TFS 2018 Update 1, I was able to delete Git repositories.  Now, when selecting "Manage Repositories" from either repositories pulldown within Code or under the Code menu, I am taken to Security for all Git repositories.  This screen does not contain a list of repositories and there is no kebab that allows the selection of the Delete repository option.

---
#### Document Details

⚠ *Do

[2018-04-18 21:07] ThomasLamb commented on #487
Have you [included a filter](https://docs.microsoft.com/en-ca/vsts/release-notes/2018/feb-14-vsts#filter-branches-using-include-and-exclude) for the `f-branch` in the **Pull request validation** section of your Build Definition's **Triggers**?

![image](https://user-images.githubusercontent.com/25368262/38958330-f49e83c8-432a-11e8-8cb8-efc1a21bd9bf.png)

[2018-04-18 21:44] cpboyd opened #582 "authors-transform.txt issue"
Please note that the result from the PowerShell command is simply a list of usernames.
The instructions are slightly confusing when it explains the format as it does not match.
(i.e. you would get `willys` instead of `willys = willys <willys>`)

This is unlike the Unix command from https://john.albin.net/git/convert-subversion-to-git which actually outputs the specified format (i.e. `willys = will

[2018-04-19 00:25] PaulMEdwards commented on #399
My boss is also asking why this is the case... We both agree that the copy task should have the option to use the agent credentials.

[2018-04-19 09:24] lestephane commented on #487
I have, but it did not help. My problem is being triaged and looked here
<https://developercommunity.visualstudio.com/content/problem/228840/unable-to-validate-pull-requests-from-github.html>

On Thu, Apr 19, 2018 at 12:07 AM, Thomas Lamb <notifications@github.com>
wrote:

[2018-04-19 10:49] TheBeardedLlama commented on #478
@alexhomer1 ?

[2018-04-19 12:02] alexhomer1 commented on #576
I have worked through the example. The first time I accidently selected the wrong repo from my project and got the same "No files to publish" error. When I selected the correct repo (dotnetcore-sample) freshly imported from the URL provided in the topic, it worked fine. Please try again and let me know if you continue to experience issues.

[2018-04-19 12:36] johnhydemtm365 commented on #576
Were you publishing this in VSTS..? I its works fine publishing from Visual
studio. Its only when you automate it does it cause an issue...

Thanks
John

On 19 April 2018 at 13:02, Alex Homer <notifications@github.com> wrote:

--
*John Hyde*
Technical Operations Manager

*The MTM Agency*      |   Saxon House, Saxon Wharf, Lower York St.,
Southampton,   SO14 5QF
+44 (0) 2380 215 399 <+44%2023%20802

[2018-04-19 13:37] steved0x commented on #578
@antonGritsenko To delete a tag requires the [Force push](https://docs.microsoft.com/en-us/vsts/security/permissions?view=vsts#nbspnbspnbspgit-repository-object-level) permission (Can force an update to a branch, delete a branch, and modify the commit history of a branch. Can delete tags and notes.), which you have by default for branches you create. Is this tag on one of your branches? If it is o

[2018-04-19 14:00] alexhomer1 commented on #356
Unfortunately I am unable to obtain any more useful information. If you are still experiencing this problem, please let me know with more details that I can pass on to the product team.

[2018-04-19 14:00] #356 closed

[2018-04-19 14:08] antonGritsenko commented on #578
@steved0x You partially correct. Looks like Force Push must be set not only for branch, but also for repository.
About doc itself, what about to add mention for required permissions?

[2018-04-19 14:27] ramrgit opened #584 "Organize Hosted VS 2017 Agents in different pools"
We deal with several different projects and are looking for a way to buy hosted vs 2017 agents and organize them in different agent pools. Is this possible?

[2018-04-19 14:34] aaronboock opened #585 "Team Services Accounts tags"
Can tags be applied to Team Services Accounts from the Azure portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52303279-70fd-a0f6-cc6f-96bf73ed8c32
* Version Independent ID: cb30fbe3-b069-2665-d8da-9f714a23290a
* Content: [VSTS billing FAQ](https://docs.microsoft.com/en-us/vsts/billing/vsts-billing-faq?view=vsts)

[2018-04-19 17:27] chcomley commented on #585
@aaronboock  Thanks for sending your question - I've updated the Billing FAQ for others' reference and it should be live sometime this afternoon. To answer your question, no, tags cannot be applied to Ream Services Accounts from the Azure portal. However this feature is on our backlog to add in the future. If you wouldn't mind sharing, what are you using tags for and how would it be valuable to ta

[2018-04-19 17:27] #585 closed

[2018-04-19 18:23] emarion0 opened #587 "Missing information about guest users"
[Customer stated that in order to disconnect, the user doing the disconnect needs to be a guest in the tenant but added as a member through powershell. They were not able to get this to function without that step]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33530bb1-f68e-4361-df9d-a02b73f00f4f
* Version Independent

[2018-04-19 18:41] chcomley commented on #587
@emarion0 We appreciate you sharing your customer's experience - a fix is process!

[2018-04-19 18:41] #587 closed

[2018-04-20 15:16] padmick commented on #556
any updates on this?

[2018-04-20 20:12] StingyJack opened #589 "Are there any options for controlling the results that are displayed?"
Clearly changing the query will control the results that are found, but I'm trying to find a way to show or hide some of those found results.

A specific example of one that I encounter often from PM's is, if we want to see tasks that belong to a PBI or Bug that has a specific range of Stack Rank values, we can create that by a `workitems and direct links query` type.

However we are querying for

[2018-04-21 00:04] tcgielow opened #591 "VS403373 error"
Ran into this issue that resulted from a split TFS collection.  You should add detail and resolution on this error.  The solution is simple but took help of the developer community to point it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1798e45e-200d-f201-e4dd-58aac2427d29
* Version Independent ID: 86df23f9-1e1

[2018-04-23 02:01] rocifier opened #593 "doesnt apply to TFS"
TFS 2015+ are listed here, but there is no branches window on the ui, you need to somehow use Source Control Explorer, the process is completely different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 159cece6-ada6-e50c-a236-0d49aed6d1be
* Version Independent ID: f6cc8cee-f37e-e738-3143-aa7f185fb461
* Content: [Copy

[2018-04-23 08:08] torbennehmer opened #594 "Add changeset to build no."
I'd like to add the current changeset to the build number as given here:

![image](https://user-images.githubusercontent.com/2812067/39114078-0b21907a-46de-11e8-9cec-91b9ac4d548b.png)

Unfortunately, I can't find a way to do this. Google returns only hits for older TFS on premise installations, while the build variable Build.SourceVersion is of scope agent, which isn't available in the build confi

[2018-04-23 10:38] Danil1978 opened #595 "https://m.vk.com/danil1978"
https://m.vk.com/audios354328281#

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 16e43dd6-5424-c25c-6b1d-be9aba62c388
* Version Independent ID: 7682284c-cdd7-b192-8803-708344776064
* Content: [Authorize Other Services](https://docs.microsoft.com/ru-ru/vsts/service-hooks/authorize?view

[2018-04-23 14:40] funzeye opened #596 "Error with Release-1 of CD release"
Get following error in deploy azure app service step even though I have followed all steps correctly:
2018-04-23T14:05:25.4630304Z ##[error]Error: No package found with specified pattern: D:\a\r1\a\**\*.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d588805-0219-7eb1-6a5c-1f1363f41870
* Version Independent ID: 515

[2018-04-23 14:58] ChristopherMank opened #597 "Add object-level security for Analytics"
I see that the security for analytics is mentioned at the top as well as the project level View Analytics permission. However, can we add a section for the object-level permissions as a group in here as well? So a heading under "In this article --> Permissions" and then a section for it. I'd create a PR for it but feel it's a big enough add that I don't want to get it wrong.

---
#### Document Det

[2018-04-23 15:23] thatnerdyguy opened #598 "Ambiguous as to what permissions to grant the PAT for deployment group agents"
What does

"For the scope select Agent Pools (read, manage) and make sure all the other boxes are cleared. If it's a deployment group agent, for the scope select Deployment group (read, manage) and make sure all the other boxes are cleared."

mean? If it's a deployment group agent do you need "Agent Pools (read, manage)" AND "Deployment group (read, manage)" selected? Or should the first sentence

[2018-04-23 16:16] JuniorIce commented on #585
@aaronboock I’d love to get a better picture of what you need to do and see how we might be able to enable this in the future. Can you contact me (james.rice@microsoft.com<mailto:james.rice@microsoft.com>) and we can get together for a discussion over Skype?

From: chcomley <notifications@github.com>
Sent: Thursday, April 19, 2018 10:58 AM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>

[2018-04-23 18:02] DavidStaheli commented on #461
This has been fixed:
https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/repository?view=tfs-2015

Thanks a lot, @orshir!
@steved0x I don't have permission to close this issue.  Could you please?

[2018-04-23 18:12] #461 closed

[2018-04-23 19:21] singhp27 opened #600 "Task.json Guid Error"
Hey guys,
When I upload vsix file it through me an error "Error converting value "{{taskguid}}" to type 'System.Guid'. Path 'id', line 3, position 24..". Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5ef8-9f2a192a84ad
*

[2018-04-23 19:56] KathrynEE commented on #563
@spottedmahn - Thank you for your inquiry. I don't see anything wrong with your date format. I suggest refreshing your browser and trying again. If you still have a problem, please let the product team know by filing an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html.

[2018-04-23 19:56] #563 closed

[2018-04-23 19:58] KathrynEE commented on #589
@StingyJack - Thank you for your inquiry. You can filter queries as described in this topic: https://docs.microsoft.com/en-us/vsts/work/backlogs/filter-backlogs?toc=/vsts/work/track/toc.json&bc=/vsts/work/track/breadcrumb/toc.json&view=vsts. You should be able to filter the query to show only those work item types you select.

[2018-04-23 19:58] #589 closed

[2018-04-23 20:02] spottedmahn commented on #563
Ok, thanks @KathrynEE.  I've opened a [Dev Community Issue](https://developercommunity.visualstudio.com/content/problem/238823/expecting-datetime-value-changed-date-format-wrong.html).

[2018-04-23 20:42] StingyJack commented on #589
Its not a backlog query, does that matter?

[2018-04-23 20:47] StingyJack commented on #589
I can only filter on Tag Values
![image](https://user-images.githubusercontent.com/15381181/39152320-f80c352a-4715-11e8-84a3-7ac6024eb740.png)

[2018-04-23 21:56] kraigb opened #601 "Document the purpose of "Commit changes after merge by default""
This option is visible in Team Explorer > Settings > Git Settings, and the "Learn More" link comes to this article, but the article doesn't say anything about the option at all. Nor does it say anything about the other checkboxes, for that matter.

The "Commit after merge" option is problematic for Python projects in VS that create virtual environments, because it causes the venv to be committed t

[2018-04-24 05:59] hashtagchris opened #603 "No information on configuring the Kubernetes Service Endpoint for AKS"
This doc doesn't mention the "Kubernetes Service Connection" task input at all, and doesn't tell you how to add a the Kubernetes Service Endpoint for AKS. I was lost until I found a related walkthrough, https://almvm.azurewebsites.net/labs/vstsextend/kubernetes/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a86dced-9

[2018-04-24 08:34] kirkone opened #605 "Add a note what is supported by which TFS Version"
Hi,
please add information about the availability of the different elements in the different versions of TFS.

For example the checkbox is not working in TFS 2017 but there is no hint about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e81f8a-e33c-afb7-493b-f51f40fafd49
* Version Independent ID: c9495a96-c3e8-

[2018-04-24 09:16] garimasingh15 opened #606 "Service Unavailable error on launching a dockerised .NETCORE app"
Hello,

I followed the [https://docs.microsoft.com/en-us/vsts/build-release/apps/aspnet/build-aspnet-core?view=vsts&tabs=gitvsts%2Cweb%2Cdeploy-container](article) to set up CI/CD for a .NETCORE application. The build and release succeed and the repository is created on the Azure Container Registry. The release steps though successful, do not successfully launch the webapp URL. I am getting a **"S

[2018-04-24 10:42] alexhomer1 commented on #603
Thank you for your feedback. We are currently working on a new version of this topic. I'm sorry you had issues using it. I will temporarily redirect to the lab topic you used.

[2018-04-24 10:42] #603 closed

[2018-04-24 13:46] electromaggot opened #607 "Confusing use of term "root folder""
"Source Folder" Argument says that if left empty, it copies from the "root folder of the repo."  The "Contents" Argument's Description refers to "root folder" when it really means the specified source folder; it least that's how it seems to operate.  This is really confusing when everyone associates a root folder with "/" or "\\" and not some other defined folder.  The use of "**" versus "*" for f

[2018-04-24 15:15] AWBuchanan7 commented on #463
I am also having this same problem.

[2018-04-24 15:20] andyjlewis commented on #463
Is the task where you are trying to reference the variable in a different phase? What version are you using (e.g. VSTS, TFS 2018, etc.)?

[2018-04-24 16:23] Paul-Dempsey opened #608 "MIssing explanation of how to edit credentials after first-tuime clone"
This doc gets you started, but doesn't help if you need to change/update credentials after cloning. How do you edit/update/delete credentials after the initial setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2f260d-9321-d669-172d-01289c233263
* Version Independent ID: 14e9ae18-df9d-7555-902c-3e8b4c2b2f22
* Cont

[2018-04-24 18:06] manemarron opened #610 "When will "Building pull requests from repository forks" be restored?"
Are there any updates on this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-18f4-e94a4e2fe2c9
* Content: [Define a CI build process for your GitHub repository](https://docs.microsoft.com/en-us/vsts/build-release/actions/ci-build-g

[2018-04-24 20:23] joeshepherdmba opened #611 "Please show me how..."
There is a section here entitled: Update Kanban column-to-State mappings. The document doesn't actually show how to make these changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afe3bf75-ae6d-c347-67f6-decbe4ee4588
* Version Independent ID: e3359ab1-1d45-f91e-e9f1-7f770477fb41
* Content: [Add columns to your Kanba

[2018-04-25 05:45] ramandeep-singh-1983 commented on #381
This is really a required feature. I have the following use case:
1) An Angular app generated and build using Angular CLI. It supports different target environments (dev/test/production).
2) The build step for Angular application requires a target environment at the build time i.e. ng build -dev -e {dev/test/prod}
3) Now, i want to use the same build definition to build and deploy to any environme

[2018-04-25 08:37] shaun-dm-stewart opened #613 "Azure Focused"
This piece of documentation along with most of the other documentation around VSTS is focused closely on Azure.  As far as I am aware Azure is only one of many suitable target platforms.  It took a question from a reader to clarify whether this documentation applied to on premise physical devices.  An equally detailed description on how to achieve deployment to other platforms should be present he

[2018-04-25 11:42] lgrzywac commented on #541
web.archive.org helps: https://web.archive.org/web/20161204030435/https:/www.visualstudio.com/en-us/docs/integrate/extensions/reference/client/rest-clients

[2018-04-25 11:59] DivvelaLakshmiraj opened #614 "API to get data from custom hubs"
Are there any API's to get data from these custom hubs...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b68bebb-14b6-8f83-b362-03d643d39538
* Version Independent ID: de6d224b-2a80-b093-0330-4f70b5892fe3
* Content: [Add a Hub](https://docs.microsoft.com/en-us/vsts/extend/develop/add-hub?view=vsts)
* Content Source: [

[2018-04-25 12:00] docunid opened #615 ""The master branch corresponds to WikiMaster." ... should read wikiMaster"
One occurrence of CamelCase "WikiMaster" were all others occurrences speak of wikiMaster (which is the correct branch name as far as I can tell in git)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfd8b86a-48ce-08ea-5b24-529c220cc682
* Version Independent ID: 142d1339-6613-29a7-b160-e5ed9a37979b
* Content: [Clone and

[2018-04-25 13:53] timtmok opened #616 "Live Updates"
Live updates weren't added until TFS 2017. The tags at the top list: VSTS | TFS 2018 | TFS 2017 | TFS 2015 | TFS 2013

That seems to imply that TFS 2015 and 2013 have live updates for the kanban board but this is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22bc38ee-a124-c3ef-1c08-140d5e02362b
* Version

[2018-04-25 18:13] TedHoward commented on #608
Is there anyway to list known/store credentials?

[2018-04-25 23:43] vocko commented on #356
I do experience the same thing with TFS 2017, I suspect it is somehow related to the service principal permissions.

[2018-04-26 01:24] MSDelacruz opened #624 "New article proposal: Manage project modules with private NPM and NUGET packages in VSTS"
An article providing a walkthrough to post and manage custom server and client modules leveraging VSTS Package Management extension.

[2018-04-26 05:37] smardine commented on #541
Thanks a lot

[2018-04-26 05:40] smardine opened #625 "List of REST client reference"
It's also avalaible here
https://web.archive.org/web/20161204030435/https:/www.visualstudio.com/en-us/docs/integrate/extensions/reference/client/rest-clients

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 0f99e26d-54fa-ac2c-1814-e1b3f97a87b5
* Version Independent ID: 0ed84e7f-b46f-3a44-16f6-d9bcf77b

[2018-04-26 08:36] jojo268 opened #626 "Graph from statis suite"
Hello, I would like to know if it's possible to create graph for all test campaign. Test campaing is consists of 5 statis suite: Acceptance t., Functional t. and 3 more.
And every statis suite is consists of another statis suite and requirement-based suite.
I am not able create graph just with first 5 statis suite. It's some solution for this or can TFS create graph based-on statis suite?
Thank yo

[2018-04-26 11:40] livioos commented on #447
Exactly. It's not professional to define from the blank list Variable Groups on each projects. Is non sense.

[2018-04-26 11:42] livioos commented on #447
Import and Export Variable Groups is must-be feature. I think that Variable Groups should be defined outside the particular project.

[2018-04-26 11:54] Sniipe opened #627 "Microsoft Stream Video's don't seem to be supported"
For example this internal vid appears as "invalid"
<video src="https://web.microsoftstream.com/embed/video/fccd4ef9-4a3e-4505-9f1b-7a3971d68ad3?autoplay=false&showinfo=true" width=400 controls>
The video is on our Microsoft Stream and the VSTS wiki is ours also.

I tried a youtube link also to no avail.  The only thing that probably works are files ending in .mp4.

---
#### Document details

⚠ *Do

[2018-04-26 15:29] spottedmahn commented on #563
[I learned](https://developercommunity.visualstudio.com/content/problem/238823/expecting-datetime-value-changed-date-format-wrong.html) the issue was my user preference data format has to be in sync.

Since my user preference was yyyy-MM-dd, my query needed to be yyyy-MM-dd.

---

I don't see anything in [this doc page](https://docs.microsoft.com/en-us/vsts/work/track/query-by-date-or-current-iter

[2018-04-26 16:08] julianparismorgan commented on #541
Thanks, that's great, appreciate it. Looks like I'll need another way. I'm calling the graph API (https://docs.microsoft.com/en-us/rest/api/vsts/graph/groups/get) to get security groups, which it looks like the rest clients don't support (https://web.archive.org/web/20161204031624/https://www.visualstudio.com/en-us/docs/integrate/extensions/reference/client/api/tfs/core/restclient/corehttpclient2_

[2018-04-26 18:19] LukasK07 opened #635 "SCVMM Integration network virtualization / boundary VM"
When using network virtualization for hosting an environment and using a boundary vm for connectivity to VMs the boundary is created fine but not registered into DNS. Netbios is not working in my environment due to seperated subnets.

Do i really need the boundary vm or is tfs able to use hyper-v integrated remote powershell?
Do i need to domain join the boundary vm manually or register into dns b

[2018-04-26 18:27] LukasK07 opened #636 "SCVMM Integration - Not using differencing disks"
We tested scvmm integration with tfs 18.

Our scvm template is configured for using differencing disks, in a normal deployment scvmm uses those differencing disks based on a shared vhdx.
Tfs 2018 does not uses differencing disks

Instead it is copying the whole disk and creating a differencing disk inside the vm folder.

[2018-04-26 19:58] lgrzywac commented on #541
Well, I was digging in MS repositories on GitHub and here is what I've found:
https://github.com/Microsoft/vss-web-extension-sdk/blob/master/typings/vss.d.ts
This file describes all RestClients for VSS. Just search for ```VSS/Graph/RestClient```. The module declaration contains all method declarations as well. You'll find ```getGroup(groupDescriptor: string): IPromise<Contracts.GraphGroup>;``` - I

[2018-04-27 03:09] Rick-Anderson commented on #581
Delete from projects page. Not very discoverable
![image](https://user-images.githubusercontent.com/3605364/39342630-917d9d24-4974-11e8-9f15-31db97098819.png)

[2018-04-27 10:55] ryzhykhdenys opened #644 "error"
HTML BR tag error in the clause
"Sprint/iteration pick lists"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab4a0796-708c-e161-bdff-e5cc9c0383b0
* Version Independent ID: 494d0bb6-bc6e-deb5-eb28-8ddc3b38253b
* Content: [Customize your work tracking experience - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/work/cu

[2018-04-27 12:27] santoorman opened #645 "Nothing happens when I run Update All Agents"
the agent is not updating.  It is currently on version 2.122.1, but the latest version is 2.133.3, when I click Update All Agents, nothing happens, it does not get updated.  Can you please include how to update it manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484c5e2e-c729-e707-e2c3-dfe3c2e83083
* Version In

[2018-04-27 14:32] RichRowan opened #646 "Add documentation on Download Build Artifacts task"
There is no documentation on the Download Build Artifacts task. There is some on this page but its out of place now.
https://docs.microsoft.com/en-gb/vsts/build-release/concepts/definitions/build/triggers?view=vsts

There's info on the publish task under Reference>Utility Tasks but none for Download.
https://docs.microsoft.com/en-gb/vsts/build-release/tasks/utility/publish-build-artifacts?view=vst

[2018-04-27 15:27] elbatk commented on #600
Hey @singhp27 , our resident "Extend" guy is on paternity leave right now but I'll try to track down someone else that can try to help you out here!

[2018-04-27 15:32] elbatk commented on #625
Thanks @smardine , I'm taking a look at how we can incorporate these elegantly into our new docs. Hopefully I'll execute a solid solution soon! :)

[2018-04-27 15:32] #625 closed

[2018-04-27 15:51] alexhomer1 commented on #635
Thank you for your feedback. I have passed your question on to the product team and let you know the response.

[2018-04-27 15:53] KathrynEE commented on #615
@docunid - Thank you for your correction. I've updated the topic and the update should be published later today.

[2018-04-27 15:53] #615 closed

[2018-04-27 15:54] KathrynEE commented on #605
@kirkone - Thank you for your correction. I've updated the topic to better reflect which features are supported based on TFS version and the update should be published later today.

[2018-04-27 15:54] #605 closed

[2018-04-27 16:02] alexhomer1 commented on #613
Thank you for your feedback. Typically you can use deployment groups to deploy to any set of servers, not just Azure-based machines. For example: https://docs.microsoft.com/vsts/build-release/apps/cd/deploy-webdeploy-iis-winrm. Deployment groups are discussed here: https://docs.microsoft.com/vsts/build-release/concepts/definitions/release/deployment-groups/. I hope this answers your question.

[2018-04-27 16:02] #613 closed

[2018-04-27 16:23] FredConklin opened #647 "Possible to export/transfer/output an inherited process from one VSTS account to another VSTS acount?"
Is it possible to export/transfer/output an inherited process from one VSTS account and import it to another VSTS account?  We have been working on a Dev VSTS account and would like to use the inherited process in another VSTS account. Is there a way to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b49815-8

[2018-04-27 18:25] mayeager22 opened #652 "Correct wrong word used"
In the sentence that starts "The scenario is anonymous to doing a...", I think you mean to say it is synonymous, not anonymous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7268225d-815b-0faf-4dcf-e659272b48b9
* Version Independent ID: 19315f8f-685f-6aad-0fc2-467474f508d0
* Content: [Version Control - Map TFS version

[2018-04-27 19:10] Advanium opened #653 "How to properly publish artifacts from multi-configuration setup?"
Please provide a guide using best practices for the multi-configuration build approach.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c028a99-45f1-3609-3219-89789dc6b966
* Version Independent ID: f626f40e-1bab-4d8a-cd19-ab3b5da4be0a
* Content: [Artifacts in Team Build](https://docs.microsoft.com/en-us/vsts/build-rele

[2018-04-27 19:41] steved0x commented on #652
@mayeager22 Agreed, fixed in https://github.com/MicrosoftDocs/vsts-docs/pull/654 Thanks for letting us know!

[2018-04-27 19:41] #652 closed

[2018-04-27 19:41] steved0x commented on #645
@elbatk Can you take a look and reassign if required?

[2018-04-27 19:52] elbatk commented on #645
Uhm I think this may be Andy's, not sure of his GitHub ID.

[2018-04-27 19:58] bwscheller commented on #581
You have provided directions for deleting a TFS Project, I would like to delete a Git Repository within a TFS Project.

[2018-04-27 20:00] elbatk commented on #624
Thanks @MSDelacruz , gonna note this and bring it to the PM team and see if we can't do something for this!

[2018-04-27 20:00] #624 closed

[2018-04-27 20:01] bwscheller commented on #581
I just found it.  The left most pane was collapsed.  Expanding it displayed a list of all Git repositories with a kebab that allows them to be deleted.  May want to add a note to ensure that the left most repositories pane is expanded in the documentation here: https://docs.microsoft.com/en-us/vsts/git/delete-existing-repo?view=vsts

[2018-04-27 22:33] iyerusad opened #657 "New variables not documented here"
Whole doc needs an update, many additional variables are now available (i.e. within Primary Artifact variable : Build.Repository.Name)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Independent ID: 41efb94b-4c7a-64a3-b23b-70c8634ae727
* Content: [Variables in Release Manag

[2018-04-29 17:54] niofire commented on #535
Confused me as well, works when renaming the taskIcon.png to icon.png :)

[2018-04-30 01:47] ruairiohagan opened #660 "Where has the detailed REST API documentation gone?"
My old links aren't working anymore, just directing to this dumbed-down high level content.

Maybe I'm missing something obvious, but I can't find the detailed reference anywhere.

I've had to use the way back machine (web.archive.org) to get the documentation I need.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 740e

[2018-04-30 11:34] mguntli opened #661 "Azure classic portal does not exist anymore"
Documentation issues:
1. Link to Azure classic portal redirects to default Azure portal.

Problem:
I am unable to delete the "Microsoft Visual Studio Team Services" Enterprise Application, which prevents me from deleting my Azure Active Directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0449868-e233-3ada-067b-fc

[2018-04-30 14:18] timmkrause opened #662 "Typo"
"Pulbish code as wiki" -> "Publish"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e81f8a-e33c-afb7-493b-f51f40fafd49
* Version Independent ID: c9495a96-c3e8-00f1-1e53-da6ce584412b
* Content: [Syntax usage for Markdown files, widgets, wikis, and pull requests - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/collab

[2018-04-30 14:31] elbatk commented on #534
Hey @nadcraker , check out the documentation here: https://docs.microsoft.com/en-us/vsts/extend/develop/build-task-schema?view=vsts along with the issue referenced to this one: https://github.com/MicrosoftDocs/vsts-docs/issues/535

[2018-04-30 14:31] #534 closed

[2018-04-30 14:47] mivica opened #663 ""Copy Files" VSTS task throws an error and stops file copy when "Advance/Overwrite" option is unticked"
When "Advance/Overwrite" option is unticked, "Copy Files" VSTS task throws an error
"##[error]Error: Failed cp: cp: dest file already exists: <some file>" and then stops copying even when "Continue On error" is selected. Can we have a switch to skip existing file and just continue copy without throwing an error?
An example scenario is where "Overwrite" is unticked to avoid unnecessary file copies/

[2018-04-30 14:59] pabrams commented on #301
On my TFS 2017, the PrepareClone command doesn't work, and when I try to select a more recent version of TFS than is shown on this page, it tells me it doesn't exist.

[2018-04-30 15:11] elbatk commented on #535
Finally getting around to fixing this, thanks for the heads up @nadcraker and @niofire !

[2018-04-30 15:11] #535 closed

[2018-04-30 15:49] alexhomer1 commented on #657
Thank you for your feedback. I have passed on the question to the product team and will update the topic with any additional information they can provide.

[2018-04-30 17:55] KathrynEE commented on #616
@timtmok - Thank you for your comment. Live updates are support for TFS 2017 and later versions. I have updated the topic and the changes should be live later today or tomorrow.

[2018-04-30 17:55] #616 closed

[2018-04-30 18:02] KathrynEE commented on #662
@timmkrause - Thanks for pointing out the typo. Just saw it myself and am getting it corrected today.

[2018-04-30 18:02] #662 closed

[2018-04-30 18:13] wolivier commented on #581
Thanks, Rick-Anderson, so indeed under Config icon -> Overview.  Not available from the main projects list at first glance, so got to agree, irritatingly hidden.

[2018-04-30 18:13] KathrynEE commented on #611
@joeshepherdmba - Thank you for your inquiry. You Update the Kanban column-to-State mappings on the Columns page of the Kanban board setting. Could you let me know what platform/TFS version you are using and perhaps I can provide more guidance?

[2018-04-30 18:46] rhughesjr opened #664 "Manually import a repo should include git-lfs info"
As VSTS natively supports Git-LFS, the import section should include the necessary commands for that.

Namely:
` git lfs fetch origin --all`
and
`git lfs push --all https://contoso-ltd.visualstudio.com/MyFirstProject/_git/new-contoso-repo`

Or, at least include a FAQ about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-30 18:55] spottedmahn commented on #564
Nice, thanks @KathrynEE!

[2018-04-30 19:50] KathrynEE commented on #647
@FredConklin - Hi Fred, thank you for your inquiry. There is no UI available to support the scenario you outlined at this time. However, there is a standalone tool being developed to support this which will be available soon. I will update you via your GitHub user ID when it becomes available. Regards.

[2018-04-30 19:50] #647 closed

[2018-04-30 20:00] chcomley commented on #661
@mguntli Thanks for bringing this to our attention, I'll update the documentation to reflect the "default" Azure portal. As for an answer to your problem, I'm hoping this blog post will help: https://blogs.msdn.microsoft.com/dstfs/2015/05/27/trouble-deleting-azure-active-directory-aad-due-to-visual-studio-online-item-in-aad-applications-list/
Thanks again!

[2018-04-30 20:01] #661 closed

[2018-04-30 21:12] elbatk commented on #660
Hey @ruairiohagan , we got rid of the old content as the old site (visualstudio.com) docs were taken down and we moved to this new one. I'll consult with the area owners and find out what they want to do about getting the old detailed docs up.

[2018-05-01 05:19] englishmatt opened #665 "Indicate BUILD_SOURCESDIRECTORY and BUILD_REPOSITORY_LOCALPATH are synonymous"
Indicate BUILD_SOURCESDIRECTORY and BUILD_REPOSITORY_LOCALPATH are synonymous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Build variables](https://docs.microsoft.com/en-us/vsts/build-release/concepts/defi

[2018-05-01 13:08] brownbl1 opened #666 "Build Number Date Format options"
I am trying to customize the date format in the build number. Where are the format docs for that option? For example, I want my build numbers to appear as 2018.5.1.5 and not 2018.05.01.5. But when I try $(date:yyyy).$(date:M).$(date:d)$(rev:.r) I get an unexpected and erroneous format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-05-01 13:41] PhilBrammer opened #667 "This document should be marked as deprecated."
The TFS Warehouse Build details/coverage is only applicable for XAML builds, which have been marked as deprecated in TFS 2018+.  If you've moved away from XAML builds, you will not find any details in the TFS Warehouse for builds.

https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/18472516-vnext-builds-data-should-be-transferred-to-the-cub

---
#### Document

[2018-05-01 15:05] steved0x commented on #664
@rhughesjr Do you mean in the manual import steps section? Good catch, I will get that added.

[2018-05-01 15:11] vijayma commented on #663
Thanks for the feedback. Can you please post this feature request on https://github.com/Microsoft/vsts-tasks repository? That is where the "Copy Files" task source code is present. Closing this issue here since it is not specific to the documentation.

[2018-05-01 15:11] #663 closed

[2018-05-01 15:15] derrickstolee opened #668 "GVFS Architecture page is titled "Technical Scale Challenges with Git" in sidebar/outline"
These do not match. Probably should use "Git Virtual File System Architecture" in the sidebar as it is more accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49c37596-91af-710a-5465-e4211f0b2819
* Version Independent ID: 40a52f21-cdcc-615f-d9e8-58be9ef9c059
* Content: [Git Virtual File System Architecture - Azur

[2018-05-01 16:29] steved0x commented on #668
@derrickstolee I'll get that fixed, thanks for letting us know!

[2018-05-01 16:41] steved0x commented on #668
@derrickstolee I just merged in the fix and it should be live soon, thanks again for letting us know.

[2018-05-01 16:41] #668 closed

[2018-05-01 17:50] steved0x commented on #195
@glugo I'm going to go ahead and close this issue, but please open up a new one if that article wasn't able to help you with your question about branches. Thank you.

[2018-05-01 17:50] #195 closed

[2018-05-01 17:51] steved0x commented on #364
@BrianMinister If this issue happens again, please open up a new issue and let us know. Sorry for the trouble and I'm glad you got it working.

[2018-05-01 17:51] #364 closed

[2018-05-01 17:59] steved0x commented on #369
@ChristopherMank Sorry for the long delay in responding, we had a backlog of git issues. I'm tracking a work item to make this update - I think I will add a short description and link from the Branching Guidance article to the How we use Gt at Microsoft article and discuss both approaches. I don't have an ETA but I'll make this change. Thank you for your feedback.

[2018-05-01 17:59] #369 closed

[2018-05-01 18:00] steved0x commented on #401
@sspage I'm sorry that this issue slipped through the cracks, were you able to get this resolved?

[2018-05-01 18:01] sspage commented on #401
unfortunately not... any advice or workarounds besides separating out?  Should this be possible?

[2018-05-01 18:01] steved0x commented on #410
@git-gone I'm sorry for the long delay in responding to this issue, were you able to get it resolved? Do we need to update the documentation to show how to resolve/avoid this issue? Thank you and sorry again for the delay.

[2018-05-01 18:22] ranouf opened #670 "Error: Please change your working directory to a valid directory"
Hi,

I added NPM INSTALL to PHASE 1. The Build failed with this error:

2018-05-01T18:19:25.7802426Z ##[section]Starting: npm install
2018-05-01T18:19:25.8020360Z ==============================================================================
2018-05-01T18:19:25.8020587Z Task         : npm
2018-05-01T18:19:25.8020724Z Description  : Install and publish npm packages, or run an npm command. Supports

[2018-05-01 18:57] steved0x commented on #435
@RubixRevenge I accidentally didn't close this issue so I'm closing it now and I have passed along the feedback from our discussion to the writers for this area. Thank you.

[2018-05-01 18:57] #435 closed

[2018-05-01 19:02] steved0x commented on #475
@beeporama Sorry for the long delay while we get sorted with the new doc feedback system. There are two version control systems in VSTS/TFS, see [Choosing the right version control for your project](https://docs.microsoft.com/en-us/vsts/tfvc/comparison-git-tfvc?view=vsts). From your screenshot you are using TFVC, and the "Auto completion of work items with pull requests" is only available for Git

[2018-05-01 19:04] steved0x commented on #482
@chwarr There is an update coming to the Feed docs that should include an answer to this question - I don't have the answer to share right now but I am told it is coming soon. Thank you.

[2018-05-01 19:04] #482 closed

[2018-05-01 19:06] steved0x commented on #493
@StingyJack - they are still working on that. I am going to go ahead and close this issue, but if it isn't resolved within a few months, please feel free to open a new issue and tell us to speed up :) It should be resolved shortly though. Thank you.

[2018-05-01 19:13] steved0x commented on #497
@bdrangel Apologies for the long delay while we get going on this new documentation feedback system.

One way to do most of what you are asking is to [require a reviewer](https://docs.microsoft.com/en-us/vsts/git/branch-policies?view=vsts#automatically-include-code-reviewers) (either a person or group to which the PR creator doesn't belong) and require approval from that person (or group) before t

[2018-05-01 19:13] #505 closed

[2018-05-01 19:15] beeporama commented on #475
Thanks for the response (way better late than never)!

Mind I'm not looking for automation, I'm looking to TURN OFF automation. Work items keep getting "Resolved" when the build pulls an associated changeset, and I want that to stop happening. Based on a few hours of Googling, flipping this checkbox off (it apparently defaults to on?) was the way to fix that.

I imagine I'm the only one fussing ab

[2018-05-01 19:32] steved0x commented on #562
@user135711 I'll fix that sentence, it depends on the merge tool you have configured in Visual Studio (or your [Git settings](https://docs.microsoft.com/en-us/vsts/git/concepts/git-config?view=vsts&tabs=visual-studio#diff-and-merge-tools))

I am finding out the answer to your other question about what to do if there are lots of merge conflicts and strategies to resolve.

[2018-05-01 19:49] toqueteos commented on #555
Np. I can wait for now. Worst-case scenario is passing the 15 secret env vars as an argument to the bash script I run 😕

[2018-05-01 19:57] spottedmahn commented on #564
![image](https://user-images.githubusercontent.com/14079228/39490872-4f809808-4d58-11e8-9d92-bce6f1fba2f6.png)

looking good, thanks @KathrynEE 🎉

[2018-05-01 20:03] steved0x commented on #565
@ttermeer-reboundcg I'm checking into this, the [vso-node-api](https://www.npmjs.com/package/vso-node-api) package does have a [createPullRequestStatus](https://github.com/Microsoft/vsts-node-api/blob/master/api/GitApi.ts#L100) method and I have run this sample. Let me see if something has changed. Sorry for the delay in responding while we get familiar with the new doc feedback system.

[2018-05-01 20:07] steved0x commented on #562
@user135711 In Visual Studio there isn't currently a way to take "theirs/ours" for "All files". However you can do it from the command line, as described in [this stack overflow post](https://stackoverflow.com/questions/10697463/resolve-git-merge-conflicts-in-favor-of-their-changes-during-a-pull). If you think this is something we should add directly in Visual Studio, can file a feature request [h

[2018-05-01 20:07] #562 closed

[2018-05-01 20:11] steved0x commented on #572
@sasedlock Thanks for letting us know, I am fixing that now and it should be live in a day or two.

[2018-05-01 20:11] #572 closed

[2018-05-01 20:39] steved0x commented on #579
@nschonni I'm closing this issue but we are looking at the possibility of using one of these (we see VS Code uses one on their repo). Thanks for pointing it out!

[2018-05-01 20:39] #579 closed

[2018-05-01 20:41] steved0x commented on #581
@bwscheller We will get this updated, thanks for letting us know and I'm glad you got it worked out. Thank you for the feedback!

[2018-05-01 20:52] steved0x commented on #593
@rocifier The Cherry-pick and revert experience in the web portal was added in [TFS 2017.1](https://docs.microsoft.com/en-us/vsts/release-notes/2016/oct-12-team-services#cherry-pick-and-revert) but you should still be able to do it in Visual Studio like the article shows.

We are working on revising these tutorials to show web portal steps where available as well as Visual Studio and Command Line.

[2018-05-01 20:52] steved0x commented on #601
@kraigb I just submitted a PR that contains significant updates to this article including that option - it should be live soon. Thank you for your feedback.

[2018-05-01 20:52] #601 closed

[2018-05-01 20:53] dbiehle opened #672 "Suggestion: add note that this is not a complete tutorial"
Like in between the "Add the custom endpoint contribution" json text and the "If you have successfully added the service contribution correctly,...", insert one of those blue-shaded note sections that says something like: "This is what your endpoint will look like after you've packaged and published your extension. See the Next Steps section below."

---
#### Document Details

⚠ *Do not edit this

[2018-05-01 20:57] steved0x commented on #608
@TedHoward I don't think there is a way to list known/stored credentials from GCM. Also I am sorry to hear that the delete didn't work for you. This repo is just for documentation, but you could file a couple of GitHub issues to represent these two items at [Git Credential Manager Issues](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues) - they are the developers and would kn

[2018-05-01 21:05] Paul-Dempsey commented on #608
The Windows GCM credentials are exposed in the control panel under **Credential Manager**. The can be added/deleted/modified there. To set which one is used for a repo or machine, use the appropriate git --configure commands.  the full lifecycle of credentials and how to manage them is an appropriate thing to address in the documentation.

[2018-05-01 21:39] rocifier commented on #593
Hi thanks for your reply. I was able to successfully follow a "cherry
picking" line of thought in TFS by applying a merge operation and picking
the "selected changesets only" option. I would highly recommend adding this
for TFS versions prior to 2017 as for example our (large) organisation is
unable to upgrade to that version due to a complex series of technical
issues which I'm not really qualifi

[2018-05-01 22:50] KathrynEE commented on #627
@Sniipe - You are correct. Embedding a Microsoft Stream or YouTube video into a VSTS wiki isn't supported at this time. Only .mov and .mp4 formatted videos can be embedded with the <video> tag.  Please feel free to add a suggestion to our UserVoice page - https://visualstudio.uservoice.com/forums/330519-team-services.

[2018-05-01 22:50] #627 closed

[2018-05-01 23:04] andyjlewis commented on #555
Yes, https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?view=vsts&tabs=shell#set-in-script is how you do it.

[2018-05-02 07:32] ttermeer-reboundcg commented on #565
@steved0x Yes it has. However the line
`var vstsGit = connection.getGitApi();` does not create a valid API object.
I am not sure if this the right way but I did the following to make the sample work
[code]

[2018-05-02 07:43] FokkoVeegens opened #675 "Duplicate videos"
Great article, but looks like some videos (about feature flags) are duplicated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5835c5-57ca-e68d-f033-d97ec7bd106f
* Version Independent ID: 20ff829f-93d5-b3b8-8a34-612a9a5dc841
* Content: [DevOps at Microsoft - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops

[2018-05-02 12:07] StingyJack commented on #493
@steved0x  - why not leave this one open as a reminder for you, instead of pushing of the burden of memory to me?

[2018-05-02 12:39] sboro opened #676 "Add a WIT to track it like a task"
Great documentation! I noticed that in the "Add a WIT to track it like a task" section, the left and right columns in the table are sometimes mismatched.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c3f9f74-172b-bcf9-cde8-3eca80bd9f66
* Version Independent ID: 25af456b-0268-95e9-8c51-4dfcac78d3af
* Content: [Add wor

[2018-05-02 13:51] toqueteos commented on #555
That link is the one I posted 16 days ago. So, again, not helpful.

It'd be clearer to state somewhere in that same page that this approach is the only way to go instead of a code snippet that doesn't even say where's its supposed to go.

Example: `In order to use secret env bars in a bash task you actually do need to explicitly send them as arguments otherwise they'll resolve to empty strings`.

[2018-05-02 15:09] steved0x commented on #675
@FokkoVeegens Thanks for letting us know, I'll get those fixed up right away.

[2018-05-02 15:17] steved0x commented on #675
@FokkoVeegens I just merged the fix, it should be live very soon, thanks again.

[2018-05-02 15:17] #675 closed

[2018-05-02 15:56] elbatk commented on #288
hey @HaraldSchmitt , thanks for this feedback and sorry for the super long wait. I'm adding @itillis to help find an elegant solution to this and I'll add it to the docs :)

[2018-05-02 16:37] SebastianSchuetze opened #678 "Success Criteria for Requests returning JSON"
I have understood the the basic criteria, but if I have a JSON string returned with nested properties, then I can't find any information on how the success criteria expression must look like. The documentation on the field gives the following example:
for a repsonse like {"status" : "successful"}, the expression can be eq(root['status'], 'successful')

but how does it look like for a repsonse like

[2018-05-02 16:58] elbatk commented on #672
@dbiehle Ah thanks for this. This article shouldn't be worded as a tutorial, I'll add this in today!

[2018-05-02 16:58] #672 closed

[2018-05-02 17:26] kraigb commented on #601
Can you give me the link to the PR here?

[2018-05-02 17:32] livioos opened #679 "It's not working for Task Group Property"
As I titled - it's not working for Task Group Property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e7e7aa-775c-075a-a302-c9628fc9ed9a
* Version Independent ID: a64120fa-cd9c-f237-81f2-a06655a7a55d
* Content: [Define and modify your variables in a script](https://docs.microsoft.com/en-us/vsts/build-release/concept

[2018-05-02 18:02] elbatk commented on #670
Adding the package area owner to help out with this! @alexmullans. If you think we need to update the docs let me know, Alex.

[2018-05-02 18:04] elbatk commented on #301
Hey @sameer-kumar and @pabrams , I got this response from the product team:

PrepareClone used to be recommended for use before standing up a new TFS deployment using a database backup already in production on another server. The idea was to disable things like scheduled backups that would otherwise compete with production for an external resource. (In other words, scheduled backups copy backups t

[2018-05-02 18:16] steved0x commented on #538
@brandonmcclure I just checked with the team, no special setup requirements on the TFS server side for LFS. Which version of TFS are you on?

[2018-05-02 18:45] sameer-kumar commented on #301
This definitely should be documented IMHO.

[2018-05-02 19:48] steved0x commented on #531
@MS-Trev @chcomley I'm sorry I somehow missed this one, we are taking a look now. Thank you.

[2018-05-02 19:51] ranouf commented on #670
Hi,

To solve the problem, I:
- added "Node Tool Installer" with version "6.9.1"
- added "Npm" with the following custom command "install -g npm@latest"

And then it worked.

[2018-05-02 19:56] #471 closed

[2018-05-02 20:12] steved0x commented on #679
@alexhomer1 This feedback is on a shared file that is included in one of [your topics](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/release/variables), can you take a look.

[2018-05-02 21:48] TedHoward commented on #608
I tried the system-level Credential Manager (CM). I couldn't locate the one I needed - maybe it was stored with a guid instead of a url? I considered emptying the entire CM and would have if I hadn't located the tenant.cache solution.

fyi
My specific scenario, btw, was rather messed up. I had setup a VSTS with AAD then switched back to MSA authorization. My id was the same both in my AAD and in M

[2018-05-02 21:55] adhiggs opened #682 "GDPR Compliance?"
Does this document need to be scrubbed for GDPR compliance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5e112c-5296-c8e1-547b-36b56a6c4582
* Version Independent ID: 99a12016-36c2-9380-49e5-113cd9b0c96c
* Content: [Bulk modify using Excel - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/work/backlogs/office/bulk

[2018-05-02 22:52] nschonni opened #685 "No longer includes install instructions"
It appears this page has replaced the old https://java.visualstudio.com/Docs/tools/eclipse, but that version included the actual steps to install the plug-in  https://web.archive.org/web/20170924094318/https://java.visualstudio.com/Docs/tools/eclipse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9419941b-8945-9d1a-b7b

[2018-05-02 23:17] KathrynEE commented on #667
@PhilBrammer - Thank you for your comment. I've updated the topic you mention and several other topics with a note to reflect the fact that select reports, tables, and perspectives/measures are no longer supported for TFS 2018 as they rely on XAML builds.

[2018-05-02 23:17] #667 closed

[2018-05-02 23:19] #611 closed

[2018-05-03 00:20] JacobHenner opened #686 "Tabs not functioning in Firefox or Chrome"
The tabs for macOS/Linux are not accessible using Firefox or Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47a1942-09cb-f294-f1d3-09999645afb7
* Version Independent ID: 7b885f66-7165-ae4f-d35f-3cffe84cce28
* Content: [Run the agent behind a web proxy](https://docs.microsoft.com/en-us/vsts/build-release/action

[2018-05-03 00:51] sboro commented on #676
Thank you for your response @KathrynEE. For instance on the first row, left column says "Backlog priority field (Agile, CMMI)" but the code on the right column is about the stack rank field. The second row says "Stack rank field (Scrum)" but the code is about backlog priority etc.

[2018-05-03 01:59] LyalinDotCom opened #687 "link broken (vs enterprise subscription)"
Link above to "Visual Studio Enterprise subscription" goes to 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9d52f6-bbec-1b70-3624-5fbfb621b932
* Version Independent ID: 08466892-dd17-abc6-ebdb-96a0e07f83d0
* Content: [URL-based load testing with VSTS](https://docs.microsoft.com/en-us/vsts/load-test/get-started-

[2018-05-03 05:17] nschonni opened #688 "Link broken: https://www.visualstudio.com/support/subscription-support-vs"
Referenced in docs/_shared/qa-visual-studio-subscription-support.md and docs/accounts/faq-set-up-vs.md

[2018-05-03 05:19] nschonni opened #689 "Link broken: https://www.visualstudio.com/products/tfs-overview-vs"
Referenced in docs/accounts/create-account-msa-or-work-student.md and docs/build-release/concepts/definitions/release/what-is-release-management.md

[2018-05-03 05:39] nschonni opened #691 "Link Broken: https://www.visualstudio.com/support/privacy-policy-vs"
Found in docs/articles/team-services-security-whitepaper.md

[2018-05-03 05:40] nschonni opened #692 "Broken Link: http://www.microsoft.com/security/sdl/"
Found in docs/articles/team-services-security-whitepaper.md

[2018-05-03 06:00] fbau3r commented on #493
I have the same issue, and at the moment I'm afraid to say that it's guesswork to use TFS2017 API.

1. Is there a reference to the issue "_they are still working on_"?
2. Is there a workaround to access the documentation of the other Versions meanwhile? (e.g. a source repository that's not yet included, a branch or so)

I also would like to see this Issue open for as long as the bug is not fixed w

[2018-05-03 06:32] nschonni opened #697 "Bad link: https://www.visualstudio.com/products/free-developer-offers-vs.aspx"
Found on docs/collaborate/keyboard-shortcuts.md and docs/user-guide/alm-devops-features.md

[2018-05-03 08:25] palcarlsen opened #698 "tfs 2015 does not trigger build when using ssh"
On TFS 2015 pushing from ssh does not trigger automatic builds. Builds are triggered using http. I can see my commits in the history same as commits made using http, but only http commits trigger the automatic build.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 64e85ff9-9add-d15c-e92f-02d7dd05e0f2
* Version Indepe

[2018-05-03 09:09] olsh opened #699 "Do not allow build if another build is failed"
Is it possible to prevent a build if another build is failed?

Use case:
I have a build which runs unit tests, code analysis and so on (this build is started after each push to a repository).
And another build which pushes packages to Octopus deploy and runs integration tests (this build is started manually).

I want to prevent the second build if the first one is failed.

---
#### Document Detail

[2018-05-03 10:06] NielsGrove opened #701 "Missing content"
There is no content in the document. That is TFS 2017 and 2018.
As-is this documentation is useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 707d403c-b68d-4c8d-56da-0f37d3117dd2
* Version Independent ID: 9b043f37-0dd2-3aba-c201-8160cdbfac86
* Content: [Code and Work Item Search set up](https://docs.microsoft.com

[2018-05-03 12:18] andreinfra commented on #227
I am looking for a problem to link to this link https://docs.microsoft.com/en-us/vsts/extend/develop/auth?view=vsts where System.IdentityModel.Tokens.Jwt is maintained. version 4.0.2.206221351 can not be installed on dotnet core 2.0 because it does not recognize the TokenValidationParameters so the page is outdated. Can someone help me to authenticate as the page quoted correctly?

[2018-05-03 12:40] alexhomer1 commented on #678
Thank you for your feedback. I have passed this on to the product team and will update the topic based on their response.

[2018-05-03 12:42] alexhomer1 commented on #679
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-05-03 13:32] Hgker01 opened #702 "Check out permisson renamed"
I couldn't find TFVC permission "Check out" in TFS 2018 Update 1. It's become clear to me, that it's renamed to "Pend a change in a server workspace".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2adbee-5e62-a34a-5914-31bd417df13b
* Version Independent ID: 0f97e954-e8ef-b4b6-7182-24f9a9e3d92e
* Content: [Permission

[2018-05-03 13:50] alexkokkinos opened #703 "Is there any way to upload secure files programmatically?"
I'm trying to find out a way to do this, either via the VSTS REST API, Node API, Tasks Library, etc. I don't think it's possible at the moment.

[2018-05-03 14:37] StingyJack commented on #493
@fbau3r - See if this link is useful for you

https://docs.microsoft.com/en-us/vsts/integrate/legacy-apis/overview?view=tfs-2017

It seems to be correct for the TFS 2015  set.

[2018-05-03 14:48] shawnpaige opened #704 "Authentication best practices?"
If we have multiple Zendesk users, should we:

1. Share a common Personal Access Token across all users?
2. Have each user create their own Personal Access Token?

Thanks,
Shawn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1646acb-1bd0-d506-fe70-1b749cccbbc4
* Version Independent ID: 89aa9387-8ce6-9877-8e90-5f7c655b

[2018-05-03 14:54] steved0x commented on #596
@funzeye Glad you got it worked out, thank you for your feedback!

[2018-05-03 14:58] steved0x commented on #493
I'll keep it open until I can verify the work item that this work is assigned to.

[2018-05-03 14:59] steved0x commented on #493
@elbatk Do you have any better information to provide here than what I have been providing, like better timelines for when this may be resolved?

[2018-05-03 15:01] elbatk commented on #493
We just added those legacy apis that were linked by @StingyJack for just these scenarios. They should be fine with that. Going to close this and we can reopen if there are more questions.

[2018-05-03 15:01] #493 closed

[2018-05-03 15:28] chcomley commented on #485
@emilpeder1984 That's great to hear, thank you!

[2018-05-03 15:40] chcomley commented on #585
@JuniorIce, checking to see whether you have seen Aaron's response? Aaron, please contact James at james.rice@microsoft.com. Thank you.

[2018-05-03 15:42] alexhomer1 commented on #418
I'll check with the product team and report back.

[2018-05-03 15:59] alexhomer1 commented on #447
Thank you. I will pass on your comments.

[2018-05-03 16:02] alexhomer1 commented on #478
Thank you. I will request additional information.

[2018-05-03 17:07] ggirard07 opened #705 "Package Management as artifact source"
Looks like Package Management is now supported as an additional artifact source.
Can you add some details about it? Some example about details i was looking for:
- What package types are supported?
- How those artifacts are retrieved by the build agent?
  - Is the package extracted on disk?
  - For Powershell based packages, are they installed on the phase agents?

---
#### Document Details

⚠ *Do

[2018-05-03 17:42] chcomley commented on #531
Thank you @MS-Trev, you should have a MSFT email in your Outlook, adding Zack A. for further investigation and guidance.

[2018-05-03 18:09] #531 closed

[2018-05-03 20:17] steved0x commented on #461
Thank you Andy for closing it.

[2018-05-03 20:18] steved0x commented on #484
Thank you Alex.

[2018-05-03 20:47] tgrimm167 opened #707 "package.json example typo...."
There is an extra space at the end of the function name "refreshVSToken" in the example you provided for how to modify the package.json file that gave me a solid 2 hour debugging headache. If you did this intentionally to troll lazy copy pasters like me, well done, if this was any sort of accident though, please fix it :)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-03 22:13] GlobalCompe opened #708 "MSTest v2 based tests not supported"
There should be big warning added saying "Surprise Surprise, MSTest V2 based tests are not supported to association to test cases". One of the main reasons I chose MSTest v2 was for our UI Tests (Selenium) was that I was so sure everything in Microsoft ecosystems just works.
Upvoted https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/20152837-allow-automated-te

[2018-05-03 22:14] JuniorIce commented on #585
Aaron, would love to chat with you in more detail about your needs if you’re available—can you provide your email address?

From: chcomley <notifications@github.com>
Sent: Thursday, May 3, 2018 8:41 AM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: James Rice <James.Rice@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsts-docs] Team Services Accoun

[2018-05-03 22:17] keithnicholson opened #709 "System Error 64"
I received the following Error as it started trying to copy to my UNC path.

     2018-05-03T22:03:30.7698315Z Copy started for - <machine name>
     2018-05-03T22:03:31.1734790Z ##[error]System error 64 has occurred.

Is there a way to determine what the specific issue was?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-04 01:28] elbatk commented on #660
Hey again @ruairiohagan, this may be helpful for you:
https://docs.microsoft.com/en-us/vsts/extend/reference/client/rest-clients?view=vsts

Going to close this issue but please feel free to reopen if this isn't what you're looking for!

[2018-05-04 01:28] #660 closed

[2018-05-04 01:31] ruairiohagan commented on #660
Hi @elbatk , looks good, thanks for your help.

[2018-05-04 02:41] DaveDustin opened #711 "Extraneous asterixs in 'branches' content"
In the 2nd paragraph of the Branches section, there are a number of asterisks between words which serve no purpose.  Removing them, the sentence reads correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e18eead-7795-0752-93b0-e07f6d088089
* Version Independent ID: f637de69-b13c-eed8-ab05-3515106c9270
* Content:

[2018-05-04 05:39] RoopeshNair commented on #418
@TheBeardedLlama

Scoping variable groups to environments was added recently and is available in [TFS 2018 Update 2](https://docs.microsoft.com/en-us/visualstudio/releasenotes/tfs2018-update2#scope-a-variable-group-to-specific-environments)

[2018-05-04 07:50] TheBeardedLlama commented on #418
Ok, thank you for clarifying I will submit a PR to update the docs then as it's a bit vague

[2018-05-04 08:08] drewwilliams1982 opened #712 "VSTS Nuget Package Source Authentication"
In VSTS, under "Connect to feed" the link "How do I set up this package source in Visual Studio?" brings you to this page. This page doesn't detail how to handle authentication in visual studio.

All it needs is a link to the relevant document, and it would have saved me a lot of time.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-05-04 08:16] fbau3r commented on #493
Thank you all for helping me with that issue! The link was exactly what I need, @StingyJack.

[2018-05-04 11:17] alexhomer1 commented on #657
I'm adding a section to the topic: "View the current values of all release variables" - In the **Logs** page of a release summary, choose the **Initialize Job** step. The log pane includes a list of all the variables and their values for this release. Meantime, we'll review and update the lists of variables.

[2018-05-04 11:17] #657 closed

[2018-05-04 11:56] imalokagrawal commented on #679
can you explain the problem more in detail ?

[2018-05-04 12:50] slavizh opened #713 "The names in the first diagram are not visible in dark theme"
The names in the first diagram are not visible in dark theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92be2bb1-d071-8531-4dea-75fbffdbe764
* Version Independent ID: 82b71f3e-48ee-6616-30eb-f939941807ea
* Content: [What is Scrum? - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/agile/what-is-scrum)
*

[2018-05-04 13:07] slavizh opened #714 "Two of the diagrams have black text which is not visible in dark theme"
Two of the diagrams have black text which is not visible in dark theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bc244f-e07c-f8a4-0f00-04c8e015821f
* Version Independent ID: 2a37fdcf-eac8-3738-af46-7d70826ec660
* Content: [Scale Agile to Large Teams - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/a

[2018-05-04 13:08] andyjlewis commented on #463
is the previous task in a different phase?

[2018-05-04 13:09] aaronboock commented on #585
Regards,

Aaron Boock
Hennepin County - IT Systems Engineer
300 South 6th Street
Minneapolis, MN 55487-0005
612.596.0205 | Office
612.290.2089 | Mobile
aaron.boock@hennepin.us<mailto:aaron.boock@hennepin.us>

Disclaimer: If you are not the intended recipient of this message, please immediately notify the sender of the transmission error and then promptly delete this message from your computer syst

[2018-05-04 13:24] slavizh opened #716 "The informaiton on many of the picture is not completely visible in dark theme"
The informaiton on many of the picture is not completely visible in dark theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf98c4b-9185-00d5-a980-e2adb3e291fd
* Version Independent ID: f6005931-c9b5-48d9-e6c3-f835bb9b01b1
* Content: [What is DevOps? - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/what

[2018-05-04 13:32] slavizh opened #717 "The picture is not fully visible in dark theme"
The picture is not fully visible in dark theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc48620-03dc-7d0e-5e30-2e70fd114028
* Version Independent ID: 6142280a-a27b-aaf6-43ef-b91f7ae44084
* Content: [What is Continuous Integration? - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/what-is-continuous-i

[2018-05-04 14:17] lXxTheGhostxXl commented on #463
Same phase, for ex: Task 1: Powershell script to execute oracle scripts Task 2: IIS web deploy. Now, if the task 1 returns a variable and based on that variable i need to run task 2. Can this be done in current VSTS?

[2018-05-04 15:03] andyjlewis commented on #463
yes: https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?view=vsts&tabs=batch#set-in-script

[2018-05-04 15:25] shashban commented on #678
Can you see if https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/servertaskauthoring.md gives you the required information on how to parse jsons for success conditions?

[2018-05-04 15:35] SebastianSchuetze commented on #678
Hi, thanks for the link. I found that one as well. But there are still some information missing, which I needed to find out myself.

For example: In a quality gate I have the following equation, which works:

`eq(jsonpath('$.value[*].environments[*].status')[0],'succeeded')`

I wanted to check if an environment has the status succeeded from the following VSTS api path

__apis/release/releases/?$to

[2018-05-04 17:25] steved0x commented on #685
@nschonni I've got a work item to get those fixed up, several parts didn't come across in the migration. Should be done next week, I'll keep this issue open until I have the fix checked in.

[2018-05-04 17:27] steved0x commented on #688
@chcomley I was mistaken for this one, redirect not yet in place.

[2018-05-04 17:28] steved0x commented on #688
I'm taking this one back since I have several others like it.

[2018-05-04 17:34] steved0x commented on #711
@DaveDustin Thanks for letting us know, this content was recently migrated over from WordPress and it looks like some formatting errors slipped through, I'll get this fixed up.

[2018-05-04 17:36] steved0x commented on #713
@slavizh Here is what it looks like for me on chrome, can you share a screenshot and more details about your browser and I can see what we need to fix. Is this the right image?

![image](https://user-images.githubusercontent.com/1580889/39642557-1af82728-4fa0-11e8-8bed-305bdf9d7e1a.png)

[2018-05-04 17:39] steved0x commented on #716
@slavizh I'll do a sweep and get these fixed up.

[2018-05-04 18:02] steved0x commented on #714
@slavizh I'm going to close all of these except for https://github.com/MicrosoftDocs/vsts-docs/issues/716 which I'll keep open until we have a fix. Thanks for reporting these.

[2018-05-04 18:02] #714 closed

[2018-05-04 18:02] steved0x commented on #713
@slavizh I'm going to close all of these except for https://github.com/MicrosoftDocs/vsts-docs/issues/716 which I'll keep open until we have a fix. Thanks for reporting these.

[2018-05-04 18:02] #713 closed

[2018-05-04 18:03] steved0x commented on #717
@slavizh I'm going to close all of these except for https://github.com/MicrosoftDocs/vsts-docs/issues/716 which I'll keep open until we have a fix. Thanks for reporting these.

[2018-05-04 18:03] #717 closed

[2018-05-04 18:13] steved0x commented on #711
@DaveDustin I just checked in the fix and it should be live soon. Thanks for letting us know.

[2018-05-04 18:13] #711 closed

[2018-05-04 18:26] tristanbarcelon opened #721 "Clicking the .Net Core CLI build task gives me a 404"
The link to .Net Core CLI build task points to a link https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/DotNetCoreCLI which does not exist. Should it be https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/DotNetCoreCLIV2 instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7ba5cf3-d229-03d0-ad6a-a30a0

[2018-05-04 20:04] andyjlewis commented on #348
Thank you for the feedback. We're working on an update.

[2018-05-04 22:05] daviburg opened #724 "Special character are ignored"
I needed to do a count of

package id="Newtonsoft.Json" version="6

vs

package id="Newtonsoft.Json" version="10

Which can be done by removing the original double quotes and wrapping the result in double quote as "special" character are ignored, which i think is anything not alphanumerical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-05-05 01:25] StingyJack commented on #666
I needed to customize the build number, but slightly differently as I needed to start at a different $rev.

If you create an Inline Powershell task as the first task in the build, you can customize the build number pretty much any way you want to. This code block should get you the format you want.
[code]
The build will start with the old number, but after it executes this task it will have the bu

[2018-05-05 22:31] iosgitr opened #726 "Are variable groups supported in builds?"
The top of the document states "available across multiple build and release definitions" but this document only describes how to use a variable group within a release definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version Independent ID: c9e461ee-7f42-3503-9460-18fa3a8

[2018-05-06 04:20] michaelpimentel opened #727 "404 page link"
The link in "Read more about the Continuous Delivery capabilities of Visual Studio Team Services." show 404 page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 895ed016-6ddc-3458-db9e-ebbedf218982
* Version Independent ID: 36e017f5-b012-fcec-6906-1966f3a97cb4
* Content: [What is Continuous Delivery? - Azure

[2018-05-06 06:16] livioos commented on #679
Hello,

I created build definition. One of steps has Powershell script with set
variable command by ##vso[task.setvariable]value. All worked ok.  This step
set the build my variable "guid". Then i try to change a few steps do Task
Group with "guid" parameter. After that I realized that
 ##vso[task.setvariable] did not set TG parameter "guid". Therefore I was
forced to move the powershell step outs

[2018-05-06 08:01] evakili opened #728 "Updating pre-installed extensions"
Is there any method to update pre-installed extensions or we should wait until next TFS update/release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46849bf5-07ed-62cd-66a5-2ebabe449855
* Version Independent ID: d12ad05e-4348-f13a-ea35-7bb4761c3b0b
* Content: [Install extensions for Visual Studio Team Foundation Serv

[2018-05-06 08:15] msm34 commented on #476
@elbatk

[2018-05-07 04:55] albilaga opened #729 "Visual Studio for Mac setup"
It will be good if there is also setup for Visual Studio for mac  like solution configurations because it is different with Visual Studio On Windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c45a95ce-73c8-861e-f92d-a26f1667aa60
* Version Independent ID: ecb82128-cdf4-3834-62c1-2cf61989ab5e
* Content: [Build your X

[2018-05-07 06:52] xiaofuhub opened #730 "How TFS Uses Alternate Credentials？"
Why did I fail to access the TFS Server with my Visual Studio account and password（
Without using git-credential-manager.exe）, and I used a backup authentication key to access the TFS Server successfully？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8b4989-21f0-53c5-dfce-6d5f1a66b8b2
* Version Independent ID: 2f441

[2018-05-07 08:55] divais commented on #626
Yes, you can create chart for all Suites but it includes the data for all its child suites too. There isn't any mechanism available to create chart for specific children suites.

[2018-05-07 10:10] Soarc opened #731 "How can i get build definition guid for badge url?"
Build status url requires {guid} parameter. Where is it located?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-18f4-e94a4e2fe2c9
* Content: [Define a CI build process for your GitHub repository](https://docs.microsoft.com/en-us/vsts/buil

[2018-05-07 10:38] sawhneyapurva opened #732 "Linked WorkItems not Shown"
Hi,

The linked work items are not displayed on TFS work item if the linking is done using following ways:

1. If we try linking work items using Visual Studio Team Explorer for GIT code development then those commits are not linked with TFS work item
2. If we use git-commit command and include work item id in the comment like "Changes for #xxxx" even then the commits are not linked with TFS work

[2018-05-07 12:30] PonmurughuS opened #733 "Sudo su <user> hangs when executed via SSH task"
Hi,

When I execute shell commands or a shell script containing Sudo commands using SSH task it hangs for long periods.
I understand once the SSH connection is established it should be the remote machine where the commands are executed. Could you help us here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ad03c70-401

[2018-05-07 13:42] ricardoserradas opened #734 "Work item type Feature (or others) cannot be changed."
According to the documentation, it should be possible to change the type of User Stories, Features, etc. But, in my scenario here, I'm unable to do it. I receive this exact message:

"Work item type Feature cannot be changed."
"Work item type User Story cannot be changed."

How did I get to this step?

- I created this Team Project using Agile;
- Then created a new inherited process based on Agile

[2018-05-07 14:27] #498 closed

[2018-05-07 19:33] nyannios opened #735 "Install SQL Server Link under How-To guides returns http 404 error"
Install SQL Server Link under How-To guides returns http 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea9258d-d528-4f5d-1d67-fc3c33a8cd81
* Version Independent ID: f3103b09-8f5f-3718-161f-51976cbe5ef6
* Content: [Install and configure TFS on a single server](https://docs.microsoft.com/en-us/vsts/tfs-server

[2018-05-07 19:35] elbatk commented on #707
Yikes, @tgrimm167 , I definitely didn't mean to take you on that journey. Fixing it now :)

[2018-05-07 19:35] #707 closed

[2018-05-07 19:38] elbatk commented on #712
Hey @drewwilliams1982 , did you find the documentation you needed? Do you think we should add authentication to this document or link to another one? Adding @alexmullans from the product team to check out the input here as well.

[2018-05-07 19:38] elbatk commented on #712
Didn't mean to close, oops! Reopening!

[2018-05-07 19:39] elbatk commented on #704
Hey @shawnpaige , thanks for the question. Adding @willsmythe from the product team that can probably answer this for ya!

[2018-05-07 19:41] elbatk commented on #728
Hi @evakili , that's a good question. Adding @harishkragarwal from the Marketplace team to see if he has an answer for ya.

[2018-05-07 19:42] elbatk commented on #476
@msm34 are you having the same issue? Could you answer the question above if so?

[2018-05-07 19:51] elbatk commented on #735
Ah @nyannios sorry about that - the link should go here:
https://docs.microsoft.com/en-us/vsts/report/sql-reports/reporting-services-reports?toc=/vsts/tfs-server/toc.json&bc=/vsts/tfs-server/breadcrumb/toc.json&view=tfs-2017

Fixing the link in the TOC now.

[2018-05-07 19:51] #735 closed

[2018-05-07 19:58] Rick-Anderson commented on #581
@steved0x  please open this until it's fixed. WHen it's open other folks can see the issue and the work around.

[2018-05-07 20:05] bvirkler opened #736 "Description of upstream sources is out of date"
Screenshots and description of fields do not match what I see in VSTS Package Management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99ba1815-66a8-49a6-a9f2-36f0c8e14dd2
* Version Independent ID: 8e208fde-bcc0-2090-d43b-6fd4949e9a91
* Content: [Create a feed](https://docs.microsoft.com/en-us/vsts/package/feeds/crea

[2018-05-07 20:05] Rick-Anderson commented on #581
It's tricky to get to the right projects page.

* Go to the root of the projects `https://{URL like abc1111122}.visualstudio.com/_projects`
* Hover over the gear icon > **Overview**

[2018-05-07 20:08] Rick-Anderson opened #737 "How to delete"
See https://github.com/MicrosoftDocs/vsts-docs/issues/581 for a work around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03af1d9-4eeb-ac18-d517-a0a44a2478be
* Version Independent ID: 842691c8-8c41-facf-2cff-03542262f2e5
* Content: [Delete a Git repo from your team project](https://docs.microsoft.com/en-us/vsts/git/

[2018-05-07 20:35] #736 closed

[2018-05-07 21:38] KathrynEE commented on #682
@adhiggs - Thank you for your inquiry. I will contact the Product Manager for this area and follow up as needed.

[2018-05-07 21:38] #682 closed

[2018-05-07 22:32] pheonixblade9 opened #738 "This article is out of date"
With the newest version of VSTS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0449868-e233-3ada-067b-fc8de52ecc9a
* Version Independent ID: df871375-c579-12c1-6aec-394046c42746
* Content: [Delete or recover VSTS account](https://docs.microsoft.com/en-us/vsts/accounts/delete-your-vsts-account?view=vsts#feedback)
* Con

[2018-05-07 22:54] alexmullans commented on #712
@drewwilliams1982 what are the authentication issues you're having? If you're on VS 2015 Update 1 or later, the NuGet Package Manager will automatically authenticate to VSTS feeds.

[2018-05-08 06:58] RafaelWO opened #739 "INFO: Typo on XML"
There is the following typo right on top of the page:
"A process template defines... It supports Hosted XML and On-premises XMl process models..."
"XML" is writte with a small 'L' like "lego"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e964fe0-c899-d543-8367-603990cad0b3
* Version Independent ID: b9ea4c04-f45f-ab63

[2018-05-08 08:29] drewwilliams1982 commented on #712
Thanks for getting back to me.

I ended up having to install the Credential Provider.

I am developing a small project in .net core and vscode, but I've got something funky going on with my feeds there, which only searches my corporate feed, not nuget.org nor any other feed I set up.

So I switched to VS2017, which manages all feeds just fine. If I recall correctly, that did prompt for credentials

[2018-05-08 09:21] moyanming opened #740 "Chinese version of this document missing?"
There used to be a Chinese version of [this document](https://docs.microsoft.com/zh-cn/azure/devops/git/what-is-version-control). But it is missing recently. How to find or get the Chinese version of this document?
https://docs.microsoft.com/zh-cn/azure/devops/git/what-is-version-control
[在此处输入反馈]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 64f1b21d-ba58-7b3f-126

[2018-05-08 09:41] drewwilliams1982 commented on #712
To follow up on this, trying to use "dotnet add package <package> -s <vsts url>" results in a 401. Even though I have the credential provider installed. It's not obvious where I can find out how to solve this.

[2018-05-08 11:25] harishkragarwal commented on #728
Hi @evakili, if your TFS instance is in connected mode i.e. connected to internet then an extension update would automatically reach you with 24 hours. However, if your TFS instance is in disconnected mode, then you can go to Visual Studio Marketplace, check if the desired extension has been updated since you last downloaded it. If yes, then download the extension and manually update your TFS inst

[2018-05-08 12:03] StingyJack opened #741 "Where are the dimensions specified?"
Where do we specify the file types? Because this does not include a bunch of file types that would make this a more complete report.

These stats also need to report correctly in general. Just because I make a release or feature branch for something does not mean "I" added 150K LOC. Our two TFS servers (2013/2015) report that I have added, deleted, or changed close to 7 million lines of code in 6

[2018-05-08 12:37] steved0x commented on #740
@moyanming These documents were just migrated over to docs.microsoft.com and I think the translated versions are coming shortly. I'll see if I can get an update on the timeline.

[2018-05-08 12:39] #737 closed

[2018-05-08 13:10] lfraile opened #742 ""Allow scripts to Access OAuth token" check has changed location"
It is no longer under options with the new UI, but in the new Phases options in the Tasks tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77731c06-e4fd-8125-0daf-870c9ccedd3f
* Version Independent ID: 0d5c338d-80f9-c64e-b675-bf7b4eb8e32b
* Content: [Use a PowerShell script to customize your build process](https://d

[2018-05-08 13:11] lfraile commented on #742
Sorry I just noticed it is duplicated with #518

[2018-05-08 13:11] #742 closed

[2018-05-08 15:40] alexhomer1 commented on #705
Thank you for your feedback. I will consult with the product team and add the required details.

[2018-05-08 15:40] #705 closed

[2018-05-08 15:57] steved0x commented on #581
@bwscheller Glad you got it worked out and I have added a note to ensure the repositories pane is expanded. @wolivier @Rick-Anderson I have updated the screenshots for clarity and with the extra note about expanding the repositories pane, and reviewed the other steps, which are correct, but hopefully combined with the improved screenshots, hopefully the process is more clear. Thank you for the fee

[2018-05-08 16:27] alexhomer1 commented on #721
Thank you for your feedback. I just checked and the links now go to https://docs.microsoft.com/en-us/vsts/build-release/tasks/build/dotnetcorecliv2.2 which describes the task. I assume the page was recently updated.

[2018-05-08 16:27] #721 closed

[2018-05-08 16:28] alexhomer1 commented on #724
Thank you for your feedback. I have passed this on to the product team for their advice.

[2018-05-08 16:38] alexhomer1 commented on #726
Thank you for your feedback. I will ask the product team for advice and update the topic accordingly.

[2018-05-08 16:38] #726 closed

[2018-05-08 16:55] iyerusad opened #743 "Consider adding `Limitations` section"
Noticing that certain tasks don't support Powershell core, which is what Hosted Linux Agents run, powershell wise.

It might make some sense to add a limitation section for tasks to outline known limitations (I don't believe full AzureRM, which this task is, runs on powershell core). Without it, it can be confusing as there is [an AzureRM (abliet, a limited one) that works on powershell core](http

[2018-05-08 17:09] alexmullans commented on #712
The Credential Provider doesn't currently work with dotnet. You'll need to use the [instructions here for now](https://docs.microsoft.com/en-us/vsts/package/nuget/dotnet-exe?view=vsts). https://github.com/NuGet/Home/issues/6486 tracks the work to create a cross-platform Credential Manager that works in all NuGet endpoints (including dotnet).

[2018-05-08 17:38] chcomley commented on #738
Thanks for the heads up, @pheonixblade9 ! I've updated the topic with fresh screenshots and updated content. These changes should go live sometime this afternoon. Thanks again.

[2018-05-08 17:38] #738 closed

[2018-05-08 19:43] styfle opened #744 "Is .order file case sensitive?"
I see two references to the `.order` file.
In this document it is lowercase.
However, in this document, it is uppercase: https://blogs.msdn.microsoft.com/devops/2018/03/25/announcement-publish-markdown-files-from-your-git-repository-to-vsts-wiki/

Is the file case sensitive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-08 20:20] g6andrew opened #745 "Read only permissions for wiki docs"
I have several users, both Stakeholder and Basic, in the Readers group of my project.  But they get the message "you do not have sufficient permissions to read wiki" when trying to read a wiki doc.  They are not in Contributors, and shouldn't be, since they don't change code.  How do I grant them read permission?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-05-08 20:35] #581 closed

[2018-05-08 23:01] #676 closed

[2018-05-08 23:48] JamesMiera opened #747 ""Give teams and builds access to feeds"..."
I somewhat looks like somebody might have been just about ready to include some useful information, and forgot what they were doing, or suffered a medical emergency. The lack of detailed information under the headers in that sub-section, as well as the suspiciously incomplete "how to" (EOD), might lead one to believe that this is a work in progress. Is there any chance that one might complete this

[2018-05-09 06:09] nikolaiblackie opened #748 "Porting to TFS 2018?"
Is it possible to manually install this tool task on TFS 2018 or does it have to be shipped by MS in an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6cdab61-a70b-e725-cd74-f258620447b7
* Version Independent ID: ee1753a6-2b6c-8304-5cba-73b86606ebb3
* Content: [Visual Studio Test Platform Installer](https://do

[2018-05-09 06:39] TerryChan opened #749 "There is no Multi-configuration under Options"
I didn‘t find Multi-configuration under Options tab, but I found it under Tasks in Phase1->Execution plan. And after I set it under Tasks, the build works well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b0c082-81b3-79af-8841-8b3033dedf4a
* Version Independent ID: de8aab33-f9ef-0d8d-dbbc-49e23930f1c6
* Content: [B

[2018-05-09 06:47] TerryChan opened #750 "There is no Multi-configuration under Options"
I didn‘t find Multi-configuration under Options tab, but I found it under Tasks in Phase1->Execution plan. And after I set it under Tasks, the build works well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa5a83c-70fd-6925-a8c8-256b21c21a2e
* Version Independent ID: 75f4a136-7245-7878-2953-6b68272fe4ec
* Content: [

[2018-05-09 12:28] andyjlewis commented on #750
Thanks for the feedback. We've got an update on the way.

[2018-05-09 14:33] elbatk commented on #712
@drewwilliams1982 closing this issue as it seems @alexmullans has provided a solution for ya! Feel free to comment and reopen if you're still having issues.

[2018-05-09 14:33] #712 closed

[2018-05-09 15:33] steved0x commented on #743
@DavidStaheli Can you take a look at this one? Thank you!

[2018-05-09 15:34] steved0x commented on #748
@DavidStaheli Can you take a look at this one? Thank you!

[2018-05-09 15:36] elbatk commented on #747
Ah, yes this isn't quite what this page is supposed to look like @JamesMiera , I'll throw this on the backlog and get it fixed asap. @alexmullans for awareness

[2018-05-09 15:39] steved0x commented on #732
@KathrynEE Please loop me in on this one if you need - have you seen this before?

@sawhneyapurva When linking a work item to a commit, the link isn't added until the commit is pushed, just as a quick check, is the link to the work items not showing up after you push the commit?

[2018-05-09 16:38] csnarain commented on #558
This one does not work. The solution file does not exist. Pls fix this.

[2018-05-09 17:21] CyberJMC66 opened #751 "Mean Times"
Sam, I like your comments around MTTM and MTTR - I speak to Mean Time to Detect (MTTD) and Mean Time to Identify. Obviously both MTTD and MTTI if reduced to near zero, result in quick action because automation has detected and identified failures and either attempted automated recovery, or has notified appropriate owners of defect.  Thoughts?

---
#### Document Details

⚠ *Do not edit this section

[2018-05-09 17:55] KathrynEE commented on #744
@styfle - Thank you for your inquiry. The file is case sensititive and should be labeled as **.order**.

[2018-05-09 17:55] #744 closed

[2018-05-09 17:55] mlearned commented on #558
@steved0x  let me have a look

[2018-05-09 17:57] styfle commented on #744
@KathrynEE I see. Are you going to fix the blog post?

[2018-05-09 18:07] KathrynEE commented on #745
@g6andrew - Thank you for your inquiry. Stakeholders and Contributors should be able to read a Wiki. Could you check the Readers group permissions for the Wiki Security dialog - https://docs.microsoft.com/en-us/vsts/collaborate/manage-readme-wiki-permissions?view=vsts - and make sure that it is set to Allow. If that isn't the problem, I suggest you report any problems on the Developer Community, h

[2018-05-09 18:07] #745 closed

[2018-05-09 18:13] KathrynEE commented on #734
@ricardoserradas - Thank you for your inquiry. Is it possible that the User Story work item type is currently disabled in the inherited process? If so, you need to enable the “User Story” work item type, convert them to the new type of “Proactive” or whatever other enabled WIT, and then once you've converted all that you want, you can then disable the “User Story” work item type.

[2018-05-09 18:13] #734 closed

[2018-05-09 18:15] ricardoserradas commented on #734
Hi Kathryn.

It’s possible to be true. I’m going to check and I’ll let you know.

Best,
Ricardo Serradas

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: KathrynEE <notifications@github.com>
Sent: Wednesday, May 9, 2018 3:13:34 PM
To: MicrosoftDocs/vsts-docs
Cc: Ricardo Serradas; Mention
Subject: Re: [MicrosoftDocs/vsts-docs] Wo

[2018-05-09 18:58] chcomley commented on #597
@ChristopherMank, Thanks so much for your update. I've created a backlog item for this work.

[2018-05-09 18:58] #597 closed

[2018-05-09 20:38] KathrynEE commented on #362
@StingyJack - Thank you for your inquiry and apologies for the delay in responding. The account you use is the Report Reader account which is described in here: [Requirements, Accounts](https://docs.microsoft.com/en-us/vsts/tfs-server/requirements?view=vsts#accounts).

[2018-05-09 20:38] #362 closed

[2018-05-09 20:43] KathrynEE commented on #319
@kraftc - Thank you for your inquiry.  Reviewing [Sharepoint 2013 requirements](https://docs.microsoft.com/en-us/sharepoint/install/hardware-and-software-requirements-0) indicates that Windows Server 2016 RTM is not supported.

[2018-05-09 20:43] #319 closed

[2018-05-09 20:57] sevaa opened #753 "Reference please"
What goes into options?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678e1c27-e4ed-b764-cabb-3eeee8b11f8a
* Version Independent ID: 3d14d5e8-736d-507a-0d35-33d73d53f219
* Content: [Grid Control](https://docs.microsoft.com/en-us/vsts/extend/reference/client/controls/grid?view=vsts)
* Content Source: [docs/extend/refer

[2018-05-09 21:06] GregTrevellick opened #754 "Spot on, but not for novice"
Ok for me to follow, experienced with VS, vsix, node etc but perhaps need a beginner version and experienced version of this doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14955ee9-29f2-46fe-3a8d-a42666f53ffc
* Version Independent ID: 5d417cd0-a671-ee30-8fca-5f8b0addd328
* Content: [Write your first extension for V

[2018-05-09 21:07] GregTrevellick commented on #754
Closing as this isn't an issue, just a comment

[2018-05-09 21:07] #754 closed

[2018-05-09 21:08] elbatk commented on #754
@GregTrevellick I appreciate the feedback, I agree completely so I'lll round up the product team and see if we can't make this content a little more accessible to beginners.

[2018-05-10 09:33] drewwilliams1982 commented on #712
Yeah I'm happy I have my issue resolved. It would be useful for others to know about the dotnet link though! Perhaps update the docs to link to that?

[2018-05-10 12:37] StingyJack commented on #741
RE: File Types...

ZPL, APL, and a few other printer programming languages. We make a lot of label templates that count as "code", and some of them may be of different encoding types.  There are a  handful of other file types for a DSL as well that I dont think are getting counted.

Since we use a common convention across projects, I wrote a SQL script to create a table of the different Trunk, Fea

[2018-05-10 13:24] shaselsc opened #757 "Credential Usage and Expiration"
Hello,

I think it would be helpful to know what actually happens when you run NuGet CLI commands after the CredentialProvider.vss.exe is put in its proper place. If you are logged into Windows Active Directory that's linked to Azure Active Directory, then it seems to use that as your user for the commands. If you are logged in with a user without that, then a browser window appears asking you to

[2018-05-10 13:29] alexhomer1 commented on #724
I have updated the topic to include the new syntax and search capabilities for special characters and phrases:
https://docs.microsoft.com/en-us/vsts/search/code/advanced-search?view=vsts#syntax-for-simple-and-compound-searches
https://docs.microsoft.com/en-us/vsts/search/code/advanced-search?view=vsts#search-for-phrases
This should help to answer your question.

[2018-05-10 13:29] #724 closed

[2018-05-10 13:46] cmiller734 opened #758 "Transition from Git to TFS has been good"
In part due to docs like this. I appreciate this documentation, and even the fact that you can toggle from light to dark mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd36c9f-c60e-6191-f344-0cd8c0829bb6
* Version Independent ID: 25868222-c846-1e31-9373-a741df436cb6
* Content: [Suspend your work and manage your

[2018-05-10 15:31] steved0x commented on #758
@cmiller734 Thank you for your feedback!

[2018-05-10 15:31] #758 closed

[2018-05-10 16:11] madhurig commented on #703
Here is a sample of how to upload a secure file using the vsts-node-api: https://github.com/Microsoft/vsts-node-api/blob/3c0c85e653f6449838249f1d8a970bd6bbf08930/samples/task.ts#L43

Thanks,
Madhuri

[2018-05-10 16:40] SamGrantham commented on #741
Hi @StingyJack,

Let me look at the code and see to what degree we can include and exclude different extensions.  I think @KathrynEE would agree what ever the answer we find it would be good to have that info here.

I don't disagree, there is a constant tension between how much process should be enforced via functionality and most of the time when we make a mistake we course correct in later versi

[2018-05-10 16:44] alexkokkinos commented on #703
It looks like I missed that,  I didn’t know where it lived.  Thanks for your help!

[2018-05-10 16:44] #703 closed

[2018-05-10 17:45] andyjlewis commented on #367
updated for VSTS recently; fixes for tfs are coming very soon

[2018-05-10 17:45] #367 closed

[2018-05-10 18:36] mikesavino85 opened #760 "WIQL Reference documentation lacking"
how hard is it to have some documentation on what fields I can query with WIQL and what the relations are?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e978322f-15ae-3a89-ae89-497cdfa5070a
* Version Independent ID: f8654902-e266-c12b-8e25-a2fa7a2ac626
* Content: [Get work items programmatically from Visual Studio Tea

[2018-05-10 18:45] sngehl01 commented on #476
@elbatk I am having the same issue. It will allow me to tag the team but will send an email saying "The identity is not configured to receive notifications. "

I am able to tag them via @[project name]\team name -> using this format it will find them in the search, allow me to select them and then save the ticket. However, a few moments later I receive an email that says "[project name]\team name"

[2018-05-10 18:46] elbatk commented on #476
Thank you for the clarification, @sngehl01 , adding @willsmythe from the product team to look into this for you all.

[2018-05-10 18:50] elbatk commented on #760
Hi, @mikesavino85 , does this help?
https://docs.microsoft.com/en-us/rest/api/vsts/wit/wiql?view=vsts-rest-5.0

If not, let me know and I'll reach out to someone from the product team and get you what you're looking for.

[2018-05-10 19:11] elbatk commented on #753
Hi @sevaa , I'll reach out to the product team and see if I can get a list of option fields, here are some examples if it helps for now:
https://docs.microsoft.com/en-us/vsts/extend/develop/ui-controls/grido?view=vsts

[2018-05-10 19:29] sevaa commented on #753
Examples != reference :)

Also, I see there's an EditableGrid control, that one is not documented at all.

[2018-05-10 19:30] elbatk commented on #753
Yep, I know, I'm going to reach out to find if we have a reference of some sort and was just making sure you had all of the resources currently available in the meantime.

[2018-05-10 19:33] SamGrantham commented on #741
Hi @StingyJack  and @KathrynEE,

There *is* a way to modify the file types that are treated by the system as "code" in my testing I see that once these are added to the Team Project they flow all the way through to the cube.  Please see: https://docs.microsoft.com/en-us/vsts/tfs-server/admin/manage-file-types?view=tfs-2017#edit-file-type for instructions on how to add a file type.  What this artic

[2018-05-10 21:10] mikesavino85 commented on #760
Sort of. Not really. I was hoping for documentation on what fields I could query with WIQL and the relations between the things in the from clause. I assume this is like some wrapper above a SQL query but I can't find the relations between the things or the architecture.

I'd like to just query TFS to bring back the things I want instead of instantiating a bunch of objects and traversing TFS that

[2018-05-11 04:52] vip3rousmango commented on #670
I am also experiencing this issue.

I tried to add Node Tool Installer and it updated the PATH to the directory of where it tries to run the NPM install request but the Npm install still throws the same error...

[2018-05-11 07:52] Spragalas opened #764 "VSTS JWT Token verification"
https://docs.microsoft.com/en-us/vsts/extend/develop/auth?view=vsts#calling-rest-apis-from-your-extension

I followed the sample how verify your extension's token in your app.
- token which was retrieved using VSS.getAppToken()
- secret I used was downloaded from marketplace for that specific extension
- I copied code snippet from url above

This workflow does not work. I seems that the secret dow

[2018-05-11 09:51] sawhneyapurva commented on #732
Yes, I have pushed my commits and still they are not linking.

[2018-05-11 10:14] rokmicrosoft commented on #709
@keithnicholson  Can you please share contact details at RM_Customer_Queries@microsoft.com so we can debug this issue further. Also can you please share log with debug options true ?

[2018-05-11 12:06] #709 closed

[2018-05-11 14:28] ross-bohr opened #766 "Missing preview features"
Our VSTS collection is hosted in West Europe Azure region. We have opted in for every preview feature so far, but now these two new preview features: "**Approval gates in releases**" and "**New release progress views**" are **not available** in our "Preview features" menu for our collection. Is this due to the region or a bug ?

[2018-05-11 16:11] mikesavino85 commented on #760
Am I missing something in that documentation?

Seriously, I found this after like 2 days of searching: https://blogs.msdn.microsoft.com/duat_le/2010/02/25/wiql-for-test/

Some dudes blog is the source of truth for your table schema in TFS?

[2018-05-11 16:23] IAmHopp opened #767 "Unnecessary link at the end of page"
At the very last line, there's a link with a call to "get started" with release views that just links to the same page that it's located at. I think maybe this was supposed to be at the end of the "Feeds" page to continue navigation through the concepts? In any event, I don't see any use for it here. Again, it just links to the exact same page and if someone it's at the end of the document, they a

[2018-05-11 16:25] IAmHopp commented on #767
[By the way, I can edit the file to either remove that line or link to upstream sources with a call to "get started with upstream sources" if you guys want. Just let me know.]

[2018-05-11 17:09] sevaa opened #768 "Reference please"
This is a bunch of examples, not a reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f7f0126-0e00-ccfe-d1df-74201dc46a93
* Version Independent ID: 6abadf7d-8a1f-21f4-d6e6-efa5d9481182
* Content: [Modal Dialog](https://docs.microsoft.com/en-us/vsts/extend/develop/using-host-dialog?view=vsts)
* Content Source: [

[2018-05-11 17:39] sevaa opened #769 "Reference please"
For register(), what exactly is the "object instance"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f699a190-5e7e-1103-8d9d-c3d58e698e3a
* Version Independent ID: 1e54fe20-7e4d-d5ff-1682-8659f7a8fba8
* Content: [Core Client SDK](https://docs.microsoft.com/en-us/vsts/extend/reference/client/core-sdk?view=vsts#method_r

[2018-05-11 18:47] bootrider opened #771 "Tasks in a group task do not have this option"
if you setup a task group, with conditions, the will affect the execution of the release, but if you require to modify the condition in the task group, the option does not appear.

As well, if you are defining a group task from scratch, and require to define conditions for the execution, you are not going to find the option

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-11 19:09] mikesavino85 commented on #760
Hellooooo.

I'm confused as to how I'm supposed to use WIQL queries without knowing the underlying schema that TFS is running off of. But, okay, fine.

However, if I'm trying to use C# to get test steps out of TFS, I'm looking at the actions and I don't see the test step details anywhere on it? What can I do to get this information? WHY DO YOU HATE ME?

[2018-05-11 19:56] elbatk commented on #760
I've reached out to the product team and they're working to get you the reference/information you need.

[2018-05-11 20:07] FredConklin opened #772 "What if I don't know the project? Why is it required?"
Why is the project required - it appears to me that the workitem id values are unique for a collection.  Is there a way to create a link for VSTS that uses the workitem id but does not require the project?  We may have a hundred projects and all I have is the workitem id and not the project name. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-11 20:31] mikesavino85 commented on #760
Thanks much. Honestly, I'm juts being dramatic.

[2018-05-11 20:36] elbatk commented on #760
It's okay! I can understand the frustration! Hopefully we can get this sorted out and get better reference published. Impossible to work with this without that so I agree.

[2018-05-11 20:57] mikesavino85 commented on #760
Okay, my friend, I solved my immediate problem with quite a lot of trial and error. I don't know if these threads are public but in case they are:

simply calling action.tostring() will print the test step -_-

[2018-05-11 20:58] mikesavino85 commented on #760
However. I still sort of need that documentation. This is a proof of concept, not the final product. If you could. Thanks a lot for your help though.

[2018-05-12 18:16] PHBeagle opened #775 "The DevOps Rangers link under Resources is migrated"
The page does provide the new link as  https://aka.ms/vsarsolutions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a922f18-55a1-cf8d-732e-8420b5466187
* Version Independent ID: f70e2d11-4920-b88b-92b2-f3124f4ac8d5
* Content: [Continuous Testing in VSTS and TFS](https://docs.microsoft.com/en-us/vsts/build-release/test/

[2018-05-13 18:23] DanJ210 opened #777 "New .Net Core 2 MVC project gives 502.5 - Sample project works."
I followed this documentation and deployed to Azure, app works. I created a new .Net Core 2 web app from a VS 2017 template, no code changes at all, followed this documentation to deploy to Azure and I get a 502.5 error, process or app cannot start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e617bc-bf8d-0348-5fd4

[2018-05-13 23:48] toporelo opened #778 "Wery"
Cool

[2018-05-14 11:29] evakili commented on #728
Thanks @harishkragarwal. But there is no option for downloading pre-installed extensions from marketplace or I couldn't find it.

[2018-05-14 12:18] guywou opened #780 "how to debug in VS code"
Can somebody tell me how I can debug the TypeScript of my web extension directly in VS Code ?

[2018-05-14 13:37] steved0x commented on #778
Thank you!

[2018-05-14 13:37] #778 closed

[2018-05-14 13:59] steved0x commented on #751
@samgu can you take a look at this one?

[2018-05-14 14:09] steved0x commented on #401
@sspage I'm checking with the product group to get more information.

[2018-05-14 14:11] steved0x commented on #410
@git-gone I'm closing this issue - please reopen a new one if the issue is not resolved. Thank you.

[2018-05-14 14:11] #410 closed

[2018-05-14 15:11] steved0x commented on #565
@ttermeer-reboundcg I'm updating the article to include your code - something did change at the lower level, possibly something in the async vs sync resolution) - this change should be live by tomorrow. Thank you.

[2018-05-14 15:11] #565 closed

[2018-05-14 15:15] beeporama commented on #475
I'm saying that I do not have the checkbox available to me, but that I'd _like_ to have the checkbox available to me, so I could _try_ it turning off! I **think** that will fix my problem (work items being "Resolved" before I want them to be)... but I won't know for sure until I can try it!

[2018-05-14 16:00] alexhomer1 commented on #777
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-05-14 16:03] alexhomer1 commented on #775
Thank you for your feedback. The guide is now discontinued, and so I will update the topic to reflect the change.

[2018-05-14 16:03] #775 closed

[2018-05-14 16:53] jholovacs opened #781 "Need to understand what to do with "Package or Folder" field that is mandatory in the "Deploy Azure App Service""
It seems to be looking for a package, but I want to use the artifact I published to VSTS.  There's no information on how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86417335-e55d-02b0-bdcb-3f2640611887
* Version Independent ID: 9cc086b1-8add-751e-1625-d10a4f9b8a40
* Content: [Deploy a web app from VSTS o

[2018-05-14 17:16] steved0x commented on #697
This link is fixed.

[2018-05-14 17:16] #697 closed

[2018-05-14 17:16] steved0x commented on #691
This link is fixed.

[2018-05-14 17:16] #691 closed

[2018-05-14 17:17] steved0x commented on #689
This link is fixed.

[2018-05-14 17:17] #689 closed

[2018-05-14 17:17] steved0x commented on #688
This link is fixed.

[2018-05-14 17:17] #688 closed

[2018-05-14 17:17] steved0x commented on #687
This link is fixed.

[2018-05-14 17:17] #687 closed

[2018-05-14 17:25] thiagocrepaldi commented on #771
It could be possible to chose whether skipped tasks/phases are marked as successes or failures. Currently, "succeeded()" evaluates to false if previous tasks/phases is skipped, but many times skipped tasks/phases are skipped because no additional work is necessary and it is a legitimate success scenario

[2018-05-14 17:34] hpcustomersupport2 opened #782 "problem in Microsoft docs"

[2018-05-14 17:38] hpcustomersupport2 commented on #782
thanku

[2018-05-14 17:56] brollySSJ commented on #782
If i have known issues i want to track, i can do so by defining an impediment (Scrum) or issue (Agile or CMMI). ... Using the impediment work item type helps to track and manage these issues until i can resolve and close them??
[google support ](https://supportwala.wordpress.com/)

[2018-05-14 18:13] gregvanl commented on #780
Moved to https://github.com/Microsoft/vscode-docs/issues/1617

[2018-05-14 18:14] gregvanl commented on #780
@steved0x I can't close the issue but moved to the vscode-docs repo. Feel free to close.

[2018-05-14 19:16] densto88 opened #784 "Some info out of date"
Whether the Hosted Agents run as a service depends on the Queue (Image) you're using now. Hosted VS 2017 Agents run interactively in a user context with Admin permissions. On that image you can install additional software since you're running as Admin, you're only limited by time and disk space.

For Disk Space we provide *at least* 10 GB, it's typically much more though between the actual temp dr

[2018-05-14 19:29] get-itips opened #785 "Permission needed is missing"
The Confirm User has Permission does not specify what is the needed permission level to set for the user that will register the agent, 3 choices are available, reader, service account and administrator.
Please correct the documentation, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 344fb6c7-8770-a366-ed19-0

[2018-05-14 23:36] Tiberriver256 opened #788 "Office MIX Deprecated"
This documentation has a suggestion to use Office Mix which has been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb85ca92-338c-759e-d562-2c0e6f62f406
* Version Independent ID: ca73aa57-f5a2-8ab1-6524-dfcc5023eec3
* Content: [Storyboard your ideas - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/work/b

[2018-05-15 06:57] imalokagrawal commented on #777
I am not able to reproduce this issue at my end. Are you deploying to Azure WebApp on Windows or Linux?

[2018-05-15 12:38] jimhess opened #790 "Needs VSTS instructions & walkthrough"
Needs VSTS instructions & walkthrough

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 159cece6-ada6-e50c-a236-0d49aed6d1be
* Version Independent ID: f6cc8cee-f37e-e738-3143-aa7f185fb461
* Content: [Copy changes to a branch with cherry-pick](https://docs.microsoft.com/en-us/vsts/git/tutorial/cherry-pick?view=vsts&tabs=vi

[2018-05-15 13:38] steved0x commented on #790
@jimhess I agree, I am planning to add VSTS steps to these tutorials in addition to the Visual Studio and Command Line steps. I have got work items on the backlog and I plan do get them done by the end of this summer. Thank you for your feedback!

[2018-05-15 13:38] #790 closed

[2018-05-15 13:41] steved0x commented on #782
@hpcustomersupport2 Thank you for your feedback. I am closing this issue, but if you have additional feedback on our docs, you can select the **Content feedback** button in the **Feedback** section at the bottom of topics on docs.microsoft.com and leave feedback for that topic. Thank you.

![image](https://user-images.githubusercontent.com/1580889/40060241-28be72ae-5824-11e8-89b7-b2ff2aff37e0.png)

[2018-05-15 13:41] #782 closed

[2018-05-15 13:50] alexhomer1 commented on #781
Did you follow Step 3 instruction to select the artifact to deploy, and choose your VSTS project and build name? This sets the Package or folder property to $(System.DefaultWorkingDirectory)/**/*.zip, which is where the build definition should have created the zip file package as the artifact to deploy. If this does not exist, you may want to work through https://docs.microsoft.com/en-us/vsts/buil

[2018-05-15 14:26] elbatk commented on #767
Hey @IAmHopp , I'll just get rid of the link as the concepts don't really need to be followed sequentially, (unless you wanted to).

[2018-05-15 14:26] #767 closed

[2018-05-15 14:26] elbatk commented on #767
Thanks for the heads up :)

[2018-05-15 14:28] IAmHopp commented on #767
No problem! (:

[2018-05-15 15:48] padmick opened #791 "Overwriting a secure file"
I wish to overwrite a secure file with an updated version.. how can i do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5f8376-3654-0ed4-d9f8-d15f28350783
* Version Independent ID: f393daba-6515-6c26-71ac-b557e8c8dad1
* Content: [Download Secure File](https://docs.microsoft.com/en-us/vsts/build-release/tasks/ut

[2018-05-15 15:56] dtamai opened #792 "Are files downloaded to $env:TEMP?"
I have a release definition that uses a Copy Files task to copy the downloaded secure file to the application folder.
When Source Folder is configured to `$(TEMP)` the task doesn't copy any file, but when I change it to `$(Agent.TempDirectory)` the file is copied.

From the source code I would say the Download Secure File task downloads the file to the _Agent.TempDirectory_ folder (https://github.

[2018-05-15 17:15] KathrynEE commented on #788
@Tiberriver256 - Thank you for your input. I'm updating the topic and the changes should be live later today.

[2018-05-15 20:54] bethannfrankum opened #794 "Microsoft Test Manager Updates"
I was wondering when you plan on supporting automated Nunit tests within the Test Manager? I am trying to figure out a way to run my automated tests that are associated with our test cases here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a7e40-73d6-795f-7b8c-77104ef606e8
* Version Independent ID: 8f15995b-bd94-8

[2018-05-15 21:37] labrose commented on #760
@mikesavino85 I'm having a hard time understanding what exactly you're looking for. Do you mean where can you go to find out more about [how to write WIQL](https://docs.microsoft.com/en-us/vsts/collaborate/wiql-syntax?view=vsts), or specifically how can you get the field reference names for a given project?

I definitely think we need to include links to the WIQL syntax guide from our REST API pag

[2018-05-15 22:24] gprosch opened #795 "Build Your C++ App article implies that I can automatically deploy"
This "Build Your C++ App" article implies that I can automatically deploy my app but it appears that only web apps can be configured for Continuous Deployment.  Can you please clarify?  Is there a built-in way to do CD on a C++ application or does this page need to be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-15 23:17] teamtam opened #796 "Set variables in variable group in a script"
Hi VSTS team,

I can see that your documentation states: "Note that the updated variable value is scoped to the phase being executed and does not flow across phases."

Just wondering if it is possible to set a variable in a variable group in a script to work around this?

Cheers,
Ben

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-05-16 08:56] NielsGrove opened #798 "Code Search server and multiple servers for TFS Reporting"
The TFS documentation indicates that TFS Code Search should be installed on dedicated server when the number of users is greater then 250. Unfortunately this document does not describe when and how to build a dedicated server for TFS Code Search. Also it would be nice to know if it is possible to create redundant TFS Code Search servers - and how.
Finally I would like an indication on how to insta

[2018-05-16 12:00] MrSucik opened #799 "typo in title"
https://docs.microsoft.com/en-us/vsts/work/customize/process/manage-process?view=vsts you have typo in title 'Create and mange an...'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d547b364-45cc-35d2-bb13-ca93e5043259
* Version Independent ID: ccb4a4ec-cabc-5ace-f42e-b5520e6d443e
* Content: [Create and mange an inherit

[2018-05-16 16:00] coffeymatt opened #800 "How to build .net core 2.1"
Hi,

I have a .net core build set up and working with .net core 2.0 apps. I'm wanting to move over to .net core 2.1.

At the moment, my updated branch doesn't build on visualstudio.com with the usual build steps:

https://docs.microsoft.com/en-us/vsts/build-release/apps/aspnet/build-aspnet-core?view=vsts&tabs=gitvsts%2Cweb%2Cdeploy-windows

I get:

C:\Program Files\dotnet\sdk\2.1.105\Sdks\Microsof

[2018-05-16 18:44] acesyde opened #803 "More explicit sample"
Please add a sample with import between go files and directory
Add go test support with junit report file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dde5d58-3741-98a2-1038-9afd7518a682
* Version Independent ID: 68416c13-04f0-ce83-69a5-733850412e44
* Content: [Build your Go app](https://docs.microsoft.com/en-us/vst

[2018-05-16 20:22] garfbradaz opened #804 "'Copy' button in the Markdown"
Hey guys,

Is the copy button meant to appear in my markdown renders on VSTS, when using ``` some code ``` or is that a docs thing here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e81f8a-e33c-afb7-493b-f51f40fafd49
* Version Independent ID: c9495a96-c3e8-00f1-1e53-da6ce584412b
* Content: [Syntax usage for Markdow

[2018-05-16 20:59] mikesavino85 commented on #760
Hello again, just checking in.

[2018-05-16 21:05] elbatk commented on #486
Closing this issue as it's been a month since the last comment, feel free to reopen if you're still having issues @jakecahill

[2018-05-16 21:05] #486 closed

[2018-05-16 21:10] #503 closed

[2018-05-16 21:30] andyjlewis commented on #225
added link to tutorial

[2018-05-16 21:30] #225 closed

[2018-05-16 21:44] andyjlewis commented on #795
Thank you for the heads up. I've removed the Next Steps section that doesn't apply here. Change should be published in about a day.

[2018-05-16 21:44] #795 closed

[2018-05-16 21:51] labrose commented on #760
Our Work Item Query Language (WIQL) is not SQL, it is our own language that we parse to understand what the set of criteria is for the work items you want to see. It follows similar SQL syntax because that is what is most familiar to users (at the time WIQL was created).

FROM WorkItems in this case just means "all work items in my collection" and then you are filtering from there based on your sp

[2018-05-16 22:23] damongaylor opened #806 "some Keyboard shortcuts are not working"
j and k do not move me to the next item in backog or board views.  Tried Chrome and ie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 324d7bd1-0094-2857-9c29-eb55285d0cb1
* Version Independent ID: 6881938e-d065-b3ef-d2d4-bf04951dc686
* Content: [Web portal& Team Explorer keyboard shortcuts - VSTS & TFS](https://docs.mi

[2018-05-16 23:16] mikesavino85 commented on #760
I have found that the rest APIs might not work with an on-premise installation of TFS.

And, I understand that WIQL is basically a wrapper into the SQL underlying the TFS installation. But that's kind of what I'm saying, if I want to do something in C# like <object>.Query("select [blah] from [pseudotable] where [column]") I'm confused as to how that rest api documentation correlates?

I am happy t

[2018-05-17 02:00] Abbyjeet commented on #447
Octopus Deploy has this feature since a long time. As @TheBeardedLlama said, this feature should be standard feature of this system and we should not have to request for it. Think from the user's perspective. This feature, exporting and  ability to specify multiple environment scopes to each variable - should have been included by now.

[2018-05-17 07:43] ChristofferGersen commented on #645
I had the same problem with version 2.122.1. As a partial workaround I did an update to TFS 2018 Update 2 and the "Update All Agents" option did update the agent to 2.131.0. It still isn't 2.133.3, but it is good enough for me, since I only required 2.129.0 for SChannel support in git. After the update the download agent link changed to https://go.microsoft.com/fwlink/?linkid=872265, which also do

[2018-05-17 08:47] livioos commented on #667
What about support build new definitions (not in XAML) in Analysis Service? Are you planninng to correct it?

[2018-05-17 11:50] alexhomer1 commented on #771
Open the task group in the Build & Release | Task Groups page, select the task and open the Tasks tab. Select the task itself, expand the Control Options section, and select Custom condition in the Run this task option.

[2018-05-17 11:50] #771 closed

[2018-05-17 11:50] #781 closed

[2018-05-17 12:06] harishkragarwal commented on #728
Hi @evakili, pre-installed extensions cannot be acquired from Marketplace. They are only updated with new updates/releases of TFS.

[2018-05-17 13:09] narasimaperumal commented on #670
Tried today facing the same issue. Also tried the workaround by ranouf, but no luck.

[2018-05-17 13:35] brownbl1 opened #809 "Missing options for build-results-section extension type"
I am looking into developing an extension of type `ms.vss-build-web.build-results-section`, and while it exists in the sample, it looks like info is missing on that here. Is there more documentation on developing this type of extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56437af3-75da-d219-5364-9b7927298ece

[2018-05-17 13:53] #799 closed

[2018-05-17 13:53] steved0x commented on #799
@MrSucik Thanks for letting us know, this has been fixed in https://github.com/MicrosoftDocs/vsts-docs/pull/808 and should be live soon. Thank you.

[2018-05-17 13:55] jmprovencher opened #810 "Wrong token_type in OAuth2.0"
When authenticating with OAuth2.0 for visual studio team service, I receive a response containing the access token like this :
`{
	"access_token": "ACCESS_TOKEN",
	"token_type": "jwt-bearer",
	"expires_in": "3599",
	"refresh_token": "REFRESH_TOKEN",
	"scope": "vso.work"
}`

The specified token type is "jwt-bearer". However, when performing a request with a header like:
`Authorization: jwt-bearer {

[2018-05-17 14:31] steved0x commented on #804
@garfbradaz Can you paste in a screenshot? Thank you.

[2018-05-17 14:36] steved0x commented on #810
@jmprovencher Thank you for providing this feedback. This particular repo (vsts-docs) and its associated issues are primarily for providing doc feedback. If the above is something we can add to a document, we can do that (let us know which one), but it sounds like you are reporting a product bug. If so, please report it here: [Product feedback](https://developercommunity.visualstudio.com/spaces/21

[2018-05-17 14:49] elbatk commented on #809
Hey @brownbl1 , I'll reach out to the product team and see if I can't snag someone who can give you info on that type of extension.

[2018-05-17 15:17] garfbradaz commented on #804
Get @steved0x  - thanks for the reply.

Should I get the following "Copy" button in VSTS when using " ``` ":

![image](https://user-images.githubusercontent.com/959766/40186732-bcc94116-59ed-11e8-875f-79ae687d0357.png)

[2018-05-17 15:19] jmprovencher commented on #810
Thanks, I reported it to the product feedback page !

[2018-05-17 15:37] ProH4Ck opened #811 "Custom endpoint without Url validation"
I'm building an extension with a custom endpoint that's not an http url.
Now I solved the problem with `tcp://` at the beginning of the url and then I replace this string in my extension code.
I think a good improvement could be add an option to disable url validation in extension manifest file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-17 16:44] sevaa opened #812 "Where are constraints coming from?"
What's the deal with constraints? Are they in the manifest, by any chance? Can't find any mentions elsewhere. The file at https://github.com/Microsoft/tfs-cli/blob/master/app/exec/extension/_lib/targets/Microsoft.VisualStudio.Services/vso-manifest-builder.ts suggests that "constraints" is a manifest property, but the manifest schema at https://docs.microsoft.com/en-us/vsts/extend/develop/manifest?

[2018-05-17 17:03] ranouf commented on #670
This the configuration of my Build, I hope it will help you:
![image](https://user-images.githubusercontent.com/1764519/40192449-6b8604c6-59d2-11e8-904c-f67c43c022d3.png)
![image](https://user-images.githubusercontent.com/1764519/40192474-7ed6ba8e-59d2-11e8-9d1b-08745e44004a.png)
![image](https://user-images.githubusercontent.com/1764519/40192491-8bd0bf14-59d2-11e8-8198-8fb4cf4346af.png)
![image](

[2018-05-17 17:04] elbatk commented on #670
Reopening and retagging @alexmullans for awareness.

[2018-05-17 18:43] alexmullans commented on #670
For others encountering this issue, what is the value of the "Working folder with package.json" input in the npm task?

[2018-05-17 20:04] d3vtoolsmith opened #814 "seriously??"
short and sweet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f56d653-f3ed-88a3-c307-1ba6eec6cbc2
* Version Independent ID: 5f5b1c72-7b2a-a7cf-aea7-39cf84b11005
* Content: [Connect VSTS account to Azure Active Directory (Azure AD)](https://docs.microsoft.com/en-us/vsts/accounts/connect-account-to-aad?view=vsts)
* Con

[2018-05-18 02:24] rfalanga opened #816 "These steps are not very discoverable."
I'm someone who doesn't use Git often. (My employer has decided to use TFVC instead.) Consequently, when I cloned a repo to my laptop I spent a long time trying to find a way of opening it in VS 2017, without opening the repo folder. I'm glad that you have the instructions under the heading, "Open a solution in Visual Studio from a cloned repo". But those steps are not easily discoverable. I'm gla

[2018-05-18 13:39] steved0x commented on #816
@rfalanga Thank you for the feedback and I'm glad you were able to find the section that would help you. I'll see if I can make this more discoverable in the documentation (I may be able to add something [here](https://docs.microsoft.com/en-us/vsts/git/share-your-code-in-git-vs-2017?view=vsts), and if you want. you could file a [feature request](https://developercommunity.visualstudio.com/spaces/2

[2018-05-18 13:48] elbatk commented on #227
Hi @andreinfra , sorry to be getting to this so late, could you open another issue and I'll try to get some answers for you? Closing the original one here.

[2018-05-18 13:48] #227 closed

[2018-05-18 13:58] elbatk commented on #769
Hi @sevaa , I've reached out to the product team with your issue, just waiting on a response!

[2018-05-18 14:12] yaananth commented on #809
https://github.com/Microsoft/vsts-extension-samples/tree/master/build-results-enhancer

[2018-05-18 14:19] elbatk commented on #809
Let me know if that link helps @brownbl1 ! I'll close this out if it does :)

[2018-05-18 14:20] brownbl1 commented on #809
Thanks! Yes, that helps.

[2018-05-18 14:20] #809 closed

[2018-05-18 14:37] trailmax commented on #448
Is it possible to check if tag is applied to a git-commit and go from there? Here is a scenario: I would like to push to nuget feed a release package - this should only happen when commit is on master branch with tag applied.

[2018-05-18 15:27] Sacrilege opened #817 "TFS 2018 Differences"
I just installed TFS 2018 Update 2 and the configure features link is nowhere to be found. The admin screen doesn't look anything like the screenshot anymore. I'd like to see the documentation updated definitely but I'm also struggling presently because I need to run the configure features wizard and can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-05-18 15:53] labrose commented on #760
What version of TFS are you working with?

[2018-05-18 15:53] #814 closed

[2018-05-18 16:31] alexhomer1 commented on #794
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-05-18 16:39] kirylbokach commented on #447
Badly needed this feature as well. So went ahead and created a small utility to copy variable groups. Please feel free to use: https://github.com/AssureCare/vststools

[2018-05-18 16:46] livioos commented on #447
Thanks. I'll try this weekend.

2018-05-18 18:39 GMT+02:00 Kiryl Bokach <notifications@github.com>:

[2018-05-18 17:41] TheBeardedLlama commented on #447
cheers @kirylbokach
I'll give it a go at some point and give you feedback

[2018-05-18 18:44] mikesavino85 commented on #760
About Microsoft Visual Studio Team Foundation Server
Microsoft Visual Studio Team Foundation Server
Version 16.122.27409.2

[2018-05-18 21:48] jessehouwing opened #819 "Agent.OS documentation missing"
The agent does log it:

[AGENT_OS] --> [Linux]
[AGENT_OS] --> [Windows_NT]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Build variables](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definiti

[2018-05-18 23:27] rfalanga commented on #816
Thank you very much, Steve! I'll go to the feature request and add that now.

[2018-05-18 23:27] #816 closed

[2018-05-20 08:19] evakili commented on #728
Thank you @harishkragarwal. It's so bad but with fast release cycle of TFS it could be tolerable.

[2018-05-20 08:19] #728 closed

[2018-05-20 08:40] bergmeister commented on #747
@elbatk Yes, please. We are in the situation where authentication on build servers does not seem to work across different VSTS accounts (when using NuGet to be specific) and have to figure out whether this is due to a malconfiguration on our side or not supported by VSTS (at the moment it seems to be due to the build server failing due to the AD login, which creates a popup)

[2018-05-20 15:41] vijayma commented on #796
Even with variable groups, you won't be able to set the value of a variable in one phase and read the value in a different phase. That is something we are working on. Thanks.

[2018-05-20 15:41] #796 closed

[2018-05-20 15:44] vijayma commented on #800
We will support .net core 2.1 once it has RTMed. We do not install preview versions on hosted agents. You can use a private agent and work around this problem.

[2018-05-20 19:46] nschonni opened #821 "Dead link http://go.microsoft.com/fwlink/?LinkID=787012&clcid=0x409"
Found in docs/extend//reference/client/api/TFS/Dashboards/Contracts/IWidget.md

[2018-05-20 19:51] nschonni opened #822 "Odd redirect from https://www.visualstudio.com/vsts/integrate"
This redirects to https://www.visualstudio.com/wp-content/uploads/2016/04/Integrate.png
Odd that it also appears to be a Wordpress content folder.

[2018-05-20 20:21] nschonni opened #824 "Dead link https://www.visualstudio.com/pricing/visual-studio-online-feature-matrix-vs"
Found in docs/security/export-users-audit-log.md
docs/security/change-access-levels.md
docs/feedback/get-feedback.md
docs/accounts/faq-azure-access.md

[2018-05-20 22:15] vijayma commented on #504
Thanks for the feedback. We will be working on the variables topic again in the next month or so. Will include information about output variables as part of this update.

[2018-05-20 22:30] vijayma commented on #646
Thanks for the feedback. We have this on our backlog.

[2018-05-21 08:37] coffeymatt commented on #800
Ok thank

[2018-05-21 08:37] #800 closed

[2018-05-21 09:41] gvdm90 opened #825 "Lacking documentation"
Hi,

I'm using the .NET client libs for TFS but I did not find a complete documentation on the classes and methods provided by this library. Please provide a link to a developer documentation on all the components (e.g. the different HttpClients).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-f

[2018-05-21 10:36] padmick commented on #791
Can i get an update on this?

[2018-05-21 11:07] alexhomer1 commented on #794
The product team tell me that they expect to ship the final version of this feature with the next update to Visual Studio. At present the feature is partly implemented and may not work for all customers.

[2018-05-21 11:07] #794 closed

[2018-05-21 14:10] DavidStaheli commented on #791
Hi @padmick, I apologize for not seeing this until now.  Currently, VSTS doesn't support updating a secure file.  Instead, the existing secure file must be deleted and another uploaded in its place.  We plan to support direct updates as soon as we can get to them.

[2018-05-21 14:16] padmick commented on #791
Thanks

How can one delete the file? A delete option isn't advailable

⁣Sent from BlueMail ​

On May 21, 2018, 3:10 PM, at 3:10 PM, David Staheli <notifications@github.com> wrote:

[2018-05-21 14:21] DavidStaheli commented on #791
My latest UI may look a bit different than yours, but does yours show a delete option on this context menu?  It's a little hidden.

![image](https://user-images.githubusercontent.com/1767415/40312300-7f90c490-5ce0-11e8-8c4e-fe186aea273b.png)

[2018-05-21 14:31] elbatk commented on #825
Hi @gvdm90 , we have it on our backlog to get developer doc reference for the .NET client libraries, it's a work in progress but we do not have it available currently.

[2018-05-21 14:31] #825 closed

[2018-05-21 14:34] elbatk commented on #812
hey @sevaa , thanks again for your question. I forwarded it to the product team and hopefully we can get you an answer and also I can document this better for future users.

[2018-05-21 14:43] sevaa commented on #812
Wrote a blog post with more info: http://rathertech.blogspot.com/2018/05/constrained-and-dignified.html

[2018-05-21 14:48] padmick commented on #791
Ah got it thanks. I'll check now if I can delete the file and replace it with a file with the same name

⁣Sent from BlueMail ​

On May 21, 2018, 3:21 PM, at 3:21 PM, David Staheli <notifications@github.com> wrote:

[2018-05-22 00:20] razvansalajan opened #826 "Typo in "Develop a web extension for VSTS" code sample - FIXED"
I might miss something. Following the steps from the tutorial I don't see the extension in the code tab. It gets installed properly (i.e.: it shows up in the installed extensions within the account). If I add  <"scopes": ["vso.code_manage"],> to the vss-extension.json the extension shows up. Did I miss something or the vss-extension.json file should be updated?

---
#### Document Details

⚠ *Do no

[2018-05-22 08:34] JunQianZ opened #827 "why testcase doesn't support 'delete' , only support permanent delection'?"
I found the below statements in TFS2018 links:

_We only support permanent deletion of test artifacts such as test plans, test suites, test cases, shared steps and shared parameters. Deleted test artifacts won't appear in the recycle bin and cannot be restored. Deletion of test artifacts not only deletes the selected test artifact but also all its associated child items such as child test suites,

[2018-05-22 10:09] Prashanth-PS opened #828 "Unable to Download Secure File on a Private Release Agent"
This task is failing on a private agent with the below error:
##[error]Error: connect ETIMEDOUT 13.107.6.175:443

[2018-05-22 11:29] CaptainZippy opened #829 "Get Sources Task?"
Is it possible to extend the get sources task? For instance to add support for GVFS to the git option.
Or other source control systems such as perforce.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ce0f6c-251b-7a4f-4cd5-7a19410d5a57
* Version Independent ID: f4b2d83d-976e-afcf-69ff-c0c4e6d012cb
* Content: [Samples

[2018-05-22 12:40] steved0x commented on #822
@nschonni I have reported this one to the Visual Studio team to get it fixed. Thanks for letting us know.

[2018-05-22 12:40] #822 closed

[2018-05-22 12:41] steved0x commented on #821
@nschonni I have reported this one to the Visual Studio team to get it fixed. Thanks for letting us know.

[2018-05-22 12:41] #821 closed

[2018-05-22 12:43] steved0x commented on #824
@nschonni I have reported this one to the Visual Studio team to get it fixed. Thanks for letting us know. The Visual studio team is fixing these up, and we're fixing the links in our topics as well. Thanks for letting us know!

[2018-05-22 12:43] #824 closed

[2018-05-22 12:46] andyjlewis commented on #819
Thanks for the heads up. We've got a work item on the backlog.

[2018-05-22 12:46] #819 closed

[2018-05-22 13:18] voidfunction opened #830 "unexpected error: Received undefined"
2018-05-22T11:33:09.6920740Z Downloading jdk-8u171-linux-x64.tar.gz to /mnt/0/build/29/s/build/jdk-8u171-linux-x64.tar.gz
2018-05-22T11:33:16.3045170Z Downloaded 'jdk-8u171-linux-x64.tar.gz' to '/mnt/0/build/29/s/build/jdk-8u171-linux-x64.tar.gz'
2018-05-22T11:33:16.6812720Z Total Files: 2, Processed: 1, Skipped: 1, Failed: 0, Download time: 7.369secs
2018-05-22T11:33:18.5771520Z Extracting file:

[2018-05-22 13:42] nschonni commented on #828
Think https://github.com/Microsoft/vsts-agent is a better repo to report this

[2018-05-22 14:06] sitwalkstand commented on #826
I've tried adding the vso.code_manage scope and updated the extension, but I am still not seeing the "My Hub" under my Code section.

[2018-05-22 14:12] #202 closed

[2018-05-22 14:19] elbatk commented on #812
Ah, I see you've been investigating! We have to consider about how/when/if we want to expose information regarding constraints, as for now there isn't anything we are ready to publicly document or commit to as constraints are mostly used internally and can change at any point. Going to go ahead and close this issue for now.

[2018-05-22 14:35] elbatk commented on #829
Hi @CaptainZippy , I've reached out to the product team to find out if this is possible, when I get a response I'll relay it to you :)

[2018-05-22 14:39] sevaa commented on #812
You guys have _committed_ to a terribly small subset of the entire API surface :) When it comes to TFS extension writing, it's all undocumented stuff, all the time. Do you realize that the sole parameter of VSS.register() isn't documented? Strictly speaking, you can't put together **_any_** extensions without wading into undocumented territory.

[2018-05-22 15:38] willsmythe commented on #826
Thanks for reporting the problem (and sorry for the trouble).

There is a typo in the sample manifest file shown in the docs (a fix to the docs is underway). In the meantime, you can:

1. Update `vss-extension.json` and replace ms.vss-work-web.code-hub-group with `ms.vss-code-web.code-hub-group` (line 19). This is why the hub is not appearing (the documented target hub group ID is incorrect).
2. I

[2018-05-22 16:39] elbatk commented on #812
In an effort to make the docs more complete, where are you looking for documentation? We have the VSS.register() method here: https://docs.microsoft.com/en-us/vsts/extend/reference/client/core-sdk?view=vsts#method_register with an example here: https://docs.microsoft.com/en-us/vsts/extend/develop/add-action?view=vsts

Some task.json info can be found here: https://docs.microsoft.com/en-us/vsts/ext

[2018-05-22 17:08] elbatk commented on #826
The fix above should take care of the problems you two are having! Closing this issue, feel free to comment if you're still having trouble.

[2018-05-22 17:08] #826 closed

[2018-05-22 17:49] ChristopherMank opened #832 "Add note on SAM-Account-Name limitation"
Should add a note when configuring the agent as a Windows Service, that the username (SAM-Account-Name) still has a 20-character limit when setting the runas user account.
https://msdn.microsoft.com/en-us/library/ms679635(v=vs.85).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e

[2018-05-23 01:14] erptechnician opened #835 "Expanding on the concept of defining a single sprint cadence for all teams"
I'm a new VSTS administrator, and I have questions and comments pertaining to the section of this post entitled: "Define a single sprint cadence for all teams." I'd very much like to use a shared cadence for all teams with the intention of simplifying the maintenance of my Iteration structure in VSTS. But I'm running into some problems. In the post above, all sprints are added to the root Iteratio

[2018-05-23 07:30] bittusarkar opened #836 "Incorrect documentation for removing Elasticsearch service"
Documentation [here](https://docs.microsoft.com/en-us/vsts/search/code/administration?view=tfs-2018#unconfigure-search-on-the-machine-configured-as-your-tfs-server) is stale and does not apply for TFS 2018 U2.

---
 I am proposing to change the documentation as under:

3. Remove the Elasticsearch service:
    a. Open **Command Prompt** as an administrator
    b. Remove the service: `sc delete elas

[2018-05-23 11:56] padmick commented on #791
works! thanks ill close this

[2018-05-23 11:56] #791 closed

[2018-05-23 13:43] alexhomer1 commented on #836
Thank you for your feedback. While we are migrating the documentation to a new site, we are unable to publish changes immediately. However, I have applied the changes to the source topics and they will be published when the migration is complete.

[2018-05-23 13:43] #836 closed

[2018-05-23 13:44] christopherbauer commented on #245
Any updates? We have a deploy target that mysteriously went offline and no instructions on how to redeploy the agent...

[2018-05-23 13:49] andyjlewis commented on #245
Does one of the following help?
- https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-windows
- https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-osx
- https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-linux

[2018-05-23 16:04] KathrynEE commented on #817
@Sacrilege - What version of TFS are you updating from? If the link isn't there, then it's possible that there are no features that need updating.

[2018-05-23 16:07] #804 closed

[2018-05-23 17:06] #646 closed

[2018-05-23 17:36] #526 closed

[2018-05-23 17:40] #504 closed

[2018-05-23 18:18] xtreampb commented on #679
Same issue is happening for me.  Below is my powershell script.  is debug is set to true but when use build configuration in a later task outside the task group build configuration is still release (what it was queued as).

`
$isDev = $false
$path = $(AssemblyInfoPath)
$pattern = '\[assembly: AssemblyInformationalVersion\("(.*)"\)\]'

(Get-Content $path) | ForEach-Object{
if($_ -match $pattern){
$

[2018-05-23 19:05] andyjlewis commented on #211
I'm sorry about the delayed response. Does this help: https://docs.microsoft.com/en-us/vsts/build-release/actions/scripts/powershell?view=vsts#use-the-oauth-token-to-access-the-rest-api? BTW, on the service today you actually need to select the phase in the tasks tab to select the Allow Scripts to Access OAuth Token checkbox. The token is also useful for more than just accessing the REST API. We'v

[2018-05-23 19:09] andyjlewis commented on #518
Thank you for the feedback. I've added this to our backlog.

[2018-05-23 19:09] #518 closed

[2018-05-23 22:09] jdanyow opened #837 ""::: moniker range" appears in content"
Search for `::: moniker range` in the page above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Build variables](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?view=

[2018-05-24 01:36] shailensukul commented on #647
@KathrynEE Can you also please post the link to the tool here as well? This is a common use case and a cause for frustration with my client who need to migrate inherited process templates across VSTS subscriptions.

[2018-05-24 03:08] mishal153 opened #838 "Broken Url 'symbols have been published'"
'symbols have been published' URL is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a10a409-5468-9532-f0dc-5a28cdd566d8
* Version Independent ID: 2ef20266-bc45-448b-27f5-e5c3bffed2ef
* Content: [Get Started with NuGet Package Management in VSTS and TFS](https://docs.microsoft.com/en-us/vsts/package/get-started-

[2018-05-24 04:14] nschonni opened #840 "Dead link https://aka.ms/argtaskreadme"
Points to this page https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureResourceGroupDeployment/README.md
Should be updated to https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureResourceGroupDeploymentV2/README.md

[2018-05-24 04:28] nschonni opened #842 "Dead link http://go.microsoft.com/fwlink/?LinkID=618471"
Points to http://taco.visualstudio.com/en-us/docs/karma/ which is either dead, or non-public VSTS project

[2018-05-24 04:31] nschonni opened #843 "Dead link https://www.visualstudio.com/news/2016-jul-7-vso"
Found in docs/build-release/archive/news/2016.md

[2018-05-24 04:32] kgrahambuster commented on #843
thank you very much , im sorry for anything offending if so , im blessed ty

[2018-05-24 04:34] redwyre opened #844 ""Automatic package versioning" is misleading"
If you select "Use the build number" the task will actually extract a dotted version (x.x.x.x) and use only that, dropping any label.
To use the build number as-is, change it to "Use environment variable" and set the environment variable to BUILD_BUILDNUMBER.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551

[2018-05-24 04:38] nschonni opened #845 "Dead link https://go.microsoft.com/fwlink/?linkid=843471"
Points to https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureRmWebAppDeployment/README.md but the folder is renamed

[2018-05-24 04:38] nschonni opened #846 "Dead link https://go.microsoft.com/fwlink/?linkid=843469"
Points to https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureRmWebAppDeployment/README.md but folder is renamed

[2018-05-24 04:43] nschonni opened #847 "Dead link https://testcloud.xamarin.com/account"
Found in docs/build-release/tasks/test/xamarin-test-cloud.md

[2018-05-24 04:44] nschonni opened #848 "Dead link https://www.microsoft.com/resources/documentation/windows/xp/all/proddocs/en-us/batch.mspx?mfr=true"
Found in docs/build-release/tasks/utility/batch-script.md

[2018-05-24 05:09] nschonni opened #850 "Dead link https://www.visualstudio.com/en-us/products/team-explorer-everywhere-vs.aspx"
Redirects to https://docs.microsoft.com/en-us/vsts/java/Docs/tools/eclipse/ which is also dead
Found in docs/git/share-your-code-in-git-eclipse.md

[2018-05-24 05:11] nschonni opened #851 "Dead link http://go.microsoft.com/fwlink/p/?LinkId=254509"
Redirects to https://www.microsoft.com/visualstudio/downloads which is dead

[2018-05-24 05:27] nschonni opened #853 "Dead link https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/f12-devtools-guide/"
Found in docs/load-test/record-and-replay-cloud-load-tests.md

[2018-05-24 05:28] nschonni opened #854 "Dead link http://www.microsoft.com/casestudies/Case_Study_Detail.aspx?CaseStudyID=710000003474"
Found in docs/load-test/reference-qa.md

[2018-05-24 05:52] Jashuva-D commented on #600
Replace your guid  "{{taskguid}}"  with one of the following..
Example guid s are given below :

                                "ca761232ed4211cebacd00aa0057b223",
                               "CA761232-ED42-11CE-BACD-00AA0057B223",
                               "{CA761232-ED42-11CE-BACD-00AA0057B223}",
                               "(CA761232-ED42-11CE-BACD-00AA0057B223)",

[2018-05-24 09:48] KevinCust opened #859 "Dark Theme issues"
Black text on branch diagrams hard to make out when using dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e18eead-7795-0752-93b0-e07f6d088089
* Version Independent ID: f637de69-b13c-eed8-ab05-3515106c9270
* Content: [What is Git? - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/git/what-is-git?

[2018-05-24 13:34] andyjlewis commented on #348
We've added info about it to this topic and here: https://docs.microsoft.com/en-us/vsts/build-release/concepts/process/phases?view=vsts&tabs=yaml#access-to-oauth-token

[2018-05-24 13:34] #348 closed

[2018-05-24 13:45] andyjlewis commented on #434
I'm sorry for the delayed response. We're planning some major updates to topics like this one. I've added this concern to the story on our backlog.

[2018-05-24 13:45] #434 closed

[2018-05-24 13:58] stewartadam opened #860 "YAML missing from build templates"
After pressing +New and selecting a template from the build template list, YAML is not found.

Currently YAML is gated behind Preview Features: https://docs.microsoft.com/en-us/vsts/collaborate/preview-features?view=vsts

Please note this in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 483dcb1c-1a89-2b20-4c

[2018-05-24 14:06] DanJ210 commented on #777
Windows. I've found what the issue is. The latest templates from VS 2017 has the package `Microsoft.AspNetCore.All` which contains the latest packages for a lot of packages. I had to bring the version down and then the application started working. So it looks like Azure isn't keeping up quite as quick with the templates on VS 2017. This could throw people off quite a bit when they upgrade packages

[2018-05-24 14:06] #777 closed

[2018-05-24 14:07] DanJ210 commented on #777
@imalokagrawal From Windows. Not sure how you can't reproduce, all you should have to do is create a brand new .Net Core MVC from the latest VS 2017 with the latest `Microsoft.AspNetCore.All` package and then deploy to Azure. Happens every time.

[2018-05-24 14:25] andyjlewis commented on #492
Added this to the backlog.

[2018-05-24 14:25] #492 closed

[2018-05-24 14:57] alexhomer1 commented on #446
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-05-24 15:02] andresnava opened #861 "Add "in""
"There aren't any changes included this merge commit since I didn't have conflicts" -> "There aren't any changes included in this merge commit since I didn't have conflicts"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf7740e-8439-e580-ec7f-c4c185a08048
* Version Independent ID: 2b326db7-b811-b99f-966c-1e603e4f836f

[2018-05-24 15:06] andyjlewis commented on #539
Thanks for finding and reporting this issue. I've added it to our backlog.

[2018-05-24 15:06] #539 closed

[2018-05-24 15:35] boga5 opened #862 "Build/Release Retention Policy"
**When does this Build/Release Retention policy applicable?**
1. Only within VSTS Artifactory?
2. Is it applicable for artifacts on self-hosted Build agents?
3. Is it applicable to the artifacts stored in File Share which we publish?
4. If we publish to a file share, does the artifacts will be saved in VSTS Artifactory? If yes, do these artifacts come under Retention policy?. If no, do these artif

[2018-05-24 16:29] Prashanth-PS commented on #828
Though I have raised a ticket with them link: https://github.com/Microsoft/vsts-agent/issues/1574#issuecomment-391155057
It has been closed saying "@Prashanth-PS please log an issue in VSTS-Tasks repository for task related question. :)"
Please provide a solution at the earliest

[2018-05-24 17:27] stewartadam commented on #337
+1 after navigating through a maze of documentation, the different articles don't connect up so the build is successful but nothing is present on the release agent node, causing Docker tasks to fail.

[2018-05-24 17:41] CaptainZippy opened #864 "Link Items across VSTS domains?"
Is it possible to e.g. add depencencies on items in other domains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3167d770-e6d3-dde7-2a9f-89967fb49c58
* Version Independent ID: 66c7f3b8-6de6-47ad-c1fa-94fb98bdac69
* Content: [Link work items to support traceability - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/wo

[2018-05-24 19:32] steved0x commented on #862
@alexhomer1 Can you take a look at this one and assign to the right person?

[2018-05-24 19:33] steved0x commented on #861
@andresnava Thanks for letting us know, I will get this fixed and it should be live soon.

[2018-05-24 19:34] steved0x commented on #859
@KevinCust I am working on getting these fixed up - it looks like it is widespread across several documents in that section.

[2018-05-24 19:45] nschonni commented on #828
Sorry for the bad advice. I think they are probably talking about this repo then https://github.com/Microsoft/vsts-tasks since it looks like this is the task you're talking about https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/DownloadSecureFileV1

[2018-05-24 22:34] nschonni opened #865 "Acronym BDT is used but never defined"
Maybe "Build, Deploy, Test", but it's unclear what "BDT task" is talking about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81948835-e705-b849-c72e-76c871bccea1
* Version Independent ID: 8b27ddc4-9131-2868-330f-3b1d3e8e1116
* Content: [VSTS and TFS Build and Test - Run Functional Tests step](https://docs.microsoft.c

[2018-05-25 00:43] StingyJack commented on #211
No worry on the timing, but what am I to do with an OAuth token?

The build agents are windows services that run under a specific domain account on a windows server in the LAN. I just want to have them use that service credential to perform deployment or other actions to other servers on the LAN, but that doesnt seem to work.

To make it work like XAML builds used to work, I have to enter that dom

[2018-05-25 02:45] nschonni opened #866 "Dead link http://go.microsoft.com/fwlink/?LinkID=165808"
Found in docs/report/excel/burndown-excel-report.md
Currently redirects to https://support.office.com/en-us/article/HP051994981?CorrelationId=c0185878-525e-43c7-af00-bcd54ce5b1fe

[2018-05-25 02:46] nschonni opened #867 "Dead link https://docs.microsoft.com/microsoft-edge/f12-devtools-guide"
Found in docs/report/extend-analytics/odata-query-guidelines.md

[2018-05-25 02:55] nschonni opened #869 "Dead link https://technet.microsoft.com/library/hh848628.aspx"
Found in docs/security/websitesettings.md

[2018-05-25 02:55] nschonni opened #870 "Dead link https://technet.microsoft.com/library/hh848630.aspx"
Found in docs/security/websitesettings.md

[2018-05-25 03:00] nschonni opened #871 "Dead link https://www.visualstudio.com/en-us/integrate/get-started/auth/overview/"
Found in docs/service-hooks/services/bamboo.md

[2018-05-25 03:02] nschonni opened #872 "Dead link http://www.visualstudio.com/integrate/get-started/get-started-service-hooks-creating-and-managing-vsi"
Found in docs/service-hooks/services/campfire.md

[2018-05-25 03:12] nschonni opened #875 "Dead Hyper-V fwlinks on docs/tfs-server/admin/config-lab-scvmm-envs.md"
These all redirect to dead pages
http://go.microsoft.com/fwlink/?LinkId=181875
http://go.microsoft.com/fwlink/?LinkId=181894
http://go.microsoft.com/fwlink/?LinkID=181875
http://go.microsoft.com/fwlink/?LinkID=181896

[2018-05-25 03:14] nschonni opened #876 "Dead link http://go.microsoft.com/fwlink/?LinkId=61995"
Found in docs/tfs-server/admin/service-accounts-dependencies-tfs.md
Redirects to https://www.microsoft.com/technet/prodtechnol/windowsserver2003/library/depkit/72612D01-622C-46B7-AB4A-69955D0687C8.mspx

[2018-05-25 03:24] nschonni opened #877 "Dead link http://www.visualstudio.com/get-started/change-account-ownership-vs"
Found docs/tfs-server/command-line/_shared/accounts.md

[2018-05-25 03:26] nschonni opened #878 "Dead link http://go.microsoft.com/fwlink/?LinkId=247533"
Found in docs/tfs-server/install/sql-server/collation-requirements.md
Redirects to https://docs.microsoft.com/en-us/en-us/sql/relational-databases/search/full-text-search
Note the double `en-us` is what is causing the problem.

[2018-05-25 03:33] nschonni opened #880 "Dead link https://www.microsoft.com/download/details.aspx?id=30660"
Found in docs/user-guide/tools.md

[2018-05-25 03:35] nschonni opened #881 "Dead link https://visualstudiogallery.microsoft.com/7d745871-cf6a-47cd-a614-8453fa91f608/file/79318/1/Misc%20Windows%208%20storyboard.sbsx"
Found in docs/work/backlogs/office/add-share-storyboard-shapes.md

[2018-05-25 03:38] nschonni opened #882 "Dead link http://msdn.microsoft.com/library/backlogs/office/ms512767.aspx"
Found in docs/work/customize/reference/field-mappings-in-microsoft-project.md

[2018-05-25 03:40] nschonni opened #883 "Dead link http://go.microsoft.com/fwlink/?LinkId=211790"
Found in docs/work/tfs-ps-sync/operational-differences.md
Redirects to https://www.microsoft.com/project/en/us/product-information.aspx

[2018-05-25 03:40] nschonni opened #884 "Dead link https://www.microsoft.com/visualstudio/eng/2013-downloads"
Found in docs/work/tfs-ps-sync/system-and-setup-requirements.md

[2018-05-25 03:41] nschonni opened #885 "Dead link http://whatis.cmmiinstitute.com/get-started"
Found in docs/work/work-items/guidance/cmmi/guidance-background-to-cmmi.md

[2018-05-25 03:43] nschonni opened #886 "Dead link http://www.microsoft.com/download/details.aspx?id=23691"
Found in docs/_shared/qa-vs-legacy-connect.md

[2018-05-25 03:45] nschonni opened #887 "Dead link https://www.visualstudio.com/en-us/get-started/get-code-reviewed-vs"
Found in release-notes/2012/aug-06-team-services.md

[2018-05-25 03:45] nschonni opened #888 "Dead link https://www.visualstudio.com/en-us/get-started/share-your-code-in-GIT-vs"
Found in release-notes/2012/aug-13-team-services.md

[2018-05-25 03:46] nschonni opened #889 "Dead links in release-notes/2012/aug-13-team-services.md"
http://go.microsoft.com/fwlink/?LinkId=266498
https://www.visualstudio.com/en-us/get-started/hosted-build-controller-vs
https://www.visualstudio.com/en-us/get-started/build-your-eclipse-projects-vs
https://www.visualstudio.com/en-us/get-started/build-your-apps-vs

[2018-05-25 03:47] nschonni opened #890 "Dead link https://www.visualstudio.com/en-us/get-started/share-your-xcode-projects-vs"
Found in release-notes/2012/sep-17-team-services.md

[2018-05-25 03:49] nschonni opened #891 "Dead link https://www.visualstudio.com/news/release-archive-team-services.md"
Found in release-notes/2013/aug-19-team-services.md
Removing the `.md` also didn't resolve it

[2018-05-25 03:50] nschonni opened #892 "Dead link http://go.microsoft.com/fwlink/?LinkId=273878"
Found in a few of the old release notes https://github.com/MicrosoftDocs/vsts-docs/search?q=http%3A%2F%2Fgo.microsoft.com%2Ffwlink%2F%3FLinkId%3D273878&type=Code

[2018-05-25 04:12] nschonni opened #895 "Dead link https://go.microsoft.com/fwlink/?linkid=859172"
Found in release-notes/2017/oct-06-vsts.md
Currently redirecting to https://github.com/Microsoft/vsts-image-generation/blob/master/images/win/Vs2017/Vs2017-Server2016-Readme.md which has been renamed to https://github.com/Microsoft/vsts-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md

[2018-05-25 04:14] nschonni opened #896 "Dead links in release-notes/index.md"
http://go.microsoft.com/fwlink/?LinkId=533008
https://www.microsoft.com/en-us/download/details.aspx?id=39305

[2018-05-25 08:19] Richspeirs opened #897 "@CurrentIteration macro"
Morning,
I must have missed the change notes, but can't understand why queries using the @CurrentIteration macro are now mandatorily linked to 'Search Teams'.  Forcing this value means it can no longer be used for Shared Queries when listing impediments etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98abc5c-97e7-

[2018-05-25 08:59] GregoryOtt opened #898 "With VS15.7.1 we can now associate MSTestV2 netcore unit test to test cases through Test Explorer."
Can you clarify the documentation as the assertions below are wrong :
=> Unit tests that use the.NET Core framework cannot be associated with a test case.
=> Tests that use other test frameworks such as Version 2 of the MSTest framework, xUnit, nUnit, Chutzpah, and others cannot be associated with a test case.n

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-25 09:20] KNShrinidhi commented on #418
Does Process Variable override the variable in the Variable Group?
For ex: I've a variable defined in variable group for Dev environment ConnectionString and now I want use the variable group for QA environment but only Connection String from process variable? So now which connection string get substituted ?