[2019-10-04 20:14] sphanley commented on #5723
I'm part of a team who's trying to run Android tests on Azure DevOps - is there any info available as to what aspects of these instructions are no longer applicable for the 10.14 VM agents, and what the new recommended steps look like?

[2019-10-04 20:15] #5830 closed

[2019-10-04 21:25] GrantErickson opened #5862 "Where is the ChartOptions API reference"
I am looking for all the possible values for the ChartOptions object. Can you please include a link to this in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4504a134-dfd7-0cc9-3292-6844d49b4fe8
* Version Independent ID: e121af02-6651-65bf-a953-fda719e90e3e
* Content: [Add a chart](https://docs.microsoft.

[2019-10-05 10:38] ylemkimon commented on #5768
@WilliamAntonRohm I don't think the guideline covers our usage. Would it be possible to list your product like:
![image](https://user-images.githubusercontent.com/888148/66253744-ac6ead80-e7a7-11e9-839a-65fdae4a274a.png)

[2019-10-05 13:05] StingyJack commented on #5764
Got it. Thank you. Yes the user is/was a stakeholder. I had the impression that stakeholders would not be able to be added to groups like "Contributors", and this user was in that group.

[2019-10-05 13:05] #5764 closed

[2019-10-05 23:09] sawatsky commented on #5703
This would have been really nice. I was hoping to have Build, Compliance, Test, and Publish stages. Even the documentation says this should be possible when it says, "Stages are the major divisions in a pipeline: 'build this app', 'run these tests', and 'deploy to pre-production' are good examples of stages," but I don't see the point if I have to either: a) re-build in every stage, or b) publish

[2019-10-05 23:28] Justin-DynamicD commented on #5272
Add me to the list of those looking.

I have a few theories on the "how" but I'd rather avoid potential days of trial and error.

[2019-10-06 01:42] shawnhernan opened #5863 "Documentation inconsistent with UI labels"
Often, throughout the Azure DevOps documentation the words used in the documentation do not match the labels in the UI, and this leads to tremendous confusion. For example, on this page, you describe "Portfolio, product, and sprint backlogs," but when you actually look in ADO in the process templates, the labels used in the UI are "Portfolio," "Requirements," and "Iteration." It would be much easi

[2019-10-06 04:08] raiyanalam commented on #5804
Hi,
   Once the pull request is merged to a target branch, lets say master, a commit is created in the master. So you can have a trigger set up on the master branch. This will trigger a pipeline run only when the code is merged after approval.

Hope this helps.

[2019-10-06 15:10] mdekrey opened #5864 "Missing mention of "Allow project-scoped builds""
I was directed to this page from https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?view=azure-devops&tabs=yaml#publish-your-packages where I was unable to set up permissions for a build. Turns out that when setting up pipleine publishing to the feed, there are useful options under the ellipsis menu to `Allow project-scoped builds` and `Allow builds and releases`. Since the us

[2019-10-06 15:11] mdekrey commented on #5864
Screenshot for completeness:
![image](https://user-images.githubusercontent.com/144461/66271269-aa493500-e821-11e9-8e82-127bc1d959c5.png)

Note the options are disabled because I have already selected them.

[2019-10-06 15:40] #5774 closed

[2019-10-06 22:02] ChrisGibson1982 opened #5865 "Buildandpush ignores ARGs"
When you add arguments to a 'build and push' it presents a warning when the build runs, stating that it ignores arguments. Can we have an example of seperate build and push tasks that would allow you to add arguments to the build process please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b

[2019-10-07 06:14] jfpanisset opened #5866 "Typos in "Create service endpoint using configuration file""
The sentence "It can be achived using the following steps: Create endpoint of same time from UI and capture it's network trace..." should probably be something like "It can be achieved using the following steps: Create endpoint of same type from UI and capture its network trace..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-10-07 06:47] ryanps1 commented on #5818
Hi @msebolt - I haven't purely because I'm not sure that this will be a complete list as it's not solely relevant to the topic at hand, happy to raise a ticket though for further clarification - thanks.

[2019-10-07 08:29] ChendrayanV opened #5867 "InlineScript is mandatory even script location is File path - Confusion in AzureCLI@2 task Docs"
scriptLocation values are mentioned as file path and inlineScript and default value is scriptPath

- task: AzureCLI@2
  displayName: Azure CLI
  inputs:
    azureSubscription: 'DEMO'
    scriptType: pwsh
    scriptPath: 'Azure/AzInventory.ps1'

In this case scriptLocation is not mandatory - Please update the docs and add file path example.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-07 08:35] EldarAliev commented on #5852
@msebolt thanks for the answer.

with this question it is clear.
Tell me, please, how can I transfer the tasks between these teams?

[2019-10-07 08:43] ChendrayanV opened #5868 "azurePowerShellVersion is mandatory argument"
#azurePowerShellVersion: 'OtherVersion' # Optional. Options: latestVersion, otherVersion
This needs to be changes as REQUIRED - Change is argument section as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb215324-b1a0-93b5-5022-4bcc7da93bb7
* Version Independent ID: 9eb2977b-ac34-9d53-670e-04fa027bc8e4
* Content

[2019-10-07 09:27] shashban commented on #5703
The goal is precisely to build in one stage and publish artifacts from the stage, that can be used in multiple other stages. Each job in the stage runs on separate machines (agents) and downloading the required artifacts is a pre-requisite for execution. Publishing artifact is a means to telling the system that the information will be reused.
We understand that no deployment can happen without dow

[2019-10-07 09:33] frozenskys opened #5869 "Missing information..."
The title of this page is Set up *Active Directory* or Azure Active Directory - yet non of the information or links refer to normal Domain Active Directory. I understand that Microsoft is keen to push Azure, but please don't leave those of us who are mid-move to the cloud without the information we need to use your products.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-10-07 10:05] Wenish commented on #5754
@chasewilson any update?

[2019-10-07 10:20] once-returner commented on #5630
What I ended up doing is adding empty [Environments](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?view=azure-devops) and configuring the approval checks there. I then reference the "Environment" in YAML to add the approval gates to the stages I needed.

Problems with this approach are:

- Our only reason for using the [Environments](https://docs.microsoft.com/en-us/

[2019-10-07 10:37] once-returner commented on #5630
@shashban Here are my responses to your questions, sorry for the delay.

In the spirit of DevOps, the team would manage the approvals themselves. For us, approvals are not a form of red tape. They're simply sanity checks between environments (stages) so that a team member can perform any manual testing, verification, etc. that is needed before promoting code to the next environment (stage). Just b

[2019-10-07 11:53] jordonedavidson commented on #2455
When working with my company's private azure devops instance the correct syntax was:
`https://<PAT>@<company_machineName>.visualstudio.com:/<path to git repo>`

Where the path to the repo was `<project name>/_git/<repo_name>`

I hope this is helpful for someone. The syntax documentation is just wrong.

[2019-10-07 12:35] igor-teresco opened #5870 "Do I need a ServiceConnection to query same Azure API?"
In deployment gate I want to query Azure API if there are any active deployments in my project.
What kind of ServiceConnection should I create if required?
I've tried to add new connection to same organization but it doesn't go through Verify step...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bc6da4-5a1e-5989-f4f

[2019-10-07 13:20] ghelyar commented on #5209
I have added a feature request:
https://developercommunity.visualstudio.com/idea/763322/azure-pipelines-yaml-get-components-of-a-version-v.html

[2019-10-07 13:25] doug-fish opened #5871 "unclear which values to use from the downloaded weekly JSON file"
In the section https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges it's not clear which service name should be used for determining the IP ranges. I've downloaded the json file, but I haven't seen any description of it's contents. I see many (service?) names for values in the file, such as "ApiManagement AppService AppServiceManagement AzureActiv

[2019-10-07 13:49] tomview opened #5872 "Include "Building DevOps extension using Blazor" in "Develop extensions" VSTS documentation dated 2016"
There have been requests in past few months to support building DevOps Extensions using Asp.Net.Core/Blazor.

-  [Building Blazor DevOps extensions](https://developercommunity.visualstudio.com/content/problem/704085/building-blazor-devops-extensions.html)

- [Develop Azure DevOps Extensions using Blazor](https://developercommunity.visualstudio.com/idea/425875/develop-azure-devops-extensions-using-

[2019-10-07 14:47] shashban commented on #5630
@once-returner This is super helpful. Thank you.
Our current design for approvals has an enforcement tilt to it, as against the flexible validation. We will be taking up a feature to fill that gap and provide a lighter weight, less compliance oriented version to enable manual validations by peers during the pipelines.
Closing this issue for now. We got the feedback and would address it in near fut

[2019-10-07 14:47] #5630 closed

[2019-10-07 14:51] shashban commented on #4174
Closing this issue. We got the input from here and would be taking up a couple of features.

- An ability to add manual validations (interventions) in yaml files
- An ability to specify certain stages for a manual start only in yaml files

[2019-10-07 14:51] #4174 closed

[2019-10-07 15:07] Felipe-Banno commented on #5652
I'm also looking for this information. I tried with echo "##vso[task.setvariable variable=NAME]VALUE" but that only updates the ENV VAR and not update the value in the Variable Group

[2019-10-07 15:15] buck-mbeer opened #5873 "Needs an example of using an output variable from a previous job in a custom condition"
The syntax for using output parameters from previous job in conditions is not exactly as one might expect, as confirmed in this issue: https://developercommunity.visualstudio.com/content/problem/760780/in-multi-job-pipelines-job-variable-resolution-occ.html It's probably worth adding an example to the Conditions page of how to use output variables this way.

---
#### Document Details

⚠ *Do not ed

[2019-10-07 15:35] VianneyDoleans opened #5874 "MSBuild task - YAML snippet error"
YAML snippet shows "#solution: '**/*.sln' " but the command is waiting for project argument, as specified below in Arguments part, not "solution" argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22342679-18af-7c79-f902-fe9c0bb55379
* Version Independent ID: a8e7c201-6593-458b-5a81-b54e93fde4b5
* Content: [MSBui

[2019-10-07 15:38] msebolt commented on #5848
Closing the issue now, please comment below if there are any questions.

[2019-10-07 15:38] #5848 closed

[2019-10-07 15:46] msebolt commented on #5852
@EldarAliev  you're welcome.

Please see [this post](https://developercommunity.visualstudio.com/content/problem/399900/bulk-move-backlog-items-and-tasks-to-another-team.html) that uses a screen capture on bulk task migration.

[2019-10-07 15:46] msebolt commented on #5854
Closing this issue now, please comment below if there are questions.

[2019-10-07 15:47] msebolt commented on #5857
Closing this issue now, please comment below if there are any questions.

[2019-10-07 15:47] #5857 closed

[2019-10-07 15:53] msebolt commented on #5818
@ryanps1  No problem, a ticket with the product team is more likely to provide an immediate resolution.  If you want a better instruction set please comment below some details as to the type of setup you need (or the closest article that exists currently) and I can assign this to the author.

[2019-10-07 15:54] razidare commented on #5854
@msebolt

I was referring to the Azure Pipelines limit of 10 resources/Environment. Not to the agents concurrent job limits.

We have enabled the preview feature "Multi-stage pipelines" for our organisation and now our menu features "pipelines" and "environments" instead of "builds" and "releases".

The "Environment" menu can contain "Resources" which ATM support only AKS namespaces. There is a ha

[2019-10-07 16:00] msebolt commented on #5827
Closing this issue now, please comment below if there are any questions.

[2019-10-07 16:00] #5827 closed

[2019-10-07 16:05] msebolt commented on #5854
@razidare  Apologies for the confusion, assigning one of the AKS authors now.

[2019-10-07 16:24] chasewilson commented on #3386
This currently isn't available for on prem versions up to and including Azure DevOps Server 2019. I'll update to moniker the article and it won't show as an available feature. I'm closing this issue and thank you for the input!

[2019-10-07 16:24] #3386 closed

[2019-10-07 18:08] GrantErickson commented on #5862
Here is the TypeScript d.ts file that is helpful: https://github.com/microsoft/vss-web-extension-sdk/blob/master/typings/charts.d.ts

[2019-10-07 18:20] chcomley commented on #4345
Hi @LJ9999, I'm working on an update now and I'll let you know once it's been published. Thank you.

[2019-10-07 18:23] vtbassmatt commented on #4937
See [this topic](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables). You must map secrets on a per-step basis if you need them.

[2019-10-07 18:23] #4937 closed

[2019-10-07 18:54] adinunzio84 commented on #2795
Might be good to post a feature suggestion here:
https://developercommunity.visualstudio.com/content/idea/post.html?space=21

Found this one, but it was closed:
https://developercommunity.visualstudio.com/content/idea/365984/allow-auto-deletion-of-merged-branches-by-policy.html

Also would love to have this feature.

[2019-10-07 19:07] anryu451 opened #5875 "Check for Latest agent version?"
So we can automate downloading the tar.gz for an agent by using CURL, but is there a way for us to automatically check for what ever the latest version number is and download it?

Example: Instead of this: sudo curl -O https://vstsagentpackage.azureedge.net/agent/2.158.0/vsts-agent-linux-x64-2.158.0.tar.gz
We can check for latest version # and install it instead?

---
#### Document Details

⚠ *Do

[2019-10-07 19:13] #5804 closed

[2019-10-07 19:40] mweinand commented on #5700
We are looking for this too.  We want the deploy process in code, but each stage/environment as a manual event that someone clicks "Go" on.

[2019-10-07 20:11] fmms opened #5876 "How to prevent "Ran for 14 days" error"
Hi,

I have introduced approvals to my pipeline to gate the deployment to different environments. They have been on Prod for the last 14 days. Since today i am getting emails for all builds that have not been propagted to a further environment that they failed because they have been running for 14 days.

Is this a bug? How should this be configured? The documentation should mention this.

---
####

[2019-10-07 20:33] WilliamAntonRohm commented on #5860
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-07 20:40] WilliamAntonRohm commented on #5865
@ChrisGibson1982 -- Chris, you may find an example here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@shashankbarsin -- Shashank, please consider adding such an example to the documentation.

[2019-10-07 20:44] #5870 closed

[2019-10-07 20:45] WilliamAntonRohm commented on #5871
@doug-fish -- here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-10-07 20:48] WilliamAntonRohm commented on #5875
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-07 20:48] #5875 closed

[2019-10-07 20:50] WilliamAntonRohm commented on #5876
@fmms -- Felix, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @shashban -- Shashank, please look into the documentation aspect of this issue 5876.

[2019-10-07 21:00] moswald opened #5877 "Make it clearer that automatically-generated source control tags are build artifacts"
Build artifacts are cleaned up with the build, meaning that any tags generated through the Tag sources UI will be deleted when the build exits the retention period and is cleaned up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b846aea-82f7-a988-67d8-1b5e74b61ed2
* Version Independent ID: 2d632729-bb33-c0a0-c996-e1d

[2019-10-07 21:25] chasewilson commented on #3475
@cdietschrun Thank you for the questions and I am sorry for the late response. This task currently supports downloading python packages according to the documentation. I'll be closing this issue for now. Feel free to respond or create a new issue if you have any more feedback.

[2019-10-07 21:25] #3475 closed

[2019-10-07 21:27] jlhjr commented on #3702
For what it's worth, our workaround is to create a new build definition per "environment" with the variable values embedded in that definition.

Not elegant by any means, and the DevOps UI doesn't really enable this (you can't "clone" a build definition, for instance), but you can automate some of it through the [REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/cr

[2019-10-07 21:35] chasewilson commented on #3624
@Izzmo sorry for the late response, Would you mind clarifying what you're issue is with the working directory? What is the error you are getting when you define the `workingDirectory` with `publish` or `restore`?

[2019-10-07 21:59] shubham90 opened #5878 "Artifacts feed name does not free up after delete"
Link: https://docs.microsoft.com/en-us/azure/devops/artifacts/artifacts-key-concepts

Artifact feed's name does not free up after deleting it. It goes in the recycle bin and name frees up once it is permanently deleted from the recycle bin. Right now, there is no way to permanently delete feed from the UI.

While we work on the UI roll out for this feature, please use the following script to perma

[2019-10-07 22:56] #5866 closed

[2019-10-07 22:58] chcomley commented on #5872
Hi @tomview, Thanks for your suggestion. Our extension docs are definitely in need of a makeover. I've created a user story for my backlog and will keep you updated. Thanks!

[2019-10-07 23:04] chcomley commented on #5861
Hi @mick-anderson24, I'm confirming this behavior with the PM and will get back to you as soon as possible. Thanks for reaching out.

[2019-10-07 23:27] NickSpag commented on #2844
@shanoor you're missing a hyphen. Should be:

[code]

[2019-10-08 00:14] larryclaman opened #5879 "documentation for test file format?"
Could you document the format of the yaml/json file used for describing the tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd40694-540e-98c1-32ef-87af48fde27d
* Version Independent ID: d1b89b4b-e36e-9cd2-2010-f12b3e2506d6
* Content: [Container Structure Test Task - Azure Pipelines](https://docs.microsoft.com/en

[2019-10-08 00:25] shubham90 opened #5880 "Re-creating a feed does not free up the name immediately"
Artifact feed's name does not free up after deleting it. It goes in the recycle bin and name frees up once it is permanently deleted from the recycle bin. Right now, there is no way to permanently delete feed from the UI.
While we work on the UI roll out for this feature, please use the following script to permanently delete the feed from recycle bin to free up the name immediately. Please make su

[2019-10-08 00:26] shubham90 commented on #5878
Added this issue here: https://github.com/MicrosoftDocs/vsts-docs/issues/5880

[2019-10-08 00:26] #5878 closed

[2019-10-08 02:50] ShujiMIYOSHI opened #5882 "Is it possible to use this with Azure notebook?"
I'm finding a solution to use git with Azure AD on Azure notebook.
Is Git Credential Manager the solution about this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2f260d-9321-d669-172d-01289c233263
* Version Independent ID: 14e9ae18-df9d-7555-902c-3e8b4c2b2f22
* Content: [Connect to your Git repos using credential

[2019-10-08 08:26] IrisChang0119 opened #5884 "Preserve Target Timestamp fails"
I used this task after the MSBuild task finished.
But I found it is failed.

The task log :
Problem applying the timestamp: undefined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f02378-b85b-d3a4-d3c8-f07d935367da
* Version Independent ID: fab57f76-35d2-4024-6f7f-1740d7b24743
* Content: [Copy Files task - Azure Pip

[2019-10-08 10:23] MishalValiyakath commented on #5545
Hi @kraigb , please let us know if any update is there on this, this is a show stopper for us to deploy our production workload to azure app service with flask API. Are there any workarounds to get it(Flask API to Azure App Service(Linux)) deployed with all the dependencies meanwhile waiting for the actual fix?

[2019-10-08 10:52] INPVIR opened #5885 "Update the screenshots-"
Request to update new UI screenshots to avoid confusion to the end users. New name of security now is Permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07738454-4b1a-eff5-6c16-69e963ab2663
* Version Independent ID: a63f1dad-0378-5ce3-97e9-ec66afffb206
* Content: [Add users to a team or project](https://docs.mi

[2019-10-08 11:19] bremnes commented on #2967
@nprieto95 , might be a hackier workaround than you ideally want, but how about setting up a service hook?

You can subscribe to the build/release definition in question, and then in your service hook-processor (azure function?) queue the builds automatically for the branch in question if the build/release fails.

[2019-10-08 12:27] nikhil2007rock opened #5886 "Use Out-File instead of OutFile"
In the first powershell script which extracts all the logs of the SVN repo, you have asked to use OutFile which doesn't work but it actually should be Out-File.

[2019-10-08 12:34] spashx opened #5887 "No documentation for pool owner concept ?"
In Azure Devops Server, when a pool is selected at the collection level, there is a  "Detail for pool" tab , where it is possible to define a pool *owner* by clicking on the label "Search users and groups".
I was not able to get any information about this.
What is the pool owner ? does this provide permissions/rights on the pool ? The documentation should explain it.

---
#### Document Details

⚠

[2019-10-08 12:51] vtbassmatt commented on #5884
This is not a doc bug, it's a product issue. Please file it on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-10-08 12:51] #5884 closed

[2019-10-08 13:04] EldarAliev commented on #5852
@msebolt thanks again )

[2019-10-08 13:04] #5852 closed

[2019-10-08 13:27] polamarasetti commented on #3809
hi, I am trying to store my SSH keys in secured files of Library. Then how to consume this file in following two tasks CI/CD pipeline Azure Devops 2019.
1.Run Shell commands on remote machine ?
2.Securely copy files to the remote machine?
Both of these tasks need SSH service connection. when I create SSH connection, keys are showing as plain text, so I want to avoid this security breach.
Bottom li

[2019-10-08 13:37] RoopeshNair commented on #5846
Scheduling conditionally on select artifacts isn't possible. The schedule checks following 3 conditions:
- When any of the artifacts changes
- When there are zero releases for a given RD
- When the RD is modified later than the last release is created. For example due to whatever reason if the release is created at 1PM IST, if there are changes to RD post 1PM, then there will be a new release is c

[2019-10-08 13:37] #5846 closed

[2019-10-08 13:52] #5330 closed

[2019-10-08 14:11] mganeshphani commented on #5860
Hello William,

i am trying to see if you guys have documentation that can help me in right
path here.

On Mon, Oct 7, 2019 at 3:33 PM William Anton Rohm <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-10-08 14:15] neilp-snow opened #5888 ""Authorize Resources" does not exist - https://aka.ms/yamlauthz"
I have built a release pipeline in Azure DevOps.

https://aka.ms/yamlauthz describes that there should be a "Authorize Resources" button as button, however there is no such thing. Please update the documentation to include a fix for release pipelines as well as builds.

![image](https://user-images.githubusercontent.com/55080478/66403268-330cd000-e9de-11e9-8708-6c7328d0eb20.png)

[2019-10-08 14:31] paule96 commented on #5093
I have the same problem but a little bit different. The key vault integration in Azure DevOps required the described behavior to work dynamically.

Because if I have a variable that describes the name of the secret, like this:

[code]

The key vault task creates a new secret variable with the name `mySuperSecretName`. So I would access the content of this with the following expression:

[code]

Bu

[2019-10-08 14:32] paule96 commented on #5093
Maybe this is a bug for the variable syntax team at Microsoft. Because that would be nice if this can be work.

[2019-10-08 14:39] alejandraneolopan opened #5889 "Use drag and drop to nest test suites is no longer working"
Test suites are not able to be included in an already existing test suite.
User has to create a new test suite and is not able to move a test suite in another branch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c520dee-1218-777e-7405-551623817c03
* Version Independent ID: 82b5d172-ae1a-2b4c-82ac-595cd7609d3c
* Cont

[2019-10-08 15:09] juliakm commented on #5133
@shashankbarsin When we follow the default instructions [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/java-webapp?view=azure-devops&tabs=java-se#feedback), the website comes up as empty. Should we include any subfolder under the URL to be able to browse to the website?

[2019-10-08 15:09] abrignola commented on #3702
+1

[2019-10-08 15:19] chasewilson commented on #3679
@spottedmahn Thanks for the great feedback and I'm really sorry about the late response. I agree that this is a good place for a note like that and have made the changes. You should see them live within 24 hours. Thank you again and feel free to reach out or create new issues if you have anymore feedback.

[2019-10-08 15:19] #3679 closed

[2019-10-08 15:22] zarochi commented on #5093
I'm a little confused by what you're saying/asking, but I'll give it my best shot. All variables are referenced as $(secretName) in pipeline YAML, so I have no idea what you're even trying to do with $($secretName)) (You also have an extra parenthesis in there).

It's by design unfortunately that nested variables don't work. I found a workaround for my situation that involves using a powershell ta

[2019-10-08 15:33] paule96 commented on #5093
yes, this is a workaround but not a very good one if you have many builds or pipelines.

yes you are right. I missed a parenthesis. `$($(secretName)) == "mySecretValue"`.

What I'm saying are these steps:

[code]

That should be the goal. I need the `mySuperSecretName` as value, so the key vault task know what secret it must resolves and has the name also as secret key, because the key vault task

[2019-10-08 15:35] GCHQ77703 commented on #2529
Is there any progress with this item?

[2019-10-08 15:42] spottedmahn commented on #3679
Nice!  Thanks! 😀

[2019-10-08 15:48] Izzmo commented on #3624
No error, it just doesn't use it. @chasewilson

[2019-10-08 15:54] chasewilson commented on #3749
@SychevIgor I don't believe there is a screenshot in the most recent documentation here so I'll be closing this issue. If you have anymore feedback, please feel free to open a new issue :)

[2019-10-08 15:54] #3749 closed

[2019-10-08 16:04] StingyJack opened #5890 "What is the max field length for System.Title?"
There is a max length because the API is telling me its too long. I need to know what that max length is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6859c579-3383-e4b7-366e-69f49a8bd1b6
* Version Independent ID: 5b7af784-0698-b77a-342f-252986038e92
* Content: [Query by title, ID, or rich-text fields - Azure Boards]

[2019-10-08 16:20] chcomley commented on #4757
Hi @SychevIgor, I've just confirmed that this is no longer in private preview and is GA. We'll be working on updating this set of articles soon. Here's the official documentation you can refer to: https://docs.microsoft.com/en-us/rest/api/azure/devops/test/runs?view=azure-devops-rest-5.1
Do let us know if you have any further questions. Thank you!

[2019-10-08 16:20] #4757 closed

[2019-10-08 16:31] chcomley commented on #5861
Hi @mick-anderson24, We don't have copy button functionality for wiki. The copy button you see in the doc is docs.microsoft.com functionality. I'm closing this issue, but please do let me know if you have any further questions by @ mentioning me. Thanks!

[2019-10-08 16:31] #5861 closed

[2019-10-08 16:35] exwindchiller commented on #4478
Thanks.  That is helpful, but it would also be helpful to know why 'clean' is forced when Code Coverage is enabled.  Why isn't 'clean' a checkbox option related to enabling Code Coverage?
The forced 'clean' is causing a real problem now that I need to enable Code Coverage.

[2019-10-08 16:38] msebolt commented on #5877
@moswald  Thank you for the feedback, assigning this to the author for review.

[2019-10-08 16:41] msebolt commented on #5879
@larryms  Thank you for the feedback, assigning this to the author now.

[2019-10-08 16:44] msebolt commented on #5880
@shubham90  Thank you for the feedback, assigning the author for review.

[2019-10-08 16:49] StephenRSkinner opened #5891 "URL for Proxy Settings"
In order to configure a proxy to allow traffic for this task, the URL needs to be supplied. There is no URL in the logs showing what the task is calling. Please provide the URL the task is using, either in the logs or in the documentation.

[2019-10-08 16:58] eosho opened #5893 "ServiceNow to Azure DevOps"
Hi Experts,

I am looking for resources on how to integrate ServiceNow to Azure DevOps. I want to be able to use ServiceNow to trigger builds/releases within ADO. Idea is to have users create a ticket in ServiceNow then once the ticket is approved, triggers a build/release pipeline.

Any thoughts/references?

[2019-10-08 17:10] msebolt commented on #5882
@ShujiMIYOSHI Thank you for the question, pleasae consider starting an issue in [azure-docs issues](https://github.com/MicrosoftDocs/azure-docs/issues) also.

For now, you could try installing the credential manager from within the [Azure notebook terminal](https://docs.microsoft.com/azure/notebooks/configure-manage-azure-notebooks-projects#configure-the-project-environment), and see if it support

[2019-10-08 17:29] msebolt commented on #5885
@INPVIR  Thank you for the feedback, assigning this to the author.

[2019-10-08 17:38] msebolt commented on #5886
@nikhil2007rock Thank you for the feedback, update pending.

[2019-10-08 17:39] msebolt commented on #5887
@spashx  Thank you for the feedback, assigning this to the author for review.

[2019-10-08 17:45] msebolt commented on #5888
@neilp-snow  Thank you for the feedback, assigning this to the author for review.

[2019-10-08 17:51] msebolt commented on #5889
@alejandraneolopan Thank you for the feedback.

Issues here are only be applied to the documentation.  Can you please move this issue over to the [Azure DevOps forums](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html)?

There you'll receive an assessment directly from the product team.

[2019-10-08 18:01] msebolt commented on #5890
@StingyJack  Thank you for the question.

Work item naming has a restriction of 128 Unicode characters, refer to [Naming restrictions](https://docs.microsoft.com/azure/devops/organizations/settings/naming-restrictions?view=azure-devops#work-items-work-item-types-and-customizations).

If you're finding different results, please comment below.

[2019-10-08 18:06] prolitaaron opened #5894 "Clarification needed on throttling specifications"
This line is a bit unclear:

"Their personal usage exceeds 200 times the consumption of a typical user within a (sliding) five-minute window."

That seems to indicate that if a user were to wait to do heavy work until a less-usage-heavy time period (such as overnight), they may actually be MORE likely to run into throttling because the "typical user" of the Azure DevOps at that time is much less a

[2019-10-08 18:08] SychevIgor commented on #3749
item in a backlog... in the past it means "maybe in a few years"

[2019-10-08 18:08] SychevIgor commented on #3749
@chasewilson cool... April-November. 6 months.

[2019-10-08 18:09] prolitaaron commented on #4387
Some documentation on best practice in dealing with throttling would be great.

[2019-10-08 18:10] SychevIgor commented on #4757
Well, for a 3 months- I already find the right link. Issue was created to save some time for others.

[2019-10-08 18:12] chcomley commented on #4757
@SychevIgor, Thanks for your intention, truly. Glad you found the right link.

[2019-10-08 18:42] elbatk commented on #3749
@SychevIgor Sorry for the delay, we've had some significant turnover in both the product space and docs space for Azure Artifacts. That's calmed down quite a bit and you shouldn't see such ridiculous delays in issues like this, thanks :)

[2019-10-08 18:55] WesleyWeber commented on #4428
I think we should re-open this as a new feature request in the next release of Azure DevOps Web.

[2019-10-08 18:57] chcomley commented on #4087
@andreasschild Can you please let us know the status of this? Has this issue been properly taken care of? Thanks!

[2019-10-08 19:57] #5862 closed

[2019-10-08 20:05] juliakm commented on #5811
Hi @poltj18, we'll need to check with the product team to find out more about this. For now, you can reach out to the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is monitored by the product team to see if you can get a solid answer there!

[2019-10-08 20:15] Tankatronic opened #5895 "searchPatternPush example to negate a pattern is incorrect"
`searchPatternPush` states the following

Expected Behavior:

The pattern negated with `-:[pattern]` will prevent packages matching the specified `[pattern ]` from being pushed.

Actual Behavior:

The pattern negated with `-:[pattern]` is not ignored. To negate a pattern you must use `!` instead of `-:`. Ex: `![pattern]`

I have not tested this with the `searchPatternPack` argument.

---
#### Docu

[2019-10-08 20:19] jonnylangefeld commented on #4174
Hi @shashban,
the problem with the approval gates vs the feature in the classic deployment pipelines is, that you can't approve deployment jobs individually from one another. Is there a solution for that?

I opened up a ticket in the [developer community](https://developercommunity.visualstudio.com/content/problem/767498/multiple-deployment-jobs-in-stage-are-all-blockeda.html)

[2019-10-08 20:28] devkws commented on #4174
You need a different stage per environment. We do this now.

[2019-10-08 20:51] msebolt commented on #5891
@StephenRSkinner Thank you for the feedback.

Please include the task name or article referenced and I can assign an author.

[2019-10-08 21:09] msebolt commented on #5893
@eosho  Thank you for the question, this is a good candidate for [REST API](https://docs.microsoft.com/rest/api/azure/devops/?view=azure-devops-rest-5.1).

Using the **ServiceNow** documentation (such as [this example](https://docs.servicenow.com/bundle/kingston-application-development/page/app-store/dev_portal/API_reference/ScriptableServiceRequest/concept/c_ScriptableServiceRequest.html)) you ca

[2019-10-08 21:11] msebolt commented on #5894
@prolitaaron Thank you for the feedback, assigning this to the author for review.

[2019-10-08 21:12] quiarneto opened #5896 "Does the app work for more than one project?"
Hello, Could you help me?
In my Azure DevOps organization I have four projects created and in slack I have a channel for each project.
I can use azboards normally in just one.
Would this be a limitation of the app?
If not, how could you solve this? Because the notification of creation of a Work item, for example, only reaches the channel of one of the projects, for the others not enough.

Grateful

[2019-10-08 21:47] jonnylangefeld commented on #4174
Thanks for the tip @devkws, I actually tried that too, however stages are sequential. You only can go through one at a time. And while the first stage is not approved, you can't go further. If you reject the first stage, all other regions won't run at all.

<img width="1041" alt="Screen Shot 2019-10-08 at 1 55 33 PM" src="https://user-images.githubusercontent.com/18717376/66435770-77966c80-e9da-11

[2019-10-08 22:27] msebolt commented on #5895
@Tankatronic  Thank you for the feedback, assigning this to the author for review.

[2019-10-08 22:29] sunnyhay opened #5897 "AppSettings in Azure pipeline for Function app"
Hello,

  I try to build a pipeline to deploy an Azure function app. I notice the "appSettings" param only accepts key-value pairs in the YAML file. I'm referring to this page: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops. I wonder whether a JSON/YAML file can be used to populate the AppSettings for any function app deployment.
  Thank y

[2019-10-08 22:37] msebolt commented on #5896
@quiarneto No problem, thank you for the question.

From what I understand you need to setup [subscriptions](https://docs.microsoft.com/azure/devops/boards/integrations/boards-slack?view=azure-devops#set-up-subscriptions) per project and then link each subscription to a separate channel.

Please comment below if this does not address the issue.

[2019-10-08 22:59] winstonhenke opened #5898 "az account show"
Using Azure CLI v2.0.2

If I print `az account show` from a script it seems to print the user context that triggered the pipeline rather than the service principle linked to the azureSubscription. But the the SP does seem to be used since I had a script that was failing until I updated some access policies on the SP after which it succeeded.

I would have expected `az account show` to print the SP

[2019-10-08 23:25] pksorensen commented on #5876
Could
[code]
be the solution?

[2019-10-09 01:08] dengyakui opened #5899 "Want a Manifest json schema file"
Manifiest has too many content to cover, cant we have a schema file so that we can get hint in vscode,  and support both TFS2018 and AzureDevOps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b703fe-8982-4284-6db0-ef33abac08a4
* Version Independent ID: 0fc84d11-1c32-0a49-04ec-641b68f44886
* Content: [Extension Manife

[2019-10-09 01:10] #5842 closed

[2019-10-09 02:13] aapalm opened #5900 "Using a variable for the matrix strategy"
The example in this page shows how you can use an output variable as your matrix strategy, however I find it is also possible to use variables as your strategy as well.

**Example**
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67504b34-d64b-02a4-2e10-ab99f3b8cfe4
* Version Independent ID: 2cf63b2e-184b-7726-3b8

[2019-10-09 05:58] adramasu commented on #5792
Hi,

At the moment we show it in the order in which the versions are published.

[2019-10-09 06:03] atbagga commented on #3702
For those who are blocked on this and using REST-APIs I wrote a util script using Azure-Devops CLI extension to achieve this. You can take a look at it here - https://github.com/atbagga/PsSamples/tree/master/DevopsVarGroup

This will make it a little easier to consume in your automation.

[2019-10-09 06:04] schenkjan commented on #3268
The documentation seems indeed to be a bit weak regarding the steps on how to replace the "Copy and Publish Build Artifacts" task with "Copy files" and "Publish Build Artifacts" tasks.
After a bit of research I found the following page which helped me: [https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=classic#example-assemble-c-artifacts-into

[2019-10-09 06:34] glittle commented on #5871
I agree that this is unusable.  I got the DevOps pipeline all working, then discovered that there is no practical way of whitelisting the build agent so that it can actually deploy to my server!

[2019-10-09 06:54] ChristianKleineidam opened #5901 "Missing documentation for apksignerFile"
This file misses documenting what the apksignerFile option does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1fbcd8-d799-879e-d672-9dee164401ef
* Version Independent ID: 7208d03d-9042-7753-ab4d-d1ad8e99ef1d
* Content: [Android signing build and release task - Azure Pipelines](https://docs.microsoft.com/en-us/azure

[2019-10-09 09:09] kaadhina commented on #3591
This is a supported scenario. Both the test command and vstest use the same underlying platform to run the tests. If you face issues with this scenario, please open an issue here in this repo with the appropriate logs : https://github.com/microsoft/azure-pipelines-tasks/issues

[2019-10-09 10:36] coffeymatt opened #5902 ".NET Core build"
Would be useful if this included an example for .NET core builds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728b7c25-2ef7-3807-b898-b9024ba297e2
* Version Independent ID: 4b2eda64-1f32-fdf8-ee09-420dbb8b9f4d
* Content: [Setting up GitHub Source Linking with Azure DevOps Services Build & Azure DevOps Services Symbo

[2019-10-09 11:22] asgeroverby opened #5903 "Typos in DeleteFilesV1.md"
The documentation in [DeleteFilesV1.md](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/tasks/_shared/yaml/DeleteFilesV1.md) is inconsistent with the implementation.

Current:

[code]
Should be (note the initial uppercase in the `inputs` attributes)

[code]

[2019-10-09 11:31] JEvason90 opened #5904 "Consider pluralizing word"
The sentence "These service connection can " needs to be written "These service connections can"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1a328e2-391c-843d-7442-932ec77b2a91
* Version Independent ID: 83eb4008-ded5-597c-8d54-2383bbf9d240
* Content: [Push an image - Azure Pipelines](https://docs.microsoft.com/en-u

[2019-10-09 11:55] ChristianJarenfors opened #5905 "Great Information!"
This will help me improve my pullrequests and is a great reference for anyone who wondering how the syntax for the markdown works!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822-66c8-3a34-8905645ce5f2
* Content: [Markdown syntax for files, wid

[2019-10-09 11:55] dhoare12 opened #5906 "[System.ClosedDate] is not a valid field"
Should be `[Microsoft.VSTS.Common.ClosedDate]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710af5f2-8a31-e0d3-4f20-00c79dc54713
* Version Independent ID: 1d4d9580-984c-9fee-861a-a02ce828d3db
* Content: [WIQL reference syntax - Azure Boards](https://docs.microsoft.com/en-us/azure/devops/boards/queries/wiql-syntax?vie

[2019-10-09 12:05] sbparsons opened #5907 "WriteHost missing from PS samples"
I have just come here to learn more about logging commands and I see that at the beginning of the article the WriteHost preceeds the actual command to be issued.
I'm assuming this is always required, though the later samples just show the command (starting with ##vso[...)
Am I correct in assuming that the WriteHost is assumed to be there in the latter samples?

---
#### Document Details

⚠ *Do not

[2019-10-09 12:06] phamilton1212 commented on #5772
How is this a documentation bug if the functionality used to be there and now it's not?  The ability to create multiple test suites from query results is a huge benefit to users.  It's tedious to have to create suites one at a time from requirements.

Is this going to be fixed or is this functionality being removed from DevOps?

[2019-10-09 12:39] artemijspavlovs opened #5908 "yaml pipeline condition"
I want to enable the ability to skip some of the stages while using YAML pipelines. To do this, I created a pipeline variable called environments and am trying to use a condition parameter inside a template that looks like follows.

azure-pipeline.yml

[code]

template.yml

[code]

where **variables.environments** is a pipeline variable with a list of stages that I want to run.

**Expected behavio

[2019-10-09 12:47] phatcher opened #5909 "What project role/rights are needed to create new repos"
Can you state what project role/specific rights are needed for team members to be able to create new repositories

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df523114-2647-3282-525e-a0e4fe605dfb
* Version Independent ID: 91af894a-fb2f-ac3f-311f-978cd7dbf359
* Content: [Create a new Git repo in your project - Azure R

[2019-10-09 13:03] #5908 closed

[2019-10-09 13:09] nerddtvg opened #5910 "Add Once and Cleanup to Linux Script"
I treat these agents similar to the MS Hosted solutions which allow people to install software in the pipeline to support their builds and deployments. Because of that, I want these agents to be one-time use only. I made some changes to the provided start.sh script to facilitate that.

The --once parameter, only allowed on the AgentService line, will shutdown the agent after it is used one time. I

[2019-10-09 13:29] juliakm commented on #5835
[This pull request](https://github.com/MicrosoftDocs/vsts-docs/pull/5795) addressed using UseDotNet. Working through the other updates.

[2019-10-09 13:32] onovotny commented on #5835
@juliakm thanks -- there's one note on that new PR: https://github.com/MicrosoftDocs/vsts-docs/commit/0562c6139e5d1789e69d167e28e4b0bb31e34f70#r35426156

[2019-10-09 13:34] quiarneto commented on #5896
@msebolt I was able to configure it!
Thank you so much for your support!

[2019-10-09 13:34] #5896 closed

[2019-10-09 14:10] #5904 closed

[2019-10-09 14:14] PriceChild opened #5913 "Expand callback documentation, including authToken requirement"
The section "[Where should a task signal completion when Callback is chosen as the completion event?](Where should a task signal completion when Callback is chosen as the completion event?)" explains well the url structure and a hint to the possible payloads that can be provided, giving one example on marking the task completed.

It does not mention that the authtoken in the initiating request's b

[2019-10-09 14:17] #5275 closed

[2019-10-09 14:17] #5858 closed

[2019-10-09 15:53] chcomley commented on #5905
Thanks for the great feedback, @ChristianJarenfors! We appreciate this very much. Is there anything we can help you with, or were you just trying to make our day? :)

[2019-10-09 15:54] #5792 closed

[2019-10-09 16:01] John-Blair opened #5915 "Not clear how to upload an artifact"
I want to see how to copy a packaged zip file from the build to the Artifacts folder ....nothing useful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f02378-b85b-d3a4-d3c8-f07d935367da
* Version Independent ID: fab57f76-35d2-4024-6f7f-1740d7b24743
* Content: [Copy Files task - Azure Pipelines](https://docs.mic

[2019-10-09 16:05] steved0x commented on #5825
That alias still isn't fixed, but I did learn that the feedback is getting through, even though it appears that it is not. The alias has as its members other aliases, and one of the members of those aliases is the one returning the non-deliverable message. I am keeping this issue open until the alias is fixed and no longer returns that non-deliverable message.

[2019-10-09 16:48] chcomley commented on #5905
Closing the issue, but do let us know if you have any further comments or questions and thanks again, @ChristianJarenfors!

[2019-10-09 16:48] #5905 closed

[2019-10-09 17:00] John-Blair opened #5916 "Can't see my build website published zip files in here"
Im struggling to see where my build output files are - these are my artifacts - why cant i see them?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078a8c96-ec59-c10b-e48e-8c5586c8cb09
* Version Independent ID: 200f5723-2404-298d-e6bb-533592a28ff3
* Content: [Azure Artifacts in Azure DevOps Services and Azure DevOps Se

[2019-10-09 17:35] #4883 closed

[2019-10-09 18:13] ChristianJarenfors commented on #5905
I need no help at the moment. I was glad when I found it and thought you
should know and get some appreciation for it. :)

On Wed, Oct 9, 2019 at 5:53 PM chcomley <notifications@github.com> wrote:

[2019-10-09 18:15] StingyJack commented on #5890
128 is for fields I add.

256 is what I could eventually stuff in it by pasting 1234567890 into the title bar until it stopped accepting input.

[2019-10-09 18:15] #5890 closed

[2019-10-09 18:38] Bemarkl opened #5917 "Progress Report doesn't update to most recently used Test Plan"
We are using the Progress Report to track our Test Execution and its working really well except for the Default Filters being applied.  It seems that once you visit the Progress Report Page the Default Test Plan filter is set and it doesn’t update to the test plan you accessed last like the documentation says it should – “2. Whenever you visit the report, it will show you the data for the test pla

[2019-10-09 18:59] brcrista commented on #5516
@WilliamAntonRohm can you please assign to @leantk?

[2019-10-09 19:47] dauger commented on #5286
The documentation is out of date. The Multi-configuration option is now on phase settings in the pipeline tasks.

[2019-10-09 19:49] #5886 closed

[2019-10-09 20:32] omarcarreon commented on #2592
@florianeidner did you find a solution for that?

[2019-10-09 20:43] WilliamAntonRohm commented on #5889
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your feedback here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

[2019-10-09 20:43] #5889 closed

[2019-10-09 20:44] WilliamAntonRohm commented on #5893
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-09 20:44] #5893 closed

[2019-10-09 20:45] WilliamAntonRohm commented on #5897
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-09 20:45] #5897 closed

[2019-10-09 21:06] WilliamAntonRohm commented on #5915
@John-Blair -- John, thank you for your feedback.  You may find an answer here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @vtbassmatt -- Matt, please look into adding such an example.

[2019-10-09 21:58] WilliamAntonRohm commented on #5916
@John-Blair -- John, [this article](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=yaml) may help answer your question.  In addition, you may want to try these help links (same ones as my previous comment):

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azur

[2019-10-09 21:58] #5916 closed

[2019-10-09 22:01] WilliamAntonRohm commented on #5917
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

[2019-10-09 22:01] #5917 closed

[2019-10-09 22:05] Bemarkl commented on #5917
Just FYI the document says to email devops_tools@microsoft.com to provide feedback but that email address isn't accessible to senders outside of Microsoft, may want to remove that section or update it to point to the Developer Community.

[2019-10-09 23:48] zmarty opened #5918 "Can appSettings be multiline?"
We run a quite complex Azure Function App with tens of app settings.

1) Can the appSetting setting have a multiline value such that we can have each setting on a separate line?
2) If yes, can we send in this multiline string as a template parameter as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f82ad1fa-cee5-

[2019-10-10 03:43] sphanley commented on #5915
Unless I'm misunderstanding, what you're wanting to do is covered by the [Publish Build Artifacts step](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=azure-devops). They've got an example of how to build, copy something (i.e. your zip file) from that build to the staging directory, and then publish the copied file(s) as an artifact.

[2019-10-10 04:27] JNadrowski opened #5919 "PBI"
You should define the abbreviation at its first use -- product backlog item (PBI).  Or did you mean any one of these: https://en.wikipedia.org/wiki/PBI   ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58aacca7-05a2-e8dd-6a6f-3025d734ef20
* Version Independent ID: 3eea19c1-8bda-6b60-e77d-8c0e82c3f096
* Content: [Def

[2019-10-10 05:25] clix455 opened #5920 "What are the audit-able events"
Would like to find out if there is a list of audit-able events?
Kind regards,
Cl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f60b32-5c3c-f01a-cbbf-f4e9bd17a3fc
* Version Independent ID: 94753ea7-b465-f92e-10c2-8b17d995e4ff
* Content: [Access, export, filter audit logs for Azure DevOps - Azure DevOps](https://docs.

[2019-10-10 06:25] msebolt commented on #5890
Sounds good, thank you for posting your results.

[2019-10-10 06:27] msebolt commented on #5886
Documentation had been updated.

[2019-10-10 06:55] jamesmcroft opened #5921 "No instructions on how to unpublish a published Wiki repo branch"
The instructions here show how it is possible to unpublish an entire Wiki including all of the published branches.

It would be useful to have documentation on removing individual published branches from a Wiki if the branch now wants to be removed.

This could be a feature request of Azure DevOps Wiki if this does not exist yet.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-10-10 07:12] ppumkin opened #5923 "startup.ps1 runs in docker, errors out and quits."
When I start the docker image this is the output log.

[code]

First of all, thank you for deleting the log file that was created inside the agent. That was very helpful! (Sarcasm aside, maybe specify a logs directory that wont get nuked)

Second there is no information from the configure.cmd emitted to the console (that may solve the problem with deleting the log file?)

When I go and connect to

[2019-10-10 07:22] ppumkin opened #5924 "Adding tools and customizing the container -- expand please"
Hi - I am a newb and there are others that may need guidance on this page to prompt that we probably need to install tooling required as we need it before the agent becomes any use right?
We need to install like visual studio and or dot net core before the capabilities of the agent are of any use.
Can you please make a short paragraph explaining this.

---
#### Document Details

⚠ *Do not edit thi

[2019-10-10 07:44] JanSera opened #5925 "Fail notification"
Is there any way how to setup Azure DevOps to send out notification when service hook fails?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4806b641-fdb1-c0e9-081c-c007807c7cdb
* Version Independent ID: f59d8501-1285-be79-b084-8371ed8395bb
* Content: [WebHooks with Azure DevOps Services](https://docs.microsoft.com/en-u

[2019-10-10 08:34] ChrisGibson1982 commented on #5865
"Other commands and arguments" is there, but would be nice to have the push command as well

[2019-10-10 08:43] John-Blair commented on #5915
Thank you - yes that was what I ended up doing and then an Artifacts dropdown appears.

Devops is changing so fast...previously you could just copy files and have them appear in the Artifacts section ..but now the build is in d:/a/1/a folder and release (Artifact) files are in d:a/1r/a it is very awkward just viewing/accessing your files.

I don't know why the build outputs don't appear by default

[2019-10-10 08:48] John-Blair commented on #5916
Well @WilliamAntonRohm those links weren't much help. What I needed to know was that I needed to add a Publish Build Artifacts task step. at the end of my build pipeline.

[2019-10-10 10:48] RajeshwariMC opened #5926 "Email sent to devops_tools@microsoft.com - is undelivered"
Though the document says - Provide feedback
Reach us at devops_tools@microsoft.com to share your thoughts on the Progress Report. In the process, share screenshots as appropriate.

However, email sent to devops_tools@microsoft.com - is undelivered

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23cfb51b-0b54-7d26-f9b2-4

[2019-10-10 11:51] mossywell opened #5927 "Missing a step"
"Verify that the artifact contains the Templates folder containing the template files WindowsVirtualMachine.json and WindowsVirtualMachine.parameters.json. This is the template that your release pipeline will consume to provision an Azure virtual machine." This sentence is only meaningful if you already know how to do it, in which case you wouldn't be reading this page. The URL to which it points

[2019-10-10 11:54] mossywell commented on #5927
PS, actually all 4 step just link to the same document called "Create your first pipeline" which simply creates a noddy Java pipeline and a badge. Therefore, this may actually be a case of linking to the wrong document.

[2019-10-10 12:07] devkws commented on #4174
@jonnylangefeld  I confirmed this morning our pipeline is NOT sequential using multiple stages and checks.

![image](https://user-images.githubusercontent.com/22294114/66567280-d839bc80-eb34-11e9-9937-2079181259c7.png)

[2019-10-10 12:30] loeiten commented on #2262
Had the same problem.

My solution was to change
`--cov=com` to `--cov=./`
as the prior searches for a module called `com`

[2019-10-10 13:08] bjowes opened #5928 "Notification of changes in firewall requirements"
Our organization is actively using Azure DevOps behind a corporate firewall. In the spring of 2019 we made an effort to become compliant with all the firewall white-list rules recommended on this page.

As we are experiencing intermittent issues since some months back we started investigating this again. And it appears that the white-list rules were changed.

1) Is there any way to receive notific

[2019-10-10 13:13] Vinzz opened #5929 "Are Pipeline decorators available on prem? Azure Devops Server 2019.1?"
Hi,
So far I fail to make my decorator work, so 2 questions :

1-	Are you sure this feature is available in Azure Devops Server 2019.1?
2-	Don’t you guys have a vsix with a sample decorator one could use as a proof of concept / starting material?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0704e7ce-a2bb-7ccd-

[2019-10-10 13:43] ghost opened #5930 "Need to update email address in the "Compliance certifications" section."
I tried to send an email to " [Azure DevOps ServicesSOCReports](mailto:AzureDevOpsServicesSOCReports@microsoft.com)". I received the following error:
We won't be able to deliver this message to AzureDevOpsServicesSOCReports@microsoft.com X because the email address is no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-10 15:41] yeuruparaghoo opened #5932 "Unable to email and copy test cases from this new view"
I have a user who has reported that two options that are available in the old view are not available in the new view, i.e. email specific test case(s) and copy a selected list of test cases from the columnar view and paste it into excel, word, email, etc.  He has a Basic +Test Plan license assigned.  Are these options going to be available in a future option for this new view?

---
#### Document D

[2019-10-10 17:02] dwhathaway commented on #4334
Yes, you just remove the baseUri property for your "release" extension.  There's a couple of approaches to this, and it depends on how your team wants to work.

1. You can use an override file when building the extension vsix for dev, and just append the baseUri property (that's the process we followed in that blog post that @tiagonmas shared).
2. Keep a separate vss-extension.json manifest file s

[2019-10-10 17:07] dwhathaway commented on #4334
@dalphesdc AFAIK, this same process should "just work" with on-prem servers the same way as it does for hosted.  The process to install the extension is a bit different, but it's the same premise - loading a localhost URL from inside a browser page.  Here's the documentation for installing extensions from a local gallery - https://docs.microsoft.com/en-us/azure/devops/marketplace/get-tfs-extension

[2019-10-10 17:08] msebolt commented on #5918
@zmarty Thank you for the questions, assigning this to the author for comment.

If this feature is unavailable, please move this issue to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo.

[2019-10-10 17:13] steved0x commented on #5425
It's added: https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash#updatebuildnumber-override-the-automatically-generated-build-number

[2019-10-10 17:13] #5425 closed

[2019-10-10 17:24] msebolt commented on #5920
@clix455  Thank you for the question, assigning this to the author for review.

[2019-10-10 17:29] #5873 closed

[2019-10-10 17:30] msebolt commented on #5921
@jamesmcroft Thank you for the question, will assign this to author for comment.

For feature requests, please use the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-10-10 17:33] jonnylangefeld commented on #4174
@devkws wow this looks good! Do you have a small yaml snipped that explains shows this principle?

[2019-10-10 17:34] steved0x commented on #951
Those documents have been refactored and the new content has this information:

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/azure-repos-git?view=azure-devops&tabs=yaml#authorize-access-to-your-repositories

[2019-10-10 17:34] #951 closed

[2019-10-10 17:34] chcomley commented on #4619
@warren2k, As I begin working on this update, I've discovered a duplicate issue that's older and has more customer involvement. I'm combining these issues, so closing this one as a duplicate. Please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/2020. I'll also @ mention you within that issue.

[2019-10-10 17:34] #4619 closed

[2019-10-10 17:37] chcomley commented on #2020
@warren2k and shayki5, here's the duplicate issue.

Work is in progress, my friends. Thank you.

[2019-10-10 17:38] steved0x commented on #901
Content refactored and the updated content no longer has the mistake:
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml

[2019-10-10 17:38] #901 closed

[2019-10-10 17:38] msebolt commented on #5923
@ppumkin Thank you for the feedback.

Unfortunately this is an issue for the product team, though feel free to comment on the documentation.

You can refer to this issue in the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-10-10 17:39] steved0x commented on #750
Content refactored, info is here: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-configuration

[2019-10-10 17:39] #750 closed

[2019-10-10 17:39] msebolt commented on #5924
@ppumkin Thank you for the feedback, assigning this to the author for review.

[2019-10-10 17:46] devkws commented on #4174
@jonnylangefeld  here is a basic version without any steps, hope it helps.

[code]

[2019-10-10 17:48] juliakm commented on #5644
@StefanSchoof [Here]() is more information on [using output variables from tasks](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#use-output-variables-from-tasks) in YAMLs. You may also find the reference to [setting a multi-job output variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&

[2019-10-10 17:49] #5644 closed

[2019-10-10 17:57] macjustice commented on #4179
It appears that LFS is also affected by the 5GB push limit. I'm opening a support request to see if there's any way to increase that limit for LFS usage.

[2019-10-10 17:58] msebolt commented on #5925
@JanSera  Thank you for the question.

You will probably need to use the [REST API task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/http-rest-api?view=azure-devops) with a call to the service hook [diagnostics](https://docs.microsoft.com/rest/api/azure/devops/hooks/diagnostics/get?view=azure-devops-rest-5.1) endpoint, then send the notification if any status errors are detecte

[2019-10-10 18:00] jonnylangefeld commented on #4174
wow this is amazing! Thanks @devkws you helped us a lot! It was the `dependsOn`, and then a deployment Job inside the stage.
[here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml#dependencies) are the official docs.

[2019-10-10 18:02] huntleyh opened #5936 "Cannot Add Impediment to Backlog"
In this article it states

"Impediments and issues don't appear on your backlog. Instead, you track them using queries. If you want them to appear on your backlog, or you want to track other work item types on your backlog, see Customize your backlogs or boards."
https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/manage-issues-impediments?view=azure-devops#customize-issues-tracking

How

[2019-10-10 18:02] msebolt commented on #5926
@RajeshwariMC Thank you for the feedback, please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/5825.

Closing the issue now.

[2019-10-10 18:02] #5926 closed

[2019-10-10 18:04] msebolt commented on #5932
@yeuruparaghoo Thank you for the question, assigning this to the author for review.

[2019-10-10 18:19] msebolt commented on #5929
@Vinzz  Thank you for the questions, assigning this to the author for review.

For support issues due to local configuration, please use the [Azure DevOps support site](https://azure.microsoft.com/support/devops/).

[2019-10-10 18:21] roofers commented on #5894
Hi @prolitaaron - The consumption limits are fixed based on an average users usage. It doesn't change during low times. Therefore, the threshold is the same whether you exceed it during peek times or after hours.

[2019-10-10 18:23] pollockm opened #5938 "How can we set query folder permissions via API?"
This page is great for manual effort, but I have been unable to find how to do so via the REST API.  We have thousands of queries, I do not want to manage them by hand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54179351-62b2-c41b-949b-0652a0f1d354
* Version Independent ID: 1ffcd0b3-e67b-6cfe-caa6-814a699627db
* Co

[2019-10-10 18:26] msebolt commented on #5930
@DaveBurnisonMS Thank you for the feedback, assigning this to the author for visibility.

[2019-10-10 18:31] chcomley commented on #4142
@ashokirla can you please provide an estimate as to when I can review your PR? Thanks so much!

[2019-10-10 18:37] chcomley commented on #5894
Thanks @roofers. Hi @prolitaaron, I'll be closing this issue. Please @ mention me if you have any further questions. Thank you!

[2019-10-10 18:37] #5894 closed

[2019-10-10 18:45] MrGPT opened #5939 "coming soon"
I see "(comparison coming soon)". The article appears to be 1.5 years old. Will updates be coming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96200b4-9fc1-7d8c-dce4-6a2b0cb5fa4d
* Version Independent ID: bf8e5f2c-a8a5-d2e1-f89c-5ed5129c32a3
* Content: [Azure DevOps vs GitLab - Azure DevOps](https://docs.microsoft.

[2019-10-10 19:06] msebolt commented on #5927
@mossywell  Thank you for the feedback.

The documentation has been updated to point to a more relevant article, apologies for the confusion.

[2019-10-10 19:25] florianeidner commented on #2592
Actually the problem in the end was resolved by defining a proxy with the config command:
./config.cmd --proxyurl http://127.0.0.1:8888 --proxyusername "myuser" --proxypassword "mypass"

see here: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=azure-devops&tabs=windows

[2019-10-10 20:00] sphanley commented on #5702
Since the docs say to clone a second branch by simply running the `git clone` command via a script, you'd do it the same way as cloning a specific branch manually through git -- there's nothing Azure Devops specific at play. Per [this Stack Overflow answer](https://stackoverflow.com/a/1911126/3486353), here's example syntax:

[2019-10-10 20:16] poltj18 commented on #5811
@juliakm , Thanks for your reply. I'm interested to hear what they come back with.

[2019-10-10 20:36] swiatlamiasta commented on #3585
@atinb Hello, not sure if it's a good place to ask, but has the support for yaml release pipelines been implemented? I tried to set up notifications for one the other day but it didn't seem to work properly. Thanks in advance.

[2019-10-10 20:48] jamesmcroft commented on #5921
@msebolt so I think I worked it out. Essentially, because it is a Git branch, to delete the published branch, the only current way to remove it is by deleting the actual branch.

There doesn't appear to be a way of removing the published branch from the Wiki itself.

I'd recommend that this doc updates to reflect this so others might find that of some use.

I'll raise the feature request with the

[2019-10-10 20:54] steved0x commented on #2263
@grahambunce I am sorry that this one fell through the cracks. Git in Azure Repos Git is standard Git which follows the protocols set forth in the Git standard here: https://git-scm.com/

GitHub, GitLab, Bitbucket, and also Azure Repos provide an implementation of Git that matches that standard.

If you have a TFVC project, and want to migrate it to Azure Repos Git, then this article (the one that

[2019-10-10 20:54] #2263 closed

[2019-10-10 20:55] #2157 closed

[2019-10-10 21:12] #1741 closed

[2019-10-10 21:34] kevinhartman opened #5940 "[Bug] Variables cannot be used in environment field"
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#environment

Neither Stage nor Job variables can be used when specifying the environment name:

[code]

I've tried using the long-hand form as well (where environment `name` and `resourceName` are specified explicitly), but this didn't help.

Any work arounds?

---
#### Document Details

⚠ *Do not edi

[2019-10-10 21:59] bjowes commented on #5928
Thanks @msebolt - I've set up a subscription on the agent docs. This will probably be ok for Item 1 as long as the documentation structure won't change.

[2019-10-11 02:12] derilkusuma opened #5941 "nee"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-10-11 02:12] #5941 closed

[2019-10-11 02:18] iUnknwn opened #5942 "No documentation for releasing code as a simple zip/distributable package"
There's currently no documentation covering the simple use case of releasing a zip file with compiled code. This is critical if you want to generate a github-style release where you provide a binary for a user.

For example, if I have my build pipeline working, and the output is what I'd like to distribute, there's no clear item in Azure devops to create a "release" page with notes, or even to cre

[2019-10-11 02:23] iUnknwn opened #5943 "No list of available tools when calling bash/powershell"
When writing scripts in [bash](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/bash?view=azure-devops) or [powershell](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops), there's no list of provided build tools on the various agents.

For example, can I call dotnet to manually build software from powershell task, or do I need a

[2019-10-11 06:42] iamsrivatsa commented on #4217
The issue is already fixed. Please check!

[2019-10-11 07:32] mcurko opened #5944 "Error"
After the step 12/13, this is the result of a PR creation (along with 500 internal error):

TypeError: Cannot read property 'resource' of undefined
    at C:\Temp\pr-server\app.js:15:27
    at Layer.handle [as handle_request] (C:\Temp\pr-server\node_modules\express\lib\router\layer.js:95:5)
    at next (C:\Temp\pr-server\node_modules\express\lib\router\route.js:137:13)
    at Route.dispatch (C:\Te

[2019-10-11 08:11] Isarien opened #5945 "Exemple with $1 does not work"
I try the affectation script et the reading script on azure devops, and the syntax $1 does not work, whereas the syntax $SAUCE is OK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Independent ID: 41efb94b-4c7a-64a3-b23b-70c8634ae727
* Content: [Release variables and debugg

[2019-10-11 08:48] msebolt commented on #5936
@huntleyh  Thank you for the feedback, assigning this to the author for review.

[2019-10-11 08:57] msebolt commented on #5939
@MrGPT  Thank you for the feedback, the documentation has been updated to remove any confusion.

Assigning this to the author for an update.

[2019-10-11 09:32] msebolt commented on #5938
@pollockm  Thank you for the question, unfortunately issues here are for documentation only.

Please move the issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) where the product team can respond and either solve your issue or consider adding this as a feature.

[2019-10-11 09:55] witiokz opened #5946 "More info in notifacation"
Hi,

Is it possible to see more information in notification message? I.e. project name. Currently it shows only pipeline name.

Thanks,

[2019-10-11 10:36] cawoodm opened #5947 "Please explain the concept of multiple pipelines in the azure-pipelines.yml file somewhere"
Since all examples use a single trigger: - develop it is not clear how to have different pipelines for different branches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f94a6e7d-3cb5-790c-2b8b-c09abd1de3f6
* Version Independent ID: a0d381e1-07ad-9191-4697-6faf600a7bd8
* Content: [Use Azure Pipelines - Azure Pipelines]

[2019-10-11 10:52] hfpg2001 commented on #5783
Hello All, I have a quick question.  How should I have access to the file if the pipeline when is done will delete the file?
"When the pipeline job completes, no matter whether it succeeds, fails, or is canceled, the secure file is deleted from its download location."

[2019-10-11 13:08] #2007 closed

[2019-10-11 13:22] #5828 closed

[2019-10-11 13:35] tashrifbillah commented on #2916
@vtbassmatt @steved0x  @andyjlewis  my project is public, yet it gets cancelled at 60 minutes:
https://dev.azure.com/tbillah/tbssDemo

I am using `timeoutInMinutes` with `script`:
[code]

Here is my yml file:
https://github.com/tashrifbillah/tbss_containers/blob/b23ec1e914c580d0fcb903d4884eae7e52257b15/azure-pipelines.yml

For details, here is the GitHub repo:
https://github.com/tashrifbillah/tbss

[2019-10-11 13:45] vtbassmatt commented on #2916
That's a step timeout, you need to set the job timeout:

[code]

[2019-10-11 13:45] tashrifbillah commented on #2916
I am following [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#script) documentation about `script`.

[2019-10-11 13:54] PouyaPanahy opened #5948 "Changing a work item State when a field has changed"
Hi,
I can add a Rule to a Work Item template so that some action happen as a result of a change on a field.
What I would like is that when a user changes a given field, the work item instance should move to a specific state in my workflow.

Is it possible to change the 'State' of the workflow using a Rule?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-10-11 14:00] GaryAshby commented on #2877
Hello Danhellem, I'm not that I'm understanding this clearly. We use the TFS Office plugin in MS Project to edit stories in Azure DevOps. Our project managers don't use Visual Studio.
1. Will this keep working for the near future?
2. Will there be a future sync between Project Online and Azure DevOps?

[2019-10-11 14:12] guythomasdavis commented on #4486
Why isn't this already available?

As with all the other commenters can you please make this a priority. While looking at the roadmap I don't understand why this isn't even listed. And when it does get listed should be moved to the top of the heap.

We are just getting deployment groups setup for a .net migration to AWS and without this feature it certainly puts a lot of stress on our teams to set

[2019-10-11 14:27] #5702 closed

[2019-10-11 14:32] tashrifbillah opened #5949 "build and run docker image without pushing to dockerhub"
Hi, is it possible to build and run a docker image without pushing it and pulling back from dockerhub?

Specifically, I am using the following to build an image:

https://github.com/tashrifbillah/tbss_containers/blob/master/azure-pipelines.yml#L26

[code]

Can I do the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-10-11 14:41] tashrifbillah commented on #5949
@WilliamAntonRohm @shashankbarsin

[2019-10-11 14:42] Devqon commented on #4439
@RezaRahmati how have you resolved this? I am having the exact same issue

[2019-10-11 14:49] ashokirla commented on #4142
@chcomley As part of service connections UX refresh, we are planning to update the entire service connections documentation. The work is currently in progress. I will publish a doc PR during the week of Oct 21-25.

[2019-10-11 15:06] cawoodm opened #5950 "Pool Strategy/Schema"
What is `pool:` and how can it be used to reference say a deployment pool or deployment group?
See "see pool schema" but not providing a link is not helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7ff690-b2e4-41c7-a342-e528b911c6e1
* Content: [Dep

[2019-10-11 15:33] chcomley commented on #5921
@jamesmcroft, Thanks for raising a feature request. I've just added a note to the article, which should be live sometime today. Thanks so much for your feedback.

[2019-10-11 16:00] dotnetcanuck commented on #4486
We worked around the issue by setting up an agent pool with our deployment targets.

In the deployment pipeline, we set up a stage containing a job for each target in the pool. And each job had a demand to ensure it would be run on the correct agent.

[2019-10-11 16:17] #5921 closed

[2019-10-11 16:56] cawoodm opened #5951 "Pipeline Triggers Pipeline Support?"
Is it possible for a successful pipeline (running on one agent) to trigger another pipeline (running on a different agent). If not, how would one use a YAML pipeline to deploy to different servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c

[2019-10-11 18:10] RoopeshNair commented on #5950
Deployment groups aren't supported in YAML yet. We are working on it. For a sneak peek at the designs refer [YAML designs repo](https://github.com/microsoft/azure-pipelines-yaml/tree/master/design)

[2019-10-11 18:10] #5950 closed

[2019-10-11 18:15] cawoodm opened #5952 "Can the same PAT be used to configure and register multiple agents?"
&gt; When using PAT as the authentication method, the PAT token is only used during the initial configuration of the agent.
This would indicate the PAT is used for registration and then not stored and used again. Is this really so?

I ask because when we tried to use the same PAT for 2 agents the original agent stopped working (not authorized).

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-11 18:39] jovton opened #5953 "Non-ASP.NET Core apps"
I would like more documentation on building .NET Core apps on Azure Pipelines that are not for ASP.NET, such as a .NET Core console app, or simple .NET Core class library. These options are not on the GUI, it only gives ASP.NET-based options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec716c61-248c-75c9-2bc7-262749

[2019-10-11 18:47] mborders commented on #5445
This solution worked well for me, thanks!

[2019-10-11 19:27] #5251 closed

[2019-10-11 19:31] ghstahl opened #5954 "Where do my repos go?"
I create a project, I add a bunch of code to the private repo.  I decide to delete the project, but it doesn't mean I want to delete the repos.

At the moment they are gone.  Is the only choice to have persistent repos by picking github, etc?

[2019-10-11 20:39] zmarty commented on #5918
I have tested this and multiline settings are indeed available and the deployment goes out fine. But it would be nice to have an example in the documentation, for people that have many settings. Something like this works:

[code]

Reference: https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-over-multiple-lines/21699210

[2019-10-11 20:39] #5918 closed

[2019-10-11 20:52] StephenRSkinner commented on #5846
My releases schedule even when no artifacts have changed. This doesn't appear to work the way you've described.

[2019-10-11 21:25] StingyJack commented on #5828
@thejoebourneidentity please explain.

[2019-10-11 22:09] priyankadanda opened #5955 "User story automatically changes state to "Closed" after completing a pull request."
How to stop changes in state of a user story despite approving the pull request. (Our process also has Ready for QA as a state. It would be nice if i could program it to go there instead of closed.

[2019-10-11 22:17] WilliamAntonRohm commented on #5923
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:17] #5923 closed

[2019-10-11 22:18] WilliamAntonRohm commented on #5925
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:18] #5925 closed

[2019-10-11 22:20] WilliamAntonRohm commented on #5938
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:20] #5938 closed

[2019-10-11 22:21] WilliamAntonRohm commented on #5940
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:21] #5940 closed

[2019-10-11 22:23] WilliamAntonRohm commented on #5942
@iUnknwn -- Sean, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

You may find the following links useful:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-10-11 22:27] WilliamAntonRohm commented on #5946
@witiokz -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-11 22:29] pollockm commented on #5938
@WilliamAntonRohm  - so should I take it that this is confirmation that what I was hoping to see documentation of how to do is, in fact, not possible?

I assumed that it was possible, but the documentation on how to do so was just either not created yet or hard to find

[2019-10-11 22:29] WilliamAntonRohm commented on #5948
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-11 22:29] #5948 closed

[2019-10-11 22:30] WilliamAntonRohm commented on #5949
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-11 22:31] WilliamAntonRohm commented on #5951
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-11 22:31] #5951 closed

[2019-10-11 22:35] WilliamAntonRohm commented on #5953
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-10-11 22:35] #5953 closed

[2019-10-11 22:36] WilliamAntonRohm commented on #5954
@ghstahl -- Herb, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-11 22:36] WilliamAntonRohm commented on #5955
@priyankadanda  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-11 22:58] iUnknwn commented on #5942
This issue spans multiple topics, but the issue is related to build pipelines, release pipelines, and artifacts.

While I assumed the answer was yes, perhaps it's worth taking a step back and asking: a high level, does Azure DevOps support the concept of a release (as defined by github and other sites), in which there is a simple downloadable file, with release notes, available for users?

Regardl

[2019-10-11 23:02] iUnknwn commented on #5942
For comparison, this is what I'm referring to when I say "github-style" release:
https://github.com/PowerShell/PowerShell/releases

On this page, there's some text, and the links to builds for download.

[2019-10-11 23:13] Ahetejaz commented on #5772
It seems the old and new feature behaves differently. For time being one could go to the right side corner of Azure DevOps services and select the preview features and turn off the new feature for Test Plan. The older view get enabled and could be used to create multiple requirement based test suite at once.

[2019-10-12 00:12] swonge opened #5956 "force user to input value to 'settable at queue time' pipeline variable"
is it possible to enforce user to input value for the pipeline variable that is set to "settable at queue time"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4b40f2a
* Content: [Variables - Azure Pipelines](https://docs.micros

[2019-10-12 00:14] swonge opened #5957 "Clone release definition by script"
Is it possible to clone an existing release/build definition by script (i.e. CLI/API)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63234ade-28cc-02fc-a319-42e3491da601
* Version Independent ID: 7ccbfe96-d61e-8bf2-de22-61150d648abd
* Content: [Release pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azur

[2019-10-12 02:19] tashrifbillah commented on #5949
I sincerely hoped my suggestion would improve the documentation and potentially attract more users to move to azure pipeline. Sorry to hear that it won't be supported by your team.

[2019-10-12 04:44] Infraton11 opened #5958 "CLA submit"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-10-12 04:45] Infraton11 commented on #5958
godspeed
On Saturday, October 12, 2019 Fenton Ge <reply@reply.github.com> wrote:

Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback,

[2019-10-12 10:08] cawoodm opened #5959 "How to specify a deployment pool in a job?"
&gt; you can specify the deployment targets for a job using a deployment group.
Yes, but how. If we specify
[code]
Azure looks for an Agent Pool of this name and fails!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b38c265-be4c-b038-e3a9-783a5e5ce659
* Version Independent ID: 67da69da-3651-a8f4-f06a-c35aa3aa98fc
* Co

[2019-10-12 12:41] cawoodm opened #5961 "Jobs have dependsOn but do deployment jobs?"
The docs say jobs can depend on each other but how does this apply to deployment jobs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67504b34-d64b-02a4-2e10-ab99f3b8cfe4
* Version Independent ID: 2cf63b2e-184b-7726-3b8a-d8baffd6fcce
* Content: [Jobs in Azure Pipelines, Azure DevOps Server, and TFS - Azure Pipelines](h

[2019-10-12 21:39] techpassion opened #5962 "error validating data: [apiVersion not set, kind not set]"
kubectl apply -f Azure-pipelines.yml
[from local azure cli]

**error: error validating "Azure-pipelines.yml": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false**

are we supposed to run this yaml file only on Azure DevOps pipeline only?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sect

[2019-10-13 02:37] syndicatedshannon opened #5963 "Use Service Connection: Deauthorize Pipeline"
The Use Service Connection topic ( https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#use-a-service-connection ) includes instructions on how to authorize a pipeline. As a security-minded consumer, I would also like instructions to Deauthorize a Pipeline, especially since it seems that the "Allow all pipelines" enumerates the currently exi

[2019-10-13 04:24] syndicatedshannon opened #5964 "Document limitation: Service Connection cannot be specified by variable"
Please add to documentation that Service Connection cannot be specified by variable. While I would prefer the limitation be fixed, since the issue ( https://github.com/Microsoft/azure-pipelines-agent/issues/1307 ) was closed 2 years ago without resolution, and not reopened since, the limitation should be documented. This sort of limitation takes quite a bit of time to diagnose, since it involves b

[2019-10-13 17:46] syndicatedshannon opened #5965 "Please document somewhere the outcome of commits that occur prior to a build completion trigger"
CI triggers have a logical outcome; they checkout the specific commit that triggered them and set predefined variables accordingly. But what happens to commit ID for Build Trigger builds? One might desire that they also checkout the same revision, but I'm guessing they do not.

If my guess is correct, the documentation could be updated to state "IMPORTANT: Only CI triggers provide a specific commi

[2019-10-13 18:03] msebolt commented on #5918
@zmarty  Thank you for the posting your solution.

...adding @azooinmyluggage to include this in a possible update.

[2019-10-14 02:20] HughDevlin opened #5966 "with or without?"
seems like the 1st sentence should be "without the overhead of running a server."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e576b8-a378-a985-33cb-8adb9d7d7957
* Version Independent ID: d1b99713-8e01-23d9-47b7-1a9b5c98d5ca
* Content: [Build and deploy to a Java web app on Linux - Azure Pipelines](https://docs.mic

[2019-10-14 02:41] firmsoil opened #5968 "Automated transition from a Jenkins declarative pipeline into an Azure Pipelines YAML configuratio"
Question: Is there a way in Azure to programmatically automate my .Net/MSBuid pipeline definition from its current Jenkins declarative pipeline format into the Azure Pipelines YAML configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0088651-e8ef-3226-3225-22053b76e832
* Version Independent ID: 78b114db-abf1-

[2019-10-14 03:44] msebolt commented on #5710
@rob2244  Since this is a preview version it's likely some`TestHttpClientBase` features are still unavailable.

Perhaps try using a [TestPlanHttpClient](https://docs.microsoft.com/dotnet/api/microsoft.visualstudio.services.testmanagement.testplanning.webapi.testplanhttpclientbase.createtestplanasync?view=azure-devops-dotnet-preview) until the build is released?

[2019-10-14 07:01] razidare opened #5969 "Azure Pipelines - run vs artifact retention"
Hello,

We use Azure Pipelines (enabled preview feature `multi-stage pipelines` for our organization) and we create [pipeline artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops) for each run. We plan to use `az pipelines runs artifact download` command from `az cli` in a different process and the question is, what's the rete

[2019-10-14 07:22] TimThrill opened #5970 "Visual Studio Test task does not support .NET Core 3.0"
In the "otherConsoleOptions", it does not support target to .NET Core 3.0.
Reference: [link](https://docs.microsoft.com/en-us/previous-versions/jj155796(v=vs.140)?redirectedfrom=MSDN)
Do you have any plan to update this tool to support .NET Core 3.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bd8dd1-7650-8c18-255

[2019-10-14 07:53] Sirlupinwatson1 commented on #5628
Hi, What you mean by own server jobs ? You mean a bot is taking an action to do something ? You can do what you want its possible with the command line

[2019-10-14 07:57] htho opened #5971 "How to create YAML Pipelines with Azure DevOps Server (on-premise)"
I work with Azure DevOps Server (on-premise) at my job.
I can't find a way to create and run a pipeline. There are some missing links.

I created a `azure-pipeline.yml` in a TFS git repo, but there seems to be no link to the server interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7336a04e-5b38-d02f-8bba-a55445

[2019-10-14 08:22] maxim-lobanov opened #5972 "Ability to skip stage or trigger particular stage manually in Multi-stages pipelines"
Hello everyone,
We are really excited with Multi-stages pipeline experience and possibility to store Pipeline structure via YAML. However, there is a limitation that prevents us to use this approach and hold us on classic release definitions: impossibility to trigger specific stage by manual click.

On classic release definition we have the following abilities:
(Imagine that you have pipeline with

[2019-10-14 09:05] sunahe opened #5973 "Identity field rules documentation seems incorrect"
According to section "Rules that cause a string field to be considered an identity field", a string field is recognized as an identity field when you specify one of the following rule elements within its FIELD definition: ALLOWEDVALUES, PROHIBITEDVALUES, VALIDUSER

This cannot be right: many built-in string fields have ALLOWEDVALUES and are not considered identity fields. For example, Value area f

[2019-10-14 10:08] kishoregp commented on #5272
Any update on this?

[2019-10-14 10:51] jjpepper opened #5974 "Conversation Replies from Azure Devops CI/CD task"
Hi, it seems strange to me that there is 3rd party support for azure devops tasks that send telegram messages (say when your build fails), but there is no such thing for sending a message from Azure Devops to MS Teams conversations.  I imagine this should be pretty trivial and I wonder if it's on the roadmap for anyone?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-14 12:01] simpers commented on #5272
My work-around was not that dramatic as I already had a script that creates the value, so I just rerun it later in the new stage(s), but it does not feel elegant to have to do that.

[2019-10-14 13:14] itsjusth opened #5976 "Reference Build Tags with Variable"
I am able to add a Build tag and use it for filtering in my Release pipeline triggers, however, I do not see any way to reference this tag via an environment variable for my scripts.  Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda

[2019-10-14 14:07] jespersh commented on #1599
The doc is now at https://docs.microsoft.com/en-us/azure/devops/pipelines/process/run-number

[2019-10-14 14:38] Justin-DynamicD commented on #5272
As far as I can tell, there is no way to natively move variables between stages as they are effectively as separate as classic build and release pipelines.  As such the only real option is to treat them like config settings that need to be bundled with an artifact and save them as a json or similar to re-import into later stages as needed.

The biggest "hang up" for me personally is that it means

[2019-10-14 15:22] mwasplund opened #5977 "Docs seem out of date with use of always_exclude and sparse-checkout"
It appears as if the documentation on this page is out of date:
https://docs.microsoft.com/en-us/azure/devops/learn/git/gvfs-architecture

It says that gvfs uses always_exclude and sparse-checkout, however when doing testing it was not doing what I expected. I also found a task that mentions that GVFS has transitioned over to using something called Modified paths:
https://github.com/microsoft/VFSF

[2019-10-14 15:27] katlimruiz commented on #5876
I second this. The problem in my opinion is because neither the build nor the job are marked as "hold" or something similar. Currently is "Waiting" (and even the icon shows it like that), that is why it "times out" when 14 days passed.

[2019-10-14 16:29] wimhollebrandse commented on #5427
As per lee0c above, this is a real pain if you are referencing common variables in a YAML file and you have suffixed them with environment name in order to get hold of the correct resource names in your release template. This still fails as of October 14th 2019.

[2019-10-14 17:26] cmeyertons opened #5978 "Azure YAML Multi-stage pipeline artifacts missing from this page"
We are currently receiving the following error in our new multi-stage pipeline.

What are the domains that we need to whitelist in order to resolve?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5a4cfa-aa84-9f0f-55f4-71ec4861c070
* Version Independent ID: d621620a-c924-03b1-8b43-f99c33e58bb8
* Content: [Add

[2019-10-14 17:33] melezhik opened #5979 "How to manage permissions to run azure devops pipelines and permissions change variable groups pragmatically?"
I am reading through this documentation - https://docs.microsoft.com/en-us/rest/api/azure/devops, I can't see a clear answer on how one can manage permissions to run pipelines and edit variable groups through the Rest API.

[2019-10-14 17:40] msebolt commented on #5956
@swonge Thank you for the question.

I think your only option is to validate the user input and cancel the build if either no input or the wrong type of input is given.

If this is a feature you'd like to see implemented, please use the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-10-14 17:46] msebolt commented on #5957
@swonge  Thank you for the question.

Yes, please refer to the `Get` operation in the [Definitions API](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/definitions?view=azure-devops-rest-5.1).

[2019-10-14 18:13] deadlydog opened #5980 "How to show Deployment control on hosted xml process work items"
If you're using an Inherited process model the Deployment control shows up on your work items by default, but not when using a Hosted XML process model. Some instructions on what XML needs to be modified to show the Deployment control on works items is currently missing from the docs and would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-14 18:21] msebolt commented on #5964
@syndicatedshannon Thank you for the feedback, assigning this to the author for review.

[2019-10-14 18:23] msebolt commented on #5963
@syndicatedshannon Thank you for the feedback, assigning this to the author for review.

[2019-10-14 18:29] msebolt commented on #5966
@HughDevlin Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-10-14 18:39] vtbassmatt commented on #5427
This has to do with what variables are available during template compilation. We're looking at opportunities to improve this, but don't have anything concrete on the backlog right now. CC @zachariahcox

If you want to have an official place to track this as a feature request, you can file it on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) ("suggest a feat

[2019-10-14 18:50] msebolt commented on #5962
@techpassion  Thank you for the question.

Not necessarily, for any sort of custom containerization you will need a [custom Kubernetes resource definition](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-custom-objects).

For an example of the Azure container, see the [Kubernetes walkthrough](https://docs.microsoft.com/en-us/azure/aks/kub

[2019-10-14 19:34] davidknise opened #5981 "YAML support for Multiplier from a Build Variable"
In our Classic pipelines, we specificy $(Configuration) as a multiplier which defaults to all of our potential configurations. Sometimes, we just want to run a smaller subset of those configurations, so we set the build variable on queue to something smaller.

With the Matrix approach here, it seems as though we are stuck hard coding all of the values? Is there a way that we can specify a Matrix j

[2019-10-14 19:54] KathrynEE commented on #5936
@huntleyh - thank you for the feedback. I will update the article. This isn't a supported feature in Azure DevOps Services and there is no plan at this time to support it in the cloud service.

[2019-10-14 19:54] #5936 closed

[2019-10-14 19:56] #5903 closed

[2019-10-14 19:57] KathrynEE commented on #5885
@INPVIR - Thank you for the feedback. I'll be updating the article screenshots to avoid confusion within the next 2 days.

[2019-10-14 19:57] #5885 closed

[2019-10-14 19:58] htho commented on #5628
My issue is about [build tasks](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/tasks?view=azure-devops&tabs=yaml) in the azure build pipeline.
I found a document that describes how to create server tasks. maybe it should be referenced from here?

https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/authoring/servertaskauthoring.md

[2019-10-14 19:58] StingyJack commented on #5828
@msebolt - This got closed with no information added to it. I would assume then that the docs are correct and that a bug exists somewhere in the pipelines that will be getting fixed so the better names are present. Please confirm.

[2019-10-14 19:59] KathrynEE commented on #5869
@frozenskys 	- Thank you for the feedback. I'll correct the article accordingly.

[2019-10-14 19:59] #5869 closed

[2019-10-14 20:02] KathrynEE commented on #5855
@freljung - Agree that this is confusing. I will update the article to remove the confusion.

[2019-10-14 20:02] #5855 closed

[2019-10-14 20:03] #5919 closed

[2019-10-14 20:05] WilliamAntonRohm commented on #5710
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-14 20:05] #5710 closed

[2019-10-14 20:06] #5007 closed

[2019-10-14 20:10] KathrynEE commented on #5847
@vijay-gowda - Apologies for the confusion, and thank you for your feedback. The second point is true and I'll be updating the article to remove the following statement - which is not accurate:

[2019-10-14 20:10] #5847 closed

[2019-10-14 20:29] pictoric commented on #3126
Same question, the lack of a webjob examples seems to indicate it isn't possible without a lot of custom scripting.

[2019-10-14 20:41] W0GER opened #5982 "Q&A Section implies this can be used on Linux and macOS"
The Q&A Section contains the question "Do I need an agent?" with an answer "You need at least one agent to run your build or release. Get an agent for Linux, macOS, or Windows."

Expected: The answer implies that the task can be run on Linux and macOS.
Actual: When run on a macOS the task returns the error "The current operating system is not capable of running this task. That typically means the

[2019-10-14 21:31] msebolt commented on #5959
@cawoodm Thank you for the question.

Deployment group jobs do not yet support YAML.

Please refer to [Deployment group jobs (classic)](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-group-phases?view=azure-devops&tabs=classic) for information on how to configure these through the UI or see https://github.com/MicrosoftDocs/vsts-docs/issues/4486 on the status of having t

[2019-10-14 21:35] msebolt commented on #5961
@cawoodm Thank you for the question.

Yes, `dependsOn` is available in a deployment job.  Please refer to [Deployment jobs](https://docs.microsoft.com/azure/devops/pipelines/process/deployment-jobs?view=azure-devops).

[2019-10-14 21:42] KathrynEE commented on #5869
@frozenskys - I've updated the article to remind users to select the version for Azure DevOps that they are interested in. If you select an on-premises version - you'll see content for the Active Directory Domain Services.  If you believe that there is still missing information, please reopen this issue and add a comment.

 **Important**

To view the content available for your platform, make sure

[2019-10-14 22:04] msebolt commented on #5965
@syndicatedshannon Thank you for the question.

By definition build completion triggers aren't directly associated with commits, only previous build information.

With the [Builds API](https://docs.microsoft.com/rest/api/azure/devops/build/builds/get?view=azure-devops-rest-5.1) you can reference the `triggeredByBuild` information and then make another request for that builds `triggerInfo` and get

[2019-10-14 22:05] leantk commented on #5516
@altendky like Brian mentioned we have the link to the different hosted agent images and then from there you can drill down into the specific one you are using and see the versions there. Is there more information that you would like to see in the list of version info? Is there a way we could make it clearer? We don't have the direct version info on this page just because it's hard to keep the inf

[2019-10-14 22:12] msebolt commented on #5828
@StingyJack The change above only reflects the most recent list of images, to get the names changed please try the [azure-pipelines-image-generation](https://github.com/Microsoft/azure-pipelines-image-generation/issues) repo.

[2019-10-14 22:18] msebolt commented on #5968
@firmsoil  Thank you for the question.

Please see if either the [Build Definitions](https://docs.microsoft.com/rest/api/azure/devops/build/definitions?view=azure-devops-rest-5.1) or [Release Definitions](https://docs.microsoft.com/rest/api/azure/devops/release/definitions?view=azure-devops-rest-5.1) API suits your needs and comment below if there are issues.

[2019-10-14 22:19] msebolt commented on #5969
@razidare Thank you for the feedback, assigning this to the author for review.

[2019-10-14 22:21] msebolt commented on #5970
@TimThrill Thank you for the question.

Unfortunately this is more of a question for the product team to address.

Please move this issue to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo.

[2019-10-14 22:24] TimThrill commented on #5970
I think I found a solution to do this. Thank you. I'll close this one.

[2019-10-14 22:24] #5970 closed

[2019-10-14 22:26] msebolt commented on #5971
@htho  Thank you for the feedback.

What exactly are you seeing in the DevOps menu?

You should be able to create a new pipeline like the following:

![Capture](https://user-images.githubusercontent.com/6675884/66786953-f259fe80-ee96-11e9-925a-daf1a72d36f8.PNG)

[2019-10-14 22:33] msebolt commented on #5972
@maxim-lobanov Thank you for the feedback.

Until the product team moves to GitHub, any use-case must be submitted through the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

Please submit your idea there and link back to this issue.

[2019-10-14 22:46] msebolt commented on #5974
@jjpepper  Thank you for the interest.

For current Teams support, please see [Team service hooks](https://docs.microsoft.com/en-us/azure/devops/service-hooks/services/teams?view=azure-devops) or [Integrate Teams and Azure DevOps](https://www.azuredevopslabs.com/labs/vstsextend/teams/).

Please comment below if these features are limiting in some way.

[2019-10-14 23:12] msebolt commented on #5973
@sunahe Thank you for the feedback, assigning this to the author for review.

[2019-10-14 23:55] msebolt commented on #5976
@itsjusth  Thank you for the question.

Currently, the only way to do this is through the `Build.SourceBranch` or `Build.SourceBranchName` variables, see [this post](https://stackoverflow.com/questions/56302207/is-it-possible-to-pass-in-a-git-repo-tag-to-an-ado-build-pipeline-as-a-variable).

If you need something more robust, please start dialog with the product team through the [Azure DevOps com

[2019-10-15 00:12] clix455 commented on #5920
Thank you there, any update on this query?

[2019-10-15 02:47] rernst-IQ opened #5983 "Add State Previous DAX Code Does Not Work"
The DAX code for the Add State Previous example is not working. Based on the DAX docs LOOKUPVALUE expects a scalar value for the search_value parameter. search_value can not refer to any column in the current table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c046b7-9bc7-2b63-9401-72af0e1a577e
* Version Independen

[2019-10-15 03:04] rernst-IQ commented on #5983
I'm working on finding an alternative formula, but I am by no means a DAX expert. If I find something I can make a pull request.

[2019-10-15 04:51] maxim-lobanov commented on #5972
[Done](https://developercommunity.visualstudio.com/idea/777126/ability-to-skip-stage-or-trigger-particular-stage.html), thanks!

[2019-10-15 04:54] msebolt commented on #5977
@mwasplund Thank you for the feedback, assigning this to an author for review.

@thomps23 The author's alias is missing, can you assign this accordingly?

[2019-10-15 05:09] msebolt commented on #5978
@cmeyertons  We're sorry you're experiencing issues.

Unfortunately, the product team is more apt to handle support requests.

However, there is an issue similar to what you describe above being tracked [here](https://developercommunity.visualstudio.com/content/problem/694835/download-artifact-failing-with-error-about-a-conne.html) on the [Visual Studio community](https://developercommunity.visual

[2019-10-15 05:20] msebolt commented on #5979
@melezhik  Thank you for the feedback.

Given the extent of available options in Azure DevOps it's hard to reference every scenario.  Perhaps try the API search feature?

![Untitled](https://user-images.githubusercontent.com/6675884/66802258-b3489f00-eed0-11e9-8b31-e2ceb9535de5.png)

For pipelines, please refer to [Build](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/?view=azure-dev

[2019-10-15 05:21] msebolt commented on #5980
@deadlydog Thank you for the feedback, assigning this to the author for review.

[2019-10-15 05:22] syndicatedshannon commented on #5965
@msebolt Thank you Matthew, appreciate you educating me directly. Those both sound like excellent solutions to the particular deterministic result I'm trying to achieve.

Is [this (Variable Groups)](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#share-variables-across-pipelines) what you mean by **Shared Variable** ? If so, I thought I

[2019-10-15 05:25] msebolt commented on #5981
@davidknise Thank you for the question, assigning this to the author for comment.

[2019-10-15 05:26] danielstefanescu opened #5984 "missing examples"
"You can access Analytics through dashboard widgets, in-context reports, Power BI, and OData" please provide some examples of **in-context reports**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0618890e-ee0d-73b5-bdb9-f04355662dd8
* Version Independent ID: e0fbbecb-1e51-63fd-8396-3cc5bbc100bc
* Content: [What is Anal

[2019-10-15 05:32] msebolt commented on #5982
@W0GER Thank you for the feedback, we're sorry you had to experience these issues.

Assigning this to the author now for review.

[2019-10-15 05:54] tonkon commented on #5211
The error is still there if no Env:AZP_WORK is provided. Should test both Env:AZP_WORK and $Env:AZP_WORK.

[code]

[2019-10-15 05:57] #5927 closed

[2019-10-15 06:10] harishkragarwal commented on #5932
Hi,
Being able to export test cases is yet to be added to the new test page. It is planned and is stated at https://docs.microsoft.com/en-us/azure/devops/test/new-test-plans-page .

The grid has been enabled on the new page and you use it to copy test cases.

Thanks, Harish

[2019-10-15 06:10] #5932 closed

[2019-10-15 06:13] harishkragarwal commented on #4901
It is yet to be implemented. However, its planned to be added to the new test plans page.

[2019-10-15 08:44] tomaustin700 opened #5985 "Need more details about Service Health REST API"
Hi,
The page says stay tuned for more info about the service health REST APIs. Have you got more info about this?

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f2bb3a-6619-88c0-ba29-23af30fcb301
* Version Independent ID: 0ede4455-b1df-ffef-743f-126a5e9a1a00
* Content: [Azure DevOps Service Status Documentat

[2019-10-15 09:43] JonnerG commented on #5871
Completely agree on this - the JSON file is useless.  Has anyone successfully managed to find an IP range for their region which they could whitelist?  If so please share!

[2019-10-15 10:45] anouarattn commented on #3118
same issue guys here, any solution ?

[2019-10-15 10:50] zufengxu commented on #3118
give it a try using syntax like this :

${{ variables.tag }}

[2019-10-15 10:55] anouarattn commented on #3118
not working,
even ${{ $(variables.tag) }} or ${{ '$(variables.tag)' }}

thank you

[2019-10-15 11:55] rogersillito commented on #5327
I got this working after a lot of searching through source code, trial and error - and general frustration.   The docs here are nowhere near good enough and it looks like I'm not alone in finding this difficult to configure as a result.

For 'knownHostsEntry', (having followed "Example setup using GitHub" above) you need to copy the line that ssh-agent inserts into your known_hosts file once you'v

[2019-10-15 13:01] ceddlyburge opened #5986 "Pull request preview deploys when there are multiple open PRs"
Hi There, this pages gives instructions for Pull Request preview deploys, but it looks like you have to set up a specific Slot or App Service to deploy to. This means that if there is more than one open Pull Request then the last one will overwrite the previous one. Heroku and Netlify (and I'm sure others) create an entirely new deployment for each Pull Request preview. I think that this isn't pos

[2019-10-15 13:24] #5835 closed

[2019-10-15 14:34] SanderHolvoet opened #5987 "Azure Repos points to broken link"
The *Version Control control panel tab* in Azure Repos currently points to a broken link:
[code]

The _DefaultCollection_ should be omitted, as this is only applicable for TFS:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 024e4ed9-cf8d-155f-5e4a-73c2effaaed8
* Version Independent ID: f19c0538-4aae-b3b4-82b9-42

[2019-10-15 14:36] 24mu13 opened #5988 "Specify you cannot run as a service as root"
As you noticed [here](https://developercommunity.visualstudio.com/content/problem/759666/linux-deploy-agent-does-not-use-correct-environmen.html) you cannot run the agent as a service as root.
What about specifying this requirement here?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23328b13-f079-ad21-5d7a-6

[2019-10-15 15:10] trickydisco78 commented on #2366
hi, I',m also wanting to do this. trigger a gatsby build from a webhook from prismic.

[2019-10-15 16:21] danhellem commented on #5980
@msebolt - I don't work at Microsoft anymore. Please reach out to Martina for this.

[2019-10-15 17:08] #5972 closed

[2019-10-15 17:18] RavulaChetan opened #5989 "Getting Error: Failed to deploy web package to App Service. Error: socket hang up deploying to App Service"
Hi

I am using Azure DevOps pipeline to deploy to App Service. I am using on-prem agent.I am getting below error on deployment

_Error: Failed to deploy web package to App Service. Error: socket hang up._

I have DEBUG on but dont have much additional logs then below

019-10-15T16:42:01.6281618Z Applying JSON variable substitution for appsettings.json
2019-10-15T16:42:01.6294522Z Applying JSON var

[2019-10-15 17:22] tashrifbillah commented on #5533
@WilliamAntonRohm , referencing my issue here since I am also looking for the best practice of building and running test of a Docker container.

https://github.com/MicrosoftDocs/vsts-docs/issues/5949

[2019-10-15 17:35] fiksen99 opened #5990 "How can I look up the admin of an org that I don't have access to?"
Navigating to an Azure DevOps organisation that I don't have access to indicates that I need to reach out to the admins of the org to get access. But without access to the org, I have no way to find out who the admin is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dce3f1-1133-3084-c5f4-7a5d6d0d6cf8
* Version Indep

[2019-10-15 17:47] WilliamAntonRohm commented on #5956
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 17:47] #5956 closed

[2019-10-15 17:49] msebolt commented on #5980
@danhellem  Thank you for the update.

@thomps23 Can you have this article re-assigned?

[2019-10-15 17:59] melezhik commented on #5979
Hi @msebolt , I refined the issue title I meant only permissions. I am already though https://docs.microsoft.com/en-us/rest/api/azure/devops/security , but IMHO the documentation is not that clear and does not cover many aspects of managing permissions through the RestAPI

[2019-10-15 18:20] trycatchdonothing opened #5991 "Cloning Git Repo and Commits"
1) With having only one repo with a bunch of subfolders, do users end up cloning the entire repo to their local machines?
2) When users work on individual projects within the repo, are changes still committed all under one "master" branch, or do you have a "master" for each component?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-15 19:03] WilliamAntonRohm commented on #5957
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 19:03] #5957 closed

[2019-10-15 19:04] WilliamAntonRohm commented on #5959
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 19:04] #5959 closed

[2019-10-15 19:04] WilliamAntonRohm commented on #5961
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 19:04] #5961 closed

[2019-10-15 19:33] StingyJack commented on #3126
@pictoric - I have webjobs that are not part of any webapp. The way we found to deploy these using the app service task is to create a virtual application on the app service, and then direct the app service task to use that virtual app.

The virtual app path's (in the configuration page of the app service) target path should match the app data location for the type of webjob (triggered or continuo

[2019-10-15 19:51] pictoric commented on #3126
@StingyJack Are you using webdeploy or zipdeploy?    I actually solved this a different way:
* publish artifact which is a zip file containing the published build (build pipeline)
* Deploy script downloads artifact and unzips it into a path like pipeline-artifacts\App_Data\jobs\continuous\mywebjobname
* Rezips the files so it maintains the structure and then zip publish this to the web app

I coul

[2019-10-15 19:53] rsch006 opened #5992 "CD Triggers in Yaml"
Could someone point me to the documentation which tells about configuring CD triggers/stage triggers in YAML for releases?

[2019-10-15 19:58] chcomley commented on #5899
Hi @dengyakui, I'm following up on your request and will be in touch. Thank you for reaching out.

[2019-10-15 20:02] rernst-IQ opened #5993 "Add State Changed example DAX is incorrect"
The line: 'View Name'[State Previous] &lt;'View Name'[State] appears to be incorrect.
I think it should be: 'View Name'[State Previous] &lt;&gt; 'View Name'[State]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c046b7-9bc7-2b63-9401-72af0e1a577e
* Version Independent ID: d9d85ca9-74ba-63bd-0edf-8f95754d4991
* Content

[2019-10-15 20:05] StingyJack commented on #3126
Neither; I have an inline powershell script in the build pipeline that copies the project output for each webjob into its own artifact staging folder.

The release pipeline just copies each of those artifact folders to the virtual application specified in each of the the app service deployment tasks.

The zip deploy seems harder to troubleshoot for missing files or config issues. Maybe it's not, i

[2019-10-15 20:09] #4087 closed

[2019-10-15 20:17] xoac commented on #5844
They can have `-`. You need just to call them like this `${{ parameters['my-variable-with-dashes'] }}`. so parameters[`resource-group`] will work as expected.

[2019-10-15 21:00] Dede24 opened #5995 "Export and select several suites when create requierement -based suites"
In your "new test plans page", you indicate that export will be added in 3 weeks. Did you have an approximative date that this option "Export" is available.
Other question, when we create a "New suite" with "Requirement based suites", it isn't possible to select many US, in the old view it was possible. Will be possible to add this option in the new view.
Thank you

---
#### Document Details

⚠ *D

[2019-10-15 21:56] mydiemho opened #5996 "[Doc] Update doc for Version 1"
Version 1 is out, can we get an updated document please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b12d2c4-f871-1d14-0c16-91e58fb1130b
* Version Independent ID: 6b9e1d67-f303-7445-e573-830309ba49a4
* Content: [GitHub Release task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/uti

[2019-10-15 22:12] DmytryEmery opened #5997 "no description for Template location"
Currently reads:
Template location	(Required) undefined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59ea95e-b51a-e529-37a8-215e383c9a0b
* Version Independent ID: f1afdb0e-f090-3193-9bb8-ce5952016768
* Content: [Azure Resource Group Deployment task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pip

[2019-10-15 22:49] katlimruiz opened #5998 "How to set a configuration key for a slot?"
I have two slots: production and pre-prod.
I want to add config WEBJOBS_STOPPED=1 to pre-prod, but on production set WEBJOBS_STOPPED=0.
This so the pre-prod slot does not run its webjobs.
How can I do it with yaml task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c94df7-9de9-ea1a-8b77-d1e6023694dc
* Version Indepe

[2019-10-15 22:55] dparkar opened #5999 "In a release in Azure Pipelines, Build.BuildId is a hash, not an integer as shown in documentation"
I was attempting to use "Build.BuildId" in a release pipeline in a Azure pipeline. Build.BuildId maps to Release.Artifacts.{alias}.BuildId as per here :

![image](https://user-images.githubusercontent.com/208161/66875638-e38d4d80-ef63-11e9-98c8-ab00860433b1.png)

which in turn is suppose to look like "130" for Azure pipelines.

![image](https://user-images.githubusercontent.com/208161/66875569-a0c

[2019-10-15 22:57] manuchandel commented on #2353
Cannot see this link of creating a helm chart. Can you post actual link, instead of image? That will be helpful. Also according to current documentation, process of helms chart is not going through. Cannot create a successful release because of helm charts.

[2019-10-15 23:02] manuchandel opened #6000 "Helm chart creation not happening. No docs on creation."
This is in regard to this issue #2353. In the docs https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-aks?view=azure-devops&tabs=python  There is no such link in the current docs as mentioned in the original solution.  Following the documentation, I cannot create a release because it fails giving helms chart error. It cannot find gzip file in the path mentioned in the documents

[2019-10-15 23:08] WilliamAntonRohm commented on #5949
@tashrifbillah -- Tashrif, thank you for clarifying.

@shashankbarsin -- Shashank, please look into this documentation possibility.

[2019-10-15 23:11] WilliamAntonRohm commented on #5533
@stharrold, @tashrifbillah -- Samuel, Tashrif, thank you for your feedback and interest.

@shashankbarsin -- Shashank, please look into this issue 5533.

[2019-10-15 23:15] WilliamAntonRohm commented on #5976
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 23:15] #5976 closed

[2019-10-15 23:17] WilliamAntonRohm commented on #5966
Thank you for your feedback.  We have updated the documentation and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 23:17] #5966 closed

[2019-10-15 23:25] WilliamAntonRohm commented on #5978
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 23:25] #5978 closed

[2019-10-15 23:35] WilliamAntonRohm commented on #5983
@rernst-IQ -- thank you for your feedback and researches.

@thomps23 -- please look into this issue 5983.

[2019-10-15 23:40] WilliamAntonRohm commented on #5985
@tomaustin700 -- Tom, thank you for your feedback.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-10-15 23:43] WilliamAntonRohm commented on #5989
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-10-15 23:43] #5989 closed

[2019-10-16 01:06] WilliamAntonRohm commented on #5986
@ceddlyburge -- Cedd, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @raiyanalam -- Raiyan, please look into this potential documentation issue 5986.

[2019-10-16 01:10] WilliamAntonRohm commented on #5992
@rsch006 -- perhaps this may help: https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml

In addition, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I

[2019-10-16 01:10] #5992 closed

[2019-10-16 02:29] BlairMcc opened #6001 "Parameter Condition does not work with contains?"
Here is my job condition
` condition: contains('${{ parameters.projects }}', 'customer')`

And here is the output in when the build is run

Am I doing something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Con

[2019-10-16 03:23] msebolt commented on #5818
Closing the issue now, for a related issue see https://github.com/MicrosoftDocs/vsts-docs/issues/5928.

[2019-10-16 03:23] #5818 closed

[2019-10-16 05:01] harishkragarwal commented on #5995
Hi, both capabilities are likely are reach production around end of Nov.

[2019-10-16 05:01] #5995 closed

[2019-10-16 06:04] msebolt commented on #5965
@syndicatedshannon No problem, thank you for the feedback.

No, you're correct.  I was thinking **Variable groups** and was unaware the feature was missing.

For future reference, see https://github.com/MicrosoftDocs/vsts-docs/issues/5652.

[2019-10-16 06:17] msebolt commented on #5979
@melezhik Thank you for the clarification, assigning this to the author for review.

For now, please refer to [Pipeline permissions](https://docs.microsoft.com/azure/devops/pipelines/policies/permissions?view=azure-devops#pipeline-permissions) and [Security roles](https://docs.microsoft.com/azure/devops/organizations/security/about-security-roles?view=azure-devops#library-asset-security-roles-vari

[2019-10-16 06:51] vishnuprakash9845 opened #6002 "Its not issue, Need small help to run the Visual Studio Test on custom conditions"
I created a new build pipeline which has 4 visual studio test task, I want to run Task 3 and 4 only when Task 2 gets passed else need to skip the Task 3 and 4.

Can any one help me on this issue how to use custom condition to achieve this

![image](https://user-images.githubusercontent.com/24207575/66894959-57d0fb00-f00f-11e9-9729-ddd20f4e683b.png)

[2019-10-16 09:10] BiribiriJaNai opened #6003 "Using these librairies behind a proxy"
Hi, is there any documentation on how to use these libraries behind a proxy?
I already opened a issue [here](https://github.com/microsoft/azure-devops-dotnet-samples/issues/230)... Do I really have to contact a PM each time I need an answer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa8505e8-cef0-fee8-866a-e000058

[2019-10-16 10:05] tomaustin700 commented on #5985
@WilliamAntonRohm Shouldn't the docs be updated to list the API details? Saying that a REST API is provided but stay tuned for more details isn't really good enough.

[2019-10-16 10:54] tesharp opened #6005 "Could rejection not fail the pipeline?"
To prevent every push to trigger an update of infrastructure we have put approvals in place to validate the changes. Rejecting a change can simply be because we do not want change out yet, but we still want to check that changes are ok (terraform plan looks good). It is a bit annoying when the pipeline then shows as failed and our success rate is quite poor. Could rejection have a different status

[2019-10-16 10:56] tesharp opened #6006 "Conditions evaluated after approvals"
To stop every push to trigger a deployment we added conditions to deployment job to only run in master. However looks like conditions are evaluated after checks, so after approval it runs conditions and then stop deployment since condition is false. Could it check condition first to check if this job should even run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-16 11:23] syndicatedshannon commented on #5652
I would like to pass information from an ancestor triggering build, such as the authoritative commit ID or the build ID holding the authoritative artifacts, and it could be solved by this issue.

@sasanmcp what did you have in mind for the scope of the variable change? if you alter it, is it permanent, and does it affect other runs started concurrently? if so, it would be subject to race condition

[2019-10-16 12:21] SanderHolvoet commented on #5987
@WilliamAntonRohm Created PR #6007

[2019-10-16 12:21] jamesjnadeau opened #6008 "There is a **not always** 2000 character limit recognized by browsers."
I believe that 2000 character limit should be warned about, but it is not a hard stop. According to RFC 2616 (Hypertext Transfer Protocol HTTP/1.1) section 3.2.1 says:
[code]
Perhaps supplying information on what the Azures servers limits are would be helpful?

Most clients today support much more than a 2K limit. I think you should reword the Tip:
[code]
to
[code]

---
#### Document Details

⚠ *D

[2019-10-16 12:32] spiraljacobs commented on #2366
Ditto - any way to do this?
Want to trigger a build when content is pushed to prismic.

[2019-10-16 12:34] x10an14 commented on #3702
+1 We would also be in favor of the utmost celerity (hehe) in the addition of this feature! =)

[2019-10-16 13:33] juliakm commented on #5714
@Julio-Guerra I've reached out for more information on the requirements and will let you know when there is an update.

[2019-10-16 13:54] Julio-Guerra commented on #5714
###

[2019-10-16 14:36] livehands opened #6009 "Need Azure DevOps Locations"
Add Links to the Azure DevOps Locations available worldwide.  Needed to find the locations for a customer in UK but when I search this is the document that shows so a "Other Resources" section which has a link to the listing of the locations available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be194f45-05b2-8421-1

[2019-10-16 15:40] nezoic commented on #3865
@RobertoBorges I think I can help as I just had this conversation with my team. We are using Issues specifically when a story is blocked/impeded by some "issue". Example: "Waiting on security for xyz" or "need infrastructure in place for xyz. Anything the prevents a story from being in a "Ready to work" state that is NOT a story dependency is an issue. These are typically things you can assign to

[2019-10-16 15:51] danhellem commented on #5980
I assigned to @MartinaMS. She will be able to help

[2019-10-16 16:09] CJBS opened #6010 "TFS GIT Pull Request - shortcuts"
I don't see the shortcut for adding a comment to a file. There's an icon for doing so, and I know there's a shortcut because I've used it before, but I can't remember it. It seems this page is the place where it should be listed. Please add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2fe0af-744d-e535-b300-8d10

[2019-10-16 16:18] zarochi commented on #4486
@dotnetcanuck that's a clever solution. I didn't realize you could target a machine in the pool. I was going to just make different pools and have one machine per pool then do the same thing and have a stage for each of the pools. I like your way much better. Powershell remoting has been doing the trick for me so far, but it's going to be a bit of a pain to maintain.

[2019-10-16 16:20] msebolt commented on #5990
@fiksen99  Thank you for the question.

You will need at minimum basic access to see this information, please refer to these [FAQ](https://docs.microsoft.com/azure/devops/organizations/accounts/faq-change-organization-ownership?view=azure-devops).

Private repos with no access allow no information to be accessed, unless alternatively an organization decides to create a public facing wiki, help pag

[2019-10-16 16:22] msebolt commented on #5996
@mydiemho Thank you for the feedback, assigning this to the author for review.

[2019-10-16 16:40] msebolt commented on #5997
@DmytryEmery Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-10-16 16:46] chasewilson commented on #3624
This sounds like a product issue, as I believe this should work. Have you reached out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) to see if they have any response? @pulkitaggarwl are you aware of any updates I should make here?

[2019-10-16 17:02] chasewilson commented on #3415
@elbatk Can you verify this?

[2019-10-16 17:08] msebolt commented on #5998
@katlimruiz Thank you for the question.

If you don't mind including a [Azure CLI task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops), you can make a call to [az webapp config appsettings set](https://docs.microsoft.com/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az-webapp-config-appsettings-set).

Please comment if there are issues with

[2019-10-16 17:11] chasewilson commented on #3834
@Paul-Dempsey Thanks for the question and I'm sorry for the late response. I believe the answer to your question is to use the Azure CLI. You can see the documentation for that here. https://docs.microsoft.com/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops#download-a-universal-package

Feel free to open a new issue or respond here is you have any more ques

[2019-10-16 17:15] msebolt commented on #5999
@dparker  Thank you for the feedback, assigning this to the author for review.

[2019-10-16 17:17] chasewilson commented on #3685
@yaananth Thanks for the feedback. It's not a publicized feature and removed in future versions. If it is something you might like to see as a feature or a similar feature, you can reach out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) if you want to put out a feature request.
Feel free to open a new issue if you have any more questions.

[2019-10-16 17:19] moswald commented on #3685
@chasewilson I think you have that backward, maybe. The feature is live for everyone now, where it used to only be turned on by a feature flag upon request.

[2019-10-16 17:24] chasewilson commented on #3685
Whoops @moswald Thank you! I did misread it that's my fault I'll get it added in right away! Thanks for the quick catch!

[2019-10-16 17:28] Paul-Dempsey commented on #3834
yes, the whole point is to do this without the CLI.  If you look at the TOC under **Artifacts Package Types**, All of the Package types _except_ Universal  have a page named **Download Package**. Since the other nodes are actually calling the same API, it may be simply a matter that you're missing the corresponding page for Universal packages, but I took it to mean that you couldn't download Unive

[2019-10-16 17:34] grlima commented on #3869
Regarding the version 4 Preview - It looks like the module Az.ManagedServiceIdentity is not automatically installed with AZ . See https://github.com/Azure/azure-powershell/issues/8555 for details.

Can this task be updated so it also installs that module?

[2019-10-16 17:50] msebolt commented on #6000
@manuchandel  Thank you for the feedback, assigning this to the author for review.

Some things to check in the meantime:

- Review the [Helm task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops) for missed settings and/or try working samples
- Run the [Helm Installer task](https://docs.microsoft.com/azure/devops/pipelines/tasks/tool/helm-installer?vie

[2019-10-16 18:00] spottedmahn commented on #3679
looks good 👍

Screenshot for reference:

![image](https://user-images.githubusercontent.com/14079228/66945607-54447080-f01d-11e9-9f7f-c7dfff749716.png)

[2019-10-16 18:54] ggirard07 opened #6011 ""Team Foundation Server / Azure Pipelines service connection" option not available"
I don't this is option listed in the new service connection dialog.
Only related option is `Azure Repos/Team Foundation Server`, but this connection takes a link to the external organization, not the pipeline I want to link to. Once created, it does not add any new entry in the pipeline/release creation UI (I can only access pipelines in my current organization).

Is this service connection still

[2019-10-16 18:55] melezhik commented on #5979
@msebolt  I've not found RestAPI to manage variable groups permissions, there is no even security-namespace for that, is it correct?

[2019-10-16 19:08] melezhik commented on #5979
Ah, I found, it's called 'library'

[2019-10-16 19:09] chuckatkins opened #6012 "GitHub PR trigger: checking out head vs merge"
When using PR triggers, is there a way for the checkout step to use the HEAD of the PR instead of the merge of the pr?

[2019-10-16 19:32] Slooz commented on #4946
According to this [StackOverflow answer](https://stackoverflow.com/a/57585404/559495) from Merlin Liang - MSFT, it doesn't look like multi-job output variables are supported for deployment jobs. If this is the case, the documentation should explicitly state this. I wasted all day trying to get this to work.

[2019-10-16 19:57] RoopeshNair commented on #6011
Team Foundation Server service connection is through an extension. https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.vss-services-externaltfs

[2019-10-16 19:57] #6011 closed

[2019-10-16 20:01] ArchSerpo commented on #6001
For what it is worth, this was my work around that is working as expected

In an early job I do this

- powershell: | # Work around for https://github.com/MicrosoftDocs/vsts-docs/issues/6001
         Write-Host "##vso[task.setvariable variable=localProjects;isOutput=true]${{ parameters.projects }}"
        name: setParamsToVars
        displayName: Set Params to Vars

And later in my job condition

[2019-10-16 20:26] chcomley commented on #6003
Hi @BiribiriJaNai, Thanks for reaching out. I’m only aware of this [generic guidance](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops), but it doesn’t really talk about our dotnet clients. If we did have a generic doc on auth in client libraries, we'd only include the calls client auth makes and any known limitations.

Does your corp proxy r

[2019-10-16 20:28] lmeyerov commented on #5742
@msebolt @steved0x (ping)

[2019-10-16 20:31] ggirard07 commented on #6011
@RoopeshNair `Team Foundation Server / Azure Pipelines service connection` was the name of the option, but I am looking for the `Azure Pipelines` connection part. I am not interested in the `Team Foundation Server` connection part.

How to add a service connection to an azure pipeline in an external organization now that this service connection is gone?

[2019-10-16 20:42] KathrynEE commented on #5984
@danielstefanescu - Thank you for the feedback. I will update the article to provide more details. In the meantime - you can read more about in-context reports in these articles:
- [Cumulative flow](https://docs.microsoft.com/en-us/azure/devops/report/dashboards/cumulative-flow.md)
- [Team velocity](https://docs.microsoft.com/en-us/azure/devops/report/dashboards/team-velocity.md)
- [Sprint burndow

[2019-10-16 20:42] #5984 closed

[2019-10-16 20:45] stewartadam opened #6013 "Do not use md shorthand"
please use full `mkdir` which is compatible with all platforms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14955ee9-29f2-46fe-3a8d-a42666f53ffc
* Version Independent ID: 5d417cd0-a671-ee30-8fca-5f8b0addd328
* Content: [Develop a web extension for Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/e

[2019-10-16 20:56] WilliamAntonRohm commented on #5987
@SanderHolvoet -- Sander, thank you for your contribution.

@steved0x -- Steve, I'm assigning this to you to go with Sander's PR.

[2019-10-16 21:22] KathrynEE commented on #5836
@spashx 	- Thank you for your inquiry.  I'm updating the text to reflect the following:

**Feature availability**:  The Hosted XML process model is only supported for organizations that have been migrated to Azure DevOps Services using the [TFS Database Import Service](https://aka.ms/TFSDataImport).

The Hosted XML process model  was created to support organizations who wanted to be on Azure DevOp

[2019-10-16 21:22] #5836 closed

[2019-10-16 21:33] brownkevg opened #6014 "Typo/Documentation issue"
Section in documentation above gives this example
[code]
Should be
[code]
missing '-'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Build pipeline triggers - Azure Pipelines](https://docs.microsoft.com/en-us

[2019-10-16 21:47] msebolt commented on #6001
@ArchSerpo  Thank you for the question and posting a reliable work-around.

Can you also include the YAML that sets the parameter?

[2019-10-16 21:52] Victor-Savu commented on #4946
Actually, what you are trying to do is supported. You just need to pay attention to the fact that deployments are using a strategy (runOnce), so the rules from the second part of [Set a multi-job output variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-a-multi-job-output-variable) apply. In this case it is not a matrix or sl

[2019-10-16 21:53] msebolt commented on #6002
@vishnuprakash9845 Thank you for the question.

Unfortunately issues here are more geared towards concerns with the documentation.

For support requests, please try either [Visual Studio Community](https://developercommunity.visualstudio.com/spaces/8/index.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/visual-studio).

[2019-10-16 22:37] ArchSerpo commented on #6001
In my build.yml

[code]

And in template.yml

[code]

[2019-10-16 22:37] johnmbaughman opened #6015 "Markdown syntax for anchor links requires "user-content" in wiki"
The documentation shows standard Markdown syntax, but through trial and error I discovered that doesn't work.

To reach a heading like so
[code]

The syntax _should_ be
[code]

Instead, it's
[code]

Is there a reason for this? Should the really Markdown syntax work?

Thanks!

-John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-10-16 23:50] msebolt commented on #6009
@livehands  Thank you for the feedback, assigning this to the author for review.

Perhaps [data locations for Azure DevOps](https://docs.microsoft.com/azure/devops/organizations/security/data-location?view=azure-devops) is what you had in mind?

[2019-10-16 23:54] livehands commented on #6009
Yes!  That is the link that would be useful

[2019-10-16 23:58] msebolt commented on #6008
@jamesjnadeau Thank you for the insightful feedback.

The documentation has been updated as noted and is under review.

[2019-10-17 00:15] msebolt commented on #6010
@CJBS  Thank you for the feedback, assigning this to the author for review.

For now use the right-click context menu to show additional shortcuts, to add a comment is **F4**.

[2019-10-17 01:34] Shpetz commented on #5844
@xoac When I try and call it that way I get this error:
"While parsing a block mapping, did not find expected key"

[2019-10-17 02:51] vijayma commented on #4589
We increased the dormancy period to 5 days from the current 1 hour. This should address a majority of issues that were seen related to that particular aspect.

[2019-10-17 04:00] UmairSyed commented on #3702
+1

[2019-10-17 04:49] allanford17 opened #6018 ""Share your changes" Step 3 - Pull Requests - No button in Visual Studio for this (required to use Azure DevOps web system for this)"
When I get to step as per this document as per:
"Share your changes" Step 3 - Pull Requests.
I noted there is no option / button in Visual Studio for this.
I can go to Azure DevOps web system for these steps.
Is this normal? Am I missing a Visual Studio plug in ?     I am using Visual Studio Professional 2017.
Maybe it's meant to be this way and this doc / instruction set is out of date?

---
####

[2019-10-17 04:52] allanford17 commented on #6018
I can try to download and install this? Is this required?   https://visualstudio.github.com/

[2019-10-17 04:53] allanford17 commented on #6018
Oops that one is for github ...  rather than Azure ..

[2019-10-17 05:18] allanford17 commented on #6018
Maybe the lack of the "Pull Requests" button is because I wasn't properly connected to project?

[2019-10-17 05:50] kirkone commented on #5405
Hi @SudoBrendan,
you got some good points.
I started a new project when the `microsoft/azdo-agent` was deprecated here:
https://github.com/codez-one/docker-azure-pipelines-agent

I think the same about the absense of a maintained Image for this use case. It is not at the same level as the old Microsoft repo but I think it is a good start.

Deleating the token can become a bit tricky because you mi

[2019-10-17 06:12] msebolt commented on #6006
@tesharp  Thank you for the question, assigning this to the author for comment/review.

[2019-10-17 06:19] msebolt commented on #6005
@tesharp Thank you for the question.

I think this functionality currently covered by the use of build [Tags](https://docs.microsoft.com/rest/api/azure/devops/build/tags?view=azure-devops-rest-5.1).

Having additional build statuses added would require starting a dialog with the product team, see **Suggest a feature** in the [Azure DevOps Community](https://developercommunity.visualstudio.com/spac

[2019-10-17 06:35] msebolt commented on #6012
@checkatkins  Thank you for the question.

Azure DevOps has some newer PR features such as **Rebase**, see [this blog post](https://devblogs.microsoft.com/devops/pull-requests-with-rebase/).

However, for more advanced commands, you're left with writing your own [Git task scripts](https://docs.microsoft.com/azure/devops/pipelines/scripts/git-commands?view=azure-devops&tabs=yaml#q--a).

If this sti

[2019-10-17 06:37] msebolt commented on #6013
@stewartadam Thank you for the suggestion, assigning this to the author for review.

[2019-10-17 06:39] msebolt commented on #6014
@brownkevg Thank you for the feedback, assigning this to the author for review.

[2019-10-17 07:02] msebolt commented on #6015
@johnmbaughman Thank you for the feedback.

This should probably be moved to the Azure DevOps Community for the product team to handle.

There is a related open-ticket item [here](https://developercommunity.visualstudio.com/content/problem/762156/wiki-anchor-links.html) where you can provide a link to this issue.

[2019-10-17 07:20] Happycoil commented on #5647
@henry-padilla it downloads to the `Pipeline.Workspace` directory. You can work around that by defining a custom download artifact task.

[code]

[2019-10-17 07:52] xoac commented on #5844
@Shpetz I have use this. [Example](https://github.com/xoac/rust-azure-pipelines/blob/5e730aa4b88d4342dbb6ffe6f687579032228d77/ci/scenarios/check.yml#L11)

[2019-10-17 07:53] olandese opened #6019 "Windows Docker Agents are not cleaned up"
Also with the Windows Docker Container script provided here the docker agents are not cleaned up in the Pool after stopping the container.
The finally block is never executed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec599-4410-697d-1002-1c41b1c17bb

[2019-10-17 08:42] michaelstaib commented on #5321
@Paul you have to specify the key with a relative path and collect all of the lock files:

nuget | **/packages.lock.json

[2019-10-17 08:45] vtbassmatt commented on #5844
@shpetz feel free to post this over in [Developer Community](https://developercommunity.visualstudio.com/spaces/22/index.html) where we can help you troubleshoot. That error sounds unrelated to whether a parameter has a hyphen in it.

[2019-10-17 09:01] cforce opened #6020 "relation to https://github.com/microsoft/azure-pipelines-artifact-caching-tasks"
Can you explain what is task "ESLighthouseEng.PipelineArtifactCaching" despite to to  "CacheBeta" ?

[2019-10-17 09:03] cforce opened #6021 "How to use caching of maven artifacts in Release pipeline"
We can now use it in Pipelines but i don't know how to make use of in in e.g maveb buold inside a release pipeline

[2019-10-17 09:45] RvsValori opened #6022 "Column options"
In the define/execute tab am able to add additional columns, but I am not able to remove an _additional_ column once added because 'At least one column is required'. I get that there needs to be at least one column in the view, but I am not able to change the 5+ columns that are there by default to begin with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-17 10:35] harishkragarwal commented on #6022
Hi, thanks for reporting this. We are aware of this and will be fixing it as part of upcoming sprints.

[2019-10-17 10:35] #6022 closed

[2019-10-17 11:18] RobCoPKC opened #6024 "Topic branch condition doesn't work for feature/release branches"
Hey there,

I'm currently trying to include certain tasks depending on which branch I'm building.

For example I want to run SonarCloud analysis for all feature branches:
- task: SonarCloudPrepare@1
  condition: and(always(), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/''))

However I am receiving the following error:
Job Job: Step specifies condition and(always(), startsWith(v

[2019-10-17 11:20] henry-padilla commented on #5647
Wouldn't that cause the download to happen twice? It's better knowing where the files are, I can simply use them from there.

Thank you very much for the information. It's very helpful.

[2019-10-17 11:23] RobCoPKC commented on #6024
Nevermind, I am an idiot and didn't notice the second apostrophe.

Please close this issue.

[2019-10-17 11:24] Happycoil commented on #5647
`- download: none` disables the automatic download task. But yeah, simply using `Pipeline.Workspace` is probably the cleanest solution.

[2019-10-17 12:16] breyed opened #6026 "Castle of aaarrrrggh"
The summary says:

Maybe the page is about building with [aaarrrrggh](https://www.youtube.com/watch?v=ZlIz0q8aWpA), but I'm guessing it's something else. Care to carve in the missing words? :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17217289-b764-14a7-e3d9-862d1d9cf503
* Version Independent ID: e1dd6942-3210-a1

[2019-10-17 12:34] sadedil opened #6027 "It's not clear to on-prem service connections"
I can't find any information how to add an on prem service connection for example K8s service connection. Especially over the private IP.

I think there should be a site to site vpn or similar functionality to make connection between Azure DevOps and my private network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72

[2019-10-17 13:07] rrnielsen opened #6029 "No variable for the agent pool name?"
I am surprised that there is no variable for the name of the agent pool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Predefined variables - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pi

[2019-10-17 13:31] juliakm commented on #5714
@Julio-Guerra The list of requirements for [Linux-based containers](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops&tabs=yaml#linux-based-containers) should be comprehensive. Please let us know if you have discovered any undeclared dependencies. The challenge we have run into in the past is that some of the Docker Hub containers do not meet these

[2019-10-17 13:36] Ahetejaz commented on #4901
To continue with your work for time being you may disable the new test plan feature from you profile, preview feature and edit multiple test cases at once. Then you may switch back to the new preview page 'Test plans*'.

[2019-10-17 13:43] rrnielsen opened #6030 "YAML syntax for checking out submodules hard to find"
It is only under Git LFS that the YAML syntax for checking out submodules is shown. People not using LFS may not look there.
It may be worth linking to https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800c5477-b39f-

[2019-10-17 13:58] Julio-Guerra commented on #5714
@juliakm this link is incomplete and that's why I was asking for every details. For example it also needs libc6, libstdc++, libgcc, and sudo. But the container still fails later in the container inits made by azure. Here is the dockerfile of Go on Alpine: https://github.com/sqreen/azure-pipelines-container-golang/blob/master/alpine/1.12/Dockerfile and it doesn't work:

[code]

[2019-10-17 14:00] #5901 closed

[2019-10-17 14:05] Styxxy opened #6031 "YAML builds only work with latest (>2.158.0) agents"
We noticed that YAML builds only work when you have the latest (2.158.0+) agent version.

&gt; We had an earlier version (2.155.0) running, and YAML builds where not picked up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version Independent ID: 97a5b73f-faf7-f9c0-9269-fc7998461

[2019-10-17 14:19] Styxxy opened #6032 "Domain name to white list for auto-update"
Please document the domain name to white list in the firewall to allow auto-update.

I also requested this information through https://developercommunity.visualstudio.com/content/problem/782203/self-hosted-agent-auto-update-domain-name-to-white.html , but keep this issue open so the information can be added to the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-17 14:21] futie opened #6033 "SSH key authentication doesn't work on Mac"
Despite being a recommendation here this is not reliably working on Visual Studio for Mac. See https://developercommunity.visualstudio.com/content/problem/537655/version-control-operation-failed-this-operation-is.html for more details. Suggest documentation is revised until this is actually a working feature ..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-10-17 14:51] msebolt commented on #5962
Closing the issue now, please add comments if there any concerns.

[2019-10-17 14:51] #5962 closed

[2019-10-17 14:57] #5726 closed

[2019-10-17 15:03] msebolt commented on #5968
Closing the issue, please add comments if there are concerns.

[2019-10-17 15:03] #5968 closed

[2019-10-17 15:03] msebolt commented on #5971
Closing the issue, please add comments if there are any concerns.

[2019-10-17 15:03] #5971 closed

[2019-10-17 15:04] msebolt commented on #5974
Closing the issue now.

[2019-10-17 15:04] #5974 closed

[2019-10-17 15:09] v-wilock opened #6034 "Dark theme squashes formatting example"
The text
"The project status is GREEN even though the bug count / developer may be in red. - Capability of span"
shows up all in white for me. I'm using the dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9f92-6d2f3c5ac336
* Co

[2019-10-17 15:10] #6002 closed

[2019-10-17 15:46] jsiegmund commented on #4810
Not sure if it's due to this issue, but Agent.TempDirectory seems to be there now @ https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#agent-variables. Case closed?

[2019-10-17 15:49] Slooz commented on #4946
That's great to hear. I was actually going to try that next, until I read this issue and the previously mentioned [StackOverflow answer](https://stackoverflow.com/a/57585404/559495). They both made it seem like it wasn't supported.

Clearly, there is enough confusion to warrant explicit documentation for this topic. So thank you @Victor-Savu for updating the documentation.

[2019-10-17 15:58] dirksteele opened #6035 "Great Job"
Perfect.  I wish all documentation were this well and simply written.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb7276b-e7ab-8d3f-f89c-4f5130808f61
* Version Independent ID: f11655e2-14f9-7755-dffa-61b21db1be67
* Content: [Add users to Azure Pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devo

[2019-10-17 16:06] juliakm commented on #5811
This isn't something that is supported. You can make a feature request to the product team at the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). As a workaround, you might look into solving this at runtime with bash or another scripting language.

[2019-10-17 16:06] #5811 closed

[2019-10-17 16:08] juliakm commented on #5272
This is not supported right now. You can make a feature request to the product team at the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-10-17 16:08] #5272 closed

[2019-10-17 16:29] henry-padilla opened #6036 "Access to $(rev:r) outside of name:"
We should be able to use $(rev:r) in fields other than name. I would like to name the run with the pipeline name AND the build version, like so:
$(Build.DefinitionName)-$(Major).$(Minor).$(rev:r)

But when I try to use the $(Build.BuildNumber) to update the version it isn't formatted as a semantic version so I get an error. If I could use $(rev:r) in a variable it would be a great help.

---
####

[2019-10-17 16:45] chasewilson commented on #3834
@Paul-Dempsey Thanks again for the feedback and I've had some communication with the engineering team and there will be some changes to make the documentation a bit clearer. I'll be closing this issue here but if you feel like there's more here, feel free to reach out.

[2019-10-17 16:50] chasewilson commented on #3884
@jasoncoding, From what I can see in the task the capability isn't there within the NuGet task. You need to select either, an Azure artifacts feed or NuGet.org, or use the NuGet config file as you are currently doing. You can also reach out ot the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) to ask for clarifiaction or make a feature request. @elbatk if t

[2019-10-17 16:57] rusticMire commented on #5652
I update the variable group via REST API calls. I retrieve the list of variables in a variable group and parse the list using a foreach condition. Use an If condition for the variable I want to update  and update the same inside the If block and then update the new list via REST API

[2019-10-17 17:04] sasanmcp commented on #5652
@syndicatedshannon honestly I have not thought of concurrent runs. we need some type of semaphore or lock or something otherwise the race will happen as you pointed out correctly. I don't know but we need a method for updating.

[2019-10-17 17:35] WilliamAntonRohm commented on #6018
@allanford17 -- you may find some answers to your questions at the following links:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@apawast -- please look into this possible documentation issue.

[2019-10-17 17:50] WilliamAntonRohm commented on #6021
@cforce -- Fabian, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-17 17:50] juliakm commented on #5726
Thanks @jimmcslim. Updates to these docs should be live soon.

[2019-10-17 17:51] WilliamAntonRohm commented on #6024
@RobCoPKC -- thank you for your feedback :)

[2019-10-17 17:51] #6024 closed

[2019-10-17 17:53] juliakm commented on #5727
In Microsoft Team Foundation Server (TFS) 2018 and previous versions, _runs_ are called _builds_. We've added clarification of this as part of [#5726](https://github.com/MicrosoftDocs/vsts-docs/issues/5726) and that update will be live soon.

[2019-10-17 17:53] #5727 closed

[2019-10-17 17:55] timotgl opened #6037 "IdentityFile in ssh config should point to the private key file instead of the public one"
The page "Use SSH key authentication" answers the question ["I have multiple SSH keys. How do I use different SSH keys for different SSH servers or repos?"](https://docs.microsoft.com/en-us/azure/devops/repos/git/use-ssh-keys-to-authenticate?view=azure-devops#i-have-multiple-ssh-keys--how-do-i-use-different-ssh-keys-for-different-ssh-servers-or-repos) with an example of a `.ssh/config` file. In th

[2019-10-17 17:57] juliakm commented on #5873
@buck-mbeer You can see our updated doc [here](https://docs.microsoft.com//en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml#use-the-output-variable-from-a-job-in-a-condition-in-a-subsequent-job).

[2019-10-17 18:07] sarahannnicholson commented on #5807
+1 for azure webapps in the environments. This would be awesome! :)

[2019-10-17 18:15] WilliamAntonRohm commented on #6035
@dirksteele -- Dirk, thank you!

[2019-10-17 18:26] henry-padilla opened #6038 "vstsFeed is for Restore, not Push"
If you look at the GitHub project you will see the parameter to use for push is 'feedPublish'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551-16ad-e164-a4ac522cdaab
* Version Independent ID: a3fd6935-2b99-92ef-4eb3-3249fca01f8a
* Content: [NuGet restore, pack, and publish task - Azure Pipelines](https://d

[2019-10-17 18:38] manuchandel commented on #6000
Thank you @msebolt  for quick reply. I understood helm installer tasks. But the problem lies with one specific thing. "Helm Charts". I used this sample repo https://github.com/Microsoft/python-sample-vscode-flask-tutorial/  from the docs to deploy to kubernetes. This repo does not have any charts directory. I went through the docs and found this statement in particular  ```: This can be a path to

[2019-10-17 19:11] Slooz commented on #4946
@Victor-Savu, did you test this? I ran the example in your pull request, and it doesn't work. I added the `environment` because this is required for a deployment job:
[code]

See the following diagnostic logs:

Job A log:
[code]

Job B log:
[code]

[2019-10-17 19:15] syndicatedshannon commented on #5652
Here is my use-case and a potential approach.

https://stackoverflow.com/a/58395995/608220

Given the ability to locate the specific run (Build ID) of a desired pipeline (Definition ID) that was an ancestral trigger of the current pipeline, we could use that Build ID to evaluate its variables.

[2019-10-17 19:30] chcomley commented on #5920
Hi @clix455,

I'm following up on the REST API documentation updates, as there's another [GitHub Issue](https://github.com/MicrosoftDocs/vsts-docs/issues/5985) that will address this. In the meantime, this will give you the list of audit events:
https://auditservice.dev.azure.com/{ORG NAME HERE}/_apis/audit/actions

Please let me know if you have any further questions.

[2019-10-17 19:30] #5920 closed

[2019-10-17 19:44] chcomley commented on #5985
Hi @tomaustin700,

Here's the URL to get to the API: https://auditservice.dev.azure.com/{YOUR ORG NAME}/_apis/audit/actions.

The new REST API documentation set should be published within the next few weeks. I'll keep this issue open until then, so you're updated immediately.

Thank you

[2019-10-17 19:58] RoopeshNair commented on #6027
@sadedil  - are you looking for creating connection to K8s cluster running on-premises? or connecting to On-prem Azure DevOps Server?

[2019-10-17 20:02] sadedil commented on #6027
@RoopeshNair, the first one.

My K8s cluster is running in my office building. Azure DevOps is the cloud one, not the Azure DevOps Server.

[2019-10-17 20:03] RoopeshNair commented on #6027
@sadedil  are you creating a service connection or setting up an environment with k8s resource?

[2019-10-17 20:04] sadedil commented on #6027
Yes, I'm trying to create a K8s service connection.

[2019-10-17 20:06] RoopeshNair commented on #6027
The steps to configure the service connection is [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#sep-kuber). However, you need to ensure that the agent has line of sight to the k8s cluster.

[2019-10-17 20:13] sadedil commented on #6027
Hmm, there is no agent selection in the service connection popup. How Azure DevOps knows the which agent to use when creating a service connection?

If my kubeconfig like this, how to Azure DevOps resolve the server Url? In this example _https://192.168.99.111:8443_

[code]

[2019-10-17 20:26] WilliamAntonRohm commented on #6020
@cforce -- Fabian, here is the answer from the code owner:

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-17 20:26] #6020 closed

[2019-10-17 20:41] melezhik commented on #5979
@msebolt  how do I define token for git branch?

`az.cmd devops security permission list --id  2e9eb7ed-3c0a-47d4-87c1-0ffdd275fd87   --subject user@company.com` gives me a guess that it should be something:

`repoV2/$project_id/$repo_id/refs/heads/$unknown_chunk`

But I can't understand how to calculate the last bit of it  - `$unknown_chunk`, logically it should be something that define branch.

[2019-10-17 21:16] #6009 closed

[2019-10-17 21:18] verodhi opened #6040 "Reading and writing the response."
I am trying to provide a json file from project directory as the body.
How can i do that? Documentation does not address it.

[2019-10-17 21:19] Tr3yb0 opened #6041 "Jobs not running sequentially on self-hosted agent"
I am running a single stage with 4 jobs in it. I originally had one job with dependsOn in it and the order of my jobs did not match the defined order. When I removed the dependsOn field, the order was preserved, but the actual processing order was seemingly random. I am under the impression that if no order is specified, the jobs will run in the order they are defined in the yaml.

---
#### Docume

[2019-10-17 21:21] Victor-Savu commented on #4946
Hi @Slooz ! Thanks a lot for picking up on this! There is indeed a bug in my explanation: it is the name of the job that becomes the prefix, not "deploy".

So in your case it should be:
[code]

I will update the docs.
Thank you!

[2019-10-17 21:29] chcomley commented on #6003
@BiribiriJaNai, I'm closing this issue, but if you do have any questions, please @mention me. Thank you!

[2019-10-17 21:29] #6003 closed

[2019-10-17 21:37] Slooz commented on #4946
@Victor-Savu Awesome, I just tested it with your updated explanation and it works perfectly! Thank you! This method allows me to use a variable from one deployment job in another deployment job.

[2019-10-17 21:46] melezhik commented on #5979
looks like it's

for every letter of branch name:

`oct($i)00`

Why not document it?

[2019-10-17 22:50] ArchSerpo opened #6042 "Is it possible to publish a Pipeline Artifact across jobs in a single stage?"
With build artifacts I am able to push to the same artifact name across different jobs within the same stage.

In the example below build artifact completes without error, but pipeline artifacts gives me a "##

I know I could (and probably should) move to a pipeline artifact per job, but the discrepancy has me curious

Cheers

Job 1:
[code]

Job 2:
[code]

---
#### Document Details

⚠ *Do not edit

[2019-10-17 22:56] gmoed opened #6043 "Clarification on the Authorization process for variable groups"
Add to the documentation that in order to get the approval link to authorize the use of a variable group, the group needs to be under the job and not on the top of the yaml definition. otherwise it just says the variable group is not found or authorized but does not provide a mean to authorize it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-18 00:55] davewilton opened #6044 "Flake8 return code not captured"
When I added this script as described in the document

- script: |
    python -m pip install flake8
    flake8 .
  displayName: 'Run lint tests'

The build didn't actually fail when the the lint failed, seems like it is not checking the return code?

This worked fine.

- bash: 'flake8 .'
  displayName: 'run flake8'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-10-18 01:34] sengokyu opened #6045 "Azure App Service Deploy vs. Azure Function App vs. Azure Web App - which should I use ?"
Each 3 tasks can deploy an application to Azure App Service.
- Azure App Service Deploy
- Azure Function App
- Azure Web App
Which do you recommend ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7ba5cf3-d229-03d0-ad6a-a30a0379afc0
* Version Independent ID: ccffed3b-ea44-517f-f7a8-a1c4c4147495
* Content: [Catalog of

[2019-10-18 02:24] TroySchmidt opened #6046 "Bugs not linked"
Are bugs not linked automatically?  The work item that was part of a commit is linked.  However, the bug that was linked to the pull request that contained the commit that was linked to a task was not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462be419-4cfd-4bfc-06cc-45800c0d888b
* Version Independent ID: 95

[2019-10-18 03:33] ideoclickVanessa opened #6047 "Cannot seem to give wiki edit permissions"
I created a new Wiki Editors group and added users to it.  I also set the group's wiki permissions identical to Contributors like so:
![image](https://user-images.githubusercontent.com/44000426/67063727-a61ff000-f11c-11e9-97d9-9e893feaddd2.png)
however, the users only seem to get read access not write.  I'm also pretty sure the users are not stakeholders since their type says `user`:
![image](http

[2019-10-18 03:40] tonkon opened #6048 "Errors on testing ENV:AZP_WORK in start.ps1"
Should consider testing both Env:AZP_WORK and $Env:AZP_WORK.

if (Test-Path Env:AZP_WORK) {
    if (-not (Test-Path $Env:AZP_WORK)) {
        New-Item $Env:AZP_WORK -ItemType directory | Out-Null
    }
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec5

[2019-10-18 04:30] chasewilson commented on #3441
The documentation. Thank you for the feedback. If you see anything else, feel free to open a new issue

[2019-10-18 04:30] #3441 closed

[2019-10-18 04:34] chasewilson commented on #1879
The documentation has been updated. Thank you for the feedback. if you have any more feedback, feel free to create a new issue.

[2019-10-18 04:34] #1879 closed

[2019-10-18 04:35] chasewilson commented on #3455
The documentation has been updated. If you have any more feedback, feel free to open a new issue.

[2019-10-18 04:35] #3455 closed

[2019-10-18 04:36] chasewilson commented on #4217
The documentation has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2019-10-18 04:36] #4217 closed

[2019-10-18 06:21] cforce commented on #6021
I was talking about the task, how to use Caching of Maven artifacts in a release pipeline Maven process

` -  task: CacheBeta@0
    name: MavenCache
    inputs:
      key: v1 | m2
      path: /home/vsts/.m2
`

[2019-10-18 06:59] tomaustin700 commented on #5985
Hi @chcomley, I am specifically after the endpoint to get the Azure DevOps service status. If you could provide me with that that would be great! Thanks.

[2019-10-18 07:43] jimmcslim commented on #5726
Thanks, hopefully this issue will be referenced in the commit/PR so that the changes will be clear!

[2019-10-18 08:43] tesharp commented on #6005
Thanks @msebolt. Could you elaborate a bit more on build tags though?

I looked at build tags and thought it could be useful if I for instance could tag the build with "deploy" before approving to indicate that this build should be deployed. If I did not tag it and approved it would simply return false on job condition. Build would show as successful, but only selected builds would run deployment.

[2019-10-18 09:25] gtsiou commented on #5703
The worst thing is that the files are not even shared between jobs of the same stage. So in the same stage, lets say "Build" you have to do all the steps in one job, otherwise you waste time on publishing and downloading artifacts.

Like you say @shashban, the stages are already a logical separator running individually, why do jobs have to be the same and run on separate agents? So now Stages prov

[2019-10-18 09:28] Additi commented on #2914
@larsWH the document is not yet updated. I'll get them updated and share the link.

[2019-10-18 10:28] nerijusk commented on #4826
The following error is generated by pipeline run after adding ManualIntervention@8 task to it:
`"Task execution section of task definition for ID: bcb64569-d51a-4af0-9c01-ea5d05b3b622 is either missing or not valid."`
I suspect it is not supported in yaml pipeline, only in GUI. Why such thing is made for GUI, but not for pipeline as a code is beyond me. This is unacceptable nowadays... :(

[2019-10-18 11:06] vtbassmatt commented on #4826
@nerijusk Did you add the task to an agent job or a server job? It only works for server jobs, and it doesn't care (or know) whether you're using designer or YAML.

[2019-10-18 11:16] nerijusk commented on #4826
It's defined as a server job in `azure-pipelines.yaml`:
[code]
Oh, and "Checks" on environment does not suite my use case. I want to decide to deploy or not, but the decision to stop pipeline right after build should not mark it as "Failed". Checks in environment mark the pipeline as "Failed" if I reject deployment into environment, which is not true. My use case is that DEV/QA environments maybe

[2019-10-18 11:51] Vinzz commented on #5929
in fact it is not, and won't be available before Azure Devops Server 2020:
https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?toc=%2Fazure%2Fdevops%2Fextend%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fextend%2Fbreadcrumb%2Ftoc.json&view=azure-devops&viewFallbackFrom=azure-devops-2019

[2019-10-18 11:51] #5929 closed

[2019-10-18 12:01] vtbassmatt commented on #4826
Checks are designed to pause the orchestrator, not fail the stage. But there are some subtleties in the current implementation of authorization that may be causing you problems. Give us a holler over on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) and we'll get it sorted out.

I expected the ManualIntervention task to work, but I see now that it's marked

[2019-10-18 12:14] constructdian commented on #5867
Indeed, documentation around this is confusing and in parts just plain wrong. Please fix this. So much wasted time due to poor docs here.

[2019-10-18 12:17] vtbassmatt commented on #5714
Alpine containers are not glibc-based, which is a documented requirement. Alpine uses an alternative C runtime called musl.

We're working on extending our container support. In the meantime, we document a mechanism to use an Alpine-based container (but know that you're playing on "hard mode" at this point :grin:). See [this doc](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/

[2019-10-18 12:17] #5714 closed

[2019-10-18 13:07] RobCoPKC opened #6049 "Counterpart to startsWith?"
Hey there,

is there any counterpart to the "startsWith"-parameter?
I would like to execute a task for all non-release-branches.

Kind regards,
Robin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Content: [Conditions

[2019-10-18 13:15] pablogiroud opened #6050 "Issue trying to add new existing test cases"
How its happened:
I created a requirement based suite, then I added an existing test case. After that I deleted the suite, and created a new one associated with other case. When I try to add te existing test case (the same that I used in the deleted suite) the case is not added to the suite.

Steps to reproduce:
I follow the workflow to add: click on the suite &gt; Add existing test case &gt; run

[2019-10-18 13:32] #6026 closed

[2019-10-18 13:48] adeydev commented on #5687
Email notifications would be really useful to allow us to keep on top of approvals.

[2019-10-18 14:15] Zaniar0 opened #6052 "adding group/user to security of iteration using cli"
how do i add a user/group to iteration security using the cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022fb627-3fc3-e748-8431-a4597bb27ad5
* Version Independent ID: 0b56992a-b121-6095-5a60-65548fdd5a3b
* Content: [Set permissions and access for work tracking - Azure DevOps](https://docs.microsoft.com/en-us/azur

[2019-10-18 14:22] MisinformedDNA commented on #4946
@Victor-Savu Maybe next time, don't talk down to us (and then get it wrong).

[2019-10-18 14:41] jeremy-jameson opened #6053 ""configuration" does not work"
It appears the **configuration** key in the **inputs** list is obsolete.

For example, if you specify the following in azure-pipelines.yml, Azure DevOps will actually build the default configuration (i.e. **Debug**) for your projects (not the **Release** version):
[code]

To achieve the desired result, you must specify the following:
[code]
---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-18 15:05] brettpostin commented on #3977
I have yarn working locally with authentication to an Azure Artifacts feed, but the Yarn pipeline tasks aren't working. Yarn install gets `Request failed \"401 Unauthorized\""` errors.

I have set the task up to use our private feed:

![image](https://user-images.githubusercontent.com/3657993/67105680-2304a580-f1c1-11e9-9873-3c6323c77c98.png)

Any ideas?

[2019-10-18 15:07] agneszitte-nventive opened #6055 "Add the possibility to include/exclude pipelines names for schedules"
At the moment, if I'm adding a scheduled trigger in my yaml file, I don't have the possibility to include/exclude pipelines names.
For example, I'm adding this schedule and use the same yaml for multiple pipelines but I want to exclude one specific pipeline to use this schedule.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-10-18 15:30] brettpostin commented on #3977
I've added a `yarn config list` in the pipeline, this is the current config...

[code]

Everything matches local config except the format of the auth token in npm config.

[2019-10-18 15:49] Victor-Savu commented on #4946
Hi @MisinformedDNA! Indeed, my comment does sound condescending and I am very sorry for this. I should have been more careful with my choice of words. I never meant to talk down on you nor on anyone else who seeks information. I am in no way more knowledgeable than anyone else.
I apologize. Even had I been right about the solution, I should not have remarked on anyone's attention.

[2019-10-18 16:41] thejoebourneidentity commented on #5828
The YAML image names showing up in the classic editor is by design. We've made some infrastructural changes that make it much easier to add images later, but this architecture also required that the `agent specification` names are aligned to the YAML labels.

[2019-10-18 16:41] jlanawalt commented on #3336
I agree, this is a lot of extra work for what can be accomplished by adding 'mavenFeedAuthenticate: true' to the default Azure DevOps Pipeline Maven build.

These steps are needed to connect a local Maven install to the Azure DevOps Artifacts Maven feed, but not for pipeline builds.

[2019-10-18 16:56] zl00p3r opened #6056 "Picture examples given in this page are very old"
Picture examples given in this page are very old. This is up-to-date with current Azure DevOps portal experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version Independent ID: 97a5b73f-faf7-f9c0-9269-fc79984616d6
* Content: [Deploy a Azure Pipelines agent on Windows - Azu

[2019-10-18 17:06] elbatk commented on #3884
This is all right, nuget.config is the way to go, unless you want to specify the feed when you make the nuget/dotnet restore call.

[2019-10-18 17:18] elbatk commented on #3415
I think this is right. We rolled out Collaborator in May 2018 so it lines up.

[2019-10-18 17:34] msebolt commented on #6032
@Styxxy  Thank you for starting an issue with the [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html).

Assigning this to the author for review.

[2019-10-18 17:43] msebolt commented on #6034
@v-wilock  Thank you for the feedback.

This currently has an open issue posted [here](https://developercommunity.visualstudio.com/idea/542332/wiki-header-colors-for-dark-theme.html).

Please add your comments there to get a response from the product team.

[2019-10-18 17:50] msebolt commented on #6036
@henry-padilla  Thank you for the feedback.

Unfortunately this seems like more of a product issue then documentation concern.

Please move this issue to the [Azure DevOps Community](https://developercommunity.visualstudio.com/spaces/21/index.html) where the product team can address.

[2019-10-18 17:58] breyed commented on #6026
Was this closed on purpose? I don't see a PR or other fix.

[2019-10-18 18:00] seanwhitepc opened #6057 ""Dimension" causes error"
In the example to make a custom field, entering
   reportable="Dimension"
causes an error in regards to "Dimension." It should be "dimension" (lowercase d) which is also in line with the system fields, at least as far as the Agile template for TFS 2018 goes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d013ba-2777-

[2019-10-18 18:02] msebolt commented on #6040
@verodhi Thank you for the questions.

Most of the Azure DevOps [Web APIs](https://docs.microsoft.com/rest/api/azure/devops/?view=azure-devops-rest-5.1) return JSON.

For instance, calling:

[code]

...returns a JSON set of your project's packages.

What exact information do you need to send as JSON?

[2019-10-18 18:07] msebolt commented on #6041
@Tr3yb0 Thank you for the feedback.

There is an active issue in the Developer Community [here](https://developercommunity.visualstudio.com/idea/611313/pipeline-job-ordering-in-ui-should-follow-order-in.html).

Follow this and/or add comments to get the product team's response.

[2019-10-18 18:15] msebolt commented on #6042
@ArchSerpo Thank you for the feedback.

However, the test cases provided above would probably be better suited for the product team.

Please start a thread in the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-18 18:17] msebolt commented on #6043
@gmoed  Thank you for the feedback, assigning this to the author for review.

[2019-10-18 18:26] msebolt commented on #6044
@davewilton Thank you for the feedback and diagnosis.

Unfortunately this needs to involve the product team.

Please move the issue to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo.

[2019-10-18 18:55] msebolt commented on #6045
@sengokyu  Thank you for the question.

I'd recommend the [Azure App Service task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops) as it provides a single framework to experiment with each.

This topic also includes links to information for each service type so you can decide which best fits your needs.

[2019-10-18 19:09] slushysnowman opened #6058 "Supported on Ubuntu 18.04?"
This page specifies that this only works when Ubuntu 16.04 pool is used for Linux containers, however from my testing it also seems to work when using Ubuntu 18.04 pool - if this is correct, page should be updated to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3339a2e0-be29-1363-f588-b231d4472c02
* Ver

[2019-10-18 19:13] msebolt commented on #6046
@TroySchmidt Thank you for the question.

Are you using the [Agile process](https://docs.microsoft.com/azure/devops/boards/get-started/plan-track-work?view=azure-devops&tabs=agile-process)?

Bug tracking doesn't appear to be available in the **basic process**, see [Show bugs on backlog](https://docs.microsoft.com/azure/devops/organizations/settings/show-bugs-on-backlog?view=azure-devops).

[2019-10-18 19:14] msebolt commented on #6047
@ideoclickVanessa Thank you for the feedback, assigning this to the author for review.

[2019-10-18 19:16] TroySchmidt commented on #6046
We are using a scrum customized process.  I think there are other things
not tailored to scrum process.

On Fri, Oct 18, 2019, 3:13 PM Matthew Sebolt <notifications@github.com>
wrote:

[2019-10-18 19:17] msebolt commented on #6048
@tonkon  Thank you for the feedback, assigning this to the author for review.

[2019-10-18 19:34] msebolt commented on #6049
@RobCoPKC Thank you for the question.

Please refer to either `contains` or `endsWith` in [functions](https://docs.microsoft.com/azure/devops/pipelines/process/expressions?view=azure-devops#functions).

What do you mean by counterpart?

[2019-10-18 19:35] chcomley commented on #5985
Hi @tomaustin700,

Here you go!

Getting Status information all-up
https://status.dev.azure.com/_apis/status/health

Getting Status information for a service (supports coma separated list)
https://status.dev.azure.com/_apis/status/health?services=Pipelines

Getting Status information for a geography (supports coma separated list)
https://status.dev.azure.com/_apis/status/health?geographies=EU

Get

[2019-10-18 19:37] msebolt commented on #6050
@pablogiroud Thank you for the question.

Unfortunately this would be better geared towards the product team.

Please start a thread in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back to this issue.

[2019-10-18 19:43] tomaustin700 commented on #5985
@chcomley Perfect, thanks.

[2019-10-18 19:55] henry-padilla opened #6059 "I cannot get links to work at alll"
I am using the AzDO wiki from the left-side Wiki link.
I pulled down the "Select... dropdown and clicked "New wiki".
I selected my repository from the list, left the '_wiki', and added a unique path to link (dvopwiki),
I created the first page and added a bunch of Lorum Ipsum for content, put a header at the bottom (### HTP Clone ###) and a link at the top:
[Link 1](#http-clone)

It does not navig

[2019-10-18 20:15] verodhi commented on #6040
@msebolt

My apologies, I think I was not clear:

I am trying to execute an agentless task in DevOps; Namely: **[Invoke REST API Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/http-rest-api?view=azure-devops)**

It allows passing body as parameter i.e:

`- task: InvokeRESTAPI@1
  inputs:
    connectionType: 'connectedServiceName'
    serviceConnection: 'exampleconnecti

[2019-10-18 20:49] msebolt commented on #6052
@Zaniar0 Thank you for the question.

Unfortunately you need to set the Iteration group manually and can then manage it using the CLI via [group](https://docs.microsoft.com/cli/azure/ext/azure-devops/devops/security/group?view=azure-cli-latest).

Though please consider submitting this as a feature request with the product team in the [Azure DevOps community](https://developercommunity.visualstudio