[2019-06-06 04:33] chcomley commented on #4368
Hey @shayki5, vNext is whatever is going to be the next version of Azure DevOps Server. Current version is 2019. Thanks!

[2019-06-06 05:47] david-s-svedberg commented on #4145
Precisely!

Den tors 6 juni 2019 02:12andyjlewis <notifications@github.com> skrev:

[2019-06-06 07:24] cerw commented on #1621
This is def not solved.

[2019-06-06 08:52] ahmedspiir opened #4444 "TFS_Core_Contracts.WebApiConnectedServiceRef link is not working"
This link on this line is not working: connectedService: TFS_Core_Contracts.WebApiConnectedServiceRef. The connected service associated with the continuous deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156add32-7c48-f47a-5737-fb76fd52cad9
* Version Independent ID: 0da5c87a-bcac-6930-a2e7-1e5856d63a49
* Cont

[2019-06-06 08:58] PBoraMSFT commented on #4423
@divais - can you take a look?

[2019-06-06 13:01] shayki5 commented on #4368
Thanks @chcomley ! So the next versions not will be "years" versions? but only "vNext"? when it will be released? thank you!

[2019-06-06 13:16] joebourneMS commented on #3159
Yes, details have been added

[2019-06-06 13:38] AmitSheth commented on #4387
Is this option of temporary exception available to anyone?

[2019-06-06 13:42] Farzad-Jalali opened #4445 "run locally . but doesn't run on Azure Devops Cloud pipeline"
I done it, it runs locally just fine.
then I publish it and install in inside my organization account.
but when I try to run it in the cloud I get the below error :

Error: Cannot find module 'azure-pipelines-task-lib/task'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/mod

[2019-06-06 13:51] OliCSADoerr opened #4446 "Be specific about the communication of MS hosted Agents"
Please correct the following statement, since it is not completely correct:
"The Microsoft-hosted agent pools, by default, have connectivity to Azure websites and servers running in Azure."
That does not apply, if you e. g. have a Azure Kubernetes Engine running in your own V-Net. Than you will need to have a self-hosted agent that is connect to a V-Net which is peered with the V-Net were the Kube

[2019-06-06 14:04] infin8x commented on #3850
Few things here. In the short term, we should link to https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?toc=%2Fazure%2Fdevops%2Fartifacts%2Ftoc.json&view=azure-devops&tabs=yaml and its various equivalents for different languages. We have different docs for "on a dev box" and "in Azure Pipelines". @andyjlewis possibly something for Chase to consider later on down the road.

Se

[2019-06-06 14:14] kine opened #4447 "Run number not explained"
Hello, seems that the page is just copy of the original text from https://docs.microsoft.com/en-us/azure/devops/pipelines/build/options?view=azure-devops page, but the Run ID is not explained at all. It is not used in the exmaple format, it is not exmplained in the token table, it is not part of the yaml example.

How can I use the Run ID at all?

Please, fix this copy/pasted text to really explai

[2019-06-06 14:14] v-wilock commented on #4387
I'm not sure, but it seems unlikely. You're much more likely to get delays than to have out-and-out errors pop up unless you're really hammering the system. And if you are, that raises some question marks on its own. Those question marks will go on sentences like "Can you optimize this?"

[2019-06-06 14:19] andyjlewis commented on #3850
@chasewilson please sync with @infin8x to get this fixed. follow up with me afterward if you want to review potential future story ideas mentioned above

[2019-06-06 14:21] andyjlewis commented on #3159
@joebourneMS are you able to close this issue? If not, @thomps23 should be able to get you set up to close issues in this repo

[2019-06-06 14:22] joebourneMS commented on #3159
@joebourneMS , I am not able to close issues.

[2019-06-06 14:25] Farzad-Jalali commented on #4087
I got the same problem, could you please kindly, provide the solution publicly.
many thanks

[2019-06-06 14:53] katlimruiz commented on #1639
release pipelines are there as of now, i created a multi-stage from build to prod and it worked. The issue is in my case that I need manual intervention yaml task to be able to deploy to PROD only after we run the manual testing required. Right now there is no way to pause a multistage pipeline. My temp solution is to create several yamls and have several pipelines (one for build, another for stag

[2019-06-06 15:25] fgervais opened #4448 "How to list available package versions with the cli?"
How can azure cli be used to list available package version like we can get on the web interface?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77bcd39f-91ab-bb93-40fc-dd4fc5f2374f
* Version Independent ID: c228aece-669a-57d6-b3ed-d427586f8a61
* Content: [Publish and then download a Universal Package](https://docs.mic

[2019-06-06 16:14] jeffpatton1971 opened #4449 "Field Length"
It would be nice to have an understanding of field restrictions, you have naming restrictions, but for example, how much text could be placed in a multi-line description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd295aab-1529-fd48-74a8-62243ee940ce
* Version Independent ID: 01fcb7de-3bcd-9a8e-1813-c25dcdcf6acd
*

[2019-06-06 16:30] JesseScott commented on #4438
Updated description to be more clear.

[2019-06-06 16:44] JustinGrote opened #4450 "Should be a warning Toast that only a few tasks support Management Group service connection yet"
There should be a warning that not all tasks support the Management Group method yet. For instance AzFunctionApp fails with an obtuse error if you don't know what is going on:

0##[warning]Can\'t find loc string for key: SubscriptionIdCannotBeNull
11##[error]Error: SubscriptionIdCannotBeNull

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-06-06 17:17] chcomley commented on #4368
@shayki5, I'm sorry, I wasn't clear! The next version will likely be 2020 or 2021...still year-based. We just refer to any next version as vNext until it is released, and then the NEXT version we'd also refer to as vNext. Does that make sense?

[2019-06-06 17:21] yashkv1 opened #4451 "Deleting Published Wiki"
How do I delete published wiki? I would like keep the code wiki only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cb387d-5f46-0743-efbb-c393c4e5bd85
* Version Independent ID: cb6912c2-e640-f992-0a1f-5cbbe88d87dc
* Content: [Differences between provisioned and published wikis - Azure DevOps](https://docs.microsoft.

[2019-06-06 17:27] chcomley commented on #4451
Hi @yashkv1, Thanks for reaching out. First, [unpublish the wiki](https://docs.microsoft.com/en-us/azure/devops/project/wiki/wiki-select-unpublish-versions?view=azure-devops#unpublish-a-published-wiki). Please let me know if you need any further clarification and I'll be happy to provide. Thanks!

[2019-06-06 17:54] yashkv1 commented on #4451
After unpublishing, I would like to set the code wiki as default. How should I do that?

[2019-06-06 18:21] chcomley commented on #4451
@yashkv1, great question. I've added @adramasu for guidance please! Thank you!

[2019-06-06 19:31] chasewilson commented on #2671
@teejam2, @annie21409,
Thank you both for the feedback!
You are correct and the article will be updated shortly. The issue will be closed when a PR is merged.
I've created a backlog item for this issue. Thank you again and feel free to reach out with any more feedback.

[2019-06-06 20:33] #4103 closed

[2019-06-06 20:39] apawast commented on #3909
Hi @keremispirli. Thank you for pointing this out. I will clarify with this information in the docs and we have added an item to our backlog to make the UI more clear as well.

[2019-06-06 20:39] #3909 closed

[2019-06-06 20:52] spottedmahn commented on #4103
I'm curious, was a change made?  If so, PR #?

[2019-06-06 21:52] thoaingan opened #4453 "Need to make it clear that the highest authorization/security access for a PAT is limited to what the creator of the PAT has."
We've had a few customers not understanding that the PATs can only access/do what the creators of those PATs are allowed to and get extremely nervous about PATs in their Azure DevOps org. Please make this more clear in our documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bfea574-db69-a5fd-37fe-64ecfdac502

[2019-06-07 06:10] pulkitaggarwl commented on #4421
@phatcher  thanks for the input.
If I understood correctly, you are suggesting to have link of [this ](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ci-cd)document [here ](https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-devops)and vice-versa.

Is there something more here that I am missing ?

[2019-06-07 06:46] cannehag opened #4459 "Support multiple schedules in stage trigger"
Is there a plan to support multiple schedules in a stage trigger ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e313c5-9120-9172-bc27-c21d10fcd5ae
* Version Independent ID: 1a837182-591f-3cbc-1632-7b50d857b13c
* Content: [Release triggers for stages, branches, and pipelines - Azure Pipelines](https://docs.microsoft

[2019-06-07 07:39] Leon99 opened #4460 "Deployment from Azure Container Registry (or any other private one)"
This page doesn't explain how to deploy a container from an Azure Container Registry (or any other that requires authentication).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c94df7-9de9-ea1a-8b77-d1e6023694dc
* Version Independent ID: a525989e-2e0a-0399-556e-9011ee95da4e
* Content: [Azure App Service Deploy task -

[2019-06-07 09:08] kmdeva commented on #4011
Hi,
    If I use .phpunit, I get the below error
Task         : Command Line
Description  : Run a command line script using cmd.exe on Windows and bash on macOS and Linux.
Version      : 2.148.0
Author       : Microsoft Corporation
Help         : https://go.microsoft.com/fwlink/?LinkID=613735
==============================================================================
Generating script.
Script c

[2019-06-07 09:35] phatcher commented on #4421
No that's about it - it would be useful to have something like

"Now you can turn off the Continuous Deployment setup when you configured Web App For Containers"

as on the first time through you are not familiar with the portal tabs.

[2019-06-07 10:08] lukewis opened #4461 "How to set task condition to continue on failure?"
I see that the task condition can be set to "Even if a previous dependency has failed, unless the run was canceled", but I can't figure out how to configure this.  Maybe an example could be added to the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8098f527-ebdf-60d5-3989-5228b7a207c1
* Version Independent ID: c

[2019-06-07 11:34] deven commented on #4323
Is the 16.143.1 version backwards-compatible with older TFS servers such as TFS 2017?

[2019-06-07 12:40] gburghardt commented on #4418
I ran into this problem too, but was able to solve it by downloading the credential provider, and then putting the `NuGet.exe` and `CredentialProvider.Vss.exe` files in the same directory (where that directory is in your windows %PATH%).

[2019-06-07 12:45] theandrewdodson commented on #4420
I'm also experiencing a similar issue.

[2019-06-07 13:45] strahinjanis opened #4462 "JAVA setup"
The part:
"During installation, the wizard sets the JAVA_HOME environment variable to point to the JRE installation folder. The configuration wizard may fail to detect an existing JRE installation if it is not correctly configured, or if the JAVA_HOME setting points to an earlier version than that required by Search."
seems to be pretty wrong in some aspects, in my opinion, and her is it why:
why

[2019-06-07 13:56] dotnetcanuck commented on #4382
@mcgov Thanks to the following link, I was able to figure this out. Looks like they only support `exists` and `equals` checks right now, but this is how you'd do an `equals` check:

[code]

Ref -- https://github.com/Microsoft/azure-pipelines-agent/issues/1740

[2019-06-07 14:12] #3159 closed

[2019-06-07 14:32] chasewilson commented on #2695
@chilakamarthi Thank you again for the question. I've updated the versioning for the documentation to be more accurate. Please let me know if you have any more feedback or questions!

[2019-06-07 14:39] #2671 closed

[2019-06-07 14:39] #2695 closed

[2019-06-07 15:28] MisinformedDNA opened #4463 "Deployment outputs could use an example"
For instance it is not obvious that you need to wrap the object in a string.

So if one outputs to a variable `Outputs`, then they would parse the value with `ConvertFrom-Json '$(Outputs)`

Also, this value should likely be assigned and then used to find an ARM output, such as databaseName, like

[code]

and if they wanted to make the value visible to subsequent tasks, they could do

[code]

Also,

[2019-06-07 15:35] CraigHead commented on #4296
You can version your packages using the date time as part of the field. For example:
1.$(date:yyMM).$(date:dd).$(Rev:rr)

[2019-06-07 15:49] jorymorrison commented on #1772
Also wondering what workarounds exist for this issue.

[2019-06-07 15:50] MouthOfMadness commented on #1149
If the GitHub url is our example, only a select few will ever use this task correctly.

[2019-06-07 16:35] #2586 closed

[2019-06-07 17:29] RoopeshNair commented on #4460
@Leon99  - If you have credentials configured in app service. You can update the image using the task. We don't support updating the credentials using the task. If that's what your looking for

[2019-06-07 17:29] #4460 closed

[2019-06-07 20:03] chriskuech opened #4464 "Broken Link"
"Azure Artifacts User Voice" is a dead page.

[2019-06-07 20:15] Decker-Russell opened #4465 "Pipelines Accessing Repos of Same Project"
I am attempting to clone repos from same project into a pipeline. This is confusing me :
"Azure Pipelines must be granted access to your repositories to display them, trigger their builds, and fetch their code during builds. If the repository that you wish to build is in the same project as your pipeline, you're all set. Your builds will automatically have access to the repository. "

Do I need to

[2019-06-07 20:18] juliobbv commented on #4373
Odd. I don't believe the extra network proxy configuration should interfere with the script setting the environment variable to direct the agent to run as root.

By the way, I updated the docs to set up an agent in a Windows container for Windows hosts. You might have more luck with those new instructions.

[2019-06-07 20:18] Decker-Russell commented on #4357
+1 just wasted 2 hours trying to find some setting in DevOps to grant pipelines access to other repos. @MS pleasssssseeeee update your docs so other people don't waste time

[2019-06-07 21:45] infogulch commented on #2615
This is still an issue for me.  I have builds called A and B.  In build A I'm using DownloadPipelineArtifact to download the artifacts from build B because it's used as an input to build A.  This fails with the error in the title of the issue.

Here is the (translated) yaml of this pipeline step:
[code]

Debug logs for this step (it's the first step in the pipeline): [vsts-issue-2615.log](https://

[2019-06-08 02:08] cwiederspan opened #4466 "Multi-job output variables across Stages?"
In the "Set a multi-job output variable" section above, this definitely works across jobs within the same Stage, but there's no documentation about whether or not this can be used across jobs within different stages. Can you confirm one way or another, and also clarify within the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-08 09:23] haymansfield opened #4467 "Removing firewall rules where server lock set"
I've just added a lock to my SQL server as this seemed a prudent action.

This is now causing the removal of the firewall rule to fail. Is there a workaround here, or is the defined process above incompatible with locks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd85890a-ccba-8697-b406-b662aabeb27f
* Version Indep

[2019-06-08 09:35] heing commented on #4296
Thanks. I am aware of that, but that version format does not suit our needs, at least not for production releases. I have found a work-around using counters which seem to work well though.
See this post on StackOverflow: https://stackoverflow.com/a/56111209/1835620

[2019-06-08 18:34] erichmusick commented on #4011
@kmdeva - Are you using the [PHP Pipelines Repo](https://github.com/MicrosoftDocs/pipelines-php) or your own repo? The sample repo has a `phpunit` [script](https://github.com/MicrosoftDocs/pipelines-php/blob/master/phpunit) which this command is trying to execute. This error suggests that the file is missing from the repo.

[2019-06-08 19:30] claudioandre-br opened #4468 "Incorrect information"
The webpage [1] states that for a "public project" it is granted "10 free Microsoft-hosted parallel jobs that can run for up to 360 minutes (6 hours) each time, with no overall time limit per month."

My project and my repository are public (in fact, Open Source):

Regardless, I see in my job runs:
"The job running on agent Hosted Agent has exceeded the maximum execution time of 60. ..."

It also

[2019-06-08 19:56] claudioandre-br commented on #4468
BTW: confirmed, I am in the free tier (the documentation wrong):

![Captura de tela de 2019-06-08 16-55-01](https://user-images.githubusercontent.com/1702923/59151707-4139e800-8a0e-11e9-8b66-1bcfd951cbb1.png)

[2019-06-09 13:42] rlvandaveer opened #4469 "Checkout Path"
This part of the article, https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops#checkout-path, seems to be incorrect or incomplete. There isn't any property in the UI to specify a path for checkout. Specifying `checkout` at the root of a YAML pipeline results in green squiggles in the web UI and an error when the pipeline runs: `47: "/<path-to.yml

[2019-06-09 16:19] LanceMcCarthy commented on #3422
I can use it a normal Command Line step. Here's what I do move a code signing PFX into a folder I need it in:

`move %DOWNLOADSECUREFILE_SECUREFILEPATH% src\MyTargetFolder\`

 I think it's easy to confuse the difference between the **environment variable** , which is

`%DOWNLOADSECUREFILE_SECUREFILEPATH%`

and the **output variable** `secureFilePaht` that you can prefix the name with a custom valu

[2019-06-10 03:02] GreenRuby45 opened #4470 "👍"
[Enter 👍feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Build pipeline triggers - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=y

[2019-06-10 03:02] #4470 closed

[2019-06-10 03:09] davidcorrigan714 commented on #2283
Adding default subscriptions through extensions seems to be possible. It'd be nice if there was documentation about subscription contributions.

[2019-06-10 09:47] kmdeva commented on #4011
Hello Erich,
        Thank you for the reply. Yes we got this command in the repo.We are using Aquia BLT repo for our pipeline and we use Azure pipeline to trigger this. As per this document from Microsoft we used these commands and now I am facing the below error ..I have tried all the combination of argument and options
============================================================================

[2019-06-10 09:50] NetTecture commented on #3341
Can this actually be worked on before .NET core 3.0 is being released in RC form in July?

Because when this comes, we - and likely a LOT of other people -face the issue that we will upgrade separate branches in order to prepare for our products to upgrade to .NET 3. And that means that develop or other branches will (have to) compile on .NET core 3, while other (release, master) will stay on 2.2

[2019-06-10 10:20] Brucius opened #4471 "Failed Authentication for git push"
Hi, I was trying out the labs with Azure Devops and followed this documentation to clone the repo with PAT. But when I made some changes to the code and push to master branch, I keep getting authentication failed. message.

[code]
Pull was ok for me though.
[code]
Any idea what's causing this and the remedy to this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-06-10 11:04] kmdeva commented on #4011
Referred this link
https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/php?view=azure-devops

[2019-06-10 11:37] piotr-napadlek commented on #3513
Thanks man, I just spent like an hour on a basic task of creating a pipeline for all non master branches, thanks to misleading docs I was hitting the wall until I read your post and tried:
[code]

[2019-06-10 11:56] piotr-napadlek opened #4472 "Multiple pipelines in single yaml"
Hello,

either there is no such option and I would like to have it or I haven't seen it anywhere in the docs: is there an option to configure multiple pipelines in a single `azure-pipelines.yml` file? Use case: define several pipelines for branches, PRs, specific paths etc. and have VSTS automatically pick it up instead of manually clicking and importing them. I assume that a pipeline name and loc

[2019-06-10 15:23] nextbenjy commented on #4373
I have run into the same problem trying to configure a docker agent in Linux - turns out the URL returned by the TFS Api call (to download the appropriate tar.gz to unpack and configure the agent) contains a package that does not have the check for AGENT_ALLOW_RUNASROOT (config.sh once it is unpacked)
so where it should be:
if [ $user_id -eq 0 -a -z "$AGENT_ALLOW_RUNASROOT" ]; then
is in fact:
if

[2019-06-10 16:34] kcox1021 opened #4473 "unauthorized: authentication required"
I agree with tmciver's comment that there is not enough information provided in this documentation to get build/push working from an Azure DevOps pipeline.

I have created a Docker registry service connection (named 'MyContainerRegistry') that refers to my Azure Container Registry, and this service connection has been made available to all pipelines.

My azure-pipelines.yml includes a Docker@2 log

[2019-06-10 17:16] chcomley commented on #1647
Adding @wnjenkin for further guidance. Thanks @rifuller, we'll get the docs updated.

[2019-06-10 19:13] andyjlewis commented on #2394
@bravecobra thanks for the feedback and I'm sorry about the delayed response. I'm pretty sure the essence of the content in topic you originally posted your issue about has been refactored into other topics. One of them is this one: https://docs.microsoft.com/azure/devops/pipelines/repos/github. Please see that and other topics under Repositories and feel free to raise another issue over there if

[2019-06-10 19:13] #2394 closed

[2019-06-10 19:15] andyjlewis commented on #1192
@sabbour thank you for the feedback and so sorry about this issue getting lost in the shuffle. I'm pretty sure the essence of the content in topic you originally posted your issue about has been refactored into other topics. One of them is this one: https://docs.microsoft.com/azure/devops/pipelines/repos/github. Please see that and other topics under Repositories and feel free to raise another iss

[2019-06-10 19:15] #1192 closed

[2019-06-10 19:24] steved0x commented on #2394
We have added a FAQ for this as well [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#the-yaml-file-in-my-branch-is-different-than-the-yaml-file-in-my-master-branch-which-one-is-used) and also a few mentions in some other places like the one linked above. In short, it is the yaml file in the branch that is being pushed that is used.

[2019-06-10 20:55] chcomley commented on #4471
Hi @Brucius, t\Thanks for reaching out. I'm following up on this and will get back to you. Thanks!

[2019-06-10 20:59] chcomley commented on #4453
Hi @thoaingan, Thank you for reaching out. We will certainly add some clarity to the docs - I've created a user story to capture this task. Thanks.

[2019-06-10 21:20] steved0x commented on #4442
@gholliday I have just submitted a fix and it should be live very soon, thank you.

[2019-06-11 00:37] johnwc opened #4474 "No context menu"
I am trying to convert a fairly new project from Basic to Agile, but I do not get any context menu for the project. Is there something else I need to do prior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 365bff0e-8532-ae8a-f1c9-37ea7017e5b1
* Version Independent ID: a324129d-0edb-00ce-1217-819be9fda4f6
* Content: [C

[2019-06-11 04:43] erichmusick commented on #4011
@kmdeva - The issue you're describing sounds like a different root cause than what I reported. The problem I've found is specifically with the sample PHP Pipelines repo linked from the post you shared, and the ambiguity around needing to set permissions on the `phpunit` script.

If you're using the vanilla [Acquia BLT repo](https://github.com/acquia/blt), I see two possible problems:
1. When you u

[2019-06-11 04:59] RoopeshNair commented on #4467
@haymansfield - can you please share your buiid/release debug log files

[2019-06-11 05:41] Leon99 opened #4475 "Artifact download for containers"
"Azure Container Registry, Docker, Kubernetes" states "By default, builds are downloaded to the agent. You can configure an option in the stage to skip the download of artifacts." Does that mean that the agents will pull the container(s)? Besides, the linked page doesn't specify how to set that behaviour.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-11 05:42] RoopeshNair commented on #4475
@azooinmyluggage  - can you please take a look?

[2019-06-11 06:32] mzaatar commented on #3869
Worked! thanks

[2019-06-11 07:27] nextbenjy commented on #4373
ok that seems to work - only other thing to note is the call at the end of start.sh
[code]
should be
[code]

not sure that running a later agent (version wise) than TFS 2018.3.2 knows about is a sensible idea

[2019-06-11 08:38] olaeld commented on #2007
I am facing the same challenge.

[2019-06-11 08:54] gaborbuzasi commented on #3795
Just wondering if there's any update on this please?

[2019-06-11 09:05] atinb commented on #3795
@gaborbuzasi Sorry for the delay in responding. This functionality is present in the app. Please see [this documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/integrations/slack?view=azure-devops) for subscribing only to failed build notifications. Thanks

[2019-06-11 09:08] atinb commented on #3701
@steved0x Kindly close. Thanks

[2019-06-11 09:16] atinb commented on #3585
@97turbotalon We are using the same service hooks as the current Slack integration. Service hooks do not support Build started event and hence I am interested to understand how you are getting these events in your current integration.

[2019-06-11 09:21] atinb commented on #4218
@StefanSchoof Were you able to get this working? Do let us know if you are running into issues. Thanks!

[2019-06-11 09:22] atinb commented on #4248
@alohaninja Did this work for you? Can we close this ticket? Thanks!

[2019-06-11 09:30] gaborbuzasi commented on #3795
@atinb
Ah that's brilliant! Thank you for the update!

[2019-06-11 09:30] #3795 closed

[2019-06-11 13:25] leus opened #4476 "Provide a method to release Desktop App"
Please add a step with instructions on how to create relevant installers or packages for users to download. Something similar to "releases" in Github but for Azure Devops would be great.

[2019-06-11 13:25] GearsViraj commented on #1163
I get this error too, stuck one this step. There is no zip file . How i fixed this
<img width="950" alt="ErrorAzureDevOps" src="https://user-images.githubusercontent.com/48319914/59275584-38e5e500-8c7a-11e9-8055-e5b6f782d476.PNG">

[2019-06-11 14:36] chispadelgado commented on #4373
Which line have you hard-coded the url?

On this one?
[code]

And which version have you used?

Thanks!

[2019-06-11 15:11] pieterv-icloud-com opened #4477 "inline configuration type"
Would it be possible to elaborate on how the inline configuration type is applied with a sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcbb25d1-a706-e8fc-61e4-d5b86aa54f47
* Version Independent ID: 5634d9dd-fd92-761c-24b8-5e32ed6c6c35
* Content: [Deploy to Kubernetes task - Azure Pipelines & TFS](https://docs.

[2019-06-11 15:16] nextbenjy commented on #4373
Up to you and it depends what you're trying to do - you can leave that line alone or you could remove the api call if you wanted but it doesn't hurt (for me at the moment) and I'd like this to work when we upgrade to TFS 2019 (which does return a newer package). So I've left that alone and just changed this:

[code]

I basically tried to download a newer agent package (which has the correct check

[2019-06-11 15:19] exwindchiller opened #4478 "Option Side Effects"
It would be helpful if the documentation stated behavioral side-effects caused by enabling options.  For example, enabling code coverage, inserts the 'clean' goal into the Maven goals list when Maven is called.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589e076c-9f67-77df-3204-4f549566f21b
* Version Independent ID:

[2019-06-11 16:49] abbottbd opened #4479 "Screen shot shows options that are not available on Azure Devops Server 2019 (on prem) or on Azure Devops (hosted)"
This image at the top of the document,
![image](https://user-images.githubusercontent.com/19344687/59290902-86d4fb80-8c2e-11e9-8141-5bc8c64f09ea.png)

as well as the text around it:

Indicate that you should be able to filter the artifact source consumed from a build pipeline based on 'tags', however this option is not available in either the onprem or hosted versions.

---
#### Document Details

[2019-06-11 18:02] johncrim opened #4480 "What about the basic logging commands?"
Eg `##[error]` or `##[warning]` (examples here: http://hauge.cloud/2018/06/22/improving-logs-in-visual-studio-team-services-vsts-with-special-tags/ )

They really should be included in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf0bbb-8b63-6384-aa33-b5b1e2b8cfe3
* Version Independent ID: f4da8dbd-a02f-b

[2019-06-11 18:02] DanJ210 commented on #3621
@chcomley yes it does clarify things. Are we able to report feedback on the discomfort caused with all of the folders created that do not have markdowns and have warning signs on them and how that can be very poor for stakeholders to see? Or do we need to report the feedback in another place?

I've even added markdown files to the warning folders and the warning sign doesn't go away nor does the m

[2019-06-11 18:31] zeniri commented on #3747
Hi mydiemho, Can't see your failed build. All I see is a successful build. If you however have resolved the issue feel free to publish the answer and close the topic. Thanks

[2019-06-11 18:33] KathrynEE commented on #4435
@KitPatterson - Thank you for the correction. I'll update the topic later today.

[2019-06-11 18:33] #4435 closed

[2019-06-11 18:37] keithbabinec commented on #4333
Hi @RoopeshNair and @thomps23 -- I finally received word back from the AzDo support that running a single pipeline script that authenticates to both Classic and RM authentication is not recommended. We had to rewrite some of our deployment code to make them two separate pipeline steps. One pipeline step just for Azure Classic resources, and one pipeline step just for Azure RM resources.

It doesn'

[2019-06-11 18:38] KathrynEE commented on #4432
@henryrt - Thank you for your inquiry. If you go to the Links tab, choose Existing item, and then scroll to the Work category-- you should see the Hyperlink link type. This allows you to link to a URL.

![image](https://user-images.githubusercontent.com/10856840/59297542-4f218000-8c3d-11e9-801a-d17f9d4d97cf.png)

[2019-06-11 18:38] #4432 closed

[2019-06-11 18:46] KathrynEE commented on #4449
@jeffpatton1971 - Thank you for your inquiry.  There is no restriction on the number of characters you can enter into a PlainText or HTML field. There is a restriction for the String field of 255 characters.

- PlainText: Supports entry of a text string that can contain more than 255 Unicode characters.

- String: Supports entry of a text string that can contain up to 255 Unicode characters. Use a

[2019-06-11 18:46] #4449 closed

[2019-06-11 18:49] KathrynEE commented on #4424
@jlroper99 - Thank you for the correction. I'll update the article later today.

[2019-06-11 18:49] #4424 closed

[2019-06-11 19:00] KathrynEE commented on #4428
@rsbaa - Thank you for your inquiry. The scenario you describe isn't supported at this time.

[2019-06-11 19:00] #4428 closed

[2019-06-11 19:14] KathrynEE commented on #4406
@prlcutting - Thank you for your inquiry. This is a mistake in the documentation, which I will correct. The workaround you note is how we currently get around the limitation. The scenario you outline is on the product backlog. It should ship within the next could of months.

[2019-06-11 19:14] #4406 closed

[2019-06-11 20:02] abbottbd commented on #4479
Adding some supporting screen shots - this one is from my azure devops (hosted) account:
![image](https://user-images.githubusercontent.com/19344687/59302397-c3adec00-8c48-11e9-8fe7-b815d140813b.png)

This is from our on-prem trial upgrade to azure devops 2019 from TFS 2017 Update 3.
![image](https://user-images.githubusercontent.com/19344687/59302609-3323db80-8c49-11e9-9c73-eded23213660.png)

[2019-06-11 20:23] greggboer commented on #4430
Repo data is not yet in the Analytics Service. And we only have Branch data for Branches that were referenced by Builds, or Automated Tests run as a part of a Build or Release.

Also, in the future, if you hit the end-point without entities, it will return the list of entities available:
https://analytics.dev.azure.com/%7BOrganizationName%7D/_odata/v3.0-preview/

[2019-06-11 20:56] danhellem commented on #4474
@johnwc we are going to be releasing this feature in the next 3-4 weeks. We do have a private preview if you want to try it now. Just email me directly at dahellem@microsoft.com

[2019-06-11 20:56] #4474 closed

[2019-06-11 20:57] yahalawa commented on #4411
any update on this?

[2019-06-11 20:59] heng-liu opened #4483 "How to uninstall SDK from $(Agent.ToolsDirectory)"
I run this task to install .NETCore SDK 3.0 for several times, with specifying $(Agent.ToolsDirectory) for the  installationPath.
Then I realize that $(Agent.ToolsDirectory) is shared by other pipelines and I don't want to pollute the agent environment, so I would like to uninstall it. But I 'm not sure if I  have access to remote into machine of agent pool, if not, how can I uninstall it? Thanks!

[2019-06-11 21:11] KathrynEE commented on #1450
Added link to the blog post from the article.

[2019-06-11 21:11] #1450 closed

[2019-06-11 21:14] #2581 closed

[2019-06-11 21:50] KathrynEE commented on #3137
Added screenshots to the article.

[2019-06-11 21:50] #3137 closed

[2019-06-11 21:50] #3604 closed

[2019-06-11 22:11] alohaninja commented on #4248
@atinb - I was able to successfully filter the stages of a release - however the workflow is not very intuitive. Maybe this GH issue will help to server others seeking to do the same. Once I completed it for one subscription - it was easier to add filters for the other stages and statuses.

For Builds - it seems you can't get notified when builds start like you can for releases - is there any way

[2019-06-11 22:14] chasewilson commented on #2065
The syntax has been updated and if there are any more issues, please reach out!

[2019-06-11 22:14] #2065 closed

[2019-06-11 22:19] #3361 closed

[2019-06-11 22:25] #4442 closed

[2019-06-11 22:44] thomps23 commented on #4414
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-11 22:44] #4414 closed

[2019-06-11 22:46] thomps23 commented on #4416
@andyjlewis Andy, has this level of support changed at all?

[2019-06-11 22:47] pwen090 commented on #2025
One thing that might work for you is you can follow the documentation here to restrict branch creation to folders such as feature, users, etc... https://docs.microsoft.com/en-us/azure/devops/repos/git/require-branch-folders?view=azure-devops&tabs=browser

Once you have done that then you can add an allow rule for a user or group to be able to ForcePush (delete branch) on anything in just a specifi

[2019-06-11 22:50] thomps23 commented on #4417
Thanks for your question. It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

You may also find short term help in the [Stack Overflow Azure DevOps community](https://stackover

[2019-06-11 22:50] #4417 closed

[2019-06-11 22:56] #4419 closed

[2019-06-11 23:55] chasewilson commented on #3094
This seems to be a product issue and has been/should be  passed to the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). If there is any further feedback on the docs site please open a new issue.
Thank you all for the feedback!

[2019-06-11 23:55] #3094 closed

[2019-06-12 01:09] sarasfox opened #4484 "Can I different pipelines for the different branch in the same project?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-06-12 05:00] AArnott commented on #4108
It also fails when .NET Core 1 is used, as tracked by https://github.com/tonerdo/coverlet/issues/466

[2019-06-12 07:00] steveculshaw opened #4485 "There are no details about the environment keyword"
The article on this page https://devblogs.microsoft.com/devops/whats-new-with-azure-pipelines/ mentions an environment keyword, but there are no details ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML

[2019-06-12 08:47] principaltyke opened #4486 "Deployment Groups in YAML"
Though this article was written over a year ago, is there any update as to when the support of Deployment Groups in YAML will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45bcaa19-4ee9-55c5-9b1c-92f8d0f2dfa7
* Version Independent ID: d9424c8a-571d-0f48-e8f7-4bb7a9544efb
* Content: [Deployment group jobs

[2019-06-12 08:56] Brucius commented on #4471
Seems like I got it working with a work around by re-cloning the repo using the below command. So will have to use username in the HTTPS URL and not the default clone command from the repo itself.
```git clone https://username@dev.azure.com/orgName/partsUnlimited/_git/partsUnlimited```

[2019-06-12 09:45] arkiaconsulting commented on #4394
@andy-otter How do you reference variables between stages ?

[2019-06-12 10:45] SarahDurden opened #4487 "Set no tester on creation"
On creating a new test case, the Tester field is automatically set to the name of whoever created the card. How can this be changed to show that no testers have yet been assigned and the test case is waiting to be picked up by one of the team?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf72265-156c-de8c-d729-ba7b3

[2019-06-12 13:15] carloreggiani commented on #3512
We discovered the csv file exported has now only 5 field and not 7 as before... We have developed jobs to import this file to coordinate license beetwen online and on premise Azure DevOps configuration.
Did you know any changelog about it?

[2019-06-12 13:31] gbritton1 commented on #1326
I notice that almost a year has elapsed since "Let me see what I can find on that."  Just wondering if you've had any luck?

[2019-06-12 14:41] jjindrich opened #4488 "Using Helm task with AKS RBAC enabled cluster"
Hi, I'm trying to deploy kubernetes deployment with HELM to AKS cluster with RBAC. I'm getting from authorization error:  [command]/opt/hostedtoolcache/helm/2.14.1/x64/linux-amd64/helm upgrade --install --wait Release-6 /home/vsts/work/r1/a/_source/drop/jjwebapicore
2019-06-12T14:03:41.4227491Z To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DGVD

[2019-06-12 14:46] juliobbv commented on #4373
@nextbenjy, @chispadelgado: aah, you're running TFS -- that was the piece I was missing. I should've asked that question first 😄. TFS releases are "anchored" to the latest agent version **at that point in time**, so that's why you're getting an older version package from the endpoint.

BTW, you can just use the latest version of the agent package for your TFS instance -- we support back-compat for

[2019-06-12 15:36] chcomley commented on #4471
I'm so glad you got it working. Thanks for letting me know. In the future, if you have an issue with the product, you can go [here](https://visualstudio.microsoft.com/vs/support/#talktous) to get technical support or submit an idea, etc. Have a great day!

[2019-06-12 15:36] #4471 closed

[2019-06-12 15:51] chcomley commented on #1636
Thank you, @rifuller, I've adjusted the statement, which should be live sometime this morning. We appreciate it!

[2019-06-12 15:55] nextbenjy commented on #4373
Yes using TFS 😄

Thanks for the tip - I will try out with a later version of the agent if it's backwards compatible

[2019-06-12 16:08] chcomley commented on #3512
Hi @carloreggiani, I've added @KathrynEE for further guidance. Thanks!

[2019-06-12 16:13] chcomley commented on #3621
Hi @DanJ210, we always appreciate honesty! Please report your feedback [here](https://developercommunity.visualstudio.com/spaces/8/index.html). Thank you!

[2019-06-12 16:22] #760 closed

[2019-06-12 16:24] DanJ210 commented on #3621
@chcomley The link takes me to where I originally started. Reporting a bug or requesting a feature on the community site. I'm not seeing anywhere that someone can report feedback.

[2019-06-12 16:25] chcomley commented on #1870
Hi @sobjornstad, since this issue is also crossreferenced in #3091, I'm closing this issue and we'll address it in 3091. Thanks!

[2019-06-12 16:25] #1870 closed

[2019-06-12 16:26] #2527 closed

[2019-06-12 16:35] chcomley commented on #2644
Hi @StingyJack, as I scan the doc, it looks like this was addressed last August. I'll be closing this issue, however, if you feel that the doc needs more work, please respond to this message and we'll create a new issue. Thanks very much.

[2019-06-12 16:35] #2644 closed

[2019-06-12 16:35] syonekura opened #4490 "Consume Artifacts"
Hi, I have a separate build that generates an artifact stored in Azure. Now I have a second pipeline that needs to consume that artifact, but there's no info about how to generate credentials to be able to consume the artifact repo in another isolated build.

The ideal would be to have a step that generates some env variable with the credentials, that I could inject into the docker build that inte

[2019-06-12 16:40] chcomley commented on #2709
Hi @StingyJack, It looks as if this issue was addressed a few months ago, as I'm not seeing the examples you provided. I'll be closing this issue, however do respond if you'd like to request any further clarification or changes in the documentation, and then we'll create a new issue. Thanks very much.

[2019-06-12 16:40] #2709 closed

[2019-06-12 16:43] StingyJack commented on #2644
@cchomley the problem was that the urls would break and then be fixed and repeat every few months. I don't need the on premise API reference docs anymore.

[2019-06-12 16:47] harishkragarwal commented on #4320
@VisualMicro:
installs is the # of unique installations, not including updates.
downloads is the # installs, including updates.

Hence you see the remarkable diff between them. Over time we will remove the download count and just keep the install count.

[2019-06-12 16:47] #4320 closed

[2019-06-12 16:55] chcomley commented on #3621
You can provide your feedback within a "feature request." Consider it a suggestion ticket.
I would upvote [this one](https://developercommunity.visualstudio.com/content/idea/366069/hide-folders-that-do-not-contain-markdown-files.html), and then create a new "feature request" with your individual feedback if you'd like. Thanks very much!

[2019-06-12 17:00] chcomley commented on #2772
Hi @sobjornstad, the page title is correct, however it does show up for later versions. There is a notification at the top of the page stating the following:
The requested page is not available for azdevserver-2019. You have been redirected to the newest product version this page is available for.
We've also added a note that states and links to content applicable to newer versions: The REST APIs

[2019-06-12 17:00] #2772 closed

[2019-06-12 17:06] chcomley commented on #3384
Hi @ravensorb, it appears that @StingyJack has answered your question. I'll be closing this issue, however if you still feel that the documentation needs more information, please chime in on [this issue](https://github.com/MicrosoftDocs/vsts-docs/issues/4085) and we'll address it there. We appreciate it, thank you.

[2019-06-12 17:06] #3384 closed

[2019-06-12 17:11] juliobbv commented on #4373
Sounds good, @nextbenjy.

I'll go ahead and close this issue, as this issue is now well understood.

[2019-06-12 17:17] juliobbv commented on #4373
Actually, I don't think I can personally close the issue (I don't see any option in the UI). @andyjlewis, do I need a special permission? Or do you want to close this issue for me?

[2019-06-12 17:35] chasewilson commented on #2898
@JeffreyCA, thank you for the feedback! I have added a note to make it a bit more explicitly state there are considerations when using upstream sources with a reference to the Upstream Sources Article.
Once the update goes live I will be closing this issue.

Thank you again for the feedback and if you have any more, feel free to reach out :)

[2019-06-12 18:10] chcomley commented on #3590
Hi @borys86, I've merged the two articles and so we're left with [this one](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/assign-access-levels-and-extensions-by-group-membership?view=azure-devops), which should be live this afternoon. Thanks again for your feedback! We appreciate it.

[2019-06-12 18:10] #3590 closed

[2019-06-12 18:14] jleach opened #4491 "Service account token expires frequently"
The `AppStoreRelease@1` task works fine but the service account requires a token from `fastlane` that expires frequently; mine seem to last a day at most. This renders the task pretty useless if we have to go back every day and manually refresh the token. You can see the expiration date in the token itself ` max_age: 1800\n` (30 minutes) when you copy it from `fastlane`.

Please confirm and update

[2019-06-12 18:24] #1509 closed

[2019-06-12 18:28] smithago commented on #4402
Thanks for reaching out.

Currently you need to be in project admin group to create a team. Edit project information permission does not work anymore.

We will update the document.

[2019-06-12 18:30] #2898 closed

[2019-06-12 18:32] MrBeanzy commented on #1639
They may be available in multi stage pipelines. But this is no use when you are trying to orchestrate a release that has loads of micro services and 10's of environments. When can we expect YAML support for release? @katlimruiz ?

[2019-06-12 18:54] chcomley opened #4492 "Add hierarchy of packages"
Spin off from #1647 - It would be useful to still have a hierarchy of packages, or at least correlate which packages have which APIs in them. They are listed very briefly (Microsoft.VisualStudio.Services.Client has the "identity" apis) but that could be a lot clearer, perhaps with a diagram or by naming the packages better.
Microsoft.VisualStudio.Services.Client and Microsoft.TeamFoundationServer.

[2019-06-12 18:56] chcomley commented on #1647
Hi @rifuller, I'm closing this issue and have spun off a new issue. You can track it [here](https://github.com/MicrosoftDocs/vsts-docs/issues/4492). Thank you!

[2019-06-12 18:56] #1647 closed

[2019-06-12 19:30] ironstine commented on #4451
Similar to @yashkv1, I would like to completely remove the Project Wiki (which was created in error) and use only Code Wikis. The Project Wiki is confusing to our users, despite training them to only use the Code Wikis we still have users that continue to create content in The Project Wiki. We also tried removing 'Read' permissions to solve this issue however users were presented with the message

[2019-06-12 19:37] htxryan opened #4493 ""Allow scripts to access OAuth token" option is in a different place"
The "Allow scripts to access OAuth token" option is now on the phase page under "Additional Options" rather than on the "Options" tab of the pipeline definition, as stated in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 024e4ed9-cf8d-155f-5e4a-73c2effaaed8
* Version Independent ID: f19c0538-4aae-b3b4-8

[2019-06-12 19:59] chispadelgado commented on #4373
Thanks @nextbenjy and @juliobbv.

Yes, it is TFS. I got past that error now by pointing to a newer version.

[2019-06-12 21:48] akuchotrani opened #4495 "Can you add instructions on manually installing the extension"
I have VSIX file of the extension that I downloaded from the marketplace. There are no instructions on the page to install this file manually. It would be useful for other developers to include it in the documentation.

Steps to install:
Navigate to the Azure DevOps Server Extensions page on your server.
(For example, http://someserver/_gallery/manage)
Click upload new extension and select the fil

[2019-06-12 22:07] thomps23 commented on #4425
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:12] thomps23 commented on #4426
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:12] #4426 closed

[2019-06-12 22:16] thomps23 commented on #4429
@bnhassin Could you provide any additional information to assist us in the triage of this issue? Thank you

[2019-06-12 22:20] #4430 closed

[2019-06-12 22:24] thomps23 commented on #4431
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:24] #4431 closed

[2019-06-12 22:24] noelbundick commented on #4490
I was actually working on a PR to add this to docs when I saw your comment. Until it lands, please take a look at the following gist that I've extracted from a working pipeline

https://gist.github.com/noelbundick/0262aa0f37ec3f9a179137c622b6280d

[2019-06-12 22:27] thomps23 commented on #4433
@spashx Could you let us know which topic you were looking at to assist in triage?

[2019-06-12 22:31] thomps23 commented on #4438
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:31] #4438 closed

[2019-06-12 22:35] thomps23 commented on #4439
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:35] #4439 closed

[2019-06-12 22:41] thomps23 commented on #4445
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I

[2019-06-12 22:45] thomps23 commented on #4448
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-12 22:45] #4448 closed

[2019-06-12 22:49] thomps23 commented on #4450
@JustinGrote Thanks for the feedback. We'll see how we can address it in this topic, but by Toast did you mean a warning in the service itself? If so you can [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-06-12 22:49] chasewilson commented on #2703
Hi @rguthriemsft, Thank you for the feedback!. It's taken a bit but the documentation will now (on the next release) let the user choose to use the demo package or create a package of their own by linking the suggested article. If you have any more feedback feel free to reach out!

[2019-06-12 22:49] #2703 closed

[2019-06-12 22:56] thomps23 commented on #4459
@cannehag We have our feature roadmap published [here](https://docs.microsoft.com/azure/devops/release-notes/). If you don't find what you're looking for you can always [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-06-12 22:56] #4459 closed

[2019-06-12 23:05] donzacharias opened #4496 "Need steps for pushing this to a remote"
These steps end with a local repository. I think it would be more helpful to complete the instructions on pushing this new local git repository to a shared location like Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd6cbc8-5e3b-c3a1-4672-d42510cc058b
* Version Independent ID: 8fe81fb5-7c2d-2562-5659-55fccbb3

[2019-06-13 00:05] bnhassin commented on #4429
Following Authorisation ⤵
![Screenshot_20190613-000533](https://user-images.githubusercontent.com/1473765/59394190-b5f68480-8d76-11e9-8859-27dae3d878ae.png)
![Screenshot_20190613-003702](https://user-images.githubusercontent.com/1473765/59394258-e0484200-8d76-11e9-946a-df9cb554410d.png)
![Screenshot_20190613-003728](https://user-images.githubusercontent.com/1473765/59394286-f6ee9900-8d76-11e9-8dde

[2019-06-13 00:21] Urglefloggah666 opened #4497 "Approvals and Gates for Multi-Stage Pipelines"
Is there any support for Approvals and Gates for Multi-Stage (YAML) Pipelines available at this time?
I have been unable to find any documentation, examples or similar functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b27fd8-df35-5e98-8c6e-2924f541a504
* Version Independent ID: 4c6e6300-2354-a9ec-0cf3-7f9

[2019-06-13 00:33] Chris113113 opened #4498 "Support for dotnet Core"
TIA support for dotnet Core would be phenomenal. Is this on the roadmap anywhere?

[2019-06-13 01:04] markgar opened #4499 "Multi Environment Sample"
Can you please provide an example of a pipeline like you are describing here?  I'd like to see a multi-environment pipeline that deploys to multiple environments (dev, test, prod).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec0

[2019-06-13 01:08] markgar commented on #4499
It would be nice if the sample were a nice full yaml file.  A build of an ASPNET Core app, then deployment to Dev, Test, Prod including approvals before deploying to Prod.

[2019-06-13 01:15] JustinGrote commented on #4450
No I just meant a callout or warning block in the documentation. Thank you.

On Wed, Jun 12, 2019 at 3:49 PM thomps23 <notifications@github.com> wrote:

[2019-06-13 01:56] KathrynEE commented on #4311
@waynethompson - THank you for the correction. I'm updating the link to the blog post now.

[2019-06-13 01:56] #4311 closed

[2019-06-13 03:06] yannduran commented on #4306
My first thought was this sounds a lot like GitFlow, with the branches names changed (master instead of develop, and releases instead of master), and some pull request magic tacked on..

Btw Edward compared to GitHub Flow, not GitFlow. It certainly a bit misleading to compare to GitHub Flow, as what they're doing is much closer to GitFlow than GitHub Flow. It's like comparing apples to oranges, in

[2019-06-13 04:04] #4402 closed

[2019-06-13 04:04] cecilphillip opened #4500 "Searching .NET Core Tool Installer leads to 3rd party task"
If you search the marketplace for " .NET Core Tool Installer" as suggested above, you won't find the correct task. Instead you'll have to search for ".NET Core SDK/runtime installer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 483dcb1c-1a89-2b20-4cf2-abd3ae88d9ed
* Version Independent ID: dc4722ed-5a4b-26ec-e7d5-a14

[2019-06-13 04:29] yashkv1 commented on #4451
I found a solution. I have to try if this will work for deleting Provisioned wiki.

[2019-06-13 05:07] adramasu commented on #4451
You cannot delete a provisioned wiki. However, you can delete the underlying repo  of the wiki by following the steps in this document [DELETE PROJECT WIKI.docx](https://github.com/MicrosoftDocs/vsts-docs/files/3284289/DELETE.PROJECT.WIKI.docx). This will in effect delete the provisioned wiki.
As for preventing the creation, you can deny "create repo" permission to users who should not create a pr

[2019-06-13 05:51] simkessy opened #4501 "App Fails when deploying through Azure Pipelines but not VSCode"
I built a node js app and it runs locally no problem

I used the VSCode App Service Extension to deploy and that works fine as well.

I then tried to set up DevOps to deploy using Pipelines and this is where things are failing for me.
When I deploy using Pipelines the logs give me this error:

[code]

Folder Structure:

![image](https://user-images.githubusercontent.com/5871660/59374564-fb786a80-8

[2019-06-13 07:08] spashx commented on #4433
Hi,
In this page https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops-2019, the "Alternate" mode is specified, just below the "Download and configure the agent" chapter.

In fact "Alternate" does not work. The keyword on the command line is "alt".  I had to dive into the agent source code to find it.

[2019-06-13 08:16] RoopeshNair commented on #4497
@shashban

[2019-06-13 08:47] LasseNisted opened #4502 "Unclear what to use the collection level groups for, e.g., Project Collection Build Service Accounts"
For a pipeline running with the "Build job authorization scope" set to "Project collection" we expect that giving the group "Project Collection Build Service Accounts" contribute rights to a repository would enable push.

However, we get the error: "remote: TF401027: You need the Git 'GenericContribute' permission to perform this action." during the build.

We can fix it by manually adding the use

[2019-06-13 09:24] jjindrich commented on #4488
Hi @thomps23, any progress or idea how to make it working?

[2019-06-13 09:52] shashankbarsin commented on #4253
@tmciver the value for containerRegistry needs to be the name of the Docker registry service connection (Connection name field in [Docker registry service connection](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#sep-docreg)).

Adding a full pipeline YAML in the task documentation will not be possible as we are trying to keep the task

[2019-06-13 09:54] shashankbarsin commented on #4253
@DrSensor arguments input is not the same as tags. It exists to pass any optional overrides that you may want to pass to the docker cli that is run under the hood for the Docker task as shown [in this section of the Docker task doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops#other-commands-and-arguments)

[2019-06-13 09:54] #4253 closed

[2019-06-13 09:56] shashankbarsin commented on #4372
The use case for this tool is to install a specific version of kubectl binary on an agent. This can be used if one wants to change the version of kubectl binary on any of the hosted agents. It can also be used to install kubectl from scratch on a self hosted agent as well.

[2019-06-13 09:56] #4372 closed

[2019-06-13 10:33] AlexisColes opened #4503 "Does the news that WCF might make it to core mean that the extended client might too?"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-06-13 10:35] AlexisColes commented on #4503
You state the following in your documentation:

"The Microsoft.TeamFoundationServer.ExtendedClient currently doesn't support a NetStandard compliant version. This package includes our older SOAP object model, which has been replaced by our newer REST object model. At this point, we're no longer investing in the older SOAP object model, and have no plans to create a NetStandard version of it."

doe

[2019-06-13 11:01] shashankbarsin commented on #4185
We had forgotten to make the repo public before publishing the doc. We made it public the same day realising the mistake. Apologies for the inconvenience.

[2019-06-13 11:01] #4185 closed

[2019-06-13 12:43] adriantorrie opened #4504 "DownloadPipelineArtifact@1 is in use now"
DownloadPipelineArtifact@0 is documented only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ce7a5-4fa4-55f1-2c97-46a9cc6a2f66
* Version Independent ID: bdf954b9-9bbe-8b34-b674-71ad8153519d
* Content: [Publish and consume Pipeline artifacts in builds - Azure Pipelines and TFS](https://docs.microsoft.com/en-us/azure

[2019-06-13 13:56] adriantorrie commented on #4497
Looking for this just now as well. Need this to be able to use the multi-stage YAML for production stages.

[2019-06-13 14:02] chamilton614 commented on #4068
I created a RHEL 7 agent on a VM and one in a Container by using the generic Linux x64 download with RH Git 2.18 and have had no issues.  I would recommend this route instead of the packaged RHEL 6 download.

[2019-06-13 14:09] krogold opened #4505 "Azure pipeline - how to avoid checkout ?"
Hello,
I'm using a build in a pipeline and I specified clean : false and shallow fetch (1 level) as I want to gain performance, however each time I build after a source change, it seems that the whole repository is checked out, which is really long and not acceptable for my purpose.
- did I miss an option ?
- is it possible to disable checkout as I just want to launch tests without modifying them

[2019-06-13 14:11] syonekura commented on #4490
@noelbundick wow, that what's exactly that I was looking for! great gist, thank you for sharing. Hope that PR get merged soon

[2019-06-13 15:12] bender2k14 commented on #4425
Thanks for your response.  I am not sure that I understand though.

Are you saying that
1. the behavior I described is expected,
2. the documentation clearly states that this is the expected behavior, and
3. I have something wrong with my implementation?

I am certainly capable of making a mistake with my implementation.  I am wondering though if the documentation is correct but the behavior I des

[2019-06-13 15:14] claesjanwolff opened #4506 "Python example for sys.args not documented for Python script"
In the Python script task, one can enter arguments, which will be interpreted as  a python sys.args[] list
I cant see an example on how to enter the arguments in the Arguments field. e.g. I have 2 string arguments I need to pass: "ABC" and "123,xyc" notice the comma in the string. How do I pass to the python interpreter? I tried with comma separated, lists [], string encapsulating (e.g. '"ABC", "1

[2019-06-13 15:15] alexrest opened #4507 "Use iframe that is not a video?"
Is it possible to insert an iframe element on the page that's not a video? It would be really helpful to insert an Adobe XD, InVision, or Framer prototype using an iframe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9f92-6d2f3c5ac336
*

[2019-06-13 15:26] vtbassmatt commented on #4441
And for future searchers, it's doc'd here: https://docs.microsoft.com/azure/devops/pipelines/scripts/logging-commands

[2019-06-13 16:03] vtbassmatt commented on #4426
Everything but the "else" section is supported and should work.

[2019-06-13 17:17] ablomber commented on #3888
I am also unable to use cTest as the results format.  When I try to publish results from ctest I receive the following from the publish test results task:

[code]

[2019-06-13 17:24] chasewilson commented on #3158
Hi all! This looks to be aimed toward the Azure DevOps Developer Community and highly encourage you to leave feedback there! If you have any more issues with the documentation around this, feel free to open a new issue.
 Thank you all for your contributions!

[2019-06-13 17:24] #3158 closed

[2019-06-13 17:38] chasewilson commented on #2846
Hi all! Thank you for all of the feedback. That task input is "restore" and it's alias is "restoresolution". Either will work, however, it's suggested to use the alias as a best practice. I will be closing this issue if there are no further comments @elbatk If there is anything I'm missing, feel free to throw it out here :)

[2019-06-13 18:06] chcomley commented on #4444
Hi @ahmedspiir, Sorry to hear that link doesn't seem to be working - thanks for reaching out. We'll be in touch soon.

[2019-06-13 18:08] somasunil commented on #3481
Is there any update/solution for this? I'm in the same boat now.

[2019-06-13 18:23] StevenLiekens commented on #4236
I'd like to add that `targetPath` appears to be optional. If not specified, the entire working directory is published. That can be useful when combined with `.artifactignore` files.

[2019-06-13 18:34] nishantsny opened #4509 "How to get the type of update for "Pull request updated" event"
The page mentions to use "NotifcationType"
[code]

But I do not see "notificationType" in the response on this page, or on the logs of my test-setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913-f305a055a819
* Content: [Service hoo

[2019-06-13 19:07] dpaulino opened #4510 "Missing API references for Microsoft.VisualStudio.Services.Release.Client package"
I am trying to find API reference docs for the namespaces included in the Microsoft.VisualStudio.Services.Release.Client package, but I cannot find any information. In particular, my goal is to find all the classes in this namespace: `Microsoft.VisualStudio.Services.ReleaseManagement.WebApi`.  This namespace is found inside of the Microsoft.VisualStudio.Services.Release.Client package.

I have tri

[2019-06-13 19:19] FredFaust commented on #2894
+1 Please update the documentation to use the RM version of the cmdlets

[2019-06-13 19:57] timcromarty opened #4511 "How do you do a Git based code review without a pull request?"
Description says: Are you using Git to share your code? If so, then use a pull request.

If you haven't made any changes but still want a review, or multiple pull request have been completed how can you do a code review?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8bb12a7-a20c-1dd5-bca0-4873f7ab9e36
* Version Indep

[2019-06-13 20:00] epernst opened #4512 "Other auth methods than PAT?"
You write:
"Your agent can authenticate to Azure Pipelines or TFS using one of the following methods:
Personal Access Token (PAT):"
If PAT is the only option, then should it be not rather say:
"Your agent can authenticate to Azure Pipelines or TFS using the following method:
Personal Access Token (PAT):".

Or are there other methods?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-06-13 21:55] mydiemho opened #4513 "Add instruction on how to test SSH connection"
GitHub has a really good documentation on what command to run to test their SSH connection.  AzDO should provide the same

https://help.github.com/en/articles/testing-your-ssh-connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e85ff9-9add-d15c-e92f-02d7dd05e0f2
* Version Independent ID: 0cbd7427-6acd-3cfc-1a3b

[2019-06-14 06:09] WeihanLi commented on #3981
Found no answer, created a question on stackoverflow [here](https://stackoverflow.com/questions/56592319/whats-the-grammar-for-azuredevops-dotnet-build-project-pathhow-do-i-add-more), hope anyone would help

[2019-06-14 06:11] 20shivangi commented on #4501
@simkessy

Please attach the debug logs here : RM_Customer_Queries@microsoft.com
 by setting variable system.debug to true

Also, please raise the same issue here : https://github.com/microsoft/azure-pipelines-tasks/issues

[2019-06-14 08:21] RehanSaeed opened #4514 "Badges for New Yaml (With Stages) Does Not Work"
These badges were copied from the Azure DevOps site but they don't actually work.

[code]

This is what they look like:

![image](https://user-images.githubusercontent.com/2270364/59494755-c2b5ce00-8e85-11e9-91c9-6964d22312df.png)

See badges live at the bottom of [this project](https://github.com/RehanSaeed/Schema.NET) page.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-06-14 09:32] robinmanuelthiel commented on #3694
Thanks for your replies! 👍

[2019-06-14 09:33] robinmanuelthiel commented on #330
This is still an issue...

[2019-06-14 09:48] jarlarntzen opened #4515 "Project contributors do not have access to the Wiki repository"
"By default, all project contributors have read and edit access of the wiki repository. "

This is not true for my team members.
I have tried adding them to the Contributors group (they were already added) and I have tried adding individual users to the wiki to no avail.

Do you have any suggestions here? How should I set the permissions of the Access Control Summary?

---
#### Document Details

⚠

[2019-06-14 09:52] sandersaares opened #4516 "What happens if I do not specify artifactName?"
The docs say it is optional but what does this mean exactly? What is downloaded if the name is not specified? This should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Content: [Download Pipeline Artifa

[2019-06-14 10:00] encelo commented on #4514
I am experiencing the same issue since a couple days, all my badges are gray: https://ncine.github.io/ci/

[2019-06-14 10:17] kolendomichal opened #4517 "Grant Access To Boards -> Boards readonly"
I would like to grant access for non-members to view status of kanban board , as it is linked in my project [Readme.md](https://github.com/kolendomichal/SVGAnimation/blob/master/README.md) by **Azure Boards** plugin.
For now all non-members are getting 401 Unauthorized, which is pretty ugly.
Is there a way to configure this setting? I cannot seem to find it in Azure devops.

---
#### Document Deta

[2019-06-14 11:49] benbeaton opened #4518 "Change Process Wizard does not appear"
In step 3 of this guide, there is no ellipsis available to run the Change Process Wizard - the only fields visible on the Projects page for the process are "Name" and "Description".  Was this article written using a pre-release version of Azure DevOps?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b35f891-bcd6-da03-9

[2019-06-14 12:54] chadschroeder-ctr commented on #1602
Awesome - all that work into generating a wiki for stakeholders that they will never see. Yay 'security'!

[2019-06-14 13:58] TestUser20191 opened #4519 "Bing custom search - Autosuggest API typo"
I'm using the document https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-custom-autosuggest-api-v7-reference for my reference.

The autosuggest endpoint as per the document is:
https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/suggestions/search

When I use this with correct key, I'm getting:
        "message": "Access denied due to invalid subscription key. Make

[2019-06-14 14:05] scuba6388 commented on #945
@davidsk, @steved0x

Did you ever figure out a way to view what restrictions are set?  All I'm seeing is the generic CreateBranch permission, not actual folder restrictions.

[2019-06-14 14:08] chispadelgado commented on #4373
Not sure if I can use this thread to ask this, but, I was only able to connect to the agent by changing the AUTH mode to Negotiate and adding my username/password when calling config.sh. Any time I try to connect via PAT (and I've got a valid token), I get this error message:

1. Determining matching Azure Pipelines agent...
2. Downloading and installing Azure Pipelines agent...
3. Configuring Azu

[2019-06-14 14:26] vtbassmatt commented on #3606
This is an RM question; not sure who from the product or docs team should take a look.

[2019-06-14 14:27] davidsk commented on #945
I didn't, no, and I don't have access to the repository that I was working with when I raised the issue.  The docs, however, seem to have been updated - did you try using the [tf git permission command](https://docs.microsoft.com/en-us/vsts/tfvc/git-permission-command?view=vsts)

[2019-06-14 14:28] vtbassmatt commented on #3900
I _think_ this is correctly covered here: https://docs.microsoft.com/azure/devops/pipelines/agents/agents#account

[2019-06-14 14:28] #3900 closed

[2019-06-14 14:42] Moza805 commented on #3116
Hi @elbatk is there any progress on this? Was rather hoping to add an upstream NuGet source.

[2019-06-14 14:46] chcomley commented on #4507
Hi @alexrest, Thanks for reaching out. Unfortunately, it's not possible for security reasons. The only place it is allowed is inside an embedded video wrapper. You're always welcome to submit a feature request or further feedback on the product [here](https://visualstudio.microsoft.com/vs/support/#talktous). Thank you!

[2019-06-14 14:46] #4507 closed

[2019-06-14 14:47] elbatk commented on #3116
Hi @Moza805 , I'm assuming you mean a custom NuGet upstream. Unfortunately I have to be the bearer of bad news and say that custom sources for other protocols are in our backlog but the work is not scheduled yet. So today, for the next quarter or two, your upstream sources options are: the main public repository for each protocol:

- NuGet - nuget.org
- npm - npmjs.com
- Maven - Maven Central
- Py

[2019-06-14 14:47] #3116 closed

[2019-06-14 14:49] Moza805 commented on #3116
Thanks for the prompt reply, bad news today but good to hear it's in the pipeline for some good news in the future.

Cheers again.

[2019-06-14 15:27] elbatk commented on #4514
It looks like these are Azure Pipelines badges, not Azure Artifacts (I see some of your Azure Artifacts badges behaving normally). Adding @andyjlewis to take a look and point you to the right people. Closing this issue here as it seems like a product problem and not a docs problem. Andy, hoping you can help these people out :)

[2019-06-14 15:27] #4514 closed

[2019-06-14 15:39] andyjlewis commented on #4514
@vijayma can you take a look?

[2019-06-14 16:01] brandonmcclure opened #4521 "Allow scripts to access the OAuth token is missing"
I want to use the the [OAuth token in a PS script](https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/powershell?view=azure-devops#use-the-oauth-token-to-access-the-rest-api) in my build, which led me to this page. Using the classic editor, our builds do not have a checkbox with any reference to OAuth. How can I set this without recreating the build to use YAML?

---
#### Document Det

[2019-06-14 16:15] pllim opened #4522 "[skip ci] to skip CI for a pull request"
Hi, thank you for this service! I was told that inserting `[skip ci]` in a commit message does not skip CI for a pull request that triggered it. Is that true? Do you have plans to enable `[skip ci]` (and all the supported variants) directive for a pull request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfba9a21-e0

[2019-06-14 16:56] thomps23 commented on #4464
@chriskuech Could you provide the url to the specific page, or the target page? Looks like the feedback tool didn't capture that. Thank you.

[2019-06-14 16:57] thomps23 commented on #4465
@apawast Could you review and see if the documentation could be clear here?

[2019-06-14 17:00] thomps23 commented on #4468
@claudioandre-br Thanks for doing the extra work to confirm the doc issue.

[2019-06-14 17:06] brandonmcclure commented on #4521
It is set for each phase now, not at the Build level:
https://developercommunity.visualstudio.com/solutions/214483/view.html

[2019-06-14 17:10] thomps23 commented on #4476
@leus is there an existing topic you think this should be added to? Its possible the filing of this issue didnt capture the topic you were on.

[2019-06-14 17:12] thomps23 commented on #4479
@abbottbd Thanks for the additional examples.

[2019-06-14 18:35] thomps23 commented on #4483
@heng-liu Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsite

[2019-06-14 18:35] #4483 closed

[2019-06-14 18:37] thomps23 commented on #4484
@sarasfox Please accept our apologies for the broken link in the automated response above.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps S

[2019-06-14 18:37] #4484 closed

[2019-06-14 18:41] thomps23 commented on #4488
@andyjlewis Are you aware of any documentation, in our docset or another, that might help here?

[2019-06-14 18:48] firestonem opened #4524 "Use docker hub"
Right now these instructions are "paste these files onto your computer and build it yourself". MS has a public Dockerhub account https://hub.docker.com/u/microsoft/ where officially-built images can be hosted and distributed. Just a good-practice suggestion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2

[2019-06-14 19:08] vtbassmatt commented on #3333
@davidtom hmm, for short scripts which don't contain a `##`, we do echo the script out. But yours is both long enough and contains `##` so we shouldn't be preemptively echoing it.

You're not turning on `set -x` somewhere, are you?

[2019-06-14 19:09] thomps23 commented on #4487
@SarahDurden Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebs

[2019-06-14 19:09] #4487 closed

[2019-06-14 19:24] thomps23 commented on #4498
@Chris113113 The Azure DevOps feature team maintains a view of their feature roadmap [here](https://docs.microsoft.com/en-us/azure/devops/release-notes/). If you don't find what you're looking for you can also promote it by submitting it [as an idea](https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

[2019-06-14 19:24] #4498 closed

[2019-06-14 19:57] bradselw opened #4525 "Scopes link is broken"
Step #5 of https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops#create-personal-access-tokens-to-authenticate-access links to https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth.md#scopes, which does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-14 20:01] davidsk commented on #3819
Tried this just now - HTTPS is easy enough (asp.net core web with static files package and generated a certifcate using the dev-cert global tool) but when the request to the REST api fails with CORS error.
Access to XMLHttpRequest at 'https://xyz.visualstudio.com/61305bfe-e010-481c-8439-b580d2f29597/_apis/build/definitions' from origin 'https://localhost:5001' has been blocked by CORS policy: No '

[2019-06-14 20:32] KathrynEE commented on #4502
@andyjlewis - Adding you for insight as this relates to build service.

[2019-06-14 20:37] chriskuech commented on #4464
Sorry, I can't find it.

[2019-06-14 20:37] #4464 closed

[2019-06-14 20:56] KathrynEE commented on #4400
@alexcnichols - Thanks for the update. I'll get the content updated by EOD.

[2019-06-14 20:56] #4400 closed

[2019-06-14 22:03] thomps23 commented on #4505
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-14 22:03] #4505 closed

[2019-06-14 22:05] thomps23 commented on #4506
@claesjanwolff It looks like the feedback tool didn't capture the topic you were on. Could you provide a URL so we can triage this item?

[2019-06-14 22:10] thomps23 commented on #4510
@dpaulino I was able to find [this site page](https://apisof.net/catalog/Microsoft.VisualStudio.Services.ReleaseManagement.WebApi) does that help?

[2019-06-14 22:13] thomps23 commented on #4511
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-14 22:13] #4511 closed

[2019-06-14 22:22] #2446 closed

[2019-06-14 22:22] #3925 closed

[2019-06-14 22:22] #3971 closed

[2019-06-14 22:23] thomps23 commented on #4522
@pllim The Azure DevOps group tracks their feature roadmap [here](https://docs.microsoft.com/en-us/azure/devops/release-notes/). If you don't see what you're looking for on their roadmap, you can [submit this as a product idea](https://developercommunity.visualstudio.com/content/idea/post.html?space=21) to make sure it gets in front of the right people.

[2019-06-14 22:23] #4522 closed

[2019-06-14 22:25] thomps23 commented on #4521
@steved0x Can you take a look at the community post and see if the doc needs updating?

[2019-06-14 22:27] thomps23 commented on #4519
@TestUser20191 Could you provide additional context around how this fits into your Azure DevOps scenario so that we can check the documentation.

[2019-06-14 22:32] thomps23 commented on #4518
@KathrynEE I was able to repro the difference between current service experience and what the docs discuss. Could you double check?

[2019-06-14 22:35] bospoort opened #4526 "description doesn't match azure-pipelines"
[Enter feedback here]
The pipeline that is imported from the GitHub repo needs more work than what is described here. The Readme on the GitHub repo mentions it. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa0194a9-ffa7-fa79-e6c7-8ecb5e8c93ec
* Version Independent ID: 4f5a9f04-b629-b8b1-1332-9260c95d13

[2019-06-14 22:48] GaTechThomas opened #4527 "Q&A section not displaying"
I've been trying to understand how build drafts works for Azure DevOps Services (not Server) but have been unable to find it. I finally searched the github repo for this documentation and discovered that it should be showing for the Azure DevOps filter for this page, but for some reason it is not. Q&A is completely gone when Azure DevOps Services is selected.

---
#### Document Details

⚠ *Do not

[2019-06-14 23:12] bospoort commented on #4526
Looking at the history of the pipeline.yml file, it looks like there was an update that changed the resource group and name of the service connection for ScottGu build session. You might want to revert that back.

[2019-06-15 02:08] KathrynEE commented on #4518
@thomps23, @benbeaton , @danhellem - I believe that this feature is currently turned on for only a few customer accounts. It will become generally available in a few weeks. Dan - can you confirm?

[2019-06-15 03:47] benedict1986 commented on #4090
Me too. I am working with BitBucket and includes the following two branches
- /refs/tags/*
- build

If I push to build branch, pipeline is triggered. But it is not triggered when I push a new tag or origin.

[2019-06-15 04:38] snicol21 commented on #4141
I am having this same exact issue. Has anybody found a workaround?

[2019-06-15 12:07] TestUser20191 commented on #4519
@thomps23. Sorry, added in wrong repo. This is an issue with azure not with devops. I'll close this issue here as it is not related to devops.

[2019-06-15 12:07] #4519 closed

[2019-06-16 01:17] brent-robinson commented on #4512
There are four authentication types, but PAT is the only type Azure Pipelines supports. Azure DevOps Server 2019 (or TFS) supports the other authentication types. They're detailed on the "Self-Hosted agents" pages: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#unattended-config

This document should be updated to include the other options as this docum

[2019-06-16 11:21] atinb commented on #4248
Thanks @alohaninja - we are looking to see how we can make it easy for users to discover the command.
Unfortunately, Build Started is not an option provided by Azure DevOps events currently.

[2019-06-16 11:21] atinb commented on #4248
@andyjlewis Kindly close

[2019-06-16 13:35] shayki5 commented on #678
Can you add more examples to json arrays? thank you!

[2019-06-16 20:46] diffractious commented on #4141
@snicol21 Only workaround for now is to specify the password as a secret variable, either from the Library or in the pipeline itself.

[2019-06-17 05:59] RoopeshNair commented on #3606
@ashokirla - can you please take a look?

[2019-06-17 06:02] RoopeshNair commented on #4499
Here is a [sample](https://github.com/RoopeshNair/AzurePipelineSamples/blob/master/multistagesample.yml)

Let me know if you need more information

[2019-06-17 06:02] #4499 closed

[2019-06-17 06:04] RoopeshNair commented on #4479
@ashokirla  - can you please take a look?

[2019-06-17 06:05] RoopeshNair commented on #4463
@N-Usha - can you please take a look?

[2019-06-17 06:30] GiriB commented on #2047
I updated the doc and raised a PR: https://github.com/MicrosoftDocs/vsts-docs/pull/4528

[2019-06-17 07:10] basickarl commented on #4212
@thomps23 Would you care to link where the documentation is? All of the documentation assumes you are running Windows.

[2019-06-17 07:12] basickarl opened #4529 "Publishing artifacts on a hosted linux agent"
Hi. The documentation assumes you're using a Windows agent. Where is the documentation and examples for us that use Linux agents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task -

[2019-06-17 07:58] rusher opened #4530 "retrieve 'latest' from another pipeline"
Just so other don't block on that. If wanting to download the latest artifact from another pipeline, option "definition" not listed here has to be used. Option corresponds to the ID of the initial pipeline builder.
Example :
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Ve

[2019-06-17 09:08] earloc opened #4531 "Link to Attachments in 'Code as Wiki' always using default branch"
Related to:
https://docs.microsoft.com/en-us/azure/devops/project/wiki/publish-repo-to-wiki?view=azure-devops

I´m transitioning some pages from a provisioned Wiki to a "Code"-Wiki in an on-premise Azure DevOps Ser**ver** 2019 Installation.

While working on it, I´m using a "feature"-Branch to later leverage a PullRequest in order to let other contributors review the transitioned content, etc..

T

[2019-06-17 09:10] andyf1ynn opened #4532 "Versioning with date not working"
In Azure devops potal, if i create a pipeline variable which has a value $(Major).$(Minor).$(Patch).$(date:yyyyMMdd) and in Nuget-Pack task i set the version to the variable, I get this error: - The nuget command failed with exit code(1) and error(Version string specified for package reference '1.0.1.$(date:yyyyMMdd)' is invalid.)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-06-17 09:20] gldraphael commented on #4423
The example assumes tests are run during `docker build`. It's just an example on how to get the test results out of the image. We've used it before and it worked just fine.

[2019-06-17 10:27] pinyuko opened #4533 "Does YAML schema support approval?"
We can use "approvals" with Azure pipelines & stages as mentioned in https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deploy-using-approvals
Does YAML schema also support approval? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bb

[2019-06-17 11:42] BrightRan opened #4534 "Does WIQL only support workitems table currently?"
Which tables does WIQL support currently? Does WIQL only support workitems table currently?
There no have any description to explain this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710af5f2-8a31-e0d3-4f20-00c79dc54713
* Version Independent ID: 1d4d9580-984c-9fee-861a-a02ce828d3db
* Content: [WIQL reference syntax

[2019-06-17 11:52] davidsk opened #4535 "Provide link to module reference"
I would be helpful if a link was provided detailing the different modules that are available to be [required](https://docs.microsoft.com/en-us/azure/devops/extend/reference/client/core-sdk?view=azure-devops#require()).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f699a190-5e7e-1103-8d9d-c3d58e698e3a
* Version Indepen

[2019-06-17 13:29] axmrnv commented on #2835
TFS2017 support neither `Pipelines` nor `Azure Pipelines` categories. For extensions aimed at TFS2017, specify category value as "Build and release".

[2019-06-17 13:36] RoopeshNair commented on #4348
Azure App Service Task is superset task that does many things viz. deploy to web app, function app container app etc. We split them into more manageable purpose built tasks with Azure Web App, Azure Function App etc. The earlier task is kept around for backward compatibility.

[2019-06-17 13:46] ajmeese7 opened #4536 "Incorrect time estimate"
There is no reason this page would take 19 minutes to read. Several other pages of similar lengths have time estimates of two minutes, which is much more reasonable. This should take five minutes at most, not 19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7336a04e-5b38-d02f-8bba-a55445b2f094
* Version Independent I

[2019-06-17 16:35] chcomley commented on #4510
Hi @dpaulino, Please do let us know whether you have any further questions, otherwise I'll be closing this issue. Thank you!

[2019-06-17 17:57] khasibhatla commented on #4499
Hey @RoopeshNair, Thanks for the sample above. It covers the multi-stage pipeline.

Would you please kind to provide us with an example that can help us with "approvals before deploying to prod"?

[2019-06-17 18:00] khasibhatla opened #4537 "Multi-environment pipeline with approvals"
Hey @RoopeshNair, Thanks for the sample in #4499. It covers the multi-stage pipeline.

Would you please kind to provide us with an example that can help us with "approvals before deploying to prod"?

_Originally posted by @khasibhatla in https://github.com/MicrosoftDocs/vsts-docs/issues/4499#issuecomment-502787591_

[2019-06-17 18:04] khasibhatla commented on #4537
I found that this is a duplicate of #4497. Closing now!

[2019-06-17 18:04] #4537 closed

[2019-06-17 18:09] khasibhatla commented on #4497
I'm looking for some guidance as well. Your help is greatly appreciated!

[2019-06-17 18:56] chcomley commented on #4525
@bradselw, Thank you so much for the heads up! I've complete a PR, updating the link, which should go live within a few hours. Here's the working link: https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth?view=azure-devops#scopes

[2019-06-17 18:56] #4525 closed

[2019-06-17 18:57] chcomley commented on #4451
I've added the process for deleting a wiki repo, from the previous comment, to the article. The PR is complete, so it should be live within a few hours. Do let us know if you have any further questions!

[2019-06-17 18:57] #4451 closed

[2019-06-17 19:23] chcomley commented on #4453
Hi @thoaingan, The update has been published. Thanks again for your feedback, we appreciate it. I added the following: "Since PATs are an alternate form of user authentication, using a PAT gives you the same access level. If you create a PAT with a narrower scope, your access is limited to that particular scope."

[2019-06-17 19:23] #4453 closed

[2019-06-17 19:31] AJH16 commented on #2869
Finally had enough time poking around to figure it out:
https://stackoverflow.com/questions/56598474/how-do-you-enabled-limited-refs-in-tfs-git

[2019-06-17 19:34] KathrynEE commented on #4534
@BrightRan - Thank you for the question. WIQL stands for Work Item Query Language - so WIQL only supports querying the data store for work items.

[2019-06-17 19:34] #4534 closed

[2019-06-17 19:37] AJH16 commented on #2869
@HuzefaShabbir See above

[2019-06-17 19:44] tcsllcga opened #4538 "Update Scaled-Agile-Framework 4.0 to 4.6"
Greetings from James Price,

**Situation:** Over past year, I've worked with numerous PMs on how to use Azure DevOps and Scaled Agile Framework (SAFe) to manage portfolios. I've relied heavily on the article, Implement Scaled Agile Framework® to support epics, release trains, and multiple backlogs. However, article demonstrate SAFe 4.0 and several images are dated. Though, article's underlying the

[2019-06-17 19:46] chcomley commented on #4515
Hi @jarlarntzen, Thanks for reaching out. I've engaged our PM, @adramasu, for his expertise. Thanks!

[2019-06-17 19:48] KathrynEE commented on #4391
@PhilPeters304 - Thank you for the correction. I am updating the topic to clarify that the project-level Release Administrators group is defined with the first release pipeline.

[2019-06-17 19:48] #4391 closed

[2019-06-17 19:50] chcomley commented on #4495
Hi @akuchotrani, Thanks for your feedback. I'm following up on your request and will get back to you soon!

[2019-06-17 19:52] chcomley commented on #4503
Hi @AlexisColes, Thanks for reaching out. I'm following up on this and will get back to you soon!

[2019-06-17 20:01] #4510 closed

[2019-06-17 20:30] KathrynEE commented on #3512
@renezersi - Thank you for your inquiry. The Users section is only valid for the cloud - Azure DevOps Services. For Azure DevOps Server, you can only export the audit log from the Access Levels page for a project collection. I am updating the topic to reflect this correction.

[2019-06-17 20:30] angelwang opened #4539 "will upgrade from TFS2018 to Azure Devops server 2019 break exisiting TFS reports"
[Enter feedback here]
Hi,
We are on TFS2018, we have lots of TFS report running against warehouse and analysis database. I am wondering if those report will break if we upgrade to Azure Devops Server 2019 since it introduced Analytic report feature ?

Thanks,
Angel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d40bd95

[2019-06-17 20:36] KathrynEE commented on #3828
@josersleal - Thank you for your inquiry and apologies for the delay in response.  Currently, the Story Points used to track velocity and hours or days to estimate and track tasks is the way the system works.  With the Analytics Velocity widget, you can now estimate velocity by a count of work items or a sum of a field. This provides teams more options to measure their velocity. Additional options

[2019-06-17 20:36] #3828 closed

[2019-06-17 20:51] toddbrownmcis opened #4541 "Invoke REST API callback works in TFS 2018.2 agentless task but not in gate"
Does the Callback work from a gate in TFS 2018.2?  It works from an agentless task with hubname "release".  I'm using hubname "gates" from the gate.  The callback returns a HTTP StatusCode 204 in both cases but the gate is not successful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bc6da4-5a1e-5989-f4f0-27465953b5

[2019-06-17 22:08] WilliamAntonRohm commented on #4526
@bospoort -- thank you for bringing this to our attention.  I have asked our expert to review your request.

@jpe316 -- please look into this information.

[2019-06-17 22:17] WilliamAntonRohm commented on #4527
@GaTechThomas -- thank you for bringing this to our attention.

@andyjlewis -- please check to see if the Q&A section should be appearing in that article for all versions of the topic.

[2019-06-17 22:24] WilliamAntonRohm commented on #4529
@basickarl -- thank you for your question.  Please try [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops) to see if there is additional information for you there.

@davidstaheli -- is this in your current plans?

[2019-06-17 22:30] WilliamAntonRohm commented on #4538
@tcsllcga -- thank you for your offer of assistance.  Please feel free to create a PR with your suggested changes.

[2019-06-17 22:30] #4538 closed

[2019-06-17 22:33] WilliamAntonRohm commented on #4536
@ajmeese7 -- thank you for bringing this to our attention.

@andyjlewis -- please investigate the reading time calculation.

[2019-06-17 22:42] msebolt commented on #4532
@andyf1ynn Thank you for your feedback!

The author has been notified with your support issue.

@thomps23 Can you please take a look at this issue?

[2019-06-17 22:45] msebolt commented on #4539
@angelwang Thank you for your question!  The author has been notified.

@KathrynEE Can you comment on upgrading the reports feature of TFS?

[2019-06-17 22:48] msebolt commented on #4541
@toddbrownmcis Thank you for the feedback!  The author has been notified.

@RoopeshNair Can you please address this issue?

[2019-06-17 22:54] mprigge commented on #4488
I ran into the same problem. I've at least temporarily worked around this by utilizing a Kubernetes Service Connection with a kube config that was generated by `az aks get-credentials` with the `--admin` flag set (instead of an Azure RM connection). The `--admin` flag will force it to use administrator credentials rather than user credentials which, if I understand this correctly, circumvents the

[2019-06-17 23:44] dpaulino commented on #4510
Yes, that site page helps @thomps23. Thanks @chcomley

[2019-06-18 04:26] adramasu commented on #4515
Hi @jarlarntzen, can you please check if the permissions "Contribute" and "Read" are in allow state?

[2019-06-18 05:11] RoopeshNair commented on #4541
@shashban - can you please take a look?

[2019-06-18 06:43] ShreyasRmsft commented on #4108
@AArnott .NET Core 1 and 1.1 are nearing the end of the support cycle.

https://dotnet.microsoft.com/platform/support/policy/dotnet-core

If it however does not work with dotnetcore 2 or 3 please do provide the logs as requested.

[2019-06-18 06:49] RoopeshNair commented on #4499
Approvals feature is not yet supported in the new multi-stage YAML pipelines. It is in the works, (~6-8 Weeks). Please stay tuned

[2019-06-18 06:50] RoopeshNair commented on #3770
@vijayma

[2019-06-18 06:52] RoopeshNair commented on #3887
You need to use $(Build.BuildNumber). For other supported variables check this [link](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/index?view=azure-devops#how-do-i-manage-the-names-for-new-releases)

[2019-06-18 06:52] #3887 closed

[2019-06-18 07:00] realolap opened #4542 "Which is the correct statement"
On this page it states that VS Enterprise and Pro users have Basic +testplans included in their subscriptions.
But the VS pricing page https://visualstudio.microsoft.com/vs/pricing/ seems to suggest that only Enterprise has the testplans addition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fdf4b3-7ff5-f9ab-d28c-4

[2019-06-18 07:55] kine opened #4543 "How to pass secrets"
I am missing example of how to pass secret variables as input to the template. In general they should be mapped to environment, but how it works with templates? I have e.g. Variable group with secret value, I will put this variable group in variable section of my pipeline, and now I want to pass it to the template for stage, which is using template for job...

---
#### Document Details

⚠ *Do not

[2019-06-18 09:46] sujitks opened #4544 "Wildcard filter for build trigger in yaml build"
**### Wildcard branch for trigger**

Hi,

I am trying to configure a build pipeline using the yaml and when specify '*' as branch for triggering the build it does not work. Can you provide some example please?

[2019-06-18 11:49] RoopeshNair commented on #4335
The service connection screen has appropriate guidance. We need to update the docs.

![image](https://user-images.githubusercontent.com/1370480/59679701-2e34ce00-91ed-11e9-800d-6613d1b87678.png)

[2019-06-18 12:09] RoopeshNair commented on #4333
https://github.com/microsoft/azure-pipelines-tasks/issues/7898

[2019-06-18 12:10] RoopeshNair commented on #4333
https://github.com/microsoft/azure-pipelines-tasks/issues/7898 - tracked as part of this issue

[2019-06-18 12:10] #4333 closed

[2019-06-18 12:10] bender2k14 commented on #4425
I [asked](https://stackoverflow.com/questions/56648839/how-to-execute-azure-devops-net-core-cli-task-with-arguments) about this SO.

[2019-06-18 12:13] RoopeshNair commented on #4485
More about Environments [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?view=azure-devops)

[2019-06-18 12:13] #4485 closed

[2019-06-18 12:56] CornedBee opened #4546 "YAML way of doing this?"
This page does not describe how to do this with azure-pipelines.yml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c78a9f20-b8d2-4aa7-c52d-a968ab87315d
* Version Independent ID: 3880a787-8f70-8c13-176e-c732b619fb06
* Content: [Restore Package Management NuGet packages in Azure Pipelines - Azure Pipelines](https://docs

[2019-06-18 13:17] vtbassmatt commented on #4485
@RoopeshNair when will environments (and other deployment stuff) land in the [YAML schema](https://docs.microsoft.com/azure/devops/pipelines/yaml-schema) doc?

[2019-06-18 13:17] #4506 closed

[2019-06-18 13:18] claesjanwolff commented on #4506
trial and errored, aruments are passed in the task as blank separated strings

[2019-06-18 13:48] alex-zyl commented on #3869
Any ETA for upgrading agent pools to Az 1.1.0?

[2019-06-18 13:50] pabrams commented on #1229
Here's your further activity.  Please fix your documents!

[2019-06-18 13:53] pabrams opened #4547 "Documentation incomplete"
https://docs.microsoft.com/en-us/azure/devops/extend/develop/ui-controls/comboo?view=azure-devops#main

Where are all the properties and descriptions of what they do? For example, enableFilter and autoComplete are not listed anywhere.

[2019-06-18 14:47] fume opened #4548 "Event workitem.updated - add details for changedFields setting"
As stated here: https://docs.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops#work-item-updated , we can use the changedFields setting to __Filter events to include only work items with the specified field**(s)** changed__.
Note the **(s)**. I guess this means we can specify MORE than one field but the GUI will let you select one field only. If more than one field can be spe

[2019-06-18 15:22] bender2k14 commented on #4425
Upon further investigation, I do believe that I have confirmed that the documentation could be improved.

Specifically, when executing this task with the `command` property equal to `restore`, the `arguments` property is ignored.  I found two reasons to believe this.  First, [this task calls](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/dotnetcore.ts#L50) [t

[2019-06-18 15:34] shashban commented on #4541
@toddbrownmcis Could you please share a URL to the release where the gate did not complete after the callback? We would like to look at logs/ product traces to see what could be missing.

[2019-06-18 15:54] toddbrownmcis commented on #4541
@shashban I'm running in on-prem TFS 2018.2. Is there some other way for me to provide the logs/traces you are looking for?

[2019-06-18 15:57] DevOps-Travis opened #4549 "'Check Complete linked work items after merging to complete any linked work items.' is inaccurate if you use the scrum template."
If you are using the scrum template this statement isn't true 'Check Complete linked work items after merging to complete any linked work items.' Only tasks get automatically completed, Linked bugs and PBIs will not close because there is no transition for them in the scrum template. The wording here and in the PR user interface suggest that all linked work items regardless of type automatically c

[2019-06-18 16:01] mragh commented on #2969
I had this problem at all if I specified `helmVersionToInstall: "latest"`.

Giving specific version got past the error.

[code]

[2019-06-18 16:07] vijayma commented on #4394
@andy-otter You cannot reference variables between stages yet. That is on our backlog.

[2019-06-18 16:07] #4394 closed

[2019-06-18 16:12] vijayma commented on #4349
It is correct as stated in the doc. The **post-deployment approval** for R1's QA stage is sent out as soon as the steps in R1's QA stage are finished. Once R1 exits QA stage, R2's pre-deployment approval is sent out.

[2019-06-18 16:12] #4349 closed

[2019-06-18 16:23] vijayma commented on #4241
We will have approvals available as part of the multi-stage pipelines preview within the next 3-4 weeks. We update the roadmap work items once every quarter. You can also track the announcement of approvals feature in our release notes: https://docs.microsoft.com/en-us/azure/devops/release-notes/. Since, there are enough work items and places where you can track this, I am closing this issue. Than

[2019-06-18 16:23] #4241 closed

[2019-06-18 16:27] marct22 opened #4550 "things changed, no longer an 'all release pipelines'"
For me, I don't see an 'all release pipelines' anymore with a pulldown shortcut. Instead, I need to switch from the default 'View active release pipelines' to the folder view 'View all release pipelines'.  Then, on the right side of the pane, you should see a + New \/  (3 vertical dots).  CLick on the 3 vertical dots, and there is security for all pipelines

---
#### Document Details

⚠ *Do not ed

[2019-06-18 16:30] vijayma commented on #4173
@MisinformedDNA All of the content, with the exception of YAML snippet examples, applies to classic build pipelines as well. One thing we can do for classic users is to include screenshots or a concise list of the same inputs in the place of YAML snippet. We thought that it is straightforward to infer the inputs for the tasks based on what is shown in the YAML file. That is why we de-prioritized t

[2019-06-18 16:30] #4173 closed

[2019-06-18 16:33] vijayma commented on #4422
@haokanga Thanks for the feedback. I just updated the content for this topic. It will now include another section for "Workspace" that describes what you asked for. Thank you. (PS: It may take a day for this change to be live).

[2019-06-18 16:33] #4422 closed

[2019-06-18 17:13] shashban commented on #4497
Approvals and gates are currently not available in the preview for multi-stage YAML pipelines.
We're actively working on adding this support and should have it in place soon.
We'll keep you informed about its availability through the release notes.

[2019-06-18 17:20] espoelstra commented on #3443
If you visit the page mentioned on the "Install package with Gradle" page, you can edit the generated token to remove the "Read&Write" permission leaving just "Read" on the token.

https://docs.microsoft.com/en-us/azure/devops/artifacts/gradle/pull-package-gradle?view=azure-devops#set-up-authentication

[2019-06-18 17:33] thomps23 commented on #4425
@bender2k14 Thanks for your time here. I've re-tagged as a doc bug and am re-opening the issue.

@pulkitaggarwl Could you take a look at what's been provided here?

[2019-06-18 17:35] thomps23 commented on #1229
@chcomley Would you be able to follow up with the product team here?

[2019-06-18 17:46] chcomley commented on #4542
Hi @realolap, Thanks for reaching out. There isn't a discrepancy - the confusion is perhaps with "Test."

**Basic + Test Plans is included with…**
Visual Studio Enterprise
Visual Studio **Test** Professional
MSDN Platforms

**But not…**
Visual Studio Professional

Thanks again and please let us know if you have any further questions.

[2019-06-18 17:46] #4542 closed

[2019-06-18 18:02] KathrynEE commented on #4539
@angelwang, @msebolt - No reports will be broken by upgrading to Azure DevOps Server 2019. The Analytics service is distinct from the data warehouse and analysis databases that the SQL Server Reports run against.

[2019-06-18 18:02] #4539 closed

[2019-06-18 18:08] chcomley commented on #1229
Yes, @thomps23, I've initiated the conversation. I'll report back as soon as possible. Thanks!

[2019-06-18 18:14] chcomley commented on #3589
Hi @borys86, I've followed up with the product group and learned that it's automated on our side and runs every six hours. Anytime the group rule changes, the rules are also re-run. I've added this clarifying info to the article, as well, which should be live sometime this afternoon. Please let me know if you have any further questions. Thank you.

[2019-06-18 18:20] #3589 closed

[2019-06-18 18:27] edaymami opened #4551 "Geared to teams not single programmers"
The article mentions "Even if you're just a single developer, version control helps you stay organized as you fix bugs and develop new features. " However for the single programmers, like me, that want to work from a local repository there seems to be no other mention than this sentence. A tutorial specifically geared to a local developer/programmer showing how to do without all of the "Push" / "P

[2019-06-18 18:51] WilliamAntonRohm commented on #4543
@kine -- thank you for contacting us with your question.  I have asked the author to look into this.  In the meantime, you might consider asking your question here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@vtbassmatt -- please consider adding the requested information.

[2019-06-18 18:55] WilliamAntonRohm commented on #4544
@sujitks -- thank you for contacting us.  You may find relevant information here:  https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml

Please follow up with us if you need more information.

[2019-06-18 19:00] WilliamAntonRohm commented on #4547
@pabrams -- thank you for your feedback.

@chcomley -- does this issue seem related to [this issue](https://github.com/MicrosoftDocs/vsts-docs/issues/1229)?

[2019-06-18 19:03] msebolt commented on #4548
Hi @fume, thank you for the feedback.

@thomps23 Can you check this issue?

[2019-06-18 19:05] msebolt commented on #4549
Hi @DevOps-Travis, thank you for the feedback.

The issue has been assigned to the author for further investigation.

[2019-06-18 19:13] WilliamAntonRohm commented on #4546
@CornedBee -- thank you for your feedback.  I have notified the author of your suggestion.  In the meantime, you may find related information on [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops).  I am closing this issue now -- you are welcome to reply to this issue in the future with an @ mention.

@andyjlewis -- do you have any yaml examples in the works?

[2019-06-18 19:13] #4546 closed

[2019-06-18 19:18] WilliamAntonRohm commented on #4550
@marct22 -- thank you for your feedback.  We are investigating the article contents per your suggestion.

@andyjlewis -- please look into this issue.

[2019-06-18 19:52] vtbassmatt commented on #4543
@kine the template processing step doesn't look at secrets or any other runtime data, it simply merges the contents of the templates into a single YAML DOM. So you use secrets the same way as you'd use them in a non-templated YAML file.

[code]

vs.

[code]

These will compile to roughly equivalent final pipelines.

[2019-06-18 19:52] #4543 closed

[2019-06-18 20:36] marct22 opened #4552 "adding groups is different, and for me, fails..."
for me, If I got to organization settings, there is no explicit security page, just a title with two entries, policies and permissions.  Seemed permissions was the right one, so I went in, picked an existing group (valid users), went to that group's members, clicked on + add members, typed in my AD group (which was a specific team which has users in it), which showed up. when I click save, I see '

[2019-06-18 20:49] sandeepchads commented on #4414
Currently you cannot search for packages using version. we are not indexing the version information. The intent is for users to find the package name and then traverse the version by getting into the package details. If you believe this is a feature that you would like to have in future releases then please consider creating a new feature request here:

https://developercommunity.visualstudio.com/

[2019-06-18 22:11] pabrams commented on #4547
They are related to the same combo control, and they're both about incomplete docs, but that's about it....

[2019-06-19 01:35] NightOwl888 opened #4554 "Should SymbolsVersion be the same as AssemblyVersion?"
Must SymbolsVersion be the same as the AssemblyVersionAttribute? Or can it contain a pre-release tag (1.2.3-beta002)?

On a side note, the casing of the YAML generated by Azure DevOps portal is Pascal case, the documentation shows camel case (SymbolsVersion vs symbolsVersion). Also, the names in the documentation don't match the parameter names (symbolsVersion vs Version). Confusing.

---
#### Doc

[2019-06-19 02:10] ntachandley opened #4555 "Link to IISnode is invalid"
This repo has been moved to https://github.com/Azure/iisnode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1c5394-611b-b119-dbf3-b88404e351d5
* Version Independent ID: fcc23259-21ec-f9fa-4e25-f587e1e0f41b
* Content: [Deploy to IIS on a Windows VM - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipel

[2019-06-19 03:19] cuongdnv opened #4556 "Use Docker's multi-stage function in Pipeline CICD"
I would like to create the following Pipeline construction :
https://ibb.co/mGNWMBV
The step of this Pipeline construction :
1. Build works when committed with azure devops repo
1. The image of Debug version, Stage version, Production version is made by looking at tag name of git tags
2.. Two-stage build of common jar and war file which has been compiled and rebuilt by using Docker's multi-stage f

[2019-06-19 04:52] shashban commented on #4533
Preview of multi-stage YAML pipelines currently does not support seeking manual approvals for deployments. We are actively working on including this support in the preview.
Stay tuned on the developments through release notes for Azure DevOps.

[2019-06-19 04:57] shashban commented on #1639
As Microsoft, we are pivoting to a common yaml schema for all CI/CD workflows, making it possible to have a single CI+CD pipeline or separate ones like you have had so far.
The ability to add approvals into the pipeline to pause for manual validations is currently not there in the preview. This is being actively worked on. Stay tuned for updates to the capabilities of yaml pipelines through the sp

[2019-06-19 05:46] RoopeshNair commented on #4556
The document refers to multi-stage pipeline. Wherein each Stage represents a division of the release process viz. Dev, Test, Staging, Prod etc.

I believe you are looking for Multi-stage Docker builds? @azooinmyluggage

[2019-06-19 06:27] RoopeshNair commented on #4174
Manual deploy action is on our backlog.  Adding @vtbassmatt for time-lines

[2019-06-19 06:28] RoopeshNair commented on #4170
@ashokirla

[2019-06-19 06:29] RoopeshNair commented on #4159
@azooinmyluggage  - can  you please take a look?

[2019-06-19 06:31] RoopeshNair commented on #4396
@N-Usha  - can you please take a look?

[2019-06-19 06:39] RoopeshNair commented on #4262
Support for limiting pipelines that can access the service connection is in the works.
Adding @ashokirla  for timelines.

[2019-06-19 06:48] RoopeshNair commented on #4082
@shahban for Gate/Server phase tasks

[2019-06-19 06:50] RoopeshNair commented on #3643
@azooinmyluggage  for Packer task

[2019-06-19 07:03] shashban commented on #4082
Looks like you have a specific task version referred in the yaml.
Can you confirm your yaml looks like the following?

`- job: RunsOnServer
    pool: Server
    steps:
    - task: Delay@1
      inputs:
        delayForMinutes: '1'`

[2019-06-19 08:39] MohammadMQ commented on #4173
Hi Vijayma
Including screenshots or a concise list of the same inputs in the place of YAML snippet would be a nice start.

[2019-06-19 08:41] MohammadMQ commented on #4173
Hi andyjlewis!
I'm using Azure Pipeline Services, I'm aware that YAML is what is being encouraged, however I prefer the classic editor.

[2019-06-19 08:46] RoopeshNair commented on #3491
@N-Usha  - can you please take a look?

[2019-06-19 08:57] RoopeshNair commented on #3489
here is screenshot for your reference:

![image](https://user-images.githubusercontent.com/1370480/59751543-5cbeb180-929e-11e9-89fb-6d15c6c955e8.png)

[2019-06-19 08:57] #3489 closed

[2019-06-19 10:07] N-Usha commented on #3491
When you use Variable group linked with a Azue KV in a release pipeline, a task variable is created with the latest value of the respective secret fetched from Azure key vault. This variable is then available in subsequent tasks. And this is true with Azure CLI task as well which you could use in the script or pass in the "Arguments" field. Could you please confirm if that helps. Thanks

[2019-06-19 10:23] RoopeshNair commented on #1687
@N-Usha

[2019-06-19 11:34] gautamksr commented on #3992
https://{organization_name}.vstmr.visualstudio.com this url reports 404

[2019-06-19 11:47] navin22 commented on #3992
@gautamksr : It's a micro service URL hence it's giving the 404. But in firewall allowing just that's enough for further communications over network.

eg: In the existing doc we have `https://{organization_name}.vsrm.visualstudio.com`  which also returns 404.

If you want to test the micro services are working fine you can try `https://{organization_name}.vstmr.visualstudio.com/_apis/connectiondat

[2019-06-19 11:59] joesnyder commented on #4486
I too am interested in an update. It would be very helpful to use Deployment Groups in our YAML pipelines.

[2019-06-19 13:10] MarkyDeParky opened #4559 "Cannot find "Automatically link new work in this build" option in YAML build"
https://devblogs.microsoft.com/devops/automatic-linking-work-items-to-builds/

According to the above article, you should be able to automatically link work items to builds by setting the option "Automatically link new work in this build" in a build definition.

I cannot find this option anywhere in my YAML-based build def. Is it even possible to auto-link builds to work items this way?

[2019-06-19 13:36] toddbrownmcis commented on #4541
@shashban @RoopeshNair I found the underlying issue for a callback to a Gate.  The body jobid is the taskid value and the taskid is an empty guid value.  See [GetJobId](https://github.com/microsoft/azure-pipelines-extensions/blob/5762a0bb4c87b4e44ebd1a9e63a0d68ee5a06b9d/ServerTaskHelper/DistributedTask.ServerTask.Remote.Common/TaskProgress/TaskClient.cs#L117) and [GetTaskId](https://github.com/mic

[2019-06-19 14:03] JIMHarwood commented on #4518
I have the same issue, are there certain permissions i would need in able to see the change process wizard?

[2019-06-19 14:06] roystonmc opened #4560 "Universal package push to local feed from behind firewall"
We are currently experiencing an issue in our Build Pipeline where we attempt (and fail) to push a universal package to a local feed from a build agent with a proxy.  When the push is attempted, we get either a '403' or '407' error and the push fails.  Now could this issue be due to the incorrect or missing settings for the username/password on the proxy, or is there a specific set of IP addresses

[2019-06-19 14:15] BrightRan opened #4561 "Variable group shared across different team projects in a same organization"
Is there a way/feature to share Variable group across different team projects in a same organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version Independent ID: c9e461ee-7f42-3503-9460-18fa3a807bbb
* Content: [Variable groups for Azure Pipelines and TFS - Azure Pipelin

[2019-06-19 14:16] kwaazaar commented on #4524
Strange thing is there's this: https://hub.docker.com/_/microsoft-azure-pipelines-vsts-agent?tab=description

This seems to be deprecated, according to its docs. Why? Also those images are pretty old (22-1-2019).

[2019-06-19 14:32] BrightRan commented on #4561
I mean that we only need to put these variable group in one place, then we can use the variable group in different team projects.

[2019-06-19 14:50] MakhouT opened #4562 "ZipAlign failed with exit code 127"
I am getting this error for the zipAlign step. What is wrong here?

[code]

This is the relevant part in my pipeline
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1fbcd8-d799-879e-d672-9dee164401ef
* Version Independent ID: 7208d03d-9042-7753-ab4d-d1ad8e99ef1d
* Content: [Android signing build and release tas

[2019-06-19 14:55] RoopeshNair commented on #4561
Sharing of Variable groups is on our backlog. At this point in time there is no time-line that I can share.
We know this is important for you. If you could take time and vote/suggest feature request on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=21), it will help us prioritize it appropriately.

For now, if you are using Azure, you can store the s

[2019-06-19 14:55] #4561 closed

[2019-06-19 15:10] pabrams commented on #812
Here's some recent activity.  Please fix your documentation. Thank you.

[2019-06-19 15:26] mojobec opened #4563 "multiple "drops""
I have a build pipeline with multiple steps each one for a different platform (cross-platform app).
recently it started to publish multiple drops, each one with the exact same build artifacts,
because of that my release pipeline fails with the error "Found multiple files matching "D:\a\r1\a\{BuildName}\drop\Release_Android\*-anycpu.apk"

PublishBuildArtifacts yaml for all platforms
[code]

---
###

[2019-06-19 15:57] RehanSaeed commented on #4514
Can I raise this issue elsewhere, so it's tracked?

[2019-06-19 16:31] bjuraga opened #4564 "Unable to build the image"
The very first line:
FROM mcr.microsoft.com/windows/servercore:ltsc2019
is failing with 'no matching manifest for unknown in the manifest list entries'.
Please provide an alternative solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e328046
* Version Independent ID: 88aec599-4410-697d

[2019-06-19 17:26] luzlab commented on #2675
So there's a type in the documentation - "azureStorage" should actually be "AzureStorage". This is an example of a working JavaToolInstaller task that pulls the JDK from Azure Storage. The file in Azure Storage should be an archive (.zip, .gz, etc) of the JAVA_HOME directory (so it includes the bin, lib, include, jre, etc directories).

[code]

[2019-06-19 17:51] NightOwl888 opened #4566 "Required parameter example is wrong"
The example given:

[code]

will only function if `$(Solution)` is defined as a pipeline variable within the scope of the template. The condition is not referencing the template parameter that is defined, so it will give a false negative whenever `$(Solution)` is not actually in scope, and will give incorrect results entirely if `$(Solution)` is not being set as the value of the parameter.

Althou

[2019-06-19 17:55] cuongdnv commented on #4556
Yes i want to use Docker multistage to realize thí Pipeline construction https://ibb.co/mGNWMBV

[2019-06-19 17:58] #4533 closed

[2019-06-19 18:19] rhizohm opened #4567 "Secrets Not Mapped to Environmental Variables In Downstream Steps"
The docs say that ENV is used for "A list of additional items to map into the process's environment. For example, secret variables are not automatically mapped. If you have a secret variable called Foo, you can map it in like this:- powershell: echo $env:MYSECRET
  env:
    MySecret: $(Foo)

However, those environmental variables are not there for downstream steps, even in the same job. Is this a

[2019-06-19 18:48] davidsk opened #4568 "Passing values to the dialog control"
The section [Passing values to the dialog control](https://docs.microsoft.com/en-us/azure/devops/extend/develop/using-host-dialog?view=azure-devops#passing-values-to-the-dialog-control) doesn't actually specify how the dialog can access these values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f7f0126-0e00-ccfe-d1d

[2019-06-19 19:24] willsmythe commented on #4504
This doc is in the process of being updated with the latest task details. This should be live in the next day or two.. As a preview ... Download Pipeline Artifact V2 adds support for downloading both pipeline artifacts and build artifacts (i.e. artifacts published with Publish Build Artifacts).

[2019-06-19 19:41] willsmythe commented on #4356
This should work. Glad to see a devcom problem report was opened --- this is the right way to report problems.

For the docs ... I don't know that we need an explicit statement about this (since it should work), but we should probably say something about the required version of the [self-hosted] agent..

For context ... the logic for the pipeline artifact tasks ships in the agent itself (which is

[2019-06-19 19:42] gaziqbal opened #4569 "Build.Updatebuildnumber task requirements"
What is the max length of build number supported by the "##vso[build.updatebuildnumber]" task?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf0bbb-8b63-6384-aa33-b5b1e2b8cfe3
* Version Independent ID: f4da8dbd-a02f-bbdf-2cf2-60e081339237
* Content: [Logging commands - Azure Pipelines](https://docs.microsoft

[2019-06-19 19:44] willsmythe commented on #4326
Not yet, but it's coming (under development now).

@chasewilson - this might be worth adding in the FAQ. The answer will change in a few weeks, but worth mentioning for now. The net-net: "Q: Can this task publish artifacts to a shared folder or network path? A: Not currently, but this feature is planned."

[2019-06-19 19:53] stefanjarina commented on #4326
Nice, thanks a lot for answer. Will this work also from linux machine? We have both windows and linux pipeline and we need a way to publish artifacts to mounted network drive on both systems. And so far couldn’t find satisfying solution for that particular case. Cheers

[2019-06-19 20:23] WilliamAntonRohm commented on #4560
@roystonmc -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azureweb

[2019-06-19 20:23] #4560 closed

[2019-06-19 20:26] WilliamAntonRohm commented on #4562
@MakhouT -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsi

[2019-06-19 20:26] #4562 closed

[2019-06-19 20:28] WilliamAntonRohm commented on #4563
@mojobec -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsi

[2019-06-19 20:28] #4563 closed

[2019-06-19 20:29] GaTechThomas commented on #4527
Thank you. It also appears that many sections from Azure Devops Server filter should appear in the Azure DevOps Services filter results.

[2019-06-19 20:30] jmlane commented on #3815
I occasionally get this error as well, as the docker service isn't always started in the hosted agent when the task gets to this point. This seems to be a rare error on the hosted Win1803 pool though.

[2019-06-19 20:40] lflake commented on #4301
I'm having this exact problem - I don't even see an option to schedule triggers for building a pipeline. (and agree this was hard to find). What I see doesn't match the screenshot in the docs - no Scheduled option, and Build Completion Add + is greyed out. Save & Queue and Discard are also greyed out.

I noticed my access level says "Basic" - is that the problem?

[2019-06-19 20:41] elbatk commented on #3443
This connect to feed dialog is something we're actively looking at on our team. As @espoelstra said, you can create a PAT via those instructions and use that PAT in your Maven settings.xml. You used to have to do some base64 encoding with the old Connect to Feed but we've updated it recently so it should just be a copy/paste to the PAT you created with the permissions you want (just read). Closing

[2019-06-19 20:41] #3443 closed

[2019-06-19 20:44] KathrynEE commented on #4243
@jknapp25 - Thank you for your inquiry. The Split column feature is only available on Kanban boards. It isn't available on sprint taskboards.

[2019-06-19 20:44] #4243 closed

[2019-06-19 21:13] artisticcheese opened #4570 "Certificates are still not supported?"
Per this document only secrets are supported but I was able to successfully map a certificate as well from KeyVault. Is it supported now or it just works but not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version Independent ID: c9e461ee-7f42-3503-9460-18fa3a807bbb

[2019-06-19 22:55] Mutilar commented on #4202
Other examples that stand out include:

- system.CollectionUri
- system.PlanId
- system.TimelineId
- system.TaskInstaneId

It surprises me these aren't in the documentation here, considering you can find references to them in other pages of the documentation.

[2019-06-19 23:41] justinyoo opened #4571 "Needs more explanation on the task icon or schema definition for it necessary?"
Hi, Team.

The extension manifest has a definition of icon location. However, the task schema doesn't have such definition. At least in this page, I was expecting how the task icons are handled &ndash; location, name, size, etc.

Do you have a plan to include this details in this page, or update the `task-schema.json` file?

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-06-19 23:42] alohaninja opened #4572 "Demands for Releases versus Builds"
I can see how to supply demands for build pipelines at queue time, but how do we do this equivalently for release pipelines? We are using self-hosted agents and require specific sets of capabilities.

![image](https://user-images.githubusercontent.com/26234626/59808502-69003a00-92b1-11e9-9351-de7bfa6af350.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-06-20 01:31] taoyouh opened #4573 "There is no "Change process" button"
In step 3, the "..." button does not exist, and thus the change process button doesn't exist either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f73858a-31dd-e0fa-cb7f-53dd42192791
* Version Independent ID: f61f9f02-8fbc-4511-e655-3087834302bd
* Content: [Change process from Scum to Agile - Azure Boards](https://do

[2019-06-20 01:34] davidtom commented on #1621
This is pretty much Azure DevOp's tagline...it would be funny if it wasn't so painful.

[2019-06-20 06:10] chshrikh commented on #4265
@geofflamrock demands support in deployment jobs we have added recently, could you please see if it is working for you now

[2019-06-20 08:02] RoopeshNair commented on #4570
Since certificates are internally stored as secrets, it works. We have plans to support Certificates as first class on our backlog - however not a priority as we have workaround.

[2019-06-20 08:02] #4570 closed

[2019-06-20 11:23] psblah commented on #3622
Still no example?

[2019-06-20 11:36] khs1994 commented on #4342
set to 0,also run 60 min,why?

[2019-06-20 11:50] Cherishty opened #4574 "How to delete Project administrators of a project?"
I am a Project administrator, recently I added other one as Project administrator. But how can I remove him/her from admin list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ae5c3b5-9751-743f-6e68-d20a2fac6243
* Version Independent ID: 66756817-161b-cadf-f13c-10a216fae08a
* Content: [Set project or collection-level

[2019-06-20 11:51] Cherishty opened #4575 "How to delete a Project administrator?"
I am a Project administrator, recently I add another guy as Project administrator too.

How can I remove him/her from Project administrators list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9927339-4cf7-8da4-1177-d5b3978684f9
* Version Independent ID: 1b9217f1-0506-1033-2ce4-2f335af9f32f
* Content: [Troubleshoot a

[2019-06-20 11:52] #4574 closed

[2019-06-20 12:09] ahardin13 opened #4576 "Java should be JavaScript"
In Create Your First Pipeline, step 6 states "select your Java sample repository".  This should be "select your Java**Script** sample repository".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99686eb-6c78-0336-1ec3-802a53c9868d
* Version Independent ID: 6eaf1acb-24d4-5bb7-3935-17abe7e59dd9
* Content: [Build, test, a

[2019-06-20 12:49] miles1302 opened #4579 "How to remove a pipeline from a channel"
Hi I can remove subscriptions easily, but there doesn't seem to be a way to remove a pipeline from a channel...

[2019-06-20 13:16] DanoThom opened #4580 "Legacy Task Flow and additional description/examples"
This is a welcome new task but could we please have some examples walking through the (now) old task based pipeline flow (non-yaml)? There is a lot of ambiguity in what to select and how to use each field in the task. Also, some of the errors returned while poking in the dark aren't very informative. (##[error]EISDIR: illegal operation on a directory, read)

Additionally, I think that a lot more d

[2019-06-20 13:27] chao-master opened #4581 "Escaping character examples shown incorrectly."
Under the [Ignore or escape markdown section](https://docs.microsoft.com/en-us/azure/devops/project/wiki/markdown-guidance?view=azure-devops#ignore-or-escape-markdown-syntax-to-enter-specific-or-literal-characters) the examples are not correctly shown.

It reads:
- "Enter `\` to get \\" instead of "Enter `\\` to get \\"
- "Enter `\` to get \_" instead of "Enter `\_` to get \_"
- "Enter `#` to get

[2019-06-20 13:46] dougbw opened #4582 "How to consume secrets"
What is the recommended approach for consuming secrets? There doesn't appear to be a parameter for mapping secrets through to environment variables like you can with the bash/powershell tasks. I don't wan't to pass them through as arguments to the script.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eeb2956-

[2019-06-20 14:07] prlcutting commented on #4406
@kathrynee Is there a link to a work item you can send me please to track progress on this enhancement for users to control the order of items in a picklist?

[2019-06-20 14:11] TylerBuchanan97 opened #4583 "Section Says "You can create bugs from the web portal web portal""
In the #track-code-defects section there is "web portal" printed twice.

Track code defects
You can create bugs from the web portal web portal, Visual Studio, or when testing with Test Manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f85f904-14c5-c520-edc3-b8af6826b4fc
* Version Independent ID: 414874f2-1e30-04

[2019-06-20 16:06] RichardMeadowsTC opened #4585 "Missing Documentation for Scheduled Trigger"
My Azure DevOps builds no longer support setting scheduled triggers in the pipeline.  I am seeing this message on 6/19/2019 and 6/20/2019  'You can no longer define scheduled triggers in the editor. Instead, you must add schedules to your YAML file. For more information, see https://go.microsoft.com/fwlink/?linkid=2080841'

That URL sent me here.  There is no documentation here for Scheduled Trigg

[2019-06-20 16:07] moswald commented on #4514
@RehanSaeed I apologize. There was a change made internally for looking up the specific jobs, and it has broken status badges. If you revisit the badge generator dialog it should show you a corrected link. Additionally, work is being done to see if we can easily detect these older badge requests and silently treat them as having been made with the correct information.

[2019-06-20 16:09] moswald commented on #4514
If you find that the generator dialog still doesn't generate correct links, file an issue at the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), and then tag me (maoswald at msft) in a comment.

[2019-06-20 16:29] encelo commented on #4514
Badges are still broken for me. :cry:
Only the Pipeline Scope from the Status badge window is working, but none of the singular job ones.
For example in this project of mine: https://dev.azure.com/encelo/nCine/_build?definitionId=3

[2019-06-20 17:23] Advin24 commented on #4585
This is also contradicting the following documentation page: [Build pipeline triggers - Scheduled Triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#scheduled-triggers)

[2019-06-20 17:56] #3512 closed

[2019-06-20 17:57] KathrynEE commented on #3512
@carloreggiani - I asked the PMs about the change around the number of fields exported and they were not aware of any changelog.

[2019-06-20 18:02] steved0x commented on #4585
@RichardMeadowsTC The doc just went live, here is a link to it:

https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema

[2019-06-20 18:02] #4585 closed

[2019-06-20 18:16] chcomley commented on #4495
Hi @akuchotrani, At this time, we are unable to process your request for providing the manual steps within the current documentation. We do appreciate your feedback, so thank you. In the future, if you have a suggestion or feature request for the tool, or need technical support, please go here: https://visualstudio.microsoft.com/vs/support/#talktous

[2019-06-20 18:16] #4495 closed

[2019-06-20 19:04] chcomley commented on #4581
Hi @chao-master, Thanks so much for the heads up on this. I've updated the markdown so the code shows up properly. This update should be live within the next 3-4 hours, if not before. Thanks again!

[2019-06-20 19:04] #4581 closed

[2019-06-20 20:00] terrysmith-fiworks opened #4586 "Typo on page"
In the "Writes an error" section of the page, the code comment is "Writes a warning" but should be "Writes an error".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e444c2-69c6-4d71-6fd0-94d0f4097d3a
* Version Independent ID: 3a727833-1cc3-c2fb-c5b3-22605eee2721
* Content: [PowerShell task - Azure Pipelines](https://

[2019-06-20 20:09] steved0x commented on #4301
We have just made some updates, I updated the screenshots for classic editor scheduled triggers (they weren't showing the latest version), and YAML scheduled triggers are now supported, and covered in this article under the [Scheduled Triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#scheduled-triggers) section.

[2019-06-20 20:09] #4301 closed

[2019-06-20 20:46] tristanbarcelon opened #4587 "Upstreaming powershellgallery.com in a private Azure Devops nuget feed"
There is a good article on [setting up an Azure Devops artifacts feed as private powershell gallery](https://docs.microsoft.com/en-us/azure/devops/artifacts/tutorials/private-powershell-library?view=azure-devops). I've set something up like this and it's been running great for 2 yrs until June 11th this year. On that day, all our powershell code in that private repo or task groups which relied on

[2019-06-20 20:54] tanmayeekamath commented on #4102
Thanks for your feedback
Looks like the doc above is not created or maintained by the DevTest Labs team.
Here is a doc from our product docs: https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-integrate-ci-cd-vsts

Can we please replace this doc with the link I shared above?

Thanks,
Tanmayee

[2019-06-20 20:56] moswald opened #4588 "Build variable `System.PullRequest.SourceCommitId` is not documented"
See https://github.com/microsoft/azure-pipelines-tasks/issues/9801.

There may be others as well, but that's the one I know of.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Predefined variables - Azure Pipe

[2019-06-20 20:59] fcooper8472 opened #4589 "Schedule trigger with YAML syntax not executing"
I have a pipeline with the following:
[code]

I am expecting this to:

1. Not execute on new commits to the repository
1. Not execute on any PRs
1. Run the master branch hourly on a schedule regardless of whether the code has changed

However, no builds are running hourly.  The builds were working as expected using the previous method of scheduling builds via the web interface.

What am I doing wr

[2019-06-20 21:42] awentzel commented on #3148
Additionally, if you follow the instructions, and leave the optional credential field empty, to leverage the use of the project .npmrc file, it will not authenticate for private registries even if they are both in the same account/collection.

[2019-06-20 21:42] awentzel commented on #3148
I recommend further clarifying the use case for accessing private and public feeds.

[2019-06-20 21:57] asklar opened #4590 "Sample doesn't build."
The return type of RunGetBugsQueryUsingClientLib should be Task&lt;List&lt;WorkItem&gt;&gt; since the method is async

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e978322f-15ae-3a89-ae89-497cdfa5070a
* Version Independent ID: f8654902-e266-c12b-8e25-a2fa7a2ac626
* Content: [Get work items programmatically from Azure

[2019-06-20 22:16] lukewis commented on #4461
Aside from updating the documentation, if anyone had a few minutes to give a yml snippet here of the solution that would be awesome!

[2019-06-20 22:58] rcarmo opened #4591 "Use of global variables in templates is unclear"
I've been trying to get a global variable to work inside a template, and ${{ variables.GLOBAL }} is expanded to the null string for some reason. Either this is mis-documented or this is a bug.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da3

[2019-06-20 23:30] geofflamrock commented on #4265
@chshrikh thanks, it seems to be working now.

[2019-06-20 23:30] #4265 closed

[2019-06-21 00:13] KathrynEE commented on #4502
Adding @vijayma for his insights.

[2019-06-21 00:19] KathrynEE commented on #4387
Closing issue for now.

[2019-06-21 00:19] #4387 closed

[2019-06-21 00:20] KathrynEE commented on #4377
Assigning to @chcomley.

[2019-06-21 00:21] KathrynEE commented on #4065
Closing as angurusw has followed up.

[2019-06-21 00:21] #4065 closed

[2019-06-21 00:24] KathrynEE commented on #3946
@stephenacrown - Thank you for your comment. The Release Administrators group is a built-in group which is created after the first release pipeline is defined. I  will update the article to reflect this.

[2019-06-21 00:24] #3946 closed

[2019-06-21 06:18] zirain opened #4593 "Support publish artifact to a special Azure Blob"
Is there any plan about storage artifacts to private Azure Blob container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task - Azure Pipelines](https://docs.microsoft.com/en-us/azure

[2019-06-21 08:31] RehanSaeed commented on #4514
Can confirm that badges are still broken in in the Azure DevOps badge generator screen.

[2019-06-21 10:11] andreitoupinets commented on #4473
I had same problem yesterday without any changes from my side, I recreate `Service connection` for ACR and tasks work now. I figured it out when I clicked "Update service connection", but its failed with exception.

[2019-06-21 12:42] kevinDespoulains opened #4594 "No "Code Coverage" tab"
Hi all!

I have added a **Publish Code Coverage Results** task in my Azure DevOps pipeline. I have a code coverage summary on the Summary tab but when I click on it, a blank page appears.

![image](https://user-images.githubusercontent.com/46108869/59922865-1732ed80-9432-11e9-8de7-5c64501d6c0b.png)

![image](https://user-images.githubusercontent.com/46108869/59922889-2b76ea80-9432-11e9-80fc-c64746

[2019-06-21 13:23] danhellem commented on #4518
This feature is in preview only right now. I updated the docs accordingly. If you wish to participate in the preview please email me directly at dahellem@microsoft.com and we can get you setup.

[2019-06-21 13:23] #4518 closed

[2019-06-21 13:32] kevinDespoulains commented on #4594
Found this for people in the same case : https://developercommunity.visualstudio.com/content/problem/578111/code-coverage-tab-missing-in-azure-devops-server.html

[2019-06-21 13:32] #4594 closed

[2019-06-21 13:53] EmmanuelPliez opened #4595 "urlReplacementObject dialogOptions property"
Since few days ago, the dialogOptions property urlReplacementObject is no more available in the dialog display event.

Please help !

One solution is to add a new property in the dialogOptions object. So, how get the property after the dialog is loaded ...? (an issue exists for this issue)

Thanks a lot for your quick help !

[2019-06-21 14:23] gorillapower opened #4596 "Dynamic CI Build Trigger for Classic Pipeline"
We are trying to trigger a build using variables in the trigger path, but they dont seem to work. I know this feature is available in the yaml builds, will it be available for the classic build definition? The reason we havnt used yaml builds its because it doesnt suppport TFS repositories.

![image](https://user-images.githubusercontent.com/8879065/59929334-e5755300-9440-11e9-92a6-c08728ce2486.pn

[2019-06-21 15:01] brcrista commented on #3851
Which image?  For Hosted Ubuntu, the header files are there, under the `include` directory where Python is installed.

You can set `name: xxx` on the task and then use `$(xxx.pythonLocation)` in later scripts to get the Python install directory.

If you run this YAML, you should see `include` there:

[code]

[2019-06-21 15:59] chcomley commented on #4377
Hi @xperiandri, I'm glad you found something that worked for you. Let me share another article that is a good starting point: https://docs.microsoft.com/en-us/azure/devops/repos/git/set-up-credential-managers?view=azure-devops. There are more specific manuals to the Git credential manager that are linked to within this doc, as well. I'll be closing this issue, however do let me know if you have an

[2019-06-21 15:59] #4377 closed

[2019-06-21 16:10] chcomley commented on #3085
Hi @gauravlakhani, Please accept our sincerest apologies for losing sight of this issue. I'm hoping you've found your way by now, however please do let me know if you have any further questions. Thanks for your feedback.

[2019-06-21 16:46] vtbassmatt commented on #4591
Can you post your pipeline (or preferably a minimal repro)? I'm not certain what's going on.

[2019-06-21 18:57] MisinformedDNA opened #4597 "Specify when paths must be absolute"
For example, if you look at [task.uploadfile](https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash#uploadfile-upload-a-file-that-can-be-downloaded-with-task-logs) you will see that it only says to specify the "local file path", it does not say anything about an absolute path. But given that all the examples are absolute paths and that I can't

[2019-06-21 19:42] serkan-inci commented on #1229
Unfortunately, Combo control only supports a list of strings as the source and we are sorry for any inconvenience caused by this.

I can suggest below approach which may mitigate the issue a little bit:

        const items = [
            { id: "item-1", text: "Item 1" },
            { id: "item-2", text: "Item 2" },
            { id: "item-3", text: "Item 3" },
            { id: "item-5", text:

[2019-06-21 20:03] niragtibdewal opened #4598 "Unable to pass Json as Script Arguments to PowerShell Script"
I have a requirement to pass JSON Param to the PowerShell script. My Environment variable is a JSON and passing it as Script Arguments (ex. -TenantConfiguration "$(TenantConfiguration)") but in Powershell instead of entire JSON it is passed only as "{"

Looking for help to resolve this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-06-21 20:11] chcomley commented on #1229
@danielstefanescu, @mongeon, @froens, Per the previous comment, which suggests that Combo control only supports a list of strings as the source, and suggests an approach which may mitigate, I'll be closing this issue. If you have any more questions about our docs, or the information contained within, please do create another issue. Thank you all for your feedback.

[2019-06-21 20:11] #1229 closed

[2019-06-21 20:17] mariusstrom opened #4599 "Adding app to Teams puts it in General channel even if you specify another channel"
I've tried adding this app a few times now to my team's Teams engineering/chatops channel, but no matter what I do the app shows up in the General channel which is not useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9adc845-adee-a494-79b4-3466f51d3ec9
* Version Independent ID: 12445205-8acc-98e6-fe65-9508e0dccb

[2019-06-21 21:27] tinuverma opened #4600 "search folder value when creating task group for release pipeline"
I have created a task group for build pipeline. One of the steps in it is "Publish Build Artifacts" with path to publish as $(Build.ArtifactStagingDirectory) and "Artifact publish location" as "Azure Pipelines/TFS" (the other option being "A file share".
Once my build is successful, I want to "release". I created a new set of task group to first install NUnit Console runner, than Install NUnit3 Te

[2019-06-21 21:46] chcomley commented on #4568
Thanks for your feedback, @davidsk, I'll follow up with the product group and get back to you on this. Have a great weekend.

[2019-06-21 21:49] randyram-at-ms commented on #4530
Thank you rusher!!  Doc folks, can we get this updated please?

[2019-06-21 21:53] chcomley commented on #4552
Hi @marct22, I'm sorry you're experiencing difficulties. Can you please tell me what version you're using? This article is for Azure DevOps Services. Also, can you please confirm that you've met the [prerequisites](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-azure-active-directory-groups?view=azure-devops#prerequisites)? Looking forward to your reply. Have a nice we

[2019-06-21 21:54] randyram-at-ms commented on #4530
Also, this documentation needs to be updated for version 2 of this task.

[2019-06-21 21:54] chcomley commented on #4535
Thanks for your feedback, @davidsk, I'll follow up on this soon and get back to you. Hope you enjoy your  weekend.

[2019-06-21 21:58] danieleusebio commented on #2102
I don´t know were to set.
I reinforce:
"It is not clear in this document where we can set/view these parameters in Azure DevOps. There are build pipelines and release pipelines, but I find no parameters view for either. Variables, yes, but parameters? Trying to set Parameters.WebsiteName to something else than "Default Web Site"..."

[2019-06-21 22:14] msebolt commented on #4572
@alohaninja  Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azureweb

[2019-06-21 22:25] msebolt commented on #4579
@miles1302 Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsi

[2019-06-21 22:25] #4579 closed

[2019-06-21 22:28] msebolt commented on #4582
@dougbw Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites

[2019-06-21 22:28] #4582 closed

[2019-06-21 22:33] msebolt commented on #4587
@tristanbarcelon Thanks for the suggestion!

The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-06-21 22:33] #4587 closed

[2019-06-21 22:35] msebolt commented on #4589
@fcooper8472 Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azureweb

[2019-06-21 22:41] msebolt commented on #4593
@zirain Thank you for the question!

The product team publishes the roadmap [here](https://docs.microsoft.com/en-us/azure/devops/release-notes/).

If you can't find the information on the roadmap, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-06-21 22:41] #4593 closed

[2019-06-21 22:44] msebolt commented on #4595
@EmmanuelPliez It looks like you've encountered an issue with the product itself, rather than an issue with the documentation.

To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-06-21 22:46] msebolt commented on #4596
@gorillapower Thanks for your question.

Please refer to the [roadmap](https://docs.microsoft.com/en-us/azure/devops/release-notes/).

If the feature can't be found on the roadmap, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-06-21 22:46] #4596 closed

[2019-06-21 22:49] msebolt commented on #4598
@niragtibdewal Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurew

[2019-06-21 22:49] #4598 closed

[2019-06-21 22:53] msebolt commented on #4599
@mariusstrom It looks like you've encountered an issue with the product itself, rather than an issue with the documentation.

To make sure it gets in front of the right people, please [submit your Azure DevOps bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

Additionally you may want to report this issue to [Microsoft Teams support](https://support.offic

[2019-06-21 22:53] #4599 closed

[2019-06-21 22:54] msebolt commented on #4600
@tinuverma Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsi

[2019-06-21 22:54] #4600 closed

[2019-06-21 23:17] xperiandri commented on #4377
@chcomley I can't find how that article can help to solve my issue

[2019-06-21 23:18] #4501 closed

[2019-06-21 23:44] alohaninja commented on #4572
![image](https://user-images.githubusercontent.com/26234626/59956195-aeed0780-9443-11e9-86eb-1b06868523a7.png)

@msebolt - the question is whether this is possible using a **release** pipeline - this isn't specific to an implementation or scenario - release pipelines are standard building blocks for CD. The docs should state that this is not currently supported for **release** pipelines - just for

[2019-06-21 23:48] msebolt commented on #4572
@alohaninja Let me reach out to the author for further information.

[2019-06-22 00:33] chasewilson commented on #4304
@samsmithnz, Thank you for the feedback! We will be adding some updates soon to give some relevant, useful examples. In the mean time, the task has been updated to v2 and if you want to take a look and provide any more feedback, it's always appreciated :)

[2019-06-22 00:35] chasewilson commented on #3690
@jafin Thank you for the question. There are some issues with older versions of the tasks and will be deprecated in the future. As of right now, we are only supporting the current version of a task. If you have an more questions or feedback. Feel free to reach out!

[2019-06-22 00:35] #3690 closed

[2019-06-22 00:37] chasewilson commented on #3263
@sandeepzgk Thank you for the feedback and @katlimruiz thanks for the input! are you still having this issue or does the commented solution answer it?

[2019-06-22 03:07] atinb commented on #4599
@mariusstrom I could be wrong, but my understanding is that apps are always added to Teams at a team level instead of channel level. Once added to a team, you can always use it within any channel within the team - just that the welcome message is shown in the General channel. Thanks!

[2019-06-22 05:42] NightOwl888 commented on #3284
@seangwright

I like your setup, but I am curious how you would handle the scenario for multiple NuGet packages. For example, let's say ProjA depends on ProjB, which in turn depends on ProjC. They are all in separate repositories with dissimilar version numbers, but a new version of each is being developed simultaneously.

ProjA = 1.6.0-beta0003
ProjB = 1.4.0-beta0004
ProjC = 1.2.0-beta0001

So, c

[2019-06-22 06:09] EmmanuelPliez commented on #4595
Could you give me information about how used the dialogOptions when a page is displayed / loaded ?

[2019-06-22 11:03] couven92 opened #4603 "Inline array for iterative insertion"
Is it possible to inline the array for iterative insertion, instead of taking it from `parameters`.

For example:

[code]

In the example above the template would add `--configuration Release` to the `arguments` property of each of the `build`, `test`, `pack`, `publish` objects in the arguments passed to `steps.yml`.

The example above does not work, Azure DevOps complains with
[code]

If possible

[2019-06-22 22:44] jboarman commented on #4524
This has recent releases posted in GitHub, but unfortunately does not seem to be for docker: https://github.com/Microsoft/azure-pipelines-image-generation

[2019-06-23 00:24] MarkKoz opened #4604 "Test Run Titles for Multiple Files"
If `mergeTestResults` is not set to `true`, then each file found by `testResultsFiles` will get its own test run. However, there seems to be no way further customise the name for each test run. At the least it's not even explained that a number will just be appended to the `testRunTitle`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-23 03:19] MarkKoz opened #4605 "reportDirectory Now Useless?"
Since microsoft/azure-pipelines-tasks#9704, coverage HTML is automatically generated. HTML files specified with `reportDirectory` will be ignored. Does this mean this argument is now useless? This behaviour should be documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ac4ff4-9839-6a6d-8d20-a25084d

[2019-06-23 08:21] Bar-Armon opened #4606 "Bullet list shortcut not working"
Hi,
The shortcut mentioned above is not working for me. Any idea why?
The Numbered list shortcut does work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02128227-c915-a0d9-f919-c1ef2a3b834f
* Version Independent ID: bf4402f5-f9fe-a6d0-3738-01e2aca27209
* Content: [Keyboard shortcuts for work item form and Work Items

[2019-06-23 10:06] NightOwl888 opened #4607 "How to specify the name of a matrix?"
Currently, I have:

[code]

What I am wondering is whether I can remove the duplicate osName parameter just so I can get a reference to the name that is already defined in the matrix? For example:

[code]

Is this possible? If so, can the correct syntax for this be added to the documentation? If not, consider this a feature request.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-06-23 10:29] NightOwl888 opened #4608 "Link no longer refers to repo with azure-pipelines.yml file"
The file in the example at https://github.com/MicrosoftDocs/pipelines-javascript has been deleted from the repository, so this example is no longer easy to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5552e8c4-b0c2-f3ff-c69a-607166afb611
* Version Independent ID: 8e73c13c-9b2b-0eac-45ec-4bd3a8d01bb1
* Content

[2019-06-23 11:10] NightOwl888 commented on #4607
Never mind, I see now it appends the name to whatever the name/displayName of the job is. That is the behavior I wanted.

[2019-06-23 11:20] NightOwl888 commented on #4607
On second pass, I am referencing the variable `osName` further down in the job, so I still cannot remove this extra variable even though it is already the name defined in the matrix. It would still be useful to be able to reference `matrix.name` directly.

[2019-06-23 15:52] ohorvath commented on #3306
I think the issue is still there, all files end up here: $(Pipeline.Workspace) and not under a sub folder for the artifact.

[2019-06-23 19:05] rcarmo commented on #4591
Sure. I have [an entire example pipeline](https://github.com/rcarmo/azure-pipelines-multiarch-docker) online.

I have to send in the auth info as parameters to [the job template](https://github.com/rcarmo/azure-pipelines-multiarch-docker/blob/master/.azure-pipelines-job.yml) because it cannot see the global variables I have set for the pipeline (i.e., `$DOCKER_USERNAME` and other variants expand t

[2019-06-24 05:45] hiyadav commented on #3341
New PR has been raised and is under review. If everything goes smooth, this feature will be available by end of July.

PR Link: https://github.com/microsoft/azure-pipelines-tasks/pull/10734

[2019-06-24 06:11] mark-janos opened #4609 "Options for hosting "Publish Profile""
It would really help if instructions were provided on how to use the "Secure files" feature to host Publish Profile .xml documents
https://docs.microsoft.com/en-us/azure/devops/pipelines/library/secure-files?view=azure-devops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19f07c04-6b05-0de0-9b74-e032226528a4
* Version

[2019-06-24 08:25] tcarlander opened #4610 "The User Voice link is not active"
https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/15109674-allow-build-to-use-ssh-authentication-while-checki gives site deactivated

[2019-06-24 08:26] jawn opened #4611 "New navigation is no longer in preview, update docs"
Update the title and navigation link so the word preview is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eab519d8-dc41-91de-437a-4469edefddab
* Version Independent ID: edc98ac8-a89a-a79a-d75c-1435870a00d2
* Content: [Developing extensions for Azure DevOps Services vertical web navigation](https://docs.micros

[2019-06-24 08:43] kieronlanning commented on #3341
Thanks @hiyadav!

[2019-06-24 10:22] Ausm opened #4612 "Not just pushing but also restoring from a TFS Package Management feed with basic auth enabled does not work."
The statement here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#publishing-packages-to-tfs-with-iis-basic-authentication-enabled states that pushing to a TFS Package Management feed does not work when basic auth is enabled on the TFS.
This is correct, but restoring from such a feed also does not work since it needs to get the feeds URI and for that

[2019-06-24 10:23] AndrewGibson100 opened #4613 "Pipeline decorator example YAML is misleading"
The initial example YAML provided [here](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/extend/develop/add-pipeline-decorator.md#decorator-yaml) is misleading. If the example is used as is it will not work as the YAML must start with "steps:" in order for the pipeline decorator to function. This should be added to the example YAML.

[2019-06-24 14:35] brcrista commented on #4582
@dougbw If you think this is a feature gap in the task, could you please open an issue at https://github.com/Microsoft/azure-pipelines-tasks/issues?

[2019-06-24 14:46] lordnelson opened #4615 "Can't work out source of parameter in yaml example"
Looking at the yaml example:
[code]
I can't see where `appType` is coming from. Should it be `WebAppKind`?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c94df7-9de9-ea1a-8b77-d1e6023694dc
* Version Independent ID: a525989e-2e0a-0399-556e-9011ee95da4e
* Content: [Azure App Service Deploy task - Azure Pipelines](https

[2019-06-24 15:15] elbatk commented on #4612
Hey there @Ausm , I've approved and merged your PR. Thank you for the contribution!

[2019-06-24 15:15] #4612 closed

[2019-06-24 15:48] adamdavies001 commented on #2210
@adamtoakley That's a horrible presumption. The purpose of documentation is to be explicit about the usage of a feature; there should be no assumptions here. The error callback function needs to be included in the documentation.

[2019-06-24 16:32] chcomley commented on #4590
Hi @asklar, thanks so much for your feedback. I'm following up on this and will be in touch soon.

[2019-06-24 17:16] chcomley commented on #4571
Hi @justinyoo, Thanks for your question. I'm checking in with the PM and will get back to you soon. Thanks!

[2019-06-24 17:28] chcomley commented on #4575
Hi @Cherishty, You should be able to select the **Remove** link per the attached screenshot. After a few seconds, select the refresh button, and then the name should be removed.
![removeprojectadmin](https://user-images.githubusercontent.com/35748196/60039082-be9a6500-966a-11e9-9388-c75026196f69.png)
Please let us know if you have any further questions. Thank you!

[2019-06-24 17:38] elbatk commented on #4571
Hey Chrystal, I think Matt is checking this out from Twitter, just a heads up that he has some context I think :)

[2019-06-24 17:41] chcomley commented on #4503
Hi @AlexisColes, The guidance within the article you referenced still stands, as of today.
I welcome you to submit a suggestion to our engineers, however, by going [here](https://developercommunity.visualstudio.com/spaces/8/index.html), and then select **Suggest a feature**, and then **Azure DevOps**. Thanks and do let us know if you have any further questions.

[2019-06-24 18:15] KathrynEE commented on #3976
Closing issue - not enough information to respond.

[2019-06-24 18:15] #3976 closed

[2019-06-24 18:22] #2846 closed

[2019-06-24 18:47] msebolt commented on #4595
@EmmanuelPliez Please refer to [this](https://docs.microsoft.com/en-us/azure/devops/extend/develop/using-host-dialog?view=azure-devops) document (specifically the urlReplacementObject example).

Are you saying this example no longer works?

Also including https://github.com/MicrosoftDocs/vsts-docs/issues/4568 for reference to the second issue.

[2019-06-24 18:57] msebolt commented on #4586
@terrysmith-fiworks Thank you for the feedback!

Fix submitted per https://dev.azure.com/mseng/TechnicalContent/_git/vsts-docs-pr/pullrequest/479915?_a=overview.

[2019-06-24 19:04] msebolt commented on #4583
@TylerBuchanan97 Thank you for the feedback!

Fix in review per https://dev.azure.com/mseng/TechnicalContent/_git/vsts-docs-pr/pullrequest/479923?_a=overview.

[2019-06-24 19:22] claudioandre-br commented on #4468
It is solved now. Thanks.

[2019-06-24 19:22] #4468 closed

[2019-06-24 20:14] jkdmyrs commented on #4306
@papiermache

The article does not mention GitFlow, but instead GitHub Flow, a simple feature branching pull request strategy. Also, lets not be so sensitive... suggesting another way to use git doesn't mean the author is **dissing** anything.

@papiermache

That's actually exactly what GitHub flow, which the author was referencing, advocates:
https://guides.github.com/introduction/flow/

 @yanndu

[2019-06-24 20:18] EmmanuelPliez commented on #4595
Thanks for answer.
But this exemple is no longer correct.
The query param is not passed to the dialog

Le lun. 24 juin 2019 20:47, Matthew Sebolt <notifications@github.com> a
écrit :

[2019-06-24 20:36] #2589 closed

[2019-06-24 21:18] fume commented on #4548
any news on this? thanks

[2019-06-24 21:40] marct22 commented on #4552
We are using azure AD.  I am org owner.  How can i tell what version I'm using?  I am not using an on-premises version, it's in the cloud.  This isn't TFS, it's azure devops...

[2019-06-24 22:11] chasewilson commented on #2514
Hi all! I appreciate the feedback. It looks like the original question has been answered and there will be an update to the task documentation to have readily available info soon. I am closing this issue, however, if you have any more questions or feedback, feel free to open a new issue!

[2019-06-24 22:11] #2514 closed

[2019-06-24 22:25] chasewilson commented on #1976
Hi @karataliu I'll be taking a look at this issue. Feel free to reach out with anymore feedback or questions.

[2019-06-24 23:34] chasewilson commented on #2621
Is anyone still having an issue with this?

[2019-06-25 00:06] phil-hodgson opened #4616 "SNAPSHOT versions are not supported for upstreams"
URL: https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-maven?view=azure-devops

When a feed is configured with a Maven upstream, it's important for users to understand that when pulling a SNAPSHOT version from the feed, Azure DevOps _does not_ search any upstream source for that (SNAPSHOT) version. This applies both to public upstreams (i.e. Maven Central) and other Azure DevOps

[2019-06-25 00:07] phil-hodgson commented on #4616
May also want to note this on https://docs.microsoft.com/en-us/azure/devops/artifacts/maven/upstream-sources?view=azure-devops

[2019-06-25 01:16] shoyer opened #4617 "Combining coverage results from multiple jobs in Python (with pytest)"
I've setup my open source project to run CI with Azure Pipelines (see https://github.com/pydata/xarray/pull/3039), and am collecting code coverage following the example from the Azure pipelines docs on how to test Python apps.

This seems to work pretty well, but the code coverage statistics seem to only pick up a test results from a single job (at random). To get complete coverage for my project

[2019-06-25 06:38] shayki5 opened #4618 "All the photos are from the old UI view"
Hi,

All the examples photos are from the old UI.
Can you update them to the new UI view?

Thank you!

[2019-06-25 06:39] #4618 closed

[2019-06-25 06:40] shayki5 opened #4619 "All the photos are from the old UI view"
Hi,

All the examples photos are from the old UI.
Can you update them to the new UI view?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56437af3-75da-d219-5364-9b7927298ece
* Version Independent ID: ca01655a-9195-cf92-14b4-77ef66053dcf
* Content: [Extension Points](https://docs.microsoft.com/en-us/azure/de

[2019-06-25 07:32] MarkCBS opened #4620 "Can I use a variable in repositories:ref ?"
Using Azure DevOps Git repo
Two branches: master and feature/myfeature

In feature branch I am using:

resources:
  repositories:
    - repository: templates
      type: git
      name: MyProject/MySolution
      ref: refs/heads/feature/myfeature

In master branch:

resources:
  repositories:
    - repository: templates
      type: git
      name: MyProject/MySolution
      ref: refs/heads/master

[2019-06-25 07:43] waqasm opened #4621 "Sentence correction"
Hi,
There is a sentence require a little fix in document.

The sentence currently says "Select customers have opted into our second stage of feature flags."

I think "ed" is missing with "Select".
I think, the sentence needs to be "Selected customers have opted into our second stage of feature flags."

Link to document: https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/progre

[2019-06-25 08:07] dscho opened #4622 "YAML for publishing artifacts says `publish:` but it seems to be `upload:`?"
The schema and the example both insist on the term `publish`, but the Pipeline [fails](https://dev.azure.com/dscho/git/_build/results?buildId=196&view=results) to execute with:

[code]

When I replace it with the term `upload`, it [works](https://dev.azure.com/dscho/git/_build/results?buildId=198&view=results).

So the documentation is incorrect...

---
#### Document Details

⚠ *Do not edit this s

[2019-06-25 08:24] RoopeshNair commented on #4615
In yaml, you don't have to specify the  `appType` input. It will be auto-detected at runtime.
@N-Usha  - can you please get this updated?

[2019-06-25 10:36] simonsabin commented on #4507
This has been raised https://developercommunity.visualstudio.com/content/idea/608314/allow-iframe-elements-to-be-embedded-in-wiki-pages.html

[2019-06-25 11:14] vtbassmatt commented on #4622
@willsmythe should `publish` be everywhere by now?

[2019-06-25 12:49] ahmadyo commented on #3800
Previously defined builds not using new updated version of task, until edit each definition.

[2019-06-25 13:26] lordnelson commented on #4615
Thanks for clarifying @RoopeshNair

[2019-06-25 13:34] KnicKnic opened #4623 "assemble c artifacts is missing line"
issue in section https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=yaml#example-assemble-c-artifacts-into-one-location-and-publish-as-an-artifact

reads
[code]

should read

[code]

notice additional line `    TargetFolder: '$(Build.ArtifactStagingDirectory)'`

#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-06-25 14:10] mcollis2 opened #4624 "Different behaviour of app if selecting all repositories versus individually selecting repositories"
Hi,

We have found that if we select repositories individually, we can add them to multiple Azure Devops Projects.  In our use case, lets say we have 50 repositories.  We want to connect 10 repositories with one project, 10 with another, and so on.  This appears to work for individually selecting repositories.  We can run through the connection wizard multiple times, selecting a different project

[2019-06-25 14:28] spashx opened #4625 "Artifacts documentation clarification"
Hi,

In the documentation of the Access Levels, filtered for Azure Devops Server 2019, the "Artifact" topics says:
https://docs.microsoft.com/en-us/azure/devops/organizations/security/access-levels?view=azure-devops-2019

I think this applies only to Azure Devops Service, and not Server ? This should be clarified.

Regards,

[2019-06-25 14:30] wez commented on #4589
@fcooper8472: did you figure this out?  I'm having the same problem and am finding the documentation frustrating; there's no information on how to troubleshoot failure to schedule builds and this closed doc issue is the closest thing I've found to an official response, even if that is a redirect to an echo chamber.

[2019-06-25 14:38] wez commented on #4589
For others with a similar sounding issue, I've raised this over here:
https://stackoverflow.com/questions/56756536/scheduled-builds-never-trigger-in-azure-devops-pipeline
I don't know if anyone that can help will ever read it.  Fingers crossed?

[2019-06-25 15:26] RehanSaeed opened #4626 "Publishing NuGet packages to Azure Artifacts from PR's"
Can Azure Artifacts packages be made available publicly? If so, I'd like publish NuGet packages from a PR to my [GitHub project](https://github.com/RehanSaeed/Schema.NET). I currently get the following permissions error from PR builds:

I'm using an [azure-pipelines.yml](https://github.com/RehanSaeed/Schema.NET/blob/master/azure-pipelines.yml) file. Here is a [link](https://dev.azure.com/schema-ne

[2019-06-25 15:41] steved0x commented on #702
@Hgker01 Apologies for the great delay, and thank you for letting us know. This permission was renamed starting with TFS 2017, and I have updated the documentation, and it should be live soon. Thank you.

[2019-06-25 16:46] chasewilson commented on #4304
@samsmithnz Thanks again for the feedback. I've updated the page with examples and it should be pushed to live soon. If you have any more feedback on this or any of our docs pages, I hope you'll open a new issue! I'm closing this one.

[2019-06-25 16:46] #4304 closed

[2019-06-25 16:50] chasewilson commented on #3903
Hi @kzu and @d3r3kk. Thank you both for the feedback and input. I've recently updated with the current, correct guidance as well as an update coming today with examples. I'm going to close this issue. However, if you have any more feedback, feel free to open a new issue!

[2019-06-25 16:50] #3903 closed

[2019-06-25 16:52] chasewilson commented on #3263
@sandeepzgk I'll be closing this issue if you don't have any more feedback. Feel free to open a new issue if the issue isn't resolved! Thank you again!

[2019-06-25 16:52] #3263 closed

[2019-06-25 16:56] secbug commented on #2448
Still waiting for this feature to be fleshed out. Actually using DevOps/Azure Pipelines is terrible due to this documentation being terrible.

[2019-06-25 17:00] chasewilson commented on #4530
@rusher, thank you for the feedback! I updated the task information a few days ago and am pushing an update today to cover the examples including this scenario here. 'definition' is an alias still available to use but is now named 'pipeline'. @randyram-at-ms this will be up to the latest version of the task. Thank you both again and feel free to reach out! (Leaving open until doc is pushed out)

[2019-06-25 17:02] chasewilson commented on #4516
@sandersaares Thank you for the feedback! I've taken your recommendation and doc will have an explicit answer pushed out today. To answer your question, If left empty, all artifacts associated to the pipeline run will be downloaded.
I'll be closing this issue but please feel free to reach out or open a new issue with any more feedback!

[2019-06-25 17:02] #4516 closed

[2019-06-25 17:47] erinhelf opened #4628 "Feature question regarding iterations"
It appears creating a work item that is a child of another automatically inherits the iteration of the parent. Is there anyway to avoid that and have it default blank, forcing the user to select the correct one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7a0948-ee09-8734-ed6e-bc45bd78ce01
* Version Independent ID

[2019-06-25 18:18] chasewilson commented on #4530
@rusher @randyram-at-ms the doc is updated and live :) feel free to take a look! Closing this issue.

[2019-06-25 18:18] #4530 closed

[2019-06-25 18:23] kaburkett opened #4629 "Why on God's green earth would you use YAML instead of JSON?"
The article is missing an explanation of why you've chosen to contradict the nature of the internets in this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipelines](https://docs.mic

[2019-06-25 18:44] #4575 closed

[2019-06-25 18:44] #4503 closed

[2019-06-25 19:00] ekolis opened #4630 "Is there any way to create a private task (run it without publishing it so other people can see it)?"
I want to create a private task to do things that are specific to my business, so I don't want to have to publish it for other people to see. Is there any way to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5ef8-9f2a192a84ad
*

[2019-06-25 20:28] steved0x commented on #751
@CyberJMC66 I have forwarded your feedback to Sam and if I get a reply I'll add it here. Thank you for your feedback.

[2019-06-25 20:28] #751 closed

[2019-06-25 20:30] steved0x commented on #827
@JunQianZ I apologize for the great delay in addressing your feedback. I have forwarded it to the testing product team people. If you think that we should have a feature added that supports delete/recovery of test artifacts, please file a feature request [here](https://developercommunity.visualstudio.com/spaces/21/index.html
).

[2019-06-25 20:30] #827 closed

[2019-06-25 20:32] #4629 closed

[2019-06-25 20:32] steved0x commented on #843
It looks like this one has been fixed, thanks for letting us know.

[2019-06-25 20:32] #843 closed

[2019-06-25 20:36] steved0x commented on #847
This task is deprecated and users redirected to MS App Center, which is where that link directs them as well (maybe it has been updated since this issue was filed?), so I'm keeping the original link.

[2019-06-25 20:36] #847 closed

[2019-06-25 20:46] steved0x commented on #896
Just getting back to this, this is the download link for TFS 2015.1, I have reported it to the owner of that product area. Thanks for letting us know.

[2019-06-25 20:46] #896 closed

[2019-06-25 20:49] wwwroth opened #4631 "PHPUnit failing on RuntimeException: No application encryption key has been specified."
In my azure-pipelines.yml, I have the following steps to install dependencies, migrate and run tests.

[code]

When the pipeline runs, my phpunit script fails with the error:

[code]

1. I have my APP_KEY set in my app service configuration from the `php artisan key:generate` command.
2. I even tried to add `php artisan key:generate` to my pipeline after composer and before the migration.
3. When

[2019-06-25 20:53] steved0x commented on #917
Fixed and should be live very soon, thank you for letting us know and apologies for the great delay.

[2019-06-25 20:54] KathrynEE commented on #4270
@fhack2 - Thank you for your comment. You are correct that Stakeholders cannot see the Test Plans pages, however, the Test & Feedback extension is available to Stakeholders.  So leaving the content as is for now.

[2019-06-25 20:54] #4270 closed

[2019-06-25 20:55] steved0x commented on #952
This happens when there is no public repo for the feedback control to point to, it should be fixed now for our various doc sets.

[2019-06-25 20:55] #952 closed

[2019-06-25 21:01] StefanSchoof commented on #4264
The behavior has changed 3 weeks ago and hidden files are download by default

[2019-06-25 21:01] #4264 closed

[2019-06-25 21:06] KathrynEE commented on #3831
@anmason  - Thank you for the correction. I have updated the article to reflect the way permissions operate.

[2019-06-25 21:06] #3831 closed

[2019-06-25 21:09] steved0x commented on #955
I have just recently taken ownership of this area of the docs, and I can do the following:

* I can call out that you can type filters and wildcards into the box although it looks like you have to pick.

You can also use YAML triggers to specify your triggers and builds which may give you more flexibility/control. It looks like you are using GitHub (from this article?) so you can check out [Trigge

[2019-06-25 21:17] wwwroth commented on #4631
Oops! This shows my lack of how these pipelines work. I created a .env.testing file, I copy it over and spin up a 'virtual environment' during the build and it's all working now.

[2019-06-25 21:17] #4631 closed

[2019-06-25 21:33] fhack2 commented on #4270
That extension requires you to have Basic license. Basic users can already see test plans.

Fahim Hack

[2019-06-25 21:38] randyram-at-ms commented on #4530
I just checked out the latest at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops, It’s awesome, thanks!!

Can you document the preferTriggeringPipeline parameter?

From: Chase Wilson <notifications@github.com>
Sent: Tuesday, June 25, 2019 11:19 AM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: Randy Ramig <randyram@

[2019-06-25 21:40] KathrynEE commented on #866
@nschonni - thank you for the correction. I'm removing the dead link from this article.

[2019-06-25 21:40] #866 closed

[2019-06-25 21:48] randyram-at-ms opened #4632 "project: ##[error]Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
I put your project name, 'OS' in the project param, but it wants the GUID for projectId.
##[error]Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49

[2019-06-25 22:23] aholler2 opened #4633 "Can't use a task with a space in its name"
I can't use a task that has a space in it's name. I am attempting to use the Marketplace "ARM Outputs" extension with the ARM Outputs task in my pipeline.
My YAML task:
[code]

My error(s) (multiple attempts):
`20190625.19: "Job Job1: Step ARM Outputs has an invalid name. Valid names may only contain alphanumeric characters and '_' and may not start with a number."`

`20190625.20: "Job Job1: Step

[2019-06-25 22:25] #702 closed

[2019-06-25 22:25] #955 closed

[2019-06-25 22:25] #1002 closed

[2019-06-25 22:42] KathrynEE commented on #4374
@chcomley  - Can you check with the PM and correct if true.

[2019-06-25 22:51] chcomley commented on #4552
Hi @marct22, We believe that either your Azure AD group you're trying to add is inactive for some reason, or there may be a bug. Please [create a support ticket](https://support.microsoft.com/en-us/supportforbusiness/requests) and those great folks will be happy to help you get this figured out.

![create support ticket](https://user-images.githubusercontent.com/35748196/60137863-1fa26580-975d-11e

[2019-06-25 22:55] WilliamAntonRohm commented on #4555
@ntachandley -- thank you for your feedback.  I have fixed this link target in the documentation and so I am closing this issue 4555 now.

Fixed in PR https://github.com/MicrosoftDocs/vsts-docs/pull/4634

[2019-06-25 22:55] #4555 closed

[2019-06-25 23:10] WilliamAntonRohm commented on #4603
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Y

[2019-06-25 23:10] #4603 closed

[2019-06-25 23:13] WilliamAntonRohm commented on #4617
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-25 23:13] #4617 closed

[2019-06-25 23:18] WilliamAntonRohm commented on #4620
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-25 23:18] #4620 closed

[2019-06-25 23:24] randyram-at-ms opened #4635 "Unexpected value 'publish'"
Tried to use the publish keyword and got an error: (Line: 150, Col: 9): Unexpected value 'publish'"

     # Publish artifacts needed for the next stage
      - publish: $(Build.SourcesDirectory)\src\Base\Samples\PackageDeployUniversalTest\config\TestLists\$(BuildPlatform)
        artifact: PackageDeployUniversalTest-TestLists-$(BuildPlatform)

This publish is in the right place, under steps: keywo

[2019-06-25 23:26] WilliamAntonRohm commented on #4624
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-06-25 23:26] #4624 closed

[2019-06-25 23:28] WilliamAntonRohm commented on #4626
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-25 23:28] #4626 closed

[2019-06-25 23:29] WilliamAntonRohm commented on #4628
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-25 23:29] #4628 closed

[2019-06-25 23:30] WilliamAntonRohm commented on #4630
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-06-25 23:30] #4630 closed

[2019-06-25 23:34] WilliamAntonRohm commented on #4633
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.