[2019-11-05 15:11] RoopeshNair commented on #6217
User can create the pipeline that references an environment. It will prompt for authorization so that the pipeline can  deploy to the environment. Once authorized, the reader can trigger the pipeline as well.

[2019-11-05 15:31] AndreSteenveld opened #6261 "Relative links to images don't work with preview "New Repos landing pages" enabled"
When the preview feature "New Repos landing pages" is enabled relative links to images in the same directory don't work. I've tried the other methods of linking an image ("Absolute path in Git" and "Absolute path in TFVC") but these didn't seem to work either.

The browser I've used was Firefox 70.0 (64-bit) on windows. According to the inspector the links weren't correct simply causing a 404.

--

[2019-11-05 15:34] mack0196 opened #6262 "Filters for individuals?"
Today I can filter for pull requests for groups set as reviewers.
When will the feature allow me to filter on individuals in reviewer filed of the pull request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd5671b-b7b8-9acb-c195-7897fec3538b
* Version Independent ID: ff894c1b-f2f7-581d-94b4-dbc77d80ad6d
* Content: [

[2019-11-05 15:36] StephenRSkinner commented on #4947
Also need the ability to revert from history, like you can on build and release definitions. I just got bit by this, after a week of configuring new environments. One person reverted everything to previous values and there's no way to get them back, due to the lack of this functionality.

[2019-11-05 15:36] melezhik opened #6263 "Project level permissions clarification"
Hi!

My scenario:

1. I am the member of project Foo admins ado group - `[Foo]\Project Administrators`.

I assume that that Ado group has administrator privileges for _all_ the project's Ado security tokens ( Library, Git Branches and so )

2. I accidentally **removed all the permissions** from project Library security token using Azure devops RestAPI:

[code]

3. I end up losing access  to the pr

[2019-11-05 15:41] melezhik commented on #6263
For me it boils down to the fact that higher level hierarchy privileges ( which is a being a project level administrator ) should allow to changes lower level privileges ( which is a project's Library ).  It least that impressions I bore from reading security permissions documentation - https://docs.microsoft.com/en-us/rest/api/azure/devops/security/?view=azure-devops-rest-5.1

[2019-11-05 15:46] PBoraMSFT opened #6264 "Need intuitive title for requirements traceability doc"
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/requirements-traceability?view=azure-devops

The title of the document and the TOC entry are not at all intuitive. Can we please fix this to say "Requirements traceability" as that is the industry accepted term?

[2019-11-05 15:46] PBoraMSFT commented on #6264
@steved0x - can you please help with this? Should be a small fix.

[2019-11-05 15:48] Weiman74 opened #6265 "Path filters improvements"
For CI trigger, it doesn't seem to possible to include/exclude based on file extension. For example exclude *.build.
This would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Build pip

[2019-11-05 15:50] RoopeshNair commented on #6260
Deployments tab on the environment tracks the deployment across pipeline runs.  Can you elaborate what do you mean by history isn't split up per pipeline?

[2019-11-05 16:14] DaveJarvis commented on #6246
For example:

![overview](https://user-images.githubusercontent.com/2131950/68224897-55c1e280-ffa4-11e9-9094-4ff524d898c3.png?_sm_au_=iVVQWk3Sq7jk1qfjF23vvK3kcC4N6)

[2019-11-05 17:16] abelfiore opened #6266 "Can byPrereleaseNumber be used with csproj PackageVersion?"
Is there a way to use NuGetCommand with byPrereleaseNumber to pack/push with the Major, Minor and Patch number defined in a csproj PackageVersion element? In other words, use the Semantic Version from the csproj, and append a generated prerlease number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ed58a1-5819-f3a4-

[2019-11-05 18:09] aleksmark opened #6267 "Release pipeline in code"
Is it possible to define release pipelines in YAML file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63234ade-28cc-02fc-a319-42e3491da601
* Version Independent ID: 7ccbfe96-d61e-8bf2-de22-61150d648abd
* Content: [Release pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/?vi

[2019-11-05 18:42] #5988 closed

[2019-11-05 18:44] #6030 closed

[2019-11-05 18:44] #6264 closed

[2019-11-05 18:45] prlcutting commented on #4406
@KathrynEE - Could you please provide a status update on when we will be able to manually control the order of items (i.e. not just alphabetical), or perhaps point us to a work item that we can follow to monitor progress?  In June you mentioned that functionality would be shipping in a couple of months.  We're now in November and it doesn't appear that it is available yet.  Thanks.

[2019-11-05 18:50] steved0x commented on #5987
Fixed in the associated PR

[2019-11-05 18:50] #5987 closed

[2019-11-05 18:54] msebolt commented on #6250
@gholiday  Thank you for the feedback and for noting the discrepancy.

This should probably changed in the original doc, please move this to the [azure-pipelines-agent](https://github.com/microsoft/azure-pipelines-agent/issues) repo issues and link back here.

Also including @juliobbv

[2019-11-05 18:58] spottedmahn opened #6268 "Squash commits in Git using Visual Studio"
As of VS 2019 we can squash commits in the UI 😀🎉

Reference Dev Community: [Squash commits in Git using Visual Studio](https://developercommunity.visualstudio.com/idea/351072/squash-commits-in-git-using-visual-studio.html)

[My documentation](https://github.com/spottedmahn/my-blog/issues/26)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-11-05 19:02] steved0x commented on #5952
@cawoodm Sorry for the long delay, quick question - did the first agent that you registered with the PAT get going successfully, and processed some builds, and then only stopped working after you registered the 2nd agent (using the same PAT)? Since the PAT is only used during agent setup, if the first agent did get going successfully, then the issue would be caused by something else other than the

[2019-11-05 19:05] mortenlerudjordet commented on #3702
You can also set a shared variable using powershell and the vsTeam module.
Did a small write-up here:
http://blog.lerun.info/2019/09/28/azure-devops-pass-variable-from-build-to-release/

[2019-11-05 19:10] msebolt commented on #6251
@joseharriaga Thank you for the question, assigning this to the author for review.

[2019-11-05 19:13] steved0x commented on #5772
I am reporting this to the test team, and I recommend that you file an issue at https://developercommunity.visualstudio.com/spaces/21/index.html as well (or search there to see if anyone else has reported this, and if so you can upvote their submission). Thank you.

[2019-11-05 19:13] #5772 closed

[2019-11-05 19:31] msebolt commented on #6252
@sachinzen  Thank you for the feedback.

Unfortunately, default states are non-editable and you will need to use a **custom state** instead.

For product team suggestions, please use **Suggest a Feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).  You can use [this post](https://developercommunity.visualstudio.com/content/problem/49890/defau

[2019-11-05 19:47] msebolt commented on #6255
@JamesBroadberry Thank you for the update and requested change.

[2019-11-05 19:48] #6255 closed

[2019-11-05 19:50] msebolt commented on #6259
@mahilleb-msft  Thank you for the feedback, assigning this to the author for review.

[2019-11-05 19:53] #6245 closed

[2019-11-05 19:56] evilches opened #6269 "Broken link: Work item query language (WIQL) syntax"
Broken link: Work item query language (WIQL) syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a718268-1105-4def-5f9e-20ea21afc0d7
* Version Independent ID: 0f08fa18-3075-4275-22c7-d5d1c1e260b0
* Content: [Query fields, operators, and macros/variables - Azure Boards](https://docs.microsoft.com/en-us/azure/devops/b

[2019-11-05 19:58] msebolt commented on #6261
@AndreSteenveld Thank you for the feedback.

Unfortunately this is an issue more apt for feedback from the product team.

Please see if [this post](https://developercommunity.visualstudio.com/content/problem/798082/new-repos-landing-pages-preview-feature-doesnt-red.html) addresses the issue, else start a new issue and link back here.

[2019-11-05 20:00] moswald opened #6270 "Explain project retention settings"
There has been some confusion on how the project-level retention settings work, and we should explain them a bit more thoroughly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2931f833-b378-efa9-2c43-0d2afea22bd7
* Version Independent ID: ba3138ef-dc42-16c9-fcb3-1af441be7eb8
* Content: [Build and release retention pol

[2019-11-05 20:00] thomjames commented on #2237
Hi @chcomley/@dmckinstry.  I am struggling with this same concept and I am reaching out for help.  My issue boils down to confusion over terminology and how I configure my single project to work under the 1 project model.

We're a very small development team but we have many small in-house applications (desktop/web/shell scripts) that we support across our organization.  We're using Git, and curre

[2019-11-05 20:07] msebolt commented on #6262
@mack0196 Thank you for the feedback.

Unfortunately we are unable to handle product requests in this forum, instead please use the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

For product team involvement, please see if [this post](https://developercommunity.visualstudio.com/idea/447657/ability-to-filter-any-query-or-dashboard-by.html) addresses the

[2019-11-05 20:21] rlvandaveer opened #6271 "Filter by Teams, rather than Area Path Example Has Multiple Syntax Errors"
https://docs.microsoft.com/en-us/azure/devops/report/powerbi/sample-boards-sprintburndown?view=azure-devops&tabs=powerbi#filter-by-teams-rather-than-area-path

The team line is missing a closing parentheses and closing single quotes on each team value.

Current:
            &"and (Teams/any(x:x/TeamName eq '{teamname}) or Teams/any(x:x/TeamName eq '{teamname}) or Teams/any(x:x/TeamName eq '{teamna

[2019-11-05 20:27] msebolt commented on #6263
@melezhik Thank you for the feedback.

Please see if [this issue](https://developercommunity.visualstudio.com/idea/681695/enable-project-administrators-to-view-team-member.html) addresses the problem, then vote, comment, and/or link back to this issue.

[2019-11-05 20:29] steved0x commented on #5115
@BiribiriJaNai I am sorry that this issue has persisted for so long, I am going to see if I can find the answer and get our documentation updated.

[2019-11-05 20:35] steved0x commented on #4997
That doc has been updated to say that "Note: Stakeholders cannot create or manage test cases. You must have at least Basic access." since basic can create test cases, and basic + test to create test plans.

https://docs.microsoft.com/en-us/azure/devops/test/create-a-test-plan?view=azure-devops#access-level

[2019-11-05 20:35] #4997 closed

[2019-11-05 20:42] msebolt commented on #6265
@Weiman74 Thank you for the feedback.

Unfortunately the feature is not yet supported, refer to [this work-around](https://stackoverflow.com/questions/55731861/exclude-file-types-in-ci-triggers-on-azure-devops-pipelines-builds).

For it's current status with the product team, please see [this issue](https://developercommunity.visualstudio.com/idea/366363/support-wildcards-in-trigger-path-filters-1

[2019-11-05 20:50] melezhik commented on #6263
@msebolt  I've just read this, no it does not. It's a different issue.

[2019-11-05 20:59] dotnetcanuck commented on #5671
@pollockm Until support is added for checking out other repos, you can accomplish this with PowerShell.

https://stackoverflow.com/a/57810819/1371045

[2019-11-05 21:07] steved0x commented on #4111
@ksiomelo We have updated this content to show UI instructions on how to get there vs providing the links, if this issue is still present please reactivate and we'll take another look. Thank you.

[2019-11-05 21:07] #4111 closed

[2019-11-05 21:08] chcomley commented on #6244
Thanks for your feedback, @M1Marcus. A PR is already in the works, which covers these new steps/screenshots. Thanks again!

[2019-11-05 21:09] steved0x commented on #4139
This has been fixed, thank you.

[2019-11-05 21:09] #4139 closed

[2019-11-05 21:18] steved0x commented on #4211
I have updated that link in the Pipelines UI so that this will now take you to the right page, which is [Run (build) number](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/run-number?view=azure-devops&tabs=yaml

![image](https://user-images.githubusercontent.com/1580889/68246872-b45c8000-ffe7-11e9-971e-9fb35741012a.png)
)

[2019-11-05 21:21] steved0x commented on #4223
Closing here since the bug is being tracked [here](https://developercommunity.visualstudio.com/content/problem/568027/bash-step-doesnt-work-on-windows-self-hosted-agent.html)

[2019-11-05 21:21] #4223 closed

[2019-11-05 21:23] steved0x commented on #4226
You are correct and it looks like that page has been updated. To see a list of software installed on each Microsoft-hosted agent image, see: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

[2019-11-05 21:23] #4226 closed

[2019-11-05 21:30] steved0x commented on #4266
@fowl2 Sorry for the extreme delay - I had followed up this and the information I got was that we don't keep the source code for all older version in the repo, and this is one of them. If you had a specific question about the task you could file an issue here and they will take a look at it: https://github.com/microsoft/azure-pipelines-tasks

[2019-11-05 21:30] #4266 closed

[2019-11-05 21:37] #6244 closed

[2019-11-05 21:45] msebolt commented on #6266
@abelfiore Thank you for the question.

Unfortunately we cannot handle support requests in this forum.

For support options, please refer to:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

Additionally, if you find this feature is not yet available, please use **Suggest a feature** i

[2019-11-05 21:46] juliakm commented on #6221
Thanks @Tr3yb0. We'll fix this shortly.

[2019-11-05 21:59] steved0x commented on #4373
@chispadelgado I am sorry for this great delay in responding to the latest question in the thread, it sounds like a bug and if you haven't already I would file an issue in one (or both) of these two places:

https://github.com/microsoft/azure-pipelines-agent/issues/
https://developercommunity.visualstudio.com/spaces/21/index.html

[2019-11-05 21:59] #4373 closed

[2019-11-05 22:05] steved0x commented on #4433
@spashx I apologize for the great delay, I believe this page has been updated to correct the error, if it has not, can you file a new issue and let me know exactly what line has the error and I'll get it looked at quickly. Thank you.

[2019-11-05 22:05] #4433 closed

[2019-11-05 22:07] msebolt commented on #6267
@aleksmark  Thank you for the question.

This feature has been released in the preview version.

Please refer to [this post](https://devblogs.microsoft.com/devops/whats-new-with-azure-pipelines/) and comment below if there are additional questions.

[2019-11-05 22:10] msebolt commented on #6268
@spottedmahn  Thank you for the feedback, assigning this to the author for review.

[2019-11-05 22:12] #5659 closed

[2019-11-05 22:12] #5825 closed

[2019-11-05 22:12] #4211 closed

[2019-11-05 22:12] #4274 closed

[2019-11-05 22:16] msebolt commented on #6269
@evilches  Thank you for the feedback, however I can't seem to find any issues with the link.

Please see if you can access https://docs.microsoft.com/azure/devops/boards/queries/wiql-syntax and post any issues below.

[2019-11-05 22:18] aleksmark commented on #6267
@msebolt thank you for quick response.

My question was regarding these release pipelines
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/?view=azure-devops

![image](https://user-images.githubusercontent.com/14918537/68250956-6dd84700-0022-11ea-9435-4176d566feb5.png)

[2019-11-05 22:20] bcjmk opened #6272 "Created work item does not have a link to the Wiki page"
When I create a task from the wiki page, the text on the Wiki is replaced with the Work Item link. Unfortunately, in the Work Item there is no corresponding link back to the associated Wiki page, much less back to the specific link. Is it possible to create the 2-way links automagically?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-05 22:26] dotnetcanuck commented on #6005
@msebolt @shashban Any update on this? This is seriously breaking our workflows, and making us question our decision to move to YAML deployments in the first place.

[2019-11-05 22:26] msebolt commented on #6270
@moswald  Thank you for the feedback.

If you don't mind, please include some additional details such as tasks to accomplish, missing info, or confusing sections, and I can assign this to the author.

[2019-11-05 22:26] dotnetcanuck commented on #5687
@shashban Is there any update on the timeline? Is this still on track to be in a November release?

[2019-11-05 22:35] msebolt commented on #6254
@LasseNisted Thank you for the question, assigning this to the author for review.

In the meantime, please consider using the following support channels:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2019-11-05 22:38] msebolt commented on #6271
@rlvandaveer Thank you for the feedback, assigning this to the author for review.

[2019-11-05 22:41] msebolt commented on #6040
Closing now, please comment below if there are further issues.

[2019-11-05 22:41] #6040 closed

[2019-11-05 22:42] msebolt commented on #6101
Closing the issue now, please comment below if there are any issues.

[2019-11-05 22:43] #6132 closed

[2019-11-05 22:44] #6165 closed

[2019-11-05 22:45] #6167 closed

[2019-11-05 22:45] #6169 closed

[2019-11-05 22:47] msebolt commented on #6191
Closing the issue now, please add additional comments below.

[2019-11-05 22:47] #6191 closed

[2019-11-05 22:48] msebolt commented on #6200
Closing the issue now, please add additional comments below.

[2019-11-05 22:48] #6200 closed

[2019-11-05 22:48] msebolt commented on #6203
Closing the issue now, please add additional comments below.

[2019-11-05 22:48] #6203 closed

[2019-11-05 22:48] msebolt commented on #6204
Closing the issue now, please add additional comments below.

[2019-11-05 22:48] #6204 closed

[2019-11-05 22:49] msebolt commented on #6205
Closing the issue now, please add additional comments below.

[2019-11-05 22:57] chasewilson commented on #4337
Hi @ThadHouse thanks for the question. Is there a reason you can't [define a variable yourself](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) and use it in your pipeline?

[2019-11-05 23:02] hardcorehead87 commented on #6260
It is more the Resources tab on the environment that is the issue. Here we see the different resources and the last build deployed to that resource. If I for example have a Bookings and a Notification service, I want to see these as separate resources in my environment.

I can't create a Bookings and Notification resource linked to the same k8s namespace however. I'm stuck with a single resource f

[2019-11-05 23:21] ThadHouse commented on #4337
Defining a variable doesn't expand the path, so the PublishPipelineArtifact  still fails because it doesn't support ~/ as part of its path, and the defined variable isn't expanded.

[2019-11-05 23:26] chcomley commented on #6208
Hi @SephirotJustin, This should work for you, but please tell me if it doesn't help: https://developer.microsoft.com/en-us/azure-devops/develop/extensions

[2019-11-05 23:45] AndreSteenveld commented on #6261
@msebolt Thanks for the quick reply, the issue you linked didn't seem to be related although someone else reported this exact same issue there as well ([New repo landing page images are not rendered](https://developercommunity.visualstudio.com/idea/807431/new-repo-landing-page-images-are-not-rendered.html)) so I'm guessing this is a known issue now :).

[2019-11-05 23:45] #6261 closed

[2019-11-06 00:01] msebolt commented on #6263
@melezhik  Thank you for the update.

Your options are then to either:

- File a new issue with the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- Find a related article and have it assigned to the author

Apologies for not having a better solution, we are just unable to accommodate product issues and/or support requests in this forum.

[2019-11-06 00:02] msebolt commented on #6267
Sure, no problem.  I'll go ahead and assign this to the author for review.

[2019-11-06 01:48] #6250 closed

[2019-11-06 02:10] bganapa opened #6274 "Publish pipeline artifacts in to a single folder with multiple pusblish jobs when using multiplier on a variable"
I have a publish pipeline artifact like below
steps:
- task: PublishPipelineArtifact@1
  displayName: 'Save Package'
  inputs:
    targetPath: 'src/StackAdmin/$(ServiceName)/bin/'
    artifact: StackPackages

I have a multiplier on the variable ServiceName.  So multiple builds and and publish pipeline artifacts are being kicked off.

The pipeline  fails with the following
Artifact StackPackages al

[2019-11-06 05:18] eugeneniemand commented on #4729
@shashban any updates yet?

[2019-11-06 07:08] OskarKlintrot opened #6275 ""else" and "end" for if-statement"
I can not find anything in the docs about working with if-statements. The example for conditional insertion only shows how to use an if-statement that conditionally turns on/off everything below it:

[code]

What if I want to use an `else` (or equivalent) in the statement? Or close the statement? Something like this:

[code]

or

[code]

Maybe not the best examples but I think you get the point. I

[2019-11-06 07:28] OskarKlintrot commented on #6275
It's yaml, it's using on indentation. Now I feel stupid :)

[2019-11-06 07:28] #6275 closed

[2019-11-06 08:46] Thilas opened #6276 "What about multi-stage pipelines?"
Is there any plan to have a similar feature with multi-stage pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462be419-4cfd-4bfc-06cc-45800c0d888b
* Version Independent ID: 95cb8a7d-c61d-dfac-403f-12fe40ba1c49
* Content: [Link work items to deployments - Azure Boards](https://docs.microsoft.com/en-us/azure/dev

[2019-11-06 09:16] KUGA2 opened #6277 "Demand on steps"
Can a Step or a Step Template have additional demands?

This would be very handy. I know Tasks can have extra demands that are inherited to the job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema

[2019-11-06 09:42] hardcorehead87 commented on #6260
The current (classic) Releases page gives an overview per pipeline/microservice.
Here we see the history of releases and what release is on which environment.
We can quickly deploy/redeploy/rollback a release.
![releases](https://user-images.githubusercontent.com/5999142/68285928-7e1f0f00-0080-11ea-997a-0224c6a593e8.PNG)

The following image in the docs shows microservices as resources. This led m

[2019-11-06 09:43] iremmats opened #6278 "Spelling on cancelled/canceled"
Please choose one of the spellings for both the text and the function. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e5cee4-eaae-3a96-db91-540ac759e83a
* Version Independent ID: 9bdc837c-ffe0-d999-f922-f3a5debc7f92
* Content: [Conditions - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/p

[2019-11-06 10:12] KUGA2 opened #6279 "Why spaces in ${{ }}"
In all examples in the documentation where the full template expression syntax is used it allways contains spaces in the brackets. Why?

It is not neccessary (https://camel.readthedocs.io/en/latest/yamlref.html#sequences) not is it used in other brackets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf6

[2019-11-06 10:25] dsahu1001 commented on #5656
I'm talking about the jenkins service hook in TFS git

[2019-11-06 10:34] PawelHaracz opened #6280 "Docker cache"
Is it possible to add a docker cache? on the Microsoft-hosted machine building. The building docker image can be a really long process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure P

[2019-11-06 10:52] wimhollebrandse commented on #4632
@henry-padilla - that looks useful, but I think if you want to limit this based on a specific Git repository, you'd need to specify repositoryId which is a Guid that requires looking up (in the ADO UI).
This lookup would really need to be done dynamically in order to be useful in a YAML build/release pipeline, and I currently cannot see an easy way to do this.
MS needs to sort this out and allow t

[2019-11-06 10:56] wimhollebrandse commented on #4632
OK, looks like $(Build.Repository.ID) can be used...! Which works for the current repo.

[2019-11-06 12:27] haep1 commented on #6229
@apawast Please integrate this feature in the new repos landing page as there is no possibilty at the moment to restore deleted branches in the new theme.

[2019-11-06 13:06] RoopeshNair commented on #6260
On the panel you see "View environments" button. That will take you to environments view and within that you will find deployment history across pipeline runs..

As for the requirement of re-deploy/rollback. This will be enabled on the stage in run  soon

![image](https://user-images.githubusercontent.com/1370480/68300720-5782c780-00c4-11ea-9d1a-f7e92fca2a17.png)

[2019-11-06 13:06] #6260 closed

[2019-11-06 13:17] arek-avanade commented on #4851
@Izzmo It works in my case, but the variable needs to be declared in the YAML global scope, not in the job.

[2019-11-06 13:26] x10an14 commented on #3702
@mortenlerudjordet
Awesome =) Unfortunately I myself (and maybe others too) find the `azure-pipelines.yaml` pipelines-as-code feature to be more comfortable/fitting with our workflows^^

Additionally, in your write-up, I didn't catch how you would handle identical variable names with differing values depending on environment you deploy to?

[2019-11-06 13:36] RehanSaeed opened #6281 "Using CacheBeta with NuGet is Failing Builds"
I followed the NuGet example in my [cross plaform build pipeline](https://dev.azure.com/schema-net/Schema.NET/_build/results?buildId=316&view=logs&j=b457fee1-24b5-5b05-276f-95f55538c81f&t=6e4d2787-11c9-490d-973b-abf8c18bce4d):

[code]

However, this fails:

## Windows

## Mac

## Linux

Is the path `$(Pipeline.Workspace)/.nuget/packages` correct? Is the example incorrect? In my csproj files, I've

[2019-11-06 14:38] vtbassmatt commented on #6277
No. This is a feature of the task, not of a step or template.

[2019-11-06 14:38] #6277 closed

[2019-11-06 14:48] vtbassmatt commented on #6279
I don't understand this feedback. From the point of view of a YAML parser, "`${{ whatever }}`" is just an arbitrary string. Whether it contains spaces inside the braces is not something YAML would have an opinion about. Spaces make expressions easier to read and to tell apart from `$(macro)` syntax.

Have I missed something about your feedback? If so, my apologies and please feel free to clarify.

[2019-11-06 14:48] #6279 closed

[2019-11-06 15:14] #2137 closed

[2019-11-06 16:11] KUGA2 commented on #6279
No. I just wanted to know if there is any hidden Syntax difference between `${{ whatever }}` and `${{whatever}}`. There is not. You only use spaces to emphasize here.

Thanks.

[2019-11-06 16:14] KUGA2 commented on #6277
Could you add this as a new feature?

I think it would be nice to specify the demands where they are generated instead of globally.

[2019-11-06 16:21] mortenlerudjordet commented on #3702
@x10an14, I too would prefer to be able to both target -group by using a variable name $(VariableGroupName), and be able to update/create shared group variables in AzP YAML.

I believe identical variable names are not supported inside the same shared variable group, though one could have different variable groups that has the same named variables. The issue here is that the Release pipeline does n

[2019-11-06 17:18] WilliamAntonRohm commented on #6102
Thank you for your feedback.  We have updated the documentation and it should be live by tomorrow.

[2019-11-06 17:18] #6102 closed

[2019-11-06 17:25] joseq-terawe commented on #6205
even in looking at "Agent REST API" link. still not able to patch an updated custom object to add a userCapabilities section with value.

[2019-11-06 17:39] ofek opened #6282 "Add caching example for Python packaging via pip"

[2019-11-06 17:43] ez-ms opened #6283 "Defining input with isRequired: "false" doesn't work"
This documentation show how to define inputs for a custom control configuration: https://docs.microsoft.com/en-us/azure/devops/extend/develop/custom-control?view=azure-devops

However, using `WorkItemField` combined with `isRequired: "false"` doesn't work:
[code]
This is the error I get when trying to submit the form:
![image](https://user-images.githubusercontent.com/57455601/68323166-ccea9a00-00

[2019-11-06 17:47] nipuns11 commented on #5871
I've whitelist all the ip ranges for East us2 and east us since they are in my organization settings, but now I think I will need to add all US ip ranges, most of the time the pipeline is intermittent with failures because of nginx blocking it :-(

[2019-11-06 17:57] chcomley commented on #6208
@SephirotJustin please let me know if you have any further questions by @mentioning me. Thanks!

[2019-11-06 17:57] #6208 closed

[2019-11-06 18:24] craigktreasure opened #6284 "Guidance for multi-platform builds?"
Our build uses the matrix build strategy to run multiple builds in parallel. Is there guidance on how to configure a cache in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - A

[2019-11-06 19:21] chasewilson commented on #4337
What are you trying to accomplish after the artifact has been published to `~/releases` ? Have you thought of using one of the [script tasks]()? That should be able to interpret the `~/` file path.

[2019-11-06 19:22] ThadHouse commented on #4337
I'm just trying to publish that entire directory to the azure build artifacts. I guess I could copy all the files to a build relative folder, but that seems to just be adding complication for something that the PublishPipelineArtifact task should support directly.

[2019-11-06 19:32] #6221 closed

[2019-11-06 19:45] thejoebourneidentity commented on #6077
Linked should be working now

[2019-11-06 19:45] #6077 closed

[2019-11-06 20:06] johnterickson commented on #4851
@Izzmo Can you share the whole log from the task failure?

[2019-11-06 20:26] bitsofinfo commented on #6184
to further clarify, this *KUBECONFIG* file is JSON and not YAML so it can't be used w/ kubectl. It has no context in it either.

Can we just get a legit ~/.kube/config file that is properly configured for the configured kubernetes service connection? I.e. w/ a legit context in it = the name of the k8s service connection?

[2019-11-06 20:31] AJH16 commented on #2869
An important thing to note when using limited refs.  It can result in large fetches when a previously limited ref is joined to a ref that people do have links to.  This can be hard to diagnose at first glance.  We had a situation occur with an old limited ref that we rarely used.  We reused it for another purpose using an "ours" merge and that joined a substantial part of limited tree in to the ma

[2019-11-06 20:36] liusu119 opened #6285 ".artifactignore does not work consistently"
Some of the path in .artifactignore doesn't work.
Example:
Directory tree before using .artifactignore
root
-StoreRelease
--Bin
--BundleArtifacts
--GeneratedFiles
--Obj
--Pkg

.artifactignore's content:
StoreRelease/Bin/**.*
StoreRelease/BundleArtifacts/**.*
StoreRelease/GeneratedFiles/**.*
StoreRelease/Obj/**.*

Expected artifact directory tree:
root
-StoreRelease
--Pkg

Actual artifact directory

[2019-11-06 20:40] chcomley commented on #6237
Hi @NenoLoje, Thanks for the heads up on this. I'm about to complete a PR, which addresses your points. Here's the Upgrade Search link: https://docs.microsoft.com/en-us/azure/devops/project/search/administration?view=azure-devops-2019#upgrade-search

[2019-11-06 20:44] #6237 closed

[2019-11-06 20:44] mijacobs commented on #3425
@jun-mac, we mostly use issues to track documentation issues. It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. Could you [submit a bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) instead so that it will be easier to track?

Regards,
Mike

[2019-11-06 20:44] #3425 closed

[2019-11-06 20:44] liusu119 commented on #6285
In this case, what I really want to use is
**/*
!StoreRelease/Pkg/**.*

But this completely blocks any upload.

[2019-11-06 20:47] edgariscoding opened #6286 "Is there a predefined variable for a build pipeline's "default branch for manual and scheduled builds"?"
I need to be able to reference the "default branch for manual and scheduled builds" instead of the build.sourceBranchName because this variable changes if the build is queued by a PR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e

[2019-11-06 20:49] mijacobs commented on #1213
@PoppyPham, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. We apologize that it's taken so long to address this issue. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-11-06 20:49] #1213 closed

[2019-11-06 20:51] mijacobs commented on #2238
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-11-06 20:51] #2238 closed

[2019-11-06 20:52] mijacobs commented on #636
It looks like the question has been answered. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. If this scenario continues to be an issue, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOp

[2019-11-06 20:52] #636 closed

[2019-11-06 21:02] WilliamAntonRohm commented on #6272
@bcjmk -- here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Also, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets

[2019-11-06 21:08] shashankbarsin commented on #6125
This issue has been addressed in the recent set of updates for this document.

[2019-11-06 21:08] #6125 closed

[2019-11-06 21:08] shashankbarsin commented on #6071
This issue has been addressed in the recent set of updates for this document.

[2019-11-06 21:08] #6071 closed

[2019-11-06 21:08] shashankbarsin commented on #4679
This issue has been addressed in the recent set of updates for this document.

[2019-11-06 21:08] #4679 closed

[2019-11-06 21:28] codylund commented on #6001
@BlairMcc I'm a little late with this comment, but the condition on `corebuild` should be an expression. `$(projects)` is not recognized syntax for referencing a variable in that context. Instead, you would want the expanded form for the condition to be `contains(variables.projects, 'core')`.

[2019-11-06 21:35] codylund commented on #6222
@phatcher There is just a typo in your code- `${{publishPackages}}` should be `${{parameters.publishPackages}}`.

[2019-11-06 21:38] thejoebourneidentity commented on #6230
Hi @eriksendc. We tried to make the documentation clear that your hosted agent can run inside any region in your **geography**. https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges

Once you identify all the regions in your geography, The IP JSON file contains an array called values. Inside that array, you can find the supported IP addresses in an

[2019-11-06 21:38] #6230 closed

[2019-11-06 21:40] chcomley commented on #6254
Hi @larsroholm, Thanks for reaching out.

Group rule types are ranked in this order: Subscriber > Basic + Test Plans > Basic > Stakeholder. If a user has a Subscriber rule applied to them, it takes priority over any other applicable rules.

Users always get the best access level between all the group rules, including VS subscription.

Does this help?

[2019-11-06 21:59] thejoebourneidentity commented on #5871
Hey folks, your hosted agent can run inside any region in your **geography**. https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges

Once you identify all the regions in your geography, The IP JSON file contains an array called values. Inside that array, you can find the supported IP addresses in an object with a name in the following format: Azure

[2019-11-06 21:59] #5871 closed

[2019-11-06 22:40] mijacobs commented on #2363
It looks like this is an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) if you haven't already.

[2019-11-06 22:40] #2363 closed

[2019-11-06 22:41] mijacobs commented on #2492
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. If this issue hasn't been fixed yet, to make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

[2019-11-06 22:41] #2492 closed

[2019-11-06 22:45] mijacobs commented on #2691
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-11-06 22:45] #2691 closed

[2019-11-06 22:46] mijacobs commented on #2795
Thanks for the suggestion! To make sure it gets in front of the product team for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-11-06 22:46] #2795 closed

[2019-11-06 22:48] WilliamAntonRohm commented on #6274
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-11-06 22:48] #6274 closed

[2019-11-06 22:49] mijacobs commented on #3203
It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. If you're still encountering this issue, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.a

[2019-11-06 22:49] #3203 closed

[2019-11-06 22:49] WilliamAntonRohm commented on #6276
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-11-06 22:51] WilliamAntonRohm commented on #6280
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-11-06 22:52] WilliamAntonRohm commented on #6282
@ofek -- Ofek, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-11-06 22:56] WilliamAntonRohm commented on #6284
@craigktreasure -- Craig, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvi

[2019-11-06 22:59] TravisEz13 commented on #2363
Docs should still be updated to reflect what is allowed

[2019-11-06 23:00] WilliamAntonRohm commented on #6286
@edgariscoding -- Edgar, thanks for your question. Here are a couple of options where you may find answers:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@juliakm -- Julia, please look into this issue.

[2019-11-06 23:00] TravisEz13 commented on #2363
looks like the docs have been updated.

[2019-11-06 23:20] janderson-connectwise commented on #2795
https://developercommunity.visualstudio.com/idea/767668/pull-request-global-policy-only-allow-squashrebase.html Created a new feature suggestion, since older ones somehow got closed as fixed.

[2019-11-06 23:41] mijacobs commented on #2363
Thanks for checking and letting us know, @TravisEz13 !

[2019-11-07 00:19] phatcher commented on #6222
@codylund Thanks for that, been staring at it for ages and it's the obvious typo :-(

[2019-11-07 00:19] #6222 closed

[2019-11-07 01:11] billdiekmann opened #6289 "Conflicting Info in Document"
https://docs.microsoft.com/en-us/azure/devops/user-guide/tools?view=azure-devops
Tools and clients that connect to Azure DevOps
10/30/2019

Office integration tools
You can integrate the following Microsoft Office tools with Azure DevOps.

**Document States**

Project: By using Project, you can plan projects, schedule tasks, assign resources, and track changes. You have access to additional featur

[2019-11-07 01:30] melezhik commented on #6263
@msebolt , thank you. ticket created
https://developercommunity.visualstudio.com/content/problem/810100/project-level-permissions-clarification.html

[2019-11-07 03:03] fiksen99 commented on #6219
for context, my understanding is that adding the user to the project, configures them in the ims scope, which is why they need to added at a project level.

As for the delay between adding the user at project scope and being available to add at repo scope, it appears it can take up to 7 days (!)
https://stackoverflow.microsoft.com/questions/172446/user-not-searchable-in-repository-permissions-sett

[2019-11-07 06:46] LasseNisted commented on #6254
Hi @chcomley
That is a great help - and possibly it should make its way into the documentation?
What we are seeing, though, is that we have group rules that grant Basic and Subscriber, but because the user does not have a Visual Studio subscription, she ends up with "Visual Studio Subscriber (Warning triangle - subscription not found)"  and the behavior seems to indicate that she has Stakeholder a

[2019-11-07 07:56] #6228 closed

[2019-11-07 09:38] nelisbijl opened #6290 "Multiple patterns"
Documentation states:  Supports multiple lines of match patterns

Would love to see an example. Everything I tried so far failed

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: b2ea8b7b-44cb-e315-b086-c4e3361bf59a
* Version Independent ID: 5fcdaa72-ca89-2139-a8c9-2eb263b4824e
* Content: [FTP Upload task

[2019-11-07 10:06] fleed opened #6291 "Evaluation sequence"
Is there a specific sequence / priority in evaluation?
I'd like to understand which value is resolved if specified multiple times (e.g.: same name in different linked variable groups, same name defined locally and in one or more variable groups, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae

[2019-11-07 10:50] mmisztal1980 opened #6292 "Alternative to using the Checkout submodules option - not working"
I'm in a situation where I'm trying to consume 2 submodules hosted in 2 separate projects within a single AzD organization - therefore I'm not eligible for `submodules: true | recursive` (commented out) so I have to resort to the alternative solution.

I've followed the steps from the title paragraph and got an empty output. I'm trying to get this to work in a YAML pipeline, resulting in

[code]

[2019-11-07 11:09] IPO-srh-sloan commented on #4401
Hi is there any update on when deployment container jobs will be available please?

[2019-11-07 11:52] shivakumarg06 opened #6293 "Document of Custom Task creation using Powershell Module"
Hi Team,

I am very new to this Custom task Platform, I have referred multiple Node Modules based Custom Task, are there any documents for creating Custom Tasks using Powershell Module and debug on local

[2019-11-07 13:30] StavroulaSsi opened #6294 "Does the API still work with Azure DevOps Server 2019"
Hi,
Does the API still works with VS2019 and Azure DevOps Server 2019? I am quite confused after reading this page and this article: https://devblogs.microsoft.com/devops/announcing-the-deprecation-of-the-wit-and-test-client-om-at-jan-1-2020-2/

So, can we upgrade to 2019 first and replace the API by the REST calls afterwards?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-07 13:54] serhatataman opened #6295 "What happens to the forks when deleting the original repository?"
Hi,
We have been using Azure DevOps for repositories. I have a question regarding forks. We have recently forked a repository and the original repository will be deleted in the future. Would deletion of the original repository affect the repository we are working on which has been forked from the original? All of our repositories are private.
It would also be nice if you could include this informa

[2019-11-07 13:58] Adnn opened #6296 "Is the key added to SSH agent?"
The page does not give details regarding how is the private key actually deployed on the instance running the `SSH Key task`.

Is it made available via ssh-agent? (which would be invaluably useful for agent forwarding in subsequent steps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce9d017-fc43-c904-d94b-87cf91265f

[2019-11-07 14:28] bigfox commented on #5274
Today i tried it again (same procedure as I wrote above) and it works!

[2019-11-07 14:28] #5274 closed

[2019-11-07 14:37] bartsipes commented on #2795
@janderson-connectwise thank you!

[2019-11-07 14:59] eriksendc commented on #6230
@thejoebourneidentity thanks for the help.

When I go to https://dev.azure.com/getyourpet/_settings/ I see that my Region is East US 2. Can you tell me where to find the official, definitive Azure geography table so I know all the regions I need to deal with? I've googled around and I can't figure out whether US or North America is a geography.

this is something I found on github:
https://github.

[2019-11-07 15:05] eriksendc commented on #6230
@thejoebourneidentity Sorry Joe, I wrote a reply but I didn't read the online doc again and there's a link to the Azure Geography table. So, if I understand the table, then if my region is East US 2, then my Geography is Americas, right? Does that mean I need to whitelist all the regions in the UNITED STATES, AZURE GOVERNMENT, CANADA and BRAZIL columns? Or just those in the UNITED STATES column? T

[2019-11-07 15:08] jeffw-wherethebitsroam opened #6297 "Not enough information for "Collect code coverage metrics with Coverlet""
This is included in the Run Tests task:
--settings $(System.DefaultWorkingDirectory)/CodeCoverage.runsettings
But fails with "The Settings file 'd:\a\1\s/CodeCoverage.runsettings' could not be found."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec716c61-248c-75c9-2bc7-262749cc7421
* Version Independent ID: 45f47edc-

[2019-11-07 15:46] przem commented on #6258
EOD ?

[2019-11-07 15:53] CmdrGravyWork opened #6298 "Copy folders or multiple files ?"
It says that you can't use wildcards so does this means it's only capable of copying single files and not, for example, folders full of files ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f9308fc60cd
* Version Independent ID: 2c28a59b-8ef5-d7ab-46a6-58748ec552f5
* Content: [Azure File Copy t

[2019-11-07 16:10] RoopeshNair commented on #4401
No time-lines that can be shared yet. Tentatively q1/q1 2020

[2019-11-07 16:18] juliakm commented on #4121
It looks like this was updated since this ticket was opened and there is now a link to the Job status functions.

<img width="598" alt="Screen Shot 2019-11-07 at 11 17 49 AM" src="https://user-images.githubusercontent.com/64906/68406714-42537a80-0150-11ea-8a27-d516208027d8.png">

[2019-11-07 16:18] #4121 closed

[2019-11-07 16:50] msebolt commented on #6216
Closing the issue now, please comment any questions below.

[2019-11-07 16:50] #6216 closed

[2019-11-07 16:55] mijacobs commented on #3585
Thanks, everyone! It looks like the issue has been resolved, closing it.  To make future suggestions/feature requests  get in front of the right people for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-11-07 16:55] #3585 closed

[2019-11-07 16:56] mijacobs commented on #3407
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

[2019-11-07 16:56] #3407 closed

[2019-11-07 17:14] #6041 closed

[2019-11-07 17:20] chcomley commented on #6272
Hi @bcjmk, Thanks for reaching out. I believe it's an unimplemented feature rather than a bug.
I'm not aware of any plans to automatically create a Wiki page link within the work item to the Wiki page...when the user mentions a work item in a wiki page. I'd recommend that you [submit your idea](https://visualstudio.microsoft.com/vs/support/#talktous).

[2019-11-07 17:21] #6272 closed

[2019-11-07 17:26] chcomley commented on #6254
@LasseNisted, Yes, I'll certainly add this information to an FAQ. It sounds like you may need some further assistance than I can provide here within documentation. Please contact
[Azure DevOps Support](https://visualstudio.microsoft.com/vs/support/#talktous).

[2019-11-07 17:34] acheraime opened #6299 "Template not found with complex folder structure"
It seems like templates have to live in same directory level as the pipeline that uses them otherwise the will not be found.
By example I have this folder structure:

I have a pipeline file under foo/bar/baz/azure-pipelines.yml which references a template located at foo/ci/template.yml.
In azure-pipelines.yml I call the template as follow
- template: ../../ci/template.yml
and
- template: foo/ci/te

[2019-11-07 17:38] rjmille2 opened #6300 "Remove preview tag from this article"
According to this blog post https://devblogs.microsoft.com/devops/improved-continuous-delivery-capabilities-and-caching-for-azure-pipelines/ this feature is no longer in preview.  Just trying to figure out which document is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* V

[2019-11-07 17:39] msebolt commented on #6289
@billdiekmann  Thank you for the feedback, please refer to the linked documentation noting the feature will be deprecated.

A note will be added to the initial document as well to avoid further confusion.

[2019-11-07 17:44] msebolt commented on #6290
@nelisbijl Thank you for the feedback, we apologize for the issues.

Assigning this to the author for review.

[2019-11-07 17:44] ofek commented on #6282
Sorry about that! This is regarding https://aka.ms/pipeline-caching-docs

[2019-11-07 18:00] chasewilson commented on #4337
I understand why you wouldn't want to, normal process would be to use the staging dir or working dir, but if you can't do that, that might be the best option. You can reach out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) for a feature request if you would like to see that added as well.

[2019-11-07 18:00] msebolt commented on #6291
@fleed Thank you for the question.

For variable precedence, see [Expansion of variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#expansion-of-variables) and for variable groups, see issue https://github.com/MicrosoftDocs/vsts-docs/issues/1142.

This appears to be a popular question, assigning this to the author for review.

[2019-11-07 18:21] vtbassmatt commented on #6299
The path to the template should be relative to the place that includes it, so your first example is the correct syntax. I just tested this and it works for me.

File structure:
<img width="258" alt="image" src="https://user-images.githubusercontent.com/714283/68415884-581d6b80-0161-11ea-9186-1af159556f39.png">

Pipeline contents:
<img width="288" alt="image" src="https://user-images.githubusercont

[2019-11-07 18:21] #6299 closed

[2019-11-07 18:46] #6278 closed

[2019-11-07 18:48] #6289 closed

[2019-11-07 19:14] vtbassmatt commented on #6250
https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/410

[2019-11-07 19:57] KathrynEE commented on #6271
@rlvandaveer - Thank you for the correction. I will update the article today.

[2019-11-07 19:57] #6271 closed

[2019-11-07 20:01] acheraime commented on #6299
@vtbassmatt That worked! I had a typo in my pipeline.

Thanks.

[2019-11-07 20:06] KathrynEE commented on #6223
@laurensvp - Can you clarify what default process are you using? Have you customized it? and are you using the Inherited process model to customize?

[2019-11-07 20:19] #6254 closed

[2019-11-07 20:37] KathrynEE commented on #6219
@fiksen99 - Thank you for the feedback. I agree the article needs to be updated with the information you indicated. I will so so later today.

[2019-11-07 20:37] #6219 closed

[2019-11-07 20:43] KathrynEE commented on #6104
@luweilevi, @buckleyGI - Thank you for the feedback. I'm sending this information on to the PM for this feature and will get back to you with their response.

[2019-11-07 20:46] Thilas commented on #6276
@WilliamAntonRohm, I don't have an issue but a question regarding a new feature (i.e. Link work items to deployments). I know that we now can link a work item to a deployment done from a Release. I am just asking whether we can do the same thing from a deployment job (or any other job for that matter) within a multi-stage pipeline?

FYI I have older pipelines using Build + Release but I also have

[2019-11-07 20:47] KathrynEE commented on #6086
@vgeldbr  - Thank you for the feedback. I'm sending this information on to the PM for this feature and will get back to you with their response.

[2019-11-07 20:48] KathrynEE commented on #6057
@seanwhitepc - Thank you for the correction. I will update the content later today.

[2019-11-07 20:48] #6057 closed

[2019-11-07 21:28] msebolt commented on #6294
@StavroulaSsi  Thank you for the question.

The SOAP calls should still be functional, though no longer supported, and you will have issues trying to use Visual Studio against functionality marked obsolete, see [this post](https://stackoverflow.com/questions/10608309/disabling-obsolete-error-in-c-sharp), so I would avoid upgrading the DLLs until you are ready to migrate.

Assigning this to the aut

[2019-11-07 22:01] msebolt commented on #6293
@shivakumarg06 Thank you for the question.

Please refer to the [Build Node.js apps](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/javascript?view=azure-devops) and [Node tool installer task](https://docs.microsoft.com/azure/devops/pipelines/tasks/tool/node-js?view=azure-devops) tutorials and post any questions or missing items below.

We are always welcome to new ideas and suggesti

[2019-11-07 22:08] msebolt commented on #6295
@serhatataman Thank you for the question.

There should be no effect to a forked repo after deleting the original.

Assigning this to the author to confirm and review the request for added information, please refer to [Forks](https://docs.microsoft.com/azure/devops/repos/git/forks).

[2019-11-07 22:18] msebolt commented on #6296
@Adnn  Thank you for the question.

This topic is currently under discussion in https://github.com/MicrosoftDocs/vsts-docs/issues/5327.

Please refer there for more information on how keys are added and for pending updates to the documentation.

[2019-11-07 22:27] msebolt commented on #6292
@mmisztal1980 Thank you for the question.

Unfortunately we are unable to handle support requests in this forum.

For further options, please start a issue in either:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

...and provide a link back to this one.

[2019-11-07 22:45] mijacobs commented on #635
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-11-07 22:45] #635 closed

[2019-11-07 22:46] mijacobs commented on #699
It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-11-07 22:46] #699 closed

[2019-11-07 22:47] mijacobs commented on #862
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-11-07 22:47] #862 closed

[2019-11-07 22:48] msebolt commented on #6297
@jeffw-wherethebitsroam Thank you for the feedback.

Were you able to get the task running with the correct location of the *.runsettings* file?

I'm guessing the author was also using `$(System.DefaultWorkingDirectory)` for their working Visual Studio projects folder.

[2019-11-07 22:57] msebolt commented on #6298
@CmdrGravyWork Thank you for the question.

Both files and folders are supported, but you must explicitly set the path without use of wildcards.

Lack of wildcards is a known limitation in Azure DevOps, see [this post](https://developercommunity.visualstudio.com/idea/366363/support-wildcards-in-trigger-path-filters-1.html) as an example and for current status with the product team.

[2019-11-07 23:07] mmisztal1980 commented on #6292
This is not a support request. Based on the documentation you’ve provided, I’ve created a 1:1 solution that fails to work despite of what is being described in the docs. Either the docs are incomplete or wrong - unless you prove me to be wrong (which I won’t mind at all)

I am trying to solve a specific case described in the docs, according to the provided solution, and failing.

Wysłane z iPhone'

[2019-11-07 23:56] mijacobs commented on #6265
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or a question specific to your scenario or implementation, or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [

[2019-11-08 00:08] msebolt commented on #6292
Sure, no problem.  I can assign this to the author, though this might be an issue with the DevOps bracketing syntax.

Does removing brackets work for the solution?

[code]

[2019-11-08 00:10] WilliamAntonRohm commented on #6276
@Thilas -- Thomas, thank you for your feedback.

@KathrynEE -- Kathryn, please look into possible documentation updates.

[2019-11-08 00:11] msebolt commented on #6300
@rjmille2 Thank you for the feedback, assigning this to the author for review.

[2019-11-08 00:21] msebolt commented on #6265
Closing the issue now, please add additional questions below.

For further reference:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-11-08 00:21] #6265 closed

[2019-11-08 02:04] johndowns commented on #4788
@clancy (and anyone else who is interested) - I did a little more investigation into this and have found an approach that hopefully is workable. It doesn't use environments at all.

* **Non-secret variables** - you can define non-secret variables [within the YAML files themselves](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch). This c

[2019-11-08 03:55] mijacobs commented on #6263
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or a question specific to your scenario or implementation, or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [

[2019-11-08 03:55] #6263 closed

[2019-11-08 03:55] mijacobs commented on #6262
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or a question specific to your scenario or implementation, or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [

[2019-11-08 03:55] #6262 closed

[2019-11-08 07:42] msebolt commented on #6269
Closing the issue now, please comment below if there are any questions.

[2019-11-08 07:42] #6269 closed

[2019-11-08 07:43] msebolt commented on #6266
Closing the issue now, please comment below if needed.

[2019-11-08 07:43] #6266 closed

[2019-11-08 07:44] msebolt commented on #6252
Closing the issue now, please comment below if needed.

[2019-11-08 07:44] #6252 closed

[2019-11-08 08:23] L2v2P commented on #6223
@KathrynEE - We use a process inherited from the Agile process. We have customized, for example, the issue work item type.

[2019-11-08 12:55] NenoLoje opened #6305 "Improve docs for self-hosted agent"
Maybe we can improve the docs by explicitly stating that ".complete" files need to be created. Whilet here is pointer to GitHub where this is explained, this requirement seems unusual and unexpected enough that it would be worth calling it out here.

see also: https://developercommunity.visualstudio.com/content/problem/804581/pipelines-how-to-configure-side-by-side-python-con.html?childToView=8129

[2019-11-08 14:00] jeffw-wherethebitsroam commented on #6297
@msebolt my issue here was that I don't have a .runsettings file or any idea what I would put in that file to make this work. I run coverlet locally using `dotnet test /p:CollectCoverage=true`. Is the .runsettings file a Visual Studio only thing? It seems a strange workflow for a linux user.

[2019-11-08 14:15] kolodziejczyk0 opened #6306 "Outdated part about default permission"
The part "When you add members to projects, one of the following permissions is automatically assigned:
Basic access, if you have seats available.
Stakeholder access, if you don't have available seats."
is no longer true. Right now, there is no limit on the seats available and the default access can be chosen from dropdown in the billing configuration for organization.

---
#### Document Details

[2019-11-08 14:54] CNSKnight opened #6307 "Confusing statement in release-merge directions."
&gt; Merging the feature branch into the master branch can bring over release-specific changes you **don't** want in the master branch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe168fc3-2ed2-b3e6-ce30-cac721165ceb
* Version Independent ID: 8d63fbd7-12c4-9a94-92f6-969e7eb41037
* Content: [Git branching guidance -

[2019-11-08 15:07] CoolDadTx opened #6308 "Rebase and Force Push examples should be synced"
The section on rebase is demoing rebasing from master to dev. This should be made more clear as it is not obvious what you should be rebasing from and to unless you already understand how rebasing works.

The next section mentions that you then need to force push to update the branch but the example mentions a completely different branch name of `users/frank/myfiles` which has nothing to do with `

[2019-11-08 15:55] juliakm commented on #4231
@RLittlesII Thank you for flagging this area of confusion. We've added a section with more details on how variables work that includes how they transform. When pipeline variables are turned into environment variables, variable names become uppercase and periods turn into underscores. You can learn more [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devo

[2019-11-08 15:55] #4231 closed

[2019-11-08 17:19] thejoebourneidentity commented on #6230
United States is the geography. "America's" is just a visual grouping for the geographies page.

[2019-11-08 17:26] WilliamAntonRohm commented on #6110
@Gijsreyn -- thank you for clarifying.  This appears to be a product-related issue, rather than a documentation issue.  The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea here]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

Also, you may find additional information here:
- [Azure D

[2019-11-08 17:26] #6110 closed

[2019-11-08 17:30] WilliamAntonRohm commented on #6109
@pachidev -- thank you for clarifying.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 If you have in mind a specific article in our documentation, please let me know.

I am closing this issue now. You are welcome to @ mention me for any followu

[2019-11-08 17:30] #6109 closed

[2019-11-08 17:35] ted-duncan commented on #1175
This is still an issue - encountered it today even though the variable build.configuration is set in variables - seems like this would be low hanging fruit to implement and fix?

[2019-11-08 17:35] alexpercont opened #6311 "Is it possible to associate methods in code to test cases using Visual Studio Code?"
Hello. I see that the documentation is really good and covers associating code with test cases using Visual Studio.

Is it possible to do the same with Visual Studio Code? possibly with Azure Repos extension or any other VSC extension?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a7e40-73d6-795f-7b8c-7710

[2019-11-08 17:37] WilliamAntonRohm commented on #6065
@ashwinifly -- thank you for clarifying.

@apawast -- please look into this issue.

[2019-11-08 17:38] #5426 closed

[2019-11-08 17:42] WilliamAntonRohm commented on #6311
@alexpercont -- Alex, thank you for your positive feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azur

[2019-11-08 17:42] #6311 closed

[2019-11-08 20:22] xPryds commented on #3619
Same here

[2019-11-08 21:41] mijacobs commented on #6150
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or a question specific to your scenario or implementation, or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [

[2019-11-08 21:41] #6150 closed

[2019-11-08 21:41] mijacobs commented on #6121
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or a question specific to your scenario or implementation, or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [

[2019-11-08 21:41] #6121 closed

[2019-11-08 21:47] mijacobs commented on #6085
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:47] #6085 closed

[2019-11-08 21:47] mijacobs commented on #6005
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] mijacobs commented on #5588
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5588 closed

[2019-11-08 21:53] mijacobs commented on #5579
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5579 closed

[2019-11-08 21:53] mijacobs commented on #5548
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5548 closed

[2019-11-08 21:53] mijacobs commented on #5405
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5405 closed

[2019-11-08 21:53] mijacobs commented on #5370
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5370 closed

[2019-11-08 21:53] mijacobs commented on #5359
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #5359 closed

[2019-11-08 21:53] mijacobs commented on #4841
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:53] #4841 closed

[2019-11-08 21:53] mijacobs commented on #4717
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] mijacobs commented on #4343
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] #4343 closed

[2019-11-08 21:54] mijacobs commented on #4210
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] #4210 closed

[2019-11-08 21:54] mijacobs commented on #4197
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] #4197 closed

[2019-11-08 21:54] mijacobs commented on #4051
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] #4051 closed

[2019-11-08 21:54] mijacobs commented on #4033
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] mijacobs commented on #3968
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:54] #4033 closed

[2019-11-08 21:54] #3968 closed

[2019-11-08 21:56] Paul-Dempsey commented on #4717
Not true.  This was totally an issue with the documentation when I opened it, because the topic was silent on the issue of authentication.

[2019-11-08 21:56] mijacobs commented on #6298
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:56] #6298 closed

[2019-11-08 21:56] mijacobs commented on #6296
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:56] #6296 closed

[2019-11-08 21:56] mijacobs commented on #6294
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:56] #6294 closed

[2019-11-08 21:56] mijacobs commented on #6293
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:56] #6293 closed

[2019-11-08 21:56] mijacobs commented on #6267
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #6205
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #6267 closed

[2019-11-08 21:57] #6205 closed

[2019-11-08 21:57] mijacobs commented on #6100
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #6091
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #6091 closed

[2019-11-08 21:57] mijacobs commented on #6089
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #6089 closed

[2019-11-08 21:57] mijacobs commented on #6006
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #6006 closed

[2019-11-08 21:57] mijacobs commented on #5981
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5981 closed

[2019-11-08 21:57] mijacobs commented on #5882
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5882 closed

[2019-11-08 21:57] mijacobs commented on #5854
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #5826
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5854 closed

[2019-11-08 21:57] #5826 closed

[2019-11-08 21:57] mijacobs commented on #5820
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #5815
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5820 closed

[2019-11-08 21:57] #5815 closed

[2019-11-08 21:57] mijacobs commented on #5789
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5789 closed

[2019-11-08 21:57] mijacobs commented on #5787
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5787 closed

[2019-11-08 21:57] mijacobs commented on #5780
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5780 closed

[2019-11-08 21:57] mijacobs commented on #5758
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #5754
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5758 closed

[2019-11-08 21:57] #5754 closed

[2019-11-08 21:57] mijacobs commented on #5752
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #5725
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5725 closed

[2019-11-08 21:57] mijacobs commented on #5717
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5717 closed

[2019-11-08 21:57] mijacobs commented on #5660
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5660 closed

[2019-11-08 21:57] mijacobs commented on #5651
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5651 closed

[2019-11-08 21:57] mijacobs commented on #5628
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5628 closed

[2019-11-08 21:57] mijacobs commented on #5627
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5627 closed

[2019-11-08 21:57] mijacobs commented on #5625
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5625 closed

[2019-11-08 21:57] mijacobs commented on #5621
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5621 closed

[2019-11-08 21:57] mijacobs commented on #5618
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5618 closed

[2019-11-08 21:57] mijacobs commented on #5617
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5617 closed

[2019-11-08 21:57] mijacobs commented on #5606
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5606 closed

[2019-11-08 21:57] mijacobs commented on #5585
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5585 closed

[2019-11-08 21:57] mijacobs commented on #5583
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] mijacobs commented on #5549
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:57] #5583 closed

[2019-11-08 21:57] #5549 closed

[2019-11-08 21:58] mijacobs commented on #5512
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5512 closed

[2019-11-08 21:58] mijacobs commented on #5481
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5481 closed

[2019-11-08 21:58] mijacobs commented on #5478
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5478 closed

[2019-11-08 21:58] mijacobs commented on #5474
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5474 closed

[2019-11-08 21:58] mijacobs commented on #5443
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5443 closed

[2019-11-08 21:58] mijacobs commented on #5430
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5430 closed

[2019-11-08 21:58] mijacobs commented on #5409
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] mijacobs commented on #5396
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5396 closed

[2019-11-08 21:58] mijacobs commented on #5354
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5354 closed

[2019-11-08 21:58] mijacobs commented on #5324
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5324 closed

[2019-11-08 21:58] mijacobs commented on #5321
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5321 closed

[2019-11-08 21:58] mijacobs commented on #5314
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5314 closed

[2019-11-08 21:58] mijacobs commented on #5308
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5308 closed

[2019-11-08 21:58] mijacobs commented on #5263
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5263 closed

[2019-11-08 21:58] mijacobs commented on #5247
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #5247 closed

[2019-11-08 21:58] mijacobs commented on #4781
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4781 closed

[2019-11-08 21:58] mijacobs commented on #4191
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4191 closed

[2019-11-08 21:58] mijacobs commented on #4172
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4172 closed

[2019-11-08 21:58] mijacobs commented on #4163
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4163 closed

[2019-11-08 21:58] mijacobs commented on #4148
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4148 closed

[2019-11-08 21:58] mijacobs commented on #4077
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4077 closed

[2019-11-08 21:58] mijacobs commented on #4073
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] mijacobs commented on #4071
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] mijacobs commented on #4010
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #4071 closed

[2019-11-08 21:58] #4010 closed

[2019-11-08 21:58] mijacobs commented on #3409
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #3409 closed

[2019-11-08 21:58] mijacobs commented on #2801
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #2801 closed

[2019-11-08 21:58] mijacobs commented on #2041
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #2041 closed

[2019-11-08 21:58] mijacobs commented on #2025
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #2025 closed

[2019-11-08 21:58] mijacobs commented on #1944
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:58] #1944 closed

[2019-11-08 21:59] mijacobs commented on #1913
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1913 closed

[2019-11-08 21:59] mijacobs commented on #1896
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1896 closed

[2019-11-08 21:59] mijacobs commented on #1839
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1839 closed

[2019-11-08 21:59] mijacobs commented on #1622
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1622 closed

[2019-11-08 21:59] mijacobs commented on #1529
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1529 closed

[2019-11-08 21:59] mijacobs commented on #1176
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1176 closed

[2019-11-08 21:59] mijacobs commented on #1141
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1141 closed

[2019-11-08 21:59] mijacobs commented on #1079
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] mijacobs commented on #1054
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #1079 closed

[2019-11-08 21:59] #1054 closed

[2019-11-08 21:59] mijacobs commented on #975
Thanks for your question. It looks like your question isn't an issue with the documentation, but an issue or question specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Su

[2019-11-08 21:59] #975 closed

[2019-11-08 21:59] mijacobs commented on #4717
Hi Paul-Dempsey,
My apologies that the issue was incorrectly categorized, thank you for your quick response. Re-opening the issue and re-categorizing.

[2019-11-08 22:17] StingyJack commented on #1176
@mijacobs -
The question I originally had no longer applies as I work somewhere else now, that does not have this version of TFS. I would have been OK with Steve closing it after either if his posts, but I didn't see the notifications.

You have chosen kind of an odd place to draw a line between docs and products. When a user can't find out how to do something, they usually will read the instructi

[2019-11-08 22:22] StingyJack commented on #4077
@mijacobs - same deal as the one I just commented on. I have a question about usage after consulting the manual and not finding the info I was looking for.

How is this a product issue when I'm looking for the instructions?

[2019-11-08 22:24] StingyJack commented on #5443
@mijacobs - this is a question about a recommendation in the docs. I don't care where you source the answer from, but this ain't a product question.

[2019-11-08 22:26] StingyJack commented on #5826
@mijacobs - did you update the documentation regarding this? There would normally be some PR or commit attached

[2019-11-08 22:27] xyzzer commented on #4073
@mijacobs I don't understand why you would say it's not an issue with the documentation? It was previously approved by @vtbassmatt as one.

It's about documenting the $[ ] syntax.

Can this only be used in conditions and variable definitions?
What is the $[ ] syntax and what does it mean?
Is this in any way related to the logging commands?

[2019-11-08 22:37] mijacobs commented on #4073
My apologies, this was closen by mistake. Reopening.

[2019-11-08 22:43] 304NotModified commented on #5625
Well it's is isn't a strange case and unclear to configure. Do this is a documentation issue.

The question should be

It's a bit unfortunate this isn't documentated and still not clear

[2019-11-08 22:44] 304NotModified commented on #5625
An answer could be, it's correctly configured.

But currently my question is just unanswered.

How could I determine this is a bug if I can't get an answer how it should work?

[2019-11-08 22:54] mijacobs commented on #5625
Hi 304NotModified,
This sounds like a support issue, but it might be a bug. Either way, you'll get a faster response if you submit the question to one of our StackOverflow forums linked in my response.

[2019-11-09 01:10] drdamour commented on #6100
@mijacobs dont think you read the thread. The outstanding question is if the inability to reference output bars across stages is not yet possible

[2019-11-09 06:26] nishants opened #6315 "Setting workingDirectory for all steps"
Can I set a `workingDirectory ` at the build (steps) level, instead of setting for all tasks (step) individually ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8afd05
* Content: [YAML schema - Azure Pipelines](https://docs.mi

[2019-11-09 07:19] denravonska opened #6316 "Inconsistencies in templated variables documentation"
I'm trying to get templated variables to work inside templated steps (so far no luck) and ran into a syntax inconsistency in the documentation:

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#variable-re-use

[code]

and https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=example#variable-templates

[code]

Which s

[2019-11-09 07:46] cawoodm commented on #5952
Ooooh, it's a while back so I can't recall exactly. The problems we are seeing with agents now seem to be related to the flaky updater so I've posted the following issue:
https://github.com/microsoft/azure-pipelines-agent/issues/2567

[2019-11-09 07:46] #5952 closed

[2019-11-09 16:14] epvanhouten commented on #5386
@chcomley Any update on this. The discoverability of the clients is a major pain point in writing client code.

[2019-11-10 00:56] axelson opened #6317 "Outdated screenshot"
There are now two menus in the upper right. A picture of a person with a gear and your avatar/initials. The first screenshot on this page tells you to click your avatar/initials to get to "Personal access token" but now it is under the picture of a person with a gear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f9

[2019-11-10 03:28] chetanku opened #6318 "Migrate BitBucket Repos using Azure Devops API with authentication"
How do I migrate bitbucket repos to azure DevOps API using azure DevOps API?
I tried using Postman.

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/import%20requests/create?view=azure-devops-rest-5.1#gitimportrequest

in the body URL, I tried to pass username and password in the bitbucket URL, it always says 400 bad request, but if I try using GitHub for some other repo it works fine.

[2019-11-10 10:10] #4946 closed

[2019-11-10 10:29] o-o00o-o opened #6319 "in a TaskGroup/Agent Job can I only run a Task if a specific previous Task has failed"
We are running Release pipelines in classic mode. Often we might replace one Task with another but need to have both in the build as there are still some branches with the old code that need the old Task but then as the new ones appear, they want the new one.

So I want something like

Agent Job
- SETUP
- Do the thing OLD
- Do the thing NEW (run condition: only if OLD failed (but not if SETUP fail

[2019-11-10 20:28] johannesprinz commented on #2766
I just did this for my Organisation, Used Powershell Core and this gits https://gist.github.com/johannesprinz/d60e764890a588c0cccdfeca61a06747
this is just a backup and specific to my needs but should be enough to get anyone started much quicker than from scratch.

[2019-11-10 21:49] clix455 commented on #5492
just to follow up, has this been done yet?

[2019-11-10 21:57] Rick-Kirkham opened #6320 "PDF is out-of-date"
The version of this page in the PDF is out-of-date. For example, it says that page titles cannot have blank spaces; but this HTML version doesn't include this restriction in the table of restrictions. Can you please rebuild the PDF for those of us that need it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7892ee5-8b

[2019-11-11 03:16] AlexChongMicrosoft opened #6321 "Is it possible to choose a previous version Microsoft-hosted agent?"
The Microsoft-hosted agent update itself. Is it possible to choose one previous version of agent?
For example, now the Ubantu agent version is "2.160.0" with image version "20191025.1". Is it possible to choose image version "20190930.2"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61db3371-6395-88a2-fb78-09f98790ab

[2019-11-11 08:55] cblp opened #6322 "plenty to read at what?"
Plenty to read at what? Is something missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b96a80c2-e52c-85b6-d472-ced16f9154a2
* Version Independent ID: f721244d-2d89-8fce-4db6-ab0b6db25225
* Content: [Git Virtual File System Design History - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/learn/git/gvfs-

[2019-11-11 08:56] Graborg opened #6323 "Testing"
this thing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d3469c-83c2-c2f6-41d0-08f82c330bbc
* Version Independent ID: a373c48d-6395-3002-d2d8-bbc1fea2e48e
* Content: [Predefined variables - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#feedback)

[2019-11-11 09:13] CarstenSchelp opened #6324 "Two words seem to be swapped"
Hi,

In the first paragraph the words "migration" and "history" appear to be swapped:

No big deal, but still ...

Kind regards, Carsten

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd6cbc8-5e3b-c3a1-4672-d42510cc058b
* Version Independent ID: 8fe81fb5-7c2d-2562-5659-55fccbb3126c
* Content: [Migrate from Subversion

[2019-11-11 09:50] marcussonestedtbarium opened #6325 "How to distribute tests on multiple agents?"
I'm struggling to find a good link and/or description of this in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57dd4383-2206-3912-993e-773e8dc69c2d
* Version Independent ID: 537e5ce0-d483-2b56-5ec9-8bdef2d01635
* Content: [Visual Studio Test task - Azure Pipelines](https://docs.microsoft.com/en-us/a

[2019-11-11 10:08] #6323 closed

[2019-11-11 10:59] marcussonestedtbarium opened #6326 "This page should mention the .artifactignore file"
Described here: https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41baa0b5-175c-a697-4b7d-c150259c6e6b
* Version Independent ID: 75085b15-1acc-526a-0495-74a13c42c1d5
* Content: [Publish Pipeline Artifacts task

[2019-11-11 13:16] wrkettlitz opened #6327 "unauthorized: authentication required"
Followed these intructions but i get this error "unauthorized: authentication required"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cfc7aa5-d9ff-ad64-d26e-d2bd10470025
* Version Independent ID: 9b4f02ea-dab9-f613-5345-496435ab2408
* Content: [Deploy a Docker container app - Azure Pipelines](https://docs.microsoft.c

[2019-11-11 13:23] vtbassmatt commented on #6315
Unfortunately not. You can file a feature request at [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-11-11 13:23] #6315 closed

[2019-11-11 13:24] luweilevi opened #6328 "No permissions found for security namespace '2e9eb7ed-3c0a-47d4-87c1-0ffdd275fd87'"
I followed tutorial [here ](https://docs.microsoft.com/en-us/azure/devops/extend/get-started/node?view=azure-devops) to create a web extension. However i got below error for my browser console when i installed it to my azure devops. I checked my permission with methods described [here](https://docs.microsoft.com/en-us/azure/devops/cli/permissions?view=azure-devops). The permissions is all set. The

[2019-11-11 13:27] NenoLoje commented on #5409
@mijacobs Did the docs get fixed/clarified as the outcome of this issue?

That primary intent of this issue was to make it clear in the docs what is/isn't supported today.

[2019-11-11 14:56] shashban commented on #4729
We found issues with the extension delaying the whole thing. Took us back to the drawing board. We're now re-targeting it in 2 weeks.

[2019-11-11 14:59] shashban commented on #6327
@wrkettlitz can you point us to the failed release where you got this error to check backend long? Share of downloaded logs for the failed release would be super helpful.

[2019-11-11 15:01] shashban commented on #5687
This went through a bit of replanning and shifted from November to a January release.

[2019-11-11 15:03] ashokirla commented on #6162
@JamesInDenver Thanks for the feedback. The intention of this feature to enable scenarios where you can split your pipeline and enable triggers and flow of artifacts across. As you grow up in your devops pipeline, you would need to enable complex scenarios where one team owns a part of your devops process and other teams take dependency on it. This feature is an extension of you CICD pipeline wher

[2019-11-11 15:04] shashban commented on #5876
Approval timeout has now been made [configurable](https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-160-update#approval-policies-for-yaml-pipelines )
It would rollout to all rings over the next week or so.

[2019-11-11 15:04] #5876 closed

[2019-11-11 16:18] mijacobs commented on #5409
HI @NenoLoje,
I'm sorry, this issue was  miscategorized; I've re-categorized and re-opened it.

[2019-11-11 16:57] spottedmahn opened #6329 "Separate stages for build and test"
It seems that this doc page is combining building and testing in a **single stage**.  That doesn't seem optimal to me.  Upon further researching I found this:

Source: [YAML schema reference -> Pipeline structure](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pipeline-structure)

---

How about separating the building and testing into different s

[2019-11-11 16:59] thejoebourneidentity commented on #6321
Not today. It's something we've considered but have not committed to yet.

[2019-11-11 16:59] #6321 closed

[2019-11-11 17:43] msebolt commented on #6316
@denravonska Thank you for the feedback, assigning this to the author for review.

[2019-11-11 18:16] msebolt commented on #6317
@axelson  Thank you for the feedback, assigning this to the author for review.

[2019-11-11 18:40] msebolt commented on #6318
@chetanku Thank you for the question.

Unfortunately, it looks like your question isn't an issue with the documentation, but specific to your implementation or a bug in the product itself.

For help with a specific task, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure D

[2019-11-11 18:40] #6318 closed

[2019-11-11 18:42] chcomley commented on #4568
Hi @davidsk, Please go to our newest informational site [here](https://developer.microsoft.com/en-us/azure-devops/components/dialog), which should provide the necessary info. If you have any further questions, please @mention me. Thanks very much!

[2019-11-11 18:42] #4568 closed

[2019-11-11 18:50] msebolt commented on #6319
@o-o00o-o Thank you for the feedback.

For issues specific to your scenario or implementation, please refer to the following resources:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

For your documentation concerns, I'll assign this to the author for review.

[2019-11-11 18:51] chcomley commented on #6306
Hi @kolodziejczyk0, That’s correct! The only caveat is whether or not billing is set up…

**If you don’t have billing setup**
Basic is assigned until you run out

**If you do have billing setup**
Basic is assigned only if your default access level is set to Basic (otherwise Stakeholder)

I'll make this clear in the doc, thanks so much for your feedback!

[2019-11-11 19:00] psavery opened #6330 "Library files missing for "UsePythonVersion@0" on Windows and Mac"
If I use the task "UsePythonVersion@0" and try to build some C++ binaries that link to python on the mac, it looks like the `.dylib` file can't be found for the enabled version of python. I am using the image `macos-10.14`.

For example, one of my mac builds is [here](https://dev.azure.com/patrickavery0563/mytomviz/_build/results?buildId=224&view=logs). You can see [here](https://dev.azure.com/pat

[2019-11-11 19:20] msebolt commented on #6320
@Rick-Kirkham  Thank you for the feedback.

Unfortunately, I cannot find the example you provided.  The PDF I downloaded seems to contain the statement on blank characters:

![Capture](https://user-images.githubusercontent.com/6675884/68614072-07fe1c00-0475-11ea-82f7-de529e79a4f9.PNG)

Can you add further specifics or include another example?

[2019-11-11 19:33] zmarty commented on #5876
@shashban Please be more specific. The sprint changelog you linked to is all over the place.

What does approval timeout being configurable has to do with preventing these e-mails being sent out? For instance, let's say I change the timeout from 14 days to 1 day, won't the build still fail and the fail e-mail still be sent out?

[2019-11-11 21:00] paliotti opened #6333 "Can't Connect to Azure DevOps with Proxy"
Tried running the command from [here ](https://docs.microsoft.com/en-us/azure/devops/repos/git/require-branch-folders?view=azure-devops&tabs=browser&viewFallbackFrom=vsts) but I keep getting the error:

[2019-11-11 21:42] StephenRSkinner opened #6334 "TFS 2018 Package Feed SemVer 2.0 Metadata Not Supported"
I created issue [#6062](https://github.com/MicrosoftDocs/vsts-docs/issues/6062), but it was closed for "lack of information" The title of that and this issue explains exactly what the problem is.

Please fix the package feed in TFS 2018 so it doesn't blow up on packages that contain SemVer 2.0 metadata, when the feed is configured as a passthrough for NuGet.

[2019-11-11 22:41] iamwyza opened #6335 "Example Result of Parent Query is Wrong"
The parent query shows that multiple levels of parents will be returned, however in the current version of DevOps only the first ancestor is returned.  There does not appear to be a way to allow it to exceed the depth of 1.  (Ideally it should, but if it won't anymore, the documentation needs to be updated to note that depth of hierarchical queries is now fixed at 1.)

---
#### Document Details

⚠

[2019-11-12 02:59] AlexChongMicrosoft commented on #6321
Hi @thejoebourneidentity , thank you very much.

[2019-11-12 03:20] msebolt commented on #6322
@cblp  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-12 03:25] msebolt commented on #6324
@CarstenSchelp  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-12 03:26] msebolt commented on #6325
@marcussonestedtbarium Thank you for the feedback, assigning this to the author for review.

[2019-11-12 03:27] msebolt commented on #6326
@marcussonestedtbarium Thank you for the feedback, assigning this to the author for review.

[2019-11-12 03:44] msebolt commented on #6328
@luweilevi Thank you for the feedback, assigning this to the author for review of the steps.

Please note that for scenarios outside the scope of the documentation you should refer to:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

If this is an issue with the product its

[2019-11-12 03:46] msebolt commented on #6329
@spottedmahn  Thank you for the feedback, assigning this to the author for review.

[2019-11-12 03:52] msebolt commented on #6330
@psavery  Thank you for the feedback, we apologize for any issues with the task.

Since this is a product-related issue, please move this to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo.

Assigning this to the author for review of basic task functionality.

[2019-11-12 03:53] msebolt commented on #6330
Referring to @brcrista

[2019-11-12 04:02] msebolt commented on #6333
@paliotti  Thank you for the question.

Please refer to the following posts on [StackOverflow](https://stackoverflow.com/questions/36109895/tf400324-team-foundation-services-are-not-available-from-server-server-collect/48618076) and [MSDN](https://social.msdn.microsoft.com/Forums/en-US/756079b0-d102-4c11-9985-43df1e61e3f2/tf400324-team-foundation-services-are-not-available-from-server?forum=tfsadm

[2019-11-12 05:38] BlairMcc commented on #6162
Agreed, for example I'd love to know if it's possible to reference a pipeline via a service connection

[2019-11-12 05:38] BlairMcc opened #6336 "Is there a way to trigger pipeline using Azure Artifacts in YML?"
Hey there,

When defining a GUI release I can make it be triggered by an Azure Artifact, is there a way to replicate this for pipelines in YML?

I am building in one AZDO tenant, pushing universal packages to another tenant, where the release definitions will be defined, I'm hoping this can be in YAML. But I don't see an obvious way to do this at the moment?

Cheers

---
#### Document Details

⚠ *

[2019-11-12 05:48] PBoraMSFT commented on #6325
@marcussonestedtbarium - you can find a detailed doc [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/parallel-testing-vstest?view=azure-devops).

And, using the multi-agent capability for distribution with other test runners is outlined [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/parallel-testing-any-test-runner?view=azure-devops)

[2019-11-12 05:48] #6325 closed

[2019-11-12 09:26] caminsha opened #6337 "Duplicated word"
Hi

In the section [Give Great Feedback](https://docs.microsoft.com/en-us/azure/devops/learn/git/git-pull-requests#give-great-feedback) there is a typo in the following sentence:

In the above sentence the word "the" is written twice.

Correct sentence would be:
Identify the issue and give a specific suggestions on what you would do differently.

Kind Regards

---
#### Document Details

⚠ *Do not

[2019-11-12 09:33] jwikman commented on #5876
Thanks for the update @shashban
There where not much details in the release notes, what will our configurable options be?
What are the maximum/minimum timeouts?
Can we have infinite timeout (that would probably solve @zmarty headache)?

Are there anyway to get notified when our Azure DevOps has been updated? It would be more relevant for us to know what features we have, rather than features we wi

[2019-11-12 09:47] marcussonestedtbarium commented on #6325
Hi @PBoraMSFT,

Thanks for your response! The first link explains not with YAML, but with gui config.

The second is what I was looking for. I think ti would help if that page was linked directly from the doc for the VSTest task.

Thanks for your awesome work on Azure devops

BR
/Marcus

[2019-11-12 10:02] Zhaph commented on #1521
I found a comment on [an issue](https://developercommunity.visualstudio.com/content/problem/406365/tfs-20182-path-filters-not-working-correctly-in-br.html) that appears to solve the problem:

You have to include everything, and then exclude the files/folders you don't want. This isn't clear from the tooltip.

[2019-11-12 10:12] fgudelj opened #6338 "Team Tab in Microsoft Project not available after installing Azure DevOps Office® Integration 2019"
Hi all,

I am not seeing Team Tab in MS Project :(

Following office pack is installed:

- Office 365 Pro Plus
- Microsoft Project Online Desktop client.

I have tried re-installing office, as well as Ms Project - no success. I have even isntalled Visual Sturio Enterprise 2019, and still it is not showing..

But, I have seen it at colleagues computer that works, and I am not able to figure out why

[2019-11-12 11:19] PBoraMSFT commented on #6325
@marcussonestedtbarium - yes, we will get the topic linked from the VSTest task doc.
Also will enhance the doc to include the YAML snippet for job setup.

[2019-11-12 12:56] psavery commented on #6330
@msebolt Okay! I moved it to that repo (linked above). Closing this one. Thank you!

[2019-11-12 12:56] #6330 closed

[2019-11-12 13:06] batorskik opened #6339 "Not working with Python 3.8"
I'm getting following error with above steps for Linux ("azure-pipelines-steps-linux.yml"):

AttributeError: module 'time' has no attribute 'clock'

As a workaround I use Python in version '3.7' instead '3.x'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9480b69-ca1f-55bc-8505-49c51d9f205e
* Version Independent ID: 0

[2019-11-12 13:08] katlimruiz commented on #5876
In my use case# The issue is the fact that I may have optional stages or ones that are waiting for manual approval, and the status of the job is still "running" when it may be more appropriate to be "on hold" or "waiting".

On Nov 12, 2019, 04:33 -0500, Johannes Wikman <notifications@github.com>, wrote:

[2019-11-12 13:36] MamadouBAH139 commented on #5447
I had the same error as you but I specify the name of the branch "master" in my case 'git push bare master'and it worked

[2019-11-12 14:39] rbarna1 opened #6340 "Notification setting required?"
Hi, we're using @mentions in our work items.  No one is getting the email notifications mentioned on this page.  Is there some sort of user or organizational setting required to ensure that the @mention emails are sent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ae521f-6ae4-4d7f-2cce-f844e5811b66
* Version Indepe

[2019-11-12 15:41] srinugopi09 opened #6341 "Mermaid JS text is not rendered properly in DevOps Wiki"
Text is not rendered properly in a consistent way in DevOps Wiki. Lack of Consistency is preventing us to use Azure Wiki for long term.

[2019-11-12 15:52] StavroulaSsi commented on #5135
Hi, for me it is still not clear what is really deprecated here. Many colleagues of mine use this Team add-in clicking to "New List" to import query results to Excel. Is this for example deprecated? What means "is deprecating support for Microsoft Project" and "Project integration and the TFSFieldMapping command is not supported"? However, "we can continue to use Microsoft Excel", but the question

[2019-11-12 15:57] CyricPL opened #6342 "Bugs Managed with Tasks - Not Showing in Annotations"
I have a project with "Bugs managed as tasks," and I want to add them to the annotations on the Stories board, but only Tasks and Tests appear as options on the board.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c14dbd1f-9b2f-c50a-456b-7efbe9a76d33
* Version Independent ID: fe725f5c-4074-5bea-38c7-ad9e8b8600a7
* Con

[2019-11-12 16:07] rbarna1 commented on #6340
User error. :(  Notifications working fine.

[2019-11-12 16:07] #6340 closed

[2019-11-12 16:07] Tenseiga commented on #6295
follow

[2019-11-12 16:27] SamGrantham opened #6343 "Add Note on VS Version Compatability"
This would be a good place to call out that this depreciation also means that XAML Builds can only be modified in Visual Studio 2015 and below.   VS 2017 and above are not compatible and there are no plans to fix.

The only public facing documentation I can find for this is here: https://developercommunity.visualstudio.com/content/problem/377375/serialization-error-for-adalsilenttokenacquisition.h

[2019-11-12 17:07] jeffyoungstrom commented on #1520
It would still be useful to know the maximum size of files that can be committed with LFS. Especially since the error message when a file is too big appears to be quite cryptic:

LFS: Client error: from https://dev.azure.com/myinstance/path_to_lfs_link_for_big_file HTTP 413

I just had a 278MB file fail in this way. This seems like a pretty small limit though, so maybe there's some other reason fo

[2019-11-12 18:39] NenoLoje opened #6344 "Update "Enforce a merge strategy" section with New merge types for completing pull requests"
According to https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-150-update#azure-repos there re new merge types which are not yet reflected on this page.

Thanks!
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Version Independent ID: d60c996e-187e-dd6b-

[2019-11-12 18:49] NenoLoje commented on #6344
This blog post can probably help: https://devblogs.microsoft.com/devops/pull-requests-with-rebase/

[2019-11-12 21:03] WilliamAntonRohm commented on #6334
@StephenRSkinner -- please clarify your feedback.  Is this a product issue or a documentation issue?
If it's a product issue, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

If documentation, please add a link to that article.

[2019-11-12 21:05] WilliamAntonRohm commented on #6336
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-11-12 21:05] #6336 closed

[2019-11-12 21:06] WilliamAntonRohm commented on #6338
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-11-12 21:06] #6338 closed

[2019-11-12 21:11] WilliamAntonRohm commented on #6341
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-11-12 21:11] #6341 closed

[2019-11-12 21:13] WilliamAntonRohm commented on #6342
@CyricPL -- thank you for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.

[2019-11-12 21:18] StephenRSkinner commented on #6334
In my comment above:

Please fix the package feed in TFS 2018 so it doesn't blow up on packages that contain SemVer 2.0 metadata, when the feed is configured as a passthrough for NuGet.

The evidence, posted in my original issue #6062, clearly states that the package feed gives the following error when you reference a package with SemVer 2.0 Metadata in the version:

The package is invalid: The pa

[2019-11-12 21:42] rguthriemsft commented on #5584
As of today this is still broken.  The links still point to branch-policies.md

[2019-11-12 22:04] #6324 closed

[2019-11-12 22:14] Dejulia489 commented on #4420
The existing serviceNow extension in the store was very limited so I wrote my own and shared it privately. I opened a [ticket ](https://github.com/microsoft/azure-pipelines-tasks/issues/11720)with to basically the same thing and got the following information...

The task above makes a call to get the current release pipeline and then posts it back with an updated release body that contains the rel

[2019-11-12 22:36] WilliamAntonRohm commented on #6334
This repo (vsts-docs) is only for documentation issues, and you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure your suggestion gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

I am closing this issue now.  You are welcome to @ mention me for

[2019-11-12 22:36] #6334 closed

[2019-11-12 22:57] WilliamAntonRohm commented on #6337
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-11-12 22:57] #6337 closed

[2019-11-12 23:59] JGCreator opened #6346 "No documentation about how to set variables using expressions when using variable groups"
Because there is a contingency on using the name/value syntax for pipeline variables when that pipeline also uses group variables, there needs to be some documentation (or support) for setting pipeline variables in name/value syntax using expressions. The documentation about variables (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set

[2019-11-13 00:41] greggboer commented on #6086
I'd be interested in seeing the query you used, and any screenshots you might have.
If you want, you can send this information to "azdevrf@microsoft.com", and we can take a look at it.

[2019-11-13 00:53] WilliamAntonRohm commented on #5993
@rernst-IQ -- I see your point of view.

@KathrynEE -- please resolve this thorny puzzle.

[2019-11-13 06:45] marcussonestedtbarium commented on #6325
👍👍

Den tis 12 nov. 2019 12:19Prachi Bora <notifications@github.com> skrev:

[2019-11-13 08:29] molehillrocker opened #6348 "Is there any resource/feed subscription to be informed about build agent updates?"
Is there any resource/feed I can subscribe to, to get informed when build agents are updated with more up-to-date software/tool versions? If so, please point me to the direction, since I did not find anything (despite the GitHub repo which I'd have to monitor on a regular basis).

This week our builds were failing because we used tools that did depend on NodeJS 10 and as soon as the build agent wa

[2019-11-13 09:20] blueelvis opened #6349 "How can I decompose a Task Group?"
Assuming that I have the permissions, how do I decompose a task group back to its original state i.e. separate tasks in the pipeline?

For example, if I use 4 tasks to create a task group, what should I do to get those 4 tasks back in the pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e6b773c-dfb0-5c58-1463-

[2019-11-13 09:34] benc-uk opened #6350 "Pipeline resource predefined "meta-data" variables"
I'm trying to use the new pipeline resource to have my build pipeline trigger a CD/release pipeline.
I need to pass the Build.BuildId from my build to the release, which is a very common scenario

The docs mention pre-defined "pipeline-resource-meta-data" variables I can use. However none of these seem to be populated. These variables mention an `<Alias>` but it's never explained what `Alias` refe

[2019-11-13 11:22] liamfoneill opened #6351 "New York Support"
This ServiceNow app has been updated on 12th Nov 2019 to support New York. Please update this page to reflect that. https://store.servicenow.com/sn_appstore_store.do#!/store/application/fa788cb5dbb5630040669c27db961940/4.161.0?referer=sn_appstore_store.do%23!%2Fstore%2Fsearch%3Fq%3Dazure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-11-13 11:23] jan-kenneth opened #6352 "Undocumented "dynamic variable" $(build.containerId)"
When publishing artifacts in a build pipeline you can get the container id it was published to by using the variable `$(build.containerId)` which is not documented as far as I can see.

Is the documentation lacking a section on "dynamic variables"?

This variable is useful within the build itself enabling generation of the URLs to specific files in the published build artifact, you can generate th

[2019-11-13 14:19] 8enSmith commented on #4947
It would be great if one could create a variable group YAML file which could be stored in a repository alongside the pipeline YAML files. They could then be versioned just like the pipeline YAML files, making it easy to track changes in the values of these variables.

[2019-11-13 15:09] Londovir opened #6353 "Build.ArtifactStagingDirectory incorrect explanation about contents"
In the documents above, for Build.ArtifactStagingDirectory it states that the contents of the directory are purged before each new build and that you do not have to clean it yourself. However, as I was developing a YAML file to use for our one project in-house, where we were using this folder to compile the output files that would eventually get pushed into an artifact, a 2nd build attempt immedia

[2019-11-13 15:10] RoopeshNair commented on #4947
@8enSmith  -

it is not recommended to store the secrets in a repository. Unless I got your statements wrong

[2019-11-13 16:00] juliakm commented on #4259
It looks like the documentation here is accurate but that you have a feature request for a variable that would output `feature/tools`.  You can reach out to the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), which is monitored by the product team, to share your idea for how to improve the product!

[2019-11-13 16:00] #4259 closed

[2019-11-13 16:14] rogersillito commented on #5737
Yes - specifically I can't find any examples of how to create the array variable accepted as the 2nd parameter to `join`...

[2019-11-13 16:26] fleed opened #6354 "Repository resource usage"
Is it possible to use a Repository resource to reference files within a pipeline that are not templates?
Usecase example: run a PowerShell script that it is defined as `MyScript.ps1` in another repo.
It is unclear from the docs if "alternative" usecases are supported and, if yes, how to reference those files (will the `@` symbol always work?)?

---
#### Document Details

⚠ *Do not edit this sectio

[2019-11-13 16:37] letmaik commented on #4259
@juliakm Are you saying we just wasted half a year without any action on this and now I have to start the reporting process again somewhere else? Oh well... I think I'll switch to GitHub Actions anyway going forward. Their community is much more organised and responsive :/

[2019-11-13 17:00] davidcorrigan714 opened #6355 "Registration process clarification"
The "Communication with Azure Pipelines" section is a bit misleading on how registration happens. It reads as if you're exchanging the PAT for an OAuth refresh token when it's really creating an RSA key pair and sending the public key to DevOps to be used for OAuth later. A link to the GitHub docs with the full explanation would be nice too, the page here:
https://github.com/microsoft/azure-pipeli

[2019-11-13 17:07] larryclaman opened #6356 "Container resource doc needs updating"
Per the Nov 4 release notes  https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-160-update#acr-as-a-first-class-pipeline-resource, the container resource now supports using an ACR container image as a trigger to a pipeline.
The updated YAML schema (Resource section) needs documentation.  There is an example on the release notes page, but it does not provide detail for all of p

[2019-11-13 18:05] GaTechThomas opened #6357 "Unintended links."
We have comments with "#" in them in old git commits that have caused a ton of links to be created in work items. Is it possible to disable this functionality or filter what #'s are seen in some way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22780209-b809-62af-1d6e-ed4c91db867a
* Version Independent ID: 1d6afe6e-6

[2019-11-13 18:28] juliakm commented on #4447
In Microsoft Team Foundation Server (TFS) 2018 and previous versions, runs are called builds.  I'll update the documentation line @JoeBrockhaus identified to say Build ID.

[2019-11-13 18:46] chcomley commented on #6317
Thanks very much for your feedback, @axelson. The update will be published today!

[2019-11-13 18:50] #4447 closed

[2019-11-13 19:20] chcomley commented on #5386
Hi @Gismork, @epvanhouten, and @ideoclickvanessa,

The product team has opened an internal work item to track this. That said, it's unlikely that this document will be updated anytime soon.  I'm closing this issue, however if I get an update, I'll @mention you all. I'm sorry we don't have more for you. If you need some hands on help, please [contact Support](https://visualstudio.microsoft.com/vs/s

[2019-11-13 19:20] #5386 closed

[2019-11-13 19:52] Pyroneus commented on #5213
@chcomley Did you click on "Plan your Azure DevOps organization structure." or "Plan your organizational structure in Azure DevOps."?
The first is broken, the latter works.

[2019-11-13 19:58] wesleyae opened #6358 "helmVersionToInstall: latest is broken"
Helm 3 has been released. And now, when specifying `helmVersionToInstall: latest`, the helm installer task doesn't work. This is the error it throws:

[code]

[2019-11-13 19:59] chcomley commented on #5213
@Pyroneus, you're so right. I'll publish this fix momentarily. Thank you so much for your feedback.

[2019-11-13 20:18] #6317 closed

[2019-11-13 20:24] wesleyae commented on #6358
This is being addressed in this PR: https://github.com/microsoft/azure-pipelines-tasks/pull/11735

[2019-11-13 20:24] #6358 closed

[2019-11-13 20:39] nadvolod opened #6359 "[error]Solution not found using search pattern 'd:\a\1\s\**\*.sln' when using the above example"
Hello, I went through the steps to setup an initial pipeline. After saving the .yml file as specified, I'm getting the following error on the VSBuild step:
[error]Solution not found using search pattern 'd:\a\1\s\**\*.sln'.
Here's also a screenshot: https://screencast.com/t/m2SucrY7pPNW
Here's the repo just in case: https://github.com/nadvolod/pipelines-dotnet-core

---
#### Document Details

⚠ *D

[2019-11-13 21:23] kalkun opened #6360 "Details on setting test owner"
How do I set the owner of a test or test file? It seems like it could be a very useful feature but on my own pipelines as well as on the screenshot in this article, the value is `not available`. How is this information controlled? This information seems like its within the scope of this article which does mention the _owner_ in various other instances.

---
#### Document Details

⚠ *Do not edit th

[2019-11-13 21:24] msebolt commented on #6348
@molehillrocker Thank you for the question.

For now you just need to set a watch on the GitHub to **Releases only**, see [here](https://github.com/isaacs/github/issues/410).

For anything built-in please use either **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) or transfer the issue to [azure-pipelines-image-generation](http

[2019-11-13 21:28] axelson commented on #6317
Awesome, thanks so much!

[2019-11-13 21:34] msebolt commented on #6352
@jan-kenneth  Thank you for the question, assigning this to the author for review.

[2019-11-13 21:40] msebolt commented on #6353
@Londovir  Thank you for the feedback, assigning this to the author for review.

[2019-11-13 21:40] webbermt opened #6361 "Please include information on the .path file in the Update environment variables section"
The PATH environment variable is written to a file called .path and not the .env file.  If you need to change the PATH environment variable that the agent uses, the .path file needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23328b13-f079-ad21-5d7a-6c640f25391c
* Version Independent ID: 4a39889d-fa00

[2019-11-13 21:52] msebolt commented on #6354
@fleed  Thank you for the question.

Unfortunately, the use of alternate scenarios is more of a support request and needs to be directed to either:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Alternatively, and if this case is not supported, you can get feedback direct

[2019-11-13 21:53] msebolt commented on #6355
@davidcorrigan714  Thank you for the feedback, assigning this to the author for review.

[2019-11-13 22:00] msebolt commented on #6357
@GaTechThomas  Thank you for the question.

The product team is better apt to offer a recommendation or start a feature request if this is currently unsupported.

Please move this issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) using either **Report a problem** or **Suggest a feature**.

[2019-11-13 22:07] vtbassmatt commented on #6354
@fleed not yet, but we have a new feature coming soon. Watch that doc ;)

[2019-11-13 22:07] #6354 closed

[2019-11-13 22:14] #4461 closed

[2019-11-13 22:40] #6306 closed

[2019-11-13 22:48] sugarjig opened #6363 "Need clarification on pipeline resource completion trigger"
The section for pipeline resources says "And you can also enable pipeline completion triggers." What is a pipeline completion trigger? Is that when the dependent pipeline completes successfully?  If so, it is not clear how this is achieved. Is it done through the `trigger` key? Also the example shows several different uses, but it's not clear what they do:
[code]
The first pipeline resource has no

[2019-11-13 22:51] zowazHC5 opened #6364 "2013 can't access default nuget v3 api feeds"
The 'Using Visual Studio 2013 or earlier' section. It's not enough to just setup a PAT. You also need to use the v2 nuget API feed. If you use the current v3 api feed, you wont be able to access the feed.

This info needs to be added to the 2013 or earlier section as there is no way to have 2013 use the default v3 api feed.

devdiv bug 1010133 has more info

---
#### Document Details

⚠ *Do not ed

[2019-11-13 23:35] andrewatfornax commented on #4947
@8enSmith - not all variables stored in a variable group are necessarily secrets! However, I think your point is valid; because some variables might be secrets, then storing them in an otherwise open core repository is not a good solution.

Instead, Azure DevOps needs built-in versioning of variables & variable groups as a solution.

[2019-11-14 04:16] BlairMcc commented on #6336
Cheers, I have created a question on SO

[2019-11-14 04:26] saroup opened #6366 "Can I use Azure File Copy task to copy from blob storage to local or staging environment?"
[Enter feedback here]
I want to use the azure file copy task in azdo ci pipepline to copy from a blob storage to a staging directory. Can I use the source path to put the url of the blob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f9308fc60cd
* Version Independent ID: 2c28a59b-8ef5-d7ab-46a

[2019-11-14 05:22] msebolt commented on #6359
@nadvolod  Thank you for the feedback.

Please see if [this post](https://stackoverflow.com/questions/56634927/solution-not-found-using-search-pattern-d-a-1-s-sln) resolves the issue.

If not, please use either the [support bot](https://azuredevopsvirtualagent.azurewebsites.net/) or reach out to the product team at [Azure DevOps community](https://developercommunity.visualstudio.com/content/proble

[2019-11-14 05:32] RoopeshNair commented on #6366
@saroup  - The file copy step doesn't support copying from Azure Storage. Instead you can use `az storage blob download` or `AzCopy /Source:URLr /SourceKey:key /S`

[2019-11-14 05:32] #6366 closed

[2019-11-14 05:35] pradeepgudipati commented on #3848
It's November 2019 , And still has old documentation !!

[2019-11-14 05:38] msebolt commented on #6361
@webbermt  Thank you for the feedback, assigning this to the author.

[2019-11-14 05:43] msebolt commented on #6364
@zowazHC5  Thank you for the feedback, assigning this to the author for review.

[2019-11-14 05:49] msebolt commented on #6363
@sugarjig Thank you for the feedback, assigning this to the author for review.

[2019-11-14 05:55] msebolt commented on #6360
@vinojos  Thank you for the feedback, assigning this to the author for review.

Please note for product specific feedback, you'll need to direct this to the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-11-14 05:57] msebolt commented on #6360
@thomps23 The author for this topics seems to be missing?

[2019-11-14 06:04] RoopeshNair commented on #4947
@8enSmith - sure, we do have it on our backlog, however not on top of our list at the moment. We are working on issues that impact broader set of customers. As a workaround, you can use Variable Groups backed by Azure Key Vault. Key Vault supports versioned history of changes.  I would recommend you to suggest the changes on [DevCommunity](https://developercommunity.visualstudio.com/spaces/21/inde

[2019-11-14 06:04] #4947 closed

[2019-11-14 07:11] msebolt commented on #6320
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:14] msebolt commented on #6333
Closing the issue now, please comment below if there are any further concerns.

[2019-11-14 07:14] #6333 closed

[2019-11-14 07:45] molehillrocker commented on #6348
Thanks for the hint, I'll do that for now.

[2019-11-14 08:03] serhatataman commented on #6295
Thank you @msebolt . If you checkout github's documentation (https://help.github.com/en/github/administering-a-repository/deleting-a-repository) you can clearly see that if private repository is forked, all forked repositories will be deleted **in case of deletion**. I would have been beautiful to see whether Azure DevOps has the same mentality or not :)

[2019-11-14 09:29] M0ns1gn0r opened #6367 "Multi-pipelines for mono-repo"
Although the default name of configuration file is "azure-pipeline**S**.yaml" it looks like this file allows to define only **a single** pipeline.

The docs don't mention this limitation explicitly. They also don't seem to provide a guide on how one supposes to maintain a set of pipelines for multiple microservices in a mono-repo.

Ideally I would like to have a single azure-pipelines.yaml in the

[2019-11-14 09:32] M0ns1gn0r commented on #2639
Yes you can create a pipeline manually and target it to the yaml in a sub-folder, but that's some external configuration which somewhat contradicts the Infrastructure-as-Code principle. Therefore I have created a separate issue https://github.com/MicrosoftDocs/vsts-docs/issues/6367.

[2019-11-14 10:27] Additi commented on #6104
Hi,
This is a known issue and we are working on the fix. I'll post the update once we deploy the changes from our end.
Thanks,
Aditi

[2019-11-14 11:42] sudo-md opened #6368 "View deployment status cross-project"
At this moment, it's not possible to view the deployment status of a pipeline in a different project. In our enterprise we differentiate between Agile projects and code projects.

Is it possible to add this functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462be419-4cfd-4bfc-06cc-45800c0d888b
* Version Inde

[2019-11-14 12:52] uniquelau commented on #6281
I see a similar issue.
My build is generating the same finger print each time "TKt7AYjs8qasLcl5a7VB3HUc4DyqY5tE1XEj1wiQmL8="
But each time I trigger the build I get a cache miss.

[2019-11-14 13:13] vtbassmatt commented on #6367
The name of the product is "Azure Pipelines", hence the name of the YAML file.

You can have multiple pipelines pointing to one YAML file. And for example, you could make that pipeline expect a variable telling it which directory to build, and then each of your definitions could set the variable differently. Alternatively, you can have as many pipeline YAMLs as you want in the repo.

Auto-creation

[2019-11-14 13:13] #6367 closed

[2019-11-14 13:33] M0ns1gn0r commented on #6367
Thanks Matt, done: https://developercommunity.visualstudio.com/idea/820717/allow-defining-multiple-pipelines-in-one-yaml-conf.html

[2019-11-14 13:53] mahilleb-msft commented on #6259
@ashokirla - could you comment whether this is even possible?

[2019-11-14 13:58] jithureddy commented on #2210
@adamdavies001 If this error is due to collection then how to create that collection. Which is not explained in the documentation.

[2019-11-14 14:05] shoorik opened #6369 "HelmInstaller and Helm 3"
Started happening yesterday (2019-11-13) around the time that Helm 3 was released, apparently since Helm3 removed Tiller altogether and sunset --client-only arg.

[code]

2019-11-14T01:52:20.4008256Z ##[section]Starting: Install Helm
2019-11-14T01:52:20.4012905Z ==============================================================================
2019-11-14T01:52:20.4012970Z Task         : Helm tool inst

[2019-11-14 14:09] jzeferino commented on #2129
for the ones arriving here and cannot find a working solution here is my working solution:
this is using the most recent version of xcode, mono and xamarin ios.

.NET Core 3 is used here because for versions of mono above 6.0.0 its requires .NET Core versions above 2.0.2x

this are de steps i needed in my .yml file.

[code]

[2019-11-14 14:15] ashokirla commented on #6259
Hi @mahilleb-msft, you can use service connection ID(guid) instead. You can get the endpoint ID from the service connection URL.

[2019-11-14 14:16] shoorik commented on #6369
Apparently this affects HelmInstaller@1 as well:

- task: HelmInstaller@1
  inputs:
    helmVersionToInstall: 'latest'

Diagnostic output:

2019-11-14T14:14:29.9476191Z ##[debug]Evaluating condition for step: 'Install Helm'
2019-11-14T14:14:29.9477149Z ##[debug]Evaluating: SucceededNode()
2019-11-14T14:14:29.9477490Z ##[debug]Evaluating SucceededNode:
2019-11-14T14:14:29.9477668Z ##[debug]=> True

[2019-11-14 14:26] juliakm commented on #4751
Thanks for flagging this. This is a tricky one because we have a lot of detailed instructions on how to work with variables, including how to specify variables for different scripting languages on the [variables concept page](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-variables-in-pipeline). We're going to keep this page as is

[2019-11-14 14:26] #4751 closed

[2019-11-14 14:37] mahilleb-msft commented on #6259
Thanks @ashokirla, I tried that but couldn't get it working so far.

[code]

This is the "resourceId" from the URL, or the id as it shows in the endpoint Azure DO Rest API.
Is it pending on a roll out? Is the format wrong?

[2019-11-14 14:38] mahilleb-msft commented on #6259
(Same connection specified by name works)

[2019-11-14 14:42] nadvolod commented on #6359
@msebolt thanks for the resource. Yes, maybe it would fix it. But shouldn't the example in the docs work out of the box is my point? If I forked a .NET repo and followed the example, it should work flawlessly, right?

[2019-11-14 14:50] juliakm commented on #5015
@davidtom Sorry for the delay on this. It looks like the issue is that you do not need to have the single quotes. If  `doThing: false`:
This will be false:
`condition: and(succeeded(), eq('${{ parameters.doThing }}', true))`
This will be true:
`condition: and(succeeded(), eq('${{ parameters.doThing }}', false))`

[2019-11-14 15:11] #5015 closed

[2019-11-14 15:18] schellem opened #6371 "Out of Date Videos"
Main page videos are great in explaining the concepts but worthless for showing us how to do it things in the UI since Microsoft keeps changing the the UI.
https://docs.microsoft.com/en-us/azure/devops/repos/git/?toc=%2Fazure%2Fdevops%2Frepos%2Fgit%2Ftoc.json&bc=%2Fazure%2Fdevops%2Frepos%2Fgit%2Fbreadcrumb%2Ftoc.json&view=azure-devops

[2019-11-14 15:28] mirsaeedi opened #6372 "Why $env:SECRET_SAUCE cannot be read?"
There is no reason provided on not being able to read the $env:SECRET_SAUCE variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Version Independent ID: 41efb94b-4c7a-64a3-b23b-70c8634ae727
* Content: [Release variables and debugging - Azure Pipelines](https://docs.microsoft.c

[2019-11-14 16:09] Rick-Kirkham commented on #6320
You have reproduced the issue! The PDF has the restriction, but the HTML version doesn't have this restriction! There's no such restriction any more. Please reopen this and fix the PDF.

[2019-11-14 16:10] Rick-Kirkham commented on #6320
Also, there's something wrong with the notification system. I didn't receive an email from your comment 3 days ago.

[2019-11-14 16:24] msebolt commented on #6320
Sorry, but I still can't reproduce...

This image was taken from the site:

![Capture](https://user-images.githubusercontent.com/6675884/68875212-48e57300-06b7-11ea-8dda-97b8e929a86e.PNG)

...and this from the PDF:

![Capture2](https://user-images.githubusercontent.com/6675884/68875219-4b47cd00-06b7-11ea-8627-1a75257140de.PNG)

Is the version selector in the top left-hand corner set to **Azure Dev

[2019-11-14 16:43] Rick-Kirkham commented on #6320
That page on the site has changed since I created this. The reason I know this is that a second problem, that I did not mention is fixed too. (The table of restrictions appeared twice, once where it is now, and then again just below the table of special characters. The wording in the Restriction column was slightly different in the two versions of the table.)

At any rate, the restriction about bl

[2019-11-14 16:55] msebolt commented on #6320
I see, no problem, thank you for the providing the details.

Assigning this to the author for review.

[2019-11-14 17:01] Rick-Kirkham commented on #6320
I see now that that table of restrictions is in an [!include]. The include has two monikers, with slightly different versions of the table in each. What I was seeing last week was both versions. In other words, there was a bad build and the monikers were being ignored.

[2019-11-14 17:15] boblechat opened #6374 "What is the "PipelinesSDK" user?"
This new unknown user shows up in all my git repositories permissions page.
What is this new user? What is it used for? Why do I see it in my git permissions page? Why isn't this documented?

![PipelinesSDK](https://user-images.githubusercontent.com/34745154/68879823-5f68ea00-070a-11ea-873b-dafdb13ed12a.png)

Same question here on [StackOverflow](https://stackoverflow.com/questions/56227164/what-i

[2019-11-14 18:38] #6211 closed

[2019-11-14 18:41] andydean565 opened #6375 "Request access denied when trying to push"
keep getting this error when I try and push to azure container registry which I have connected up in the 'service connections' as 'containerregistry'

here is my pipeline file but GitHub has turned it into a list.

`
trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  azureContainerRegistry: containerregistry
  azureSubscriptionEndpoint: resourcemanager

stages:
- st

[2019-11-14 19:47] #6348 closed

[2019-11-14 19:50] WilliamAntonRohm commented on #6375
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-11-14 19:50] #6375 closed

[2019-11-14 19:51] WilliamAntonRohm commented on #6368
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-11-14 19:51] #6368 closed

[2019-11-14 19:55] WilliamAntonRohm commented on #6369
@shoorik -- Alex, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

@shashankbarsin -- Shashank, please look into this issue.

[2019-11-14 20:01] greggboer commented on #6223
@laurensvp - The Issue work item type in the Agile process only has two states: Active and Closed. It does not have a state that represents "Proposed" (or not started). Therefore the Lead Time will be calculated starting with Active. You can modify the Issue work item type to include a new state and assign it to the "Proposed" state category.

[2019-11-14 20:19] shashankbarsin commented on #6369
One of the developers in my team is fixing this issue. The fix should be deployed tomorrow. Will post an update here when it's deployed to all rings

[2019-11-14 20:22] shashankbarsin commented on #6369
Here's the [fix](https://github.com/microsoft/azure-pipelines-tasks/pull/11769). This will be deployed tomorrow.

[2019-11-14 20:23] shashankbarsin commented on #6369
Here's the [fix](https://github.com/microsoft/azure-pipelines-tasks/pull/11769). This will be deployed tomorrow.

[2019-11-14 20:27] acoats2 commented on #5076
I agree this is way too hard and ambiguous.

These docs: https://docs.microsoft.com/en-us/xamarin/ios/troubleshooting/questions/old-version-xcode indicate you should use the latest versions of all the things when possible.  When you can, that's great.  When you can't, what are the options?  The link does have suggestions, but no solid answers.

Here's the thing, especially during major iOS updates

[2019-11-14 20:51] WilliamAntonRohm commented on #6369
@shashankbarsin -- thank you.

[2019-11-14 20:51] #6369 closed

[2019-11-14 21:00] KathrynEE commented on #6223
@laurensvp - Closing this issue for now. Please reopen if you still have questions.

[2019-11-14 21:00] #6223 closed

[2019-11-14 21:23] jholovacs opened #6376 "Docker task seems to overwrite itself when you have multiple dockerfiles"
The docker task lets you specify a file pattern that will allow you to find multiple docker files.  It locates the docker files, builds the images, and then... names them all the same thing?  When pushed, you only end up with 1 docker image, because the other was just overwritten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-14 21:35] Calidus opened #6377 "*dev.azure.com vs *.dev.azure.com"
URL: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops

The documentation in the url above lists both "*dev.azure.com"  and "*.dev.azure.com". Is this a typo? It has caused some confusion in our organization.

![image](https://user-images.githubusercontent.com/1683712/68898022-a8b23d00-06fc-11ea-89a5-a4f9df458e19.png)

[2019-11-14 21:59] chcomley commented on #4345
@LJ9999 I've refreshed the article and updated the mentioned URL within the text. I hope it's an improvement to your liking. Thanks again for your feedback.

[2019-11-14 22:21] #4345 closed

[2019-11-14 22:35] iampeterdaniels opened #6378 "Some confusing bits"
"Click the pool on the left side of the page and then click Roles." - there is no pool on the left side of the page.  There are two pools on the right side - "Azure Pipelines" and "Default".

Also, our URL is &lt;org&gt;.visualstudio.com.  Not "either your Azure DevOps organization (https://dev.azure.com/{your_organization}) or your Team Foundation Server web portal (https://{your-server}:8080/tfs

[2019-11-14 22:37] iampeterdaniels opened #6379 "roles?"
Page says: "Click the pool on the left side of the page and then click Roles." .  As mentioned above, there is no pool on eth left side of the page. When I select a pool on the right side of the page, there is no "roles".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6363cd0f-8cbf-2a33-41cc-69ba3295d402
* Version Inde

[2019-11-14 22:55] iampeterdaniels opened #6380 "Confused regarding PAT scope"
Page says "For the scope select Agent Pools (read, manage) and make sure all the other boxes are cleared. If it's a deployment group agent, for the scope select Deployment group (read, manage) and make sure all the other boxes are cleared."  Not clear if a "Deployment group" needs both "Agent Pools (read, manage)" and "Deployment group (read manage)"

---
#### Document Details

⚠ *Do not edit this

[2019-11-14 23:26] chcomley commented on #6320
Hi @Rick-Kirkham, I've published an update, which should go live shortly today. You're right, you can add a wiki title with spaces, as I did it myself. I'm following up with one of my PMs on the tfs-2018 versioning, as it states "**Titles of pages added offline** must not contain a blank space."  I'll update accordingly once I've connected with the PM. Thanks so much for your contribution!

[2019-11-14 23:41] chcomley commented on #5872
Hi @tomview, I still have a user story in "proposed" state, marked for "future" iteration, for creating this content. I'm going to close this issue, however I'll link the PR to this issue and alert you when it's live. I'm unsure of when this will occurr, likely in the new year. Thanks very much for your suggestion!

[2019-11-14 23:41] #5872 closed

[2019-11-14 23:46] msebolt commented on #6359
@nadvolod  You're correct, we just need the issue confirmed before updating any documentation.  Usually the product team handles product feedback or support requests.

[2019-11-15 00:18] MSFT-Chris-Barrett commented on #4259
@juliakm, sorry about the negative response above.  I agree the documentation's example is definitely accurate.  The variable name just feels a bit misleading, since the "branch name" in git would be "feature/tools".

Looks like this issue is known, after finding this at the developer community page you linked to: https://developercommunity.visualstudio.com/content/problem/307522/sourcebranchname-

[2019-11-15 00:44] shoorik commented on #6369
@WilliamAntonRohm sorry bout that, thanks for the redirect, I'll keep it in mind in the future.

[2019-11-15 00:55] #6320 closed

[2019-11-15 00:59] WilliamAntonRohm commented on #6379
Related to https://github.com/MicrosoftDocs/vsts-docs/issues/6378

[2019-11-15 01:16] qchero commented on #4643
As people said, trigger a run by Pull Request instead of manual steps will review a "Authorize Resource" button. I was able to be unblocked by that.

[2019-11-15 02:06] WilliamAntonRohm commented on #6369
@shoorik -- happy to help!

[2019-11-15 02:10] devlie commented on #4859
It's mentioned in https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops

I'm also curious what it does. What's the definition of appropriate?

[2019-11-15 05:54] laurensvp commented on #6223
Thanks for your help, but unfortunately it didn’t resolve my issue. I have an Issue work item what went from ‘active’ to ‘closed’, but still doesn’t show up in the lead time graph. It was first reported active on 11/1 and last reported closed on 11/15.

Van: Gregg Boer <notifications@github.com>
Verzonden: donderdag 14 november 2019 21:01
Aan: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>

[2019-11-15 07:55] RoopeshNair commented on #6372
Secret variables are not set as environment variables. You need to explicitly pass them as arguments to your scripts.

[2019-11-15 07:55] #6372 closed

[2019-11-15 09:38] sudo-md commented on #6368
hi @WilliamAntonRohm

It's a shame that it's possible to do this automatically. anyway, I've made a post [here](https://developercommunity.visualstudio.com/idea/822152/view-deployment-status-cross-project.html) with the exact same question.

Have a nice day

[2019-11-15 12:16] ctahok opened #6383 "Re: Team Foundation version control command (tf.exe)"
I spent 40 minutes to search tf.exe for my VS Stdudio code.
It would be very handy to have a link to download page https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=TeamExplorer&rel=15 please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330532da-d568-b010-a154-62afb1844e4a
* Version Indepen

[2019-11-15 12:38] t-my opened #6384 "Folder paths based trigger"
[Enter feedback here]

In classic pipelines, is triggering based certain folder possible like in YAML using:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70217fc0-8411-04b1-d448-d013398c5ac8
* Version Independent ID: ed92b98e-2d6f-8dfb-9319-85c825b2cb30
* Content: [Release triggers for stages, branches, and p

[2019-11-15 12:53] IanKemp opened #6385 "Explain when and why you would want to set forceRepoUpdate = true"
Setting `forceRepoUpdate = true` calls `pod repo update` before `pod install`. But on a standard (clean) pipeline environment, there will be no CocoaPods spec repo, so `pod install` will need to download it, effectively calling `pod repo update` anyway. Therefore, what is the need for `forceRepoUpdate = true`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-11-15 13:19] M0ns1gn0r commented on #5105
This seems to be a general problem with Pipelines tasks documentation. The arguments are not properly documented.

[2019-11-15 13:46] shashankbarsin commented on #5561
@mcurko we had already added a note (shown below) on turning on the preview feature for multi-stage pipeline experience. Once that preview feature is turned on, the 'Azure Kubernetes Service' option appears in the recommended template list
![image](https://user-images.githubusercontent.com/4594231/68947725-2b5df980-07dc-11ea-8dab-c26e1aebac91.png)

[2019-11-15 13:46] #5561 closed

[2019-11-15 13:48] shashankbarsin commented on #5133
Apologies for missing the notification on this issue. Assigning to @azooinmyluggage @N-Usha who have worked on the sample associated with this doc

[2019-11-15 14:40] nadvolod commented on #6359
@msebolt so the confirmation, is that something you all will do? Or you expect that of me?

[2019-11-15 15:23] rhundhausen opened #6386 "Typo: WIT should be WIP"
In the first sentence of the "Set WIP limits" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c127d0e9-775d-f31f-04b6-8c98d4129a58
* Version Independent ID: d11e9b39-ba12-405d-c5d4-9fe7d831d438
* Content: [Configure WIP limits for Kanban board - Azure Boards](https://docs.microsoft.com/en-us/azure/devops/boards

[2019-11-15 16:21] greggboer commented on #6223
Thanks Lauren, sorry that this didn't help.

Can you try using the cycle time chart, instead of the lead time chart. Let me know if that works for you.

Gregg

Sent from Nine<http://www.9folders.com/>
________________________________
From: Laurens van Piggelen <notifications@github.com>
Sent: Thursday, November 14, 2019 9:54 PM
To: MicrosoftDocs/vsts-docs
Cc: Gregg Boer; Comment
Subject: Re: [Micr

[2019-11-15 16:49] ctahok opened #6387 "Clarification needed"
The article says: "All users will be allowed to create branches under the features/ and users/ folders."
Then in issued commands, it specifies /branch:features & /branch:users which are not folders but branch names.
So when those folders are being created?
After completing all above commands I am only able to create branches called feature, users, releases and nothing else. Even after creating use

[2019-11-15 17:53] chcomley commented on #6283
Hi @ez-ms, This bug is fixed and should ship with our next sprint deployment this month! Thanks so much for reaching out. Please let me know whether you have any further questions by @mentioning me. Have a great day.

[2019-11-15 17:53] #6283 closed

[2019-11-15 18:48] david-beckman opened #6389 "Code Review"
There a number of style challenges with the published example code:
- Excessive using statements
- Class name is not a noun
- Method name is excessively long and cumbersome
- [VSTHRD200](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD200.md) Method name does not end in Async
- [SA1122](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1122.

[2019-11-15 18:58] Gaisuru opened #6390 "Script to select iOS SDK is vague"
1. To select a Xamarin SDK, you input a Mono Version? How backwards is that? You should input the version of the SDK you want.
2. The mac os image documentation just has a list of mono version and a list of Xamarin SDK versions. It does not tell you which versions correlate so you can try to select the version of Xamarin that you want.
3. The image should also tell you what the default mono and io

[2019-11-15 20:05] msebolt commented on #6383
@ctahok  Thank you for the feedback and apologies for any confusion.

We'll get this link added to the documentation.

[2019-11-15 20:18] msebolt commented on #6384
@t-my  Thank you for the question.

Since the question concerns product-related implementation, please move this issue to either:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Alternatively consider using one of the code repos, such as [azure-pipelines-tasks](https://git

[2019-11-15 21:15] edgariscoding opened #6392 "Set a Gate time delay above 48 hours"
I would like to be able to set a time delay of 94 hours (four days) for a post approval Gate. Is there a reason this delay is capped at 48 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b27fd8-df35-5e98-8c6e-2924f541a504
* Version Independent ID: 4c6e6300-2354-a9ec-0cf3-7f935ea268ce
* Content: [Understand appr

[2019-11-15 21:37] #5868 closed

[2019-11-15 21:37] #3622 closed

[2019-11-15 21:42] cperson commented on #4815
Any update here?

[2019-11-15 21:43] WilliamAntonRohm commented on #6368
@sudo-md -- thank you for your feedback, and for making that post.

You as well!

[2019-11-15 23:01] msebolt commented on #6385
@IanKemp Thank you for the question.

Since this question isn't an issue with the documentation, but more specific to the code itself, please refer to:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps community](https://developercommunity.visualstudio.com/top

[2019-11-15 23:03] msebolt commented on #6386
@rhundhausen Thank you for the feedback.

We'll get this fix added to the documentation.

[2019-11-15 23:47] twchapman opened #6393 "How to "analyze top tasks by duration" in pipeline reports?"
On the page for pipeline reports, under duration report it says "You can review the duration trend and **analyze the top tasks by duration to optimize the duration of the pipeline**."

However, I can't find a way to view that information. It does mention what the top task is on the summary tile, but that's it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-11-16 03:11] jwisener commented on #4949
I guess @shashban doesn't care. I agree, is there no better documentation on this?

[2019-11-16 05:57] shashban commented on #4949
The call back API is documented at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/azure-function?view=azure-devops#where-should-a-task-signal-completion-when-callback-is-chosen-as-the-completion-event

The URL is specific to each job in the release and guarded by the same authentication as other Azure DevOps APIs.

[2019-11-16 05:57] #4949 closed

[2019-11-16 06:20] shashban commented on #6392
Can you help me with the scenario?

Delay before evaluation is meant to be the time samples from the gates might be unreliable. During this time, samples are collected for reference purpose.
If you need to delay start of gates overall, it is recommended to use a delay task in the deployment process.

[2019-11-16 12:08] t104 opened #6394 "How long are audit logs retained in Azure DevOps Server?"
Azure DevOps Services store audit logs for 90 days as described in this [doc](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/azure-devops-auditing?view=azure-devops&tabs=preview-page).
How about Azure DevOps Server?
I need to back up periodically, but how often I should do?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 361c08ef

[2019-11-16 17:13] jmarcotte1981 opened #6396 "Pre-deployment Policy check question"
Hi - just to make sure I understand let me ask a question and provide feedback.
Question:
Is this feature truly a pre-release "assessment", so that the validation of an ARM template for example _against existing Azure Policies_ for the subscription is done BEFORE the deployment attempt. So this would allow teams to get policy feedback (particularly on items that would fail on a DENY) **days or wee

[2019-11-17 21:40] NenoLoje opened #6397 "Missing support info mentioned in FAQ"
On this page, it states:

&gt; "If the status column shows green/OK, and Search is still not working, contact support at the address shown at the end of this topic."

But: there is no contact support address or option at the end of the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 281d0249-2b4b-85cf-150b-509805

[2019-11-18 07:22] M0ns1gn0r commented on #5868
It's so irritating that this **requried** argument
1. Doesn't have a meaningful default of 'latestVersion'.
1. Is not on the top => too easy to overlook it and get mysterious "Could not find the module path with given version.".

[2019-11-18 09:04] #6386 closed

[2019-11-18 10:18] rogersillito commented on #4073
I would agree that having a more complete explanation of where the `$[]` syntax is (and is not) valid would improve these docs greatly.

[2019-11-18 13:24] chcomley commented on #6397
Hi @NenoLoje, Thanks for letting us know! I've updated the article to include hyperlinks to Support. Thanks again and have a great day!

[2019-11-18 15:47] riedgar-ms opened #6400 ""azureSubscription" is badly named"
On seeing the `azureSubscription` input, I automatically assumed that a subscription id was required. This was not successful, and I eventually discovered that I needed the name of the service connection I created on Project Settings page. While this is implicit in the 'Description' text for the `azureSubscription` input (and indeed makes some sense, since a variety of credentials could be availab

[2019-11-18 15:50] aku-p opened #6401 "New Az Powershell module is available on the Microsoft Hosted Agents?"
[Enter feedback here]
I have verified the installed software/packages from the [link](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2019-Server2019-Readme.md). No were mentioned Az module is available. Is Az module made available on the microsoft hosted agents? If not from when it will be avaialble

Thanks,
@kup

---
#### Document Details

⚠ *Do not edit th

[2019-11-18 16:00] kerenkeren commented on #3702
I would love to have this feature as well...

[2019-11-18 18:10] msebolt commented on #6359
@nadvolod I'll assign this to the author to see if they experience the same issues.

[2019-11-18 18:24] mboutet commented on #3702
+1 we also need this.

[2019-11-18 18:26] chcomley commented on #5591
Hi @roby70, I've updated the article, by adding a note, which will go live today. Thanks so much for your feedback!

[2019-11-18 18:42] #6397 closed

[2019-11-18 18:57] chcomley commented on #6231
Hi @SebastianSchuetze, Does this help? https://docs.microsoft.com/en-us/azure/service-health/service-health-overview

[2019-11-18 19:17] greggboer commented on #6223
Lauren, I think I need to dig deeper to understand. If you reach out to me at azdevrf@microsoft.com, then we can get this figured out.

[2019-11-18 20:09] OrigPSJ opened #6402 "Kanban Board Test Status"
Is there an ETA for when tests cases created outside the Kanban board would be visible on the board? I have a number of cases which may be applicable to current and future stories - I'd like to add them via the  "tested by" link so they can be quickly tracked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91132cbe-8fd9

[2019-11-18 20:44] avivanoff opened #6403 "Which HttpClient do I use to download artifact type "PipelineArtifact"?"
BuildHttpClient.GetArtifactContentZipAsync does not work for the new [pipeline artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=classic). Which HttpClient do I use to download this type of artifacts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413

[2019-11-18 20:54] behoyh opened #6404 "robocopy options?"
I see that FileCopyOptions is listed for this build step, how to use/invoke for /purge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task - Azure Pipelines](https://docs.microsoft.co

[2019-11-18 21:09] #6021 closed

[2019-11-18 21:10] #5591 closed

[2019-11-18 21:11] CarlRabeler commented on #6371
@schellem Is there a specific video to which are you referring? Is it one of the two on this page: https://docs.microsoft.com/en-us/azure/devops/repos/git/?toc=%2Fazure%2Fdevops%2Frepos%2Fgit%2Ftoc.json&bc=%2Fazure%2Fdevops%2Frepos%2Fgit%2Fbreadcrumb%2Ftoc.json&view=azure-devops#videos ?

[2019-11-18 21:12] KathrynEE commented on #6339
@geverghe - Can you address this issue?

[2019-11-18 21:13] KathrynEE commented on #6335
@greggboer - Can you address this issue?

[2019-11-18 21:14] WilliamAntonRohm commented on #6389
@david-beckman -- David, thank you for your feedback and suggestions.  I am looking into the documentation.

[2019-11-18 21:19] KathrynEE commented on #6086
@vgeldbr - Closing this issue. If you still have questions, please contact azdevrf@microsoft.com.

[2019-11-18 21:19] #6086 closed

[2019-11-18 21:22] KathrynEE commented on #6276
@Thilas - Hi, I've requested the PMs provide more information. I'll get back to you when I have an answer.

[2019-11-18 21:23] juliakm commented on #5107
@Advin24 - Sorry for the delay on this. Are you still running into this problem? I used the minimal YAML from the [issue report](https://developercommunity.visualstudio.com/content/problem/593141/using-vars-in-multi-stage-pipeline-can-fail-withou.html) and it ran successfully.

[2019-11-18 21:27] WilliamAntonRohm commented on #6401
@aku-p -- Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged