[2019-09-03 09:58] pingyin97 opened #5461 "Sprint efforts not adding up"
The way I have my process for boards set up is there are milestones which can be broken down into deliverables and the deliverables can be further be broken down into tasks. If I enter a certain amount of hours for efforts(customized field) in tasks they add up properly in the deliverables. The issue is that deliverable efforts are not adding up into the milestones. Is there any way to fix this is

[2019-09-03 10:11] misd92 opened #5462 "Cancel an import"
I would like to stop a running import, but I don't find any options to do. Is there a way to achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa0ebd3-8437-8508-5a8d-462186fcce80
* Version Independent ID: efe892fe-387e-0a61-fe7d-33d2ac99dfa9
* Content: [Migration import from Azure DevOps Server to Azure Dev

[2019-09-03 10:49] elbatk commented on #5462
Hi @misd92 , adding @roofers for this one.

[2019-09-03 11:05] samuelcavendish commented on #666
I think the set of options are documented here: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/run-number?view=azure-devops&tabs=yaml

[2019-09-03 12:12] hjfitz opened #5463 "PR Triggers not working with Github Repos?"
I've set up a pipeline to trigger on a PR - but they're not triggering when I commit to the PR branch, or open a PR. I'm not sure where the `pr` key is meant to go either.

This is the `yml` file that I'm working on. Is this the right syntax?
https://github.com/hjfitz/spoticli/blob/feature/pr-pipelines/.pipelines/pr.yml

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-09-03 12:24] tinohager opened #5464 "Broken link"
`This module is open source on GitHub.` the link to the github project is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 210908e8-c062-c323-8463-fcace04ec775
* Version Independent ID: c5d9920b-15d1-ba28-b6e0-121977f4164f
* Content: [Migrate your packages to Azure Artifacts](https://docs.microsoft.com/en-us/azure

[2019-09-03 12:50] arnoschuring commented on #3774
Even worse, it seems the text box will display "invalid value" even when manually entering the name of a valid (and access-rule authorized) key vault.

[2019-09-03 12:56] lukos opened #5465 "Unclear why github is the selected repository"
I am trying to follow these steps for code that is stored in Azure Devops code but it doesn't work and the Configure tab is not available. It is unclear but I am assuming that for some reason this only works with github, in which case this needs to be made much more clear. If there is no way to build code/Dockerfile from Azure Devops and push it to ACR, then Pipelines is no use for a proper CD pro

[2019-09-03 13:25] #5150 closed

[2019-09-03 14:19] alenroki opened #5466 "Unclear wording of variable precedence"
I think the wording "highest precedence first" could be explained a bit better. Highest precedence is mentioned but the three items below are prefixed with a number, so it could be understood as the last item with number 3 has the highest precedence.
Also, it is worth noting that setting the Scope under Variables overrides this precedence. Fx. if setting variable Var1 under Variables to Scope eg.

[2019-09-03 14:30] ashokirla commented on #5171
@danpetitt - Thanks for the feedback. Today we don't have automated trigger support for github release artifact. However, we have it in our backlog. We will update you once the support is available.

[2019-09-03 14:59] roofers commented on #5462
Hi @misd92 - There currently isn't a way to stop an import that's already running. You will have to wait for the currently running import to finish or open a customer support ticket to have the import cancelled.

[2019-09-03 15:14] jasoncoding commented on #3884
I was looking for how to add a public myget feed to a devops build.  I don't need a private feed, don't need credentials.  I failed to find how to do this.  The simplest way ended up being to commit a nuget.config file to my solution root.  I found my user file (on windows) at %appdata%\nuget

Be interesting to know if there is a yaml only way of doing this without pointing to a nuget.config

[2019-09-03 15:39] pulimento commented on #2129
@Dsanders1 can't make it work with your script. It fails because of the plist step. My working script:

      echo "Setting Xcode version to 10 for Visual Studio for Mac"
      sudo xcode-select -s /Applications/Xcode_10.2.1.app/Contents/Developer

      echo "Appending AppleSdkRoot to Settings.plist"
      mkdir -p /Users/vsts/Library/Preferences/Xamarin
      cd /Users/vsts/Library/Preferences/X

[2019-09-03 15:46] chcomley commented on #5433
Thanks for reaching out, @yzorg, we'll look into this and be in touch.

[2019-09-03 15:47] #5424 closed

[2019-09-03 16:01] PierreC2 opened #5467 "Getting Complete Commit Messages to be displayed"
In the Commit History page, if you hover the mouse over a commit message, you see a tool tip ending with [Click message to see more] but if you click on the link, you are presented with the commit's files differences but you cannot  view the complete commit message.  I am missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-03 16:29] #4130 closed

[2019-09-03 16:33] chcomley commented on #5444
Hi @slushhpuppy, Thanks for reaching out. I'll follow up on this and be in touch.

[2019-09-03 16:39] StingyJack opened #5468 "Regarding the rev with leading zeros..."
Nuget pack will strip them out if you are using build number for package version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57f8545-bb15-3a71-1876-3a9ec1a59b93
* Version Independent ID: 28c87c8d-c28d-7493-0c7c-8c38b04fbcd7
* Content: [Run number - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pip

[2019-09-03 16:43] chcomley commented on #5386
Hi @Gismork, I'm looking into this and will be in touch. Thanks for reaching out.

[2019-09-03 16:47] chcomley commented on #5412
Hi @richardjortega, Thanks for reaching out. I'll look into this and be in touch.

[2019-09-03 16:49] chcomley commented on #5402
Hi @securityvoid, Thanks for reaching out. I'll look into this and be in touch. Thanks!

[2019-09-03 16:57] chcomley commented on #5350
Hi @jarek91, I'll look into this and be in touch. Thanks for reaching out!

[2019-09-03 17:17] chcomley commented on #4087
Hi @jordynniara, I'm sorry it didn't work for you. Please [contact Support](https://visualstudio.microsoft.com/vs/support/#talktous). Thanks and best of luck to you.

[2019-09-03 17:25] chcomley commented on #5402
Hi @securityvoid, The groups are just the standard short-list of groups that exist for all projects: Contributors, Readers, Administrators. We don't give the full list of groups for each project. If you want to add folks from one group to another group, you can add the whole group to the parent group. As users get added to the child group they automatically get added to the parent group. A Group R

[2019-09-03 17:28] chcomley commented on #5436
Hi @Bafff, Thanks for reaching out. I'm following up on this and will be in touch.

[2019-09-03 17:52] chcomley commented on #5412
@richardjortega, I've updated the article, which should be live this afternoon. Thanks so much for your input!

[2019-09-03 17:57] chcomley commented on #5361
Hi @PramodMn007, I think what you want to do is add a hub contribution that targets this: ms.vss-web.collection-admin-hub-group

Please see more information [here](https://docs.microsoft.com/en-us/azure/devops/extend/reference/targets/overview?view=azure-devops). Do let us know whether you have further questions please! Thanks!

[2019-09-03 19:56] lincolnzocateli commented on #3782
I'm a DevOps admin for the company I work for, the company is big, has AD integrated with DevOps. The PAT used on agent (on-premises) was generated by me, but if I'm no longer in AD tomorrow, how will DevOps handle the PAT generated for this agent? How can we generate a PAT for a service user who would not be connected to a person?

[2019-09-03 20:06] #5412 closed

[2019-09-03 21:42] chcomley commented on #5319
Hi @saciervo, I've published an update to the article, adding information for Azure DevOps Server 2019. I'm hoping the link that was previously sent to you answered your question. The update should be live sometime within the next few hours. Thanks!

[2019-09-03 22:23] chcomley commented on #5386
Hi @gismork, We've published recent changes to this article, including the dlls in the different nuget packages. Does this information help? Thanks!

[2019-09-03 22:46] WilliamAntonRohm commented on #5434
Thanks for your questions. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-09-03 22:46] #5434 closed

[2019-09-03 23:22] TroySchmidt commented on #4486
I have found a workaround for this.  What I did was add the computers that I needed to deploy to as normal agents and _not_ part of a deployment group.  The other secret is that `deployment` by default downloads all artifacts so you have to use the special syntax there for it to only download specific file(s).  This deployed the IIS app to a provisioned instance in our AWS cloud.  I only have one

[2019-09-04 00:10] WilliamAntonRohm commented on #5450
@bpellens -- Bram, thank you for your feedback. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@apawast -- please look into the wildcard documentation.

[2019-09-04 00:11] WilliamAntonRohm commented on #5451
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 00:11] #5451 closed

[2019-09-04 00:16] WilliamAntonRohm commented on #5457
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 00:16] #5457 closed

[2019-09-04 00:17] WilliamAntonRohm commented on #5458
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 00:17] #5458 closed

[2019-09-04 02:21] BrightRan opened #5471 "Path contains some special characters"
If my path name contains some special characters (such as *,?, +, @, !), named meta characters in Regular expression, how can the pattern to match the path?
For example:
paths:
test/myfolder/another/second.csproj
test/!prototypes/example/first.csproj

Need to exclude "test/!prototypes/example/first.csproj"
It seems that the pattern "!test/!prototypes/example/first.csproj" does not work.
In Regular

[2019-09-04 04:10] MarkIannucci commented on #3782
@lincolnzocateli , I had a similar question.  The [documentation indicates](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#server-url-and-authentication) that the PAT is only used for initial configuration.  Once the agent is running, it does its own authentication thereafter.

[2019-09-04 04:51] matthewfcarlson opened #5472 "Global Cache"
We several build pipelines (PR, CI, etc) and would love to have a common cache instead of making having logic for each to generate the caches needed. If we could have a CI pipeline that created the cache object and then the other pipelines just read that, it would be amazing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-04 04:53] WilliamAntonRohm commented on #5461
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 04:53] #5461 closed

[2019-09-04 04:54] WilliamAntonRohm commented on #5462
@misd92, thank you for your feedback.

@roofers, thanks for your answer.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-04 04:54] #5462 closed

[2019-09-04 04:55] WilliamAntonRohm commented on #5463
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 04:57] WilliamAntonRohm commented on #5467
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 04:57] #5467 closed

[2019-09-04 04:58] WilliamAntonRohm commented on #5471
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 04:58] #5471 closed

[2019-09-04 04:59] WilliamAntonRohm commented on #5472
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-09-04 04:59] #5472 closed

[2019-09-04 05:00] WilliamAntonRohm commented on #5442
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 05:01] WilliamAntonRohm commented on #5468
@StingyJack  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-04 05:02] WilliamAntonRohm commented on #5443
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-04 05:43] Baylife101 commented on #4486
I was working on something similar, but as far as i can tell there's 3 major differences.
1. It only deploys to the first available target, thus not really a group.
2. People in your org might fuck up and use the new agent for building as well thus resulting in source code being available on the production servers.
3. Since it's a normal agent it will consume a "parallel job" if multiple project h

[2019-09-04 05:48] adramasu commented on #5433
Hi @yzorg, we have documented only markdown syntaxes in this document. There is no documentation explicitly for HTML syntaxes.

[2019-09-04 07:54] hjfitz commented on #5463
Hey - I'm working through an issue *due* to the documentation - I've set my file up according to the documentation, but the expected outcome differs from what the documentation would suggest.

[2019-09-04 07:55] paulnuk commented on #5229
I do think the gradle documentation needs updating - there needs to be an example of how to use it in the real world. In the example given it appears to be the case that if you do a build it will cache the result but if you then change anything in your source branch it will use the cached build. It doesn't seem to fit in with Gradle's idea of a build cache (e.g. if I change one test case Gradle wo

[2019-09-04 09:32] biltongza opened #5473 "How do I escape backticks within code snippets?"
I am trying to demonstrate using string interpolation in a typescript file, which uses the backtick character to turn on the feature. I have tried using `\`string/${myVariable}\`` but that does not work and instead shows just the first backtick in the code snippet and then the rest of my string as plain text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-09-04 09:33] mimatn commented on #2141
Only Maven Central is enabled; you can't add Maven custom upstreams. That is... quite limiting to say the least: JCenter, Gradle Plugin repository and Spring repository are major sources that contain additional material to Central.

[2019-09-04 11:01] StingyJack commented on #5443
No, I'm questioning what looks like a poor recommendation.

[2019-09-04 11:06] StingyJack commented on #5468
It's a note for others, so they don't get burned by it also.

[2019-09-04 11:15] StingyJack commented on #5442
@WilliamAntonRohm - what is the title of this?

What do you think is being asked for here?

Hint: A screenshot of a particular feature.

Please stop pasting that same block of text on every issue I open. Whatever personal assessment or comprehension that is cue-ing you into posting it is incorrect.

[2019-09-04 11:30] subashsivaji opened #5474 "Adding secrets during the release..."
Following is a scenario release pipeline,
1. azure key vault task
2. deployment task X
3. az keyvault secret set --vault-name 'ContosoKeyVault' --name 'StorageConnection' --value 'Pa$$w0rd'
4. deployment task Y
5. deployment task Z
......
Will my secret "StorageConnection" be available for deployment task Y and Z automatically? Or should add another azure key vault task after step 3 to get the lat

[2019-09-04 11:39] mkajerski commented on #5322
Using variables['Build.Reason'] as a condition for the publishing steps should do the trick, e.g. in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI')) for CI and in(variables['Build.Reason'], 'PullRequest')) for PR triggered builds.

See https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml

[2019-09-04 12:14] N-Usha commented on #5474
Please add another instance of keyvault task if you need the tasks Y & Z to use latest downloaded secret fetched from the Azure Key vault. Alternatively, if all of the above mentioned tasks are in the same job, please refer to [this doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-in-script) to define a variable that it can be c

[2019-09-04 12:15] assafsl opened #5476 "Missing instruction on consuming a package using the CLI"
https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops

It is not clear if and how you can add a package to your project using `dotnet package add...`

[2019-09-04 12:42] StingyJack commented on #5442
@WilliamAntonRohm - Reopen this and add a screenshot as well as the instruction or note that you can only get to the override branch policy function when the PR is "Completed" and not set for Auto-Complete.

[2019-09-04 12:54] optiks opened #5477 "Markdown?"
Do the instructions support Markdown? I'd like to include hyperlink to the environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1c633b9-c8b2-e05d-de2c-7754894d28fd
* Version Independent ID: df031b76-0fe7-e138-dd36-2736757a97fd
* Content: [Manual Intervention task - Azure Pipelines](https://docs.microsoft.com/en

[2019-09-04 12:54] eriktack opened #5478 "REST API support for stages"
Is there any REST API support for multi-stage pipelines (builds)? Will the stages be queryable in some way by using the API?
I can not see any information about stages here: https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get?view=azure-devops-rest-5.1#build

Is there a newer version of the API available with stage data, or is there a separate endpoint for multi-stage pipelines

[2019-09-04 13:51] henry-padilla commented on #4922
Any ETA on when this is going to get fixed? I need to know what to put where and this documentation isn't helping.

[2019-09-04 14:00] erinha commented on #5322
Thanks, that worked!

[2019-09-04 14:11] stephenmichaelf commented on #4613
This has been fixed.

[2019-09-04 14:11] #4613 closed

[2019-09-04 14:32] RoopeshNair commented on #5477
No the instructions do not support mark down they are just plain text

[2019-09-04 14:32] #5477 closed

[2019-09-04 14:40] xmnlab opened #5479 "sudo docker is still the old docker"
I installed the docker as described in the documentation and it seems it worked very well.

but I need to run a command using sudo .. and that runs docker (maybe using also sudo docker) .. but the docker reached is the old docker ... is there any workaround for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3637

[2019-09-04 14:57] henry-padilla commented on #4632
You can also get the pipelineId from the URL when viewing the pipeline.
Be careful: if you are viewing a specific run you will see the runId, not the pipelineId. View the pipeline list of runs and that will be the pipelineId.
In keeping with the random names approach it's called 'definitionId' in the URL.

[2019-09-04 15:24] Andy9874 opened #5480 "Azure DevOps - Restrict modification of work items based on a user or group - System.State"
I'm using Azure DevOps and trying to apply the rule "Restrict who can create specific work item types, such as Epics or Features". Under "Actions" for "Make read-only" I don't have the "State" or "System.State" field available to me. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b9a3085-d952-f4ba-e7c5-88

[2019-09-04 15:35] chasewilson commented on #653
@Advanium, thanks for the feedback and I'm sorry for the late response! Have you updated to use the publishPipielineArtifacts and are you still struggling with the same issues?

[2019-09-04 16:00] henry-padilla opened #5481 "How do I get a runId from a build number?"
I can't task my QA with getting the runId when we want to deploy a build. How do I get a runId from a Build.BuildVersion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Content: [Download Pipeline Artifact task - Azure

[2019-09-04 16:18] chasewilson commented on #4922
Hi @sonofhammer, @MisinformedDNA, @djee-ms, @henry-padilla, thank you all for the feedback! You are correct and the documentation should reference the aliases and I will be updating shortly. There is some behind the scenes stuff happening today so if it isn't live today, it should be by tomorrow.

[2019-09-04 16:20] chasewilson commented on #4922
@djee-ms, I believe the argument names listed in the snippet should work. do you have any more information in your situation you can share?

[2019-09-04 16:30] chasewilson commented on #4770
Hi @ alexkibler, @Anand-Moghe, take a look at [this issue](https://github.com/MicrosoftDocs/vsts-docs/issues/4993) and see if it answers your question.

[2019-09-04 16:39] davidtom commented on #3333
Hi @vtbassmatt, I am so sorry for the delayed response on this.

I have not turned on `set -x` anywhere in the `azure-pipelines.yaml` file. If there is another place that it could be set I can check for it, but as far as I'm aware it shouldn't be on.

[2019-09-04 16:53] asasine opened #5482 "Denying Read permission at the branch-level"
Is it possible to deny a user or group permission to read specific branches within a repo while allowing them to read the remaining contents of the repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68686c2b-c69a-d9e4-3e21-a46d231b649c
* Version Independent ID: 049659da-1772-3166-f909-4feeb8a97730
* Content: [What ar

[2019-09-04 17:19] djee-ms commented on #4922
@chasewilson > Weirdly enough I am pretty sure that it used to work some weeks/months (?) ago, but reusing that same yaml template again now fails. So possibly a regression with aliases on your side? In any case switching to the ones not in the snippet worked, so I didn't bother more.

[2019-09-04 17:37] WilliamAntonRohm commented on #5463
@hjfitz -- Harry, thank you for the clarification.

[2019-09-04 18:01] henry-padilla opened #5483 "System.AccessToken needs new link"
https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/powershell.md#oauth
... needs to change to ...
https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/powershell?view=azure-devops#use-the-oauth-token-to-access-the-rest-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4a

[2019-09-04 18:18] #5402 closed

[2019-09-04 18:18] #5361 closed

[2019-09-04 18:19] #5319 closed

[2019-09-04 18:24] chcomley commented on #5473
Hi @biltongza, Thanks for reaching out and sorry you're experiencing an issue. I'm following up with my PM and will be in touch ASAP. Thanks!

[2019-09-04 18:30] msebolt commented on #5468
@StingyJack Are you using **byBuildNumber** as the versioning scheme (see [nuget](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#yaml-snippet))?

If so, this should be filed as a bug in the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo.

@thomps23  Issue needs to be transferred.

[2019-09-04 18:33] chcomley commented on #5436
Hi @bafff, This [link](https://docs.microsoft.com/en-us/azure/devops/project/wiki/wiki-file-structure?view=azure-devops#order-file) has details to help you ensure that the order file is formed correctly. Please navigate to the repo and ensure that the order file entries match the required hierarchies. Let us know if you have any further questions. Thanks!

[2019-09-04 18:39] #5433 closed

[2019-09-04 18:44] clisc opened #5484 "What wildcard is used for recursion?"
For example, I want to run a build for check-in validation if any change was made to any file in the src/ directory, recursively.

The documentation only talks about src/* which appears to only include changes directly under the src/ directory.  What about recursion?  Does src/** work?  If so, can this be added to this doc?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-09-04 19:01] msebolt commented on #5479
@xmnlab  Thank you for the question.

Please try finding the location of the docker daemon and running it using the absolute path.

The code uses `azure-pipelines-tool-lib/tool` but I'm not familiar with .ts files.

[2019-09-04 20:15] hoffmanntravis commented on #4486
Agreed with @TroySchmidt  and @Baylife101 .  Those are the exact circumstances we found ourselves in.  Honestly at first I thought I just didn't understand the tool well enough and hadn't found the appropriate YAML keyword / function.  Eventually we looked at agent pools but the solution was not at all elegant and seemed about the equivalent of using a wrench to pound a screw into the wall; could

[2019-09-04 20:24] msebolt commented on #5482
@asasine Thank you for the question.

Please take a look at [branch permissions](https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-permissions?view=azure-devops#use-the-branches-view-to-configure-security) for how to configure security on individual branches.

[2019-09-04 20:34] Advanium commented on #653
@chasewilson Thank you. I didn't have the chance to try the build pipeline again, but the steps provided by @iyerusad sound reasonable and look like a good approach to parallel multi-configuration builds.

Donovan Brown has a

I figure that it's more of a lack of experience with the product than a lack in documentation, so I'll close this issue.

[2019-09-04 20:34] #653 closed

[2019-09-04 20:40] onovotny opened #5485 "performMultiLevelLookup default's are not documented"
the description for performMultiLevelLookup talks about checked or unchecked but doesn't say what the default is. I assume the value should be `true`/`false`, but that's not specified either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9660c58-3366-f1be-8380-d6cf1d3c0150
* Version Independent ID: 226a4fd8-bce8-3333

[2019-09-04 20:55] msebolt commented on #5485
@onovotny  Thank you for the question.

You are correct, the value should be `true` or `false` and the default value is `false`.

Changes to the documentation are pending.

[2019-09-04 20:55] xmnlab commented on #5479
hey @msebolt thanks for the feedback.

just to add more details: the command I am running is `minikube start --vm-driver=none` .. using `--vm-driver=none` needs `sudo` to run ... and internally it runs `sudo docker .. `

as it is a binary .. I cannot change this call .. as you can see in this example: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go#L87

[2019-09-04 21:04] asasine commented on #5482
The branch permissions article does not mention how to deny a user or group the read permission for specific branches.

[2019-09-04 21:07] steved0x commented on #5463
@hjfitz I can't see your YAML file, can you paste in the pr trigger parts here? The triggers should go in the azure-pipelines.yml, unless you have explicitly configured your pipeline to use another file with a different name.

A common reason the YAML triggers don't fire is that they are overridden in the Pipeline settings, documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/

[2019-09-04 21:16] steved0x commented on #5463
@hjfitz I was able to see this file in the master branch:

https://github.com/hjfitz/spoticli/blob/develop/.pipelines/pr.yml

[code]

This looks right to me, if the `pr.yml` is the file you have configured in your Pipeline (click Edit on the pipeline and you can see the file there)

![image](https://user-images.githubusercontent.com/1580889/64291998-64a1ff80-cf37-11e9-8e1d-63e34b391375.png)

If yo

[2019-09-04 21:23] steved0x commented on #5362
@PaulVrugt That is a good question, I believe it is the scheduled triggers in the YAML file that is in the default branch that are evaluated to determine the branches to build. Let me confirm, and whatever I find out I'll update you here and also add a note to the documentation.

[2019-09-04 21:32] jmoser11 opened #5486 "Installation Instructions for .vsix Files"
Please add instructions for installing Extensions via offline .vsix files. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4290c10-4f12-f4f2-a189-4395fbe5525b
* Version Independent ID: 41204723-bd4b-270d-f13f-df961c565ca9
* Content: [Install extensions](https://docs.microsoft.com/en-us/azure/devops/marketplace/

[2019-09-04 21:57] Launcelot555 opened #5487 "Documentation unclear for --once flag"
The documentation implies --once should be used as part of .\config.cmd when, in fact, it should be used at part of .\run.cmd.

E.g. .\run.cmd --once for a one-time run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version Independent ID: 97a5b73f-faf7-f9c0-9269-fc79984616d6
* C

[2019-09-04 22:43] chcomley commented on #5486
Hi @jmoser11, Thanks for your suggestion. I'll look into this and be in touch soon. Thanks again!

[2019-09-04 22:44] msebolt commented on #5482
Apparently this can only be done at the repo level, since Git branches are only pointers to commits.

More from [post](https://stackoverflow.com/questions/53560134/is-it-possible-to-hide-branches-in-azure-devops-for-specific-users) on StackOverflow.

[2019-09-04 22:51] asasine commented on #5482
Great, thanks for the clarity

[2019-09-04 23:08] chasewilson commented on #4922
@djee-ms Hmm looking at the task here, it doesn't seem like it shouldn't work. I'm glad you have a working pipeline though :) if you do feel like opening and issue with the developer community here, it's always appreciated!

@sonofhammer, @MisinformedDNA, I'm finishing up the corrections now. Thank you for the feedback and please feel free to open a new issue you if you have anything else! I'll be

[2019-09-04 23:08] #4922 closed

[2019-09-04 23:31] lashtear opened #5489 "Exterior matrix variables not working from inside templates"
Is there a way to pass variables defined in a matrix strategy to template invocations? `${{ parameter.foo }}` references only what it was sent to, e.g. invoking with `foo: $(bar)` will yield a literal `$(bar)` inside the instantiated template, and the variable does not automatically propagate, as best I can tell.  Forcing compile time eval of parameter settings, e.g. invoking with `foo: ${{ variab

[2019-09-04 23:33] msebolt commented on #5480
@Andy9874  Thank you for the question.

States are integrated into the workflow and are not meant to be read-only.  The `System.State` in the article refers to a custom field the author created.

To restrict access to work items, either use [work areas](https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-permissions-access-work-tracking?view=azure-devops) or use your rule abov

[2019-09-04 23:42] #5333 closed

[2019-09-04 23:42] msebolt commented on #5333
Documentation has been updated.

[2019-09-04 23:43] #5406 closed

[2019-09-04 23:44] #5408 closed

[2019-09-04 23:46] msebolt commented on #5482
Sure, no problem.

If there are any further issues please create another issue or post a comment below.

[2019-09-04 23:46] #5482 closed

[2019-09-04 23:52] msebolt commented on #5464
@tinohager  Thank you for the feedback.

The link is working now.

[2019-09-05 00:12] JllyGrnGiant commented on #5444
Hello @slushhpuppy!
Thanks for the feedback.

The widget styles documentation and widget extension support was written before theming was introduced in Azure DevOps.

Theming support for extensions was introduced with the new [Azure DevOps Web Extension SDK](https://github.com/Microsoft/azure-devops-extension-sdk), but currently widget extensions only support the [old extension SDK](https://github

[2019-09-05 00:19] Dann1112 opened #5490 "Duplicated content in first Note of the article"
Duplicated content in first **Note** of the article

**ACTUAL:**
Area Paths and Iteration Paths are also referred to as Classification Nodes. You can manage them programmatically via the Classification Nodes (REST API) or the Azure DevOps CLI commands, az boards area (Azure DevOps CLI) and az boards area (Azure DevOps CLI).

**SUGGESTED:**
Area Paths and Iteration Paths are also referred to as Cla

[2019-09-05 01:50] baoduy opened #5491 "PR Trigger for all Release branches on Azure Git Repo"
Hi **AzureDevOps**

Let's say I defined an PR build for code review purposes and would like to trigger for all Pull Request for all Branches which contains **_Release** in its name for Azure Git Repo. How could I config the trigger for this purpose.

_Thanks
Duy_

[2019-09-05 02:36] StingyJack commented on #5443
@WilliamAntonRohm

[2019-09-05 02:54] msebolt commented on #5237
The [Azure functions deployment](https://docs.microsoft.com/azure/azure-functions/functions-how-to-azure-devops) has the `azureSubscription` parameter that should allow another subscription to be used.

Vice-versa, the [Azure Function app deployment task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops#deployment-methods) also supports an `azureS

[2019-09-05 03:32] msebolt commented on #5491
@baoduy  Thank you for the question.

You should use:

[code]

See topic [wildcards](https://docs.microsoft.com/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#wildcards) for more information.

[2019-09-05 04:06] clix455 opened #5492 "The example in the dependencies section is not consistent with the section"
In the Dependencies section, when switching to the 'Classic' option, it is using the 'Release Pipeline' as the demonstration example for dependencies, unfortunately 'Release Pipeline' does not support Job dependencies. 'Build pipeline' would be a better example for demonstrating 'Dependencies'.
Also, this example is more about 'Conditions', rather than dependencies, it is not the best section for

[2019-09-05 05:59] PramodMn007 commented on #5361
It worked... Thanks a lot...

[2019-09-05 06:12] raiyanalam commented on #3288
Hi Olileger,
    Apologies for the delay and thanks for raising this.
 The need to run at least one PR release for status policy is a standard practice also followed by other repositories like GitHub. Since this looks a bit off, we have explicitly mentioned this requirement in the documentation. As for the pattern, we didn't find the need to write the pattern in words as it is highlighted in the i

[2019-09-05 06:12] raiyanalam commented on #3288
#please-close

[2019-09-05 07:17] hjfitz commented on #5463
Hey @steved0x, thank you for the detailed reply!

I think that the setting was switched off on DevOps... My bad 😬. The article you posted about that is really useful - thank you!

I just had one last question that the docs didn't cover - if that's alright. When setting up a PR trigger, do I also need `trigger: none` in the config? Similarly, if I'm setting up a push trigger, do I need `pr: none`?

[2019-09-05 07:52] cgreenza opened #5493 "Example for running command in service container"
Please add an example of how one can run a command (or startup script) in a service container i.e. the equivalent of using docker exec

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1c794c-d676-fc7e-758e-3464f16a1554
* Version Independent ID: 941de04a-2d34-ec82-8612-00e4070de673
* Content: [Service Containers - Azure

[2019-09-05 08:12] tinohager commented on #5464
@msebolt It isn't working on my test

[2019-09-05 08:53] mengyang88 opened #5495 "update the documentation to reflect that the Docker template is accessible after enabling the Multi-stage pipeline from preview features"
[Suggestion] update the documentation to reflect that the Docker template is accessible after enabling the Multi-stage pipeline from preview features

[2019-09-05 09:55] PramodMn007 opened #5496 "Is there any Rest Client to obtain Agent Details?"
I'm working on a extension to provide details of all Agent Pools and Agents , Though we can achieve this using Rest API's , I'm wondering whether I can achieve this using Rest Client?

[2019-09-05 10:26] abrignola commented on #3873
Feels a bit clunky having to always manually input the variables. Wouldn't it be easier if there was a flag or something to mark the variables that can be set at queue time and this will display them just like in the old version?

[2019-09-05 12:04] N-Usha commented on #3778
Closing this as the doc has been enhanced with the pre-req details for private build agent. Thanks!

[2019-09-05 12:06] N-Usha commented on #4396
Can be closed the documentation has been updated

[2019-09-05 12:08] N-Usha commented on #4463
Documentation updated: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureResourceGroupDeploymentV2#deployment-outputs

[2019-09-05 12:08] #4396 closed

[2019-09-05 12:08] #4463 closed

[2019-09-05 12:09] N-Usha commented on #4615
Can be closed as the customer query is answered.

[2019-09-05 12:09] #4615 closed

[2019-09-05 12:09] #3778 closed

[2019-09-05 12:12] #4910 closed

[2019-09-05 12:13] #5075 closed

[2019-09-05 12:21] StingyJack commented on #5468
@msebolt - the notice/warning is better served in the places where the bit of functionality at topic will run or be run afoul by a commonly used module.

It's not an issue to the nuget team, they expect to break several things with this version "normalization" and have done it by design - and are not willing to back down on that position.

It's not an issue worth fixing to the build task team beca

[2019-09-05 12:31] kirkone opened #5497 "--once is not a parameter for config"
Hello,

the parameter `--once` can not be used while configuration.
It can only be used for run.

Please have a look here:
https://github.com/microsoft/azure-pipelines-agent/issues/1997#issuecomment-468110209

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23328b13-f079-ad21-5d7a-6c640f25391c
* Version Independent ID: 4

[2019-09-05 12:33] TroySchmidt commented on #4486
@hoffmanntravis For approvals and the environment you are just using an empty environment.   Once the environment is created then it doesn't need resources to control approval workflow.  What you do is add the 'checks' to the environment for manual approval.  Once you include that environment in the deployment stage then it is there.  So there doesn't have to be any resources assigned to the envir

[2019-09-05 14:30] DotNetSparky commented on #5484
A single asterisk is automatically recursive...

[2019-09-05 14:32] steved0x commented on #5463
@hjfitz You can use both `trigger` and `pr` in the same pipeline and on the same branch (although you may get some duplicate builds), so you don't need to set `none` for either type, unless you specifically don't want any of that type on a certain branch.

My pleasure and I'll see if I can't add some more crosslinking from the triggers topic to the specialized topics that cover triggers on GitHub

[2019-09-05 14:32] #5463 closed

[2019-09-05 14:44] msebolt commented on #5314
Sorry for the delay, I haven't been able to get this to work and I'm not sure filtered arrays should even be included if arrays can't really be worked with in this fashion.

Re-assigning to the author.

[2019-09-05 14:54] msebolt commented on #5497
@kirkone  Thank you for the feedback.

Please refer to open issue https://github.com/MicrosoftDocs/vsts-docs/issues/5487.

[2019-09-05 14:54] #5497 closed

[2019-09-05 15:09] zackAtPEX commented on #4446
Please add instructions for getting agent info without using the UI. On prem rest api doesn't look to have the methods and I'm not sure which cmd/powershell utility to use. At least include a link?

[2019-09-05 15:09] bbarry opened #5498 "upstream sources advantages vs republished sources?"
We have a business need to manually approve every (external) upstream change before we start using it and only allow our developers to use an approved whitelist of packages and versions.

The two ways I can see to do this are either:

1. disable all pipelines and halt all development, enable an upstream source and pull the new package through and then disable it; making sure no additional upstream

[2019-09-05 15:11] clisc commented on #5484
I see, I must have missed the part about forward slashes and back slashes, or it didn't immediately process to me that it meant recursion.  Thanks!

[2019-09-05 15:11] #5484 closed

[2019-09-05 15:11] msebolt commented on #5464
@tinohager Sorry for the confusion, the link is a private repo.

[2019-09-05 15:12] msebolt commented on #5464
Re-assigned to the author.

[2019-09-05 16:05] chcomley commented on #5444
Hi @slushhpuppy, I rather enjoy your username. :) I'm going to be closing this issue. Do let us know if you have any further questions! Thank you!

[2019-09-05 16:05] #5444 closed

[2019-09-05 16:14] #5436 closed

[2019-09-05 16:27] brandonaut opened #5499 "Unclear `tags` usage"
The description of the `tags` field could be clarified that it's filtering on "Build tags" not "Git tags". It would also be helpful to note that it doesn't accept glob syntax for tag filtering, only tag literals.

Also there's a typo in the tags description: "coma-delimited" -&gt; "comma-delimited"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-09-05 16:38] Bossmojoman opened #5500 "Someone must view a page in your organization regularly for CI and scheduled builds to run. Is this an April fools joke?"
The docs state:

"Someone must view a page in your organization regularly for CI and scheduled builds to run. It can be any page, including, for example, Azure Pipelines.

Your organization goes dormant five minutes after the last user signed out of Azure DevOps. After that, each of your build pipelines will run one more time. For example, while your organization is dormant:

A nightly build of co

[2019-09-05 16:39] RoopeshNair commented on #4379
@shashban

[2019-09-05 16:39] mikeblakeuk commented on #5184
@vijayma any news on this?
Will "Releases" go away and we use yml pipelines for builds and deployments?

[2019-09-05 16:41] #5500 closed

[2019-09-05 17:04] steved0x commented on #5373
@JunielKatarn `c:\agent_work` is the correct folder, is it different for you and causing trouble in your pipelines? I am closing this issue, but if your issue isn't resolved, please reactivate and and provide more details, and we can look into it further. Thank you.

[2019-09-05 17:04] #5373 closed

[2019-09-05 17:11] SudoBrendan commented on #5405
Good call. Confirmed this. Use 400!

[2019-09-05 17:34] HeliosLHD commented on #5437
correction.  may not be an issue.  the example is confusing since each object in the array has a different structure, so picking the second object as ".1" is correct.

[2019-09-05 17:34] #5437 closed

[2019-09-05 17:42] vijayma commented on #5184
You have a choice - of using Pipelines and YAML for builds and deployments, or using classic Release as it exists now. At some distant point in the future, we might hide classic builds and releases for new users, but there are no plans of removing them for anyone that wants to use them.

[2019-09-05 17:44] WilliamAntonRohm commented on #5495
@mengyang88  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-05 17:45] WilliamAntonRohm commented on #5496
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-05 17:45] #5496 closed

[2019-09-05 17:46] WilliamAntonRohm commented on #5498
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-05 17:46] #5498 closed

[2019-09-05 17:57] denhsu opened #5501 "Question: Is there a way to run this Azure Key Vault task with a cert?"
We have SSL inspection turn on in our on-premise environment.  We are able to run the self-hosted agent with a cert using this command ".\config.cmd --sslcacert cacert.pem" as you can see from
2019-09-04T20:36:49.2001937Z ##[debug]Agent.CAInfo=C:\Users\DH56022\Downloads\vsts-agent-win-x64-2.155.1\cacert.pem

However, when we ran the Azure Key Vault task, we are still getting this "Error: self sign

[2019-09-05 18:03] mpalumbo7 opened #5502 "Invalid YAML in environment example"
The YAML in section #targeting-a-specific-resource-within-an-environment-from-deployment-job is invalid.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec01d88087
* Content: [Environment - Azure Pipelines](https://docs.micr

[2019-09-05 19:27] pauldoom opened #5503 "Variables converted to all-caps in deployment jobs for Bash steps"
A variable named "something" will be "something" for normal bashs steps, but will be "SOMETHING" inside a deployment job.  This is particularly annoying for variables like "http_proxy" which must be lowercase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID:

[2019-09-05 19:29] WilliamAntonRohm commented on #5501
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-05 19:29] #5501 closed

[2019-09-05 19:32] WilliamAntonRohm commented on #5503
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-09-05 19:32] #5503 closed

[2019-09-05 19:40] kirkone commented on #5430
I had the same thing in mind.

If you want you can have a look here how I implemented this approach here:
https://github.com/codez-one/docker-azure-pipelines-agent

[2019-09-05 20:17] MarkIannucci opened #5504 "If a user is in a group that is granted the visual studio subscription access level, and doesn't actually have a visual studio subscription, do they fall back to the stakeholder access level?"
We would like to only maintain our visual studio subscriptions in one place (the visual studio subscriber portal), and we want a bunch of people to have stakeholder access to Azure Devops.  So if we have a bunch of users in an AD group some of them have VS subscriptions and some don't will people who have VS subscriptions assigned to them get the appropriate VS Subscriber access when they login?

[2019-09-05 21:01] steved0x commented on #5362
@PaulVrugt Scheduled triggers are added when the following things happen:

* A new pipeline is created or updated
* The yaml file is created or updated
* A new branch is created

Consider you have the master branch, with a scheduled trigger that includes the master branch. This schedule is added to the internal database and builds run per that schedule, and if/when the yaml file is updated, it rea

[2019-09-05 21:02] chcomley commented on #5504
Hi @marklannucci, Thanks for reaching out. Yes, anyone with a VS subscription will get it when they sign in to Azure DevOps, regardless of the group (unless its one that happens to increase their access, ie. a Pro subscriber with a group rule that grants them Basic + Test Plans). If you set up a group rule that assigns Stakeholder to everyone, anyone with a subscription will get it, and everyone e

[2019-09-05 21:17] msebolt commented on #5483
@henry-padilla Thank you for the feedback.

The documentation has been updated.

[2019-09-05 21:17] #5483 closed

[2019-09-05 21:17] msebolt commented on #5485
The documentation has been updated.

[2019-09-05 21:17] #5485 closed

[2019-09-05 21:18] msebolt commented on #5490
@Dann1112 Thank you for the feedback.

The documentation has been updated.

[2019-09-05 21:18] #5490 closed

[2019-09-05 21:20] #5459 closed

[2019-09-05 22:27] tillig opened #5505 "DownloadPipelineArtifact@2 - YAML not consistent with parameter table"
The YAML snippet shows the following inputs for `DownloadPipelineArtifact@2`:

- `buildType`
- `project`
- `definition`
- `specificBuildWithTriggering`
- `buildVersionToDownload`
- `branchName`
- `pipelineId`
- `tags`
- `artifactName`
- `itemPattern`
- `targetPath`

However, the table below it lists:

- `source`
- `preferTriggeringPipeline`
- `artifact`
- `patterns`
- `path`
- `project`
- `pipelin

[2019-09-05 22:28] tillig commented on #5505
`tags` is also described as "coma-delimited" which is either a typo or a really, really long time between tags. :)

[2019-09-06 00:41] Csmithson-qh commented on #3702
Throwing in my vote for this feature as well!

[2019-09-06 04:40] adramasu commented on #5473
Hi @biltongza
Please try the following and let us know if this works.
![image](https://user-images.githubusercontent.com/39327028/64401442-92e62300-d08e-11e9-8f3d-617440d9ad48.png)
cc: @chcomley

[2019-09-06 06:36] PaulVrugt commented on #5362
So it simply reads the yaml file of all branches and unions the branche names in all yaml files to determine what branches to build?

[2019-09-06 07:25] MightyPen opened #5506 "Terminology discrepancy is confusing, 'team' vs 'project' ?"
In the header section named 'Add a work item using a template', the first step tells us to open the settings for a "team".  But the associated screenshot has a red circle around "Project settings". Which is it, 'team' or 'project'?
(PMs may have been changing their minds about terms after documentation was written.)

If 'team' and 'project' are synonyms, it might be less confusing to:
- Choose one

[2019-09-06 08:04] hjfitz commented on #5463
Makes sense. Thank you for all your help!

[2019-09-06 08:21] Lawls91 commented on #2341
Is there any updates on the unpublish functionality? Has this been raised as a feature request somewhere?

[2019-09-06 11:34] PJBowron commented on #4211
And again...

[2019-09-06 12:54] Baylife101 commented on #4486
Regardless of how it works, it still does not make sense. I would expect a deployment group to contain x-environments.

My point regarding the source code is, that since it's a regular agent in a regular agent pool a mixup might happen and somebody might end up using the agent you created for deployment to build thus downloading source code to a production server.

[2019-09-06 13:21] TroySchmidt commented on #4486
Nope it sure doesn't make sense.  This is only a workaround \ stopgap measure until Azure comes out with full fledged deployment groups.  And the documentation exists, but it is spread out and not intuitive process at all.

[2019-09-06 13:47] thafters commented on #3702
My team would definitely use this feature.

[2019-09-06 14:21] v-wilock opened #5507 "Typo"
In the line "Authentication verifies a user's identify...", it should be "identity".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 851595a3-32b8-c0e4-ff4f-aa84cf436175
* Version Independent ID: c2cb9c6c-de29-a7a9-9728-fbbc1d223a4f
* Content: [How are security and identity managed? - Azure DevOps](https://docs.microsof

[2019-09-06 14:44] mlewis22 opened #5508 ""vsts-npm-auth" - Could not find a part of the path 'Z:\'."
I am trying to connect to my artifact registry.

I have followed the instructions [here](https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-npm?view=azure-devops&tabs=windows)

- I have set up a .npmrc file in my folder along side a package.json.
- my registry has been added to .npmrc file.
- I have globally installed the vsts-npm-auth library
     `npm install -g vsts-npm-auth`
-

[2019-09-06 15:13] sspage opened #5509 "ADO IP Ranges Inaccurate"
You have two different links in the doc above.  The link that is called "weekly JSON file" seems to go to the newer file (which is great that it breaks things down by service) and the link called "weekly file" goes to the deprecated XML... that should be fixed.

The bigger issue is when I use the weekly file, I see no service for Azure DevOps.  I tried searching for a known Azure DevOps IP that we

[2019-09-06 15:21] buck-mbeer opened #5510 "Stage reuse (on Azure Devops Server) is unclear"
I'm attempting to reuse a multi-job pipeline by templating a `stage` on Azure Devops Server 2019. Following the documentation here and on the YAML Scheme page, I tried:

[code]
And the pipeline-template.yml file looks as follows:
[code]

However running this pipeline on Azure Devops Server 2019 results in the error `alpha-pipeline.yml (Line: 9, Col: 1): Unexpected value 'stages'`.

Would appreciat

[2019-09-06 15:30] chcomley commented on #5460
Hi @floriankoch, Thanks for reaching out. We'll look into this and be in touch. Thanks again!

[2019-09-06 16:04] hoffmanntravis commented on #4486
@TroySchmidt Yeah, we did set up a POC with that, and it does work.  My problem with that is your protecting the environment tag essentially, not the resource / machine itself.  In Octopus Deploy for example, there is the notion of an agent, and that agent belongs to an environment which is protected.  Users that are not authorized to the environment cannot see or interact with that agent in any m

[2019-09-06 16:39] TroySchmidt commented on #4486
Yeah multistage YAML showing everything in one succinct overview is amazing.  It is easier to digest than project managers (non developers) following the release to the build to figure out which one did what and what work items were done.  I couldn't even find an example of deploying to a machine really this was all cobbled together amongst threads and documentation.

The use case for deployments,

[2019-09-06 16:41] msebolt commented on #5509
@sspage Thank you for the feedback.

@thoms23  Can you check on the alias above and assign the writer?  @joebourneMS doesn't seem to exist anymore.

[2019-09-06 16:47] msebolt commented on #5508
@mlewis22  We're sorry you're experiencing issues.

Can you try manually moving the `.npmrc` file from your Z: drive to the user folder?  (see [this post](https://stackoverflow.com/questions/44185308/npm-packages-management-using-vsts))

[2019-09-06 16:57] msebolt commented on #5495
@thomps23 Do you know of what article might be referenced above?

[2019-09-06 17:00] #5237 closed

[2019-09-06 17:00] #5480 closed

[2019-09-06 18:01] henry-padilla opened #5512 "Can I get info on what artifact was downloaded?"
If I use the 'latest' or 'latestfrombranch' how do I report on what the latest actually was? Our codebase moves pretty fast and the latest is really a moving target.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Conte

[2019-09-06 19:10] msebolt commented on #5506
@MightyPen  Thank you for the feedback.

The documentation has been updated.

[2019-09-06 19:10] #5506 closed

[2019-09-06 20:27] Anand-Moghe commented on #4770
@chasewilson Thanks.

[2019-09-06 20:27] #4770 closed

[2019-09-06 21:00] henry-padilla opened #5515 "How to use ${{ if...}} to modify task inputs"
I am trying to download build artifacts but some env need latest and some need specific build. So I'm trying to set the inputs like so:
          - task: DownloadPipelineArtifact@2
            inputs:
              project: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
              source: 'specific'
              pipeline : 1111
              ${{ if parameters.useLatest }}:
                runVersion:

[2019-09-06 22:12] msebolt commented on #5515
@henry-padilla  Thank you for the question.

Perhaps try changing the conditional syntax:

[code]

See **Step template paramters** section [here](https://docs.microsoft.com/azure/devops/pipelines/process/templates?view=azure-devops#passing-parameters).

[2019-09-06 22:14] msebolt commented on #5507
@v-wilock Thank you for the feedback.

The documentation has been updated.

[2019-09-06 22:14] #5507 closed

[2019-09-07 00:21] cheenamalhotra commented on #3327
Any progress to gather short Build.SourceVersion ?

[2019-09-07 01:41] altendky opened #5516 "What python versions are available?"
https://github.com/MicrosoftDocs/vsts-docs/issues/4834

I did see above where the question is not answered.  The documentation should list what versions can be specified and what you will get when you specify them.  For example, what will pypy3 get you?  How about py3.7?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2019-09-07 07:05] RGKarthik commented on #4961
#please-close

[2019-09-07 09:49] DonalLOConnor opened #5517 "Installing agent in path with spaces causes issues with msiexec"
If the agent ZIP file is unzipped to a path containing spaces, such as the "Program Files" directory, then when the agent needs to install modules involving msiexec commands, attempting to compensate for the space in the path, the agent will improperly surround any entire msiexec parameter for public properties (PROPERTY=VALUE) with quotes ("PROPERTY=VALUE"), instead of surrounding just the value

[2019-09-07 19:38] nbrown02 opened #5518 "Not a cumulative flow diagram"
This isn't actually a cumulative flow diagram. It's not cumulative over time it's simply showing the aggregation on a particular date - this is actually counter to your own cumulative flow diagrams (which are correct) within the core Azure DevOps product :/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4de0feb-f387-0

[2019-09-07 22:30] Bhsha opened #5519 "Using variables from variable groups backed by key-vault in this task"
Can I use variable from variable group backed by key-vault in one of the task parameter? Currently I am getting empty value for the variable. Is this not supported? One thing to mention I am using this task in build pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bc6da4-5a1e-5989-f4f0-27465953b5fd
* Version

[2019-09-08 06:00] baoduy commented on #5491
Hi @msebolt
Thanks for your reply, the configuration you provided perfectly work for CD build, once the PR merged to a Release branch the build will be triggered and deploy the changes to the environments. This I already used for my CD builds.

However, My question is related to the PR build instead which I would like to apply the Code quality scan for all PR before it got approved and merged to R

[2019-09-08 18:48] duanekord opened #5523 "Capitalization with multiple stage names"
The first 2 stages seem to be correctly capitalized but for some reason the third stage is not correct.  I have 3 stage - Build, Deploy_Dev30 and Deploy_Prod.  All of them are declared in the YAML file like that but when I view my previous runs - they display as Build, Deploy_Dev30, deploy_prod.  If needed I can share code/screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-09 05:39] AdrianSanguineti opened #5525 "Upstream Stream Sources not supported on Azure DevOps Server 2019 that's behind a HTTP Proxy"
As I discovered through a [Stackoverflow question](https://stackoverflow.com/questions/57817219/using-upstream-sources-on-azure-devops-server-thats-behind-a-http-proxy/57847985#57847985) I had raised, upstream sources are not supported when the Azure DevOps Application Tier is behind a HTTP Proxy server. That extremely critical information is not included anywhere on this documentation.

---
####

[2019-09-09 06:05] #5502 closed

[2019-09-09 09:28] crisher0219 opened #5526 "Roll-up at User Story Level with Hours Estimates?"
If I use the following OData query, can I use it to do a User Story rollup of total estimated hours at a Task and Bug level by making the following changes?

let
    Source = OData.Feed("https://analytics.dev.azure.com/{organization}/{project}/_odata/v3.0-preview/WorkItems?"
            &"$filter=WorkItemType eq 'User Story'"
            &" and startswith(Area/AreaPath,'{areapath}')"
            &

[2019-09-09 09:34] crisher0219 commented on #5526
&"$apply=filter(WorkItemType eq 'Task' AND 'Bug')"

I meant to make that an OR.

[2019-09-09 09:59] thisispaulsmith commented on #4946
Any update on this?
It's not possible to pass output variables from a deployment job to a subsequent job. Whether they're set in code or an output from a task. Example. URL from an App Service Deployment

[2019-09-09 10:05] ctahok opened #5527 "Re: On the Tools menu, select Options. Expand NuGet Package Manager and select Package Sources."
I do not have Tools and Options in Visual Studio Code.  Can you please specify version of VS we need to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 899a78d6-9d08-7744-108d-10add2ba7e2c
* Version Independent ID: 6ab31e96-fed8-4335-ed81-b97663d8300f
* Content: [Consume NuGet packages in Visual Studio](https://doc

[2019-09-09 12:44] syendev opened #5528 "incremental behavior not working as described."
```When you run a pipeline on a self-hosted agent, by default, none of the sub-directories are cleaned in between two consecutive runs. ``` does not seem to be the case.
Linux Ubuntu android build job with Gradle@2 task running compileDebugSources, all folders are wiped clean and re-builds every time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-09 13:28] fleed opened #5529 "Are the paths within a template relative to the template itself?"
If I want to reference a file from within the template, should I always pass it as a variable?
It seems so, because the actual path seems resolved relative to the path of the calling script. So paths seem relative to the "caller", not the template itself.

Are there guidelines about paths in templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-09 13:34] MaartjeVP opened #5530 "Ambiguous walk-through"
I work in a project that involves many sub-projects. Now one of those projects needs to be renamed. As we work with TFS source control, I want to make absolutely sure I take the right steps.
But the above walk-through guide seems somewhat ambiguous and is therefore, at least to me, confusing.

For one, it seems that the step where you change the project name via the Organization Settings &gt; Gene

[2019-09-09 14:14] CLIRResearch opened #5531 "An example of a query that uses "Contains words" would be welcome."
I have not been able to use "Contains words" in a TFS query.  If I have two or more words in the value, the query fails.  Even when we know there are items with the specified words.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6859c579-3383-e4b7-366e-69f49a8bd1b6
* Version Independent ID: 5b7af784-0698-b77a-342f-2529

[2019-09-09 14:54] brcrista commented on #5516
There's a link on the Use Python Version page:

The exact Python versions vary slightly depending on the image, so we list the exact versions along with the software for each image.

[2019-09-09 14:58] brcrista commented on #5516
I agree this could be more clear, but I'm leaving for vacation later this week and I don't think I have the time to get to it anytime soon..  If you have an idea on how to improve it, feel free to submit a PR!

(We wouldn't want to exhaustively list the Python versions here because it would probably get out-of-date quickly.)

[2019-09-09 15:02] govert-co-co commented on #5295
We would very much like to know this as well. Due to various reasons it's impossible for us to migrate to the Microsoft hosted version of Azure DevOps / TFS / VSTS / VSO.

[2019-09-09 15:04] riQQ opened #5532 "Default permissions & access > Build and Release incorrectly says Stakeholders can view build pipelines"
On the site `Default permissions & access` for the platform `TFS 2018` the section `Build and Release` incorrectly says that stakeholders can view build pipelines.

This problem was already fixed for the platform `Azure DevOps Services` in #2091, but it is still incorrect for all the other platforms.
It was fixed in https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/organizations/security

[2019-09-09 15:15] stharrold opened #5533 "example build, run test, push Docker container for version 2.*"
Please link this page to an example pipeline that follows best practices for building, running a test, and pushing a Docker container. The option to run a Docker container was removed in version 2.* of the Docker task (c.f. https://github.com/microsoft/azure-pipelines-tasks/issues/11118), and, from within "Docker" task page version 2.*, it's unclear how to implement the advice from @shashankbarsin

[2019-09-09 15:20] SamirFarhat opened #5534 "Pipeline Name on the Portal"
We are storing many YAML files on the same Repo (Azure Repo). The problem is when importing them, the portal automatically show the 'repo' name as the display name for the first repo, Repo (1) for the second and so on. Is there any 'Pipeline Display Name' option ?
PS: We can rename the pipeline via the Portal, but why this option is not available as code ?

https://github.com/MicrosoftDocs/vsts-do

[2019-09-09 15:56] DanielHabenicht opened #5535 "Add link to Automated Release of an extension"
https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vsts-developer-tools-build-tasks
This should be linked in an Optional Section

@paule96

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID: 33c7bcf0-1512-975f-5ef8-9f2a192a84ad
* Content: [Add a Buil

[2019-09-09 16:52] chcomley commented on #5295
I hear you, @govert-co-co...stand by and I hope you're having a great day. I've re-reached out. :)

[2019-09-09 16:54] Marina132000ae commented on #3011
"Allow duplicates to be skipped" doesn't do the same thing. It won't update the version. We are using Maven and defined the repositories in a parent-pom. Then devops changed the url, so literally all of our projects have to change or I have to rebuild then entire feed. NuGet has an option that you can turn on/off to allow overwriting of versions. If you have to have immutability, could you just ha

[2019-09-09 16:57] chcomley commented on #5530
Hi @MaartjeVP, I'll get back to you ASAP after I've confirmed this process with my PM. Thanks so much for reaching out

[2019-09-09 17:59] chasewilson commented on #5464
@tinohager, thank you for the feedback and sorry about the link! The repo is supposed to be public but isn't yet for some reason. I'm working on getting that opened up and will let you know when I get it switched over.

[2019-09-09 18:17] #5504 closed

[2019-09-09 18:18] chcomley commented on #5473
@biltongza, I'll be closing this issue. Please let us know if the example adramasu provided isn't helpful! Thanks!

[2019-09-09 18:18] #5473 closed

[2019-09-09 18:54] chcomley commented on #5295
I have info for you! Please see the [Q&A ](https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops#q-is-this-guidance-only-for-azure-devops-services-or-is-this-also-relevant-for-on-prem-tfs-users) where it states that **this is not supported for on-premises**.
As for your second question, please filter the docs for the Server ver

[2019-09-09 19:49] jgillette opened #5536 "Publish to Symbol Server for OnPrem installs"
The wording is a bit confusing as to whether the "Publish to Symbol Server in this organization/collection" is available for the OnPrem version of AzDO 2019. It shows up as an option on the screen, but returns a 401 unauthorized when it tries to run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cddddb9-2731-3366-2a7

[2019-09-09 20:06] chasewilson commented on #5464
@tinohager, the repo has been made public so you should be able to reach it :) feel free to reach out if you have any more issues

[2019-09-09 20:06] #5464 closed

[2019-09-09 20:26] michaelwestbrook commented on #4643
Just want to throw my 2¢ here. I was at least able to unblock myself by setting a temporary branch policy that runs my build definition as a pull request policy. Then I created a new pull request targeting my branch that has the resource I want to authorize. That started a build (that failed immediately due to unauthorized resources) and from there I was able to see the 'authorize resources' butto

[2019-09-09 20:37] warren2k commented on #4619
It's still not updated. When is the associated user story expected to be scheduled for work?

[2019-09-09 20:44] #5350 closed

[2019-09-09 21:14] chasewilson commented on #4300
@dammejed, Thanks for the feedback and I'm sorry for the slow response. The functionality you mention is no longer available in Azure DevOps. The documentation has been out of date but I have updated accordingly and you should see the new information within 24 hours

[2019-09-09 21:14] #4300 closed

[2019-09-09 21:17] chasewilson commented on #4801
@JGCreator, Thank you for the feedback and I'm sorry for the slow response. The documentation has been update as well as a Note stating that functionality is in development for Azure DevOps. Thank you again and please feel free to create a new issue if you have any more feedback

[2019-09-09 21:17] #4801 closed

[2019-09-09 21:17] chcomley commented on #5530
Hi @MaartjeVP, we're sorry for the confusion. I believe we haven't clearly stated that it's not two steps, but that you can do either one OR the other. I'll publish an update today, clearly indicating that you can rename your project either from the Project Settings > Overview page OR from the Projects page. Please let me know if this wasn't helpful. Thank you!

[2019-09-09 21:17] xmnlab commented on #5479
@shashankbarsin any idea about this?

[2019-09-09 21:19] chasewilson commented on #4953
The documentation is updated and will be live within the next 24 hours. Feel free to create a new issue if you have any more feedback. Thank you all for your feedback!

[2019-09-09 21:19] #4953 closed

[2019-09-09 21:21] chasewilson commented on #3110
@thinkriver, thanks for the feedback. I've updated the documentation and will be live by tomorrow. What version of TFS/Azure DevOps are you using?

[2019-09-09 21:24] elbatk commented on #3011
Hi @Marina132000ae , sorry about the troubles. We don't have any plans to change how we view or enforce immutability. You could create a new feed, add the updated packages with updated poms, set up the current one as an upstream source and pull the remaining packages, and then delete the current (old) feed and rename the new one.

[2019-09-09 21:25] chasewilson commented on #4250
@gpj1, Thank you for the feedback. I've update the documentation and you should see it live within the next 24 hours. As of right now you can no longer change global retention policies. Only at the project level. Functionality is in development to retain a minimum number of builds. if you have any more feedback, feel free to create a new issue :)

[2019-09-09 21:25] #4250 closed

[2019-09-09 22:18] chasewilson commented on #5377
@vijayma, Do you have any direction on this?

[2019-09-09 22:32] WilliamAntonRohm commented on #4834
@ikamensh -- Ilya, please see https://github.com/MicrosoftDocs/vsts-docs/issues/5516#issuecomment-529515334

[2019-09-09 22:32] chasewilson commented on #4385
Hi @MisinformedDNA, thanks for the feedback! There is the actual [task documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops) the has full documentation on all inputs. Do you think it would be helpful to have a link or to that documentation?

[2019-09-09 22:37] chasewilson commented on #4328
@cg3y, thank you for the answer here! @vijay-gowda, does this answer your question?

[2019-09-09 22:41] chasewilson commented on #4133
@RehanSaeed, @david-s-svedberg, thanks for the feedback. I currently have a backlog item and branch I'm working on to straighten out the inputs and updates. I will let you know when that will be pushed to live :)

[2019-09-09 22:43] chasewilson commented on #3393
I'll be closing this issue. Please feel free to open a new issue if the answer provided is still not clear

[2019-09-09 22:43] #3393 closed

[2019-09-09 22:51] WilliamAntonRohm commented on #5519
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-09 22:51] #5519 closed

[2019-09-09 22:53] WilliamAntonRohm commented on #5523
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-09-09 22:53] #5523 closed

[2019-09-09 22:55] WilliamAntonRohm commented on #5526
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-09 22:55] #5526 closed

[2019-09-09 22:59] WilliamAntonRohm commented on #5527
Thanks for your question.  Try this link for more information about [Visual Studio versions](https://visualstudio.microsoft.com/vs/compare/).

Also, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/

[2019-09-09 23:00] WilliamAntonRohm commented on #5529
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-09 23:00] #5529 closed

[2019-09-09 23:02] WilliamAntonRohm commented on #5531
@CLIRResearch -- you may find an example in one of these:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-09-09 23:04] WilliamAntonRohm commented on #5534
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-09-09 23:04] #5534 closed

[2019-09-10 00:28] Marina132000ae commented on #3011
@elbatk That is a great idea! Thanks!

[2019-09-10 00:44] vijayma commented on #5377
@PBoraMSFT will help us add test assets into these repos.

[2019-09-10 02:04] ctj232 opened #5540 "Using http.extraheader still prompts for interactive credentials"
I was unsuccessful following the instructions for cloning a repository in the same project as your pipeline. The page currently says you can include the http.extraheader with a bearer token using this syntax:

git clone -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" &lt;clone URL&gt;

However, this still prompted for credentials which is unacceptable in a non-interactive pipelin

[2019-09-10 05:23] sebastiendan commented on #5288
A kind of related issue I noticed:
- If I set the variable with `echo '##vso[task.setvariable variable=sauce]$myVar'` then $(sauce) equals the content of myVar while the $SAUCE environment variable equals the "$myVar" string
- If I use double quotes instead of single ones (`echo "##vso[task.setvariable variable=sauce]$myVar"`), both variables equal the content of myVar

[2019-09-10 07:14] govert-co-co commented on #5295
Hi @chcomley, thanks for the information, effort and quick response, much appreciated. However, I *did* use that version filter dropdown. I selected TFS 2018, as you can see in this link: https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth?view=tfs-2018
![afbeelding](https://user-images.githubusercontent.com/36270645/64591988-4e6ac800-d3ab-11e9-9f1a-ec35553ebf7

[2019-09-10 07:34] MaartjeVP commented on #5530
@chcomley This certainly clarifies things. Thanks for getting back to me so quickly and thanks for the clarification. Much appreciated!

[2019-09-10 07:41] MaartjeVP commented on #5530
@chcomley an additional question regarding my last comment in the original post: it is still not clear to me if I will need to manually rename namespaces and/or referenced assemblies etc.? Looking at your instruction it seems that renaming a project is all you need to do, apart from the extra steps such as clearing caches, updating remotes and getting latest versions. Can I assume that all depende

[2019-09-10 07:57] SumiranAgg commented on #5367
You could use something as under:
SyncMethods.0.Folders.0
SyncMethods.1.Folders.0

This should work for you. Please fell free to re-open issue in case of further questions.

[2019-09-10 08:36] ctahok commented on #5527
Thanks @WilliamAntonRohm . The purpose of my message was to edit the article to cover correct edition of VS rather than confusing users like me.

[2019-09-10 09:01] thisispaulsmith opened #5541 "Using templates with multi-job script variables"
I'm having an issue with using templates where the template multi-job variables in script and the template is used more than once in the same pipeline. Probably best illustrated with an example.

pipeline.yaml
[code]

template.yaml
[code]

The second time the template is run the second step displays the variable from the first run. Am I missing something?

---
#### Document Details

⚠ *Do not edit

[2019-09-10 09:15] mikeblakeuk commented on #5393
Should Pipeline.StartTime also be included?

[2019-09-10 10:58] marcussonestedtbarium opened #5542 "How to mark build as error if no artifacts where created?"
Currently this is only a warning, so build passes. It shouldn't do that as something else was wrong and no files were created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f565b-88e4-88d6-a534-48ec21e6e3d8
* Version Independent ID: 9fca89ae-4a6e-a43a-2834-1a91ad44c256
* Content: [Publish Build Artifacts task - Azu

[2019-09-10 11:36] andrewtyped opened #5543 "Document stakeholder access to Azure Artifacts"
I came to this page looking for information about stakeholder access to Azure Artifact feeds. Specifically, I'd like to know if stakeholders can download packages. This page details access to all other major DevOps features, but Artifacts are not mentioned at all. Can you add this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-09-10 12:05] frackham commented on #5263
To clarify:
- When using vso variables per https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/scripts/logging-commands.md
- ...and these are included in inline Powershell scripts in a Release pipeline.
- ...no visual indicator shows in the UI.

Variables set and can retrieved correctly. There does not seem to be a way of visually showing a list of green ticks (for example) for s

[2019-09-10 13:00] HK-Zhang opened #5545 "requirements.txt's dependencies are not installed in App Service"
my project has a dependency on SQLAlchemy. it is listed in requirements.txt. after deployed my service failed to run due to missing module of SQLAlchemy.

how to manually install requirements.txt in Azure Devops?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eefdcb17-b1e5-141c-aef8-36795c9983af
* Version Independent I

[2019-09-10 14:43] vtbassmatt commented on #5541
We have a bug in how variables are resolved when the same variable name exists in multiple stages. It's not really related to templates (you'd get the same behavior if templates weren't in the picture), and you're not missing anything :) The fix has been prepared and should be rolling out shortly.

[2019-09-10 14:43] #5541 closed

[2019-09-10 14:46] vtbassmatt commented on #5393
I don't know when that variable got added nor whether the team intends to support it. I'll follow up and get the team to doc it (or remove it!).

The rest of these are done.

[2019-09-10 14:46] #5393 closed

[2019-09-10 15:17] smhbhdr opened #5546 "Using latestBuild variable in Build version to download field"
'Build version to download' field in 'Download Build Artifacts' has the following three options :

- Latest
- Latest from specific branch
- Specific version

When Specific version is selected system ask to enter build number that artifact will be downloaded. Is it possible here to use a variable ie latestBuild that it will get the latest successful build.

The reason is, I can make a pipeline para

[2019-09-10 15:48] kyllian commented on #4040
I'm also facing the same issue as @kkarakk.

Enter server URL > http://localhost/Collection
Enter authentication type (press enter for Integrated) > PAT
Enter personal access token > ****************************************************
Basic authentication requires a secure connection to the server.
Failed to connect.  Try again or ctrl-c to quit

[2019-09-10 15:51] tommyJimmy87 opened #5547 "Set up authentication on production"
Would be cool to have a documentation : "Set up authentication in your production environment".
Use case is that we have a pipeline which should publish a node application in a web app service in azure.
We are struggling a bit to do that, because the personal access token is for definition personal, this means not useful in a Production use case. Same for the Auth code from vsts which is not acces

[2019-09-10 16:27] WilliamAntonRohm commented on #5089
The documentation has been updated.
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-10 16:27] #5089 closed

[2019-09-10 16:29] WilliamAntonRohm commented on #5205
@alexmg, @mmisztal1980 -- I believe your questions have been answered.  I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-10 16:29] #5205 closed

[2019-09-10 16:35] msebolt commented on #5542
@marcussonestedtbarium Thank you for the feedback.

This seems like a product issue and should be moved to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues).

@thomps23 Another example of a transfer issue.

[2019-09-10 16:44] #5515 closed

[2019-09-10 16:52] chasewilson commented on #5400
@chistophedemey Everything appears to be in order. Have you heard anything from the developer community?

[2019-09-10 16:57] shashban commented on #4497
@twarnock As Roopesh correctly said, we are considering approvals at a higher level, controlled by infrastructure admins and kept beyond devs. It keeps accidental removal of approvals out of reach, and automatically gives segregation of roles.
We understand there are additional requirements where engineers seek manual validations from their peers. These are not in purview of compliance and can be

[2019-09-10 17:02] shashban commented on #4497
@alexeldieb you can submit feedback using developer community or stack overflow.
We have REST APIs to help bulk configure Approvals on multiple environments. We'll look at simplifying this is due course by having a shareable control.
Feel free to reach out to us using the support mechanisms or at rm_customer_queries@microsoft.com and we can discuss further.

[2019-09-10 17:09] msebolt commented on #5318
There is nothing further that can be done with the documentation.

Please direct feedback to the link posted above.

[2019-09-10 17:49] Gismork commented on #5386
Hi @chcomley, thank you for your answer. That's good to have the dlls and package mapping, it helps thanks again.
It still think it would be very useful to have a way to know which HttpClient you need to use when you want to query one endpoint. Not sure if it sometimes you could easily achieve. In all recent developments, it seems to follow the convention "<enpointname>HttpClient".

[2019-09-10 18:00] chcomley commented on #5486
Hi @jmoser11, I spoke with the PM who determined that we won't be addressing your ask at this time. Thank you very much for providing your feedback. If you ever run into troubles you can always contact [Support](https://visualstudio.microsoft.com/vs/support/#talktous). Thanks and have a great day.

[2019-09-10 18:00] #5486 closed

[2019-09-10 18:05] chcomley commented on #5295
Hi @gover-co-co, I'm adding  @mattcooper to assist you. Thanks very much.

[2019-09-10 18:21] #4544 closed

[2019-09-10 18:47] scout208 commented on #4341
I can confirm it still doesn't exist

[2019-09-10 20:59] GeorgeTsiokos opened #5548 "Limitations: container phases, service containers, and volume mounting"
It appears container phases and service containers are not supported when the agent is a docker image. In addition, Azure Pipelines that use docker run with volume mounting work with a VM agent, but fail when the agent is a docker image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d4f6c-d16d-2ba1-1294-6aa94e32804

[2019-09-10 21:08] chasewilson commented on #4133
@RehanSaeed, @david-s-svedberg, thank you again for the feedback! I've update the documentation and you should see it live within 24 hours.
I'm closing this issue for now and I hope you will open a new issue if you have any more feedback!

[2019-09-10 21:08] #4133 closed

[2019-09-10 21:10] chasewilson commented on #3745
@ctaggart, I've updated the documentation with a note to reference the pipelines! Thank you for the feedback and I hope you will create a new issue if you have any more :)

[2019-09-10 21:10] #3745 closed

[2019-09-10 21:20] mmisztal1980 commented on #5205
yes, thank you

[2019-09-10 21:37] chasewilson commented on #4735
@FixRM, thank you for the feedback. Have you reached out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)

[2019-09-10 22:50] seanvancity opened #5549 "Making a Variable Optional"
Is there a way to define a variable in a template - but if no value if provided for it - allow to be be blank?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4b40f2a
* Content: [Variables - Azure Pipelines](https://docs.microsof

[2019-09-11 00:10] msebolt commented on #5545
@HK-Zhang Thank you for the question.

You can try using the [Python script task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/python-script?view=azure-devops) with something like:

[code]

If this is not what you had in mind please comment below.

[2019-09-11 00:22] msebolt commented on #5546
@smhbhdr  Thank you for the question.

Try using the [Download Build Artifacts task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/download-build-artifacts?view=azure-devops) where it allows you to specify the `buildId` parameter you need using a variable.

If there are any issues please comment below.

[2019-09-11 01:14] HK-Zhang commented on #5545
@msebolt, where should I put this script: pip3 install -r requirements.txt ?
I put it as a post-deployment script. I'll get permission denied issue when running the pipeline.

[2019-09-11 01:36] phetzel1 commented on #5509
Moreover, it would be really helpful to give an example script to automatically grab the file and open the firewall based on the json. I'm having trouble connecting the dots on using the weekly json file to open up the firewall in an automated way.

[2019-09-11 02:58] abKrazy opened #5561 ""Deploy to Azure Kubernetes Service" is no longer a valid option"
"Deploy to Azure Kubernetes Service" is no longer a valid option in the Configure tab as documented in Step 6. As a result, all the remaining steps are invalid. Tutorial needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbceb1f5-05c3-487d-6e21-dc1b4936a55c
* Version Independent ID: 35355737-9ad9-9df5-

[2019-09-11 05:12] adriantorrie opened #5562 "Allow child teams to subscribe to the parent iteration"
We have parent and child teams, and would like to set the iterations once for all teams. How do we do this? It is really a pain to have to go into each and every team and have to add the iterations to.every.team.

This is making people in the org not want to use Azure DevOps boards, it is too admin intensive.

Summary: Allow a project iteration to be subscribed to by the teams so they don't have t

[2019-09-11 07:40] marcussonestedtbarium commented on #5542
@msebolt Ok. I'll add it there.

[2019-09-11 07:40] #5542 closed

[2019-09-11 08:53] NoMercy82 opened #5563 "Ignoring of files within folder exclusion"
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops

Hi, I have the below:

API/web.connections.config
API/web.config
API/thing.txt

Web/app.js
Web/bundle.js

I want to delete (match) everything except:

API/web.connections.config
Web/app.js

So in this case the below would be deleted:

API/web.config
API/thing.txt
Web/bundle.js

I have tried to b

[2019-09-11 09:19] tamatsuxyz opened #5564 "lack of FQDN for Azure DevOps Service"
In the following doc, there are lack of FQDNs or invalid expression.
So could you update right information and more detail ?

Add IP addresses and URLs to allow list:
https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops

1 - Releated FQDNs for first sigin-in for Azure DevOps service
azure.microsoft.com
azurecomcdn.azureedge.net
amp.azure.net
aexp

[2019-09-11 10:19] ryanps1 commented on #5460
Hi @chcomley - do you have any update on this?

[2019-09-11 10:51] maaarcus opened #5566 "Secure files can be exported to artifact and then download in drop"
### In Azure pipeline, Secure file can be exported to artifact and downloaded in drop. This is causing a security issue.  How can I prevent that?

#### Steps to reproduce in Azure Pipeline:
1. Download security file to azure hosted agent
2. Copy the task to artifact staging directory
3. Publish the artifact

#### The tasks to archive the secure file:

- task: DownloadSecureFile@1
  inputs: secure_

[2019-09-11 11:44] Calumfletcher commented on #539
+1

[2019-09-11 11:52] cocowalla opened #5567 "Documentation lacking on `format` expression"
I'm trying to use the [format](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#format) expression to format a number, so it's zero-filled. Here's an example of what I've tried:

[code]

However, no matter what I try I get `TF400898: An Internal Error Occurred` when trying to save my pipeline.

The central issue here appears to be that the docs don't sa

[2019-09-11 11:54] cocowalla commented on #5416
@WilliamAntonRohm I disagree - the issue here is that the docs are not supportive, as they don't specify what format strings can be used. Opened #5567 for this

[2019-09-11 12:17] mikeblakeuk opened #5569 "pipelineId is set twice"
pipelineId is 12 and 2995 in the **Download an artifact from a specific build run** example
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops#download-an-artifact-from-a-specific-build-run

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-

[2019-09-11 12:19] mikeblakeuk opened #5570 "Build vs Pipeline"
Please explain when we should use DownloadBuildArtifacts and when we should use DownloadPipelineArtifacts with the pros can cons. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a16bcf-af6c-e278-f0a6-8ec95012ce4a
* Version Independent ID: ae442106-33b3-786f-2158-34eed3fed6e0
* Content: [Download Build Artifacts

[2019-09-11 12:54] #5509 closed

[2019-09-11 12:57] marcussonestedtbarium opened #5572 "Node.js/NPM example uses 'npm ci' but then says caching should not be used with 'npm ci'"
The examples should be best practise.
Tips should not conctradict examples.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure Pipelines](https://docs.microsoft.com/sv-se/azu

[2019-09-11 13:27] kollmats commented on #4211
Does anyone know if the equivalent functionality is available elsewhere?

[2019-09-11 14:20] skwasiborski opened #5573 "Azure DevOps Pipeline Environment - Kubernetes resource API"
Is there an API to create Azure DevOps Pipeline Environment - Kubernetes resource?

I have a CI/CD pipeline which automatically creates namespaces. It would be great if I could link these tasks to Kubernetes resource in appropriate environment. Unfortunately I did not find any way to automatically create the resource from CI/CD.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-09-11 14:49] willsmythe commented on #5572
I don't see the contradiction.

* The example shows best practice: cache the global NPM cache folder -- `$(npm_config_cache)` -- and use `npm ci` to install packages. `npm ci` will create and populate `node_modules` based on packages found in the global cache (i.e. the folder possibly restored from the cache) and/or packages downloaded from npmjs.

* The "tip" points out that because `npm ci` dele

[2019-09-11 14:50] marcussonestedtbarium commented on #5572
Ah. I confused node_modules with the global package folder. My bad.

Sorry for taking up your time.

Den ons 11 sep. 2019 kl 16:49 skrev Will Smythe <notifications@github.com>:

--
mvh
*Marcus Sonestedt*
*+46 - (0)706 - 43 63 28*

[2019-09-11 15:00] willsmythe commented on #5572
No worries. It never hurts to re-think/re-review things like this.

[2019-09-11 15:00] #5572 closed

[2019-09-11 15:06] patild05 opened #5574 "Variable for scheduled build"
How do we pass dynamic values to variables to "scheduled" build?

e.g. daily 12am -- create Installation artifacts - variable value is D
       daily 12:30am -- create removal artifact - variable value is R

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae

[2019-09-11 15:09] msebolt commented on #5573
@skwasiborski  Thank you for the question.

Can you try using the [Kubectl task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/kubernetes?view=azure-devops)?  This should give you access to the `create` action.

[2019-09-11 15:19] msebolt commented on #5562
@adriantorrie Thank you for the question.

Something like this would be suited to using the REST API.

Do calls to the **Projects** and **Teams** areas of the [Core API](https://docs.microsoft.com/en-us/rest/api/azure/devops/core/?view=azure-devops-rest-5.1) have the required functionality?

[2019-09-11 15:55] StingyJack opened #5575 "The section for adding a workitem using a template says to copy the url..."
... but not what to do with that URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1debd814-eb48-c984-a4f9-7606093e9617
* Version Independent ID: f48ef796-c2e3-8fa3-6c41-326a5b252a3d
* Content: [Add and use work item templates to update user stories, tasks, issues, and other work items - Azure Boards](https://docs.mic

[2019-09-11 15:57] StingyJack opened #5576 "When I create a workitem how do I select the template I want to start with?"
This seems to only cover things to use after the workitem has been created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1debd814-eb48-c984-a4f9-7606093e9617
* Version Independent ID: f48ef796-c2e3-8fa3-6c41-326a5b252a3d
* Content: [Add and use work item templates to update user stories, tasks, issues, and other work

[2019-09-11 16:01] msebolt commented on #5545
Re-assigning to the author.

[2019-09-11 17:01] chcomley commented on #5460
Hi @ryanps1, I'll be publishing an update to the article today, so stay tuned. Thanks for following up!

[2019-09-11 17:06] congyiwu commented on #5460
In the meantime, if your blocked, this is roughly what's going to be in the update:

## SSH connections

If you need to connect to Git repositories on Azure DevOps with SSH, you’ll need to allow requests to port 22 for the following:
* ssh.dev.azure.com
* ssh.visualstudio.com
* All IP addresses in the "name": "AzureCloud" section of [this file](https://www.microsoft.com/en-us/download/details.aspx

[2019-09-11 17:53] chcomley commented on #5435
Hi @Bafff, The new change is in Test, which isn't related to wiki file attachments. In Wiki, the limit is still what is mentioned in the documentation. Thank you!

[2019-09-11 17:53] #5435 closed

[2019-09-11 18:35] #5535 closed

[2019-09-11 18:36] #5530 closed

[2019-09-11 18:37] chcomley commented on #5535
@DanielHabenicht, I've just published this update and it should be live by sometime this afternoon (PST). Thank you for your feedback!

[2019-09-11 19:38] WilliamAntonRohm commented on #5563
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-11 19:38] #5563 closed

[2019-09-11 19:40] WilliamAntonRohm commented on #5566
@maaarcus, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-11 19:43] WilliamAntonRohm commented on #5416
@cocowalla -- thank you for opening a second issue.  I have assigned it to a writer here.

[2019-09-11 19:44] WilliamAntonRohm commented on #5574
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-11 19:44] #5574 closed

[2019-09-11 19:46] WilliamAntonRohm commented on #5576
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-11 20:19] chcomley commented on #5295
Hi @gover-co-co, If the article doesn't apply to the version you've selected, a banner appears, telling you that the requested page isn't available for that version. The purple banner wasn't present in your screenshot, I've realized.
![image](https://user-images.githubusercontent.com/35748196/64731666-7f73f700-d496-11e9-83a4-58a38f8af892.png)
You're redirected to the newest product version that th

[2019-09-11 20:19] #5295 closed

[2019-09-11 21:17] jake-harris commented on #4011
Hi @erichmusick

I think the discrepancy in version may be due to phpunit 7+ being installed by some other process "globally. To use your project-specific composer binary, maybe try using the binary located at `/vendor/bin/composer`. I haven't tested this, so forgive me if it's a snipe hunt.

[2019-09-11 21:19] MisinformedDNA commented on #5312
@steved0x @msebolt This didn't address my concern at all. I wasn't asking about variable groups, I was asking about a variable being set in a Template and then having that variable accessed by a parent Template.

[2019-09-11 21:36] Omelianenko opened #5577 "Small mistake in doc"
Looks like it should be only two jobs on two different platforms and SDKs.

"Select Save and then confirm the changes to see your build run three jobs on three different platforms and SDKs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521b594c-dbb9-54d5-f56f-00e2f5fa1d92
* Version Independent ID: 509d3e4e-23db-8493-

[2019-09-11 21:59] MisinformedDNA commented on #4385
@chasewilson Hmmm, a link to that would certainly help, but I may have looked at that documentation and didn't understand it anyway. Contrary to most dotnet commands, which would use the working directory as a starting point, this one is looking through the _entire_ repo. So maybe it needs a special callout. Instead of

maybe it could be changed to (italics used to call out differences):

Maybe th

[2019-09-11 22:23] StingyJack commented on #5576
@WilliamAntonRohm - please explain what part of my post gives you the impression it's got anything to do with implementation.

If you don't know the answer to a question, or don't understand the question, why aren't you asking for additional information or clarification instead of slamming the door in someone's face, so to speak?

If you think I'm being rude, salty, or even hostile, strongly consi

[2019-09-11 23:58] WilliamAntonRohm commented on #5576
@StingyJack -- Andrew, thank you for clarifying.

@KathrynEE -- Kathryn, please look into adding a template selection step.

[2019-09-12 00:12] WilliamAntonRohm commented on #5443
@apawast -- Apeksha, can you shed some light on @StingyJack's questions?

@StingyJack -- Andrew, please [submit your product feedback here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

[2019-09-12 00:15] benchase09 commented on #5527
Hey I don't work for Microsoft anymore, so maybe don't assign me things lol
________________________________
From: William Anton Rohm <notifications@github.com>
Sent: Wednesday, September 11, 2019 5:13:56 PM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: benchase09 <ben.chase@live.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsts-docs] Re: On the Tools menu,

[2019-09-12 00:16] WilliamAntonRohm commented on #5527
@ctahok -- thank you for clarifying.

@benchase09 -- sorry for the typo!

[2019-09-12 00:44] dhirschfeld commented on #5209
Since it explicitly mentions C#'s `TryParse` method it would probably be useful to cross-reference the docs for those unfamiliar with it:
https://docs.microsoft.com/en-us/dotnet/api/system.version.tryparse

[2019-09-12 02:29] maaarcus commented on #5566
@WilliamAntonRohm Thank you for your prompt reply. Added more information for the issue. Please let me know if further explanation is needed.

[2019-09-12 02:49] StingyJack commented on #5576
@WilliamAntonRohm - this is at least the third consecutive interaction we have had like this. I am really not looking forward to there being another. Please let's try to end that streak.

[2019-09-12 02:53] StingyJack commented on #5443
It's not product feedback, and I'm well aware of how to report that.
This feedback is regarding specific documentation.

[2019-09-12 04:00] pacon-vib opened #5579 "Time zone for build numbers not UTC"
[code]

I tried this today and it appears to be in my local time:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57f8545-bb15-3a71-1876-3a9ec1a59b93
* Version Independent ID: 28c87c8d-c28d-7493-0c7c-8c38b04fbcd7
* Content: [Run number - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/pr

[2019-09-12 04:23] rwjdk opened #5580 "Can Follow WorkItem be configured to Follow all changes except for 1 specific field?"
We have an automated schedule that every hour update a Workitem field with some new SLA information. This works, but also trigger workitems Followed to send out notifiactions which is technically right, but not the intended behaviour.

Can “Follow Workitem” criterias be custimized somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-12 05:12] ghelyar commented on #5209
It wouldn't hurt to link to the API docs, but that is only for parsing the version, not for extracting components of it.

So far I have not found any way to do this, making version little better than string.

I have tried `$( )`, `${{ }}` and `$[ ]` syntax to get e.g. the major component out with no luck.

The only thing I have found so far that works is treating it as a string and using powershel

[2019-09-12 05:24] clix455 opened #5581 "Is there any mechanism to restrict selecting Microsoft-hosted agents"
One of our organization's security policies is to use self-hosted agents only. Is there a mechanism to stop users from choosing the microsfot-hosted agents when configuring/running pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Independent ID: be9a6174-a69b-7aed

[2019-09-12 05:30] AdrianSanguineti commented on #5525
Quick update. As I've posted in the [stackoverflow question](https://stackoverflow.com/questions/57817219/using-upstream-sources-on-azure-devops-server-thats-behind-a-http-proxy/57900197#57900197), the Azure DevOps application tier can work behind a HTTP Proxy server. Our mistake was that our HTTP Proxy server CA certificates was missing from the host.

The modifications we guessed that we should

[2019-09-12 05:39] Maxislecker opened #5582 "Dead Link"
The link under "getProjects", "return" to "Contracts.TeamProjectReference[]" is dead. Please fix this, thanks :)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 38f92431-7560-609b-9a3d-a1cef69ccdf9
* Version Independent ID: d46eae88-f7e9-f9e7-9753-1bcab9377648
* Content: [TFS/Core/RestCl

[2019-09-12 06:44] BrightRan opened #5583 "How to set mtouch arguments on Xamarin.iOS task"
On VS can add mtouch arguments to "Additional mtouch arguments" in the project iOS Build settings by right-clicking the project in the solution explorer and selecting Properties.
But how can we do this on Xamarin.iOS task? Is the Arguments option of this task can work for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-12 14:24] soulis64 opened #5584 "Git PR affected by a branch policy links are broken"
Under System variables, all "Git PR affected by a branch policy" links point to "https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies.md", which is a 404. Under How are the identity variables set?, this link to "branch policy build" works (points to "https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies?view=azure-devops")

---
#### Document Details

⚠ *Do not

[2019-09-12 17:23] bbulldis opened #5585 "Configuring Option of what to pull into on Pull request"
You mention it is advised to work within topic branches, but I had For a forked repo when working within topic branches, we first want to pull into the forked repos master, then (in a separate pull), pull the forked repos master back to the upstream master. Is there a way to change what the default Pull into is so it defaults to the same repo master rather than the upstream fork?

---
#### Documen

[2019-09-12 20:14] surajraja opened #5586 "Using the Azure App Service Deploy"
We are using the Azure App Service Deploy to deploy the application to Azure , we have a transform file __ value getting this error and file is not getting transformed.

2019-09-12T17:24:00.6328889Z Initiated variable substitution in config file : D:\a\_temp\temp_web_package_9913137586834089\Content\D_C\a\15\s\USLIUmbraco\obj\Release\Package\PackageTmp\Web.config
2019-09-12T17:24:00.6358286Z Proce

[2019-09-12 20:55] adraut opened #5587 "vsts-npm-auth with on-premise feed"
In the section 'Set up authentication on your dev box' it has a line that states the following:
&gt;`vsts-npm-auth` is not supported on TFS.
Does that mean `vsts-npm-auth` should work on Azure Devops Server 2019 or is the documentation just out of date and it still does not work with an on-premise server's feed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-12 22:39] vsalvino opened #5588 "Error while downloading artifact from master branch on pull request"
When trying to download a pipeline artifact from our master branch (when running the pipeline in a different branch) this normally works fine. However, if the pipeline is run as the result of a GitHub pull request from a branch on a forked repo, then trying to download the pipeline artifact from the master branch throws an error:

`The container #### could not be found.`

Project: https://github.c

[2019-09-13 02:25] flcdrg opened #5589 "Mention "Azure DevOps Office Integration" component"
I think it would be helpful to mention that you should check to make sure the "Azure DevOps Office Integration" component has been selected in the Visual Studio Installer.

eg.

![image](https://user-images.githubusercontent.com/384747/64829419-680a4a80-d60b-11e9-97b2-f02fad119689.png)

Once I made this change, then I was able to see the Teams menu in Excel and use the addin

[2019-09-13 06:37] jeremyklamer opened #5590 "Manual approval in Yaml pipeline"
Please add comments about Manual approval in Yaml pipeline. Also if its not possible it would be nice to state it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b067a175-f640-7503-9c1e-f0130c6dbeda
* Version Independent ID: ff743c7b-a103-eae6-4478-62ba995a4b36
* Content: [Pipeline deployment approvals - Azure Pip

[2019-09-13 09:09] IrisZimmermann commented on #5561
I am currently facing the same problem. Are there any news on this issue?

[2019-09-13 09:17] roby70 opened #5591 "Team Feature in 2019"
Please update current page with a warning about version requirements for group support.
Something like "for availability of this feature check Features Timeline" (view response in closed item "@mentions to group") after "You can also use group mentions. Enter the name of a team or a security group, choose the search icon, and then select from the options listed.".
It can save a lot of time for peo

[2019-09-13 10:58] grahambunce opened #5594 "How to assign the licence?"
So I've enabled the trial, but when I come to add a user the only access level options I can see are "Basic", "stakeholder", "visual studio subscriber". Shouldn't I also see "basic + test plans"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fdf4b3-7ff5-f9ab-d28c-45e804b314de
* Version Independent ID: e916c6aa-2ca5-

[2019-09-13 11:00] grahambunce commented on #5594
Update: the only way to get the option is to pay for the license up-front in the dev ops billing UI... but then I don't get the 30 days free trial.

[2019-09-13 11:14] misolutions9 commented on #3409
VSTS/DevOps is not available in Microsoft Team, I tried to add connect but it is not available

[2019-09-13 11:15] henry-padilla commented on #4632
@vsalvino - That is more helpful than not mentioning it at all (I'm looking at you MS). But it assumes the Project Id and Pipeline Id you want to use are the current ones. I have separate build and deployment pipelines so, the ProjectId I can use but the Pipeline Id I still have to take a different tack.

I use a REST API call to get the RunId and I am trying to change it to get the Pipeline Id to

[2019-09-13 13:05] ctahok opened #5595 "28 days not 30"
All the documents says 30 days but the products prompts 28 days. All the document where is says 30 needs to be changes to 28.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8815945-eaa1-16e7-6ccd-ce4b5f8f8682
* Version Independent ID: 2eda53db-eaf1-e6d0-eacc-fa4507e0cb03
* Content: [Delete or remove an organization -

[2019-09-13 13:07] ctahok opened #5596 "28 days not 30 right?"
As I suggested on previous page the product says 28 days not 30 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1d1c9d-6fe1-e95a-fe78-8f194022d9a3
* Version Independent ID: a1c9d23e-0058-cb9d-e275-65c53b8dfe27
* Content: [Restore organization after it's removed, deleted - Azure DevOps Services](https://docs.micr

[2019-09-13 13:54] kbaleta opened #5597 "Mention of users"
We can currently mention anyone from Azure AD. Is it possible to only mention users who have access to Azure DevOps?

[2019-09-13 13:58] gojanpaolo opened #5598 "Is Azure DevOps SERVER also free for the first 5 users for commercial use?"
Is Azure DevOps SERVER also free for the first 5 users for commercial use?
Thanks! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53803b6d-5089-79d1-34f3-c708c088d42d
* Version Independent ID: b4b0d600-3fe6-ecc1-5abf-ddc1c7bc6c48
* Content: [Billing articles - Azure DevOps - Azure DevOps](https://docs.microsoft.com/

[2019-09-13 14:40] msebolt commented on #5589
@flcdrg Thank you for the feedback.  Assigning to the author.

@chcomley Please refer to https://docs.microsoft.com/en-us/azure/devops/user-guide/tools?view=azure-devops.

[2019-09-13 15:33] BrianMinister opened #5599 "Bad request. This can be closed."
Bad request. This can be closed.

[2019-09-13 15:37] patware opened #5600 "includeAssignedRequest and includeCapabilities return properties"
Hi gang,

The doc for Agents - List (https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/agents/list?view=azure-devops-rest-5.1) shows that we can specify in the query string the includeCapabilities, includeAssignedRequest, includeLastCompletedRequest, but it's not clear what this adds to the result, or where to look for in the result.

The URI Parameter Description could includ

[2019-09-13 15:43] chasewilson commented on #5599
@BrianMinister, Thanks for taking the time to offer input as well as follow up about the issue. Glad things are working and I hope you have a great rest of the day and a good weekend. :)

[2019-09-13 15:43] #5599 closed

[2019-09-13 15:46] DanHK commented on #1772
The issue might be closed but unfortunately unresolved...

[2019-09-13 15:52] chasewilson commented on #4975
@qyxxxigd Thanks for the feedback and @pemj is right. I'll close this issue and issue will be updated on the other issue. @pemj thanks for the answer here and your patience on the other issue. I'll work on getting the other issue closed out ASAP

[2019-09-13 15:52] #4975 closed

[2019-09-13 15:58] clisc opened #5601 "Screenshots are outdated"
Please see https://developercommunity.visualstudio.com/content/problem/733283/cannot-disable-preview-features.html

The screenshots are out of date which led me to believe I was unable to disable "Preview Features" because it wasn't showing up in the menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e

[2019-09-13 16:52] syonekura opened #5602 "Push services adds latest tag even if the setting is set to false"
Somewhere in my pipeline I have something like this:

[code]

The thing is that `push services` adds the latest tag even if I specify `includeLatestTag: false`, making the build to fail:

[code]

This build pipeline was working and hasn't been changed for a while now (a few months at least), but now fails, any suggestions about how can I prevent docker compose command to not include the latest tag

[2019-09-13 17:56] #4873 closed

[2019-09-13 18:00] chasewilson commented on #2542
@DavidNewby Thanks for the questions. I believe the PublishPipelined Artifacts Should work for release Pipelines. If you having issues there, you should open a new issue under that page or reach out to the  [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). I'll be closing this issue for now :)

[2019-09-13 18:00] #2542 closed

[2019-09-13 18:03] chasewilson commented on #3132
@MikeGlue , Thanks for the questions. Unfortunately I think your best option is to reach out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) and ask there. I'll be closing this issue for now, however, if you feel like there should be changes or additions, please feel free to open a new issue or make a feature request to the Developer Community :)

[2019-09-13 18:03] #3132 closed

[2019-09-13 18:07] steved0x commented on #4446
@Romiko that is a good question, can you create a new issue so I can track it there? Please @ mention me when you create the issue. I believe we are working on some sample code for a similar scenario that may help you.

@zackAtPEX Do you mean for Microsoft-hosted agents? They should match the specifications given [here](https://github.com/Microsoft/azure-pipelines-agent/releases). For self-hosted

[2019-09-13 18:18] steved0x commented on #4512
@epernst I have updated the article since I agree it is confusing to see a statement talking about the following "methods" but there is only 1, and I am reviewing to make sure that the rendering is correct for on-premises versions to show the other methods. This update should be live soon, thank you.

[2019-09-13 19:19] chasewilson commented on #3870
@dan-meier , thanks for the input. I'm updating the page to reference the NuGet Documentation and you should see it live within the next 24 hours. I'll be closing the issue for now but if you have any more questions or feedback, you'll reach out or open a new issue. :)

[2019-09-13 19:19] #3870 closed

[2019-09-13 19:41] #5460 closed

[2019-09-13 20:04] #5383 closed

[2019-09-13 20:06] WilliamAntonRohm commented on #5426
@peckhamm -- Mark, thank you for clarifying.  Is there a particular article in the documentation that we should update?

[2019-09-13 20:11] WilliamAntonRohm commented on #5566
@maaarcus -- It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

You're w

[2019-09-13 20:11] #5566 closed

[2019-09-13 20:15] KathrynEE commented on #5580
@rwjdk - Thank you for your inquiry. There is a new feature rolling out to the cloud this week and next which allows you to configure when to get notified when Following a work item. The configure dialog supports the following:
![image](https://user-images.githubusercontent.com/10856840/64892151-80d52900-d628-11e9-8c9d-7368ce37139f.png)

If it isn't enabled yet for your organization, it should be

[2019-09-13 20:15] #5580 closed

[2019-09-13 20:18] WilliamAntonRohm commented on #5595
See also related issue #5596

[2019-09-13 20:21] WilliamAntonRohm commented on #5597
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-13 20:21] #5597 closed

[2019-09-13 20:22] KathrynEE commented on #5576
@StingyJack - Thank you for your inquiry. You apply a template to a new work item in the same way you do for an existing work item. The following image shows a doc bug template being applied to a Bug work item.  I will update the topic to reflect that the steps are the same for existing and new work items. Let me know if more needs clarification.

![image](https://user-images.githubusercontent.com

[2019-09-13 20:22] #5576 closed

[2019-09-13 20:23] chcomley commented on #5595
Thank you, @ctahok, I've completed the updates, which should be live within the next few hours. Thanks so much for helping our docs stay consistent and accurate! Have a lovely weekend.

[2019-09-13 20:24] #5596 closed

[2019-09-13 20:24] KathrynEE commented on #5543
@andrewtyped - Thank you for your feedback. I will update the topic to reflect that Stakeholders have no access to Azure Artifacts.

[2019-09-13 20:24] #5543 closed

[2019-09-13 20:32] WilliamAntonRohm commented on #5277
@clisc -- thank you for clarifying.

[2019-09-13 20:40] chasewilson commented on #4812
@spashx Thanks for the feedback! I'll be working on this issue to get it closed out as soon as possible.
Feel free to reach out with any more questions or feedback

[2019-09-13 20:45] bwirt commented on #3889
Thanks jariwalaraj.  This helped me.

[2019-09-13 20:52] KathrynEE commented on #5531
@CLIRResearch - Thank you for the feedback. I will update the topic to provide more examples. I suggest meanwhile that you use one word per clause and add more clauses with an OR operator as needed. If you enter "performance and guidance", for example, for the value, then the query will find those work items with the field that contains that specific phrase.

[2019-09-13 20:52] #5531 closed

[2019-09-13 20:54] KathrynEE commented on #5518
@greggboer - Could you respond to this feedback?

[2019-09-13 20:55] KathrynEE commented on #5368
@Styxxy - Thank you for the feedback. I will update the topic within the next few days to reflect the current UI.

[2019-09-13 20:55] #5368 closed

[2019-09-13 20:59] KathrynEE commented on #5456
@sanazramezan  - Thank you for the feedback. Your statement is correct. I believe this is documented in this topic - https://docs.microsoft.com/en-us/azure/devops/organizations/settings/work/change-process-agile-to-scrum?view=azure-devops - however, I'll clarify it in the current topic as you have noted.

[2019-09-13 20:59] #5456 closed

[2019-09-13 21:13] drewbren commented on #5594
Sorry for the confusion. During the trial, all your Basic users will have access to Basic + Test Plans. You only need to assign Basic + Test Plans to users you have decided to pay for. It is true that once you have paid for Basic + Test Plans, you can't start a trial for it. That's a limitation of our system today. If you'd like us to reset it for you, send me an email at Andrew dot Brenner at Mic

[2019-09-13 21:15] chcomley commented on #5386
@Gismork, I've followed up with the dev team and they've let me know that they're looking into this, and will get back to me by early October. So...I'll be in touch then. I'm sorry it won't be sooner. Have a nice weekend.

[2019-09-13 21:21] clisc commented on #5277
Related to #5601

[2019-09-13 21:27] chcomley commented on #5591
Thanks for your suggestion, @roby70, we'll look into this and be in touch. Have a great weekend!

[2019-09-13 21:29] chcomley commented on #5594
Hi @grahambunce, With Andrew's clarification provided, I'm closing this issue, but please let us know if you have any further questions.

[2019-09-13 21:29] #5594 closed

[2019-09-13 21:35] chcomley commented on #4619
Hi @warren2k, I currently have the iteration set for October. Thanks for checking in. I'll be in touch. Have a great weekend.

[2019-09-13 21:38] chcomley commented on #5598
Hi @gojanpaolo, Thanks for posting your question. I'm double-checking with the team, so I'll be in touch as soon as possible. Have a great weekend!

[2019-09-13 21:40] StingyJack commented on #5576
@KathrynEE   - Nothing else needed, just that little bit of info will do.

Can the support request tag be removed?

[2019-09-13 21:45] brandonaut opened #5604 "Typo in parameter "Cancelled" for Complete: Finish Timeline"
Using `result=Cancelled` doesn't work, but `result=Canceled` (single "l") does. According to the GitHub page for logging commands, "Canceled" is the correct spelling as well: https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md#task-logging-commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-09-13 21:49] brandonaut commented on #5604
I think the description for "Canceled" is also incorrect, since it only marks the *task* as canceled. It does not actually fail the entire build.

[2019-09-13 22:21] WilliamAntonRohm commented on #5602
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-13 22:39] msebolt commented on #5600
@patware  Thank you for the feedback, assigning to the author.

@wnjenkin The closest [parent article](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/?view=azure-devops-rest-5.1) is assigned to you.  Do you know the author responsible for this?

[2019-09-13 23:34] CGCampbell07 opened #5605 "Can we run this on onprem agents"
I am trying to set it up to run on my onprem agents but its ignoring my yaml pool info and using what is in the pipeline. i modified it to use my docker pool but i need to tell it to run on a specific agent as there are containers running on this machine so i am not sure if i am doing something wrong in the yaml.

![image](https://user-images.githubusercontent.com/9217087/64900161-e7703c00-d654-11

[2019-09-14 02:18] syonekura commented on #5602
I disagree, the docs are misaligned with the expected behavior, given that the includeLatestTag flag doesn't work as described.
My implementation was fine a couple builds ago, and the pipeline definition hasn't changed in months

[2019-09-14 07:46] scorpionlion opened #5606 "Powershell core on TFS2017"
How can I run powershell core on  TFS 2017 agent? Only version 1 task is available which does not have checkbox to select powershell core. How can I add version 2 of task in TFS 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e444c2-69c6-4d71-6fd0-94d0f4097d3a
* Version Independent ID: 3a727833-1cc3-c2fb-c5b3-22

[2019-09-14 13:53] gojanpaolo commented on #5598
@chcomley Thank you for the immediate response. Have a good one! :)

[2019-09-14 14:32] ctahok opened #5609 "The screenshot still says 30 days"
Please update the screenshot to reflect 28 days too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8815945-eaa1-16e7-6ccd-ce4b5f8f8682
* Version Independent ID: 2eda53db-eaf1-e6d0-eacc-fa4507e0cb03
* Content: [Delete or remove an organization - Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/orga

[2019-09-14 15:19] memark opened #5610 "In need of update"
Not much is correct here when it comes to the Azure function. The code doesn't even compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 915c7aa9-0969-912b-bbc4-a2b0bf9b1533
* Version Independent ID: 6a97a5e8-8397-be98-5528-70d20e8fbed8
* Content: [Use Azure Functions to create custom branch policies - Azure Repos](

[2019-09-15 11:43] shashban commented on #5335
@jfuller28495 Release variables are essentially strings used your scripts. Definition and handling of special characters depends on the scripting language and the task you are using.

[2019-09-15 14:09] segraef opened #5611 "Path trigger with YAML syntax not executing while using vairables"
Hi,

Path trigger with YAML syntax not executing while using variables

[code]

This trigger is working while NOT using variables in paths

[code]

[2019-09-15 20:01] praburamkr commented on #3455
Im running with the same issue.im blocked right now.Is there any update on this issue?

[2019-09-16 01:53] gjbdebug opened #5612 "Still incomplete?"
tcpdump on the target during a DevOps deploy revealed src IP 13.90.207.71.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5a4cfa-aa84-9f0f-55f4-71ec4861c070
* Version Independent ID: d621620a-c924-03b1-8b43-f99c33e58bb8
* Content: [Add IP addresses and URLs to allow list - Azure DevOps](https://docs.microsoft.com/en-

[2019-09-16 02:28] lopezunwired commented on #5133
Same thing happened to me. Everything shows green in pipelines and build but the app doesn't appear. Is there a start up command missing?

[2019-09-16 02:58] nprieto95 commented on #2967
My team and I were relying on the previously existing behavior for one simple reason: the "Download Artifact" task does not let you specify fallback branches, so when we wanted to run a build which used all of our artifacts from a specific branch, all of them needed to have a build run at least one time.

This worked before because new branches had all their builds run at least once. Now for new b

[2019-09-16 04:11] clix455 commented on #5581
Thank you Steve, any update on this topic?

[2019-09-16 05:40] Leon99 commented on #5206
What if I want to use .Net Core, as it's the platform MS currently recommends? Can we please have a similar example that works with the NetStandard version?

[2019-09-16 08:55] Styxxy opened #5613 "Code blocks are not formatted/structured well"
The code blocks on this page are not formatted or structured well. I think it is for creating two tabs to offer two ways of doing (REST vs Client Libraries).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b65bc8c-1899-503d-b447-7d27624963c4
* Version Independent ID: 147aa3ca-aef0-9180-53ea-56c6f20a2f88
* Content: [Wor

[2019-09-16 10:11] StingyJack commented on #4953
@chasewilson - i am not seeing any changes. The git history for this page shows the last time update was in May. Am I missing something?

[2019-09-16 11:42] Ballzer0 opened #5615 "error when trying to disconnect"
after i write my tennant name and click disconnect i get an error like this
'''
System.Data.SqlClient.SqlError: %error="400101";%:spsprodweu4.Sps_spsprodweu4_d04f48ed-487c-464b-a264-9baf839608ae..prc_UpdateIdentityIdTranslations: new translations have a record that may corrupt the existing translation data
'''
it doesnt seem like anyone is experiencing the same issue. We want to move our organizat

[2019-09-16 11:48] MichaelReitsma commented on #5194
Hi, I have something similar: i want to prevent a task to run under different conditions though. It should only run when the previous step has failed. Not when the any of the other steps before that previous one have failed. If the latter happens then this step should be skipped as well. So using a custom condition only reflects th status of the Agent / Job whereas i would like to access the state

[2019-09-16 13:03] steved0x commented on #4446
@zackAtPEX That sounds like a good idea. I will forward that to our team, and I recommend that you do the same by filing a feature request for that functionality here:

https://developercommunity.visualstudio.com/spaces/21/index.html

[2019-09-16 13:08] coxcs1 opened #5616 "Managing PATs via REST API"
Hi,
Is it possible to manage PATs via the REST API? The documentation here is not easily readable - https://docs.microsoft.com/en-us/rest/api/azure/devops/tokenadmin/personal%20access%20tokens/list?view=azure-devops-rest-5.1

I need to be able to refresh access tokens via some automated job rather than having the tokens expire and manually refreshing them via user interface.
Thanks.

---
#### Docu

[2019-09-16 13:16] cpolzer opened #5617 "Resource:Container:Volumes: Permission denied?"
Hello,

regarding the example for container resources (https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=example#container-resource).

How do I get write access from within the container to a mounted volume?

I setup a test pipeline gist: https://gist.github.com/cpolzer/b9a8511f30b4a6c702f7e24f453fd9b5

---
#### Document Details

⚠ *Do not edit this section

[2019-09-16 13:31] murraj opened #5618 "Hotfix Question"
This question is with regards to the "Releasing Hotfixes" section of the following article about the Azure DevOps Release Flow process: https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/release-flow#releasing-hotfixes.

The article mentions that hot fixes are done in branches of master and then cherry-picked to the release being hot fixed (such as releases/M129). My question

[2019-09-16 13:36] murraj commented on #5148
Is there an update to this topic? We are also curious as to how the CI/CD setup is.  In our case, we have three environments: DEV, QA, and PROD. Our first thought is that the master branch build gets deployed to DEV and that release branches get deployed to QA and then PROD if they pass testing. Hot fixes would get pushed to both DEV and QA via the merging of the pull requests / cherry picking. Ho

[2019-09-16 13:47] ZLTM commented on #5051
Is's selecting the driver based on your browser, so the chrome browser will use a ChromeDriver, an IE browser would use an InternetExplorerDriver.
This lets you test your app on several browsers

[2019-09-16 14:06] wnjenkin commented on #5600
I would start with @vtbassmatt

[2019-09-16 15:06] FixRM commented on #5148
@murraj, branch filters can include wildcards. For exp you can use `/releases/*` and it will trigger for any release branch.

What I didn't understand is how to release a hotfix v1.1 in case when there is buggy v2.0 in QA already. Do we need more QA's in this case or this situation is really so rare that I shouldn't care on that?

[2019-09-16 15:10] alexsandro-xpt commented on #5280
@steved0x You said `If your pipelines is a YAML pipeline, the YAML file will move (as part of your Git repository)`

But I guess, I will lose all build history.

[2019-09-16 15:49] zarochi commented on #4486
Just chiming in to indicate that we need this too. I'm trying to deploy to both of my load balanced servers, and it seems deployment groups are the way to do it. Like Troy I didn't find this until my pipeline was basically done, and it is disappointing to see that we have to use agent pools for this.

I guess I'll have to make another server, make that my agent, then use Powershell to do all the g

[2019-09-16 16:13] raisingcode opened #5619 "Is there a limitation on the number of pipelines a project can have?"
[Enter feedback here]

Hi currently we're using free tier of azure devops wanted to know if there is a known limit of the number azure pipelines that are allowed for our project.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57f8545-bb15-3a71-1876-3a9ec1a59b93
* Version Independent ID: 28c87c8d-c28d-7493-0c7c-8c38b04f

[2019-09-16 16:17] raisingcode opened #5620 "Is there a limit to the number of build pipelines allowed for an Azure Project"
Using essentially free version of Azure DevOps right now in place of Jenkins. Feedback we want to understand is if there is/or is not a finite number of Azure Pipelines that can be created. I'm assuming running all the pipelines at the same time would be a question of the how many parallel jobs licenses our project has.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-09-16 16:21] msebolt commented on #5609
Refer to https://github.com/MicrosoftDocs/vsts-docs/issues/5595.

[2019-09-16 16:23] murraj commented on #5148
In our case, we plan to only have on QA environment for now. If v2.0 is already in QA and we have to do a hotfix for v1.1, then the hotfix will get pushed to QA (overwriting v2.0).  Once v1.1 is tested and pushed to PROD, then we would revert QA to buggy v2.0.  We also have a "prod support" environment where we could put v1.1 if QA ended up not being an option.

[2019-09-16 16:25] msebolt commented on #5595
This is still unpublished.

[2019-09-16 16:26] msebolt commented on #5609
@ctahok  Thank you for the feedback.

The change has been added to the private repo and is currently still awaiting publish, see issue above for further details.

[2019-09-16 16:26] #5609 closed

[2019-09-16 16:30] #5595 closed

[2019-09-16 16:45] christianrondeau commented on #5572
It got me stumped too, I'm glad an issue was created. It _does_ make sense now, but maybe a slight change in wording could avoid this, such as (I'm not a writer, I'm sure you can write something better):

It does make a lot of "cache" instances though...

The word `local` seems to be used in npm documentation: https://docs.npmjs.com/files/folders.html

[2019-09-16 17:07] #4446 closed

[2019-09-16 17:07] #4512 closed

[2019-09-16 18:12] jvermast commented on #412
I have the same question as above. The Azure DevOps API documentation says I should be able to pull a list of Task Groups using the ID but the URL 404s.

https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedTask/Taskgroups/List?view=azure-devops-rest-5.0

GET https://dev.azure.com/{organization}/{project}/_apis/distributedtask/taskgroups/{taskGroupId}?api-version=5.0-preview.1

[2019-09-16 18:23] jeffpriz opened #5621 "How to install a specific version of a pipeline task"
I have a situation where the newest version of a task is not working for me.. I want to fall-back to the previous version.  Since the task was not versioned as a new Major number I am stuck selecting 4.* (the current is 4.8, but I'd like to fall back to 4.7).  How can I install 4.7 as the version I want to use and prevent auto-update of that task until I am ready for it?

---
#### Document Details

[2019-09-16 18:40] kpeek opened #5622 "Email Notifications"
FYI - After you rename a project, Azure DevOps takes the liberty of emailing EVERYONE who has even read access to that project without informing you that it will do so. In our case, while we were POC'ing things we granted everyone in our company read access to a team project and then renamed it which resulted in a blast email to our entire corporation. Not cool!!! I consider this bad behavior on t

[2019-09-16 18:50] congyiwu commented on #4314
This looks like a dupe of #5460, which was fixed recently

[2019-09-16 18:51] congyiwu commented on #4314
@steved0x can you close this?  I don't have permission to.

[2019-09-16 19:01] tomw-ucb commented on #4314
Hi @congyiwu,

A white list of IP ranges is not the answer to my request.
But for sure it useful information that could be added this page too.

KR, Tom

[2019-09-16 19:03] alexandre-rondeau opened #5623 "How to configure deployment group and pool access control via Azure DevOps REST API"
After creating a deployment group and deployment pool using the REST API. There is no documentation on how to setup access control for that group and pool using the API. I found nothing under the deployment group or in security talking about this. How can we configure those access control?

[2019-09-16 19:06] congyiwu commented on #4314
https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops currently says:

That includes both the ports and domains for SSH. Is there something else you're asking for?

[2019-09-16 19:09] congyiwu commented on #5612
By "Still incomplete", are you referring to !5460?
If so, https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops currently says:

The "AzureCloud" section of the linked file includes "13.90.0.0/16".  That block includes all addresses from 13.90.0.0-13.90.255.255., which includes the address you mentioned (13.90.207.71).

[2019-09-16 19:21] tomw-ucb commented on #4314
Then a reference to this page on this content page, would be handy.
I will forward this information to our network team.

[2019-09-16 19:37] congyiwu commented on #4314
Ah, I agree something should be done to make it easier to find the SSH firewall rules.

[2019-09-16 19:44] coxcs1 commented on #5616
I need to be able to auto-refresh PAT tokens so CI/CD jobs can run without having to manually refresh tokens each year.

[2019-09-16 20:17] chcomley commented on #5615
Hi @Ballzer0, I'm sorry to hear you're getting an error. Since this isn't a documentation issue, please contact [Support](https://visualstudio.microsoft.com/vs/support/#talktous) and they'll help you further. Thanks for reaching out.

[2019-09-16 20:17] #5615 closed

[2019-09-16 20:20] chcomley commented on #5616
Hi @coxcs1, I'm glad you reached out. We don't have an API support for this. You'll have to manually refresh the PAT each year. We do send you an expiry notification 7 days before the expiry of a PAT. If you're interested in submitting a feature request, you can do so [here](https://developercommunity.visualstudio.com/spaces/8/index.html). Thank you!

[2019-09-16 20:21] #5616 closed

[2019-09-16 20:34] anarchitect opened #5624 "how to remove project administrator?"
After adding a couple of project administrators, via Project Settings -&gt; General -&gt; Overview -&gt; Project Administrators.  I found no way of removing them from Project Administrator.  Can you please advise how to do this or fix it as a priority?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56e5bfa-e2ea-c309-8

[2019-09-16 21:09] cwelde commented on #5343
So...any update on this?

[2019-09-16 22:05] goudarzi commented on #4604
Any update on this? We have the same issue. :)

[2019-09-16 22:28] chcomley commented on #5622
Hi @kpeek, I'm sorry for your frustration and I understand. Team project rename sends emails to everyone in the project if it's under 1,000 users, which I suspect is your case. If you have more than 1,000 users, it sends the email only to PCAs. We haven't heard much from our customers on implementing a "notify project users" button on rename, for example, but I'd suggest submitting a [feature requ

[2019-09-16 22:30] gjbdebug commented on #5612
Thank you for the response, and I probably should have been more clear about my context. It is not connecting to Git repos on DevOps with SSH, but rather using the "Copy files over SSH" DevOps deploy task. Only after I temporarily allowed "any" and captured the target's traffic during the SSH deploy (which finally succeeded) did I identify the source as 13.90.207.71.

[2019-09-16 23:38] 304NotModified opened #5625 "How to merge coverage for multiple VS Test tasks?"
Hi,

I'm trying to migrate to Azure Devops.

Previously I ran (stripped version):

[code]

So running the test for multiple platforms and merge the coverage.

Now I'm doing this, but it looks like the coverage is not merged (only 79% coverage, should be 87%)

[code]

How could I get the coverage merged so I will record the correct %?

(if there is an easier way to run test and coverage for multipl

[2019-09-17 05:25] srikcgaa2 opened #5626 "Conditions with more than two comparisons"
Does the and/or condition allow more than two comparisons?  Example: and(condition1, condition2, condition3)?  If not, how can this be achieved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Content: [Conditions - Azu

[2019-09-17 08:47] htho opened #5627 "Server Jobs: are there any in the marketplace?"
I am looking for a server job that lets me trigger and wait for pipelines to finish.
It seems to be a waste of ressources to block an agent just to trigger a build using the "Trigger Build Task" job.

I can not find a server job that does the task because I can't tell if a job in the marketplace requires an agent or not. (there are no filters)

I turned to the documentation in order to find out, i

[2019-09-17 08:48] htho opened #5628 "Is it possible to create server jobs?"
From the description I can not tell if it is even possible to create own server jobs. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14955ee9-29f2-46fe-3a8d-a42666f53ffc
* Version Independent ID: 5d417cd0-a671-ee30-8fca-5f8b0addd328
* Content: [Develop a web extension for Azure DevOps Services](https://

[2019-09-17 08:56] CasperJ commented on #4645
Any news MS on how to do this in YAML?

[2019-09-17 09:47] StarWars999123 opened #5629 "Filter the displayed values in this widget"
Is it possible to filter the displayed values displayed in this graph?
We have several test runs on that release pipeline. Some of them get triggered by our developers to proof, that they did not harm the system. However, when we want to analyse and display the results, it would be helpful to filter results with wildcards/regular expressions. Only the non-developer-releases shall get displayed.

-

[2019-09-17 11:35] meastp commented on #4879
I'm also interested in this - this should be officially documented.

[2019-09-17 12:15] coxcs1 commented on #5616
Hello @chcomley,
If there another form of authentication that does have this feature, which I can use with Azure DevOps Services?

Thank you.

[2019-09-17 12:22] azureDaveOps commented on #5620
There is not a limit on how many pipelines you may define.  You are correct, there is a limit on how many pipelines you can concurrently execute, and that is tied to your licensing.

[2019-09-17 12:40] steved0x commented on #3992
Fixed in https://github.com/MicrosoftDocs/vsts-docs/pull/5614

[2019-09-17 12:40] #3992 closed

[2019-09-17 12:41] rustyautopsy opened #5630 "Manual approval for pipeline stages"
If possible show an example of how we can add an operator approval step on a stage in `yaml`. Workflow similar to Dev -&gt; Staging -&gt; Wait for operator approval -&gt; Production.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b067a175-f640-7503-9c1e-f0130c6dbeda
* Version Independent ID: ff743c7b-a103-eae6-4478-62b

[2019-09-17 13:22] Varujik opened #5631 "Host dialog. Full screen and titlebar"
Hello. I have two questions related to docs.

Link: [Host dialogs](https://docs.microsoft.com/en-us/azure/devops/extend/develop/using-host-dialog?view=azure-devops)

There is told nothing about how to show this host dialog in fullscreen mode, like height and width - 100%. Fortunately, providing parameters like that:

`var dialogOptions = {
                title: null,
                width: "100%"

[2019-09-17 13:28] #4328 closed

[2019-09-17 14:00] GeoffCitron opened #5632 "Unable to use technique in the 'Add Columns' section of this page"
The 'Add Columns' section of this page claims I should see a 'Column Options' link in the 'Taskboard' view.  We have Azure DevOps Server 2019, and I do not see 'Column Options' in that view, for projects in two different Project Collections; one using  a 'process' and the other using a 'process template'.  Must I resort to 'witadmin' to change the columns in the Taskboard for the 'process template

[2019-09-17 14:12] elamathiJv opened #5633 "Unable to share or conditionally execute stages in Multistage Yaml"
Hi Team,

Kudos to the new efforts on the development of  Mulitstage YAML pipelines.

**Requirement:**
We have a requirement to differentiate different codes and environments present in the same repo in different directory and execute the respective environment/ code's stages

**Tried Ideas:**
1. _**Using Build tags in stage conditions (as in classic)**_
  a)Not able to access or use it as a varia

[2019-09-17 14:46] vijayma commented on #4645
The ability to retry a failed stage in YAML pipelines is implemented, and it will be available in all orgs over the next 2-3 weeks.

[2019-09-17 14:50] andrewtyped commented on #5543
I'll bring this up because it's not the first time this has happened - but it is jarring when these issues are closed w/out a link to a PR or visible changes to the Docs website. How is the work tracked if not in this issue?

[2019-09-17 15:20] alvipeo opened #5634 "The screenshots are outdated I believe - No Security Policies on that screen"
I wanted to enable MFA for AzureDevOps but I see no "Security policies" on that screen. And my org is connected to Azure AD (where I have Conditional Access enabled).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24bd6400-4207-6f85-8a4e-5c9b0cc99cff
* Version Independent ID: 0b018039-29d1-431a-1be9-4b46af7f084f
* Cont

[2019-09-17 15:28] msebolt commented on #5605
@CGCampbell07  Thank you for the question.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualag

[2019-09-17 15:28] #5605 closed

[2019-09-17 15:32] msebolt commented on #5611
@CGCampbell07 Thank you for the question.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualage

[2019-09-17 15:32] #5611 closed

[2019-09-17 15:36] msebolt commented on #5623
@marautee  Thank you for the feedback.

Does the [Security REST API](https://docs.microsoft.com/rest/api/azure/devops/security/?view=azure-devops-rest-5.1) article cover your needs?

Assigning this to the REST API author.

[2019-09-17 15:56] chcomley commented on #5616
Hi @coxcs1, Unfortunately, No. You could try using SSH key auth (depending on your scenario), since that doesn’t have an expiry for the SSH key, you would theoretically never have to refresh the key. But in general, that’s not a good security practice to not rotate a key. Trying to automate PAT generation or extending expiry of a PAT also falls outside of security best practices.

Thank you.

[2019-09-17 15:58] #5335 closed

[2019-09-17 15:58] marautee commented on #5623
Sadly no it doesn't. I've looked at this one and when getting the list of all SecurityNamespaceIds. There are no ids for deployment group/pool.

[2019-09-17 16:07] israelcr commented on #4497
Is there some workaround to work with approvals in YAML script?? , for example Enviroments, Git Repo triggers or Splitting YAML files ? ,another options ?

[2019-09-17 16:21] peterlanoie opened #5635 "Azure Pipelines/TFS repo branch policy navigation inconsistent with docs."
Doc title: `Build multiple branches`
Doc URL: https://docs.microsoft.com/en-us/azure/devops/pipelines/build/ci-build-git?view=azure-devops-2019&tabs=classic#azure-pipelines-or-tfs-repository
Doc section: `Validate pull requests` > `Azure Pipelines or TFS repository section`

The documented steps don't match up with the current UI in on-prem Azure DevOps Server 2019. I started to author a change bu

[2019-09-17 16:48] coxcs1 commented on #5616
@chcomley I would prefer to follow best security practices. Is there any plans to support service principles via Azure KeyVault wiht Azure DevOps Services API?

Thanks.

[2019-09-17 17:47] greggboer commented on #5518
@nbrown02, it is actually exactly like the CFD that is in the Azure DevOps product. However, my example screenshot filters out the "Done" column, so it doesn't look like a CFD. If you filtered out the Done column on the in-product CFD, it would look similar
I'll update this doc to make sure the example shows a more CFD-looking chart.

[2019-09-17 17:50] congyiwu commented on #5612
Your asking about the IP address ranges for Microsoft-hosted Windows and Linux Pipelines agents, right 🤞?  If so, that's documented in the "Agent IP ranges" section of the "Microsoft-hosted agents" page:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges

Although that page could be a bit clearer that `"name": "AzureCloud.*"` (e.g. `"name": "Azu

[2019-09-17 18:07] chcomley commented on #5598
I @gojanpaolo, I can confirm that Azure DevOps Server is NOT free for the first 5 users. Here's a link to the info, as well: https://docs.microsoft.com/en-us/azure/devops/organizations/billing/buy-access-tfs-test-hub?view=azure-devops-2019.
Thanks for your patience while I confirmed this! Have a wonderful day.

[2019-09-17 18:08] chcomley commented on #5598
Please let us know if you have any further questions, @gojanpaolo.

[2019-09-17 18:08] #5598 closed

[2019-09-17 18:35] #5227 closed

[2019-09-17 18:41] WilliamAntonRohm commented on #5626
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-17 18:41] #5626 closed

[2019-09-17 18:42] chcomley commented on #5634
Hi @alvipeo, Could you please go to the **Azure Active Directory tab** in **Organization settings** and verify that your connection to Azure AD is OK? If it is indeed connected, then you'll need to contact [Support](https://visualstudio.microsoft.com/vs/support/#talktous), so they can help investigate the issue. Thank you!

[2019-09-17 18:43] WilliamAntonRohm commented on #5629
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-09-17 18:43] #5629 closed

[2019-09-17 18:46] WilliamAntonRohm commented on #5631
@Varujik -- thanks for your questions. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your questions:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.az

[2019-09-17 18:49] WilliamAntonRohm commented on #5632
@GeoffCitron -- Geoff, here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@KathrynEE -- Kathryn, please see if the documentation needs updating.

[2019-09-17 19:03] jstallm opened #5637 "Limit to Cumulative Flow Diagram rolling report period to 180 days, documentation"
Document limit to rolling period for **Cumulative Flow Diagram**

Appears as if the limit to report is 180 days. Is this documented anywhere?
I believe a logical place to document might be
https://docs.microsoft.com/en-us/azure/devops/report/dashboards/cumulative-flow-cycle-lead-time-guidance?view=azure-devops

Screenshot below of report ran today, showing limit of 180.
![rolling period constaint]

[2019-09-17 19:04] chcomley commented on #5616
Hi @coxcs1, There are no plans to support Service Principals, either.

[2019-09-17 19:05] #5622 closed

[2019-09-17 19:21] chcomley commented on #5343
Hi @cwelde, I've just followed up with the engineer and will get back to you when I receive their response. Thanks very much.

[2019-09-17 19:28] chcomley commented on #5343
@cwelde and @Nusserdt, this just in:
GET _apis/ExtensionManagement/InstalledExtensions/{publisherName}/{extensionName}/Data/Scopes/Default/Current/Collections/%24settings/Documents/myKey

Please let me know if you have any further questions. Thank you!

[2019-09-17 19:44] KathrynEE commented on #5624
@anarchitect - Thank you for your inquiry.  You can remove a member of group by going to the Members tab for that group. However over the actions icon and then choose Remove.  I will add these instructions to the Admin topic for Project Administrators.

![image](https://user-images.githubusercontent.com/10856840/65073970-ba6ba400-d948-11e9-99b8-3bf5752194d0.png)

[2019-09-17 19:44] #5624 closed

[2019-09-17 19:48] KathrynEE commented on #5632
@GeoffCitron - Thank you for your inquiry.  If you select the Azure DevOps Server 2019 version for this article - https://docs.microsoft.com/en-us/azure/devops/boards/sprints/customize-taskboard?view=azure-devops-2019#feedback - you'll see that the Add Columns option isn't a supported feature for Azure DevOps Server 2019. It is a recently released feature for Azure DevOps Services.  To customize t

[2019-09-17 19:48] #5632 closed

[2019-09-17 19:54] KathrynEE commented on #5601
Closing this issue. Question has been addressed in Developer Community link.

[2019-09-17 19:54] #5601 closed

[2019-09-17 19:55] KathrynEE commented on #5518
Closing as Gregg has answered the question.

[2019-09-17 19:55] #5518 closed

[2019-09-17 19:58] bradleyscollins opened #5638 "Broken link: "supported languages" under heading "Code highlighting""
The "supported languages" link points to the following:

http://highlightjs.readthedocs.io/en/latest/css-classes-reference.html#language-names-and-aliases

That page does not produce a list of languages, but rather some CSS class reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6

[2019-09-17 20:00] gojanpaolo commented on #5598
@chcomley Could you please quote where it is stated on the link? I can't seem to find it, or maybe I'm just blind 🤣

[2019-09-17 20:01] KathrynEE commented on #5277
@dougbu , @clisc - I'm closing this issue as it is related to internal features that aren't yet available to the General Public as noted here: https://developercommunity.visualstudio.com/content/problem/733283/cannot-disable-preview-features.html.  As regards some features not being documented in the Preview features article, we are working on updates. Sometimes the information is made available.

[2019-09-17 20:01] #5277 closed

[2019-09-17 20:04] KathrynEE commented on #5532
@riQQ - Thank you for the feedback. I've added to our backlog to update the topic.

[2019-09-17 20:04] #5532 closed

[2019-09-17 20:16] ahaynes-gw commented on #3889
"End of Q2."-- It's September.

@jariwalaraj This didn't work for me. Instead of getting a unique code, I simply got a 401 unauthorized. "Unable to load the service index for source..."

[2019-09-17 20:17] gojanpaolo commented on #5598
...It says we pay per user for Basic features. but then the link to the Basic feature redirects us to this page

![image](https://user-images.githubusercontent.com/16026608/65076126-f3624380-d95d-11e9-9b4b-3cd0e14bfb8a.png)

---

...The Azure DevOps Server tab is the following

![image](https://user-images.githubusercontent.com/16026608/65076205-2573a580-d95e-11e9-90a1-983825fb5fa7.png)

...The "B

[2019-09-17 20:22] steved0x commented on #5620
@azureDaveOps Thank you for chiming in with the answer, @raisingcode in case you didn't see it already.

[2019-09-17 20:22] #5620 closed

[2019-09-17 20:23] steved0x commented on #5619
@raisingcode Closing this one as a duplicate of https://github.com/MicrosoftDocs/vsts-docs/issues/5620 where the answer is given (no limit on the number of pipelines, just on the number of concurrent running pipelines)

[2019-09-17 20:23] #5619 closed

[2019-09-17 20:24] steved0x commented on #5581
@clix455 Not yet, I just sent another ping to that team to see.

[2019-09-17 20:41] steved0x commented on #5322
@mkajerski Thank you for supplying that information. @erinha I'm glad that worked for you. If you wanted to make an update to our documentation, you could submit a PR against this article [here](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/build/triggers.md), and maybe add it down in the QA section at the bottom? Or if you want to file a new issue on this topic, I can add

[2019-09-17 20:41] #5322 closed

[2019-09-17 20:44] steved0x commented on #5268
Closing manually since merging the PR didn't close it

[2019-09-17 20:44] #5268 closed

[2019-09-18 00:17] clix455 commented on #5581
Thank you Steve.

[2019-09-18 00:17] clix455 commented on #5492
Just to follow up, any progress?

[2019-09-18 00:40] alvipeo commented on #5634
ok, yeah, it needed some time to show up!

[2019-09-18 00:40] #5634 closed

[2019-09-18 00:45] gjbdebug commented on #5612
@congyiwu Yes, and now things are coming into focus. At https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops, I read past the “…connectivity from a user’s machine to Azure DevOps” (outbound) in the second paragraph and assumed the ranges under “Azure DevOps IP addresses” were inbound for hosted agent access to the deploy target (my bad and it did

[2019-09-18 01:01] ashwin-bala commented on #5510
Stage Templates work in YAML based pipelines. They are allowed as per YAML schema
 https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema
Example below works fine in Azure DevOps (Cloud) version :

Step 1:
 Create stage template yaml like below and place them in repo/templates/stages/ or where-ever you like.

sonar-stage.yml
------------------
parameters:

[2019-09-18 03:46] BenjaminEllett commented on #3306
I am still seeing this issue.  I ran into it tonight when I used the following two tasks:

[code]

The download task copied the files to $(Pipeline.Workspace) (d:\a\1) not $(Pipeline.Workspace)/BinSkimFiles as I would have expected.  The documentation states that this should not occur.  It states that "By default, files are downloaded to $(Pipeline.Workspace)/{artifact}, where artifact is the name

[2019-09-18 04:47] tibmart opened #5640 "The AzureDevops user in ServiceNow requires additional role"
Please add to the step 2 in the instructions, that the created user, in order to be able to perform any actions in ServiceNow, also needs to be assigned the ITIL role.

[https://docs.microsoft.com/en-us/azure/devops/pipelines/release/approvals/servicenow?view=azure-devops#configure-the-servicenow-instance](url)

[2019-09-18 04:48] #5640 closed

[2019-09-18 05:08] harishkragarwal commented on #5130
Hello, https://docs.microsoft.com/en-us/azure/devops/organizations/billing/buy-basic-plus-test-plans?view=azure-devops talks about purchasing/decreasing the number of 'Basic + Test Plans' access levels. Once done, you can assign them to appropriate users.

[2019-09-18 05:08] #5130 closed

[2019-09-18 06:04] AakashMasand opened #5641 "Feature Request: Add Verbose setting to the task"
The Powershell command New-AzResourceGroupDeployment has a -Verbose argument which gives us more information as to what resource is provisioning, what resource deployment has succeeded, etc. This is very helpful when debugging a deployment failure that might occur during the Azure Resource Group deployment task.

Would love tp have something like that with the Azure Resource Group Deployment task.

[2019-09-18 06:08] vborovikov opened #5642 "How to run UWP tests"
Not clear how to enable running tests from UWP test app project.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 5b846f94-2bb5-d5a8-63c8-8227ab1b613b
* Version Independent ID: 5ba1aaac-6076-c5e0-fec0-c2ac2405b138
* Content: [Build your Universal Windows Platform app - Azure Pipelines](

[2019-09-18 06:59] once-returner commented on #5630
+1 for this issue. It's mentioned [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#stage) that approvals available via environments, but there's no reference I can find demonstrating how it would be implemented in `yaml`. It should just be a stage setting as it is in the legacy release pipelines.

[2019-09-18 07:05] brujah6 opened #5643 "adjust activity drop-down"
hi
is it possible to adjust / add the fields of the activity drop-down
please consider if this is not possible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de93c4e5-f491-af61-6df5-e7253d727dc9
* Version Independent ID: 417246fa-90ed-38a0-cc68-1de7895e96ce
* Content: [Set sprint capacity - Azure Boards](https://docs.m

[2019-09-18 07:16] StefanSchoof opened #5644 "Does yaml have to define Output Variables"
In GUI Pipelines there is a section named "Output Variables":
![grafik](https://user-images.githubusercontent.com/4662023/65123047-b5fbc580-d9f2-11e9-852f-0d618499e41b.png)

The "View YAML" seems not to export those values. But in this documentation is no note how to do it or that it is unsupported. I think this should added.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-18 07:43] mkajerski commented on #5630
There is no step, you get approvals by declaring a deployment job with the attribute environment. You then define a "check" on the environment (pipelines -> environments). See https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops for a yaml reference of deployments.

[2019-09-18 08:16] SanderHolvoet opened #5645 "Different types of sample apps require seperate YAML build definitions"
The 4 different types of sample apps (Java / JavaScript / Python / .NET Core) each require a different *azure-pipelines.yml* build pipeline definition.

Both the Docker build task and the *imageName* variable in the current build definition is specific to the JavaScript sample app as the Dockerfile path differs.

**JavaScript:**
[code]

**The corresponding task for the .NET Core app:**
[code]

---

[2019-09-18 08:32] raiyanalam commented on #5630
@rustyautopsy @once-returner Does the solution suggested by @mkajerski  help in your case? If not can you email me at moala [at] microsoft [dot] com with a link to this issue. I would love to understand your scenario better and see if there are any gaps in the existing product.

[2019-09-18 08:39] artxe234 opened #5646 "Mermaid not available on Azure Dev Ops"
We're using the cloud version of Azure Dev Ops and would love to use the mermaid support on wiki pages.
Unfortunately the mermaid button is missing and the "::: mermaid" synthax is ignored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9

[2019-09-18 09:25] subudear commented on #3163
Any solution for this problem raised in this????

[2019-09-18 11:35] rustyautopsy commented on #5630
@raiyanalam I wanted to capture this part of the conversation publicly as I feel it may help others right now. Further details/discussions will be via email as requested.

@mkajerski We are POCing Pipelines and we are trying to encapsulate our entire workflow via code. Breaking out into the GUI to add additional steps isn't the best solution. Also, Environments don't seem to work for us since we a

[2019-09-18 12:14] xtellurian opened #5647 "Deployment Job doesn't automatically check out sources"
I think (and correct me if I'm wrong) that a deployment job doesn't automatically clone the source repo. This is different to the behaviour of regular jobs.

It would be useful to mention that on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7

[2019-09-18 13:16] marc-bouvier opened #5648 "Can Microsoft hosted Azure pipeline resolve private DNS domain"
I have a sonarqube instance that is exposed in a private network in my organization.

Can a Microsoft hosted agent resolve this domain? Say https://sonarqube.myorg

Or should I prefer using self-hosted Azure devops pipeline agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Ver

[2019-09-18 13:52] abelal83 commented on #2102
How do we link settings from a task group? It's all well and good adding individual tasks repeatedly for those who enjoy it but I'd rather use a task group but not able to link any settings. Is that available?

[2019-09-18 13:56] SephirotJustin commented on #4535
Is there any documentation now?
Its a pain in the ass to figure it out self, only reading the type definitions.
Would be really helpfull

[2019-09-18 14:19] Bjego commented on #5184
is there any replacement for the approvals in YAML pipelines,yet?
How can we achive this feature with a multistage YAML pipeline?
@vijayma

[2019-09-18 14:40] Bjego opened #5650 "Feature Request : Approvals and Checks from Pipelines and Repos"
Hi,
I'd like to see the approvals from signing off

- PullRequests in Repos

- Checks in Pipelines

- Approvals in (classic) Releases

This would make it easy to see all sign offs for e.g. productional releases in one central place.

I think this could make the audit section even more helpful.

With best regards

[2019-09-18 16:04] vijayma commented on #5184
@Bjego https://docs.microsoft.com/en-us/azure/devops/pipelines/process/approvals?view=azure-devops

[2019-09-18 16:04] #5184 closed

[2019-09-18 16:11] #5343 closed

[2019-09-18 16:16] chcomley commented on #5613
Hi @Styxxy, Thanks for your suggestion, I agree. I've created a user story on my backlog to address this. Thanks!

[2019-09-18 16:25] msebolt commented on #5633
@elamathiJv Thank you for the question.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent

[2019-09-18 16:28] msebolt commented on #5637
@jstallm Thank you for the feedback, assigning to the author.

[2019-09-18 16:55] sasanmcp opened #5651 "How would you update an existing variable?"
if $(myvar) is initialized with a value of val1, and I run ##vso[task.setvariable variable=myvar]val2, will it actually update myvar? or it will create another myvar variable with a limited scope with val2?
pretty much I want to know how to update a value during different stages and tasks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-18 16:58] sasanmcp opened #5652 "How would you update a variable in variabe group?"
would ##vso[task.setvariable variable=myvar]val1 work for updating a group variable called myvar?if not, how can I manipulate a variable defined in a variable group? we have different pipelines in the project. ones would compute group variables and others will consume those variables. we need to be able to dynamically set values for group variables.

---
#### Document Details

⚠ *Do not edit this

[2019-09-18 17:00] msebolt commented on #5645
@SanderHolvoet Thank you for the feedback.

Are you referring to the `Dockerfile`?  In that case, this could be the same depending on your setup, else you would need to use two variables, one for `$(imageName)` and one for `$(Dockerfile)`.

I think the idea here is that you can either create separate build definitions or use variables depending on your preference.

[2019-09-18 17:05] chasewilson commented on #5527
I'll be closing this issue for now. If you need to, feel free to open a new issue!

[2019-09-18 17:05] #5527 closed

[2019-09-18 17:06] msebolt commented on #5646
@artxe234  Thank you for the feedback.

This feature is currently under development, please refer to this [Azure DevOps UserVoice feature listing](https://developercommunity.visualstudio.com/idea/365751/wiki-mermaid-plantuml-support.html).

[2019-09-18 17:06] #5646 closed

[2019-09-18 17:08] chasewilson commented on #5377
@PBoraMSFT, thanks for taking this on. Just wanted to give this a bump and see how this is going

[2019-09-18 17:10] msebolt commented on #5650
@Bjego  Thank you for the suggestions, please move this issue to the [Azure DevOps UserVoice](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

There you can get direct feedback from the product team.

[2019-09-18 17:11] chasewilson commented on #4735
I'll be closing this issue for now. Feel free to open a new issue if the developer community provides feedback to update the doc

[2019-09-18 17:11] #4735 closed

[2019-09-18 17:24] chasewilson commented on #4502
@LasseNisted, thanks for the question. Sorry for the late reply. @vijayma just giving this a boost to see if you have any input?

[2019-09-18 17:33] chasewilson commented on #4550
@vtbassmatt, Do you happen to know if this documentation is correct? It will definitely need some updates but if you have some scope to provide that would be great.

[2019-09-18 17:42] vijayma commented on #4502
I am getting someone on the team to look at this. Sorry about the delay.

[2019-09-18 17:48] GrimGadget commented on #4643
This is still broken.

In order to get the authorize button, you have to trigger a build or submit a PR, which will fail, and then you get the button to click.  But attempting to manually run a build gives the result in the screenshot above without ever actually queuing a build, so you never get the build output screen, where the button is located.

[2019-09-18 17:50] GrimGadget commented on #4643
I'm not sure what actually resets the authorization status on the resources, so it's possible/likely that editing the triggers in the build definition is not a viable solution, either.

[2019-09-18 17:57] sgh-msft commented on #3163
@subudear I never got any resolution on this, it's particularly a problem when our builds get backed up over a weekend 🙁

[2019-09-18 18:06] clifmo opened #5653 "What causes Task not to appear?"
Followed tutorial exactly, but with one modification to support TFS 2018 (changed category to Azure Pipelines -&gt; Build and Release). Upload new extension on premises, but task not found when searching in a Build or Release add new task. I have a larger active extension I added a new task to which also does not appear, which led me to this tutorial.

My example task name is "clif". I add a new b

[2019-09-18 18:09] Lovakumar commented on #4142
We need to make it clear in the doc that service connection parameters must be fetched by service connection ID.

[2019-09-18 18:20] gotmike commented on #5452
i agree. the section that covers `arguments` should more clearly indicate that the user must set up a `generic service connection` and link to this page --> https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints

[2019-09-18 18:25] chweems commented on #4502
"Project Collection Build Service Accounts" is a legacy group used for XAML builds and the build service identity ("Project Collection Build Service ({your organization})") is a separate entity used for current builds. The service identity is the correct place to update the permissions.

[2019-09-18 18:39] Hobart2967 commented on #2287
bump, workaround not working anymore. But anyhow, when using linux clients, the username should not be present in the url, otherwise, alternate credentials wont work

[2019-09-18 18:42] gitfool commented on #4643
I had to unlink the group variables to get past this and it was not easy to find where to do that in the UI! I've since abandoned group variables.

[2019-09-18 18:47] steved0x commented on #5581
@clix455 I have some information for you, there are a few ways that you could do it:

1. On a per project basis, you can delete the Azure Pipelines pool by going to the project, project settings, Pipelines agent pool, and then delete it. Then if you decide to restore it you can do so by choosing Add pool, existing. These operations require [administrator permissions](https://docs.microsoft.com/en-

[2019-09-18 18:53] Bafff commented on #5350
@chcomley what has changed?

[2019-09-18 18:55] chcomley commented on #5653
Hi @clifmo, Thanks for reaching out. You said that you uploaded the task, but didn't say that you installed it. Those are two separate operations - first, you upload to the Marketplace, and second, you install the extension into specific collections. Just want to make sure you did the install?
Thanks!

[2019-09-18 18:59] chcomley commented on #5350
@Bafff, I added the following **bolded text** to the article, showing which versions the link supports: "Set a language identifier for the code block to enable syntax highlighting for any of the [supported languages](http://highlightjs.readthedocs.io/en/latest/css-classes-reference.html#language-names-and-aliases), **version v9.10.0 or later versions**." Thanks!

[2019-09-18 19:07] vtbassmatt commented on #4550
This is in RM's space - @RoopeshNair might be able to help.

[2019-09-18 19:10] Bafff commented on #5350
@chcomley maybe I don't understand something but I think we need to have a link to the page with exact names of languages that wiki supports. Or please point me how can I find it from your link from docs. Sorry if I'm missing smth obvious

[2019-09-18 19:12] chcomley commented on #5350
@adramasu, can you please help us here...thanks

[2019-09-18 19:15] clifmo commented on #5653
Thank you for the clarification. After installing the sample extension to my collection, the tasks now appear. This ended up helping me with my larger problem of adding new tasks to an existing extension. Found a totally new screen only reachable from the collection side to uninstall the extension from the collection. Then after removing the extension from the server, uploading it again, then inst

[2019-09-18 19:16] clifmo commented on #5653
Thank you for the clarification. After installing the sample extension to
my collection, the tasks now appear. This ended up helping me with my
larger problem of adding new tasks to an existing extension. Found a
totally new screen only reachable from the collection side to uninstall the
extension from the collection. Then after removing the extension from the
server, uploading it again, then inst

[2019-09-18 19:22] chcomley commented on #5653
@clifmo, I'm glad this worked for you. Happy to help! Have a great day.

[2019-09-18 19:22] #5653 closed

[2019-09-18 19:26] chasewilson commented on #5641
@AakashMasand this is not a doc bug, I'll be closing this issue. please reach out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) or on the [Task GitHub Repo](https://github.com/microsoft/azure-pipelines-tasks) for this request

[2019-09-18 19:26] #5641 closed

[2019-09-18 19:30] thejoebourneidentity commented on #5648
You should be able to resolve it, but you'll likely need to allow access to the Azure Datacenter IP ranges to allow access to your private network.

[2019-09-18 19:30] #5648 closed

[2019-09-18 19:50] GrimGadget commented on #4643
That seems related.  I encountered this problem after I set up a variable group for SonarCloud key/project/version info so I would only have one place to change it for the project (which has three pipelines)

[2019-09-18 20:57] #5581 closed

[2019-09-18 21:01] LarsCelie commented on #5647
This confused me just now. The deployment job knew which template reference to use, but then couldn't find any source file.

What are the recommended tasks/steps to make sure the source repo is downloaded successfully in the same location as if it were a regular job?

[2019-09-18 21:45] tedchamb commented on #5206
[code]

[2019-09-18 21:59] WilliamAntonRohm commented on #5635
@steved0x -- Steve, please review the changes in the above-mentioned PR 79.

[2019-09-18 22:06] rjminchuk commented on #4362
It's been a few months, so I was wondering if there are details that can be shared about this now. Is there a time-line for this yet? There are seemingly no stage Gates/Approvals or Manual Interventions tasks for yaml release pipelines at the time of this writing.

[2019-09-18 22:48] TASlavens opened #5654 "No instructions for HA (fail-over or load-balancing)"
Hello,

We have multiple AzDOS 2019u1 AT servers, so the indexer is installed on a separate VM, but currently we have only one of those.  I'm being asked to look into HA for the indexing, at least as hot fail-over with one server in each data center, if not fully load-balanced.  We're using F5 Big-IP, if that matters, but others will likely be using different products.

Would someone add detailed

[2019-09-18 23:26] WilliamAntonRohm commented on #5602
@syonekura -- Sebastian, thank you for clarifying.

@azooinmyluggage -- Atul, please look into this feedback.

[2019-09-18 23:32] Leon99 commented on #5206
I've already figured it out, thanks @tedchamb. I still believe it should be clearly documented though. Given the very essential nature of this operation, this doesn't look expected:
![image](https://user-images.githubusercontent.com/6840381/65194700-1efd3f00-dac0-11e9-8c9a-6edf4f25291c.png)

[2019-09-18 23:37] angelwang opened #5655 "using $apply in $expand expression"
Hello,
I am getting below error when I tried to implement this chart, I am using Azure Devops Server 2019, is this not supported?

DataSource.Error: OData: Request failed: The remote server returned an error: (400) Bad Request. (VS403483: The query specified in the URI is not valid: Term '( $apply=filter(WorkItemType eq 'Product Backlog Item') /groupby((StateCategory), aggregate(Effort with sum as

[2019-09-18 23:41] katlimruiz commented on #4362
Good news, it is there and . I am using it already.
On Sep 18, 2019, 17:06 -0500, Rich Minchuk <notifications@github.com>, wrote:

[2019-09-19 02:43] dsahu1001 commented on #3192
The question is very simple. Refer image 5. Under perform this action, there are 2 options
1. Trigger generic build
2. Trigger git build.
What is the difference between these 2

[2019-09-19 03:16] dsahu1001 opened #5656 "pull request merge attempted trigger behaviour"
Kindly provide the usability and behavior of "pull request merge attempted"  trigger. It look like its not behaving how it's supposed to behave

[2019-09-19 06:09] subudear commented on #3163
I think I have a solution. Let me explain my issue which I was working on. Probably the solution will work for you as well. I have Win and Linux based private build agents. I delete these VMs daily and recreate them every morning and configure the build agents (to save cost). Now this all works fine using scripts. I needed to monitor these VMs status (up or down) and whether build agent is offline

[2019-09-19 06:41] Bjego commented on #5650
@msebolt  I've moved it.
See it here : https://developercommunity.visualstudio.com/idea/739590/approvals-and-sign-offs-in-the-audit-log-or-anothe.html

[2019-09-19 06:41] #5650 closed

[2019-09-19 07:02] manb-msft opened #5659 "Unclear statement"
"As a point of reference, the Azure DevOps team builds its hosted agents using the hosted agents."
Doesn't make much sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version Independent ID: 97a5b73f-faf7-f9c0-9269-fc79984616d6
* Content: [Deploy a Azure Pipelines agent on Win

[2019-09-19 07:34] shachar-kindite opened #5660 "Release after Release"
Is it possible to trigger a release after another release has completed successfully?
for example: release to prod after release to test was successful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e313c5-9120-9172-bc27-c21d10fcd5ae
* Version Independent ID: 1a837182-591f-3cbc-1632-7b50d857b13c
* Content: [Release t

[2019-09-19 07:43] RoopeshNair commented on #5660
After stage trigger does that. Are you looking to trigger some other pipeline based on stage completion

[2019-09-19 07:56] adramasu commented on #5350
We are consuming highlightjs version 9.10.0. The [link ](https://github.com/highlightjs/highlight.js/tree/9.10.0/src/languages)has the list of languages for the specified version. We will update the documentation to point to this link. cc :@chcomley

[2019-09-19 08:31] ChrisGibson1982 opened #5662 "Details on adding multiple permission bits is unclear"
The line **Here, --allow-bit/--deny-bit could be a single permission bit or addition of multiple permission bits.** is unclear.  Do you just add the permission bits together to get the value you want?

 e.g if you apply a value of 7 for Releasemanagement, would you be able to view, edit and delete releases?

Some examples would be really helpful

---
#### Document Details

⚠ *Do not edit this sect

[2019-09-19 08:55] mbovo opened #5663 "Missing displayName property on deployment jobs"
Runing the example in page the result is failed with
`Unexpected value 'displayName'"`

seems displayName is not available/the doc is not aligned with the code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-e41f-f25b806155b8
* Version Independent ID: fd7ff690-b2e4-41c7-a342-e528b911c6e1
* Content: [D

[2019-09-19 09:08] SanderHolvoet commented on #5645
@msebolt In the *Get the code* section, you're referring to 4 different types of sample repositories (Java, JavaScript, Python and .NET Core). In the *Create pipeline with build step* section (during step 4), we're told to setup the build pipeline by editing the azure-pipelines.yml file. However, the YAML snippet which is shown, is only meant to be used if you cloned the JavaScript repo in the pre

[2019-09-19 10:38] RoopeshNair commented on #5663
Duplicate  of #5250

[2019-09-19 11:34] Graborg opened #5667 "test"
testing this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593c3abc-7b38-6673-62b6-7787d0dda4dd
* Version Independent ID: cbb2b875-b220-596c-7b4d-c2cf6c644335
* Content: [Deploy a Docker container app - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-dev

[2019-09-19 11:38] #5667 closed

[2019-09-19 11:51] Pardiess commented on #5147
Hello, I am also most interested in an answer to solve the "interesting problem". Kindly comment.

[2019-09-19 12:06] RonakThakkar opened #5668 "Update documentation to mention that "az devops extension commands now supports login done using az login""
If az login is already done, then there is no need to provide token as az devops commands now supports login already done using az login.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af3bebb5-3c18-a905-67b7-a1c6bd4f4522
* Version Independent ID: d6c7802a-dfdf-9852-a51b-d2ba30be70fe
* Content: [Sign in with a Personal

[2019-09-19 12:51] rlvandaveer opened #5669 "Does not include some error codes"
This text is missing both TF400506 and TF400507. Examples:

[Error  @18:54:13.959] Step : ProcessValidation - Failure Type - Validation failed : Invalid process template: WorkItem Tracking\Process\ProcessConfiguration.xml:: The following element contains an error: BugWorkItems/BugWorkItems. TF400506: This element defines the states for work items that represent Bugs or Defects. Each state must exi

[2019-09-19 12:58] Bafff commented on #5350
That's what we wanted I think

[2019-09-19 14:07] michaelmairegger commented on #2287
@Hobart2967 I found a solution that works for me:
you have to use the URL that you get on dev.azure.com when you click on clone on a project. I have copied the url from the address bar which is not working

it should be of the following form:

[2019-09-19 14:24] rjminchuk commented on #4362
Would you share your YAML? I'm trying this in a yaml pipeline (not a classic Release pipeline), but it's not working..

[code]

I copied the ManualIntervention@8 tasks yaml out of a classic release pipeline and set it to run on the "server," but I receive the following error message:

`Gate_for_qa:Job: "Task execution section of task definition for ID: bcb64569-d51a-4af0-9c01-ea5d05b3b622 is eithe

[2019-09-19 15:12] RoopeshNair commented on #4362
As I mentioned earlier, Manual Intervention is not supported in YAML pipelines yet. We have it on our backlog. tentatively 4-5 months based on current priorities. We are working on issues that impact broader set of users. We will continue to monitor this.

[2019-09-19 15:20] katlimruiz commented on #4362
You need to do the following:
1. Configure an new Environment e.g. Staging (in Pipelines/Environments)
2. On the right side, click on menu, click on Checks, add one and assign specific users or groups that can approve this.
3. Your Yaml should be something like this:

[code]

Add the environment entity below the job (which I defined as deployment, not a regular job).

NOTE: The only downside which

[2019-09-19 15:26] msebolt commented on #5655
@angelwang  Thank you for your question.

It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.

Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagen

[2019-09-19 15:26] #5655 closed

[2019-09-19 16:24] cdietschrun opened #5670 "Ability to add more required reviewers once PR starts?"
We have a common case where we have a PR that has default required reviewers set from branch policies. Once the review starts, the reviewers decide that they would like to add another person that is required, based on their intuition, and not just based on path or file name filters.

This doesn't seem possible as when the user adds a new reviewer, it always seems to go into optional reviewers, and

[2019-09-19 16:35] chcomley commented on #5638
@bradleyscollins, I've just published a replacement for this link, which should be live sometime today. In the meantime, please go here: https://github.com/highlightjs/highlight.js/tree/9.10.0/src/languages. Thanks so much for reaching out!

[2019-09-19 16:55] #5638 closed

[2019-09-19 17:05] pollockm opened #5671 "Checkout other repos than self?"
The documentation only mentions how to checkout the repo that contains the YAML file.  This is the main use case.  It implies, however, that it is possible to checkout something other than self.  What does the syntax for this look like (example)?  If it is not possible to checkout something other than self, the documentation should say that.

checkout: self  # self represents the repo where the in