[2018-07-03 11:23] StingyJack commented on #211
@TingluoHuang  - That would make sense and would be great if it worked, but it doesn't. I use a specific domain account for the service account, and this credential is not available to inline script block tasks that try to `-UseDefaultCredentials`  to download a build artifact or file from TFVC.

I've worked around the immediate issue as mentioned in OP, but not the maintenance burden.

[2018-07-03 12:52] KiruthikaSubramaniam opened #1204 "Merge wizard showing changesets which are merged from target"
I.Source: code1
Target : code2

Source Changeset : c1

step 1: merge Source Changeset(c1) from Source to Target

Now Target Changeset :c2

************************************************
Source: code2
Target : code1

step 2:Open merge wizard in Target

Click selected changeset
Source branch: code2
Target branch: code1

While trying to merge, it is showing changeset c2 whose changes are actually m

[2018-07-03 15:35] jawn opened #1205 "Typo"
The title "Link types" has a &lt; character that should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77829252-e5e1-9458-1f8b-716ff67c8e22
* Version Independent ID: db144baa-772a-6950-1b34-bd188ca656d7
* Content: [witAdmin:Customize and manage objects for tracking work - TFS](https://docs.microsoft.com/en-u

[2018-07-03 19:07] steved0x commented on #1198
@JakeKerber Let me check on that for you. I just did that scenario and it is like you described:

- Alice can't approve the PR (and have it count towards the minimum number of required reviewers policy) because she is the PR creator and "Allow users to approve their own changes" is not checked, even if the PR contains pushes from other developers (Bob).
- However, Bob can approve the PR and comple

[2018-07-03 19:15] steved0x commented on #1205
@jawn Thanks for letting us know, I just fixed this and it should be live shortly.

[2018-07-03 19:15] #1205 closed

[2018-07-03 19:17] steved0x commented on #1204
@KiruthikaSubramaniam Thank you for your feedback. This GitHub repo is for filing documentation issues. Please file your question at  https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you,
Steve

[2018-07-03 19:17] #1204 closed

[2018-07-03 19:24] steved0x commented on #1200
@mudnug Let me find out for you.

[2018-07-03 19:29] steved0x commented on #1190
@shayki5 The `@mention` control should work with TFVC changeset comments and shelveset comments, per [Use @mentions to further discussion](https://docs.microsoft.com/en-us/vsts/notifications/at-mentions?view=vsts) - it sounds like you are mentioning a user in a shelveset comment and they are not getting an email? When you leave the @mention does it pop up and let you select their name from the lis

[2018-07-03 19:33] mmitrik commented on #1200
@mudnug There isn't an exact replacement of the _pulls page at this time.  The best alternative is the My Work experience, which you can access from the checklist icon in the upper right corner:

![image](https://user-images.githubusercontent.com/940508/42240730-3908472e-7ed6-11e8-8c2a-a4604239e459.png)

We are tracking an issue on the Developer Community if you want to follow along for status upd

[2018-07-03 19:33] #1200 closed

[2018-07-03 19:44] KathrynEE commented on #1203
@tsahi - thank you for the feedback. You are correct that the text was duplicated. I'm correcting it now and the change should be live later today.

[2018-07-03 19:44] #1203 closed

[2018-07-03 19:45] mudnug commented on #1200
Thanks for tracking down the community link for me.

Since the My Work experience doesn't show PRs "Assigned to my team(s)" it is not really an alternative but I am finding I can customize the screen under Code -> Pull Requests to include PRs assigned to certain teams
![image](https://user-images.githubusercontent.com/859143/42241291-44dc3d8a-7ec7-11e8-8b2c-add9b0e6c6b4.png)

[2018-07-03 19:52] KathrynEE commented on #1193
@nadcracker - thank you for your inquiry. If you add the csharp tag to the syntax - it should appear in color.

[code]

If that doesn't work, then the color highlighting may not be supported on your version of TFS.

[2018-07-03 19:52] #1193 closed

[2018-07-03 19:53] mmitrik commented on #1198
Thanks for looping me in @steved0x

Yes, this scenario is currently a gap, and we've been discussing ideas for how we might remediate it.  In the short term, I think the only way to prevent this is to require a 2nd reviewer.

While we're on the subject, two options we've considered here are:

1. Change the behavior of the "Allow users to approve their own changes" option to exclude all users that

[2018-07-03 19:56] mmitrik commented on #1200
Yep, that's another option with the limitation you called out.

[2018-07-03 20:28] steved0x commented on #1200
I'll make sure to get this section updated: [Manage your pull requests](https://docs.microsoft.com/en-us/vsts/git/pull-requests?view=vsts#manage-your-pull-requests) with the info from this thread.

[2018-07-03 20:51] PeterAntal commented on #1197
A dashboard can contain a maximum of 200 widgets.

[2018-07-03 22:20] KathrynEE commented on #1197
@mkuzminski  - Thank you for your inquiry. The product team has confirmed that you can add up to 200 widgets to a dashboard.

[2018-07-03 22:20] #1197 closed

[2018-07-04 06:04] SteRichardson opened #1211 "Leaf node behaviour changed"
The sections around 'Only leaf nodes appear on x' no longer appear to be accurate, I can see a PBI and a child PBI on the same board and backlog at the moment. (not that I'm complaining, but the docs need updating)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c85fc76f-6cf3-2b74-0d50-cd8500b56679
* Version Independent

[2018-07-04 08:19] PoppyPham opened #1213 "How to Archive multiple file and folder"
How to Archive multiple file and folder
My working directory is /Root
I want to archive folder "/Root/folder1" and files "/Root/file1.js", "/Root/file2.json" in one.zip file without create multiple task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add63018-4f2c-f258-76ea-9f76aa43ff09
* Version Independent ID: c71f17

[2018-07-04 09:21] Akhenathon opened #1215 "IIS Deployment app_offline config (fcc23259-21ec-f9fa-4e25-f587e1e0f41b plugin)"
Hi, is there any way to configure the app_offline page that is injected while the app is deploying?

Thanks

[2018-07-04 11:43] boblechat opened #1216 "build alias are now prefixed with an underscore in release definitions"
In a release definition, when adding a build artifact, the source alias is prefixed with an underscore.
There is no mention of this new "feature / behavior" in the documentation.

![image](https://user-images.githubusercontent.com/34745154/42275264-05976f22-7f90-11e8-8a2a-89834a6b7f57.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-04 11:50] rogatec commented on #1082
@mmitrik  I created a [suggestion](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/34743457-code-review-needs-a-flag-for-being-under-review), maybe there will be enough upvotes to encourage you to implement this feature.
@steved0x We will then upgrade our tfs server to 2018 in the upcoming weeks. Thank you for your suggestions and we will then stick to it.

[2018-07-04 11:50] #1082 closed

[2018-07-04 11:51] rogatec commented on #1097
Well... I didn't recognize that if I remove all policies then I can remove the policy.

Thanks @steved0x

[2018-07-04 11:51] #1097 closed

[2018-07-04 13:45] belgaard opened #1217 "Great article"
... but you should probably rephrase this,
"We also understood there is no place like production. This is the shift-right part of the strategy. This is the shift-right part of the strategy. it’s a set of practices about both safeguarding the production as well as ensuring quality in production."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-04 14:08] danielstefanescu opened #1218 "Rest clients parity with Rest API"
Any plans to include clients for Releases/Dashboards/Widgets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e827e88c-c4a5-c8ce-3ac2-afc61a27d8c9
* Version Independent ID: 5f2514f2-13dd-229b-4ce0-9880a6687ead
* Content: [REST Clients](https://docs.microsoft.com/en-us/vsts/extend/reference/client/rest-clients?view=vsts)

[2018-07-04 14:22] m1ckr1sk commented on #678
is your equation still working?  We are using a similar method
[code]
which has recently stopped working.  The rest returns 200 with valid JSON but the expression returns:

[code]
It would be really useful if this was documented better.

[2018-07-05 04:02] shashban commented on #678
Thanks for reporting the issue. We found it as a code bug on our side and have started a hotfix release for the same. The expression handling should get working again soon (some time next week depending upon the ring you account belongs to).

[2018-07-05 04:02] #678 closed

[2018-07-05 08:39] danielstefanescu opened #1221 "duplicate of BuildHttpClient2_1?"
What's the difference between BuildHttpClient2_1 and BuildHttpClient2_2 pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4625686-71f6-9937-6eaf-ee6108ff8c15
* Version Independent ID: 3c2d7292-5edf-fe30-1f4b-80c03493829b
* Content: [TFS/Build/RestClient BuildHttpClient2_2 API](https://docs.microsoft.com/en-us/vsts

[2018-07-05 10:38] alexhomer1 commented on #1196
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-05 10:42] alexhomer1 commented on #1191
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-05 10:47] alexhomer1 commented on #1216
Thank you for your feedback. I will update the topic to include your feedback.

[2018-07-05 10:47] #1216 closed

[2018-07-05 12:13] MMThornberg opened #1222 "Page is not fully compatible with dark theme"
People, branch and commit names are not readable when using dark theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4fa671-48df-7fc6-eb39-06da85dc1e39
* Version Independent ID: 4ef522f6-24df-df64-3257-854ae27b2b9f
* Content: [The Race to Push - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/git/race-to

[2018-07-05 12:46] hdesouky opened #1223 "Consumer fails on http"
I followed the instructions in the documentation. However when i install the extension on vsts and try to create a new consumer through my new extension, it fails the test when i use http instead of https in the url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 758bed7c-374d-996e-ebff-c68528a823ca
* Version Independe

[2018-07-05 13:14] biohazard999 opened #1224 "Multiple phases do run in sequence on TFS 2018.2"
&gt; Multiple phases you add to a build definition run in parallel. Multiple phases you add to a release definition run in sequence. You cannot configure the order of dependencies between phases in this version of TFS.

This is not correct, they run in sequence, or I configured it wrong :(
I want to build on windows, mac and linux in parallel, but can't get it configured correctly. For now I need

[2018-07-05 13:36] alexhomer1 commented on #1224
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-05 14:02] steved0x commented on #1222
@MMThornberg I apologize for that - this has been an ongoing issue, but I am going to get it fixed this week. I didn't realize it also applied to the "Git at Scale" articles.

[2018-07-05 14:04] steved0x commented on #1215
@Akhenathon The issues in this GitHub repo are for submitting documentation feedback. What article were you reading when you had this question? Let me know and I can assign this issue to the right author for review.

[2018-07-05 14:06] steved0x commented on #1217
@belgaard I'll pass this feedback along, thank you. What would you change it to? Is it just removing the duplicate `This is the shift-right part of the strategy` part?

[2018-07-05 14:12] RoopeshNair commented on #1224
Support for running phases in parallel in release is still few months away (~5-6 months tentatively). On VSTS build supports running phases in parallel, for support in TFS @vijayma

[2018-07-05 14:17] belgaard commented on #1217
Yes

/Brian

On Thu, Jul 5, 2018 at 4:06 PM +0200, "Steve Danielson" <notifications@github.com> wrote:

@belgaard I'll pass this feedback along, thank you. What would you change it to? Is it just removing the duplicate This is the shift-right part of the strategy part?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-05 16:30] snvchandu1983 commented on #265
I need to understand how to connect to a Deployment Pool from a DMZ servers to TFS Servers which are in CORP network. I am unable to do that so.. Please let me know what king of script should i need to use as our target servers are in DMZ domains and my TFS in on CORP network domain. I am trying to run the script and it is not able to connect. Is it any firewall issue. or please provide interestin

[2018-07-05 16:53] alexhomer1 commented on #265
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-05 18:39] steved0x commented on #716
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:39] #716 closed

[2018-07-05 18:39] steved0x commented on #859
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:39] #859 closed

[2018-07-05 18:40] steved0x commented on #1222
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:40] #1222 closed

[2018-07-05 18:40] steved0x commented on #717
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:41] steved0x commented on #714
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:41] steved0x commented on #713
This is fixed and should be live in a day or two, thank you.

[2018-07-05 18:49] jfichtner opened #1227 "Offline upstreams question"
The following statement is confusing to me: "For outages lasting more than 12 hours, which are quite infrequent, you will experience issues listing and restoring packages, even if those packages have been installed into the feed."

This makes is sound like the automatic installation of the upstream package into the local feed is not actually happening, and that in the scenario where the upstream p

[2018-07-05 20:08] steved0x commented on #1198
@JakeKerber I've also added a clarification in this article about who the `user` is in `Allow users to approve their own changes` to clarify that `user` in this policy is the pull request creator - that should be live in a day or two.

I'm going to close this doc feedback issue, and to continue the discussion further with @mmitrik and the rest of the team, please file a feature request at https://

[2018-07-05 20:08] #1198 closed

[2018-07-06 03:01] vijayma commented on #1224
Can you confirm my understanding of your setup?
- You are using TFS 2018.2.
- You have a build definition with three phases.
- There are no dependencies specified between these phases (you can configure the dependencies when you select the phase in the editor).
- You are seeing that the phases run in sequence.

If so, this is not expected, and we would like to follow up with you.

[2018-07-06 09:38] danielstefanescu opened #1229 "Combos.IComboOptions documentation"
Where is the Combos.IComboOptions documentation?
The combo control does support a source with value and text e.g. &lt;option value="1"&gt;a&lt;/option&gt;?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97777da6-f32b-a0f2-733f-91304a3ef163
* Version Independent ID: 70bf2041-914b-3f7a-3c05-f026b9c91b5f
* Content: [Combo

[2018-07-06 11:28] Steve-A-Greenwood commented on #280
Hi, My team and I are also having this problem.  We can link to existing WITs but cannot create new ones from Zendesk

[2018-07-06 12:54] queBurro opened #1230 ""windows machine file copy" "Clean target" copy is slow when a large number of files are present in the target folder"
"windows machine file copy" "Clean target" copy is slow when a large number of files are present in the target folder.

Tested on TFS2015

to reproduce:

1. copy to a remote machine a zip to an empty folder (this is quick)
2. unzip it
3. repeat - copy is now slow and full of "Extra fir" "Extra file"

also

1. copy zip / unzip it/ copy single small file - this too is slow. Should be quick.

Cheers,

[2018-07-06 13:53] alexhomer1 commented on #1230
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-07-06 14:18] #1135 closed

[2018-07-06 14:20] steved0x commented on #1097
@rogatec I'll make an update to the documentation to make that more clear. Thanks for the great feedback.

[2018-07-06 14:24] elbatk commented on #1186
ah @jallman112 , that's not gonna get devs very far, I'll get this fixed!

[2018-07-06 14:33] elbatk commented on #1189
Adding @willsmythe to take a look at this.

[2018-07-06 14:43] spottedmahn opened #1231 "Add .gitattributes files to repos to normalize line endings"
Hello 👋 - can you update the repo to address problems like #577?  Thanks 🙏

Apparently, there is a fix here: [MSFT Docs Issue 362](https://github.com/MicrosoftDocs/feedback/issues/362#issuecomment-402889434)

[2018-07-06 14:50] shashban commented on #265
Build and deployment agents can work across untrusted domains, but need line of sight with the TFS servers.
If the DMZ domain can not talk to the CORP over HTTP, then the connectivity will fail.

@chrisrpatterson for additional inputs.

[2018-07-06 14:51] srsedate opened #1232 "Cannot Use Code From VSTS"
Since we linked Azure AD to our VSTS instance, users are not able to clone Git repositories from VSTS.  When they try to use any of the VSTS tools in Visual Studio (2015, 2017, etc. (Professional, Enterprise, etc.)), or when we try to use third-party Git tools, or when we select "Clone Using IDE" from VSTS, all authentication fails.  All login forms that show up expect a "Personal" Microsoft accou

[2018-07-06 16:41] chcomley commented on #1232
@srsedate Thank you for letting us know and we're sorry you're experiencing difficulties - this issue has been assigned to one of our PMs, who should be in touch with you soon.

[2018-07-06 19:04] boldwade opened #1235 "Comments on PR's integration with slack?"
Is it possible to have comments on PR's show up in slack?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd5671b-b7b8-9acb-c195-7897fec3538b
* Version Independent ID: ff894c1b-f2f7-581d-94b4-dbc77d80ad6d
* Content: [Slack with VSTS](https://docs.microsoft.com/en-us/vsts/service-hooks/services/slack?toc=%2fvsts%2fnotif

[2018-07-06 19:04] willsmythe commented on #1166
The value should be a regular JSON boolean value (i.e. not quoted). Also, `CustomerQnaSupport` can/should be camel-case to match the convention in the rest of the manifest file. So:

[code]

[2018-07-06 19:31] Gold14388 opened #1237 "Create Virtual Directory"
This task template does not show an option to create a virtual directory in IIS but the document says it can.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 244121ae-5de4-14cd-a9c3-d9cda5ad0a3b
* Version Independent ID: 313238b7-d67b-bc60-1188-cbe305179600
* Content: [IIS Web App Manage](https://docs.microsoft.com/en-u

[2018-07-06 20:45] AlaskanDruid opened #1238 "Move items into priority order - Not available"
Major bug. Unable to assign any priority order. Always get the following error for every position and every item. There has been no modification, there is only one user (me),  nothing has been re-parented.

An error has occurred while attempting to save your changes. Click here to discard your changes and refresh your view of the backlog. Error details: TF400486: Unable to complete the operation b

[2018-07-06 21:31] SamGrantham opened #1239 "This Command is Depricated in 2018.2"
If you attempt to run this in TFS 2018.2 you will get:

Warning: This command is obsolete in TFS2015 Update 2 and later. You can permanently delete a work item by removing it from the recycle bin and by using the RESTAPIs.

If you need to have a list of behaviors from 2015.2 and up let me know, I believe it worked with a warning for at least some updates before it stopped working.

---
#### Docume

[2018-07-07 10:53] turibbio opened #1242 "Broken link"
**Creating productive, customer focused teams** link is broken. I suppose that the correct link should be https://docs.microsoft.com/en-us/azure/devops/agile/productive-teams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7669a6fa-56a7-d6cb-f6ff-77ab120031a1
* Version Independent ID: c4def84a-8348-cd4d-a2c3-cf5503b0ad8

[2018-07-07 11:49] dbrtly opened #1243 "Breaking changes to VSTS templates?"
3. Select the .NET Desktop template.

Maybe I'm a dummy but I can't find this template when I search for it. Not sure if it has been renamed or removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a56478c9-7dfc-43e9-c348-357dc6862d73
* Version Independent ID: dd3cd0a1-dc03-15d3-1298-b76d770e4760
* Content: [Build yo

[2018-07-07 11:56] dbrtly commented on #1243
found it

[2018-07-08 10:26] yury-stepanov opened #1245 "Creating fields in scrum process."
Hello. I'am trying to create new field for the scrum process using this API (https://docs.microsoft.com/en-us/rest/api/vsts/processdefinitions/fields/create?view=vsts-rest-4.1).

Model for the new field looks like this
[code]
My application has `vso.project`_manage `vso.work_full` scopes.

In response I a receive;
[code]

I am not sure is it a missing scope (not found one) or I just can't create n

[2018-07-08 20:06] jmelosegui opened #1247 "Cannot remove inheritance using command line"
Following this document to remove privileges  to create branches at the root level but allow to create them inside the features folder I end up the following.

[code]
which results in an inability to create branches under the desired folder due to the  `Deny (Inherited):  CreateBranch` from the parent.

Is there any way to remove inheritance through the command line?

---
#### Document Details

⚠

[2018-07-09 04:04] azooinmyluggage commented on #598
I think it is not an _AND_. Just selecting _Deployment group (read, manage)_ will be enough. Adding @RoopeshNair for confirming once.

[2018-07-09 05:47] RoopeshNair commented on #598
Depending on the agent type you need to select the appropriate PAT token scope,
For build and release agents, select agent pool (read and manage)
For deployment group agents, select deployment group (read and manage)

Hope it helps

@alexhomer1  - to rephrase, if required.

[2018-07-09 05:47] #598 closed

[2018-07-09 07:03] 24mu13 commented on #1112
Any suggested workaround while you're working on that?

[2018-07-09 07:41] JohannesEH commented on #1041
@adnanebrahimi you can use a newer version of Node run the "Node Tool Installer" task before running your NPM tasks.

[2018-07-09 09:07] shayki5 opened #1248 "Mention user with "@" not alwayes send an email"
Hi,

**We use TFS 2017.3 on-prem.**
I encountered strange behavior when I try to mention user with "@" in a comment on changeset or shelveset.
I tried in our few team projects and the results are different. There are team projects that if I mention user on changeset/shelveset (in a comment) he doesn't receive any email, in other TP's the user receive email ONLY in the changeset, and in other TP's

[2018-07-09 09:56] samneirinck opened #1249 "Docker support"
Is there a way to do this when running the docker image of the VSTS agent? Preferably by setting an environment variable like VSTS_DEPLOYMENTTOOL and VSTS_DEPLOYMENTPOOLNAME?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fa0c14-9937-41bc-cc34-179edb379083
* Version Independent ID: 10fe3600-21a5-12db-5e21-5ade3a8fa48

[2018-07-09 09:57] Kboukhlouf opened #1250 "Input variable per build configuration"
Build for several multipliers will produce outputs like this in this case :
(debug, x86)
(debug, x64)
(release, x86)
(release, x64)
Is there a way to limit the output to only (debug, x86) and (release, x64) in this case?
Let's say for $(BuildConfiguration): Debug, I want the second variable to be x86 and x64 for release ? I have tried custom conditions :
or( and(succeded(), and(eq('BuildConfigurat

[2018-07-09 10:13] alexhomer1 commented on #1249
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-09 13:11] AdamCaviness commented on #1232
I'm experiencing the same issue as described by @srsedate. Three days ago we connected our VSTS to AAD. In Visual Studio it appears to be connected to my personal account when trying to work with our repos on VSTS. I've removed the VSTS credential in Windows Credential Manager and that has no effect. I'm able to see the repo in Team Explorer and connect to it without difficulty. When I attempt to

[2018-07-09 14:21] #1166 closed

[2018-07-09 14:32] elbatk commented on #1186
This is fixed and should go live by end of day, thanks again!

[2018-07-09 14:32] #1186 closed

[2018-07-09 14:47] ashokirla commented on #1196
Hi @PgxBaku
Can you please share some snapshots about the issue.
Can you also verify the build definition history to see if variable group has been unlinked.
Can you also check if you see the same issue in Release.

[2018-07-09 15:11] steved0x commented on #1248
@shayki5 You are the 2nd person to mention this, let me check for you.

[2018-07-09 15:13] steved0x commented on #1243
@dbrtly I'm glad you found it, do we need to update our documentation to make anything more clear? Or was it just a case of that template being hard to find for some reason?

[2018-07-09 15:14] steved0x commented on #1242
@turibbio I'll get that link fixed, thanks for letting us know!

[2018-07-09 15:16] steved0x commented on #1231
Thank you for the reminder - I will get this fixed and will report back here on this issue when I do.

[2018-07-09 16:13] DavidStaheli commented on #1237
@RoopeshNair do you know who owns this doc for IISWebApp**Management**OnMachineGroupV0?

[2018-07-09 16:29] RoopeshNair commented on #1237
@Gold14388 - you should be able to select configuration type from the IIS manage task. It has following options. Let us know if this isn't working for you
* IIS Website
* IIS Web application
* IIS virtual directory
* IIS application pool

[2018-07-09 16:29] #1237 closed

[2018-07-09 17:33] erewok opened #1251 "Pull request validation trigger is missing?"
Hello,

I am trying to create a build definition for building Pull Requests. Under triggers, there is no "enable pull request validation". I have seen screenshots in [other issues](https://github.com/Microsoft/vsts-agent/issues/1381) that show this checkbox. Why am I missing it?

Also: should this ticket go somewhere else?

[2018-07-09 18:14] elbatk commented on #1221
Hi @danielstefanescu , thanks for the question here.

Since we have a single API version for the service, it’s possible certain areas/APIs don’t change version to version, and so you’ll find some cases where the 2.1 docs are identical to the 2.2 docs (or even the 1.0 docs are identical to the 4.1 docs because some APIs haven’t changed in a long time).

Generally, the version only matters if an int

[2018-07-09 18:14] #1221 closed

[2018-07-09 19:15] SamirFarhat opened #1253 "The plugin link does not work"
You are saying that https://marketplace.eclipse.org/content/team-explorer-everywhere is the good URL. It does not work. The previous link (on the screenshot is the good one)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d30df51-6527-9482-8a71-782e45080e81
* Version Independent ID: 2810a642-a547-4285-ad82-1365177ac431

[2018-07-09 19:51] Gold14388 opened #1254 "Adding Windows Service release folder into artifacts folder"
I am trying to add windows service release folder into artifacts folder but I want to add under a certain folder like service name folder inside artifacts. Currently, I tried to copy files task but it adds just a bin folder inside artifacts for a service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f02378-b85b-d3a4

[2018-07-09 20:30] SamirFarhat opened #1255 "The Packages hub is not visible"
You should add the following notice. If you don't see the Packages hub, ask your account owner to install the Package Management extension from the Visual Studio Marketplace (like https://docs.microsoft.com/en-us/vsts/package/feeds/create-feed?view=vsts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11f43544-e181-b021

[2018-07-09 22:55] KathrynEE commented on #1238
@AlaskanDruid - I apologize for the trouble that you are having. If you are the only user and no items are parented, then it does appear that it is a bug. Please contact
the  [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), or get support via our [Support](https://www.visualstudio.com/team-services/support/) page.

[2018-07-09 22:55] #1238 closed

[2018-07-10 08:20] riezebosch opened #1258 "Packer build task with Azure Service Endpoint when using custom template"
It is currently not possible to use a service endpoint when specifying a custom template. That's sad because I have my own template in the repo but still want to run and deploy it on Azure.

Update: Also opened this issue on the vsts tasks repo: https://github.com/Microsoft/vsts-tasks/issues/7668

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-07-10 11:45] SamirFarhat opened #1259 "Not relevant sentence"
This is not relevant : Server URL	http://10.0.0.4:8080

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b55e0120-df94-9e7a-5439-7d7c45841deb
* Version Independent ID: 92c4e1a2-b161-796f-7053-d5a68373a0f3
* Content: [Build Docker images for your Java project with VSTS](https://docs.microsoft.com/en-us/vsts/java/labs/build

[2018-07-10 12:15] eriawan commented on #1253
This is definitely a bug, because
The marketplace link to Team Explorer Everywhere is not working.

And I can only use the https://dl.microsoft.com/eclipse on Eclipse. Screenshot:

![image](https://user-images.githubusercontent.com/8773147/42508848-261df354-8474-11e8-9922-edc0a4cbebd9.png)

I will create a PR for this tomorrow.

[2018-07-10 12:42] kjacobsen commented on #610
+1 to wanting this feature back.

If the fix is going to take any longer, perhaps it is advisable to update some of the documentation to further highlight this feature is currently disabled? I just spent a few hours looking for it!

[2018-07-10 13:21] andreasblueher opened #1261 "Example not working"
Could you provide the example code on GitHub? I tried to setup everything as instructed, but req.body is null in first line of post method `var repoId = req.body.resource.repository.id;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f48d8a-33fb-9f6d-1db1-4cccb5b987d9
* Version Independent ID: 3e18fcbf-331d-9de2-62ae

[2018-07-10 14:34] mikedouglasdev opened #1262 "As of Visual Studio 15.7.1 we are able to associate test cases to MS Test V2, xUnit, and NUnit."
Here is my blog post describing it.  Is this officially supported? http://www.deliveron.com/blog/test-case-association-xunit-nunit-and-mstestv2-tests-available-visual-studio-2017-1571/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a7e40-73d6-795f-7b8c-77104ef606e8
* Version Independent ID: 8f15995b-bd94-8d9f-1e8b-8

[2018-07-10 15:30] michaeldz commented on #830
I have same issue:

******************************************************************************
Starting: Use Java 10
******************************************************************************
==============================================================================
Task         : Java Tool Installer
Description  : Acquires a specific version of Java from a user supplied Azure blob or

[2018-07-10 15:49] steved0x commented on #1253
@SamirFarhat @eriawan I will get this fixed. To confirm I understand correctly, to read about the plugin, you can use `https://marketplace.eclipse.org/content/team-explorer-everywhere` but when specifying the location in Eclipse, `https://dl.microsoft.com/eclipse/` is still the correct value?

[2018-07-10 16:06] eriawan commented on #1253
@steved0x

Thanks for the reply!
Yes, the `https://dl.microsoft.com/eclipse/` should be used for the location of the update site, not the marketplace link.

[2018-07-10 16:06] DavidStaheli commented on #1258
@RoopeshNair do you know who owns this?

[2018-07-10 16:14] RoopeshNair commented on #1258
@riezebosch  - can you please elaborate, I didn't get this completely. Thanks

@DavidStaheli - not clear if the question is related to process parameters or service endpoint for tasks or template..

[2018-07-10 16:20] SamirFarhat commented on #1253
Yes, this is more accurate.

[2018-07-10 17:00] dennismi opened #1263 "Variable scoping..."
Hi

Does phase in the following also refer to environments:
To define or modify a variable from a script, use the task.setvariable logging command. Note that the updated variable value is scoped to the phase being executed and does not flow across phases.

I assume it does, cause I've set the variable in one environment, and the value wasn't available in the next... :(

Am using TFS2017u2 (15.117.

[2018-07-10 17:18] riezebosch commented on #1258
I want to use the 'packer build' task to build an image using my own packer template. But I also want to use the [Packer Azure Builder](https://www.packer.io/docs/builders/azure.html). But instead of providing the credentials on the arguments (service principal and client secret) I want to use a Service Endpoint. That combination is currently not possible.

This request should probably not be on t

[2018-07-10 17:34] chcomley commented on #1232
@AdamCaviness, thanks for your comment and we're sorry you are also experiencing difficulties. @AdamCaviness and @srsedate, would you both please send me an email listing your VSTS URL and email address of your GitHub identities, so we can investigate? chcomley@microsoft.com
Thanks

[2018-07-10 17:34] #1232 closed

[2018-07-10 18:01] AdamCaviness commented on #1232
@chcomley thanks for checking up on this. It resolved itself without any interaction within 12 hours so I presume the workload was not synchronized fully.

[2018-07-10 18:12] DavidStaheli commented on #1155
+ @vtbassmatt and @ericsciple

[2018-07-10 18:17] dinye commented on #1024
@willsmythe, do you have any updates on this? It would be really useful to my team. Thanks!

[2018-07-10 18:48] ericsciple commented on #1155
it should be a task setting. open an issue for the specific task in the vsts-tasks repo

[2018-07-10 18:55] DavidStaheli commented on #1155
@artkpv could you please open an issue for the PowerShell task in that repo, found here?
https://github.com/Microsoft/vsts-tasks

[2018-07-10 19:00] ericsciple commented on #1155
note, the powershell task already has this input: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PowerShellV2/task.json#L95

the issue here is about the azure powershell task

[2018-07-10 19:01] ericsciple commented on #1155
and as a workaround you can redirect stderr

[2018-07-10 19:13] spottedmahn commented on #1231
FYI, [.gitattributes contents are here](https://github.com/MicrosoftDocs/feedback/issues/362#issuecomment-403932911)

[2018-07-10 20:37] steved0x commented on #1253
@SamirFarhat @eriawan I am fixing this today and it should go live later today or tomorrow, sorry for the trouble and thank you for letting us know!

[2018-07-10 20:37] #1253 closed

[2018-07-10 21:15] nschonni opened #1265 "WIQL samples in tables aren't rendering correctly"
The "Include these query clauses" columns appear to be using triple backticks and some underscores that aren't rendering correctly on the doc site or GH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0efcf77b-29e3-61fe-2dfb-cbea0561e720
* Version Independent ID: e17b1af0-a501-9bf7-53ee-94492479c06b
* Content: [Query by

[2018-07-11 05:03] nschonni opened #1267 "Comments are not enabled in the release posts"
Nothing to comment on this particular post https://docs.microsoft.com/en-ca/vsts/release-notes/2018/jul-10-vsts but the old Brian Harry style allowed for good feedback from users on the releases for quicker user comments on a particular release.
This may have just been a temporary hick-up in the publishing config 😄

[2018-07-11 05:38] RoopeshNair commented on #1258
@riezebosch - got it thanks. I'm closing this issue, as you have duplicate open in the right repository

[2018-07-11 05:38] #1258 closed

[2018-07-11 06:49] TobiasSekan opened #1268 "Wrong command for "Work items" -> "Permanently delete work items""
The command for "Work items" -&gt; "Permanently delete work items" should be only **destroywi** instead of **witadmin destroywi**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77829252-e5e1-9458-1f8b-716ff67c8e22
* Version Independent ID: db144baa-772a-6950-1b34-bd188ca656d7
* Content: [witAdmin:Customize and manage o

[2018-07-11 10:18] alexhomer1 commented on #1262
Thank you for your feedback. I have passed this on to the product team for advice. They are currently investigating some issues related to this. I'll update the topic as soon as I hear back from them.

[2018-07-11 10:38] artkpv commented on #1155
Thanks for the feedback. Actually it was fixed in 3.* version. Please see the picture.
![screenclip](https://user-images.githubusercontent.com/3657998/42566572-b18677e0-850f-11e8-847f-88a56c30f84a.png)

[2018-07-11 10:38] #1155 closed

[2018-07-11 11:33] mlearned commented on #1259
@SamirFarhat we are looking at this one.  When you say "not relevant" you mean the private IP for pom.xml correct?  any other details you can share?

[2018-07-11 11:49] SamirFarhat opened #1269 "The arcticles are out-dated"
Hi,
I need to raise an alert about all these how-to docs. There are out-dated:
1- Screenshots and steps are not always relevant with the current version of VSTS
2- MyShuttle2 does not exist anywhere. We are supposed to use MyShuttle
3- I was not able to successfully complete the steps, even if i took the time to guess the right steps

Please update and advise

---
#### Document Details

⚠ *Do not

[2018-07-11 12:28] artisticcheese commented on #982
Per Service Fabric documentation upgrades based on compose file are not supported in Service Fabric
(https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose)

Is application documentation is outdated?

[2018-07-11 13:13] RoopeshNair commented on #982
@artisticcheese  - thanks, it needs update :)

[2018-07-11 13:13] #982 closed

[2018-07-11 13:26] jawn opened #1270 "Markdown includes not replaced"
I see multiple markdown includes in this page, e.g.:

![Schematic showing tasks](_img/2017-user-experience/Process parameters view.png)

Expected: replaced by actual content.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b96fad0-7bfb-8c02-701a-5960da7fb313
* Version Independent ID: 74847500-c617-31f4-999c-a344e7b4299

[2018-07-11 13:35] DavidStaheli commented on #1201
Thanks, @jmoody!  This should be live in the documentation later today.

[2018-07-11 13:44] jupallimanoj3 opened #1271 "Node.js Application packages"
How to create a tasks for node.js Applications using vsts and upload the artifacts in to JFrog Articatory.Can you please help on this.

[2018-07-11 13:58] labrose opened #1272 "Are extension charts supported on TFS?"
A partner asked when the client-side "chart" support for extensions would be supported on-prem (because our public docs indicate the feature is only available on hosted: https://docs.microsoft.com/en-us/vsts/extend/develop/add-chart?view=vsts). Apparently the feature is available on TFS (partner indicated he tried on 2017 U3 and it works).

Assuming this capability is supported on-prem, we should

[2018-07-11 15:23] steved0x commented on #1271
@alexhomer1 Can you help me get this one to the right place?

[2018-07-11 15:24] steved0x commented on #1270
@jawn Thanks for letting us know, we'll take a look and get that fixed.

[2018-07-11 15:59] steved0x commented on #1267
@nschonni I'll check and see - I can't recall if feedback was enabled for these before, although I do recall getting feedback and PRs for links and so forth. :)

[2018-07-11 16:01] mlearned commented on #1269
@SamirFarhat  thank you, having a fresh look at things and will be back.

[2018-07-11 17:02] SamirFarhat commented on #1259
Yes, it's possible that we get a different IP address.

[2018-07-11 17:04] steved0x commented on #1270
@jawn I fixed this, I think it selectively didn't like the spaces in some of the image names. It should be live shortly, thanks for letting us know.

[2018-07-11 17:04] #1270 closed

[2018-07-11 17:11] steved0x commented on #962
@neraath This is fixed now and should be live later today. Thanks for letting us know and sorry for the delay.

[2018-07-11 17:11] #962 closed

[2018-07-11 17:46] Powerhelmsman opened #1273 "New REST APIs Link don't work on Microsoft doc."
The issue was created by @sasonarum from https://github.com/MicrosoftDocs/feedback/issues/511
Describe the bug
On Microsoft docs at: https://docs.microsoft.com/en-us/vsts/integrate/concepts/dotnet-client-libraries?view=vsts
The "New REST APIs" link isn't working it gives 404
To Reproduce
Steps to reproduce the behavior:
Go to 'https://docs.microsoft.com/en-us/vsts/integrate/concepts/dotnet-client-

[2018-07-11 19:12] tlemke11 commented on #1112
Im using this https://colinsalmcorner.com/post/end-to-end-walkthrough-deploying-web-applications-using-team-build-and-release-management until I get some feedback. I still cant find the https://docs.microsoft.com/en-us/vsts/pipelines/tasks/deploy/iis-web-app-deployment-on-machine-group?view=vsts task within VSTS.

[2018-07-11 20:59] cosmoKenney opened #1275 "Integrate wit git?"
Can I reference trello cards in commits and have cards updated when the commit happens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1402b59d-915f-2457-e198-60898fd66191
* Version Independent ID: af8951ef-3bc1-8748-81a5-03696c6f5e85
* Content: [Trello with VSTS](https://docs.microsoft.com/en-us/vsts/service-hooks/ser

[2018-07-11 22:07] nschonni opened #1276 "Don't think this was ready to publish"
Looks like this and a few others in https://github.com/MicrosoftDocs/vsts-docs/commit/4995649c62ecf1d4e054b59907e208db0ab75def got pushed out by mistake

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3579700-2bcc-b38d-4112-c1024fee50fc
* Version Independent ID: d6eb0b15-17a3-ee0a-f264-c86a6db41add
* Content: [Azure De

[2018-07-11 23:25] Claudinealexandre30 opened #1278 "Ok"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1c5394-611b-b119-dbf3-b88404e351d5
* Version Independent ID: fcc23259-21ec-f9fa-4e25-f587e1e0f41b
* Content: [Deploy to an IIS web server on a Windows Virtual Machine](https://docs.microsoft.com/en-us/vsts/pipelines/apps/cd/deploy-webdeploy-iis-depl

[2018-07-12 09:12] jawn opened #1280 "Broken link "Packaging solution""
The link "packacking solution" in the text "adopt a packaging solution" returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 231de24f-34f2-7845-c90c-415459bdaf89
* Version Independent ID: ad53951a-8762-e636-1220-b39c2c0b165d
* Content: [Migrate from other systems to Git - Azure DevOps](https://docs.microsoft.c

[2018-07-12 09:17] alexhomer1 commented on #1271
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-12 09:23] alexhomer1 commented on #1263
Thank you for your feedback. I will pass this on to the product team and update the topic based on their response.

[2018-07-12 11:45] pwarner opened #1281 "A supported task execution handler was not found"
I began to get the following error message (it had been working previously)

**A supported task execution handler was not found. This error usually means the task does not carry an implementation that is compatible with your current operating system. Contact the task author for more details.**

2018-07-12T11:37:07.6761030Z ##[section]Starting: Copy Api.zip
2018-07-12T11:37:07.7088400Z ============

[2018-07-12 11:50] pwarner commented on #1281
never mind, build agent problem now resolved

[2018-07-12 11:50] #1281 closed

[2018-07-12 12:11] #1263 closed

[2018-07-12 13:35] IAmHopp opened #1282 "Incorrect note ordering on Software Dependencies"
There's a comment on the JRE mentioned in Software Dependencies about seeing note 2 in the Notes section that follows.

The only note related to JRE is the third one, probably because the second one as it stands now [about Elasticsearch as it related to Update 2] was added later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-12 13:46] alexhomer1 commented on #1282
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-07-12 13:46] #1282 closed

[2018-07-12 14:37] eriawan commented on #1273
@Powerhelmsman

I'm updating this doc page now, and I'll submit a PR soon.

Yes, the link to TFS/VSTS REST API has changed.

[2018-07-12 14:48] eriawan commented on #1273
@Powerhelmsman

A fix this issue has been submitted on PR #1283.

@steved0x could I search for other incorrect links of TFS/VSTS REST API and update them in one PR?

Many other VSTS doc pages are still having the incorrect link.

[2018-07-12 15:26] cbailiss opened #1284 "Agent Install Location on Windows"
Hello, the windows self-hosted agent PowerShell install/registration script provided in the VSTS website for deployment groups installs to the system drive with no option given.  Is it a supported configuration to modify this script to install to a different location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4379

[2018-07-12 15:36] steved0x commented on #1276
Ok we just fixed it, thank you!

[2018-07-12 15:58] eriawan commented on #1273
@steved0x

I think this issue now can be closed. 🙂

[2018-07-12 15:59] elbatk commented on #1273
I thought it may close automatically, I got it. Thanks people @eriawan , @steved0x , @Powerhelmsman

[2018-07-12 15:59] #1273 closed

[2018-07-12 16:36] rkralston opened #1285 "Outdated Upgrade Steps"
The Upgrade steps all reference upgrading to 2015. Are these relevant for 2018?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af46d9cb-1b1e-bfe1-0f19-c15aca283c95
* Version Independent ID: 284bd5a1-5ddf-801f-aaa1-502928037110
* Content: [Welcome to tfs-docs!](https://docs.microsoft.com/en-us/tfs/server/?view=vsts)
* C

[2018-07-12 16:44] MarcoDeJesus opened #1286 "Update Board Columns"
This of course might be in a different document but no mentioned here. I struggled finding a way of why my bug didn's show up. It was because I missed to update the Board Columns in the setting section. This won't happen for the Definition of Done default columns but it will for those updated ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-07-12 16:56] A-AontwSR opened #1287 "params missing in GET uri"
The GET of a list of approvals does not show all request parameters, almost all query params are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 664c74de-5612-9eb4-06f8-dc95c304c2fe
* Version Independent ID: ff6be0b3-1619-7813-27c4-58d00094f9e9
* Content: [Release approvals](https://docs.microsoft.com/en-us/vst

[2018-07-12 17:04] KathrynEE commented on #1268
@TobiasSekan  - Thank you for the feedback. I'm correcting the article and changes should appear later today.

[2018-07-12 17:04] #1268 closed

[2018-07-12 17:10] KathrynEE commented on #1265
@nschonni - Thank you for the feedback. I'm not seeing any issue viewing in Chrome or Edge. Can you be more specific as to what the format issue is?

[2018-07-12 17:15] nschonni commented on #1265
I think maybe i'm getting confused by the use of `_` in the code blocks

[2018-07-12 17:15] sscoleman opened #1288 "Petty Charges"
Charging customers for running builds on their own hardware is petty.  You over charge for ASE too.  It should be free. I can't understand charging for a service that binds other services together. If ASE was free my company would have double the infra in Azure. So we use AWS instead.  I suggest you take a look at this and realize that AWS has many build and deployment options. They don't have got

[2018-07-12 17:23] eriawan commented on #1288
@sscoleman

This issue is not within the scope for documentation feedback. It is more of a feature request, so it should be in VSTS' uservoice: https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services

cc @steved0x

[2018-07-12 17:28] KathrynEE commented on #1211
@SteRichardson - Thank you for your inquiry. I'm also seeing the same change in behavior on my VSTS account. I've reached out to the product team and they indicated no change was planned. As I get more information from them, I'll update the topic accordingly.

[2018-07-12 17:28] #1211 closed

[2018-07-12 17:57] steved0x commented on #1280
@jawn I just merged a fix in our private repo, it should be live shortly. Thank you for letting us know.

[2018-07-12 17:57] #1280 closed

[2018-07-12 17:58] steved0x commented on #1278
@Claudinealexandre30 It looks like your feedback didn't make it into the issue, could you please enter it again as a response to this comment and we'll take a look. Thank you.

[2018-07-12 18:10] #1276 closed

[2018-07-12 18:18] elbatk commented on #1223
Hey @hdesouky , adding @willsmythe to take a look at this :)

[2018-07-12 18:19] elbatk commented on #280
Adding @willsmythe to take a look at this one for ya

[2018-07-12 18:22] elbatk commented on #1227
I'm adding @alexmullans to address this question, I believe he's on vacation for the next few days but he'll get to you soon!

[2018-07-12 18:36] elbatk commented on #1229
Hi @danielstefanescu , I've forwarded this to the product team, I'll reach back out when they respond :)

[2018-07-12 18:38] elbatk commented on #1218
Hey people, adding @willsmythe to address this question for ya :)

[2018-07-12 18:42] elbatk commented on #1235
Hi @boldwade , adding @willsmythe to take a look at this for you!

[2018-07-12 18:51] artisticcheese commented on #982
@RoopeshNair
1. What "upgrade" under Advanced setting checkbox is for if per your statement service is always upgraded if it already exits.
2. How do you specify registry username/password in this task? Powershell module has this option to be specified as parameter but I don't see any option in this task

[2018-07-12 19:00] veebz opened #1291 "Delete Account Button Moved"
The Delete Account action is now part of the toolbar at the top right of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75b82830-ca76-a981-163f-849cf588543f
* Version Independent ID: 06d3db8e-29cc-119c-c7d6-e45a2b0ee9fc
* Content: [Delete your VSTS account](https://docs.microsoft.com/en-us/vsts/organizations/

[2018-07-12 20:15] steved0x commented on #1288
@sscoleman I will pas this directly onto the team, but you can also file it in Developer Communities here:

https://developercommunity.visualstudio.com/spaces/21/index.html

Developer communities is more for filing defects and issues with a product, and UserVoice for feature requests. I can see how `Petty charges` could be considered both a feature request (less petty charges) or a defect (I would

[2018-07-12 20:16] syonekura opened #1292 "Bad filename"
"Create a file named vsts-ci.yml in the root of your repository." should be "Create a file named .vsts-ci.yml in the root of your repository." I spent several hours scratching my head while wondering why VSTS didn't recognize my build file -_-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca42420-9324-1988-16bd-501be

[2018-07-12 21:28] steved0x commented on #1292
@syonekura Sorry that you ran into trouble, I am fixing this now, thank you for letting us know.

[2018-07-12 21:30] cellvia commented on #1288
could someone provide the reasoning for charging for self-hosted agent job concurrency?  the whole point of self-hosting is to avoid paying someone else.  is this purely a money grab as it seems?

[2018-07-12 21:31] #1292 closed

[2018-07-12 23:02] chcomley commented on #1291
@veebz thank you for your feedback! I've created a work item for this update.

[2018-07-12 23:02] #1291 closed

[2018-07-12 23:22] weikanglim opened #1294 "404 links to security REST APIs"
The navigation links in [security toc.yml](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/organizations/security/toc.yml) that point to the broken two security links:

- https://docs.microsoft.com/en-us/rest/api/vsts/organizations/security/permissions
- https://docs.microsoft.com/en-us/rest/api/vsts/organizations/security/

Should they be pointing to https://docs.microsoft.com/en-us/r

[2018-07-13 00:16] chrisrpatterson commented on #1145
Yes it is possible for the task to do this it just requires an update to the task to read the proxy settings when they are set. Can you open an issue on the vsts-tasks repo for this.

[2018-07-13 00:18] chrisrpatterson commented on #1027
can you open an issues in the Microsoft/vsts-tasks repo.

[2018-07-13 01:48] nschonni commented on #1267
@steved0x you're right, I was thinking more about these https://blogs.msdn.microsoft.com/bharry/2018/01/30/tfs-2018-update-1-rc-is-available/ but there isn't really an equivalent right now since he's on leave

[2018-07-13 02:17] PonmurughuS opened #1296 "How do i generate the import.json if the prepare fails due to import size?"
How do I generate the import.json if the prepare fails due to import size?
It is been mentioned in the troubleshooting document to delete some customizations to go through the step.
Does it mean the customization removals is to only generate import. Json for Azure SQL VM method and that the delete doesn’t have any significant impact on the migration?

---
#### Document Details

⚠ *Do not edit this

[2018-07-13 02:19] jholovacs opened #1297 "How do you add more?!? If we have to pay more, we pay more, but seriously there's no clear way to do this!"
You're holding my development hostage here!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c2c2355-60a5-d53f-2c72-8f032c1b8cf2
* Version Independent ID: 711bf22d-99c9-51b2-382c-e095bdb2c37f
* Content: [Resource limits & constraints - VSTS](https://docs.microsoft.com/en-us/vsts/integrate/concepts/rate-limits?view=vsts)

[2018-07-13 07:14] azooinmyluggage commented on #1271
Hi @jupallimanoj3
We already have a built in task for NPM. You should use that instead of creating a new task.
https://docs.microsoft.com/en-us/vsts/pipelines/tasks/package/npm?view=vsts

[2018-07-13 10:10] thisispaulsmith opened #1298 "HTML anchors don't work with link to other wiki docs"
Adding into a wiki page
[code]

 doesn't work the same as the mark down equivalent.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822-66c8-3a34-8905645ce5f2
* Content: [Syntax usage for Markdown files, widgets, wikis, and pull requests - V

[2018-07-13 11:09] alexhomer1 commented on #1288
Thank you for your feedback. I have passed this on to the product team for consideration.

[2018-07-13 13:19] roofers commented on #1296
Hi @PonmurughuS - It's hard to tell what problem you're running into without seeing the TfsMigrator.log file. Can you reach out to vstsdataimport@microsoft.com and attach the latest log file from your prepare run? I'll take a look and help get you back on track.

[2018-07-13 15:38] nicolasg-playster commented on #610
@DavidStaheli Any update?

[2018-07-13 15:45] DavidStaheli commented on #610
It's on schedule to be complete by July 20 and reach all of production ~August 3 with some stages getting it sooner.

[2018-07-13 16:03] 3choBoomer opened #1299 "Build Definition using .vsts-ci.yml file does not have an Options tab. No clear way to Allow scripts to access OAuth token."
Need information on how to enable the option for a yml based build pipeline to Allow scripts to access OAuth token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa5a83c-70fd-6925-a8c8-256b21c21a2e
* Version Independent ID: 75f4a136-7245-7878-2953-6b68272fe4ec
* Content: [Build pipeline options](https://docs.microsof

[2018-07-13 17:52] #1027 closed

[2018-07-13 18:36] wgv-srsedate commented on #1232
This issue can be considered resolved.  After removing the credentials from the Credential Manager, and deleting the Git cache file in local app data, the issue resolved itself.

[2018-07-13 20:38] ChristopherMank commented on #832
This content source still says 404. Any plans to update with an Edit button so I can PR this update?

[2018-07-13 20:41] chcomley commented on #1232
Fantastic, thanks to you both - glad to know it's working for you.

[2018-07-13 22:39] emarion0 opened #1301 "Do that now button has the wrong link"
"do that now" button is not about orgs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 715eca62-8a31-4163-c27b-f5e71d781982
* Version Independent ID: 06dc711f-1946-29e9-aece-75af903da09b
* Content: [Customize the workflow of an inherited process - VSTS](https://docs.microsoft.com/en-us/vsts/organizations/settings/work/c

[2018-07-14 04:07] gsacavdm opened #1303 "What are the GitHub scopes needed when creating a personal access token?"
I'm trying to follow the principle of least privilege however I'm unclear which are the minimal set of scopes I should grant the personal access token I'm creating for the VSTS integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-1

[2018-07-14 05:38] PonmurughuS commented on #1296
I am asking for additional documentation to run the Azure SQL VM method of migration.
To be precise when I get the large DB table size issues how do I generate import.json for migration.
Error screen attached.
![start-tfs-migrator-validate-using-command-line](https://user-images.githubusercontent.com/17600131/42721293-130a228a-8756-11e8-818a-380a0a177a36.png)

[2018-07-14 13:22] kduenke commented on #769
Yes, the documentation for this is terrible.  It's especially bad when the object properties are so ad hoc (onFieldChanged, onLoaded, load, onUnloaded, onSaved, onSave).  They're essentially random.

https://docs.microsoft.com/en-us/vsts/extend/develop/add-workitem-extension?view=vsts
https://docs.microsoft.com/en-us/vsts/report/extend-analytics/widget-extension-against-analytics-service-configura

[2018-07-15 01:36] KevinCust commented on #859
@steved0x FYI - still doesn't seem to be fixed.

[2018-07-16 03:10] oneillci commented on #1224
I can confirm this behaviour.
I have a build definition with 3 phases. I want 2 to run in parallel and the 3rd to wait for previous to succeed.
Phase 1 & Phase 2 have no Dependencies and are set to 'Even if a previous Phase has failed'.
3rd Phase has Phase 1 & 2 as Dependencies and set to 'Only when all previous phases have succeeded'

When I queue a build, they all run in sequence. Phase 1 & 2 do

[2018-07-16 06:43] eriawan commented on #1294
@weikanglim
You're right. I'll submit a PR on this.

[2018-07-16 06:47] eriawan commented on #1294
Ah, never mind. The page of https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/organizations/security/toc.yml is no longer available in live branch.

Looks like it has been updated, or it has been moved.

[2018-07-16 10:32] shayki5 commented on #1248
**Update:** I tried in other team projects and the results are different. There are team projects that if I mention user on changeset/shelveset (in a comment) he doesn't receive any email, in other TP's the user receive email ONLY in the changeset, and in other TP's the user receive email on changeset and on shelveset.

 I catch an error on the event view immediately after I mention user on shelve

[2018-07-16 10:41] Anders-Frey opened #1310 "Creating tag without description from web portal"
The Description field in the create tag dialogue seems to be mandatory. What is the reasoning behind this, and is there any way to create a tag from the web portal without a description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb20e31-fc65-913d-f4a6-61318f079224
* Version Independent ID: 0c4960b1-d639-7452-a2e7

[2018-07-16 12:09] Lucas-maramaldo opened #1311 "Otimo"
Muito bom!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e29-ff3f-cbea4a6eb24d
* Version Independent ID: 695d975e-ea9b-139b-4f98-f9655a751f59
* Content: [Turn preview features on or off - VSTS](https://docs.microsoft.com/en-us/vsts/project/navigation/preview-features?view=vsts)
* Content Source: [docs/p

[2018-07-16 12:20] mlearned commented on #1303
@gsacavdm see here for more detailed explanation of each of the scopes  https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/

check out repo and public repo .. right now there is not like a "read-only" for code only type scope

[2018-07-16 14:21] steved0x commented on #1311
@Lucas-maramaldo Thank you for your feedback! I have passed it along to the author of the article.

[2018-07-16 14:34] steved0x commented on #1294
@weikanglim @eriawan Thanks for letting us know. Let me assign this one to the owner of that area as I'm not sure.

[2018-07-16 15:21] vlef commented on #996
There is now a mention of the preview feature at the top of the page: this issue should be closed.

[2018-07-16 16:50] roofers commented on #1296
@PonmurughuS - Importing a collection via the SQL IaaS method is detailed [here](https://docs.microsoft.com/en-us/vsts/articles/migration-import?view=vsts#importing-large-collections). How to take a generated import.json and set it up to connect to the VM is covered in the documentation [here](https://docs.microsoft.com/en-us/vsts/articles/migration-import?view=vsts#configure-the-import-specificat

[2018-07-16 17:18] nschonni opened #1312 "Page talks about TFS 2017.4 which isn't a valid release"
Maybe there will be another patch for TFS, but currently there is no Update 4 for TFS 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc336814-834a-03f1-9e17-76423f669c58
* Version Independent ID: 803a0088-f40b-dcc0-aeda-dba55f1536f4
* Content: [Process template and plug-in files - VSTS & TFS](https://docs.microsof

[2018-07-16 17:24] elbatk commented on #1275
Hi @cosmoKenney , adding @willsmythe to take a look at this one for ya

[2018-07-16 18:18] ravinderjangra opened #1313 "Not showing option to make public project."
Now shoring option to select private/project. Also in existing project there is only private security option, not showing public option there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee33161-f67e-b5df-77ba-6005ab19ddda
* Version Independent ID: 695c87c3-067f-175c-38d1-9bd6c777a605
* Content: [Create a public pr

[2018-07-16 19:10] steved0x commented on #1310
@Anders-Frey I spoke with Sandeep (for some reason he was unable to reply directly here), he said:

`Lightweight tags are considered temporary tags that developers prefer to create in their IDEs. Mostly the intent is to push annotated tags to remote branch therefore we provide 1st class experience to add annotated tags in VSTS IDE. Users can continue to create lightweight tags using cmd line or ID

[2018-07-16 19:10] #1310 closed

[2018-07-16 19:22] Anders-Frey commented on #1310
Hi Steve and thanks for your answers. I appreciate the decision to only use annotated tags in the web portal and that is not a problem for my companys specific scenario. Our problem is that the description field is mandatory.

We've just upgraded from TFS 2017 to TFS 2018 and in the former version, the description field was not mandatory. If you created a tag without a description it was created a

[2018-07-16 21:54] brfenske opened #1314 "Unhelpful help"
"To resolve this issue, ask the subscription administrator to configure an Admin Access role for your identity." is useless if I am the subscription administrator and don't know how to do this.  Why not include a link to a page that explains how to configure admin access for someone?  I'm stuck.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-17 00:19] KathrynEE commented on #1313
@ravinderjangra - Hi. If you don't see the option to create a Public Project after you set the Anonymous Access policy to ON, please reach out to our [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) or our [Support](https://www.visualstudio.com/team-services/support/) page.

[2018-07-17 00:19] #1313 closed

[2018-07-17 00:30] KathrynEE commented on #1301
@emarion0 - Thank you for the correction. I'm updating the affected articles now.

[2018-07-17 00:30] #1301 closed

[2018-07-17 00:38] KathrynEE commented on #1294
@weikanglim - Thank you for the correction. I'm updating the broken links now.

[2018-07-17 00:38] #1294 closed

[2018-07-17 00:39] KathrynEE commented on #1265
@nschonni - OK. I'm closing this as the underscores are in the code syntax by design.

[2018-07-17 00:39] #1265 closed

[2018-07-17 00:51] MarkAD88 opened #1317 "Json Variable Substitution and Arrays"
In my appSettings.json file I have a section named "ItemList" which is in source control as "ItemList": [ ]

In my build definition I'm attempting to add two values to the array "One" and "Two" using variable substitution.  I've declared two variables "ItemList.0" with a value of "One" and "ItemList.1" with a value of "Two" but the values are not being added to the appSettings.json during the tran

[2018-07-17 09:52] MoiMoiDG opened #1318 "Execute tests in parallel on deployment groups"
Hi,

there is something which is probably missing in this documentation.
Let us assume that one has an application to be tested and written 1000 functional tests for it.
One may want to distribute the artifacts to several machines to parallelize the test execution. This is supported by the TFS 2018.2 release pipelines only for an agent phase but not for a deployment group phase. The latter does no

[2018-07-17 10:36] dalee-bis opened #1319 "Video link broken"
The video at the bottom of the page has been removed from YouTube by the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe168fc3-2ed2-b3e6-ce30-cac721165ceb
* Version Independent ID: 8d63fbd7-12c4-9a94-92f6-969e7eb41037
* Content: [Git branching guidance](https://docs.microsoft.com/en-us/vsts/git/concepts/git-bra

[2018-07-17 10:51] dalee-bis commented on #1053
If you can't use feature flags, it seems to me that you have one of either two problems:

1. You are trying to perform QA Validation on part of a release or
2. You are merging features into the master branch before they have been fully approved.

I've never used feature flags but I gather they work best if are having regular releases. If you can't use feature flags or have a slower release cycle,

[2018-07-17 11:40] onurkocer opened #1320 "Work with multi-team ownership of backlog items hollow-filled bars does not exist"
In TFS 2015 hollow-filled bars are using to show workitems in different areapaths.
Hollow-filled bars are not exists any more in VSTS and TFS 2018.

But in documentation it is still stating that hollow-filled bars are valid.

https://docs.microsoft.com/en-us/vsts/work/backlogs/work-multi-team-ownership-backlogs?view=vsts

Is this feature not exists anymore?
![hollowbars](https://user-images.github

[2018-07-17 12:11] alexhomer1 commented on #1318
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-17 13:11] #1278 closed

[2018-07-17 13:52] msdnguy opened #1321 "Group Rules missing feature"
Hi, I don't see the option for adding extensions.  Is this only available if you have purchased the extensions?  If so could you document this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba38644a-fe6c-e644-2f35-2cf6fa092650
* Version Independent ID: 7d18b423-923f-d9c4-e451-ab7f8ff27bb1
* Content: [Assign access lev

[2018-07-17 13:52] ahmadyo opened #1322 "How to edit label description?"
How to edit label description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9acb068-8187-9dc7-8ed8-ee6115e36141
* Version Independent ID: 112c018f-4dcc-2268-1f6f-536d22835b0a
* Content: [Label sources](https://docs.microsoft.com/en-us/vsts/pipelines/build/_shared/label-sources?view=vsts)
* Content Source: [docs/pipe

[2018-07-17 14:01] pabrams opened #1323 "Control configuration documentation missing or out-of-date"
Edit:  Answered my own question, so changed title due to the missing documentation.  Below is an example, but I think the other controls' docs are similarly lacking.

See https://stackoverflow.com/questions/51370249/how-do-i-get-vss-sdk-treeview-to-collapse-by-default

[2018-07-17 15:02] pabrams commented on #1323
I finally figured this out.  There's an undocumented (afaict) property called 'treeLevel' which I can set to 0.  See SO link for code.  Can you please add some documentation, or tell me where it is?  I can't find it.

[2018-07-17 15:05] elbatk commented on #1287
hey @A-AontwSR , duplicated this issue over in the [vsts-rest-api-specs repo](https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/65) so that the API team could take a better look!

[2018-07-17 16:16] AndrewEllinor opened #1324 "Possible typo"
In the first paragraph " to automate the creation of infrastructure and deployment of a new. Successive environments"
Should there be a word after new?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 895ed016-6ddc-3458-db9e-ebbedf218982
* Version Independent ID: 36e017f5-b012-fcec-6906-1966f3a97cb4
* Content: [What is C

[2018-07-17 16:30] ericrrichards opened #1325 "Please pop a warning before committing when there are no staged changes"
It would be very helpful if there was some way to force the git plugin to make you confirm before committing changes, when you haven't staged files.  I run into situations all the time where I tweak some local config file that should not be committed, and then make some changes to other files, and forget to stage the particular files that I want committed, then hit Commit All.  Then I have to go c

[2018-07-17 17:11] mrfnord opened #1326 "Compare non-repo files"
Plain old file compare is does not appear to be available in VS2017 when using Git. I have 2 directories on my computer I want to compare. The old TFS Compare tool could be pointed at arbitrary files, but the Git version can only compare branches or historic versions.

This is pretty basic functionality with lots of uses, checking that the freshly compiled version matches the running version, comp

[2018-07-17 17:15] samuelbcollie opened #1327 ""Task Tool Installers" don't need to be manually enabled anymore"
I think this page needs to be updated. This feature is now enable for everyone and doesn't need to be enabled as a preview feature according to: https://docs.microsoft.com/en-us/vsts/project/navigation/preview-features?view=vsts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8098f527-ebdf-60d5-3989-5228b7a207c1
* Versi

[2018-07-17 18:29] chcomley commented on #1321
Hi @msdnguy , thanks for your comment. To assign an extension to a user (and, consequently, a group), an administrator must have first installed the extension on the account. Here's a link to that information, which I'll be adding a link to within this topic. Thanks again. https://docs.microsoft.com/en-us/vsts/marketplace/install-paid-vsts-extension?view=vsts

[2018-07-17 18:29] #1321 closed

[2018-07-17 18:36] #996 closed

[2018-07-17 19:24] #860 closed

[2018-07-17 20:35] hiraldesai opened #1328 "Git command prompt within team explorer"
Is there a way to get git command prompt working within team explorer itself? Right now I have to switch apps to do it, it'd be nice to just have a Git shell within VS itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be5d8ba0-8663-725f-b9da-34f7b47dbe04
* Version Independent ID: 7e9e5c80-4e3d-ed58-07d6-bd72312b1e

[2018-07-17 21:00] gsacavdm commented on #1303
Thanks @mlearned , to confirm, you're saying that the only permission I need is  `repo_deployment` / `public repo`, correct?

Is there are reason this isn't listed in this VSTS doc?

[2018-07-18 08:05] brandon1780 opened #1331 "@brandon1780"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cfd9f66-a0f8-8369-f19e-c3446c301bcd
* Version Independent ID: 4f666589-3917-3424-bd3b-83b658e3a56d
* Content: [Build a repository with YAML](https://docs.microsoft.com/en-us/vsts/pipelines/get-started-yaml?view=vsts&tabs=gitvsts)
* Content Source: [d

[2018-07-18 09:08] LokiMidgard opened #1332 "In a multiconfiguration phase, specify different demands for the different configuration"
If I have a variable `OS` with the value `Win7,Win8,Win10` and I use the variable for the multiplier, can I use the values `Win7`, `Win8` and `Win10` for the demands of the running builds?

So in this case one build searchs for an agent that has the capabilitie `Win7`, another for an agent with `Win8` and a third agent that matchs `Win10`. Just using `$(OS)` did not work. I think it then will sear

[2018-07-18 09:12] MikaelUmaN opened #1333 "How to set default columns to show in backlog view"
This does not show how I can set the default columns to be shown in the backlog view. Right now I see for example "value area" which we do not want to see. I just want to select what we want to see, similar to "queries". No idea why the backlog view isn't just generalized to be a query that you can modify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-07-18 12:08] StingyJack opened #1334 "MD anchors probably need a note about number of pound signs"
A markdown heading will always be anchored with a single leading pound sign, not however many pound signs are present in the heading.

So `### My Heading` will be represented in a link context as `#my-heading`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID:

[2018-07-18 12:21] StingyJack commented on #1298
I think the anchor has to be lowercased, like it does for some of the other link types.
[code]

[2018-07-18 13:17] marszall87 opened #1335 "Some extensibility points are missing in the new UI preview"
Looks like ms.vss-work-web.sprint-board-pivot-filter-menu and ms.vss-work-web.backlog-board-pivot-filter-menu are no longer working in the new UI. Unless it's a bug, it should be documented somehow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eab519d8-dc41-91de-437a-4469edefddab
* Version Independent ID: edc98ac8-a8

[2018-07-18 13:18] snavarropino commented on #1317
I am also quite interested in previous question: can we add items to an array (not only replace existing items)?

[2018-07-18 13:35] fleed opened #1336 "Are .net standard packages supported?"
I'm creating Nuget packages targeting .net standard, using the `dotnet pack --include-symbols`  and trying to publish them to a VSTS feed. I have two issues:
- when publishing the `.symbols.nupkg` package, it is in conflict with the corresponding `.nupkg` that I previously published
- if I publish the `.symbols.nupkg` file to a different feed in the same. VSTS account, I'm still not able to debug

[2018-07-18 14:07] #1331 closed

[2018-07-18 15:30] steved0x commented on #1335
@elbatk Can you take a look at this one and reassign if needed? Thank you.

[2018-07-18 15:35] steved0x commented on #1334
@StingyJack Thank you for the feedback. It looks like that matches what we have in the documentation here:

![image](https://user-images.githubusercontent.com/1580889/42891844-4fca2104-8a7e-11e8-92dd-b9a169927ac3.png)

I'm assigning this to the author for review, can you provide ay additional information about what part we need to update or clarify? To explicitly state that there is only one `#` c

[2018-07-18 15:35] #1334 closed

[2018-07-18 15:52] dkmiller opened #1337 "How to view a specific branch"
The documentation doesn't make clear whether or not it's possible to view the "wiki version" of a specific branch of the underlying repository. A typical wiki URL ends with &wikiVersion=GBwikiMaster, which makes it appear that you can set the branch, but substituting another branch doesn't actually show the contents of that branch.

Is this (viewing a different branch of the underlying repository

[2018-07-18 15:54] steved0x commented on #1328
@hiraldesai Do you mean something like this?

https://jessehouwing.net/use-git-directly-from-visual-studio/

I'm not sure if there is a built-in way but I can find out.

[2018-07-18 15:59] steved0x commented on #1324
@mlearned What is the missing word here and I will get it fixed up.

@AndrewEllinor Thanks for letting us know, it looks like there is a missing word, I'll get that fixed up for you.

[2018-07-18 16:00] steved0x commented on #1323
@pabrams The issues in this GitHub repo are for documentation feedback. Can you let me know what article this feedback goes with, and I'll assign it to the right author for review. It sounds like there is a property we need to document.

Thank you for your feedback.

[2018-07-18 16:01] steved0x commented on #1319
@dalee-bis Thanks for letting us know, I'll get this fixed up.

[2018-07-18 16:14] alexhomer1 commented on #1314
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-07-18 16:14] #1314 closed

[2018-07-18 16:22] vtbassmatt commented on #1299
Short term, doc is here: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-token.md

Long term, I will get this moved into our official docs.

[2018-07-18 16:23] mlearned commented on #1324
I'd say something like "new updates to applications."  however @steved0x  i'll spin up a thread with Sam Gu to see what he wants to do.

[2018-07-18 16:23] #1299 closed

[2018-07-18 17:16] steved0x commented on #1324
@mlearned Thank you

@AndrewEllinor I chatted offline with @mlearned and I have checked in a fix, replacing `a new` with `applications1 and this should be live shortly. Thanks for letting us know about the typo.

[2018-07-18 17:16] #1324 closed

[2018-07-18 17:54] hiraldesai commented on #1328
OMG - I had no idea you could do that! Thank you for this information!

[2018-07-18 17:54] #1328 closed

[2018-07-18 18:40] leshkinski opened #1339 "Clean Target option for Blob operations"
Would it be possible to add a feature where the target blob is removed if one already exists in the target container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622daa35-c6a1-dac3-17ee-3f9308fc60cd
* Version Independent ID: 2c28a59b-8ef5-d7ab-46a6-58748ec552f5
* Content: [VSTS and Team Foundation Server Build and D

[2018-07-18 19:35] skarai opened #1340 "Dead link for SQL collation information"
Paragraph TFS 2013 additional information. Link for SQL collation settings point to https://docs.microsoft.com/en-us/install/sql-server/collation-requirements.md (404 error). Possible link were https://docs.microsoft.com/en-us/sql/relational-databases/collations/collation-and-unicode-support?view=sql-server-2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-07-18 20:54] pkzOR opened #1341 "Additional Web Deploy arguments"
You state:
Additional Web Deploy arguments that will be applied when deploying the Azure Web App like,-disableLink:AppPoolExtension -disableLink:ContentExtension

but where is the complete list??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be413593-c38c-d3bf-8450-627f3c4928b1
* Version Independent ID: 4d4e3115-5146-

[2018-07-19 04:11] StingyJack commented on #1334
Yes please. I cant be the only one who has copied and pasted a heading in order to make a link or TOC  entry and not realized why it wasn't working after lowercasing and trading spaces for dashes..

[2018-07-19 07:01] J-Cake opened #1343 "Use Git with third-party client"
I like to use Github Desktop, but am having difficulty signing in to my git page, is it possible to use GHD for Git management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc40b8e-8a81-8213-d98e-a2c39d615f14
* Version Independent ID: 6d175def-aa48-ff2a-614f-4e9cf3324537
* Content: [Get started with Git and Visual S

[2018-07-19 08:15] alexhomer1 commented on #1339
Thank you for your feedback. Product suggestions and feature requests are best posted and upvoted on the UserVoice website at https://visualstudio.uservoice.com/forums/330519-team-services, where they are tracked by the product teams. Please post your suggestion there. Thank you.

[2018-07-19 08:15] #1339 closed

[2018-07-19 10:53] jmezach opened #1344 "Build.SourceVersionMessage is undocumented"
The variable Build.SourceVersionMessage can be used in a build, but is not documented here. Is this an omission in the documentation, or an unsupported variable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content:

[2018-07-19 13:23] andrasferenczi opened #1345 "What are the possible types for the inputs?"
I figured out from examples there are boolean, string, filePath and pickList.

But is there any type for list of strings? Or is there a way to add custom types?

A link to some documentation would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Indep

[2018-07-19 14:40] steved0x commented on #1343
@KlaussMC Yes you can use GitHub desktop, to clone and interact with your repo you need your account name and a Personal Access Token. To generate a personal access token, see [Authenticate access with personal access tokens for VSTS and TFS](https://docs.microsoft.com/en-us/vsts/organizations/accounts/use-personal-access-tokens-to-authenticate?view=vsts#create-personal-access-tokens-to-authentica

[2018-07-19 15:06] elbatk commented on #1335
Thanks @marszall87 and @steved0x , assigning to @willsmythe so he can take a look

[2018-07-19 15:44] steved0x commented on #944
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-07-19 15:44] #944 closed

[2018-07-19 15:45] steved0x commented on #970
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-07-19 15:45] #970 closed

[2018-07-19 15:45] steved0x commented on #986
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-07-19 15:45] #986 closed

[2018-07-19 15:51] steved0x commented on #1217
I just checked this in and it will be live soon, thanks for the great feedback.

Steve

[2018-07-19 15:51] #1217 closed

[2018-07-19 15:51] steved0x commented on #1215
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-07-19 15:51] #1215 closed

[2018-07-19 15:51] steved0x commented on #1138
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-07-19 15:51] #1138 closed

[2018-07-19 15:54] steved0x commented on #1132
@JJones-IAI Sorry this one slipped through the cracks and that it took so long to reply. I'll get this reviewed. Thanks for your feedback.

[2018-07-19 15:54] #1132 closed

[2018-07-19 15:55] steved0x commented on #1109
@AStoker Sorry that it took me this long to respond to your feedback, I am engaging the product team for their feedback.

[2018-07-19 16:03] steved0x commented on #1251
@madhurig Do you know why @erewok is missing the `enable pull request validation` under triggers? I saw that you had engaged on the linked issue and might know. Thank you!

[2018-07-19 16:09] madhurig commented on #1251
@erewok: Where is your source code - in VSTS or GitHub or some other location?

Thanks,
Madhuri

[2018-07-19 16:32] erewok commented on #1251
Hi @madhurig: our source code is in VSTS.

I *was* able to build Pull Requests by enabling "Custom condition using variable expressions" and entering the following "Variable expression" under `Phase 1`:

[code]

This is different from what the docs said, though, which is what prompted the issue.

[2018-07-19 16:37] madhurig commented on #1251
@erewok: Pull Request validation builds for source code in VSTS is setup via branch policies and does not show up on the build definition. Please check out this doc: https://docs.microsoft.com/en-us/vsts/git/branch-policies?view=vsts#build-validation

[2018-07-19 17:07] mmitrik commented on #1109
+1 to the article that @steved0x referenced.

In Git, branches are about as lightweight as it gets - they're just a pointer to a commit.  So there isn't really any overhead at all associated with creating the branch (at least from the version control point of view).

This is definitely a valid strategy.  Really, I think it comes down to how likely you think it is that you'll create a hotfix for a

[2018-07-19 17:16] VickeyC opened #1348 "Database Developer"
How do I create a label in TFS 2017 or VS 2017?   These instructions seem to apply to VSTS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66afe74b-6887-286e-d354-9225575260b1
* Version Independent ID: 5e8e06f6-8494-408c-fcb4-d3f98580f92e
* Content: [Use labels to take a snapshot of your files](https://docs.microsoft.co

[2018-07-19 17:39] snavarropino commented on #1317
We are talking about adding a new value, not replacing an already existant one.

In following  json I would like to add a third user

{
“Users”: [“user1” , ”user2”]
}

I can replace user1 by defining a variable Users.0 and giving a value. However I was expecting to add a new user to array defining variable Users.2

Do you plan to support this scenario?

[2018-07-19 18:05] RoopeshNair commented on #1317
The code looks for the JSONPath matching the variable name and substitutes the value and doesn’t insert new.

Currently we are working on issues that impact broader set of customers and it will be a while before we can get to it. We do encourage contributions, if you are open, please feel free to raise a PR

[2018-07-19 18:35] bennett-elder opened #1350 "Inconsistent wildcard examples on Build: .NET Core"
The "all .csproj files in all subfolders" example wildcard is inconsistent from example to example. `**/.csproj` in fact does not work. Based on my experience just now, `**/*.csproj` is required to specify all csproj files in all subfolders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96561b11-820d-b386-4208-e88e955

[2018-07-19 21:15] vhhughes opened #1352 "Incorrect IP Addresses"
I went through the long process of having the IT department get the IP addresses listed here opened for our Azure VM. When I finally ran the import, it errored out saying that two unlisted IP addresses could not reach our VM. Please update your list here! Either that or, if your tool will report the needed source IP addresses, consider changing your instructions to have us run the tool once in ord

[2018-07-19 21:19] steved0x commented on #1348
@VickeyC Labels are in TFVC in TFS 2017 and VS 2017 so if you have those versions you should be able to create and use labels. Labels are a Team Foundation Version Control feature (TFVC) only ,and not Git. If you are using TFVC and connected to a TFS server in your project, you should be able to apply labels to your files. What happens when you try to create your labels?

I don't have any screensh

[2018-07-19 21:30] ElvenSpellmaker commented on #1288
I'd like to add my two-penn'orth here also.

The new Concurrent Charges have been sneaked in without _any_ communication to us that this was ever going to be a thing.

We have enough VSTS Enterprise Licences (I believe) to not be affected, _except_ we've been capped to one build for no reason, and the link given to us to be able to change this, leads to a blank page with a blue background:
![image

[2018-07-19 21:43] pabrams commented on #1323
Examples are linked from the SO question,  but the problem is much bigger than just one missing property.  I dont think ANY properties are documented fir these controls.  We can see what some of them are by looking at the sample code.  If you try to document that one example, i think you will see what i mean.

[2018-07-20 05:04] kcrossman opened #1357 "New VSTS "User's hub" not found"
The "User's hub" doesn't exist in the new VSTS layout.

![image](https://user-images.githubusercontent.com/9127996/42984192-93fa8c08-8ba8-11e8-8d15-b730314d2b0b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98e224f9-91ef-2776-b1d8-04d79f4acf78
* Version Independent ID: d37dd0a0-bb80-6a59-08c2-a4e64fd6f103
* Conte

[2018-07-20 05:08] kcrossman commented on #1357
![image](https://user-images.githubusercontent.com/9127996/42984192-93fa8c08-8ba8-11e8-8d15-b730314d2b0b.png)

[2018-07-20 08:38] pradeepgudipati opened #1358 "Please provide examples and unit tests for the API !"
We need more code samples for GitPullRequestSearchCriteria

coreClient.getPullRequests(record, Contracts.GitPullRequestSearchCriteria.status.PullRequestStatus.All, projectName, 99999, 0, 999999).then(function(results) {
                        console.log(results);
});

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9

[2018-07-20 09:15] lovakumar commented on #1288
@ElvenSpellmaker To debug further about blank page with a blue background screen can you please send browser window console logs/errors that you see when this happens.

[2018-07-20 09:49] marszall87 commented on #1335
Actually I got a response from the dev team and it was a regression. It works after a fix, however it behaves somewhat differently - perhaps worth a note in docs.

[2018-07-20 10:24] JeroenHo opened #1359 "How to add in-house hosted feeds"
How can I add private nuget package feed on an on premises hosted TFS 2018 environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5f022df-36c3-34b1-cac1-ac33995a7d73
* Version Independent ID: 9634b0c8-7b14-4453-2c04-aedabbf331f1
* Content: [Upstream sources](https://docs.microsoft.com/en-us/vsts/package/concepts/

[2018-07-20 12:50] samsil opened #1360 "The generated project has old style csproj"
HI, I found that if I create a project following the steps described in this article, vs is generating old csproj. Is there any way I can generate the new-style csproj?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e19f646-d820-7582-0672-e5d3b3fe8966
* Version Independent ID: 37f94f23-23bb-3306-840a-1291ca0e66b5
* Co

[2018-07-20 13:11] alexhomer1 commented on #1360
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-20 14:23] loumuccioli opened #1361 "Build Variables Documentation Examples missing"
Some examples of pre-defined build variables are missing.  For example, Agent.BuildDirectory should display c:\agent\_work\1.
Similar to others.

Thanks, Lou

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c5-4e6f283b0826
* Content: [Bui

[2018-07-20 14:44] steved0x commented on #1326
@mrfnord You can compare two files together in Visual Studio by using the Tools.DiffFiles command from the command window as described [here](https://stackoverflow.com/questions/13752998/compare-two-files-in-visual-studio) and you can also run Visual Studio from the command line to get a diff as described at the top of the article [here](https://docs.microsoft.com/en-us/vsts/tfvc/compare-files?vie

[2018-07-20 14:51] robianmcd opened #1362 "misleading git diagram"
The diagram for a squash commit is a bit misleading. Branches in git are just pointers to commits and the "my-feature" branch is shown as a pointer to the first purple commit. So I would assume the second purple commit is not part of the feature branch. But I don't think this is what the diagram is trying to convey as the example of doing a merge shows both purple commits being merged in.

---
###

[2018-07-20 15:45] nomoreshoes88 opened #1363 "@mentions to groups"
Good morning,

I am attempting to use @mentions to group members in TFS 2017. However, when I try to type in the name of a group, none of our groups from TFS or Active Directory populate or allow us to search for them.

We are coming from another project management software that DID allow for this, so we have become pretty reliant on this feature. In this article, it seems like the process should

[2018-07-20 17:45] steved0x commented on #1325
@ericrrichards Thank you for your feedback. The issues in this repo are for content feedback, and this looks like a product feedback. For product feedback, including feature requests, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-07-20 17:45] #1325 closed

[2018-07-20 17:46] steved0x commented on #1323
@pabrams I have assigned this to the writer for that area, thanks again for the feedback.

[2018-07-20 17:59] steved0x commented on #1319
@dalee-bis I just removed the broken video, and as soon as we have a replacement I'll add it back in. Thanks for letting us know.

[2018-07-20 17:59] #1319 closed

[2018-07-20 18:15] willsmythe commented on #1275
Unfortunately, no. Services like Zapier or Microsoft Flow are likely able to support this. If not, there is always the option of writing custom code that receives the commit events from VSTS (via webhooks), parses the messages for Trello card links, and then calls Trello APIS to update the appropriate cards.

[2018-07-20 18:18] willsmythe commented on #1235
Good suggestion. This is currently not supported. You can open this as a suggestion on the VSTS UserVoice forum (or vote/comment if someone else already has) here: https://visualstudio.uservoice.com/forums/330519-team-services

[2018-07-20 18:29] willsmythe commented on #280
What type of work item are you trying to create in VSTS? Have you customized this work item type in anyway? Also, does the Zendesk ticket have any attachments?

[2018-07-20 18:30] willsmythe commented on #1223
Unfortunately, only HTTPS URLs can be used with contributed service hook consumers.

[2018-07-20 18:47] VickeyC opened #1366 "Tags and TFS"
Is there a specific TFS release which allows you to create and display tags?   My company is on version 15.112.26307.0 (2017 Update 1 RTM), but I don't see any tag options listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb20e31-fc65-913d-f4a6-61318f079224
* Version Independent ID: 0c4960b1-d639-7452-a2e7-08c599

[2018-07-20 19:00] steved0x commented on #1247
@jmelosegui Sorry that it took a little while to take a look at this one, were you able to get it resolved? If not, can you show me the commands that you used to allow the CreateBranch permissions? (And the command used to get the report above) (You can replace the parts of your URLs with ***** that show your account names)

There is more information on how these permissions interact here: https:/

[2018-07-20 19:02] steved0x commented on #1248
@shayki5 I checked into it and it looks like it could be a bug. The issues in this repo are for content feedback, and this looks like a bug. For product feedback, including bugs, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

This will engage the product team directly.

Thank you,

Thank you.

[2018-07-20 19:02] #1248 closed

[2018-07-20 19:04] steved0x commented on #1190
@shayki5 You are the 2nd person to mention this, it sounds like it might be a bug. I checked into it and it looks like it could be a bug. The issues in this repo are for content feedback, and this looks like a bug. For product feedback, including bugs, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

This will engage the product team directly.

Thank you

[2018-07-20 19:04] #1190 closed

[2018-07-20 20:03] cubonesmash opened #1367 "Would like the build data restored to the warehouse for non-XAML builds"
It would be helpful to restore the build data to the warehouse.  We use an on-premises version and produce reports for compliance and traceability using the warehouse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126a5a77-d3fe-af1f-12e5-260ed45151d2
* Version Independent ID: c2adedfc-bc7b-a73c-9c5c-43d8a03346d5
* Con

[2018-07-20 22:35] shaneholder commented on #1297
It would be nice to have a way to address the rate limits.  Currently we're importing projects from on-prem TFS using the vstssyncmigrator and hit rate limits that cause the imports to take much longer than they should.  Is there a way to get at least get a temporary increase in rate limits?

[2018-07-22 12:34] shayki5 commented on #1248
Ok, thank you!

[2018-07-22 14:35] patroza opened #1373 "Why do stakeholders not have View access?"
What's the rationale behind this choice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d704a22b-6a65-7a4c-1111-944c9aeff944
* Version Independent ID: 5880f4f1-ce11-3f43-e0dd-d569f5206b4d
* Content: [Review team delivery plans - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/work/scale/review-team-plans?view=vsts)
*

[2018-07-22 19:13] SaiManikantaG commented on #760
Hi, I would like to follow the request with other two for the WIQL documentation references with regards to schema. Although I found some examples online these are not enough to get all the information that I am needing. Also I have question with regards to WIQL queries.

when I use `{
  "query": "SELECT [State], [Title] FROM WorkItems"
}`

it returns me list of:
[code]
but is there really a way t

[2018-07-22 22:22] timscharfenort opened #1375 "hellboy"
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 4409a9cb-8448-edd6-da0a-243e5601aa3e
* Version Independent ID: ec15f71a-a76d-c3f9-1d31-832f92183ef4
* Content: [Agents, pools, and queues](https://docs.microsoft.com/de-de/vsts/pipelines/agents/pools-queues?view=tfs

[2018-07-23 06:36] Bakanych opened #1376 "Requirements quality widget error"
I'm getting widget error load error in out TFS 2018 update 2. The following response which I found in log:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1ebaba-2520-e270-f638-af5a58b4e957
* Version Independent ID: 7e34ad14-df23-cbf2-28b8-73f240b116a5
* Content: [Associate automated test results with requireme

[2018-07-23 12:03] riezebosch commented on #211
https://docs.microsoft.com/en-us/vsts/pipelines/build/options?view=vsts#allow-scripts-to-access-the-oauth-token

Tasks already have access to the token but for custom scripts you need to allow it on the build options page. Of course, there's a security implication with that.

[2018-07-23 13:38] #1350 closed

[2018-07-23 14:07] asadabbas88 opened #1377 "Can we use intranet TFS on VSTS ?"
As I want to use build part .. i.e. use local intranet TFS and build the project

PS: Apologies if the forum is not correct !!

[2018-07-23 14:41] steved0x commented on #1377
@asadabbas88 Thank you or your feedback. The issues in this repo are for content feedback, and this looks like a product question. For product feedback, including feature requests and discussion on features, please file an issue at the forums here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-07-23 14:41] #1377 closed

[2018-07-23 14:44] steved0x commented on #1375
@timscharfen. Guten tag and thank you for your feedback. It appears as though your feedback was not saved. Could you please repeat it here? thank you.

[2018-07-23 14:46] ttsdevelopers commented on #653
This Task is very slow. According to this (https://docs.microsoft.com/de-de/vsts/pipelines/tasks/utility/publish-build-artifacts?view=vsts) there is an option for parallel which is false on default. Is this the case for VSTS and is it possible to activate parallel copy?

[2018-07-23 14:50] steved0x commented on #1366
@VickeyC From looking at the VSTS features timeline it looks like the ability to view and create tags in the Web portal was added in this release:

https://docs.microsoft.com/en-us/vsts/release-notes/2017/mar-29-team-services#add-and-view-git-tags

Which was included as part of TFS 2017.2.

Let me confirm that with the product team, because if so, I need to update this article to include that info

[2018-07-23 14:56] andyjlewis commented on #1375
I'm going to close this for now until we've got the feedback.

[2018-07-23 14:56] #1375 closed

[2018-07-23 15:14] andyjlewis commented on #1088
Just an FYI, we've turned off display of shared snippets like this one. Thanks again for reporting this issue.

[2018-07-23 15:16] StingyJack commented on #211
There is no token involved.

[2018-07-23 15:19] andyjlewis commented on #1322
Thanks for your question. This snippet that you commented on is not meant to be displayed independently, so last week we fixed the issue and it is no longer posted. A couple of resources I hope might address your question:

https://docs.microsoft.com/en-us/vsts/pipelines/build/repository
https://docs.microsoft.com/en-us/vsts/tfvc/use-labels-take-snapshot-your-files
https://docs.microsoft.com/en-us

[2018-07-23 15:19] #1322 closed

[2018-07-23 15:38] loicmorvan opened #1378 "Argument YAML names are missing"
The names of the arguments from the YAML file are not written in the table, so it's hard to understand the corresponding description. Can you add a column `YAML name`?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 16bd8dd1-7650-8c18-2553-38a8bc54e892
* Version Independent ID: f9fa517a-7adc-e327-d12

[2018-07-23 15:39] alexhomer1 commented on #1376
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-23 19:14] carlowahlstedt commented on #476
Was there ever a clarification on this? I realize this is a VSTS issue and not directly a docs issue, but we're having the same issue in VSTS. It seems the group additionally cannot receive emails for release approvals.

[2018-07-24 00:53] cricketplayer opened #1380 "Ability to store more than 4096 characters in the library variable values"
Currently trying to store a long json key value pair in the library variable values, but hitting the 4096 character limit.

[2018-07-24 02:46] lovakumar commented on #1288
@ElvenSpellmaker thanks for the screenshot. We have reproduced a similar issue and just to confirm what we have reproduced is same as what you were facing, can you please share the following.

Browse to https://<your vsts accountname>.visualstudio.com/_diagnostics
click Script debug mode enabled
Browse to https://<your vsts accountname>.visualstudio.com/_admin
On the bottom toolbar click settings

[2018-07-24 03:24] fakhrulhilal opened #1381 "Signing commit"
Is there any way to sign the commit using GPG? Support for signing commit will be helpful. The VSTS should support signed commit as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9654b64d-80e5-a28e-30d8-240b02bbe175
* Version Independent ID: c4f3eb8e-e203-7452-ba96-b0990107339a
* Content: [Save your changes with

[2018-07-24 03:34] fakhrulhilal commented on #1381
I'm expecting VSTS to view signed commit like [GitLab](https://docs.gitlab.com/ee/user/project/repository/gpg_signed_commits/index.html) or [GitHub](https://blog.github.com/2016-04-05-gpg-signature-verification/) do. It would be better if visual studio can view signed commit as well. This [issue](https://github.com/jayphelps/git-blame-someone-else/commit/e5cfe4bb2190a2ae406d5f0b8f49c32ac0f01cd7) i

[2018-07-24 05:50] nschonni opened #1382 "typo in title URL SharePort -> SharePoint"
The content is fine, just the filename is off

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac794da-cbe0-8e40-528e-6ded82b71de6
* Version Independent ID: 77d407ac-95e0-ea4c-d994-e892095500e3
* Content: [Modify or Remove Access Between a SharePoint Web Application and TFS](https://docs.microsoft.com/en-ca/tfs/server/a

[2018-07-24 07:05] githubavi opened #1384 "Continuous delivery Tools failed to deploy"
Hi, I have not used this and created a ASP.NET Core project template simple API app. I have not modified any code. I m able to run the application from my local docker container. It is running. Now when I apply the CD step from the tool, I am getting below error every time I try. Not found any more details,
--------------------
Configuring continuous delivery. This might take several minutes...

C

[2018-07-24 11:02] viperfx opened #1385 "Access token using SDK"
How can I access the token and URL saved through the service? I would like to grab this URL and token using the Javascript SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad945cf7-cd73-49da-90f5-21eb88f485e1
* Version Independent ID: d3032766-fb21-d299-e34f-05fe1010132c
* Content: [Authentication Schemas for Servic

[2018-07-24 12:24] LokiMidgard opened #1386 "Can multiple agents on one machien share the same binarys?"
I tried to configure multiple agents on the same machine, using the same config script but with different agent names and working folders.
I tried to share the binarys in bin and externals.

But the agents always complains it is already configured. Do I need to have a copy of all binarys for each agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-07-24 13:08] ElvenSpellmaker commented on #1288
Hey @lovakumar,

I followed the first step and enabled the 'Script debug mode' which led me to a blank blue page again. Navigating back to `_diagnostics` showed me the page saying it's enabled.

I then browsed to `_admin` but there's no bottom toolbar present (I'm on the new preview theme `New Navigation`, if that helps in any way?)

[2018-07-24 13:44] steved0x commented on #1380
@cricketplayer Thank you for your feedback. The issues in this repo are for content feedback, and this looks like a product feedback. For product feedback, including feature requests, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

We'll monitor this and if there is a workaround, we will add it to the documentation.

Thank you.

[2018-07-24 13:44] #1380 closed

[2018-07-24 14:03] andyjlewis commented on #1386
Yes, each agent needs its own installation with its own binaries.

[2018-07-24 14:03] #1386 closed

[2018-07-24 15:15] mlearned commented on #1384
@steved0x @githubavi im looking into this one and will be back.

[2018-07-24 17:50] danhellem commented on #1297
Hello Shane, no sorry, we don't typically increase the rates. Is there a reason you are not using the data import tool to do your migration?

[2018-07-24 20:06] suravi-afroz commented on #664
git clone https://<<username>>:<<password>>@<<remaining clone Url>>

[2018-07-24 21:32] steved0x commented on #1381
@fakhrulhilal Right now we don't have that capability. VSTS does have the concept of `pushed by` which is kind of similar, but I know it is not the same thing.

I'm closing this issue since the issues in this repo are for documentation feedback, but you can continue the discussion and file a feature request for this functionality with the team here:

https://visualstudio.uservoice.com/forums/33051

[2018-07-24 21:32] #1381 closed

[2018-07-24 23:30] jeremymeng opened #1390 "The hightlighting rectangle in the screenshot is on wrong item"
I would expect the screenshot highlight "Preview features", instead of "My profile"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e29-ff3f-cbea4a6eb24d
* Version Independent ID: 695d975e-ea9b-139b-4f98-f9655a751f59
* Content: [Turn preview features on or off - VSTS](https://docs.microsoft.com/en-us/vsts

[2018-07-25 08:36] IbrahimUmar opened #1391 "Looking for a script to gather all information about installed agents and their hosts in TFS"
Hello
               Is it possible to write a script to get information of all agents installed with TFS and their machine names? If it is possible , please share how?

Regards

[2018-07-25 08:44] stevozilik opened #1392 "How to pass environment variables"
Hi,

Is there any ability to define load tests once and then run those against various hosts? We have a number of environments that need to be load tested, and there does not seem to be any ability to inject variables into URL e.g.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c5348c1-4b41-0644-ce16-91c6969d8ffb
* Ve

[2018-07-25 08:54] lovakumar commented on #1288
@ElvenSpellmaker this error is matching the issue that we have reproduced. We have tried some change in the back end to unblock you. Can you please try browsing to _admin/_buildQueue and let us know if it's working for you.

[2018-07-25 08:59] austindonnelly opened #1393 "Version spec syntax"
What's the syntax for the "version spec" field?
What can I write there?
A link to some documentation would be ideal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e765cfad-8ab9-443a-1171-5af81a31252f
* Version Independent ID: 8ff69d93-0128-dbeb-9d63-45266ed73020
* Content: [Use Python Version](https://docs.microsoft.c

[2018-07-25 09:13] alexhomer1 commented on #1392
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-25 09:46] fowl2 opened #1394 "Missing information about "Legacy Microsoft-hosted build option, charged per minute""
This is an option on the Azure portal - &gt; Team Services administration -&gt; [organisation] -&gt; Settings -&gt; CI/CD. Per minute billing sounds better/more SaaSy/cloudy than the current 'capacity' model.

![image](https://user-images.githubusercontent.com/12844147/43193476-761d4384-9043-11e8-9e95-ac8a1c99f6ed.png)

I know it's legacy, but there should be docs.

---
#### Document Details

⚠ *D

[2018-07-25 10:46] ElvenSpellmaker commented on #1288
Hey @lovakumar, I can now see the page, many thanks!

![image](https://user-images.githubusercontent.com/2286713/43196167-02b1f05a-8fff-11e8-9b90-95f506563458.png)

It now also seems we can run concurrent builds again, and so I'm hoping the fix has fixed that too:
![image](https://user-images.githubusercontent.com/2286713/43196555-40706a1a-9000-11e8-878d-a158667642ac.png)

Thanks again!

[2018-07-25 12:20] ikhudorozhkov opened #1395 "where requriment for hardware?"
why for proxy is, for apptier not?

[2018-07-25 14:05] #1288 closed

[2018-07-25 16:04] vtbassmatt commented on #211
We don't have first-class support for exposing the Windows identity the agent is running under. The only thing we provide is an OAuth token for the build service identity with respect to VSTS.

[2018-07-25 16:09] elbatk commented on #1358
Hi @pradeepgudipati , adding @willsmythe to this. I'm not sure if we have any plans to add more code samples here but maybe he can point you to some helpful stuff!

[2018-07-25 16:10] #1235 closed

[2018-07-25 16:11] #1218 closed

[2018-07-25 16:11] #1275 closed

[2018-07-25 16:12] #1223 closed

[2018-07-25 16:21] elbatk commented on #1340
Thanks @skarai ! Updating this and it should be live by end of day :)

[2018-07-25 16:21] #1340 closed

[2018-07-25 16:32] elbatk commented on #1359
Hi @JeroenHo , is it a package hosted on NuGet.org, or are you wanting to host a package in TFS?

[2018-07-25 16:36] elbatk commented on #1357
Hi @kcrossman , could you try `https://<account>.visualstudio.com/_settings/users` for me?

[2018-07-25 17:09] vtbassmatt commented on #784
@andyjlewis I think we addressed this but I don't have permission to close the bug

[2018-07-25 17:35] #784 closed

[2018-07-25 18:48] KathrynEE commented on #1367
@cubonesmash - Thank you for your inquiry. I recommend you post your request to our  [Support](https://www.visualstudio.com/team-services/support/) page.

[2018-07-25 18:48] #1367 closed

[2018-07-25 18:56] KathrynEE commented on #1363
@nomoreshoes88 - Thank you for your inquiry. The group mentions feature was made available on VSTS this [February](https://docs.microsoft.com/en-us/vsts/release-notes/2018/feb-14-vsts), and is planned for availability in TFS 2019 according to the [Features Timeline](https://docs.microsoft.com/en-us/vsts/release-notes/index).  Please note to use the Version Selector to make sure that you view the c

[2018-07-25 18:56] #1363 closed

[2018-07-25 19:05] KathrynEE commented on #1333
@MikaelUmaN - Thank you for your inqury. Column settings can be set by each user and the system remembers their settings per backlog.

If you use an on-premises TFS, you can set the default columns as documented here: [ProcessConfiguration XML Reference](https://docs.microsoft.com/en-us/vsts/work/customize/reference/process-configuration-xml-element?toc=%2Fvsts%2Fwork%2Fcustomize%2Ftoc.json&bc=%2F

[2018-07-25 19:05] #1333 closed

[2018-07-25 19:06] #1297 closed

[2018-07-25 20:32] kallred1 opened #1396 "Collection level dashboards?"
I think this documentation is great for learning how to set up project and team dashboards! However, i can't find any info on whether such a thing as a project collection level dashboard exists. it'd be great if that was answered somewhere!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3d9f6cf-89b6-a0e3-0a37-f23446ed

[2018-07-25 20:58] JeroenHo commented on #1359
Hi @elbatk
We have development teams all over the world and they all have there own hosting for packages. Nuget and NPM package alike. Some use TFS, others use Artifactory.
I was wondering if our on premise running TFS could be the man in the middle, so we only need one source for all packages no matter where there from.
Currently I can only add Nuget for forwarding, but could be I'm missing somet

[2018-07-25 22:27] nschonni opened #1398 "Replace images of JSON with text version"
There are 7 images of JSON samples on the page. It would be nice to include the actual code instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a35b397-3fe8-122e-042e-280326f88a38
* Version Independent ID: 3e0f0afc-abeb-01be-d767-813cd6ad78db
* Content: [Migration import from TFS to Visual Studio Team Services (VST

[2018-07-25 22:33] iyerusad opened #1399 "Article needs extensive additional references"
This article on VSTS needs references to numerous other articles describing limitations within the VSTS platform (e.g. CI/CD limitations: https://docs.microsoft.com/en-us/vsts/pipelines/licensing/concurrent-jobs-vsts?view=vsts). Please add.

I'm having a difficult time locating documentation on published limits within the VSTS platform.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-07-25 22:36] iyerusad opened #1400 "File size limit for VSTS stored artifacts?"
What are the size limits for VSTS stored artifacts?

This came up when contemplating storing a many GB file (e.g. VHD) artifact on VSTS. I don't see reference to size limit. I probably won't do this (and I'm pretty sure probably already limited) and will instead use storage accounts but it would be helpful to know the ballpark limit working with.

---
#### Document Details

⚠ *Do not edit this sec

[2018-07-25 22:46] iyerusad commented on #653
@mlearned We use multi-configuration to build and publish multiple projects from a solution.

**Essentially:**
1. Create variable called `Projects` with value of: `MySolution.Client,MySolution.Admin,MySolution.API`
2. Set a phase to multi-configuration, using the `Projects` variable as the multipler, with 3 agents (we want to build all three configurations at once).
- Note you can apparently doubl

[2018-07-25 23:47] anblanco commented on #1224
+1. I also noticed the same behavior in Release using VSTS. It appears the Phases in Build will run in parallel, but Phases in Release will run in sequence, even if I put true in the custom condition

[2018-07-25 23:56] linnia78 opened #1401 "xml transformation for "Azure App Service Deployment 4* preview", breaking changes from july24,2018"
the latest commit is breaking the xml transformations.

Transformations are being applied and reports success but the incorrect package is deployed where transformations did not take place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e

[2018-07-26 07:30] sandeepchadda commented on #1337
You can publish multiple branches of Wiki when you publish markdown files from a code repository. This documentation shares more details on this front!! - https://docs.microsoft.com/en-us/vsts/project/wiki/wiki-select-unpublish-versions?view=vsts

[2018-07-26 09:35] ikhudorozhkov commented on #1395
finded. thx

[2018-07-26 09:35] #1395 closed

[2018-07-26 09:48] tomaszek1989 opened #1402 "."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c94a78f-77de-a612-1fc8-749518195166
* Version Independent ID: fba4f685-1c59-e1e6-2138-aaa5477e476d
* Content: [Change your email address - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/notifications/change-email-address?view=vsts)
* Content Sourc

[2018-07-26 10:17] pradeepgudipati commented on #1358
Thanks Elba,

How about a Postman Collection for all the API's, Is that also available.

Regarding the above, I got it to work with the below piece of code

`coreClient.getPullRequests(repo, {"status": "All"}, projectName, 99999, 0, 999999).then(function(pullRequests) {...}`

Thanks
Pradeep Gudipati

[2018-07-26 10:58] jstewart2 opened #1403 "No VSTS Organization appears"
There should be some information about how to proceed when no VSTS organization is listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef5cd1c-b235-3ccd-3069-732a1ca15b6b
* Version Independent ID: f977367f-7cac-817f-74db-912828c3ce5a
* Content: [Start to set up billing for VSTS](https://docs.microsoft.com/en-us/vst

[2018-07-26 11:04] psdev2 opened #1404 "extension failed to load (hub)"

[2018-07-26 11:12] #1404 closed

[2018-07-26 11:13] psdev2 opened #1405 "extension failed to load (hub)"
Hi,

I have a problem with developing extension (hub). I follow step by step these tutorials:
https://docs.microsoft.com/en-us/vsts/extend/develop/add-hub?view=vsts
https://docs.microsoft.com/en-us/vsts/extend/get-started/node?view=vsts

but still i have the same problem: "[extension id] by [publisher] failed to load.Learn More about this extension, including available support options."

![failedt

[2018-07-26 11:30] StingyJack commented on #211
I get that, but is there any setting that would prevent the active build from inheriting the windows identity of the service account when executing things like Invoke-WebRequest in a build task?

[2018-07-26 11:47] vtbassmatt commented on #211
The agent spins up a new process for each task/step. It wouldn't surprise me if that process is started as a really low-privilege identity different from the agent itself, but I don't know for sure. @TingluoHuang can you provide any definitive answers here?

[2018-07-26 13:23] haakoo opened #1406 "Dead link to Visual Studio TFS Branching Guide"
It looks like the link to [Visual Studio TFS Branching Guide] (http://go.microsoft.com/fwlink/?LinkId=191400) =&gt; [@Codeplex](https://archive.codeplex.com/?p=tfsbranchingguideiii) is dead. The same is true for http://www.codeplex.com/TFSBranchingGuideII. This is probably also a problem other places in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-07-26 14:10] mmanela commented on #760
@SaiManikantaG Today there is not. The WIQL endpoint is design to give you up to 20k results as just the ids of the work items. The intent is to then take this in pages of 200 to the `/Workitems?ids=1,2,3` api to get the full work item data. It is designed this way to allow building a virtualized list of items and populate them as needed.

That said, we are discussing if there is a middle ground w

[2018-07-26 14:31] TonyValenti opened #1407 "How does this work when using an organizational repository?"
I'm trying to use this with a repository that I set up for my organization.  It doesn't seem to list it at all.  what do I need to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-18f4-e94a4e2fe2c9
* Content: [Build your GitHub reposito

[2018-07-26 14:45] #1020 closed

[2018-07-26 15:30] SaiManikantaG commented on #760
@mmanela thank you for the response, I actually did exactly as you said.
For someone who might refer this thread:

`select [system.id] from workitems`

and then when I got the result, I have extracted all the id's from the ` body -> field -> {id, url} [list]`

with the list of Id's as specified I've sent the list of id's to _list workitems_ endpoint

i.e. `/workitems?ids=1,2, ...` and you should b

[2018-07-26 17:03] chcomley commented on #1403
@jstewart2 thanks for your comment. You either don't have a VSTS organization or are signed in with the wrong identity, likely. But, we'd like to know more about your scenario, so we can better address it. Would you please contact me at chcomley@microsoft.com? Thanks! I've created a work item to clarify this within the doc.

[2018-07-26 17:03] #1403 closed

[2018-07-26 18:14] holdom opened #1409 ""Syntax" section has errors"
"Syntax" section has errors. The attributes in "Para" node should be capitalized for their first letter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d65e9b85-d930-e742-29ec-27d23bc42776
* Version Independent ID: 28befa61-c8de-2dc7-b786-eec07fc44f63
* Content: [LabelText and Text XML elements reference - VSTS & TFS](

[2018-07-26 18:58] Justasvil opened #1410 "For VSTS Agile workflow states, we need to be able to configure reason"
Changing state from new to active does  not mean that "implementation has started".  However, this is what  VSTS adds when using agile workflow state.   Please make this  configurable.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0896813-3b6e-a676-c544-03be185600df
* Version Independent ID: f141c33d-e9b5-3c

[2018-07-26 20:19] nschonni opened #1411 "Uninstall for 2017 showing raw markdown instead of image"
Not sure if they're supposed to be in a tab, but currently shows as raw
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ceb772f-1723-9851-a216-13dd05e78771
* Version Independent ID: 1c1ebec0-41cc-8262-43a1-b0888d0521e0
* Content: [Uninstall or disable extensions in Visual Studio Team Foundation Server (TFS)](htt

[2018-07-26 20:21] nschonni commented on #1411
Looks fine on GH, but not on the published page

[2018-07-26 21:27] verbaloid opened #1413 "binary dependencies in tfvc project to git repository migration"
We are on tfs 2018 update 2. Half of our tfvc project size is taken by various binary dependencies (both 3rd party and ours). Some of them don't change but others do.
Is getting rid of these binaries a git migration mandatory pre-requisite?
If yes what is a preferable way of doing so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-07-26 22:26] verbaloid opened #1414 "location of physical packages storage"
Where are packages physically stored?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078a8c96-ec59-c10b-e48e-8c5586c8cb09
* Version Independent ID: 200f5723-2404-298d-e6bb-533592a28ff3
* Content: [Package Management in VSTS and TFS](https://docs.microsoft.com/en-us/vsts/package/overview?view=vsts)
* Content Source: [do

[2018-07-27 01:10] andymerritt opened #1415 "Unfinished sentence under Related articles"
There is an unfinished sentence starting "So now you've got an idea.... " under the sub heading Related articles. This seems out of place and should probably be removed or moved above sub heading and completed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d704a22b-6a65-7a4c-1111-944c9aeff944
* Version Independent ID:

[2018-07-27 02:08] andymerritt opened #1416 "First image shows Feature across multiple sprints however this is not possible"
The first image is very misleading and there should be some indicator that the Feature is being dragged to a new sprint rather than spanning multiple sprints

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d704a22b-6a65-7a4c-1111-944c9aeff944
* Version Independent ID: 5880f4f1-ce11-3f43-e0dd-d569f5206b4d
* Content: [Rev

[2018-07-27 02:57] StingyJack commented on #211
Thanks for the definite answer, I appreciate it.

[2018-07-27 02:57] #211 closed

[2018-07-27 04:04] StingyJack opened #1418 "I dont think it actually works this way..."
&gt; For engineering health, we cap active bugs per engineer. If a team has more than 5 bugs per engineer, they need to prioritize fixing those bugs ahead of new feature development. We also track aging bugs in special categories like security.

You probably define "Active" differently, as there is a whole DevCommunity site and a slew of GitHub projects that are chock full of unresolved reported d

[2018-07-27 05:29] pmosupport opened #1419 "Two-Way integration Zendesk->VSTS not working"
Hi

I have installed the VSTS integration toolkit and followed the steps as listed here

But the integration does not work.

I can create a new work item only via zendesk. The comments update thats suppose to happen either way doesn't work.

Can I get some assistance on this please

[2018-07-27 06:46] rroman81 commented on #401
I am attempting to connect using a custom key pair I created on my Mac dev box.  I've created the key, added to ssh-agent, and even added the config entry, and it fails every time.  Where do I report and work with someone to resolve the issue.

[2018-07-27 08:36] hisbluness commented on #263
I have the same problem as Harald. When I run config.cmd manually I have to insert e.g. PAT and the token and so on.

Is there any way to predefine this so I could fully automate the installation of an agent? I have hundreds of machines to install agents to, so manually running parts of the script is just not an option at all.

[2018-07-27 11:45] MoiMoiDG opened #1420 "Work on topic branches"
Hi,

It's a great documentation! Thanks for that!
A few more questions from my side about topic branches, especially features/*:
- How does the mapping between them and work items look like? Are there any policies?
- Work items usually have a hierarchical organization (e.g. feature item parent of PBI or user story): How does it reflect on the branching structure?
- Are updates on feature/* perform

[2018-07-27 11:48] eriawan commented on #1406
@haakoo

Good catch!
I know where the replacement link.
I will create a PR today to update the link.

[2018-07-27 11:56] eriawan commented on #1406
PR to fix this stale link has been submitted: #1421 .

[2018-07-27 12:22] jmlumpkin opened #1422 "Minor updates due to UI changes in products"
Some of the screenshots do not match what the azure portal looks like now, slight wording changes and the like. For example, under 'Connect your VSTS organization to your Azure AD' section, it says 'Connect AAD'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e3f1aa-2935-a206-2d2a-fd39f1fdfacb
* Version Independent I

[2018-07-27 18:08] chcomley commented on #1422
Thanks for your comment, @jmlumpkin. I've made some updates and replaced screen shots and the new version of this topic should be live sometime this afternoon. Thanks again!

[2018-07-27 18:08] #1422 closed

[2018-07-27 18:28] paulgbrown opened #1424 "Can't run first command to deny"
Didn't get very far in the tutorial. When I tried the first command to deny CreateBranch, I got an error "A team project collection or a Git repository URI must be specified". If I remove the deny and group options, I get all of the permissions for the repo. So the settings seem to be correct. Stumped. I might suggest some "Go Here"s for the values you want in the command. It took a couple of trie

[2018-07-27 19:06] RubixRevenge opened #1425 "Needs more definition and examples"
While a good intro, it needs more definition and examples. For example, how do you use each of the fields in the NuGet commands and tasks? E.g., NuGet pack has pack options, advanced properties, etc. Since a web search for "TFS Nuget Pack" leads here, then this is the place where this information should be written and kept.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-07-27 19:31] vijayma commented on #1224
Thanks for pointing this out. We went and checked again in 2018.2, and indeed found that the ability to run phases in parallel did not exist in 2018.2. That feature missed 2018.2 by a very narrow margin. Sorry about the confusion. We are fixing the doc to clarify this.

[2018-07-27 19:31] #1224 closed

[2018-07-27 19:39] nschonni opened #1426 "Change code-REST to code-JSON"
For some of the previous-api examples the return results are using `code-REST` although they are just pulling in a JSON file.
This example tagging doesn't appear to be used in any other docs repo.

[2018-07-27 22:55] oneillci commented on #1224
To clarify, I'm seeing the behaviour of build phases running in sequence and not in parallel on vsts and not tfs.

[2018-07-28 01:13] vijayma commented on #1224
@oneillci, I was responding to the original question by @biohazard999. Regarding your issue in VSTS, to run both the jobs in parallel, you need a concurrency of 2 jobs. My guess is that you do not. You can check the concurrency limits you have by going to Project settings -> Build and Release -> Concurrency. You can purchase additional concurrency if you desire. Another possibility if that you do

[2018-07-29 23:19] hdesouky commented on #1223
@willsmythe I can see this, however how it come the built in generic web hook consumer support HTTP and HTTPS :)

[2018-07-30 00:21] oneillci commented on #1224
@vijayma, if I'm looking at the correct setting, I do have enough concurrent jobs permitted:
![image](https://user-images.githubusercontent.com/641669/43372181-67f0b312-93e1-11e8-8ee6-17db78fe1d02.png)

When running my build, my agent phases are not running in parallel. In this example, phase 1 and 2 do not have any dependencies, but phase 3 depends on both 1 & 2. All phases are set to run on the

[2018-07-30 01:38] oneillci opened #1430 "Running phases in parallel"
I think it would be good to detail that phases run in sequence on an individual agent and for phases to run in parallel they must run on either different agents within a pool or on a different pool. This was not obvious to me when attempting to get phases running in parallel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-30 01:39] oneillci commented on #1224
I've tried adding more agents to my pool and now have them running parallel :) Have submitted some content feedback on that page as this was no clear from the existing documentation.

[2018-07-30 01:47] pmosupport commented on #1419
Hi

Can anyone help me please

[2018-07-30 06:58] jairov4 opened #1431 "Is possible use "Scope" field to feed different variable values for substitution in different deployment environments?"
It is not clear for me whats the behavior on different variables having same name but different scope during variable substitution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f14deae3720
* Content: [File transforms and variable s

[2018-07-30 11:24] alexhomer1 commented on #1431
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-07-30 14:53] #1406 closed

[2018-07-30 15:10] #1409 closed

[2018-07-30 15:29] steved0x commented on #1413
@verbaloid Let me see if I can find out, and I will get this article updated as well as hopefully get some guidance for you.

[2018-07-30 16:02] nschonni opened #1432 "Title/metadata missing "I" from Install"
The current heading is shown as "nstall and configure Team Foundation Server" for the tab title. It is correct in the actual article content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6939f137-c304-38fb-c19c-9e650cd19cfa
* Version Independent ID: 7b227c4e-6507-5543-16b6-a81956bd3484
* Content: [nstall and configure

[2018-07-30 18:29] SamGrantham commented on #903
Hi @cbailiss and @roofers,

Just to be clear here, ALL high fidelity migrations use AAD.  the Validation step is mostly to ensure that the data-shape of the TFS Instance is compatible with the Import Process and does not require authentication.

However the Prepare step and the Import steps DO require this information.

It is possible to set this up and then to unlink it post import if that is you

[2018-07-30 21:09] acds opened #1434 "Attachment Visio support is misleading"
For Attachments the documentation leads one to believe that it will "render" a Visio diagram on the page; but it just grabs an image and adds that as an attachment. If the Visio diagram has links to other pages it provide an advanced mechanism for navigation. Without either image map or direct Visio rendering this does not work.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-07-30 21:26] steved0x commented on #1391
@IbrahimUmar The issues in this repo are for documentation feedback. If you can let me know which article you think should cover this scenario I can assign it to the author for review. Thank you.

[2018-07-31 04:55] nschonni opened #1436 "typo: "to. Fvisualstudio.microsoft.comonnect to a TFS 2015 instance""
Couldn't figure out what it was supposed to be to fix it

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e7bb52a-8625-dffb-a8ba-455d03165123
* Version Independent ID: 381c5db2-b8bb-c5a4-ace5-3c44de405f15
* Content: [Manually add features after an upgrade - TFS](https://docs.microsoft.com/en-ca/vsts/work/customize/add-f

[2018-07-31 05:00] nschonni opened #1437 "typo: "Grant Advanced access tadd-organization-users-from-user-hub.mdl the features available with portfolio backlogs.""
Maybe a find/replace issue or a merge

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b6fdf0-f113-2a11-b87b-7b8a336533c9
* Version Independent ID: 8e068d2e-f4e1-856c-5fc0-ddb41dcd3fdd
* Content: [Add portfolio backlogs - VSTS & TFS](https://docs.microsoft.com/en-ca/vsts/work/customize/add-portfolio-backlogs?view=vsts#

[2018-07-31 05:24] nschonni opened #1438 "typo: "when you add teamvisualstudio.microsoft.comction.""
Probably a bad merge for find/replace

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f344f9d-0f43-5850-1abc-0a4c076d82cf
* Version Independent ID: 05455f70-0225-0f15-d3b1-c046117acdbd
* Content: [Manage new form roll out - TFS](https://docs.microsoft.com/en-ca/vsts/work/customize/manage-new-form-rollout?view=tfs-2018#

[2018-07-31 05:35] nschonni opened #1439 "Remove file name generated `title` attributes on images"
This article is just an example, but you can find others by searching for the regex `\s\"\w*\"\)` (or a better regex maybe 😜).

Example
[code]

Renders to
[code]
Note the `ProcGuid_DashboardWorkbook_Toolbar`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1117019-baee-839a-3fd2-ad0380361d02
* Version Independent ID: c3

[2018-07-31 07:08] ampac28 opened #1441 "How to send alert to specific person if there is a change in requirement document."
Our QA needs a notification whenever there is a change or addition of requirements to VSTS. Please suggest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48641a87-20db-b3e9-d591-8062aaaad424
* Version Independent ID: e1610bde-e50f-34b5-82c4-b6cd373013bc
* Content: [Set alerts, get notified when changes occur - TFS](ht

[2018-07-31 07:33] ahaeber commented on #333
Here is example of a YAML task definition for using a custom Maven settings.xml and also specifying myGet username and password (those are passed as parameters to the build to keep the password secret):
[code]

The Maven settings.xml file is located at .mvn/settings.xml in the Git repository.

[2018-07-31 08:20] StevenTCramer opened #1442 "Add Azure Resource Manager Service Connection"
There is no documentation that I can find to explain the `Add Azure Resource Manager Service Connection` dialog.
No references to Service Principle Client ID, Service Principle Key, Tenant ID  etc.
The following blog helps to explain these items and where to find the answers but this should be documented in the VSTS docs.

https://medium.com/@roshanj/how-to-add-azure-resource-manager-service-endpo

[2018-07-31 11:00] alexhomer1 commented on #1401
Thank you for your feedback. I have passed this on to the product team for investigation.

[2018-07-31 11:31] alexhomer1 commented on #1442
The topic has a list of connection types: https://docs.microsoft.com/en-us/vsts/pipelines/library/service-endpoints?view=vsts#common-service-connection-types and the link "For more information, see Create an Azure service connection" (https://docs.microsoft.com/en-us/vsts/pipelines/library/connect-to-azure?view=vsts). In addition, most topics that use the ARM connection type contain the same link:

[2018-07-31 11:31] #1442 closed

[2018-07-31 13:33] jesslilly opened #1443 "Is the git push force command correct?"
Don't you have to name the remote you are pushing on the command like:

git push -f origin feature/myfixes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2704e-ef04-e4ab-88ba-48533fa62d21
* Version Independent ID: e59a9067-775b-d9df-94b7-29076dbfbf25
* Content: [Update your branch history with rebase](https://docs.m

[2018-07-31 15:37] Szczepanek opened #1445 "TFS new custom states."
Hi.
I create new statuses in my User Story WIT with transition update.
The problem is that, when i change status e.g. from "Active" to "New Custom Status" TFS will move this US to some kind of limbo. Also, at kanban table, when I add new column and try to map column to Status, there are only the old one :/
How make TFS to detect new statuses?

[2018-07-31 18:11] Tiberriver256 opened #1447 "Screenshots look to be pretty old. Does this need an update?"
Screenshots look to be pretty old. Does this need an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7a8d4a-fe62-f360-83ef-6ceb8e952dec
* Version Independent ID: b66cc33d-7f7b-5e3e-eb09-e84aebd7ac80
* Content: [Create your backlog and tasks using Project - VSTS & TFS](https://docs.microsoft.com/en-us/vsts/work

[2018-07-31 18:34] mferris2421 commented on #1125
I was shown the error of my ways. It's been a while, but I believe I was using the PAT incorrectly with my username.

[2018-07-31 18:34] #1125 closed

[2018-07-31 20:37] rhubley commented on #544
+1 for elevated prompt, time to go make a new PAT because I've since cleared my clip board

[2018-07-31 20:41] jimhorn33 commented on #760
+1 with the above experts' request for more WIQL documentation.

In my case I've been asked to create an dashboard by reverse-engineering various users' saved searches.  I can get from the saved searches to the WIQL, but am unable to translate 'FROM WorkItems' in T-SQL to any of the five TFS_ prefixed databases on our server, and researching via Google has not led to an answer.

[2018-07-31 21:34] EddieMachete commented on #1407
Tony, I was wondering the same.  I had to associate the repository to my user account.

1. Login to GitHub with an account that has admin privileges over the GitHub Organization.
2. Navigate to the organization (after authenticating, you should see a box listing your organizations at the bottom left corner of the user profile page).
3. Select the repository you are interested in generating an auto

[2018-07-31 22:57] EddieMachete commented on #1407
Tony, I have been looking into this for the past few hours.  I was not able to access my organization's repositories using a GitHub connection.  However, I was able to set up a build definition using the `External Git` connection as a source.  Give that a try.

[2018-07-31 23:43] KathrynEE commented on #1337
@dkmiller - Please see the comment provided by Sandeep above.

[2018-07-31 23:43] #1337 closed

[2018-07-31 23:49] KathrynEE commented on #1390
@jeremymeng - Thank you for the correction. Making the updates now.

[2018-07-31 23:49] #1390 closed

[2018-07-31 23:52] KathrynEE commented on #1396
@kallred1 - Thank you for your comment. I agree that it is something that is currently lacking in our documentation. Currently, we don't support collection-level dashboards. You can get some cross-project reports using the Analytics service.

[2018-07-31 23:52] #1396 closed

[2018-07-31 23:55] KathrynEE commented on #1410
@Justasvil  - Thank you for your inquiry. As this is a request to enhance the product, please consider adding this request to our UserVoice page, https://visualstudio.uservoice.com/forums/330519-team-services.

[2018-07-31 23:55] #1410 closed

[2018-07-31 23:57] KathrynEE commented on #1415
@andymerritt - Thanks for your feedback. I agree and  am removing the text.

[2018-07-31 23:57] #1415 closed

[2018-08-01 01:10] dkmiller commented on #1337
Thanks Kathryn and Sandeep. That answers my question.

[2018-08-01 01:33] pmosupport commented on #1419
@steved0x  Thanks for the reply

I set it up based on the below article

https://docs.microsoft.com/en-us/vsts/service-hooks/services/zendesk?view=vsts

but the coments are not being updated at either end

[2018-08-01 02:37] pmosupport commented on #1419
![image](https://user-images.githubusercontent.com/41772123/43497873-9c64368a-9587-11e8-943c-012d072e2222.png)

Also tried installing the app again and this is the error i get when i upload the file i downloaded from here

[2018-08-01 02:41] nguyenlamlll commented on #1403
I'm seeing the same problem. I'm sure that I'm using the right credentials (I can log in to my_company.visualstudio.com and Azure portal). However, it says "Nothing to display" in Team Services administration.

[2018-08-01 08:07] turibbio opened #1449 ""DevOps Project for Java" link broken"
"DevOps Project for Java" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927483e2-5f90-755b-8009-6713f3a4f63f
* Version Independent ID: 2f4bc010-83bb-f485-c7a7-6cd516be05f1
* Content: [Get started with Java DevOps and VSTS](https://docs.microsoft.com/en-us/vsts/java/get-started?view=vsts)
* Content Sourc

[2018-08-01 08:58] alexhomer1 commented on #1401
The product team advise that the issue has been resolved and the fix is deployed to all accounts. Please redeploy and let us know with a new issue if you are still seeing the incorrect behaviour. Thank you.

[2018-08-01 08:58] #1401 closed

[2018-08-01 10:51] mlearned commented on #1163
i had a look at this one, i think we need to tweak our CI piece on pre-reqs to ensure we create the package.  did you guys get through the issue?

[2018-08-01 11:06] alex--thomas opened #1450 "Managing Azure Secrets on GitHub"
There is a plugin that would be useful for doing a verifiable scan of GitHub for Azure secrets as part of the checklist process.
https://azure.microsoft.com/en-au/blog/managing-azure-secrets-on-github-repositories/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ee135e3-2efc-3e1d-d0e7-58be674ce30f
* Version Independent

[2018-08-01 11:14] harrikerko opened #1451 "Contact e-mail not working"
Is there some limitations regarding what e-mail is used as contact e-mail? I changed the e-mail recently and now notification messages are no longer sent to the contact e-mail address but the e-mail I use for login is used instead.
Previous contact e-mail address did work. There might be some differences in those two e-mails regarding some subscriptions or who knows what (email that doesn't work d

[2018-08-01 11:32] KiprovIgor opened #1452 "No ability to add test case name in test run title when run automated tests from test plans in the Test hub VSTS and TFS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6c92a2-2f5c-e34e-f285-3e1a2a02604b
* Version Independent ID: 6f31f4c2-94ac-20eb-da01-e1d47f041945
* Content: [Run automated tests from test plans in the Test hub VSTS and TFS](https://docs.microsoft.com/en-us/vsts/test/run-automated-tests-from-test-

[2018-08-01 11:43] alexhomer1 commented on #1452
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-08-01 12:39] DiscoTrev commented on #1451
I am experiencing the same thing. Looks like a bug has been introduced in VSTS somewhere recently resulting in notification messages always being sent to your login email rather than you conta email. I have not recently changed my Contact email address (but it is different to my sign-in email) and as of the 17th July 2018 it was sending notifications to the correct contact email address, but today

[2018-08-01 12:44] RoopeshNair commented on #1163
From the RMCQ thread, it appears that the issue is resolved and the user is no longer blocked. @SumiranAgg for the comments on the resolution.

[2018-08-01 12:44] #1163 closed

[2018-08-01 14:52] steved0x commented on #1449
@turibbio Here is the right link:

https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-java

Somehow the `.md` file extension was added to the link in the TOC, I just fixed it and it should be live later today.

Thank you for letting us know

[2018-08-01 14:52] #1449 closed

[2018-08-01 15:01] steved0x commented on #1393
@austindonnelly It uses the same version spec language as the `semver` NPM package. If you hover over the information icon you should get a tooltip with some more information and a link.

![image](https://user-images.githubusercontent.com/1580889/43529648-c1d370ba-9579-11e8-9a01-6ab576fcda23.png)

For more information, see https://www.npmjs.com/package/semver

Thank you,
Steve

[2018-08-01 15:01] #1393 closed

[2018-08-01 15:35] KiprovIgor commented on #1452
Thanks.

It would be nice to see the name of test case name (if single test) or test
suite name (if multiple tests) to be run on run title.
Now it looks not informative.

Best regards,
Igor Kiprov
Engineering department
            Kyiv, Ukraine
mob.  +380674670998
         +380950647339
Skype: igor.kiprov

On Wed, Aug 1, 2018 at 2:43 PM, Alex Homer <notifications@github.com> wrote:

[2018-08-01 15:45] danhellem commented on #1373
Hello Patroza,

This was a decision we made when we originally rolled out delivery plans. We did not invest in the work to make things read-only depending on your license type. It's a great suggestion and I will triage this with our team for future consideration.

[2018-08-01 17:32] AStoker opened #1453 "Instructions out of date with new UI"
The new UI changes in VSTS result in this article being out of date. The search bar no longer has a drop down to select where to search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 219de2f0-b98c-3fcf-dc0c-7518e913c944
* Version Independent ID: a7e93e0a-fece-4848-9f58-42aeac9700b4
* Content: [Search the Wiki - VSTS &

[2018-08-01 17:37] KathrynEE commented on #1416
@andymerritt  - Thank you for the feedback. I've updated the topic to make it clear that the work item is being updated by dragging it to a later sprint.

[2018-08-01 17:37] #1416 closed

[2018-08-01 17:38] KathrynEE commented on #1373
@patroza  - Please see Dan's response above.

[2018-08-01 17:38] #1373 closed

[2018-08-01 17:43] KathrynEE commented on #1453
@AStoker - Thank you for your feedback. I've added an item to my backlog to update this article.

[2018-08-01 17:43] #1453 closed

[2018-08-01 17:47] patroza commented on #1373
Thanks all!

[2018-08-01 17:47] KathrynEE commented on #1447
@AStoker - Thank you for your feedback. While the screenshots may be old, the general procedures should work as written.  I've added an item to my backlog to update this article at a later date.

[2018-08-01 17:47] #1447 closed

[2018-08-01 17:48] elbatk commented on #476
Hey @willsmythe , is there a place for people to put this issue instead of the docs area so it might get more attention from the product team? @carlowahlstedt I believe if you got to [docs page](https://docs.microsoft.com/en-us/vsts/notifications/at-mentions?view=vsts), you can submit product feedback in a similar manner to docs feedback.

[2018-08-01 17:50] ostreifel commented on #392
I find that Applications Insights does this pretty well

How to integrate application insights into your application
https://blogs.msdn.microsoft.com/visualstudioalmrangers/2017/05/30/how-to-integrate-application-insights-monitoring-in-your-team-services-extension/

How to setup application insights and get the instrumentation key.
https://docs.microsoft.com/en-us/azure/application-insights/app-in

[2018-08-01 17:52] KathrynEE commented on #1445
@Szczepanek - Thank you for your inquiry. I recommend you contact the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) or [Support](https://www.visualstudio.com/team-services/support/).

[2018-08-01 17:52] #1445 closed

[2018-08-01 17:53] elbatk commented on #1385
Hi @viperfx , looks like this is a good question for the product team, check out the developer community here:
https://developercommunity.visualstudio.com/spaces/21/index.html

I'm going to close this issue, but will update the docs if we find this is an area that needs to be covered.

[2018-08-01 17:53] #1385 closed

[2018-08-01 17:56] elbatk commented on #1382
Hi @nschonni , this is unfortunate. I'll have to think if renaming and setting up a redirect and losing whatever weight the article has currently would be worth the correction. SharePoint and TFS are no longer a thing so I'm thinking it may stay the way it is for now.

[2018-08-01 17:56] #1382 closed

[2018-08-01 17:57] ostreifel commented on #392
More about application insights
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-overview

Setting alerts in application insights - spike in exceptions, increase response times etc.
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-alerts

[2018-08-01 17:58] elbatk commented on #1359
Hi @JeroenHo , going to add @alexmullans to this so he can give you a better answer as to whether or not this is possible and what the best way to do it is. thanks!

[2018-08-01 17:59] elbatk commented on #1414
Adding @alexmullans to answer this for ya, @verbaloid

[2018-08-01 17:59] KathrynEE commented on #1441
@ampac28 - Thank you for your inquiry. You can set up a notification at the project level for when a work item changes or is created and have it delivered to a specific email address or team group.  The method fo creating project-level notifications is similar to team-level notifications as documented here, https://docs.microsoft.com/en-us/vsts/notifications/manage-team-notifications?view=vsts.  Y

[2018-08-01 17:59] #1441 closed

[2018-08-01 18:03] elbatk commented on #1405
hi @psdev2 , this would be a good question for the developer community:
https://developercommunity.visualstudio.com/spaces/21/index.html

Closing this issue as it seems more like a troubleshooting problem that the product team may help with than a docs problem.

[2018-08-01 18:03] #1405 closed

[2018-08-01 18:04] elbatk commented on #1402
Closing this issue for now, feel free to reopen if you can find your feedback @tomaszek1989  :)

[2018-08-01 18:04] #1402 closed

[2018-08-01 18:04] alexmullans commented on #1359
@JeroenHo that's not possible today, unfortunately. We're just now adding support for more npm upstreams beyond npmjs.com and VSTS npm feeds to VSTS; that work should make it into the next major version of TFS. Not sure if/when we'll take equivalent work for NuGet.

[2018-08-01 18:04] alexmullans commented on #1414
@verbaloid in TFS or VSTS? Assuming the former, they're stored in the database along with your other TFS data.

[2018-08-01 18:05] elbatk commented on #1359
Closing this issue for now, if you have more questions feel free to reach out @JeroenHo

[2018-08-01 18:05] #1359 closed

[2018-08-01 18:06] elbatk commented on #1414
Thanks @alexmullans , closing this issue for now but feel free to reach out if you have more questions @verbaloid .

[2018-08-01 18:06] #1414 closed

[2018-08-01 18:10] elbatk commented on #1451
Adding @willsmythe from the product team for awareness, also if you would, please file a bug on the developer community site:
https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-08-01 18:12] KathrynEE commented on #1438
@nschonni - Thank you for the correction. I'm updating the article now for publication later today.

[2018-08-01 18:12] #1438 closed

[2018-08-01 18:13] elbatk commented on #1432
Fixing this now! should be live by end of day, thanks @nschonni

[2018-08-01 18:13] #1432 closed

[2018-08-01 18:17] KathrynEE commented on #1437
@nschonni - Thank you for the correction. I'm updating the article now for publication later today.

[2018-08-01 18:17] #1437 closed

[2018-08-01 18:39] KathrynEE commented on #1436
@nschonni - Thank you for the correction. I'm updating this  article and several other articles where a find/replace substitution introduced several errors.

[2018-08-01 18:39] #1436 closed

[2018-08-01 18:53] elbatk commented on #1411
Thanks @nschonni , submitted a fix for this :)

[2018-08-01 18:53] #1411 closed

[2018-08-01 18:58] elbatk commented on #1357
Closing this for now, please reach out if you're still having issues, @kcrossman

[2018-08-01 18:58] #1357 closed

[2018-08-01 19:10] yewmsft commented on #760
@SaiManikantaG For the workitem API, https://docs.microsoft.com/en-us/rest/api/vsts/wit/work%20items/list?view=vsts-rest-4.1
we support up to 200 workitems being returned in one call. For $top or $pageSize smaller than 200, you can achieve that through passing in the specific number of workitemIds you want. (e.g. If you want 100 items per page, you can just feed the API 100 Ids).

For the WIQL (se

[2018-08-01 19:34] yewmsft commented on #760
@SaiManikantaG You can achieve paging in WIQL API in this way:
Let's say for example, you want to page 1000 Ids per call.

First run WIQL: SELECT [System.Id] FROM workitems WHERE [System.Id] > 0 ORDER BY [System.Id] ASC with $top = 1000.

And in your API response, you should get a list of workItem Ids in ascending order. So you can get the last Work Item Id in the list, let's say it is 25876. So y

[2018-08-01 19:41] yewmsft commented on #760
@jimhorn33 Could you be more specific on the task you want to achieve? And the reason you want to find the T-SQL "translation" of the WIQL? Are you doing perf tuning? We do not expose our T-SQL DB schemas in public documentations, because public access to DB is not supported.However, if you are running an on-prem TFS, there are other ways to get the query T-SQL script, such as running a SQL Server

[2018-08-01 19:44] yewmsft commented on #760
@mikesavino85 VSTS REST APIs should work on both on-prem and hosted environment. Could you share with us, which API is not working on your environment?

[2018-08-01 19:51] Guitrum opened #1456 "Publish Code Coverage Task not parsing Cobertura file, saying "No code coverage results were found to publish""
Regarding the "Publish Code Coverage" task, I have an xml output file from Cobertura that I am trying to pass into this task, but even though the file is valid and the path is correct, it is not able to parse it. Is there something about the xml that is not allowing it to be read?

[2018-08-01 20:35] verbaloid commented on #1414
thank you

[2018-08-01 20:37] jimhorn33 commented on #760
That does make the public exposure to WIQL pretty pointless then.

Correct, I was able to re-create the query manually against database TFS_Warehouse.

[2018-08-01 20:40] Guitrum commented on #1456
I was trying to use $(Build.SourcesDirectory) at the beginning of my path to the xml file. Turns out it will only work if you use $(System.DefaultWorkingDirectory). Closing the issue

[2018-08-01 20:40] #1456 closed

[2018-08-01 20:51] yewmsft commented on #760
@jimhorn33 for creating/updating/executing a query, all can be done through WIQL, and the actual T-SQL script is transparent to the end user. I am curious what is the scenario that requires you to know the "translation" between WIQL and T-SQL? Are you trying to fine tune the performance for some queries that are slow? Or Do you want to know the performance complications between different fields an

[2018-08-01 20:54] Tiberriver256 commented on #1447
Thank you!

[2018-08-01 22:12] chcomley commented on #1403
@nguyenlamlll I'm sorry you are also experiencing difficulty. I have engaged a PM and will reply back to this thread.

[2018-08-01 22:31] JamesInDenver opened #1457 "Cannot manage provisioned wiki like any git repo"
The "Note" is not correct.  You cannot currently manage a provisioned wiki repo like any other repo (branch policies, PR, etc.).  The wiki repo does not show up under the project's repositories (in settings, code or API) and therefor branch policies cannot be set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 361efecd

[2018-08-01 22:31] SaiManikantaG commented on #760
@yewmsft makes sense. Thanks 👍

[2018-08-01 22:45] mikesavino85 commented on #760
I unfortunately no longer work with a company that uses TFS so I can't.

But I can tell you what I was able to do--write a C# console application that would slurp up features+user stores+test cases+ test steps from TFS and take that data into HP ALM. I was able to do that but not using WIQL because the documentation is super lacking. It would have made my life a whole lot easier to write the WIQL

[2018-08-01 23:53] DavidNorena opened #1458 "How to check empty artifacts ?"
I have a CI Pipeline that with the use of conditions gives me 2 artifacts or just 1.

I need to publish both to different destinations is there a way to check if an artifact is empty and not to execute the distribution task but continue with subsecuent tasks ??

[2018-08-02 04:54] MaqSaid opened #1459 "Why VSTS uses the terminology Features in Scrum"
When using Scrum Methodology, the Epic has user stories then why you have features mapped to Epic. **(see section "Agile, CMMI, and Scrum" of this article)**

[2018-08-02 05:23] dansiegel opened #1460 "Add a Xamarin Sample"
would be fantastic if there was a Xamarin Sample showing a multi-agent configuration to build iOS, Android, UWP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cfd9f66-a0f8-8369-f19e-c3446c301bcd
* Version Independent ID: 4f666589-3917-3424-bd3b-83b658e3a56d
* Content: [Build a repository with YAML](https://docs.micros

[2018-08-02 06:48] imalokagrawal commented on #968
This feature is only available for Build and not yet for Release Management.

[2018-08-02 06:48] #968 closed

[2018-08-02 09:51] KLD opened #1461 "Can't Save Slack Webhook Service"
I'm getting a error message "Subscription input 'url' does not match the required data type 'Uri'.": when I try to save a Slack webhook service.

Here are the steps I took:
**Steps**
1- Create a new service hook:
![image](https://user-images.githubusercontent.com/4420439/43575759-49ae79a4-9650-11e8-897b-c88542d052f9.png)

2- Configure the webhook event:
![image](https://user-images.githubuserconte

[2018-08-02 09:56] #1461 closed

[2018-08-02 10:17] KLD opened #1462 "Webhook Discord Support"
Please add Discord support.

I tried to set a discord webhook up as a Slack service, but it only works when I 'test' it. Can't save it since uri doesn't match slack's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc61b61-ed67-8313-99d4-d736e7f48234
* Version Independent ID: 3e0fcf87-9744-cec8-24f8-9f68371959c6
* Con

[2018-08-02 14:14] elbatk commented on #1462
Hi @KLD ! Thanks for your feedback. For suggestions or ideas to the product, please feel free to post them on the VSTS UserVoice, where they're more likely to gain traction from other users and from the product team. Closing this ticket for now.

P.S. I'd like discord integration too :)

[2018-08-02 14:14] #1462 closed

[2018-08-02 14:28] steved0x commented on #1459
@MaqSaid Thank you for the feedback, can you let me know what article you were reading so I can send the feedback to the right athor? Thank you.

[2018-08-02 14:30] steved0x commented on #1458
@DavidNorena Thank you for your feedback. The issues in this repo are for documentation feedback, can you let me know what article this feedback/question goes with so I can assign it to the right author? Thank you.

[2018-08-02 14:30] steved0x commented on #1419
@pmosupport Thank you for letting me know, I am assigning this issue to the author of that article.

[2018-08-02 14:45] DavidNorena commented on #1458
Dont worry thank you so much, I'm using a powershellscript to accomplish that, thank you !

[2018-08-02 14:45] #1458 closed

[2018-08-02 15:28] StevenTCramer commented on #1442
Eventually I got this to work.
https://docs.microsoft.com/en-us/vsts/pipelines/library/connect-to-azure?view=vsts

The Powershell script fails unless you enter a password of certain complexity.

The prompt says "password"  normally one would think is asking me for an existing password.  But it is asking you to create a password for the SPN.

Getting help out of the ps command is far from intuitive

[2018-08-02 15:42] chcomley commented on #1403
@nguyenlamlll, are you a project collection admin or owner on the organization?

[2018-08-02 16:46] ashfakm opened #1464 "Amazingly"
This is very helpful, thank you so much.
Better you show screenshot of the last step, how you uncheck the access after right click. Any ways..
Thanks a ton! :) IT work for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab53b3f-feac-34cf-960b-3adaf3a8fcfe
* Version Independent ID: 3a84e493-d7de-1946-2e8e-805d4d66601

[2018-08-02 17:26] andyjlewis commented on #837
Thank you for reporting this. Fixed

[2018-08-02 17:26] #837 closed

[2018-08-02 19:34] steved0x commented on #1378
@loicmorvan How about it I add them into the existing argument column like this:

![image](https://user-images.githubusercontent.com/1580889/43606515-915234da-9669-11e8-9e79-dcadaf14057a.png)

[2018-08-03 08:18] mahilleb-msft opened #1465 "Drag and drop to other sprint from taskboard still possible?"
I'm struggling to find how to drag and drop from the Taskboard (not the back log) to a different sprint:

[code]

Is this still possible in the new UI? Where to find the sprint to drag the item onto?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e338b7ea-8e12-73db-1074-1b58644edfbf
* Version Independent ID: f3f40bdc-1

[2018-08-03 11:21] carlowahlstedt commented on #476
I ended up resolving my issue, but it wasn't clear to me why exactly. I had to:
1. Go to Organization Settings > Notifications
1. Select Settings
1. Enable Deliver to individual members

Seems this is relative to groups in general and the members in them that aren't receiving emails. We had a group which had some regular users who code getting emails, but the others who were not. Enabling this set

[2018-08-03 12:21] loicmorvan commented on #1378
Sounds perfect to me! Thanks!

[2018-08-03 13:20] alevans4 opened #1466 "Extending Menus and commands link"
It doesn't appear to me that the "Extending menus and commands" link on this page:

https://docs.microsoft.com/en-us/vsts/integrate/ide/extensions/develop_extensions/extend_ui

goes to the right place. It links instead to Legacy Language Service Essentials, which doesn't seem related?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-08-03 14:54] vtbassmatt commented on #546
The [hosted agents](https://docs.microsoft.com/en-us/vsts/pipelines/agents/hosted?view=vsts#capabilities-and-limitations) topic now includes details about the SKUs. As Chris mentioned, it's not easy to recommend hardware for private agents, but I'll mention what we use as part of [that topic](https://docs.microsoft.com/en-us/vsts/pipelines/agents/v2-windows?view=vsts).

[2018-08-03 14:54] #546 closed

[2018-08-03 14:58] vtbassmatt commented on #283
Addressed with a pending doc change.

[2018-08-03 14:58] #283 closed

[2018-08-03 15:22] vtbassmatt commented on #544
Addressed in a pending doc change

[2018-08-03 15:22] #544 closed

[2018-08-03 15:23] vtbassmatt commented on #924
Addressed in a pending docs change

[2018-08-03 15:23] #924 closed

[2018-08-03 15:39] vtbassmatt commented on #832
addressed in a pending doc update

[2018-08-03 15:39] #832 closed

[2018-08-03 15:46] vtbassmatt commented on #1284
@andyjlewis I think this GitHub issue got misrouted. I don't see anything in the v2-windows topic that talks about deployment group install scripts. There's a topic [here](https://docs.microsoft.com/en-us/vsts/pipelines/release/deployment-groups/?view=vsts#deploy-agents-to-a-deployment-group) that sounds more relevant. How do we move bugs?

[2018-08-03 15:51] andyjlewis commented on #1284
I don't know if we can move the issue, but heads up to: @alexhomer1 so he can take a look.

[2018-08-03 18:20] IKwiotek opened #1468 "Hyperlinks to "Subscriptions" and "Project REST API" result in page not found error."
Two hyperlinks located in the [Create a service hooks subscription programmatically](https://docs.microsoft.com/en-us/vsts/service-hooks/create-subscription?view=vsts) page result in a 404 page not found error.

1. [Subscriptions](https://visualstudio.microsoft.com/docs/integrate/api/hooks/subscriptions) hyperlink: Located at the beginning of the documentation.

2. [Project REST API](https://visua

[2018-08-03 18:34] ChadMcCaffery opened #1469 ""Test results files" argument needs improved examples for Version 1 vs Version 2"
Argument | Description
:-- | :--
Test results files | Use this to specify one or more test results files. - Version 1 of the task: You can use a single-folder wildcard (*) and recursive wildcards (**). For example, **/TEST-*.xml searches for all the XML files whose names start with TEST- in all subdirectories. Multiple paths can be specified, separated by a semicolon. - Version 2 of the task: Uses

[2018-08-03 21:06] L31a0rgana opened #1470 "Doesn't work after O365 1807 update."
Dragging and dropping items from the side panel onto my slide doesn't do anything. Completely broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb85ca92-338c-759e-d562-2c0e6f62f406
* Version Independent ID: ca73aa57-f5a2-8ab1-6524-dfcc5023eec3
* Content: [Storyboard your ideas with PowerPoint - VSTS & TFS](https:/

[2018-08-03 23:34] JMFthru commented on #1451
I am experiencing the same issue... receiving emails at the sign in the email address as opposed to contact email.

[2018-08-04 01:02] KathrynEE commented on #1439
@nschonni - Thank you for bringing this to my attention. I'm looking into getting this fixed. It is an artifact of the way content was migrated from the original MSDN topics. It may take a while to get corrected as there are hundreds of instances to fix.

[2018-08-04 01:02] #1439 closed

[2018-08-04 13:34] ctstone opened #1471 "Badge URL has an extra ']' in the Markdown"
Remove trailing ']' in the badge URL sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a10513-2af9-8e16-61a4-25d4b09f6d32
* Version Independent ID: 788acaa2-d5a1-1d0d-18f4-e94a4e2fe2c9
* Content: [Build your GitHub repository](https://docs.microsoft.com/en-us/vsts/pipelines/build/ci-build-github?view=vsts&tabs=de

[2018-08-06 03:01] MaqSaid commented on #1459
@steved0x  as requested https://docs.microsoft.com/en-us/vsts/work/work-items/guidance/choose-process?view=vsts. "See section "Agile, CMMI, and Scrum" of this article)"

[2018-08-06 04:57] ravinderjangra commented on #610
It is still not working.

[2018-08-06 10:13] DavidStaheli commented on #610
So sorry @ravinderjangra .  It's very close.  Please email me with your VSTS org/account name if I can enable it for you early.

[2018-08-06 11:01] alexhomer1 commented on #1284
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-08-06 11:35] Martinius79 opened #1474 "Using PAT for GIT repo clone"
Hi,

I was a bit confused after reading the article. After trying out some ways, I was finally able to use my PAT against TFS and VSTS GIT Repos.

The only way I was able to get a clone of my GIT repo using a PAT was setting the http.extraheader in the GIT commandline. The authorization tag must point to basic authentication, the protocoll must be HTTPS and the token must be BASE64 encoded, includ

[2018-08-06 12:52] alexhomer1 commented on #1284
The product team advises that you can customize the script; for example, this creates a directory under the system drive and sets up the agent there:

{mkdir $env:SystemDrive\'vstsagent'}; cd $env:SystemDrive\'vstsagent'

[2018-08-06 12:52] #1284 closed

[2018-08-06 13:14] #1468 closed

[2018-08-06 13:16] steved0x commented on #1474
@Martinius79 What Git client were you using, and on what platform (Windows, Mac, Linux?)

[2018-08-06 13:32] Martinius79 commented on #1474
![image](https://user-images.githubusercontent.com/41959005/43719369-d0c76a64-998d-11e8-97d6-1fdd6d4d295b.png)

[2018-08-06 13:42] steved0x commented on #1474
@Martinius79 Thank you, on Windows it should "just work" - let me loop in some more folks and see if I can get some more information.

[2018-08-06 13:58] varnk opened #1475 "Not all info on this page is available in TFS 2015"
The top of the page indicates that the information presented here should be in TFS 2015, but that is not the case.  Some screen content shown on this page is not available in TFS 2015.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94cca257-5f81-190e-b50c-7b7f69217234
* Version Independent ID: 1d84dc61-a8bb-b45a-6c93-5

[2018-08-06 14:05] steved0x commented on #1464
@ashfakm Thank you for the feedback and I am glad the article was able to help you. Could you share more details on the screenshot that you would like to see?

Thank you!

[2018-08-06 14:17] mlearned commented on #1471
@ctstone  @steved0x  ill have a look and be back.

[2018-08-06 14:17] alexhomer1 commented on #1469
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-08-06 14:17] #1469 closed

[2018-08-06 14:18] alexhomer1 commented on #1475
Thank you for your comment. I will update the topic to include your feedback.

[2018-08-06 14:18] #1475 closed

[2018-08-06 15:29] ashfakm commented on #1464
Hi Steve, what I mean is during commit when I get lock file error, I went in the .git folder and unlock 'index' file and it worked for me.
![image](https://user-images.githubusercontent.com/41935167/43726016-e29867ec-9952-11e8-827a-0d56aee386d9.png)

[2018-08-06 15:45] TimTMM opened #1476 "Third party extensions security concerns"
Can Microsoft vouch for these third party extensions? Have they been properly tested to make sure there are no security concerns when installed in an enterprise environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46849bf5-07ed-62cd-66a5-2ebabe449855
* Version Independent ID: d12ad05e-4348-f13a-ea35-7bb4761c3b0b

[2018-08-06 15:50] Wil73 opened #1477 "Trunk Based Development"
Sorry, but "shared version control branch" is misleading.  CI requires trunk based development.  Humble stated this quite clearly in his Continuous Delivery book.  For some reason everyone dances around this elephant or uses obscure language to circumvent or confuse the practice.

Develop on Trunk.  Read Paul Hammant's blog for more details.  This is the practice that fits with CI.  Anything else

[2018-08-06 19:30] luisvaladares opened #1478 "Scaled Agile Framework with multiples Azure subscriptions"
Hi,

This article doesn’t describe SAFe with multiples azure accounts. Image that, you're working with multiple clients and need separate bills and use SAFe for streaming all work items in your organization. How could it work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c1cb521-d930-b7da-6568-4577d2d72487
* Version

[2018-08-06 20:15] RonMcgonagall opened #1479 "Not working on Windows"
Hello !

I don't know what I am doing wrong. I have put this in my CI pipeline and everything work fine for my iOS build. However, when trying to build for Android i get the following error :

Unable to locate executable file: 'bash'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also verify the file has a valid ex

[2018-08-07 00:03] Malba0 opened #1480 "Automating the test association"
Is there any way to automate (script) the association of tests with test cases? With PowerShell I was able to create new test cases in TFS but have not yet found a way to make the association between the TFS test cases and Selenium test written for that purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a7e40-7

[2018-08-07 08:04] alexhomer1 commented on #1480
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-08-07 08:19] glatzert opened #1481 "Issue: Cannot choose nuget.org as Upstream"
This item seems not to apply to TFS 2018.2, since I cannot choose nuget as upstream source

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 504c808f-ddc0-fc0a-e63a-aeebf6924863
* Version Independent ID: 97568baa-5a4f-8741-5d69-47fb65ab105a
* Content: [Use packages from nuget.org](https://docs.microsoft.com/en-us/vsts/pac

[2018-08-07 11:10] kjacobsen commented on #610
Hi,

Is there an ETA on when this will reach production?

[2018-08-07 15:38] PBoraMSFT commented on #1392
@stevozilik - context parameters are the glue to passing information and changing values for those parameters as desired.
1. Parameterize URLs in your webtest
2. Add a context parameter in your load test runsettings (right click Active runsettings in load test editor -> add context parameter)

If you are running load tests in the CI/CD pipeline where the URL of the app may change from environment

[2018-08-07 15:51] PBoraMSFT commented on #1360
@samsil - the steps in the doc are correct. And the project it generates is also the right one for load testing. Can you elaborate on the old csproj and new-style csproj?
Closing this issue for now. Feel free to reactivate with the details on old/new style..

[2018-08-07 15:51] #1360 closed

[2018-08-07 16:01] SCordesHum opened #1483 "Errata? where Azure AD groups are added"
Should "by adding Azure AD groups to TFS groups" be "by adding Azure AD groups to VSTS groups"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a830bcfa-4584-922f-f28c-531cb59a454e
* Version Independent ID: 4f288fb1-78b1-0339-6627-316f6fb7686a
* Content: [Understand differences between VSTS and TFS](https://docs.microso

[2018-08-07 16:30] elbatk commented on #1481
Adding @alexmullans to help out here :)

[2018-08-07 16:38] alexmullans commented on #1481
Currently, [all feeds created before TFS 2018 Update 2](https://docs.microsoft.com/en-us/vsts/package/reference/feed-upgrade-learn-more?view=vsts) are unable to use the nuget.org upstream source. The ability to upgrade "legacy feeds" to use the nuget.org upstream source will come in the next major release of TFS. In the meantime, you can use it by creating a new feed.

@elbatk can you add a small

[2018-08-07 16:38] alexhomer1 commented on #1392
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-08-07 16:38] #1392 closed

[2018-08-07 16:40] parrainc opened #1484 "Steps for setting up release definition needs to be updated"
This documentation needs to be updated and should mentioned about the new Test Platform Installer task, that needs to be included right before the VSTest task for running the automated test in the test agent. Without this task, the user won't be able to run tests on that agent unless they manually install Visual Studio 2015/2017 on that agent, or install the Agents for Visual Studio 2015 update 3,

[2018-08-07 16:47] elbatk commented on #1481
Updating it as we speak! Closing this issue for now, I hope this helps @glatzert , feel free to reach back out if you have any more questions.

[2018-08-07 16:47] #1481 closed

[2018-08-07 17:04] alexhomer1 commented on #1484
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-08-07 19:47] KathrynEE commented on #1465
@mahilleb-msft - In the New navigation, the only drag-and-drop to a different sprint is supported only from the product backlog with Planning turned on. See  https://docs.microsoft.com/en-us/vsts/work/scrum/assign-work-sprint?view=vsts&tabs=new-nav#assign-work-from-your-backlog-to-a-sprint.  The text you reference is for the old UI.

You can quickly update a sprint for a task on the taskboard by a

[2018-08-07 19:47] #1465 closed

[2018-08-07 19:52] KathrynEE commented on #1457
@JamesInDenver - Thank you for the feedback. I will correct the topic.

[2018-08-07 19:52] #1457 closed

[2018-08-07 20:01] stevozilik commented on #1392
@PBoraMSFT - thank you, I agree that works, I've discovered all of that in last few days. I assume you mean having the load tests defined in a solution and checked in source control.

Are there any plans to make the VSTS UI richer to be able to define these via the web interface (cut out checking in code/Visual Studio)?

[2018-08-08 06:32] mahilleb-msft commented on #1465
Thanks @KathrynEE , appreciate your response.

[2018-08-08 06:53] nguyenlamlll commented on #1403
Hey @chcomley, I'm sorry for this late reply...
I'm just an administrator. I got the Visual Studio Enterprise MPN subscription from the organization.

[2018-08-08 06:59] ravinderjangra commented on #610
@DavidStaheli please share your email. so I can send a request. Thanks

[2018-08-08 09:54] ahmadyo commented on #699
where is 'build completion trigger'?

[2018-08-08 11:49] RomanKernSW opened #1487 "remove unnecessary web config after xml transformation"
If i publish the .net framework web application with IIS Web App Deploy, I have to add all web.*.config files as content and let them copy into the bin folder for xml transformation. The problem is, that after the deployment, I do have all web.*.config files on one stage.Is their any option that delete unnecessary web config files?

[2018-08-08 11:49] Gladskih commented on #1171
@alexisCata did you find a workaround for this bug?

[2018-08-08 11:56] DavidStaheli commented on #610
Finally, some information to share...  I'm so sorry for the wait.  The fix that was necessary before re-enabling fork PR builds was completed yesterday (Tues, Aug. 7).  Changes such as this deploy to production first to inner rings, proceeding to outer rings to ensure reliability along the way.  The changes will reach your VSTS organization over the next few days, depending on which ring it is in.

[2018-08-08 14:02] michal-turzynski opened #1488 ""Publish build artifacts in one phase and consume those in subsequent phases""
Could you please provide more details on the below:
"Publish build artifacts in one phase and consume those in subsequent phases" ?
How can we access those? Many thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14fc554-e74e-2c76-34d1-37a2e0dd7b2f
* Version Independent ID: e95259f4-61ef-5e99-a492-eb77d7d1e657
* C

[2018-08-08 14:57] dcarlosaz opened #1489 "Trello Service Hook on prem TFS?"
Does the service hook work with an on prem TFS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96287641-3e4f-b038-148f-08e8471bd573
* Version Independent ID: b0034cd1-4f29-2e2d-c2bb-49004552dae8
* Content: [Troubleshoot your service hooks integrations](https://docs.microsoft.com/en-us/vsts/service-hooks/troubleshoot?vi

[2018-08-08 15:46] chcomley commented on #1403
@nguyenlamlll If you're already a member of the Project Administrators group, or a team administrator for the team you want to update, make sure you're also a member of a project. If you're still having problems, please send me the details in an email and I'll loop in a PM. chcomley@microsoft.com. Thanks.

[2018-08-08 15:50] michal-turzynski commented on #1488
Sorry, I've got this. There is the 'Download Build Artifacts' task where all the details can be specified:

![image](https://user-images.githubusercontent.com/284403/43848525-0a95fffa-9b2b-11e8-907b-9f1a9f96c5e9.png)

[2018-08-08 15:50] #1488 closed

[2018-08-08 16:00] sferg-msft opened #1490 "Does not apply to TFS 2018"
In TFS 2018 the new form is the only form, so the option to opt in is no longer applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f344f9d-0f43-5850-1abc-0a4c076d82cf
* Version Independent ID: 05455f70-0225-0f15-d3b1-c046117acdbd
* Content: [Manage new form roll out - TFS](https://docs.microsoft.com/en-us/vsts

[2018-08-08 17:37] whytoe opened #1491 "SSH Task says it completes but the Key is not available later in the Build"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce9d017-fc43-c904-d94b-87cf91265ffc
* Version Independent ID: ecf3b0b7-6c2c-1cd9-33a9-2cf562932e2b
* Content: [Install SSH Key](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/utility/install-ssh-key?view=vsts#arguments)
* Content Source: [docs/pipelines/task

[2018-08-08 18:25] richardzone commented on #909
Hey @alexkokkinos, I cannot find the "View YAML button" anymore.
I've tried both old UI and new preview UI, neither of them has the button.

Could you help me with finding it?

[2018-08-08 19:54] jjones82 opened #1493 "TFS Client library issue"
The TFS Client libraries link takes you to a nuget package for "Microsoft.TeamFoundationServer.Client" version 15.112.1 which requires dependency "Microsoft.Tpl.Dataflow" which is no longer available. (https://www.nuget.org/packages/Microsoft.Tpl.Dataflow/4.5.20 - "The owner has unlisted this package. This could mean that the package is deprecated or shouldn't be used anymore.")

I can install the

[2018-08-08 22:27] edwinpjacques opened #1494 "Docker agent"
You should add some content or link to another page that describes how to get a docker agent up.  I found that to be easier than downloading/installing/configuring agents.  Also, if you use docker-compose, you can easily specify how many replicas you want to run on a host.

Create ```vsts-agent.env``` file with the following contents:
[code]

Create ```vsts-agent.yml``` file with the following con

[2018-08-08 23:19] ShaifaliKhera opened #1495 "ETIMEDOUT connect ETIMEDOUT failure on microsoft hosted agents while running tests in browserstack."
I have an automation framework in Protractor with Jasmine. And I’m trying to trigger browserstack tests from Microsoft hosted agent (e.g. “Hosted vs2017”) through vsts task within a release definition. But as soon as the spec file has more than few tests, its start getting “ETIMEDOUT connect ETIMEDOUT 207.254.56.15” error and as per my observation, the ip address within the error is that of the hu

[2018-08-09 03:51] abhiindian opened #1496 "real life example for creating epic , features and product backlog"
Request you to kindly provide real life example so that I will be more understandable how to use the scrum process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3f7d82-e5db-1cce-9205-757478f6376a
* Version Independent ID: 5635fab0-4e32-e76a-399e-9542a4e8c0b2
* Content: [Scrum process work items types & workflow - VS

[2018-08-09 06:08] alexisCata commented on #1171
@Gladskih finally I used http

[2018-08-09 06:25] FransVanEk opened #1497 "version is wrong in step 3"
when fabrikam starts using the gadgets it get'sversion 3.0.0 which doesn't exist...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d3f358-8883-0c64-5860-620eba5ff335
* Version Independent ID: 0d4d21a8-cfc4-8f0c-5d0d-dab651813804
* Content: [Constructing a complete package graph](https://docs.microsoft.com/en-us/vsts/

[2018-08-09 11:01] eriawan commented on #1493
@jjones82

The nuget package of Microsoft.Tpl.DataFlow is still there to get/download, although it is not listed. So you can still install the nuget package safely.

For more information, please refer to this dotnet/corefx#24547

[2018-08-09 11:53] ltarjanyi commented on #909
Turn on "Build YAML definitions" preview feature for your organization. Than you will see the "View YAML" link in the pipeline edit view (where define, config the tasks...).

[2018-08-09 11:54] Martinius79 commented on #1474
Yes, I am using this method in an automation way. We syncronize our code to a private VSTS project on irregular base.

PS: I would like to see a nice tutorial here, how to generate short time PATs and use them programmatically :)

I wrote the comment above, because I expected problems using a PAT to access our on premise TFS (2018 Update 2) using the descriped methods (GCM and so on).
Maybe you ne

[2018-08-09 12:37] BradKwon opened #1498 "Build status badge added to GitHub readme doesn't show up."
I added markdown build status badge on my GitHub readme file but the badge image doesn't show up although the link works like below. Is it related to the VSTS project access level or security permission?

I am using a public GitHub repo and a private git VSTS project.

![screen shot 2018-08-09 at 14 36 01](https://user-images.githubusercontent.com/5119467/43899254-966795aa-9be1-11e8-8423-823cc510b

[2018-08-09 12:43] BradKwon opened #1499 "Build status badge added to GitHub readme doesn't show up."
I added markdown build status badge on my GitHub readme file but the badge image doesn't show up although the link works like below. Is it related to the VSTS project access level or security permission?

I am using a public GitHub repo and a private git VSTS project.

[![Build status](https://bradkwon.visualstudio.com/test/_apis/build/status/test-Xamarin.Android-CI?branch=master)](https://bradkwo

[2018-08-09 12:43] #1498 closed

[2018-08-09 12:46] BradKwon commented on #1498
I made this issue directly to this repo without linking the doc I refer. So I closed this and make a [new issue](https://github.com/MicrosoftDocs/vsts-docs/issues/1499) under the doc.

[2018-08-09 14:06] steved0x commented on #1046
@cidrugHug8 I'm closing this issue, but please open up a new issue if the information here didn't help. Thank you for your feedback.

[2018-08-09 14:06] #1046 closed

[2018-08-09 15:41] whoisj commented on #1474
@Martinius79 just a point to make here, the GCM is not designed (thought it does attempt to support) for non-interactive authentication. VSTS worked with the Git for Windows and larger Git community to get the `http.extraheader` configuration added to Git because we knew that a tool like the GCM (designed for interactive usage) would problematic in automation.

In my opinion, the idea situation is

[2018-08-09 16:09] justmarks commented on #1474
[ManagePATsviaREST.zip](https://github.com/MicrosoftDocs/vsts-docs/files/2274921/ManagePATsviaREST.zip)
Here's a sample for how to call our REST APIs to create/revoke/enumerate PATs

[2018-08-09 17:28] steved0x commented on #1495
@andyjlewis Can you help route this one?

[2018-08-09 17:30] steved0x commented on #1487
@RomanKernSW Thank you for your feedback. Can you let me know to which article this feedback applies so I can send it to the right author?

Thank you.

[2018-08-09 17:31] steved0x commented on #1477
@samgu Can you take a look at this one?

[2018-08-09 17:38] Wil73 commented on #1477
That looks good.  This is a problem I run into all the time that Humble and Farley discuss at length: teams discuss Continuous Integration and do not follow through with Trunk Based Development.  Teams often setup CI in their IT Infrastructure, but continue to work in feature branches for weeks.  This is a huge problem and misunderstanding of CI right now: TBD and CI are a married couple really, b

[2018-08-09 23:27] nschonni commented on #685
@steved0x did the install instructions end up getting ported to a different page?

[2018-08-10 00:23] brewmanz opened #1504 "unable to use link https://dl.microsoft.com/eclipse"
When I select link to https://dl.microsoft.com/eclipse/
I get "You do not have permission to view this directory or page."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9419941b-8945-9d1a-b7b8-828ab950fdb6
* Version Independent ID: 00263573-2be4-aca9-8a51-0a5f15febb0a
* Content: [Get the Eclipse Plug-in for VSTS & TFS

[2018-08-10 01:52] IryTech opened #1505 "Adding .gitignore default generated code"
When we add default .gitignore generated code file, it not only excludes nuget pkgs and local assemblies but also exludes all the necessary system references(system, system.web etc) to build the code. Which statement in .gitignore does that. Any help plz?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3f73e6a-75c9-6a8

[2018-08-10 04:38] deadlydog opened #1506 "No documentation on supported input types for task.json"
I'm developing a VSTS Build/Release extension and am looking for a list of acceptable input types that are allowed in the task.json file. I would've expected to find something about it [here](https://docs.microsoft.com/en-us/vsts/extend/develop/build-task-schema?view=vsts), but there's nothing there, and I can't seem to find this information anywhere else on the documentation site.

The closest th

[2018-08-10 04:46] deadlydog commented on #1506
It looks like this issue may be the same as #1345

[2018-08-10 12:12] Sentinel3d opened #1507 "TFS multiple custom conditions"
Is there a way to trigger it when it is from the branch 'master' or any branch in the release folder
![image](https://user-images.githubusercontent.com/6570499/43957139-0e4f36b6-9ca7-11e8-8c2b-3181a9d7f151.png)

i'm only getting this far:
`and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))`

Is it also possible to invert this?
so to trigger it when it is not master or an re