[2020-01-16 17:06] ashamrai opened #6962 "There is limit for the automerge"
When you are trying to merge branches that contain big files, you can catch the following error:
TF401022: By policy, the Git object '&lt;GUID&gt;' is too large to materialize into memory. Its size, &lt;file_size&gt;, exceeds the threshold of 104857600 bytes.

However, it`s not documented here.

Additional info: https://github.com/libgit2/libgit2sharp/issues/1486

---
#### Document Details

⚠ *Do

[2020-01-16 17:09] ashamrai commented on #6962
This is the error in our pull request
![2020-01-16_19-00-37](https://user-images.githubusercontent.com/18112719/72546552-9c309900-3893-11ea-875b-310da64e8708.png)

[2020-01-16 17:47] soccerjoshj07 commented on #6417
Use the [Maven Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/maven-authenticate?view=azure-devops) task to create a settings.xml for you to use to authenticate to Feed.

[2020-01-16 18:13] bassteen opened #6963 "Checking if parameter is empty"
Is it possible to check if a list is empty before iterating over it?
It would be nice if you could do

# job.yml
parameters:
  jobs: []

jobs:
- job: SomeSpecialTool                # Run your special tool in its own job first
  steps:
  - task: RunSpecialTool@1

- ${{ if not(empty(job))}}: # Then do job preparation that is not needed when there is no job e.g.
          - checkout: self

[2020-01-16 19:11] KathrynEE commented on #6708
@Jon889, @buckleyGI - FYI, the documentation to support custom detection relies on REST APIs which hadn't been completed prior to the publishing of this article. SInce then, they've been published, https://docs.microsoft.com/en-us/rest/api/azure/devops/test/results/add?view=azure-devops-rest-5.1, and the product team is working on updating the article with an example.

[2020-01-16 19:12] KathrynEE commented on #6700
@ligurio - The documentation to support custom detection relies on REST APIs which hadn't been completed prior to the publishing of this article. Since then, they've been published, https://docs.microsoft.com/en-us/rest/api/azure/devops/test/results/add?view=azure-devops-rest-5.1, and the product team is working on updating the article with an example.

[2020-01-16 19:55] WilliamAntonRohm commented on #6888
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-16 19:55] #6888 closed

[2020-01-16 19:56] WilliamAntonRohm commented on #6889
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-16 19:56] #6889 closed

[2020-01-16 19:56] WilliamAntonRohm commented on #6891
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-16 19:56] #6891 closed

[2020-01-16 19:57] WilliamAntonRohm commented on #6892
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-16 19:57] #6892 closed

[2020-01-16 20:03] Ixus commented on #6940
I just had to delete the project. When VS said a repo had the same name, I was confused.

[2020-01-16 20:26] lzhwxy commented on #3702
michwii,
    Your syntax doesn't work for me, have you tested it?

Thanks

[2020-01-16 21:07] drdamour opened #6964 "vstsFeedPublish is inconsistently documented in sections"
in Publish your packages vstsFeedPublish is hinted as feed name, but in Package versioning it's feed guid.

it should be feed guid in both places

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 405dfb6a-2f3d-1d74-2d28-d00be3bb069d
* Version Independent ID: d446b533-c215-6302-3df2-93b1ffd936df
* Content: [Publish & downl

[2020-01-16 21:08] drdamour opened #6965 "vstsFeedPublish described incorrectly"
this doc describes vstsFeedPublish as the name of the feed, but the task requires the guid of the feed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934d9e8-d417-1f45-dc87-e0dc25219c97
* Version Independent ID: 14bbdf7d-0608-f517-3b10-26d0e83eca85
* Content: [Universal Package, download and publish task - Azure Pipe

[2020-01-16 21:12] juliakm commented on #6246
@DaveJarvis Thanks again for your work on this. An updated version of the graphic is [live](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/key-pipelines-concepts?view=azure-devops). We've also added an author credit at the bottom.

Do you have a Twitter account we can use in a Microsoft tweet? We want to highlight your contribution.

[2020-01-16 22:23] WilliamAntonRohm commented on #6951
@hanschristian2710 -- Hans, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

[2020-01-16 22:26] WilliamAntonRohm commented on #6955
@ramu20061992 -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

[2020-01-16 22:26] DaveJarvis commented on #6246
@juliakm I don't have an active Twitter account; a shout out to my technical writing blog would be terrific:  https://dave.autonoma.ca/blog

The posted version looks fantastic. On a minor note, the bulleted list could mention that the steps shown are examples of discrete actions that a step could perform. For example:

[2020-01-16 22:26] #6246 closed

[2020-01-16 22:29] WilliamAntonRohm commented on #6960
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-16 22:33] soccerjoshj07 commented on #6960
I only consider this an issue with the documentation because is it intended that Maven artifacts can't be demoted once promoted?  It doesn't mention on these page(s)

[2020-01-16 22:34] WilliamAntonRohm commented on #6963
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-16 22:34] #6963 closed

[2020-01-16 22:36] WilliamAntonRohm commented on #6955
Also, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2020-01-16 23:14] Jon889 commented on #6708
Thanks! But last since last week I’ve been publishing the test results with reruns as TestSubResults and they haven’t been picked up as flaky.

[2020-01-16 23:55] Sparkdust opened #6966 "Directions for folks new to Microsoft"
As a person new to Microsoft, it was not obvious to me what Azure Artifacts was. Would be nice to have links to appropriate devops places.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb7c2ab6-4ba1-51d5-96bb-38a9ab6b50c3
* Version Independent ID: 415de875-ba1b-476b-f08b-1a61dc7a2747
* Content: [Set up your client's n

[2020-01-17 00:15] WilliamAntonRohm commented on #6960
@soccerjoshj07 -- Joshua, thank you for clarifying.

@chasewilson -- Chase, please look into this issue.

[2020-01-17 00:30] ahelwer opened #6967 "This documentation page needs A LOT of work"
Many parameters missing documentation, unclear how to use various commands.
This task is a mess. It should be split up into a bunch of smaller tasks (one for pack, one for push, etc.) - as is, it's very difficult to figure out which parameters are required and which are optional for any given command.
Documentation is inconsistent between this page and others, for example here: https://docs.micros

[2020-01-17 00:35] t-walker commented on #4240
+1 here, my team is hosting an npm package in an Artifacts feed and it'd be nice to not have to do all of the versioning manually

[2020-01-17 01:03] lzhwxy commented on #3702
+1
have been looking for solution for the whole day... we do need this feature if all possible.

[2020-01-17 04:33] dhmorrison opened #6968 "Resource Group Deployment Task Blows Up DevOps Deploy With AKS + CosmosDB."
Out of the box the DevOps Project created by Azure Portal contains a DevOps Deployment task that invokes this product.

[code]
Here's the Error:

[code]
If I remove the stuff about the servicePrinciple then I get a different error complaining about the "servicePrinciple stuff" is missing.  Seems to be a catch 22.  Since this is an out of the box deployment created by Azure, I'm feeling a bit disco

[2020-01-17 07:37] ashukum-msft commented on #5710
@rob2244 : You were facing this issue, because CreateTestPlanAsync is inside Microsoft.VisualStudio.Services.TestManagement.TestPlanning.WebApi.dll and it was not getting shipped in net standard 2.0 of version of the Microsoft.TeamFoundation.Server.Client nuget package. We have fixed this issue. Could you please try after installing latest nuget package?
**Note:** This method CreateTestPlanAsync e

[2020-01-17 09:00] YEMEAC commented on #4632
the documentation need to be updated not easy way to find this Guid...

'$(System.TeamProjectId)'
GET https://dev.azure.com/{organization}/_apis/projects?api-version=5.0

[2020-01-17 09:10] dazinator commented on #5986
@blueelvis I was considering this same approach, I agree a write up on this would be very useful!

[2020-01-17 09:23] dazinator opened #6969 "Delete slot"
This doc needs to be updated to mention that you can also delete slots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07461b2-a8a2-ec6f-769b-14b384777be3
* Version Independent ID: 2c72f09d-b198-461c-fc0d-1c3bd0a870c4
* Content: [Azure App Service Manage task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/d

[2020-01-17 09:29] peter-bloomfield opened #6970 "Runtime expressions do not create boolean variables"
The documentation isn't clear about the data type resulting from runtime expressions.

For example, I tried to define a boolean variable indicating whether the current build is based on the master branch:

[code]

From the documentation, I assumed "isMasterBuild" would be a boolean variable, allowing it to be used directly in a condition like this:

[code]

However, "isMasterBuild" turned out to b

[2020-01-17 10:45] devpro opened #6971 "Create reports step fails on ubuntu"
I copied/pasted the yaml sample from "Collect code coverage metrics with Coverlet" paragraph but the step "Create reports" fails with the error "line 1: reportgenerator: command not found".
Solution: add "./" before reportgenerator, with it the sample is running with success ("script: './reportgenerator -reports:$(Agent.TempDirectory)/**/coverage.cobertura.xml")

---
#### Document Details

⚠ *Do n

[2020-01-17 12:03] tomcoutts opened #6972 "Broken Billing"
When changing the organisation name there is a small window in which the Billing appears to be broken. This seemed to resolve itself after about an hour but may be worth reflecting this short delay in the docs.

[2020-01-17 12:12] svaenn commented on #3702
+1!

[2020-01-17 12:47] twildeman opened #6973 "Incorrect title and inconsistent menu and page title"
The information on this page is to enable the subscription logging, there is no information about using the subscription logging.

How to use the subscription logging is not explained. E.g. how to match a specific mention to something in the log.
I enabled the diagnostics on the mention subscription, but I am unable to figure out why a team member is not receiving the mails.

It would be nice if t

[2020-01-17 13:43] japj commented on #3685
I'm also interested in any information to this feature (using Azure DevOps Server 2019 Update1).
Any information on how this actually works/should be configured would be appreciated!

[2020-01-17 14:10] ncourtiller opened #6974 "artifact.upload undocumented parameter ?"
I'v tried  the `artifact.upload` command in a _release_ pipeline and I get this error (*) :

	2020-01-17T12:04:18.3260397Z ##[error]Unable to process command '##vso[artifact.upload containerfolder=icone;artifactname=image;]D:\AAlog\error.html' successfully. Please reference documentation (http://go.microsoft.com/fwlink/?LinkId=817296)
	2020-01-17T12:04:18.3260397Z ##[error]Value cannot be null.
	P

[2020-01-17 14:21] paavels opened #6975 "How to assemble summary information about multiple deployments"
What is the best way to summarize which user story get's deployed to which environment? In case of this page's example, supposedly you have 100 stories, 3 environments and 2 of those stories have not been deployed to Midwest and couple more stories are deployed to production before actual testing. It is not possible to query work items by deployment status in Azure devops and REST api have no supp

[2020-01-17 14:30] moswald commented on #3685
@japj To summarize for you and anyone else who may stumble upon this thread:

TL;DR: setting a `Build.Cleanup` capability on agents will cause the pool's cleanup jobs to be directed to just those agents, leaving the rest free to do regular work.

The gist is that when a pipeline run is deleted we need to clean up any associated artifacts. Artifacts that are stored outside of Azure DevOps/TFS need

[2020-01-17 15:23] Lukasz994 opened #6976 "Unable to run Linux container on Windows"
Hey,
I've followed above example and everything built fine. When I attempt to run the image I receive this error:
standard_init_linux.go:211: exec user process caused "no such file or directory"

Not sure where to take it from here. Did anyone experience similar issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31

[2020-01-17 15:27] mapoitras opened #6977 "Error while trying to get full JSON Object."
While doing

steps:
- script: echo ${{ resources.repositories['self'].name }}

works well

doing:

steps:
- script: echo ${{ resources }}

Fails during evaluation of template yaml.

It would be useful to be able to get the full JSON object for the resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f7712f-f527-

[2020-01-17 15:29] vtbassmatt commented on #6977
This is a feature request, not a docs issue. Please file it on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). Thanks!

[2020-01-17 15:29] #6977 closed

[2020-01-17 15:41] bucmic opened #6978 "Wrong PS script name mentioned"
.\ConformProjects.ps1 "&lt;collection url&gt;" "&lt;project name&gt;" "c:\process-customization-scripts\import\agile"
should be
.\ConformProject.ps1 "&lt;collection url&gt;" "&lt;project name&gt;" "c:\process-customization-scripts\import\agile"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e7fb4b-29e6-95b4-001c-7cff

[2020-01-17 16:06] msebolt commented on #6900
Closing this issue now, please comment below if there are additional questions.

[2020-01-17 16:06] #6900 closed

[2020-01-17 16:08] msebolt commented on #6926
Closing this issue now, please comment below if there are additional questions.

[2020-01-17 16:08] #6926 closed

[2020-01-17 16:09] #6940 closed

[2020-01-17 16:09] #6944 closed

[2020-01-17 16:16] msebolt commented on #6823
This is something only the product team can comment on, please use [suggest a feature](https://developercommunity.visualstudio.com/content/idea/post.html?space=21) for further information.

[2020-01-17 16:23] msebolt commented on #6884
@webskydavid Thank you for the clarification and for including examples.

Again, we apologize for any outdated examples and will work harder to improve the doc set with regard to more current API scenarios.

Adding @chcomley for visibility.

Closing the issue now, please contact us again if there are additional issues.

[2020-01-17 16:23] #6884 closed

[2020-01-17 16:26] msebolt commented on #6920
Closing the issue now since this is product-related incident.

Please contact us again if there are further issues.

[2020-01-17 16:26] #6920 closed

[2020-01-17 16:32] msebolt commented on #6921
@vairakkumar-vairaperumal Thank you for the update.

For bugs and other product-related issues, please use [report a problem](https://developercommunity.visualstudio.com/content/problem/post.html?space=21) for feedback from the product team.

[2020-01-17 16:33] johnterickson opened #6980 "Azure Artifacts no longer requires licenses to be assigned"
"you must first assign licenses for the Azure Artifacts" can be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 598465e1-85d4-4961-b8b6-902d6026c5e3
* Version Independent ID: 5ef1308a-3aeb-fcc4-dec7-6f10785612a3
* Content: [Release artifacts and artifact sources - Azure Pipelines](https://docs.microsoft.com/en-u

[2020-01-17 16:39] msebolt commented on #6823
Closing this issue now.

Please feel free to contact us again if there are any additional questions or issues.

[2020-01-17 16:39] #6823 closed

[2020-01-17 16:40] msebolt commented on #6921
Closing this issue now.

Please feel free to contact us again if there are any additional questions or issues.

[2020-01-17 16:40] #6921 closed

[2020-01-17 16:59] bjeromeHCS commented on #3118
This is working for me:

[code]

Single quotes aren't necessary.

[2020-01-17 17:16] juliakm commented on #6246
Thanks for the suggestion. I've updated the text and given you author credit on [the commit](https://github.com/MicrosoftDocs/vsts-docs/commit/599b1a95f2ee61bc2577450bc17934235b1e7da3).

[2020-01-17 17:57] fluffy-cakes commented on #6896
i have been doing my nut in trying to figure out what's going wrong.

my pipeline variable `terraformDestroy` = `yes`

[code]

will fail when parameters and variables are evaluated at the same time:
[code]

it will be blank: `eq('', 'yes')` which evaluates to `False`

however, if i change the condition to `condition: eq(variables['terraformDestroy'], 'yes')` it will work, but it's not pulling in t

[2020-01-17 19:11] fargs opened #6982 "Title "Why is the Git repository hidden?" is misleading"
The title asks a question but the content does not answer it. Easy fix is to change the title but better fix would be to add content that does answer it. I was actually searching for an answer to that exact question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973bb49c-7fcb-a953-21ff-82b03f899e73
* Version Independe

[2020-01-17 20:28] t-l-k opened #6983 "How are output variables handled from a task group?"
I created a task group, and none of the tasks within it appear to have output variable support. This is a problem, I can't set an output reference name.

When the task group is added to a build pipeline, the task group does appear to support output variables.

But how would the tasks within the task group, output values into the output variables of the task group?

I can't see this documented here

[2020-01-17 20:32] WilliamAntonRohm commented on #6930
@chcomley -- please review the above-mentioned PR 828.

[2020-01-17 20:59] NenoLoje opened #6984 "AccountName should be OrgName or CollectionName"
On this page, it says:

&gt; However, you can navigate to it from the following URL:
&gt;
&gt; https://dev.azure.com/&lt;AccountName&gt;/&lt;TeamProjectName&gt;/_git/&lt;WikiName&gt;

For Azure DevOps Services **AccountName** should actually be **OrgName**.

For DevOps Server 2019, it should still be "DefaultCollection".

Thanks!
--Neno

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-01-17 21:10] #6930 closed

[2020-01-17 21:20] bobbrow opened #6985 "Adding a custom variable to the release name"
The section "How do I manage the names for new releases?" says that you can use a "custom variable" in your release name, but this doesn't seem to be working for me.  Could you clarify in the docs whether this is supposed to work, or help me understand what I'm doing wrong?

I added a "Pipeline Variable" in "Variables" tab and then tried to reference it in the "Options" -&gt; "Release name format"

[2020-01-17 21:42] ryandkyle opened #6986 "Grammar - missing "to""
"added a project or team" should be "added to a project or team"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a197bf55-89c7-682d-bb1c-e82bec732349
* Version Independent ID: 5aa2afac-cb82-3f72-643c-25a0173cce98
* Content: [Using work items to track user stories, & more - Azure Boards and TFS](https://docs.microsoft.co

[2020-01-17 22:32] vasumsit opened #6987 "Could not able to run web application in visual studio"
Hi All,

We have moved to TFS to GIT recently, We have able to clone and create repository. But when i try to run the project visual studio, could not able run. it is just started debug mode and stopping using IIS express.

the same project is working fine without Git and in TFS. try multiple options, nothing is working.

Could you please help me on this

[2020-01-18 00:49] nicholasdbrady opened #6988 "Email links now unsupported"
mailto: links now seem to go to a path relative to the local repository instead of opening default email client

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f5bb-1f5c-177a-081a37b6acef
* Version Independent ID: 72f7fd16-a822-66c8-3a34-8905645ce5f2
* Content: [Markdown syntax for files, widgets, and wikis - A

[2020-01-18 01:12] msebolt commented on #6966
@Sparkdust Thank you for providing feedback to Microsoft!

Assigning this to the author for further review.

[2020-01-18 01:14] msebolt commented on #6967
@ahelwer Thank you for providing feedback to Microsoft!

Assigning this to the author for further review.

[2020-01-18 01:15] msebolt commented on #6969
@dazinator Thank you for providing feedback to Microsoft.

Assigning this to the author for further review.

[2020-01-18 01:24] msebolt commented on #6970
@peter-bloomfield Thank you for providing feedback to Microsoft, assigning this to the author for further review.

Please submit any design features and/or related bugs to the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-18 08:45] jedjohan commented on #5114
In my opinion YAML is very much a viable replacement now (since a few months back). Just doing "normal" devops stuff and multistage pipelines works great for both build and release (database, frontend and backend).

[2020-01-18 12:53] DaRosenberg opened #6989 "Documentation on expressions is missing information about "if" statements"
Expressions are useful to calculate a value, sure.
Expressions are also useful in the places in YAML that explicitly support conditions, sure.

However, without the ability to do things conditionally based on the result of expressions, their usefulness is limited. For example:
- Conditionally assign the value of a variable based on an expression
- Conditionally set inputs on a task based on an exp

[2020-01-18 13:00] DaRosenberg commented on #6989
On a related note (and I know this is more of a product feedback than a documentation issue) it's worth mentioning that it would be extremely useful to have an `if()` function available in the expression syntax.

So instead of:
[code]

We could do:
[code]

It would also be very useful to have an `else` statement so we could do:
[code]

[2020-01-18 21:13] bc3tech commented on #6443
Hm. That's somewhat repetitive of the section above it:

![image](https://user-images.githubusercontent.com/1967433/72670600-10824e00-39f4-11ea-8f23-d9cfc99cdb40.png)

which is actually not correct; the usage of secret variable in the powershell script as `$(mySecret)` will in fact _not_ work, despite what the output shows in this section of the docs.

And, in fact, saying "It is recommended that

[2020-01-19 00:38] daveneeley commented on #4941
Docker wants absolute paths on the left-hand side of a volume mount. But Container resources are parsed before pipeline variables are available.  These volumes and environment parameters get passed as-is when the agent actually starts the container. On an azure pipelines agent hosted and supported by Microsoft, an absolute path is not a good idea. Wish this worked:

[code]

[2020-01-19 01:33] daveneeley commented on #4941
Vote for parsing variables within resources here:
https://developercommunity.visualstudio.com/idea/816606/allow-variables-at-resourcesrepositoriesrepository.html
and here:
https://developercommunity.visualstudio.com/idea/889521/support-yaml-variable-expansion-in-container-resou.html

[2020-01-19 08:54] FrankHeimes opened #6992 "Documentation on flag CompressSymbols is ambiguous"
The YAML snippet says:
"#compressSymbols: false # Required when symbolServerType == FileShare"
I interpret this so that PDB compression must be disabled when using a file share.
This would comply to the fact that Task 'Index Sources & publish Symbols' (2.*) does not provide a checkbox for enabling compression.
But at the bottom, the page says:
"CompressSymbols  (Required) Only available when File

[2020-01-19 09:00] FrankHeimes commented on #6992
... if "Required" referred to the parameter and not its value, then the documentation should read:
"CompressSymbols   Only required when File share is selected as the Symbol server type. ..."

[2020-01-19 14:15] hintbw commented on #5058
This is an area where I agree the documentation is incomplete and could be improved to provide a better understanding of these concepts work together.

[2020-01-19 18:58] Jon889 commented on #4073
@vtbassmatt Going back to the original question in this thread, where can the $[] syntax be used? Anywhere in the pipeline YAML (eg in a parameter for a template or task)

[2020-01-20 00:27] AdamCoulterOz commented on #4919
I've started a draft schema... its a dynamic schema for the full `vss-extension.json` config file. So it includes the custom service connections, and the whole rest of the file. Mostly generated by downloading every vis-extension.json on GitHub and aggregating them, then reverse engineering the schema. Working on it here in my forked repo here:

https://github.com/AdamCoulterOz/vsts-docs/pull/1

[2020-01-20 00:32] AdamCoulterOz commented on #4919
Could get some help expanding this section to include all the conditional subschemas:

https://github.com/AdamCoulterOz/vsts-docs/blob/vss-schema/docs/extend/develop/_shared/extn-types/typeReferences.schema.json

[2020-01-20 00:39] HughDevlin opened #6993 "machine level stage variable"
"For example: the script can set a machine level stage variable which the application uses, like database connection string." maybe should read "...machine-level environment variable..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5233d9b7-e301-998a-f37b-91494dc55b10
* Version Independent ID: bcb2f43d-5b24-3df2-0515

[2020-01-20 01:21] DanJ210 opened #6994 "YML "Show Assistant" Seems to Provide Different .Net Core Publish Code than the Forked Repo"
Long story as to why I've got a new project which is a project that I already have on Azure Dev ups with CI/CD setup to automatically build and release to Azure but I am. I've created a pipeline but the build doesn't seem to be publishing or producing any artifact so the release does not pick it up. When viewing the pipeline .yml file and clicking "Show Assistant" if I click .Net Core and select p

[2020-01-20 05:08] srivatsamarichi commented on #6757
The documentation has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-20 05:14] iamsrivatsa commented on #6757
The documentation has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-20 05:14] #6757 closed

[2020-01-20 08:00] RoopeshNair commented on #6969
We encourage contributions, please do submit changes that can improve the documentation.

[2020-01-20 08:23] RoopeshNair commented on #6985
You can update the release name with custom variable value using the [logging commands](https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md#release-logging-commands)

[2020-01-20 08:33] RoopeshNair commented on #6985
Submitted [PR #833](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/833) for the doc changes

[2020-01-20 08:33] #6985 closed

[2020-01-20 09:09] RoopeshNair commented on #6706
[Decorator support for deployment jobs](https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/sprint-163-update#use-pipeline-decorators-to-inject-steps-automatically-in-a-deployment-job) was recently rolled out (Jan 13th 2020). Can you please try and re-open, if you are still facing the issues.

[2020-01-20 09:09] #6706 closed

[2020-01-20 09:23] RoopeshNair commented on #6980
[PR#834](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/834)

[2020-01-20 09:23] #6980 closed

[2020-01-20 09:40] yihengyi opened #6996 "hub extension - could not prevent navigation to other pages"
We developed man hub extension in work hub group and build-release-hub-group. We would like to prevent our extension when users to accidentally navigating away before they saved their changes.

Normally we would use the beforeunload event of the browser which is not working in the case of an extension because it is running in an iframe.

Is there any official way to prevent/hook on the navigation

[2020-01-20 09:41] DanielHolth commented on #3619
This is a fundamental feature for all super users. Please prioritize.

[2020-01-20 09:43] rmaziarka commented on #6753
I am struggling with this behavior as well. Pipelines triggers in YAML don't work as expected. 2 pipelines are triggered together and the second is not raised when first is finished.

Please share how we should approach these pipelines - is it a mistake in docs or bug inside the Azure DevOps.

[2020-01-20 10:40] estensen opened #6997 "Adding a string literal to an existing cache key does not avoid hits on existing caches"
Could you please update the example to correctly show how this is done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelin

[2020-01-20 10:57] techspeque opened #6998 "No mention of programmatic creation of pools"
It would be utmost useful to align this page with mentions of the new cli being developed.

What I am more interested seeing is on how to manage Azure DevOps and more specifically using API/cli to create the agent pools and queues.

At the moment this being an enterprise product it is quite difficult to do any automation without docs being properly referenced or easily accessible.

---
#### Docume

[2020-01-20 12:36] gustavosavio commented on #4241
Hello! Please re-open this issue. I need the one solution similar to jenkins approach.
i.e:
stage ('approve-prod') {
    steps {
        input "Approve deployment to production?"
    }
}

A good ideia would could to be:

steps:
- script:  'something'
- input "Approve deployment to production?" (yes or no)
- script:  'something'

[2020-01-20 12:43] jwikman commented on #4241
@AArnott Environment works without Kubernetes. I've created several environments with manual approval without a resource. Just select "None" as resource when you are creating the environment.

That said, I still consider this a workaround. I would rather have something simple as in @gustavosavio comment. With that enabled I would just create a work item in the script right before the input, instru

[2020-01-20 14:15] derekrprice commented on #5687
As a temporary workaround for the lack of notifications, I added a 1 day timeout to the Environment's approval configuration. This way, if no one approves for 24 hours, then we at least get the email notification for the failed build and can go into the pipeline, re-run the failed step, and enter the manual approval then.

This still isn't ideal, but at least it limits the time that an un-deployed

[2020-01-20 15:08] iain-peddie-tessella opened #7000 "Please make clear whether caching is out of preview"
The text of this page makes it seem that this functionality is out of preview - no mention of pipeline caching being in preview is made. However, the title of this page in the tree view menu on the left hand pane is `Reduce build time using caching (Preview)`. Either this is an oversight, or this page doesn't make clear that this feature is still in preview.

I'd expect the content of the page, an

[2020-01-20 16:57] tdopun commented on #2102
How do you add these parameters if they got deleted? I don't have an option to "link" in the 'i' tooltip.

[2020-01-20 17:09] #6986 closed

[2020-01-20 17:34] ElvenSpellmaker commented on #6890
@mtaylorfsmb You can't assign variables at the `step` level, only at `job`, `stage`, and `global.

[2020-01-20 19:09] majorvin commented on #3999
Any news on this?

[2020-01-20 20:09] tessajade opened #7001 "Not supported for new work item form?"
I am using on-premises Azure DevOps Server with the XML process model. I tried to add the release deployment control and got the following error: "Cannot create work item control of type "DeploymentsControl". Legacy extensions are no longer supported in new work item form." If this is only supported for the old work item form, that be much clearer given that most people should be using the new wor

[2020-01-20 21:50] kim76 commented on #1866
Hi, I'm also trying to retrieve the user identity from Git but Build.RequestedFor and Build.QueuedBy both give me `GitHub` on my PR build.

[2020-01-21 00:17] dagardiner commented on #6939
I'm experiencing a similar issue - throwing it into this thread in case the additional context is helpful.  I need to have a job (publishing) depend on the results of a template (build and add artifacts to the pipeline), so have them structured into a Stage as per the suggestion from [here](https://developercommunity.visualstudio.com/content/problem/642351/unable-to-define-dependson-with-stage-tem

[2020-01-21 00:26] WilliamAntonRohm commented on #6975
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-21 00:26] #6975 closed

[2020-01-21 00:30] arcotek-ltd opened #7003 "Docker Hub requires PAT, not password"
Under https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#sep-docreg, "Docker Hub and others" you mention a password is required. This didn't work for me, I had to create a PAT from my account page on Docker Hub (hub.docker.com/settings/security).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-21 00:33] WilliamAntonRohm commented on #6976
@Lukasz994, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @steved0x, please look into this potential documentation issue.

[2020-01-21 00:37] WilliamAntonRohm commented on #6987
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-21 00:37] #6987 closed

[2020-01-21 00:38] WilliamAntonRohm commented on #6988
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

cc @chcomley

[2020-01-21 00:38] #6988 closed

[2020-01-21 00:43] WilliamAntonRohm commented on #6994
@DanJ210 -- Daniel, you may find some answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chcomley -- please look into this issue.

[2020-01-21 00:45] WilliamAntonRohm commented on #6996
@yihengyi -- Chauncey, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azured

[2020-01-21 04:46] Kattesang opened #7004 "Getting error as “Invalid staging table x_mioms_azpipeline_change_request_import”"
I have configured Deployment gates with service now change management in my Azure Devops release pipeline. When I trigger the release pipeline, I was ended with the error "Invalid table". Below is the log. Please let me know the solution to this issue.
![log](https://user-images.githubusercontent.com/320905/72776118-00a67c00-3c37-11ea-8e84-9dc9520b9847.png)

[2020-01-21 05:21] iamsrivatsa commented on #6393
@twchapman Thank you for the feedback. As part of the Analytics, you can only see the top counts based on the run duration etc. If you want a detailed insights, log view is the right place. Hope this finds useful.

[2020-01-21 05:43] gvdb opened #7005 "Files not automatically added to version control with server workspace"
Hello,

The "Important" box under this title https://docs.microsoft.com/en-us/azure/devops/repos/tfvc/add-files-server?view=tfs-2018#automatically-add-one-or-more-files-to-version-control

Says the following: "Files saved when working in a server workspace will add and check in without showing as a pending change in Team Explorer."

However we're not seeing this behaviour in TFS 2018 (Software Ver

[2020-01-21 05:58] RoopeshNair commented on #2102
@tdopun  - are you trying to link in build or release? Note update "RoopeshNair commented on 14 Aug 2019 "

[2020-01-21 05:58] #2102 closed

[2020-01-21 09:41] PirateBread commented on #4347
YAML pipeline performance in general is crap compared to the old build and deploy steps even when using the same build agents. Console information is much slower and cancelling jobs often takes forever.

[2020-01-21 13:23] ppawiggers commented on #3702
+1

[2020-01-21 13:59] vtbassmatt commented on #4941
Thanks for the feature requests. No promises but they seem like something we ought to do.

[2020-01-21 14:33] ZachRHale commented on #5773
Thank you @benp25! I thought they just wanted the human-readable name in the YAML.

[2020-01-21 14:34] vtbassmatt commented on #4073
More or less, variables and conditions (and in conditions, you don't actually write the `$[]`) are it. There are a few miscellaneous other properties that allow runtime expressions and we're looking at expanding that set, but it's a rather arbitrary grouping right now and I don't recommend it.

[2020-01-21 14:49] greengumby opened #7007 "output path using vsbuild@1"
Hi,

I have set an output path in the Active(Debug) x64 configuration to bin\x64\debug however building through the azure pipeline using the correct platform and configuration seems to drop the x64 from the path.

Any ideas?

[2020-01-21 14:57] ffalorjr commented on #3702
+1 I have a highly reusable pipeline template that relies on variable groups and pipeline variables to make maintaining easier. Gonna try @michwii work around and base my IF statements on the pipeline name. This should give me what I want in the meantime.

[2020-01-21 14:58] Jon889 commented on #4073
Ok so this means that runtime expressions can’t be used in step templates as there’s no ability to have variables in them (unlike jobs and stages)

It would be great if they could just be used anywhere (like compile time expressions) but for the meantime can you update the documentation to make this explicitly clear that they can’t be used in most places.

[2020-01-21 15:10] DaveWhite opened #7008 "How do pools load-balance?"
If I have a pool with 4 agents on one VM, where agents 1 and 3 are on C: and agents 2 and 4 are on D:
I would expect that the order would be 1-&gt;2 when 2 simultaneous builds are triggered. However it seems that the order is actually 1-&gt;3, which means I have more activity on one disk.
Can the load-balancing be explained?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-21 15:22] alex-peck commented on #5487
Fixed 02690d83da2bb12a3f0bc721343ab89994c183af

[2020-01-21 15:22] #5487 closed

[2020-01-21 15:42] P-J-hash opened #7009 "Progress & Evolution of test cases in my dashboard of the project"
Is it possible to see the progress and evolution of test cases in a graph on the dashboard of a project?
I want to see how many times a test case is run before it's done.
E.g. I have 100 test cases in a certain iteration.
90% is run in 1 time
7% is run in 2 times
1% is run in 3 times
2 % is run in &gt;3 times
Now I can only see this per test case separately, not per iteration or test suite.
My sec

[2020-01-21 15:53] majusmisiak commented on #6913
Same question here, while pipeline seems to be arbitrary name, that can be referenced later, but source is totally unclear.
Is `source` the

1. name of the resource pipeline?
2. ID (integer) of the resource pipeline?
3. Name of the git repository where the pipeline is defined?

If (1), which I assume - how are conflicts handled if multiple pipelines have the same name (__e.g.__ "security-lib" as i

[2020-01-21 16:27] #6978 closed

[2020-01-21 17:08] bobbrow commented on #6985
I tried:
[code]
But PowerShell didn't know how to resolve the date variable.  Are `$date` and `$rev` available in this context?  I thought they should have been substituted already.

[code]

[2020-01-21 17:08] chcomley commented on #6982
@fargs, Thanks for your feedback. I've fixed the title and am following up on just why the repo is hidden. Thank you.

[2020-01-21 17:28] msebolt commented on #6997
@estensen Thank you for the feedback, we apologize for any issues in the examples.

Please refer to the specific example, e.g. [Gradle](https://docs.microsoft.com/azure/devops/pipelines/caching/index#gradle) or [Maven](https://docs.microsoft.com/azure/devops/pipelines/caching/index#gradle), and we will assign this to the author for review.

[2020-01-21 17:30] arcotek-ltd opened #7010 "SELinux needs to be configured"
There is no mention of SELinux, however, assuming it is in `enforcing` mode (and why wouldn't it be), one may run into difficulties installing/running the service. I have raised a ticket providin details on the problem and how to resolve in [#2738 ](https://github.com/microsoft/azure-pipelines-agent/issues/2738).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-21 17:47] msebolt commented on #6998
@techspeque Thank you for the feedback.

Please refer to [Get started with the REST](https://docs.microsoft.com/rest/api/azure/devops) for help on the [Pools](https://docs.microsoft.com/rest/api/azure/devops/distributedtask/pools) and [Queues](https://docs.microsoft.com/rest/api/azure/devops/distributedtask/queues) API.

Or, see [Get started with Azure CLI](https://docs.microsoft.com/cli/azure/get

[2020-01-21 17:55] msebolt commented on #7000
@iain-peddie-tessella Thank you for the feedback.

There are often release date discrepancies between **Azure DevOps services** and **Azure DevOps server** features, please refer to the [Azure DevOps timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline) for information.

Assigning this to the author for further review.

[2020-01-21 18:50] jeffyoungstrom commented on #1520
I've submitted a Developer Community problem report for this issue. Please go upvote it if you are also affected by this limitation

https://developercommunity.visualstudio.com/content/problem/891932/azure-repos-git-lfs-file-size-limited-to-120mb.html

[2020-01-21 19:17] cloudmelon commented on #1520
Thanks all 😊

Melony QIN

[2020-01-21 19:20] ssa3512 commented on #1520
This is a bug due to HTTP2. There are workarounds here: https://developercommunity.visualstudio.com/content/problem/862165/cant-push-large-git-lfs-files-to-repository-from-p.html and in #4179

[2020-01-21 19:52] jigneshjdesai opened #7011 "How to create organization in Azure DevOps Server 2019?"
Hello -

I couldn't find any instruction on this page on this and no options on admin console or web application.

Thanks,
Jignesh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b9dd76-4131-bf69-f9bc-c7f7ef562609
* Version Independent ID: 8d3bfbae-3398-c0a2-ca4d-c4782a3b4370
* Content: [Create a new organization, pro

[2020-01-21 21:18] SirAlvarex opened #7013 "Roadmap for future supported formats?"
I see you have a comment on future formats will be supported in future milestones.  Our engineers have a desire to use this tooling but for the Cobertura format.  Is there a timeline for support of these formats, or is there a AzDO Task we can execute to convert Cobertura to .coverage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-21 21:31] clockwiseq opened #7014 "What Do We Do With YAML File?"
I can't find anything on this page (forgive me if I overlooked it) regarding what to do with the YAML file.  I already have release pipelines setup (classic I guess) and I want to use Environments and the Environment page led me here because it seems the only way to target an environment is via YAML?  Well, once I build a YAML file, what do I do with it?

---
#### Document Details

⚠ *Do not edit

[2020-01-21 22:23] jwikman commented on #6793
Please also update the page https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/universal-packages?view=azure-devops&tabs=yaml

Above information was quite hard to find...

While you're updating both pages, take the chance to link them to each other.

[2020-01-21 23:13] mydiemho opened #7015 "Create new organization through API, CLI or ARM template"
Is it possible to create a new organization through an API, the azure cli or using ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b9dd76-4131-bf69-f9bc-c7f7ef562609
* Version Independent ID: 8d3bfbae-3398-c0a2-ca4d-c4782a3b4370
* Content: [Create a new organization, project collection - Azure DevOps](ht

[2020-01-21 23:45] WilliamAntonRohm commented on #7004
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-01-21 23:45] #7004 closed

[2020-01-21 23:47] WilliamAntonRohm commented on #7007
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-01-21 23:47] #7007 closed

[2020-01-21 23:58] GitMje opened #7016 "The "Open Analytics view, new navigation" image shows as image not found."
The "Open Analytics view, new navigation" image shows as image not found.  Could you please locate the image and fix the linkage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 574443d9-7dc6-8fba-f549-2781def08395
* Version Independent ID: bfa2a8a3-f07a-0859-4282-0becc46e692f
* Content: [Create an Analytics view - Azur

[2020-01-22 00:02] WilliamAntonRohm commented on #7009
@P-J-hash -- thank you for your feedback.  You may find some answers here:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

Also, the product teams aren’t always watching this repository, so to make sure your feedback gets in front of them for triage, please [submit your id

[2020-01-22 00:23] WilliamAntonRohm commented on #7011
@jigneshjdesai -- Jignesh, thank you for your feedback.  You may find answers here:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

 @chcomley -- please look into this potential documentation issue.

[2020-01-22 00:36] kbrady-vibrato opened #7017 "Pipeline Resource version string should be able to accept a variable"
Hi,

The Pipeline Resource currently does not accept a variable value for the version key.
It would be a better experience if I could potentially have a variable specified at run time that would be used so I did not have to edit the yaml each time.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d

[2020-01-22 03:38] mswilson4040 commented on #971
I'm trying to create a function with the Client Package(s) mentioned in this article and I'm running into a very similar issue. When I try and establish a new `VssConnection`, I am presented with:

Method not found: 'Newtonsoft.Json.JsonSerializerSettings System.Net.Http.Formatting.BaseJsonMediaTypeFormatter.get_SerializerSettings()'.

Lots of articles I'm reading are pointing towards System.Http.

[2020-01-22 06:46] RoopeshNair commented on #6985
When you are modifying the release name in PowerShell, you need to use native powershell variables. The built-in variables are available only in default name update scenarios.

[2020-01-22 07:24] evamueller commented on #1565
Look for "Azure DevOps Server" - TFS got renamed. Works fine for TFS 2017.2 and higher.

[2020-01-22 08:32] estensen commented on #6997
The hack to change the cache key to avoid a cache hit still returns a cache hit, not a miss, as explained in [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/index?view=azure-devops#can-i-clear-a-cache) example

[2020-01-22 09:56] kagarlickij commented on #6070
I run `docker run -e VSTS_ACCOUNT='kagarlickij' -e VSTS_POOL='Self-Hosted' -e VSTS_TOKEN='a***q' -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker mcr.microsoft.com/azure-pipelines/vsts-agent:ubuntu-16.04-docker-18.06.1-ce` and get `[error]Container feature is not supported when agent is already running inside container. Please reference documentation (https://go.micr

[2020-01-22 10:06] cpolzer opened #7020 "resourees:pipeline:triggers vs pipeline nameing only in webui"
Hello!
If we get the option to trigger pipelines based on the names of other pipelines, then probably we should be enabled to set those piepline names from within our YAML definitions? I know, there has been some requests in the Azure DevOps Community which where closed down... but now it really makes sense to make the YAML a first class citizen?

Regars and thanks a lot for the great work!
Christ

[2020-01-22 10:17] techspeque commented on #6998
@msebolt These are great pointers, thanks for this.

Where can I get information on the roadmap for az cli support for the support of creation of pools?

As per docs provided there is no support for `create` or `add` tasks as yet, but there are also no timelines.

[2020-01-22 11:20] ShubhamJain1992 commented on #6716
This has been added to backlog. Since this is not related to docs. I am closing this.

[2020-01-22 11:20] iamsrivatsa commented on #6063
@bitcrazed You can find the **Multi-Configurations** under the **Execution plan** as shown below. Let me know if you are able to see this?

You have to add the variables explicitly if you want Multi-Configuration support. The variables will not auto populate for multi-configurations.

[2020-01-22 12:02] olandese opened #7022 "Documentation unclear for --runAsAutoLogon"
Can you please explain what the --runAsAutoLogon does? and what is the difference with --runAsService ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c5d-2f13-cc76-a1c0-a3f850e16d4e
* Version Independent ID: 97a5b73f-faf7-f9c0-9269-fc79984616d6
* Content: [Deploy a Azure Pipelines agent on Windows - Azure Pipelin

[2020-01-22 12:37] jamesmcroft commented on #4341
I suppose this goes as a question to @andyjlewis or @chasewilson as to whether the documentation needs updating to remove the information, or we link to this fork of the repo? I assume there was a reason it was made private by Microsoft in the first place.

[2020-01-22 12:51] MillerDan commented on #4341
@jamesmcroft - I agree.  I was having the same issue going through the sample app and thought I would share this alternative repo.

[2020-01-22 14:39] mklement0 opened #7023 "Provide information on how to escape Azure variable references"
Information is missing on how to pass tokens that _look_ like Azure variable references through to the target command by _escaping_ properly - assuming there is support for that.

For instance, syntax `$(...)` is also used by PowerShell itself, as the [subexpression operator](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_Operators#subexpression-operator--

[2020-01-22 14:41] gradyal commented on #5700
@shashban Is the ability to manually deploy currently in development? Is there a roadmap item tracking this that you can share?

[2020-01-22 14:55] DanJ210 commented on #6994
I've been reading around profusely so I'll continue to do so. I'll keep an ear open in case something comes up here. Thank you.

[2020-01-22 15:09] ashokirla commented on #4919
Here is the documentation for creating a custom service connection.
https://docs.microsoft.com/en-us/azure/devops/extend/develop/service-endpoints?view=azure-devops

[2020-01-22 15:22] thielef commented on #5445
Is the agent then still capable of automatic updates including restarts?

[2020-01-22 16:25] msebolt commented on #6997
Great, thank you for the update.  Assigning this to the author now.

[2020-01-22 16:30] joshknutson opened #7024 "Update reference links for Mermaid"
Flowcharts -&gt;https://mermaid-js.github.io/mermaid/#/flowchart
Sequence diagrams - &gt; https://mermaid-js.github.io/mermaid/#/sequenceDiagram
Gantt Charts - &gt; https://mermaid-js.github.io/mermaid/#/gantt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID:

[2020-01-22 16:44] MartinSajpel opened #7025 "Project number should be quoted"
Project number in here (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops#download-artifacts-from-a-specific-projectpipeline) and probably for the others should be quoted with single quotes '12' if its not the task breaks with error:
error]No builds currently exist in the build definition supplied

---
#### Document Details

⚠ *Do no

[2020-01-22 16:49] msebolt commented on #7013
@SirAlvarex Thank you for the question.

Please refer to the [Publish Code Coverage Results](https://docs.microsoft.com/azure/devops/pipelines/tasks/test/publish-code-coverage-results) task.

Any questions regarding upcoming features, not addressed in the [features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline), should be directed to the product team by starting

[2020-01-22 17:10] msebolt commented on #7014
@clockwiseq Thank you for the question.

You can place the YAML file anywhere in the [repo](https://docs.microsoft.com/azure/devops/pipelines/repos), though keep the mind the default name is set to *azure-pipelines.yml* located in the root.

Please refer to the pipeline settings to use a different name and/or location for this file:

![Capture](https://user-images.githubusercontent.com/6675884/729

[2020-01-22 17:16] #6982 closed

[2020-01-22 17:19] bobbrow commented on #6985
I figured it out.  $(Build.BuildNumber) actually has the information I need already.  Thanks.

[2020-01-22 17:40] #6973 closed

[2020-01-22 17:48] WilliamAntonRohm commented on #7015
@mydiemho -- My, here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@chcomley -- please look into this potential documentation issue.

[2020-01-22 17:59] clockwiseq commented on #7014
Perfect!  Exactly what I needed to know.

From: Matthew Sebolt <notifications@github.com>
Sent: Wednesday, January 22, 2020 11:11 AM
To: MicrosoftDocs/vsts-docs <vsts-docs@noreply.github.com>
Cc: Keith Culpepper <keithculpepper@clockwiseq.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsts-docs] What Do We Do With YAML File? (#7014)

@clockwiseq<https://github.com/clockwise

[2020-01-22 18:02] #7014 closed

[2020-01-22 18:29] gantih commented on #6456
It is affecting us too. Surprisingly the steps that were mentioned worked till last week without a need to send the PAT token. Now it's expecting a PAT token in the pip.conf file like @AjkayAlan mentioned.

[2020-01-22 20:05] mydiemho commented on #7015
@WilliamAntonRohm I found this answer by using the bot

[code]

However, the link is still pointing to a REST api & not information about ARM template.

[2020-01-22 21:46] SimonShor opened #7027 "What happen to to Manual build Trigger documentation?"
Can not longer find how to manually trigger a pipeline ?  If a Stage is set to Manual Trigger, I can no longer find documentation of how to trigger/run it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e313c5-9120-9172-bc27-c21d10fcd5ae
* Version Independent ID: 1a837182-591f-3cbc-1632-7b50d857b13c
* Content: [Rele

[2020-01-22 22:34] scosm opened #7028 "Can't make wiki section private?"
I want to make our dev wiki private to our team. But our wiki has to be part of the larger org's wiki, which is basically the whole division (CSEO). I can't set permissions on a per-page basis, ok. But I also can't make a whole section or group to have their own internal wiki. So, this is bad. I have a customer-facing wiki in DevOps, but our dev wiki is in OneNote (which is horribly). Please, is t

[2020-01-22 22:52] SrikanthSoma commented on #5683
I agree azure DevOps documentation is very outdated I wasted lot of valuable hours figuring out small details.

[2020-01-22 22:57] msebolt commented on #7016
@GitMje  Thank you for the feedback.

We'll provide a fix to the documentation shortly.

[2020-01-22 23:01] msebolt commented on #7017
@kbrady-vibrato Thank you for the feedback.

Please see if [this post](https://developercommunity.visualstudio.com/idea/845445/pipeline-resource-version-property-as-a-variable-1.html) addresses the issue where you can comment and/or vote accordingly.

If not, please start a thread [here](https://developercommunity.visualstudio.com/content/idea/post.html?space=21) and start a thread with the produc

[2020-01-22 23:31] kbrady-vibrato commented on #7017
hi @msebolt - yep that post covers exactly my use case.
is there any plan to implement the acceptance of variables in a pipeline resource? if so, is there a timeline on it?

[2020-01-23 00:15] yairhdz opened #7029 "Dynamic secure file name"
I´m trying to download secure files dynamically using a variable on secureFile input but it is not working. For example:

- task: DownloadSecureFile@1
  name: caCertificate
  displayName: 'Download CA certificate'
  inputs:
    secureFile: '$(SecureFile.Name)'

Is this possible?

[2020-01-23 00:18] ma-kern opened #7030 "Clarification on using project scoped feeds"
Since all new feeds in Azure DevOps are now scoped to a project it might be helpful to note that you cannot just use feedName for new feeds, but instead have to use &lt;projectName&gt;/&lt;feedName&gt;.  Using just the feedName will result in a FeedNotFoundException when the pipeline is run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-01-23 00:21] manishtulsiani commented on #6067
Hi,

The container structure test task is not able to publish the results to the test tab. The test works fine and I can see the results in the logs but publish to test tab fails.

Build Log:

2020-01-23T00:15:51.8154572Z [command]/opt/hostedtoolcache/container-structure-test/1.0.0/x64/container-structure-test test --image ***/demo-python-app:29 --config /home/vsts/work/1/s/src/docker-structure-te

[2020-01-23 01:53] moswald opened #7031 "Update Build.Cleanup section"
&gt; This is a deprecated variable that modifies how the build agent cleans up source. To learn how to clean up source, see Clean the local repo on the agent.

This is incorrect. Build.Cleanup does not have anything to do with source cleanup. See github issue https://github.com/MicrosoftDocs/vsts-docs/issues/3685

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-23 02:15] Ayanmullick opened #7032 "Doesn't work with Visual studio subscriptions"
Step 5 doesn't work with Visual studio subscriptions. How can one use one's Visual studio subscriptions for Azure Devops billing? I'm currently getting the below error.

![image](https://user-images.githubusercontent.com/17693249/72951441-f9c15b80-3d53-11ea-85b5-97c70166ffef.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-23 04:08] msebolt commented on #7020
@cpolzer  Thank you for the feedback.

The issue you describe is product-related and needs to be addressed by the product team [here](https://developercommunity.visualstudio.com/content/idea/post.html?space=21).

You can also refer to this [recent post](https://developercommunity.visualstudio.com/content/problem/437066/cannot-set-pipeline-name-with-yaml-file-in-azure-d.html).

The post was likely

[2020-01-23 04:17] msebolt commented on #7022
@olandese Thank you for the question.

The difference is whether you want to run the agent as a service or an interactive process.

Please refer to [interactive vs. service](https://docs.microsoft.com/azure/devops/pipelines/agents/agents#interactive-or-service) for more information.

@steved0x

[2020-01-23 04:26] msebolt commented on #7024
@joshknutson Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-01-23 04:27] msebolt commented on #7025
@MartinSajpel Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-23 04:29] msebolt commented on #7023
@mklement0 Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-23 05:20] navin22 commented on #6067
@manishtulsiani can you please share the entire logs with debug statements. It should have been fixed in the latest version of the agent version. Since you are saying you are already using 2.164.3. I would like to go through the logs.

[2020-01-23 07:04] iamsrivatsa commented on #6645
@marcin-vt Thank you for the feedback. The document has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-23 07:04] #6645 closed

[2020-01-23 08:12] Bjego opened #7033 "Health-Check for containers"
Hey guys,
how can I configure my Healthcheck to check if my containerized build agent is still connected to azure devops? So that I can configure my orchestrator to spin up new instances of my container, when they lost connection.

I think this is even more intresting, if someone is using the --once parameter in his docker file in a kubernetes. This garantees new agents after every job...
https://

[2020-01-23 08:20] ashokirla commented on #6768
the `download` keyword is used for consuming artifacts published in the current pipeline or from another pipeline that is referred as a `pipeline` resource. And this keyword has verifies the artifact type i.e. pipeline artifact or network share artifact and injects the appropriate task. So this is not a task specific property. We can provide a link as part of the task documentation to learn more a

[2020-01-23 09:38] mhangaard opened #7034 "Language Commands for julia are out of date."
Instead do
    wget -nv https://julialang-s3.julialang.org/bin/linux/x64/1.3/julia-1.3.1-linux-x86_64.tar.gz
    tar zxf julia-1.3.1-linux-x86_64.tar.gz
    ./julia-1.3.1/bin/julia --project=@. -e 'using Pkg; Pkg.instantiate()'
but adapt the above to the desired version, e.g. set version using an environment variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-23 10:00] treefishuk opened #7035 "Windows Machine File Copy task: "Invalid URI" error when port specified with machine name"
Machine name according to docs supports a port suffix however that seems to not be the case.

Fine : dbserver.fabrikam.com
Breaks : dbserver_int.fabrikam.com:5988

Error:
Cannot convert value <value here> to type "System.Uri". Error: "Invalid URI: The hostname could not be parsed."

[2020-01-23 10:18] Korijn opened #7036 "Is it possible to create a user that is not bound to a person/email address?"
For example, to hook up CI/CD services with permissions, we'd like to tie it to a user that is not bound to a person in our organization. For example, if the person the account is tied to leaves the company, you need to change the permissions around, and it is something that is typically overlooked... We want to avoid that.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-01-23 10:37] MikaMaroqui commented on #3702
+1

[2020-01-23 11:10] AdamCoulterOz commented on #4919
@ashokirla we would really like official JSON Schema, I've started drafting one, but I am limited to inference from available examples. Could we get a full `vss-extension.schema.json`?

[2020-01-23 12:23] romil07 commented on #4919
@BiribiriJaNai @AdamCoulterOz Did you check this doc?
https://github.com/microsoft/azure-pipelines-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md

This document is a guidance on how to create a new Service endpoint type.
If you haven't checked this, take a look once and let me know if this is answered or not.

If you have gone through this, can you tell me what you are looking

[2020-01-23 12:46] A-AontwSR opened #7037 "May stakeholder add workitems?"
On this page, second line, is documented that
"With Stakeholder access, you can add and modify work items, ". And there is a paragraph about add-work-items-to-a-product-backlog

But in the table on, the linked, page https://docs.microsoft.com/en-us/azure/devops/organizations/security/access-levels?view=azure-devops-2019#supported-access-levels is documented:
"Agile boards
Includes limited access t

[2020-01-23 13:15] JesseStolwijk commented on #3702
+1

[2020-01-23 14:19] mathieu-benoit commented on #6058
Hi @msebold, this doc should be updated now https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-160-update#ubuntu-1804-pool ;) Thanks!

[2020-01-23 14:30] tashrifbillah commented on #6067
Hi @navin22 , I do confirm that issues I reported earlier went away. However, to corroborate @manishtulsiani 's observation, I don't see the `Tests` tab (beside `Summary` tab) either:

![image](https://user-images.githubusercontent.com/35086881/72993093-cd90f380-3dc2-11ea-92da-36a4da717370.png)

[2020-01-23 15:22] navin22 commented on #6067
@tashrifbillah thanks for confirming, regarding the tests not appearing you are also seeing the similar error "System.ArgumentException: Unknown test runner"

[2020-01-23 15:26] tashrifbillah commented on #6067
I don't see any such message as `System.ArgumentException: Unknown test runner`.

As before, feel free to look at my build logs:
https://dev.azure.com/tbillah/ci-cd-with-docker/_build

[2020-01-23 15:48] obeyda opened #7038 ""Path filters": why don't just take the default path filters in the YAML pipeline??"
like this we have to rewrite/update the same filters twice, once for the pipeline and another time for the build policy, why don't just use the path filters in the pipeline??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Version Independent ID: d60c996e-187e-dd6b-7f3a-dd056a1603f

[2020-01-23 16:24] jeffpatton1971 opened #7039 "Use checkout to access repositories in the same workspace but different projects"
In the following document they talk about using git to grab additional repos, is it not possible to checkout a repository in the same workspace but different project?

- checkout: self
  persistCredentials: true
- checkout: git://otherProject/otherRepository

This returns the following:

remote: TF401019: The Git repository with name or identifier otherRepository does not exist or you do not have

[2020-01-23 16:29] Bazul99 opened #7040 "XML variable substitution"
Is it true that variable substitution on XML .config files limited *only* to appSettings, applicationSettings, and connectionStrings?

There's no way for example to substitute machine keys in a config file's system.web section if you didn't want to keep the keys in source control?

  &lt;system.web&gt;
    &lt;machineKey decryptionKey="{hex-key value}" validationKey="{hex-key value}" /&gt;
  &lt;/

[2020-01-23 16:51] jeffpatton1971 commented on #7039
If you need to checkout repositories from different projects within the same Organization, you may need to add the project to the Organization's "Project Collection Build Service". This should enable the cross project check-out to work.

`
resources:
  repositories:
  - repository: otherRepository
    type: git
    name: otherProject/otherRepository
    ref: refs/heads/someBranch

steps:
- checkou

[2020-01-23 17:12] Attoy opened #7041 "Unable to use PAT in an environment variable"
Following the instruction in [this](https://docs.microsoft.com/en-us/azure/devops/cli/log-in-via-pat?view=azure-devops&tabs=windows) article even if I set an environment variable with my PAT:
[code]
when I run
`$az devops login --organization https://dev.azure.com/contoso`
I've been always asked a token. Am I doing something wrong?

Thanks

[2020-01-23 17:15] jrtitus opened #7042 "Incorrect information: How Do I Consume Artifacts?"
[Source](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=yaml#how-do-i-consume-artifacts).

Elsewhere in the documentation, the exact thing this sentence says that one cannot do is defined in the [`DownloadPipelineArtifact` task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devop

[2020-01-23 17:47] katlimruiz opened #7043 "What input files will it use to build the docker image?"
Build.SourcesDirectory?
Agent.BuildDirectory?
Build.ArtifactStagingDirectory? &lt;&lt;&lt; this probably should be it.

however is not explicit anywhere here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Content: [Do

[2020-01-23 18:05] WilliamAntonRohm commented on #7028
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-23 18:05] #7028 closed

[2020-01-23 18:09] valentinburk commented on #7043
By default, the context is a folder that contains your `Dockerfile` or you can specify it explicitly by setting `buildContext` parameter

[code]

[2020-01-23 18:22] WilliamAntonRohm commented on #7029
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-01-23 18:22] #7029 closed

[2020-01-23 18:24] dianareider commented on #6438
Any updates on this?

[2020-01-23 18:24] #7024 closed

[2020-01-23 18:25] WilliamAntonRohm commented on #6948
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-23 18:25] #6948 closed

[2020-01-23 18:25] WilliamAntonRohm commented on #6949
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-23 18:25] #6949 closed

[2020-01-23 18:29] FISHMANPET opened #7044 "Missing information about Environment installs"
Now that support has been added for "VM" as an Environment resource, config.cmd supports `--environment` and `--environmentname` flags (these are passed into the command line by the install string generated when adding a VM resource to an environment) but there's no information about them here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-01-23 18:29] WilliamAntonRohm commented on #6972
@tomcoutts -- Tom, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2020-01-23 19:15] StingyJack commented on #6863
@mikecheel server workspaces require the explicit marking of files you wish to change. That can be done in solution explorer, by the code editor for a file that is version controlled in VS, by source control explorer, or by the windows explorer extension (if that's even still available). Local workspaces pickup any changes by those, as well as by anything that "touches" the files on the workspace

[2020-01-23 21:11] sajisV5Framework opened #7047 "Azure DevOps GitHub Account"
While creating the Azure Devops Project , the git hub connection is linked .
But Under the "Repos" view it is not well synced with the github account , it does not show all the branches, so far only the master branches.

And I am getting the following pop-up if I try to connect to git-hub account from project setings

![GitHubConnections](https://user-images.githubusercontent.com/57762124/73024105

[2020-01-23 21:14] KathrynEE commented on #6952
@kyurthich - Thank you for your inquiry. The Azure DevOps Services new feature Rollup column on the backlog pages works as you indicate, summing all values assigned to the same field for all child items. However, the Remaining Work column on the sprint backlog page is restricted to summing only those values assigned to Tasks. If you add the Remaining Work field to a requirements work item type, su

[2020-01-23 21:14] #6952 closed

[2020-01-23 21:20] KathrynEE commented on #6907
@Ant-man74 - Thank you for your inquiry. As noted at the top of the article, this feature is only available on the cloud service, Azure DevOps Services. It isn't available yet on-premises. If you are working in the cloud, and aren't finding the link, then please [report a problem]( https://developercommunity.visualstudio.com/spaces/21/index.html).  If you don't know if you work in the cloud or on-

[2020-01-23 21:20] #6907 closed

[2020-01-23 21:27] KathrynEE commented on #6906
@Zaniar0 - Thank you for your inquiry. I don't believe it is supported at this time. I suggest you request it be supported from our [Developer community page](https://developercommunity.visualstudio.com/spaces/21/index.html). I believe it would be a good enhancement to support automation of end-to-end project and team creation.

[2020-01-23 21:27] #6906 closed

[2020-01-23 21:32] KathrynEE commented on #6897
@JamesMiera - Thank you for the feedback. It is a good practice to add a note that it can take up to 3 weeks for a new feature to roll out. I will work to add this in the future. Since you opened this issue on 1/13, which is when the new feature was released, I would expect that was the issue. Closing this for now, please feel free to reopen if there is something else to consider.

[2020-01-23 21:32] #6897 closed

[2020-01-23 21:33] 45software opened #7048 "Test Payload for Checkin Service Hook differs from documentation"
When setting up a service hook for the checkin event for a TFVC repository it's possible to send a test payload to the service hook.  The JSON payload sent with that test differs from the documentation.  I see four differences:

- root: subscriptionId exists in the test payload but does not appear in the documentation sample.

- root: notificationId exists in the test payload but does not appear i

[2020-01-23 21:42] chcomley commented on #5564
Hi @tamatsuxyz, I'll be closing this issue since the item is on my backlog. I'll respond to this issue once the article is updated. Thank you!

[2020-01-23 21:42] #5564 closed

[2020-01-23 21:46] KathrynEE commented on #6810
@mtaylorfsmb - Thank you for your input. I believe I provided 3 examples in this section: https://docs.microsoft.com/en-us/azure/devops/boards/queries/query-by-date-or-current-iteration?view=azure-devops#start-of-day-week-month-or-year-date-based-queries. However, I'll look at enhancing the article to also provide the example you suggest to get all items within a sliding date range like the last y

[2020-01-23 21:46] #6810 closed

[2020-01-23 21:47] KathrynEE commented on #6752
@madrum - Thank you for the correction. I will look at updating the article to clarify the steps as you note.

[2020-01-23 21:47] #6752 closed

[2020-01-23 21:50] KathrynEE commented on #6820
@roferg - Could you look into updating the image that shows log files?

[2020-01-23 21:53] KathrynEE commented on #6826
@gocoelho - Thank you for the correction. I'll update the topic to reflect the changes for Azure DevOps Server 2019.1,

[2020-01-23 21:53] #6826 closed

[2020-01-23 21:56] WilliamAntonRohm commented on #7032
@Ayanmullick -- Ayan, it looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few support options that might help you with the issue that you're experiencing:​

If you have a subscription, contact [Visual Studio Subscriptions Support](https://visualstudio.microsoft.com/subscriptions/support/).​

If you are not sure if you have a subscri

[2020-01-23 21:56] KathrynEE commented on #6694
@awentzel - Thank you for the feedback. I'm the author of the work tracking content for Azure DevOps. Using acronyms, whether common in the industry or not, is always problematic. I do work to introduce an acronym early on in a topic by spelling it out in each topic where it appears. The WIT acronym is used throughout the work tracking content, and won't be updated to be removed any time soon. But

[2020-01-23 21:56] #6694 closed

[2020-01-23 22:00] WilliamAntonRohm commented on #7033
@Bjego -- Thanks for your question. You may find answers here:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](https://docs.microsoft

[2020-01-23 22:01] KathrynEE commented on #6670
@abby-d-chr, @nheinbaugh - Thank you for your inquiry and apologies for the delay in response. Use of the @currentiteration macro and @me macro is supported. I tried it and it works. I will enhance the article to include this as a note.

[2020-01-23 22:01] #6670 closed

[2020-01-23 22:01] WilliamAntonRohm commented on #7035
@treefishuk -- Jon, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2020-01-23 23:15] jfichtner commented on #6064
I have these exact same questions. Why was the only response to send people to two generic help sites? Can't you answer the questions here, then eventually put that information in this page? How do "specify the appropriate target framework value"? This should be a simple answer!

[2020-01-23 23:19] samcneal commented on #5193
I tried that but I still get
Import request cannot be processed due to one of the following reasons:

clone URL is incorrect
Clone URL requires authorization

I am trying to ensure I can access code files in my github from azure devops. Any suggestions?

[2020-01-23 23:19] MarkKharitonov commented on #2675
A windows example is still missing. I have downloaded an exe installer, but apparently it should be a zip archive. Only problem is that Oracle lets you download exe only.

[2020-01-23 23:56] WilliamAntonRohm commented on #6064
@PBoraMSFT -- Prachi, can you shed some light on this issue?

[2020-01-24 00:00] WilliamAntonRohm commented on #7036
@Korijn -- Korijn, thank you for your question.  You may find answers here:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

Also, the product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https:

[2020-01-24 00:01] KathrynEE commented on #6374
@boblechat - the Permissions and groups article has been updated with a description. See https://docs.microsoft.com/en-us/azure/devops/organizations/security/permissions?view=azure-devops&tabs=preview-page#user-accounts.

[2020-01-24 00:01] #6374 closed

[2020-01-24 00:07] WilliamAntonRohm commented on #7038
@obeyda -- Obeyda, thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

@apawast -- Apeksha, please look into this potential documentation issue.

[2020-01-24 00:14] KathrynEE commented on #5654
@TASlavens - Apologies for the delay. I've reached out again to the product team and requested their support. I'll continue to drive this so it doesn't slip through the cracks again.

[2020-01-24 00:16] jordwalke commented on #2966
@vijayma Thank you but this doesn't answer the original question of being able to include a permanent URL that always points to the artifact for the latest build. For example, right now we cannot embed a link on a README that says "here's a link to the latest artifact". The solution you suggested: `https://dev.azure.com/esy-ocaml//esy-ocaml/_apis/build/builds/454/artifacts?artifactName=cache-Windo

[2020-01-24 00:43] mswilson4040 opened #7050 "AzureDevOps Client Library doesn't work"
I am trying to use AzureDevOps Client NET Libraries to get a release, but it doesn't look like it will work with azure functions:

[code]

Results in:

I am using dotnet core 3.1. I have also tried without using DI and I get the same result. The closest thread I could find was this but the [fix doesn't work](https://developercommunity.visualstudio.com/content/problem/878381/problem-with-microsoftv

[2020-01-24 03:53] Ayanmullick commented on #7032
@WilliamAntonRohm , This is an issue with all subscriptions with a spending limit. The Product group needs to document separate steps for changing the billing to subscriptions with spending limits or document that limitation of the product in this page.

[2020-01-24 04:34] bjornhelle opened #7051 "No Remove button on the state "Completed""
Hi,

There are no Remove button on the state Completed. I was able to add a new custom state to this level, but not able to remove it. This is not described in your documentation.

![NoRemoveButton](https://user-images.githubusercontent.com/46591276/73044440-34361000-3e9c-11ea-8d72-736799c5baa0.png)

This creates an error on the boards.
![ErrorOnBoard](https://user-images.githubusercontent.com/465

[2020-01-24 04:57] iamsrivatsa commented on #6768
The documentation has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-24 04:57] #6768 closed

[2020-01-24 05:02] RGKarthik commented on #6438
@dianareider

Expected release date got pushed by few weeks. This feature will be out soon.

[2020-01-24 05:27] manishtulsiani commented on #6067
Hi Navin, you can check the container structure test logs in debug at:

https://dev.azure.com/manishtulsiani/azure-learning/_build/results?buildId=40&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=67bf4d1b-8b4b-543e-e9d0-24834b0ff75e

[2020-01-24 07:04] Bjego commented on #7033
@WilliamAntonRohm @steved0x  thank you for the hints. I think this should be part of the official docu to help your customers to run multiple agents in a kubernetes cluster.
Maybe a section "How to run in kubernetes" with a common configuration would be nice. This should cover scaling and unregistering stopped agents.
Kind regards,
Bjego

[2020-01-24 07:33] iamsrivatsa commented on #6063
The document has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-24 07:33] #6063 closed

[2020-01-24 07:34] iamsrivatsa commented on #6393
I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-24 07:34] #6393 closed

[2020-01-24 09:35] Korijn commented on #7036
Thanks, I've submitted my idea. For any onlookers who are also interested, please give me an upvote here: https://developercommunity.visualstudio.com/idea/896233/is-it-possible-to-create-a-user-or-just-an-access.html

[2020-01-24 09:42] iamsrivatsa commented on #6687
The document has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-01-24 09:42] #6687 closed

[2020-01-24 09:46] mattlovett opened #7053 "Publishing to an Azure devops feed"
The docs don't seem to match up to reality. So far as I can see, to publish to an Azure devops feed you need something like this:

      - task: Npm@1
        displayName: 'Publish to npm repository'
        inputs:
          command: publish
          publishRegistry: useFeed
          publishFeed: 'feedName'

The problem is the feed name... it doesn't appear to be the feed name, it needs an id i

[2020-01-24 09:47] Marco10101 commented on #3702
+1

[2020-01-24 09:56] tomcoutts commented on #6972
Hi @WilliamAntonRohm I will happily give more context. So on one of our Azure DevOps instances we needed to change the org name as documented here : https://docs.microsoft.com/fr-fr/azure/devops/organizations/accounts/rename-organization?view=azure-devops&viewFallbackFrom=vsts

For a good hour or more after doing so we were unable to access change our modify are billing settings. It then seemed to

[2020-01-24 09:57] marcin-vt opened #7054 "Access variables through the environment - doesn't work if variable has a hyphen in the name"
When creating variable in the bash script
`echo "##vso[task.setvariable variable=${VAR};]${VAL}"`
If the name contains "-" the environmental variable will be created and available for all other stages, but it will be empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version In

[2020-01-24 10:37] Sonesson opened #7055 "Add link or text for how to move work items associated with test management between projects"
Please add text below "Move a work item to another project" showing how it is possible if you use the Microsoft Test Manager. Deprecated after VS2017, but still available.
There is a good guide at: http://ericphan.net/blog/2018/1/3/migrating-test-cases-from-one-vsts-project-to-another.
(Alternatively fix the "Move to team project" command in the gui)

---
#### Dokumentinformation

⚠ *Redigera inte

[2020-01-24 12:35] Andy-bridle opened #7056 "Templates from Artifact Feed or pipeline artifact possible?"
Is it going to be possible to define an Artifact Feed or an upstream pipeline artefact as the source for a template file?

I'm distributing shared packages across multiple organisations through an Artifact feed, I want to include the reusable deployment steps in the versioned artifacts alongside the code in template-steps.yml files.

Currently I will need to create a Git repo to accompany the Arti

[2020-01-24 13:42] juanjosemino opened #7057 "Removing VM Resource from Environment"
Hi MS! Is there a way to remove a VM resource from an Environment once registered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d0d31f-81ee-c024-db7e-daddbf525f71
* Version Independent ID: 330f1649-386c-d0aa-5f96-b8343a1480d3
* Content: [Environment - Virtual machine resource - Azure Pipelines](https://docs.microso

[2020-01-24 13:53] drdamour commented on #6768
@ashokirla the link i provided says “ The publish keyword is a shortcut for the Publish Pipeline Artifact task. ” that certainly
Implies its a task. It appears in the pipeline output as a task as well.

[2020-01-24 14:49] henry-padilla commented on #6989
This is *VERY* helpful. I bumped into this a while ago and couldn't find it again now that I need it.
One question: How would I use this to include/exclude an entire task (or even job)?
Example:
My first stage gets the 'latest' version to deploy to Smoke test but needs to maintain that version through the various other stages out to Production.
Well, to get variables from stage to stage I need to

[2020-01-24 15:32] hmendezm opened #7059 "How to have scope in Variable groups?"
Hi everybody

I have DEV, UAT, STAGE, PRODUCTION Stages in my release pipeline. I am using replace tokens tasks to replace values in a file. I  set variables with scope for each one of the stages. for instance,
Variable name      Value        Scope
name                     'UAT'        UAT
name                     'STAGE'        STAGE
name                     'PRODUCTION'        PRODUCTION

This w

[2020-01-24 15:33] Farzad-Jalali opened #7060 "Doesn't work in Dockerfile"
Hi
I can get it work on my laptop and install my packages.
But now I started to containerizing my apps ,Now te pip install doesn't work

FYI: everyone in my organization can download any package in our feed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6cca7b9-7fe5-bc14-c7da-08983e920f81
* Version Independent ID: 7d8

[2020-01-24 16:31] FISHMANPET commented on #7053
If you have an existing YAML pipeline you can view it, click the edit button, find the task in the right column and select your feed & package & etc, and add it in, and it will be filled in with those IDs.  You can then copy that block and put it wherever you want, even in your own editor, and just cancel out of the browser pipeline editor.

However I believe it will also accept the human readable

[2020-01-24 16:49] msebolt commented on #7039
@jeffpatton1971 Thank you for the feedback.

This example is similar to a solution posted [here](https://stackoverflow.com/questions/52365812/push-to-local-azure-devops-git-from-build-pipeline), with another alternative being to integrate the PAT in the git connection string.

Assigning this to the author for further review.

[2020-01-24 16:51] msebolt commented on #7041
@Attoy  Thank you for the question.

Assigning this to the author for review.

[2020-01-24 16:57] msebolt commented on #7042
@jrtitus  Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-24 17:08] msebolt commented on #7043
@katlimruiz Thank you for the question.

Both use of [Predefined variables](https://docs.microsoft.com/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml) or the `buildContext` as @valentinburk states should be feasible.

Please comment if there are any issues with this setup.

[2020-01-24 17:13] msebolt commented on #7044
@FISHMANPET Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-24 17:25] DrGriff opened #7061 "Retention policy clarification"
I think I understand "maximum number of versions per package".  This is to prevent Azure DevOps hosting old packages versions back to the dawn of time (save on space etc).

But I'm less clear on "Days to keep recently downloaded packages".  Is this a "caching" setting for the client?  I note the next section is titled "Recover a deleted package from the recycle bin" and also uses the same value of

[2020-01-24 19:03] msebolt commented on #7047
@sajisV5Framework  Thank you for the feedback.

Unfortunately in the documentation forum our support options are limited to the examples in the articles only.

If you think this is a product-related issue, please start a ticket [here](https://developercommunity.visualstudio.com/spaces/21/index.html) for the product team to get involved.

Otherwise, for additional support options see:

- [Azure Dev

[2020-01-24 19:07] msebolt commented on #7048
@45software Thank you for the feedback and for providing the set analyses.

Please include a reference to the documentation and we can assign this to the author for review.

[2020-01-24 20:18] WilliamAntonRohm commented on #6959
@shashankbarsin -- Shashank, please review the above-mentioned PR 857.

[2020-01-24 20:59] msebolt commented on #7050
@mswilson4040 Thank you for the feedback, we're sorry you're having issues with code.

Have you updated your references to latest `Newtonsoft.Json` library?  This issue was reported in previous versions, see [this post](https://stackoverflow.com/questions/43175098/method-not-found-basejsonmediatypeformatter-get-serializersettings-when-using).

Please note our support options are limited to documen

[2020-01-24 21:38] msebolt commented on #7013
Closing this now, thank you for contacting Microsoft.

[2020-01-24 21:38] #7013 closed

[2020-01-24 21:39] msebolt commented on #7020
Closing this issue now, thank you for contacting Microsoft.

[2020-01-24 21:39] #7020 closed

[2020-01-24 21:40] msebolt commented on #7022
Closing this issue now, thank you for contacting Microsoft.

[2020-01-24 21:40] #7022 closed

[2020-01-24 21:41] WilliamAntonRohm commented on #6971
@devpro -- Bertrand, thank you for catching this.

@juliakm -- Julia, please review the above-mentioned PR 859.

[2020-01-24 21:47] mswilson4040 commented on #7050
@msebolt I do not have any reference to the `Newtonsoft` library in my project. It's being referenced by the Azure DevOps client libraries. Can you point me to the repo that owns these libraries? I've tried SOF, and have seen a few other posts about this but I don't have a resolution yet. Going to the documentation for the client libraries, it takes you here. I realize this is for documentation, b

[2020-01-24 21:55] msebolt commented on #7017
Hi @kbrady-vibrato

Any plans on implementation needs to be directed to the product team.

For current features in the pipeline, please refer to the [Azure DevOps features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline).

[2020-01-24 22:02] msebolt commented on #7051
@bjornhelle Thank you for the feedback.

Assigning this to the author for review.

[2020-01-24 22:32] #6322 closed

[2020-01-24 22:32] #6594 closed

[2020-01-24 22:50] msebolt commented on #6161
Documentation has been updated, please wait 1-2 days for the changes to be published live.

[2020-01-24 22:50] #6161 closed

[2020-01-24 23:09] WilliamAntonRohm commented on #6984
@chcomley -- please review the above-mentioned PR 862.

[2020-01-25 13:55] buckleyGI commented on #2966
I can't explain better than jordwalke. A constant URL with the word latest in the query string for example, that one can share as a link is much needed. That's the original question I believe as well and we also need it for out projects. Thank you

[2020-01-26 09:16] shashankbarsin commented on #6782
The documentation has been written using classic release pipelines instead of the YAML pipelines as manual intervention (used in this end to end guide) is not available in YAML pipelines yet. This feature is in the roadmap for YAML pipeline and updates to this end-to-end guide are planned along with the release of this feature.

[2020-01-26 09:16] #6782 closed

[2020-01-26 09:22] #6959 closed

[2020-01-26 10:06] pureliumy commented on #3848
It's 2020 now, and the documentation is still old, it's just so hard to develop a dashboard widget with `azure-devops-extension-sdk`

[2020-01-26 10:17] pureliumy commented on #812
Please fix your documentation. Thank you.

[2020-01-26 12:14] Lukasz994 commented on #6976
Hi @WilliamAntonRohm, I did some research in this subject and several google searches revealed that there is possibly an issue with Windows vs Linux EOL style. This makes sense as I've been copying script from my Windows machine to Linux container. Without much thinking I've decided to create the image on Ubuntu VM and then import it onto my machine. It worked the charm.

Given running Ubuntu VM i

[2020-01-27 08:12] bucmic opened #7063 "Verify that removing members screenshot is correct"
Screenshot shows how to remove the Security Service Group but text says "highlight the user name".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07738454-4b1a-eff5-6c16-69e963ab2663
* Version Independent ID: a63f1dad-0378-5ce3-97e9-ec66afffb206
* Content: [Add users to a team or project - Azure DevOps](https://docs.mi

[2020-01-27 08:38] sengokyu opened #7064 "Format of SSH private key."
Add some note about SSH private key requirement.

&gt; SSH private key must be PEM format (It will start with `-----BEGIN RSA PRIVATE KEY-----` ).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90dd0-49f9-4ed4-3010-9a64dde6ae5a
* Version Independent ID: 6e679d50-4e94-eee3-8793-af884cc909ca
* Content: [Service connec

[2020-01-27 09:01] Mr-Ev-H opened #7065 "Missing Explanation for how default branch for trigger impacts Pipeline Resource Trigger"
The pipeline trigger only fires if the 'default branch for trigger' on the pipeline settings panel points to a branch with a matching pipeline definition. Despite this needing to be static, both the upstream and downstream pipelines are evaluated on the branch specified by the filter. It would be helpful for future developers if this was documented in any meaningful way.

The information posted in

[2020-01-27 09:07] mattlovett commented on #7053
Yes, I used this approach to find the ids, but it seems odd that I couldn't find the IDs in any other way.

When I tried to use the human readable name instead of the ID it didn't work. Is there some particular syntax for organisation and feed name that is required? There isn't an example in the docs.

[2020-01-27 09:46] marcussonestedtbarium opened #7066 "win1803 containers are being retired 2020-03-23 per an email"
"Windows Container (win1803)
The usage of this image is the lowest among our pools – less than 1%. Any builds that target this pool will start failing on March 23, 2020."

So, remove it from this page to avoid giving people false hope. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11

[2020-01-27 10:34] ShubhamJain1992 commented on #5654
Hi @TASlavens ,
Apologies for missing out this request. Presently search service does not support high availability for indexing servers. (The reason why there is no documentation for that). We have an item to support HA in our backlog but it is less likely to be picked up right now. I request you to post this request in out community forum here https://developercommunity.visualstudio.com/content/

[2020-01-27 12:21] sudgarre opened #7067 "Run tests parallely on agents in agentpool with different run settings"
We have setup a agentpool with 3 agents tagged to it for running tests in parallel. We would like to  use various input values for .runsettings file to override test run parameters (overrideTestrunParameters) & distribute our test runs on various agents. e.g.,

Lets assume that the agentpool P1 have associated agents A1, A2, A3.
We need agent A1 to configure a test run parameter executeTests = Fun

[2020-01-27 12:52] MikeSzulik commented on #3702
+1

[2020-01-27 14:03] GSManganneau opened #7068 "Documentation on expression is missing how to filter an array of json based on a field of type String"
Hi everyone !

I call an API with a Invoke Rest API task in my pipeline.
The body of the answer looks like this:

[code]

I struggle to find the good expression to know if I have more than 0 elementsin my 'value' array which have the field "status" equals to  "online".

I went trough the documentation and even trough github, the closest things I found but which did not work are:

[code]
I tried th

[2020-01-27 14:24] rroman81 commented on #3943
yes. when rebasing, you are essentially replaying the changes against the target branch "master", so your topic branch will be the source branch.  If merges cannot be fast-forwarded, you will be generating another commit, otherwise source commits can be added to the new history.  I would agree that Visual Studio should clear up and make it explicit for more novice developers.

[2020-01-27 15:36] scaldwell-alienvault commented on #5115
This is not documentation.  The links here refer to your code-base.  I really don't have time to reverse-engineer everything I touch.

If Microsoft wants me to use their solution, they should add documentation to their definition of done.

[2020-01-27 15:41] socrplaycj opened #7069 "Virtual Machine environment shared across projects."
Looking for this answer - doesn't appear to say what Scope VM Environments have. Or in my case - can they be referenced by a pipeline in another project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d0d31f-81ee-c024-db7e-daddbf525f71
* Version Independent ID: 330f1649-386c-d0aa-5f96-b8343a1480d3
* Content: [Environ

[2020-01-27 16:36] dermaaarkus commented on #6296
@msebolt actually the question is not discussed in #5327 please reopen the issue

[2020-01-27 16:57] msebolt commented on #7043
Closing this issue now.  Please comment if there are any questions.

[2020-01-27 16:57] #7043 closed

[2020-01-27 16:59] msebolt commented on #7047
Closing the issue now.  Please comment below if there are any questions.

[2020-01-27 16:59] #7047 closed

[2020-01-27 17:50] f1ben commented on #4493
@chasewilson, It's 2020 now, and this issue has not been addressed as you had expected.

@iamalexmang, Thanks for pointing us to the new location of this setting.

[2020-01-27 17:52] marc-gmail-towersap opened #7071 "does it costs money to create more-than-one org?"
I know it's easy to create an org, but say, I have 1 org, does it cost money if I create a 2nd org?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b9dd76-4131-bf69-f9bc-c7f7ef562609
* Version Independent ID: 8d3bfbae-3398-c0a2-ca4d-c4782a3b4370
* Content: [Create a new organization, project collection - Azure DevOps]

[2020-01-27 18:20] mfullerton31 opened #7072 "Feedback work item type"
Does the Feedback work item type still exist?  I don't see it in any of the standard process templates.  Has it been deprecated?  I would like to restrict users to create Feedback work item types to be reviewed prior to creating PBIs.  Right now, they seem to be limited to creating Bugs, Tasks, or Test Cases which may not make sense for an end user.

---
#### Document Details

⚠ *Do not edit this

[2020-01-27 18:39] softwarecraft opened #7074 "Pipelines settings checkbox label has changed: "Allow anonymous access to badges""
In section https://docs.microsoft.com/en-us/azure/devops/pipelines/create-first-pipeline#add-a-status-badge-to-your-repository, under "To configure the Allow anonymous access to badges setting", step 3. Select the **Allow anonymous access to badges** checkbox under General.

It is now called "Disable anonymous access to badges" and appears as a toggle slider not a checkbox.

Suggest you rephrase t

[2020-01-27 19:03] msebolt commented on #7053
@mattlovett Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-27 19:09] msebolt commented on #7054
@marcin-vt Thank you for the feedback.

Please see the similar issue in [this post](https://developercommunity.visualstudio.com/content/problem/580367/bug-in-vs-2019-with-docker-compose-when-an-environ.html), due to dashes not being allowed in the POSIX standard.

If there are further questions please comment below.

[2020-01-27 19:10] msebolt commented on #7055
@Sonesson Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-27 19:16] softwarecraft opened #7075 "Add pre-reqs for code coverage pipeline example"
Using " Create your first pipeline" as a starting point per this article's pre-reqs, under https://docs.microsoft.com/en-us/azure/devops/pipelines/customize-pipeline?view=azure-devops#add-steps, when adding the code coverage step to the pipeline, it fails to build because the code coverage step requires some other config. Please provide this as a pre-req or use a different example that doesn't cau

[2020-01-27 19:24] KyMidd opened #7076 "Multi-line script format isn't clear"
Hey team,

In the YML guidelines it says we can use a pipe | character to send multi-line input to commands. This doesn't appear to work for the script attribute of the bash tool. Is it possible to have documentation added to show how to get a multi-line script to work? I am testing and have not found a way yet.

Here's what I've attempted and it seems to combine the commands into an invalid strin

[2020-01-27 19:52] victorregoz opened #7077 "Is it possible to Associate automated test cases from visual studio community or from visual studio mac?"
I have the requirement to run automated test cases from our azure pipeline and see the results from the test plan. My testing framework uses Java Selenium and Junit but it appears that I can not associate test cases from that environment.

If I build my testing solution using a .NET project, can I associate my automated tests to the tests on the vsts only using visual studio community? or I need t

[2020-01-27 20:02] msebolt commented on #7056
@Andy-bridle Thank you for the question.

Please note this is the documentation forum and our support options are limited to topic examples only.

Either reference an example in a related article, or for product-related issues you can solicit feedback from the product team [here](https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

For additional support options, pleas

[2020-01-27 20:04] Greenbones opened #7078 "Page out of date?"
This page seems to be quite out of date. I tried following it exactly  but couldn't get my npm to authenticate no matter what I tried. Eventually I went to Connect To Feed in the Artifacts page and it provided an entirely different configuration for me to use in my user .npmrc. Once I used that configuration, everything started to work.

This is the working configuration from the Artifacts page:
[

[2020-01-27 20:27] FredVaugeois opened #7079 "Aborted tests availability"
What is the ETA for the aborted tests availability? I am currently evaluating if I should use an external test manager such as Allure (which provides an easier way to differentiate a failed test from an error) and this is the one feature that I need for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94cca257-5f81-1

[2020-01-27 20:30] msebolt commented on #7057
@juanjosemino  Thank you for the question.

This issue is a good example of a feature suggestion that needs feedback solicited from the product team.

Please start a thread [here](https://developercommunity.visualstudio.com/content/problem/post.html?space=21), or let us know and we can start one for you.

@juliakm

[2020-01-27 20:36] msebolt commented on #7059
@hmendezm Thank you for the question.

This feature is currently in discussion in the **Azure DevOps community**.

Please direct questions and/or comments to [this thread](https://developercommunity.visualstudio.com/idea/365749/scoping-for-variable-groups.html) for further feedback from the product team.

[2020-01-27 20:44] msebolt commented on #7060
@Farzad-Jalali Thank you for the question.

Please see if [this post](https://developercommunity.visualstudio.com/content/problem/683856/pip-install-inside-dockerfile-using-private-artifa.html) addresses the issue and for further assistance start a thread with product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

For additional support options, please refer to:

-

[2020-01-27 20:46] msebolt commented on #7061
@DrGriff  Thank you for the question.

Assigning this to the author for further review.

[2020-01-27 23:31] msebolt commented on #7063
@bucmic  Thank you for the feedback.

If you add some details on what is wrong with the step we can assign an author to fix the documentation.

The text states `...highlight the user name and choose Remove` and the screenshot shows a user being highlighted with the **Remove** link visible.

How does the text and screenshot contradict each other or are both inaccurate?

[2020-01-28 02:35] dschlitt commented on #6562
I'm also here for the same.

[2020-01-28 07:56] bucmic commented on #7063
Goto https://docs.microsoft.com/en-us/azure/devops/organizations/security/add-users-team-project?view=azure-devops&tabs=preview-page and have a look at the last screenshot, here you find the screenshot showing how to remove the Security Service Group instead of a single user.
![image](https://user-images.githubusercontent.com/33121436/73245153-dcedb380-41ab-11ea-91fa-a8537f0aabca.png)

[2020-01-28 08:18] marcin-vt commented on #7054
Thnx for answer @msebolt. Just tought that since all dots and spaces in the names are already replaced with underscore, maybe also hyphen should be ([based on this](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=azure-devops&tabs=batch#set-in-script)).

[2020-01-28 11:05] yesoreyeram opened #7080 "Array of strings in variables"
Does the variables needs to be string always? Can't we have string array or any other object types?

Say for example, I would like to have my list of envrionments in a variable. How can i set that?

[code]

isn't this possible? Related ticket https://developercommunity.visualstudio.com/content/problem/812728/variables-in-yaml-pipeline-are-not-allowing-to-def.html

---
#### Document Details

⚠ *Do

[2020-01-28 11:44] martinessiet commented on #5863
Absolutely, there are a lot of inconsistencies in the documentation and what you actually see in the product. This, which i agree with the comment, leads to tremendous confusion. The documentation is as best hastily written, or at worst poorly written. The PDF is not of any use at all, utterly confusing and misleading. Oracle database and product documentations are far much better than this!

[2020-01-28 13:13] IanKemp commented on #6724
Is the author dead?

[2020-01-28 14:03] adithyasai commented on #6707
Any update on this?

[2020-01-28 14:42] perkops opened #7081 "Spelling error"
"opposed to recoding the history"

Should be:

"opposed to recording the history"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec01d88087
* Content: [Environment - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pi

[2020-01-28 15:16] spikeyrichie opened #7082 "Work Items created from a Template inherit links from a ticket on the Kanban board"
Step 1) Create a New Bug template where you only specify Iteration Path, Repro Steps & System Info

![image](https://user-images.githubusercontent.com/2125462/73276530-be55df80-41e0-11ea-97df-1ad869799245.png)

Step 2) From a Kanban board with a Story present, click the + to create a new Bug linked to the Story. The new Bug has a Parent link to the Story it's raised under

Step 3) Now from within

[2020-01-28 15:30] #6984 closed

[2020-01-28 15:30] #6971 closed

[2020-01-28 16:00] MichaelMatsiy commented on #2615
I also have this problem

2020-01-28T15:56:20.4148665Z ##[error]Value cannot be null.
Parameter name: hashAndAlgorithm

[2020-01-28 16:06] igor-teresco commented on #3869
Just to clarify one possible confusion (had same issue today) - task until v4 does require a "azureps" demand from your build agent. V4 and v5 doesn't and this can confuse you that there is no need to install Az powershell module on build machine. But that is required anyway...
Solved "Сould not find the modules: 'Az.Accounts' with Version: ''.

[2020-01-28 16:15] hmendezm commented on #7059
Thanks @msebolt

[2020-01-28 16:31] juliakm commented on #7023
@mklement0 You can use single quotes to escape the variable. I'll update the docs.

`Write-Output "1 + 1 equals $(1 + 1)" # Prints 1 + 1 equals 2`
`Write-Output '1 + 1 equals $(1 + 1)' # Prints 1 + 1 equals $(1 + 1)`

[2020-01-28 16:32] msebolt commented on #7017
Closing this issue now.

[2020-01-28 16:32] #7017 closed

[2020-01-28 16:32] msebolt commented on #7054
Closing this issue now.

[2020-01-28 16:32] #7054 closed

[2020-01-28 16:32] msebolt commented on #7056
Closing this issue now.

[2020-01-28 16:32] #7056 closed

[2020-01-28 16:33] msebolt commented on #7057
Closing this issue now.

[2020-01-28 16:33] #7057 closed

[2020-01-28 16:33] msebolt commented on #7059
Closing this issue now.

[2020-01-28 16:33] #7059 closed

[2020-01-28 16:33] msebolt commented on #7060
Closing this issue now.

[2020-01-28 16:33] #7060 closed

[2020-01-28 16:35] moswald opened #7083 "The entire "retention policies" section should be removed"
This has been replaced by a project-level setting, and can not be configured here at the definition level anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55e404e-010b-32e5-30e0-71a2663a4f89
* Version Independent ID: e011575a-691c-af48-2268-1959c9f3020b
* Content: [Building multiple branches - Azure Pipelines](

[2020-01-28 16:36] mithunshanbhag commented on #6465
Running into the same issue as @booyaa. Any resolution on this

[2020-01-28 16:39] mklement0 commented on #7023
Thanks, @juliakm, I actually _do_ want Powershell to evaluate the `$(1+1)`, but the larger point is that I want to be able to prevent _Azure_ from interpreting and expanding the `$(1 + 1)` _up front_, before PowerShell ever sees it.

Or is that not what happens? I can't personally verify it, but my assumption was that since `$(1 + 1)` looks like an _Azure_ macro (e.g, `$(System.DefaultWorkingDirec

[2020-01-28 16:40] msebolt commented on #7065
@Mr-Ev-H Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-28 16:40] khbafl opened #7084 "SSH Key for pipeline agent"
When we need to pull an Azure Devops repository git-ssh-url as a terraform module in a pipeline, we can use the "InstallSSHKey" task to import the private key, but we have to upload the public key in our own account instead of a "pipeline agents account". How can we associate an ssh public key to  "pipeline agents" instead and allow thay ssh key to pull repos?

---
#### Document Details

⚠ *Do not

[2020-01-28 16:42] msebolt commented on #7066
@marcussonestedtbarium Thank you for the feedback.

Assigning this to the author for review.

[2020-01-28 16:46] obeyda commented on #7038
thanks @WilliamAntonRohm , there is indeed an idea about that in the dev community: https://developercommunity.visualstudio.com/idea/441897/build-validation-branch-policies-should-use-path-f.html
i'll follow that idea, so feel free to close this issue.

[2020-01-28 17:03] tkawchak commented on #5907
I just had this issue too.  It would be good to include the Write-Host in all powershell samples.  I just verified this is needed for the ##vso[task.uploadsummary] logging command.

[2020-01-28 17:07] cicorias opened #7085 "Are there existing Docker Images provided as with https://mcr.microsoft.com/v2/azure-pipelines/vsts-agent/tags/list"
Are the Docker Hub images still managed maintained and up to date?

https://hub.docker.com/_/microsoft-azure-pipelines-vsts-agent

Is there another location where the Agent is pushed to a pre-built container image?

The syndication points to https://mcr.microsoft.com/v2/azure-pipelines/vsts-agent/tags/list  -- but is this updated?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-01-28 17:24] juliakm commented on #6994
@DanJ210 If you haven't seen it already, this [section](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=azure-devops#publish-artifacts-to-azure-pipelines) goes into more details.

You can run `dotnet publish --output $(Build.ArtifactStagingDirectory)` or `DotNetCoreCLI@2` and `PublishBuildArtifacts@1` to produce a release artifact.

Here's the YAML I tested with

[2020-01-28 17:48] msebolt commented on #7067
@sudgarre Thank you for the question.

Please refer to [run tests in parallel](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/parallel-testing-vstest?view=azure-devops) for further reference.

Note that since this is the documentation forum, our support options are limited to article examples only.

For product-related issues and/or new features, get feedback from the product team [h

[2020-01-28 18:31] vtbassmatt commented on #7023
There is no escaping mechanism. We attempt to parse any `$()` as a reference to a variable. If that variable is undefined, we'll pass the string through unchanged. Your `$(1 + 1)` scenario will never be a problem, as "1 + 1" is never a valid variable name. `$(hostname)` would only be a problem if you also had a pipeline variable called `hostname`. We only parse these expressions in inline scripts,

[2020-01-28 18:31] #7023 closed

[2020-01-28 18:33] monroecheeseman opened #7086 "Mermaid documentation is wrong"
When clicking on any of the mermaid diagram links, it goes to the page "New diagrams in 8.4" mermaid in devops does not support the diagrams listed on that page.  It also doesn't support all the options for a flowchart that is listed on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9c

[2020-01-28 18:58] mklement0 commented on #7023
Thanks for clarifying, @vtbassmatt.

I now see that the linked topic has a table that has a column "How does it render when not found?", which _implies_ what you're saying, but I feel it deserves a more explicit explanation:

* Users may come looking for an _escaping_ mechanism (as I did), which is the typical approach; mentioning that there is none explicitly would answer that question unambiguou

[2020-01-28 18:58] juliakm commented on #6939
@timothies Can you include your YAML so that we can see where you include the the jobs template?

[2020-01-28 18:59] Beej126 commented on #5409
friendly reminder for anyone else trying to achieve single consolidated yml file for multiple pipeline definitions...

we can set the triggers up at the GRAPHICAL pipeline settings (and then leave that out of the yml)
![image](https://user-images.githubusercontent.com/6301228/73295683-fea36680-41bc-11ea-97df-8207d5cc03ec.png)

gathering all the links i found while looking:
- https://github.com/Mic

[2020-01-28 19:17] mklement0 commented on #7023
P.S.: That this syntax layering can cause confusion in practice is demonstrated in https://stackoverflow.com/q/59860674/45375; I've updated my answer there based on your feedback, but I'm hoping the information also makes it into the docs.

[2020-01-28 19:51] msebolt commented on #7068
@GSManganneau Thank you for the question.

The documentation in [Invoke REST API task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/http-rest-api) seems to have no clear description on using `jsonpath`.

Assigning this to the author for further review.

In the meantime, please refer to [this post](https://developercommunity.visualstudio.com/content/problem/291331/filter-jsonpath

[2020-01-28 20:10] #6924 closed

[2020-01-28 20:42] msebolt commented on #7069
@socrplaycj Thank you for the question.

Since this is a new product-related feature it needs to be directed to **Azure DevOps community**.

Please add comments [here](https://developercommunity.visualstudio.com/idea/889113/shared-pipeline-environments-within-projects.html) and/or vote to give it higher priority within the product team.

@juliakm

[2020-01-28 20:58] msebolt commented on #7071
@marc-gmail-towersap Thank you for the question.

There's a good post from **Stack Overflow** [here](https://stackoverflow.com/questions/55362092/can-i-have-multiple-azure-devops-organisations-with-msdn-subscription).

Since the **Azure DevOps** organization is tied **1:1** to your subscription, so if you need another organization you will also need another subscription.  Whether or not both organ

[2020-01-28 21:06] apawast commented on #7038
@obeyda As this is a product suggestion that you have found the developer community suggestion for, I am closing the issue. Thank you for your suggestion!

[2020-01-28 21:06] #7038 closed

[2020-01-28 22:16] thrixton commented on #2455
More for the lonely googler, since I couldn't get neilhighley's format to work.
From [Cannot clone git from Azure DevOps using PAT](https://stackoverflow.com/a/54147034/70614), using the format `https://<PAT>@mydomain.visualstudio.com/myproject/_git/myrepo` works for me

[2020-01-28 22:29] msebolt commented on #7078
@Greenbones Thank you for the feedback.

Assigning this to the author of [Setup npmrc](https://docs.microsoft.com/azure/devops/artifacts/npm/npmrc) for further review.

[2020-01-28 23:53] marc-gmail-towersap commented on #7071
The reason why im even asking this is over a problem Microsoft created for
us. We have two orgs following the url pattern org1.visualstudio com with
lots of projects, pipelines and repos used by people in several sites. Now,
we want to integrate databricks with azure devops. But it wont work with
the old url. It only works with git repos in dev.visualstudio.com/org1. If
i force the org to move to

[2020-01-29 00:35] msebolt commented on #7076
@KyMidd Thank you for the feedback.

Assigning this to the author of [Bash task](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/bash) for further review.

[2020-01-29 00:47] msebolt commented on #7079
@FredVaugeois Thank you for the question.

Assigning this to the author for further review.

[2020-01-29 00:54] msebolt commented on #7075
@softwarecraft Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-29 01:24] jrummell opened #7088 "Default Wiki"
How do you set a code wiki as the default wiki? We created a normal wiki, then a code wiki, and we want the code wiki to be the default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d4fe5c7-0ab6-a0e4-4a6e-f98d0355f49a
* Version Independent ID: ce022fef-054d-cdc2-43e9-a8ee3b8fb592
* Content: [Publish Markdown files f

[2020-01-29 02:39] qtzar commented on #7085
I would also like to see some pre-built images that I can pull down from Docker Hub, it would make spinning up an agent so much easier, especially if it had all the base tools needed like JDK and Maven etc.

[2020-01-29 03:11] vtbassmatt commented on #7076
@KyMidd in the [YAML basics](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#yaml-basics) section, we link out to [Learn YAML in Y Minutes](https://learnxinyminutes.com/docs/yaml/), which is a pretty good overview of YAML syntax. Your problem is the extraneous `'`s. It should read:

[code]

@msebolt for future routing, this is a YAML formatting que

[2020-01-29 03:11] #7076 closed

[2020-01-29 03:19] KyMidd commented on #7076
Removing the `'` worked perfectly. Thanks Matthew and Matt, you rock!

[2020-01-29 03:48] blacksun1 opened #7089 "Instructions about creating an azure subscription seem to be incorrect"
The only way I can get my multi-stage yaml to deploy (It deploys an Azure Function) was to create a new ".NET Core Function App to Windows on Azure" build (via the wizard). While it is running, it seems to create a new service connection and inserts an ID into the "azureSubscription".

This ID is not shown anywhere. I've looked inside the details of the service connection, I've looked for it in th

[2020-01-29 05:16] 2020-abhilash commented on #4715
Hello, I wanted to use the Test Plans for Automated Test Cases that we have in our project within Azure DevOps but the association with Visual Studio makes this confusing for us. How to we associate a project (and automated tests for that project) that is written in Java / Go with Visual Studio?

[2020-01-29 08:04] RoopeshNair commented on #7089
@blacksun1  - You can follow the instructions in the page and use the endpoint name as an input for the Azure tasks for deployment. The YAML pipeline template wizard auto generates an endpoint and it uses endpoint GUID to disambiguate.

You can use an existing service connection in the task:

[code]

Let us know if you have more queries

[2020-01-29 08:04] #7089 closed

[2020-01-29 08:39] blacksun1 commented on #7089
This is what the docs say but it does not work. The only thing that seems
to work is the strange guid generated via the wizard.

On Wed, 29 Jan 2020 at 18:34, RoopeshNair <notifications@github.com> wrote:

--
Simon Bruce
email: simon@blacksun.cx

[2020-01-29 08:42] RoopeshNair commented on #7089
What is the issue you are running into when you are trying to use an existing service connection?

[2020-01-29 08:55] dermaaarkus opened #7091 "yaml documentation is missing"
yaml documentation is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Version Independent ID: d60c996e-187e-dd6b-7f3a-dd056a1603f4
* Content: [Protect your Git branches with policies - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies?view

[2020-01-29 09:07] RoopeshNair commented on #7068
@sashban for invoke REST api task

[2020-01-29 10:03] janlunddk commented on #5700
Now that the "Stages To Run" dropdown has been added, it helps somehow as a workaround for manually triggering deployment stages.

However, all stages are selected/enabled by default, which makes it kind of dangerous if someone runs a multistage pipeline without deselecting the stages that must not be run in a manual trigger scenario, e.g. in a Terraform scenario where each stage represent an envi

[2020-01-29 11:04] DrGriff opened #7093 "What pipeline build for .NetStandard 2.x?"
I have a solution with a .Net Standard 2.0 library and 3 Test projects (.Net Core 3.1 + NUnit).

I want a pipeline to build all 4 projects and then to execute the tests

It's not clear from the documentation whether I should be running MSBuild, VSBuild or what....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec716c61

[2020-01-29 13:18] oktotechnologies opened #7094 "The service connections section has been updated"
The service connections configuration is completely different than it used to be before so this page need a refresh.

Also, add a troubleshoot section, as mentioned below on what to do when a Azure Resource Manager is picked in combination with Service principal (automatic) and no subscription can be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-01-29 13:21] 45software commented on #7048
https://docs.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops#tfvc.checkin

[2020-01-29 13:24] BAAAASS opened #7095 "LastSuccessfulDeployment?"
There is no option to get a list of commits between the last successful deployment (for a specific stage) and the current deployment.  Is it possible to add a LastSuccessfulDeployment system variable to either show the deployment number, or the commit id?

[2020-01-29 13:38] qazinus opened #7096 "Azure pipeline defaultValue go in overrideParameters after release"
1- Have an release that deploy an arm file that has a parameter that does a concat as a defaultValue
2- Deploy the release
3- The release is deployed sucessfully
4- See the field overrideParameters it now contains the defaultValue than is gonna cause an error
5 - update the value of another paramater in overrideParameters
6- Redeploy
7- There is an error because of the concat

[2020-01-29 14:05] wjdavis5 opened #7097 "Service Hooks Payload"
Looking at both the documentation and example service hooks there is little to no explanation about what the contents of the payload is.

For example, I create a Release Started and a Release Completed Service hook, and when I look at the payload none of the included guids actually represent the id of the release pipeline that triggered the alert.

Here is an obfuscated payload I receive:

[code]

[2020-01-29 14:12] qtzar opened #7098 "Add section for skipping stages on PR triggers"
For PR Triggers I would like to suggest that a section be added to explain how to skip stages of the build pipeline by adding a condition to those stages. This is useful for when you want the PR to trigger a build but not trigger a deployment to certain environments.

The condition would look like :

condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

---
#### Document Detai

[2020-01-29 14:59] RoopeshNair commented on #7094
@ashokirla

[2020-01-29 15:15] juliakm commented on #7069
@N-Usha Can you look at this?

[2020-01-29 15:24] #6537 closed

[2020-01-29 15:29] arlind-shkrela opened #7099 "Web hooks successfully proceed the the trigger but it failed on Total Results"
I am working on on premise version of DevOps 2019. It successfully proceed the trigger also returning successfully respond (200) but when it comes to show the total failed and succeeded calls It doesn't show correctly. Not happen just once.
Bellow is one example img.
![image](https://user-images.githubusercontent.com/26505746/73370349-5ec90400-42b4-11ea-8c68-47afa9a46f91.png)

[2020-01-29 15:51] tlentine opened #7100 "Misleading documentation with az login and az devops login"
There is a fairly glaring issue with the documentation at the following url:
https://docs.microsoft.com/en-us/azure/devops/cli/log-in-via-pat?view=azure-devops&tabs=windows#use-environment-variables

Specifically, the following block is not completely accurate:

If you have logged in using a `service principal`, as would typically be the case when using the Azure CLI task in Azure DevOps, the az d

[2020-01-29 15:52] FernandoKGA opened #7101 "Missing example for Agent.TempDirectory variable"
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#system-variables

There is a missing example for the Agent.TempDirectory path, I would add to the documentation this:
`c:\agent_work\_temp`.

I wasn`t able to understand where the Agent.TempDirectory files were in the Azure DevOps pipeline.

[2020-01-29 15:53] steved0x commented on #6704
@verschaevesiebe I'll get that clarification added, sorry that you ran into trouble, and thanks for letting us know.

[2020-01-29 17:40] msebolt commented on #7071
Please refer to the [project migration post](https://developercommunity.visualstudio.com/content/idea/365365/make-it-possible-to-move-a-team-project-between-te-1.html) for the current status of this feature.

While not yet supported, the post references certain third-party solutions to facilitate the migration.

[2020-01-29 18:21] marc-gmail-towersap commented on #7071
So, Microsoft is forcing the change, yet doesn't provide a way to do it
unless you buy someone else's solution??

On Wed, Jan 29, 2020, 10:40 AM Matthew Sebolt <notifications@github.com>
wrote:

[2020-01-29 18:23] domints opened #7102 "Poor documentation for SSH Deployment task"
I pointed these out on Developer Community Forum, but looks like nobody really cares about it. So, maybe somebody notices it if I will put it here?

1. What is "**SSH endpoint**"? After a bit of googling found on external site, that it might be something to do with "Service connection" from Project settings. This point could use some documentation links
2. Argument "**Run**" from argument list see

[2020-01-29 18:40] Justin-DynamicD opened #7103 "Scope of a "public project" is unclear"
When toggling an Azure DevOps project to Public, it is not made clear if it is make public to the Organization or to the entire world at large.

This could cause a dangerous mistake to be made.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9a4e9e9-6773-fad2-23fb-8b44313f8ef3
* Version Independent ID: 33cbd1fc-2230-4e

[2020-01-29 19:58] mydiemho opened #7104 "Enable preview features on org level using API/CLI"
Is there a way to programmatically enable preview features by calling an API or using some CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e29-ff3f-cbea4a6eb24d
* Version Independent ID: 695d975e-ea9b-139b-4f98-f9655a751f59
* Content: [Turn preview features on or off - Azure DevOps Services](https://

[2020-01-29 20:00] f1ben opened #7105 "Is it possible to use this task on a self-hosted agent running Windows 10?"
The description of this task is clear, "run a Bash script on macOS, Linux, or Windows."  What setup is required on the build agent to run a Bash script on a self-hosted agent running Windows 10 Pro?  I've tried enabling WSL, and installing Ubuntu from the Microsoft Store.  When I attempt to run my bash script, I see this error message:  "Windows Subsystem for Linux has no installed distributions."

[2020-01-29 20:50] msebolt commented on #7067
Closing this issue now.

[2020-01-29 20:50] #7067 closed

[2020-01-29 20:53] msebolt commented on #7071
Closing this issue now.

For issues with Azure Data Bricks, please refer to the [FAQ](https://docs.microsoft.com/azure/azure-databricks/frequently-asked-questions-databricks).

[2020-01-29 20:53] #7071 closed

[2020-01-29 20:55] vort3xxx opened #7106 "Dynamic content in markdown"
It is unclear from the docs if it is possible to refer to dynamic content in markdown files via generic tokens rather than only static IDs.   The use case is this:

0. Have a pull request template with self-referential content.
1. Create a pull request.
2. Have the pull request description contain a html document that refers to the pull request ID.

What I would like to do is have my pull request

[2020-01-29 21:00] msebolt commented on #7083
@moswald  Thank you for the feedback.

Assigning this to the author for review.

[2020-01-29 21:07] msebolt commented on #7103
@Justin-DynamicD Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-29 21:08] msebolt commented on #7102
@domints  Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-29 21:09] msebolt commented on #7101
@FernandoKGA Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-29 21:14] msebolt commented on #7097
@wjdavis5 Thank you for the feedback.

Assigning this to the author for review.

[2020-01-29 21:15] msebolt commented on #7098
@qtzar  Thank you for the feedback.

Assigning this to the author for review.

[2020-01-29 22:09] aholler2 commented on #4633
This issue is closed, however, I wanted to clarify what the solution actually was. YAML actually does support tasks that have spaces in their names. What was happening was that YAML was implicitly creating a value for the key "name" using the task name. The fix was to instead use the task as below:
[code]

Specifying "name" is key if you want to use a task that has a space in its name.

[2020-01-29 22:14] #6704 closed

[2020-01-29 22:31] marc-gmail-towersap commented on #7071
So how am i to migrate my organization to the new url without impacting
many people???

On Tue, Jan 28, 2020, 1:58 PM Matthew Sebolt <notifications@github.com>
wrote:

[2020-01-29 22:37] marc-gmail-towersap commented on #7071
You still haven't answered my question.  How am I to migrate from the org.visualstudio.com to dev.visualstudio.com/org URL?  What is the migration plan??  Or will you support both URLs from now on????

[2020-01-29 23:07] WilliamAntonRohm commented on #7080
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-01-29 23:07] #7080 closed

[2020-01-29 23:09] WilliamAntonRohm commented on #7082
@spikeyrichie Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

Also, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunit

[2020-01-29 23:15] WilliamAntonRohm commented on #7088
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-dev

[2020-01-29 23:15] #7088 closed

[2020-01-29 23:19] WilliamAntonRohm commented on #7095
@BAAAASS Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.  Meanwhile, you may find answers here:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-01-29 23:21] WilliamAntonRohm commented on #7096
@qazinus Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

Also, it looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.vis

[2020-01-29 23:22] WilliamAntonRohm commented on #7099
@arlind-shkrela -- Arlindi, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2020-01-29 23:24] pollockm commented on #6512
I am also in need of this as a predefined variable.  The reason is that we operate in a monorepo that contains several components, not all of which share a common top-level build pipeline.

Ex:
/component A/azure-pipelines.yml
/component A/src/...
/component B/azure-pipelines.yml
/component B/src/...

I want the pipeline for component A to trigger only if an item in the /component A/src hierarchy

[2020-01-29 23:33] WilliamAntonRohm commented on #7104
@mydiemho -- My, here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@KathrynEE -- please look into this issue.

[2020-01-29 23:36] WilliamAntonRohm commented on #7106
@vort3xxx Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

[2020-01-30 00:30] timothies commented on #6939
Hi @juliakm , thanks for looking into this.  I've created an instance of the pipeline demonstrating the issue here: https://github.com/timothies/6939.    I get the error below

![image](https://user-images.githubusercontent.com/4046886/73409593-d863ff00-4353-11ea-89e4-ed548bf9e8b4.png)

[2020-01-30 01:01] yorhpokie opened #7107 "Requirements to display branch name in commit details page?"
What are the requirements to display branch name in commit details page, when the branch is not master?  For example, we'd like to display the release branch name in the commit details page.  Currently, no branch name is displayed for commits in the release branches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6255

[2020-01-30 01:43] dyslexicanaboko opened #7108 "How to leave an organization someone invited you to"
There is an organization I am a member of. I no longer want to be a member of this organization and asking the owner to remove me isn't an option. I have been trying to figure out how to do this. Any help is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8815945-eaa1-16e7-6ccd-ce4b5f8f8682
* Version Indep

[2020-01-30 05:06] seenualnat opened #7109 "unable auth when select Azure subscription"
not found https://app.vssps.visualstudio.com/oauth2/receive

[2020-01-30 05:50] RoopeshNair commented on #7102
@vijayma / @davidstaheli  for SSH task

[2020-01-30 07:04] dushyantovyas commented on #3702
+1

[2020-01-30 07:37] kbrady-vibrato opened #7110 "Should I be able to check the skip status of a stage?"
The skip check for jobs as per https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#dependencies - does this work for a stage too?

If I have a stage dependency, can I set it to run even if the stage it depends on is skipped?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a

[2020-01-30 08:42] FlavioGoncalves-Cayas commented on #5773
Thanks @benp25! This needs to be clarified in the documentation.

[2020-01-30 09:11] RobCoPKC opened #7111 "Nuget restore doesn't get skipped even though cache is restored successfully"
The 2 relevant pipeline steps:

- task: Cache@2
  condition: succeeded()
  displayName: Cache NuGet packages
  inputs:
    key: 'nuget | "$(Agent.OS)" | **/packages.lock.json'
    restoreKeys: |
       nuget | "$(Agent.OS)"
       nuget
    path: $(NUGET_PACKAGES)
    cacheHitVar: CACHE_RESTORED

- task: NuGetCommand@2
  condition: ne(variables.CACHE_RESTORED, 'true')
  displayName: Restore
  inpu

[2020-01-30 09:26] aufbakanleitung opened #7112 "I don't understand how to push your first dependencies to Azure Artifacts"
I have a company specific parent-pom that I need in my Azure Artifacts feed. You're guide states the following under "Install an artifact from your feed":
2. In Azure Artifacts, browse to the artifact that you want to install and copy the contents of the &lt;dependency&gt; element.

How can I browse to the artifact I want to install in a completely empty Artifact Repository? First I have to migrat

[2020-01-30 09:42] RobCoPKC commented on #7111
This doesn't seem to be related to the cache restore since the nuget restore wasn't even skipped when I manually set the "CACHE_RESTORED"-variable to true.
Maybe a problem with how conditions work?

[2020-01-30 10:19] RoopeshNair commented on #6809
Raised [#PR877](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/877) clarifying the user permissions for environments

[2020-01-30 10:25] #6809 closed

[2020-01-30 10:46] spikeyrichie commented on #7082
@WilliamAntonRohm please define 'Topic'.

[2020-01-30 11:23] PavelPikat commented on #7111
The task order is wrong here.
In your case the cache will never be populated, because $(NUGET_PACKAGES) path is empty - NuGet packages are always restored after the Cache task.

[2020-01-30 12:23] RobCoPKC commented on #7111
I set $(NUGET_PACKAGES) to $(Pipeline.Workspace)/.nuget/packages via:

variables:
  VersionInfo.Build: $(Build.BuildNumber)
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages

Forgot to mention that in my OP.

[2020-01-30 13:02] wjdavis5 commented on #7097
Wanted to add this for awareness:
https://developercommunity.visualstudio.com/content/problem/900507/azuredevops-service-hooks-not-saving-all-values.html

[2020-01-30 13:26] PavelPikat commented on #7111
I meant that the folder will not have any packages there yet since they are restored afterwards.
You need to restore first, then cache.

[2020-01-30 13:43] RobCoPKC commented on #7111
The cache task downloads 468 MBs of packages and the nuget restore only takes seconds because all the packages are already there, so no, the caching is working fine...

![image](https://user-images.githubusercontent.com/56680419/73454674-db201d80-436e-11ea-9bb0-145f22600eca.png)

[2020-01-30 13:55] PavelPikat commented on #7111
Apologies, you are right, the cache task has to be first.
I think even if we accept that the condition does not work for NuGet restore task, you actually do want it to execute in your case, because you need to move packages from .nuget/packages into your solution folder. And this is what takes you seconds already.

[2020-01-30 13:55] hammady commented on #6964
How to get the feed guid anyway? I don't seem to find it.

[2020-01-30 13:56] PavelPikat commented on #7111
Btw, try using this condition instead, it is working for me:
`ne(variables['NUGET_CACHE_RESTORED'], 'true')`

[2020-01-30 14:17] asarapas commented on #5567
Everyone keeps giving sample for the date.
But how to format number which came from the counter function to D3 format?

[2020-01-30 14:51] dazinator opened #7114 "Missing a YAML example for restore"
No yaml example for restore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1d9884-19f7-592b-f47c-8cf100639ff0
* Version Independent ID: 555c3826-60d9-2589-54af-850efbfbb13a
* Content: [.NET Core CLI task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure

[2020-01-30 15:16] hammady commented on #3001
I discovered by chance that the feed name should include the project name. For example: `Project1/my-feed`.

[2020-01-30 15:18] hammady commented on #6964
Feed name should also work but with the project name as a prefix. For example: `Project1/my-feed`.

[2020-01-30 15:57] panoschatz commented on #6753
Same problem here. Can't get a pipeline to be triggered by the completion of another no matter what I've tried in the resources block. Also, the example provided isn't particularly clear. Can we get an update on this please?

[2020-01-30 16:19] sebader commented on #6747
and update here? thanks

[2020-01-30 16:24] austincrft commented on #5700
I also need the ability to deploy manually to environments. Setting approvers is insufficient because not every build will go to production. This means *most* builds would be considered failed due to a timeout, which defeats the entire purpose of the "pipeline failure" metric.

It would be better if there was no timeout and stages waiting on approval did not increase the pipeline time

[2020-01-30 17:02] andrewrandsbluestone commented on #2102
I'm facing a similar issue.

I have created an IIS Deployment release pipeline. The IIS Web App Manage task has Website name fixed as 'Default Web Site'. The link thing states "This setting is linked to the 'Website name' (Parameters.WebsiteName) pipeline parameter."

I just _cannot_ figure out how to access this Parameters.WebsiteName setting

[2020-01-30 17:03] nuclear0wl opened #7116 "How to pass variable to inline checkout step"
I want to parameterize my checkout step in the following fashion:
[code]

As written in the [Define variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) chapter of the documentation:
_Most documentation examples use macro syntax ($(var)). Variables with macro syntax are processed during runtime. When the system encounters a macro

[2020-01-30 17:08] droessmj opened #7117 "Scheduled YAML Builds Using UTC Time"
Appreciate the feedback, but that statement directly conflicts with the behavior I experienced when working with this yesterday.

Our organization runs with UTC-6,
![image](https://user-images.githubusercontent.com/6099561/73277498-deb97600-41af-11ea-9e8c-55a21efc20d0.png)
but I needed to set a schedule for 18:20 yesterday for it to trigger at 12:20PM CT.

![image](https://user-images.githubuserco

[2020-01-30 17:14] andrewrandsbluestone opened #7118 "pipeline parameters"
Hi, I'm trying to setup a release and it _seems_ to deploy. However, the IIS Web App Manage task has Website name fixed as 'Default Web Site'. The link thing states "This setting is linked to the 'Website name' (Parameters.WebsiteName) pipeline parameter."

I just cannot figure out how to access this Parameters.WebsiteName setting and deploy to a different website.

I notice that here https://gith

[2020-01-30 17:26] DeeptiGrover commented on #6719
I have been testing diff scenarios with deployment jobs having approval checks
So,  when used with other non deployment jobs in the same stage, no job of that stage gets executed unless checks are ok. Do you have any update on this please?

[2020-01-30 17:48] vtbassmatt commented on #7105
Are you able to use Bash from the command line on that machine? (I don't have handy access to a Windows machine to test this.)

[2020-01-30 18:36] #3685 closed

[2020-01-30 18:36] #7031 closed

[2020-01-30 18:54] f1ben commented on #7105
Sorry I was unclear about this.  I am able to run bash from the command
line as the interactive user on this machine now that I've enabled the
Windows Subsystem for Linux and installed the Ubuntu distribution.
Enabling WSL is a system-wide setting, but it looks like the installation
of the Linux distribution is per-user.  The Bash Task runs on the agent as
the user "nt authority\network service".

[2020-01-30 19:03] mfullerton31 commented on #7072
I found my answer; feel free to close this issue.
_If you are a Stakeholder, choose Provide feedback. You can optionally choose to create bugs and tasks when you submit your feedback. The process is the same as described in this topic.  If you are a Basic user, create a bug or a task._

[2020-01-30 19:03] #7072 closed

[2020-01-30 19:15] AlexDenton commented on #6948
@WilliamAntonRohm What I'm asking (perhaps poorly) is is this a supported scenario?

It seems reasonable to me to want some templated variables mixed with non-templated variables. I don't see it documented anywhere so I assume it is not?

[2020-01-30 19:33] soccerjoshj07 opened #7119 "Is it expected that you can't deprecate or demote Maven artifacts?"
With Maven artifacts, you can only promote them. You cannot unpromote, demote, or deprecate them as you can with Nuget artifacts. Is this by intention? Not sure if this is a bug or if there was some intention behind this. See this example - this artifact is in the @Release view, but if I didn't want it in the Release view or placed it there accidentally, I have no recourse other than permanently d

[2020-01-30 19:38] vtbassmatt commented on #7105
Gotcha. Tasks runs as the user you configured the [agent to run as](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#account). How to do that sounds like a question for the [WSL team](https://github.com/microsoft/WSL).

[2020-01-30 19:38] #7105 closed

[2020-01-30 19:43] #7101 closed

[2020-01-30 19:59] tylerhartwig commented on #6738
Agreed, I attempted to use this on a linux machine, thinking I may be able to copy from a linux agent, to a remote windows agent. The task name is unclear to me, and only implies that the remote machine must be windows.

[2020-01-30 20:04] #6951 closed

[2020-01-30 20:04] #6905 closed

[2020-01-30 20:05] #6955 closed

[2020-01-30 20:53] steved0x commented on #7066
@marcussonestedtbarium I'll get that page updated, thank you.

[2020-01-30 20:56] juliakm commented on #6989
@DaRosenberg Thanks for pointing this out. I'm working on updating the docs. Can you post your product feedback to the [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html)? That space is monitored by the product team.

[2020-01-30 21:45] KathrynEE commented on #7104
@mydiemho - No, this isn't supported through a REST API or CLI. To request a feature be supported, see our [Developer Community page](https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?type=idea).

[2020-01-30 21:45] #7104 closed

[2020-01-30 21:51] KathrynEE commented on #7051
@bjornhelle - Thank you for the feedback. I've added a backlog item to update the article to clarify operations.

[2020-01-30 21:51] #7051 closed

[2020-01-30 21:54] KathrynEE commented on #7055
@Sonesson - Thank you for the feedback. I've added a backlog item to update the article to clarify operations.

[2020-01-30 21:54] #7055 closed

[2020-01-30 22:00] KathrynEE commented on #7037
A-AontwSR - Thank you for your inquiry. Stakeholders can add work items to Backlogs and Sprint Backlogs. THey can't add work items to Kanban boards or tasks to Taskboards.

[2020-01-30 22:00] #7037 closed

[2020-01-30 22:05] KathrynEE commented on #7001
@tessajade - Thank you for your inquiry. The release deployments control on the work item form is only supported for Azure DevOps Services (cloud). It isn't available on-premises as yet. The note directs users using the Hosted XML process model as those users work in the cloud.

[2020-01-30 22:05] #7001 closed

[2020-01-30 22:06] KathrynEE commented on #6820
@@hemanth70052 - The article has been updated to remove the out of date image.

[2020-01-30 22:06] #6820 closed

[2020-01-30 22:06] Beffyman opened #7120 "Explanation of "If you want to use a self-hosted agent, it must be running Windows Server version 1803 or newer.""
What is special about self-hosted windows server agents that let them use this functionality?  Is there a limitation that prevents self-hosted linux agents from using it that the microsoft-hosted linux agents seem to get around?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1c794c-d676-fc7e-758e-3464f16a1554
* Versi

[2020-01-30 22:06] steved0x commented on #7065
@Mr-Ev-H Thank you for reporting this, and I will get the documentation updated to reflect this.

[2020-01-30 22:08] KathrynEE commented on #5973
@sunahe - Thank you for the feedback and apologies for the delay in response. I have added this item to my backlog and will be updating the article to clarify any inaccuracies.

[2020-01-30 22:08] #5973 closed

[2020-01-30 22:09] KathrynEE commented on #5654
Closing the issue as it has been addressed.

[2020-01-30 22:09] #5654 closed

[2020-01-30 22:15] steved0x commented on #3849
@feshe @brunomartinspro Do you get your PR templates working? I have been on Azure Pipelines and didn't check the status of this Azure Repos issue. I am sorry for the delay. Please re-activate this issue if you are still having trouble. Thank you.

[2020-01-30 22:15] #3849 closed

[2020-01-30 22:20] steved0x commented on #3104
This is right, if you create a build validation policy and point it to the pipeline, you will get the report on your PR that you are looking for.

This article is about custom status servers, do you think we should include a QA section at the end that talks about what if you want to use the built-in policies for PR validation?

[2020-01-30 22:48] dkmiller commented on #6790
I can reproduce this issue. The relevant task looks like:

[code]

and identical code works in other projects.

[2020-01-30 23:49] blacksun1 commented on #7089
I get a message saying that I don't have access or it does not exist.

On Wed, 29 Jan 2020 at 19:12, RoopeshNair <notifications@github.com> wrote:

--
Simon Bruce
simon@blacksun.cx

[2020-01-31 00:14] vipulnewaskar7 commented on #6790
Hi, I missed to clear this out.
There is an option "Limit job authorization scope to current project" in
"Project Settings" > Pipelines > Settings.
This option was enabled by default, if it's disabled, It will work.

[2020-01-31 00:37] dkmiller commented on #6790
@vipulnewaskar7 that did it! Thanks for commenting with the solution.

[2020-01-31 00:37] #6790 closed

[2020-01-31 04:53] worldspawn commented on #4206
@TimLariviere this falls down if you have more than 1 build that you want to manually trigger. I have 3 and if do /azp run Deploy-Dev all 3 are triggered because now my PR has a comment on it. Seems like a pretty half-baked feature implementation.

[2020-01-31 06:37] jackpoz commented on #3104
I think the confusion comes from the fact that GitHub updates the PR status automatically and one expects DevOps (and any other CI in the world :) ) to work in the same way :) The documentation is there, one just needs to read it :)

[2020-01-31 07:10] msebolt commented on #7107
@yorhpokie Thank you for the question.

Assigning this to the author for further review.

Please note if this feature is unavailable you should move this issue to the product forum [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-31 07:17] msebolt commented on #7108
@dyslexicanaboko Thank you for the question.

Please refer to [this post](https://developercommunity.visualstudio.com/content/problem/333742/how-can-i-be-removed-from-a-stale-organization-in.html) and post any further issues below.

[2020-01-31 07:18] msebolt commented on #7109
@seenualnat Thank you for the feedback.

Please post a reference to the article where this was listed and we will assign an author to fix the issue.

[2020-01-31 07:31] msebolt commented on #7110
@kbrady-vibrato Thank you for the question.

Unfortunately questions outside the scope of the article need to be submitted [here](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

For additional support options, please refer to:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stack

[2020-01-31 07:48] RoopeshNair commented on #7089
you don't have access to what? what does not exist? can share some screenshots?

[2020-01-31 07:57] RoopeshNair commented on #7118
Website name should be editable, you can type-in. Unless, I'm missing something here. Can you share some screenshots?

[2020-01-31 08:39] MichaKnoe commented on #5964
I also spend a lot of time to understand that this is just not working. **PLEASE** at least document this properly that everybody can understand easily what is happening under the hood. **With the release pipelines UI, it was/is possible to use variables to define subscription by variables**. So this is **a regression coming with yaml** pipelines. It is just not obvious why it is not working.

Ano

[2020-01-31 09:15] andrewrandsbluestone commented on #7118
In Azure Dev Ops:

1. Select 'Releases'
2. Select 'New release Pipeline'
3. From Select a template, select 'IIS website deployment (Deployment Group: Deploy an ASP.NET or ASP.NET Core web application to an IIS website on physical or virtual machines (VM).'
4. This creates two tasks,'IIS Web App Manage' & 'IIS Web App Deploy'
5. Open IIS Web App Manage' - Website Name is locked as 'Default Web Site

[2020-01-31 09:27] andrewrandsbluestone commented on #7118
I think I have managed to workaround this by creating my own empty Stage.

Selected 'Add a deployment group job'
In Add Tasks, selected 'IIS web app manage' & 'IIS web app deploy' tasks
The 'Manage IISWebsite' task that gets added has an editable Website name

![Release pipeline2](https://user-images.githubusercontent.com/58685513/73527941-d3fb1d00-440b-11ea-8344-8a103afcf20c.png)

[2020-01-31 09:48] A-AontwSR commented on #7037
Thanks for the (short) answer.
Is it possible to make this clear from the page itself?

The page contains confusing texts, like:
top of page, third bullet (checkmark): Open the Kanban board and add a work item,
last section "Features not available to users with Stakeholder access" does not mention it

[2020-01-31 10:18] brunomartinspro commented on #3849
@steved0x yes, i got it working by having a file "pull_request_template.md" inside a ".azuredevops" folder in the root of the repository. Thanks!

[2020-01-31 10:34] fgheysels opened #7122 "Difference between AzureResourceManagerTemplateDeployment and AzureResourceGroupDeployment"
There seem to be 2 similar tasks available for deploying Azure resources.

Unfortunately, I cannot find any documentation regarding the `AzureResourceManagerTemplateDeployment` although this `AzureResourceManagerTemplateDeployment` task can be choosen from the Yaml pipeline editor in Azure Devops:

[code]

On the other hand, I cannot find the `AzureResourceGroupDeployment` task in the Yaml pipelin

[2020-01-31 10:48] mikehachen opened #7123 "Notes about how to use azure key vault secrets"
Obviously, you can't use values from a variable group directly if they are secrets from an Azure Key Vault. There is no detailed description or examples of how such values can be used in a yml pipeline.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed27
* Version I

[2020-01-31 11:16] RoopeshNair commented on #7118
You can click on the stage and you will be able to edit the website name

[2020-01-31 11:16] #7118 closed

[2020-01-31 11:42] andrewrandsbluestone commented on #7118
I can't see anywhere at the stage level where the Website Name is visible, let alone editable

[2020-01-31 11:51] wolszakp commented on #3702
Any news in that topic?
It would be also useful in my setup.
I really like feature to have most variables in repository.
And only few of them assigned dynamically from DevOps that will control whole solution.

[2020-01-31 11:54] RoopeshNair commented on #7118
![Screenshot_20200131-172251](https://user-images.githubusercontent.com/1370480/73537412-69b79c00-444e-11ea-8beb-267d88abd357.jpg)

You should see website name as in this screenshot. Excuse brevity, on my phone

[2020-01-31 11:56] DaRosenberg commented on #6989
@juliakm Done. https://developercommunity.visualstudio.com/idea/889423/add-an-else-expression-to-yaml-conditional-inserti.html

[2020-01-31 12:05] MBiekem opened #7124 "How to use pipeline decorator in Deployment job"
I'm missing information about injecting the decorator inside the deployment jobs.

The Sprint 163 update says:

How do I inject a decorator to a life cycle hook for deployment jobs?

Using the targets property, I get it to work with build jobs and release pipelines, but not with deployment jobs (from Yaml).

[2020-01-31 12:10] andrewrandsbluestone commented on #7118
Looks like you picked a different template - 'IIS website and SQL database deployment'

[2020-01-31 13:24] MitchelVreman opened #7125 "Non existing links to pages in organizations/projects/toc.yml"
Hi,
Sorry if the format of the issue isn't as it should be. I couldn't find the rules of it.

I found an issue while navigating through the docs. I received an 404 on "Set project visibility" and on "Change service visibility". By further diving in to it, I found the file and the issue:
[organizations/projects/toc.yml](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/organizations/proje

[2020-01-31 13:35] cmeyertons opened #7126 "Azure Artifacts Too Permissive"
For on-prem agents where security is a concern, requiring opening *.blob.core.windows.net in a corporate firewall opens up an attack vector for malicious code to be downloaded from anywhere hosted on blob storage.

Is there a more granular DNS / IPs that are wholly owned by Microsoft we can open up to in our firewall?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-31 13:48] pijemcolu opened #7127 "Take App Offline flag - Which app_offline.htm file will be used?"
The documentation doesn't specify what file is used when the app is taken offline using the flag.

Is it a default file? Is the file sourced from a specific path? Can we customise the file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be413593-c38c-d3bf-8450-627f3c4928b1
* Version Independent ID: 4d4e3115-5146-b715-7

[2020-01-31 13:54] p1johnson opened #7128 "Please clarify version of AzCopy used"
Can the page clarify what version of AzCopy is used by this task? The currently supported version is AzCopy v10 but it looks like this task is using AzCopy v8.1 - as the parameters have changed quite a bit between versions, it might cause a bit of confusion. This page links to https://docs.microsoft.com/en-gb/azure/storage/common/storage-use-azcopy-v10 which is the v10 documentation.

---
#### Doc

[2020-01-31 14:03] hecflores opened #7129 "Document Inconsistancies"
I noticed some an inconsistencies in the documentation. resourceGroupName description mentions the dependency on the variable deployToSlotOrASE  but that variable is not listed in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4a09e1d-5fe6-cac3-47c9-cb2f4422a473
* Version Independent ID: 4cf6d896-542

[2020-01-31 14:24] mslot opened #7130 "Limits for overriding parameters in devops"
When reading about devops I can't find any information on how many parameters you can override when releasing ARM templates. Does this kind of information regarding max limits of parameters exist? I have a lot of parameters that I need to override, so I want to be sure I don't hit an upper limit.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-31 16:09] #6624 closed

[2020-01-31 16:09] #7066 closed

[2020-01-31 16:19] jaapcrezee commented on #6793
[code]
This worked for me after spending more than 60 minutes to debug this. MS please take more care about correct documentation....

[2020-01-31 18:55] Tyriar opened #7131 ""Verify if the Service Principal used is valid and not expired." section links to archived blog post"
![image](https://user-images.githubusercontent.com/2193314/73566234-3528ed80-4418-11ea-842c-107bceb1dc58.png)

Clicking that link sends the user to an archived blog post index:

https://docs.microsoft.com/en-us/archive/blogs/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c94df7-9de9-ea1a-8b77-d1e6023694dc
* Version

[2020-01-31 18:56] andrewrandsbluestone commented on #7118
Why has this been closed? The problem exists with the template I used. I have no reason to use a template that involves SQL Server

[2020-01-31 19:52] RichardMeadowsTC opened #7134 "Demand any or specific machine"
I often need to test a build on a specific machine.  We are using yaml definitions so my options (That I am aware of are)
1. Create special yaml which include demand for Agent.ComputerName -eq 'specificMachine'
2. Move the machine in question to a pool that has only that machine.

Is it possible to have a demand in yaml like
3.  demand Agent.ComputerName -like '*'

Example we specify a default poo

[2020-01-31 20:57] aelmanaa commented on #5964
agree. I also spent lot of time trying to figure this out :(

[2020-01-31 21:27] WilliamAntonRohm commented on #7111
@RobCoPKC -- thank you for your feedback.

@PavelPikat -- thank you for sharing a viable syntax.

[2020-01-31 21:37] WilliamAntonRohm commented on #7116
@nuclear0wl -- Kseniia, thank you for your feedback.  You may find answers here:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

@steved0x -- Steve, please look into this potential documentation issue.

[2020-01-31 21:40] WilliamAntonRohm commented on #7124
@MBiekem Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

[2020-01-31 21:41] WilliamAntonRohm commented on #7125
@MitchelVreman -- Mitchel, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2020-01-31 21:50] MBiekem commented on #7124
This page:
https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?view=azure-devops#author-a-pipeline-decorator

[2020-01-31 22:13] steved0x commented on #7117
@droessmj It is in UTC time, I have approved your PR and I'm closing this issue. Thank you for your feedback.

[2020-01-31 22:13] #7117 closed

[2020-01-31 22:56] adamtuliper opened #7135 "Build yaml usefile"
There are other yaml samples on the page except for the build. Since someone may be adding this into an existing pipeline it would be nice to show the build yaml here so we don't have to create a new one and pluck it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b12f39-46e7-7928-3384-ae8b99c67b6c
* Version Inde

[2020-01-31 23:24] dyslexicanaboko commented on #7108
Wow thank you so much! That did the trick exactly. I wish that was easier to find, I had been searching for a way to do that for such a long time and I kept coming up with nothing. This will help me clear my mind of a disastrous project, I no longer have to be reminded of it anymore thank you!

[2020-01-31 23:24] #7108 closed

[2020-01-31 23:29] dshaevel commented on #3869
When I use version 4.159.11 of the Azure PowerShell task on a self-hosted Windows Build agent, I get the following error:

`2020-01-31T04:31:41.5076616Z ##[error]Could not find the modules: 'Az.Accounts' with Version: ''. If the module was recently installed, retry after restarting the Azure Pipelines task agent.`

<img width="1041" alt="Azure_PowerShell_task_error" src="https://user-images.github

[2020-01-31 23:47] msebolt commented on #6928
Thank you for the update.

In this case you'll need to use an additional PowerBI query to wrap the WorkItems table query and access the column name that way, perhaps the [ColumnNames](https://docs.microsoft.com/powerquery-m/table-columnnames) property?

To see work item fields available, please refer to the **Azure DevOps** [data model](https://docs.microsoft.com/azure/devops/report/extend-analyti

[2020-02-01 10:22] nbrown02 commented on #6928
Ok - sadly doesn't look like I'm getting much of a clear answer :(

The above shows how to group child items by StateCategory, all I'm really try to find out is if/how this could be done to group child items by Board Column...

[2020-02-02 10:24] kvaes commented on #7085
+1

[2020-02-02 12:24] MarkWTW opened #7137 "Example for using 'Null' literal?"
Document reference: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops
Section: Literals

I'm trying to use the Null literal in an equality comparison to determine if a parameter has been defined.

From the description in documentation on this page, I would expect following to be valid:

`${{ if ne(parameter['myparam'], Null) }}:`

This fails to run, I ge

[2020-02-02 21:14] JamesReate commented on #5363
Same problem.
To fix it I had to create PAT token for feed and then add those credentials to the nuget.config, but because it is a sensitive piece of info you should not commit to source control - so I put it as a Azure Devops secret and then injected it as a variable and used linux command `envsubst` to substitute the tokens as part of build process under a script task.
It was complicated.

[2020-02-03 01:54] cadull opened #7138 "Relative trigger paths"
Are trigger paths relative to the yml file (when in a subdirectory) or relative to the repository root?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf8-1c56-de20beb38a80
* Content: [Build pipeline triggers - Azure Pipelines](https://docs.m

[2020-02-03 02:33] Ads5555 opened #7139 ""Configuration failed" guidance doesnt work"
When following the guidance for the error in the troubleshooting section, I am unable to successfully add the required permission to the correct directory. The wrong directory is used still when reaching the approve/deny page. There is no ability to change it.

Navigating back to [https://aex.dev.azure.com/me](https://aex.dev.azure.com/me) shows the correct directory selected though.

Browsers att

[2020-02-03 04:10] Rod-Sychev commented on #4743
I'm having the same issue here.
@armannds, have you filed a bug to Azure DevOps team?

[2020-02-03 07:57] olljanat opened #7140 "Environment variables for new multi-stage pipeline environments"
To support [environments](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?view=azure-devops) with new [multi-stage pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/multi-stage-pipelines-experience?view=azure-devops) there should be environment variables to enable parameters:
* --environment
* --environmentname
* --projectname

#### Documen

[2020-02-03 08:34] MitchelVreman commented on #7125
@WilliamAntonRohm -- You can see the issue when navigating to https://docs.microsoft.com/en-us/azure/devops/organizations/projects/restore-project?view=azure-devops (for example).
Then using the menu to go to "Set project visibility" or "Change service visibility":
![image](https://user-images.githubusercontent.com/7677974/73637264-318ba580-4668-11ea-9172-713a332006e4.png)

I hope you can do somet

[2020-02-03 10:26] Lawls91 opened #7141 "Unclear what the difference is between "pipeline resource" and "download""
Please can you clarify in the docs what the difference here is:

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=azure-devops&tabs=example

Why would I use the "download" task over "resource pipeline"? What are the benefits of "keyword pipeline"? what are the benefits of "DownloadPipelineArtifacts"?

What are the key use cases for both?

Are resources only allowed to

[2020-02-03 10:57] techsaau opened #7142 "Kubernetes service connection not working"
I'm working on AKS and Azure Devops for CI\CD pipeline. It seems this morning Microsoft updated "**Kubernetes service connection**" in Azure DevOps. I'm trying update current AKS connection with new KubeConfig and getting **serviceEndpointDetails.Authorization: null** error:

![image](https://user-images.githubusercontent.com/46290126/73647617-2a6e9280-467c-11ea-9cd2-eb841d278d20.png)

I got this

[2020-02-03 11:58] tehho opened #7143 "Unable to use variables"
How do one use resources.container.&lt;Alias&gt;.tag in yaml.
Could we get an echo example?
Have tried, $(resources.container.demo.tag), ${{resources.container.demo.tag}}, setting a variable to $(resources.container.demo.tag) and resources.container.demo.tag. Tyvm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0

[2020-02-03 13:35] pasedu7y opened #7144 "clone repo"
no info to clone Azure DevOps repo to Databricks, Can you add this feature, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b8a5b68-909f-126d-5f83-4659e0f55b85
* Version Independent ID: f71ca2b9-c00d-0b2b-34bc-63d11b3576db
* Content: [Clone an existing Git repo - Azure Repos](https://docs.microsoft.com/en-us/az

[2020-02-03 13:56] jimicze commented on #6637
How can i wrap it and associate them by command-line task ? because i need to connect to VSTS API to make some changes ..

[2020-02-03 13:59] jimicze opened #7145 "Associate test from JUnit report etc."
How can i associate test from JUnit report etc, with testcases in VSTS ? Now, i can link only PBIs, Features, etc. I cant do it directly to testcase itself and track our progress or test runs. I now, that could be done by API right ? So, if i am using Postman or TestCase, i should create API call for each method ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-02-03 14:19] AbhiAbzs commented on #2000
I'm also experiencing the same issue, even though I have turned on the pipeline permission.
Although this works when I use the classical mode for signing the apk.
![image](https://user-images.githubusercontent.com/29309508/73660362-0b90f000-46be-11ea-9395-8fa2afde2c87.png)

![image](https://user-images.githubusercontent.com/29309508/73660478-45fa8d00-46be-11ea-952a-4ac79d0a912e.png)

[2020-02-03 14:29] dsfrederic commented on #6915
@WilliamAntonRohm can you point us to the answer of his question

[2020-02-03 14:48] AlverezYari opened #7146 "Can you mark a pipeline a sucess even if you have a failing step?"
I'm curious if its possible to mark a pipeline step as not important enough that it flags the whole build pipeline as a failure it it does happen fail? I know you can mark step success as optional and keep the build going but we've got a linting checker step that we're developing which just happens a on a small section of our project and I'd like to be able to iterate on that step without marking

[2020-02-03 16:24] chcomley commented on #7015
Hi @mydiemho, We've updated the documentation, stating the following: "Creating new DevOps organizations is an expensive and infrequent operation that could be abused, so we've elected to not offer a REST API for that function." Please let me know if you have any further questions and thanks for reaching out.

[2020-02-03 16:24] #7015 closed

[2020-02-03 16:43] DanJ210 commented on #6994
@juliakm No I hadn't seen that section within that doc but I have seen that doc. Thank you for sharing.

The YAML you shared looks like the one I have in my original published app and I'm not really sure where that came from because I know I didn't create it. I had the pipeline created a couple years ago so I don't remember how I did it I just know that it was using the classic interface.

The par

[2020-02-03 16:51] KitoCoding opened #7147 "Unable to select more than 10 reuirements"
When trying to Select requirements based off a query, i am unable to select more than 10. Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e2cb79-709d-972b-6747-6d26c965fb2a
* Version Independent ID: d512ea69-a97a-e5ff-a804-6691c5dfe1e6
* Content: [Create test plans and suites - Azure Test Plans](https://d

[2020-02-03 18:37] #6850 closed

[2020-02-03 19:18] msebolt commented on #7112
@aufbakanleitung Thank you for the feedback, we're sorry for any confusion caused by the article steps.

Assigning this to the author for further review.

[2020-02-03 19:54] tfks commented on #6563
I got the changes already present message when directly targeting the source folder. The idea is that the build package is edited by this task so configuration is updated before test or deployment.

This worked for me (note the **/):

steps:
- task: FileTransform@1
  displayName: 'File Transform: appsettings.json'
  inputs:
    folderPath: '$(System.DefaultWorkingDirectory)'
    fileType: json

[2020-02-03 19:55] ivangeorgiev opened #7148 "Java pipeline template referred instead of Python"
Step 6 from Create a Python-specific pipeline to deploy to App Service refers to selecting "Maven package Java project Web App to Linux on Azure" on "Configure your pipeline". The correct one should be "Python to Linux Web App on Azure"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eefdcb17-b1e5-141c-aef8-36795c9983af

[2020-02-03 20:17] hintbw commented on #4241
This particular request seems to line up with the following Azure DevOps Roadmap item for Q2 of 2020 - https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1663893

[2020-02-03 21:10] msebolt commented on #7120
@person Thank you for the question, assigning this to the author for review.

For issues that go beyond the scope of the referenced content, feel free to raise the issue with the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

Or, for additional support options, see:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on St

[2020-02-03 21:36] msebolt commented on #7126
@cmeyertons Thank you for the question.

This issue is currently active in https://github.com/MicrosoftDocs/vsts-docs/issues/6242.

Please refer there if you have any additional comments and/or would like to check the status.

[2020-02-03 21:36] #7126 closed

[2020-02-03 21:39] msebolt commented on #7128
@p1johnson Thank you for the feedback.

Assigning this to the author for further review.

[2020-02-03 21:43] adamtuliper opened #7149 "PublishWebProjects and projects"
If the projects field is used but PublishWebProjects is missing, it defaults to true and tries to find a web project in the solution to publish, ignoring the 'projects' line. The docs should mention projects will be ignored if PublishWebProjects is true (or missing hence defaulting to true)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-02-03 22:23] kraigb commented on #7148
@N-Usha Looks like you're maintaining this article now, and likely introduced this error. Can you correct, and also mark yourself as the author?

[2020-02-03 23:55] ficocesari commented on #6456
I am also having this problem. @chasewilson any updates on this?
I am trying to use a private pip artifact in an Azure ML pipeline and I have no way to use it as a pip requirement in the conda environment.yaml file

[2020-02-04 00:15] jdkemme commented on #6747
if you don't want the variables to be prefixed with the step name, drop the isOutput=true, as it shows in the first example at https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cpowershell#set-variables-in-scripts
isOutput is only needed if you want to reference the variable in a subsequent job, not task.

[2020-02-04 03:16] dpaulino opened #7150 "Are these client libraries supported in UWP?"
UWP can use any .NET Standard 2.0 libraries, so theoretically, these should work. However, I would like confirmation from someone. Can anyone confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-fcb81bcb2257
* Version Independent ID: 57c127da-2b1e-d29e-9abb-a3c258762ccf
* Content: [.NET Clien

[2020-02-04 04:01] iamsrivatsa commented on #6735
The document has been updated and I'll be closing the issue. Thank you for the feedback and feel free to open a new issue if you have any more feedback.

[2020-02-04 04:01] #6735 closed

[2020-02-04 07:06] msebolt commented on #7137
@MarkWTW Thank you for the feedback.

Please provide a link to the article in question and we will assign this to the author.

[2020-02-04 08:01] sebader commented on #6747
thank you so much @jdkemme ! That was in fact the issue for me. I hadn't noticed that before. I set it now to false and all is good.

[2020-02-04 08:01] #6747 closed

[2020-02-04 08:02] dpaulino commented on #7150
I performed some testing. The nuget packages can be added to a UWP project, but when you attempt to create a Store Upload Package, the Windows App Certification Kit will fail the package. The error is related to sni.dll not being in the app container.

Did some digging, and sni.dll is use by some Sql client package that the ADO nuget package is dependent on.

Thus, one cannot publish a UWP app to

[2020-02-04 08:32] joergho opened #7151 ".artifactignore file may not contain '+' characters"
[The Publish and Download Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops) page says:

Which is not true because the files may contain '+' characters as stated in https://developercommunity.visualstudio.com/content/problem/581881/artifact-publishing-fails-when-artifact-name-conta.html ("Closed - Lower Priority" with the brief explan

[2020-02-04 08:42] svaenn commented on #3702
@jlhjr I posted your question as a suggestion [here](https://developercommunity.visualstudio.com/idea/905525/reference-a-variable-group-dynamically-by-queue-ti.html)
@all: Maybe this will get some more attention if we vote it up there.

[2020-02-04 09:03] MarkWTW commented on #7137
original post updated to include link to document uri and section

[2020-02-04 09:21] thomasvehus opened #7152 "Move a work item to another project resets all states"
Under the section https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/remove-delete-work-items?view=azure-devops&tabs=browser#move-a-work-item-to-another-project

It says: "Also, the system automatically resets the State and Reason fields to the default initial values for the work item type that you move"

This behavior should be made optional (at least for State) to be able to preserve

[2020-02-04 10:44] cacti77 commented on #6915
I've found by trial and error that my dependent pipeline (B) is triggered even if the triggering pipeline (A) completes only partially successfully. However this might be because in the triggered pipeline I also have a `DownloadPipelineArtifact@2` task which downloads artifacts from the triggering pipeline and has this setting: `allowPartiallySucceededBuilds: true`.

[2020-02-04 12:55] dsfrederic commented on #6915
@cacti77 this is not expected behaviour! So a certain task can be a trigger as well?

Currently I'm not using the DownloadPipelineArtifact@2 task because I'm using a deployment job which will download all artifacts created in the resource pipeline.

Currently my setup is as follows:
build-pipeline.yml
[code]
release-pipeline.yml
[code]

[2020-02-04 13:44] wolszakp commented on #6753
I was running into the same issue.
I found solution over here:
https://developercommunity.visualstudio.com/content/problem/864701/pipeline-trigger-not-working-as-expressed-in-docum.html?childToView=897210#comment-897210

In shortcut, when I've changed defaultBranch in my dependent pipeline to my working branch
triggering start working.:
You need to go: Edit -> Triggers (3 dots in right upper corne

[2020-02-04 15:06] samvanbrussel opened #7153 "Document contains a typo with single brackets instead of double brackets around TOC"
'To create a table of contents, add a [_TOC_].' should be 'To create a table of contents, add a [[_TOC_]].'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9f92-6d2f3c5ac336
* Content: [Markdown syntax for wikis in Azure DevOps - Azure Dev

[2020-02-04 17:01] Sjark opened #7154 "Can you have the job "skip" instead of "fail" when no resource matches environment filter?"
If I add something like the following in yaml, it will fail if it can't find any resources with the tag taskservice:
[code]
Is there any ways to make it "skip" instead of throwing the following error?:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0

[2020-02-04 17:12] #6996 closed

[2020-02-04 18:37] holbizmetrics opened #7155 "Should be inserted as a hint. Could Potentially be mistaken as an error."
This string is wrong in case if variables are used in there.
Had to add an "$", so it should be:

using (HttpResponseMessage response = client.GetAsync(
                        $"https://dev.azure.com/{organization}/{project}/_apis/build/builds?api-version=5.0").Result)

when using variables. Note the "$" introduced at the beginning of the string.

---
#### Document Details

⚠ *Do not edit this se

[2020-02-04 18:45] qJake opened #7156 "Add Note Regarding Package Demotion"
There is no mention in this article regarding package demotion.

A user coming to this page should be able to view information on how to demote a package, and what platform(s) this operation is supported on.

For example, if there is no UI to demote a package or remove it from a view, a note should be added to this article. However, if it is possible to demote a package via an API request, then a

[2020-02-04 18:53] EvgeniiProkofevItomych commented on #3327
It's not yet implemented?

[2020-02-04 20:06] yycelik opened #7157 "The Kubernetes agent"
Azure agents can be use Kubernetes to run builds on a Kubernetes cluster. Such a feature would be really helpful. With that way, you can scale executions easily.

https://docs.gitlab.com/runner/executors/kubernetes.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47625b86-abd5-ee15-6d61-8bcf81861b96
* Version Indepe

[2020-02-04 20:52] dennismi opened #7158 "Broken link"
Hi

The link here: "Deploy: WinRM - IIS Web App Deployment" - Deploy the package. is broken.

It points to: https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppDeploy/README_IISAppDeploy.md

Regards
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7353b2d-ab02

[2020-02-04 22:07] nheinbaugh commented on #7145
Same question. I know (or am confident that the way exists) that I can manipulate test runs through the ADO API, but is the only way for me to associate a test case with the automated test to have my test framework call a helper method that indicates the success or failure of the test?

Is there any other way that I'm missing? It seems like a huge feature gap that JS based tests can't be linked up

[2020-02-04 23:28] mark-wilson opened #7159 "Artefacts is incorrectly spelled"
In the bulleted list at the top of this page, "Artefacts" is incorrectly spelled as "Artifacts"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2197a6a8-ecda-b647-6cbf-c08defccc54b
* Version Independent ID: c66fa15d-cb16-b734-d73b-701acf368f95
* Content: [Plan, code, collaborate, ship applications - Azure DevOps](https:

[2020-02-04 23:29] #7159 closed

[2020-02-04 23:29] mark-wilson commented on #7159
Turns out that this spelling is correct for the product name. May be a UK vs. US English thing...

[2020-02-04 23:57] nithinvenugopal opened #7160 "Variables does not display in UI"
Only if variables group is defined will appear in the Variables field in UI. If we define a global variable as below, it will not display in the UI before running the pipeline.
variables:
  configuration: debug
  platform: x64

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version

[2020-02-05 02:34] BiribiriJaNai commented on #4919
@romil07 thanks for the link but I've already read this document.
As to what I'm looking for, it's in my initial post:

it seems the UI for SSH service connection has been updated but a previous version looked like this:
![image](https://user-images.githubusercontent.com/29836717/73805256-73326280-47c6-11ea-815b-a2a0e10d185c.png)

See the "Upload SSH private key file..." link? It opened a popup si

[2020-02-05 03:06] Justin-DynamicD commented on #6964
only way i wa sable to get eh guid was to use the classic method to make a one-step pipeline, then saved it as yaml and took the GUID it assign :/

[2020-02-05 05:17] srivatsamarichi commented on #6760
@RothNRK Thanks for the feedback. Seems like you are referring the container registry types. Based on the types, there are arguments detailed in the document.
If you are using [ACR](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker-compose?view=azure-devops#azure-container-registry),
- then you have to use the `azureContainerRegistry` as your parameter.

If you are using a

[2020-02-05 05:19] iamsrivatsa commented on #6760
@RothNRK Thanks for the feedback. Seems like you are referring the container registry types. Based on the types, there are arguments detailed in the document.
If you are using [ACR](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker-compose?view=azure-devops#azure-container-registry),
- then you have to use the `azureContainerRegistry` as your parameter.

If you are using a

[2020-02-05 06:38] RoopeshNair commented on #7158
Raised a [PR#894](https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/894)

[2020-02-05 06:38] #7158 closed

[2020-02-05 06:51] waltervos commented on #6989
@DaRosenberg, any idea why this works:

[code]

... this doesn't:

[code]

But then, as you say, this does?

[code]

[2020-02-05 07:07] RoopeshNair commented on #7128
@ninallam

[2020-02-05 07:11] romil07 commented on #4919
@BiribiriJaNai Ok. As part of the UI refresh, the drag drop was probably not implemented.
@ashokirla Can you take a look at this ask and prioritize accordingly?

[2020-02-05 08:14] mszadziul87 commented on #3702
+1 on this!

[2020-02-05 08:43] RoopeshNair commented on #7131
@ninallam  - can you track this one

[2020-02-05 08:46] RoopeshNair commented on #7127
This is based on webdeploy (MSDeploy) tool. It drops a blank app_offline.htm to the root of application folder. It is not customizable. More [here](https://docs.microsoft.com/en-us/iis/publish/deploying-application-packages/taking-an-application-offline-before-publishing)

[2020-02-05 08:46] #7127 closed

[2020-02-05 08:49] sajisV5Framework opened #7161 "How to deal with a scenario where VM is behind a proxy, docker is installed in VM and run the self-hosted agent in docker"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2020-02-05 08:51] sajisV5Framework commented on #7161
We have tried with the following steps, but failed to run the agent inside the docker.

1. Created a .proxy file and inserted the proxy URL.
2. Build the docker image
3. Failed with running the docker container which is supposed to act as docker agent.

[2020-02-05 09:29] RoopeshNair commented on #7118
I tried with the template you suggested and I'm able to edit.

![image](https://user-images.githubusercontent.com/1370480/73828836-fc2db600-4827-11ea-85c6-ce50246458bc.png)
Click on the stage 1 and you can edit the text "Default Web Site" to whatever the website name is..

![image](https://user-images.githubusercontent.com/1370480/73828775-e15b4180-4827-11ea-9c7e-d89e77d51fb3.png)