[2020-11-24 23:47] #3565 closed

[2020-11-24 23:47] #3537 closed

[2020-11-24 23:47] cxwtool commented on #3531
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3531 closed

[2020-11-24 23:47] cxwtool commented on #3503
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3503 closed

[2020-11-24 23:47] cxwtool commented on #3501
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3501 closed

[2020-11-24 23:47] cxwtool commented on #3500
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] cxwtool commented on #3497
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3497 closed

[2020-11-24 23:47] cxwtool commented on #3460
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3460 closed

[2020-11-24 23:47] cxwtool commented on #3453
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3453 closed

[2020-11-24 23:47] cxwtool commented on #3450
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3450 closed

[2020-11-24 23:47] cxwtool commented on #3413
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3413 closed

[2020-11-24 23:47] cxwtool commented on #3375
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3375 closed

[2020-11-24 23:47] cxwtool commented on #3373
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3373 closed

[2020-11-24 23:47] cxwtool commented on #3352
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3352 closed

[2020-11-24 23:47] cxwtool commented on #3316
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3316 closed

[2020-11-24 23:47] cxwtool commented on #3315
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3315 closed

[2020-11-24 23:47] cxwtool commented on #3314
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3314 closed

[2020-11-24 23:47] cxwtool commented on #3309
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3309 closed

[2020-11-24 23:47] cxwtool commented on #3308
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:47] #3308 closed

[2020-11-24 23:47] cxwtool commented on #3305
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] cxwtool commented on #3290
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3290 closed

[2020-11-24 23:48] cxwtool commented on #3278
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3278 closed

[2020-11-24 23:48] cxwtool commented on #3270
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3270 closed

[2020-11-24 23:48] cxwtool commented on #3265
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] cxwtool commented on #3264
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3264 closed

[2020-11-24 23:48] cxwtool commented on #3262
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3262 closed

[2020-11-24 23:48] cxwtool commented on #3255
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3255 closed

[2020-11-24 23:48] cxwtool commented on #3254
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3254 closed

[2020-11-24 23:48] cxwtool commented on #3189
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3189 closed

[2020-11-24 23:48] cxwtool commented on #3187
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3187 closed

[2020-11-24 23:48] cxwtool commented on #3164
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3164 closed

[2020-11-24 23:48] cxwtool commented on #3163
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3163 closed

[2020-11-24 23:48] cxwtool commented on #3161
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3161 closed

[2020-11-24 23:48] cxwtool commented on #3148
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3148 closed

[2020-11-24 23:48] cxwtool commented on #3091
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3091 closed

[2020-11-24 23:48] cxwtool commented on #3089
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #3089 closed

[2020-11-24 23:48] cxwtool commented on #2987
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2987 closed

[2020-11-24 23:48] cxwtool commented on #2953
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2953 closed

[2020-11-24 23:48] cxwtool commented on #2949
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2949 closed

[2020-11-24 23:48] cxwtool commented on #2914
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] cxwtool commented on #2901
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2901 closed

[2020-11-24 23:48] cxwtool commented on #2869
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2869 closed

[2020-11-24 23:48] cxwtool commented on #2866
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2866 closed

[2020-11-24 23:48] cxwtool commented on #2721
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2721 closed

[2020-11-24 23:48] cxwtool commented on #2682
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2682 closed

[2020-11-24 23:48] gabrielmccoll commented on #6019
This isn't fixed

[2020-11-24 23:48] cxwtool commented on #2592
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2592 closed

[2020-11-24 23:48] cxwtool commented on #2567
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2567 closed

[2020-11-24 23:48] cxwtool commented on #2547
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2547 closed

[2020-11-24 23:48] cxwtool commented on #2496
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:48] #2496 closed

[2020-11-24 23:48] cxwtool commented on #2476
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2476 closed

[2020-11-24 23:49] cxwtool commented on #2474
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2474 closed

[2020-11-24 23:49] cxwtool commented on #2451
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2451 closed

[2020-11-24 23:49] cxwtool commented on #2441
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2441 closed

[2020-11-24 23:49] cxwtool commented on #2436
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2436 closed

[2020-11-24 23:49] cxwtool commented on #2365
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2365 closed

[2020-11-24 23:49] cxwtool commented on #2361
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2361 closed

[2020-11-24 23:49] cxwtool commented on #2350
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2350 closed

[2020-11-24 23:49] cxwtool commented on #2331
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2331 closed

[2020-11-24 23:49] cxwtool commented on #2254
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2254 closed

[2020-11-24 23:49] cxwtool commented on #2212
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2212 closed

[2020-11-24 23:49] cxwtool commented on #2207
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2207 closed

[2020-11-24 23:49] cxwtool commented on #2125
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] cxwtool commented on #1984
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #2125 closed

[2020-11-24 23:49] #1984 closed

[2020-11-24 23:49] cxwtool commented on #1915
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1915 closed

[2020-11-24 23:49] cxwtool commented on #1794
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1794 closed

[2020-11-24 23:49] cxwtool commented on #1753
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1753 closed

[2020-11-24 23:49] cxwtool commented on #1728
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1728 closed

[2020-11-24 23:49] cxwtool commented on #1713
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1713 closed

[2020-11-24 23:49] cxwtool commented on #1687
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1687 closed

[2020-11-24 23:49] cxwtool commented on #1681
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1681 closed

[2020-11-24 23:49] cxwtool commented on #1658
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1658 closed

[2020-11-24 23:49] cxwtool commented on #1656
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1656 closed

[2020-11-24 23:49] cxwtool commented on #1621
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1621 closed

[2020-11-24 23:49] cxwtool commented on #1599
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1599 closed

[2020-11-24 23:49] cxwtool commented on #1593
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1593 closed

[2020-11-24 23:49] cxwtool commented on #1574
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1574 closed

[2020-11-24 23:49] goblinfactory commented on #8446
Please tag this issue as "won't fix" instead of letting a bot close it as stale. If it has been fixed, then it would be courteous to please post a comment on where the fix can be found so that if anyone comes to this page because they searched for this exact error will find the correct resolution.

[2020-11-24 23:49] cxwtool commented on #1431
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1431 closed

[2020-11-24 23:49] cxwtool commented on #1394
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1394 closed

[2020-11-24 23:49] cxwtool commented on #1303
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:49] #1303 closed

[2020-11-24 23:49] cxwtool commented on #1269
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #1269 closed

[2020-11-24 23:50] cxwtool commented on #1259
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #1259 closed

[2020-11-24 23:50] cxwtool commented on #1077
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #1077 closed

[2020-11-24 23:50] cxwtool commented on #1040
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #1040 closed

[2020-11-24 23:50] cxwtool commented on #1017
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #1017 closed

[2020-11-24 23:50] cxwtool commented on #971
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #971 closed

[2020-11-24 23:50] cxwtool commented on #954
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #954 closed

[2020-11-24 23:50] cxwtool commented on #902
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #902 closed

[2020-11-24 23:50] cxwtool commented on #803
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #803 closed

[2020-11-24 23:50] cxwtool commented on #769
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #769 closed

[2020-11-24 23:50] cxwtool commented on #764
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #764 closed

[2020-11-24 23:50] cxwtool commented on #478
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #478 closed

[2020-11-24 23:50] cxwtool commented on #403
This issue hasn't been updated in more than 180 days, so we've closed it. If you feel the issue is still relevant and needs fixed, please reopen it and we'll take another look. We appreciate your feedback and apologize for any inconvenience.

[2020-11-24 23:50] #403 closed

[2020-11-24 23:53] JustinGrote commented on #6201
@msebolt can you confirm if @willsmythe is still active and if this needs to be assigned to a different person?

[2020-11-24 23:54] JustinGrote commented on #4450
@thomps23 any update on getting this updated?

[2020-11-24 23:57] abatishchev commented on #4714
Hi @mijacobs, @ramiMSFT do you know of the doc has been updated? 180 days passed since.

[2020-11-24 23:57] bennypowers commented on #8041
AFAIK this is still relevant

[2020-11-25 00:28] mijacobs commented on #5942
@ramiMSFT can you take a look? I believe the universal package might provide what iUnknwn is looking for.

[2020-11-25 00:32] TysonMN commented on #4714
I do feel like this issue still relevant.  I would reopen it, but I lack the permission, which is definitely inconvenient.

[2020-11-25 01:07] drdamour commented on #6765
Its still relevant but we arent given reopen permissions

[2020-11-25 02:40] cmeyertons commented on #7729
I think this should be fixed. It could cause the next person who runs into this not waste 2 hours.

[2020-11-25 03:37] MarkIannucci commented on #7494
@juliakm , can you please reopen.  This continues to be a problem.  See #8062 for another example of someone having similar problems with this theme (with fewer upvotes)

[2020-11-25 04:28] elsesiy commented on #5140
@cxwtool The issue has not been addressed and the docs are still outdated. Please do not close tickets without looking at them.

[2020-11-25 06:08] karataliu commented on #4308
'This issue hasn't been updated in more than 180 days' because no one answers. it's still a valid, can you repoen it?
@mijacobs  @ramiMSFT

[2020-11-25 06:29] M0ns1gn0r commented on #6434
Issue bankruptcy? Please reopen.

[2020-11-25 07:11] AaronLS commented on #6563
I'm just throwing my hat in the ring on this one to.  The JSON Variable Substitution section doesn't actually show how you accomplish the substitution.  It gives some preliminary information, skips how to actually setup the substitution, then goes right to showing a regular JSON config file which tells you nothing about how to setup substitution.  A complete example would have a JSON example prior

[2020-11-25 07:23] jamesmcroft commented on #4341
This is still an issue. The live docs page for building UWP apps in DevOps refers users to download a GitHub repo that doesn't exist.

[2020-11-25 07:37] henrybeen commented on #7924
Nevermind I guess..

[2020-11-25 07:50] carstenhag commented on #6885
Still no mention of bundles. Would be cool if the bot would first label it as stale, and then close it after some days, not just directly.

[2020-11-25 07:58] Kitwradr commented on #8422
Having the same issue, is there any fix for this?

[2020-11-25 08:15] lg2de commented on #3791
I would like to reopen, but I can't.
The issue is not stalled from user side but Microsoft side.

[2020-11-25 08:21] lennybacon commented on #3933
@thomps23 @andyjlewis has the information made it into any documentation?

[2020-11-25 08:36] yannduran commented on #3791
@lg2de

Is this **still** not exposed in VS 2019 16.8's "new Git experience"? I haven't looked yet?

[2020-11-25 08:54] o-o00o-o commented on #6597
This is still unclear and I'm still not able to get this to work or understand why due to the lack of this information. Please reopen

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: cxwtool <notifications@github.com>
Sent: Tuesday, November 24, 2020 11:35:53 PM
To: MicrosoftDocs/azure-devops-docs <azure-devops-docs@noreply.github.com>
Cc: Brett Gerhardi <bret

[2020-11-25 09:09] maxkoshevoi opened #9726 "Add -Suffix parameter to NuGet pack task"
As of now I need to use custom NuGet command to create nuget with suffix.
Could you add it as one of predefined parameters, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa37a3f-6551-16ad-e164-a4ac522cdaab
* Version Independent ID: a3fd6935-2b99-92ef-4eb3-3249fca01f8a
* Content: [NuGet restore, pack, and publ

[2020-11-25 10:10] blueelvis commented on #4171
Please reopen this.

[2020-11-25 10:12] blueelvis commented on #6349
This is still not fixed. Please reopen.

[2020-11-25 10:39] dazinator commented on #8081
Think this issue is still present..?

[2020-11-25 10:40] dazinator commented on #7114
think this should be reopened unless there is an update?

[2020-11-25 10:42] dazinator commented on #6969
think this is still an issue unless - I am unable to "re open" though.

[2020-11-25 10:43] dazinator commented on #5332
Looks like this was done based on latest documentation. Cheers

[2020-11-25 11:40] mkpankov commented on #3265
Hmmm, I think it was waiting for action on Azure Devops side?

[2020-11-25 12:34] alevincenzi opened #9727 "Bad character in overrideParameters gives error "empty key""
Hello

The property `overrideParameters` has en example with a bad character. We read:

[code]

but the dashes `–` are not valid characters to specify a key. The good ones are the `-`.

I did a copy and paste and it took me several runs to detect it. The pipe was saying there was an empty key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-11-25 13:11] ahelwer commented on #8246
Open?

[2020-11-25 13:37] cveld commented on #9231
For us we would like to read out the result of a stage to store it into a state store. Currently we are not able to read out the stage results, we are only able to read out job results.

The following variable mounts:
[code]

yield:
[code]

[2020-11-25 14:38] cveld commented on #9622
Then how can we map a stage result into a variable?
Neither stageDependencies.MyStage.result nor dependencies.MyStage.result seem to work.

[2020-11-25 14:41] mburumaxwell commented on #6880
@anraghun thanks for update. I see the docs now guide one to update the connection to `Use cluster admin credentials`. However, once a Service Connection is created by adding a resource to an environment, you cannot change that flag in the Project Settings.

Is this functionality that is expected to come in the future?

[2020-11-25 14:42] StingyJack commented on #5468
@msebolt  @WilliamAntonRohm  - I guess cxwtool is the new stalebot with the same community destructive feature of closing things as if the OP had abandoned them (I didnt).

Except that this one taunts me with a "please reopen it".
![image](https://user-images.githubusercontent.com/15381181/100242148-76880d80-2f02-11eb-9db7-20a227b5d271.png)

[2020-11-25 14:44] stewartadam commented on #6013
@apawast @msebolt Users don't have permissions to re-open issues on this repo, and you should probably configure the bot to not close issues when it's assigned to MSFT :)

[2020-11-25 14:44] stewartadam commented on #7276
@WilliamAntonRohm @steved0x Users don't have permissions to re-open issues on this repo, and you should probably configure the bot to not close issues when it's assigned to MSFT :)

[2020-11-25 14:52] acds commented on #4729
@cxwtool thats historical

We open up an issue for the Microsoft development lead (@shashban) they no longer respond so you close it.

It’s still an unresolved issue. We have a hack work around but would prefer this be fixed. SN is a MS strategic partner right?

If a tree falls in the woods..comes to mind?

[2020-11-25 14:53] acds commented on #7868
Please see comment here https://github.com/MicrosoftDocs/azure-devops-docs/issues/4729

[2020-11-25 14:59] ggirard07 commented on #7239
@cxwtool I really hope you are a bot and not a human... Do you think this issue looks like resolved when looking at the last messages?
No update in 180 days might be a good think to avoid all of the `+1` replies and keep the thread clean!

[2020-11-25 15:02] chris-codeflow commented on #9622
You can use stage to stage variable mappings using the syntax `stageDependencies.<stageName>.<jobName>.outputs['<stepName>.<variableName>']` and ensure you refer to the dependency in the `dependsOn` array.

Example:

[code]

[2020-11-25 15:29] anthraxn8b commented on #7239
This just means they are not able to handle the volume of Tickets.
The reason is either that they have to many bugs or to few support people...

[2020-11-25 16:17] HughDevlin commented on #7702
Please re-open. Kindly document the authenticationMechanism argument of the PowerShell on Target Machines task

[2020-11-25 16:20] martingbrown commented on #7614
This is still an issue.

[2020-11-25 16:23] StingyJack commented on #7510
@cxwtool  - this was waiting for MSFT. I didnt leave it idle

[2020-11-25 16:34] moswald commented on #6813
@juliakm Let's re-open this one. And when it comes time to update the docs, I'm available in Slack to chat about what needs to be done.

[2020-11-25 16:34] moswald commented on #5877
@juliakm Let's re-open this one. And when it comes time to update the docs, I'm available in Slack to chat about what needs to be done.

[2020-11-25 16:34] moswald commented on #4588
@juliakm Let's re-open this one. And when it comes time to update the docs, I'm available in Slack to chat about what needs to be done.

[2020-11-25 16:51] jennifermarsman opened #9728 "Steps to remove project admin are not valid"
I want to remove some project admins who have left the team.

On the page, it states that you can remove an admin by clicking an "x" to the right of their name.

I followed the steps (and I am a project admin so should have the proper permissions), but I do not see a UI with "x" to the right of the admin's name in my UI.  Was this UI updated and the screenshots not updated to reflect this?  How do

[2020-11-25 17:01] lg2de commented on #3791
I do not see any difference in the new git options.

[2020-11-25 17:16] obeyda opened #9729 "Variables in Variable Group not accessible when declared at stage level"
I have defined a variable group and set permissions to all pipelines,
And I updated my pipeline to something like this:

[code]
I have the variable `azureSubscription` defined in the variable group, but I get this error

[code]

However, when I add the variable group at the root level of my pipeline (before `Stages`) everything works fine

---
#### Document Details

⚠ *Do not edit this section. It

[2020-11-25 17:27] tashrifbillah opened #9730 "Organization settings tab is far below than shown"
All right, back on Azure--please see how far below the `Organization Settings` tab is contrary to [the proximity](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?toc=%2Fazure%2Fdevops%2Forganizations%2Ftoc.json&bc=%2Fazure%2Fdevops%2Forganizations%2Fbreadcrumb%2Ftoc.json&view=azure-devops&tabs=yaml%2Cbrowser#what-is-a-maintenance-job) shown in the page. Took me a good w

[2020-11-25 17:52] kaycoinsUSA opened #9731 "Publish Artifacts"
Permissions to import Artifacts
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34dc460-e0f4-ff01-3c09-1b40864de6c2
* Version Independent ID: 54f9b157-0ae5-e57a-3c1e-3ff58cbfc6f7
* Content: [Artifacts in Azure Pipelines - Azure Pipelines and TFS](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/artifact

[2020-11-25 17:54] juliakm commented on #7839
Closing this ticket. We added task.debug recently. See [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash#formatting-commands).

[2020-11-25 17:54] #7839 closed

[2020-11-25 18:06] mijacobs commented on #7729
@steved0x should this be assigned to someone else?

[2020-11-25 18:06] damianon opened #9732 "Command allows for custom values"
The command property aparently allows for custom docker commands (like rmi) apart from the predefined list that is listed in the docks. This is not clear from the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Con

[2020-11-25 18:11] mijacobs commented on #5140
@steved0x @juliakm @ramiMSFT --should we reassign this issue to someone else?
@elsesiy : Our docs are open for public contributions. If you're interested, you can add the missing info that you found. Otherwise, we'll find someone to fix it.

[2020-11-25 18:13] mijacobs commented on #4308
@ramiMSFT can you take a look?
@karataliu : We also accept contributions to the docs--if you'd like to see this updated sooner and have the info you need, please add the info and submit a PR. We have a team of PR reviewers standing by to help folks update the docs.

[2020-11-25 18:14] mijacobs commented on #4341
@ramiMSFT : can you take a look?
@jamesmcroft :  We also accept contributions to the docs--if you'd like to see this updated sooner and have the info you need, please add the info and submit a PR. We have a team of PR reviewers standing by to help folks update the docs.

[2020-11-25 18:16] mijacobs commented on #7924
@juliakm Can you take a look at this one?

[2020-11-25 18:17] mijacobs commented on #6885
@juliakm Can you take a look?

[2020-11-25 18:21] mijacobs commented on #6597
@chcomley Can you take a look at this one?

[2020-11-25 18:23] chcomley commented on #6597
@mijacobs, absolutely. Hi @o-o00o-o, I'm looking into this and will be in touch soon. Thank you for your feedback.

[2020-11-25 18:24] jamesmcroft commented on #4341
@mijacobs the problem isn't really in the doc itself, it's that the link provided reaches a private repo which has previously been mentioned.

I don't think there is another Microsoft sample UWP app for this which would be appropriate.

I'd rather not want to rewrite the doc unless that is an option 😄

[2020-11-25 18:28] mijacobs commented on #4171
@blueelvis Issues aren't enabled for the REST API; this repo is for Azure DevOps conceptual docs.  Please check our conceptual docs for the info you're looking for:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser

For questions, you can also check with the  [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/

[2020-11-25 18:32] mijacobs commented on #3933
@ramiMSFT : Can you take a look?

[2020-11-25 18:33] mijacobs commented on #8081
@dazinator : For a faster answer to you question, check these resources:
- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

@juliakm Can you take a look?

[2020-11-25 18:42] mijacobs commented on #7114
@steved0x @juliakm @ramiMSFT is there someone else this should be assigned to?

[2020-11-25 18:44] mijacobs commented on #6969
@dazinator: We accept contributions--if you have the info that needs added to the doc, can you open a pull request against the article? We have a team standing by to review and accept PRs.

[2020-11-25 18:46] mijacobs commented on #3265
@steved0x @juliakm  @ramiMSFT  can you take a look--should this be assigned to someone else?

[2020-11-25 18:49] mijacobs commented on #8246
@ramiMSFT Can you take a look?
@ahelwer If you have the info that needs added to the doc, we accept contributors--if you open a PR to update the doc, we have team of reviewers standing by to review and accept your updates.

[2020-11-25 18:52] mijacobs commented on #5468
@StingyJack If you have info that you'd like added to the doc, we accept contributions--you can open a PR against the article. We have a team of folks standing by to review and approve PRs.

[2020-11-25 18:55] mijacobs commented on #6013
@stewartadam If you have the info you'd like to add to the article, can you open a PR? We have a team of folks standing by ready to review and approve contributions.

[2020-11-25 18:57] mijacobs commented on #7276
@steved0x can you take a look?

[2020-11-25 18:59] mijacobs commented on #4729
@acds For questions like these, please check out these resources:
- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on StackOverflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-11-25 19:05] mijacobs commented on #7868
@azooinmyluggage Can you take a look?

[2020-11-25 19:06] mijacobs commented on #7239
@steved0x Can you take a look at this?

[2020-11-25 19:09] mijacobs commented on #7702
@RoopeshNair can you take a look?
@steved0x @juliakm @ramiMSFT

[2020-11-25 19:10] ahelwer commented on #8246
I don't have the info because I couldn't figure out how to make it work from the docs.

[2020-11-25 19:27] mijacobs commented on #4341
Thanks, @jamesmcroft. @ramiMSFT, I have contacts on the UWP team if you need them.

[2020-11-25 19:31] mijacobs commented on #3791
@steved0x , can you take a look?

[2020-11-25 21:16] TiansuYu opened #9733 "Error when try to create storage container"
Error occurs when one tries to create a storage container following this guide.

input:
[code]
or
[code]
Error message:
[code]
I am new to Azure, how do you save the credentials in your environment or tag along per query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee5f1f5-f065-d2eb-5c6f-fa15eee79eed
* Version Inde

[2020-11-25 21:56] ramiMSFT commented on #4308
@karataliu My apologies for the delayed response. I will add that to the docs shortly.

[2020-11-25 22:17] chcomley commented on #6597
Hi @o-o00o-o,

I found this [old blog post](https://devblogs.microsoft.com/premier-developer/how-to-retrieve-all-work-items-associated-with-a-release-pipeline-using-azure-devops-api/#:~:text=Select%20your%20build%20pipeline%20definition,Click%20Save) that might be helpful.

Based on that post and this [stack overflow question](https://stackoverflow.com/questions/54336343/automatically-link-new-wor

[2020-11-25 22:32] stewartadam commented on #6013
https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/2468

Feedback around issue management still stands though, the bot is closing issues that haven't requested user input for inactivity and users cannot re-open them

[2020-11-25 22:53] mijacobs commented on #6013
Thanks for the feedback, @stewartadam, we'll take it into account as we refine our process.

[2020-11-25 23:00] StingyJack commented on #5468
Thanks @mijacobs, I'm familiar with that. I'm just perpetually busy and if I make an edit on this topic it will probably come with a hefty salty flavor and get rejected, but at this point I may be able to summon enough burn ointment to write something proper. Can you undo the evil action done by the cxwtool and reopen this so it can be linked against a PR?

[2020-11-25 23:16] #4308 closed

[2020-11-26 00:36] manivasm opened #9734 "Rest api for approvals and evnvironments"
This features are released long back. But still i couldnt find and documentation on rest api to access the log of approvals through environments for yaml pipeline ( for release pipeline approval documentation is available.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version In

[2020-11-26 02:03] atrauzzi commented on #3148
Yikes, that's a bad automation.

[2020-11-26 08:52] cveld commented on #9622
@chris-codeflow But how to work with the result of a stage? I understand how to reach out to output variables. But I still need to learn how to fetch the result of a stage.

The following variable mounts:
[code]

yield:
[code]

[2020-11-26 11:35] SychevIgor commented on #4712
@cxwtool @WilliamAntonRohm @msebolt @mijacobs @ramiMSFT Microsoft, did you fixed it or just closed? I don't see any changes!

[2020-11-26 11:36] SychevIgor commented on #4159
@cxwtool @shashankbarsin @azooinmyluggage could you fix this issue, not just close! 180 days without update from Microsoft side, not from my.

[2020-11-26 12:04] chris-codeflow commented on #9622
@cveld .  I did some testing and concluded that you CANNOT map stage results to variables, but you can map job results to variables, as follows:

[code]

This seems logical as you would naturally use _conditions_ for checking the result of a previous stage. I can't see an obvious use case for mapping a stage result to a variable.

[2020-11-26 12:48] howardjones opened #9735 "`AzureDevOps` does not exist as an option for Network Security Group service tags"
`AzureDevOps` does not exist as an option for Network Security Group service tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5a4cfa-aa84-9f0f-55f4-71ec4861c070
* Version Independent ID: d621620a-c924-03b1-8b43-f99c33e58bb8
* Content: [Add IP addresses and URLs to allow list - Azure DevOps](https://docs.microsoft

[2020-11-26 14:47] phatcher commented on #4421
Would have thought it would be better to fix this than leave it open for 18 months

[2020-11-26 20:06] StingyJack opened #9736 "The CXWTOOL bot is closing issues that have not been abandoned by the opener"
Its closing things that are awaiting response from any owner, member, or contributor.

Its the evil StaleBot/DockerDesktopBot reincarnated, and is community relationship destructive.

I had opened this originally in the azure docs repo as https://github.com/MicrosoftDocs/azure-docs/issues/66683#issuecomment-733868456 not realizing that the repo was slightly different.

[2020-11-26 23:25] A-AontwSR opened #9737 "Typo in YAML Deployment job Schema"
On this page , at the section [Deployment job](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema#deployment-job), the Schema is written as:
[code]
I think the last 2 lines are wrong. The last line should be gone and the next to last line should be:
[code]
That line is described in the next section [Steps](https://docs.microsoft.com

[2020-11-27 08:51] mslot commented on #7391
@cxwtool i have specifically requested info on the subject, because i cant find anything about it in the docs, so is there more info on this in the docs, or dont we want to include more info on the subject?

I cant see why we should close this, because i actually see it as relevant info to know when doing deployment through ARM.

[2020-11-27 08:52] mslot commented on #7130
@cxwtool i have specifically requested info on the subject, because i cant find anything about it in the docs, so is there more info on this in the docs, or dont we want to include more info on the subject?

I cant see why we should close this, because i actually see it as relevant info to know when doing deployment with DevOps.

[2020-11-27 09:29] tiaan-lg opened #9739 "Branch Filter not working"
Hi

I have connected the AZ Repos app to my slack and it works for ANY branch, but when I try to filter it to 1 specific branch the subscribe dropdown in the slack app doesn't show the branches in the repo.

Here is a screenshot of what I am experiencing

![image](https://user-images.githubusercontent.com/42767734/100433412-b6d2c180-30a3-11eb-8b88-a18441c2b4cf.png)

---
#### Document Details

⚠ *D

[2020-11-27 11:46] angularsen commented on #6634
@chcomley The `.order` file is added back every time a new sub-page is added. Is it possible to disable this feature? It would make sense to add `.order` file if someone intentionally moves a page up/down, but not when adding a new page.

[2020-11-27 13:26] latudor opened #9740 "Some subscriptions are missing from the list of subscriptions"
This piece of information is not viable for missing subscriptions when trying to create and ARM (automatic) service connection.

The reason why the subscription may not appear can be related to the MFA mechanism(which is not supported for accounts that want to create service connection). This should be pointed out in an alternative troubleshooting workaround scenario (either deactivate the MFA or

[2020-11-27 13:42] jcamu opened #9741 "Contact OnPremise Servers"
Hello,

We have installed a linux self hosted agent in our onPremise Network.
If we ping or curl from this vm others VM inside our internal network , it works.
But when we do it in the azure Pipeline which run on this agent, the script command failed.
A specific configuration is needed? How to contact onPRemise IP, url from Azure Pipeline?

Thanks.

Regards,

---
#### Document Details

⚠ *Do not e

[2020-11-27 15:08] Jawz84 opened #9742 "Contradictory documentation on arguments support for inline script"
[Enter feedback here]
This passage below seemingly contradicts itself where it concerns arguments for inline scripts, see below, arrows mine.

[code]

This leaves the reader with the question: so how _does_ one pass arguments to an inline script, if not via `ScriptArguments`?
I for one, still don't know, so I'm saving my inline script as a scriptfile now.

---
#### Document Details

⚠ *Do not edit

[2020-11-27 16:13] SibeeshVenu opened #9743 "How to add the PR tags in the Azure DevOps dashboard?"
How can I add the PR tags to the DevOps Dashboard? Any help is really appreciated.

![image](https://user-images.githubusercontent.com/4262147/100468016-d255c080-30d3-11eb-8d23-9cdb71527c07.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 514ba817-c404-380b-6c8d-67ea982e9a22
* Version Independent ID: 915a8f30-5192-8

[2020-11-27 18:16] m1ckr1sk opened #9744 "Reopening #2914 Better documentation for Test results files argument"
Reopening[ issue](https://github.com/MicrosoftDocs/azure-devops-docs/issues/2914) -   The documentation has still not been amended to reflect the tasks expected file delimitator.

[2020-11-27 18:19] StingyJack commented on #9736
Related issue for the stalebot https://github.com/MicrosoftDocs/azure-devops-docs/issues/3528

[2020-11-27 20:27] 3noch commented on #4187
The documentation is still wrong.

[2020-11-28 01:44] JFolberth opened #9746 "Outdated Content"
This page still leverages the classic build and releases vs the new YAML releases. Would be more benefical if it was updated with the new YAML Pipelines. This will better align with the Azure DevOps roadmap. I can provide some YAML of it would be beneficial to the community.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-11-28 02:39] BBI-YggyKing opened #9747 "Wildcard pattern reference is good, but when and where are wildcards expanded?"
Being able to use wildcards effectively requires not just knowing the wildcard syntax and expansion rules.
Where in the yaml schema can wildcards be used? At what stage in job execution are they expanded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd54e81-9a0c-c5e5-fb89-9534372805ff
* Version Independent ID: f3d49

[2020-11-28 11:28] ThomasPiskol opened #9748 "Missing dependsOn requirement for stage dependencies"
In the section "Use outputs in a different stage" there's a simple example for using variables across stages.
This example just works because there are only two stages defined.
In more complex scenarios, the usage of variables will not work until a dependency between the stages via `dependsOn` is added.

This is mentioned on the documentation about [Expressions](https://docs.microsoft.com/en-us/az

[2020-11-29 01:11] scp-mb opened #9750 "Adding SQL firewall rule during deployments is outdated and in some cases broken"
Documentation needs to be updated to reference newer versions of AzurePowerShell in order to use powershell core alongside the Az module and associated cmdlets instead of AzureRM or Azure modules.

In some cases, the provided scripts are even broken, for example:

`New-AzureRmSqlServerFirewallRule -ResourceGroupName $ResourceGroup -ServerName $ServerName -FirewallRuleName $AzureFirewallName -Start

[2020-11-29 02:26] lmmarsano commented on #9231
Thinking about this a bit more, I think a missed a subtlety of [macro expansion](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables#macro-syntax-variables).
Macro expansion gets

by replacing

its literal text I'm guessing.
In that case, at execution the pipeline replaces `$(rtStage)` & evaluates
[code]
a [job to job dependency across stages](https://docs.microsoft.com/en-us

[2020-11-29 14:10] divais commented on #9739
@ashokirla 👀

[2020-11-29 20:05] robtextrequest opened #9752 "Duplicate descriptions on inputs"
The SourceSlot and TargetSlot descriptions are both "(Required) The swap action directs destination slot's traffic to the source slot". I assume these should be different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07461b2-a8a2-ec6f-769b-14b384777be3
* Version Independent ID: 2c72f09d-b198-461c-fc0d-1c3bd0a870c4
*

[2020-11-30 01:02] QiMata opened #9753 "Git Version maybe wrong"
[Enter feedback here]

I think the stated minimum git version (2.9) should be 2.29?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c2716bd-7d12-138f-9839-77f2aa400deb
* Version Independent ID: 1dfa640a-7206-ba69-52a2-799402a751b3
* Content: [Deploy a build and release agent on macOS - Azure Pipelines](https://docs.mic

[2020-11-30 09:08] ueda-kohei1994 opened #9754 "Please add about the expiration date of the SSH key"
The customer wants documentation on the expiration date of the SSH key.
When you create an SSH key, the expiration date is set to 5 years after it is added.
There is no documentation that the SSH key is due for 5 years.
Please add it.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 64e85ff9-9add-d15c-e92f-02d7dd05e0f2
* Version Independent ID: 0cbd742

[2020-11-30 14:19] mattruma opened #9755 "Variable transformation not working for URL value"
I am trying to do a variable transformation for a variable with the value `https://MY_B2C_TENANT.b2clogin.com/MY_B2C_TENANT.onmicrosoft.com/B2C_1_SignUp_SignIn`.

![image](https://user-images.githubusercontent.com/188079/100620819-dad51380-32ec-11eb-84d8-4ce4d7c14090.png)

When I run it this way, the variable does not get substituted.

If I make the value `https://MY_B2C_TENANT.b2clogin.com/B2C_1_

[2020-11-30 17:46] msebolt commented on #9295
@kopetan-ms Thank you for contributing to the docs!

Please see [become a contributor](https://docs.microsoft.com/contribute) for further information.  Closing this issue now.

[2020-11-30 17:46] #9295 closed

[2020-11-30 17:52] msebolt commented on #9342
@davibe  Thank you for the feedback, upon review the author will determine if this requires a change to the documentation.

To solicit feedback for product issues, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and provide a link back to this issue.

[2020-11-30 17:53] #9356 closed

[2020-11-30 18:10] chcomley commented on #6597
Hi @o-o00o-o, Please let me know whether the previous links that I provided have helped. Thanks!

[2020-11-30 18:16] chcomley commented on #9614
Hi @jukkamaljanen, Thanks for your feedback and I'm sorry for the delayed response. The Edit in Repos button is only visible for Azure DevOps Server 2020 and Azure DevOps Services.  Are you using one of these versions?

[2020-11-30 18:19] msebolt commented on #9364
@iUnknwn Thank you for the feedback, assigning this to the author for further review.

In the meantime, please refer to [this post](https://stackoverflow.com/questions/63728950/azure-devops-policy-for-branch-creation) and use the prompt to [manually configure the permissions](https://docs.microsoft.com/azure/devops/repos/tfvc/git-permission-command?view=azure-devops).

A similar issue was posted i

[2020-11-30 18:25] steved0x commented on #9180
@lgmorand Sorry I just saw this one as referenced from https://github.com/MicrosoftDocs/azure-devops-docs/issues/9128, I'll go and double check, for this issue, I removed the ephemeral options from the script and added a note explaining they are only supported for certain skus.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops#create-the-scale-set
R

[2020-11-30 18:25] #9180 closed

[2020-11-30 18:33] msebolt commented on #9742
@Jawz84 Thank you for the feedback.

This issue was recently reported under https://github.com/MicrosoftDocs/azure-devops-docs/issues/9578.  Please refer there for further updates and/or comments.

[2020-11-30 18:33] #9742 closed

[2020-11-30 18:34] chcomley commented on #9533
Thank you for your feedback, @GreatBarrier86, and for including the fix! I've created a work item to address this. Once the PR is merged, this issue will automatically be closed. If you're interested, please consider [becoming a contributor to our docs](https://docs.microsoft.com/en-us/contribute/)!

[2020-11-30 18:35] Jawz84 commented on #9742
Thanks @msebolt !

[2020-11-30 18:38] KathrynEE commented on #9728
@jennifermarsman - The steps to remove a Project Administrator member is documented here: https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-project-collection-level-permissions?view=azure-devops&tabs=preview-page#remove-a-user-or-a-group. The steps are a bit different from removing a Team Administrator. Thank you for your inquiry.

[2020-11-30 18:38] #9728 closed

[2020-11-30 18:41] msebolt commented on #9689
@t-l-k  Thank you for the feedback, if there are any further issues please comment below.

Closing this issue now.

[2020-11-30 18:41] #9689 closed

[2020-11-30 18:42] #9695 closed

[2020-11-30 18:51] msebolt commented on #9744
@m1ckr1sk  Thank you for bringing this to our attention.  Issue reopened.

[2020-11-30 18:51] #9744 closed

[2020-11-30 18:57] KathrynEE commented on #9743
@SibeeshVenu - Thank you for your inquiry. I don't know of any widget that supports adding PR tags to the dashboard. You can request such a feature on our [Developer Community page](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-11-30 18:57] #9743 closed

[2020-11-30 19:07] msebolt commented on #9736
@StingyJack  Thank you for the feedback and apologies for any accidentally closed issues.

After reviewing the issues referenced above, one appears to have been resolved, another was a support request, and one has been reopened.

In the case of support requests, please either make the case for a specific change needed to the documentation, or use one of the following resources:

- [Azure DevOps co

[2020-11-30 19:07] #9736 closed

[2020-11-30 19:24] #9533 closed

[2020-11-30 19:46] KathrynEE commented on #9711
@someeint - From the image you show, Bugs are being managed as requirements. TO have Bugs that are Done show up on the Taskboard Done column, you need to track them as Tasks.

[2020-11-30 19:46] #9711 closed

[2020-11-30 19:50] KathrynEE commented on #9722
@Styxxy - Thank you for the correction. I'll update the article later today.

[2020-11-30 19:50] #9722 closed

[2020-11-30 21:29] lgmorand commented on #9180
@steved0x Perfect. Just tell me if you want me to run tests on my side too :)

[2020-11-30 21:33] o-o00o-o commented on #6597
Thanks for the links, they look interesting but still not entirely focused on my question of how the system determines which items are.in each release and.why would the system say that the same item.was in.multiple releases as per my original question.

This item has been outstanding for a really long time so I'm sorry but it will take me some time to create a time slot to parse the articles and r

[2020-11-30 21:38] chcomley commented on #9532
Hi @apfinger, Thanks for your feedback. This article rightly applies to TFS 2013 and on, however the UI for deleting a team project changed from 2013 to 2017, which is difficult to recreate. See the [release notes for September 03, 2013](https://docs.microsoft.com/en-us/azure/devops/release-notes/2013/sep-09-team-services). Please let me know if you have any questions about this. I'm closing this

[2020-11-30 21:38] #9532 closed

[2020-11-30 21:40] karlpdotcom opened #9756 "Out of date"
This page is out of date, and simply does not work for the latest versions of Xcode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9dd5174-b1b4-575f-5985-adf603fd772e
* Version Independent ID: b8b070c3-2972-2e0f-b675-0033f6d741c0
* Content: [Share your Xcode project with Git - Azure Repos](https://docs.microsoft.com/e

[2020-11-30 21:59] steved0x commented on #9128
@patrikn @lgmorand The article was updated August 28th and now has only 5 mentions of ephemeral storage, all within this updated section that explicitly calls out that your VM size must support it.  The rest of the article has also had some updates so I am going to run through the script and ensure that it is up to date (since the feature and the article have had several updates since then)

https

[2020-11-30 22:06] steved0x commented on #9128
I just ran the script in the article and verified it working. Please reopen this issue or post a new one if the latest version isn't working for you. Thank you.

[2020-11-30 22:06] #9128 closed

[2020-11-30 23:41] MubDubs opened #9757 "Duplicate entry on page"
There is a duplicate paragraph of text on this page.
![image](https://user-images.githubusercontent.com/75283373/100678648-a6d50f00-333b-11eb-87d3-ba7071aaa1bd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e29-ff3f-cbea4a6eb24d
* Version Independent ID: 695d975e-ea9b-139b-4f98-f9655a751f59
* Conten

[2020-12-01 00:03] KathrynEE commented on #9757
@MubDubs - Thank you for the correction. I'll update the article later today.

[2020-12-01 00:03] #9757 closed

[2020-12-01 00:05] KathrynEE commented on #9643
@jaylvee - Thank you for the feedback. Since this is a product issue, please file a feature request or issue on our [Developer Community page](https://developercommunity.visualstudio.com/spaces/21/index.html). Closing this issue as it isn't a doc issue.

[2020-12-01 00:05] #9643 closed

[2020-12-01 00:11] KathrynEE commented on #9583
@GuestBadge - Thank you for the correction. I'll update the article accordingly later today.

[2020-12-01 00:11] #9583 closed

[2020-12-01 00:16] KathrynEE commented on #9527
@Miles-Davies-HORIBA - Thank you for this feedback and solution. Sorry for the delayed response. I've added an item to my backlog and look forward to updating this article within the next few weeks.

[2020-12-01 00:16] #9527 closed

[2020-12-01 00:20] KathrynEE commented on #9610
@brett3210  - Thank you for this feedback and solution. I've added an item to my backlog and look forward to updating this article within the next few weeks.

[2020-12-01 00:20] #9610 closed

[2020-12-01 00:24] KathrynEE commented on #9681
@patridge -  Thank you for this feedback. I've added an item to my backlog and look forward to updating this article within the next few weeks.

[2020-12-01 00:24] #9681 closed

[2020-12-01 00:53] KathrynEE commented on #8760
@blouwagie  - Thank you for this feedback. And apologies for the delay. I agree that more information should be provided. I'll work to get this article updated within the next few weeks.

[2020-12-01 00:53] #8760 closed

[2020-12-01 00:57] KathrynEE commented on #8550
@farinhate - Thank you for the feedback. I'll update the article later today.

[2020-12-01 00:57] #8550 closed

[2020-12-01 02:16] natilux2 commented on #7105
@vtbassmatt Can you guide how to configure the agent to run pls? I got the same issue but cant resolve it

[2020-12-01 02:57] StingyJack commented on #9736
3305 and 7150 aren't resolved. I don't know if 7468 is resolved now, it wasn't when I left the org I reported it under. As a user I'm not going to really know when something is missing from a program or from it's docs. It would be great if you had tools at your disposal to do that proper routing.

[2020-12-01 11:22] jukkamaljanen commented on #9614
Hi, thanks for your reply.

I'm using Azure DevOps, it's hosted in name-i-picked.visualstudio.com. I've been using one repo for Wiki and documentation, and another for source code. I recently enabled some branch policies to prevent commits into master (default branch) in the source code repo and then tried to edit a Wiki page. I got error `Pushes to this branch is not permitted. Please continue wi

[2020-12-01 11:42] dotnetstep opened #9759 "Git has new credential manager called manager-core. Is there any change after this ?"
Recently I have installed new version of git for windows.

Things I have mention over here.
https://stackoverflow.com/questions/65085379/disable-git-credential-manager-for-windows-from-visual-studio-2019

After installing new version that popup  keeps coming. Now if I provided official credential of my Azure devops then it is not working. I have to generate PAT and then in this box I have to add u

[2020-12-01 14:26] AlexDenton commented on #9698
Still curious about this. Anything that can be shared?

[2020-12-01 16:06] estebanes22 commented on #3834
I wonder if there's any 3rd party extensions out there for this. This is a real pain.

[2020-12-01 16:30] sscarduzio opened #9760 "How to download multiple secret fles inputs?"
[Enter feedback here]
Can you create an example for multiple secret files? I.e. multiple "inputs"

My use case is that I have to download and symlink multiple files. Do I need to have two tasks? Or I can use only one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5f8376-3654-0ed4-d9f8-d15f28350783
* Version Independ

[2020-12-01 19:27] BenLeggiero commented on #5680
I feel it's still important. I think the build pipeline here is focused on iOS, but I encountered this while working on a macOS app. Perhaps that is the core, and might mean that macOS apps cannot be built on ADO. This seems like a big hole in the product, especially as Apple is shifting focus to their Macs

[2020-12-01 19:52] Tyler-Angell opened #9762 "Classic Multi-Job-Configuration Minimum number of elements?"
#### Explanation

When using classic configuration, for multi-configuration I specified a variable with comma separated values and it split the way I expected it to. However, when I remove the values from the variable so that there are no elements to multiply over I would expect the task to be skipped, however, the task ran with injecting an empty value causing the task to fail. This an unexpected

[2020-12-01 20:20] juliakm commented on #9631
To get to the Trigger Issues menu item, go to the pipeline runs page. Then, open the menu with three dots. If your pipeline supports Trigger Issues, you should see that as an option. Here's what it looks like for me. I'll also update the docs.

![triggermenu](https://user-images.githubusercontent.com/64906/100792511-bbbbac00-33e8-11eb-9518-0221327b9456.png)

[2020-12-01 21:55] ynambiar commented on #7241
@iamthemoon-git no, we ended up manually updating our service connections.

[2020-12-01 21:57] #5468 closed

[2020-12-01 23:10] Anand-Moghe opened #9763 "Is it possible to use self-hosted agent for build and testing iOS, ipadOS, tvOS, and watchOS Apps?"
Is it possible to use self-hosted agent for building and testing iOS, ipadOS, tvOS, and watchOS Apps?
Otherwise what options are available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c2716bd-7d12-138f-9839-77f2aa400deb
* Version Independent ID: 1dfa640a-7206-ba69-52a2-799402a751b3
* Content: [Deploy a build and re

[2020-12-02 01:13] james-and opened #9764 "fistproject"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabbd5e2-993f-89da-665f-f39ab63d7c42
* Version Independent ID: 493c2582-69a4-1bbe-03b5-0bb5f1d41aed
* Content: [Review code coverage - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-code-coverage-results?view=azur

[2020-12-02 03:03] jane-king opened #9765 "Add WebLOAD to the alternatives list"
Can you add RadView WebLOAD (https://www.radview.com/) to the list of alternatives?

"If you use code-based tests for load testing and .NET is your platform of choice then tools such as Neoload, Micro Focus Silk Performer, Micro Focus Load Runner and RadView WebLOAD are options to consider."

  Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-12-02 08:45] Japollack opened #9766 "Get SVN authors command does not work"
I get **bash: syntax error near unexpected token `('** when I run the following command:

svn.exe log --quiet | ? { $_ -notlike '-*' } | % { "{0} = {0} <{0}>" -f ($_ -split ' \| ')[1] } | Select-Object -Unique | Out-File 'authors-transform.txt'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd6cbc8-5e3b-c3a1-4672-d425

[2020-12-02 13:12] mesari commented on #7317
Thank you. Indeed I think that the Microsoft doc's note :
"Note: The Extractor supports only limited artifacts and work item types and so it should not be considered as a migration tool for moving projects from one server to another. For what's supported and what's not supported, see the limitations section"(https://docs.microsoft.com/en-us/azure/devops/demo-gen/build-your-own-template?toc=%2Fazur

[2020-12-02 13:48] mattruma commented on #9755
It's very sporadic, sometimes it works, sometimes it doesn't.

[2020-12-02 14:00] albpal commented on #7586
Same here. I would like to use different groups variables per stage/environment

[2020-12-02 14:06] albpal commented on #8755
@tomkuijsten did you find a workaround to do that?

[2020-12-02 14:25] cveld opened #9767 "Key Vault integration"
What is your guidance on Key Vault integration? What is the best way to create a keypair inside a pipeline and store it into Key Vault? And thereafter, consume it from the Key Vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce9d017-fc43-c904-d94b-87cf91265ffc
* Version Independent ID: ecf3b0b7-6c2c-1cd9-33a9-2cf

[2020-12-02 16:03] JFolberth commented on #9746
Any update on this?  More than willing to help get it turned around faster to help others out.

[2020-12-02 16:24] juliakm commented on #8049
@Thilas I checked with the product team and there is not a way to check if a template parameter is enumerable or not. The intent is to have template parameters stick to a single data type.

[2020-12-02 16:24] #8049 closed

[2020-12-02 16:26] kmadof opened #9768 "Explain what is inside resources.repositories context"
This is somehow related to [Getting ref of non-self repo causes exception](https://github.com/MicrosoftDocs/azure-devops-docs/pull/9758) but it touches the issue from broader context. It would be good if someone explain what information and how can we get from  `resources.repositories` context as the example given in docs produces error on validatin pipeline.

[2020-12-02 16:27] #9205 closed

[2020-12-02 16:28] pinkfloydx33 commented on #7445
The resource and the namespace are the same thing. The example (in the documentation) **creates** the namespace inside of a deployment job that is referring to it as part of the environment name. This is a chicken-and-egg scenario. It seems like the intention is to create a new namespace per PR (perhaps named after the PR itself), yet that is impossible as Azure Devops won't run the pipeline witho

[2020-12-02 16:34] juliakm commented on #9488
Thanks @CZEMacLeod! You are right. Updating the docs now.

[2020-12-02 16:43] #9488 closed

[2020-12-02 17:01] msebolt commented on #9365
@mikerunnals Thank you for using **Microsoft Docs**!

Unfortunately this will require use of the [Publish Code Coverage Results](https://docs.microsoft.com/azure/devops/pipelines/tasks/test/publish-code-coverage-results) task with the `cobertura` option.

For additional feedback, please consider moving the issue to [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues)

[2020-12-02 17:06] scp-mb commented on #9631
@juliakm What defines a pipeline as supporting trigger issues? That option doesn't show for any of our pipelines, yaml or classic, CI or CD. None of them it seems. You also seem to have export options that aren't present?

Classic CI
![image](https://user-images.githubusercontent.com/52526733/100905850-6eab0900-34c0-11eb-8e9a-9b960a05c63c.png)

YAML CI / CD
![image](https://user-images.githubuserc

[2020-12-02 17:26] mossywell opened #9769 "Inconsistent indentation in the example"
In the example, under the section "Parameters to select a template at runtime", the 2 conditional steps have been indented. Although this is valid YAML, all other examples on the MS pages indent the dictionary items to the same level as "steps", so moving each of the lines following "steps:" would be more consistent.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. I

[2020-12-02 18:27] msebolt commented on #9369
@dandynamite Thank you for the feedback, please refer to [this post](https://developercommunity.visualstudio.com/idea/365579/work-item-template-or-clone-including-subtasks.html) on the latest supported feature set.

Otherwise, to solicit additional feedback from the product team, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.vis

[2020-12-02 19:04] spowser commented on #9631
@scp-mb This was also my next question.  What constitutes a supported pipeline?  I have pipeline resource triggers so I would think this should qualify?

[2020-12-02 19:12] KathrynEE commented on #9369
@dandynamite - The best guidance currently is provided here: https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/work-item-template?view=azure-devops&tabs=browser#how-do-i-create-a-template-with-links-to-other-work-items.

[2020-12-02 19:12] #9369 closed

[2020-12-02 19:37] pinkfloydx33 commented on #6880
I was able to solve this. If you've manually linked a cluster into an environment, delete the resource. Then create a new service connection _manually_ and set the `Use cluster admin credentials` checkbox.  Take note of the following pieces of information:

- Environment Id (numeric)
- Service Connection Resource Id (GUID)

Now, use the Azure DevOps API to re-create the resource within the environ

[2020-12-02 20:27] msebolt commented on #4621
Change has been made, PR pending review.

[2020-12-02 20:31] msebolt commented on #8983
Understood, unfortunately issues in this repo can only cover documentation concerns.

As for product gaps and/or other related issues please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and provide a link back to this issue.

Closing this issue now.

[2020-12-02 20:31] #8983 closed

[2020-12-02 20:32] msebolt commented on #9095
Closing this issue now.  For any concerns with the documentation please comment below.

[2020-12-02 20:32] #9095 closed

[2020-12-02 20:33] HughDevlin commented on #7705
Please re-open.

Please document the  workingDirectory argument of the PowerShell on Target Machines task.

[2020-12-02 20:38] HughDevlin commented on #7703
Please re-open this issue.

Please document the default values for the arguments to the PowerShell on Target Machines task, in particular for optional arguments.

[2020-12-02 20:41] HughDevlin commented on #7617
Please re-open this issue.

Please add a link from this page to the open source Azure File Copy task repository, as with all other tasks.

[2020-12-02 20:46] HughDevlin commented on #7611
Please re-open this issue.

An "Azure Connection Type" is referenced in several contexts on this page.

Please define "Azure Connection Type" on first reference.

[2020-12-02 20:49] KathrynEE commented on #9566
@steved0x - I'm reassigning this to you and updating the metadata accordingly. Let me know if it should be otherwise.

[2020-12-02 20:50] HughDevlin commented on #7524
Please re-open this issue.

Please add a simple example of database creation without inline SQL.

[2020-12-02 20:59] HughDevlin commented on #7704
Please re-open this issue.

Please add a simple working example.

[2020-12-02 21:03] HughDevlin commented on #7374
Please re-open this issue.

Please add a simple working example.
Please add a simple example of uploading a secure file.

[2020-12-02 21:05] HughDevlin commented on #7373
Please re-open this issue.

Please document the default value for the rootDirectory argument.

[2020-12-02 21:07] HughDevlin commented on #7359
Please re-open this issue.

Please clarify the documentation for the WebAppKind argument.

[2020-12-02 21:10] HughDevlin commented on #7375
Please re-open this issue.

Successful task completion on a no-match is unexpected. Please optionally error out on no-match.

[2020-12-02 21:13] HughDevlin commented on #6993
Please re-open this issue.

Please clarify the example cited in the description of the Custom script directory argument.

[2020-12-02 21:15] HughDevlin commented on #6741
Please re-open this issue.

Please clarify the description of the runtimeStack argument.

[2020-12-02 21:17] HughDevlin commented on #6290
Please re-open this issue.

Please add a simple working example. Please add an example of supplying multiple lines of match patterns to the filePatterns argument.

[2020-12-02 21:51] ramiMSFT commented on #9746
@JFolberth Thank you for your feedback. A backlog item has been created to update the article to address the issue you've raised.

[2020-12-02 23:08] tomkuijsten commented on #8755
@albpal not a nice one. What we do is use 1 variable group and prefix all vars with the environment name, so dev-instrumentationKey, staging-instrumentationKey. It's lame, but it works.

[2020-12-03 00:06] iUnknwn commented on #5942
@mijacobs Universal packages do solve part of this problem (they enable us to create a bundle of binary data), but I do want to note they can't be used for releasing a binary to end users.

Consider, for example, that to access a universal package, a user must:
  - Install Azure CLI
  - Install the DevOps extension
  - Open a terminal, create a directory
  - Navigate to the artifact, copy a long s

[2020-12-03 01:56] BHoggs commented on #9614
@chcomley please re-open, I have the same issue. I'm also using Azure DevOps (cloud)

[2020-12-03 02:38] aeioaeu opened #9770 "Cannot be monitored"
But now it doesn't work.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1cddc0ae-93af-297c-2e71-334143ebee1e
* Version Independent ID: cb76e516-8471-c3e1-45f4-0a20a223f32a
* Content: [Create a service hook Microsoft Teams - Azure DevOps Server](https://docs.microsoft.com/ja-jp/azure/devops/service-hooks/services/teams?view=azure-devops)
* Content Sou

[2020-12-03 10:35] mrmojo666 commented on #8948
Thank you so much @chcomley for having added this important query to activate the datadog specific hook whitout any notice on this thread. It works!

![image](https://user-images.githubusercontent.com/3214102/100997952-386e9780-355b-11eb-87c9-28b2b91c4c7e.png)

[2020-12-03 10:54] dagtveit commented on #7586
Pheeew luckily i found this post quite quickly. completly agree that this needs to be fixed asap

[2020-12-03 10:56] dagtveit commented on #7586
but it seem to be working on job lvl.

[2020-12-03 12:15] giuliov opened #9772 "The `noCache` option is incorrect."
The `noCache` option adds the `--no-cache` flag to the `dotnet restore` command. [That documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore) states

and this is the behaviour one can see in detailed logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1d9884-19f7-592b-f47c-8cf100639ff0
* V

[2020-12-03 14:05] albpal commented on #7586
Another place where group variables are not properly managed is when downloading a secret file. The name couldn't be a group variable defined on the stage. Very annoying if you split your deployments like 1 stage -> 1 environment and use different credential files depending on a name defined in the group variable.

[2020-12-03 14:25] martingbrown commented on #7359
I don't really get why people use bots to close cases just because of how old they are. Just because no one has bothered to fix the issue does not mean it isn't an issue any more. Basically by closing old issues without giving a reason it gives the impression that no one cares that customers are having issues. I get the impression MS would rather we used GitHub instead of DevOps.

[2020-12-03 15:58] HughDevlin commented on #7359
I am working off of a paid in full subscription. I take time to report an issue with the docs. Agree, MS apparently feels if they can successfully ignore an issue for 6 months they can close it, too. I guess November 2020 was a banner month for doc quality thanks to the efforts of cxwtool. cxwtool is MS's most productive team member.

[2020-12-03 16:13] martingbrown commented on #7359
It wouldn't bother me so if we were allowed to simply reopen the tickets. Howey, all the tickets I've raised that had this happen, I didn't seem to have permission to reopen.

[2020-12-03 17:03] chcomley commented on #9614
Hi @amitkumariiit, can you please lend a hand with this issue? Is this a bug in the product? Thanks so much.

[2020-12-03 17:31] #9754 closed

[2020-12-03 17:55] vtbassmatt commented on #9364
At the "All repositories" level in your project settings, you can remove the "Contribute" permission for Contributors (set to "Not set"). This will allow contributors to create new branches (where they'll automatically gain "Contribute" as owner of the branch) but not to contribute to other's branches.

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/714283/101068476-c

[2020-12-03 17:55] #9364 closed

[2020-12-03 18:01] msebolt commented on #9562
@ZacBleningerTR Thank you for the feedback, assigning this to the author for further review.

@steved0x Please note a fix to the author's alias, also both seem to be mismatched.

[2020-12-03 18:38] erjaintarun opened #9774 "Kanban is misspelled to Kamban in top"
[Kanban is misspelled to Kamban in top
 Note

If your team is committed to practicing Kamban or Scrum methods, see instead About Boards and Kanban or the tutorials for implementing Scrum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9521d223-2617-ca56-585e-e4064d43ee7f
* Version Independent ID: aa9db125-f2b7-d191-712

[2020-12-03 18:49] KathrynEE commented on #9774
@erjaintarun - Thank you for the correction. Will update today.

[2020-12-03 18:49] #9774 closed

[2020-12-03 18:52] erjaintarun commented on #9774
My pleasure Kathryn.

[2020-12-03 19:49] sperezintexas opened #9776 "feature branch naming convention is not consistent"
[Enter feedback here]

the image and text do not match the image has "feature"
where as the kiss suggestion shows "features"

the topic branching strategy suggestions on this page are not consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe168fc3-2ed2-b3e6-ce30-cac721165ceb
* Version Independent ID: 8d63fbd7-1

[2020-12-03 20:04] msebolt commented on #9436
@phenixita Thank you for the feedback.

The examples seem to include quotation marks.

Is there a specific reference in particular where this is missing?  Perhaps the examples were already fixed?

[2020-12-03 20:08] msebolt commented on #9514
@QuadmanSWE Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-03 20:11] msebolt commented on #9524
@giespaepen Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-03 20:14] msebolt commented on #9764
@james-and  Thank you for the feedback.

If there any question or concerns with the documentation please comment below.

[2020-12-03 20:21] iUnknwn commented on #9364
@vtbassmatt - Thank you so much for the solution.

Is this in the DevOps documentation? I can't find anything in the docs covering this (I don't think there's anything where 'Not Set' is explained/recommended).

It would be great if this information could be added to the branch permissions info here: https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-permissions?view=azure-devops

[2020-12-04 03:07] FizzBuzz791 opened #9777 "Annotations documentation missing"
This task adds Release Annotations to Application Insights, but I can find absolutely no mention of it. In fact, the [official Annotations documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/annotations) doesn't mention this feature either.

Despite these omissions, the logs for the task indicate an annotation has been added;
![image](https://user-images.githubusercontent.com/2

[2020-12-04 07:23] tiaan-lg commented on #9739
Hi

Any update on this, please?

[2020-12-04 15:40] dave-yotta opened #9782 "expressions in $[ ] reqire spacing, some example don't have it"
There are examples like `myVar:$[eq(1,2)]` on this page.

However, the expression I have written:
[code]
is not evaluated unless it is written with spaces like this:
[code]

This is probabbly true across the board for compile and runtime expressions and all functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c5

[2020-12-04 16:27] vtbassmatt commented on #9364
@iUnknwn - "how permissions work" is documented here: https://docs.microsoft.com/en-us/azure/devops/organizations/security/about-permissions?view=azure-devops&tabs=preview-page#permission-settings. 💯 agree that we should link there from the branch-permissions topic. I'll take care of that.

[2020-12-04 17:41] MattTrinder1 opened #9783 "Access Token Script incorrect"
The Access token YAML script causes a compilation error when copied into a yaml build file.
 It needs to be

`- powershell: |
              $env:SYSTEM_ACCESSTOKEN = '$(System.AccessToken)'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d3469c-83c2-c2f6-41d0-08f82c330bbc
* Version Independent ID: a373c48d-6395-3002-

[2020-12-04 18:27] felixtsem5 opened #9784 "Unused work item tags not deleted within 3 days"
Under the [Delete, remove, or manage](https://docs.microsoft.com/en-us/azure/devops/boards/queries/add-tags-to-work-items?toc=%2Fazure%2Fdevops%2Fboards%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fboards%2Fbreadcrumb%2Ftoc.json&view=azure-devops#delete-remove-or-manage-tags) section, it says that

I tried assigning a tag to work items and then removed the tags from all of those work items. After 3 days, I s

[2020-12-04 19:29] KathrynEE commented on #9784
@felixtsem5  - Thank you for your inquiry. I checked with the product manager and he indicated that the 3 days can vary. I recommend that you wait possibly 5 to 6 days, and if the tags haven't been removed by that time, raise an issue on our [Developer Community page](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-04 19:29] #9784 closed

[2020-12-04 19:37] felixtsem5 commented on #9784
@KathrynEE - if the actual time is 5-6 days, can we please get the docs updated to reflect the actual time that it will take?

[2020-12-04 20:25] KathrynEE commented on #9784
@felixtsem5 - I'll make a note that it can vary. Thanks.

[2020-12-04 22:40] manivasm commented on #6751
any update on this.

[2020-12-04 22:48] toddbellMSFT opened #9785 "minor warning detail on nuget restore option"
TL;DR -  It may be worth considering appending to the parameter restoreNugetPackages' Optional comment, that it is deprecated and suggest the developer should use the restore nuget packages task [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#:~:text=Arguments%20%20%20%20Argument%20%20%20,the%20generat%20...%20%2020%20more%20rows%20) instead of

[2020-12-05 01:27] ramiMSFT commented on #9712
@cedricseah Thank you for your feedback. A backlog item has been created to address this issue.

[2020-12-05 01:27] #9712 closed

[2020-12-05 01:37] ramiMSFT commented on #9628
@LukePammant Thank you for your feedback. The following articles should guide you through publishing your symbols:
[Index Sources & Publish Symbols task: Classic](https://docs.microsoft.com/en-us/azure/devops/artifacts/symbols/setting-up-github-sourcelinking?view=azure-devops)
[Publish Symbols task: YAML](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/index-sources-publish-sym

[2020-12-05 01:37] #9628 closed

[2020-12-05 05:21] fhljys commented on #5179
I am already the administrators of the project but I still hit this issue. The issue starts around 11/17. Feedback and IcM got no response.  What happened to Teams?

[2020-12-05 19:59] dmsehuang opened #9786 "How to secure the service hook subscription?"
Hello, I want to understand how to secure the service hook subscription that I created. Basically I want to disable the 'edit' function after the service hook is created. Reason being the service hook could contain an Azure Function code and I want to make it invisible to the user. Here's an example of Zapier service hook:
![image](https://user-images.githubusercontent.com/2761304/101262149-4ce498

[2020-12-06 20:19] Tkrogholt commented on #9687
Is it possible to preview exactly how it will look with CSS and html parsed from the markdown file? This seems like a pretty simple issue to start dipping into contributing, but none of the previews I am able to render includes the final processing of [!NOTE], [!div] and so forth, so it is difficult to verify that the issue is solved.

[2020-12-06 20:47] PBoraMSFT commented on #2914
Adding @shashban

[2020-12-07 00:34] stefanmatar commented on #8687
Hi! Any update on this?

[2020-12-07 05:35] csdaraujo opened #9791 "Arguments examples"
Hi!

There is no example on how to use `arguments` with custom variables. Could you add some, please? Also, a `bash` `scriptType` would be nice.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de3304e-98f9-bac0-3ccc-c65f68a89e87
* Version Independent ID: 8fb2f6a9-545d-dff1-ff86-974694a85054
* Content: [Azure C

[2020-12-07 10:08] amitkumariiit commented on #9614
Hi @jukkamaljanen,
I believe you are using the code wiki that you would have created by publishing the repository as a wiki.
Have you applied the reviewer branch policy like in below image.
Ideally, if such branch policy is applied then the Edit button on the wiki page should be disable and it won't allow you to edit the wiki itself. Can you please let us know your use case. Are you seeing the Edi

[2020-12-07 10:15] kmadof commented on #9768
@msebolt I just wonder if there is a chance to reach someone who may help with this. I'm keen to write documentation, however there is no public knowledge about this areas. I was trying to figure out what is avialable in this context, but

[code]

gave me nothing. Ideally it would be to get info like [this regarding dependencies](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expr

[2020-12-07 12:32] mariussm commented on #8143
For anyone finding this issue, having problems, this is how I made it work:

On the STAGE:

condition: eq(dependencies.Build_zip_plan.outputs['Build_portal_zip_files_terraform_plan.Check_Terraform_Plan.TFChangesPending'], 'yes')

I never got stageDependencies to work, but dependencies work just fine.

[2020-12-07 12:38] stevewarsa commented on #8687
I haven't tried the change yet as I'm busy with other things.  Hopefully soon.

[2020-12-07 12:51] mariussm commented on #8143
Here is a script I use as a step to analyze the TF plan in order to generate the above TFChangesPending variable:

[code]

[2020-12-07 13:50] DamianSuess opened #9792 "Upgrade pipelines-xamarin to use a vmImage for vs2019"
As a developer, I would like to use the latest Pipelines toolset for compatibility with projects. Currently, the [pipelines-xamarin](https://github.com/MicrosoftDocs/pipelines-xamarin) repo references ``vmImage: 'VS2017-Win2016'``. Please update the repo to use ``vs2019``.

For backward compatibility with WinPhone projects, a simple Tag could assist.

Thank you!
Again, great article. Keep up the g

[2020-12-07 14:38] felixtsem5 commented on #9784
On a Monday morning (6 days after I removed from the last work item), I found that the tag is indeed being removed from the system (can't find that in the tag list for querying). However, it is still being suggested when I try to add tags in the create/edit work item form. This can cause issues - mistyped tag is removed from the system but still suggested, and people can choose the mistyped tag ag

[2020-12-07 14:41] EricAllen-tr commented on #7753
Requesting a re-open of this issue. As of 2020-12-07, From a Visual Studio 2019 command prompt, typing `tf msdn get` and following the link to <q>phkelley's blog: tf get /remap</q> has a few redirects followed by a `404 page not found`. Can either the direct link in the documentation or the backing redirect at `go.microsoft.com` be updated to direct to the archived copy of the blog on `docs.micros

[2020-12-07 14:42] csdaraujo commented on #9791
I managed to use it like this:
[code]

[2020-12-07 15:24] scp-mb commented on #9631
@Court72 Requesting this be reopened please as the problem is still there. Seemingly nobody can find said page.

[2020-12-07 15:48] jukkamaljanen commented on #9614
I might have confused some terms here. Let's reset some assumptions.
1. I'm using Azure DevOps, thats hosted under mycompanyname.visualstudio.com. I registered it years ago.
2. I have many projects, but usually only one repository in a project. I use one project (let's call it project T) for source code and another for Wiki (it's M), which is for docs for that source code. This is not optimal, so

[2020-12-07 16:58] chk1 opened #9793 "Instructions and screenshots for creating PAT are outdated"
The instructions and screenshots listed under "Prepare permissions", "Authenticate with a personal access token (PAT)" are somewhat outdated. A few menu items have been moved and renamed, for example, in DevOps there is now a separate menu dropdown (left to the profile picture) which lists "Personal Access Tokens" so you don't have to go through the "Security" menu entry, etc.

Screenshot from the

[2020-12-07 18:36] #9215 closed

[2020-12-07 18:36] #9248 closed

[2020-12-07 18:36] #9264 closed

[2020-12-07 18:37] #9274 closed

[2020-12-07 18:38] #9764 closed

[2020-12-07 18:45] msebolt commented on #9277
@mohamed-shehata-m  Thank you for the feedback.

This issue has been previously reported under https://github.com/microsoft/azure-pipelines-tasks/issues/13159.  Please refer there for further updates.

Closing this issue now.

[2020-12-07 18:45] #9277 closed

[2020-12-07 19:11] NenoLoje opened #9794 "Doc issue: resources.pipeline.<Alias>.projectName does not exist"
The variable `resources.pipeline.<Alias>.projectName` does not exist.

Maybe it's only available in certain circumstances. In the case I tried, I was using a pipeline within the same repo (and thus from the same project).

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b015

[2020-12-07 19:12] msebolt commented on #9291
@jagwaran Thank you for the question.

Please refer to [this post](https://stackoverflow.com/questions/57485621/share-variables-across-stages-in-azure-devops-pipelines) on the current set of options for sharing variables across stages.

[2020-12-07 19:38] msebolt commented on #9310
@Danielovich Thank you for the feedback.

Per [this post](https://stackoverflow.com/questions/61081825/how-do-i-stop-dotnet-pack-building-the-project-in-azure-devops-no-build-doesn) there is an issue with `pack` arguments and you should use `dotnet custom` as a work around.

To solicit additional feedback from the product team, please move this to the [community](https://developercommunity.visuals

[2020-12-07 19:56] msebolt commented on #9316
@longjiabo Thank you for the question.

The simplest method is to use a .NET [web client](https://docs.microsoft.com/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client) and call the [service hook](https://docs.microsoft.com/rest/api/azure/devops/hooks/?view=azure-devops-rest-6.0) APIs.

To use a .NET API wrapper, please refer to [client libraries](https://docs.microsoft.com/azure

[2020-12-07 20:56] msebolt commented on #9324
@jereesh Thank you for the feedback and apologies for the issues.

Please see [this post](https://developercommunity.visualstudio.com/idea/1220091/need-testplanhttpclient-in-microsoftteamfoundation.html) so that the product team can properly prioritize the issue.

In the meantime, you'll need to use a [standard web API client](https://docs.microsoft.com/dotnet/csharp/tutorials/console-webapiclient

[2020-12-07 21:04] juliakm commented on #9631
@scp-mb  What version of Pipelines are you using?

[2020-12-07 21:17] msebolt commented on #9325
@DM2489  Thank you for the feedback and apologies for the inconvenience.

Unfortunately this feature is not yet supported.  To request this added, please use **Report a problem** or **Suggest a feature** in the [community](https://developercommunity.visualstudio.com/spaces/21/index.html) for additional feedback from the product team.

In the meantime, you can refer to [this post](https://stackover

[2020-12-07 21:32] msebolt commented on #9328
@hecflores  Thank you for the question.

Trigger options can vary depending on the type of repo you're using, please refer to [triggers](https://docs.microsoft.com/azure/devops/pipelines/build/triggers?view=azure-devops) for more information.

While branches are typically used to as a trigger, tags can be used as well, also in combination with something like `Build.SourceVersion` from [build varia

[2020-12-07 21:38] #9365 closed

[2020-12-07 21:49] msebolt commented on #9363
@jffaust Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-07 21:52] msebolt commented on #9333
@itsjusth Thank you for the question.

Please refer to [file matching patterns](https://docs.microsoft.com/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops) and if there are any further issues please comment below.

[2020-12-07 22:57] msebolt commented on #9334
@placidseven Thank you for the question.

Please refer to the [PowerShell FAQ](https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops#faq) on how to set [output variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-a-multi-job-output-variable).  There is also a recent post on this [here](https://

[2020-12-08 09:56] scp-mb commented on #9631
We're using the cloud hosted DevOps if that's what you're asking (not self hosting via DevOps Server). As far as I know that doesn't give us a specific "version" of pipelines?

[2020-12-08 10:39] DavorJ opened #9796 "SVN -> GIT documentation confusion"
In the documentation it is not explained why `--no-metadata` is necessary. According to [git-svn](https://git-scm.com/docs/git-svn#Documentation/git-svn.txt---no-metadata) it is not even recommended, which makes it even more confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd6cbc8-5e3b-c3a1-4672-d42510cc058b

[2020-12-08 10:54] DavorJ commented on #9796
While browsing I encountered a similar unresolved issue: #5132.

[2020-12-08 11:19] RaptorCZ commented on #5179
I have the same problem.

[2020-12-08 12:05] StavroulaSsi opened #9797 "Not supported for import"
Hello,

_"TF402584: Field rule attributes "for" or "not" aren't supported.
The "for" and "not" attributes are not supported at all for any field rule **for import** to Azure DevOps Services.
Review the FIELDS and WORKFLOW sections for the presence of "for" and "not" attributes and remove them."_

Here for example, it says that these attributes are not supported **for import**. Is this only for the

[2020-12-08 13:29] VectorBCO commented on #9723
should i provide any additional info?

[2020-12-08 14:31] jcamu commented on #9741
Any news?

If i read the documentation i understand that with the self hosted agent deployed on our onPremise network we could next from the Azure devops pipeline contact onPremise VM for REST API call in a script bash for instance .

I was expecting this to work without additional configuration, did i miss something?

Thanks.

[2020-12-08 15:40] csiebler commented on #6890
Yes totally agree, this would make it is so much easier to re-use templates with a `variables.yml`, rather than using the chatty parameters syntax...

[2020-12-08 16:28] jemag opened #9798 "document /var/run/docker.sock not usable with move to containerd"
The current example for using docker in a Kubernetes cluster will not be valid for clusters 1.19+, given the the transition from docker to containerd (cannot use /var/run/docker.sock).

It would be nice to document a new recommended approach for doing the same thing.

Here is what the kubernetes blog had to say on this:

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-12-08 16:51] AJelarcic commented on #3425
Why not add a zoom feature to the docked window? That would allow users the ability to shrink the screen so the text in each test case can be seen without having to scroll horizontally on each test step. This would be a huge time save for testers.

[2020-12-08 16:52] AJelarcic commented on #3425
----------------------------------------------------------

@klvnraju Why not add a zoom feature to the docked window? That would allow users the ability to shrink the screen so the text in each test case can be seen without having to scroll horizontally on each test step. This would be a huge time save for testers.

[2020-12-08 18:55] msebolt commented on #9336
@darren-j-mcleod Thank you for the question.

Please see if the permission `EditPolicies` is what you need, you can refer to [Permissions](https://docs.microsoft.com/azure/devops/organizations/security/namespace-reference?view=azure-devops) as a reference.

For something more granular, please move this to the [community](https://developercommunity.visualstudio.com/spaces/21/index.html) to solicit

[2020-12-08 19:13] msebolt commented on #9358
@eric-labelle Thank you for the feedback.

Unfortunately, this issue is still pending, see [here](https://developercommunity.visualstudio.com/idea/365864/add-upstream-sources-for-maven-feeds.html), or for the issue's latest status, please refer to [here](https://developercommunity.visualstudio.com/idea/658181/adding-custom-maven-feed-or-proxying-the-maven-rep.html).

For any documentation concerns

[2020-12-08 19:22] msebolt commented on #9361
@ChrisGibson1982 Thank you for the question.

A load balancer will be created by default along with the scale set, unless this option is explicitly set to empty, see [az vmss create](https://docs.microsoft.com/cli/azure/vmss?view=azure-cli-latest&preserve-view=true#az_vmss_create).

For additional issues and/or concerns please comment below.

[2020-12-08 19:43] msebolt commented on #9362
@michaldudak Thank you for the feedback.

Please see if the issue reported [here](https://developercommunity.visualstudio.com/content/problem/845394/yaml-pipeline-deployment-job-output-variables.html) addresses your issue.  The issue was recently confirmed and labelled as fixed.

If the issue remains or for any additional concerns please comment below.

[2020-12-08 19:46] msebolt commented on #9362
Another possibly related issue, https://github.com/MicrosoftDocs/azure-devops-docs/issues/9622.

[2020-12-08 20:02] msebolt commented on #9565
@collinkruger Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribut).

The documentation has been updated and is pending review.

[2020-12-08 20:08] msebolt commented on #9404
@afk013 Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-08 20:16] msebolt commented on #9401
@chriswoodle Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-08 20:20] #9562 closed

[2020-12-08 20:22] juliakm commented on #9562
Adding a more helpful link to the docs. We don't have the exact pricing in the docs but you can get to a spot to purchase more jobs (and see the cost for your organization) in organization settings.

[2020-12-08 20:26] eric-labelle commented on #9358
Allright @msebolt I'll follow linked issues.

[2020-12-08 20:26] spowser commented on #9631
It appears we are currently on Sprint 178
![image](https://user-images.githubusercontent.com/3085375/101537580-967eee80-3950-11eb-92f4-86c21ace3f10.png)

[2020-12-08 20:26] #9404 closed

[2020-12-08 20:33] WilliamAntonRohm commented on #7753
@EricAllen-tr -- Eric, thank you for the update.  The [destination link](https://docs.microsoft.com/archive/blogs/phkelley/tf-get-remap) in the article is still working for me.  It appears there may be a linkage issue between the command line and the documentation.

@DmitriyKirakosyan -- Dima, please look into this issue.

[2020-12-08 21:29] msebolt commented on #9396
@gintuoklis Thank you for the question.

You can use the [script](https://docs.microsoft.com/azure/devops/artifacts/tutorials/private-powershell-library?view=azure-devops#connecting-to-the-feed-as-a-powershell-repo) found at the end of the topic and combine this with a secret variable containing the PAT.

The resulting script can then be used in the basic [PowerShell](https://docs.microsoft.com/az

[2020-12-08 21:30] EricAllen-tr commented on #7753
In case it helps, the command line takes me to https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2013/fx7sdeyf(v=vs.120)?f1url=%3FappId%3DDev14IDEF1%26rd%3Dtrue%26l%3DEN-US%26k%3Dk(vs.tfc.sourcecontrol.CommandGet), which has a hyperlink to http://go.microsoft.com/fwlink/?linkid=253390, rather than the docs.microsoft.com @WilliamAntonRohm has above.

[2020-12-08 22:36] chcomley commented on #9282
Hi @seraphim72, You can use the CLI to manage users in Azure DevOps Server 2020. Perhaps I'll make that note a bit clearer, thanks for the feedback. Please feel free to @mention me if you have any further questions. Thanks again.

[2020-12-08 22:48] #9282 closed

[2020-12-08 23:38] ramiMSFT commented on #4714
@Zenexer My apologizes for the delayed response and thank you for your feedback. A backlog item has been created and I will be updating the article shortly . Filing the issue under the appropriate article will allow it to be triaged appropriately. This issue should've been filed under [.NET Core CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azur

[2020-12-08 23:59] ramiMSFT commented on #4341
@jamesmcroft My apologizes for the delayed response and thank you for your feedback. A backlog item has been created and I will be updating the article shortly.

[2020-12-09 00:00] ramiMSFT commented on #7114
@dazinator My apologizes for the delayed response and thank you for your feedback. A backlog item has been created and I will be updating the article shortly.

[2020-12-09 00:09] ramiMSFT commented on #6765
@drdamour My apologizes for the delayed response and thank you for your feedback. A backlog item has been created and I will be updating the article shortly.

[2020-12-09 00:21] ramiMSFT commented on #8246
@ahelwer My apologizes for the delayed response and thank you for your feedback. A backlog item has been created and I will be updating the article shortly.

[2020-12-09 00:27] msebolt commented on #9358
Interesting, possibly due to more restricted security settings...

![image](https://user-images.githubusercontent.com/6675884/101557429-da362000-3971-11eb-80d2-a79b18d8af0f.png)

(from https://www.ssllabs.com/ssltest/analyze.html?d=developercommunity.visualstudio.com)

Closing this issue now.

[2020-12-09 00:27] #9358 closed

[2020-12-09 00:28] bensgroi commented on #8578
@stevenvolckaert This fixed the issue for me, thanks! I was getting the same "could not delete service" error that @Satendrakumar-hatteland was getting.

[2020-12-09 06:00] amitkumariiit commented on #9614
Hi @jukkamaljanen
The branch policy that you have applied is for the all the repositories for the default branch. If that is applied, it means that any commit to the repository must go through a pull request. Basically it's a policy and because of this when you are attempting to commit (clicking save button on wiki edit page) you are getting that error. WIki is also backed by a hidden repo, so the

[2020-12-09 07:23] GaganDhamija3 opened #9800 "Schedule a Pipeline based on tag."
I am unable to schedule trigger on a pipeline based on tag, Please suggest what can be done. Thanks!
schedules:
- cron: '0 * * * *'
  displayName: Nightly Build
  tags:
    include:
    - v*
  always: true

![image](https://user-images.githubusercontent.com/75719950/101598005-8123c600-3a1d-11eb-92a0-c2679129af58.png)

[2020-12-09 09:34] quasarea opened #9801 "shortcuts"
There is no mention that it could be used as just:
[code]

please update both pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ecb-7ccf-5f49e6f2b425
* Content: [Download Pipeline Artifacts task - Azure Pipelines](https://docs.microsoft.co

[2020-12-09 10:40] TheFragen opened #9802 "Bug? Multiple states in "Proposed" not being honored by boards"
I have states under "Proposed" for my user stories that look like the following:
![image](https://user-images.githubusercontent.com/3875930/101619040-048bea00-3a13-11eb-8e7f-8bbd328c1d59.png)

However, whenever I change the first column/default column on a board, only the first state is allowed to be selected.
![image](https://user-images.githubusercontent.com/3875930/101619011-fc33af00-3a12-11eb-

[2020-12-09 12:13] Hamster-ZA opened #9803 "API Deprecated https://api.appcenter.ms/v0.1/apps/{owner_name}/{app_name}/release_uploads"
When executing this task we're receiving an error that the API is deprecated. I'm no longer able to find this task on the Marketplace.

My AppCentre connection in Azure Devops is set to use the URL https://api.appcenter.ms/v0.1, with an API token that continues to work for other endpoints at https://openapi.appcenter.ms/ where the API is also no mention of the API being deprecated.

[code]

---
##

[2020-12-09 12:48] melarsen opened #9804 "Unclear doc of use python task on self-hosted agent. What is the content of {tool files}?"
I followed the instructions on https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=azure-devops#how-can-i-configure-a-self-hosted-agent-to-use-this-task
I have a self-hosted linux build agent (ubuntu 18.04 LTS)
The content of the {tool files} in the x64 folder is unclear to me. What should be put here?

No matter what I try, my build pipeline fails with the s

[2020-12-09 14:20] vijayma commented on #6597
@o-o00o-o I agree that it would be good to add some docs on this topic. Meanwhile, I will try to explain this setting a bit more. When we establish traceability between work items and builds/releases, there are two aspects:

1. List the work items that were newly built as part of a build. This is an experience that you would find when looking at a build instance.
2. List the builds that this work

[2020-12-09 15:21] gscottwade commented on #5179
Same issue with me also and it was working until around middle of November 2020. I am a project admin also. Something broke with azuredevops connector in Teams channel.
error - Failed to find teams for this project that had the required permissions to create service hook.

[2020-12-09 15:26] fhljys commented on #5179
@chasewilson any idea? can we reactivate this issue?

[2020-12-09 17:02] chasewilson commented on #5179
I am actually not the author anymore however, I'll reeopen the issue and the issue will be reassigned to the correct Content Dev.

[2020-12-09 17:46] ganesh-kashid commented on #8411
Installing 10.18.0 did not solve my issue.
Finally solved by following below steps to bypass the node.exe downloading
1. Downloaded node.exe from https://nodejs.org/dist/v10.21.0/win-x64/node.exe and saved it in home folder i.e.
"C:\Users\<UserName>\azure-pipelines-task-lib\_download\node10\node.exe"
2. Updated "\<TaskName>\node_modules\azure-pipelines-task-lib\mock-test.js" and replaced function

[2020-12-09 17:50] EricAllen-tr opened #9807 "tf vc shelve command /new switch lacks documentation"
From a Visual Studio 2019 Command Prompt, `tf vc help shelve` yields the following, modulo some leading whitespace I'm having trouble quoting:

Issuing `tf vc msdn shelve` takes me to a VS2010 version of the page. Neither that version nor the current version of the page (from which this feedback was opened) documents the `/new` switch.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-09 17:55] librucha opened #9808 "AzureCLI@2 Task example"
On page is desribed argument `scriptType` as
_Select bash/pscore script when running on Linux agent or batch/ps/pscore script when running on Windows agent._
but in example is `ps`. What is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de3304e-98f9-bac0-3ccc-c65f68a89e87
* Version Independent ID: 8fb2f6a9-54

[2020-12-09 17:58] librucha commented on #9808
Oh I understood now. Corres value is one of `bash` `pscore` `ps` `batch` :D

[2020-12-09 17:58] #9808 closed

[2020-12-09 19:10] juliakm commented on #9769
This will be update shortly.

[2020-12-09 19:18] #9769 closed

[2020-12-09 19:37] KathrynEE commented on #9802
@TheFragen - Thank you for your query. The scenario you outline is as designed. I recommend that you move the Backlog state up in the list to have it be the first under the Proposed category. You can  then map it to the first column on the board.  The other proposed state, To Do, would then have to be mapped to another column you add to the board.

[2020-12-09 19:37] #9802 closed

[2020-12-09 19:45] TheFragen commented on #9802
That is very confusing and undocumented. It also means, is impossible og I want two boards that don't share any columns (especially not the first).

[2020-12-09 20:07] froens commented on #5179
We've got the same issue.

See this thread (the bottom):
https://developercommunity.visualstudio.com/content/problem/1239563/azure-devops-connector-in-ms-teams-yields-a-client.html

[2020-12-09 21:24] KathrynEE commented on #9802
@TheFragen - I will augement the article to clarify the limitations. You are correct that you can't have two different boards which have different states mapped to the first column. All workflow states must be mapped to a column on a board. The only way to do what I think you want, is to create two different work item types - such as User Story 1 and User Story 2 which you assign a single Proposed

[2020-12-09 21:53] chcomley commented on #9352
Hi @jffaust, I'm looking into this. Please accept my apology for the super delayed response!

[2020-12-09 21:54] chcomley commented on #9485
Hi @Skinner007, I apologize for the delayed response, but am looking into this. Thanks for your feedback.

[2020-12-09 21:57] chcomley commented on #9614
Hi @jukkamaljanen, Please let me know whether the information that Amit provided has cleared things up for you or whether you have further questions. Thank you!

[2020-12-09 22:50] ramiMSFT commented on #4714
#microsoft/azure-pipelines-tasks/issues/10507

[2020-12-09 22:53] ramiMSFT commented on #4714
microsoft/azure-pipelines-tasks#11315

[2020-12-09 22:54] chcomley commented on #9494
Hi @amitkumariiit, following up on this, please advise. Thanks very much!

[2020-12-09 23:10] #4714 closed

[2020-12-10 01:35] TysonMN commented on #4714
Why did @PRMerger8 close this issue?  I don't see any PRs linked to this issue.

[2020-12-10 05:21] amitkumariiit commented on #9494
Hi @ValocityPrinz,
We are at mermaid version 8.2.6 and with this version some of features doesn't work properly.
Thanks a lot for the suggestions to improve the wiki experience!  Can you please raise a [suggestion ticket](https://developercommunity.visualstudio.com/content/idea/post.html?space=21) for the same? It will help us in prioritising the suggestion.

[2020-12-10 07:52] jukkamaljanen commented on #9614
Hi @chcomley, the information has been useful and I have now achieved a way to edit my Wiki pages. You can close this issue if you wish, although I suggest you do some reviewing to your docs.

[2020-12-10 10:35] alfkonee opened #9809 "Use Variables in Content"
Is it Possible to Use Variables in the Content Section of the CopyFiles Task?? I'm asking cus I don't see any usage Examples where it being used??

Also I'm trying to copy a secure file with the Variable Name but it seems not to be working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f02378-b85b-d3a4-d3c8-f07d93536

[2020-12-10 16:35] #9291 closed

[2020-12-10 16:36] #9310 closed

[2020-12-10 16:36] #9316 closed

[2020-12-10 16:36] #9324 closed

[2020-12-10 16:36] #9325 closed

[2020-12-10 16:37] #9328 closed

[2020-12-10 16:37] #9333 closed

[2020-12-10 16:38] #9334 closed

[2020-12-10 16:38] #9336 closed

[2020-12-10 16:38] #9361 closed

[2020-12-10 16:39] #9362 closed

[2020-12-10 16:40] #9276 closed

[2020-12-10 16:41] #9320 closed

[2020-12-10 16:41] #9002 closed

[2020-12-10 16:41] #8478 closed

[2020-12-10 16:44] #9521 closed

[2020-12-10 16:45] devedse opened #9810 "Master still being used in documentation"
I recently started a new DevOps project and tried the samples from the Schedules builds page. However none of them worked. After strugling with this for about an hour or so I finally found out that the master branch has been changed to main.

It might be good to either put this down in the documentation somewhere or simply change it to main. (If we simply change it to main people are going to run

[2020-12-10 16:47] msebolt commented on #9436
Closing this issue now, please comment below if there are further issues.

[2020-12-10 16:47] #9436 closed

[2020-12-10 16:47] #9363 closed

[2020-12-10 16:47] #9401 closed

[2020-12-10 16:48] #9396 closed

[2020-12-10 16:49] #9514 closed

[2020-12-10 16:49] #9524 closed

[2020-12-10 17:22] brandonh-msft commented on #4714
Says closed via https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/2528

[2020-12-10 17:22] #9565 closed

[2020-12-10 17:41] chcomley commented on #9614
Hi @jukkamaljanen That's great to hear that you've been able to move forward with some clarity. I'll be closing this issue, and have created a user story for my backlog to review/refresh the wiki documentation set. Thanks so much for your feedback and have a great day!

[2020-12-10 17:41] #9614 closed

[2020-12-10 17:55] chcomley commented on #9494
Hi @ValocityPrinz, Per Amit's request for you to [create a suggestion ticket ](https://developercommunity.visualstudio.com/content/idea/post.html?space=21) for those feature enhancements, I'll be closing this issue. Please don't hesitate to reach out with any further documentation questions or concerns by @mentioning me. Thank you and hope you have a great remainder of 2020.

[2020-12-10 17:55] #9494 closed

[2020-12-10 17:56] TysonMN commented on #4714
I don't see that said anywhere and that link returns 404.

[2020-12-10 18:29] brandonh-msft commented on #4714
ah - k. Probably the internal pipeline for doc updates. Suffice to say you should see a change in the docs soon :)

[2020-12-10 18:40] TysonMN commented on #4714
Here is what I see.
![2020-12-10_12-39-23_416_chrome](https://user-images.githubusercontent.com/34664007/101815200-d1b22680-3ae4-11eb-9761-e796c8b7ba91.png)

[2020-12-10 20:10] brandonh-msft commented on #4714
Yeah that's just cuz the other repo is private. no worries :)

[2020-12-10 20:41] juliakm commented on #8844
Thanks @ahojman. There will be new examples shortly.

[2020-12-10 21:21] #8844 closed

[2020-12-10 22:26] msebolt commented on #9258
@kollol2k I apologize there are still issues.

Please see if logging out and back in fixes, as per [this issue](https://developercommunity.visualstudio.com/content/problem/309280/user-not-able-to-create-service-hooks.html).

Otherwise, please follow instructions per [this issue](https://developercommunity.visualstudio.com/content/problem/869916/service-hooks-access-denied.html) to see if it helps.

[2020-12-10 23:00] ngarg-panw commented on #4087
Hi,
I am also facing the same issue. For me, i had already updated the task versions as well to match with extension version, but still the users have to uninstall and install the new version.
Also, if they have existing pipelines, they will have to again add the tasks because now they have changed from @1 to @2. Should these things not happen automatically?

[2020-12-10 23:17] vvoinov opened #9812 "Add 'Delete All' functionality as one click btn for Recycle Bin"
The only way to clean up Recycle Bin of a feed is to use API which not very user-friendly. Would be great if there was an explicit functionality to remove all artifacts from Recycle Bin with one btn click.

[2020-12-11 02:42] JoseFMP opened #9814 "Instructions for private repos not working"
They are not working. Already over 6 months these instructions changed few times, still none of them working.

Issuing
[code]
Says:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069d650f-9948-2492-86d2-a5423ce043fb
* Version Independent ID: 9c95f2fb-44be-5dbb-be51-0c498ed692d2
* Content: [Go get support - Azure

[2020-12-11 03:44] martin389 opened #9815 "[azure-devops-docs] Review the external links to GitHub Actions documentation"
The following doc contains external links to GitHub Actions content on [docs.github.com](https://docs.github.com/):

- "Quickstart: trigger a pipeline run from GitHub Actions": [[Published article]](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/github-actions) - [[Markdown source]](https://github.com/MicrosoftDocs/azure-devops-docs/blob/master/docs/pipelines/ecosystems/github-

[2020-12-11 03:45] martin389 commented on #9815
👋 We'll be working on this with @juliakm.

[2020-12-11 04:18] pjivers-bom commented on #8474
I would also like to know what these properties are, and how to access them.

[2020-12-11 05:16] JoseFMP opened #9817 "What are we supposed to write in <user> ?"
Private repos with HTTPS: What are we supposed to replace the particle `<user>` with. Is nowhere specified and without it the solution cannot work . Is not obvious what should be in there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069d650f-9948-2492-86d2-a5423ce043fb
* Version Independent ID: 9c95f2fb-44be-5dbb-be

[2020-12-11 05:43] JoseFMP commented on #9814
I got to solve it.

Really, you **MUST** add to the instructions that `GOPRIVATE` environment variable has to contain `dev.azure.com` otherwise go will keep trying to check the checksums and you won't ever be able to install the packages. This is not obvious as this page intends to be quite comprehensive but without this you cannot success.

[2020-12-11 07:06] martin389 commented on #9815
Checked link:

- https://docs.github.com/en/github/getting-started-with-github/create-a-repo
   - Confirmed that this is the right link for this content 👍

[2020-12-11 07:34] xlight05 opened #9818 "In depth Documentation about Service Hook payload"
In REST API Documentation such as https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/list?view=azure-devops-rest-6.1 under the URI Parameters section it contains the indepth documentations about the fields that we are getting received including required, Data types and stuff.

However, When it comes to Service hook responses, I couldn't find anything similar to that. There is an e

[2020-12-11 07:52] PaulVrugt opened #9819 "Permissions for validation"
The documentation doesn't state what permissions a user needs to approve validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cdab75-b48a-ba18-11da-a50ed8e680a6
* Version Independent ID: 8422d73e-5a3f-91d6-edbc-ccd9c968cc9a
* Content: [Manual Validation task - Azure Pipelines](https://docs.microsoft.com/en-us/az

[2020-12-11 09:08] SeverinFriede opened #9820 "ref/heads/master should be renamed to ref/heads/main"
variable is called isMain but branch name is still master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Content: [Conditions - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/condition

[2020-12-11 11:01] jcamu commented on #9741
It was a misconfiguration issue not a documentatino issue.

Sorry.

Thanks.

[2020-12-11 11:01] #9741 closed

[2020-12-11 12:45] adriantorrie commented on #5738
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#pythonpipenv

[2020-12-11 13:44] baoduy commented on #5733
I think this is a problem as we need to be whitelist the IP of the entire region. The Microsoft Host Agent should be run under a smaller IP Range. Could you please provide the range of Azure DevOps only?

[2020-12-11 13:47] vtbassmatt commented on #9814
Thank you for persevering! We'll get your learnings captured in the docs so others don't have to struggle as hard. (Our Go experts, who helped us with the initial write-up, have all moved on to other places.)

[2020-12-11 13:47] vtbassmatt commented on #9814
@juliakm is this in your area?

[2020-12-11 13:49] vtbassmatt commented on #9817
Good find, I think `<user>` can be replaced with any non-empty string. This doc should say so!

[2020-12-11 13:52] vtbassmatt commented on #9814
Oh, sorry, this might be @steved0x

[2020-12-11 14:07] #9817 closed

[2020-12-11 16:53] mikeblakeuk opened #9821 "Why isn't PublishCodeCoverageResults@2 (Two) supported on windows-latest devops agents?"
Why isn't PublishCodeCoverageResults@2 (Two) supported on windows-latest devops agents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ac4ff4-9839-6a6d-8d20-a25084d221ef
* Version Independent ID: bd09f139-8e69-8ea1-6671-b7bba8e17c23
* Content: [Publish Code Coverage Results task - Azure Pipelines](https://docs.micros

[2020-12-11 18:36] rafaelsantosxp commented on #5179
I am project admin, and receive this message when i create a hook.
"Failed to find teams for this project that had the required permissions to create service hook."

[2020-12-11 20:39] juliakm commented on #9654
Hi @yahorsi. I checked with our developers and that variable is only set when you are trying to run a container which isn’t glibc-based, such as Alpine Linux. For most scenarios, the agent brings along its own copy of Node which is mounted at some well-known location (that can change).

[2020-12-11 20:39] #9654 closed

[2020-12-12 04:44] ethanx94 commented on #5179
Yes, everyone. and linking to the developer community has proved this has been an issue for at least 2 months now. How can we escalate this?

[2020-12-13 07:25] lwpamihiranga commented on #5179
Same here. I'm also having this issue

[2020-12-13 22:01] andersthorsen opened #9822 "Document that FileTransform may not do what one thinks..."
[Enter feedback here]

After trying to use this task to set a variable inside a .json file I found this case
ref https://github.com/microsoft/azure-pipelines-tasks/issues/12089 which indicate that the task is limited to web application packages.

Please make it 100% clear that this task is only intended for web packages so that others do not waste time trying to make use of it to like.. transform

[2020-12-14 01:04] dirksteele opened #9823 "Add link or info about service principle, associating principle with pipeline"
I have stepped through the tutorial three times with the hopes that I just missed a part but each time I run into a couple of challenges with the presentation:

1. No where in the tutorial do you instruct the reader on how to create a service principle or even that a service principle is required.  You imply that information but for a tutorial you should absolutely address all requirements.
2. The

[2020-12-14 01:44] yikei opened #9824 "Cannot "View YAML" in a task group when migrating from classic to YAML"
Seems like ever since the "View YAML" feature got moved from the editor UI to "Export to YAML" the Runs page, there is no way to do "View YAML" for task groups anymore.

When I choose "Export to YAML" on a pipeline runs page, the YAML file completely omits all task groups. And when I try to "View YAML" in a task group (in order to manually convert it to a YAML template), I get a dialog with the wa

[2020-12-14 02:34] yikei commented on #9824
After some searching, I realized the same issue was brought up here: https://developercommunity.visualstudio.com/content/problem/1278001/view-yaml-doesnt-work-for-releases.html

[2020-12-14 05:15] Kasikka-MS opened #9825 "Switching to Tenant in Azure China region"
[Enter feedback here]
Hello Team,

Could you please let us know if switching to a tenant in Azure China region is supported or not?
Also, a section called 'I can't see the Switch option', would be much appreciated by the users facing the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98f0caaf-2697-c506-339b-2dea

[2020-12-14 11:58] steinmr opened #9826 "Link to work item functionality needs more details"
In the #link-work-items section, it says

``Enter the ID of the work item or search for work items with titles that match your text. Select the work item from the list that appears.``

But it seems like the list here is limited to the last 50 work items modified by you (or something similar).

The documentation should explain which work items can be searched for.

---
#### Document Details

⚠ *Do

[2020-12-14 12:34] dingobar commented on #7837
I agree, took me long enough to figure this out.
This is what the docs say:

Not clear in my opinion.

[2020-12-14 15:12] anthraxn8b commented on #5179
Helloooo? Anyone there who has an update for us? This is not what I expect as a customer... I am trying to create a connection in teams since months now and stepping from one bug to the next.
Maybe teams is not the best solution after all ...

[2020-12-14 16:43] ericchansen commented on #7586
This shouldn't be closed. It's a real issue.

Here's another example of this problem in action https://stackoverflow.com/questions/60917078/azure-pipelines-yaml-error-when-using-variable-group-for-deploy-web-app-azur.

[2020-12-14 16:51] howardjones commented on #1934
This definitely still needs some work... I've got a task that "successfully" uploads my artifacts, but I have no idea where I can actually find them. The Artifacts section in ADO doesn't show them, and the search doesn't find them.

[2020-12-14 19:01] khushboo6 commented on #5179
Facing the same issue, cannot create any connectors in Teams. I have the project admin permissions as well.
Any update on this ? when can we expect a fix ?

[2020-12-14 19:08] jonatastrife commented on #5179
Got the same problem here, before having this problem I was stuck in another problem [https://techcommunity.microsoft.com/t5/microsoft-teams/can-t-configure-azure-devops-connector-in-teams-http-error-500/m-p/1614308/page/2](url) and now this...

[2020-12-14 21:16] daviddelven commented on #5179
We have the same problem, and it previously was working well during the last months.
Something got wrong in November - December.

[2020-12-14 21:37] #7114 closed

[2020-12-14 22:38] ramiMSFT commented on #9791
Investigating

[2020-12-14 23:33] #4341 closed

[2020-12-15 02:41] kevinhartman opened #9829 "[PublishBuildArtifact] Merge behavior for existing artifact container not documented"
If an artifact container with name `artifactName` already exists, `PublishBuildArtifact` will happily merge the contents into the same container. This behavior is **VERY** useful when multiple build jobs need to upload artifacts to the same container (e.g. in a build matrix).

This is loosely alluded to [here](https://developercommunity.visualstudio.com/solutions/495954/view.html), but it'd be rea

[2020-12-15 06:44] vicperdana opened #9830 "YAML Pipeline - Azure Policy Check Gate"
Hi,

Is there a roadmap item to build to enable this feature in the multi-stage YAML pipeline.  I can only see associated docs for Release pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee66118-f546-a26a-601f-b1f35ffba329
* Version Independent ID: c7c5d91e-2ee1-79e1-b5fd-2846dc9fd308
* Content: [Azure Policy

[2020-12-15 07:20] joekirsch commented on #5179
Same problem here.  1 of our organizations work, the other 2 do not.  We have gone thru every item trying to compare and see a difference and there aren't any differences we can see.

Connector sees the user login, sees DevOps, see the projects but any project we select returns: Choose the Azure DevOps team that you want to receive notifications for...  Failed to find teams for this project that h

[2020-12-15 09:37] bunsen32 commented on #7430
Yeah, I found this issue from a web search for explanation of what the statuses mean.

Documentation would be nice. Progressively-disclosed documentation in-app would be even better!

[2020-12-15 10:31] VectorBCO commented on #9723
should i provide any additional info?

[2020-12-15 15:02] vtbassmatt commented on #9824
Thank you for the feedback. We're tracking this as a bug in the product, as task groups are supposed to be exported correctly.

[2020-12-15 15:02] #9824 closed

[2020-12-15 15:03] vtbassmatt commented on #9822
This seems like a good update.

[2020-12-15 15:05] vtbassmatt commented on #9821
Thank you for your feedback. We are closing this issue as the Publish Code Coverage task is expected to work on Windows agents. If you find that it doesn't, please file an issue on [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 15:05] #9821 closed

[2020-12-15 15:08] vtbassmatt commented on #9820
As suggested.

[2020-12-15 15:10] vtbassmatt commented on #9809
Yes, that's possible. We'll add an example.

(This is not supposed to be an unhelpful comment for you 😁 We're currently running a doc-a-thon where product group folks are leaving enough info for the writers to come along behind us and actually fix the docs.)

[2020-12-15 15:20] vtbassmatt commented on #9804
Snippet from the hosted agents. (This will help a docs writer come along behind me and improve the docs.)

[code]

[2020-12-15 15:22] vtbassmatt commented on #9801
☝️ is correct

[2020-12-15 15:29] vijayma commented on #9600
When you use submodules, the common pattern is to have an independent pipeline for the submodule. Anytime you update the code in the submodule, the submodule's pipeline will run and make sure that it is good to be consumed. Your main repo and pipeline will simply consume the submodule and build the main code.

If your question is related to how you can build the submodule as part of building the m

[2020-12-15 15:29] #9600 closed

[2020-12-15 15:30] vtbassmatt commented on #9794
From looking at the code, it's clear that there are cases where ProjectName and ProjectId aren't resolvable. What's not clear is what those circumstances are. I suspect that @NenoLoje's hypothesis is correct.

[2020-12-15 15:31] vtbassmatt commented on #9792
Someone should test this before altering the docs, and assuming it works, this would be a welcome update.

[2020-12-15 15:35] mijacobs commented on #9755
Thank you for your feedback. We are closing this issue and directing you to seek an answer through our support web site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 15:35] #9755 closed

[2020-12-15 15:40] vtbassmatt commented on #9782
I feel like I've seen this before, but I can't repro it. If you see it again, please file a bug with the specifics here: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

My example:

[code]

Result:
<img width="343" alt="image" src="https://user-images.githubusercontent.com/714283/102236700-cdf61980-3ec1-11eb-9e05-2d7158260f6d.png">

[2020-12-15 15:40] #9782 closed

[2020-12-15 15:40] justhchung commented on #9735
Azure DevOps service tag is released.

https://devblogs.microsoft.com/devops/azure-devops-service-tag-released/

[2020-12-15 15:40] #9735 closed

[2020-12-15 15:42] mijacobs commented on #9737
@steved0x , can you take a look?

[2020-12-15 15:43] vijayma commented on #9656
@JimBlizzard the syntax without the additional syntax is fine and should work. Are you noticing otherwise?

[2020-12-15 15:43] #9656 closed

[2020-12-15 15:45] juliakm commented on #8733
Environments support the Kubernetes and virtual machine resource types. I'll update the doc to make this clearer.

[2020-12-15 15:46] #8733 closed

[2020-12-15 15:49] juliakm commented on #9014
You can check your access level in **Organization Settings** > I **Users**. If you have the access level **Stakeholders**,  you will not have access to the environment. I'll update the docs to make this clearer.

[2020-12-15 15:52] #9060 closed

[2020-12-15 15:55] vtbassmatt commented on #8101
Parameters are expanded really early in processing. We give an overview in the [Runs](https://docs.microsoft.com/azure/devops/pipelines/process/runs) topic. In general many variables are not available, but happily for your scenario, one is! You can do this:

[code]

The variables which are available in templates are documented in the table of [predefined variables](https://docs.microsoft.com/azure

[2020-12-15 15:57] vtbassmatt commented on #9767
Thank you for your feedback. We are closing this issue and directing you to seek an answer through our support site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 15:57] #9767 closed

[2020-12-15 15:57] mijacobs commented on #9723
Thank you for your feedback. It looks as though our docs reflect what's in the product. Please use this link to report an issue with the Azure DevOps product: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 15:57] #9723 closed

[2020-12-15 15:57] vijayma commented on #8976
Thanks for calling this out. We are updating the doc to clarify this. You should see the update soon.

[2020-12-15 15:57] #8976 closed

[2020-12-15 15:58] steved0x commented on #9737
Investigating

[2020-12-15 15:58] vtbassmatt commented on #9762
We'll always generate at least one job, even if a multi-config variable is empty.

[2020-12-15 15:59] vtbassmatt commented on #9760
One file per task instance.

[2020-12-15 16:02] vtbassmatt commented on #9748
This is fair feedback, since the behavior can be a bit surprising. A stage must _directly_ depend on another stage in order to get its output variables. By _default_ each stage directly depends on the one preceding it in the YAML file, but you can override/change that by manually specifying `dependsOn`.

[2020-12-15 16:02] steved0x commented on #9737
@A-AontwSR Thank you for letting us know, I am fixing this and it will be live shortly. Thank you!

[2020-12-15 16:06] vtbassmatt commented on #9734
@shashban may be able to help with this one.

[2020-12-15 16:08] vijayma commented on #5877
Thanks @moswald. I made this change to the docs. It should be out soon.

[2020-12-15 16:08] #5877 closed

[2020-12-15 16:09] vtbassmatt commented on #9732
Thanks for your feedback - this is correct. There are actually two issues here, one for the docs and one for schema generation (which is used to drive the "squigglies" in the web editor).

[2020-12-15 16:10] mijacobs commented on #9687
It looks like @msebolt fixed the article.

[2020-12-15 16:10] #9687 closed

[2020-12-15 16:12] vtbassmatt commented on #9729
Hmm, this looks like a bug in how preauthorization is computed. Putting the variable group at the stage or root pipeline level shouldn't make a difference. Please post this through the support site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) so someone on the owning product team can take a look. Thanks!

[2020-12-15 16:12] #9729 closed

[2020-12-15 16:12] vtbassmatt commented on #9727
Yikes! Thank you.

[2020-12-15 16:13] vtbassmatt commented on #9726
Thank you for your feedback. We are closing this issue and directing you to file a feature request through our support web site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 16:13] #9726 closed

[2020-12-15 16:13] vtbassmatt commented on #9720
Thank you for your feedback. We are closing this issue and directing you to file a feature request through our support web site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 16:13] #9720 closed

[2020-12-15 16:16] steved0x commented on #8441
Investigating

[2020-12-15 16:17] #9014 closed

[2020-12-15 16:17] vijayma commented on #9287
Thanks @DrSLDR for pointing this out. We are updating the doc to fix this. It should roll out soon.

[2020-12-15 16:17] #9287 closed

[2020-12-15 16:18] vtbassmatt commented on #9707
Capabilities ≠ predefined variables. There's a capability called `Agent.ComputerName` which you can select against using demands. Separately, there's a predefined variable called `Agent.MachineName` which you can use wherever variables can be used.

[2020-12-15 16:18] #9707 closed

[2020-12-15 16:24] justhchung commented on #8528
https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/on-premises-bitbucket?view=azure-devops#azure-devops-ip-addresses and https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github-enterprise?view=azure-devops#azure-devops-ip-addresses should be updated with the new service tag IP ranges in https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?v

[2020-12-15 16:27] vtbassmatt commented on #9706
This is correct, the resource system doesn't have an environment to read from. We allow parameters in `container` resources now, so one way you could do this is to accept a parameter containing the desired label.

[code]

For additional help, please reach out on the support site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)

[2020-12-15 16:27] #9706 closed

[2020-12-15 16:27] vijayma commented on #5540
Thanks for the comments. We are rolling out two fixes to the doc: One is to use "basic" instead of "bearer" for PAT tokens. The other is to add a note calling out the need to "allow scripts to access OAuth token".

[2020-12-15 16:27] #5540 closed

[2020-12-15 16:33] mijacobs commented on #9655
The docs should be clarified to indicate whether they support "-contains." While we investigate,  here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 16:34] vtbassmatt commented on #9690
None of the tool installer tasks are really designed for this use case. Though, I can see why you'd want it. The best workaround I can think of would involve using a script to test the currently-installed .NET Core version, set a variable to "true" or "false" depending on whether you want to execute a change of version, then use that variable as a condition in the `UseDotNet` task.

Roughly:

[cod

[2020-12-15 16:34] #9690 closed

[2020-12-15 16:34] steved0x commented on #9655
Investigating

[2020-12-15 16:35] vtbassmatt commented on #9686
Fair point.

[2020-12-15 16:39] steved0x commented on #8441
@KarstenSchaeffer I will get that page updated, here is the information on cleaning, there are a couple ways to do it.

There are 3 clean options for workspace in a job:
[code]

These are detailed here: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#workspace

You can also specify a clean option in the Pipeline settings UI, as you describe above,

[2020-12-15 16:41] vtbassmatt commented on #9667
We mention the tools cache in the [Use Python task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=azure-devops#how-can-i-configure-a-self-hosted-agent-to-use-this-task), but really we should move [this doc](https://github.com/microsoft/azure-pipelines-tool-lib/blob/master/docs/overview.md#tool-cache) into the official docs somewhere.

[2020-12-15 16:42] vtbassmatt commented on #9662
We mention elsewhere about how a `dependsOn` relationship is required. Since it's driving confusion here, we can mention or link it again.

[2020-12-15 16:45] vtbassmatt commented on #9659
This one hasn't been updated into the newer style, where we tie the YAML name and the label together explicitly. For whoever picks up this task, you can use the data [here](https://github.com/microsoft/azure-pipelines-tasks/blob/38d6beafa3f561f6a230a99336fb18b544aefaf1/Tasks/ShellScriptV2/task.json#L34) to be 💯 confident in your mapping.

[2020-12-15 16:45] vtbassmatt commented on #9658
Thank you for your feedback. We are closing this issue and directing you to seek an answer through our support web site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 16:45] #9658 closed

[2020-12-15 16:50] steved0x commented on #8441
You can add a parameters section at the top of your pipeline and use that value in the clean step. In this example it is false by default but you can override that when manually running a pipeline by checking the box for checkout clean. You could also use this same approach using one of the workspace clean options:

[code]

![image](https://user-images.githubusercontent.com/1580889/102245516-a7d57

[2020-12-15 16:52] ramiMSFT commented on #8949
@herenhuang Can you take a look?

[2020-12-15 16:53] mijacobs commented on #9803
@vijayma , can you take a look?

[2020-12-15 16:53] vtbassmatt commented on #9657
I just verified that these instructions are correct for the hosted product. Is it possible you're looking at an older on-prem release (TFS or Azure DevOps Server)?

If not, please file a support request here: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)

[2020-12-15 16:53] #9657 closed

[2020-12-15 16:54] vtbassmatt commented on #9655
(We only support "-equals" and existence, not "-contains")

[2020-12-15 16:56] vtbassmatt commented on #9647
For whoever picks this one up: the parameter is introduced here: https://github.com/microsoft/azure-pipelines-tasks/blob/38d6beafa3f561f6a230a99336fb18b544aefaf1/Tasks/PublishCodeCoverageResultsV1/task.json#L55

[2020-12-15 16:56] msebolt commented on #9644
@NenoLoje Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-15 16:58] mijacobs commented on #6597
@chcomley --can you add this info to a doc?

[2020-12-15 16:59] #6005 closed

[2020-12-15 17:00] vtbassmatt commented on #9613
That link is intentional. By default, jobs run directly on the agent host. I couldn't think of another way to word the sentence such that it both made sense in context _and_ had a phrase I could use as a link to the Jobs topic.

[2020-12-15 17:00] #9613 closed

[2020-12-15 17:07] ramiMSFT commented on #5318
Thank you for your feedback. We are closing this issue as there is no action to take on our part to address the issue. It seems that you already filed a feature request but it didn't generate enough upvotes. Thank you

[2020-12-15 17:07] #5318 closed

[2020-12-15 17:07] mijacobs commented on #7003
Added this note to the doc:
| Password | Required. The password for the account user identified above. (Docker Hub requires a PAT instead of a password.) |

[2020-12-15 17:07] #7003 closed

[2020-12-15 17:08] vtbassmatt commented on #8660
The VS team has a decent overview of installing VS on an Azure VM. We could potentially link to it: https://docs.microsoft.com/en-us/visualstudio/install/using-visual-studio-vm?view=vs-2019

[2020-12-15 17:08] vijayma commented on #8606
This has been fixed in the docs. Thanks for bringing this to our notice.

[2020-12-15 17:08] #8606 closed

[2020-12-15 17:23] msebolt commented on #9624
@JohnCOsborne Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

The documentation has been updated and is pending review.

[2020-12-15 17:26] vijayma commented on #7615
Thanks for the suggestion. We updated the docs to clarify the two risks and the corresponding mitigations.

[2020-12-15 17:26] #7615 closed

[2020-12-15 17:29] msebolt commented on #9691
@indranil-chakraborty-thd Thank you for the question and apologies for the issue.

Please refer to [Allowed address lists](https://docs.microsoft.com/azure/devops/organizations/security/allow-list-ip-url) for a list of required IPs.

The IP address `13.107.42.20` referenced above can be found listed under the [express route connections](https://docs.microsoft.com/azure/devops/organizations/securit

[2020-12-15 17:31] Reempje25 commented on #5179
The same problem here. It was working all very well, but a this moment when can't select teams.

[2020-12-15 17:34] msebolt commented on #9719
@w0nders Thank you for the feedback, assigning this to the author for further review.

If this issue becomes product-related, we recommend soliciting feedback from our product team using the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 17:35] vijayma commented on #8967
@ravichillerega I am unable to understand why the GitHub email id should be public and made the same as Azure DevOps email id. Azure DevOps does not have visibility into the GitHub email address. For now, I am not updating the doc to add anything more. If you have any more insights into what might be going on in your set up, please let me know.

[2020-12-15 17:35] #8967 closed

[2020-12-15 17:40] msebolt commented on #9819
@raiyan I cannot seem to find this GitHub alias for your assignment.  Please address this documentation concern.

Including @thoms23

[2020-12-15 17:47] #9572 closed

[2020-12-15 17:48] #9644 closed

[2020-12-15 17:56] vtbassmatt commented on #8649
When someone picks this up to doc, you can use the YAML snippet as your guide. The value listed on the right side of the `:` is the default which the task will use if that input isn't specified.

[2020-12-15 18:01] ramiMSFT commented on #9615
@rolfik Thank you for reaching out. When you enable retention policies, your package(s) will be deleted when both of the following criteria are met:

* The number of published versions of that package reaches the maximum number of versions limit, **AND**
* A version of that package has not been downloaded within the number of days to keep recently downloaded packages.

[2020-12-15 18:01] #9615 closed

[2020-12-15 18:06] vtbassmatt commented on #8648
A worthy addition to our docs, I think.

[2020-12-15 18:06] vijayma commented on #4206
Thanks for the comments in this thread. We updated the doc to clarify the steps needed to enable comment triggers. There are no explicit variables indicating that the PR has been triggered by a comment.

[2020-12-15 18:06] #4206 closed

[2020-12-15 18:06] vtbassmatt commented on #8646
Step targets shipped with Azure DevOps 2020. Good catch!

[2020-12-15 18:09] mijacobs commented on #8475
We tested Agent.MachineName and it works on current version of Azure DevOps. What version are you using?

[2020-12-15 18:09] vtbassmatt commented on #8602
This is correct.

[2020-12-15 18:11] froens commented on #5179
The fix is being rolled out now and all should be done by 16'th of December (read the last posts from the URL posted earlier).

Apparently we've received the fix now (we are on Western Europe), and everything seems to work (we've been waiting for 1.5 months now).

[2020-12-15 18:11] vtbassmatt commented on #8601
We should warn that shallow fetch can sometimes speed up fetches, but depending on the repo shape and how fast it's moving, can also occasionally make things worse. For instance, because we fetch by ref but then checkout by commit (to ensure we build _exactly_ what the user wanted built), if fetch depth is very low, then occasionally the ref may no longer point to the commit we snapped.

[2020-12-15 18:13] vtbassmatt commented on #8577
🤦 yup, it's redundant

[2020-12-15 18:15] vtbassmatt commented on #8554
This is correct. Azure DevOps 2019 only supported:

[code]

while 2020+ and the service prefer:

[code]

[2020-12-15 18:15] ramiMSFT commented on #9482
@marc-downer-tdx Thank you for your feedback. The article has been updated few times since you posted the issue. I hope you will find this helpful.

[2020-12-15 18:15] #9482 closed

[2020-12-15 18:19] vtbassmatt commented on #8529
`dependencies` is a keyword. I agree [the example](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#use-outputs-in-a-different-job) is unclear - there's a comment hinting that a task produced that variable, but it's easy to miss. It would be clearer if I'd said:

[code]

[2020-12-15 18:21] vtbassmatt commented on #8507
Looks like this got added sometime between when the issue was filed and now, because I see a Python/pip example in the topic.

[2020-12-15 18:21] #8507 closed

[2020-12-15 18:22] vtbassmatt commented on #8475
`Agent.MachineName` is a predefined variable. `Agent.ComputerName` is a capability set by self-hosted agents. See my answer in https://github.com/MicrosoftDocs/azure-devops-docs/issues/9707

[2020-12-15 18:22] #8475 closed

[2020-12-15 18:26] Tyler-Angell commented on #9762
Why is that? Shouldn't `job * 0 = 0`?

If this is a hard limitation how do I have an optionally run multi-configuration task with everything reporting green at the end of a release?

[2020-12-15 18:29] vtbassmatt commented on #8456
I'd recommend something like:

[code]

[2020-12-15 18:30] vtbassmatt commented on #8455
You can still get to the old variables page, which will give this identifier, but it's not easy in YAML. +1 to the idea of just mentioning that it's in the URL.

[2020-12-15 18:30] mijacobs commented on #9810
Investigating

[2020-12-15 18:33] vtbassmatt commented on #8450
Good catch, the permissions screens have been redesigned. This topic needs new screenshots and should no longer mention clicking "save" (at least for Azure DevOps 2020 and the hosted service -- need the old instructions for down-level servers).

[2020-12-15 18:44] vijayma commented on #9564
Updated the docs to state so. This is not a judgment on whether we will take this up as future work in the product.

[2020-12-15 18:44] #9564 closed

[2020-12-15 18:47] vijayma commented on #9009
At this point, path filters do not work with wild cards. There might be some very specific patterns that work, but in general, they don't work. Also, when we do not understand a path filter, we ignore it. Updated the docs to say so clearly for now. This is not a judgment of what we will do in the future in the product.

[2020-12-15 18:47] #9009 closed

[2020-12-15 18:47] #8456 closed

[2020-12-15 18:52] msebolt commented on #8602
@vtbassmatt Are you referring to the current documentation or the proposed change?

[2020-12-15 18:59] mijacobs commented on #9810
I updated the article to use "main." Note that we'll be updated all of our articles to use "main."

[2020-12-15 18:59] #9810 closed

[2020-12-15 19:03] mijacobs commented on #9820
Looks like @juliakm

[2020-12-15 19:03] #9820 closed

[2020-12-15 19:06] mijacobs commented on #9672
hanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the
documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/2

[2020-12-15 19:06] #9672 closed

[2020-12-15 19:07] juliakm commented on #9631
@scp-mb and @spowser  The development team is looking into this issue and possible fixes. It is not a documentation issue right now, but more of a functionality one.

[2020-12-15 19:08] mijacobs commented on #9733
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the
documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/

[2020-12-15 19:08] #9733 closed

[2020-12-15 19:09] mijacobs commented on #9725
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/

[2020-12-15 19:09] #9725 closed

[2020-12-15 19:10] mijacobs commented on #9691
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/

[2020-12-15 19:10] #9691 closed

[2020-12-15 19:11] mijacobs commented on #9611
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 19:11] #9611 closed

[2020-12-15 19:12] mijacobs commented on #9599
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 19:12] #9599 closed

[2020-12-15 19:12] mijacobs commented on #9556
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 19:12] #9556 closed

[2020-12-15 19:13] mijacobs commented on #9529
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 19:13] #9529 closed

[2020-12-15 19:18] vtbassmatt commented on #8225
Wildcards are not supported. You can target a specific file or directory (and if the latter, you'll get everything in the directory).

[2020-12-15 19:18] #8225 closed

[2020-12-15 19:19] mijacobs commented on #9346
hi @aristosvo, the doc contains this info:

Azure pipelines doesn't require a load balancer to route jobs to the agents in the scale set agent pool, but configuring a load balancer is one way to get an IP address for your scale set agents that you could use for firewall rules. Another option for getting an IP address for your scale set agents is to create your scale set using the `--public-ip-addr

[2020-12-15 19:19] #9346 closed

[2020-12-15 19:26] steved0x commented on #9814
investigating

[2020-12-15 19:27] VectorBCO commented on #9723
@mijacobs there no issues in the product, issue here in a docummentation which not updated in real time. This page was not updated at leat 6 mongth, but Azure Devovs did.
What should I report to Azure Devops as a bug?

[2020-12-15 19:32] mijacobs commented on #9723
Sorry @VectorBCO, I misread your issue. It looks like @msebolt  updated the doc in November with your suggestions.

[2020-12-15 19:33] vtbassmatt commented on #8106
Template paths should be relative to the file doing the including. If you have a nested hierarchy like this:

[code]

Then in `fileA.yml` you can get the other files like this:

[code]

On the other hand, if `fileC.yml` is your starting point, it can include the others like this:

[code]

And for completeness, if we're starting at `fileB.yml`:

[code]

[2020-12-15 19:36] mijacobs commented on #9719
@KathrynEE @chcomley Can you take a look at this one?

[2020-12-15 19:39] mijacobs commented on #9453
Please see our docs for system.accesstoken: https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemaccesstoken

[2020-12-15 19:39] #9453 closed

[2020-12-15 19:40] vtbassmatt commented on #8602
Ha, sorry. The proposed change.

[2020-12-15 19:43] steved0x commented on #6784
#reassign steved0x

[2020-12-15 19:48] mijacobs commented on #9376
From the article:
Please see this article:  https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml

[2020-12-15 19:48] #9376 closed

[2020-12-15 19:50] vtbassmatt commented on #8081
I had no issues including a period in the variable name.

[code]

[2020-12-15 19:50] #8081 closed

[2020-12-15 19:52] steved0x commented on #9250
It looks like you found the solution in https://github.com/MicrosoftDocs/azure-devops-docs/issues/9814 - I am closing this one, and updating our documentation to reflect the info from that one. Thank you very much for the info.

[2020-12-15 19:52] #9250 closed

[2020-12-15 19:52] mijacobs commented on #9389
@juliakm, can you take a look at the doc and see if we should add additional explanation for resources.triggeringAlias and resources.triggeringCategory?

variables:
  ${{ if eq( variables['resources.triggeringAlias'], 'homer' ) }}:
    myVar: 'some value'
  ${{ if eq( variables['resources.triggeringAlias'], 'simpson' ) }}:
   myVar: 'some other value'

[2020-12-15 19:57] vtbassmatt commented on #8062
Runtime expressions were intended as a way to compute the contents of variables and state (so `condition`). We later added support in `strategy: { matrix: ... }` expressions as well (which was upleveling from the variable-assignment statements inside `matrix`).

Due to quirks of implementation, there are possibly a few other places they happen to work. But I couldn't name them (and I've PM'd the P

[2020-12-15 19:59] #9814 closed

[2020-12-15 19:59] herenhuang commented on #8388
Just leave a pointer in the Maven build task doc: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/maven?view=azure-devops

To this page: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/maven-authenticate?view=azure-devops

Tagged ready-to-doc as part of Docathon.

[2020-12-15 19:59] #6784 closed

[2020-12-15 19:59] vtbassmatt commented on #7643
[code]

The agent should create the (relative) path if it doesn't exist.

[2020-12-15 19:59] #9655 closed

[2020-12-15 20:00] #9737 closed

[2020-12-15 20:00] #9801 closed

[2020-12-15 20:01] #9822 closed

[2020-12-15 20:01] herenhuang commented on #9682
Investigating...

[2020-12-15 20:01] #8441 closed

[2020-12-15 20:01] mijacobs commented on #9435
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:01] #9435 closed

[2020-12-15 20:03] mijacobs commented on #9437
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:03] #9437 closed

[2020-12-15 20:04] mijacobs commented on #9487
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:04] #9487 closed

[2020-12-15 20:12] #9809 closed

[2020-12-15 20:14] herenhuang commented on #9374
Hey there!

Previous package versions will be considered as part of the policy settings.

What happens when you set retention policy is that those package versions will be moved to the Recycling Bin in a soft-deleted state. Tthe job does run once per day, but there could be an initial delay due to an influx of packages to send to the recycling bin after the policy is turned on for the first time.

[2020-12-15 20:15] steved0x commented on #9589
Parallel jobs is a confusing topic, and I am making an update to this doc to try and clarify. Thank you for your feedback.

===
**Parallel jobs** represents the number of jobs you can run at the same time in your organization. If your organization has a single parallel job, you can run a single job at a time in your organization, with any additional concurrent jobs being queued until the first job

[2020-12-15 20:15] mijacobs commented on #9525
Thanks for your question. It looks like you're working through an issue with your scenario or implementation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 20:15] #9525 closed

[2020-12-15 20:16] herenhuang commented on #9289
Thanks for the comment! We can add that as a possible comment within our docs here: https://docs.microsoft.com/en-us/azure/devops/artifacts/npm/scopes?view=azure-devops&tabs=windows

[2020-12-15 20:17] #9589 closed

[2020-12-15 20:17] steved0x commented on #9753
investigating

[2020-12-15 20:17] mijacobs commented on #9623
Looks like this has been resolved. If you'd like to add your example to the docs, we accept public contributions--feel free to open a PR! We have a team of folks standing by to review and accept your updates.

[2020-12-15 20:17] #9623 closed

[2020-12-15 20:19] mijacobs commented on #9698
This repo is for documentation issues. For product suggestions, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2020-12-15 20:19] #9698 closed

[2020-12-15 20:21] mijacobs commented on #9763
Please see this article:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=azure-devops

[2020-12-15 20:23] herenhuang commented on #8949
investigating!

[2020-12-15 20:25] herenhuang commented on #8449
Thank you Kenny, mvn deploy does look like the right command. We will make sure to get this updated.

[2020-12-15 20:26] steved0x commented on #9753
@QiMata Thank you for letting us know, this will be fixed today (both on here and on the Linux agent page).

[2020-12-15 20:27] #9753 closed

[2020-12-15 20:28] mijacobs commented on #9830
Hi @vicperdana ,

For info about upcoming features, please check our community forums: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). We general don't document product plans here.

[2020-12-15 20:28] #9830 closed

[2020-12-15 20:28] KathrynEE commented on #9479
@parvski - Thank you for the feedback. The article is now updated.

[2020-12-15 20:28] #9479 closed

[2020-12-15 20:31] KathrynEE commented on #9465
@gianlucagravina - You are correct. Thank you for the feedback. I will update the TOC entry to reflect that it is generic widgets you can add.
@steved0x - just FYI

[2020-12-15 20:31] #9465 closed

[2020-12-15 20:34] vijayma commented on #9691
I have updated the docs with the new IP address ranges. Also, I clarified that you should include ExpressRoute ranges as well in case you rely on that.

[2020-12-15 20:35] VectorBCO commented on #9723
@mijacobs yes, now I see that page was updated and "preview" was removed but actual Az Module version still not pumped up :(

Thanks @msebolt :)

[2020-12-15 20:41] KathrynEE commented on #8469
@PStoner3 - Thank you for the feedback. The article has been updated since your feedback last May. Sorry for the delayed response. For some reason, I was just recently assigned this issue.

[2020-12-15 20:41] #8469 closed

[2020-12-15 20:41] mijacobs commented on #9800
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:41] #9800 closed

[2020-12-15 20:42] aristosvo commented on #9346
Thanks for improving the docs!

[2020-12-15 20:43] mijacobs commented on #9818
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:43] #9818 closed

[2020-12-15 20:45] vijayma commented on #9340
Updated the doc to state that user needs admin access to Bitucket since that identity is used to register webhook. This is required since we always register a webhook even if you do not configure a ci or pr trigger in the YAML file. Azure Pipelines needs to inspect the YAML file after every change since that change can enable triggers in the yaml file.

[2020-12-15 20:45] #9340 closed

[2020-12-15 20:46] vijayma commented on #9650
That is correct. We have now updated the docs to point to the correct IP ranges.

[2020-12-15 20:46] #9650 closed

[2020-12-15 20:50] mijacobs commented on #9797
Looks like this is question seeking clarification on a specific sentence in the documentation.

[2020-12-15 20:54] mijacobs commented on #9673
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 20:54] #9673 closed

[2020-12-15 21:00] juliakm commented on #9243
Thanks for the detailed notes. I'm updating the page now.

[2020-12-15 21:00] mijacobs commented on #8165
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:00] #8165 closed

[2020-12-15 21:02] #8972 closed

[2020-12-15 21:05] #9243 closed

[2020-12-15 21:06] mijacobs commented on #9723
@vectorBCO Can you describe how else the document needs updated? Are you saying that the AzModule for the version 5 row is missing supported versions?

[2020-12-15 21:07] mijacobs commented on #9812
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:11] #9812 closed

[2020-12-15 21:13] mijacobs commented on #9759
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 21:13] #9759 closed

[2020-12-15 21:14] DaveJarvis commented on #8165
@mijacobs -- I don't wish to create a Microsoft Live account, sorry.

[2020-12-15 21:14] mijacobs commented on #9692
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:14] #9692 closed

[2020-12-15 21:15] steved0x commented on #9793
investigating

[2020-12-15 21:16] chcomley commented on #6597
Hi @o-o00o-o, I've added the information that vijayma provided to the article,. This issue will automatically close when the pull request completes. Please don't hesitate to @mention me or vijayma if you have any further questions or feedback. Thank you!

[2020-12-15 21:16] mijacobs commented on #9416
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 21:16] #9416 closed

[2020-12-15 21:17] melarsen commented on #9804
Please clearify what the content of the x64 folder is: eg with `ls -la.`
Are these files symlinks?
Should I create them manually or by some install?

[2020-12-15 21:19] mijacobs commented on #9469
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:19] #9469 closed

[2020-12-15 21:22] mijacobs commented on #9551
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 21:22] #9551 closed

[2020-12-15 21:23] mijacobs commented on #9528
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:23] #9528 closed

[2020-12-15 21:24] mijacobs commented on #9520
The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-15 21:24] #9520 closed

[2020-12-15 21:25] mijacobs commented on #9477
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Please ask your question in the community forums:
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-12-15 21:25] #9477 closed

[2020-12-15 21:26] mijacobs commented on #9543
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the  documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces

[2020-12-15 21:26] #9543 closed

[2020-12-15 21:32] tukaya commented on #8411
Uninstalling nodejs and then installing v10.21.0 (choco install nodejs --version 10.21.0) solved the issue for me.

[2020-12-15 21:34] skedwards88 commented on #9815
The links here look correct! However, a few things in the content itself could be updated (listed below). I [opened up a PR](https://github.com/MicrosoftDocs/azure-devops-docs/pull/9832) to address them, but feel free to reject all/part of it.

For the text "2. Select Set up your workflow yourself."
  - (super minor discrepancy) the text the user sees is "Skip this and set up a workflow yourself"

[2020-12-15 21:34] steved0x commented on #9649
investigating

[2020-12-15 21:39] KathrynEE commented on #9797
@StavroulaSsi - Thank you for your inquiry. For Hosted XML process there is no alternative solution to apply _for_ and _not_  rules. The only suggestion I have is that you [migrate your Hosted XML process to an Inherited process](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/work/upgrade-hosted-to-inherited?view=azure-devops). Then you can [add custom rules to work item type

[2020-12-15 21:39] #9797 closed

[2020-12-15 21:39] vtbassmatt commented on #7494
Julia added this to the [predefined variables](https://docs.microsoft.com/azure/devops/pipelines/build/variables) tables a while back. You may have to scroll the table a bit to see the column.

[2020-12-15 21:39] #7494 closed

[2020-12-15 21:41] tacerra opened #9833 "Not available for on premise?"
The documentation shows this task is available in Azure DevOps Server 2020 but we do not see it. Is the documentation wrong? Also can't find this in the market place. Really need this since Manual Intervention task isn't supported in yaml pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cdab75-b48a-ba18-11da-

[2020-12-15 21:41] vtbassmatt commented on #7473
As documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#macro-syntax-variables), not supported.

[2020-12-15 21:41] #7473 closed

[2020-12-15 21:44] steved0x commented on #9649
@nguyenlamlll Unfortunately the scheduled trigger does not support a path property (like the CI trigger) that can be used for filtering. That does sound like a great idea for a feature request. We are closing this issue and directing you to file a feature request through our support web site: [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). Than

[2020-12-15 21:44] #9649 closed

[2020-12-15 21:47] vtbassmatt commented on #6795
This is correct, none of the `Release.*` variables are populated when you switch to YAML CD pipelines.

[2020-12-15 21:50] steved0x commented on #9793
I'll get these updated and it will be live today. Thank you for your feedback!

[2020-12-15 21:50] #9793 closed

[2020-12-15 21:50] vtbassmatt commented on #9684
True. We should link out to [this](https://plugins.jetbrains.com/plugin/7981-azure-devops) and it's indeed called "Azure DevOps", not "Azure Repos".

[2020-12-15 21:50] gh-andre commented on #9243
Pardon me if this is an obvious point, but I wanted to mention that it seems Microsoft adopted a practice of using pre-release versions as if they are build numbers and describes promoting pre-release builds here:

https://docs.microsoft.com/en-us/azure/devops/artifacts/concepts/views?view=azure-devops#using-views-to-release-packages

While this is a misleading approach in that a pre-release packa

[2020-12-15 21:51] vtbassmatt commented on #9625
Already been fixed.

[2020-12-15 21:51] #9625 closed

[2020-12-15 21:51] juliakm commented on #9389
@winstonhenke Thanks for the example!

 @sukoneck `resources.triggeringAlias` and and `resources.triggeringCategory` are only set when your pipeline run initiates because of a resources trigger. Otherwise, those values will be blank even if you are using a resource in your pipeline. To test this, we can set up two pipelines where one triggers the other one.

### First Pipeline: learn-triggers

Sta

[2020-12-15 21:52] vtbassmatt commented on #6234
For hosted it's 30 days (plus up to 7 more days, as it's a job we schedule to run only once a week). On-prem I don't recall the default off-hand, and I know we have given administrators a backend setting to increase or decrease it.

[2020-12-15 21:53] vtbassmatt commented on #6344
Looks like this got done at some point without having this issue closed.

[2020-12-15 21:53] #6344 closed

[2020-12-15 21:53] #9704 closed

[2020-12-15 21:57] ramiMSFT commented on #9080
@PawcioCNCProfi Thank you for your feedback. The article already contain the following note:

I understand the confusion around your second point:

That should've been `public package manager` and not public feeds. I will get that fixed.

[2020-12-15 21:57] chcomley commented on #9592
Hi @Benjiiim, Thanks for reaching out and I apologize for the delayed response. I've followed up with our billing PM and they aren't familiar with the Azure Sponsorship Offer, nor any relation of it to Azure DevOps. You can try to add the subscription with the Azure Sponsorship Offer and see if the system accepts it. If the subscription has a limit, then most likely you won't be able to use it. I'

[2020-12-15 21:57] #9592 closed

[2020-12-15 22:01] herenhuang commented on #8949
Hey Phillip, we did take a look at the noted issues with the latest Ubuntu versions. Unfortunately we cannot commit to a fix date at the moment, though when we are able to we will make notice of it via the public ADO roadmap as well as on the Github issues themselves.

Closing - though perhaps we can add a note in our docs on our knowledge of issues with artifacts-keyring on new Ubuntu versions, a

[2020-12-15 22:01] #8949 closed

[2020-12-15 22:02] aaronhallberg commented on #9807
yep, good call. the **/new** parameter functions the same way for the shelve command that it does for the [checkin](https://docs.microsoft.com/en-us/azure/devops/repos/tfvc/checkin-command) command. Without it, saved metadata will be populated in the shelve dialog - the changes to include, the comment, associated work items, and so forth. With it, all that will be ignored and the dialog will pop o

[2020-12-15 22:06] steved0x commented on #9776
#reassign steved0x

[2020-12-15 22:08] aaronhallberg commented on #9724
This option should only be visible to Microsoft employees and is related to a feature that never shipped (and never will) to the broader Azure DevOps community. When selected, it indicates that the project is visible to all Microsoft employees, but not to anonymous users.

[2020-12-15 22:08] #9724 closed

[2020-12-15 22:08] steved0x commented on #9776
I'll get that updated, thank you for your feedback.

[2020-12-15 22:09] #9776 closed

[2020-12-15 22:13] steved0x commented on #8325
#reassign steved0x

[2020-12-15 22:16] steved0x commented on #8325
It is your preference how to use the different branching strategies. For our Azure DevOps documentation, we use `users/alias/description` as a branch naming guide, and we merge these into our default branch, and then we publish that branch to the `live` branch which triggers off publishing. But if there is a something coming up like the Build conference or Ignite and we are going to synchronize th

[2020-12-15 22:16] #8325 closed

[2020-12-15 22:23] steved0x commented on #5909
#reassign steved0x

[2020-12-15 22:29] steved0x commented on #5909
You need Create Repository permission, which is granted by default to Project Administrators. Instructions are here: https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-git-tfvc-repository-permissions?view=azure-devops

I am updating this page and it should be live today. Thank you for letting us know.

[2020-12-15 22:29] #5909 closed

[2020-12-15 22:31] msebolt commented on #5082
If there are any further issues, please comment below.

Closing this issue now.

[2020-12-15 22:31] #5082 closed

[2020-12-15 22:32] steved0x commented on #9730
#reassign steved0x

[2020-12-15 22:32] aaronhallberg commented on #9500
The stack overflow discussion is correct - an asterisk for a given result indicates that it was _partially _merged_, meaning some of the changes in the changeset have been merged and other changes have not.

[2020-12-15 22:34] msebolt commented on #7791
Closing this issue now.

For product-related issues, please move this thread to one of the following support channels:

- [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html)
- [Azure DevOps support](https://azure.microsoft.com/support/devops/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

[2020-12-15 22:34] #7791 closed

[2020-12-15 22:39] VectorBCO commented on #9723
My guess that this values also should be updated
![image](https://user-images.githubusercontent.com/13451494/102281151-b0ab6480-3f2e-11eb-9bc0-d28469adbe8e.png)

[2020-12-15 22:40] steved0x commented on #9730
@tashrifbillah Sorry that you ran into trouble - when I added that screenshot, I didn't want it to be super tall with all that whitespace so I condensed it down. I'll see if I can expand it or maybe add a cutout like this to indicate that it has been condensed.

![image](https://user-images.githubusercontent.com/1580889/102281237-922c7580-3efc-11eb-98e2-37030618b52b.png)

Sorry that you ran into t

[2020-12-15 22:40] #9730 closed

[2020-12-15 22:45] aaronhallberg commented on #9368
Yes, fair enough. The whole Client section could use a bit of work, but I do not suspect this doc is important enough for a big level of effort here. Should be quick enough, however, to:
1. Add Visual Studio Code to the list _Client software_ for Git.
2. Under _Visual Studio Compatibility_, future proof it a bit by just calling out _all versions of Visual Studio since Visual Studio 2013_, or somet

[2020-12-15 22:47] steved0x commented on #9688
@FeynmanFan Sorry for the delay, do you mean this URL?

`https://{orgName}/{project_name}/_settings/serviceHooks`

If so, you can create that URL by replacing `{orgName}` with the name of your Azure DevOps organization, and by replacing `{projectName}` with the name of your Azure DevOps project. For example, here is the URL for a project I have named `FabrikamFiber` that is part of an organization

[2020-12-15 22:49] sukoneck commented on #9389
@juliakm nice. I was running into this issue when the trigger was a `repository `resource, rather than a `pipeline` resource. [Here's more detail ](https://developercommunity.visualstudio.com/comments/1209305/view.html) about what I was doing when I was experiencing this issue.

[2020-12-15 23:00] chcomley commented on #9480
Hi @davidj488, I've made some updates and replaced screenshots, thank you. This issue will automatically close once my pull request is complete. Please @mention me if you have any further feedback! Thank you!

[2020-12-15 23:00] #9688 closed

[2020-12-15 23:04] #9480 closed

[2020-12-15 23:07] michnATmicrosoft opened #9838 "Migration guide doesn't link to newest api version"
It links REST based api version 5.0 instead of the current 6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b7b4c9-f4f2-2c61-5a8a-2fbda5c394f7
* Version Independent ID: 1cd64ef7-5431-d783-150a-22c05bc54466
* Content: [WIT Client OM to REST Migration Guide - Azure DevOps Services](https://docs.microsoft.com/en-us/az

[2020-12-15 23:08] chcomley commented on #6899
Hi @drdamour, Can you please further clarify what you're trying to accomplish? Thank you.

[2020-12-15 23:51] arrrghhh commented on #9623
@mijacobs - this isn't really resolved, just a hacky workaround deployed.  Why isn't there an API for this, or a direct download link?  Or better yet Service Tags so I can just setup a rule in my NSG?

[2020-12-16 00:20] mijacobs commented on #9623
This repo is just for documentation issues--if you'd like to suggest an API or other improvement, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2020-12-16 00:21] shunkino commented on #9650
Great! Thank you.

[2020-12-16 01:50] vhhughes opened #9839 "Missing documentation on which team's "Board Column" values are shown in query results, when more than one team is assigned a given Area Path"
This documentation is ambiguous when it comes to understanding which team's "Board Column" values are shown in query results, when more than team is associated with Area Paths in query results. I cannot seem to determine how Azure DevOps decides which team's board column values to use in query results. It seems arbitrary. The deterministic logic used needs to be documented.

---
#### Document Deta

[2020-12-16 02:20] skedwards88 commented on #9815
Update after talking with @martin389 -- we are going to include `en/free-pro-team@latest` in all of the URLs to reduce redirects further. I will update the PR with this change.

[2020-12-16 06:35] rolfik commented on #9615
Well, both conditions were met in our case but packages were not deleted.
Because we have reached the limit and it has blocked our Azure pipelines, we have decided to abandon the Azure Artifacts and instead use shared folder on our company build server which is even much faster.

[2020-12-16 09:52] dave-yotta commented on #9782
Thanks will do.

[2020-12-16 10:02] e14mattc commented on #8546
We're looking for exactly the same thing @polavishnu4444 .. did you get anywhere finding a solution to this?

[2020-12-16 12:53] arynaq opened #9841 "Template variables for template jobs"
Hi,

This is more a question than an issue, the following is not possible and is not strictly necessary to make things work but I like the idea of templates as being type definitions with some preset values I pass around to compose pipelines but the following not working really makes it hard to argue for that:

[code]

Alternatively I could do (added Foo to demonstrate problem with this approach)

[2020-12-16 12:55] abdullahalo614 opened #9842 "abdllh-5111@outlook.com"
abdllh-5111@outlook.com

[2020-12-16 15:11] juliakm commented on #5306
@azooinmyluggage This is the issue I referenced. I'm running into the same issue as the customer during testing.