[2018-10-11 17:26] propellor opened #2057 "Import and exporting repositories"
May I suggest a guide on moving code from TFS or VSTS to devops?  I have a solution I'd like to migrate from TFS to devops and am not sure how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 527651eb-b068-313d-9a1f-78f5613b1d7a
* Version Independent ID: a8b55dcd-c261-5eed-edfc-6a4e74b2caee
* Content: [Add and

[2018-10-11 18:41] dburnison opened #2059 "Microsoft Docs Search is not working well for Azure DevOps topics"
For example, I am searching on " "Azure DevOps" Release "Azure Key Vault" Task " in Microsoft Docs and Bing. My goal is to get to https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-key-vault?view=vsts. This is the 1st or 2nd result in a Bing search, but I cannot find it when using search inside of Microsoft Docs. Something seems very broken if I have to use Bing instead of

[2018-10-11 18:53] kkho commented on #1819
Tried to deploy with dotnet core Project.  Just a dummy app. Followed the recipe all the steps except step 3 (which does not find web app container that I created in azure portal) and tried to run web app wtih multi containers. Uploaded a docker compose script and got an error saying that the image was not found, also when I tried to deploy a container as a web app from acr. It did not even work,

[2018-10-11 19:04] kkho opened #2060 "Deploying dotNet core api app with docker fails when deploying multi container web app"
Tried to deploy with dotnet core Project. Just a dummy app. Followed the recipe all the steps except step 3 (which does not find web app container that I created in azure portal) and tried to run web app wtih multi containers. Uploaded a docker compose script and got an error saying that the image was not found, also when I tried to deploy a container as a web app from acr. It did not even work, s

[2018-10-11 19:05] Infraton11 opened #2061 "AoHell"
How malicious is too current application's such as relocatable.ext

[2018-10-11 19:35] StefH commented on #1976
@heaths
This looks a lot like the issue created today:

**When building configuration "Release" using the task 'DotNetCoreCLI@2', a "Debug" version is build ?**
https://github.com/MicrosoftDocs/vsts-docs/issues/2053

[2018-10-11 19:45] chcomley commented on #2059
Appreciate the heads up, @dburnison. I've created a work item to address this.

[2018-10-11 19:45] #2059 closed

[2018-10-11 19:49] StefH opened #2062 "Why is there a ".NET Core CLI" help page ?"
All information which is defined on this page (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=vsts) is also explained on (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core?view=vsts)

So what is the reason for this page ?
Maybe better to remove this page and rename `.NET Core` page to `.NET Core CLI` ?

---
#### Document Detai

[2018-10-11 19:51] vtbassmatt commented on #2042
Demands are limited to existence and equality.

[2018-10-11 19:51] #2042 closed

[2018-10-11 19:54] vtbassmatt commented on #2044
Was this on a hosted agent?

[2018-10-11 20:54] heaths commented on #1976
Yes, this is the same issue. That's what happened to me. Given other tasks support a `configuration` option that sets the `Configuration` property automatically - though the .NET Core CLI does not - it's very confusing to document this configuration option as it is. Conversely, .NET could just add a "real" `configuration` option like other tasks, instead of requiring people pass it via `additional

[2018-10-12 01:10] TerryFei commented on #2044
Yes, I add a task to hosted agent job to install certificate.

[2018-10-12 01:15] johnyesberg opened #2064 "Can the pipeline provision Test infrastructure, perform the tests, and then delete the infrastructure?"
My application is built to run on client hardware.
For my integration test, I'd like to
- Create a VM or two
- Set up some environment variables,
- Install my build artifacts and a MongoDB server
- Start all the services
- Execute tests, some perhaps with Selenium
- Destroy the VMs.

I'm not quite sure how best to get started with this approach.
Do you think this use case might be widely applicabl

[2018-10-12 01:39] TerryFei commented on #2044
in addition it works in hosted vs2017 agent, but not work in hosted agent.

[2018-10-12 04:05] cmart89 commented on #1769
This looks like a bug and should be reopened. I had the same issue of not being able to see the "Manual Intervention Task" until I actually clicked the "Refresh" button by "Add Tasks". All other manual refreshes would not show it until this exact refresh button was clicked.

[2018-10-12 06:23] StefH opened #2065 "The "Push NuGet packages" example uses wrong path separator in the 'Path to NuGet package(s) to publish' property"
The property `packagesToPush` (Path to NuGet package(s) to publish) uses an example like `Example: **\*.nupkg;-:**\*.Tests.nupkg`, but this should be `Example: **/*.nupkg;-:**/*.Tests.nupkg` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96561b11-820d-b386-4208-e88e9552f5fc
* Version Independent ID: 42918fea-f9ad-260

[2018-10-12 07:48] Antovibin opened #2066 "Not able to create a WPF EXE."
I am able to build the source code using DevOps, but not able to create a EXE file.
Need a straightforward solution to create a Desktop application EXE, from Azure DevOps.
Video link for latest devOps could help us a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Inde

[2018-10-12 13:34] alexhomer1 commented on #1769
Thank you for your feedback. I've tried this several times and cannot reproduce the issue. I don't think that there is a fault in the documentation. I suggest you post it on the Product Feedback site (Developer Community - https://developercommunity.visualstudio.com/spaces/21/index.html) to see if you can get a more specific answer to the issue.

[2018-10-12 13:43] steved0x commented on #2038
@hjlarrea I just fixed the URL part yesterday, but both URL formats should work (see [Can I still use visualstudio.com?](https://docs.microsoft.com/en-us/azure/devops/user-guide/what-happened-vsts?view=vsts#can-i-still-use-visualstudiocom))

I will fix the `api-version` today as I have some other changes going out. Thanks for letting us know!

[2018-10-12 13:48] steved0x commented on #2029
@olyjoe Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-12 14:12] alexhomer1 commented on #2043
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-10-12 14:56] steved0x commented on #2038
I just pushed the fix for this, it should be live later today. Thanks for letting us know!

[2018-10-12 14:56] #2038 closed

[2018-10-12 15:11] steved0x commented on #1940
@RoopeshNair Can you assist?

[2018-10-12 15:13] steved0x commented on #1948
@JeisonSalazar I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-12 15:13] #1948 closed

[2018-10-12 15:15] steved0x commented on #1951
Looks like: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts is the topic

[2018-10-12 15:16] steved0x commented on #1952
@markmadlangbayan I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png

[2018-10-12 15:16] #1952 closed

[2018-10-12 15:17] steved0x commented on #1960
@ahaeber Thank you for providing the additional information, I am assigning this issue to the right person for review.

[2018-10-12 15:18] steved0x commented on #1965
@DavidHenri008 Yes exactly, please submit it there and it will go right to the product group and help them with planning new features and enhancements to existing features.

[2018-10-12 15:18] #1965 closed

[2018-10-12 15:22] RXtr commented on #1940
Oh man sorry about that, I haven't checked my replies on this in a while.

I was actually able to solve my problem. The issue was that I was using a
new version of the Build Agent with an old copy of Vsts build, as we are a
standalone installation.

Thanks for following up though!

On Fri, Oct 12, 2018, 9:11 AM Steve Danielson <notifications@github.com>
wrote:

[2018-10-12 15:30] bredar opened #2067 "Empty Artifact Name"
I would like to set an empty artifact name. Or and option to not use the artifact name as subfolder. This, because in need to drop the artifacts in a certain way to an unc path without an additional Folder.

[2018-10-12 15:45] DavidHenri008 commented on #1965
@steved0x It is strange but when I try to add a feature for DevOps it tells me I do not have access.

[2018-10-12 15:54] MBhatt01 opened #2068 "Building Nuget package with Nuget Pack *.csproj and Nuget Push, not working correctly"
I have created a solution with multiple target frameworks project. So my csproj file has like this:
`<TargetFrameworks>netstandard2.0;net462;net472;netcoreapp2.0;netcoreapp2.1;</TargetFrameworks>`

Then added dependencies like below:
[code]

Also having `GeneratePackageOnBuild` as true, so on build command it creates a nupkg file, even on local machine and that works correctly on all supported fra

[2018-10-12 16:42] SCordesHum opened #2069 "Manage Releases diagrams fixes"
1. Inconsistency:  In the "Use release branches" diagram, the bugfix is the first branch from Release/20; in the "Port changes..." diagram, it is the second branch.
2. The "Port changes..." diagram should show how BOTH the bugfix and hotfix branches get back into master.
3. In the "Port changes..." diagram, the bugfix and hotfix *content* is being cherry-picked, but the cherry-picking actually hap

[2018-10-12 16:49] hjlarrea commented on #2038
Thanks guys! Glad to help!

[2018-10-12 16:57] SCordesHum opened #2070 "'hotfix branch from Release' inconsistent with other Microsoft guidance"
Several other Microsoft Release Flow documentation pages describe hotfixes as:  create a feature branch from master, merge to master, and cherry-pick from master into the Release branch(es).

This page says to create the hotfix branch from the Release branch, merge the hotfix branch to the Release branch, cherry-pick from the Release branch to a feature branch off of master, and merge that feature

[2018-10-12 17:53] steved0x commented on #2057
@propellor If you are asking about a guide to migrate from on-premises TFS to Azure Devops Services (formerly known as VSTS), would this help you: [Migrate data from TFS to Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/articles/migration-overview?view=vsts)

[2018-10-12 19:01] vtbassmatt commented on #2044
Ah, OK. The Hosted agent is a little different - I don't think the build runs as admin there. We're not going to take a change in that image, as too many people depend on its quirks :(

[2018-10-12 19:01] #2044 closed

[2018-10-12 19:44] lwajswaj commented on #1951
Hi @steved0x , yes, sorry, that's the topic

[2018-10-13 03:30] adventworks commented on #2032
This work has been only done for phases in builds and not yet for phases in releases. It is on the backlog.

[2018-10-13 09:56] michazag opened #2073 "Plugin name"
"Azure DevOps Services" doesn't appear under "Browse Repositories" in IntelliJ. I found a  "Visual Studio Team Services" plugin
 however - hope this is the one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b71f9c7b-a10e-4adc-22d0-58d4b40b35c8
* Version Independent ID: 90cda752-8667-2e9c-4ba9-5af1abbb63b8
* Content: [G

[2018-10-13 23:12] kgreed opened #2074 "Given that I have downloaded the credential provider do I still need to make a personal access token?"
I managed to get 1 package into my package store but now get Access is denied when I try to add more. https://stackoverflow.com/questions/52772765/how-do-i-set-up-azure-dev-ops-to-build-dev-express-xaf-xpo-project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab0a3735-a9b0-2ed7-f08f-5321f55f8c90
* Version Independent

[2018-10-14 00:01] kgreed commented on #2074
OK, I don't need a PAT because I am using V3. However this page is linked to by "I am having trouble with authentication" on the "Connect to feed" dialog and it does not give me any troubleshooting steps on how to authenticate.

[2018-10-14 00:32] kgreed commented on #757
In my case it asked for credentials once. I was able to push then but now I get access denied and I don't know where to go to fix the credentials.

[2018-10-14 13:59] johnnyreilly opened #2075 "matrix - how do you have multiple variables?"
Hi,

I work on [ts-loader](https://github.com/TypeStrong/ts-loader); a nodejs project that brings TypeScript and webpack together.

We're just evaluating Azure Pipelines as it looks very promising indeed!  However, we've stumbled along the way and wanted to ask you for some help.  It's not obvious to me how to have multiple variables in a test matrix?  What I mean is, with ts-loader, we like to te

[2018-10-14 18:57] jordanchang opened #2076 "Doesn't work"
Got this to work on a Mac after adding my Private Repo Url & a personal access token to the nuget.config file in my $HOME/.nuget/nuget folder.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a158fb-d1e3-a0d9-492e-3f78dde5d97c
* Version Independent ID: 71055426-3ba1-27f3-11db-cadb688ae123
* Content: [Use dotnet with Azu

[2018-10-14 23:12] kgreed opened #2077 "Where is the help for bitbucket?"
This page mentions that there is some

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a9c9ac-02c4-839a-555b-8d9d22d08fab
* Version Independent ID: 259fcc03-e73d-2004-dfa6-067728a85981
* Content: [Import a Git repo into your project - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/import-git-repos

[2018-10-14 23:14] kgreed commented on #2077
![image](https://user-images.githubusercontent.com/1795966/46923419-2374d880-d063-11e8-94d6-cc79e9a15b57.png)

[2018-10-15 00:54] kgreed opened #2078 "what rights do the different access levels give?"
Does Stakeholder give better access than Basic?  This information or a link in it should be in this help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aa416a-b842-77d0-e18a-bee7f7bf7205
* Version Independent ID: 65942145-45ca-48bb-6adc-c16bd662b80a
* Content: [Manage users and access in Azure DevOps](https://docs.m

[2018-10-15 02:40] aboo commented on #976
Any update on this?

[2018-10-15 02:51] ahanoff opened #2079 "Unable to push docker image to ACR"
I'm following this guide to build, and then push image to ACR. But image name is not evaluated properly during push step, so I end up with the following message:

`2018-10-15T02:28:11.4805747Z An image does not exist locally with the tag: blablabla.azurecr.io/postgres`

I run 'docker images', so I can see the image with tag exist, so somehow imageName is resolved normally during build step,  but r

[2018-10-15 05:45] patrick-ryan1 commented on #1884
Still broken

[2018-10-15 06:00] PBoraMSFT commented on #2043
@jimicze - support for associating MSTest v2 tests is available in the latest Visual Studio release (currently preview) - https://visualstudio.microsoft.com/vs/preview/

[2018-10-15 06:16] HeikoWitthoeft opened #2082 "existing build pipeline -> selected phase -> view YAML -> variable missing"
Hi, we faced the problem that we wanted to reuse a existing build definition on another repository. So we copied our build pipeline with that "view YAML" window on the needed Phase. In that Phase we have some steps of type task: CmdLine@1. In the third of those we use a variable which is copied just fine, in the fith step we use another variable which is just missing. If we select the command line

[2018-10-15 08:29] ahanoff commented on #2079
All right, I resolved it. But docs should be fixed anyway.
So, to push to private docker registry you will need to tag it as `<dockerRegistry>/<image>:<tag>`.

[2018-10-15 11:19] RTodorov opened #2083 "Any plans to support Pull request builds in YAML syntax?"
At this point I don't know if this is still a limitation of the platform or if the documentation is outdated.

Do we already support pull request builds in YAML syntax? If not, are there any plans or any place I can follow up on this? It really doesn't make sense to have part of your pipeline automated, part you have to use the designer. Also, the PR flow is pretty basic for any pipeline I guess.

[2018-10-15 11:30] RehanSaeed opened #2084 "Setting Common Environment Variables"
Is there a way to specify environment variables for all build steps and jobs? I want to repeat the same environment variables everywhere. As an aside, do I need to specify the environment variables below for quicker build times or do the images include them out of the box?

[code]

[2018-10-15 12:16] RehanSaeed opened #2085 "Conditionally Adding Branch Name to the Build Name"
I'm trying to build a Docker image. I use the build name as the Docker image version. This is the build name I am currently using in my yml:

[code]

For the foo branch, build ID 5, this produces the name:

[code]

If it's the master branch though, I don't want `-master` on the end of the name. I would like the build name to be:

[code]

Is this possible? I have seen [expressions](https://docs.mic

[2018-10-15 12:19] andersoyvind commented on #2073
That plugin is referenced at the top of the page: http://plugins.jetbrains.com/plugin/7981
I agree on the confusion, as I just did that myself.

[2018-10-15 12:46] RoopeshNair commented on #2017
Documentation is correct, it the UI that has the bug. I have logged a bug to track this internally. Thanks for reporting it.

[2018-10-15 12:46] #2017 closed

[2018-10-15 12:48] RoopeshNair commented on #2053
@azooinmyluggage for dotnet tasks

[2018-10-15 12:49] RoopeshNair commented on #2051
@azooinmyluggage for dotnet core tasks

[2018-10-15 12:54] RoopeshNair commented on #2047
@azooinmyluggage for dotnet core tasks

[2018-10-15 12:55] RoopeshNair commented on #1940
Thanks for confirming, closing the issue

[2018-10-15 12:55] #1940 closed

[2018-10-15 13:27] 24mu13 opened #2089 "Embedded videos do not work as documented"
If you try exactly the same documented way to embed video, simply doesn't work!
::: video
&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/OtqFyBA6Dbk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen&gt;&lt;/iframe&gt;
:::

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa622358-f

[2018-10-15 13:54] justinmetz commented on #1551
I can confirm that the variable can be retrieved by using $(Build.TriggeredBy.DefinitionName) instead of what is in the docs.  Thank you so much for pointing this out, it was driving me crazy. :)

[2018-10-15 14:04] vtbassmatt commented on #2083
Coming in the next 3 weeks. It'll be documented once the feature ships.

[2018-10-15 14:04] #2083 closed

[2018-10-15 16:03] mikemccaughan opened #2090 "WIQL "NOT EVER" syntax not supported"
The documentation on this page suggests that the statement "NOT EVER" in a WHERE clause is supported. Witness the following statement and example under ["Logical Grouping"](https://docs.microsoft.com/en-us/azure/devops/boards/queries/wiql-syntax?view=vsts#logical-grouping):

You can negate the `contains`, `under`, `in`, and `ever` operators by using `not`.

[code]

However, entering this into the

[2018-10-15 16:55] chcomley commented on #2078
Thanks @kgreed, I've created a user story to add more information to the topic. To answer your question, no, stakeholder is never better than basic. Here's a link to compare features: https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microsoft.com%2Fen-us%2Fservices%2Fdevops%2Fcompare-features%2F&data=02%7C01%7CChrystal.Comley%40microsoft.com%7Cd50da26c85364f06690b08d632b88b17

[2018-10-15 16:55] #2078 closed

[2018-10-15 17:20] riQQ opened #2091 "Pipelines/Build and Release is incomplete / incorrect"
The row for the task `View builds` is missing. Also, if I'm not mistaken, Stakeholders only have access to release pipelines and not to build pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35602ee-9d11-9746-4b79-075e295a5fb8
* Version Independent ID: dbea8e30-e80b-8f13-987e-ef0ad3ba9b83
* Content: [Default

[2018-10-15 17:21] craig-wagner opened #2092 "Trust"
I personally feel the words "at scale" should be omitted in the statement, "When practicing Agile at scale, trust is a 2-way street:" The points below that apply regardless of team size or number of teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bc244f-e07c-f8a4-0f00-04c8e015821f
* Version Independent ID: 2a37

[2018-10-15 18:07] DavidStaheli commented on #2015
Hi Taylor.  Apologies that this information wasn't immediately clear.  Great suggestion to add a note/link in the "Secret variables" section.  That has been done and should be live later today.  Thanks a lot!

[2018-10-15 18:07] #2015 closed

[2018-10-15 18:48] memark opened #2094 "YAML syntax documentation"
It would be very helpful to include a link to the documentation for the YAML syntax allowed in these files. Where can I find it?

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 38f7a23b-ebd4-af3e-68a2-275f7e45c33e
* Version Independent ID: f552a18c-ba29-00d4-03b6-254d7556d319
* Content: [Create your first p

[2018-10-15 18:52] andyjlewis commented on #2094
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema

[2018-10-15 19:47] chcomley commented on #2027
@teejam2 Thanks for your patience on this - Microsoft already performs all the appropriate backups in case of a disaster. Please see the Data Protection Overview for more information: https://docs.microsoft.com/en-us/azure/devops/articles/team-services-security-whitepaper?view=vsts. I'll be adding this information to this topic you commented on. Thanks so much.

[2018-10-15 20:16] teejam2 commented on #2027
Hi @chcomley I agree with you, but my workplace is insisting that an on-prem back-up is required

[2018-10-15 20:38] ckrempp91 opened #2095 "This documentation is out of date"
After investigation into a compression issue of the Android APK I stumbled across a github ticket that outlines a major change of this functional task. The change is that the task transitioned from using the jarsigner to the apksigner. It would be very helpful to have this document match the functionality, and to list all of the supported platforms: DevOps, TFS 2018, etc...

Here is the pull reque

[2018-10-15 20:47] kgreed commented on #2078
Hi @chcomley  where is the user story?  The compare features link does not tell me anything about what rights a Basic user has.  The word Basic only appears at the very bottom of the page and I aren't sure it is in the same context.

[2018-10-15 20:52] nschonni commented on #2078
Think you're looking for https://docs.microsoft.com/en-ca/azure/devops/organizations/security/access-levels?toc=%2fazure%2fdevops%2fbilling%2ftoc.json&%3bbc=%2fazure%2fdevops%2fbilling%2fbreadcrumb%2ftoc.json&%3bview=vsts&view=vsts

[2018-10-15 21:03] kgreed commented on #2078
What is a VSTS User ?
Since VSTS Is devops then this is circular.
Do I need to have paid money to get basic access?

[2018-10-15 21:14] kgreed commented on #2078
In dev.azure.com/myorganisation/_settings/users
Change access level
![image](https://user-images.githubusercontent.com/1795966/46978692-54b0df80-d11b-11e8-91d6-9329f0bd1ec5.png)

Visual Studio Subscriber is not mentioned in the access levels help Can it be?
Could the order of the combo box be changed to reflect the access level?

[2018-10-15 21:22] kgreed opened #2096 "Is it possible to have basic access with a gmail address?"
https://stackoverflow.com/questions/52808278/why-cant-i-assign-work-items-to-a-team-member

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b9dd76-4131-bf69-f9bc-c7f7ef562609
* Version Independent ID: 8d3bfbae-3398-c0a2-ca4d-c4782a3b4370
* Content: [Create your Azure DevOps organization](https://docs.microsoft.com/en-u

[2018-10-15 22:02] gmarbury opened #2097 "Need an example and steps to do Alternative to using the Checkout submodules option"
the line below is not enough. Please provide an example with a fake PAT with all zeros  or a PAT like this abcdefghijklmnopqrstqrs12345 .

git -c http.https://&lt;url of submodule repository&gt;.extraheader="AUTHORIZATION: basic ********" submodule update --init --recursive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-10-15 22:21] fastrnu80 opened #2098 "Getting 404 error from dev.azure.com request"
I'm calling the second snippet of code (via https://dev.azure.com/msdata/CosmosDB/_apis/repos/git/repositories/Playtime/pullrequests/158584/statuses?api-version=4.1-preview.1) and getting a 404 error.

2018-10-15T22:17:22.687 [Information] System.Net.Http.HttpRequestException: Response status code does not indicate success: 404 (Not Found).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessSt

[2018-10-16 01:39] joebourneMS commented on #1947
Hi John, I've asked my team to look into this now. Stay tuned, I'll get you a sample soon.

[2018-10-16 05:00] ParidaPunyasloka commented on #1625
How would I store data (in a variable) from a "GET" request? and use it for a "PUT" or "POST" request?

[2018-10-16 07:19] PBoraMSFT commented on #976
@aboo - no, there isn't a way around it. Coverage can only be collected for tests that are run.

[2018-10-16 07:19] #976 closed

[2018-10-16 08:56] nicolastakashi opened #2100 "Portuguese version of this document missing?"
I tried to find the portuguese version of some contents but I had no success.

Some one are translate contents for this document or I can try to send some pull requests?

[2018-10-16 09:08] dombat opened #2101 "What about team explorer compatibility?"
Some of our users are using old versions of Visual Studio and Team Explorer (e.g. 2012 & 13) so are these comptible with newer TFS? (They do have legitimate reasons for using these old versions)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641b37fc-f117-aca0-32f4-8ea9b73e9d71
* Version Independent ID: 211130c6-43b8-f

[2018-10-16 09:10] krilbe opened #2102 "Unclear where these are found"
It is not clear in this document where we can set/view these parameters in Azure DevOps. There are build pipelines and release pipelines, but I find no parameters view for either. Variables, yes, but parameters? Trying to set Parameters.WebsiteName to something else than "Default Web Site"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-10-16 09:11] dombat commented on #2101
Ah, I see it's on the next page called "Compatibility".  https://docs.microsoft.com/en-us/tfs/server/compatibility

[2018-10-16 10:08] randallrmz opened #2103 "misspelled word"
'usng' instead of 'using' line 1 from anchor: https://docs.microsoft.com/en-us/azure/devops/learn/git/git-pull-requests#learn-more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff23ed00-53ad-e289-bf1e-084055036ec3
* Version Independent ID: 6a428e43-b647-9631-add5-43d54c4981b6
* Content: [Get feedback with pull request

[2018-10-16 10:54] #2043 closed

[2018-10-16 11:19] vithati commented on #1879
@timwebster9 , Thanks for reporting issue. Some of the task input parameters not valid for some commands example:- releaseName input only valid for 'install' and 'upgrade' command. I will follow up with doc team to update the task [document](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=vsts).

[2018-10-16 11:46] cmeyertons opened #2105 "yaml syntax incomplete for additional arguments"
it would be nice to see yaml snippets of all the available arguments and their defaults for the different docker commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Content: [Docker - Azure Pipelines & TFS](https:/

[2018-10-16 12:32] vuminhle opened #2108 "Typo in section Timeouts' example"
The example in [Timeouts](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?tabs=yaml&view=vsts#timeouts) should contain `job` instead of `pool`. It should also contain real numbers to be consistent with other surrounding sections.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54bf6c2f-95c

[2018-10-16 13:13] steved0x commented on #2098
@fastrnu80 Thanks for letting us know. The correct URL is:

`https://dev.azure.com/{0}/{1}/_apis/git/repositories/{2}/pullrequests/{3}/statuses?api-version=4.1-preview.1`

I have just fixed this and it should be live later today.

[2018-10-16 13:13] #2098 closed

[2018-10-16 13:18] memark commented on #2094
Thank you, that's great! As I also pointed out, it would be great to include this in the documentation page for others to find.

[2018-10-16 13:39] #1884 closed

[2018-10-16 13:54] elbatk commented on #2101
Glad you found it, @dombat :) closing this out!

[2018-10-16 13:54] #2101 closed

[2018-10-16 14:11] steved0x commented on #2103
@randallrmz Thanks for letting us know, I am fixing this and it should be live soon.

[2018-10-16 14:11] #2103 closed

[2018-10-16 14:29] alepauly commented on #1947
@jftl6y - Is your composer.json in a subfolder? You can always pass in the --working-dir argument to composer, something like (assuming composer.json is inside subfolder ```pkgs```):
[code]

You can also specify the absolute path, using the built-in [system variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables):
[code]

We'll look into coming up with a sample, but hope

[2018-10-16 14:30] steved0x commented on #2077
@kgreed Bitbucket is one of the providers from which we can import a Git repo, by pasting in the clone URL and the authentication in the import page. I personally haven't imported from a Bitbucket repository - if you've tried it, was there an issue in performing the import that could be addressed with some additional steps in the documentation?

[2018-10-16 14:34] steved0x commented on #2073
@michazag That is the right one, it looks like the renaming of things to "Azure DevOps Services" is not exactly in sync with one another. I will get this article updates to reflect the correct name and it should be live later today.

[2018-10-16 14:34] #2073 closed

[2018-10-16 14:37] steved0x commented on #2067
@bredar Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-16 14:58] out-dev opened #2111 "Private Agent missing .taskkey file in working direktory"
After a restart of the private build agent the .taskkey is missing in the working directory. When executing a build it tries to access the .taskkey file. This fails and so the build fails as well.

How can I recreate the .taskkey file? After a restart this file will not be created again.

The files _update.cmd, IMC.hiv are also missing.

I am happy about every idea

Simon Schmitt

[2018-10-16 15:55] jzserai commented on #1824
I originally made this post to
1. Inform you that the SQL Server Deploy Task in Azure DevOps does not execute pre- and post-deployment scripts, at least when executed from a remote server, and
2. Show you an alternate method that does execute the pre- and post-deployment scripts when executed from a remote server.

Our configuration is to deploy the agent on the web server and execute deployments

[2018-10-16 16:04] willmorgan commented on #1769
@alexhomer1 As of now, all I can see is a 404 for the GitHub URL in the docs:

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/ManualIntervention

![image](https://user-images.githubusercontent.com/168688/47030353-7b940380-d165-11e8-8c7d-5242e0a7fff5.png)

[2018-10-16 16:15] alexhomer1 commented on #2108
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-10-16 16:15] #2108 closed

[2018-10-16 16:19] alexhomer1 commented on #2075
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-10-16 16:24] paclife opened #2112 "Issues with Maven Task"
Hi, starting Thursday last week we started seeing this issue "Unable to locate executable file: '/usr/share/maven/bin/mvn'" on our Maven tasks? Do we have to update anything that's not documented here?

2018-10-16T16:21:09.1674902Z ##[section]Starting: Maven
2018-10-16T16:21:09.1680005Z ==============================================================================
2018-10-16T16:21:09.1680117Z Task

[2018-10-16 16:27] alexhomer1 commented on #1769
Looks like the GitHub doc has been removed in favor of the topic "Manual intervention task for Azure Pipelines and TFS" (linked above). I'll remove the link to GitHub.

[2018-10-16 16:28] PBoraMSFT commented on #2075
@DavidStaheli - feedback to improve the matrix strategy docs.

[2018-10-16 16:33] theunstablemind opened #2113 "Small typo in doc"
fighter pilots form being shot ... should be ... fighter pilots from being shot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf98c4b-9185-00d5-a980-e2adb3e291fd
* Version Independent ID: f6005931-c9b5-48d9-e6c3-f835bb9b01b1
* Content: [What is DevOps? - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/lea

[2018-10-16 17:08] chcomley commented on #2078
@kgreed Please see _inline_:
What is a VSTS User? _There is only an Azure DevOps user, since VSTS is no longer the name of the product._
Since VSTS Is devops then this is circular. _Did you see VSTS mentioned mistakenly somewhere in our documentation? If so, please forward, thank you._
Do I need to have paid money to get basic access? _Five users who get Basic features can join your organization f

[2018-10-16 17:15] hayesgb opened #2114 "Problem with usage of pre-defined variables in a Command Script"
I'm executing a git in a command script.  When I pass:
git remote add origin $(Build.Repository.Uri)
I'm getting the base url of the git repository, not the full repository URI.

However, if I pass:
git remote add origin $(Build.Repository.Uri)/$(Build.Repository.Name)
Then I get an error, because the full repository URL + the repository name is appended, such that:  https://xx.yy.com/_git/repo_na

[2018-10-16 17:45] simmdan opened #2115 "Timeouts examples appear to be incorrect"
On [this page in the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?tabs=yaml&view=vsts#timeouts), there is an example showing the property `timeoutInMinutes` as a child below `pool` in a job, but putting it there has no effect.  Instead `timeoutInMinutes` must be specified directly as a child of `job`.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-10-16 18:11] chcomley commented on #2027
@teejam2 Azure DevOps does not support comprehensive customer-available backups of all Azure DevOps Organization data in any meaningful way. That data is spread across multiple multi-tenant Azure SQL Databases, multiple multi-tenant Azure Storage accounts, and so forth. Depending on your specific requirements, you can manually back up subsets of important data. For example, you could set up an aut

[2018-10-16 19:05] alexmullans commented on #2065
This is an artifact of the task being multi-platform. The task docs are correct for Windows agents. @steved0x how are we handling this in general across the docs? `\` is right for Windows, `/` is right for Mac/Linux.

That said, there's also another issue here. The new version of the task moved to `!` instead of `-`. We should have a note explaining that, similar to the [note here](https://docs.mi

[2018-10-16 20:22] nikolay-advolodkin opened #2119 "How do we filter tests like NUnit"
How do we select and filter tests from a framework like NUnit? Any docs on this available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c52f6c7a-51d5-bb16-7818-40236e8ed8ef
* Version Independent ID: c2e57832-cf8b-ec17-bd45-fe5ef10b95ea
* Content: [Azure Pipelines and TFS Build and Test - Run Functional Tests task - A

[2018-10-16 21:07] chcomley commented on #2091
@riQQ thanks for the information. I've created a user story on my backlog to address this.

[2018-10-16 21:07] #2091 closed

[2018-10-16 22:56] ckrempp91 commented on #2095
Just an update, for a more specific platform support info, it appears the update was released within TFS 2018 Update 3 as mentioned within this comment on the linked pull request: https://github.com/Microsoft/azure-pipelines-tasks/pull/7544#issuecomment-430364336

[2018-10-16 23:29] simmdan commented on #2115
Looks like this is now fixed.  Thanks!

[2018-10-16 23:29] #2115 closed

[2018-10-17 01:04] xtellurian opened #2121 "Incorrect YAML example for docker login"
YAML script docker login for ACR example is:

`docker login -u $(dockerId).azurecr.io -p $(pswd) $(dockerid).azurecr.io`

but should be

`docker login -u $(dockerId) -p $(pswd) $(dockerid).azurecr.io`

without the .azurecr.io on the username

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e825c07d-2168-c0aa-782a-ef6f9c7

[2018-10-17 01:10] xtellurian commented on #2121
huh - the repo has been updates, but docs.microsoft.com has not

https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/docker?view=vsts&tabs=yaml#push-an-image

[2018-10-17 01:34] #2077 closed

[2018-10-17 04:41] ripper234 opened #2122 "How to choose between Agile & Scrum"
As someone doing some informal form of Agile/Scrum for years, it's the first time I am asked to choose a template.
Any advice on how to choose between the two? What works for which teams/processes?
Is the difference mostly semantic, in the terminology of the states?
Can this be changed later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-10-17 05:29] dcaro commented on #2112
@paclife I faced the same issue. The workaround is to use a custom path for Maven and specify "/usr" for the Maven path.
I also opened the following issue:  https://github.com/Microsoft/azure-pipelines-tasks/issues/8630

[2018-10-17 05:52] shashankbarsin commented on #2085
@RehanSaeed you can achieve this by having two scripts, each with a condition associated with them as shown below -

[code]

So if the BuildId was 5 and SourceBranchName was 'master', only the first script would execute and would echo 1.0.5. The second script would be skipped as the condition would fail

On the other hand if the BuildId was 5 and SourceBranchName was 'foo', the first script would

[2018-10-17 08:15] alessandrodalmas commented on #812
same here, trying to develop an extension and jumping page to page for get more informations

[2018-10-17 09:13] GavinOsborn commented on #1849
Understood @PBoraMSFT - I'm not sure what happened - I discovered this "problem" trying to create my first build pipeline from the documentation. Either the platform was having a momentary hiccup or more likely my butter fingers made a mistake.

In any case, I wonder if the documentation should be consistent one way or the other?
The YAML snippet is the only reference on the page that refers to th

[2018-10-17 10:01] StefanSchoof opened #2124 "What happens to a PAT if user account is disabled?"
What happens with the valid PAT, when a User Account is removed from Azure DevOps. Are the still valid to the given date or are they become invalid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bfea574-db69-a5fd-37fe-64ecfdac502a
* Version Independent ID: 4037d475-f194-2ac9-ffd6-70530fc3140a
* Content: [Authenticate

[2018-10-17 10:53] KarlGW opened #2125 "Define azurepipelines.yml without triggering a build"
Following the steps in [Create your first pipeline](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-yaml?view=vsts). Is there anyway to define an `azure-pipelines.yml` without triggering the build at initial creation? I can only see a "Save and Run", not any way of just doing a Save and configure the trigger later on. Or can this be worked around by setting `trigger: 'none'` in

[2018-10-17 12:06] moyanming opened #2127 "Need link of the attachment!"
I need a link of the attachment, so I can add this link to the text of the content within the discussions.
![qq 20181017200246](https://user-images.githubusercontent.com/13234209/47085023-e453ac80-d247-11e8-9e70-b6f4d56e770d.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef3955e8-20ca-18ad-172a-bce3b4374b92
* Vers

[2018-10-17 14:48] pauldalyii opened #2128 "@CurrentIteration +/- n macro in Excel"
Are there plans to update the Office Integration Tools to support @CurrentIteration +/- n macros so that we can open queries in Excel?  If so, do you have an ETA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14ee34-2de7-706f-ae44-be969fde352b
* Version Independent ID: f7ba18e9-42e4-ef07-e36b-377fb787aa72
* Content:

[2018-10-17 15:07] alexhomer1 commented on #2119
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-10-17 15:09] mrooths commented on #1660
When I run "cat $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh" the output I see shows:

#!/bin/bash
if [ -z "$1" ]; then
  echo "No Xamarin SDK specified."
  exit 0
fi

XAMARIN_SDK=$1

echo "Set Xamarin SDK to ${XAMARIN_SDK}"
FOLDERS_LIST=(
        '/Library/Frameworks/Mono.framework/Versions'
        '/Library/Frameworks/Xamarin.iOS.framework/Versions'
        '/Library/Frameworks/Xamarin.An

[2018-10-17 15:15] mrooths commented on #1660
To create the sym links myself for Mono and Xamarin.iOS versions I'm using the commands below I'd assume setting the Xamarin.Android version would be similar. I still have no idea why we're supposed to use underscores.

/bin/bash -c "sudo xcode-select -s /Applications/Xcode_10.app/Contents/Developer"
xcodebuild -showsdks

/bin/bash -c "sudo rm -f '/Library/Frameworks/Mono.framework/Versions/Curren

[2018-10-17 15:28] Abutu commented on #1916
@harishkragarwal is there any updates on this one?

[2018-10-17 15:48] mrooths opened #2129 "$AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh doesn't work"
When I run "cat $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh" the output I see shows the Xamarin SDK version is being used to symlink the versions of Xamarin.*.framework/Versions yet they don't share similar version numbers. Additionally, [we're instructed](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=vsts&tabs=yaml#how-can-i-manually-select-versions-of-tools-on

[2018-10-17 16:52] johnkors commented on #1721
+1

Raised a question here as well.

https://github.com/Microsoft/azure-pipelines-tasks/issues/8641

[2018-10-17 16:55] johnkors commented on #712
@alexmullans , I have the same issue sort of.  I cannot get an Azure Devops build pipeline to authenticate to a feed. It just spits out 401s when trying to restore a package from the artifacts feed.  See https://github.com/Microsoft/azure-pipelines-tasks/issues/8641

Could you help out?

[2018-10-17 17:49] craigdUSI commented on #1297
We migrated to Azure DevOps over the weekend and are running into usage delays when annotating files which have very long histories.  I would agree the limits should be flexible, even at a cost.

[2018-10-17 17:55] kiranjulapalli opened #2131 "Why is there no documentation on this task?"
I understand that we need to use a different task instead of this deprecated one.
However for an already configured legacy task (Copy and Publish Build artifacts), if we want to update to the new tasks (Copy Files and Publish Build Artifacts), how is the user expected to know what the current task is doing under the hood (with no documentation)?

---
#### Document Details

⚠ *Do not edit this sect

[2018-10-17 18:14] mrooths commented on #2129
The final step was to append the correct AppleSdkRoot key in Settings.plist. Thanks goes to [Andrew Schwenker](http://andrewschwenker.azurewebsites.net/) for pointing that out. The complete script I use to build is below.

[code]

[2018-10-17 18:14] #2129 closed

[2018-10-17 18:55] #1968 closed

[2018-10-17 19:31] pekspro opened #2132 ".NET Core applications is not covered"
This document doesn't cover how to unit test .NET Core applications, would be nice if that was explicitly mentioned (than I might have got to sleep earlier).

This is how I got it to work:
* I removed the VsTest task.
* I added the task .NET Core
* In this task I selected "test" as command and entered an appropriate path to the project files (I used **/*my*test*.csproj)

That's it! :-)

---
#### D

[2018-10-17 19:56] DominicCabral opened #2133 "Adjust Counter Seed"
Is there a way to reset or change the value of the seed of a [counter](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=vsts&tabs=yaml%2Cbatch#counters) after the first time it's been set?

I've tried to change the value in code, but it seems it's still incrementing based off the first value I ever set.

Example:

`patch: $[counter('myProj.patch', 450)]`

results in,

[2018-10-17 20:49] scottkuhl opened #2134 "The Work Items Page in TFS 2018.2 is Missing"
The documentation states that the new Work Item pages is available in TFS 2018.2 but I am not seeing it.  Is this feature actually available on premises or cloud only?

https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/boards/work-items/view-add-work-items.md

[2018-10-17 21:09] maestrocoder commented on #1656
This is great for Xamain.ios and Xamarin.Android -  BUT, what about Xamarin.MAC?

[2018-10-17 21:18] dylanjohnsonsfo commented on #909
Is there any way to view YAML for the release stage? I can see the view YAML for the build but not for release. Would be super handy to be able to do this? Does anyone know how?

[2018-10-17 22:25] MisterReally opened #2135 "Environment variables only exist on 'Hosted VS2017' agents"
The environment variables mentioned in this article for the selenium browser drivers like "ChromeWebDriver" don't exist on the hosted agents -  please clarify that it is only the Hosted VS2017 agents that host Chrome and the web drivers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e51d18-72ec-1ad4-9ae7-8185c8e1dcd

[2018-10-18 04:39] spbrogan opened #2137 "Please describe the workspace -> clean values"
Anytime their is a set of valid values for a field can they be briefly described.  Specifically my ask is for the workspace clean options.

workspace:
    clean: outputs | resources | all # what to clean up after the job runs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version

[2018-10-18 10:19] michazag commented on #2073
Thanks!

[2018-10-18 11:49] apopovsky opened #2140 "Typo in document"
pookl instead of pool at https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=vsts#creating-agent-pools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4409a9cb-8448-edd6-da0a-243e5601aa3e
* Version Independent ID: ec15f71a-a76d-c3f9-1d31-832f92183ef4
* Content: [Agents pools - Azure Pipeline

[2018-10-18 12:32] ignatenko-paul commented on #508
Looking at extensions examples I can see a lot of other types which are not listed by specified link.
So it seems incomplete list.

[2018-10-18 13:47] alexhomer1 commented on #2132
Thank you for your feedback. The process for testing .NET Core apps is described in https://docs.microsoft.com/en-gb/azure/devops/pipelines/languages/dotnet-core?view=vsts&tabs=designer#run-your-tests. I will add a link to the topic to reflect this and other test options.

[2018-10-18 13:47] #2132 closed

[2018-10-18 13:56] andyjlewis commented on #2140
good catch, thanks. pushed fix to an internal PR, should be published this week

[2018-10-18 13:56] #2140 closed

[2018-10-18 13:57] alexhomer1 commented on #2135
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-10-18 13:57] #2135 closed

[2018-10-18 14:26] robertkearnes opened #2141 "Maven Upsteam Source Capabilities"
There is no mention of Maven upsteam source capabilities, is this available and if not when is it scheduled to be available in the same way as discussed for NuGet and npm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5f022df-36c3-34b1-cac1-ac33995a7d73
* Version Independent ID: 9634b0c8-7b14-4453-2c04-aedabbf331f1
*

[2018-10-18 14:28] elbatk commented on #2141
Gonna let @alexmullans tackle this one for ya, @robertkearnes

[2018-10-18 14:42] mattfrear opened #2142 ".NET Standard support?"
I have been waiting for this to exist for years! Finally a way to step into and debug NuGet packages.

I am trying to get SourceLink to work with our in-house NuGet package.
I am running a netcore2.1 web application which references a netstandard2.0 NuGet package hosted on our Azure Devops feed.

**Question 1:** Are .NET Standard packages supported?

I have followed the instructions in this post.

[2018-10-18 15:08] davidroberts63 opened #2144 "NuGet YAML task documentation confusion"
The doc on the [NuGet task YAML](https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/tasks/package/nuget.md) is a bit confusing. I've forked and begun some modification to that document to clarify how to use it.

Before any questions, if what I want to work on is not needed, no worries, let me know and I'll step back. Simply want to offer help where I can.

1. Is there a contribu

[2018-10-18 16:28] andyjlewis commented on #2131
@kiranjulapalli could you be a bit more specific about what details you're looking for, and on which task?

[2018-10-18 16:40] alexmullans commented on #2141
We're working on the infrastructure required for Maven upstream sources now. Expecting to enable them sometime in Q1.

[2018-10-18 16:41] elbatk commented on #2141
Closing this issue for now. Be on the lookout for the docs for that in Q1 @robertkearnes

[2018-10-18 16:41] #2141 closed

[2018-10-18 16:42] KathrynEE commented on #2033
@cdietschrun - Thank you for your inquiry and apologies for the delay in response. The Hosted XML process model is only available to select Azure DevOps Services.

@danhellem - Is the Hosted XML process model still available for an organization to sign up for use?

[2018-10-18 16:42] #2033 closed

[2018-10-18 16:45] elbatk commented on #2142
Hi @mattfrear ! I'm glad you're excited about this! These types of questions (re: "how do I do xxxx") are better suited for StackOverflow. However there could be a docs consequence that comes out of that discussion and if that's the case I'd love to hear it so I can make helpful changes.

Closing this issue here for now, but to try to help, I'm adding @mitchdenny to take a look for you if he can h

[2018-10-18 16:45] #2142 closed

[2018-10-18 17:05] elbatk commented on #1721
@arcotek-ltd and @cverburgh could you both check out the answer from the [issue](https://github.com/Microsoft/azure-pipelines-tasks/issues/8641) linked above and see if that helps?

I'm closing this as questions like these (re: "How do I xxxx?") are typically better fielded on StackOverflow. If there's a docs consequence that comes out of that conversation I'd love for you to open another issue wi

[2018-10-18 17:05] #1721 closed

[2018-10-18 17:29] elbatk commented on #812
I'd like to take some specific items to the product team's attention here. We are currently updating the task.json reference and the "Add a build task" guide so that it includes more information. Also the SDK documentation GitHub has a [schema for the task.json](https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json). Is that sufficient in the task.json area?

It looks

[2018-10-18 17:33] kailuMSFT opened #2145 "Subscriptions REST API link is out of date"
Clicking the subscriptions link (https://visualstudio.microsoft.com/docs/integrate/api/hooks/subscriptions) takes me to a 404 Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 571ca92c-4252-2138-6899-8477f4d5dcf3
* Version Independent ID: 6a5fc398-1799-df19-d6c0-987491108fa4
* Content: [Service hooks in Azure D

[2018-10-18 17:36] elbatk commented on #2145
Thank you for the heads up, it's supposed to link here: https://docs.microsoft.com/en-us/rest/api/vsts/hooks/subscriptions?view=vsts-rest-4.1

Fixing now :)

[2018-10-18 17:36] #2145 closed

[2018-10-18 17:42] elbatk commented on #2074
Hi @kgreed , it looks like you got your issue figured out, great! I'm going to close this but I'm adding @alexmullans as he is working on redesigning that connect to feed dialog. Alex, also we may need to talk about auth troubleshooting, but what's new? :)

[2018-10-18 17:42] #2074 closed

[2018-10-18 17:43] elbatk commented on #2076
Closing this as it looks like you've figured it out @jordanchang . Feel free to reach back out if you're still having issues.

[2018-10-18 17:43] #2076 closed

[2018-10-18 17:46] chcomley commented on #2124
Hi @StefanSchoof , once a user is removed from Azure DevOps, the PAT is invalidated within 1 hour. Please let us know if you have any other questions. Thank you.

[2018-10-18 17:46] #2124 closed

[2018-10-18 17:47] sevaa commented on #812
First priority - core SDK docs, definitely. For task.json, document the fields please. Example:

[code]

How is that useful? What's a demand? Towards the end, most schema fields don't have a description at all. E. g. options, dataSourceBindings.

And, certainly, the schema on Github doesn't constitute a commitment to an API. That's also a concern.

[2018-10-18 17:47] elbatk commented on #757
Adding @alexmullans to knock out some of these questions, looks like it has gotten quite some momentum from the community. Alex, maybe we should think about adding an "Authentication" concepts doc or something?

[2018-10-18 18:07] sbomer opened #2147 "Cannot concatenate string to template parameter"
The example given above does not appear to work:
- script: echo ${{ coalesce(parameters.foo, parameters.bar, 'Nothing to see') }}

This can be accomplished by making the script contents a template expression using format. The docs should clarify that template parameter expansion does not occur inside strings (if my understanding is correct).

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-18 18:16] StefanSchoof commented on #2124
Thanks for the answer

[2018-10-18 18:19] vtbassmatt commented on #2147
Whoops, you are correct. Good find! That one slipped in from the future, as we're currently rolling out a feature which makes that syntax work properly. Since it's literally rolling out right now, I don't think I'll fix the docs just to have to fix them back in a week.

[2018-10-18 18:19] #2147 closed

[2018-10-18 18:48] natelistrom opened #2148 "Typo in howto-provision-deployment-group-agents.md"
There's a typo under the section **Install the Azure Pipelines Agent Azure VM extension**, item # 4:

Should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fa0c14-9937-41bc-cc34-179edb379083
* Version Independent ID: 10fe3600-21a5-12db-5e21-5ade3a8fa484
* Content: [How to provision agents for deployment groups -

[2018-10-18 18:49] markjm opened #2149 "Spacing for Conditional Insertion is wrong in docs"
Docs have
steps:
[code]
Note the '-' for the conditional is aligned with steps. This whole conditional block should be indented out one more space

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-1d85c13c0065
* Content: [Job and step t

[2018-10-18 19:07] SteveSims2 commented on #1224
I can also verify this.   We are running TFS 2018.3 in production with a new install on the test server.   Even in BUILDS (nevermind the release pipeline), phases not only run serially, the dependencies setting on the phase properties isn't even there.   It is there in Azure DevOps.   Not in an on-premises installation.   There does not seem to be any means of using parallelism usefully in an on-p

[2018-10-18 19:09] vtbassmatt commented on #2149
YAML allows (and we tend to prefer) not indenting sequences. The spec says something like "the hyphen and space serve as a visual representation of the indentation." The following two snippets are equivalent:

[code]

[code]

[2018-10-18 19:09] #2149 closed

[2018-10-18 20:05] SyntaxC4 opened #2151 "Add or remove tags from templates"
Could we expand the documentation here to show how to support adding multiple tags? I'm not sure if I need to use a comma `,` or a semi-colon `;` or some other deliminator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1debd814-eb48-c984-a4f9-7606093e9617
* Version Independent ID: f48ef796-c2e3-8fa3-6c41-326a5b252a3d

[2018-10-18 20:44] kiranjulapalli commented on #2131
@andyjlewis If you go to the original documentation link https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/copy-and-publish-build-artifacts?view=vsts you would see that all it says is this task is deprecated. It has no info on the actual functionality of this task.

[2018-10-18 21:31] JCanlett opened #2152 "DOTNET Restore Fails behind proxy still"
Running the following commands at the root of my dotnet core console application fails with a 401.

dotnet nuget locals -c all
dotnet restore

![image](https://user-images.githubusercontent.com/1483636/47185202-9a1f0980-d2e1-11e8-8566-26063bad6407.png)

I have followed several github posts in an attempt to add proxy settings in nuget.config. and while restoring via VisualStudio works fine, anythin

[2018-10-19 01:12] kgreed commented on #757
I solved my issue, but it is strange behaviour  https://stackoverflow.com/questions/52798199/access-is-denied-error-pushing-package-into-my-azure-devops-artifacts-nuget-feed

[2018-10-19 02:33] mrooths commented on #1660
https://github.com/MicrosoftDocs/vsts-docs/issues/2129 is my work around.

[2018-10-19 06:15] kvishnuthej777777 commented on #2131
@andyjlewis i am getting Error: File upload failed even after retry intermittently using this [deprecated], please provide us with documentation of new Task that we can use

[2018-10-19 09:32] mattfrear commented on #2142
OK, I've asked over on stackoverflow too.

https://stackoverflow.com/questions/52889238/debug-nuget-package-with-azure-devops-and-source-link

[2018-10-19 11:05] andyjlewis commented on #2131
Thank you both for raising and elaborating on these issues.

@kiranjulapalli you can still see the docs for the Copy and publish build artifacts task by changing the version selector in the upper-left corner, or just click this link: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/copy-and-publish-build-artifacts?view=tfs-2015

@kvishnuthej777777 the hub of the docs for the n

[2018-10-19 11:05] #2131 closed

[2018-10-19 12:11] Sniipe commented on #2089
@24mu13 - this now works for me.  Azure Dev Ops must have updated last night in our org.

[2018-10-19 12:14] Sniipe opened #2154 "Embedded videos work however MS Stream vids do not work"
This works:
[code]

However this does not work:
[code]

I can access the link https://web.microsoftstream.com/video/fccd4ef9-4a3e-4505-9f1b-7a3971d68ad3 no problem, but it doesn't appear correctly on the wiki page and appears as below (shows youtube works and ms stream doesn't):

![image](https://user-images.githubusercontent.com/9591486/47217663-ebda9900-d3a0-11e8-91a0-4c6c650fa92b.png)

[2018-10-19 12:37] prescindivel opened #2155 "Does VSTS support alternate git+ssh ports beyond port 22?"
My port 22 is not woking.

I get this error:
[code]

in github I use the following configuration in my `~/.ssh/config`:

[code]

Thanks for advance.

[2018-10-19 12:50] mogusbi-sage opened #2156 "Publishing NPM package to Azure DevOps Services package management feed"
I've tried to follow the instructions to publish an npm package to package management feed but I cannot seem to get this work at all using the snippet below.

[code]

The `.npmrc` file has been checked in (although looking at the output it's overwritten by the `NPM` task so it should all be pointing to the correct place. However it fails with `Error: Input required: publishEndpoint` but it's not c

[2018-10-19 13:30] #2148 closed

[2018-10-19 13:31] alexhomer1 commented on #2148
Thank you for your feedback. I have merged your PR.

[2018-10-19 13:44] pabrams commented on #812
@elbatk Respectfully, you shouldn't need to ask us to explain how your docs are incomplete.  Your developers should be able to see it.  Build tasks and task.json are just one small part of this. ALL extension-related documentation needs to be fleshed out and vetted internally.

[2018-10-19 14:05] alansingfield opened #2157 "The Revision number doesn't have to have the "." in the format"
You don't need the "." within the revision number format.
$(date:yyyyMMdd).$(rev:r) is the same as $(date:yyyyMMdd)$(rev:.r)
I wanted to start my revision numbers at 101 rather than 1, so I set the format to:
$(date:yyyyMMdd).1$(rev:rr)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa5a83c-70fd-6925-a8c8-256b21c21a2e

[2018-10-19 15:01] steved0x commented on #2154
@Sniipe Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-19 15:02] steved0x commented on #2152
@JCanlett Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-19 15:15] steved0x commented on #2113
@theunstablemind I'll get this fixed, thanks for letting us know.

[2018-10-19 15:15] #2113 closed

[2018-10-19 15:15] steved0x commented on #2111
@out-dev Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-19 16:10] alexmullans commented on #2144
@steved0x or @elbatk can one of you answer 1 and 2? I think a PR is sufficient for 1 but one of them can confirm.

3. sounds great, thanks for the contribution!

[2018-10-19 16:33] elbatk commented on #2144
Hi @davidroberts63 , I think I have some answers for ya:

1. [Contributor Guide](https://review.docs.microsoft.com/en-us/help/contribute/?branch=master)
2. You can use the GitHub flavored superset of Markdown, there is a couple of articles on Markdown in the contributor guide, just search "markdown" in the search bar above the table of contents. Here is the [main page on markdown](https://review.d

[2018-10-19 16:33] elbatk commented on #2144
Gonna go ahead and close this and I look forward to seeing a PR from ya 👍

[2018-10-19 16:33] #2144 closed

[2018-10-19 16:51] chudson121 commented on #2039
looking forward to this feature!

[2018-10-19 20:13] KathrynEE commented on #2151
@SyntaxC4 - Thanks Cory for your feedback. You can use a comma delimiter, I'll update the topic.

[2018-10-19 20:13] #2151 closed

[2018-10-19 20:33] KathrynEE commented on #2134
@scottkuhl - Thank you for your inquiry. The Work Items page isn't available from TFS 2018.2. It will be available with the RC1 release of TFS 2019, now known as Azure DevOps Server 2019. My apologies for the confusion. I'm updating the topic now.

[2018-10-19 20:33] #2134 closed

[2018-10-20 00:43] arefinsami commented on #1345
Can you guys provide us a link to the list of input types allowed in VSTS extensions? Thanks.
This extension has a lot of interesting inputs but its not open source.
https://marketplace.visualstudio.com/items?itemName=mspremier.CreateWorkItem&targetId=dfd2778a-aca4-4d2a-b72d-6f143b9e9e66#overview

[2018-10-20 16:56] heaths opened #2161 "Source code link to Apple Provisioning Profile task is broken"
The link https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/InstallAppleProvisioningProfile results in a 404. This is used under the heading https://docs.microsoft.com/en-us/azure/devops/pipelines/library/secure-files?view=vsts#how-can-i-create-a-custom-task-using-secure-files as an example of how to develop a task using a secureFile type.

---
#### Document Details

⚠ *Do not edit this sec

[2018-10-20 23:18] foolip opened #2162 "How to publish build artifacts using azure-pipelines.yml very hard to discover"
There's nothing in this document, and searching I've mostly ended up here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/artifacts?view=vsts

Which says nothing about azure-pipelines.yml. Finally, I found this:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=vsts

Perhaps the answer is within, it's not clear yet.

---
#### Docume

[2018-10-21 04:57] vadimcn opened #2163 "Documentation could use some improvement."
The inputs like `project`, `pipeline` and `buildId`  could use some explanation of where to find them and some examples.  I had to discover all that by trial and error.  The latter was especially bad: I tried passing build# that Azure Pipelines UI prominently displays (e.g.  `20181020.2`), but it turned out that this task wanted the numeric value from build page's URL (which is the only place it i

[2018-10-21 07:30] chefsaroar opened #2164 "Add my wallet"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba91e46a-de53-c0c1-f7f7-c02e797d527c
* Version Independent ID: 6f478148-461f-694a-ed82-deb4d731854e
* Content: [Azure Pipelines and TFS Build and Test - Publish Test Results task - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/p

[2018-10-21 09:10] chefsaroar commented on #2164
ba91e46a-de53-c0c1-f7f7-c02e797d527c

[2018-10-21 09:10] chefsaroar commented on #2164
6f478148-461f-694a-ed82-deb4d731854e

[2018-10-21 09:11] chefsaroar commented on #2164
Please chick my bitcoin.

[2018-10-21 14:52] ahmadyo opened #2165 "More explanation on "Single Server deployment" spec"
Is the spec mentioned under title "Single Server deployment" recommended and enough for SQL server and TFS (App tier) and reporting services all installed on one machine and services 250 users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641b37fc-f117-aca0-32f4-8ea9b73e9d71
* Version Independent ID: 211130c6-43b8-f4

[2018-10-22 03:37] jordanbrock opened #2168 "Code Coverage Report disabled by iframe sandbox settings"
Within the Azure Devops Pipelines "Code Coverage" tab, the SimpleCov Code Coverage report is embedded within an iframe with the sandbox enabled, which prevents the JavaScript within the SimpleCov Report from working. Is there a way around this limitation?

Here is an example of the code:
&lt;iframe sandbox src="https://dev.azure.com/&lt;fullpath deleted&gt;/Code Coverage Report_95/index.html" clas

[2018-10-22 09:23] grahambunce opened #2169 "Migration path?"
The most worrying aspect for any organisation is migrating from Microsoft Accounts to Azure AD. What’s the process, what will be lost, will we retain audit trails, change history, work item.... can I have Azure AD and Microsoft accounts as an interim? What if the Microsoft account and AD account is the same email address? Etc

There needs to be guide on this process - we want to change but as an e

[2018-10-22 10:36] garfbradaz opened #2170 "Consuming in Visual Studio Code"
Hey Guys,

Any similar instructions for Visual Studio Code?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 899a78d6-9d08-7744-108d-10add2ba7e2c
* Version Independent ID: 6ab31e96-fed8-4335-ed81-b97663d8300f
* Content: [Consume NuGet packages in Visual Studio](https://docs.microsoft.com/en-gb/azure/devops/artifacts/nuge

[2018-10-22 12:38] garfbradaz opened #2171 "Visual Code Instructions"
Are there instruction on how to accomplish this in Visual Studio Code?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 899a78d6-9d08-7744-108d-10add2ba7e2c
* Version Independent ID: 6ab31e96-fed8-4335-ed81-b97663d8300f
* Content: [Consume NuGet packages in Visual Studio](https://docs.microsoft.com/en-gb/azure/devops/art

[2018-10-22 12:44] skorunka commented on #1052
Hi, any plans on the above feature request? thanks.

[2018-10-22 13:32] 24mu13 commented on #2089
Yes me too.

[2018-10-22 13:32] #2089 closed

[2018-10-22 14:14] DominicCabral commented on #1175
Not to sure if this helps, but I've found that the `msbuild` task on the agents need you to explicitly set properties. For example, when I was building on my local machine, I was able to omit specifying my platform and it would use the default, but on the agent's I had to explicitly set `/p:platform=x64` to avoid errors.

[2018-10-22 14:22] tmcoma opened #2172 "Scope Info for vss-extension.json"
In case anyone else gets tripped up here, I had to add this property to my vss-extension.json

 "scopes": ["vso.work"],

in order to use "TFS/WorkItemTracking/RestClient"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f99e26d-54fa-ac2c-1814-e1b3f97a87b5
* Version Independent ID: 0ed84e7f-b46f-3a44-16f6-d9bcf77bf11d
*

[2018-10-22 14:42] shayki5 opened #2173 "Link is not displayed properly"
Under "Helpful links" the first link is not displayed properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d1eca9-3a6d-e9e5-c424-30f4d4b8b544
* Version Independent ID: 2b542142-15dd-c4ad-8dde-c3df0b6204c8
* Content: [Developing extensions for Azure DevOps Services and Team Foundation Server](https://docs.microsof

[2018-10-22 15:32] dakale commented on #2112
This should be resolved now. There was an issue with the ubuntu 1604 machine image that has been fixed and deployed to all accounts

[2018-10-22 16:38] chcomley commented on #2169
Hi @grahambunce thanks for your message. There is a guide on this process and answers to your questions here: https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/connect-organization-to-azure-ad?view=vsts&tabs=new-nav.
Please let us know if you have any other questions or concerns - I've filed a work item to ensure the tutorial is linked to from the Manage Azure Active Directory G

[2018-10-22 16:38] #2169 closed

[2018-10-22 16:52] err108 opened #2174 "Issue with code coverage and multi-module project."
I can't seem to find any good documentation on or examples using the code coverage arguments.   My project consists of a parent pom with multiple modules.  Build is executed on the parent pom.  I've supplied a list of paths in the codeCoverageClassFilesDirectories and codeCoverageSourceDirectories based on the tooltip help in the build configuration.  However when the build runs, it fails with the

[2018-10-22 17:07] scottkuhl commented on #2134
Thanks

Scott
________________________________
From: KathrynEE <notifications@github.com>
Sent: Friday, October 19, 2018 3:33:45 PM
To: MicrosoftDocs/vsts-docs
Cc: Scott Kuhl; Mention
Subject: Re: [MicrosoftDocs/vsts-docs] The Work Items Page in TFS 2018.2 is Missing (#2134)

@scottkuhl<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fscottkuhl&data=02%7C01%7C%7C92554

[2018-10-22 18:40] davidroberts63 commented on #2144
Sounds good to me. Just a note. @elbatk those links are giving a 403. I tried via my corporate login as well as a personal (Microsoft account) login. I'll go forward using the GitHub flavored superset.

[2018-10-22 20:03] JonnyWaffles opened #2175 "Companion Article for download Command"
I perused the documentation, but could not find a companion document detailing the download command's options for use when trying to build dependencies from an Artifacts feed. Reading the source I found the relevant YAML keys vstsFeed, vstsFeedPackage, and vstsPackageVersion, but after building I'm not sure how to supply the downloaded {mypackage}-{version}.tar.gz file path to the next step for in

[2018-10-22 20:18] JCanlett commented on #2152
I have looked at so many now, one is here:  https://github.com/NuGet/Home/issues/6978
And the documentation here  https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/dotnet-exe?view=vsts  is lacking.

However based on one of the links in the docs above, I found this page describing how to manually create the NuGet plugins folder for dotnet. https://github.com/Microsoft/artifacts-credprov

[2018-10-22 20:49] #2112 closed

[2018-10-23 04:25] JeremyTCD opened #2177 "Documentation for repository section appears to be invalid"
According to the documentation, it is possible to use templates from a repository: [Repository](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema#repository). The [type](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema#type) section states "Also, GitHub repos require a service connection for authorization."

Unfortuna

[2018-10-23 07:50] JeremyTCD commented on #2177
After taking a closer look, I think this might be less of a documentation issue and more of a technical issue. For anyone with similar problems, I've opened a separate issue with a full reproduction: https://github.com/Microsoft/azure-pipelines-agent/issues/1902.

[2018-10-23 08:19] mguirao commented on #1587
Should I give up having a definitive answer ?

[2018-10-23 08:35] gldraphael opened #2178 "Add a snippet that demonstrates publishing a package to an Azure Artifacts Feed"
I had to use something like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cb48a1-d0bf-40b7-4645-910d4006fee9
* Version Independent ID: 9bddd101-2bc2-f65c-6a12-e395b76a2b98
* Content: [Publishing npm packages - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/npm?vi

[2018-10-23 10:08] jamesw966 opened #2179 "The "Set up authentication" section looks out of date"
The "Set up authentication" section looks out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bbae0b-c29c-0325-ad4d-868a4f2ab13a
* Version Independent ID: b9d492af-0137-5761-fb38-95da18c7b402
* Content: [Install a Maven artifact using Gradle and Azure DevOps Services](https://docs.microsoft.com/en-us/azure/dev

[2018-10-23 13:28] 24mu13 opened #2180 "How to upgrade documentation"
I think is useful to include documentation about how to upgrade an existing/running agent (Windows/Linux)..

[2018-10-23 13:37] alexhomer1 commented on #2119
NUnit tests produce DLLs, so the same filtering logic as Windows DLLs applies. More information about test case filtering is available at https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md. Note that the Run Functional Tests task is deprecated - consider using the Visual Studio Test task instead (https://docs.microsoft.com/azure/devops/pipelines/tasks/test/vstest).

[2018-10-23 13:37] #2119 closed

[2018-10-23 13:50] toorog commented on #2056
For me the described way does also not work. Always getting 401 when doing a maven deploy. How to diagnose the issue I am facing?

[2018-10-23 14:06] elbatk commented on #2056
Hi all, for general questions/issues with the product, you should post to Stack Overflow which is monitored by the product team. As for adding more into here around troubleshooting, adding @mitchdenny to see if he has any ideas for what we can do here, every case is different and authentication is always tricky. What do you think, Mitch? We can discuss this Thursday.

[2018-10-23 14:55] RehanSaeed opened #2181 "Why is the Task Called PublishTestResults@2?"
I have seen the similar yaml in several places in the docs:

[code]

Is the name `PublishTestResults` significant? Is there a list of pre-defined tasks? If so, the search cannot find them.

Also, what is the significance of the number after the `@` sign? Once again, I can't find any docs for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-10-23 14:56] JeremyTCD commented on #2177
As per Microsoft/azure-pipelines-agent#1902, the following line is inaccurate:

[code]

It should be something along the lines of:

[code]

[2018-10-23 14:56] elbatk commented on #2179
You are right - this is from the previous navigation, adding the new one alongside this right now, thanks!

[2018-10-23 14:56] #2179 closed

[2018-10-23 14:59] RehanSaeed opened #2183 "If dotnet test fails in a Docker build, you get no test results"
When `dotnet test` fails, it returns a non-zero exit code which will mean that building the Dockerfile in the docs will fail and you will not get any test results out of the build. The only time you would get test results is if all tests succeeded.

[code]

Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-10-23 15:03] davidroberts63 opened #2184 "Disabling an upstream feed"
How does one disable an upstream feed? Mentioned in the `Offline upstreams` section. I see nothing to 'disable' a feed. Only to delete. Perhaps delete a feed and then add it once it's online is the approach which was meant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5f022df-36c3-34b1-cac1-ac33995a7d73
* Version In

[2018-10-23 15:14] alexhomer1 commented on #2181
The list of tasks is at https://docs.microsoft.com/azure/devops/pipelines/tasks/. These are built-in or extension tasks that are executed within Azure Pipelines or a TFS build or release process. The number after the task name indicates the task version number. You can choose which version of a task you want to use. Tasks can be viewed and added to a pipeline in the designer (UI) view of a build o

[2018-10-23 15:14] #2181 closed

[2018-10-23 15:16] alexhomer1 commented on #2183
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-10-23 15:17] RehanSaeed opened #2185 "Is the name azure-pipelines.docker.yml Significant?"
Is the name `azure-pipelines.docker.yml` or `azure-pipelines.acr.yml` significant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e825c07d-2168-c0aa-782a-ef6f9c7ba95e
* Version Independent ID: 5cb6926b-215a-bf89-8e63-b2e1129e41df
* Content: [Docker - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/

[2018-10-23 15:18] #2084 closed

[2018-10-23 16:53] bigtfromaz commented on #2056
@elbatk The initial post here is a documentation update suggestion, not a request for information from the community.

[2018-10-23 16:53] nikolay-advolodkin commented on #2119
The documentation is using the "dotnet test" command. How can we do this in an Azure DevOps pipeline using a YAML configuration?

[2018-10-23 17:18] elbatk commented on #2056
@bigtfromaz Yep, that's why I added @mitchdenny to help me out with potential documentation updates. But I wanted to direct @toorog and others with specific issues to the correct place.

[2018-10-23 17:19] elbatk commented on #2184
You are right, I'm switching it to "delete" and "re-add" in a PR coming up soon :) Thanks!

[2018-10-23 17:19] #2184 closed

[2018-10-23 19:09] ahsteele opened #2186 "TFS 2018 Update Version Numbers are missing from the above table"
The version numbers for update 1, 2 and 3 are missing from the above table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486447a6-a627-df82-4706-2318135540cc
* Version Independent ID: 7d6953c7-9ee6-50d6-9fce-238a4539ecc9
* Content: [Get support, provide feedback - Azure DevOps Services & TFS](https://docs.microsoft.c

[2018-10-23 19:35] KathrynEE commented on #2122
@ripper234 - Thank you for your inquiry. The main differences between Scrum and Agile processes are:
- work item type names are different
- workflow states, Agile has one additional state from Active to Resolve; Scrum doesn't
- Task work item type for Agile includes Orignal Estimate and Completed Work, Scrum only contains Remaining Work (you can change this for Scrum)

Once you select a process fo

[2018-10-23 19:35] #2122 closed

[2018-10-23 21:35] steved0x commented on #2161
@heaths I believe [this](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/InstallAppleProvisioningProfileV1) is the correct link and I will verify that and get it fixed. Thanks for letting us know.

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/InstallAppleProvisioningProfileV1

[2018-10-23 21:40] heaths commented on #2161
That makes sense. I knew the project URLs changed but was getting redirected automatically. Apparently that only happens with the root project URL. Thanks.

[2018-10-23 21:53] arefinsami opened #2187 "How to write unit-test for powershell task scripts?"
This example here shows unit testing for a Node js task. But my task is implemented using Power Shell. Is there a similar thing/framework for that? Also, is there a way to do unit testing of a gate task?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44581f4a-93df-7507-3844-eadedf9a6cc4
* Version Independent ID

[2018-10-23 23:09] KathrynEE commented on #2127
@moyanming - Thank you for your inquiry. The only way to get the URL of an attachment is to use the REST API, https://docs.microsoft.com/en-us/rest/api/vsts/wit/work%20items/get%20work%20item?view=vsts-rest-4.1. call GET work item REST API with proper expand option, and they will be able to find the url of attachments there.

You may want to ask for a [feature request](https://developercommunity.v

[2018-10-23 23:09] #2127 closed

[2018-10-24 02:08] kgreed opened #2193 "step 8 only has run"
I am up to step 8 and there is no "Save and Run" only "Run"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f7a23b-ebd4-af3e-68a2-275f7e45c33e
* Version Independent ID: f552a18c-ba29-00d4-03b6-254d7556d319
* Content: [Create your first pipeline - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pip

[2018-10-24 02:32] kgreed opened #2194 "Step 3 should say what screen I should be on"
"Make sure that the source, project, repository, and default branch match the location in which you created the script."
Where should I be looking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visua

[2018-10-24 02:35] kgreed opened #2195 "The pro tip is really annoying!"
So I should not be learning the visual designer it seems.  Then I press the link to create the first pipeline and it takes me  back to the section I have just completed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* C

[2018-10-24 02:45] kgreed opened #2196 "The link "Add a script to your repository " simply refreshes the page"
Why have it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visual designer to create a CI/CD pipeline - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-desi

[2018-10-24 02:50] #2194 closed

[2018-10-24 02:53] kgreed opened #2197 "The instruction to turn off the preview feature should be at the top"
putting it at the end of point 2 makes the beginning of point 3 out of context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visual designer to create a CI/CD pipeline - Azure Pipelines & TFS](https

[2018-10-24 03:24] kgreed opened #2198 "What is meant by 5) Go to the Code hub, Files tab?"
What is the Code hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visual designer to create a CI/CD pipeline - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-sta

[2018-10-24 03:28] kgreed opened #2199 ""Define the process for running the script in two stages." makes no sense"
This is the first line in the releases section. What script is it talking about?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visual designer to create a CI/CD pipeline - Azure Pipelines & TFS](http

[2018-10-24 03:42] kgreed opened #2200 ""Define the trigger settings and artifact source for the release and then select Create.""
What do you want them defined as?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b747eb-53c2-dd5f-cd2b-f337c15e0864
* Version Independent ID: 04538505-00cd-33ac-8008-4b85cca089e3
* Content: [Use the visual designer to create a CI/CD pipeline - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipel

[2018-10-24 06:41] nschonni commented on #2187
Generally, Pester is probably the biggest for PowerShell testing https://github.com/pester/Pester.
I've found most unit testing around TFS extensions to be difficult

[2018-10-24 07:02] PBoraMSFT commented on #2183
@RehanSaeed - can you please report this on the test platform repo?
https://github.com/microsoft/vstest/

@vinodjo - can you look at this docker scenario please?

[2018-10-24 07:02] #2183 closed

[2018-10-24 07:03] Megadesty opened #2201 "'Sliding window of team iterations' behaves not as expected"
The example query under _Query for items based on a sliding window of team iterations_ doesn't seem to work for me because there is no work item in `@CurrentIteration - 2` _and_ `@CurrentIteration` _and_ `@CurrentIteration + 2`. Also even if I use _or_ instead of _and_, the work items from `@CurrentIteration - 1` and `@CurrentIteration + 1` are not returned.
Am I or is the example doing something

[2018-10-24 10:58] todor-dk opened #2203 "Testing Bug-Fixes under Scrum"
Under the Scrum template, it is little unclear to me, what is the workflow of a bug after it has been fixed by a developer.

Under the Agile template, the developer team will set the item into Review/QA state. When QA has reviewed the item does it become "Done".

Under Scrum, it is unclear to me when an item (especially bug) is "Done". And also, how do the development team mark the item as "Done b

[2018-10-24 11:25] RodrigoGroener opened #2204 "Broken Download link"
Link  to download "Team Foundation Server Standalone Office Integration 2015 (free)" is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505849d3-01c8-a2cd-dc6c-271dd1120e2d
* Version Independent ID: 577fc252-60e4-f670-bb92-6bdbcb7d5c69
* Content: [Bulk modify using Excel - Azure Boards and TFS](https://docs.micro

[2018-10-24 12:07] byatis commented on #2056
Hi! We tried this too and authentication  is not working.

[2018-10-24 12:17] MichaelHarmsen commented on #2052
As a follow-up I can add that I have executed a repair of my TFS 2017 Update 2, removed and re-installed TFS 2017 Update 2 and added a new TFS Collection - all with the hope that Delivery Plans would be available again to install, but to no avail. It is not an option for me to download the newest version from the Marketplace. So if we accidentally remove Delivery Plans from our system it is gone a

[2018-10-24 12:53] seeafish opened #2205 "Email aliases?"
I seem to remember that you could set email aliases in your profile before (similar to github) on your  account, so that your commits from a different email in your gitconfig would be picked up as you. This doesn't seem to exist in the new profile section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d28a6661-50d4-52

[2018-10-24 13:38] w3s7y opened #2207 "Restart agents after each Job (Akin to the vsts-docker lifecycle)"
Hi,

We are currently trying to implement behavior the same as the 'vsts-docker' image in native self-hosted windows agents.

We run the vsts-docker image and after each job it completes the pod is stopped and the agent restarted.  We would like to emulate that behavior on a Windows agent installed as a service.  However can't see a method in which we can mark it as unavailable or stop it entirely

[2018-10-24 13:38] w3s7y commented on #2207
Apologies if this is the wrong audience for such questions, I'm hoping it's documented and I just can't find it!

[2018-10-24 13:55] alexhomer1 commented on #2119
I assume you are looking at the Designer (UI) approach. This shows the YAML code: https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts&tabs=yaml#run-your-tests

[2018-10-24 14:00] iaincbeat opened #2209 "Missing Git as an Artifact Source option for Release source"
The documentation and the picture provided indicate that any external Git should be available as as an artifact source for release artifacts, however there only seems to be an option for GitHub and an external addon for GitLab, nothing for just a plain, ordinary external Git itself.

[2018-10-24 14:12] tmcoma opened #2210 "How to handle 404 errors in extension API?"
The docs say "If this collection does not exist or a document with that ID does not exist, then a 404 will be returned, which should be handled by the extension," but it is not clear to me how this is to be done.  The promise returned by the API's get methods has a "then" callback and nothing else.  When I request a document that hasn't been created, I see the 404 in the browser's console, but the

[2018-10-24 14:28] prabhakarreddy1234 commented on #2102
Yes, I know a way to do that by edititing the release definition/YAML file. But it's good to have them configurable in UI.

[2018-10-24 14:37] nikolay-advolodkin commented on #2119
So you're suggesting something like this to run some tests from NUnit from the YAML?
`- script: dotnet test <test-project> --filter "Category=bvt"`
Thanks in advance

[2018-10-24 14:38] tmcoma commented on #2210
Looking further, I now see that "then" takes two arguments, the second one being an error handler.
[code]

[2018-10-24 14:38] #2210 closed

[2018-10-24 15:05] RehanSaeed opened #2211 "Any ETA on .coverage Format Support"
I am using Cake build and not the VS tasks for my build and running tests. Therefore, I can't easily use the `VSTest` task which seems to include support for `.coverage` file formats. Instead I would like to use the `PublishCodeCoverageResults` task instead but this does not support the `.coverage` file format. Is there any ETA on when this support would be added?

---
#### Document Details

⚠ *Do

[2018-10-24 15:10] steved0x commented on #2161
@heaths I verified this link and just made the fix and it should be live soon, thanks again for letting us know.

[2018-10-24 15:10] #2161 closed

[2018-10-24 15:28] andyjlewis commented on #2180
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=vsts#agent-version-and-upgrades

[2018-10-24 15:44] scottaddie opened #2212 "Provide more detail on cross-platform code coverage in .NET Core"
Coverlet is typically used with a solution like ReportGenerator to generate a human-readable code coverage report. This detail is missing. We should also provide a basic YAML snippet in this section to better guide customers using Linux or macOS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 483dcb1c-1a89-2b20-4cf2-ab

[2018-10-24 16:28] alexmullans commented on #2163
@steved0x can you route this over to pipelines? Artifacts owns the new Pipeline Artifacts task and docs but Pipelines owns the older Download Build Artifacts task.

[2018-10-24 16:32] elbatk commented on #2162
Hi @foolip , thanks for the feedback.

I'm currently working on something that will help with this issue. Namely, I'm updating this document on build artifacts to include yaml instructions:
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/artifacts?view=vsts

I believe the YAML schema document is fine, it covers the broader concept of "Tasks" in YAML and then links to this [catalog of

[2018-10-24 16:38] elbatk commented on #2195
Hi @kgreed , the visual designer quickstart and the "create your first pipeline" quickstart cover the same goal, creating a pipeline. It's not a linear progression, you can choose one or the other, and we recommend using YAML for a couple of different reasons.

Am I misunderstanding? When you say the section you have just completed are you referring to the YAML guide?

[2018-10-24 16:47] elbatk commented on #2196
Ah, sorry about that. That link is supposed to take you to the step labeled "Add a script to your repository" so you don't have to waste time on a "set-up" step that you may have already done. Fixing it now :)

[2018-10-24 16:47] #2196 closed

[2018-10-24 17:39] kgreed commented on #2195
Yes. I guess the link does make sense to have  if you arrive at the page via search.
Because I never learned TFS I am learning the visual designer for the first time and it is really off putting to be told that you recommend not using it.  Why should I bother learning it then?

[2018-10-24 17:39] kgreed commented on #2196
Thanks

[2018-10-24 17:45] JonnyWaffles commented on #1491
I couldn't get this task to work either. After the SSH Key was successfully installed it is not available to the agent.

Running ls ~/.ssh on the agent reveals an empty key folder:
2018-10-24T17:33:40.8141338Z drwxr-xr-x 1 VssAdministrator 197121  0 Oct 24 17:33 .
2018-10-24T17:33:40.8141445Z drwxr-xr-x 1 VssAdministrator 197121  0 Oct 24 17:33 ..
2018-10-24T17:33:40.8141492Z -rw-r--r-- 1 VssAdmin

[2018-10-24 17:53] pthorsley opened #2213 "No where near enough information on permissions"
Please add real permissions detail, not just a one or two sentence ambiguous sentence....."Has permissions to contribute fully to the project code base and work item tracking.". Please describe what they have access to, link a grid to this sentence at the very least so we can know exactly what they can access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-10-24 18:07] 24mu13 commented on #2180
mmmm... I have some doubt the documentation is valid for **self-hosted** agent...

[2018-10-24 18:16] kgreed opened #2214 "Is the screen dump out of date for devops?"
&gt;&gt; Navigate to the Files tab of the Code hub, and then click Set up build.
I cant seem to find a screen looking like this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b846f94-2bb5-d5a8-63c8-8227ab1b613b
* Version Independent ID: 5ba1aaac-6076-c5e0-fec0-c2ac2405b138
* Content: [Build your Universal Windows Plat

[2018-10-24 18:45] sbomer opened #2215 "Missing "containers" node in examples"
The examples under "Other settings" seem to be missing the "containers" node betwen "resources" and the first "- container".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3339a2e0-be29-1363-f588-b231d4472c02
* Version Independent ID: 72dd11a3-704d-d0fd-6dfa-cf49f3352de3
* Content: [Container Jobs in Azure Pipelines an

[2018-10-24 19:40] spacether opened #2216 "Missing Python versions 3.5, 3.6, 3.7 for x86 architecture"
Though the docs[ list x86 as a valid python system architecture](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=vsts), the tool cache is missing:
Python versions 3.5, 3.6, 3.7 for x86 architecture in Ubuntu 16.04 and macOS-10.13

Please add the x86 Python versions to the tool cache for the above operating systems.

[2018-10-24 19:45] elbatk commented on #2198
The Code hub is where you access your files, branches, pull requests, etc. in TFS and in the previous navigation of Azure DevOps. It is called "Azure Repos" in Azure DevOps. I could probably change it to Azure Repos and then mention the Code hub.

[2018-10-24 19:49] pswetz commented on #235
Same question - My hooks go into Enabled (restricted) after 1 500 fail and never try again, seems like you may as well go right to Disabled. What does 'restricted' actually mean here?

[2018-10-24 20:09] fnocera opened #2217 "YAML snippet typo"
The includeRootFolder parameter is not set, ie the statement should be either "includeRootFolder: false" or "includeRootFolder: true" not "includeRootFolder: "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add63018-4f2c-f258-76ea-9f76aa43ff09
* Version Independent ID: c71f17c9-9a78-396e-7a0f-ad8b52b01724
* Content: [A

[2018-10-24 20:39] kgreed opened #2218 "The UI should use the same terminology as the docs."
The docs talk about "process parameters" where as the UI talks about "parameters"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 214c853e-63ba-240c-9cff-7ea3ab7a788c
* Version Independent ID: 781b5018-0c34-353a-a035-5d84af3994a0
* Content: [Process parameters - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/az

[2018-10-24 20:41] asmagin opened #2219 "Deployment Groups for PaaS?"
What if I need to do blue/green deployment in PaaS or I have multiple App Services in one environment?
Can I leverage deployment groups and how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b38c265-be4c-b038-e3a9-783a5e5ce659
* Version Independent ID: 67da69da-3651-a8f4-f06a-c35aa3aa98fc
* Content: [Deployment group

[2018-10-24 21:05] ahsteele commented on #2186
The table is missing version numbers for 2018 Updates 1, 2 and 3.
On Wed, Oct 24, 2018 at 9:28 AM chcomley <notifications@github.com> wrote:

[2018-10-24 21:06] kgreed commented on #2198
So it is in Visual Studio ?

[2018-10-24 21:19] foolip commented on #2162
Great, that is the documentation I ended up at, so unless examples there would have been great.

[2018-10-24 22:21] chcomley commented on #2205
Hi @seeafish thanks for letting us know. I am looking into it and will respond back to this issue as soon as possible.

[2018-10-24 22:21] #2205 closed

[2018-10-24 23:39] elbatk commented on #2198
If you look at the [initial step of "Initialize your repository",](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-designer?view=vsts&tabs=new-nav#intialize-your-repository) you can get some grounding around what this is referring to.

When VSTS became Azure DevOps, the UI was also updated. Currently, we allow users to use this new UI (New navigation), or they can turn it off i

[2018-10-24 23:40] elbatk commented on #2198
I'm updating that bullet to say "Go to Azure Repos" if you're reading the Azure DevOps version of this article, so that should be a little more clear. Thanks for the input, closing this issue as I think that'll solve this confusion.

[2018-10-24 23:40] #2198 closed

[2018-10-25 07:42] andreasblueher commented on #1261
I indeed got the repoId part working after recreating everything from scratch. However setting the PR status still doesn't work for me. Anyone here who can assist me?

[2018-10-25 10:00] robertdj opened #2221 "Ubuntu version"
Do you plan to also offer Ubuntu 18.04 instead of 16.04?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e116
* Content: [Microsoft-hosted agents for Azure Pipelines - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/az

[2018-10-25 13:13] vtbassmatt commented on #2221
It's on our backlog, but not scheduled right now. If you need 18.04 immediately, you could consider using an 18.04 [container](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=vsts&tabs=yaml).

[2018-10-25 13:13] #2221 closed

[2018-10-25 13:53] vijayma commented on #2195
At this point, we have customers that are using the designer. We would like all new customers to use YAML, and for existing customers to think about YAML pipelines for the benefits that they provide. But, we understand that YAML is not necessarily what every customer wants. As a new user looking at our service, I am assuming you are open to using either of these approaches. Is that correct? How ca

[2018-10-25 13:54] vijayma commented on #2185
No, it is not. We just had to put multiple variations of azure-pipelines.yml file in the sample repo. Depending on your need, we expect you to pick the right one, and rename it to azure-pipelines.yml.

[2018-10-25 13:54] #2185 closed

[2018-10-25 13:57] vijayma commented on #2156
@mogusbi-sage The following two docs explain how to use npm task:
https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/npm?view=vsts&tabs=yaml
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm?view=vsts

[2018-10-25 14:17] vijayma commented on #2079
@ahanoff Can you share your build and push scriptlets, so that we can validate how to document this? The doc primarily covers Azure container register and Dockerhub. It looks like you are using a private docker registry, and that is not well represented in the doc.

[2018-10-25 14:50] Arithmomaniac opened #2222 ""Activity field (Agile, Scrum)" is incorrect"
It's a copy of "Backlog priority field (Scrum)". The field definition for the Task WIT contains an actual Activity field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc831b8e-1cd8-82af-4e52-57a35823d19b
* Version Independent ID: 7553ac9f-01ef-471a-55e0-55598acc49ed
* Content: [Add work item types to backlogs and boa

[2018-10-25 15:16] elbatk commented on #1900
Hi @ieain and @ociata, I agree this doc really doesn't explain the visual designer tasks and where to find them/configure them very well, I'm working on an update that should answer this question. For now, you can check out the [visual designer quickstart](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-designer?view=vsts&tabs=new-nav) to learn more about how to configure pipel

[2018-10-25 15:16] #1900 closed

[2018-10-25 15:53] alansingfield commented on #2157
Probably the default format needs to be amended, going forward you could set it to:

$(date:yyyyMMdd).$(rev:r)
rather than
$(date:yyyyMMdd)$(rev:.r)

This wouldn't break anything would it?

[2018-10-25 15:55] chcomley commented on #2186
@ahsteele I've created a work item to address this, thank you for bringing it to our attention.

[2018-10-25 16:08] StefanSchoof opened #2223 "queue is not explained"
View the YAML Configuration of existing Builds get an `queue` Element.

eg:

[code]

This documentation does not say if, this is only an alias for pool or has some other meaning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c430b0155
* Version Independent ID: edf5bbd3-a3f0-5426-e985-31290f8

[2018-10-25 16:29] StefanSchoof opened #2224 "Build on Hosted Pool fails with link this page and this page has no information"
My build fails with a
`Could not find a pool with name My OnPrem. The pool does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/yamlauthz.`

The link go to this page, but here is no information about this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4ec9d0-e0d

[2018-10-25 16:44] yowl opened #2225 "Install custom software"
As part of the build I need to run a code generation tool consisting of a exe/dlls/license file.  Is it possible to pull that from somewhere e.g. Azure storage, and extract/run the installer, or maybe it should just be part of the source and a powershell/cmd script run to extract/install it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-25 16:46] vtbassmatt commented on #2224
Sorry for the trouble. Did it not forward you to [this section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=vsts#troubleshooting-authorization-for-a-yaml-pipeline)? A pool is considered a resource, so you can follow the troubleshooting steps there.

[2018-10-25 16:46] #2224 closed

[2018-10-25 16:51] vtbassmatt commented on #2225
Yup, you are admin on the Windows image and password-less sudo on the Linux image, so you can install whatever you need.

[2018-10-25 16:52] dagood commented on #2157
I'm not sure if you're asking me the question--just in case: I don't know, I'm just another AzDO user. 😄 I'm just pointing out a very related doc issue that I imagine will be fixed at the same time as this one.

[2018-10-25 16:54] yowl commented on #2225
Ok, but I was hoping there would be a task to help.  I guess I just have to script up some powershell to do the pulling?

[2018-10-25 16:58] vtbassmatt commented on #2225
Ah, gotcha. If your package is on Chocolatey, you can do:
[code]

Otherwise, you can use `Invoke-WebRequest` or your method of choice to download an installer, then run it.

[2018-10-25 16:59] yowl commented on #2225
Thanks

[2018-10-25 21:31] Abbyjeet commented on #447
Really! keep moving the issue from one place to another, then to another, rather than solving the issue!!

[2018-10-25 21:36] davrob01 opened #2228 "Readme.txt vs Readme.md"
I understand that you can have your readme.md file displayed in the Project Overview tab and inside the summary/description. This is a great feature. However, I have a bunch of projects that already have readme files, however they are written as plain text, with the .txt extension. I understand I can convert them or even just change the file extension, but it would be nice if readme.txt files were

[2018-10-25 22:28] JustinGrote opened #2230 "Links need updating for Azure Devops"
Links like "create a feed if you haven't" are broken and fall back to the front page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a10a409-5468-9532-f0dc-5a28cdd566d8
* Version Independent ID: 2ef20266-bc45-448b-27f5-e5c3bffed2ef
* Content: [Get Started with NuGet Azure Artifacts in Azure DevOps Services and TFS](ht

[2018-10-26 05:17] ahanoff commented on #2079
@vijayma
In docs we see:

Then instructions to build:

And then your instructions to push:

So if you repeat those steps, you will not be able to push. Thanks

[2018-10-26 08:48] Brood opened #2235 "IP addresses"
The two mentioned IP addresses 13.107.6.183 and 13.107.9.183, how static are these and are they hosted in Azure?

Unfortunately I can't find them or any subnet starting with 13.1 in the "Microsoft Azure Datacenter IP Ranges" xml (downloaded 2018-10-26, last updated 2018-10-22) or in the "Azure IP Ranges and Service Tags - Public Cloud" json (downloaded 2018-10-26, last updated 2018-10-22).

---
##

[2018-10-26 09:42] alansingfield commented on #2157
OK - understood!

[2018-10-26 10:58] tene666 opened #2236 "Product compatibility headline is incorrect"
First line reads: "Azure Pipelines | TFS 2018 | TFS 2017 | TFS 2015" which is not correct, certainly this feature is not available in TFS 2015

[2018-10-26 11:52] Mendallas opened #2237 "One project organisation for multiple projects"
"Even if you have many teams working on hundreds of different applications and software projects, you can most easily manage them within a single project." -&gt; this is very suprising to me.

The opposite is said here : https://docs.microsoft.com/en-us/azure/devops/user-guide/define-organizations-and-projects?view=vsts "Most companies work on several products or services at a time. In those cases

[2018-10-26 12:54] htmlauthor opened #2238 "Web trigger"
We have a very unusual use case where code we are working with cannot be tracked in GIT or other usual repository. We still want and need to use build pipeline to run QA jobs. The only way I can think of now is trigger by calling some URL available on Azure DevOps, something like https://company.visualstudio.com/project/build/trigger. Calling this URL from our internal tooling would trigger build

[2018-10-26 14:38] vtbassmatt commented on #2235
Yeah, that's not right. Looks like it escaped our notice for a year or so.

[2018-10-26 14:43] vtbassmatt commented on #2235
[Fixed](https://github.com/MicrosoftDocs/vsts-docs/commit/195b14ce1045d5ea84ecf92cf9c0a56ec8a89c94#diff-7b4a1f35a73c0e9c3ab43a427c8dced0).

[2018-10-26 14:43] #2235 closed

[2018-10-26 15:23] heaths opened #2239 "Seems variables YAML declaration also sets environment variables"
Through testing, it also seems that the "variables:" YAML object property sets undecorated environment variables, e.g. "foo: 1" sets %FOO% to "1" (sine all environment variables are strings). If this is truly intended to be the base, it would be great to call it out in documentation so devs can take advantage of it safely rather than having to add an "env:" object property to all tasks to unnecess

[2018-10-26 16:11] Brood commented on #2235
Actually, you just did the opposite of what I would have though :)

Since `nslookup dev.azure.com` returns `13.107.6.183`, if not this one which IP addresses should I whitelist to allow SSH?

[2018-10-26 16:20] vtbassmatt commented on #2235
The problem with documenting an IP at all is that it can (and does) change over time. I'd rather document the domain names and let people do their own translation to whatever format they need (IPv4, IPv6, etc.)

[2018-10-26 18:42] scottkuhl commented on #1242
FYI:  Link is still not fixed.

[2018-10-26 19:07] jcbeck37 commented on #1451
We are also experiencing this issue for some users in our corporate Azure DevOps network. We recently migrated to use our Active Directory for authentication. Some users migrated without issue, and can correctly modify their Preferred/Contact email, and receive notifications, but others cannot. When they click to the Notifications page, it shows the global / automatic notifications, and their logi

[2018-10-26 20:12] tmcoma opened #2243 "Contracts.WorkItemExpand.Links not listed in documentation, but is in the API"
I came here after using the REST client directly and noticed that "Links" isn't listed here, but it does appear in the contract (values as of right now appear to be {None, Relations, Fields, Links, All}).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1194ad40-5135-a623-b0d8-ac2d840a30f4
* Version Independent ID: d74ee

[2018-10-26 20:55] nikolay-advolodkin opened #2244 "How to run Nunit tests"
Hello, I'm trying to follow the documentation to use Visual Designer or YAML to create a CI pipeline and filter NUnit tests. However, that's not on this page for .NET Framework. How can I filter NUnit tests for .NET Framework and not .NET Core. Thanks in advance :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a494f5

[2018-10-26 21:19] radu-matei commented on #1950
The doc states that NodeJS is required inside the container - I successfully ran a container job in a container without NodeJS - the doc is misleading, and requiring Node in a CI container should make no sense.

[2018-10-26 22:59] alexmullans commented on #2178
@elbatk can you take this one? @gldraphael's snippet is a good one. `feedName` is the Azure ARtifacts feed to publish to. `useFeed` is the keyword for "Azure Artifacts feed".

[2018-10-26 23:00] alexmullans commented on #2175
@mitchdenny can you share with @elbatk a build that's consuming Universal Packages so he can grab the yaml and build this documentation?

[2018-10-27 00:58] cdmihai opened #2246 "PublishBuildArtifacts should specify whether PathtoPublish is recursive or not"
By trial and error I found that it's not. Opened https://github.com/Microsoft/azure-pipelines-tasks/issues/8719

[2018-10-27 08:20] realnooshin opened #2247 "Thanks for sharing these experiments"
Just got this news when reading this article: Microsoft finalizes its $7.5 billion GitHub acquisition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 351f23cd-0f45-4f9e-6907-7e25b31fe4b4
* Version Independent ID: ec7c8359-810d-79e7-03b3-8d5ddab31aee
* Content: [Git at Scale - Azure DevOps](https://docs.microsoft.com/en

[2018-10-27 11:42] titodotnet opened #2248 "Azure DevOps Web Extension - REST client to get work details for a specific Iteration"
Team,

Please provide the REST client for getting Work details for a specific iteration.

![image](https://user-images.githubusercontent.com/6754353/47603371-dbfa2f00-da08-11e8-8448-1ba6fe1c117e.png)

Now with the existing REST client API, we need to do the following to evaluate total capacity of each member for the specific iteration.
1. Call [getTeamSettings()](https://docs.microsoft.com/en-us/a

[2018-10-27 23:23] ahsteele opened #2249 "Add release dates for all versions (or subset of most recent versions)"
From a release planning perspective it would be nice to know how far behind you are based on release date. It's good to know what release your version number relates to, but knowing how far behind you are based on date would be helpful.

As an example these are the dates I was able to quickly ascertain for the last year of releases.

| TFS Release | Update | Version number | Date |
| --- | --- | -

[2018-10-28 09:12] ltm0203 commented on #740
@steved0x
Hello, do you have a repository in Chinese?
Or build one?
I translated several articles, but found that he did not have a Chinese repository ?
How do I deal with and cooperate?

[2018-10-28 10:29] jessehouwing opened #2254 "Strong collective ownership"
The study leaves out strong collective ownership through promiscuous pair programming and mob programming. These are hard to measure through commit history... Any thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ba3f89f-a30e-37a1-a66a-c6728089ce60
* Version Independent ID: f16921aa-af53-ee3f-0534-6ce7a4a10ca2

[2018-10-28 15:10] RehanSaeed opened #2255 "Unable to Connect to GitHub for Deployment"
I'm able to select the GitHub organisation but the drop down for the repo is empty. I have to enter the repo name `Azure` and branch name `master` manually myself. However, the `Default Version` dropdown also has nothing in it and I can't select anything to create the connection.

![untitled](https://user-images.githubusercontent.com/2270364/47617823-5c7d6600-dac3-11e8-8c48-bc86c8930bb4.png)

[2018-10-28 15:44] gperrego opened #2256 "Dead links"
Both the rest api link above is dead and if I try to leave content feedback on "directly on GitHub" the link is also dead.  Maybe its a renaming to Azure DevOps thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-fcb81bcb2257
* Version Independent ID: 57c127da-2b1e-d29e-9abb-a3c258762ccf
* Con

[2018-10-28 22:32] danhellem commented on #2128
Sorry no, we don't have any plans to support the @CurrentIteration +/- macros in Excel in the short term. We will make sure this is on the backlog though to review and consider in the future.

[2018-10-29 00:33] isaiahwilliams commented on #1255
The Azure DevOps images referenced in this article are not included in the repository. So, none of the images are rendering as excepted.

[2018-10-29 00:35] isaiahwilliams opened #2259 "Missing Images"
The Azure DevOps images referenced in this article are not included in the repository. So, none of the images are rendering as excepted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11f43544-e181-b021-b362-dd7c5c631d7c
* Version Independent ID: 01897be8-0c56-1e83-0e1e-8dea747911ec
* Content: [Configure package manage

[2018-10-29 02:23] CastleArg opened #2261 "Update for New DevOps UI"
Would be good to have this for the new DevOps UI.  I no longer have the delete repo option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03af1d9-4eeb-ac18-d517-a0a44a2478be
* Version Independent ID: 842691c8-8c41-facf-2cff-03542262f2e5
* Content: [Delete a Git repo from your project - Azure Repos](https://docs.micro

[2018-10-29 08:54] mogusbi-sage commented on #2156
@vijayma I've already read those but they don't answer my question

[2018-10-29 11:06] vtbassmatt commented on #1950
@radu-matei ah, I think you're right. The requirement is that *either* you bring your own Node or you support our agent's distribution of Node. That's why Alpine-based containers don't work (among other things, they're musl-based whereas our Node dependency is glibc-based).

Node is a dependency for now. We're working on something a little better / less surprising. But today the container gets cre

[2018-10-29 11:41] cdeil opened #2262 "View coverage.py report on Azure?"
I'm using `pytest-cov` to make a coverage report. It works, but it doesn't show up as a nice webpage on Azure.

Here is what I have: https://dev.azure.com/00030000FAC97C58/multinorm/_build/results?buildId=4&view=codecoverage-tab

Before I was using travis-ci and put the coverage report here, where it appeared nicely:
https://codecov.io/gh/cdeil/multinorm/src/master/multinorm.py

Is it possible to

[2018-10-29 12:11] grahambunce opened #2263 "Unclear as to which Git this is?"
Does this reference migrating from a VSO project that is based on TFVS source control to Git based source control? There are so many terms for Git, it's confusing (Git, Github, Gitlab, Bitbucket...etc.). What I'm trying to find out is how to change an existing project, that has a work item history, team settings etc, but just happens to be based on TFVS source control so that it's source control i

[2018-10-29 13:13] bogan opened #2264 "Missing Comments in azure-pipelines.yaml"
The YAML sample part of the section titled 'Example' says that "The preceding sample code includes an azure-pipelines.yml file at the root of the repository. This file includes some additional instructions in comments to deploy...".
However, when I look in this file, there are no comments about how to deploy the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-29 13:36] aasheishmody opened #2265 "Triggers - Build Completion - Branch filters wildcard support"
I am currently using Azure Devops, and even though this documentation has screenshots of Branch filters wildcard support on visual designer, the dropdown for branches is only letting me select from the available branches. I even tried typing the branch specification (features/*), but it does not let me do that so there is no question of pressing enter after typing it as typing is not available. I

[2018-10-29 13:42] aasheishmody commented on #2265
Sorry, I realized that we need to click the dropdown first and then type it in the 'Filter my branches' textbox and then press enter. Please feel free to close this.

[2018-10-29 13:43] #2265 closed

[2018-10-29 14:31] Michaelvsk commented on #1636
@rifuller
Would you be so kind to post your solution? Did you find a way to register a AzureAD service principal for a Azure DevOps project? For me service principals are not listed on the DevOps Security dialogs.
As ordinary user accounts are no longer granted to be used as technical/service accounts in our organization, PATs of user accounts aren't an option for authenticated headless services.

[2018-10-29 14:41] alexhomer1 commented on #2264
Thank you for your feedback. I will update the topic to take account of your comments. This topic contains the details of how you can deploy a .NET Core Web App. For more details of how to build .NET Core apps, see https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core.

[2018-10-29 14:41] #2264 closed

[2018-10-29 14:52] alexhomer1 commented on #2244
You should find the following topics useful:

"Run unit tests with your builds" : https://docs.microsoft.com/azure/devops/pipelines/test/getting-started-with-continuous-testing?view=vsts

"Visual Studio Test task" : https://docs.microsoft.com/azure/devops/pipelines/tasks/test/vstest?view=vsts

[2018-10-29 14:52] #2244 closed

[2018-10-29 15:52] chcomley commented on #2237
Thanks for pointing this discrepancy out, @Mendallas. I've created a work item to address this.
Even if you have many teams working on hundreds of different applications and software projects, you can manage them within a single Azure DevOps project. However, if you want to manage more granular security between your software projects and their teams, consider using multiple Azure DevOps projects.

[2018-10-29 15:52] #2237 closed

[2018-10-29 15:54] Geekays opened #2266 "What is the security for the connection in between the VSTS and the agent on premises?"
Many customers ask this question "What is the security for the connection in between the VSTS and the agent on premises?" and my answer is the https connection. But many still have concerns and ask for if there can be a VPN based connectivity to VSTS. I could not find any definitive answer so far. I believe, there is none for a VPN.

Is there something concrete as a documentation that I may refer

[2018-10-29 15:57] LaurentTreguier opened #2267 "Triggering a build on new branch/tag added"
Right now, no build seems to be triggered when a new branch or tag is pushed to a Github repository. #1876 seemed to point towards new tags triggering new builds, but I am getting new builds only when new commits are pushed to already existing branches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-

[2018-10-29 16:12] jeffpriz opened #2268 "exclude builds when new branches are created"
I would like to be able to have one build to build "features/*" as shown, however this ends up triggering a build each time a new branch is created.. this ends up creating a number of un-necessary builds (if I create a new branch off of develop, this really isn't necessary to build, as the commits to develop would have already built)..  I'd like a method of building for "all the branches" but don'

[2018-10-29 16:12] annaisalwaysawesome opened #2269 "Allow Service endpoints to be at the organization level"
Similar to how agent pools are managed, service connections should be able to be added at the organization level.  We are standardizing our DevOps CI/CD pipeline and are going to have the same steps for every project, which means adding a couple individual service connections including their keys hundreds to thousands of times.  Another option would be being able to include them in the import/expo

[2018-10-29 16:34] roger-gao opened #2270 "Please give a detailed example about select certain agent from one private agent."
So simple about your example with private pool and not mentioned the agent from certain private pool.
example:
private pool name: Default
This default pool has 3 private agents: A1(enabled), A2(enabled), A3(disabled)
Now i want to use A2 to run build, what is the correct yaml writing ? Could you please give me some guidance?
Thanks in advance. ^_^

---
#### Document Details

⚠ *Do not edit this se

[2018-10-29 16:40] chcomley commented on #2205
@seeafish We have always had support for a “contact email,” which is where notifications are directed.  We use this email when authoring commits (e.g. web commits, PR merge commits).  So, this leads to situations where users might be creating commits with multiple emails and they appear as coming from the same user.  But we never had a feature where you could add multiple email addresses in your p

[2018-10-29 16:44] ddineen opened #2271 "Service hooks per subscription or at a global level."
Is there any way to set up a check in service hooks for all projects at once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 571ca92c-4252-2138-6899-8477f4d5dcf3
* Version Independent ID: 6a5fc398-1799-df19-d6c0-987491108fa4
* Content: [Service hooks in Azure DevOps Services REST APIs](https://docs.microsoft.com/en-us/

[2018-10-29 16:50] MatthewSteeples commented on #1771
https://developercommunity.visualstudio.com/idea/365761/add-rebase-and-merge-to-pull-requests.html and https://developercommunity.visualstudio.com/idea/365639/enable-fastforward-merge-from-pullrequest.html ask for functionality like this

[2018-10-29 17:22] vtbassmatt commented on #2266
Customers are free to setup their network however they prefer, including the use of a VPN. The agent needs to be able to reach the Azure DevOps instance on its public URL, which is documented, and anything beyond that is out of our control.

[2018-10-29 17:22] #2266 closed

[2018-10-29 17:34] #2177 closed

[2018-10-29 17:41] #2239 closed

[2018-10-30 02:08] MarkIannucci commented on #1994
I ran into the same issue and opened a GitHub issue about this here:
https://github.com/Microsoft/azure-pipelines-tasks/issues/8732

[2018-10-30 04:59] kaki104 opened #2277 "Does not the performance of the server decrease when We change the Location to Server?"
We are currently working on a project that has more than 140,000 files and wants to change the Location. By the way, I am asking if there are any problems with the performance of TFS server even if 100 developers make changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b16d189-fa47-b490-5186-76bc9acdcacc
* Version

[2018-10-30 07:13] endor commented on #760
I have the feeling this is still an issue.

What I want to do: Regularly fetch the work items, check whether they have changed and if they have changed fetch all the data about them and pass that data on.

How I'm doing it:
* I'm running a `POST` against `/_apis/wit/wiql` with `{query: "Select [System.Id] From WorkItems Where [System.TeamProject] = @project"}`
* With the IDs I get, I batch run req

[2018-10-30 07:40] byatis commented on #2056
This has been opened as ticket here:
https://developercommunity.visualstudio.com/content/problem/365121/maven-task-wont-authenticate-in-azure-artifacts.html

[2018-10-30 07:40] alessandrodalmas commented on #1914
My project has 3 extensions inside:
- A task
- A summary tab
- A tab

My node_modules are organized as:
|--- src
     |--- tasks
          |--- task1
               |--- node_modules
               |--- index.js
               |--- index.ts
               |--- task.json
|--- node_modules
|--- tab.html
|--- summary.html
|--- vss-extension.json
|--- tsconfig.json

Hope this is helpful

[2018-10-30 07:49] seeafish commented on #2205
I am fairly sure it was there. The reason I say this is that on my corporate VSTS my commits are recognised as me (i.e. my corporate profile) even though my gitconfig uses my personal email. This wouldn't work unless VSTS had my private email stored as well. No matter what git tool I use (gitlan, github, bitbucket), the first thing I do is add an email alias so that I can use my standard gitconfig

[2018-10-30 07:53] alessandrodalmas commented on #1345
Hi, here there is a more open list of possible inputs:
https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json

[code]

[2018-10-30 07:58] alessandrodalmas commented on #812
Personaly, I have found very difficult to move around the documentation and try to create my task in typescript (not powershell) together with a tab in the summary pipeline results and a separated tab.
My problem was the extension task (following the tutorial) needed to be compile with "module":"commonjs", while the tabs in "amd".
I am a newbie and this was already a big problem for me.
Now there

[2018-10-30 08:05] yko95 opened #2278 "Cannot launch 'Azure CosmosDb Emulator' on 'Hosted VS2017' agent"
I want to add launching 'Azure CosmosDb Emulator' as a part of CI pipeline using following command line command:
"C:\Program Files\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe" /noui /noexplorer

It runs infinite amount of time without logs and then fails due to timeout.

[2018-10-30 08:09] CarikeBL opened #2279 "Informative"
Thank you for this information. I found it to be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 419f53ee-528e-bb71-31b2-e67ddef00ddd
* Version Independent ID: f648e732-f5fe-360d-d185-8278c1af144e
* Content: [Visual Studio Team Services is now Azure DevOps Services](https://docs.microsoft.com/en-us/azure

[2018-10-30 10:17] edwinpjacques opened #2283 "Adding default subscriptions"
[Enter feedback here]

It would be good to have the ability to add default subscriptions.  To do that now, I would have to have every user add the subscription individually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66283a57-5d7c-2882-7055-89c51aab3a9a
* Version Independent ID: 58f97c9f-e9a4-1b57-71b7-aad213bb434e

[2018-10-30 10:49] staneee commented on #1163
我不知道是不是我哪里搞错了，也是同样的错误信息

** Error: No package found with specified pattern **

![image](https://user-images.githubusercontent.com/26987099/47713025-3945e880-dc74-11e8-902d-fc1281c6eb40.png)

![image](https://user-images.githubusercontent.com/26987099/47712878-dbb19c00-dc73-11e8-8b40-633b8cd31733.png)

![image](https://user-images.githubusercontent.com/26987099/47712941-013ea580-dc74-11e8-849f-029c

[2018-10-30 11:01] DJM0502 opened #2284 "Migration"
we are in process of migration from 2015 TFS to 2017 TFS.
the document content most of the information it could have been good if this could have include details regarding the tier of reporting server also.
i see this cover details regarding sharepoint also but no mention of reporting tier.
Thanks
Dilip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-30 12:44] #2028 closed

[2018-10-30 13:41] steved0x commented on #2279
@CarikeBL Tank you for the feedback, I am passing it along!

[2018-10-30 13:41] #2279 closed

[2018-10-30 13:44] steved0x commented on #2278
@ykonovalets Thank you for your feedback. The issues in this repo are for content feedback, can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author? If this is a product issue (something not working properly, or a feature request), please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thank you.

[2018-10-30 13:51] steved0x commented on #2268
@jeffpriz Thank you for your feedback. Can you let me know the URL of the article that goes with this feedback so I can pass it along to the correct author?

Are you looking at this one: https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies?view=vsts#build-validation

Or is it this one: https://docs.microsoft.com/en-us/azure/devops/pipelines/build/ci-build-git?view=vsts&tabs=yaml

[2018-10-30 13:55] vtbassmatt commented on #2270
Hey @roger-gao -- I'm not sure I understand your question. We don't have a way to target particular agents, that's the whole idea behind pools :) But I'm wondering if maybe you're asking for more information about demands.

[2018-10-30 14:05] jeffpriz commented on #2268
It was the 2nd one the build-multiple branches one.

thanks

[2018-10-30 14:05] roger-gao commented on #2270
Thanks for your feedback^_^.
Does this yaml file only can be deployed to build ? could it be deployed to release pipeline?
If possible, more official documents guidance or information provided is helpful to me. So what else website could i invite to learn more about yaml with Azure DevOps? Thanks.

[2018-10-30 14:10] vtbassmatt commented on #2270
Right now, YAML is for build only. We're working on adding release management features; no ETA for that, though.

The schema doc you found is not the easiest place to get started from. It's meant as a reference. The really intro guide is [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-yaml?view=vsts), and we also have a set of [templates](https://github.com/Microsoft/azu

[2018-10-30 14:10] #2270 closed

[2018-10-30 14:13] ideoclickVanessa opened #2285 "Variable Group - Tell whether variable is still being referenced outside of the group before deleting it."
Is there a way to tell whether a variable within a variable group is currently being referenced by a pipeline?

I would like to do some cleanup of our variable groups. However, the task seems quite daunting and impractical if I have to manually verify that each of our pipelines are no longer using the variable and/or group and hope that I don't mistakenly delete one that is still being used by a p

[2018-10-30 14:15] ideoclickVanessa opened #2286 "Variable Group - Tell whether variable is still being referenced outside of the group before deleting it."
Is there a way to tell whether a variable within a variable group is currently being referenced by a pipeline?

I would like to do some cleanup of our variable groups. However, the task seems quite daunting and impractical if I have to manually verify that each of our pipelines are no longer using the variable and/or group and hope that I don't mistakenly delete one that is still being used by a p

[2018-10-30 14:17] ideoclickVanessa commented on #2285
Replaced this issue with #2286 as I apparently was supposed to click on the link from the document page rather than the New issue button.

[2018-10-30 14:17] #2285 closed

[2018-10-30 14:33] michaelmairegger opened #2287 "Submodule checkout fails if no username is specified"
I get following error if the submodule which is a repository of the same project then the main project.

fatal: clone of 'https://dev.azure.com/company-name/project-name/submodule-repository-name'

   at Agent.Plugins.Repository.GitSourceProvider.GetSourceAsync(AgentTaskPluginExecutionContext executionContext, RepositoryResource repository, CancellationToken cancellationToken)
   at Agent.Plugins.

[2018-10-30 14:33] alexhomer1 commented on #2286
Thank you for your feedback. At present there is no way to do this. You might like to post a request on the Developer Community website at https://developercommunity.visualstudio.com/spaces/21/index.html, where they are tracked by the product teams. Thank you.

[2018-10-30 14:33] #2286 closed

[2018-10-30 14:36] ackava opened #2288 "How to setup npm authentication with simple username and pat?"
I can't put anything in .npmrc, how can I do authentication to npm feed with simple username and pat?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb7c2ab6-4ba1-51d5-96bb-38a9ab6b50c3
* Version Independent ID: 415de875-ba1b-476b-f08b-1a61dc7a2747
* Content: [Set up your client's npmrc](https://docs.microsoft.com/en-u

[2018-10-30 14:48] 24mu13 commented on #1864
Right, but this *Download Package task* is the same used by Release pipeline. So is impossible to bind a release-pipeline to an Universal package!

[2018-10-30 15:45] alexmullans commented on #1864
That's correct. It's not currently possible to use Universal Packages as Artifacts in a release pipeline. We're adding that support this quarter. @elbatk for now can we add a note to this doc specifying that the task currently only works with NuGet packages.

[2018-10-30 15:54] elbatk commented on #1864
Thanks @alexmullans , adding the note and closing this issue for now.

[2018-10-30 15:54] #1864 closed

[2018-10-30 17:04] joseq-terawe opened #2290 "Deleteing Via Powershell"
Can this be done through PowerShell (example: either through straight PowerShell cmdlets or invoking Rest Method?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a614791-0c5d-4373-3194-11695e40e1d1
* Version Independent ID: 737e5a3b-d7be-9d36-7b5a-638976406d74
* Content: [Delete or remove a project - Azure DevOps & TF

[2018-10-30 17:44] Sniipe commented on #2154
Hi @steved0x  sorry, I'm pretty new to this.  The Issue relates to [Syntax guidance for markdown usage->Embed Videos in a Wiki page](https://docs.microsoft.com/en-us/azure/devops/project/wiki/markdown-guidance?view=vsts#embed-videos-in-a-wiki-page)

[2018-10-30 18:52] rifuller commented on #1636
Hi @Michaelvsk, is your service account mail-enabled?  What I've found is that mail and domain logon enabled service accounts _are_ visible in AAD whereas domain-logon only accounts are not.  (My terminology may be inaccurate there but those are the kinds I have to choose from internally).  I ran into a similar issue when trying to grant a domain account access to a key vault - one service account

[2018-10-30 19:06] DavidStaheli commented on #1994
This capability has been added to Azure Pipelines.  I'm hopeful it will be available in all of production by the end of next week (November 9).

[2018-10-30 19:08] chcomley commented on #2283
Hi @edwinpjacques thanks for your comment. Since this isn't a documentation question or update, please enter your feature request here: https://developercommunity.visualstudio.com/content/idea/post.html?space=21
And let us know if we can help any further. Thanks again.

[2018-10-30 19:08] #2283 closed

[2018-10-30 20:08] ijabit opened #2292 "Incorporate New Release Extension Points"
Add new release extension points as shown here: https://docs.microsoft.com/en-us/azure/devops/pipelines/preview/new-release-summary?view=vsts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56437af3-75da-d219-5364-9b7927298ece
* Version Independent ID: ca01655a-9195-cf92-14b4-77ef66053dcf
* Content: [Extension Points](h

[2018-10-30 20:15] NateRickard opened #2293 "Incorrect link for the credential token"
This doc points users to `https://dev.azure.com/{yourOrganization}/_userSettings/tokens` but the real link seems to require `_usersSettings` - note the extra 's'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52da1009-6733-d555-3c00-1a1bd77f1759
* Version Independent ID: 72b916de-2836-460b-2889-67981ffea5a4
* Content:

[2018-10-30 21:53] noogn opened #2294 "PR template message in "Complete pull request" dialog"
When you complete a pull request, a dialog appears with fields prepopulated with PR description and details. The details field is filled with the contents of the PR template. Is there a way to prevent the PR template from being populated in that field?

Example screen to demonstrate what I mean:

![image of "Complete pull request" dialog with pull request description field prepopulated with pull r

[2018-10-31 02:03] brennaman opened #2296 "Create the build pipeline"
Can we get an walk through of creating the build pipeline?  Step-by-step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6a020f-35b0-8d92-9f8b-d05e658236e8
* Version Independent ID: e6208061-614b-a084-9c91-ab2ea12c7e2b
* Content: [Build an Azure Virtual Machine using Azure RM templates - Azure Pipelines & TFS](https:

[2018-10-31 02:53] staneee opened #2297 "How does IIS Deploy set the value of the Package Or Folder?"
The path to the package.zip is dynamic, how do I get it through the environment variable?

![image](https://user-images.githubusercontent.com/26987099/47763203-b451e200-dcfa-11e8-9976-6b6fe1d9ae27.png)

![image](https://user-images.githubusercontent.com/26987099/47763269-fd099b00-dcfa-11e8-92cd-3a2dd42e22ef.png)

![image](https://user-images.githubusercontent.com/26987099/47763260-f3803300-dcfa-11

[2018-10-31 09:21] Shakevg opened #2299 "Powershell task-> Inline (Version 2) don't have Arguments"
Powershell task-> Inline  don't have Arguments. Is it rights?
How to specify arguments for Inline mode?

[2018-10-31 09:47] jawn opened #2300 "Add link and explanation for all preview features"
Some of the preview features are mentioned without a link to more info. If would be helpful and time-saving to have at least some info or screenshot for any preview feature.

These are the preview features without additional info at this time:
- Git commit menu extension points
- New build result page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-31 10:37] arminnh opened #2301 "Typo in step 4 under "Install the Azure Pipelines Agent Azure VM extension""
subacription should be subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fa0c14-9937-41bc-cc34-179edb379083
* Version Independent ID: 10fe3600-21a5-12db-5e21-5ade3a8fa484
* Content: [How to provision agents for deployment groups - Azure Pipelines & TFS](https://docs.microsoft.com/en-us/azure/devops/pipelin

[2018-10-31 10:39] alexhomer1 commented on #2296
Thank you for your feedback. A walk-through for creating a build and release pipeline is at https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-designer?view=vsts&tabs=new-nav. Details of the build triggers for continuous integration can be found at https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=vsts&tabs=designer together with other topics related to b

[2018-10-31 10:39] #2296 closed

[2018-10-31 10:39] arminnh commented on #2301
Nevermind, already fixed in the source.

[2018-10-31 10:39] #2301 closed

[2018-10-31 10:40] alexhomer1 commented on #2301
Thank you for your feedback. I will update the topic.

[2018-10-31 13:03] DominicCabral commented on #2133
Any update on this?

[2018-10-31 14:38] steved0x commented on #2236
@tene666 Thank you for the feedback. Can you let me know which article this feedback applies to, so I can assign it to the author? You can reply with the URL here, or you can open a new issue directly from the article itself by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8

[2018-10-31 14:40] steved0x commented on #2246
@cdmihai Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can browse to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 14:41] steved0x commented on #2247
@realnooshin Thank you for the feedback, I will pass it along to Saeed.

[2018-10-31 14:41] #2247 closed

[2018-10-31 14:45] steved0x commented on #2248
@titodotnet Thank you for your feedback. The issues in this repo are for content feedback, and this looks like a product feedback. For product feedback, including feature requests, please file an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

If this is a documentation feedback, please open a new issue that is associated with a topic by browsing to the topic on docs.

[2018-10-31 14:45] #2248 closed

[2018-10-31 14:52] steved0x commented on #2254
@jessehouwing I have forwarded your feedback to the author and I'll update this issue when I get a response.

[2018-10-31 14:55] steved0x commented on #2259
@isaiahwilliams Thanks for letting us know, I'll take a look and see if I can find and restore those images.

[2018-10-31 14:59] TroySchmidt commented on #2163
I had to find project by sniffing the network traffic and looking for it in the API calls that DevOps was doing behind the scenes.  I would have thought somewhere in the project settings I could find that GUID displayed.

[2018-10-31 15:10] chcomley commented on #2290
Hi @joseq-terawe, there is a REST API for it: https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Frest%2Fapi%2Fvsts%2Fcore%2Fprojects%2Fdelete%3Fview%3Dvsts-rest-4.1&data=02%7C01%7CChrystal.Comley%40microsoft.com%7Cd04ca90513864d832eac08d63f2cc1fe%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636765858810719787&sdata=B6OSmhKJ0PTeCAFbJv6i%2BRtGltMeaC3ZPuBV52

[2018-10-31 15:10] #2290 closed

[2018-10-31 15:36] jdogg89 opened #2303 "Variables not recognized from variable groups"
when I run my script to login to quay and push my image, my environment variables are not recognized:
- script: |
    docker login -u $(quayUser) -p $(quayPswd) quay.io
output:
2018-10-31T15:33:35.8408915Z /home/vsts/work/_temp/XXX.sh: line 1: quayUser: command not found
2018-10-31T15:33:35.8409887Z /home/vsts/work/_temp/XXX.sh: line 1: quayPswd: command not found

---
#### Document Details

⚠ *Do

[2018-10-31 15:41] RehanSaeed commented on #2255
Here is another screenshot showing an error:

![image](https://user-images.githubusercontent.com/2270364/47800039-6a312680-dd23-11e8-8bf1-4afefe5c2bf6.png)

[2018-10-31 15:47] chcomley commented on #2205
Glad you got it figured out. You can go here to see the Azure DevOps Features Timeline: https://docs.microsoft.com/en-us/azure/devops/release-notes/
And you can go here to request a feature: https://developercommunity.visualstudio.com/content/idea/post.html?space=21
Hope this helps, thanks.

[2018-10-31 15:49] justinhauer opened #2304 "docker login to non acr and non dockerhub registries"
What are the tasks to login to a non ACR or docker hub registry, like quay.io?

your instructions are only for acr:
- task: Docker@1
  displayName: Login
  inputs:
    azureSubscriptionEndpoint: 'ContosoAzureSubscription'
    azureContainerRegistry: contoso.azurecr.io
    command: login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-31 16:05] steved0x commented on #2261
@CastleArg I have got this on my backlog to complete, in the meantime were you able to find it? In the new UI, go to Repos, Files, and click the name of the repo to get the drop-down menu, and choose Manage repositories.

![image](https://user-images.githubusercontent.com/1580889/47801694-19aad080-dd05-11e8-84f8-a1fac95c16fc.png)

Then, select the name of the repository, click the ... menu, and ch

[2018-10-31 16:05] #2261 closed

[2018-10-31 16:31] andrew-buckley opened #2305 "PR Status not updating"
After removing WIP from the title of the PR a new request is never sent to my server. Anyone else experiencing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f48d8a-33fb-9f6d-1db1-4cccb5b987d9
* Version Independent ID: 3e18fcbf-331d-9de2-62ae-c4e7c888cc48
* Content: [Create a pull request status server with Nod

[2018-10-31 17:42] vtbassmatt commented on #2303
Can you paste in the entire relevant section of the YAML you tried? There's not enough here to troubleshoot (except that your macros are being passed through without replacement, which then makes Linux try to execute `quayUser`).

[2018-10-31 18:00] steved0x commented on #2268
@jeffpriz Thank you, we'll see if we can find a way for you to do that.

[2018-10-31 18:15] steved0x commented on #2294
@noogn I am checking but I don't think so - the contents of the pull request template are saved into the description of the PR when you create it, and then when you complete the PR, the PR description (that now contains the contents of the PR template) is used to pre-populate that box.

You have a couple of options:

1. Edit the PR description as you are creating the PR and move the PR template do

[2018-10-31 18:17] steved0x commented on #2297
@staneee Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca7

[2018-10-31 18:19] steved0x commented on #2299
@Shakevg Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? is it this one?

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=vsts

[2018-10-31 18:28] elbatk commented on #2288
Hi @ackava , I'm not sure if that's currently supported. Adding @alexmullans to help out.

[2018-10-31 18:29] steved0x commented on #2029
@olyjoe I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 18:29] steved0x commented on #2061
@Infraton11 I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 18:29] #2061 closed

[2018-10-31 18:30] steved0x commented on #2067
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 18:30] #2067 closed

[2018-10-31 18:30] steved0x commented on #2082
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 18:30] #2082 closed

[2018-10-31 18:30] steved0x commented on #2092
@craig-wagner Thank you for your feedback, I have passed this along to the author.

[2018-10-31 18:30] #2092 closed

[2018-10-31 18:30] steved0x commented on #2111
I'm closing this issue since it is not associated with a topic. To continue the discussion, please open a new issue that is associated with a topic by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom. Thank you for your feedback.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79c71.png)

[2018-10-31 18:30] #2111 closed

[2018-10-31 18:32] elbatk commented on #2256
Hi @gperrego , I'm fixing the REST API link now, it should point to here:
https://docs.microsoft.com/en-us/rest/api/vsts/?view=vsts-rest-4.1

The GitHub directory resolves for me, are you logged into your corporate GitHub account?

[2018-10-31 18:32] steved0x commented on #2152
@JCanlett I have assigned this to the author of the docs.microsoft.com article you provided so they can address the feedback on that article. Thank you.

[2018-10-31 18:34] steved0x commented on #2154
@Sniipe Thank you, for providing that, I have assigned this issue to the author of that article and they can help out. If that format is supported, we can update the documentation with the correct syntax.

[2018-10-31 18:36] steved0x commented on #2207
@w3s7y I will find out if this is documented. @alexhomer1 Can you take a look, or reassign to someone that knows about agents to see if this is possible?

[2018-10-31 18:39] steved0x commented on #2209
@iaincbeat Can you let me know the URL of the article that had the statement and picture and I will assign this to the author to have a look.

Is it this one?

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/artifacts?view=vsts#sources

@alexhomer1 Please reassign if @iaincbeat replies back that this is not the right article.

[2018-10-31 18:48] steved0x commented on #2228
@davrob01 I am checking for you and will reply back as soon as I hear back.

[2018-10-31 18:50] steved0x commented on #2305
@andrew-buckley I am checking on this, a few other folks have reported the same issue recently.

[2018-10-31 18:51] elbatk commented on #2284
Thanks @DJM0502 , @roofers could you take a look at this issue and let me know if you think that's something we should add to the documentation for upgrading?

[2018-10-31 18:54] pekspro opened #2308 "Combining patterns"
I miss some examples on how to combine patterns. For instance, if you want to build all projects except one. It took me a while that I could use these two patterns to achieve this:

**/*.csproj
!**/ProjectToIgnore.csproj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd54e81-9a0c-c5e5-fb89-9534372805ff
* Version Indep

[2018-10-31 19:07] steved0x commented on #2305
There are two service hooks that need to be configured:

- Pull request created
- Pull request updated

The procedure for the first one is documented, but the 2nd is given in a single line. I will update this article to call out that second one.

[2018-10-31 19:07] #2305 closed

[2018-10-31 19:39] jdogg89 commented on #2303
[code]

[2018-10-31 19:39] jdogg89 commented on #2303
I've tried running it as bash instead of script as well and that didn't change anything

[2018-10-31 20:35] alexmullans commented on #2288
Not sure I follow the question. `.npmrc` is the file that `npm` reads to get credentials and work with authenticated npm feeds. There's not really a way around that. Can you elaborate on your scenario and why you can't change your `.npmrc`?

[2018-10-31 21:08] sblasko4868 opened #2309 "Unexpected error in Search service" message page"
When following the instructions on the "Unexpected error in Search service" message page (https://blogs.msdn.microsoft.com/tapas_sahoos_blog/2018/10/06/performing-a-clean-uninstall-of-search-extensions-in-team-foundation-server/#comment-19245) and running the "DELETE FROM [Search].[tbl_IndexingUnitChangeEvent] where EntityType = '%EntityType%'" command, SQL throws an error stating EntityType is no

[2018-11-01 05:29] ackava commented on #2288
I am using `https://github.com/npm/npm-registry-client` to read packages as part of deployment, when I use username and PAT, it gives me forbidden error. As a work around, I have setup a private npm repo outside azure dev ops. And I am publishing package on both artifact and other private npm repo and I am reading from other npm repo. But my service cannot directly read from azure artifact.

[2018-11-01 05:45] PBoraMSFT commented on #2211
@RehanSaeed - can you please file this enhancement issue on the tasks repo?
https://github.com/Microsoft/azure-pipelines-tasks

This repo tracks documentation issues, so I am closing this one out.

[2018-11-01 05:45] #2211 closed

[2018-11-01 07:52] Shakevg commented on #2299
It is defect in Powershell task code. I posted issue on incorrect place. Sorry.
I already found issue on github https://github.com/Microsoft/azure-pipelines-tasks/pull/8705

[2018-11-01 07:52] #2299 closed

[2018-11-01 08:36] Michaelvsk commented on #1636
I was hoping for a possibility to use [service principals](https://cmatskas.com/service-principals-in-microsoft-azure/) and not ordinary AAD accounts. But I couldn't find a way to give these principals permissions to DevOps projects.
I will try your solution using a AAD account with a PAT. Thanks for the code snippet.

[2018-11-01 10:32] alexhomer1 commented on #2209
Thank you for your feedback. I have passed this on to the product team for advice and update the topic.

[2018-11-01 10:35] Kira-Lappo opened #2312 "Specify the difference between `Release.Artifacts.{alias}.SourceBranch` and `Release.Artifacts.{alias}.SourceBranchName`"
Description doesn't say how `SourceBranchName` is generated and `master` branch doesn't show how it really converts the string.

How it works :
- `Release.Artifacts.{alias}.SourceBranch` cotnains **full** branch name, ie `/refs/heads/fix/web-app/microsoft-does-its-best`
- `Release.Artifacts.{alias}.SourceBranchName` cotnains **the last part of the branch**. It means the value of this variable is `

[2018-11-01 10:57] Kira-Lappo commented on #2312
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-11-01 11:07] alexhomer1 commented on #2312
Thank you for your feedback. I will update the topic to include your recommendations.

[2018-11-01 11:07] #2312 closed

[2018-11-01 11:24] Stoffe opened #2313 "Remove Read-Only in custom rules"
You can set a rule to enable Read-Only on a field, but there is no way to remove the Read-Only.
Please fix in Azure DevOps

[2018-11-01 11:28] Stoffe opened #2314 "Update toggle button that is read-only with updated value"
When setting a toggle-button to read-only, and update the status of that togglebutton with a rule further down the line, the togglebutton does not update its value, thus showing a wrong toggle even though, you do not want the user to be able to change it manually.
(Azure DevOps)

[2018-11-01 11:29] Stoffe opened #2315 "Make a rule to change Area Path"
Make a rule to be able to change Area Path, today you can only choose Area ID, there is no way to find your Area ID, but you may want to change the Area Path when a task is put in a specific state.
(Azure DevOps)

[2018-11-01 11:31] Stoffe opened #2316 "Add a timer rule"
Add a custom timer rule to come into conditions, eg. I want a rule to change an Area Path after a task as been put into a specific state and a timer of 1h has passed.
(Azure DevOps)

[2018-11-01 11:58] Stoffe opened #2317 "Add component to link to Azure"
Add a field component to add a link to Azure, to be able to for instance link to a subscription or resource group in Azure, by clicking and selecting an existing one.
(Azure DevOps)

[2018-11-01 12:08] vtbassmatt commented on #2223
That's a bug in what we're generating from the YAML exporter. It's an older, deprecated syntax for `pool`. The snippet you want is:
[code]

[2018-11-01 12:08] #2223 closed

[2018-11-01 12:41] bergmeister commented on #2299
@Shakevg Your referenced item is a pull request to make it so, not an issue.

[2018-11-01 12:48] steved0x commented on #685
@nschonni It looks like they have moved to here:

https://docs.microsoft.com/en-us/azure/devops/java/labs/eclipsegit/?view=vsts

I am going to fix up the links and make it easier to find, and that should be done today.

[2018-11-01 13:13] Stoffe commented on #2316
Closing issue- Lets make this in logic apps instead

[2018-11-01 13:13] #2316 closed

[2018-11-01 13:13] Stoffe commented on #2315
Might be done in Logic apps instead.

[2018-11-01 13:13] #2315 closed

[2018-11-01 13:40] steved0x commented on #685
OK I brought the steps back to this article instead of linking because that seemed to work better, it should be live later today.

[2018-11-01 13:40] #685 closed

[2018-11-01 13:45] marius-bughiu opened #2318 "The HTTP request to the remote WebDriver server timed out."
I'm getting the following error message even for the simplest UI test (i.e a simple login test):

Initialization method [Namespace].Init threw exception. OpenQA.Selenium.WebDriverException: The HTTP request to the remote WebDriver server for URL http://localhost:1692/session timed out after 60 seconds. ---&gt; System.Net.WebException: The operation has timed out.

I'm running them with the free ho

[2018-11-01 13:47] jdogg89 commented on #2303
@vtbassmatt let me know if you need more info

[2018-11-01 13:53] nschonni commented on #685
That's not quite the same thing since the old one covered both the offline and marketplace installs.

PS: that article has a broken image in the middle `![Sign in to Azure DevOps Services](../_img/eclipsegit/browseAzure DevOps Services.png)`

[2018-11-01 14:24] roofers commented on #2284
@DJM0502 - Are you looking to migrate from TFS to Azure DevOps or just upgrading your TFS server from 2015 to 2017?

@elbatk - If this a TFS upgrade question then you will want to loop in someone else. I'll connect with you offline.

[2018-11-01 15:35] javirivas80 opened #2319 "Cross-link objects One Project vs Two or more"
"A single project minimizes the maintenance of administrative tasks and allows full flexibility to cross-link objects"
Can you give more details on the "full flexibility to cross-link objects." Part ?. What do I lose if I have two separate projects?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 8327ce3e-

[2018-11-01 15:47] steved0x commented on #685
I'll check that image, and see if I can restore the offline installation instructions as well.

[2018-11-01 16:00] nlrowe opened #2320 "Script type value in Yaml snippet is not the correct case"
`#scriptType: # Optional. Options: , inline Script, file Path`

`inline Script` failed for me, I had to use `Inline Script` as it is referenced in other parts of the document. The Yaml snippet seems to be the only place in the document that references the option list, so it is probably the most popular place for someone to copy/paste the value.

---
#### Document Details

⚠ *Do not edit this secti

[2018-11-01 16:11] chcomley commented on #2154
Hi @Sniipe Your link has the “embed” parameter missing in the URL. We'll be adding another example to our documentation. Thank you for your input.

[2018-11-01 16:11] #2154 closed

[2018-11-01 16:37] alexmullans commented on #2288
OK. It looks like that doc supports taking token-based auth. You may need to Base64-encode your Azure DevOps PAT before providing it to the tool.

[2018-11-01 16:47] joseph-cloudthing opened #2321 "How to add custom extension tasks?"
For example the Cordova extension from the marketplace by Microsoft.

Exporting an existing visual template gives:
[code]
but when using that in yaml I receive:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8098f527-ebdf-60d5-3989-5228b7a207c1
* Version Independent ID: ce27c817-9599-00ef-5af2-3ac1dbad8dc6
* Con

[2018-11-01 16:51] joseph-cloudthing commented on #2321
https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=vsts#optional-install-and-test-your-extension might be another place for this...

[2018-11-01 16:57] joseph-cloudthing commented on #2321
Figured it out:
[code]
Surely I can replace the uuid with something nicer though...?

[2018-11-01 17:10] asvyat opened #2322 "How do I update existing Service Connection new PAT token?"
We have existing nuget feed store connection, and is there a way to update new PAT token to that connection to "External Azure DevOps Server"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90dd0-49f9-4ed4-3010-9a64dde6ae5a
* Version Independent ID: 6e679d50-4e94-eee3-8793-af884cc909ca
* Content: [Service connection

[2018-11-01 17:55] steved0x commented on #685
Image is fixed, I don't see the offline instructions on that page (maybe I'm looking in the wrong place), I do see some here, is that it: https://web.archive.org/web/20171219195443/http://www.microsoft.com:80/en-us/download/details.aspx?id=47727

[2018-11-01 18:10] pfogerty opened #2323 "Please provide more clarity on the "Planned Effort" calculation in item 4 above."
It will be great to understand how "Planned Effort" is calculated when there are both User Stories with Story Points assigned to them AND Tasks with Original Estimates. I expect that since this in information in the Planning Pane, that the "Planned Effort" calculation is a sum of all Story Points for the Stories in the iteration that is being planned. But I will love a clarification if that is the

[2018-11-01 18:37] MarcoGuzman21 commented on #737
I had the same problem…
That happens if you're trying to delete the unique existing repo in your account.
You must create a new repo to be able to delete the older repo.
Sorry my bad English.

[2018-11-01 18:37] NancyFolsom commented on #1451
Is there some resolution for this?

[2018-11-01 19:34] nschonni commented on #685
You're right, it's not on that page. I wonder which one I was thinking of then, or if that was additional docs we wrote ourselves. It's mainly the same flow as https://web.archive.org/web/20161018133103/https://msdn.microsoft.com/en-us/library/hh301122(v=vs.120).aspx, but talking about downloading from the release zip from https://docs.microsoft.com/en-ca/azure/devops/java/download-eclipse-plug-in

[2018-11-01 20:19] harrikerko commented on #1451
Contact e-mail started working for me some weeks ago already. Don't know
why or what has changed.

On Thu, 1 Nov 2018 at 20.44, Nancy Folsom <notifications@github.com> wrote:

[2018-11-01 20:24] andrewrk opened #2325 "Q: how to make sure that pull requests cannot access the secure file?"
Someone could create a pull request that modifies the azure-pipelines.yml file to send them the secure file. What mechanism prevents this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140dcb9a-2ed0-11d5-064b-068f863ed97f
* Version Independent ID: 672d2aa3-cf0d-9207-c97c-e2eba14506b7
* Content: [Secure files for Azure

[2018-11-01 20:44] NikolasKomonen opened #2326 "Provide GitHub login for VSCode Marketplace review/rating system"
Allow users to login with their GitHub accounts to review and rate marketplace extensions. Just like I logged into my GitHub account to be able to write this feedback.

This feature will make it less of a hassle for users to better engage with the marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 145e9748-003

[2018-11-01 22:07] CoolDadTx opened #2327 "How can the display name be dynamically updated to use env variables defined during the build"
I'm using YAML step templates to group common build stuff we need. In one template we calculate the version of our app. What I want to do is display this version in the log output as part of a display name on another step. I cannot find any way to do this. The display name is shown when the build starts and doesn't appear to be configurable unless you pass it as a parameter to the template which d

[2018-11-01 22:40] ChrisGuzak opened #2328 "Please elaborate on 'comment resolution drop-down', provide a link"
I often find myself explaining to PR authors and reviewers how to use the status filed of a PR comment (Active, Pending, Resolved, Wont Fix, Closed) so I'd like to 1) be able to provide a link to the section of this page that describes these values. 2) See more written about how to use them; for example, as a code author, convert a comment from "Active" to "Pending" when you plan to address the fe

[2018-11-02 00:09] brownkevg opened #2330 "Downloading Multiple Secure Files issues"
I'm having a hard time understanding how to format my variables for downloading multiple secureFiles. The documentation says that if your downloading multiple files it will be downloaded to $(Agent.TempDirectory). But when adding that variable to my task it fails to work. I'm sure I just have something incorrectly formatted. I have already switched my branch to another and back to reload the files

[2018-11-02 00:16] brownkevg commented on #2330
Forgot to Format code
[code]

[2018-11-02 05:31] ackava commented on #2288
@alexmullans I tried Base64, it still didn't work, I got 401 error.

[2018-11-02 05:40] maverick14 commented on #1934
Hi, I'm having one issue here . I can build and publish the code using CI, but the publish version is not the version , it is simply copying from Source Folder to my diestional folder in VM, can anybody help me to get the new publish copy.. ?

[2018-11-02 06:11] PBoraMSFT commented on #2318
@marius-bughiu - How are you running the tests? Is it the Visual Studio Test task?
If so, can you enable video recording using a runsettings file to see what's going on?

Also, please report this issue on the tasks repo https://github.com/Microsoft/azure-pipelines-tasks/
as this repo tracks documentation work and issues.

[2018-11-02 06:11] #2318 closed

[2018-11-02 06:54] DJM0502 commented on #2284
Hi,

we are in process  of upgrade from 2015 to 2017 TFS on premise.
since the document which is present is talking more of compatible matrix so
this will be good if you can add the details regarding the reporting tier
also.
that will be helpfully
Please let me know your view on this.

Thanks
Dilip

On Thu, Nov 1, 2018 at 8:16 PM Rogan Ferguson <notifications@github.com>
wrote:

[2018-11-02 06:54] DJM0502 commented on #2284
Hi,

we are in process  of upgrade from 2015 to 2017 TFS on premise.
since the document which is present is talking more of compatible matrix so this will be good if you can add the details regarding the reporting tier also.
that will be helpfully
Please let me know your view on this.

Thanks
Dilip

[2018-11-02 09:04] zhongjq opened #2331 "TFVC 源发布时报如下错误"
当前版本中，发布管理不支持项目类型 GitRef 的下载

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: febd44ab-caac-85c9-23dc-c9d5fdc14891
* Version Independent ID: e08a8970-baaa-012c-cc98-827a49cd8000
* Content: [Build TFVC repositories - Azure Pipelines & TFS](https://docs.microsoft.com/zh-cn/azure/devops/pipelines/repos/tfvc?view=vsts)
* Content Source: [docs/pipelines/repos/tfvc.md](http

[2018-11-02 09:52] RehanSaeed opened #2332 "How to Deploy from ACR Helm Chart Repositories"
ACR Helm Chart Repositories are a new preview part of Azure Container Registry. Currently, there is no documentation on how to deploy from ACR Helm Chart Repositories.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc7eeb7f-4e6b-8fee-1d7f-582cfb018b02
* Version Independent ID: 00fb3082-1069-9060-012c-0b6d75ef120b
* Con

[2018-11-02 09:53] RehanSaeed commented on #2332
I want to deploy as part of a 'Release' and not 'Build'. I used the Deploy Helm Chart template and tried to fill in the fields but got stuck on the 'Chart Path' field. I don't have a path to a chart, I have a Helm repository.

![image](https://user-images.githubusercontent.com/2270364/47908432-1dfdf780-de85-11e8-99e3-b0da819cca69.png)

[2018-11-02 11:11] olivier-spinelli opened #2333 "How to promote packages in views programmatically?"
On  "Communicate package quality with release views" page: "You can also promote using REST APIs."
I can't find any information.
My workflow is quite simple, it just needs 4 views:
- Stable
- Latest
- Preview
- CI
One package pushed to the feed must be followed by one (for CI) packages to 4 promotions (Stable packages must also be available in Latest, Preview and CI views).
This doesn't seem "incr

[2018-11-02 12:10] jesuscampos opened #2334 "I can't choose the title from the Table of contents with [[_TOC_]]"
What if my wiki is in other language than English? If I use `[[_TOC_]]` I always get **Content** as title.

I think it would be necessary something like this:
For spanish
    `[[_TOC_(Contenido)]]`
For french
    `[[_TOC_(Le contenu)]]`
...

It's just an example to try to explain the issue. Surely it is not the most appropriate way.

[2018-11-02 12:37] bcrosnier commented on #2333
The page [Communicate package quality with release views](https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/views) pages *does* state *You can also promote using REST APIs*, without linking or hinting at a REST API, and I can't find one publicly available either.

There may be a workaround for this, however.

On the Azure DevOps Web UI, promoting a NuGet or NPM package version to a Azu

[2018-11-02 13:35] olivier-spinelli commented on #2333
@bcrosnier, you're great!

Any hope to have a clear statement about the long term availability of this /packagesBatch?

[2018-11-02 13:58] nikoNguyen opened #2335 "Sizing recommendations"
Hi,
I've search the entire internet :-) and found nothing that could help us to size/dimension our sql server.
how many cpu ?
how much memory ?
is it the same for 40 concurent users and for 800 users ?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5e7bed-20b2-b95b-ebb1-27ef37244586
* Version Independent ID: 1

[2018-11-02 14:29] Sniipe commented on #2154
perfect, I see how to do it now.  I have to add "/embed" before "/video" - on my ms stream video there is no way to find the embed url.  I figured it out after a quick search.

[2018-11-02 14:44] steved0x commented on #2328
@ChrisGuzak There is a small section on comments down on that page here:

https://docs.microsoft.com/en-us/azure/devops/repos/git/pull-requests?view=vsts&tabs=new-nav#leave-comments

It is quite a large topic and it might be helpful to divide it into smaller groupings. I'm sending you an email for the other issues.

[2018-11-02 14:47] elbatk commented on #2326
Hi @NikolasKomonen , I'm going to tag @harishkragarwal here for awareness, but in the future product suggestions should go to the [Azure DevOps developer community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2018-11-02 14:47] #2326 closed

[2018-11-02 14:53] elbatk commented on #2335
Hi @nikoNguyen , this question would probably be better suited for the [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html), but since I think this does belong in the docs, I'm going to add @itillis here to help out and see if we can't get some guidance on recommended cpu/memory for all things related to TFS installs.

[2018-11-02 14:53] NikolasKomonen commented on #2326
@elbatk Thanks for pointing me in the right direction.

[2018-11-02 15:09] steved0x commented on #2317
@Stoffe Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79

[2018-11-02 15:09] steved0x commented on #2314
@Stoffe Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79

[2018-11-02 15:09] steved0x commented on #2313
@Stoffe Thank you for the feedback. Can you let me know which article this feedback is for, so I can assign it to the author? You can reply here with the URL of the topic, or you can create a new issue by browsing to the topic on docs.microsoft.com and choosing **Content feedback** at the bottom.

![image](https://user-images.githubusercontent.com/1580889/42953695-fd174150-8b48-11e8-94de-26924ca79

[2018-11-02 15:16] alexhomer1 commented on #2322
Thank you for your feedback. As you have discovered, the PAT token setting cannot be edited when you update a NuGet service connection. I have passed this question on to the product team for advice.

[2018-11-02 15:21] #2217 closed

[2018-11-02 15:22] alexhomer1 commented on #2219
Thank you for your feedback. I have passed this on to the product team for advice.

[2018-11-02 16:05] ChristopherMank commented on #1451
We are still having this issue, even following the fix mentioned above. I do get a confirmation email and confirm it but the notification settings in Azure DevOps still shows old email address.

[2018-11-02 16:17] vanillebear commented on #1451
Could it be the case that you have personal notification-settings? It worked for me by deleting my personal notification-settings and changing the email address afterwards.

[2018-11-02 16:18] MisinformedDNA opened #2336 "PR permissions and roles"
I, a project admin, rejected a PR and then another project admin came along and reset my vote. He probably shouldn't be a project admin anyway, but I'm not sure what specific rights give him the power to override me. Can you clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
*

[2018-11-02 16:19] elbatk commented on #1451
Hi everyone, if you're having an issue with the product, please post your questions on the [Azure DevOps Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). I'll add @willsmythe again for awareness and to let me know if a change or clarification to the docs needs to be made, but going to close this issue here for now as it seems to be a product issue.

[2018-11-02 16:19] #1451 closed

[2018-11-02 16:53] CoolDadTx opened #2337 "YAML snippet for NuGetCommand@2 does not line up with what the task actually requires"
Parameters are from here: https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/NuGetCommandV2/task.json

Some of the discrepancies I see.
 YAML = feedsToUse, Task = selectOrConfig
 YAML = restoreSolution, Task = solution
 YAML = vstsFeed, Task = feedRestore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-02 16:57] jcbeck37 commented on #1451
If anyone else has the issue, please see this open issue in the Azure DevOps Developer Community:

https://developercommunity.visualstudio.com/content/problem/374383/stakeholders-receive-notifications-at-account-emai.html

[2018-11-02 17:22] escalonn commented on #2083
Shipped but not documented here or anywhere.

[2018-11-02 18:47] vtbassmatt commented on #1934
@maverick14 not sure I understand the problem you're facing. Typically what you do is use a CopyFiles task to move the right set of files to the `$(Build.ArtifactStagingDirectory)`, then use the Publish Build Artifacts task to upload them as build artifacts.

[2018-11-02 18:48] vtbassmatt commented on #1934
@maverick14 not sure I understand the problem you're facing. Typically what you do is use a CopyFiles task to move the right set of files to the `$(Build.ArtifactStagingDirectory)`, then use the Publish Build Artifacts task to upload them as build artifacts.

[2018-11-02 19:27] vtbassmatt commented on #2083
Shipped for a fraction of our customers, but not the majority. We roll features out in rings.

[2018-11-02 19:32] vtbassmatt commented on #980
Doc fix in progress.

[2018-11-02 19:34] vtbassmatt commented on #2321
You can use the fully-qualified name of the task: publisherId.extensionId.taskName

[2018-11-02 19:36] vtbassmatt commented on #2321
Actually, if you're not worried about colliding with in-box tasks, I think you can just use the task name.

[2018-11-02 19:52] eduprog commented on #1743
During debug I analyzed fields and modified the values
 Path = "/fields/Microsoft.Azure DevOps Services.TCM.ReproSteps
to
 Path = "/fields/Microsoft.VSTS.TCM.ReproSteps"

and,

Path = "/fields/Microsoft.Azure DevOps Services.Common.Priority"
to
Path = "/fields/Microsoft.VSTS.Common.Priority",

Worked perfectly.

Hope this helps!

[2018-11-02 19:52] jdrake3 opened #2338 "Typo"
Under the "What happens when you create a Resource Manager service connection?" heading, in the first sentence, in the highlighted phrase "Add Azure Resource Manager srvice connection" the word service is missing an 'e'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5093b8d4-43df-12c3-591d-43e174e630cd
* Version Indep

[2018-11-02 19:53] jdrake3 commented on #2338
I attempted to submit a PR but was unable to push my branch.

[2018-11-02 20:08] tumatauenga opened #2339 "Issue with [CP] Embed Pods Frameworks build step"
I've just set up our project to build automatically using the above guide. It all seems to work great, apart from when it gets to the Embed Pods Frameworks build phase, when I get this error:

2018-11-02T20:01:06.7753710Z 	PhaseScriptExecution [CP]\ Embed\ Pods\ Frameworks /Users/vsts/Library/Developer/Xcode/DerivedData/{redacted}-hichxtjgqjkbxhafvxfmslxruuyb/Build/Intermediates.noindex/{redacted}

[2018-11-02 20:31] NancyFolsom commented on #1451
@ChristopherMank : Did you see this? https://developercommunity.visualstudio.com/content/problem/374383/stakeholders-receive-notifications-at-account-emai.html

My users who had trouble were set up as stakeholders, which we resolved so they have a basic membership (they couldn't see source code). It may be my problem was resolved when we made them basic members, though they also followed the sugge

[2018-11-02 20:39] justmarks commented on #730
@Xiaofuhub - we need more information to help diagnose this issue.  Please reach out to support

[2018-11-03 04:41] IdiotLeon commented on #1565
Same here, while I can find VSTS on Slack pretty quickly.

![image](https://user-images.githubusercontent.com/12004270/47948134-128fe800-dee8-11e8-8def-20e4f87a4b38.png)

[2018-11-03 19:03] alexmullans commented on #2288
OK. I'd recommend asking this on StackOverflow - someone in the community who's familiar with `npm-registry-client` may have more ideas.

[2018-11-03 21:05] AArnott opened #2341 "What is the difference between build and pipeline artifacts?"
There are _build_ artifact publishing and downloading tasks. There are also _pipeline_ artifact publishing and downloading tasks. What is the difference between build and pipeline artifacts? When is one appropriate over the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41baa0b5-175c-a697-4b7d-c150259c6e6b
* Ver

[2018-11-04 22:22] Styxxy opened #2342 "Git in VS and ... is standard Git"
In the note below Git, it says

This feels a little bit strange. I think the first word should be something like "source control"? Or maybe I misinterpret the sentence (in that case, the wording confuses me).

Update: maybe you mean the _flavour_ of git is standard git?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1

[2018-11-05 03:35] ChristopherMank commented on #1451
Thanks for the info @NancyFolsom. These users do have Basic. I'm going to test again since it did work me when I changed it...

[2018-11-05 04:41] harishkragarwal commented on #2326
@NikolasKomonen: thanks for the suggestion. We have this on our backlog and wish to enable it soon.

[2018-11-05 05:34] ackava commented on #2288
@alexmullans Its not only npm-registry-client, but even other implementations cannot access artificat. I also tried to use https://github.com/verdaccio/verdaccio , even it didn't work.

Adding username and password via command line for npm adduser does not work for vsts azure artificats. So it is not issue with `npm-registry-client`, basic authentication is not supported in azure artifacts which i

[2018-11-05 07:55] grawcho opened #2343 "Provide clearer explanation where to set Artifact source alias and examples how to use it"
{source alias} needs to be replaced by the value that the user sets or default from the release definition artifact stage (source Alias field which fills automatically by default) i've been working with VSTS (azure devops) for ages and it took me half a day to realize this allegedly obvious thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-05 10:51] eriawan opened #2344 "Can't find guidance to build .NET Framework apps using YAML"
There is YAML sample on .NET Core and also Docker.
Is there sample to have .NET Framework build in Azure DevOps pipelines using YAML?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a494f5a-6143-e567-6c0f-e2c817b1f1a9
* Version Independent ID: 15819679-5914-25f6-34f8-91f1da16b0bf
* Content: [.NET - Azure Pipelines & TF

[2018-11-05 12:21] tspascoal commented on #2133
You can use the [reset counter](https://docs.microsoft.com/en-us/rest/api/vsts/build/definitions/reset%20counter?view=vsts-rest-4.1) and [reseed counter](https://docs.microsoft.com/en-us/rest/api/vsts/build/definitions/update%20counter%20seed?view=vsts-rest-4.1) APIs

[2018-11-05 12:39] MichaelHarmsen commented on #2052
This is not supported according to Buck Hodges (@tfsbuck on Twitter). The only way is to reinstall TFS. Read Buck's answer here: https://twitter.com/DonovanBrown/status/1059389630745886721

[2018-11-05 12:39] #2052 closed

[2018-11-05 13:21] HermanCordes opened #2345 "Reference variable group from YAML"
The yaml schema snippet seems to indicate that referencing variable groups from a YAML file is possible using:

variables:
- group: my-variable-group

However, it's not supported yet. See also: https://stackoverflow.com/a/52378188/249948

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827aa99-ae62-bd63-6f2f-a87a4065ed2

[2018-11-05 13:33] iliecirciumaru opened #2346 "Can't override input variable value inside task group"
### Scenario:
1. My task group is composed of several tasks
2. First task, based on some logic, constructs an ID and publishes it as variable using this syntax:
`echo "##vso[task.setvariable variable=sauce]crushed tomatoes"`
3. Another tasks use this variable inside

### Problem
1. Task group automatically extracts this variable as input parameter
2. Because value will be calculated on the fly, I

[2018-11-05 13:36] RoopeshNair commented on #2322
@alexmullans

[2018-11-05 14:16] vtbassmatt commented on #2215
Thanks. Fix inbound.

[2018-11-05 14:16] #2215 closed

[2018-11-05 14:24] markarnolditpro opened #2347 "Activity log export"
I'm looking for audit logs related to who has cloned repos and when.  Is this available?  If not, is it conceivable that MS support could provide these logs when required?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 361c08ef-48be-de59-d223-595cadc65a7b
* Version Independent ID: 4bab93d0-8ee5-5e18-a217-c5f6a3

[2018-11-05 14:38] vtbassmatt commented on #2321
Fix inbound. Thanks!

[2018-11-05 14:38] #2321 closed

[2018-11-05 14:41] vtbassmatt commented on #2303
Got it. You have to explicitly map in [variable groups](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema#variables). Something like this:
[code]

[2018-11-05 14:41] #2303 closed

[2018-11-05 15:11] joseph-cloudthing commented on #2321
@vtbassmatt Awesome, thanks. Do you have a linky to the fixing commit?

My main real question knowing this is possible, is how do I discover the fully-qualified names of these tasks?

[2018-11-05 15:26] MoiMoiDG opened #2348 "Pull request triggers in TFS 2018.3?"
Hi,

I do not see the "Pull request triggers" option in TFS 2018.3 + Git Repos. Do I need to activate anything? How can I trigger a release pipeline for artifacts originating from a Pull Request targeting e.g. the branches "master" and "develop" only?

Remark: The current documentation does not distinguish whether some features are available only for some editions.

Thanks!

---
#### Document Deta

[2018-11-05 15:51] joseph-cloudthing commented on #2321
Thanks @vtbassmatt , that's a really useful!

I've also found https://extmgmt.dev.azure.com/cloudthing/_apis/extensionmanagement/installedextensions?api-version=4.1-preview.1 which lists all tasks in the contributions of each extension.

Is there a good place this could be mentioned in the YAML docs?

[2018-11-05 19:33] vtbassmatt commented on #2327
That value isn't available until the step executes. By then, `displayName` of the subsequent step has already been chosen and committed. What you're asking for isn't unreasonable, but it's a new feature -- dynamically-updateable display names. A good place to talk over new feature ideas is (as you know, but including for others' benefit) https://github.com/Microsoft/azure-pipelines-yaml.

It's pos

[2018-11-05 19:33] #2327 closed

[2018-11-05 19:40] bledbet commented on #478
Thanks @seanoflynn-tie - I had the same struggle, and that fixed it.  Documentation is still wrong.

[2018-11-05 21:55] nschonni opened #2350 "Replacing UserVoice references in "release notes" page"
On the release notes page, it talks about UserVoice https://github.com/MicrosoftDocs/vsts-docs/edit/master/release-notes/index.md
I'm guessing most references would get swapped for https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?type=idea

The reference

Is now replaced with https://dev.azure.com/mseng/Azure%20DevOps%20Roadmap/ I think

[2018-11-05 23:28] gh-sachip opened #2351 ""categories": ["Repos"] should be fixed to supported values."
When I compile the extension , it errors with message
error: Error: There were errors with your extension. Address the following and re-run the tool.
error: The following categories are not valid: Repos. Valid categories are: Build and release, Collaborate, Code, Test, Plan and track, Insights, Integrate, Developer samples.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-11-06 01:06] kvishnuthej777777 commented on #2175
@allexmullans i created a build that will download debain packages from Artifacts..My question here is that is there a way i can get latest version of packages automatically instead of specifying it as a variable..If you have documentation for universal package download, please provide it

[2018-11-06 01:08] kvishnuthej777777 commented on #2175
@allexmullans adding build link here..https://msdata.visualstudio.com/HDInsight/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=4853&view=Tab_Tasks

[2018-11-06 01:19] alexmullans commented on #2288
If you're using basic, you actually need to provide the whole basic authentication string (format `username:password` e.g. `anyvalue:<your PAT here>`) Base64-encoded.

`npm adduser` is specific to [npmjs.com](https://npmjs.com).

[2018-11-06 01:20] alexmullans commented on #2175
@kvishnuthej777777 not today, but "get latest" is high on our backlog - hoping to get to it late this year or early next.

[2018-11-06 01:32] kgreed commented on #1996
Maybe something like
"Now that you have a build pipeline wouldn't it be great if you could see the status of your build in the read me file?

We can use a status badge to do this. The steps are as follows:"

[2018-11-06 03:00] alexmullans commented on #2322
I just tried to reproduce this and wasn't able to. There was a placeholder ***** that looked disabled, but when I clicked in, I was able to enter a new token value. Can you provide steps to reproduce?

[2018-11-06 03:14] dineshspillai commented on #1587
I am also looking for customizing the widget.

[2018-11-06 07:58] ahmadyo opened #2352 "Ambiguous sentence"
what do you mean by "automaticaly places" in "step 6: Specifying the extensions in the xml automaticaly places ..."? The content is about editing the xml; how it place "automaticaly"!!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7687d0f-cb54-022d-2a2a-7670251e73a4
* Version Independent ID: b1abeb4f-1f46-d759-6b01-

[2018-11-06 08:02] eriawan opened #2353 "The link "Build Docker image and publish Helm chart" is a little bit misleading"
The link "Build Docker image and publish Helm chart" is a little bit misleading.
The current link points to https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/docker?view=vsts, but the content on that link has no mention about Helm related topics at all.

Also I could not find any topics about leveraging Helm in the current docs of Azure Pipelines.

---
#### Document Details

⚠ *Do

[2018-11-06 12:28] alexhomer1 commented on #2353
Thank you for your feedback. I have passed this on to the product team for advice and will update the topics based on their recommendations.

[2018-11-06 12:38] alexhomer1 commented on #2348
Thank you for your feedback. I have passed this on to the product team for advice and I will update the topic to include their recommendation.

[2018-11-06 12:42] alexhomer1 commented on #2343
Thank you for your feedback. I will update the topic to make more clear on this point.

[2018-11-06 12:42] #2343 closed

[2018-11-06 12:53] alexhomer1 commented on #2345
Thank you for your feedback. I have passed this on to the product team for advice and I will update the topic to include their recommendation.

[2018-11-06 13:02] ahmadyo opened #2354 "finer title"
It is better to change "JavaScript sample" title to "TypeScript..." or change the sample code to JavaScript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e6cb0ed-c129-901c-10a2-909354aa562f
* Version Independent ID: ceb10d41-b306-0d3f-ccb2-124a3ba69332
* Content: [Add a custom control to the work item form](https://d

[2018-11-06 13:36] mloskot opened #2355 "Select a branching strategy link is broken"
This article references  "select a branching strategy" pointing at https://visualstudio.com/articles/git-branching-guidance
Apparently, the target link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d05453e8-ded7-b09d-26c0-78906b16a67c
* Version Independent ID: 195d2303-45f4-e074-b234-67235219dc5a
* Content: