[2019-12-24 20:43] junyzheng commented on #6753
running into the same issue, please considering update the documentation

[2019-12-24 21:07] multco-malan commented on #6563
Yes I too would like to see an example using key vault values substituted into appsettings.json

It is confusing because the JSON supports the "dot" notation, e.g, Data.DefaultConnection.ConnectionString but the key vault does not support secrets containing "."

I'm looking for an example on setting up secrets in a Key Vault and then read those secrets in a release pipeline such that the appsettin

[2019-12-25 00:30] arcotek-ltd opened #6776 "Permission issue, trying to run ./config.sh"
In https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#azure-pipelines, step 8, you say run ./config.sh.

Installing on Fedora Server 30, I get a bunch of permission errors. My user is added to Sudoers file (wheel).
[code]

If I try to install as root or run with `sudo`, I get the error `Must not run with sudo`.

There are a few "fixes" around the Internet inv

[2019-12-25 12:52] NewFuture opened #6777 "runtime expression with coalesce includes variables"
[code]
the output will be ` $[coalesce(variables.CONTAINER_NAME, 'web')]` (the expression it self, not the value)
So, how to use it with the expressions with user defined variables (in yaml or pipelines)?

---
#### 文件的詳細資料

⚠ *請勿編輯此部分。 docs.microsoft.com 必要 ➟ 連結 GitHub 問題。*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4b40f2a
* Content: [Variab

[2019-12-25 14:39] leus commented on #539
Please let us know where in your backlog is this issue, or reopen this issue. There is still no way to deploy a setup file, for instance, from a pipeline to a web site, for example, without having to manually codify each step.

[2019-12-26 06:37] AdamCoulterOz commented on #4919
Hey @chcomley - this is definitely needed, there seems to be many aspects of Service Connection Contributions `ms.vss-endpoint.service-endpoint-type`, which is unavailable to people trying to build contributions to the Azure DevOps marketplace.  Holistically, we really need a json schema for `vss-extension.json`.

[2019-12-26 07:53] masaori commented on #4187
It seems that I can define 'services' only under 'jobs' according to the document about YAML schema ( https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#server )
So I think those examples in this article don't work in the first place. (Actually, it didn't on my env.)

How did you guys write your .yml?

[2019-12-26 14:55] FlorisDevreese commented on #6533
I'm currently in the process of transitioning all classic builds to `yaml` builds.
We currently have a multi-layer hierarchy of `Task Groups`.

The fact that it is not possible (for now) to define `resources` inside a `template` is blocking for us.
Will this be possible in the future?

[2019-12-26 16:57] ranpurahardik opened #6778 "Need to give permission for particular single branch and not allow to access or clone other branches."
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-12-26 18:06] DamianSuess commented on #5081
@cawoodm, it depends on you. Personally, I go by the following structure:
* Default branch is ``develop``. All pull requests from feature-branches merge into it.
* And have ``master`` used for releases and tagging. Only allowing ``develop`` to merge into it when a release or version is ready.

[2019-12-26 18:24] WhitWaldo opened #6779 "Moving NuGet Pack/Publish functionality to a separate Release pipeline and out of Build"
Most of the Azure DevOps pipelines differentiate between building and testing a project, squirreling the artifact away and then using a release mechanism to actually deploy it somewhere, but not this one. I'd ask that the guidance here be rewritten to split out the pack and push commands out to a separate release task since they don't belong in a build pipeline.

Primarily what I'm looking for is

[2019-12-26 18:33] NateB2 commented on #6533
We're dealing with the same issue.  We're forging ahead with a temporary workaround - consolidating the YAML files into just two repositories - we have one repo for templates, and another for pipelines - but it's definitely not ideal, as the pipelines are not being stored with the source code associated with them. It would definitely make our lives easier if we could have a template stored in a re

[2019-12-26 18:52] juangps96 commented on #3385
if it was written:
 "contributions": [
        {
            "id": "chart",
on vss-extension.json

It should also have been written:
VSS.register("chart", function () {
on the javascript

but not: VSS.register("piechart"

[2019-12-26 18:57] juangps96 opened #6780 "Wrong Name PieChart instead of Chart"
Wrong Name PieChart instead of Chart
![Error Chart](https://user-images.githubusercontent.com/13917423/71487103-8a555c00-27e7-11ea-8655-496381d2fe40.png)

If it was written:
 "contributions": [
        {
            "id": "chart",
on vss-extension.json

It should also have been written:
VSS.register("chart", function () {
on the javascript

but not: VSS.register("PieChart"

https://docs.microsoft.

[2019-12-26 19:06] t3mi commented on #3255
It would be great addition as well to have a possibility for setting a custom account for the agent.

[2019-12-26 19:41] #6744 closed

[2019-12-26 20:30] FlorisDevreese commented on #6533
@NateB2  That's means that a lot of the advantages of yaml pipelines are nullified...

[2019-12-26 20:38] NateB2 commented on #6533
@FlorisDevreese Well, moving to YAML is still worth it to us, as we'll get much better version control, plus we're taking advantage of the YAML-specific template syntax to create advanced templates, but it's definitely not an ideal situation.

What's weird is that if the template file is in the same repository, the local template file can access a remote repository template using the "@template" s

[2019-12-27 00:01] anthony-gregg opened #6781 "Add that only Windows PowerShell and not Windows PowerShell ISE editor can be used for creating Windows Build Agents."
Today, the Windows PowerShell ISE editor does not work (i.e. there is a bug) to create Windows Build Agents. So do not use this version of the PowerShell editor.  Only an elevated instance of the Windows PowerShell editor can be used to create a Windows Build Agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43799c

[2019-12-27 14:32] faustool commented on #4068
I tried to create this azure-functions-cli folder inside the agent directory and inside bin but that didn't help. Where exactly is your "." path?

[2019-12-27 15:00] obeyda opened #6782 "Use YAML for CD"
Wasn't it possible to use the same pipeline YAML definition to do both CI & CD instead of using the classic release pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079492cb-bdc3-7ba6-8581-dd76391cda4f
* Version Independent ID: 81e719d4-b127-fa41-4cf2-421e91b9d4be
* Content: [Canary deployment strategy for Kub

[2019-12-27 15:02] Styxxy commented on #5722
And also for the related item **Deployment Pools**

[2019-12-27 15:20] arkoppan opened #6783 "Do we need to whitelist both inbound and outbound for the IP addresses?"
Do we need to open both Inbound and outbound rules for the URLs listed in the doc below?

https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops#ip-addresses-and-range-restrictions

The doc mentions "The list doesn't include network connections from Microsoft into a customer network, sometimes called hybrid or inbound network connections.".

What a

[2019-12-27 18:02] FISHMANPET commented on #3951
I've got a project with a fairly simple workflow using both CI and PR validation, to control Azure Automation Runbooks, driven with a Github repo.  When commits are made to master, the changes are published to the production Automation account.  PRs are required to merge into master, and the PR rules require the branch to be up to date with Master before they can be merged.  When a PR build is tri

[2019-12-27 19:50] ScoGroMSFT opened #6784 "Private Repos Require GOPRIVATE"
Referencing Go code in private repos will return HTTP/410 Gone due to the attempted lookup of the ADO code location using sum.golang.org/lookup that occurs by default.

Setting the environment variable GOPRIVATE=dev.azure.com locally before building or running go get will suppress this lookup attempt and is needed for pulling code from private repos. We need to include this in the docs.

Here's a

[2019-12-27 21:44] #6556 closed

[2019-12-27 21:44] #6652 closed

[2019-12-27 21:54] WilliamAntonRohm commented on #6750
@Nikababy01, thank you for your feedback.

It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2019-12-27 21:54] #6750 closed

[2019-12-27 21:59] WilliamAntonRohm commented on #6754
@kumarallamraju -- thank you for spotting this.

@Potapy4 -- thank you Nikita for creating that PR.

@davidstaheli -- David, please review the above-mentioned PR 6771.

[2019-12-27 22:01] WilliamAntonRohm commented on #6756
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-27 22:04] WilliamAntonRohm commented on #6751
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-27 22:06] Izzmo commented on #3951
@FISHMANPET I don't think this is related to GitHub at all. While, in theory, you could apply the same thing with webhooks in ADO, it would be hard to do.

@alarobric can we close this?

[2019-12-27 22:14] FISHMANPET commented on #3951
Not sure what you mean by not related to GitHub.  The root of if is that when you configure CI and PR builds, two webhooks are created in the GitHub repo, one to notify on all branch changes, one to notify on all pull request changes.  Pushing to a branch with an open pull request triggers both webhooks, which is why two builds get triggered.  I'm suggesting a way, either inside the build pipeline

[2019-12-28 11:44] robertlagrant opened #6786 "You need to update this page"
CircleCI do a lot more now. Also, some of these criteria are pretty cynical!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01e26467-204d-f5b1-d735-1f57efd55656
* Version Independent ID: 4dfb3abc-b1d5-9d1b-cc4e-96f172381aaa
* Content: [Azure Pipelines vs CircleCI - Azure DevOps](https://docs.microsoft.com/en-us/azure/d

[2019-12-28 19:09] Flogex opened #6787 "Typo: 'environent' is missing an 'm'"
'environent' should be replaced with 'environment'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd-b73d-9120-bcdb-6097d4b40f2a
* Content: [Variables - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=az

[2019-12-29 00:05] #4884 closed

[2019-12-29 17:13] TeamDman opened #6789 "[Visual Studio subscribers] link 404s"
https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-users-table-view?view=azure-devops&tabs=preview-page

![image](https://user-images.githubusercontent.com/9356891/71560187-8407ef80-2a34-11ea-933c-ed4448bdeb2f.png)

![image](https://user-images.githubusercontent.com/9356891/71560191-8b2efd80-2a34-11ea-85c1-0d560362c355.png)

[2019-12-30 08:00] vipulnewaskar7 opened #6790 "Unable to download Build Artifacts in build pipeline"
I have 2 Projects say - A and B Both have a build and release pipeline.

I want to use artifacts published by build pipeline of **Project A** in "**Build Pipeline**" of **Project B**.
So for this I tried using both tasks

1. Download Build Artifacts
2. Download Pipeline Artifacts

I provide Project Name , Pipeline Name  in the task from the dropdown menu.
When I run pipeline, I get

**NOTE : I can

[2019-12-30 09:31] Bhanu88 commented on #3702
+1 for the mentioned feature

[2019-12-30 09:42] arlind-shkrela opened #6791 "Not compatible with Asp.Net Core 3"
This package is not compatible with Asp.Net Core 3 web api. Only .net framework :/.
When it this feature may come ?

[2019-12-30 10:05] arlind-shkrela commented on #6791
Quick describe:
I am working on an custom web api project with asp.net core 3.0. The goal is to connect with FTS 2013 to create/update/event listener work items.
I was trying to install :

I prompt me with the following waring

Thanks

[2019-12-30 16:44] ajklotz commented on #5075
What happens if there are other variables already defined on the pipeline and this stuff comes down from the keyvault? Which variable wins?

[2019-12-30 18:39] bobbymcgill opened #6792 "ADO - Repo - WebHooks Not keeping settings"
**Problem Description:** Webhook settings are not being saved correctly.

**Problem Details:**
We have a project with several repos in it. We would like to set up Web Hooks for individual repos when a Pull Request is updated/completed.

When creating the web hook, I select the <optional> repo that I want. However, as soon as I hit save, the web hook reverts to the <ANY> repo setting.

Screenshot 1

[2019-12-30 19:15] MarkIannucci commented on #6166
@RoopeshNair, I wanted to revisit this thread; thank you for getting the document updated.

From reading #4362, you stated that the functionality may be 4-5 months out in [September](https://github.com/MicrosoftDocs/vsts-docs/issues/4362#issuecomment-533177379), and then 8 weeks later, you stated the [same timeframe](https://github.com/MicrosoftDocs/vsts-docs/issues/4362#issuecomment-558565264).

[2019-12-30 19:35] reynoldsbd opened #6793 "Document Working with Project-Scoped Artifact Feeds"
The current documentation does not appear to work with project-scoped artifact feeds. When attempting to publish to some feed specified by `vstsFeedPublish`, the operation fails with an error saying the indicated feed does not exist.

I was able to work around this by adding the project name as part of `vstsFeedPublish`.

[code]

I feel that this behavior should be called out in the documentation

[2019-12-30 20:57] djbreen7 commented on #6563
I'm facing an issue in the same vain.

[code]

I'm getting the error `Cannot perform XML transformations on a non-Windows platform`, which doesn't really make sense, considering I have `enableXmlTransforms: false`. I've also tried omitting that value, but I get the same results.

As the OP has requested, please clarify.

[2019-12-30 21:05] chillbilly79 commented on #6563
I did eventually get it to work like this:

'''
 - task: FileTransform@1
    inputs:
      folderPath: '$(System.DefaultWorkingDirectory)'
      fileType: json
      targetFiles: appsettings.json
'''

[2019-12-30 21:10] aplocher opened #6794 "versioningScheme confusing"
versioningScheme mentions the options are: off, byPrereleaseNumber, byEnvVar, byBuildNumber

The description then mentions the options are: 'Use the date and time', 'Use an environment variable', 'Use the build number'

I assume "Use the date and time" is "byPreleaseNumber"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-12-30 21:24] drdamour commented on #6166
@MarkIannucci FWIW i've been using the environemnts as approval and it's pretty rough going if you want do things conditionally. It appears the current behaviour is that if ANY job in a stage references an environment then the whole stage is approved or not approved.  that combined with the inability to pass data between stages (for the most part) means you can't conditionally run a stage that tar

[2019-12-30 22:31] MarkIannucci commented on #6775
I re-read the document and found that in many places (including the one that I was raising this issue about), it states "defaults to ".  Closing.

[2019-12-30 22:31] #6775 closed

[2019-12-30 23:07] MarkIannucci opened #6795 "What happens to the predefined Release Variables when we migrate to a multi-stage yaml pipeline?"
I suspect the answer is that they don't get populated.  If that is the case, it would be good for this documentation to state that and perhaps provide some advice on what they may map to so we can refactor our code as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611642f0-881f-10b9-ae94-3c562001d1f0
* Ver

[2019-12-30 23:34] MarkIannucci opened #6796 "Built in conditions don't have yaml keywords specified."
It would be great if the first section defines the yaml keywords to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f151218-9a11-0078-e038-f96198a76143
* Version Independent ID: 09c4d032-62f3-d97c-79d7-6fbfd89910e9
* Content: [Conditions - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/pr

[2019-12-30 23:35] #6754 closed

[2019-12-30 23:44] #6678 closed

[2019-12-30 23:48] WilliamAntonRohm commented on #6761
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-30 23:48] #6761 closed

[2019-12-30 23:50] WilliamAntonRohm commented on #6763
@rh-alps -- thank you for your positive feedback!

@steved0x -- fyi  :^)

[2019-12-30 23:50] #6763 closed

[2019-12-30 23:52] #6685 closed

[2019-12-30 23:55] #6787 closed

[2019-12-31 00:01] WilliamAntonRohm commented on #6777
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-31 00:01] #6777 closed

[2019-12-31 00:01] WilliamAntonRohm commented on #6778
@ranpurahardik -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-31 00:04] WilliamAntonRohm commented on #6779
@WhitWaldo -- Whit, thank you for your feedback.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chasewilson -- Chase, please look into this potential documentation issue.

[2019-12-31 00:09] WilliamAntonRohm commented on #6766
@apacha -- Alexander, thank you for your feedback.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @PBoraMSFT -- Prachi, please look into this issue.

[2019-12-31 00:13] macjustice commented on #4179
Hello, in my testing I was able to upload multiple files above the 5GB
threshold using LFS. I haven’t run into a limit on total LFS object
storage, either, but I haven’t pushed it that hard yet.

On Mon, Dec 23, 2019 at 9:53 AM 徐鵬鈞 <notifications@github.com> wrote:

[2019-12-31 03:57] dev-arjunan commented on #2102
Create a task like ".Net build" under agent. This task will have an option "Link settings" at the top.Click the "Link settings" option, select required parameters and click on Link button. It will be available in the build pipeline parameters now.

[2019-12-31 05:57] ShubhamJain1992 commented on #6716
Hi TASlavens,
Search in Azure DevOps Server 2019 Update 1 does support indexing up to 5 branches. Can you please provide me the steps you tried to add branches and the release notes you referred which says that this is not supported.

Thanks,
Shubham Jain

[2019-12-31 06:42] tonkon commented on #6048
The issue is fixed in ee97732de5e523715741a102b86ad5f181494ca7.

[2019-12-31 06:42] #6048 closed

[2019-12-31 10:15] Expecho opened #6798 "Change/update the used account"
I created several integrations a while ago. Suddenly I get the message "This connection has to be removed and recreated.".  Please tell me there is a way to update the used account instead of having to delete and recreate all the integrations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cddc0ae-93af-297c-2e71-33414

[2019-12-31 12:56] MikeMartin180 commented on #1602
Yup, would rather use a git based wiki, but it's use is limited, particularly at large companies, if you need a licence to view it.

[2019-12-31 13:13] abelfiore opened #6799 "Is there a way to ignore (rather than "skip") a stage?"
Is it possible to have a stage be completely ignored (rather than skipped) - as if it wasn't even in the yaml - for certain conditions? For example, I would never want a stage to run (deploy to production) if a change was made on a certain branch (develop). I only want to see stages that apply to that branch (in this case, maybe a deploy to a DEV and/or QA environment). Other than creating multipl

[2019-12-31 14:31] #5567 closed

[2019-12-31 14:47] AnthonyDewhirst opened #6800 "Incorrect documentation for 'includeReferencedProjects' mixed up with 'versionEnvVar'"
The documentation for 'includeReferencedProjects' is missing, instead the documentation is for 'versionEnvVar'.

[2019-12-31 15:46] gstevens-kyriba commented on #6767
Its unclear to me how this bypasses a Release Pipeline ?  They are marked as Classic now...  Jeez

[2019-12-31 15:50] gstevens-kyriba opened #6802 "Release Pipelines Classic?"
Seems Release pipelines are now "Classic" - But I dont see anything about how to migrate..

There is a ton of stuff in a Release Pipeline.  Why not have a build.yml and release.yml file ?

I dont want them to run in the same process...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521b594c-dbb9-54d5-f56f-00e2f5fa1d92

[2019-12-31 15:54] gstevens-kyriba commented on #5114
I totally concur on this feedback...  Why mark Release Pipelines as (Classic)  when there isnt a viable replacement yet?

[2019-12-31 16:50] multco-malan commented on #6563
I did find a working solution by utilizing the "Azure DevOps" section of this post:
https://medium.com/cheranga/transform-configurations-in-a-net-core-2-2-web-api-using-azure-devops-8febc8796713

[2019-12-31 16:56] chcomley commented on #6780
Hi @juangps96, Thanks for the heads up on this. I've updated the article, which should be live shortly. Thanks again!

[2019-12-31 17:15] #6764 closed

[2019-12-31 17:15] #6780 closed

[2019-12-31 17:15] chcomley commented on #6764
@juangps96, Thanks so much for your feedback. The article is updated.

[2019-12-31 18:47] TASlavens commented on #6716
Hi, @ShubhamJain1992 -  It looks like I was mistaken, although I would say that the UX for search mislead both me and the developer who reported this behavior to me.

I was referring to the instructions at https://docs.microsoft.com/en-us/azure/devops/project/search/advanced-code-search-syntax?view=azure-devops-2019#syntax-for-simple-and-compound-searches as illustrated in the screen capture there

[2019-12-31 19:18] daveneeley commented on #6346
See also: https://github.com/microsoft/azure-pipelines-yaml/issues/340

[2019-12-31 21:25] arammaliachi commented on #4179
@shanehsu; @macjustice; @ssa3512; I think we have a size limit per LFS object of 128MBs, will confirm and update the documentation accordingly.

[2020-01-01 03:30] djbreen7 commented on #6563
Thanks @chillbilly79! That's working for me

[2020-01-02 04:58] ShubhamJain1992 commented on #6716
Hi @TASlavens,
The screenshot is not the latest and I have noted the action item to update that.
Regarding the option to include/exclude a branch for a forked repo, I could not understand the possible steps take to reach that option. Search does not index a forked repo, so there should be no results when the forked repository is selected in the repository filter on the search UX page. Hence the br

[2020-01-02 06:25] RoopeshNair commented on #6346
@vtbassmatt for expression syntax documentation

[2020-01-02 06:47] tymtam2 opened #6805 "Pipeline Caching - .net - multiple lock files"
This is about https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/index?view=azure-devops#netnuget

The article states: "If you use PackageReferences to manage NuGet dependencies directly within your project file and have a packages.lock.json file, you can enable caching by setting the NUGET_PACKAGES environment variable to a path under $(Pipeline.Workspace) and caching this directory.

[2020-01-02 07:25] tymtam2 opened #6806 "Pipeline Caching - .net - Why `packages.lock,json` file is required?"
This is about This is about https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/index?view=azure-devops#netnuget

I don't believe that the information provided is enough to implement caching for .NET. for a Pipeline.

The documentation is:

_If you use PackageReferences to manage NuGet dependencies directly within your project file and have a packages.lock.json file, you can enable cac

[2020-01-02 08:20] neilhighley commented on #2455
To add, for the lonely google surfer. For existing repos..

..if you've already added the origin, using the username.. run the following command first.
`git remote remove origin`

`git remote add origin https://<PAT>@<company_machineName>.visualstudio.com:/<path to git repo>
git push -u origin --all`

[2020-01-02 09:59] sonic1981 commented on #4241
I'd say the solution for this (https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1510336/) is far too inflexible. It also causes problems when migrating from a "traditional" pipeline to yaml. At the moment most of our release pipelines use a GUI but we are migrating to YAML. So this functionality is available in the GUI but not the YAML (or it works totally differently)

[2020-01-02 10:14] stweb1963 opened #6807 "Deployment Job dependencies.[jobname].outputs[] not processed for on: success:"
using
  on:
     success:
and consuming outputs from the deploy step does not produce desired results

specifying
    $[ dependencies.[jobname].outputs['jobname.stepname.outputvariable'] ]
is returned as a string equal to
  "dependencies.[jobname].outputs['jobname.stepname.outputvariable']"

instead of the actual output of the variable

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-01-02 12:34] rageshm110 commented on #6085
I am getting the same issue. The yml based build is not triggering any state change to the slack channel which I created yesterday. The build complete notification is still triggering to another channel where I had configured the notification earlier.

[2020-01-02 13:11] stweb1963 commented on #6807
More specifically
how do we reference outputs from the deploy: steps from the on: failure: and on: success:

[2020-01-02 13:26] rageshm110 commented on #6085
Reported at https://developercommunity.visualstudio.com/content/problem/872077/azure-devops-slack-integration-build-notification.html

[2020-01-02 13:58] AArnott commented on #4241
@vijayma this issue was closed as resolved but the resolution is unacceptable. Environments are *not* an adequate substitute for UI-based release stages. These release stages could represent *anything* and include tasks to publish artifacts to nuget.org, for example. But these new DevOps "Environments" only allow Kubernetes-related resources.

Please re-open!

[2020-01-02 15:37] garfbradaz opened #6808 "NPM Version"
Is there a way to set the `npm` version to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7bfc2f5-379f-d59f-93bc-f4204f8c3ba3
* Version Independent ID: f5c906e7-29b7-c93e-84a6-3e04aba2bba4
* Content: [Node.js Tool Installer task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool

[2020-01-02 16:34] djpugh opened #6809 "Please clarify permissions and roles"
I'm currently (as a Project administrator) unable to change permissions on the project's environments -
"needs the following permission(s) on the resource Environments/... to perform this action: Administer Permissions"

Where these permissions are defined, and what roles correspond to what are not explained in this documentation

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-02 16:40] djpugh commented on #6809
This could be a DevOps issue so have opened at https://developercommunity.visualstudio.com/content/problem/872257/environments-permissions-changing-not-possible-as.html

[2020-01-02 16:42] mtaylorfsmb opened #6810 "Need more thorough documentation on macro usages"
The documentation mentions the date macros like `@startOfYear` in a footnote but doesn't provide information on what it can do. For example I see in some queries that it supports an offset using the syntax of `@startOfDay('-7d') which seems to get the last 7 days. However this isn't documented anywhere. `-7m` also seems to be valid but it doesn't seem to return any results. However `-1Y` does not.

[2020-01-02 17:09] TASlavens commented on #6716
@ShubhamJain1992,

To see the behavior I'm describing, it is necessary to explicitly add the forked repo to your search, so to expand your example, "ReadMe repo:some_forked_repo" - note the explicit specification of the forked repo using the "repo:" search syntax.  Of course, forked repos aren't searchable, but the developer who reported the behavior to me did not know that, nor did I at the time.

[2020-01-02 18:26] ssorokoski commented on #3702
+1 yes

[2020-01-02 20:56] AdamChrimes commented on #5986
👍 Hopefully this will be added in the future.

@blueelvis have you considered a write up for your approach to get this working? That would be super helpful if you had any guidance you could share.

[2020-01-02 23:39] MarkIannucci commented on #6166
@drdamour , thank you for piping up on this.  We spent a little bit of time attempting to get the environment approval functionality to try to work in place of the manual intervention task and agree with your assessment that the workarounds are indeed very rough.

As such, we're going to stick with the classic pipelines until the manual intervention task functionality is available in multi-stage y

[2020-01-03 02:22] juangps96 commented on #5610
I have to use {organization} instead of accountName variable

I realized that with this version:

https://dev.azure.com/{organization}/{project}/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/statuses?api-version=5.1-preview.1

On this link:

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20statuses/create?view=azure-devops-rest-5.1

[2020-01-03 04:39] jessebarocio commented on #5964
Just wasted the better part of a day trying to get this to work and searching for answers. If the underlying issue isn't going to be fixed it should be documented ASAP.

[2020-01-03 04:50] saxenark opened #6811 "Steps to create a Release branch from master branch"
I have been struggling with what are the exact steps to follow for a Release workflow model, when I am going to create my Release R1.0 branch from master. Specifically, with respect to my CI pipeline, do I make my custom release related changes (e.g. version numbers) in the same yaml as the master branches pipeline. This means that for the same pipeline, the yamls would be different between master

[2020-01-03 10:28] fd-emil commented on #3702
+1 please !

[2020-01-03 12:00] stefankip commented on #5982
I just got the same message on a Linux agent.
How do we publish symbols on these platforms?

[2020-01-03 12:24] PaulVipond opened #6812 "What's the default branch?"
From this statement: "The default branch is checked out unless you designate a specific ref."

If my pipeline is only triggered from other pipelines, is the default branch the branch that was committed to in the triggering pipeline build? It would be good to clarify what you mean by 'default' in general. I assume it means the branch which was committed to in the triggering commit for a typical rep

[2020-01-03 15:40] vtbassmatt commented on #6346
[Name/value vs mapping syntax](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#specifying-variables) was added during our docathon last month, so perhaps this is no longer an issue? Both of the following will work:

[code]

I don't want to get into the business of showing every syntax feature combined with every other syntax feature - i

[2020-01-03 15:40] #6346 closed

[2020-01-03 15:43] vtbassmatt commented on #6772
Feature requests should be filed on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). Please feel free to file it there. (In full transparency, though, we're unlikely to take this one -- we use [glob](http://man7.org/linux/man-pages/man3/fnmatch.3.html), not regex, for path matching.)

[2020-01-03 15:43] #6772 closed

[2020-01-03 17:09] moswald opened #6813 "The Q & A mentions a maintenance window, but there's nothing about that in the actual documentation"
I came to this page looking for the instructions on how to enable the maintenance job, but there's nothing explaining the option even exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6f63ad-e95d-0105-c73a-de6e904edc09
* Version Independent ID: c97bfa1a-5aca-80a9-d9aa-8cca9987ad82
* Content: [Agents pools - Azur

[2020-01-03 17:09] jbruns2019 opened #6814 "Auto delete source branch if pull request was ok"
[Enter feedback here]
Unless I am blind, it would be nice to see a check box or default setting in ADO repos that would automatically delete the source branch on a successful pull request to master.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version Independent ID: 1a6fdbe7-5b

[2020-01-03 17:19] #6734 closed

[2020-01-03 17:19] #6739 closed

[2020-01-03 17:20] #6718 closed

[2020-01-03 17:20] #6748 closed

[2020-01-03 19:37] mboutet commented on #6756
@borys86 any luck with that? I am also looking into this.

[2020-01-03 20:15] #6422 closed

[2020-01-03 20:48] WilliamAntonRohm commented on #6731
@elangelo, @RaphHaddad -- Samuel, Raphael, thank you for your feedback.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 You are also welcome to [submit this as a bug]( https://developercommunity.visualstudio.com/content/problem/p

[2020-01-03 20:48] #6731 closed

[2020-01-03 21:06] WilliamAntonRohm commented on #6782
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-03 21:08] WilliamAntonRohm commented on #6783
Thanks for your question. You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2020-01-03 21:09] nheinbaugh commented on #6670
I’m having this same issue and am unable to find any information about how to achieve this. Is there any update?

[2020-01-03 21:09] WilliamAntonRohm commented on #6784
@ScoGroMSFT -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which docs.microsoft.com topic you’re referencing.

[2020-01-03 21:14] WilliamAntonRohm commented on #6790
@vipulnewaskar7 -- Vipul, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOp

[2020-01-03 21:16] WilliamAntonRohm commented on #6791
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2020-01-03 21:16] #6791 closed

[2020-01-03 21:34] ScoGroMSFT commented on #6784
Looks like the context of the doc got lost when I jumped over to GitHub. This is in regard to [Using Go Get with ADO Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/go-get?view=azure-devops)

[2020-01-03 22:17] NateB2 commented on #3702
We could also really use this feature.

[2020-01-03 22:41] chcomley commented on #6403
Hi @avivanoff,
The user story on my backlog has been cut, as it would need to be on the product group's backlog. I've spoken with the product group, and they suggested submitting a feature request. You can do so here: https://developercommunity.visualstudio.com/spaces/21/index.html

Thanks very much!

[2020-01-03 22:56] MarkIannucci commented on #6795
In my experience, it seems that they do not get populated, and DevOps doesn't warn you about using deprecated variables in the release, so migrating my scripts to the multi-stage pipelines has been pretty painful.

[2020-01-04 01:04] daveneeley opened #6815 "YAML-based creation of Environment Resource"
"You can use a Pipeline to create, and deploy to environments as well. To learn more, see the how to guide"

This seems to be true in only a very limited sense. If I supply `environment: newenv.someresource`, and then run the pipeline, the empty environment will be created, but the pipeline will fail because the resource `someresource` does not exist. The example following this quote works because

[2020-01-04 06:10] aktzbn commented on #6427
Why does the question go beyond the scope of the provided example? The purpose and behavior of the example is unclear that's why question appeared.

[2020-01-04 08:42] SychevIgor opened #6816 "Update screenshots to address modern URL format"
On all following screenshot, in url used old format "***pkgs.visualstudio.com", while current format is "https://pkgs.dev.azure.com/*"
Please, update screenshot to address current url format to avoid any possible confusions.
It's minor moment, but my team faced with an issue and try old format of url, that no longer work at all.

https://docs.microsoft.com/en-us/azure/devops/artifacts/_shared/_img

[2020-01-04 08:44] SychevIgor commented on #6816
For npm and maven - documentation contains the same problem
https://docs.microsoft.com/en-us/azure/devops/artifacts/_shared/_img/npm-azure-devops-newnav.png?view=azure-devops
https://docs.microsoft.com/en-us/azure/devops/artifacts/_shared/_img/connect-to-feed-npm-creds-azure-devops-newnav.png?view=azure-devops
https://docs.microsoft.com/en-us/azure/devops/artifacts/_shared/_img/maven-azure-devops-

[2020-01-04 19:42] avivanoff commented on #6403
@chcomley, done: [Add support to download pipeline artifacts to .NET Client Libraries for Azure DevOps Services and TFS](https://developercommunity.visualstudio.com/idea/875267/add-support-to-download-pipeline-artifacts-to-net.html).

[2020-01-05 00:40] MarkKharitonov opened #6819 "Cannot navigate to an https url."
Following the documentation does not work.
Please, see https://stackoverflow.com/questions/59587973/docker-unable-to-navigate-to-a-web-site-using-https OR https://social.msdn.microsoft.com/Forums/en-US/a64a99f2-b761-4ce3-b70e-2b2711c233f6/how-to-visit-a-url-using-https-from-a-windows-container?forum=windowscontainers

I have a feeling that no one in the whole world uses Windows Containers, at leas

[2020-01-05 01:25] derekrprice commented on #5700
@gradyal Not sure what you mean.  I followed the docs and set up automated build on merge, followed by a second stage with automated deployment to a test environment, followed by a third stage with automated deployment to a production environment.  If you add approvals to the environment definition, then they will be required.  Otherwise, deployment just happens automatically.

Strictly speaking,

[2020-01-05 01:43] gradyal commented on #5700
@derekrprice I also fully read and understand the documentation. With the classic release workflow, there is a concept of pre-deployment condition with a manual trigger. This means deployments are triggered for a particular stage manually. That manual deployment concept is not currently available with multi-stage pipelines. Approvals are ok if you want everything merged to be required for approval

[2020-01-05 08:40] ShubhamJain1992 commented on #6716
@TASlavens,
I tried reproducing the issue in 2019u1 with the repo: filter as well, but could not reach the branch configuration option. Can you share some snapshot and steps for the same. Allowing branch config on forked repo is not the expected behavior so I just want to ensure this don't not trouble anyone.

[2020-01-05 14:35] hemanth70052 opened #6820 "import log files"
the first line says that The log file titled DataMigrationTool.log is going to be the main log which contains details on everything that was run. but in that image there is no log file named as DataMigrationTool.log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa0ebd3-8437-8508-5a8d-462186fcce80
* Version Independen

[2020-01-05 20:45] AlexDenton commented on #5409
I see this issue has been closed. Does that mean the fix is out?

And by chance would it also work for variables defined through the interface rather than in the yaml file?

[2020-01-05 23:34] Jon889 commented on #6708
Is there an update on this?

[2020-01-05 23:39] a30001539 opened #6821 "pipeline reference name in example doesnt follow required format"
According to the [vscode plugin](https://github.com/microsoft/azure-pipelines-vscode/blob/master/service-schema.json), the pipeline reference name (the entry after the `pipeline:` entry in a resource declaration) must follow the following regex

    "referenceName": {
			"type": "string",
			"pattern": "^[_A-Za-z0-9]*$"
		},

Note there is no `dash` (`-`)character in that regex, in contrast to the

[2020-01-06 00:37] toddwayne commented on #3799
I am using Ubuntu under WSL (Windows System for Linux).  Here's my recipe for something that works...  Similar to something I found at stackoverflow: https://stackoverflow.com/questions/45925964/how-to-use-git-credential-store-on-wsl-ubuntu-on-windows

1) Install Git for Windows; this comes with it's own Credential Manager
2) Run Ubuntu, and instead of configuring your credential manager to someth

[2020-01-06 07:57] Doomblaster commented on #6683
any idea when in january it's rolling out?

[2020-01-06 08:22] ozgunakalin commented on #3702
+1 here

[2020-01-06 09:03] KKnapik commented on #3702
:) 1 up

[2020-01-06 11:54] pauldevelterthink commented on #5687
any news on the Jan release?  likely to happen?  the shift from Nov to Jan concerns me and could be a game changer if another 2 month delay

[2020-01-06 12:53] IanKemp commented on #2164
why is this trash not closed

[2020-01-06 13:06] nguyenlamlll commented on #6813
This page seems to miss the maintenance job part.
Anyways, here is how you enable the maintenance job for an agent pool.

1. From the root of your Azure DevOps website (https://dev.azure.com/{YOUR_COMPANY}), click on "Organization Settings" on the bottom left.
2. Select "Agent Pools" under the "Pipelines" section.
3. Select the pool that you want to enable the maintenance job.
4. On the pool's web

[2020-01-06 13:48] buckleyGI commented on #6104
Hello @KathrynEE. Please don't close the issue if it is still open.

As of today, the task PublishTestResults@2 still reports failure when there are only flaky tests that fail.

When failTaskOnFailedTests: true the expectation is that the task will report partial success when only flaky tests fail right?

Note that the behavior was changed recently for VSTest@2 where it reports partial success whe

[2020-01-06 13:55] buckleyGI commented on #6104
Note that the original author created the issue for the VSTest@2 task but I was expecting the same change for the PublishTestResults@2 task. I acknowledge that I am slightly off topic but it's basically the same issue.
Can you disclose your plans for the PublishTestResults task? Thank you.

[2020-01-06 14:12] JonasWinter commented on #829
There is a [request at the developer community](https://developercommunity.visualstudio.com/idea/462450/allow-using-yaml-build-pipelines-with-gitlab-repos.html).
And an [issue in the "azure-pipelines-tasks" repo](https://github.com/microsoft/azure-pipelines-tasks/issues/6219).
Just if you are still interested...

[2020-01-06 14:53] jpricket commented on #6683
The fix has rolled out to our first ring already. It should be completely rolled out in the next 3 weeks.

[2020-01-06 15:39] rofehaim opened #6822 "Deployment Group Agent on Mac"
Hi, a deployment group agent can be deployed on a Mac as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee31adc7-dad4-2df7-639c-eabdf3e1ae86
* Version Independent ID: 50eda1c6-7339-f636-b243-1fae4529bab0
* Content: [Use deployment groups in a release pipeline - Azure Pipelines](https://docs.microsoft.com/en-us/az

[2020-01-06 16:10] vtbassmatt commented on #5409
The docs are fixed, reflecting the reality that variables and templates are not parsed in triggers.

[2020-01-06 16:23] Decker-Russell opened #6823 "Web Apps"
When will web apps be supported?

[2020-01-06 16:41] imagdalene opened #6824 "targetType has inline and Inline with different casing in the same 2 lines"
This is confusing. which one is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07e70665-a794-82fd-287b-65a747488efa
* Version Independent ID: 0c34f5c3-bc80-061d-cf7a-f30c224ce3b1
* Content: [Bash task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/bash?view=azure-devops#fee

[2020-01-06 17:01] msebolt commented on #6792
@bobbymcgill Thank you for the feedback.

Unfortunately, since this is the documentation forum our support options are limited.

Please start an issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) (or let us know and we can start an issue for you) and provide a link back to the information you provided above.

There the product team will provide a fix and we can update t

[2020-01-06 17:13] msebolt commented on #6793
@reynoldsbd Thank you for the feedback, assigning this to the author for review.

[2020-01-06 17:26] msebolt commented on #6794
@aplocher Thank you for the feedback, the documentation has been updated and is pending review.

Please consider how to become a [Microsoft Docs contributor](https://docs.microsoft.com/contribute/) where you can submit any suggestions directly.

[2020-01-06 17:28] msebolt commented on #6796
@Marklannucci  Thank you for the feedback, assigning this to the author for review.

[2020-01-06 17:54] bobbymcgill commented on #6792
Thank you for the link. I have opened an issue there: https://developercommunity.visualstudio.com/content/problem/876334/webhook-settings-not-being-saved.html

Closing issue here. Thanks.

[2020-01-06 17:54] #6792 closed

[2020-01-06 17:58] msebolt commented on #6798
@Expecho  Thank you for the feedback.

Unfortunately, since this is a documentation forum our support options are limited.

Please start an issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) (or let us know and we can start one for you) and provide a link back to this issue.

There the product team can diagnose the problem and, if needed, issue a fix and we will update

[2020-01-06 18:06] msebolt commented on #6799
@abelfiore  Thank you for the feedback.

Unfortunately, since this is a documentation forum our support options are limited.

Instead, please use **Report a problem** or **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) for advice from the product team on how best to resolve this issue and/or improve stage building process.

For

[2020-01-06 18:16] #6824 closed

[2020-01-06 18:31] msebolt commented on #6800
@AnthonyDewhirst Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider becoming a [Microsoft Docs contributor](https://docs.microsoft.com/contribute/) if you'd like to submit suggestions directly.

[2020-01-06 18:45] SeanCLeavitt opened #6825 ""?api-version=5.0-preview.1" vs. "?api-preview=5.0-preview.1""
I see both query strings "api-**version**" and "api-**preview**" mentioned in the recommended base URL retrieval techniques above - which is the singular recommendation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28256c7-e0d2-fc25-289e-55c64e23f27c
* Version Independent ID: c93daa34-b846-728f-a570-fa7764ab133b
* C

[2020-01-06 18:45] JeffBor commented on #3453
Azure Devops link is https://aka.ms/ci-tagsources but redirects to this page currently titled "Build source repositories"

[2020-01-06 18:47] msebolt commented on #6802
@gstevens-kyriba Thank you for the feedback.

Please refer to [this blog post](https://www.hanselman.com/blog/SettingUpAzureDevOpsCICDForANETCore31WebAppHostedInAzureAppServiceForLinux.aspx) on the subject or the following posts [here](https://stackoverflow.com/questions/58749486/how-to-convert-classic-build-job-to-yaml-build-in-azuredevops) and [here](https://stackoverflow.com/questions/57895383/

[2020-01-06 19:05] msebolt commented on #6805
@tymtam2 Thank you for the question.

For product-related questions and/or issues, please start an issue [here](https://github.com/microsoft/azure-pipelines-tasks/issues/new?labels=Area%3A%20PipelineCaching), or use the **Report a problem**/**Suggest a feature** options in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

For additional support option

[2020-01-06 19:05] msebolt commented on #6806
@tymtam2 Thank you for the feedback, assigning this to the author for review.

[2020-01-06 19:11] jzserai commented on #4993
We recently began migrating our TFVC content to Azure GIT. And because we support a vast and varied ecosystem of applications, we have a lot of repositories. We setup our repositories to reflect what we consider our various value streams. And it seems to be working well.

However, we also have a number of individual class library projects that are used by multiple clients, which appears to be a go

[2020-01-06 19:18] AlexDenton commented on #5409
Got it. Thank you!

[2020-01-06 20:05] msebolt commented on #6807
@stweb1963 Thank you for the question.

Unfortunately our support options are limited and there is no record of this issue previously reported.

Please start an issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) (or let us know and we can start one for you) with further details included on how to reproduce the issue so the product team can best determine whether a fix i

[2020-01-06 20:18] msebolt commented on #6808
@garfbradaz Thank you for the question.

Please refer to [this post](https://developercommunity.visualstudio.com/content/problem/243765/node-tool-installer-doesnt-install-proper-npm-vers.html) to see if using the NPM task to set version information can solve your issue.

Otherwise this can be addressed by the product team by starting an issue [here](https://developercommunity.visualstudio.com/spac

[2020-01-06 20:20] msebolt commented on #6809
@djpugh Thank you for the feedback and for soliciting feedback from the DevOps product team.

Assigning this to the author for review.

[2020-01-06 20:22] msebolt commented on #6810
@mtaylorfsmb Thank you for the feedback, assigning this to the author for review.

[2020-01-06 21:00] msebolt commented on #6811
@saxenark Thank you for the feedback.

Unfortunately the support options in this forum are limited, though feel free to reference specific articles for needed further expansion or clarification.

In the meantime, please see if [Release flow](https://docs.microsoft.com/azure/devops/learn/devops-at-microsoft/release-flow) addresses this topic.

For support options in regards to specific technical de

[2020-01-06 21:03] msebolt commented on #6812
@PaulVipond Thank you for the question, assigning this to the author for review.

[2020-01-06 21:06] msebolt commented on #6813
@moswald  Thank you for the feedback, assigning this to the author for review.

Please comment if the solution from @nguyenlamlll solves the issue.

[2020-01-06 21:10] msebolt commented on #6814
@jbruns2019 Thank you for the feedback.

Since this is an issue with the product itself, to make sure it gets in front of the right people, please start a thread [here](https://developercommunity.visualstudio.com/spaces/21/index.html) to submit the suggestion.

For additional support options or work-arounds, please refer to:

- [Azure DevOps Support](https://azure.microsoft.com/support/devops/)
-

[2020-01-06 21:17] gocoelho opened #6826 ""Edit build pipeline" not listed"
The pipeline permission "Edit build pipeline" not listed. Azure DevOps Server Update 1.1

![image](https://user-images.githubusercontent.com/7503127/71849396-b2c73b00-30b0-11ea-8d02-471e611de50d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68686c2b-c69a-d9e4-3e21-a46d231b649c
* Version Independent ID: 049659da-1

[2020-01-06 21:38] epernst commented on #6753
Ahh, this explains why I could not get it working. Spent quite some time on it before I saw this post.

Thanks for pointing it out and Microsoft please update the docs.

[2020-01-06 21:44] msebolt commented on #6816
@SychevIgor Thank you for the feedback, assigning this to the author for review.

[2020-01-06 21:47] msebolt commented on #6819
@MarkKharitonov Thank you for the feedback and apologies for the documentation issues.

Please provide a link to document in question and we will assign this to an author for review.

[2020-01-06 21:48] msebolt commented on #6820
@hemanth70052 Thank you for the feedback, assigning this to the author for review.

[2020-01-06 21:50] moswald commented on #6813
Yes, @nguyenlamlll is correct. However, we should have more documentation on what the maintenance job does, and why it should (or shouldn't) be enabled.

[2020-01-06 21:54] msebolt commented on #6822
@rofehaim Thank you for the question.

Yes, this feature is supported, please refer to [Deploy an agent on MacOS](https://docs.microsoft.com/azure/devops/pipelines/agents/v2-osx) and use the comments section below if there are any issues.

[2020-01-06 21:58] msebolt commented on #6823
@Decker-Russell Thank you for the question.

Currently supported web apps can be found in the existing documentation, for instance, see [Deploy an Azure Web App](https://docs.microsoft.com/azure/devops/pipelines/targets/webapp).

In general, new features are outlined in the [features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline), or by soliciting feedback from

[2020-01-06 22:01] msebolt commented on #6821
@a30001539 Thank you for the feedback, assigning this to the author for review.

[2020-01-06 22:04] Decker-Russell commented on #6823
I understand you can deploy Web Apps via pipelines and many other ways but can the deployments be managed from Environments? I can only add Kubernetes resources, no option for web apps

[2020-01-06 22:05] msebolt commented on #6825
@SeanCLeavitt Thank you for the question and feedback.

I would avoid the use of `api-preview` in any sort of production-type setting and recommend removing it from the examples to avoid confusion.

Assigning this to the author for review.

[2020-01-06 22:14] msebolt commented on #6815
@daveneeley Thank you for the feedback, assigning this to the author for review.

[2020-01-06 22:15] msebolt commented on #6826
@gocoelho Thank you for the feedback, assigning this to the author for review.

[2020-01-06 22:36] arammaliachi commented on #4179
@shanehsu ; @macjustice ; @ssa3512 Running the following command within the affected repository may get you unblocked:

`git config http.version HTTP/1.1`

Then retry the push.

[2020-01-06 22:47] WilliamAntonRohm commented on #6789
@TeamDman -- thank you for your feedback.  It appears this link has been fixed.

[2020-01-06 22:47] #6789 closed

[2020-01-06 22:57] ssa3512 commented on #4179
@arammaliachi that worked for me. I was able to push the file I couldn’t previously.

[2020-01-06 22:59] TeamDman commented on #6789
Still seems dead for me, signed in and signed out.

![image](https://user-images.githubusercontent.com/9356891/71855106-287dd780-30ae-11ea-9936-07a65db1dec3.png)

![image](https://user-images.githubusercontent.com/9356891/71855077-12701700-30ae-11ea-935c-76616a4e9e5a.png)

[2020-01-07 00:16] MarkIannucci opened #6827 "Is there a way to trigger an update to a deployment group agent?"
I noticed that we have a bunch of agents across a variety of versions in our environment.  This document is silent on how to update the agents, and they don't appear in `Agent Pools` so I can't use the [Agent version and upgrades documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#agent-version-and-upgrades) to get this task completed

[2020-01-07 00:17] MarkIannucci opened #6828 "What's the long term plan for Classic Release Pipelines?"
With Microsoft adding multi-stage YAML pipelines to Azure DevOps, and naming this `Classic` my colleagues and I are wondering if Microsoft has a plan to deprecate some of the functionality in this portion of the product.  If that is the case, can  you update the requisite documentation so we can proactively avoid using stuff that will eventually be deprecated?

---
#### Document Details

⚠ *Do not

[2020-01-07 00:56] jderus commented on #5221
Im not sure if this is directly related to your issue, but there appears to be some ui/documentation wonkiness about authorizing pipelines. This is especially useful to know if you are getting an "missing pool" type error.

Project Settings -> Agent Pools -> Security allows you to grant access to all pipelines
Organization Settings -> Agent Pools -> Security does not appear to.

[2020-01-07 03:51] MarkKharitonov commented on #6819
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops

When following the guide I had these problems:

1. Downloading agent failed because of the presence of zscaler in our environment. To make it work one needs to import the zscaler root certificate into the LocalMachine\Root certificate store in the container.
1. The user which PAT is used must be able to create

[2020-01-07 03:56] rtaylor72 opened #6829 "Deleting Service Connection makes pipeline non-saveable and breaks it!"
I had an existing pipeline that was working fine until I attempted to add a NuGet push command.
Repo steps:
#1. Add NuGet push command to pipeline (create a new Service Connection) and save it.
#2. Disable task and save it.
#3. Goto "Service Connections" under "Project Settings" and delete Service Connection.
#4. Go back to pipeline, try and save it. Will get the following error:
`The pipeline is

[2020-01-07 06:00] RoopeshNair commented on #6828
Currently there are no plans to deprecate Classic pipelines.  However, new features are being planned for YAML first.

[2020-01-07 06:00] #6828 closed

[2020-01-07 06:06] smcateer opened #6830 "Command did not work"
The command `az webapp up -n &lt;your-appservice&gt;` (Provision the target Azure App Service, Step 6) did not work for me. I got the error: `validation error: Parameter 'ResourceGroup.location' can not be None.` I got it to work by changing the command to `az webapp up -n &lt;your-appservice&gt; --location centralus`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-07 06:08] RoopeshNair commented on #6827
The deployment group agents are same as that of build and release agents. Self-hosted agents can usually be updated automatically by Azure Pipelines. An upgrade is requested when a platform feature or one of the tasks used in the pipeline requires a newer version of the agent.

You can manually trigger agent updates from the deployment group landing page. Using the  "..." overflow menu, --> Update

[2020-01-07 06:08] #6827 closed

[2020-01-07 06:24] MarkIannucci commented on #6827
Found it in the deployment groups page in releases:

![image](https://user-images.githubusercontent.com/16762974/71873122-a3a9b280-30db-11ea-8525-12b0814d1847.png)

Thank you.

[2020-01-07 06:28] MarkIannucci commented on #6828
Thank you.  Is it Microsoft's plan to incorporate all classic functionality into YAML?  Specifically, will we see deployment group agents be accessible in YAML at some point?

[2020-01-07 07:17] PatrickGrub commented on #6748
I am using Azure Pipelines with Microsoft Teams.
In the pipeline search box within Teams I cannot find any pipeline with my logged in user.

[2020-01-07 09:29] Styxxy opened #6831 "Azure DevOps auditing is no longer in preview?"
It seems that the Azure DevOps Auditing part is no longer in preview (can't see it anymore in the preview features).
Update this page to reflect it is GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f60b32-5c3c-f01a-cbbf-f4e9bd17a3fc
* Version Independent ID: 94753ea7-b465-f92e-10c2-8b17d995e4ff
* Content: [Access

[2020-01-07 10:01] borys86 opened #6832 "link to .Net client libraries reference is broken"
On the left list of links, ".Net client libraries reference" under "REST API and Client Reference" does not point directly to the reference but rather redirects to a more generic page of ".NET API Browser"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-fcb81bcb2257
* Version Independent ID: 57c1

[2020-01-07 10:23] RoopeshNair commented on #6828
There are fundamental differences in Classic and YAML pipelines, it is not our intent to support every feature in classic to be in YAML. For example, Task Groups feature is never going to be in YAML. Having said, Deployment Groups - will not be in YAML in its current form. The equivalent feature would be Environments in YAML. We are rolling out VM resource support in Environments for YAML pipeline

[2020-01-07 11:31] JanSera opened #6833 "Missing Extension Points for new Test Plans Page"
Can we get information about extension points available on new Test Plans Page? None of Test Plans extension points seems to work on new page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56437af3-75da-d219-5364-9b7927298ece
* Version Independent ID: ca01655a-9195-cf92-14b4-77ef66053dcf
* Content: [Extension Points -

[2020-01-07 11:50] MikeDiuga opened #6834 "Azure Repos requires additional config - only supports HTTP version 1.1"
For support in Azure Repos, execute the following in your Git repo's directory before pushing.
git config http.version HTTP/1.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d0afd1-bce9-b05e-ff1d-2914f63e2884
* Version Independent ID: 4b69aa48-977c-cf18-bd30-17185814c8e5
* Content: [Work with large files in your Git

[2020-01-07 13:04] Debbus72 opened #6838 "Is the Publisher namespace for TFSSecurity.exe still valid?"
Creating the group succeeded in our Azure DevOps instance.
However, assigning the security (example 2, first commands) failed with the message:
`The security namespace Publisher does not exist.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9ba03b-3328-d891-2d8f-f60eb4bb65e0
* Version Independent ID: 4fcd46a3-8f4a-8

[2020-01-07 13:31] nicolasproton commented on #6751
I have the same problem with my YAML pipeline. I am not able to (or don't know how to) retrieve the environment approver(s) for a deployment step. There is no documented API.

[2020-01-07 13:52] dnewby-allegion opened #6839 "cant disable certain notifications"
Hey we have one notification that is grayed out. It is enabled, but grayed out so it can't be disabled. How to fix that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fac729-92a7-0f85-3e28-3a2515b77fca
* Version Independent ID: 3038ace1-8e10-9d2f-5e8b-2d883d4dd718
* Content: [View subscribed notifications - Azure De

[2020-01-07 14:06] yanivrozenblatepic opened #6840 "The app uses a very outdated docker-compose version(from 2018), without the --parallel flag"
I was wondering why there is no update for the version, and it stopped 1 version before adding the --parallel to the build command, even though in the step itself the documentation includes the --parallel in the UI, it doesnt work when you add it(because the compose version is 1.22 and not 1.23)

Is there a plan to upgrade this any time?
If not I will have to write a script just to utilize it but

[2020-01-07 14:50] juliakm commented on #4466
Right now, you cannot have multi-job output variables that work across stages. Updating docs to clarify.

[2020-01-07 14:59] #4466 closed

[2020-01-07 15:07] davidb-tenaco opened #6841 "No migration tool available for 2019.1.1 and its Tuesday 1/7"
"We’re targeting Monday, January 6th to bring 2019.1.1 migration support online. In the meantime, we’ll keep 2019.0.1 support going. It will end on Monday, January 6th to coincide with 2019.1.1 support coming online."

well, its tuesday jan. 7th now, and no new versions of the migration tool have been made available, and we cant move forward with moving our TFS collections to the cloud..

what is

[2020-01-07 15:23] roferg commented on #6831
Hey @Styxxy - Auditing for Azure DevOps is still in a public preview at this time. I expect it to go GA in the first half of 2020.

[2020-01-07 16:15] juliakm commented on #5197
This is a tricky one because using expressions directly may work depending on the field. However, since not every field evaluates runtime expressions, it is safest to assign the expression to a variable. Updating the docs now.

[2020-01-07 16:43] #4921 closed

[2020-01-07 17:12] diablodale commented on #4921
Hello. What was the action on this so I can verify the close?

[2020-01-07 19:02] mananshah19 opened #6842 "PowerShell on Target Machine DOESNOT WORKS with Private IP"
I want to use this task but my VM doesnot have a public IP. How can I achieve the above task!?

I already tried with public ip and it works fine but not with private IP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb12625b-7493-0efd-aa0f-d2dfc5ad7e18
* Version Independent ID: af94d8d8-7269-5dfa-e89a-0d3491edf5c7
* Co

[2020-01-07 19:03] dbuch0 opened #6843 "Missing Information"
Work items, work item types, and customizations &gt; Field names, work item tracking &gt; Restrictions

Looks like when I try to create a field with a special character(&) I get the error:
These characters are prohibited .,;'`:~\/\*|?"&%$!+=()[]{}&lt;&gt;-

This restriction is not provided in this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-01-07 19:07] Styxxy commented on #6831
@roferg Thanks for the clarification.

[2020-01-07 19:14] mwc360 commented on #4729
any update on this?

[2020-01-07 19:15] mwc360 commented on #4729
@shashban - any updates?

[2020-01-07 20:41] AnticliMaxtic commented on #4639
I'm seeing the same issue, but I am not able to use the "UseDotNet@2" task to install .net core, it fails
[code]

[2020-01-07 21:49] msebolt commented on #6829
@rtaylor72  Thank you for the feedback.

Please note, in the documentation forum our support options are limited.

First, check if any of the following posts can address the issue:

- https://developercommunity.visualstudio.com/content/problem/290393/build-error-the-pipeline-is-not-valid.html
- https://developercommunity.visualstudio.com/content/problem/538709/build-task-failed-the-pipeline-is-not

[2020-01-07 22:35] steved0x commented on #6821
@a30001539 Thanks for letting us know, I'll get that snippet fixed up, the `-` is not supported as part of that value.

[2020-01-07 23:14] ericycs opened #6844 "Check out multiple repositories in your pipeline not working"
Getting error:
Checkout of repository 'otherRepo' is not supported. Only 'self', 'none', or a repository alias are supported.
This is only when used in the deployment stage.

[2020-01-07 23:20] mwc360 commented on #6534
can you do something like utcnow() or utctoday() in expressions?

[2020-01-07 23:22] mwc360 opened #6845 "UTCNOW() or UTCTODAY()?"
In DevOps expressions, how do you call something like UTCNOW or TODAY?

I want to do lt(eq(variables.date, UTCNOW())

Thanks

[2020-01-07 23:25] kraigb commented on #6830
Thanks for the issue. The az webapp up command shouldn't require the location on first deployment (but I believe it does if the app was deployed once already). Can you confirm that this was the first time you ran that particular command?

[2020-01-08 00:13] brillyints opened #6846 "Hiding a field"
There are two instances on this page that make reference to hiding a field from the form. However, it's not in the "supported actions" screenshot, nor can I see an option like this in my DevOps Server 2019 install. Based on the context where the word "hide" appears on the page, I assume the action has the same limitation as the user/group conditions (i.e. currently only supported in DevOps Service

[2020-01-08 00:35] a30001539 opened #6847 "Doco fails to mention pipeline triggers require upstream pipeline to create artifacts"
I am chasing an issue with one pipeline declaring an upstream pipeline as a trigger resource, and part of the fix is the upstream pipeline must create an artifact, see (Pipelines resources)[https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pipeline-resource].

The doco on this page should include that information here too.

See issue on (community po

[2020-01-08 01:19] #4734 closed

[2020-01-08 02:41] liushuanggang opened #6848 "Document is not accurate enough, need change last run to last successful run."
According the document [Scheduled triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#scheduled-triggers) said:

But as test, this only works if the build pipeline is successfully built, if the build failed, the pipeline always run. the document said the latest run, did not specify that it needs to run successfully.

For the detailed info, y

[2020-01-08 03:01] VAllens opened #6849 "How to get the PageContext instance of the current extension page??"
How to get the `PageContext` instance of the current extension page??
I get `PageContext` instance through `__vssPageContext` on the extension page, but this is done in `JavaScript` code. Only in this way can there be no `TypeScript` compilation warning.
I want to get strongly typed instances in a more friendly way.

#### Examples are missing in this article.

---
#### Document Details

⚠ *Do not

[2020-01-08 03:40] #6844 closed

[2020-01-08 03:41] ericycs commented on #6844
Opened issue in wrong repo.

[2020-01-08 03:41] VAllens commented on #6849
I found it...

[code]

[2020-01-08 03:41] #6849 closed

[2020-01-08 04:24] msebolt commented on #6831
Closing this issue now, please comment below if there are any additional questions.

[2020-01-08 04:24] #6831 closed

[2020-01-08 04:43] msebolt commented on #6832
@borys86 Thank you for the feedback.

The documentation has been updated and is pending review.

[2020-01-08 04:44] msebolt commented on #6833
@JanSera Thank you for the feedback, assigning this to the author for review.

[2020-01-08 05:02] msebolt commented on #6834
@MikeDiuga  Thank you for the feedback.

This issue is listed at https://github.com/git-lfs/git-lfs/issues/3875 and has been resolved in version 2.9.1.

Please use the above thread if there are any issues.

[2020-01-08 05:33] msebolt commented on #6838
@Debbus72 Thank you for the feedback, assigning this to the author for further review.

According to the [current documentation](https://docs.microsoft.com/azure/devops/server/command-line/tfssecurity-cmd?view=azure-devops-2019#permission-namespaces-and-actions) this namespace is still supported.

@chcomley @aaronhallberg

[2020-01-08 05:50] msebolt commented on #6839
@dnewby-allegion Thank you for the feedback.

Unfortunately, since this is the documentation forum our support options are limited.

Some similar examples have been previously reported [here](https://developercommunity.visualstudio.com/content/problem/630722/cannot-disable-notification-devops.html) and [here](https://developercommunity.visualstudio.com/content/problem/630425/notification-settings-

[2020-01-08 05:51] msebolt commented on #6840
@yanivrozenblatepic Thank you for the feedback.

Please include a reference to the article in question and we can assign this to the author for review.

[2020-01-08 05:52] msebolt commented on #6841
@davidb-tenaco Thank you for the question, assigning this to the author for review.

[2020-01-08 05:53] RoopeshNair commented on #6842
@mananshah19  - for PowerShell on Target, the destination should be reachable by the agent. If not, you can't connect. You can try this out by running the WinRM commands from the box where your agent is running (if private agent).

A quick way to verify if the PS remoting is proper before you start using the machine in workflow is to execute below script. It is preferable to try this from the auto

[2020-01-08 05:53] #6842 closed

[2020-01-08 05:55] yanivrozenblatepic commented on #6840
Line 276
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DockerComposeV0/task.json

[2020-01-08 05:55] msebolt commented on #6843
@dbuch0 Thank you for the feedback, assigning this to the author for review.

[2020-01-08 05:59] msebolt commented on #6840
Thank you for the update, this should be handled by the **azure-pipelines-tasks** repo.

Please move the issue [here](https://github.com/microsoft/azure-pipelines-tasks/issues) or let us know and we can start a new issue for you.

[2020-01-08 06:02] msebolt commented on #6845
@mwc360 Thank you for the question.

Please see if [this post](https://stackoverflow.com/questions/44738944/vsotfs-get-current-date-time-as-variable) addresses the issue.

If not, or for new features and support request, please contact the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-08 06:03] msebolt commented on #6846
@brillyints Thank you for the feedback, assigning this to the author for review.

[2020-01-08 06:04] msebolt commented on #6847
@a30001539 Thank you for the feedback, assigning this to the author for review.

[2020-01-08 06:06] msebolt commented on #6848
@liushuanggang Thank you for the feedback, assigning this to the author for review.

[2020-01-08 08:06] KnicKnic opened #6850 "use the go task"
go get, go build, and go test should all reference the go task. https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/go?view=azure-devops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86b5c3a-d266-e9fe-621e-eb6244199984
* Version Independent ID: 57ca9f4f-ad07-4ab5-3153-9853e6b24797
* Content: [Build an

[2020-01-08 08:09] KnicKnic opened #6851 "show windows environment setup"
Setting up environment includes this quote
" Note: this script runs in bash on Linux and macOS agents, but must be modified for Windows."

It is very unclear to know what must be modified for windows. Documentation should be provided.

Also it is confusing is this now replaced by go tool? https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/go-tool?view=azure-devops if so please repl

[2020-01-08 08:13] KnicKnic opened #6852 "Working Directory does not appear to be Required"
It seems to be perfectly valid to leave working directory not specified, however it is listed as required.

Also custom command is not required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ed9a20-59d7-df2e-0bf2-12b6afbf2da6
* Version Independent ID: b59cad83-b113-9a3a-1278-4ee64f31395f
* Content: [Go task - Azure

[2020-01-08 08:16] kelsosharp opened #6853 "Not enough clarity on the direction of a service endpoint"
In your first sentences, it seems like the endpoint is outgoing, connecting to external services, which is what I thought a service connection was for, after your list of properties, the implication seems to be that its now incoming a way for extensions to acquire information... which is it? Also, the title of this document is Service Endpoints in Azure DevOps, but there is just a few sentences on

[2020-01-08 09:29] RoopeshNair commented on #6815
You can create an environment from YAML, However, adding resource to the environment is not supported in YAML. Adding resources needs lot more details for example - credentials to connect etc.

From YAML, you can target the environment or a specific resource. When you create an environment from YAML dynamically, since there are no resources you can only refer to environment. If the resources are a

[2020-01-08 09:29] #6815 closed

[2020-01-08 09:41] BogdanIoanF opened #6854 "User settings independent date format"
Information on date format is not complete. It seems universal independent format is also supported:
'yyyy-MM-ddTHH:mm:ss' e.g. 2019-12-29T17:05:45
or
'yyyy-MM-ddTHH:mm:ssZ' (UTC) e.g. 2019-12-29T17:05:45Z

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710af5f2-8a31-e0d3-4f20-00c79dc54713
* Version Independent ID: 1d4d

[2020-01-08 10:59] harskum opened #6855 "Typo"
Step 8 of the last section has the sentence "Go ahead and choose a different size from the drop-down. You see the live preview get resized. Save the change and the widget on the dashboard is resized as well. doesn't". The word "doesn't", doesn't really fit there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe9c938-

[2020-01-08 11:41] degubellini opened #6857 "Is Azure DevOps Services Basic Plan free for the first 5 users for commercial use?"
Hello,
I was reading this page (tab "Azure DevOps Services")

https://azure.microsoft.com/en-us/pricing/details/devops/azure-devops-services/

and I would like a clarification

is Azure DevOps Services Basic Plan free for the first 5 users for commercial use?

what "for the first 5 users" exactly means?

If a small company is working on 2 small projects of which

3 employees are working on the fir

[2020-01-08 12:16] jnxxx opened #6858 "How to see if an extension is being used?"
How to see if an extension is being used in builds, releases etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4136c15d-672e-44b0-b42b-16b877deb381
* Version Independent ID: 16df8860-d655-b092-2f8b-aaa5d1b2e955
* Content: [FAQs about getting extensions for Azure DevOps - Azure DevOps](https://docs.microsoft.com/en-us

[2020-01-08 12:37] apacha commented on #6766
@PBoraMSFT Bump!

[2020-01-08 12:53] apacha opened #6860 "Provide a working sample for iOS"
See https://github.com/MicrosoftDocs/vsts-docs/issues/6766 for details. It would be great to see how the documentation https://docs.microsoft.com/en-us/appcenter/test-cloud/preparing-for-upload/xcuitest relates to this build step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bddcbb-0f53-0f19-2a72-08be46e02de2
* Ver

[2020-01-08 14:04] davidb-tenaco commented on #6841
@msebolt thank you.  i still dont see the 2019.1.1 data migration tool available for download yet and the note about targeting last monday (1/6) for bringing 2019.1.1 migration support online is still up on the page.

i understand this has been delayed per the note, but at the least updating that notice with a new (and hopefully more accurate) ETA would probably be appreciated by many.

We have a

[2020-01-08 14:22] Apholisha commented on #4063
I've been trying to push a package to a v2 url but it either doesn't show up in the feed, or it shows up in the v3 list.
I'm not sure that AzureDevOps feeds suppord a v2 feed at all.

[2020-01-08 14:37] #6821 closed

[2020-01-08 14:40] vtbassmatt commented on #5510
We're introducing a new way to consume templates (where you "extend from" a master template rather than "`#include`" a subtemplate) which will allow for specifying resources at any level. This should do exactly what you want.

It's possible to run templated pipelines in containers today, but the top-level pipeline would have to remember to specify it, not the template.

[2020-01-08 14:58] Danghor opened #6861 "Restrict branches to merge into"
Is it possible to restrict the branch users can merge into. For example, to prevent feature-branches to be merged directly into the master branch, so feature-branches must be merged into the "develop" branch first ans only "develop" can be merged into master using a fast-forward merge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-08 16:16] kevbry commented on #4714
It's a bit concerning that this ticket has been around for ~6 months with no response. We just spent a pile of time on the same issue.

[2020-01-08 16:49] #6855 closed

[2020-01-08 17:10] thiagopri commented on #5479
Hi @msebolt,

I'm just following up on this since I'm having the same issue. Did you have a chance to look into it? I'm wondering if the DockerInstaller task shouldn't replace the existing docker (default path) to avoid this issue. Thoughts?

Thanks.

[2020-01-08 17:39] mananshah19 commented on #6842
No no! Please don't close the case or i have to write another feedback

I am using AzureGroupDeployment for deployment so WinRm etc is all
deployed. *As i said i am able to open a PSSession with PUBLIC IP but not
PRIVATE IP. Why is that?*
V/r,
*Manan Shah*
*Infrastructure and System Design*
Premier One
*Motorola Solutions*
*O:*  720-693-6354
*E:  **manan.shah@motorolasolutions.com <manan.shah@moto

[2020-01-08 17:43] WilliamAntonRohm commented on #6452
@adannsergio -- Adann, you're welcome, and apologies for the delay in responding.

@vijayma -- Vijay, can you shed some light on the underlying algorithm and perhaps clarify the documentation?

[2020-01-08 17:46] WilliamAntonRohm commented on #6542
@steved0x -- please look into this issue.

[2020-01-08 17:53] WilliamAntonRohm commented on #6500
@steved0x -- please look into this potential documentation issue.

[2020-01-08 18:12] justindbaur opened #6862 "Sample UWP Repository does not exist"
This repository no longer exists https://github.com/Microsoft/UWPQuickStart . A different UWP should be used as the sample repo then.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef534262-046d-f433-5196-70ab5a5423e1
* Version Independent ID: f625de29-5faa-702e-a49d-d1b4e636e268
* Content: [Build your Universal Window

[2020-01-08 18:32] MikeCheel opened #6863 "Automatically check out file from file system on edit?"
From the article: "It may be also be preferable to you if you do not need to work as part of a team and strongly prefer working with the filesystem in a manner similar to Git."

It is unclear if this means that if I edit or add a file directly in the file system that it will automatically be added or checked out. A few versions of TFS ago, it was said that instead of using the right click context

[2020-01-08 18:59] WilliamAntonRohm commented on #6677
@ata18 -- Aish, thank you for your followup.  Apologies for the delay in responding.

@chasewilson -- Chase, please look into this potential documentation issue.

[2020-01-08 19:02] WilliamAntonRohm commented on #6443
@placidseven, @bc3tech -- thank you for your feedback.  Apologies for the delay in responding.

@juliakm -- please look into this potential documentation issue.

[2020-01-08 19:07] pschaeflein opened #6864 "scriptArguments is not used for inline scripts"
The documentation should include a note that the `scriptArguments` argument is not used for inline scripts.

(The [PowerShell task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops#arguments) has such a note and the docs should be consistent, imo.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-01-08 19:27] WilliamAntonRohm commented on #6719
@drdamour -- thank you for clarifying your concern.  Apologies for the delay in responding.

@juliakm -- please look into this issue.

[2020-01-08 19:51] rajanikanthr commented on #3073
Any chance of extending the EOL date from March 31 2020?

[2020-01-08 19:57] #5197 closed

[2020-01-08 20:07] #6066 closed

[2020-01-08 20:14] juliakm commented on #6100
@drdamour Thanks for flagging this. I've added a line to [Set a multi-job output variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-a-multi-job-output-variable) stating that multi-job output variables will only work for jobs in the same stage.

The workaround for now is to persist the variable in an artifact.

[2020-01-08 20:14] #6100 closed

[2020-01-08 20:20] drdamour commented on #6100
@juliakm workaround is not viable if you want to use the value as a condition of the stage.

And if you use a deployment job you can only skip a stage prior to approval.  Very sad

[2020-01-08 20:21] juliakm commented on #6319
@o-o00o-o I think this could be easier to do with a combination of stages and jobs. [This section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml#specify-dependencies) on how to specify dependencies with stages might be helpful for you.

[2020-01-08 20:21] #6319 closed

[2020-01-08 20:25] iamjyotirmoy opened #6865 "Broken link under "This blog post"..."
The link to https://blogs.msdn.com/b/visualstudioalm/archive/2015/10/04/automating-azure-resource-group-deployment-using-a-service-principal-in-visual-studio-online-build-release-management.aspx leads to a 404!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb215324-b1a0-93b5-5022-4bcc7da93bb7
* Version Independent ID:

[2020-01-08 20:47] vtbassmatt commented on #5915
From the thread, it looks like this got sorted out. If there are product feature requests, please file them at [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-08 20:47] #5915 closed

[2020-01-08 22:30] kraigb commented on #6830
And can you also give me the exact commands as you used them, without the <your-appservice> placeholders?

[2020-01-08 23:50] johnyesberg opened #6866 "Why is the Stack Rank blank for some items?"
I have a (modified) CMMI project, and some of the backlog items (mostly Requirements and Tasks) don't have any values in the Stack Rank field. This means that I can't recreate the order of the items from a CSV export.
Is there something I can do to ensure that a Stack Rank value is assigned to every item (or at least every item that has a sibling)?
This question also asked on stackoverflow:
https:

[2020-01-09 00:15] lambdakris opened #6867 "What is the difference between copying a file to ArtifactStagingDirectory and publishing?"
What is the difference between copying a file to ArtifactStagingDirectory and publishing? Is it necessary to do both? What about if I don't copy the files into the ArtifactStagingDirectory and I just set pathtoPublish to some other location, say something like "$(Build.SourcesDirectory)/dist" (assuming that the build output get's placed in "dist"), what should I expect to happen then?

---
#### Do

[2020-01-09 00:55] msebolt commented on #6778
Closing this issue now, please comment below if there are any questions.

[2020-01-09 00:55] #6778 closed

[2020-01-09 00:56] #6794 closed

[2020-01-09 00:58] msebolt commented on #6798
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 00:58] #6798 closed

[2020-01-09 00:58] msebolt commented on #6799
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 00:58] #6799 closed

[2020-01-09 00:58] #6800 closed

[2020-01-09 00:59] msebolt commented on #6802
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 00:59] #6802 closed

[2020-01-09 01:00] msebolt commented on #6807
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 01:00] #6807 closed

[2020-01-09 01:00] msebolt commented on #6808
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 01:00] #6808 closed

[2020-01-09 01:00] msebolt commented on #6811
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 01:00] #6811 closed

[2020-01-09 01:00] msebolt commented on #6814
Closing this issue now, please comment below if there are additional questions.

[2020-01-09 01:00] #6814 closed

[2020-01-09 01:17] ForrestTrepte opened #6868 "hard to understand what I need to do in order to run my build"
Whenever I create a new ADO repository and set it up from a .yml build definition I receive the error `The pipeline is not valid. Could not find a pool with name Default. The pool does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/yamlauthz.`

This page has helpful information, but it wasn't immediately clear to me what steps I need to take in ord

[2020-01-09 02:22] msebolt commented on #6850
@KnicKnic Thank you for the feedback, assigning this to the author for review.

[2020-01-09 02:24] msebolt commented on #6851
@KnicKnic Thank you for the feedback, assigning this to the author for review.

[2020-01-09 02:24] msebolt commented on #6852
@KnicKnic Thank you for the feedback, assigning this to the author for review.

[2020-01-09 02:26] msebolt commented on #6853
@kelsosharp Thank you for the feedback, assigning this to the author for review.

[2020-01-09 02:26] msebolt commented on #6854
@BogdanIoanF Thank you for the feedback, assigning this to the author for review.

[2020-01-09 02:34] jedthornock commented on #3702
+1 here too!

[2020-01-09 02:39] msebolt commented on #6857
@degubellini Thank you for the questions.

Yes, under Azure DevOps basic the first 5 users are free.

Please refer to [Add users](https://docs.microsoft.com/azure/devops/organizations/security/add-users-team-project) for an idea as to what each user represents.

For your example, it would remain free as long as there are no more than 5 **TOTAL** employees, and both projects are limited to 1 pipeli

[2020-01-09 02:53] msebolt commented on #6858
@jnxxx Thank you for the question.

Please refer to the [Extension Management API](https://docs.microsoft.com/rest/api/azure/devops/extensionmanagement/installed%20extensions) for all current exposed functionaliy.

For suggestions or to solicit feedback from the product team, please start a thread [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-09 02:59] msebolt commented on #6860
@apacha Thank you for the feedback, assigning this to the author for review.

In the meantime, please refer to [this](https://docs.microsoft.com/appcenter/build/react-native/ios/) **App Center** doc for an example using React Native and iOS.

[2020-01-09 04:18] msebolt commented on #6861
@Danghor Thank you for the question.

Please to refer to [branch locking](https://docs.microsoft.com/azure/devops/repos/git/lock-branches) for assistance with your issue.

If you still find these features lacking, get feedback from the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-09 04:52] ausfestivus opened #6869 "IP address ranges incorrect?"
I have a Azure DB for PostgreSQL instance which has some configuration steps performed on it via ADO pipelines.
The PostgreSQL instance firewall is configured to permit connections from the IP addresses listed above.

As of just now, my pipeline has reported an error:
`* postgresql_role.tfe-role: pq: no pg_hba.conf entry for host "13.75.185.197", user "OBSFICATED", database "postgres", SSL on
`

T

[2020-01-09 05:47] RoopeshNair commented on #6865
removed the link as the content is out-dated

[2020-01-09 05:47] #6865 closed

[2020-01-09 05:55] RoopeshNair commented on #6842
For privateIp scenario check out [Deployment Groups,](https://docs.microsoft.com/en-in/azure/devops/pipelines/release/deployment-groups/index?view=azure-devops) - it allows you to run the script on the target machine using a local agent.

[2020-01-09 06:42] jeganbaskar commented on #3702
+ 1 its been a long time the request is pending any road map on the request atleast

[2020-01-09 06:44] rakol-ms commented on #3491
@evmimagina I can figure out one way where you have your KV managed by Terraform and still use AzureKeyVault task to download secrets for inline sql script without explicitly linking, by using Service Principals. Following are the steps I followed to get this working

- **One time setup**:

1. Create a Service principal using az cli: ` az ad sp create-for-rbac -n <some name>` . The output will be

[2020-01-09 07:30] Hex-99 commented on #6841
Is there any feedback or ETA?

[2020-01-09 08:42] StefanOssendorf opened #6870 "Why is there a character limit for pull request templates?"
Why is there a limit on how many characters are allowed in a pull request template?

We are using the templates and I added to each of our checklist items links to our wikis. The text is truncated after 4_000 characters. Sounds like a lot but we it'S easily exceeded with a lot of links in the template. We have 24 links in it to point to our guidlines/wiki.

Thanks in advance

---
#### Document Det

[2020-01-09 09:31] degubellini commented on #6857
Hi,
thank you for the quick feedback and for the useful links

I suppose that for total you mean between the 2 projects.
So if in my example they are all distinct employees, the total would be 7 employees and therefore it would be not free. Is this correct?

[2020-01-09 11:22] SpreeRaj commented on #6614
Is it updated yet? I can still only use version 1.11

[2020-01-09 11:39] ctahok commented on #6655
Judging by Prerequisites which lists both "azure-devops-2019" & "azure-devops" I have had an impression that the article is valid for both. It appears it is valid for Azure DevOps server but not Azure DevOps services which I am using. Please clarify this to avoid further confusions.

[2020-01-09 11:48] stijnherreman commented on #5825
@steved0x I just ran into this issue, I guess this was fixed and then broke again?

[2020-01-09 12:11] karunakaranck opened #6871 "How/when to use continuous improvement & Maturity Assessment work items"
I have been searching for resources to know better  about the usage and recommendation on continuous improvement & Maturity Assessment work items. However, i could not succeed in finding an URL to read about them. Can you please through some light on the availability of tutorial items with the URLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-09 12:54] davidb-tenaco commented on #6841
@Hex-99

Haven't heard anything at all, and pages still haven't been updated.  So who knows at this point.  :(

[2020-01-09 12:57] RobCoPKC commented on #6563
I'm using the solution provided by @chillbilly79 and receive a weird error message even though the JSON substitution works flawlessly:

![image](https://user-images.githubusercontent.com/56680419/72069584-cdcfc000-32e7-11ea-96f3-e86ca080a4fc.png)

My pipeline step:

- task: FileTransform@2
  condition: and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  disp

[2020-01-09 14:19] patrikulus commented on #6081
'githubenterprise' is also a valid option, but not referenced in documentation

[2020-01-09 14:38] vtbassmatt commented on #6081
GitHub Enterprise is not supported. It may work under some circumstances due to how our source providers are implemented.

(BitBucket was added to the docs already, so closing this.)

[2020-01-09 14:38] #6081 closed

[2020-01-09 15:09] trevorreeves opened #6872 "Document consuming project-scoped feed from another project"
To consume a project scoped feed from another project you need to add the project Build Service account of the consuming project to the project team group of the project that the feed belongs to.

This took a long time to discover via a support request, so it would be valuable to have this included here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-09 15:11] trevorreeves opened #6873 "It's unclear what role the feed permissions plays for project-scoped feeds"
It would be useful to clarify what effect the feed permissions and feed view permissions have for project-scoped feeds.  For organisation-scoped feeds it is clear.  For project-scoped it's not clear what consequence they have, if any.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34f46a54-1fe4-6b64-9479-022f3a06cd70
*

[2020-01-09 15:19] PatrickTetz commented on #3355
Has this been fixed? @vtbassmatt has closed the issue because the original author bypassed the problem. However we're invoking PS from a file and don't have that option. Arguments specified via "Environment Variables" do not generate a parameter for the task group.

[2020-01-09 16:01] lezardo opened #6874 "Availability for Azure DevOps Server ?"
Hi,
do you have an idea when auditing feature will be available for Azure DevOps Server ?
Especially regarding permission updates.

In "Features Timeline" page [https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline] it's only mentioned: | Auditing for Azure Repos events |   Repos	|   2020 | .

Does it mean we will have same "Auditing" featuire as it is now in a Public Previ

[2020-01-09 16:56] karunakaranck commented on #6871
Still I don't find details for the work items i had referred in our query.

[2020-01-09 16:56] msebolt commented on #6862
@justindbaur Thank you for the feedback, assigning this to the author for review.

In the meantime, please refer to [this repo](https://github.com/microsoft/Windows-universal-samples) for the latest UWP examples.

[2020-01-09 16:58] msebolt commented on #6863
@MikeCheel  Thank you for the feedback, assigning this to the author for review.

[2020-01-09 17:06] msebolt commented on #6857
@degubellini Not a problem, thank you for your interest in Azure DevOps.

Yes, you're correct.

You would be charged $12 per month for 7 distinct users, and an additional $15 if you want each project to have their own pipeline (though both projects can also share).

[2020-01-09 17:16] degubellini commented on #6857
@msebolt

Thanks!

[2020-01-09 17:16] #6857 closed

[2020-01-09 17:21] #6864 closed

[2020-01-09 17:22] uniquelau commented on #3678
Any update on this?
I am seeing the same behavior locally in Visual Studio 2019.

[2020-01-09 18:25] vtbassmatt commented on #3355
You can file this as a feature request on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). In full transparency, we aren't making any investments in classic Build right now, so it's unlikely to get prioritized. With enough demand (as evidenced by people piling on there), we could consider it, though. Thanks.

[2020-01-09 19:25] juliakm commented on #6353
I'm working on getting clarification from the product team on how this should work.

[2020-01-09 19:26] juliakm commented on #6352
I'm working on getting clarification from the product team on`$(build.containerId)`.

[2020-01-09 19:40] juliakm commented on #6359
Confirming that I run into the same issue when running the ASP.Net Core (.Net Framework) template. The problem is that there is not a .sln file in the example repository. Running the ASP.NET Core template does work.

[2020-01-09 20:01] ujaya opened #6876 "Talk page instead of comments at the bottom of entries"
Has there been any discussion of moving to the more standard wiki approach of having a talk page for each entry, rather than a comments section at the bottom of each entry? The comments section can get big and confusing for readers not involved in the maintenance of the wiki. This makes leveraging the ADO wiki feature for reference amongst partner teams and internal customers less than desirable.

[2020-01-09 20:22] josh-degraw opened #6877 "Add example for configuring TIA_IncludePathFilters"
I wanted to tune the test impact analysis in my pipeline, and it took me way longer than I feel it should have to to figure out exactly where to set the `TIA_IncludePathFilters` variable.
Having a simple YAML example would go a long way to help people figure this out faster.

While I'm at it, is there a reason there is no simple, straightforward way to modify this property? I would assume situatio

[2020-01-09 20:34] cbb330 opened #6878 "Template reference - Variables Template is incorrect"
1. Note says: 'to use variable templates, you must use sequence syntax.' This is not correct and the mapping syntax works as well for defining variables.
2. More clarification is needed on using template variables as I can import a template, and reference variables with regular variable syntax: $() rather than ${{ variable.key }}

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-09 20:37] andrewsuiter commented on #5573
@shashankbarsin any update when any documentation will be available to environments/approval checks?

[2020-01-09 20:43] andrewsuiter commented on #6815
@RoopeshNair is there any API documentation on environments/approval checks?

[2020-01-09 21:12] cbb330 commented on #6878
Thinking more on 1., perhaps the note should specify that including the template itself must be sequence syntax; however, variables defined within the template can follow mapping syntax.

[2020-01-09 21:52] msebolt commented on #6866
@johnyesberg Thank you for the feedback.

Stack Rank must be manually assigned by the user, please refer to issue https://github.com/MicrosoftDocs/vsts-docs/issues/1696.

For alternatives, such as re-ordering items through the [Reorder backlog API](https://docs.microsoft.com/rest/api/azure/devops/work/workitemsorder/reorder%20backlog%20work%20items), please see [Prioritize work](https://docs.micro

[2020-01-09 21:54] pemj opened #6879 "Azure Data Explorer service connection"
I'm currently trying to prototype some release gates in an Azure pipeline that make queries to Azure Data Explorer. To make use of an ADX Query Gate, I need to fill in a Service endpoint field. When I try to use the +New button to access the New service connection dialog (or when I go to the Create new service connection button in the Project Settings menu), I get a prompt that requests a lot of i

[2020-01-09 22:03] geofflamrock opened #6880 "Using Review App with AKS: Cannot create namespace"
When using an AKS cluster with the Setup Review App functionality as described in this page, I'm getting an error saying "User "[service account for resource namespace]" cannot get resource "namespaces" in API group "" in the namespace "[the review app namespace]".

Is there something else I need to do with the AKS cluster to allow this functionality?

---
#### Document Details

⚠ *Do not edit thi

[2020-01-09 22:06] msebolt commented on #6867
@lambdakris Thank you for the question.

The *ArtifactStagingDirectory* is a system property and can be changed/customized based on need, see [Build variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables#build-variables).

Even use of the publishing task isn't necessary (though helpful for locations such as **VSTS** servers),
 for publishing to simple locations such as

[2020-01-09 22:06] msebolt commented on #6868
@ForrestTrepte Thank you for the feedback, assigning this to the author for review.

[2020-01-09 23:09] MillerDan commented on #4341
You can get the repo from here https://github.com/ValdimarThor/UWPQuickStart

[2020-01-10 00:38] PreetSangha commented on #2455
@neilhighley  Thank you!

[2020-01-10 01:24] AaronGomezBHGE opened #6881 "PowerShell Encoding Error"
At end of step 1 it says to set the samplestring env to "Human".

When I try this I get the following error:

PS E:\dev\git\integerVersionChecks\buildAndReleaseTask&gt; $env:INPUT_SAMPLESTRING = "Human"
PS E:\dev\git\integerVersionChecks\buildAndReleaseTask&gt; node index.js
##vso[task.debug]agent.TempDirectory=undefined
##vso[task.debug]agent.workFolder=undefined
##vso[task.debug]loading inputs a

[2020-01-10 02:36] msebolt commented on #6869
@ausfestivus Thank you for the feedback, assigning this to the author for review.

This looks similar to the Postgres connectivity settings for **Austrailia East**, see [here](https://docs.microsoft.com/azure/postgresql/concepts-connectivity-architecture).

@kummanish

[2020-01-10 03:11] msebolt commented on #6870
@StefanOssendorf  Thank you for the feedback, we're sorry for the inconvenience.

Assigning this to the author to include a note on these limitations.

As a feature enhancement, please consider engaging the product team by starting a thread [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-10 03:20] AndrewCraswell commented on #6353
Actually more clarification is needed. I'm having difficulty understanding where artifacts are being downloaded to. I see that by default a job I have is downloading pipeline artifacts that were published in a previous stage. But no matter which path variables I use it seems to say it can't find the files. At a loss, and I see lots of questions on the web where people are having similar issues.

[2020-01-10 03:49] adminnz opened #6882 "Windowss Docker Agent start.ps1 is incorrect"
When running the windows docker container it fails with lots of errors from the start.ps1 script.

2. Downloading and installing Azure Pipelines agent...
Exception calling "DownloadFile" with "2" argument(s): "Value cannot be null.
Parameter name: address"
At C:\azp\start.ps1:45 char:34
+ $wc.DownloadFile($packageUrl, "$(Get-Location)\agent.zip")
+                                  ~~~~~~~~~~~~

[2020-01-10 03:57] johnyesberg commented on #6866
Thanks @msebolt
Looks like I can rely on the order in the CSV export for rows that have no Stack Rank.

[2020-01-10 03:57] #6866 closed

[2020-01-10 04:43] msebolt commented on #6871
@karunakaranck Thank you for the feedback, assigning this to the author for review.

Is this in reference to the [CMMI model](https://docs.microsoft.com/azure/devops/boards/work-items/guidance/cmmi/guidance-background-to-cmmi)?

If so, please refer to the model's [process](https://docs.microsoft.com/azure/devops/boards/work-items/guidance/cmmi-process?view=azure-devops) and [work item types](https

[2020-01-10 05:32] msebolt commented on #6691
@jeanpoelie Thank you for the update and apologies for the delay.

Please refer to [Deploy to Kubernetes](https://docs.microsoft.com/azure/devops/pipelines/ecosystems/kubernetes/deploy) for current deployment capabilities and see [this post](https://devblogs.microsoft.com/devops/announcing-kubernetes-integration-for-azure-pipelines/) with the latest updates from the [Azure DevOps timeline](https:/

[2020-01-10 05:36] msebolt commented on #6705
A link is now included in the document:

![Capture](https://user-images.githubusercontent.com/6675884/72128513-08f1e380-3328-11ea-9144-1cc0d032aac1.PNG)

Closing the issue now.

[2020-01-10 05:36] #6705 closed

[2020-01-10 05:38] msebolt commented on #6717
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:38] #6717 closed

[2020-01-10 05:38] msebolt commented on #6722
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:38] #6722 closed

[2020-01-10 05:38] msebolt commented on #6723
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:38] #6723 closed

[2020-01-10 05:39] msebolt commented on #6726
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:39] #6726 closed

[2020-01-10 05:39] msebolt commented on #6727
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:39] #6727 closed

[2020-01-10 05:40] msebolt commented on #6730
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:40] #6730 closed

[2020-01-10 05:40] msebolt commented on #6736
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:40] #6736 closed

[2020-01-10 05:40] msebolt commented on #6743
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:40] #6743 closed

[2020-01-10 05:42] msebolt commented on #6805
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:42] #6805 closed

[2020-01-10 05:42] msebolt commented on #6822
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:42] #6822 closed

[2020-01-10 05:42] msebolt commented on #6829
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:42] #6829 closed

[2020-01-10 05:43] #6832 closed

[2020-01-10 05:44] msebolt commented on #6834
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:44] #6834 closed

[2020-01-10 05:44] msebolt commented on #6839
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:44] #6839 closed

[2020-01-10 05:44] msebolt commented on #6840
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:44] #6840 closed

[2020-01-10 05:46] msebolt commented on #6845
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:46] #6845 closed

[2020-01-10 05:47] msebolt commented on #6858
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:47] #6858 closed

[2020-01-10 05:48] msebolt commented on #6861
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:48] #6861 closed

[2020-01-10 05:50] msebolt commented on #6872
@trevorreeves Thank you for the feedback, assigning this to the author for review.

[2020-01-10 05:51] msebolt commented on #6873
@trevorreeves Thank you for the feedback, assigning this to the author for review.

[2020-01-10 07:17] msebolt commented on #6874
@lezardo Thank you for the question.

Unfortunately the only information available to the authors is located on the [features timeline](https://docs.microsoft.com/azure/devops/release-notes/features-timeline) referenced above.

You will need to either look for updates using the [Azure DevOps blogs](https://devblogs.microsoft.com/devops/) or submit the request [here](https://developercommunity.visu

[2020-01-10 07:38] ata18 commented on #6726
@msebolt Thanks, those links didn't answer my question. I have raised a request [here](https://developercommunity.visualstudio.com/content/idea/881074/remove-deleted-runs-from-pipeline-reports.html)

[2020-01-10 10:26] BjornVanDoorn commented on #5062
Is there any ETA on when this is fixed. I'm having the same issue's and wondering if this is still a bug or something on my side?

[2020-01-10 11:13] komatat commented on #6340
Not working for us either for the last couple of months. Nothing about user mentions exists in Notifications settings.

[2020-01-10 11:22] webskydavid opened #6884 "Please Update Documentation!!!"
Please Update documentation, tons of old stuff. You provide new library but documentation sucks. I can't work with this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f99e26d-54fa-ac2c-1814-e1b3f97a87b5
* Version Independent ID: 0ed84e7f-b46f-3a44-16f6-d9bcf77bf11d
* Content: [How to Call a REST API - Azure DevOps](ht

[2020-01-10 11:33] PaulVipond commented on #5700
@gradyal I have a similar requirement. I've already got a build pipeline which packages up every available component artifact into a single artifact for release. Looks like I'm going to have to have a second deployment pipeline which is run manually and deploys to test and production. Test and production would then have approval requirements, key thing being if you don't run the deployment pipelin

[2020-01-10 11:58] o-o00o-o commented on #2070
Following "Release Flow" guidance we have had a case where unintended changes were included in the Cherry Pick. This was because the developer did a merge from master in his "feature\fix" branch. This seems to then include all the master changes into the feature and then when the CP is done it brings in all the changes from master at that point.

However with the solution given in this document (t

[2020-01-10 12:17] RoopeshNair commented on #6815
Not yet, since the service is still in preview and the endpoints might change, APIs aren't published.

[2020-01-10 12:47] MarkusRich commented on #5782
Documentation is up to date, but the website still shows the wrong one.
Wow the docu team is faster as the admin guys ;)

[2020-01-10 13:28] vtbassmatt commented on #5062
Re-reading the example code, I see the problem. Not sure why I didn't catch it before. The variables section is missing a `-`:

[code]

[2020-01-10 14:23] obeyda commented on #6782
my issue is with the documentation.

[in this section](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/kubernetes/canary-demo?view=azure-devops#deploy-canary-stage) we could've used yaml pipelines instead of the classic editor. i suggest to mark this section as **(Classic)** and add another section that explains how to do canary deploys with yaml config

[2020-01-10 14:43] #6412 closed

[2020-01-10 15:20] carstenhag opened #6885 "Bundles are missing"
There is no explanation on how to build, sign and release app bundles to the Play Store. Could you please add this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 454383d9-78ce-6203-2926-3449842d2f9f
* Version Independent ID: 947f872e-95b9-1691-acf0-e1a3f73b1e75
* Content: [Build, test, and deploy Android apps - Azure

[2020-01-10 15:21] carstenhag commented on #6885
Also see https://github.com/microsoft/google-play-vsts-extension/issues/155 please :)

[2020-01-10 15:27] lambdakris opened #6886 "File naming"
Something basic that seems to be missing is what are the rules around naming files if any, and what are the effects of file names if any. Can I name my files like so azure-pipelines-dev.yml? Or is number - azure-pipelines-1.yml - the only supported way of having multiple yml files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-01-10 15:39] DrGrijando opened #6887 "Deployment strategy"
In the HockeyApp distribution task there was an option for stating if builds should replace the previous one with the same version number or not. Is this possible witht he App Center task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6643ac-ea32-1761-a7e9-0f17a3c0b8ee
* Version Independent ID: 2442af0f-3f01-a91c-a9

[2020-01-10 16:15] aaroncaito commented on #4347
We're likely going to run into a similar issue. We're going to have many stages ourselves. We'll be fanning out with ephemeral environments to perform some operations in parallel.

[2020-01-10 16:16] juliakm commented on #6359
I've added a pull request to the example repo - https://github.com/MicrosoftDocs/pipelines-dotnet-core/pull/53.

[2020-01-10 17:01] andrewCluey opened #6888 "Error: kill ESRCH on Post-job: InstallSSHKey"
Recently deployed a few new agent VMs to provide more capacity for our deployments. Since then we are getting an odd error on the InstallSSHKey task.

In our pipeline we have a pre-job task to install SSH keys right at the start of the run, this succeeds.

The rest of the job continues without issue and runs fine. However, the Post-job: InstallSSHKey task fails with the error:
##[error]Error: kill

[2020-01-10 17:11] msebolt commented on #6876
@ujaya Thank you for the feedback.

You can refer to [this](https://developercommunity.visualstudio.com/content/idea/379601/ability-to-comment-wiki-content-like-in-pull-reque.html) open item in the developer community which is currently being scheduled for release.

If this request is different, please add your comments there or you can start a new thread [here](https://developercommunity.visualst

[2020-01-10 17:12] msebolt commented on #6877
@josh-degraw Thank you for the feedback, assigning this to the author for review.

[2020-01-10 17:13] msebolt commented on #6878
@cbb330 Thank you for the feedback, assigning this to the author for review.

[2020-01-10 17:39] eschwartz opened #6889 "Is there any way to trigger on a Pipeline being merged/closed?"
We have PR builds that create artifacts outside the pipeline, that I would like to be able to cleanup when the PR is merged or closed. Is there any way to trigger a build on a PR being closed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b4872831-51c0-6cf

[2020-01-10 17:42] msebolt commented on #6880
@geofflamrock Thank you for the feedback, assigning this to the author for review.

In the meantime, please see if https://github.com/Azure/AKS/issues/954 or https://github.com/MicrosoftDocs/azure-docs/issues/41012 can resolve this issue.

Please note since this is the documentation forum, our support options are limited to the example provided.

For additional resources, you can refer to:

- [Azu

[2020-01-10 17:43] vtbassmatt commented on #6359
I think this should be fixed in the product, not by altering the sample. The sample represents a real-world-ish example. I've opened a bug to track this in Azure DevOps and will close this doc bug.

[2020-01-10 17:43] #6359 closed

[2020-01-10 17:55] DonFrazier commented on #3126
This task was auto-generated from the Deployment Center in the Azure portal.  https://github.com/Microsoft/azure-pipelines-tasks/issues/4127 describes a chronic issue with deploying node / React apps.  This task should "just work" if npm is really going to be a supported technology.

The build archive from building our app packaged 38K Files.

Either the packaging should be updated to just deploy

[2020-01-10 18:08] mtaylorfsmb opened #6890 "Variable syntax does not work in templates"
Trying to use variables inside a template as discussed here doesn't work. When you run the build it says `variables` is an unexpected value. It doesn't matter whether the variables section precedes or follows the parameters.

[code]
Note that elsewhere it is mentioned the syntax for variables is as follows but that doesn't work either.

[code]

---
#### Document Details

⚠ *Do not edit this sectio

[2020-01-10 18:10] angelwang opened #6891 "What is the different between Basic + Test Plans & VS Enterprise"
[Enter feedback here]
In the feature list table, Basic + Test Plans & VS Enterprise are combined in the same column.
So I am wondering if there is any different between them, if not, why we have 2 separate access levels?

Thanks,
Angel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db47b85-e178-7969-40d3-3fa83aa3fb54

[2020-01-10 18:17] WilliamAntonRohm commented on #6782
@obeyda -- Obeyda, thank you for clarifying.

@shashankbarsin -- Shashank, please look into this issue.

[2020-01-10 18:18] ez-ms opened #6892 "No instructions to install private extensions"
I am developing a new extension, and it's still private until I finish the development. I'd like to install it on a Server instance so I can test on that environment. However, following the instructions above get me stuck just after clicking "Get" on the marketplace page. It shows a never-ending loading indicator.
Is this an issue, or is there any limitations to installing private extensions?

---

[2020-01-10 18:19] msebolt commented on #6881
@AaronGomezBHGE Thank you for the feedback, assigning this to the author for review.

[2020-01-10 18:23] msebolt commented on #6882
@adminnz Thank you for the feedback, assigning this to the author for review.

[2020-01-10 18:30] msebolt commented on #6884
@webskydavid Thank you for the feedback, our apologies for the current state of the documentation.

Please provide some details and/or examples on what changes you'd like to see and we can fix them accordingly.

[2020-01-10 18:47] michaelmcdaniel opened #6893 "404"
following links result in 404:
CI/CD pipeline examples [https://blogs.msdn.microsoft.com/visualstudioalmrangers/tag/cicd-pipeline/]
Configuring your release pipelines for safe deployments [https://blogs.msdn.microsoft.com/visualstudioalm/2017/04/24/configuring-your-release-pipelines-for-safe-deployments/]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-01-10 19:00] mtaylorfsmb opened #6894 "Template reference syntax is not documented when using multiple repos"
With the support for multiple repos we can now use `checkout` to check out a template repo. When using the `resource`  syntax we reference templates using the resource name.

[code]

But this doesn't appear to work with the `checkout` syntax.

[code]
Provide documentation on the correct syntax for this. It seems like it would be just prefixing the template path with the path used in `checkout` but

[2020-01-10 19:59] ata18 commented on #6534
@juliakm @WilliamAntonRohm Is there any update on this? This looks to me more like a bug in the product and not just a document bug. Can you please get the right people to look into this? Thanks!

[2020-01-10 20:56] mtaylorfsmb opened #6895 "Provide documentation on how to emulate single repo path behavior with multiple repos"
One issue with multi repos is that `Build.SourcesDirectory` is no longer correct if you are using paths relative to it because each repos goes into a subfolder. If you read through these docs it is clear on this matter but what isn't quite so clear is that you can still get this behavior in multi-repos. This would be important for code that either relies on this or can be used in single/multi-repo

[2020-01-10 21:05] NickDrouin opened #6896 "Parameter expansion does NOT happen before conditions are considered in a template."
Above, the sentence:
["Parameter expansion happens before conditions are considered, so you can embed parameters inside conditions."](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml#use-a-template-parameter-as-part-of-a-condition)

Is not true when you pass a parameter to template: the parameter is NULL in the template at the time the conditio

[2020-01-10 21:26] TASlavens commented on #6716
@ShubhamJain1992 Here's a list of steps with screenshots from our non-production AzDOS 2019u1 instance.  I've kept redactions to a minimum, but some were required by our SOPs.

1. Navigate to a file in any forked Git repo, so for this example, https://_server_/tfs/DefaultCollection/QS/_git/ds-TestProject and select any source file; I happened to choose a Python file, but I think it doesn't matter

[2020-01-11 00:11] KathrynEE commented on #6871
@karunakaranck - I'm updating the topic to provide links to the detail information on each process model. As noted, there is more information provided in [CMMI process](https://docs.microsoft.com/azure/devops/boards/work-items/guidance/cmmi/guidance-background-to-cmmi).

[2020-01-11 00:11] #6871 closed

[2020-01-11 00:18] WilliamAntonRohm commented on #6534
@JoeBrockhaus, @ata18, @mwc360 -- if you've encountered an issue with the product itself, rather than an issue with the documentation, please [submit your bug here]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21).

You may find additional information on variable availability here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-d

[2020-01-11 00:25] ledettwy commented on #4693
Not directly, but you could probably add host-targeted `docker build` steps beforehand. For complete control, you can issue your own `docker run` / `docker exec` commands as well.

[2020-01-11 00:34] KathrynEE commented on #6846
@brillyints - Thank you for pointing out the lack of clarity. I'm updating the article to reflect that the rules based on conditions of a group - "When current user is member of group..." and "When current user is not member of group ..." rules  -- are currently only available for Azure DevOps Services.

[2020-01-11 00:34] #6846 closed

[2020-01-11 01:01] KathrynEE commented on #6749
@jawn - Please check that you are selecting the Configuration tool from the Kanban board page. If you are on that page and aren't seeing the swimlane tab, then raise the issue on our developer community page: https://developercommunity.visualstudio.com/spaces/22/index.html. Regards.

[2020-01-11 01:01] #6749 closed

[2020-01-11 01:26] JamesMiera opened #6897 "Document missing advice if Dashboard Type radio buttons are missing"
1. Connect to Azure DevOps Services organization
2. Ensure that all Preview Features are enabled
3. Ensure membership in team project and membership as team admin
3. Click New Dashboard
4. Expected: Observe radio buttons for Team Dashboard and Project Dashboard
5. Actual: There are no radio buttons for Team Dashboard or Project Dashboard

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-11 01:39] brillyints commented on #6846
@KathrynEE Well, based on your response, not quite. It already clearly states that group membership as a condition is only available in Services. What's *not* clear on the page (nor in your response) is whether the ability to *hide a field as an action* follows the same availability for Services/Server that the group membership condition does.

[2020-01-11 07:45] JiandongRuan opened #6898 "Kubernetes manifest task - needs to document how to connect container to ReleasePipeline container artifact"
Both Azure container artifacts and KubernetesManifest task can be used in Azure Release Pipeline. Below are the current text about 'containers' argument. There is no document on how the 'containers' argument of KubernetesManifest can reference the container artifacts. The system should be able to automatically set the fully qualified resource URL for the referenced artifacts. If this isn't impleme

[2020-01-11 09:24] #6898 closed

[2020-01-11 16:34] drdamour opened #6899 "nothing about filtering groups"
there's nothing in these docs about how filtering groups work and how to construct an and over or type setup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeeb3695-9131-3598-c00b-0ae63fa6f33b
* Version Independent ID: 203d91ee-3831-0149-19e2-118de41ca5ae
* Content: [Get started with notifications in Azure DevOps - Azu

[2020-01-12 18:21] sesispla commented on #5700
I also find the current approval mechanism very limited and less flexible than classic release pipelines: We are using Azure DevOps Classic Release to deploy Terraform infrastructure and heavily relying on them for:
1. Check Terraform execution plans
2. Approve the roll-out of infrastructure changes to new environments (each stage is an environment).

I started an open-source [Azure DevOps pipelin

[2020-01-12 23:19] CESARDELATORRE opened #6900 ""Too high level" article not very useful"
I think this article is a "Too high level" article and because of that it is not providing very useful information.
It should probably be removed or dramatically changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa0194a9-ffa7-fa79-e6c7-8ecb5e8c93ec
* Version Independent ID: 4f5a9f04-b629-b8b1-1332-9260c95d13b7
*

[2020-01-12 23:23] kbrady-vibrato opened #6901 "Documentation incorrect?"
Hi,

I followed the documentation and copied the example pretty much verbatim - it doesnt work when the cron expression is in double quotes, but does when in single quotes - I found this out from Damien's post here https://developercommunity.visualstudio.com/content/problem/607414/scheduled-trigger-for-yaml-pipeline-disabled.html.

Is this a bug, or should the documentation be updated to reflect t

[2020-01-13 05:00] AElharouny opened #6902 "What will happen when cache consumes all allocated organization storage"
This might be an edge case question but I think it's important form product team to have an answer ready for that.
Since currently no maximum cache size per pipeline and no way to clean up cache.  What will happen in case of many pipelines in an organization uses that feature to store many files till  organization run out of reserved space or maximum quota?

---
#### Document Details

⚠ *Do not ed

[2020-01-13 05:51] upadhyayap commented on #5124
@zhongyi-zhang It is now enabled. could you please try and let us know.

[2020-01-13 07:34] BjornVanDoorn commented on #5062
It was the same on my side. I missed the -. Thank you. Saved me some troubleshooting!

[2020-01-13 08:52] erwin-faceit opened #6903 "Firewall/Proxy settings for agent update"
It seems that updating the agent requires a connection to the url https://vstsagentpackage.azureedge.net, so that should be allowed through the firewall and web-proxy as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425b68d1-4ba0-5657-4e09-f3aac361ea09
* Version Independent ID: f8044e9d-98e2-6e00-b513-a91e772b2e

[2020-01-13 08:56] roofiq opened #6904 "Condition based on macro variable - classic pipelines"
Hello,
how can we use macro variables in conditions? Can we only use template expressions here? If yes, is there any way that we can declare it in classic pipelines?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e5cee4-eaae-3a96-db91-540ac759e83a
* Version Independent ID: 9bdc837c-ffe0-d999-f922-f3a5debc7f92

[2020-01-13 09:11] swapnild2111 opened #6905 "AZURE_DEVOPS_EXT_PAT -- never worked"
Hello Team,
I have followed the steps you suggested. However the approach AZURE_DEVOPS_EXT_PAT never worked for me.
Solutions worked for me is: echo $AZURE_DEVOPS_EXT_PAT | az devops login
I do not want to echo since am exposing PAT on command line.
Am I missing something?

[2020-01-13 09:58] Zaniar0 opened #6906 "Adding Administrators using CLI or API"
Hi, Can this be done using the API or CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56e5bfa-e2ea-c309-8487-3ba3236ee6ee
* Version Independent ID: 981fdeed-0f98-135c-effb-2446cff74ea9
* Content: [Add a team administrator - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/add-team

[2020-01-13 10:44] Ant-man74 opened #6907 "Cant find "import Work items" button as indicated in the documentation"
This page describe a way to import work items with a csv and show a button to start the process

https://docs.microsoft.com/en-us/azure/devops/boards/queries/import-work-items-from-csv?view=azure-devops#q--a

![import](https://user-images.githubusercontent.com/15010119/72249463-bbac9500-35f9-11ea-8a1a-776af1d814d0.PNG)

However I cant find it anywhere in the new version

![import2](https://user-im

[2020-01-13 11:35] webskydavid commented on #6884
All of them, especially documentation about DevOps Extension Development. There are tons of old stuff. In some places you write about using SDK. But you mostly write about some outdated VSS library that does not much the SDK library. The whole documentation need an rewrite.
I spent most time (70%) to searching documentation.

[2020-01-13 11:43] springcomp opened #6909 "Unable to unit-tests a custom task in Azure Devops"
I’m trying to build a very simple task that compute a valid version number based upon the current date/time.

I’m following the instructions on the [Add a build or release task](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops) page and am trying to run unit-tests from an Azure DevOps pipeline.

Obviously, because there is _failure_ test, I’m getting th

[2020-01-13 12:01] garfbradaz opened #6910 "Sharing Job"
Hey Guys,

Is there anyway of sharing the `job` workspace through each stage? At the moment each stage checks out a new set of source code. So any changes that occur within one stage is lost in the next stage through the pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d322215c-8025-4f21-0700-7dfa7dc5c46e
* Ver

[2020-01-13 12:03] VRMartin opened #6911 "Screenshots Please"
Subject is helpful, but screenshots would make it so much more helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c5d73c-b126-7271-5483-b58dbcf43476
* Version Independent ID: a78f6ee3-677e-f28f-ca9b-4d9bfddf483d
* Content: [Use TFVC and Git repos in the same project - Azure Repos](https://docs.microsoft.com/en-u

[2020-01-13 12:24] StefanOssendorf commented on #6870
Thanks for your quick answer. If anyone find this question please vote there: https://developercommunity.visualstudio.com/idea/365708/raise-the-character-limit-for-pull-request-descrip.html

[2020-01-13 12:31] StefanOssendorf opened #6912 "Auto-Complete: Where can I review the merge commit message?"
Is it possible to review the commit message of a pull request which s set to auto-complete?
If so where?

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028e7b61-62e4-a10e-e420-3535f7843f0e
* Version Independent ID: 1a6fdbe7-5ba4-a7f8-1b2e-271289a7b9fd
* Content: [Review and merge code with pull reque

[2020-01-13 14:22] cacti77 opened #6913 "Explain 'pipeline' and 'source' entries better for pipeline triggers"
I want to trigger one pipeline from another but it's not clear to me what values I should use for the 'pipeline' and 'source' items under 'pipelines:'.

Is the 'pipeline' value a completely arbitrary name I can make up to define the pipeline resource (e.g., 'security-lib')? In other words I can pretty much call it anything I want because it's not referring to anything else?

But does the value of

[2020-01-13 14:27] davidb-tenaco commented on #6841
@KathrynEE @msebolt

It is now Monday 1/13.  A full week after the posted date of bringing migration support online for azure devops server 2019.1.1, and the related pages still haven't been updated to show that MS has completely missed the targeted date of 1/6, or that MS even has an ETA for 2019.1.1 migration support becoming available.

Please update the ETA in the page notes for enabling migra

[2020-01-13 14:28] cacti77 opened #6914 "Is 'include:' required under 'branches:' for a pipeline trigger?"
In the first YAML example under https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#pipeline-triggers there is no 'include:' item under 'branches:' but in the other examples there is an 'include:' item.  So is 'include:' optional or required?

The schema comments at https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&

[2020-01-13 14:40] davidb-tenaco commented on #6841
looks like i found some kind of answer..  so it may take 2,3 or more weeks now...

[2020-01-13 15:05] Hex-99 commented on #6841
Thanks for the link @davidb-tenaco. Kinda a let down for our teams focus. I guess I'll officially postpone and pick it up in Feb :(

[2020-01-13 15:48] cacti77 opened #6915 "Pipeline triggers: Will pipeline B only run if pipeline A passes?"
In the docs at https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#pipeline-triggers it says: "In situations like these, add a pipeline trigger to run your pipeline upon the successful completion of the triggering pipeline."

- what do you mean by 'successful' completion?  Do you mean the triggering pipeline must finish, regardless of whether any erro

[2020-01-13 15:58] vtbassmatt opened #6916 "There is no such thing as a "task job""
The "related articles" section has a bad title for the Jobs topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac9c819c-d0d7-fa24-5fbf-f812c882acd3
* Version Independent ID: 428c9c9d-afc6-0f32-a9a0-1025faeda31c
* Content: [Build and Release Tasks - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipel

[2020-01-13 16:05] #6916 closed

[2020-01-13 16:37] TASlavens commented on #5654
Hi, @KathrynEE - It has been nearly three months.  Could we have a status update on the AzDOS 2019u1 indexing HA question?  Thanks!

[2020-01-13 16:37] dermaaarkus opened #6917 "edit bitbucket pr triggers pipeline"
Althougt I defined the following, every time I edit a bitbucket PR a new pipeline is triggered on the same commit!

[code]

<img width="1429" alt="Bildschirmfoto 2020-01-13 um 17 38 27" src="https://user-images.githubusercontent.com/7196958/72273966-9cc6f680-362b-11ea-8c51-96a928727512.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-01-13 16:40] msebolt commented on #6885
@carstenhag Thank you for the feedback, assigning this to the author for review.

In the meantime, please refer to [publish to Google Play store](https://docs.microsoft.com/appcenter/distribution/stores/googleplay) or [this post](https://stackoverflow.com/questions/58618500/azure-devops-projects-directly-publish-to-google-play-console) for further options.

[2020-01-13 16:44] msebolt commented on #6886
@lambdakris Thank you for the feedback, assigning this to the author for review.

Please see [this post](https://devops.stackexchange.com/questions/9657/rename-build-pipeline-yml-files-in-azure-devops) for how to use a different *.yml* filename.

[2020-01-13 16:49] msebolt commented on #6887
@DrGrijando Thank you for the feedback, assigning this to the author for review.

The latest version [AppCenterDistributeV3](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AppCenterDistributeV3/task.json) now supports a `buildVersion` parameter.

[2020-01-13 17:04] CoolDadTx opened #6918 "Provide documentation on how to get path to where the repo is stored"
One of the big benefits of checking out the repo is so that your YAML files can access other files in the repo without cluttering the main repo. For example you might have a build repo where your build scripts reside. In this repo are config files used to configure the tools the build scripts use. However there is no easy way to reference these config files from the build repo because there is no

[2020-01-13 17:06] msebolt commented on #6888
@andrewCluey Thank you for the feedback.

This could be a result of https://github.com/microsoft/node-pty/issues/45, so make sure you're using the latest version of the task.

Unfortunately, our support options in the documentation forum are limited to the provided scenarios.  Please move this issue to the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks/issues) repo for

[2020-01-13 17:24] msebolt commented on #6889
@eschwartz Thank you for the question.

Please refer to either [continuous integration](https://stackoverflow.com/questions/58089501/azure-devops-how-to-trigger-a-release-upon-pull-request-being-completed) or using the [build REST API](https://stackoverflow.com/questions/52718462/trigger-azure-pipelines-build-via-api).

If you need the REST option it will require a configuring a [service hook](htt

[2020-01-13 17:30] msebolt commented on #6890
@mtaylorfsmb Thank you for the feedback, assigning this to the author for review.

[2020-01-13 17:37] msebolt commented on #6891
@angelwang Thank you for feedback.

The one difference noted is for **web test management**:

![Capture](https://user-images.githubusercontent.com/6675884/72278025-f60d3680-35e7-11ea-8c1d-26b019cd4166.PNG)

For a more complete table of version features, please refer to the [Visual Studio compare](https://visualstudio.microsoft.com/vs/compare/) page.

[2020-01-13 17:51] juliakm commented on #6353
@Londovir I just emailed you. We have a developer that wants to look into your issue in more detail. We're wondering if the initialization error you're seeing is part of the problem. Under normal circumstances, $(Build.ArtifactStagingDirectory) should be where your artifacts go before they are published and should be purged.

I'm closing this issue for now since it's looking like it is not a docs

[2020-01-13 17:51] #6353 closed

[2020-01-13 18:35] kraigb commented on #6830
Hello, @smcateer, do you have responses to my previous questions?

[2020-01-13 18:56] CoolDadTx opened #6919 "Template references and checkout do not work together or syntax is not clear"
Given the documentation on template references and the documentation on checkout it seems like something like this should work.

[code]
[code]
But it returns an empty string and is ignored. Using `$(somePath)` also doesn't work.

Please document the correct syntax to use variables defined in a template for things like `checkout` paths.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-01-13 18:57] KathrynEE commented on #6841
@davidb-tenaco - I reached out to the product manager and he has updated the note at the top. Target date is now Jan 21.

[2020-01-13 18:57] #6841 closed

[2020-01-13 19:00] msebolt commented on #6892
@ez-ms Thank you for the question.

You can refer to **Why can't I install extensions?** in the [FAQ](https://docs.microsoft.com/azure/devops/marketplace/faq-extensions) for possible solutions, or find additional information [here](https://docs.microsoft.com/azure/devops/extend/publish/overview) and/or by running through the [extensions quickstart](https://docs.microsoft.com/azure/devops/marketpla

[2020-01-13 19:00] davidb-tenaco commented on #6841
@KathrynEE thanks for the update.  i hope it is more accurate than the last 'target date'.

[2020-01-13 19:09] msebolt commented on #6893
@michaelmcdaniel Thank you for the feedback.

The first link seems to be up again, https://blogs.msdn.microsoft.com/visualstudioalmrangers/tag/cicd-pipeline/.

The documentation has been updated to remove the second link.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute) with **Microsoft Docs**.

[2020-01-13 19:25] msebolt commented on #6894
@mtaylorfsmb Thank you for the feedback, assigning this to the author for review.

In the meantime, please see if either [this post](https://developercommunity.visualstudio.com/content/problem/579283/azure-devops-pipeline-with-template-does-not-check.html) or [this post](https://stackoverflow.com/questions/57808193/is-it-possible-to-refrence-files-inside-azure-devops-pipeline-templates-when-the) c

[2020-01-13 19:47] alvipeo opened #6920 "Can you elaborate on the scope in which the build run?"
This
"You can check the scope in which your builds run by opening the editor for your build pipeline, and looking at the Options tab"
IS NOT ENOUGH. I've been trying to fix this error for about an hour now!
&gt; Response status code does not indicate success: 403 (Forbidden - User '419a0839-...' lacks permission to complete this action. You need to have 'ReadPackages'.

What is this user?? Where t

[2020-01-13 19:51] mtaylorfsmb commented on #6894
Unfortunately neither of these would resolve the issue. Theses posts seem to pre-date multi repo checkouts which literally check out the repo to the agent's build directory. For now I'm using the `resources` attribute so I can reference them but it seems like you'd need to use the full path to where the repo was checked out if you just wanted to use `checkout`. A working example would help clarify

[2020-01-13 20:12] vairakkumar-vairaperumal opened #6921 "How to escape focus on a multiline text"
How to escape focus on a multiline text, ex acceptance criteria, show can switch from markdown text editor to visualization.
Currently the only way to do is to by moving the KB focus to a different field by using mouse click outside the field. Can escape key be mapped for escaping edit mode on that field, and insert key (or what is industry standard) for editing texts

---
#### Document Details

⚠

[2020-01-13 20:49] blaze515 commented on #2623
Hi. How can you do this in the newer version of Azure Devops? I get an error saying that dependencies is not recognized.

[2020-01-13 20:55] JamesMiera commented on #6897
Though the documentation is still missing, it is worth noting that the underlying issue may be due to latency on rolling out sprint 162 to the org. Thus, the note might say something like:
`Note: If the Dashboard Type controls are not present, it is possible that the Sprint 162 Upgrade has not yet been applied.`

[2020-01-13 21:05] jamers99 commented on #5687
@shashban is this still still on schedule? This is very important to us.

[2020-01-13 21:10] CoolDadTx opened #6922 "Provide documentation on exactly what `Enable system diagnostics` does"
When trying to debug issues with YAML builds it seems like `Enable system diagnostics` is the correct box to check but the docs don't really clarify what it does. Furthermore we already have `system.debug` and now, it appears, `agent.diagnostics` variables that can be set on builds. If I'm creating custom YAML scripts or tasks then which of these variables should I be relying on if I want diagnost

[2020-01-13 21:31] Eddie-Hartman opened #6923 "Give an example for a directory with spaces."
Please add an example for pattern matching a directory with spaces. I've tried WebHelp/Online\ Help/** as an example, but it didn't seem to match anything. I'm not asking for specific help here, I'm just saying that an example like this should exist in the documentation since directories with spaces are a common use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-13 21:37] ggirard07 opened #6924 "System.AccessToken default scope"
What is the default scope of `System.AccessToken`?
More specifically, does it allow accessing any project in the organization, or only the current project the pipeline is associated with?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1bd6f18
* Version Independent ID: dc0effda-6d93-62aa-64c

[2020-01-13 21:47] msebolt commented on #6895
@mtaylorfsmb Thank you for the feedback and for providing a working sample.

Assigning this to the author for further review.

[2020-01-13 21:50] msebolt commented on #6896
@NickDrouin Thank you for the feedback, assigning this to the author for review.

If this issue is product-related, a ticket should to be filed with the product team [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-01-13 23:10] KathrynEE commented on #6758
@kumarallamraju - The typo has been fixed.

[2020-01-13 23:10] #6758 closed

[2020-01-13 23:32] jderose9 commented on #5700
I have the same use case - automatic deployment to a staging environment, and manual deployment to production. Manual approvals essentially does what I want, but the user interface is very bad. The build time keeps ticking upward and then the pipeline ends with a time out result if a particular build is never pushed to production. The previous/classic Release pipeline supported this use case witho

[2020-01-13 23:40] K3UL commented on #5281
Another case for separating Build and Push is also simply to pass build arguments, which is clearly indicated on this documentation page.
It happens for example if you want to use `--build-arg`, you can't `buildAndPush` then.

[2020-01-14 00:02] hintbw opened #6925 "Scenario 4 and mail-enabled Azure AD group"
Considering a mail-enabled Azure AD group only returns results such as these - https://techcommunity.microsoft.com/t5/azure-active-directory/azure-ad-security-group-can-i-mail-enable-the-group/m-p/134353 - is it possible that you could link to documentation for where (or how) mail enabled Azure AD groups can be created?

Working with our Azure AD global administrators (when my team is the ADO admi

[2020-01-14 00:47] WilliamAntonRohm commented on #6784
@ScoGroMSFT -- thank you for clarifying.  Apologies for the delay.

@PRMerger18 -- please look into this issue.

[2020-01-14 03:55] magina2019 opened #6926 "How to verify correctness for this function"
This function is amazing. But Git usage is flexible, like our developers may merge other branchs (which links to other work items) to their own branch, this maybe complicates commit history. So How to verify correctness for this function use more theoretical evidence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462b

[2020-01-14 05:15] ShubhamJain1992 commented on #6716
Thanks @TASlavens, I was able to reproduce the behavior and will work with the team to improve it.

[2020-01-14 05:57] worldspawn opened #6927 "Has anyone tried using this task on a VSTS agent container?"
Seems like docker is not installed on the agent container, this task fails with docker not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77386c22-1c7f-ab78-f541-52d50fa9fd8e
* Version Independent ID: be836c7f-2b53-c59a-7252-dfc15ec63537
* Content: [Docker task - Azure Pipelines](https://docs.microsoft.com/en-us

[2020-01-14 05:58] worldspawn commented on #6927
If its not compatible it would be nice to note that here.

[2020-01-14 06:16] msebolt commented on #6897
@JamesMiera Thank you for the feedback, it's good to hear the issue is resolved.

Usually notes are only added if the product team has not yet applied a proper fix, but thank you for bringing this to our attention.

@KathrynEE

[2020-01-14 06:26] msebolt commented on #6899
@drdamour  Thank you for the feedback, assigning this to the author for review.

In the meantime, please refer to **Notifications** and **Subscriptions** general description on the [Events and notifications](https://docs.microsoft.com/azure/devops/notifications/concepts-events-and-notifications) page.

[2020-01-14 06:35] msebolt commented on #6900
@CESARDELATORRE Thank you for the feedback, we're sorry you're having issues with the documentation.

Is there anything in particular that doesn't work with the given example?  If you provide further details on what should be changed we can assign this to the author for review.

For general descriptions, please refer to [Azure Pipelines](https://docs.microsoft.com/azure/devops/pipelines/?view=azur

[2020-01-14 06:36] msebolt commented on #6901
@kbrady-vibrato Thank you for the feedback, we're sorry for any issues with the examples.

Assigning this to the author for review.

[2020-01-14 07:15] nbrown02 opened #6928 "Grouping by column name"
Is it possible to group by column name? We have the 'committed' state mapped to multiple columns (In Dev / Ready for Test / In Test) so this breakdown would be useful...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8719e400-4445-59a4-c68e-628243710c36
* Version Independent ID: d6a76999-81c0-33cb-47a5-9ca4d8be80c3
* C

[2020-01-14 09:37] srivatsamarichi commented on #6537
@mszixie Thank you for the feedback. Have fixed the duplicates. The changes will be reflected AEAP.

[2020-01-14 10:19] RGKarthik commented on #6748
@PatrickGrub,
I am assuming that you are referring to 'pipelines' and not 'releases' tab in the search box. For pipelines, in the search box, you should see instances/runs of pipelines that were requested by you. Have you run any of these pipelines and yet are not able to see them?

[2020-01-14 10:45] CodeRunRepeat opened #6929 "Invalid link to "How to discover menu group identifiers""
The page linked to from the groupId property documentation (https://docs.microsoft.com/en-us/azure/devops/extend/test/discover-menu-group-ids?view=azure-devops) is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19c5725d-4a59-7019-7dd8-c77be8456e45
* Version Independent ID: b45dc1c1-3ba0-b517-8aa8-c947cfc

[2020-01-14 10:50] enamba commented on #3702
+1 here !! pls

[2020-01-14 11:35] Jon889 commented on #6708
@msebolt @KathrynEE Can you help with this?

[2020-01-14 11:53] MTRH opened #6930 "Doublet (Add a team admin)"
Hi
In the Additional administrative tasks section under Manage permissions "Add a team admin" is listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2142cf8c-de62-2cac-781c-27e2354797fb
* Version Independent ID: ce1d22c5-1182-03cd-6d51-c33dc490e04f
* Content: [About creating and managing organization - Azure D

[2020-01-14 12:46] JasperCodes commented on #4316
I can confirm that this resolved the same issue I had with registering a new repository.

[2020-01-14 14:08] bertrandpons opened #6931 "What about AzureAd Module ?"
Hello,

Why AzureAd module is not installed when we want to use the task from Azure DevOps pipeline?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcda4373-62ae-e1ae-c15d-63f441179b47
* Version Independent ID: 305f78c0-2e89-78f2-d2d1-89471602610c
* Content: [Azure PowerShell task - Azure Pipelines](https://

[2020-01-14 14:22] gintuoklis commented on #3834
hey @Paul-Dempsey,
Have you manged to find a way for dowloading(creating) unviverstal package?

[2020-01-14 14:24] drdamour commented on #6899
Nothing on that page about filtering

[2020-01-14 15:37] djpugh opened #6932 "Clarity on range of build policies"
Can you confirm that the build definition needs to be within the repository - I have a case where I am trying to manually  invoke downstream builds (from a different repo) that will use a pre-release from the build of the PR, and they are failing with unable to queue (the pipelines themselves work) - I'm not sure if this is a bug or expected, and if the latter why does the build policy option show

[2020-01-14 16:17] Apholisha opened #6933 "Restrict modification of work items based on a user or group for System.AreaID"
How Can I restrict a group of users to change the Area Path of a work item?
When I try to make a rule I'm given the option to choose "Make ReradOnly" and "AreaID" , but when I try to save it I get an error "System.AreaID cannot be used in "Action".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b9a3085-d952-f4ba-e7c5-

[2020-01-14 16:20] drk-mtr opened #6934 "Why is it that Stakeholders can be given access to a Project Wiki but not a Code Wiki?"
This inconsistency makes no sense whatsoever.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e7fef2-40df-4923-e62e-74ac556cbc6a
* Version Independent ID: af9269b4-1db4-df1f-2520-78ad20baf17b
* Content: [Get started with Stakeholder access - Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/organizations/sec

[2020-01-14 17:02] chcomley commented on #6869
@ausfestivus, I've reached out to our team and will be in touch. Sorry you're experiencing difficulties.

[2020-01-14 17:04] msebolt commented on #6867
Closing this issue, please comment below if there are any further questions.

[2020-01-14 17:04] #6867 closed

[2020-01-14 17:04] msebolt commented on #6874
Closing the issue, please comment below if there are any further questions.

[2020-01-14 17:04] #6874 closed

[2020-01-14 17:05] msebolt commented on #6876
Closing the issue, please comment below if there are any further questions.

[2020-01-14 17:05] #6876 closed

[2020-01-14 17:09] msebolt commented on #6911
@VRMartin Thank you for the feedback, assigning this to the author for review.

[2020-01-14 17:12] michwii commented on #3702
Hi guys,

Here is how I have selected dynamically the name of my variable group :
[code]

Hope it will help you.

Regards

[2020-01-14 17:14] msebolt commented on #6919
@CoolDadTx  Thank you for the feedback.

This issue was recently brought to our attention, please refer to https://github.com/MicrosoftDocs/vsts-docs/issues/6894.

[2020-01-14 17:14] #6919 closed

[2020-01-14 17:17] #6893 closed

[2020-01-14 17:18] msebolt commented on #6922
@CoolDadTx Thank you for the feedback, assigning this to the author for review.

[2020-01-14 17:31] msebolt commented on #6923
@Eddie-Hartman Thank you for the feedback, assigning this to the author for review.

The document references the use of [glob](http://man7.org/linux/man-pages/man7/glob.7.html), which means spaces would be referenced using brackets, denoted as `[ ]`.

[2020-01-14 17:39] Eddie-Hartman commented on #6923
I figured it out. In my case, I simply needed 'WebHelp\Online Help\**' as spaces aren't considered special characters for these filters. The reason I used the example I gave (escaping the space character as '\ ') is that spaces are considered special characters that need escaped for some matching patterns. The documentation does not say that spaces are special characters or not. It just doesn't ad

[2020-01-14 17:41] msebolt commented on #6924
@ggirard07 Thank you for the question.

The `System.AccessToken` corresponds to the service account so this would depend on the project's permissions, please see if [this post](https://developercommunity.visualstudio.com/content/problem/618929/what-is-the-scope-of-the-token-in-systemaccesstoke.html) answers your question.

@juliakm

[2020-01-14 17:56] msebolt commented on #6925
@hintbw Thank you for the feedback, assigning this to the author for review.

From the note in the [AD documentation](https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-manage-groups) you can only manage mail-enabled security groups using [Office 365](https://docs.microsoft.com/office365/admin/create-groups/compare-groups?view=o365-worldwide#mail-enabled-security-group

[2020-01-14 17:57] andrewleader commented on #2287
@michaelmairegger 's solution worked! Thanks Michael!

[2020-01-14 18:04] msebolt commented on #6926
@magina2019 Thank you for the question.

Correctness would need to be implemented with added functionality (or use an [extension](https://docs.microsoft.com/azure/devops/extend/overview?view=azure-devops), [service hooks](https://docs.microsoft.com/azure/devops/service-hooks/overview?view=azure-devops), or [REST API](https://docs.microsoft.com/rest/api/azure/devops/?view=azure-devops-rest-5.1)), a

[2020-01-14 18:27] msebolt commented on #6927
@worldspawn Thank you for the feedback, we're sorry for the issues with the container.

Please try a newer container such as [Windows 1803](https://github.com/Microsoft/azure-pipelines-image-generation/releases) with Docker pre-installed.

Assigning this to the author for review.

[2020-01-14 18:40] msebolt commented on #6928
@nbrown02 Thank you for the question.

Please refer to Power BI documentation for information on how to customize the reports, for instance, the [Group rows](https://docs.microsoft.com/power-bi/desktop-common-query-tasks#group-rows) topic seems similar to what you are asking.

[2020-01-14 18:46] msebolt commented on #6929
@CodeRunRepeat Thank you for the feedback.

The documentation has been updated and is pending review.

For future edits and/or change requests, please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-01-14 18:46] dootdootbeep commented on #6011
In case anyone else finds this, the extension mentioned by RoopeshNair works with the "Team Foundation Server / Azure Pipelines" service connection. **It works with both TFS and Azure DevOps.**

It adds the options to select Artifacts from the external TFS/Azure DevOps build pipelines, Git Repo, TFVC, or external XAML build definition.

![image](https://user-images.githubusercontent.com/24483326/7

[2020-01-14 18:57] nbrown02 commented on #6928
Thanks - I guess let me rephrase my question :)

Is the ColumnName field within the WorkItems table/. If not, is it possible to recreate this chart using an alternative query so it uses ColumnName rather than State?

[2020-01-14 19:01] msebolt commented on #6921
@vairakkumar-vairaperumal Thank you for the question.

Keyboard shortcuts are based off rules for [Visual Studio shortcuts](https://docs.microsoft.com/visualstudio/ide/identifying-and-customizing-keyboard-shortcuts-in-visual-studio?view=vs-2015#bkmk_assign), so `Esc` is allowed, but not `Insert`.

For a list current shortcuts involving change of focus, please refer to [keyboard shortcuts](https://

[2020-01-14 19:05] msebolt commented on #6920
@alvipeo Thank you for the feedback, we're sorry you're experiencing issues.

Please refer to the possibly related incident in [this post](https://developercommunity.visualstudio.com/content/problem/800078/nuget-restore-tasks-throws-403-using-azure-devops.html) to see if you can resolve the issue.

[2020-01-14 19:26] vairakkumar-vairaperumal commented on #6921
@msebolt That should be a bug then. Escape key does not stop editing of texts in Acceptanct Criteria and Description fields

[2020-01-14 19:27] alvipeo commented on #6920
Yeah, I found this one yesterday - https://developercommunity.visualstudio.com/content/problem/795493/403-error-during-nuget-restore.html

But guys, please fix this and make appropriate changes in the docs! Thanks!

[2020-01-14 19:51] ggirard07 commented on #6924
@msebolt Not sure to understand how it can help me define whether the `System.AccessToken` available on my agent is suppose to give access to resources outside current project... Maybe some precision on my use-case could help.

From npm package `azure-devops-node-api`, I want to get detailed information from a pipeline runId (available from environment variable `resources.pipeline.${pipelineName}.

[2020-01-14 19:54] SamGrantham opened #6936 "SSH as implemented by Azure DevOps Service and Server is not compliant with the SSH Standard"
It is sort of touched on in the Q & A but we should probably explicitly call this out:

Per https://tools.ietf.org/html/rfc4252#page-8
 Specifically, these 2 sentences of the RFC, "The server MUST check that the key is a valid authentication for the user, and MUST check that the signature is valid. If both hold, the authentication request MUST be accepted; otherwise, it MUST be rejected."

In othe

[2020-01-14 20:07] TroySchmidt commented on #2599
This will post the coverage results as an official tab.  The good news is that you can merge multiple coverage files.  This only requires that that `reportgenerator` tool is installed globally on your build server.  The code below is using the `coverlet.collector` NuGet package installed in the test project.  That is what provides the collector `XPlat Code Coverage`.  Also, this is for .NET Core 3

[2020-01-14 20:28] ggirard07 commented on #6924
I think I just found what is confirming default configuration for `System.AccessToken` is scoped to the current project only. Option is enabled by default in my case.

![image](https://user-images.githubusercontent.com/2625886/72379961-6dbf8c00-36e2-11ea-963c-247c76e9b1ae.png)

[2020-01-14 20:53] #6443 closed

[2020-01-14 21:03] taaariq opened #6937 "Nunit now provides a formal definition for attachments in the results schema"
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/collect-screenshots-and-video?view=azure-devops

The above article mentions the following:

However Nunit now seems to have a formal definition for attachments in the results schema.
See:
https://github.com/nunit/docs/wiki/Test-Result-XML-Format#attachments
https://github.com/nunit/docs/wiki/Test-Result-XML-Format#attachment
https://gith

[2020-01-14 21:06] juliakm commented on #6443
Thanks for flagging this area of confusion. I've added a more detailed example on using secret variables in variable groups. See [this section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#reference-secret-variables-in-variable-groups).

[2020-01-14 22:06] damccorm commented on #6881
Hm, I'm not able to reproduce. With that said, this is almost definitely due to an encoding issue with how we store values when using the task-lib - https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/vault.ts#L10. It looks like somehow your encoding is non-utf8 (Node default) - I'm not sure how that happened, but the issue will almost definitely not manifest on our agents where

[2020-01-14 22:11] KathrynEE commented on #6708
@Jon889, @buckleyGI - I've reached out to the product manager for this feature to address the lack of documentation around custom detection. I will add a user story to the backlog to continue to follow up.

[2020-01-14 22:12] sandippatil356097 opened #6938 "Not allowing to create more than 100 templates?"
Azure DevOps is not allowing to create more than 100 templates. Can this number be changed for specific project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1debd814-eb48-c984-a4f9-7606093e9617
* Version Independent ID: f48ef796-c2e3-8fa3-6c41-326a5b252a3d
* Content: [Use work item templates to update stories, & mor

[2020-01-14 22:15] ggirard07 commented on #6924
So I think I sorted this out... but some documentation on this could actually really help out!

**Which identity is used to generate the  `System.AccessToken`?**
- When the option shown in my previous post `Limit job authorization scope to current project` is enabled (default value for me), then the `System.AccessToken` is associated to a project specific user named as `{projectName} Build Service

[2020-01-14 22:27] ggirard07 commented on #6924
And finally once I know what I actually need, I am able to find [a well built documentation about all of it](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/options?view=azure-devops#build-job-authorization-scope)!
Only issue is this looks specific to "Classic Build" while it is actually not and applies very well to YAML pipeline.

Looks like I need to work on my googling skills :)

[2020-01-14 23:06] Jon889 commented on #6708
Thanks!

[2020-01-14 23:13] ldcl289 commented on #2599
Quick question, my project does not use dotnet, but vstest, since we have a mix of dlls on c++ and c#.
If I generate the trx with the vstest as first step, and keep only the "reportgenerator", that should work, right?

Thanks.

[2020-01-15 00:06] timothies opened #6939 "Error specifiying template that only defines a job"
I tried to use the code snippet (copy/paste) defined for  # File: templates/jobs.yml  and got an error "Unexpected value 'jobs'"  When I add the stages and stage keyword it works (as below).     "Much like steps, jobs can be reused with templates." implies stages aren't necessary, am I missing something?
Thanks for your help.

# File: templates/jobs.yml

stages:
- stage:
  jobs:
  - job: Build

[2020-01-15 00:33] WilliamAntonRohm commented on #6909
@springcomp -- Maxime, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtua

[2020-01-15 00:34] Ixus opened #6940 "Delete Option Missing"
I have a rename option, but no delete option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03af1d9-4eeb-ac18-d517-a0a44a2478be
* Version Independent ID: 842691c8-8c41-facf-2cff-03542262f2e5
* Content: [Delete a Git repo from your project - Azure Repos](https://docs.microsoft.com/en-us/azure/devops/repos/git/delete-e

[2020-01-15 00:36] WilliamAntonRohm commented on #6904
@roofiq -- thank you for your questions.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @juliakm -- please look into this potential documentation issue.

[2020-01-15 00:37] KathrynEE commented on #6938
@sandippatil356097 - Increasing the limit can have a potential performance impact and may need adjustments of some caches as well.  So increasing the limit isn't recommended. If you want to pursue this further, please file a [support ticket](https://support.microsoft.com/supportforbusiness/productselection?sapId=4d7c8158-200d-893b-5161-06d00803fd9c).

[2020-01-15 00:37] #6938 closed

[2020-01-15 00:37] WilliamAntonRohm commented on #6905
@swapnild2111 -- Swapnil, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around your general task.

[2020-01-15 00:41] worldspawn commented on #6927
Yes apparently I needed to do more reading :)

FYI I used `microsoft/vsts-agent:ubuntu-16.04-docker-18.06.1-ce-standard`. The `docker` gives you docker obviously, the `standard` gives you everything else.

[code]

[2020-01-15 00:41] #6927 closed

[2020-01-15 00:42] Ixus commented on #6940
I have 3 projects/repos. I set it up online, but VS wants to create a new one. So I tried to delete it to no avail. I even tried to rename it,  but it appears projects are different than repos, even though it asks me to put in the repo name, not the project name in VS.

[2020-01-15 00:42] worldspawn commented on #6927
@shashankbarsin A _note_ that the docker task requires a docker enabled agent to work wouldn't go astray. Its not something you need to think about when using hosted agents but when selecting a container for self hosting it's not obvious at all

[2020-01-15 00:44] WilliamAntonRohm commented on #6906
@Zaniar0 -- Zaniar, thank you for your question.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @KathrynEE -- Kathryn, please look into this potential documentation issue.

[2020-01-15 00:45] TroySchmidt commented on #2599
@ldcl289 Generating the trx will only afford you the ability to publish test results.  To publish code coverage you have to collect those cobertura test results thru code coverage.  There is some comparable way to run vstest to output the code coverage xml files(s) to use as input.

[2020-01-15 00:46] WilliamAntonRohm commented on #6907
@Ant-man74 -- thank you for your questions.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @KathrynEE -- please look into this potential documentation issue.

[2020-01-15 00:47] WilliamAntonRohm commented on #6910
@garfbradaz -- Gareth, thank you for your question.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @juliakm -- Julia, please look into this potential documentation issue.

[2020-01-15 00:49] WilliamAntonRohm commented on #6912
@StefanOssendorf -- Stefan, thank you for your questions.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @apawast -- Apeksha, please look into this potential documentation issue.

[2020-01-15 00:52] WilliamAntonRohm commented on #6915
@cacti77 -- Lucas, thank you for your questions.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @steved0x -- Steve, please look into this potential documentation issue.

[2020-01-15 00:54] WilliamAntonRohm commented on #6917
@dermaaarkus -- Markus, thank you for your feedback.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @steved0x -- Steve, please look into this potential documentation issue.

[2020-01-15 01:00] WilliamAntonRohm commented on #6924
@ggirard07 -- thank you for your researches and followup.

[2020-01-15 01:06] WilliamAntonRohm commented on #6931
@bertrandpons -- thank you for your question.  You may find answers here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-15 01:10] WilliamAntonRohm commented on #6932
@djpugh -- David, thank you for your feedback.  You may find additional information here:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @apawast -- Apeksha, please look into this potential documentation issue.

[2020-01-15 01:14] WilliamAntonRohm commented on #6934
@drk-mtr -- thank you for your feedback.  It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

[2020-01-15 01:14] #6934 closed

[2020-01-15 05:54] buckleyGI commented on #6708
Looking forward to levering this

On Wed, Jan 15, 2020, 00:06 Jonathan Bailey <notifications@github.com>
wrote:

[2020-01-15 07:31] bertrandpons commented on #6931
@WilliamAntonRohm I guess it is more related to Azure PowerShell task itself,  therefore to the documentation on it.
On Stack Overflow pages, apart building complex workarounds, anything really convenient.

[2020-01-15 10:15] ahmedkhammessi opened #6941 "VS403221: The value '-1' is not an allowed value for field 'Priority'. Valid values are 1, 2, 3, 4."
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2020-01-15 10:16] #6941 closed

[2020-01-15 10:38] Apholisha opened #6942 "Enforce a filter on the dashboard list per group"
How can I make sure that a group\team gets to see only the dashboards I want them to.. or just the dashboards they own.
Right now they see a full list of all available dashboards. I want to enforce a filter on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcb11d2d-86bd-ff52-d191-4da86d54b473
* Version Independent

[2020-01-15 11:10] Zaniar0 commented on #6906
@WilliamAntonRohm  @KathrynEE  Can you advise if it is possible to add a user/group as an team administrator using the CLI or API. If so can you point me to it, as i could not find it. FYI We are automating end to end project and team creation. Hence the question. Thanks

[2020-01-15 11:13] springcomp commented on #6909
@WilliamAntonRohm sorry, my bad!
Yes, I realize you are right.

I have [reported my issue](https://github.com/microsoft/azure-pipelines-task-lib/issues/603) on a more appropriate repository.

[2020-01-15 11:13] #6909 closed

[2020-01-15 12:02] lvanvugt opened #6943 ""The following example discards changeset 137 as a candidate for merging into branch2" gives wrong exampl"
Example code:

c:\projects&gt;tf merge /discard /version:C137 branch1 branch2 /recursive

This should be:

c:\projects&gt;tf merge /discard /version:C137~C137 branch1 branch2 /recursive

The original example seems to discard everything up to C137.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2a034e-46b4-0c59-9cc1-b

[2020-01-15 12:49] MrDEV0 commented on #6620
Hi, how can I can use Automatic Signing while building iOS project on Azure cloud? I believe it should be a place to add the Apple Developer account and define the team.

[2020-01-15 13:37] HofmeisterAn opened #6944 "Example in section Publish (UniversalPackages@0) is wrong"
The second source code example in section [Publish](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/universal-packages?view=azure-devops#publish) is wrong.

[code]

You use `versionPublish` twice. It should be `versionOption: 'custom'` I guess.

[2020-01-15 14:15] JonasEggert commented on #6931
@WilliamAntonRohm I think what @bertrandpons is trying to ask is, how to get the az module working within the pipeline task azure powershell or to be more specific, with the microsoft hosted agents. Because on azureRM there are no cmdlets for blueprints (afaik) and it doesn't let you install and use the az module (because you cant get rid of azureRM and they are incompatible in that sense). The on

[2020-01-15 14:17] roman-may opened #6945 "Invalid JSON in Release Deployment Completed Sample Payload"
The Json in the sample payload seems to be invalid.

https://docs.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops#sample-payload-5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6033d681-9093-547c-20fd-b31183c2bb33
* Version Independent ID: 0d92e3f0-7fb4-57e5-d913-f305a055a819
* Content: [Servic

[2020-01-15 14:20] svaenn opened #6946 "Timeout for private projects with paid parallel jobs"
The Timeouts section of this page states that private projects always have a limit to run 60 minutes, this is not the case when the pipeline is paid: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#capabilities-and-limitations

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Art

[2020-01-15 14:36] bertrandpons commented on #6931
@JonasEggert Thank you for the clarification. As far as I understand (and from what I have tested), I should use AzureRM with Powershell task version 3.

[2020-01-15 15:10] Norrch2 opened #6947 "Dotnet Run"
This article indicates that it supports the "Run" command but does not provide any examples. Please provide examples to use this command-line argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1d9884-19f7-592b-f47c-8cf100639ff0
* Version Independent ID: 555c3826-60d9-2589-54af-850efbfbb13a
* Content: [.NET Core

[2020-01-15 15:10] weirbt2k commented on #2984
@KathrynEE

Hi, I know you've already closed this but can you clarify your statement that the vNext version won't support connection between TFS and Office Project? When you say TFS, do you also mean Azure DevOps?

I'm just starting to look at how to use the Office Integration plug-in so I can connect MS Project Pro to an Azure DevOps team (we're enterprise customers, not using any free version).

[2020-01-15 15:14] juliakm commented on #6796
@Marklannucci Thanks for your pull request! It is merged now.

[2020-01-15 15:14] #6796 closed

[2020-01-15 15:59] djpugh commented on #6932
It seems like it is the case that the pipelines only work from the same repo - https://stackoverflow.com/questions/59146293/cross-repo-branch-policy-build-validation-how-to has the same issue in the answer screenshot

[2020-01-15 16:13] AlexDenton opened #6948 "Mixing template variables with non-template variables"
Some of my variables change between pipelines. Some don't. What I'd like to do is something like:

[code]

If I run that right now I get an error: `Unexpected value 'someVariable1'`.

Is there someway of doing this that I'm just not aware of?

Edit: I botched the sample code and just updated it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-15 16:21] jdzik1001 opened #6949 "'Import Work Items' not available"
I'm unable to see 'Import Work Items' in Azure Devops. Is this a feature that needs to be turned on for certain users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4296d1cc-f211-9d17-d97f-2b0858fdea7d
* Version Independent ID: cc66dfee-adde-cdfb-b3f5-5d58d89d3c81
* Content: [Import or update work items from a CSV fil

[2020-01-15 16:51] msebolt commented on #6933
@Apholisha Thank you for the question, we're sorry you're experiencing issues with the product.

Unfortunately we cannot address potential bugs in the documentation forum, please move the issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team, or let us know and we can move the issue for you.

[2020-01-15 16:54] Hurtyto commented on #5715
Is this available in version 1

[2020-01-15 17:49] brillyints opened #6950 "Two broken image references"
The two images (/project/wiki/media/wiki/open-wiki-vert-brn.png and /boards/media/icons/project-icon.png) in the "Open Wiki" section result in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d4fe5c7-0ab6-a0e4-4a6e-f98d0355f49a
* Version Independent ID: ce022fef-054d-cdc2-43e9-a8ee3b8fb592
* Content: [Publish Mar

[2020-01-15 17:59] chcomley commented on #6869
Hi @ausfestivus, It appears as if this may be some kind of role issue with Postgres, and could be specific to your setup. Since it doesn't particularly have to do with documentation, please submit your issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html). Select **Report a problem**. Thank you.

[2020-01-15 17:59] #6869 closed

[2020-01-15 18:01] chcomley commented on #6881
Thanks for your help, @damccorm. @AaronGomezBHGE, please @mention damccorm if you have any further questions, thank you.

[2020-01-15 18:01] #6881 closed

[2020-01-15 18:04] chcomley commented on #4919
FYI, I've just circled back with the product group - hoping to have an update soon.

[2020-01-15 18:17] hanschristian2710 commented on #6073
I haven't been able to add a hub-group without any hubs beneath it (I want something like the OOB hub "Artifacts" that only display a UI, is that possible? Also I noticed a hub group need to at least have 2 hubs beneath in order for it to display? Any help would be appreciated.

[2020-01-15 18:22] hanschristian2710 opened #6951 "Hub group without any hubs"
I have been trying to add a hub group without any hubs beneath it, but it won't display at all. Is it possible to have a hub group that will only display a specified URL something similar to the OOB hub group "Artifacts"?

I also noticed that a hub group must at least have 2 hubs beneath it in order for it to display? Is this true? I specified 1 hubs and that will never display, but 2 will display

[2020-01-15 18:29] thfsilvab commented on #5652
Also waiting for the ability to manipulate variables from a variable group in a release pipeline. API calls won't work for me in some situations.

[2020-01-15 19:01] kyurthich opened #6952 "Documentation for rollup of remaining work is incorrect."
![image](https://user-images.githubusercontent.com/3331097/72462349-e7b54b00-379e-11ea-8b51-54c0f5916b71.png)

From experience the remaining work column never handles rollups. Rollups are handled by the remaining work rollup column so that would make the screenshot above that is on the document page inaccurate.

If you had 20 in the remaining work column for the PBI then it would actually add to t

[2020-01-15 19:27] WilliamAntonRohm commented on #6931
@bertrandpons, @JonasEggert -- thank you for clarifying.

@RoopeshNair -- please look into this issue.

[2020-01-15 19:34] MarkKennedyAveva commented on #5872
@chcomley  By saying the extension docs are in need of a makeover, are you saying this capability currently exists but it's just not documented yet?

[2020-01-15 19:44] KathrynEE commented on #6468
Closing this issue as the article has been updated with the requested info.

[2020-01-15 19:44] #6468 closed

[2020-01-15 20:00] shashban commented on #5687
This is currently under development, in progress.
We expect to get it wrapped up in a few weeks.
So, Jan release is a little delayed but very much tracked with [Roadmap Item 1663889](https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1663889): Notification for pending approvals

[2020-01-15 20:14] chcomley commented on #5872
Hi @MarkKennedyAveva,
As I understand it, Blazor Server is officially supported in .NET Core 3.0. Blazor Client (Blazor Webassembly of .NET Core 3.0) is slated for May 2020. Here's some more information from the Developer Community and what we currently have documented for building Blazor apps:

- https://developercommunity.visualstudio.com/idea/425875/develop-azure-devops-extensions-using-blazor.

[2020-01-15 20:21] MarkKennedyAveva commented on #5872
@chcomley One of those links is to a question where I was the original poster. Both of the first two links are questions regarding how to do it, NOT documentation on how to do it. The question is, _can_ we build DevOps custom extensions using Blazor? If not, will that be developed and if so, will there be documentation provided?

[2020-01-15 20:50] ausfestivus commented on #6869
Hi @chcomley

Can you please provide some more background to what led you to conclude its a problem with my setup?

Thankfully there hasn't been a repeat of the problem and thats with some very heavy usage/deployment.

[2020-01-15 21:01] WilliamAntonRohm commented on #6909
@springcomp -- pas de problème, et heureux de vous aider!

[2020-01-15 21:03] chcomley commented on #5872
@MarkKennedyAveva,
**Your question:** Can we build DevOps custom extensions using Blazor? If not, will that be developed and if so, will there be documentation provided?
**Answer:** No. There's nothing on the roadmap that refers to its development. The user story that I created for this is closed.  I recommend submitting a new [feature request](https://developercommunity.visualstudio.com/spaces/21

[2020-01-15 21:19] msebolt commented on #6937
@taaariq Thank you for the feedback, assigning this to the author for review.

[2020-01-15 22:40] msebolt commented on #6939
@timothies Thank you for the feedback, we're sorry you're having issues with the code.

This example should be valid according to the [Jobs](https://docs.microsoft.com/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration) documentation, assigning this to the author for further review.

Please note if we are unable to reproduce this issue you will need to contac

[2020-01-15 22:51] msebolt commented on #6940
@lxus  Thank you for the feedback, we're sorry you're having issues with the product.

Please make sure you have [delete permissions](https://docs.microsoft.com/azure/devops/organizations/security/set-git-tfvc-repository-permissions#git-repository) or try [deleting the project](https://docs.microsoft.com/azure/devops/organizations/projects/delete-project).
Unfortunately, our support options are li

[2020-01-15 22:53] chcomley commented on #6869
@ausfestivus, I'm glad there hasn't been a repeat of the problem! I didn't make any conclusions - an engineer contact mentioned that it could be part of your setup. Unfortunately that's all I have.

[2020-01-16 00:36] kraigb commented on #6830
Closing due to lack of response. If follow-up is needed, please reopen.

[2020-01-16 00:36] #6830 closed

[2020-01-16 02:06] dhmorrison opened #6954 "Azure DevOps Helm Errors Link To This Page For "Troubleshooting.""
During the release pipeline, the helm upgrade task fails in a greenfield Azure DevOps Project (node.js, sail, and kubernetes).  First off, it's really not optimal that an Azure "service" fails on its maiden voyage.  The takeaway is that the Azure DevOps Project template needs to be fixed.   Second, when you examine the failure in the release pipeline, there is a "troubleshooting" link that leads h

[2020-01-16 06:46] mregni commented on #4574
@Cherishty , how did you do this? Can't seem to find a way to delete my project administrators myself.

[2020-01-16 07:20] msebolt commented on #6942
@Apholisha Thank you for the question.

Currently anyone with access to the project can view dashboards, please see a similar issue recently posted [here](https://developercommunity.visualstudio.com/content/problem/502594/how-to-block-dash-board-view-permissions.html).

You can submit a request [here](https://developercommunity.visualstudio.com/spaces/21/index.html) if you'd like to have the produ

[2020-01-16 07:21] msebolt commented on #6943
@lvanvugt Thank you for the feedback and provided solution.

Assigning this to the author for further review.

[2020-01-16 07:26] msebolt commented on #6944
@HofmeisterAn Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-01-16 07:27] msebolt commented on #6945
@roman-may Thank you for the feedback, assigning this to the author for further review.

[2020-01-16 07:35] msebolt commented on #6946
@svaenn Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-01-16 07:36] msebolt commented on #6947
@Norrch2 Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-16 07:49] HofmeisterAn commented on #6944
Oh, I didn't know that I could contribute to the Microsoft documentation. Thanks for sharing.

[2020-01-16 07:58] msebolt commented on #6949
@jdzik1001 Thank you for the question, we're sorry you're experiencing issues.

Please make sure you're using **Azure DevOps services**, not **Azure DevOps server**, and [contact the product team](https://developercommunity.visualstudio.com/spaces/21/index.html) for further assistance.

As a work-around, please refer to [bulk add work items with Excel](https://docs.microsoft.com/azure/devops/board

[2020-01-16 08:22] Apholisha commented on #6942
thanks

[2020-01-16 08:22] #6942 closed

[2020-01-16 09:40] ramu20061992 opened #6955 "Git 2.24.0 used by hosted agents is subject to CVE (see description), could you please to get agents updated?"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19604

Agents use git version 2.24.0

[2020-01-16 10:12] Diom opened #6956 "Missing instruction on installing TFX"
This page asks the user to use a `tfx extension create` command but does not instruct the user to actually install that tool:
`npm i -g tfx-cli`

I found the information on another how-to guide but was a bit of a speed bump in my quick start. Luckily it drove me to the comments where I saw I needed a newer NPM SDK as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-16 10:13] Diom commented on #3848
Also hit this speedbump (along with #6956)

[2020-01-16 13:21] syedhassaanahmed commented on #5573
+1
@shashankbarsin I'd suggest please reopen this issue until API documentation on environments/approval checks is available.

[2020-01-16 14:26] jarz commented on #3437
@alexhomer1 I've been trying to find details on this too. Any update?

[2020-01-16 14:43] Petrulak commented on #4562
@WilliamAntonRohm I am having the same issue, I have added  following step to my build pipelin
[code]
And pipeline  throws
`##[error]Error: The process '/usr/local/lib/android/sdk/build-tools/19.1.0/zipalign' failed with exit code 127` .

When I flip `zipalign: false` it works properly.

[2020-01-16 15:38] flmontpetit opened #6959 "Copy-paste mishap"
All three examples use "Bake K8s manifests from Helm chart" as the displayName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d0eccc-f436-7367-cb24-b6da66b3a049
* Version Independent ID: 9bc5ee0d-3f00-dc10-ad69-77effc928290
* Content: [Bake manifests - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pi

[2020-01-16 15:40] #6946 closed

[2020-01-16 15:41] soccerjoshj07 opened #6960 "How to deprecate / un-promote package that was promoted to a view for Maven?"
Is it not possible? I am only allowed to promote but not unpromote / deprecate.

See screenshots:
![Screen Shot 2020-01-16 at 9 41 31 AM](https://user-images.githubusercontent.com/19912012/72539320-be4efa80-3844-11ea-9ddf-6d833f0572b9.png)
![Screen Shot 2020-01-16 at 9 41 40 AM](https://user-images.githubusercontent.com/19912012/72539324-c018be00-3844-11ea-8931-80e62f394513.png)
![Screen Shot 2020

[2020-01-16 15:50] jnm2 commented on #198
@cmontalbo Slack has changed, or the free version is missing something. It doesn't appear to be possible to follow a current equivalent to these directions. Would you please update the instructions?

[2020-01-16 16:18] hecflores commented on #3922
@steved0x not sure if the question from @alloro was answered but I had the same query. When can we expect pr triggers defined in yaml to be enforced for azure devops git repos? Please tell me it's in the road map to support one of the best features in the in house repo inside if azure devops.... just confused why its not...

[2020-01-16 16:24] raydixon opened #6961 "Note about Microsoft Edge browser support is missing link"
The note near the top of the page that reads as follows is missing a hyperlink.

"Microsoft Edge browser currently cannot be run in the headless mode. To follow developments in this space, see this user voice item."

There is no link and it is unclear where I should go to find/follow developments on UI testing using a Microsoft Edge (old or the new Chromium-based version).

---
#### Document Detai

[2020-01-16 16:55] soccerjoshj07 commented on #2700
@elbatk  , the [Maven Authenticate Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/maven-authenticate?view=azure-devops) worked great for me!