[2019-11-18 21:27] #6401 closed

[2019-11-18 21:30] WilliamAntonRohm commented on #6402
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-11-18 21:30] #6402 closed

[2019-11-18 21:34] WilliamAntonRohm commented on #6403
@avivanoff -- Thanks for your question.  Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@chcomley -- please look into potential documentation impact.

[2019-11-18 21:36] WilliamAntonRohm commented on #6400
It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

@RoopeshNair -- fyi

[2019-11-18 21:36] #6400 closed

[2019-11-18 21:38] ayoubensalem commented on #5409
This feature would be very helpful !!

[2019-11-18 21:41] NenoLoje commented on #5409
Great. If you want it, make sure to add your vote at: https://developercommunity.visualstudio.com/idea/717570/pipelines-support-variables-in-yaml-trigger-path-f.html

That's where your voice counts. :)

[2019-11-18 21:42] macjustice commented on #6168
I'm seeing the same behavior on a MacOS host.

[2019-11-18 22:26] WilliamAntonRohm commented on #6404
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-11-18 22:26] #6404 closed

[2019-11-18 22:28] WilliamAntonRohm commented on #6387
@ctahok -- thanks for your question. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @apawast -- please look into potential documentation impact.

[2019-11-18 22:47] shubham90 commented on #5880
I have attached a temporary solution to this issue in the description. Please run the attached script and provide the correct org name, project name(if any), feed name and PAT to permanent delete the feed from recycle bin.

[2019-11-18 23:26] munnja001 commented on #5837
Any update on using this with containers published to ECR?

[2019-11-19 01:09] MartinaMS commented on #6276
@Thilas -- Currently this feature only works for the older pipelines but there are plans to add this feature to the multi-stage pipelines by end of this year.

[2019-11-19 01:35] #6276 closed

[2019-11-19 03:31] apawast commented on #6229
@soulis64 @haep1 @WilliamAntonRohm Thank you for pointing out the issue and I apologize for your inconvenience! I am not updating the docs because we will be shipping this fix soon!

[2019-11-19 05:58] #5584 closed

[2019-11-19 06:29] msebolt commented on #6297
@jeffw-wherethebitsroam Sorry for the delay on this, are you able to get the example working?

*.runsettings* is specific to Visual Studio, refer to [Configure unit tests](https://docs.microsoft.com/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file).

In your case you should be able to remove all arguments except `--CollectCoverage true`.

[2019-11-19 06:53] Thilas commented on #6276
Thank you for the answer.

[2019-11-19 07:00] msebolt commented on #6357
Closing this now, please comment below if there are any further issues.

[2019-11-19 07:00] #6357 closed

[2019-11-19 07:42] #6383 closed

[2019-11-19 08:14] jawn opened #6405 "Add YAML example for self-hosted agent or pool"
The only way I found in this page to specify an agent is for hosted agents.

This block mentions you can set up a self-hosted agent and links to how you can set those up and their capabilities.

What I would expect from this page
* An example of how to explicitly specify which hosted agent (or pool) is being used. If multiple ways exist, explain them.

---
#### Document Details

⚠ *Do not edit thi

[2019-11-19 08:28] jawn commented on #6405
Seems like the missing info is here

![image](https://user-images.githubusercontent.com/1705112/69129565-e9b8a180-0aae-11ea-82a5-251b68437ffc.png)

https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pool

[2019-11-19 09:01] Shortcheese commented on #6031
We have the same issue everytime the agent version upgrades (even prereleases).
And Azure it self doesn't prompts that we uses an old version of the agent.

[2019-11-19 10:14] ehabterra opened #6406 "How can I set different values for the same variable in different JSON files."
I have multiple settings.job for 3 web jobs every file has its own schedule:
[code]
How can I set different schedule for each web job file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f14deae3720
* Content: [File transforms and v

[2019-11-19 10:27] pmthexton opened #6407 "Modify ServiceHooks permissions for groups instead of user"
I'm not sure where the best place to submit this is, so raising here in lieu of a better place.

In the Q&A section for service hooks overview, you give an example of using tfssecurity.exe to allow a specific user rights for Edit subscriptions & View subscriptions.

Is it possible to do this to allow a Group these permissions, to allow for more flexible/manageable configuration?

---
#### Document

[2019-11-19 10:57] ivanignatiev opened #6408 "Self-hosted agent and Linux/Windows containers on Windows Server 2019"
Hello,

Is there a documentation to launch the Azure Pipelines jobs on containers Linux and Windows on Windows Server 2019 ?

Is it supported by self-hosted agent or we just must prepare our own image and run the agent inside containers?

Thank you !

Best regards,
Ivan Ignatiev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-19 11:07] smetsth commented on #3370
@denhsu Are you running the agent on production?

[2019-11-19 12:05] geverghe commented on #6339
This is a known issue that we have a dependency on Azure CLI - https://github.com/Azure/azure-cli/pull/10777. Should be fixed once the latest version is available.

[2019-11-19 12:26] schellem commented on #6371
@CarlRabeler correct

[2019-11-19 12:48] NenoLoje commented on #6397
@chcomley - Follow-up question. I see the support link is now: https://visualstudio.microsoft.com/vs/support/#talktous

Is this the most appropriate place? I would think that issues with Azure DevOps Server/TFS Code Search, might be better suited at: https://azure.microsoft.com/en-us/support/devops/, no?

[2019-11-19 13:12] AnorZaken commented on #3520
Had the same problem on git 2.7.x
Upgraded to git 2.24
Made a new repo, imported submodules with relative url from the start (instead of manually editing the .gitmodules file).
The most important point is that the .gitmodules file looks exactly the same - but it magically works now when done with a newer git version.
Honestly I have no idea why it works, .gitmodules looking the same and all, but I

[2019-11-19 14:38] riedgar-ms commented on #6400
Apologies for the misfiling. Have opened issue on the developer community as suggested. Thanks.

[2019-11-19 15:10] vtbassmatt commented on #5409
Fix in progress

[2019-11-19 15:10] #5409 closed

[2019-11-19 15:26] greggboer commented on #6335
I apologize. The doc is incorrect. We currently limit expands to a max levels of 1.
To make the doc correct, we should
Remove the "levels=max" from the query statement
Remove the second level of Parents from the result set.

![image](https://user-images.githubusercontent.com/1141784/69160170-f1bc1580-0a9d-11ea-900f-624967d46235.png)

[2019-11-19 16:05] wlongxiang commented on #4187
I got the same problem here

[2019-11-19 16:25] michaelmj opened #6409 "MacOS support for Python Task"
The "Note" states Python task is not available on macOS, but 10.13 and 10.14 explicitly state that it's available in the Microsoft hosted agents : https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.14-Readme.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d52f9bd-a63c-d65

[2019-11-19 16:39] PaulDavidsonNI opened #6410 "Method to Permanently Disconnect File from Azure Boards and TFS"
If I want to share the exported Excel file with others, I should be able to permanently break the TFS connection so they don't accidentally publish changes.  Otherwise, I would have to manually copy into a new workbook and set it up.  CSV export option doesn't provide the formatting that the Excel option does.  Instructions on how to do that should be included to or linked to in this topic.

---
#

[2019-11-19 16:57] SebastianSchuetze commented on #6231
Thanks! This helped. I suggested an update on the documentation based on your links!

[2019-11-19 17:11] spottedmahn opened #6412 "Multiline string support"
In the [string section](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#string), what about adding some documentation for using multiline strings?

[code]
Reference: [Multiline string in Azure Pipelines](https://stackoverflow.com/a/58824860/185123)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-11-19 17:22] spottedmahn opened #6413 "Old screenshot for external guest access"
Under the [prerequisites](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/add-external-user?view=azure-devops#prerequisites) there is an outdated screenshot.

**Current one:**
![image](https://user-images.githubusercontent.com/14079228/69169997-50e25000-0ac7-11ea-9a78-2d8977e6089a.png)

**My View:**
![image](https://user-images.githubusercontent.com/14079228/69169962-3f994380-

[2019-11-19 18:42] nanderson-gy commented on #3702
+1 we need this as well

[2019-11-19 19:34] KathrynEE commented on #6335
@iamwyza - Thank you for your feedback. We are updating the article today.

[2019-11-19 19:34] #6335 closed

[2019-11-19 20:16] chcomley commented on #6231
Thanks for your collaboration and update, @SebastianSchuetze! I've just approved the PR. Have a great day!

[2019-11-19 20:16] #6231 closed

[2019-11-19 20:41] msebolt commented on #6405
@jawn  Thank you for the feedback and for providing the solution.

The documentation has been updated and is pending review.

[2019-11-19 20:50] msebolt commented on #6406
@ehabterra  Thank you for the question.

Unfortunately, this question isn't an issue with the documentation the support options are limited.

Instead, please move this issue to either:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

Alternatively, use **Suggest a feature**

[2019-11-19 21:20] msebolt commented on #6409
@michaelmj  Thank you for the feedback.

The note should be updated to reflect that **both** 32-bit and 64-bit are supported on Windows (see [Readme.md](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2019-Server2019-Readme.md)), whereas Mac and Linux only offer 64-bit.

Assigning this to the author for review.

[2019-11-19 21:21] msebolt commented on #6409
Including @brcrista

[2019-11-19 21:34] WilliamAntonRohm commented on #6400
@riedgar-ms -- Richard, no problem!  Thank you for creating that issue.

[2019-11-19 21:36] wlongxiang opened #6415 "Add a simple example for docker compose task"
Can we add a simple runnable example for the docker compose task here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e2e5ad-709e-a751-8cd6-1e1b25147bd1
* Version Independent ID: 225d70c4-0591-5b9f-260a-7ae890903bde
* Content: [Docker Compose task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipel

[2019-11-19 21:56] msebolt commented on #6408
@ivanignatiev Thank you for the question.

Typically the agent will run the container and you specify either your own or a pre-built image, see [azure-pipelines-image-generation](https://github.com/microsoft/azure-pipelines-image-generation).  Also note that containers are not currently supported on MacOS agents.

However, for added flexibility containers can also run agents, see [Running a self-h

[2019-11-19 22:05] msebolt commented on #6407
@pmthexton  Thank you for the question.

For further information on using *tfssecurity.exe*, please refer to [Use TFSSecurity to manage groups and permissions](https://docs.microsoft.com/azure/devops/server/command-line/tfssecurity-cmd) and post any additional questions below.

Groups in particular has its own command set, see section [groups](https://docs.microsoft.com/azure/devops/server/command

[2019-11-19 22:09] msebolt commented on #6410
@PaulDavidsonNI Thank you for the feedback, assigning this to the author for review.

Please consider submitting your TFS connection suggestion to our product team using the **Suggest a feature** tool in [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html).

[2019-11-19 22:16] msebolt commented on #6412
@spottedmahn Thank you for the suggestion, assigning this to the author for review.

[2019-11-19 22:17] PaulDavidsonNI commented on #6410
FWIW I eventually found the solution on Stack Overflow: https://stackoverflow.com/questions/7877040/how-can-i-make-an-excel-sheet-forget-that-it-was-generated-from-tfs?rq=1

1. Click on a cell in the table
2. Open the Table Design tab on the ribbon
3. Click "Convert table to range"
4. Save the workbook

[2019-11-19 22:18] chcomley commented on #6413
Hi @spottedmahn,

Thanks for the heads up. I've added a preview image in a PR, which will be live today. Thanks again!

[2019-11-19 22:21] scycer commented on #6349
I have the same question, i had to revert the pipeline to get back the tasks in the old form (decomposed)

[2019-11-19 22:49] #6405 closed

[2019-11-19 23:03] #6413 closed

[2019-11-19 23:48] BlairMcc commented on #6001
Hi @codylund

I am still having no luck after being forced to revisit this issue today

The output of parameters.localProjects is "core,customer"

[code]

![image](https://user-images.githubusercontent.com/16471369/69196677-0549a800-0b94-11ea-9df8-65d6aa42409b.png)

Task always jumps from Why be difficult to Use Nuget 4.9.4 in the next phase. I never see Hello from param or var

[2019-11-20 00:55] Darko-git opened #6416 "What activity icon?"
My profile page does not resemble anything described here. I could have sworn that I used to see these options but not anymore. Is this page out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f95345-6686-8e29-ff3f-cbea4a6eb24d
* Version Independent ID: 695d975e-ea9b-139b-4f98-f9655a751f59
* Content: [Turn pr

[2019-11-20 01:21] Darko-git commented on #6416
And it is 'action icon' not 'activity icon'. On my profile page I see some settings for Bookmarks, Connections... looks like a profile page for a social media app. Settings contain some email and notification preferences. Nothing resembling the screenshots on this page.

[2019-11-20 04:52] msebolt commented on #6415
@wlongxiang Thank you for the suggestion, assigning this to the author for review.

[2019-11-20 04:53] msebolt commented on #6416
@Darko-git Thank you for the feedback, assigning this to the author for review.

[2019-11-20 08:02] cforce commented on #6021
So there is no documentation but i need to ask on stackoverflow and hope someone  might know. That in in fact no satisfying experience :/

[2019-11-20 09:00] nerijusk opened #6417 "Click on "Generate Maven Credentials""
This button is nowhere to be found as described in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03a84e2-22c7-6899-5ac1-c1ed79c05ba6
* Version Independent ID: 405e0a0e-b12b-3fd3-7135-5deb022cd9c3
* Content: [Use Maven artifact feeds - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/

[2019-11-20 10:31] felaray commented on #4082
same problem

msg:

`# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfigurat

[2019-11-20 11:55] evmimagina opened #6418 "Agent IP ranges not clear"
Hi,

The list that references the Azure Services IP ranges… there's no category for Azure Devops Agents VMs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61db3371-6395-88a2-fb78-09f98790ab1b
* Version Independent ID: ef6f1bf7-02b8-9093-b84e-c9bde7d98e57
* Content: [Microsoft-hosted agents for Azure Pipelines - Azure P

[2019-11-20 12:28] simonauner commented on #5197
Same problem here. Trying to to use `$[dependencies.Build_publish.outputs['scriptPackageSuffixes.octopusPackageVersion']]` as a variable in the `inputs` section of a task only prints the raw text, not the computed value.

[2019-11-20 12:40] spottedmahn commented on #6413
nice, thanks @chcomley 👍

[2019-11-20 12:44] spottedmahn opened #6419 "External users when backed by Azure and not backed"
There seems to be a difference when adding users when backed by Azure AD and not backed by Azure AD.

For example, I have a business and personal account, XXXXXXX@XXXamerica.com, and when backed by Azure AD adding my email uses my business account.  When not backed by Azure AD, Azure DevOps uses my personal account.

What about documenting that behavior?

Thoughts? 💭

---
#### Document Details

⚠

[2019-11-20 14:34] cacti77 opened #6420 "Forward slashes or back slashes as path separators?"
Some of the examples on this page use a backslash (\) as the path separator whilst others use a forward slash (/).  Does it matter which one you use?  At https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops#slash it says you should use a forward slash, even on Windows platforms. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-20 14:46] cacti77 commented on #6420
Ok, sorry I just spotted this on the page under https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/copy-files?view=azure-devops&tabs=yaml#arguments:

Still, that does conflict a bit with the page that it links to in the Q&A section at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/copy-files?view=azure-devops&tabs=yaml#where-can-i-learn-more-about-file-mat

[2019-11-20 15:37] Crayeth opened #6421 "helmVersionToInstall is ignored, installs helm 3.0.0 and breaks instead"
We used to have a working pipeline that installs helm 2.14.3 but now for some reason the helmVersionToInstall is ignored, my pipeline reports installing helm 3.0.0 and then tripping over options it doesn't know (--save).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e81d5c7-25b8-e6b2-6184-411cd62922be
* Version Indep

[2019-11-20 16:54] juliakm commented on #5093
Thanks for flagging this. I'm working to get more information from the product team on what should be possible with nested variables.

[2019-11-20 17:00] CarlRabeler commented on #6371
sent e-mail to listed author

[2019-11-20 19:39] yangao22 opened #6422 "Using other repositories: How to use variables"
[code]

I want to use the variable `branchname` for my template repo's branch, and I got the error

If the branch name is hardcoded in repository.ref, it works. Assume the branch exists on the repo and no typo.

What's the correct format of using variables using other repositories?

[2019-11-20 19:45] brandywineriver commented on #5221
I'm also seeing the same as beavel.  The workarounds above do not work for me, however.  I'm currently stuck with no way to run the build.

[2019-11-20 20:12] nspiteri opened #6423 "Selecting Agent at runtime"
In classic way of creating pipelines, one could select the agent pool at runtime.

This had the added benefit that if I ran out of agents in my hosted pool, I could run it off my self hosted ones.

How do I do this in the Yaml pipelines?

I tried making the pool variable parametrized using expressions but after several attempts I have concluded that the variable would be a runtime variable while t

[2019-11-20 20:15] soccerjoshj07 opened #6424 "No longer in private preview?"
This was announced in Sprint 159 so it no longer seems it is in private preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4296d1cc-f211-9d17-d97f-2b0858fdea7d
* Version Independent ID: cc66dfee-adde-cdfb-b3f5-5d58d89d3c81
* Content: [Import work items from a csv file through the web - Azure Boards](https://docs.m

[2019-11-20 21:49] #6389 closed

[2019-11-20 23:41] vinyar opened #6425 "Are users charged only for storage of packages? How about upload/download?"
All of the pricing verbiage on this page is centered around 2GB free storage and then sliding scale.
It's unclear if there are any charges for upload/download of packages.

My use case example: I am looking to build 80 packages nightly on my server that lives outside of azure, and then upload all of the artifacts to azure. Lets say I have 8 GB transfer (4 in, 4 out) and 3 GB storage.

What exactly

[2019-11-20 23:54] vinyar commented on #6425
All of the cloud hosting solutions explicitly call out transfer and hosting prices separately, or at least acknowledge that there is a price associated with transfer if their services are not used for deployment.

To sum it up. There are 3 components of pricing, but the article only references one:
Upload - do you charge for uploading artifacts?
Storage - this is addressed
Download - do you charge

[2019-11-21 00:20] KathrynEE commented on #6416
@Darko-git - Thank you for your inquiry. The profile menu did recently change. I am updating the article now to reflect these recent changes. You can get to the Preview features by clicking on the ... actions icon from the profile menu and choosing **User settings**, and then **Preview features**.

![open-preview-features-s161](https://user-images.githubusercontent.com/10856840/69289452-66cc3f80-0

[2019-11-21 00:20] #6416 closed

[2019-11-21 00:22] ausfestivus opened #6426 "Typo in path for System.DefaultWorkingDirectory"
Page says `System.DefaultWorkingDirectory - c:\agent\_work\1\s`

Pretty sure its supposed to be `System.DefaultWorkingDirectory - c:\agent_work\1\s`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d3469c-83c2-c2f6-41d0-08f82c330bbc
* Version Independent ID: a373c48d-6395-3002-d2d8-bbc1fea2e48e
* Content: [Predefined v

[2019-11-21 01:22] Darko-git commented on #6416
I am not sure why this is closed, I cannot see what you are showing me.

This is what I see:
![image](https://user-images.githubusercontent.com/5216705/69292181-4eacee00-0bba-11ea-985d-203ad04c7438.png)

[2019-11-21 01:24] Darko-git commented on #6416
Thanks, I was trying to change this on the docs page which apparently has nothing to do with devops.

[2019-11-21 01:43] wwinogrodzki commented on #6033
No matter what I do, I always get SSH authentication failure; or password prompt on https (password to what?). I'm on Catalina. NO TOOL works. VS, VS Code, Rider, sh, power shell: all fail the same way. Needless to say, on Windows it just rocks.

[2019-11-21 04:39] #6384 closed

[2019-11-21 04:40] #6385 closed

[2019-11-21 04:41] #6406 closed

[2019-11-21 04:41] #6407 closed

[2019-11-21 04:42] #6408 closed

[2019-11-21 06:19] aktzbn opened #6427 "'artifact.upload' instead of 'PublishTestResults@2'"
Example for 'artifact.upload' contains 'c:\testresult.trx'.  Does it mean that it is possible to use 'artifact.upload' instead of 'PublishTestResults@2'  task  without specification of format of a test report ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf0bbb-8b63-6384-aa33-b5b1e2b8cfe3
* Version Independent ID:

[2019-11-21 06:34] mydiemho commented on #5327
@chefnobody a few possible reasons for your error:

1) You could be using an email with invalid syntax https://www.jacobbenson.io/index.php/2018/10/03/ssh-key-must-be-encoded-in-base64-when-adding-ssh-public-key-to-azure-linux-vm/

2) How did you copy the key? There could be extra spaces.  If on a mac, I would recommend running `cat ssh_key.pub | pbcopy`.  https://community.intersystems.com/post/s

[2019-11-21 07:13] libihan opened #6428 "Push size is limited to 5GB at a time ? Is it true ?"
I tried in my machine and encountered the following two scenarios:
1) I have many files whose size is less than 100M, but the total size is 7G --&gt; I can push them at a time successfully
2) I have many files whose size is about 400M, but the total size is 4G --&gt; I can't push them at a time successfully, but only when I reset http.postBuffer, I can push them successfully.

So what the 5GB limi

[2019-11-21 08:45] benc-uk commented on #6350
Any response?
Linking pipelines together is practically pointless if you can not pass information like build-id between them

[2019-11-21 08:48] benc-uk commented on #6363
All the docs for this feature are really missing a lot of important information and examples

[2019-11-21 09:17] rohancragg commented on #4845
@chcomley this isn't a 3rd-party extension for Azure DevOps, but I agree there's no required configuration in Azure DevOps itself so probably not content for this area of the Docs. The workaround is a configuration made in Conditional Access (Azure Active Directory).

The information perhaps best belongs in the Azure Databricks documentation (probably here: https://docs.microsoft.com/en-us/azure/d

[2019-11-21 10:45] vtbassmatt commented on #6423
We have a feature coming early next year which will make this possible in YAML. Right now, you're correct - it's more or less not possible to override the pool at queue time.

[2019-11-21 10:45] #6423 closed

[2019-11-21 10:59] rolfik opened #6429 "How to associate Environment with Release Stage with classic UI (without yaml)?"
Is it possible to associate an Environment to a Release stage using UI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252
* Version Independent ID: 0a22cccc-318d-592f-d1ab-09ec01d88087
* Content: [Environment - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/pr

[2019-11-21 11:10] rolfik opened #6430 "How to add Release stages to a release to target some environments?"
When we make a release we would like to add additional stages representing deployments to some production environments.
It suggests itself to define our production environments first in Environments and than in a Release prepare the software from a build, test, etc., and than later add multiple stages to already run Release representing ad-hoc deployments to some of the production environments def

[2019-11-21 11:27] RoopeshNair commented on #6429
Environments is YAML only concept and it is not supported in claissic. Deployment group is option however, it is focused only on VM resource

[2019-11-21 11:27] #6429 closed

[2019-11-21 11:46] orhanmaden commented on #5737
An example should be nice

[2019-11-21 11:48] rolfik commented on #6429
Then it would help to state it in bold on this page:
Environments are only supported in yaml pipelines

[2019-11-21 12:35] JasperCodes opened #6432 "'Insufficient privileges to complete the operation.' when attempting operations in a subscription/tenant that is not defined in the service connection"
I'm using a AzurePowerShell@4 task with a working service connection for tenant A. Somewhere in this pipeline I want to perform operations in tenant B (for which I don't have a service connection configured).

I can succesfully use `Connect-AzAccount` to connect to tenant B with the proper credentials, but when I want to perform any operation in tenant B I get an 'Insufficient privileges to comple

[2019-11-21 12:47] evmimagina commented on #3491
Hi,

Using KV Secret on "Azure SQL Task" Inline Script doesn't work.
E.g.
this is the Azure SQL Task Inline Script;
"
CREATE USER username WITH password='$(db-password)';
ALTER ROLE db_owner ADD MEMBER username;
"

The $(db-password) is the value stored in the key vault, but it doesn't expand properly.
I've tried creating a new variable on a previous step in a powershell task with that value;

"
w

[2019-11-21 13:44] M0ns1gn0r opened #6434 "Linux is not supported by the task"
That is not correct. The task works only on windows agents.

I tried to execute it on a ubuntu-latest and got: `The current operating system is not capable of running this task. That typically means the task was written for Windows only. For example, written for Windows Desktop PowerShell.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-11-21 14:07] rlvandaveer opened #6435 "Out of date"
This document is out of date. Specifically this section: https://docs.microsoft.com/en-us/azure/devops/organizations/settings/work/import-process/import-process?view=azure-devops#import-a-process

![Process Import Dialog](https://user-images.githubusercontent.com/3236183/69346933-a2aee580-0c41-11ea-8e68-91496ac93605.png)

What does not checking "Replace existing template" do, create a copy of the

[2019-11-21 14:20] vishaleclass opened #6436 "Build getting failed with Code Signing Error"
I have followed all mentioned step but my Xcode build is getting failed with below error.

Check dependencies
Code Signing Error: No profiles for 'com.abc.xyz.dev' were found:  Xcode couldn't find any iOS App Development provisioning profiles matching 'com.abc.xyz.dev'. Automatic signing is disabled and unable to generate a profile. To enable automatic signing, pass -allowProvisioningUpdates to xc

[2019-11-21 15:31] chcomley commented on #6425
Hi @vinyar, Thanks for reaching out. We only charge you for storage. We don't charge for uploading artifacts or downloading packages. We'll charge you for the 3 GB of storage only. I'll make this more clear in the doc. I'll be closing this issue, however please @mention me if you have any further questions! Thanks!

[2019-11-21 15:31] #6425 closed

[2019-11-21 16:20] niadak commented on #6432
It is not recommended to connect to a different subscription other that which is specified in the service connection in azurePowerShellV4 task.
You can do one of the following:
1.	Create a new service connection for subscript B as he already has the required credential and use that in AzurePowerShell task.
2.	Use simple PowerShell task (instead of AzurePowerShell task) to connect to subscription B

[2019-11-21 16:41] PirateBread commented on #4524
Microsoft are incredibly confused about their build agent strategy. Deprecating the Docker agents in favour of Packer was a terrible idea considering how much more effort Packer builds in comparison.

The Dockerhub images and the Helm chart were perfect, easily integrated into things like Kubernetes or ACI. Literally took 5 minutes effort to deploy build agents across our clusters.

Now we have to

[2019-11-21 16:50] KSchlobohm opened #6437 "Not clear how to consume build artifacts without an extra step"
Documentation shows that you can download the build artifacts using the `DownloadBuildArtifacts` task which allows you to specify the folder where the content is stored.

However, when using the `Deployment` task the build artifacts are downloaded by default to a directory which does not appear to by specified by a [predefined variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/build

[2019-11-21 16:53] emptypockets304 opened #6438 "Required Permissions"
To subscribe to a pipeline, the account signed into the Azure Pipelines teams app 'must be an admin' of the project containing the pipeline, but it's not clear exactly what this means. I've added the account to some of the built-in groups, including 'Build Administrators' and 'Release Administrators' but neither grants the necessary access to subscribe to a pipeline. The only other possible group

[2019-11-21 17:00] chefnobody commented on #5327
Hi @mydiemho, thanks for the reply.

I figured out the issue by digging through the code. There were spaces in my key, that appeared to be spaces when you pasted the key into the Task. However, the JS code that splits the key on the spaces was failing because the spaces in my key _weren't actually_ spaces. Replacing these "rogue" spaces with actual spaces and trying the Build Pipeline again resolv

[2019-11-21 17:48] firestonem commented on #6070
I was able to get it working by bind mounting both the docker socket and the docker command from the host:

- /var/run/docker.sock:/var/run/docker.sock
- /usr/bin/docker:/usr/bin/docker

[2019-11-21 18:24] eric-labelle opened #6439 "Is it possible to use Build Completion trigger for PR Build validations?"
Hi! I am using the "Build Completion" trigger for our pipelines and was wondering how if at all possible can I achieve this also in the context of a PR using [Build Validations](https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies?view=azure-devops#build-validation).

From what I've experienced I only can set automatic or manual trigger.  (_Both are required_)
* Setting it to **

[2019-11-21 18:47] msebolt commented on #6422
@yangao22 Thank you for the question.

Please see if [Shared variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#share-variables-across-pipelines) can address the issue.

Note the use of shared variables is limited and though currently on the road map to be expanded, see [here](https://developercommunity.visualstudio.com/idea/365522/al

[2019-11-21 18:51] uniquelau commented on #5773
Huh? Links don't go anywhere useful?

[2019-11-21 18:54] palladia opened #6440 "server URL for mscodehub"
Followed directions for Self-hosted Linux agent...

Our project is on mscodehub, so PAT had to be created on https://mscodehub.visualstudio.com/{Project Name}.  I downloaded the agent tar.gz file, unpacked it, and ran config.sh.  But when it asks for server URL, I couldn't get it to accept my mscodehub.visualstudio.com address, nor the suggested dev.azure.com address.

The log file shows that GET

[2019-11-21 18:57] msebolt commented on #6424
@soccerjoshj07 Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-21 19:01] ViralSymphony opened #6441 "Stage Owner Deployment Notifications Not As Expected"
The documentation for classic pipelines under Specifying Stages says "Stage owners are notified whenever a deployment of a release is completed to that stage"

OOB, this doesn't seem to be the case - we have defined stage owners and they only receive notifications on failed deployments that make the environment unhealthy. The page at https://docs.microsoft.com/en-us/azure/devops/notifications/oob-

[2019-11-21 19:03] yangao22 commented on #6422
@msebolt thank you for the reply, but shared variables cannot fix this issue.

Some people report this is an issue: https://developercommunity.visualstudio.com/content/problem/815706/cannot-use-a-variable-under-resourcesrepositoriesr.html
Seems it won't be fixed or implemented. But at least the document should mention that there's no way to use variables in the resource/repositories/repository/ref

[2019-11-21 19:23] msebolt commented on #6422
@yangao22 Sounds good, thank you for confirming.

Assigning this to the author of [Variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) for review.

[2019-11-21 19:31] msebolt commented on #6426
@ausfestivus Thank you for the feedback.

The documentation has been updated and in pending review.

[2019-11-21 19:37] chcomley commented on #6403
Hi @avivanoff, Thanks for reaching out. Does this help? [Download Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops) Thanks!

[2019-11-21 19:44] msebolt commented on #6427
@aktzbn Thank you for the feedback.

Since this question goes beyond the scope of the provided example it would be better geared towards the tasks repo.

Can you please move this to the [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues) issues?

Including @thomps23

[2019-11-21 20:43] Tetradeus commented on #5737
Yes it just seems to not work. Please could you add an example?

[2019-11-21 20:45] placidseven opened #6443 "Secret Variables value cannot be used in pipeline"
Your document states "We will not ever mask substrings of secrets. If, for example, "abc123" is set as a secret, "abc" will not be masked from the logs." This isn't true.

This works: ***
This does not work:
This works: ***

The value can't be used in Azure Powershell

- task: AzurePowerShell@4
  env:
      MY_MAPPED_ENV_VAR: $(secret)
  inputs:
    azureSubscription: '****************************

[2019-11-21 20:56] placidseven commented on #6443
When I attempt to use the secret to create key vault secret:

Set-AzureKeyVaultSecret -VaultName $vmVaultName -Name $vmName -SecretValue $env:ADMINPASSWORD -ErrorAction SilentlyContinue

##[error]Cannot bind parameter 'SecretValue'. Cannot convert the "***" value of type "System.String" to type "System.Security.SecureString".

How am I supposed to use the secret?

[2019-11-21 21:18] msebolt commented on #6428
@libihan  Thank you for the question.

To address the first point, the individual file limit is `5GB` and the overall limit is `10GB` so this scenario is acceptable.

As to the second point, the `http.postBuffer` setting is more a reflection of Azure's [rate limits](https://docs.microsoft.com/azure/devops/integrate/concepts/rate-limits?view=azure-devops), a somewhat vague blend of CPU and throughp

[2019-11-21 21:56] msebolt commented on #6430
@rolfik  Thank you for the question.

Please refer to the multiple stage example in [Stages](https://docs.microsoft.com/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml). Here you will be able to add multiple environments as per [this example](
https://docs.microsoft.com/azure/devops/pipelines/process/environments?view=azure-devops#targeting-an-environment-from-a-deployment-job).

[2019-11-21 22:05] msebolt commented on #6432
@JasperCodes  Thank you for the question.

@niadak Thank you for your response.

Unfortunately any resolution to this issue requires input from the product team and should be moved to [azure-pipelines](https://github.com/microsoft/azure-pipelines-tasks/issues) repo.

Please move the issue there for continued discussion.

@thomps23

[2019-11-21 22:12] flamtapgt opened #6445 "Need more details about behavior when 'batch' is true in triggers"
How does the pipeline behave for a push trigger when batch is true? Does it wait until the current job on the pipeline completes before starting the next one, or will it use all available agents before batching commits? Or some other behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7458d5b2-1bb7-7d87-7ce6-2b0c4

[2019-11-21 22:16] msebolt commented on #6434
@M0ns1gn0r Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-21 22:21] msebolt commented on #6435
@rlvandaveer Thank you for the feedback, assigning this to the author for review.

[2019-11-21 22:39] msebolt commented on #6436
@vishaleclass Thank you for the feedback, we're sorry you're experiencing issues.

Please see if [this post](https://developercommunity.visualstudio.com/content/problem/156393/codesigning-on-hosted-macos-preview-doesnt-find-in.html) resolves the error and note that if the issue requires specific user-case settings, you can use the [Azure DevOps community](https://developercommunity.visualstudio.co

[2019-11-21 23:07] reggaeguitar opened #6446 "Small typo"
"and restrict deployments into or out of an stage using"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63234ade-28cc-02fc-a319-42e3491da601
* Version Independent ID: 7ccbfe96-d61e-8bf2-de22-61150d648abd
* Content: [Release pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/?vi

[2019-11-21 23:10] reggaeguitar opened #6447 "Link should be higher"
When I first started reading this page I was confused about the terms which the link about the "difference between a release and release pipeline" helped clarify. That link should be much higher up on the page in my opinion, or even better have a glossary at the beginning explaining the terms like "deployment", "release", "release pipeline", "artifact" etc

---
#### Document Details

⚠ *Do not edi

[2019-11-21 23:22] reggaeguitar opened #6448 "Small typo"
"There may be queuing policies defined for an stage"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f3fff1a-f727-649e-fe35-5a2a879b4c19
* Version Independent ID: 99485814-29e5-76a4-0d1d-7637ef5907d2
* Content: [Understand releases and deployments - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelin

[2019-11-21 23:24] reggaeguitar commented on #6446
This too "modeled within an stage"

[2019-11-21 23:30] reggaeguitar commented on #6446
Another one "deployment status of the each commit"

[2019-11-21 23:38] avivanoff commented on #6403
@chcomley, no, it does not. I am using [.NET Client Libraries for Azure DevOps Services (and TFS)](https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/dotnet-client-libraries?view=azure-devops) to access Azure DevOps.

[2019-11-21 23:59] msebolt commented on #6437
@KSchlobohm Thank you for the feedback, assigning this to the author for review.

For needed predefined variables, consider using **Suggest a feature** in the [Visual Studio community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) to hear from the product team.

[2019-11-22 00:12] marvhen commented on #2995
I have found that the verbosity of this task increases if you "Enable system diagnostics" when you run the pipeline.

[2019-11-22 00:21] KathrynEE commented on #6410
@PaulDavidsonNI - Thank you for the feedback. I have made a note to update the article with the missing information.

[2019-11-22 00:21] #6410 closed

[2019-11-22 00:24] Izzmo commented on #4851
I will get you this soon.. sorry I need to recreate this as it's pretty old and we went a different direction.

[2019-11-22 01:21] #6424 closed

[2019-11-22 02:58] msebolt commented on #6439
@eric-labelle Thank you for the question.

Please see if [this post](https://stackoverflow.com/questions/52940355/resetting-build-policy-on-branch-update-in-vsts-azure-devops) or https://github.com/Microsoft/azure-pipelines-yaml/issues/117 addresses the issue.

Workarounds are provided in each case, though unfortunately the feature is unsupported at this time.

@apawast

[2019-11-22 03:41] #6426 closed

[2019-11-22 03:52] msebolt commented on #6440
@palladia  Thank you for the feedback, we're sorry you're experiencing issues.

The issue was reported previously [here](https://developercommunity.visualstudio.com/content/problem/444257/unable-to-access-devazurecom.html), please see if this addresses the problem.

If not, you'll need to report this to the product team using **Report a problem** in the [Azure DevOps community](https://developerco

[2019-11-22 04:09] msebolt commented on #6446
@reggaeguitar Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-22 04:15] msebolt commented on #6448
@reggaeguitar Thank you for the feedback.

Changes are pending review.

[2019-11-22 04:17] msebolt commented on #6447
@reggaeguitar Thank you for the feedback, assigning this to the author for review.

[2019-11-22 04:19] msebolt commented on #6441
@ViralSymphony Thank you for the feedback, assigning this to the author for review.

[2019-11-22 04:59] fafa-npu opened #6450 "Doc for Service Hooks hasn't been updated since 2016, and they have added more event"
[Doc](https://docs.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops) for Service Hooks event hasn't been updated since 2016, and they have added more event since then.
For example, they added a 'Pull Request Commented On' event but I don't know how to trigger it.
Could you help update it?

[2019-11-22 06:55] N-Usha commented on #3491
@evmimagina - Can you please clarify how are you fetching secrets from KV? Can you please refer to our docs for [Variable groups linked with Azure Key Vault](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml#link-secrets-from-an-azure-key-vault) and confirm if that helps your scenario.

[2019-11-22 07:03] cawoodm opened #6451 "PowerShelll@2, powershell, pwsh"
It's not clear from the statement "both of these resolve to @PowerShell" whether`@PowerShell`, `powershell` and `pwsh` are synonymous or whether `powershell` is targeting windows only and will not run on Linux. Can this be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e444c2-69c6-4d71-6fd0-94d0f4097d3a
*

[2019-11-22 08:58] t104 commented on #6394
@WilliamAntonRohm Any updates?

[2019-11-22 10:06] wagnerbsouza commented on #6258
Funny thing about this is that I need to run a job in a container using multi-stage pipeline/yaml.
But I need to add approval from a user, which I can do with environment, which I can't use container! :D
Tried to add "Manual intervention", but apparently it's not supported in multi-stage pipeline.

[2019-11-22 10:58] #6451 closed

[2019-11-22 12:49] suxstellino commented on #6164
Hi there, any update on this?

[2019-11-22 13:11] RoopeshNair commented on #6258
@wagnerbsouza  - we are working on actively to add support for container jobs in deployment. ETA 2-3 months, please stay tuned. We are tracking this closely

[2019-11-22 14:44] anderseide commented on #4362
Anything new on when this is available and supported for other services than k8s?

[2019-11-22 15:05] #6446 closed

[2019-11-22 15:51] #6448 closed

[2019-11-22 16:08] msebolt commented on #6438
@emptypockets304 Thank you for the question, assigning this to the author for review.

[2019-11-22 16:16] adannsergio opened #6452 ""The first match will be used" - The Workspace or project path field"
Hey guys I'm using file matching patterns in the field "Workspace or project path" from Xcode Build task.
Based on my setup the field above requires a path to _xcodeproj_ **or** _xcworkspace_ folder.

If the repository contains the folder _xcworkspace_ it contains the _xcodeproj_ **too**. When it happens the path must be _xcworkspace_.

In the other hands, when I have only the _xcodeproj_ it must

[2019-11-22 16:24] evandropomatti opened #6453 "How to access job variables inside a script file"
I have a script file called let's say `create_dotenv.sh`, and inside this script I want to access the environment variables (set in the pipeline) in order to create my `.env`.

Is it possible to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7e0bd3-1f7d-d7b6-cc72-5ef63c31b46a
* Version Independent ID: dae87abd

[2019-11-22 16:42] evandropomatti commented on #6453
Ok just figured how to do it, adding a `.` before the script, like so:

[code]
I'll wait for further discussion before closing it because I don't really know if this is safe and a good practice.

I just know that is easier to have a script generating my files, so I can carry it along with the code and manage my `yml` more easily.

Reference: https://askubuntu.com/a/53178/1001717

[2019-11-22 16:47] chcomley commented on #6403
@avivanoff, I've followed up with a PM, hoping to get back to you shortly!

[2019-11-22 17:40] KSchlobohm commented on #6437
Thanks @msebolt, looks like this is a [topic that was already discussed](https://developercommunity.visualstudio.com/content/problem/609949/multi-stage-yaml-pipeline-artifact-download-proble.html) and the solution is to use the `$(Agent.BuildDirectory)` which solves my problem.

I think it would be helpful to add a note that when using the deployment task you can reference the content with this va

[2019-11-22 18:30] chcomley commented on #6419
Hi @spottedmahn, Thanks for reaching out. (I've edited your original text to eliminate the PII.)
We recommend using a different email/UPN for your personal and business accounts, rather than using the same, even though it's allowed. We’ve seen customers having challenges with disambiguating between their business and personal accounts when the email/UPN is the same.
I'm adding a note to the articl

[2019-11-22 18:51] vtbassmatt commented on #5837
@shashankbarsin is there any chance you could help me out here? You're a container guru and I have no experience with ECR.

[2019-11-22 19:24] WilliamAntonRohm commented on #6443
@placidseven -- Thank you for your feedback.  Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@juliakm -- please look into this potential documentation issue.

[2019-11-22 19:25] WilliamAntonRohm commented on #6445
@flamtapgt -- Ryan, Thanks for your feedback.  Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @vtbassmatt -- Matt, please look into this potential documentation issue.

[2019-11-22 19:28] WilliamAntonRohm commented on #6452
@adannsergio -- Adann, thanks for your feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtu

[2019-11-22 20:19] evmimagina commented on #3491
Hi @N-Usha,

I'm fetching secrets from an Azure Devops task using this sort of task;
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureKeyVaultV1/README.md
I'm not using variable groups, ence, the documentation you provide me doesn't clarify me anything regarding the issue I have… I rather not using variable groups or connecting Azure Devops to the KV directly, as I'm provi

[2019-11-22 20:31] abby-d-chr opened #6454 "Incorrect screenshot?"
The screenshot immediately under the sentence in the **Connect to your data** section > #1 > “Or, you can find a similar button in the ribbon in the Home section.” seems to be incorrect/a duplicate of what is under #2.
Of course, feel free to close/reject this if I’m wrong. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-11-22 20:57] richardgavel opened #6455 "Download Pipeline Artifact error"
When using Download Pipeline Artifact within a release pipeline, I get the following error. This works fine when the artifact is published with "Publish pipeline artifact (0.140.0)", but this error is coming from a pipeline using "Publish build artifacts (1.158.1)". Doesn't this conflict with the fact the description below is "Download build and pipeline artifacts"?

2019-11-22T20:54:17.3018438Z #

[2019-11-22 20:59] kieseld commented on #1615
This is closed but I do not see any solution. These variables are also not working for our releases.

[2019-11-22 21:18] AjkayAlan opened #6456 "Azure Artifacts - Python Manual Configuration Settings"
I am attempting to follow https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/python-packages?view=azure-devops#option-2-manually-configure-authentication, as artifacts-keyring doesn't work for me (making a separate issue for that). Per https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/python-packages?view=azure-devops#connect-to-your-feed, I should be able to set

[2019-11-22 21:26] #6419 closed

[2019-11-22 21:30] WilliamAntonRohm commented on #6394
@t104 -- Toshiki, you may find answers here while we update the documentation:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-11-22 21:37] #6453 closed

[2019-11-22 22:06] asifsid opened #6457 "Link broken"
The device Profile link is broken: https://azure.microsoft.com/resources/samples/active-directory-dotnet-deviceprofile/?v=17.23h

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294772ce-58a0-bb83-8927-3e69beca39df
* Version Independent ID: d9c4a4b3-3abf-d738-369e-fff8532e9dd9
* Content: [Guidance for authentication - Az

[2019-11-22 23:20] btl5037 opened #6458 "Permission for Author's to Trigger Build's"
We are looking for a permission that will allow Author's of a GitHub Pull Request to re-run their own failed jobs without having to sign-up for an account and be added to our Azure Org. We are a large open-source project and we can't expect all of our contributors to be added to our Azure Org, that would be unreasonable and unfeasible. Is there a way to configure security such that, an author of a

[2019-11-22 23:41] eric-labelle commented on #6439
Thanks for pointing the feature request! I voted up as it would improve the situation, although let me just point out an additional distinction for my use case. I'd like this trigger to respect the build completion trigger also! So perhaps an improved version of the request or just another feature, but it would be really useful to do like we can on pipeline's trigger.
Thanks, looking forward to fu

[2019-11-22 23:53] chcomley commented on #6403
Hi @avivanoff,
I might not hear back about this today. Adding @roferg, @atinb, and @Additi for some possible assistance. Have a great weekend!

[2019-11-23 01:55] vinyar commented on #6425
@chcomley  - thank you for clarifying and updating the doc to be more clear.

[2019-11-23 02:27] arcotek-ltd commented on #3553
I'm not sure why @steved0x closed this. This vital piece of information seems to be missing from all Azure DevOps / Docker information

I _must_ have the VSTS agent running as a particular service account. e.g. svc_vsts.

The only way I could get rid of the `access denied` error was to add svc_vsts to local administrators group and set the Docker Engine service to run as the same service account (

[2019-11-23 09:26] benc-uk commented on #6350
I have got this working now, e.g.

[code]

I still think a worked example of CI & CD separated across two pipelines is badly needed in the docs

[2019-11-23 09:26] #6350 closed

[2019-11-23 09:43] arcotek-ltd opened #6459 "BUILDKIT Not supported on Windows"
You mention we should / can use BUILDKIT, however, as soon as I enable it in Dockerfile, I get an error:

`failed to solve with frontend dockerfile.v0: failed to read dockerfile: failed to mount...`

Research suggests that [BUILDKIT is not supported](https://github.com/moby/buildkit/issues/1258#issuecomment-553215766) on Windows containers. Although your example may use Linux, it might be helpful

[2019-11-23 11:26] Spaceman1861 opened #6460 ""When a build validation policy is enabled, a new build queue when a new pull request is created""
Should this be:
When a build validation policy is enabled, a new build queue is created when a new pull request is created

kinda hurts my brain reading that sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd986e0-608c-1d8c-6faf-ecdb12e10bc6
* Version Independent ID: d60c996e-187e-dd6b-7f3a-dd056a1603f4
* Con

[2019-11-23 14:39] Rogeriohsjr opened #6461 "Is it possible to add more info about codeCoverageEnabled?"
I think would be nice to have more info on how we can use the codeCoverageEnabled, some information answering some questions like:
If I enabled the codeCoverageEnabled do I see that in the Code Coverage Tab in the pipeline automatically?
Do I need to use any other Task to see a report on Code Coverage Tab?
Am I supposed to see only a link to Code Coverage Tab?

As far as I could understand, the Pu

[2019-11-24 17:24] StingyJack commented on #4953
@chasewilson - please either reopen this request or point me to where the build (not test run, not release pipeline) retention settings are documented.

[2019-11-24 19:49] benp25 commented on #5773
Just bumped into this. In the YAML editor, press Settings for the nuget push task and you can select a feed from a dropdown. Mine was in the format {guid}/{guid} and that worked.

[2019-11-24 20:49] adannsergio commented on #6452
Hi @WilliamAntonRohm thank you for your feedback.

Is there a way to sort the results from the Extended Globbing feature? (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops#extended-globbing)
Maybe exclude when there are multiple results...

The message above indicates that the "first match" was selected by some sorting algorithm.
Is possible to

[2019-11-24 21:56] jason-ha opened #6463 "Stage/Job breakup with npm tasks is misleading"
In Job/Stage re-use sections examples are given where `npm install` is in a different job than `npm test`.
Azure pipelines enforce a cleanup between jobs making this impractical. Perhaps there are cases when you can output sufficient artifacts to enable this, but the complexity is surely missing from the documentation. Examples don't even call out dependencies for those jobs.
In my practical exper

[2019-11-25 07:21] mattias-skold opened #6464 "Wrong/missleading information about paid extensions pre-conditions"
This section is wrong
"For paid extensions, you need an Azure subscription to bill your purchase. If you don't have an Azure subscription, you can create a new subscription when you make your first purchase."

#rd party paid extensions doesnt require an azure subscription, please differentiate the pre-codtions for 3rd party paid extensions

---
#### Document Details

⚠ *Do not edit this section. I

[2019-11-25 10:12] RoopeshNair commented on #4362
Environments will start supporting VM resources soon. The work is near complete. We will start rolling out in 3-4 weeks time. You will be able to add the VMs to an environment an use it in YAML pipeline with rolling deployment strategy.

[2019-11-25 10:52] booyaa opened #6465 "Documentation is missing around `containerRegistry`"
This is the one task input that you can't use variable groups.  It must be the hardcoded service connection name.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* Content: [Docker task - Azure Pipelines](https://docs.mic

[2019-11-25 11:46] anderseide commented on #4362
How about other services? The feature we're looking for more specifically is primarily the Approval workflow that Environments support.

Probably not the right thread, but I would love to see that as a dedicated Task. That way it could be used anywhere in the pipeline, and could easily be added as a dependency for another Job/Stage

[2019-11-25 13:43] #5107 closed

[2019-11-25 14:21] Draaky commented on #4590
Hasn't been updated since 27-06-2017...

[2019-11-25 14:24] danijam opened #6466 "Is this feature not released yet? (Azure AD Tenant Policy Restriction on Org Creation)"
I'm not seeing this policy option light up as shown in this doc page. Would be handy to flag if this is not rolled out yet. I've checked all the prerequisites as described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e0bc69-0f15-0f14-b1cb-414848105cbf
* Version Independent ID: 7d0fba46-e37e-e7d0-3d7d-6ba606a58962

[2019-11-25 14:35] StingyJack opened #6467 "Contains and Contains Words seem to have a limit on the length of what they can match"
If I have a longish URL (~150 chars) in the title or description of a workitem, I cant find that url by exact matching using `contains` or `contains words`.  If I trim my search criteria down to &lt; 100 chars the item starts returning in queries on the devops portal and when using the WIQL api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-25 16:04] jlipford commented on #4432
@KathrynEE I think the issue here is that you have to go to the links menu to see all of these options. when you click a simliar menu from the quick link on the default layout, the expanded options (which include hyperlink) are not there.

[2019-11-25 16:06] mbeacom commented on #4497
For those of you still following this...
 https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1570285

[2019-11-25 16:27] mahilleb-msft commented on #6259
Using resourceId worked now, can you confirm if it was part of a new roll-out? Thanks.

[2019-11-25 17:30] NenoLoje opened #6468 "Not clear from docs: Are changes to "users" tracked?"
It's not clear from the docs if changes to the user list (e.g. add/invite user, change access level, assign license) are tracked or not.

Please clarify.

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f60b32-5c3c-f01a-cbbf-f4e9bd17a3fc
* Version Independent ID: 94753ea7-b465-f92e-10c2-8b17d995e4ff
* C

[2019-11-25 18:01] NenoLoje commented on #6468
What makes this highly confusing is that:

- In the limitations section, it mentioned two events which are **not** tracked. Implying that all other events in the system **are** tracked.
- At the same time, when looking at the 'Areas' section, many things seem to be missing.

Can we updated the page to make clear what is/isn't tracked by the audit feature?

As an example, what about changes to (cla

[2019-11-25 18:49] fiksen99 commented on #6219
@KathrynEE It doesn't seem that this item was addressed, though the issue was closed

[2019-11-25 19:10] crmckenzie opened #6469 "There are some validation rules that should be made clear"
Namely, that the `State` and `Effort` fields cannot be included on new records. As currently implemented, if you are importing workitems from another system you must first import the workitems as `New` and without effort attached. You'll then need to export the workitems to get the ID's, and ReImport the items with the updated `State` and `Effort`.

It would be nice if the import would accept thes

[2019-11-25 19:25] msebolt commented on #6454
@abby-d-chr Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-25 20:52] msebolt commented on #6455
@richardgavel Thank you for the feedback, assigning this to the author for review.

Please see if https://github.com/microsoft/azure-pipelines-yaml/issues/215 addresses the issue, and that you're using the latest version with [this fix](https://developercommunity.visualstudio.com/content/problem/529677/artifact-not-found-using-download-pipeline-artifac.html).

[2019-11-25 20:55] msebolt commented on #6456
@AjkayAlan Thank you for the feedback, assigning this to the author for review.

[2019-11-25 21:16] msebolt commented on #6457
@asifsid Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-25 21:18] alexander-danilenko opened #6470 "Add PHP/Composer cache example"
I'm suggesting to add composer cache example to documentation as it's the most popular package manager for PHP apps.

Just tested following solution and it works good, cache hits successfully: https://github.com/MicrosoftDocs/vsts-docs/pull/6471

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-

[2019-11-25 21:47] msebolt commented on #6459
@arcotek-ltd Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-25 21:57] msebolt commented on #6460
@Spaceman1861 Thank you for the feedback, sorry for the confusion.

The documentation has been changed and is pending review.

[2019-11-25 21:58] msebolt commented on #6461
@Rogeriohsjr Thank you for the feedback, assigning this to the author for review.

[2019-11-25 22:01] #6457 closed

[2019-11-25 22:05] msebolt commented on #6463
@jason-ha Thank you for the feedback, assigning this to the author for review.

[2019-11-25 22:08] msebolt commented on #6464
@mattias-skold Thank you for the feedback, assigning this to the author for review.

[2019-11-25 22:11] msebolt commented on #6458
@btl5037  Thank you for the feedback.

Unfortunately this is beyond the scope of documentation and requires additional feedback from the product team.

Please use **Suggest a feature** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and provide a link back to this issue.

@juliakm

[2019-11-25 22:52] chcomley commented on #6464
Hi @mattias-skold,

Thanks for this. I've updated the Marketplace articles to reflect that you don't need an Azure subscription for **any** extensions. These updates should go live shortly today. Thanks again for contributing to our docs!

[2019-11-25 23:11] KarenELove0202 opened #6472 "Doesn't work"
I have entered load behavior = 3 on each entry in the registry - still does not load the team ribbon each time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf4c6dd3-d2d2-0d41-9958-d3f7d85b5c05
* Version Independent ID: e5e4a28f-30b8-0dab-b94b-d94fe6d341fe
* Content: [TFS-Office integration issues - Azure Boards](http

[2019-11-26 01:01] #6464 closed

[2019-11-26 04:21] TroyArrandale commented on #3126
If your deploying webjobs you need to use WebDeploy and windows and it works out of the box.

[2019-11-26 04:35] StingyJack commented on #3126
@TroyArrandale this issue is for how to use the release pipeline task to achieve the result in a mostly automated fashion. I've not been interested in publishing things into test or prod environments directly from someones PC for a long time

[2019-11-26 05:58] msebolt commented on #6466
@danijam  Thank you for the feedback, assigning this to the author for review.

[2019-11-26 06:00] msebolt commented on #6468
@NenoLoje Thank you for the feedback, assigning this to the author for review.

[2019-11-26 06:02] msebolt commented on #6470
@alexander-danilenko Thank you for the feedback, assigning this to the author for review.

[2019-11-26 06:08] msebolt commented on #6472
@KarenELove0202 Thank you for the feedback.

Unfortunately, since this forum is for documentation only, our support options are limited.

Please use **Report a problem** to move this issue to the [Azure DevOps community](https://developercommunity.visualstudio.com/topics/Azure+DevOps.html) for feedback from the product team.

[2019-11-26 06:23] msebolt commented on #6427
Closing now.  Please add comments below if there are further issues.

[2019-11-26 06:23] msebolt commented on #6428
Closing now.  Please add comments below if there are further issues.

[2019-11-26 06:23] #6428 closed

[2019-11-26 06:23] msebolt commented on #6430
Closing now.  Please add comments below if there are further issues.

[2019-11-26 06:23] #6430 closed

[2019-11-26 06:23] msebolt commented on #6432
Closing now.  Please add comments below if there are further issues.

[2019-11-26 06:23] #6432 closed

[2019-11-26 06:30] msebolt commented on #6439
Thank you for providing feedback and feel free to reach out to [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) any time you need help with the product.

We are always in the need of giving priority to these requests.

[2019-11-26 06:30] #6439 closed

[2019-11-26 06:31] msebolt commented on #6440
Closing now, please comment below if there are any further issues.

[2019-11-26 06:31] #6440 closed

[2019-11-26 06:34] ankitvarmait opened #6473 "Npm Build is failing with Hosted agent "vs2017-win2016" was working correctly with VS 2017"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-11-26 06:37] #6454 closed

[2019-11-26 06:37] ankitvarmait commented on #6473
WE had pipeline with with host agent Vs 2017 was working correctly now after changing the host to "vs2017-win2016" it started failing...

Now we can not find vs2017 anywhere., It is blocking all work. Please let us know the solution..

1. Created self hosted agent, then npm build works.
2. Not work with new agent.
3. Was working correctly with vs2017 agent.

--Error:
##[error]Error: Npm failed wit

[2019-11-26 06:38] #6459 closed

[2019-11-26 06:38] #6460 closed

[2019-11-26 06:40] msebolt commented on #6465
@booyaa Thank you for the feedback, assigning this to the author for review.

[2019-11-26 06:41] msebolt commented on #6467
@StingyJack Thank you for the feedback, assigning this to the author for review.

[2019-11-26 06:45] Spaceman1861 commented on #6460
No worries all good

[2019-11-26 07:21] RGKarthik commented on #6438
@emptypockets304 ,

Thank you for your question. To create subscriptions in Azure Pipelines app for Microsoft Teams, one has to be part of 'Project Administrators' group. We understand that this could be a matter of concern for customers. Hence we are working on a set of features that would allow 'Team admins' (lesser privileges) to create subscriptions. This will take few weeks.

[2019-11-26 10:13] masterofimages commented on #6238
This task is not deprecated, since the new "Publish Pipeline Artifact" task doesn't yet work on the on-premise version of Azure DevOps. The documentation should be updated to reflect this, since at the moment there is no distinction made between on-premise and cloud, and the task is actually still available on-premise, it just doesn't work!

[2019-11-26 10:26] RoopeshNair commented on #4362
Once VM support is rolled out, we will pick-up other Azure resources.

Approvals are available on environments and support for approvals on service connections and agent pools is getting rolled out.  Manual validation as a step in the workflow is on our backlog. However, it might be a while before we can get to it. (4-5 months)

[2019-11-26 10:45] thviQit commented on #5281
We noticed this too, while converting to yaml pipelines. We only use this task for building the docker file and then use an AWS task to push the image to ECR.
That means we cannot tag our image with the docker task.

[2019-11-26 12:20] axirot opened #6474 "How i can get json with list of group variables from AzureDevOps API?"
Hello, guys! How i can get json-response with list of group variables from AzureDevOps API?

In documentation i can't find the answer(((

[2019-11-26 13:09] DrBushyTop opened #6475 "Stage parallelism does not seem to function with stage templates?"
Hi,

According to the documentation, I should be able to specify parallelism by using
[code]

**This does not seem to function when the stage is a template from another file**:
[code]

It also does not seem to work when specifying the two last stages to depend on the first one (so fan out).

[code]

Result in both cases is that they run one by one.
![image](https://user-images.githubusercontent.co

[2019-11-26 13:27] hemodrow opened #6476 "mocha-multi-reporters last commit was on Dec 1 2017"
mocha-multi-reporters dependecies are outdated (ex: uses mocha 3.1.2).

[cypress-multi-reporters](https://github.com/YOU54F/cypress-multi-reporters) is a fork thats being maintened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b2fdca-9125-9720-3d03-3c6dd336f100
* Version Independent ID: b2a24e28-9858-fe1c-4527-745f

[2019-11-26 13:46] djpugh commented on #4362
If this is the case, then the azure devops pipeline assistant should probably not show this in a non-release pipeline - it currently provides it as a configuration in yaml option that you can add, which is definitely at odds with these comments...

[2019-11-26 14:32] swapnild2111 commented on #5668
if I am doing `az login --service-principal ...`  should `az devops` work?
My az login worked with SP, but then I get below error -
[code]

[2019-11-26 15:37] mamoorkhan commented on #1499
can we have a badge that shows us the latest build/branch info for a specific environment?

[2019-11-26 16:27] gonzaloluna opened #6477 "Visual Studio Test v 2.* fails if no test sources found (used to work a few days ago with just a warning)"
I have a generic task group for some of my projects in which some of them have tests and others don't.
Now every time I try to build a project with no tests asseblies the build task fails.
Previously the task would give me a warning, which was OK for me.
Is this something you've just changed in the latest version? can you put it back? or just add an option to not fail the task?

##[debug]Agent.Ver

[2019-11-26 16:32] jhaygood86 opened #6478 ".NET Core"
Are there any plans to make this work with .NET Core tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e098a7-83b4-c389-3d30-21ad3446b76c
* Version Independent ID: cafbcbd5-3321-88cf-eeaf-038d49ec0ada
* Content: [Use Test Impact Analysis - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/t

[2019-11-26 17:19] chasewilson commented on #6456
Hey @AjkayAlan , Thanks for the feedback! I'm sorry about the issues and I'll be reviewing to see where we can improve the documentation.

[2019-11-26 17:29] roferg commented on #6468
Hey @NenoLoje - I'm making some updates to make this more clear. In the meantime you can see all auditing events by going to https://auditservice.dev.azure.com/{YOUR ORGANIZATION}/_apis/audit/actions. Simply replace {YOUR ORGANIZATION} with your organiztion's name.

[2019-11-26 17:34] NenoLoje commented on #6468
Hey @roferg - awesome, that's super helpful. Thanks for sharing that tip!

![grafik](https://user-images.githubusercontent.com/13981145/69657816-50bff280-107b-11ea-8f9e-709b6d19743c.png)

[2019-11-26 17:45] chasewilson commented on #4220
Hi @evertonmc , thanks for the question. As far as I know, There isn't going to be support for DevOps Server. I would suggest reaching out to the [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) for a feature request or further information.

[2019-11-26 17:45] #4220 closed

[2019-11-26 18:07] WilliamAntonRohm commented on #6473
@ankitvarmait -- thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing.

Also, you may have encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.vis

[2019-11-26 18:08] polshgiant commented on #6307
I was very confused by this same exact statement.  I think they mean: "Merging the *release* branch into the master branch can bring over release-specific changes you don't want in the master branch."

[2019-11-26 21:15] chcomley commented on #6466
Hi @danijam, I've just received confirmation that it's completely rolled out. Do you see the policies section at all? If so, just not this policy, you may need to be put onto the allow list. Please let me know if this helps. Thanks

[2019-11-26 21:46] venndunlap opened #6480 "ZipAfterPublish doesn't provide naming convention"
Looking through this documentation, I was not able to find a way to rename the zip file to use in our release process. The Zip file in the zipafterpublish process creates it off of the name of the project file. Is there anything that can be done to override this?

[2019-11-26 21:50] ibmeister opened #6481 "Wrong reference name for Remote Related link type"
The reference name for Remote Related should be "System.LinkTypes.Remote.Related" instead of "System.LinkTypes.RemoteRelated". System.LinkTypes.RemoteRelated does not work so I had to guess multiple variations until I got "System.LinkTypes.RemoteRelated" to work

[2019-11-26 21:51] RamyTemim commented on #5879
I think it's the same framework ;-) :
 - https://github.com/GoogleContainerTools/container-structure-test

[2019-11-26 22:06] tashrifbillah commented on #5879
@RamyTemim, that's right. I figured this out. However, their container-structure-test tool isn't properly set up yet. See my issue [here](https://github.com/MicrosoftDocs/vsts-docs/issues/6067).

[2019-11-26 23:01] PatrickBig commented on #6117
Was just wondering the same thing, I searched for a while and can't find this.

[2019-11-26 23:09] WilliamAntonRohm commented on #6474
@axirot -- thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azured

[2019-11-26 23:26] WilliamAntonRohm commented on #6480
@venndunlap -- thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://az

[2019-11-26 23:28] WilliamAntonRohm commented on #6481
@ibmeister -- Ibrahim, thanks for your feedback; we appreciate it. Please let us know which topic you’re referencing and we will update the documentation.

[2019-11-26 23:33] ibmeister commented on #6481
@WilliamAntonRohm This topic https://docs.microsoft.com/en-us/azure/devops/boards/queries/link-type-reference?view=azure-devops

[2019-11-27 02:37] StingyJack commented on #4077
@mijacobs - do you like it when you ask someone a question and they only respond with a form letter exemplifying a lack of attention and professional courtesy/respect while stating that your questions are not their problem?

And then do you prefer it when you try to make it simpler for them to understand how the question is in their area of responsibility and then they wholly ignore that?

I don't

[2019-11-27 02:44] StingyJack opened #6482 "A teammate cannot see or reuse service connections..."
... for a new release task that are already setup on another release task in the same release pipeline environment agent.

Is this what is intended to happen? We end up peppering our network admin team with permission updates every time we need a service connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b90d

[2019-11-27 02:46] StingyJack commented on #5375
This is a question about something missing from the instructions. This should be reopened and the document updated or the question answered.

[2019-11-27 03:12] TroyArrandale commented on #3126
@StingyJack  it works from a release pipeline is you use a Web App Deployment like below.  You need to use WebDeploy property for the web job to be set up correctly and it needs to be from an Agent on a windows OS.

steps:
- task: AzureRmWebAppDeployment@3
  displayName: 'Deploy Web Jobs.'
  inputs:
    azureSubscription: '$(Subscription)'
    WebAppName: '$(AppServiceName)'
    Package: '$(System

[2019-11-27 03:16] rameshrc opened #6483 "Agent Vs Deployment Pool"
I have confusion over agent pool and deployment pool. I am installing standalone installer into the machines. Then run tests on UI Tests on it.
I install product using Deployment pool through Release, but there is no option to "Run on multiple agents in parallel" just like "Run on Agent" task has.
Can a machine to be registered to both Agent and Deployment pool? Currently I see no way .

---
####

[2019-11-27 04:38] timothies opened #6484 "Description of inputs for AzureRmWebAppDeployment"
Hi, apologies if this is a dumb question but I can't find any description of what inputs are available for
- task: AzureRmWebAppDeployment@4
Are there any references you could point me at?
Thanks for your help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a40a853-83d6-844a-4752-8b00909c9ffb
* Version Independent ID:

[2019-11-27 05:18] iamsrivatsa commented on #6484
Hi @timothies , you can find it [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops).

[2019-11-27 05:34] ranjan-ranjan opened #6485 "`fileSharePath` not present"
`fileSharePath` not present

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41baa0b5-175c-a697-4b7d-c150259c6e6b
* Version Independent ID: 75085b15-1acc-526a-0495-74a13c42c1d5
* Content: [Publish Pipeline Artifacts task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipe

[2019-11-27 08:23] ghelyar opened #6487 "MacOS agent data location link is dead"
Currently links to https://www.microsoft.com/TrustCenter/CloudServices/vsts/data-location

I'm guessing this should be https://docs.microsoft.com/en-us/azure/devops/organizations/security/data-location?view=azure-devops but not sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
*

[2019-11-27 08:37] sjoerdhooft opened #6488 "Create Organization programmatically"
Is it possible to create a new organization programmatically? I've looked into azure cli and the azure cli devops extention but I can't find anything. Any help would be appreciated.

[2019-11-27 09:31] StingyJack commented on #3126
@TroyArrandale I would believe that works, but I'd need to have a webdeploy zip. I won't have one of those unless I configured the release branch build to make one.

@RoopeshNair - I asked for better instructions like 10 months ago. What happened?

[2019-11-27 10:02] mo-saeed opened #6490 "[Azure Devops] Rollout deployment timeout setting"
Hello,

Currently our pipeline fails due to timeout in the deploy step of KubernetesManifest task.

when running kubectl rollout status command:
[code]
Is there way to have a setting to increase the timeout, i believe it's 2 minutes by default.

[2019-11-27 13:07] NenoLoje opened #6492 "WIQL syntax page missing description of tree and direct links querys"
While this page is doing a great job of explaining verious WIQL syntax elements, it's misingg the hierarchical queries, specifically tree queries and dircet links queries.

Let's add them to the docs! :)

Thanks!
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710af5f2-8a31-e0d3-4f20-00c79dc54713
* Version Indepe

[2019-11-27 13:16] NenoLoje commented on #6492
Maybe this might help: https://blogs.msdn.microsoft.com/team_foundation/2010/07/02/wiql-syntax-for-link-query/

[2019-11-27 14:47] juliakm commented on #6476
Thanks @hemodrow! We'll fix that shortly.

[2019-11-27 14:51] #6476 closed

[2019-11-27 15:08] Zhaph opened #6493 "Confusing steps for Confirm User has permission"
Under [Confirm User has Permission](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#confirm-the-user-has-permission) step 2 directs you to the "Roles" tab of the Agent Pool settings, however this should be the "Security" tab, where you can then potentially see users and roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-11-27 16:03] msisterna commented on #2973
Hi @PillaiOEC, did you find any solution to do that?.
I want to copy files to the remote machines that match the tag from the deployment group.

[2019-11-27 16:15] mapoitras opened #6495 "Access levels don't match options"
On this page, it says the levels are Stakeholder, Basic, Basic + Test Plans, Visual Studio subscription.

When I'm in Azure DevOps, the choices are basic, earlyAdopter, stakeholder, vs studio subscriber,

When I go to the CLI reference page, the choices are advanced, earlyAdopter, express, professional, stakeholder
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/user?view=azure-

[2019-11-27 18:24] NenoLoje opened #6496 "Remove this page from TOC for Azure DevOps Services"
Maybe we can remove this page (and the other page on the same level) from the TOC, when Version = Azure DevOps Services, as they are not relevant?

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f010168c-5717-ff43-3287-030f55c6b7e2
* Version Independent ID: c3039d68-269b-214e-b3de-6a0e70aaa522
* Content:

[2019-11-27 18:25] NenoLoje commented on #6496
Link to the other page: https://docs.microsoft.com/en-us/azure/devops/report/sharepoint-dashboards/configure-or-add-a-project-portal?view=azure-devops

[2019-11-27 19:00] msebolt commented on #6477
@gonzaloluna Thank you for the feedback.

Since this is more geared towards the product team, please move the issue to the [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues) repo.

[2019-11-27 19:04] msebolt commented on #6478
@jhaygood86 Thank you for the question.

Please move this issue to the [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues) repo for product team feedback.

@PBoraMSFT

[2019-11-27 20:23] NenoLoje opened #6499 "Invalid link: supported web browser"
The link to "supported web browser" ends up with a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12a3813d-668f-f3f0-2a10-97eef5cda914
* Version Independent ID: 79f91447-90e1-716c-8ae0-ba4b09d356bb
* Content: [Organization and project scope queries - Azure DevOps](https://docs.microsoft.com/en-us/azure/devop

[2019-11-27 20:58] danijam commented on #6466
Thanks @chcomley I can confirm I now see the policies section.

[2019-11-27 20:58] #6466 closed

[2019-11-27 21:08] qwertoyo commented on #6184
It's what I'm trying to achieve also. I'd need to run a small script which uses kubectl inside, how can I use that `kubectl login`?

[2019-11-27 21:17] damienpontifex opened #6500 "Pipeline resource branch Build.SourceBranch"
The pipeline resource has "we will follow the same branch and commit on which the event is raised". When the pipeline is queued manually, on a specific branch, is there a way to have it also match the pipeline resources from that branch?

I tried setting `branch: $(Branch.SourceBranch)` but got an error and finding the default setting defined as `branch: string  # branch to pick the artifact, opti

[2019-11-27 21:42] qwertoyo commented on #6184
I tried with basic arguments and it worked, maybe the doc is already enough 😀

`- task: Kubernetes@1`
`  inputs:`
`    command: login`
`    connectionType: Kubernetes Service Connection`
`    kubernetesServiceEndpoint: [...]`

`- bash: kubectl get pv | grep Released [....]`

[2019-11-27 23:10] ol-vrobison commented on #5804
I've have this issue. I want to deploy the code to the first pipeline stage for testing after the PR review is done for hotfixes but before the merge to master occurs, and defer the merge until the testing on the test environment is done .It would be ideal if the pipeline would look at the PR request status from GitHub  and defer deploy if it has not passed the review requirement.

[2019-11-28 03:10] clystian commented on #4198
I make me same question, so we mean, when the repository is migrated without history, we can see branches and all commits? or by other way its same thing creating a new repository and committing all sources?

[2019-11-28 03:47] johnkelleher opened #6502 "Unable to see the Environment option under Pipeline"
Hi

I cannot see the Environment option under Pipeline. I am the Org and Project owner

![image](https://user-images.githubusercontent.com/1285755/69775743-d499ec00-11ed-11ea-932c-ce66d47efff2.png)

Thanks

[2019-11-28 06:33] siddarthkanted opened #6503 "How do I add support multiple pom files?"
In our maven project, we have 5 maven sub modules.
So we have 5 pom.xml files.
In each pom.xml file, we have a goal.
Now we need to create 5 separate tasks.
How can we combine them into 1 task?

[2019-11-28 10:21] zhongyi-zhang opened #6504 "UI mismatch in project settings"
Regarding to https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops#enable-flaky-test-management, I can't find the section "test management" in my project settings, what is mentioned in the doc.
![image](https://user-images.githubusercontent.com/13326941/69798272-015cfc00-120c-11ea-9f6b-180f3d813f5c.png)

Any idea why? Thanks!

[2019-11-28 10:42] joelkurian opened #6505 "Canary deployment strategy example too vague"
1. Example is not properly formatted.
2. Canary deployment strategy mentions iteration of `deploy`, `routeTraffic` and `postRouteTraffic` lifecycle hooks.  This iteration, execution flow and values of `$strategy.__` variables are unclear in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aeeaace-1c5b-a51b-

[2019-11-28 11:53] hbuckle commented on #4949
@shashban  - that doesn't quite answer the question - when I say permissions required to call it I mean permissions within Azure DevOps.

I also asked

Can we do validation on the completion data?
Is the user that made the call logged anywhere?

[2019-11-28 12:56] opedroso opened #6506 "Why would a "/move" modifier actually execute a delete?"
[code]
Seems like an amazing misnomer for the "/move" modifier.
From a verb that indicates a "movement", that is a non destructive action, comes a loss of information, since the action executed after the unshelve is the deletion of the named shelveset on the server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483a4

[2019-11-28 13:26] srikcgaa2 opened #6507 "If the agent is offline with non-zero status where can I get help?"
If I see that the status has a non-zero value (-126 in my case), where can I find details of what the error code means?  This page should provide reference about how to get the meaning of error code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cb3bd5-5c72-4ad6-8566-3bc4527112ce
* Version Independent ID: 4c0f61d9-0

[2019-11-28 14:15] vishnuprakash9845 opened #6508 "Not able to see the Web Automation in the Configured VM through Azure Devops Pipleine"
Following steps followed
1.Configured the Agent in the VM
2.Created new Pipeline and configured the Web Automation Project to run in the VM at the specified time (5:00 PM)
3.When i open the VM at automation running time (5:00 PM). Automation Logs are created, but visually not able to see the web browser launching and executing the testcases.

Please can anyone help me on this issue to resolve.

[2019-11-28 15:08] yelenapakumirzakova opened #6509 "An error in bash script"
Hello Dear All,
 there is an error in bash script https://docs.microsoft.com/en-us/azure/devops/repos/git/set-up-credential-managers?view=azure-devops

Instead

git-credential-manager install

supposed to be

git credential-manager install

without "-" between git and credential.

King regards,
Yelena.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-28 15:10] yelenapakumirzakova commented on #3799
It is an error, there is not supposed to be "-" between git and credential.
Try git credential-manager install

[2019-11-28 16:32] mahilleb-msft opened #6510 "Where is the reference documentation for the Cache@2 task?"
I'm missing a page under Reference &gt; Tasks &gt; .. that would describe the Cache@2 task, is this still coming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c20289-dab2-7a6e-4f63-4b30eaff2c71
* Version Independent ID: d75cc196-90c1-8291-9907-ff405bde4edf
* Content: [Pipeline caching - Azure Pipelines](https://doc

[2019-11-28 16:52] kibernick opened #6511 "not clear how to use a service connection in stages/jobs/steps"
I'm trying to use a connection to AWS (which is also not listed in the "Common service connection types"). I've managed to create one and from the instructions on this page, I only see how to add it to a "task" as an "input". This does not work if I try to add the "azureSubscription" key to a stage, job or step. I get the error: `Unexpected value 'azureSubscription' `

---
#### Document Details

⚠

[2019-11-28 20:15] frankfru opened #6512 "Is there a prefined variable for the location of the azure-yaml pipeline being executed?"
Is there a prefined variable that contains the  location of the yml pipeline definition?
For example, if the definirion of the yml pipeline being executed is located in the repo in frontend/component-1/azure-pipeline.yml, the variable should have the value 'frontend/component-1/azure-pipeline.yml'.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-28 23:06] DrBushyTop commented on #6475
Turns out I had actually misunderstood the functionality under the hood.

My stage templates did not have the dependsOn parameter in them, and in my initial example I was just giving the empty array as a parameter to the template from where nothing was done with it. And also it turns out that this is not valid syntax:

[code]

So the way I got it working was just adding
[code]
in all of the templa

[2019-11-28 23:52] MarkKoz opened #6513 "Clarify use of variables in template expressions"
While it could be extrapolated from the statement that the expression variables are evaluated before the job runs, it should be clarified that variables cannot be used in template expressions, with the exception being predefined variables. Also worth mentioning that variables cannot be passed as parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-11-29 00:54] timothies commented on #6484
Thanks @iamsrivatsa.  That page looks like its missing some of the inputs for AzureRmWebAppDeployment@4 (e.g. packageForLinux) but I'll raise the issue on that page.

Really appreciate your help!

[2019-11-29 02:40] chaozhangpower opened #6514 "写的像屎一样的文档"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-11-29 03:13] R-Dboy opened #6515 "ANDROID_HOME environment variable error when signing the apk file"
Hi,
When I try to sign the apk file after a build(using a self hosted agent), I get an error saying ANDROID HOME environment variable not set to running user. Can't entirely understand what is causing it and how to fix. I've generated a key via visual studio which resulted in a couple of files, a <alias>.keystore and <alias>.keyinfo. While generating it.

I have saved both in pipeline library secr

[2019-11-29 03:41] zhongyi-zhang commented on #5124
Hi @divais, I sent an email to devops_tools@microsoft.com. Could you help enable Flaky Test Management for us? Thanks

[2019-11-29 04:33] iamsrivatsa commented on #6484
Hi @timothies, the inputs are not missed in the document. The  **packageForLinux** is the alias used for **Package** same is already documented in the Arguments table.

[2019-11-29 07:35] fleed opened #6516 "MSDeploy with -source:package"
Is it required to convert the packaging structure for web packages?
I have an old release that was generating the correct command (`-verb:sync -source:package`) for msdeploy. I'm trying to replicate the behavior within a YAML pipeline, but I cannot make it work.
Is it strictly required to regenerate the package as mentioned in the **Is Publish using zip deploy option supported for MSBuild package

[2019-11-29 08:11] SamirNabadov opened #6517 "java"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f94a6e7d-3cb5-790c-2b8b-c09abd1de3f6
* Version Independent ID: a0d381e1-07ad-9191-4697-6faf600a7bd8
* Content: [Use Azure Pipelines - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/pipelines-get-started?view=azure-devops&tabs=clas

[2019-11-29 09:43] estensen opened #6518 "ubuntu-latest points to 16.04, not 18.04"
Running `print(platform.platform())` with Python I detected that the kernel versions of the host agents on `ubuntu-latest` and `ubuntu-18.04` differ, even though they point to the same image in the docs.

~~According to a [list of kernel](https://askubuntu.com/questions/517136/list-of-ubuntu-versions-with-corresponding-linux-kernel-version?noredirect=1&lq=1) version they map to different Ubuntu ve

[2019-11-29 11:05] patchandthat opened #6519 "Documentation is wrong for Type: File/Inline"
The actual parameter is 'targetType' not 'type'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e444c2-69c6-4d71-6fd0-94d0f4097d3a
* Version Independent ID: 3a727833-1cc3-c2fb-c5b3-22605eee2721
* Content: [PowerShell task - Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershe

[2019-11-29 11:26] pawelros opened #6520 "Ability to disable agent from the self-hosted agent itself"
I think that there should be a way to tell Azure DevOps from the agent (to be more specific, from the machine on which self-hosted agent is installed) - "I do not want to accept any more jobs".
Right now I do not see an easy solution for that, `svc.sh` script allows only to install, start, stop, display status and uninstall.

Use case: I have an autoscaling group of virtual machines. When I scale

[2019-11-29 11:40] nickfoster commented on #4486
So I've spent the week building a custom Azure Pipelines task to manage the ServiceNow change ticket for a deployment only to find it I want to pass the ticket number between jobs in a stage I have to use YAML releases.
Now I'm discovering if I move from UI to YAML pipelines I can't use the deployment groups my applications are being deployed to?  My apps are all on premises with multiple servers

[2019-11-29 15:32] simardst opened #6521 "Compile into container and extract artifacts"
Is there a way to compile into a container (docker) and extract the build artifacts?  I'm lokking for a recipe that would work with
Azure DevOps Microsoft-hosted agents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9dbf88-7e55-d427-145e-d36b04fb197f
* Version Independent ID: a3f30c00-817c-9c05-7a57-3f2bf618821e
* C

[2019-11-29 15:33] simardst opened #6522 "Compile into container and extract artifacts"
Is there a way to compile into a container (docker) and extract the build artifacts?  I'm lokking for a recipe that would work with
Azure DevOps Microsoft-hosted agents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99af681d-41ad-da15-0b72-08b5cd5a11ac
* Version Independent ID: 2fa0df36-a437-8cbb-b019-b49b31b1e116
* C

[2019-11-29 16:55] hdiass commented on #5434
Why is this closed ? I can't see any documentation regarding this question anywhere..what is the pricing on the pipeline artifacts ?

[2019-11-29 18:36] SeanStL opened #6524 "Upgrade path"
It would be great if there was guidance on how to change existing org-scoped feeds to project-scoped feeds without having to recreate them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34f46a54-1fe4-6b64-9479-022f3a06cd70
* Version Independent ID: 7f2e7006-865c-5ace-cd85-3b2936db9ffa
* Content: [Project scoped feeds

[2019-11-29 21:15] katlimruiz opened #6525 "create secret tls"
I am trying to install ambassador and enable https.
I'm using this command that does work in command line, but since I want to use in azure-pipelines.yml and I need to use this task
to accomplish (since this task encapsulates, user, account, etc).

kubectl create secret tls tls-cert --cert=cert.pem --key=key.pem

How can I do it?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-11-29 21:28] katlimruiz commented on #6525
I already saw that kubectl create secret tls tls-cert --cert=cert.pem --key=key.pem, it is a special syntax and by doing a generic command it works.

          - task: Kubernetes@1
            displayName: kubectl create secret for certificates
            inputs:
              connectionType: Azure Resource Manager
              azureSubscriptionEndpoint: xxx
              azureResourceGroup: xxx

[2019-11-30 10:30] justin3687 opened #6526 "Hhh"
Thank you for your feedback!

The issues in this repo are for documentation feedback.

If you are submitting your documentation feedback issue directly through GitHub, please provide the URL of the article so we can route the feedback to the correct author.

Please report Azure DevOps or TFS software bugs, feedback, or questions in the [Azure DevOps Developer Community](https://developercommunity.

[2019-12-01 05:13] mclizz commented on #1115
v1.0-401f6b28af0ff8606aecd9c2-f36eb74e64b5c00550d257ae8857224c9f80274215f1e9f49e80724b1cbda53926b75fd1b25253aa4cff89040ea6046fbca3055cb9c5022e1561cf78cede81a18bfa5119cef59472

[2019-12-01 14:04] Tetradeus opened #6527 "Gradle Task : Cannot enable jacoco tests coverage with Kotlin dsl gradle"
When enabling jacoco with gradle kotlin dsl if fails because it looks at build.gradle file instead of build.gradle.kts file.

Here is the error :
[code]

[2019-12-02 03:12] AngryVirginian commented on #5715
I confirm that this document needs to be updated.  In particular, this bullet point - "Only String substitution is supported for JSON variable substitution" needs to be changed. Replacing content of an entire json array works in the File Transform task and not in the App Service Deploy task.  Note: this is about replacing the value of the entire array and not replacing value each element via the i

[2019-12-02 05:27] JoeBrockhaus commented on #5093
I have seen this sometimes work and sometimes not work.

My best guess has been _order_ in the physical yaml vs when parsed is not guaranteed to be the same _(alphabetical?)_. It would be nice if, at least in the case of _dependency resolution_, that ordering were performed topologically.

I had a multi-variable compound variable, and each time the same variable would fail to replace.  Like you, a

[2019-12-02 06:06] jordanchang opened #6528 "Gradle example?"
I'm trying to build an Android project on ADO and would like to access the the name of the branch. How do I access the "Build.SourceBranchName" variable within Gradle? I've tried System.getenv('Build.SourceBranchName'), but that returns null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffebdc8-521c-44b5-cde4-4abdc1

[2019-12-02 09:12] AndrewConniff commented on #6117
Went through all the links to previous steps and checked out all the source code repositories and I also cannot find the reference to any helm charts (which should be a file directory in source control )  Possibly the links are not correct?

[2019-12-02 12:49] GaTechThomas commented on #6357
I did find that this can be disabled at the repository level. The ADO repo UI exposes the functionality. Would be nice to have a bit more functionality, such as patterns that should be ignored or first changeset to start caring about.

[2019-12-02 14:58] lvanvugt opened #6531 "Regarding "you can now go to the work item and see the status of the release""
I am not seeing it. What is missing in my setup? I am using Azure DevOps with TFVC, have build and releases running and have selected the "Preview: Report deployment status to Boards" option and configure the stages and deployment types. When opening the work item I don not seen anything. May a completer description is needed above to tell me how get the stages shown on the work item.

---
#### Do

[2019-12-02 15:13] lvanvugt commented on #6531
Does it have to do with the fact that our pipelines and work items are in different projects? If so, how to work around that?

[2019-12-02 15:18] M0ns1gn0r commented on #5647
These advices are exactly what I expected to find on the page but found only in the comments.

[2019-12-02 15:35] allantargino commented on #2914
This is working for me:

[code]

[2019-12-02 16:10] dci-aloughran opened #6532 "Cachine"
I noticed on azure artifacts repo that pip always returns a max_age of 0, and there's not a reference in the Cache@2 task for how to cache python dependencies.  Is this functionality you'll be bringing in soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca42420-9324-1988-16bd-501be69e278d
* Version Independent ID:

[2019-12-02 16:13] msebolt commented on #6526
@justin3687  Thank you for using Microsoft Docs.

If there are any issues or concerns, please comment below.

[2019-12-02 16:13] #6526 closed

[2019-12-02 16:14] msebolt commented on #6514
@chaozhangpower Thank you for the feedback.

If there are any issues or concerns, please comment below.

[2019-12-02 16:14] #6514 closed

[2019-12-02 16:21] msebolt commented on #6484
@timothies Thank you for the feedback.

Please refer to the [source documentation](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4) and if anything is missing from the [doc](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment) referenced by @iamsrivatsa please comment below.

[2019-12-02 16:41] JoeBrockhaus opened #6533 "Defining Resources inside a Template"
Today I discovered it's not possible to ~use~ _**define**_ Resources inside a Template.
It would probably be valuable to include this caveat here, and if reasonable, some expected guidance for how this would be handled.

---

_A similar [Suggestion](https://developercommunity.visualstudio.com/idea/832840/templated-resources.html) exists (Resource Templates). Some improvements around this experienc

[2019-12-02 16:59] WilliamAntonRohm commented on #6485
@ranjan-ranjan Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-02 17:01] WilliamAntonRohm commented on #6488
@sjoerdhooft Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azur

[2019-12-02 17:06] WilliamAntonRohm commented on #6503
@siddarthkanted -- Siddarth, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support B

[2019-12-02 17:07] WilliamAntonRohm commented on #6502
@johnkelleher Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azu

[2019-12-02 17:17] WilliamAntonRohm commented on #6515
@R-Dboy -- Ralph, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, you may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https:/

[2019-12-02 17:46] juliakm commented on #5093
To follow-up, the product team is working on clarifying how nested variables should work. I will update the documentation when we have more information.

[2019-12-02 17:50] juliakm commented on #6096
@pkzOR If you go through the steps at the beginning of the article, it will generate a complete ASP.NET Core YAML. You can also see all of the templates [here](https://github.com/microsoft/azure-pipelines-yaml/tree/master/templates).

[2019-12-02 17:50] #6096 closed

[2019-12-02 20:08] Stevoni commented on #4953
@StingyJack I'm running into the same problem and only the Collection Administrators have ability to change this. https://stackoverflow.com/a/58811077/124331

I'm not really a fan of this, I think it's too restrictive for a Project **Administrator** to lack the ability to change a project specific function.

[2019-12-02 20:21] andreacassioli commented on #6456
Totally agree with @AjkayAlan!

The keyring is still in preview and I honestly prefer using some more stable tooling. PAT is OK, but there is basically no docs on that!

[2019-12-02 20:24] JoeBrockhaus opened #6534 "Variable Availability during compile/parse-time vs run time"
From above:

I'm looking to understand _exactly which variables_ are available during each of these phases, because it seems there are some subtle differences, specifically around _queue-time_ variables.

**_To be very specific: I would like to control conditional insertion at the root pipeline based on a manually-entered queue-time variable._**

#### For instance:
- At _parse-time_, if only _stat

[2019-12-02 21:43] WilliamAntonRohm commented on #6495
@mapoitras -- Marc-Andre, thank you for your feedback.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @KathrynEE -- Kathryn, please look into this issue.

[2019-12-02 21:48] WilliamAntonRohm commented on #6506
@opedroso -- Osiris, thank you for your feedback.  It looks like you've encountered an issue with the product itself, rather than an issue with the documentation. To make sure it gets in front of the right people, please [submit your bug]( https://developercommunity.visualstudio.com/content/problem/post.html?space=21) here.

@apawast -- Apeksha, please look into this potential documentation issue.

[2019-12-02 21:57] orhanmaden commented on #4073
Can someone put an example in this issue which can be used as a reference until the docs are update. At the moment i try
[code]
and it doesn't resolve right

[2019-12-02 21:57] WilliamAntonRohm commented on #6483
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-02 21:57] #6483 closed

[2019-12-02 22:01] WilliamAntonRohm commented on #6500
@damienpontifex -- Damien, thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsv

[2019-12-02 22:04] WilliamAntonRohm commented on #6507
@srikcgaa2 -- thank you for your feedback. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@steved0x -- please look into adding such a reference in the documentation.

[2019-12-02 22:06] WilliamAntonRohm commented on #6508
@vishnuprakash9845 Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

Meanwhile, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/

[2019-12-02 22:07] KathrynEE commented on #6469
@crmckenzie - Thank you for the feedback. I will update the topic to reflect the limitation that all work items imported start with the New state.

[2019-12-02 22:07] #6469 closed

[2019-12-02 22:15] krizleebear commented on #6238
Thanks for the explanation. A note like proposed would make things clearer. And if you're on cloud you could then choose the faster of the two.

[2019-12-02 22:16] WilliamAntonRohm commented on #6517
@SamirNabadov  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-12-02 22:21] WilliamAntonRohm commented on #6521
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-02 22:21] #6521 closed

[2019-12-02 22:22] WilliamAntonRohm commented on #6522
Duplicate of #6521

[2019-12-02 22:22] #6522 closed

[2019-12-02 22:23] KathrynEE commented on #6504
@zhongyi-zhang - Thank you for your inquiry, and apologies for any confusion. The Test management settings is available for the cloud service only at this time. It was released on July 22 with the Sprint 155 release.

From the UI screenshot you show above, it would appear you are on an on-premises version.  If this is not the case, please contact [product support](https://developercommunity.visual

[2019-12-02 22:23] #6504 closed

[2019-12-02 22:40] KathrynEE commented on #6495
@mapoitras - Thank you for your feedback. I've contacted our product team to provide clarity and will update the doc and this issue when I hear back from them.

[2019-12-02 22:43] KathrynEE commented on #6492
Thanks @NenoLoje - I've added a user story to my backlog to update the article with link queries.

[2019-12-02 22:43] #6492 closed

[2019-12-02 22:56] StingyJack commented on #4953
@Stevoni - do you see this functionality covered or explained in any docs or release notes?

@chasewilson - same question for you

[2019-12-02 22:58] KathrynEE commented on #6435
@rlvandaveer - I've contacted the product team for an answer and will respond when they get back to me.

[2019-12-02 23:32] mihirdalal commented on #6101
Hi Mathew,

I apologize, I was a little late in getting to this..so, finally, I am on it.
Unlike web.configs, I have XML files that are in a subfolder on the project root that need to transformed server specific.

/XML_Templates/file.xml
/XML_Templates/file.deployserver1.xml
/XML_Templates/file

[xmlfiles.zip](https://github.com/MicrosoftDocs/vsts-docs/files/3913759/xmlfiles.zip)

.deployserver2.x

[2019-12-03 00:18] mihirdalal commented on #6101
I should also let you know, that I am letting the website's web.config transforms happen through the MSBuild step.
I am trying to leverage the Azure DevOps Release step XML Transformation only for some XML files that have to be server specific.

I am guessing, that should not be a problem as such, but just wanted to share this extra piece of information.

[2019-12-03 01:18] willowJohn opened #6535 "Powershell Versions"
Can you add the list of supported powershell versions for this task. It is so annoying trying to pick a static version. Rather than a free text field it would be better as a dropdown.

Failing that update this page should have the known powershell versions listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e444c2

[2019-12-03 03:45] trajano opened #6536 "This needs a link or extra documentation on what "TreePath" is"
I am trying to figure out how to expand the `Iteration Path` to see whether I can get the start and end date for the iteration in my query results.  I ended up here, which designates the data type as TreePath but there's no documentation what kind of data is in that structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-03 04:17] mszixie opened #6537 "Duplicate task document"
Hi team, this task document seems to be duplicate with this page: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/azure-policy?view=azure-devops

These two should be the same task. Its current name is: Check Policy Compliance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e340f7db-11b6-52c6-ac60-8

[2019-12-03 05:06] timothies commented on #6484
Thanks guys,  perhaps I'm wrong and all the inputs are listed but the alias packageForLinux is definitely missing though.
![packageForLinux](https://user-images.githubusercontent.com/4046886/70022006-c92c3380-15e6-11ea-8b52-6b7bc4e74c37.PNG)

[2019-12-03 05:41] RoopeshNair commented on #6101
Please refer to the XML transformation pre-requisites [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/transforms-variable-substitution?view=azure-devops#xml-transformation-notes). Can you verify if it is applicable in your case?

[2019-12-03 05:44] RoopeshNair commented on #6482
Service connection is way to store your secrets. For example, you can setup a service connection to Production subscription. By default these service connections are available to the creator/owner. You need to explicitly share it with your team using the Security tab for Service connections. This is by design to prevent unintended use of production secrets by other users

[2019-12-03 05:44] #6482 closed

[2019-12-03 07:19] ranjan-ranjan commented on #6485
I am closing this issue.
Tried to reproduce, but couldn't.

[2019-12-03 07:19] #6485 closed

[2019-12-03 07:39] sjoerdhooft commented on #6488
Hi, I am looking for a way to create an Azure DevOps Organization on the commandline, so without use of the browser.

[2019-12-03 10:34] vtbassmatt commented on #4073
@orhanmaden the `$[ ]` syntax basically says "defer this calculation as long as possible into runtime" while `${{ }}` says "perform this calculation during template expansion time". I would have to see the rest of your pipeline to understand what you're trying to achieve. Let's assume that you get an empty string passed in for parameter `A` and the word `foo` passed in for parameter `B`. After tem

[2019-12-03 10:35] lexslimx commented on #5147
@FixRM  In my understanding, always creating a hotfix branch from master resolves this in these steps: 1. Create a hotfix branch from master, 2. code review it 3. complete a pull requests and cherry pick the changes and merge to both release branches. Remember that these two release branches will eventually be discarded in favour of the next release which will be branched from master.

[2019-12-03 14:13] kardinal3000 opened #6541 "Azure Active Directory - switch directory"
Hello guys,

I have two azure AD`s also I use azure DevOps service and I need to switch directory.

I read the article [Switch to another Azure Active Directory](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/change-azure-ad-connection?view=azure-devops) all is clear.
All requirements were met according the link

- **AAD-1** has a user  test@domen.com, Type member, CUID (ea08

[2019-12-03 14:23] mallikarjun364 opened #6542 "##[error]Error: Preparing the test sources file failed. Error : Error: No test sources found matching the given filter '**\release\*test*.dll,!**\obj\**'"
Hi,

i'm getting this error in CICD pipeline log

##[error]Error: Preparing the test sources file failed. Error : Error: No test sources found matching the given filter '**\release\*test*.dll,!**\obj\**'

earlier message was showing as warning but now its an error and i'm not doing any test.

thank you

[2019-12-03 14:44] fleed opened #6543 "Environments and approval"
What's the client to use to get information about environments? How to programmatically approve a pending deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413163f0-28c3-a2a7-d626-fcb81bcb2257
* Version Independent ID: 57c127da-2b1e-d29e-9abb-a3c258762ccf
* Content: [.NET Client Libraries for Azure DevOps Serv

[2019-12-03 16:03] jwikman commented on #3160
@andyjlewis

But that link only points to the same fuzzy statement that @molant quotes.

I found that statement too, googled to find anything that explained it better and ended up here, point back to first place. Circle referencing ;-)

So once again, what does `cancelTimeoutInMinutes` really do?

[2019-12-03 16:07] jwikman opened #6544 "What does cancelTimeoutInMinutes really do?"
The same is reported in https://github.com/MicrosoftDocs/vsts-docs/issues/3160, but that points to an non-existing page, so I add it here as well.

What does this really means:
`The cancelTimeoutInMinutes allows a limit to be set for the job cancel time. When not specified, the default is 5 minutes.`

What is a "job cancel time"?

Maybe add something about "how much time to give 'run always even i

[2019-12-03 17:31] nuno-barreiro opened #6545 "DotNetCLI@2 pack seems to be ignoring configuration inputs"
The below YAML snippet does not seem to work as expected.
I configured it in a pipeline that runs using the windows-latest image and it attempts to restore all of the projects that are in the repo, instead of looking just to the solution file.
Also, it seems to completely ignore the --no-restore flag

[code]

The command that appears on the step logs is:

[code]

The above project is not included

[2019-12-03 19:02] WilliamAntonRohm commented on #6488
@sjoerdhooft -- thank you for clarifying.  This repo (vsts-docs) is only for documentation issues.  For support, please see the links in my previous message.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-03 19:02] #6488 closed

[2019-12-03 19:05] WilliamAntonRohm commented on #6511
@kibernick -- Nikola, thank you for your feedback.  You may find answers here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@RoopeshNair -- please look into this potential documentation issue.

[2019-12-03 19:15] bluebaroncanada commented on #1175
Had this for two reasons:
- Forgot to commit the `.sln` file
- Compiling against the wrong branch when running the pipeline.  Change the drop down to the right branch.

[2019-12-03 19:23] WilliamAntonRohm commented on #6512
@frankfru -- thank you for your question.  You may find an answer here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@juliakm -- please look into this potential documentation issue.

[2019-12-03 19:24] WilliamAntonRohm commented on #6520
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

[2019-12-03 19:24] #6520 closed

[2019-12-03 19:26] WilliamAntonRohm commented on #6525
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-03 19:26] #6525 closed

[2019-12-03 19:27] juliakm commented on #5663
Closing issue as the pull request was merged.

[2019-12-03 19:27] #5663 closed

[2019-12-03 19:30] WilliamAntonRohm commented on #6516
@fleed -- my understanding is that package regeneration is required.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-03 19:30] #6516 closed

[2019-12-03 19:31] WilliamAntonRohm commented on #6527
@Tetradeus Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-03 20:23] mihirdalal commented on #6101
Yes,

the files are not .config file, but raw .xml files...however on which I am not able to make it work.

As noted in a post few lines below "Not able to prevent Release transforms from running during build", I am not able to fully turn off MSBuild Transformations on web.config.

If I remove the [DependentUpon], I get an error.

2019-12-03T18:23:59.8900142Z ##[error]Error: XML transformation err

[2019-12-03 20:31] WilliamAntonRohm commented on #6532
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-03 20:31] #6532 closed

[2019-12-03 20:43] WilliamAntonRohm commented on #6536
@trajano -- Archimedes, thank you for your feedback.  You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

 @KathrynEE -- please look into this potential documentation issue.

[2019-12-03 20:51] WilliamAntonRohm commented on #6528
@jordanchang -- Jordan, thank you for your feedback.  Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear

[2019-12-03 20:51] #6528 closed

[2019-12-03 20:54] WilliamAntonRohm commented on #6531
@lvanvugt -- Luc, thank you for your feedback.  Here are a couple of options where you might consider asking your questions:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@KathrynEE -- Kathryn, please look into this potential documentation issue.

[2019-12-03 20:54] mihirdalal commented on #6101
Yep...so a final test, I renamed my .xml files to .config files..and sure enough the deployment transformation is firing on them now.

So, its down to this: How to make the deployment transformer do the transformations for raw .xml files..

As a workaround, I can always rename my post deployed transformed file1.config to file1.xml..in some post deploy step.

[2019-12-03 20:54] StingyJack commented on #6482
@RoopeshNair  A service connection doesn't have any secrets. It's a subscription and resource group for me as it is in the depicted example. There is no mention of "secrets".

Team members that can create service connections in the same project cannot see each other's service connections, and this reality conflicts with this documentation, with the result being that the docs are in error (reality

[2019-12-03 21:27] #4410 closed

[2019-12-03 21:33] Tetradeus commented on #6527
When configuring the gradle task in Azure Devops, if you enable Jacoco code coverage tool, and you also use kotlin dsl build, it fails with the previous error.

<img width="337" alt="image" src="https://user-images.githubusercontent.com/1665874/70091635-d7954200-161c-11ea-9201-fa462c8e622c.png">

[2019-12-03 22:49] chrisbuttacavoli commented on #4486
We have everything registered in a deployment group, many with multiple servers. For us, YML is not production ready yet. Wasted a lot of time today trying to get this to work.

Does anyone have an ETA of when this will be done?

[2019-12-04 00:07] WilliamAntonRohm commented on #6394
@KathrynEE, @chcomley -- please look into this potential documentation issue.

[2019-12-04 00:19] WilliamAntonRohm commented on #6541
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 00:19] #6541 closed

[2019-12-04 00:20] WilliamAntonRohm commented on #6542
@mallikarjun364 -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-04 00:21] WilliamAntonRohm commented on #6543
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 00:23] WilliamAntonRohm commented on #6545
Thanks for your feedback. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 00:23] #6545 closed

[2019-12-04 02:07] WilliamAntonRohm commented on #6481
@ibmeister -- Ibrahim, thank you for the clarification.  I am looking into this document.

[2019-12-04 02:18] KathrynEE commented on #6536
@trajano - Thank you for your inquiry. I will update the article to provide a link.  For descriptions of each data type, see [Query fields, operators, and macros](https://docs.microsoft.com/en-us/azure/devops/boards/queries/query-operators-variables?view=azure-devops#field-values).

On another note, you can't return the Start and End dates of the Iteration Path from a query. However, you can get t

[2019-12-04 02:18] #6536 closed

[2019-12-04 02:44] acds commented on #4729
@shashban to confirm progress here...you commented 3 weeks ago indicating 2 weeks.

To fully understand, if we create a stage prior to the stage with a Service Now Gate, we can "calculate" the Planned Start (+4 hours) and End (+5 hours) date - using a Powershell script - so need to be an agent run job, not agent-less - wish the Powershell stage could run agent-less!!!

However setting these as a s

[2019-12-04 02:47] acds opened #6548 "Additional change request parameters based on Variables"
Is it expected that the Additional Change Request Parameters setup will parse the value and replace $(variables) with their values prior to submission and mapping into ServiceNow or can one only add static values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d07f29c5-affb-47bb-5f68-fc49e691c741
* Version Independent

[2019-12-04 02:54] akramaskar77 opened #6549 "Command by Azue CLI"
I Have Problem . this page dos't open with me, Is there any way by AZURE CLI to do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b302bb93-a2be-c9b9-964e-e0ec3141a32b
* Version Independent ID: afa29749-f96f-1e18-4cb7-5c860a8099ae
* Content: [Change the number of paid users for an extension - Azure DevOps](https:

[2019-12-04 04:11] Nirmalkmr opened #6550 "Unable to import work items with the new view"
I am unable to import work items as a csv file(exported from another Azure DevOps Server)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8390e96-a029-2729-2f34-fc57f2f5e131
* Version Independent ID: 03e58d17-8cd0-0dd7-2a08-6f3e9ddc27ac
* Content: [View or run a query - Azure Boards](https://docs.microsoft.com/en-us/az

[2019-12-04 04:40] mallikarjun364 commented on #6542
@WilliamAntonRohm the topic is CICD pipeline integration in VSTS

[2019-12-04 07:06] fleed commented on #6543
Hi @WilliamAntonRohm
Implementing it would be the second step.. but the initial issue is that I cannot find the documentation for the REST endpoint, if it exists.
The Environments are part of the current version of Azure DevOps, so if the endpoint is not yet available, I would expect mentioning it in the docs.

[2019-12-04 08:00] kumarunster commented on #4987
@maxim-lobanov @atinb was this suggestion/feature already requested? do you may share the link for it? Many thanks in advance.

[2019-12-04 10:11] blueelvis commented on #5986
@ceddlyburge - What we did is that we now have a separate Resource Group in Azure and then while the PR deployment is initialized, the PR number is appended to URL sensitive resources like Web App and then cleaned up once the PR is merged using service hooks. It is indeed a workaround but works.

[2019-12-04 10:52] sobi3ch commented on #5327
Oh, this docs sucks, nothing is clear. You should take example from AWS docs.

[2019-12-04 10:54] sobi3ch commented on #5220
Or/and add step by step instructions like you can see on github help docs. I.g. https://help.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.

[2019-12-04 12:44] kitingChris commented on #4880
Yep I also agree. Also completely missing are target. This task makes the usage of multi target dockerfiles impossible.
Still need to fall back to a Bash task due to the lack of necessary inputs for this task

[2019-12-04 12:48] kitingChris opened #6551 "-"
-

[2019-12-04 12:51] #6551 closed

[2019-12-04 13:01] jetand opened #6552 "How do I trigger a task conditionally from succesfully completed pull request?"
As a developer I need to write a yaml build definition where I can trigger a task based on the build reason which is a completed pull request. Like the after merge feature in the UI but now I need it yaml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5673ec1-c7d1-e0ac-043a-8fc3d5b226a9
* Version Independent ID: b487

[2019-12-04 13:03] jetand commented on #6552
To be specific I mean in Azure Repos.

[2019-12-04 13:32] delarooster opened #6553 "Update documentation for YAML Build Completion Trigger"
I searched and searched and finally had the assistance of a gracious SO response to direct me where to navigate to find the classic editor after creating a YAML pipeline.  Might I recommend we update the documentation to more clearly direct a user to the location of these Triggers vs the ambiguous answer currently given? https://stackoverflow.com/questions/59176925/how-to-create-a-build-completion

[2019-12-04 13:49] dantranter commented on #5697
In order to set the property to a python variable....I had to do the following in my Python script (as the above suggestion didn't work...at least not for 2.7):
print '##vso[task.setvariable variable=sauce]' + sauce_python_var

[2019-12-04 14:26] MTomBosch opened #6554 "Problem with proxy"
Hi
My agents are running behind a local CNTLM proxy running on port 3128.
When this task is executed I always get the following error message:
##[error]Error: tunneling socket could not be established, cause=connect ECONNREFUSED 127.0.0.1:3128

Does this task not support a proxy setup for the agent?

The version of the task is: 1.156.1

Thank you

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen

[2019-12-04 14:33] moswald commented on #3685
@chasewilson Did you ever get this into the docs? I don't see it as part of `retention.md`, so maybe it was added somewhere else?

[2019-12-04 14:41] vtbassmatt commented on #5697
f-strings were introduced in Python 3.6 (I believe), so it's expected that @welabbar1's snippet won't work in 2.7.

We document that [pipeline variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables) are available as environment vars, and we document how you use logging commands to [create new ones](https://docs.microsoft.com/azure/devops/pipelines/scripts/logging-commands#s

[2019-12-04 14:41] #5697 closed

[2019-12-04 14:47] eponerine opened #6555 "Update instructions to account for "hidden scope groups""
In PAT section 4, it says to set scope for:
- Agent Pools (read, manage)
- Deployment group (read, manage)

However, those do not appear by default and you have to find the tiny little text at the bottom of the blade that says "show more". Would be helpful to indicate that in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-12-04 14:48] welabbar1 commented on #5697
Sorry! I forgot to mention this was for Python 3.6+

[2019-12-04 14:56] suszig opened #6556 "unable to copy commits history"
unable to copy commits history

in previous version it was possible to copy commits history as table
currently i'm unable to copy

is there any other reporting tool that allows to export developers commit history in last month? i need this for reporting

[2019-12-04 14:58] #5742 closed

[2019-12-04 15:27] juliakm commented on #5742
I've updated [Variables, predefined](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#feedback) and added a FAQ question to [Run (build) number](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/run-number?view=azure-devops&tabs=yaml#how-can-you-reference-the-run-number-variable-within-a-script).

[2019-12-04 15:34] WimDiepgrond commented on #3702
This would save a lot of duplication in pipelines +1

[2019-12-04 17:02] adunnells opened #6557 "Please add more detail around the "always" tag for scheudled triggers."
I see now that there is a brief message about the always tag for scheduled triggers. This was not informative enough for me to know that it is required to run the pipeline more than once on the schedule. Can you please add a paragraph or two that explains in detail what this tag controls and that it is important for actually running pipelines on a schedule and not just a single execution.

---
###

[2019-12-04 17:18] brownbl1 opened #6558 "output variable for stdout"
It would be extremely helpful to have an output variable for the stdout of the `custom` command for parsing in subsequent tasks. For example, we would like to run `npm view $(packageName) version` using a custom packages feed. This works, but there is no way to capture the command output to process in subsequent tasks. Running this command in a shell script necessitates wiring up all of the authen

[2019-12-04 17:23] brownbl1 commented on #6558
I've tried things like this:
![image](https://user-images.githubusercontent.com/2136925/70165418-def63300-1690-11ea-9df6-93313df88614.png)

But the output doesn't change, indicating to me that everything after the `|` is being ignored.

[2019-12-04 17:52] WilliamAntonRohm commented on #6548
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 17:52] #6548 closed

[2019-12-04 17:53] WilliamAntonRohm commented on #6549
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 17:53] #6549 closed

[2019-12-04 17:54] WilliamAntonRohm commented on #6550
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 17:54] #6550 closed

[2019-12-04 17:54] WilliamAntonRohm commented on #6552
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 17:54] #6552 closed

[2019-12-04 17:55] WilliamAntonRohm commented on #6554
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.n

[2019-12-04 17:55] #6554 closed

[2019-12-04 17:57] WilliamAntonRohm commented on #6556
@suszig -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-12-04 18:00] WilliamAntonRohm commented on #6558
Thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://developercommunity.visualstudio.com/content/idea/post.html?space=21) here.

You may find additional information here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps

[2019-12-04 18:00] #6558 closed

[2019-12-04 18:03] WilliamAntonRohm commented on #6527
@Tetradeus -- thank you for clarifying. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.a

[2019-12-04 18:03] #6527 closed

[2019-12-04 18:04] WilliamAntonRohm commented on #6542
@mallikarjun364 -- thank you for clarifying.  Please provide the topic URL.

[2019-12-04 18:11] WilliamAntonRohm commented on #6543
@fleed -- thank you for clarifying.

@chcomley -- please look into this potential documentation issue.

[2019-12-04 19:21] dansiegel opened #6559 "Need more details on Checkout"
In general the checkout task needs support for SSH... but besides that... there is an option documented here that you can persist the token.. but you can only use the Task once, it's only good to checkout self / none... so what on earth do you do when you want to checkout a second repo because the task doesn't support SSH and I need my submodules? I'd love to continue using the OAuth token in a sc

[2019-12-04 20:09] steamwings opened #6560 "Selecting the "Docker" option in Configure does not ask for a container registry"
I even created the service connection to my registry in Project Settings first, but the Docker option only has one field 'Dockerfile' for the Dockerfile path. I tried manually adding the name of the service connection I created `containerRegistry: $(my_connection)`, but when I try to run the pipeline, I get:

The pipeline is not valid. Job BuildAndPush: Step Docker1 input containerRegistry referen

[2019-12-04 20:18] #6270 closed

[2019-12-04 20:20] stan-dcip commented on #4561
It is ridiculous that this still isn't a feature - you should not have to put ALL of your code under one project to share variables.  Octopus has had this feature for 5+ years.

[2019-12-04 20:21] rohrerb opened #6561 "Links are dead"
The two links under https://docs.microsoft.com/en-us/azure/devops/server/admin/add-administrator-tfs are dead.

- https://docs.microsoft.com/en-us/azure/devops/server/admin/add-administrator-tfs
- https://docs.microsoft.com/en-us/azure/devops/server/admin/service-accounts-dependencies-tfs

[2019-12-04 20:51] chillbilly79 opened #6562 "What about a yaml build file example"
I came to this page looking for example of how to do a variable substitution in appsettings.json from my yaml build file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ff823-9992-9f9b-62a1-42ce622ed41c
* Version Independent ID: 72ec3ffc-1dc9-b2dc-e3d4-4f14deae3720
* Content: [File transforms and variable substituti

[2019-12-04 21:40] chillbilly79 opened #6563 "It is unclear how to do variable substitution on json file"
I came to this page looking for documentation on how to substitute variables (using a yaml build file) in my appsettings.json file from a variable group.

The part that is confusing to me is that in the "File transformations" section it says this is only supported for xml.  Then later in the "Variable substitution" section it says both xml and json are supported but it appears that the xmlTransfor

[2019-12-04 21:47] KathrynEE commented on #6495
@mapoitras - as a first level, you can use the following mapping:

| Access level (user interface)| AccountLicenseType |
| --------------------------|-----------------------------|
| Stakeholder | stakeholder | none |
| Basic              | express  | none |
| Basic + Test Plans | advanced | none |

The `earlyAdopter` AccountLicenseType is an internal value used solely by Microsoft.  I will be upd

[2019-12-04 21:47] #6495 closed

[2019-12-04 21:48] eavonius commented on #5864
Dude! This TOTALLY needs to be added to the docs! Thank you for finding this.

[2019-12-04 21:53] greggboer commented on #6223
OK, we have gotten to the bottom of this issue.

We don’t support Lead/Cycle Times on work items that are not on some backlog. (Like Epics, Features, User Stories, etc…)
In the Agile template, the “Issue” work item type is not on any backlog, and therefore we don’t calculate Lead/Cycle Times for it.

So it is a bug that we even allowed someone to select the Issue type in the Lead/Cycle Time widget

[2019-12-04 21:54] KathrynEE commented on #6531
@lvanvugt - I've contacted the product team to get an answer to your question. I believe having the pipelines in a different project would cause this feature to not work, and I don't believe there is a work around. However, I'm working to get a definitive answer.

[2019-12-04 22:02] sugarjig commented on #5076
I agree with the comments here. The advice should not be to call an undocumented script, which doesn't even work anyway (#2129, #1660). There should be one or more tasks to set the tool versions, a la `UseDotNet@2`. Alternatively, the tasks `XamarinAndroid@1` and `XamariniOS@2` could take in the desired Mono, Xamarin.iOS, and Xamarin.Android versions as parameters. Either way, building Xamarin app

[2019-12-04 22:25] shubham90 commented on #5880
This should not be fixed. We have rolled out the UI where you can access deleted feeds and perform restore and/or permanent delete operations on the feed. To free up the feed name, please permanent delete the feed from the feed settings page.

[2019-12-04 22:25] #5880 closed

[2019-12-04 22:27] KathrynEE commented on #6561
@rohrerb - Thank you for this feedback. I'm updating several files that had the old file names. You can find these topics here:

- https://docs.microsoft.com/en-us/azure/devops/server/admin/add-administrator
- https://docs.microsoft.com/en-us/azure/devops/server/admin/service-accounts-dependencies

[2019-12-04 22:27] #6561 closed

[2019-12-04 22:47] eponerine opened #6564 "DryRun versus ProductionRun"
Other than in the screenshot, the value of "ProductionRun" does not appear anywhere in this document. This is painful while doing any text search or search engine searching. Can an area be added describing "DryRun" versus "ProductionRun"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa0ebd3-8437-8508-5a8d-462186fcce8

[2019-12-04 23:30] usysware opened #6565 "VS 2019 16.4 and .NET Core 3.1 hosted agent availability"
Hi there,

Just wanted to see if someone could share ETA for VS 2019 16.4 and .NET Core 3.1 hosted agent availability please.

Thanks in advance.

[2019-12-05 02:04] Pajohns343 opened #6566 "No way to change "h" to "d" when tracking in days instead of hours"
Even though users can track capacity in days, in the Work Details pane, there is no way to reflect "days" with a d. It only shows h for hours. (e.g. if I put in .5 for capacity, it will show "x of 5 h" for a two-week sprint, rather than "x of 5 d")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de93c4e5-f491-af61-6df5-

[2019-12-05 03:02] LukeSchmidtPwC opened #6567 "Getting all Project notifications, rather than specific Team Sprint notifications"
I have configured the connecter to only process Work Item Updates for a specific Team Sprint, however I am still getting notifications for ALL other sprints, how can I properly configure it for a specific Team Sprint?

I notice when I finish the configuration, the description of the connecter says "for any area path in &lt;Project Name&gt;", even though I have specified a specific team sprint.

--

[2019-12-05 04:13] lvanvugt commented on #6531
Hi Kathryn, that would be great.

[2019-12-05 04:48] igoose opened #6568 "@igoose - If you open an issue for this topic and append the logo you want used, I'll update the topic to use that logo."
@igoose  - If you open an issue for this topic and append the logo you want used, I'll update the topic to use that logo.

_Originally posted by @KathrynEE in https://github.com/MicrosoftDocs/vsts-docs/pull/6539#issuecomment-561446948_

[2019-12-05 04:52] igoose commented on #6568
![ConnectALL-Logo](https://user-images.githubusercontent.com/2851923/70205124-13c5c100-1749-11ea-9803-3f9605fbc5fd.png)

Attached is the ConnectALL logo. This should be hyperlinked to https://www.connectall.com

[2019-12-05 05:16] mallikarjun364 commented on #6542
@WilliamAntonRohm  the topic url is https://docs.microsoft.com/en-us/azure/devops/pipelines/overview?view=azure-devops-2019

[2019-12-05 05:57] RoopeshNair commented on #6482
@StingyJack  -  In order to connect to an Azure subscription and deploy, the task needs Service Principal(SPN) and Key (secret/password). The Service Connection UI auto generates an SPN and Key on behalf of logged in user. It is not auto-shared to the team. It is by design. If you need your teammates to use your SPN to deploy it on your behalf, you'd have to share it explicitly. Please note the de

[2019-12-05 06:15] RoopeshNair commented on #6511
Please find [Azure Pipeline YAML schema reference](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema).

Common service connections are mostly in-the-box ones. AWS connection that you have is probably from an extension. You will have to refer to extension documentation for instructions from the author.

That's correct,  Service connections are task/st

[2019-12-05 06:15] #6511 closed

[2019-12-05 06:40] iamsrivatsa commented on #6484
The changes are pushed. You can now see the updated document.

[2019-12-05 06:48] #6484 closed

[2019-12-05 08:26] CousinOfDeath commented on #3702
+1 we also need this.

[2019-12-05 09:13] nishants commented on #4859
I have a build (BUILD-B) that is triggered by build (BUILD-A).
I am using following parameters  with :
[code]

Do I need to add param `branchName: $(variables['Build.SourceBranch'])` as well ?
Or, will `specificBuildWithTriggering` make sure the the artifacts are downloaded from correct build id ?

[2019-12-05 10:11] D4rkiii commented on #6542
We are getting the same error.
We queued a build today (last build was on friday and worked fine) and the build fails in the "Visual Studio Test" step.

**Friday build log from the test step:**
##[section]Starting: VsTest - testAssemblies
==============================================================================
Task         : Visual Studio Test
Description  : Run unit and functional tests (Se

[2019-12-05 10:19] rakol-ms commented on #5846
@StephenRSkinner which artifacts are you using for your scheduled releases?

[2019-12-05 11:59] techsaau opened #6569 "Add-AzMetricAlertRuleV2 Fails in Azure DevOps with Agent "vs2017-win2016""
Command "Add-AzMetricAlertRuleV2" is using object **<System.Collections.Generic.List`1[Microsoft.Azure.Commands.Insights.OutputClasses.IPSMultiMetricCriteria]>** for condition parameter in Az module. But "**Microsoft.Azure.Commands.Insights**" namespace was used in AzureRM.Insights. When I use Azure Powershell Task in DevOps (under agent "vs2017-win2016"), it gives error:

**Cannot find type [Syst

[2019-12-05 12:01] fralik commented on #6456
I very much agree here. If I try to use
[code]
then I am being asked for user and password on the command prompt. If I omit PAT, then there is an option to authenticate through web browser.

[2019-12-05 13:33] DalpheSDC opened #6570 "How do you add certificates to the agent so the Use nuget install tool will work?"
How can I add the proxy certificates to the
##[debug]Agent.CAInfo=undefined
##[debug]Agent.ClientCert=undefined
So I don't get this error when using task Use Nuget install tool
ERR:unable to get local issuer certificate

The Agent is version 2.160.1 and the server is Azure DevOps Server 2019 update 1, the server and build machine is behind a proxy.

---
#### Document Details

⚠ *Do not edit this s

[2019-12-05 14:27] utterdomain opened #6573 "History field has an inaccurate description"
This topic covers querying by History as if the History field contains what you see when you view the History tab, but the History field appears to only contain "Comments entered into the Discussion area" which is mentioned in passing in the section "List items based on the contents of the History field". This is very confusing because you can't actually query on the History field to see, say, whe

[2019-12-05 14:33] ccagahr opened #6574 "Docu not up to date"
The button in visual studio redirects to a browser window opening the azure devops website with the process templates. There's no download option anymore. So how to get the xml definition? Only with the command line tools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b7e8f3-68f7-80f9-3cfb-6dca0002435b
* Version Ind

[2019-12-05 15:02] manojpaidimarri opened #6575 "Analytics View - Filter with created date"
Hi Team,

When we try to create a new view with the filter criteria as 'created date' along with the date its taking the timestamp field also and  timestamp is taken as 18:30:00.000Z which is getting fixed with the created date field.  Along with the time its taking the 'N-1' date as created date.

[2019-12-05 16:53] catalintomescu commented on #2333
I'm using the same code and getting a 202 response but the view is not set. This used to work fine in TFS on premise but we recently upgraded to Azure DevOps on premise and it stopped working. Any idea why that could be?

[2019-12-05 16:57] StlaurentAlex opened #6577 ""Error: No test sources found matching the given filter" Use to be a warning ?"
In Azure Devops we have a couple CI builds with the VsTest task and some of those actually don't have tests yet. Our build used to pass with a warning saying that not test sources were found but now it comes out as an error.

Is this due to an update? Its not really a problem but I would like to know when changes are made that can impact our pipelines and where to find that information exactly.

-

[2019-12-05 16:58] chcomley commented on #6394
Hi @t104, Thanks for your question, I'm sorry for any confusion. We don’t have support for auditing on Azure DevOps Server yet. It’s only on Azure DevOps Services. I'll update the doc accordingly. Thanks again.

[2019-12-05 16:58] #6394 closed

[2019-12-05 17:17] PBoraMSFT commented on #6577
@StlaurentAlex - we recently added a setting to fail the task if a min # of tests are not found/run, but that setting is off by default. Can you check if the build definition was modified recently to make use of that setting?

[2019-12-05 17:49] msebolt commented on #6559
@dansiegel Thank you for the feedback.

Since this is the documentation forum, please move the issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html) for feedback from the product team.

In the meantime, you'll need to use the [SSH task](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/ssh?view=azure-devops) and provide the checkout as a script command.

[2019-12-05 17:53] pnwguy commented on #6577
@PboraMSFT we are hitting the same issue - these warnings are now errors, failing the builds.  We haven't touched our pipelines or yaml files for a few months.

[2019-12-05 17:55] tbrophy opened #6578 "azureSubscription input should clearly state that the value is the name of a Azure Resource Manager service connection"
Using the name of a subscription—as the documentation suggests—will result in an error message; The pipeline is not valid. Job Job: Step AzureCLI input connectedServiceNameARM references service connection &lt;whatever value was supplied here&gt; which could not be found. The service connection does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/ya

[2019-12-05 18:01] mtimperley opened #6579 "Server side Auditability for Git unclear"
In Server section, in the table's row for Auditability, column for Git, what does the statement: "You can identify which user pushed a commit. (Anyone can claim any identity as the author or committer.)" mean? Does this mean that a user with permission to commit, could commit using another user's name? In this case, the commit would appear to have been done by another user? If not, please explain.

[2019-12-05 18:02] tbrophy opened #6580 "Using the '/' to in place of the word 'or' may suggest value assignments that are not clear."
Opinion; Within technical documentation, if two value options are mutually exclusive, it is clearer to express their relationship using the word 'or' or semantically equivalent grammar.

Example for scriptType;  "Select bash/pscore script when running on Linux agent or batch/ps/pscore script when running on Windows agent."

Clearer statement; "Use the value of 'bash' or 'pscore' when running on Li

[2019-12-05 18:11] msebolt commented on #6560
@steamwings Thank you for the feedback, assigning this to the author for review.

Please checkout [this post](https://stackoverflow.com/questions/56024471/azure-pipelines-build-docker-image-from-container-registry) for a similar issue and work-around using `containerregistrytype` and `dockerRegistryEndpoint` or vote for the built-in Docker container registry [here](https://developercommunity.visua

[2019-12-05 18:14] dansiegel commented on #6559
@msebolt you are correct this is the documentation forum... And while part of my gripe may have to do with some missing functionality in the product itself... the very fact that you're talking about the SSH Task here should already show by itself one of the ways that the documentation could be improved. Developers commonly use ssh for their repos so the mere fact that neither the checkout task or

[2019-12-05 18:15] PBoraMSFT commented on #6577
@pnwguy, @StlaurentAlex - yes, this seems to be an issue in the task and other customers are running into it as well. We are working on hot-fixing this with a priority. In the meantime, if you don't have tests, consider disabling the task to avoid pipeline failures.

You can track the progress of the item on [this issue](https://developercommunity.visualstudio.com/content/problem/840805/vstest-sta

[2019-12-05 18:29] #6472 closed

[2019-12-05 18:34] StlaurentAlex commented on #6577
@PBoraMSFT, Thanks a lot for the details, we actually disable the task, but I was really curious to know what was causing it. Good to know you are working on the issue.

[2019-12-05 18:48] msebolt commented on #6297
Closing issue, please comment below if there are questions.

[2019-12-05 18:48] #6297 closed

[2019-12-05 18:53] #6458 closed

[2019-12-05 18:55] msebolt commented on #6477
Closing the issue, please comment below if there any questions.

[2019-12-05 18:55] #6477 closed

[2019-12-05 18:55] msebolt commented on #6478
Closing the issue, please comment below if there any questions.

[2019-12-05 18:55] #6478 closed

[2019-12-05 18:55] juliakm commented on #6544
@jwikman I'm updating the docs now. `cancelTimeoutInMinutes` relates to the setting for a deployment task to run the task even if the previous task failed. This sets how long those attempts will continue. Here's what that option looks like on a task in the UI.

<img width="476" alt="Screen Shot 2019-12-05 at 1 45 08 PM" src="https://user-images.githubusercontent.com/64906/70264632-d5d79580-1766-11

[2019-12-05 19:01] #3160 closed

[2019-12-05 19:01] #6544 closed

[2019-12-05 19:05] yelob opened #6581 "Does canary deployment actually work for anyone?"
If I try to use the strategy "canary" for my deployment job, the pipeline fails with no error messages. If I change to "runOnce", it runs as expected. Has anyone actually gotten the canary deployment job strategy to work? Simple example:
stages:
- stage: mystage
  displayName: 'Deploy Canary'
  jobs:
  - deployment: deploy
    pool:
      vmImage: ubuntu-latest
    environment: foo
    strategy:

[2019-12-05 19:06] msebolt commented on #6559
@dansiegel Thank you for the update.

I'll assign this to the author to update the documentation.

[2019-12-05 19:18] #4202 closed

[2019-12-05 19:27] yelob commented on #6581
Submitted a bug here: https://developercommunity.visualstudio.com/content/problem/846068/deployment-job-canary-strategy-fails-without-logs.html

[2019-12-05 19:32] msebolt commented on #6562
@chillbilly79 Thank you for the feedback, assigning this to the author for review.

[2019-12-05 19:44] tfosmark commented on #6490
@mo-saeed Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azur

[2019-12-05 19:44] #6490 closed

[2019-12-05 19:46] #6517 closed

[2019-12-05 19:48] mboutet commented on #6006
@tesharp, did you create a bug or an idea for that?

[2019-12-05 19:51] tfosmark commented on #6349
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-12-05 19:55] craigforr opened #6582 "Azure Repos: Using a Single, Preexisting PAT with Git Credential Manager"
As a follow-on to #2455, the "Use your personal access token" section of the how-to guide now includes examples of using a personal access token (PAT) with Git utilizing the native credential store, however, while the documentation suggests using Git Credential Manager instead, "to keep your token more secure," there are no examples of how to do so.

Git Credential Manager uses the interactive web

[2019-12-05 19:55] msebolt commented on #6564
@eponerine Thank you for the feedback, assigning this to the author for review.

[2019-12-05 20:00] tfosmark commented on #6001
@BlairMcc If you haven't already, here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

[2019-12-05 20:00] #6001 closed

[2019-12-05 20:02] tfosmark commented on #5856
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.

[2019-12-05 20:02] #5856 closed

[2019-12-05 20:08] msebolt commented on #6565
@usysware Thank you for the question.

This issue would be better geared for the [azure-pipelines-image-generation](https://github.com/microsoft/azure-pipelines-image-generation) team.

Please move this issue [here](https://github.com/microsoft/azure-pipelines-image-generation) and link back here.

[2019-12-05 20:17] ScotSalmon commented on #6248
Related, the YAML snippet at the top of the page says:
`#packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg' # Required when command == Push`
But it looks like the value shown is the default when command is push, and it's not actually required if you are okay with that value (which is compatible with the default behavior of pack).

[2019-12-05 20:34] scycer commented on #6349
Sorry but i dont believe this is a specific scenario or implementation. It's a general question of "Now that i have turns a handful of tasks into a group, how do i ungroup them?"

For anyone else the current work around i did was using the previous version of a pipeline before i made the tasks into a group

[2019-12-05 20:43] fmms commented on #5876
i still have no solution to prevent the emails. as we are doing continous integration. I get arround 100 mails per day. 95 percent of them are becasuse it is a 14 day timeout ....

[2019-12-05 20:54] chcomley commented on #6582
Hi @craigforr, Thanks for reaching out. I'm looking into this now and will be in touch soon. Thanks!

[2019-12-05 20:55] zmarty commented on #5876
@fmms We have the same problem. Our DRI / live site e-mail folder gets spammed with these constantly!

[2019-12-05 20:57] KathrynEE commented on #6499
@NenoLoje - Thank you for the feedback. Correcting the links today.

[2019-12-05 20:57] #6499 closed

[2019-12-05 21:02] KathrynEE commented on #6496
@NenoLoje - The ability to designate a URL for the project portal or process guidance is supported for Azure DevOps Services. So leaving this as is for the time being.

[2019-12-05 21:02] #6496 closed

[2019-12-05 21:20] msebolt commented on #6566
@Pajohns343 Thank you for the feedback.

This is possibly the same issue as reported [here](https://developercommunity.visualstudio.com/content/problem/516700/work-details-pane-is-in-hours.html).

Please start an issue with the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html) and link back here.  You can also reference or post to the above issue for more p

[2019-12-05 21:28] Pajohns343 commented on #6566
I do believe this is the same problem.  However, it shows as "closed - not enough info."

Started an issue, you can find it [here](https://developercommunity.visualstudio.com/content/problem/516700/work-details-pane-is-in-hours.html).

[2019-12-05 23:12] timothies commented on #6484
Thanks guys, appreciate your help

[2019-12-05 23:12] msebolt commented on #6567
@LukeSchmidtPwC Thank you for the feedback.

Since this is more of an issue geared towards the product, please move this [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

Alternatively you'll need to create and adjust a custom service hook using the:

[code]

...section of the [Event Types](https://docs.microsoft.com/rest/api/azure/devops/notification/event%20types?view=az

[2019-12-06 00:36] bc3tech commented on #6443
Agreed. I created a variable group with an API Key var in it, marked as Secret.

In my powershell script, I used `$($env:apikey)` as my call, and, even when debugging by using `Write-Host` to spit it out, I got nothing.

When I changed the var to be non-secret, I was able to use it in my script as I expected. **There doesn't seem to be a way to get at variables in variable groups when marked as Se

[2019-12-06 00:42] LukeSchmidtPwC commented on #6567
Okay thanks for the heads up - closing this now.

[2019-12-06 00:42] #6567 closed

[2019-12-06 02:01] usysware commented on #6565
Sorry about that. I don't think I can move it myself so I'd appreciate if you guys do that for me. Thanks.

[2019-12-06 02:14] Divya1388 opened #6583 "Publishing Test Results in Azure Pipelines gives invalid character error on Windows agent"
Configured a pipeline to test and publish results. The test is scripted in go to test a terraform Plan output. The output is converted to Junit format using github.com/jstemmer/go-junit-report
when running the tasks:
go get -u github.com/jstemmer/go-junit-report
go test -v -timeout 60m 2>&1 | go-junit-report > report.xml
and Publish test results
The pipline passes but the publish test result task

[2019-12-06 05:36] msebolt commented on #6568
@igoose  Thank you for the update, assigning this to the author.

[2019-12-06 05:41] msebolt commented on #6569
@techsaau Thank you for the feedback.

This issue is better apt for the [azure-pipelines-tasks](https://github.com/Microsoft/azure-pipelines-tasks) repo team.

Please move the issue [here](https://github.com/Microsoft/azure-pipelines-tasks/issues).

[2019-12-06 06:20] msebolt commented on #6570
@DalpheSDC Thank you for the feedback, we apologize for the issues.

This has been reported in the **azure-pipelines-tasks** repo under https://github.com/microsoft/azure-pipelines-tasks/issues/9820.

Please refer there for further updates.

[2019-12-06 07:58] MarioMeldau opened #6585 "Language selection for a combo from type datetime picker"
Hello,

how can i set the language for the combo from type datetimer picker? It is always german and i want to have english. I did not found anything to set the language.

[2019-12-06 08:37] PBoraMSFT commented on #3838
@steved0x - sent you a mail with details on the fix required. Can you please help with updating the doc?

[2019-12-06 08:48] PBoraMSFT commented on #3950
@steved0x - sent you a mail with details on the fix required. Can you please help with updating the doc?

[2019-12-06 09:07] techsaau commented on #6569
Created a new issue [https://github.com/microsoft/azure-pipelines-tasks/issues/11917](url)

[2019-12-06 09:07] #6569 closed

[2019-12-06 10:11] frankfru commented on #6512
I've look at those resources and other ones, but as far as I can see there's no predefined variable that contains the full path of the yml file (i.c. 'frontend/component-1/azure-pipeline.yml', actually I'm only interested in the path-> 'frontend/component-1')

[2019-12-06 10:44] davykinger opened #6588 "Pipeline parameters not enabled error"
We get "Pipeline parameters not enabled" error when pressing 'Run' on the build pipeline. This is after adding our parameter values to the top of our yaml file. Anyone know why that is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724abea-bbdc-bf66-ed5e-3214fa6c3e66
* Version Independent ID: 4f8dab21-3f0e-da32-cc0e-

[2019-12-06 11:48] ShreyasRmsft commented on #6577
We will keep you updated on the progress of the hotfix. Thanks.

[2019-12-06 12:03] Julio-Guerra commented on #5714
It now works @vtbassmatt based on the doc example <3
Thanks!

For the record, dockerfile for go on alpine on azure pipeline

[code]

[2019-12-06 12:23] thisispaulsmith opened #6589 "Auto Service Connection Inheritance"
What tasks support service connection inheritance? This page shows KubernetesManifest task inheriting from the environment. We're trying HelmDeploy task and it doesn't pick up any connection? Can't find any more specific documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d95db6-9983-7346-d0eb-4b7443e4e252

[2019-12-06 13:54] blueelvis commented on #6349
@tfosmark - No, this is not an issue with a scenario. What I meant is, the document is missing the steps/instructions on how to decompose a task group once it has been created. I don't see how that is a scenario.

Please re-open this issue.

[2019-12-06 14:24] mattlovett opened #6590 "Which version did I download?"
Once I've run this task, how do I know which version of the artifact I'm working with? It would be good if the task set an output variable, so that I could use it later on in my yaml pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03d67d0-8738-72e6-dbe7-324c1784d4fc
* Version Independent ID: bbb4d774-cd98-3ec

[2019-12-06 14:32] mattlovett commented on #6590
Sorry, this is a duplicate of a closed issue!

[2019-12-06 15:22] softwarecraft opened #6591 "Follow entire wiki?"
Hi, I want to follow the entire wiki for my DevOps project, including any new pages created by other people, without having to click Follow on each individual page.

Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd3da932-a8f8-f0b9-668d-0eb498df93b6
* Version Independent ID: 51e6cad0-1737-017a-9ce1-8c

[2019-12-06 15:27] GarethOates commented on #2615
I have this issue even without specifying DownloadPipelineArtifact at all, because according to the documentation "All available artifacts from the current pipeline and from the associated pipeline resources are automatically downloaded in deployment jobs".

Yet when the task tries to fetch my artifact, I get the Value cannot be null error, even though it's a task that Azure DevOps has tried to in

[2019-12-06 15:44] kibernick commented on #6511
Hi @RoopeshNair thanks for your explanation - I was not working with an extension. I created a connection myself and tried to add it to a Pipeline. To give a little context - I want to enable accessing of S3 buckets in a job/step, as part of a test. I was also not using the UI assistant, but coding the YAML in my editor.

What I want to achieve is to:
* enable a connection to AWS S3 from the host

[2019-12-06 16:04] shawnpaige commented on #6542
We are also receiving the same error as outlined by D4rkiii.

[2019-12-06 16:26] gradyal commented on #5700
Is there any sort of workaround to not being able to setup manual deployments? I have this currently setup using the classic release pipeline UI such that in-sprint work gets manually deployed to a test environment so as not to burden our QA with approval emails. I'd prefer to have a similar setup using multi-stage pipelines.

[2019-12-06 16:32] chcomley commented on #6582
Hi @craigforr, For every GIT repo a PAT is created the first time we connect to it. However, the code is in the public domain, so we'd be fine with you modifying the code to achieve your goal. My PM is curious as to what problem you're trying to solve by limiting everything to a single PAT, or in other words, what are your challenges with multiple PATs?

[2019-12-06 17:45] chcomley commented on #4919
@BiribiriJaNai, I'm glad you got what you needed! Closing this issue. Thanks!

[2019-12-06 17:49] chcomley commented on #4998
Hi @JGCreator, Since this issue was created, there have been two links added to the article for more information. They are as follows: [API Reference](https://docs.microsoft.com/en-us/azure/devops/extend/reference/client/controls/tree?view=azure-devops) and [Azure DevOps Extension SDK](https://developer.microsoft.com/en-us/azure-devops/develop/extensions). Closing this issue, however If these don'

[2019-12-06 17:49] #4998 closed

[2019-12-06 18:42] steved0x commented on #6559
#assign:juliakm

[2019-12-06 18:42] steved0x commented on #6559
#reassign:steved0x

[2019-12-06 19:24] johnterickson commented on #6403
It is not currently available from that API. You can use the Azure CLI to download.

[2019-12-06 19:37] chcomley commented on #6403
Please @ mention me if you have any further questions, @avivanoff. Here's a link to the Azure CLI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest. Thank you!

[2019-12-06 19:37] #6403 closed

[2019-12-06 19:43] avivanoff commented on #6403
@chcomley, can you at least get it in your backlog?

[2019-12-06 19:45] chcomley commented on #6403
Yes, of course, I've created a user story, which is on my backlog. Thanks!

[2019-12-06 20:40] o-o00o-o commented on #5877
Wow, didn't realise that at all. Perhaps this is why we won't use these.. should definitely be an option or made clearer

[2019-12-06 22:09] ldcl289 commented on #2599
Any news on how to solve this problem?
I have the same situation where the only outcome from enabling coverage collection is a .coverage, which only allows me to download, but it doesn't seem to be process on the summary tab or to block pull requests (which is something that we are requiring).
My team's environment is a mix between c++ with c# code.

Thanks.

[2019-12-07 00:38] craigforr commented on #6582
Thanks for looking into this @chcomley...

Every PAT generated appears as follows under the Personal Access Tokens settings:

    Git: https://dev.azure.com/organization/ on COMPUTER-NAME

This makes managing their access privileges and renewals nearly impossible, because after I log into them all, I end up with a listing that looks like this:

    Git: https://dev.azure.com/organization/ on COMPU

[2019-12-07 08:15] logiclrd opened #6593 "Please improve the documentation of the version specification"
The documentation of the version specification lists ">2.x" as an example. Based on this, I tried ">5.x" in my build pipeline and it did not work. ">5" didn't work either. Is there a way to simply always get the latest version? The documentation does not say whether the version spec can simply be omitted.

[2019-12-07 11:56] SebastianSchuetze opened #6594 "Page starts with a quote"
Hi, I know that the first sentence on the page is how MS perceives the philosophy of DevOps, but I would prefer to reference quotes back to the originator!

http://donovanbrown.com/post/what-is-devops

I could imagine, that Donavan Brown is ok with it, but I also the perception of people is important. And (me coming from a university) I would prefer an approach to reference it back to the source!

[2019-12-07 12:09] SebastianSchuetze commented on #6594
Pull request for the suggested change: https://github.com/MicrosoftDocs/devops-learn-pr/pull/8

[2019-12-07 12:28] RoopeshNair commented on #6349
@blueelvis - de-composing taskgroup once created is not supported. As @tfosmark suggested, you can revert to a previous version of the pipeline.

[2019-12-07 12:36] RoopeshNair commented on #6511
@kibernick - only the steps that support `awsCredenials` can be used to target AWS. You can't use any connection with any step.  It has got to be ones that are available as part of [AWS Extension](https://marketplace.visualstudio.com/items?itemName=AmazonWebServices.aws-vsts-tools) on marketplace.  I haven't tried the extension myself so can't help. I would reccomend you to post this to author of

[2019-12-07 16:53] NenoLoje opened #6595 "Remove TFS Power Tools from current docs"
The TFS Power Tools have been deprecated quite some time ago, let's remove them from the service docs.

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6734489-29e0-48c7-20b7-329174a65346
* Version Independent ID: efc8ff4b-e0ed-0c81-ad8e-35c5e0637ed3
* Content: [What is the best tool to add, update, or l

[2019-12-07 16:58] o-o00o-o opened #6597 "Where can I find information on how "Automatically link new work in this build" works"
I have been searching for ages but I can't find any area for the Options in a normal Build Pipeline

![image](https://user-images.githubusercontent.com/13693159/70377941-71593980-1912-11ea-9627-e8538a85d854.png)

I am getting some strange behaviour with this, with very old work items that were completed ages ago still being included in new builds and there doesn't seem to be anywhere that describe

[2019-12-07 17:04] NenoLoje opened #6598 "Basic process: remove preview notice"
On two places, the basic process is stated to still be in preview:

- "selective Preview"
- "Note: Basic is currently in a selective Preview for new users of Azure Boards only."

Is that still the case, or should we rather remove the "preview" notes?

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b3466

[2019-12-07 17:07] NenoLoje opened #6599 "Use correct wording: Agent "queues" have become project-level agent pools"
In this document, the term "queue" is still used, whereas this has been renamed to agent pools (on the project level) a while ago.

Thanks,
--neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65536478-7839-8477-b030-965159151e40
* Version Independent ID: 42f54ed3-8173-65b7-0a3a-e77b4c9b3d7a
* Content: [Understand how

[2019-12-07 17:09] NenoLoje opened #6600 "Update wording: "TFS administrators""
On this page, the term "TFS administrators" is used. This is confusing when using Azure DevOps Services.

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4409a9cb-8448-edd6-da0a-243e5601aa3e
* Version Independent ID: ec15f71a-a76d-c3f9-1d31-832f92183ef4
* Content: [Agents pools - Azure Pipelines](https://

[2019-12-07 17:11] NenoLoje opened #6601 "Update wording: TFS and "Team Foundation Server""
This page still talks about "TFS" and "Team Foundation Server" instead of Azure DevOps Server. Please update.

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23328b13-f079-ad21-5d7a-6c640f25391c
* Version Independent ID: 4a39889d-fa00-ae2b-aa43-f358631b7b1a
* Content: [Deploy a Azure Pipelines agent on L

[2019-12-07 17:36] NenoLoje commented on #4066
In the "Authenticate with a personal access token (PAT)" section, which gets included from "_shared/v2/prepare-permissions.md", we should:

- Say "Azure DevOps Server" instead of "Team Foundation Server" when moniker >= Server 2019.
- Update the URL to be: https://{your_server}/ (as mentioned in #4066 as well)

Thanks,
--Neno

[2019-12-07 17:49] NenoLoje opened #6606 "Remove deployment notice"
The docs still say that the feature is "is in the process of deployment", which should meanwhile be obsolete and it creating confusion around users.

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f1e43f-a069-dd88-7fc7-9cc497fb94f0
* Version Independent ID: c261afa7-6eb7-b3f0-9f92-6d2f3c5ac336
* Conten

[2019-12-07 22:28] StingyJack commented on #6482
[This whole section](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#secure-a-service-connection) is contradictory to what you are saying. It says administrators can see and define service connections and users can use ones already created. That would be what we expect, because it is less complicated and doesn't require duplication of w

[2019-12-08 02:01] HughDevlin opened #6608 "Lead"
"You can use a parallel job in Azure Pipelines to run a single job at a time in your organization."

If you come here to learn more about parallel jobs, the very 1st sentence is so confusing as to be off-putting. A parallel job can be used to run a single job at a time? OK, but then what's parallel about it? Is this trying to say jobs may be run, and optionally, run in parallel? Maybe lead by haza

[2019-12-08 02:11] HughDevlin opened #6609 "Private project: One free parallel job"
In section "Microsoft-hosted CI/CD",  what is meant by "Private project: One free parallel job..."? Is this a clever way of saying jobs may not be run in parallel in the free tier? If so, it is so clever it is confusing. Do I understand from this, that Microsoft wants say sure, parallel jobs are available in the free tier, they just can't run jobs in parallel? It reads as if Microsoft is reluctant

[2019-12-08 02:57] devopsdymyr opened #6610 "Any changes in task,commands in sprint should notified to team"
We are tried to configure notification for our project to send notification to team if there is any chnages in task or sprint should notify.
![image](https://user-images.githubusercontent.com/41105507/70294286-fe17d080-1808-11ea-8986-f43c96798450.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7bf3dc8-4c12-bf7f-2f

[2019-12-08 09:48] jimicze opened #6611 "Sharing test results ?"
How can i share testresults from release pipe to slack channel with % pass rate ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a6f5aa-7e92-a028-d13e-e1e4b7fede86
* Version Independent ID: be7e5d7c-0033-6b72-4bd1-809f7d1894aa
* Content: [Azure Pipelines with Slack - Azure Pipelines](https://docs.microsoft.com/en-us/

[2019-12-08 16:38] blueelvis commented on #6349
@RoopeshNair - I am not sure why you are so eager on closing this? If this is not possible, this needs to be added in the documentation as a note because it doesn't make sense in reverting the pipeline every time you need to decompose a task group.

[2019-12-08 23:33] muraliwho opened #6612 "No details or explanation provided"
Some steps are missing. Please note that I am new to creating Azure DevOps Pipelines and when I see the section mentioned below (above in the article). How do I navigate to the project? I have not created it yet as per the article. Please fix the steps to make this article useful.
-------
Get your first run
Sign in to your Azure DevOps organization and navigate to your project.
-------

---
#### D

[2019-12-09 02:20] jsgoupil opened #6613 "Counter example is incorrect"
The counter example comment mentioning a and b variables is incorrect. There is no use of such variables in that first example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc762db18
* Content: [Expressions - Azure Pipelines](htt

[2019-12-09 05:09] StingyJack commented on #3477
After a quick visual check using the build rest API and they seem to be unique across the organization.

[2019-12-09 06:13] RoopeshNair commented on #6482
@StingyJack  -  It is not contradicting, you will have to assign "user" role to your teammates, if they are to use your "personal" connections. Yes, it is a "enterprise level of ~complexity~ security". Let's say the connection is for production subscription, would the subscription owner by default share it with everyone or would be selective about who can deploy to it. In our designs, we default i

[2019-12-09 08:35] estensen opened #6614 "Update Go example from 1.11 to 1.13"
The way modules are used differ between the versions. The docs should be update to (also) show an example for the latest release. I feel it's especially important since people copy-paste code found in documentation. The example is also more complex than it has to be since many of the values that are set are already set as defaults.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-12-09 12:05] GenesisCoast opened #6616 "No examples or documentation on how to use type casting"
The documentation mentions that type casting can be used alongside functions, however it doesn't actually specify any examples or the format in which to perform the type casting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c58a78-a567-e99a-9eb7-62dddd1b90b6
* Version Independent ID: 680a79bc-11de-39fc-43e3-e07dc76

[2019-12-09 12:20] boydkronenberg opened #6617 "Make 'Define' standard selected option at testcase overview"
I work extensively in the 'Define' tab. Every time I reopen the testplan via my bookmark (/_testManagement?_a=tests&Length=2&planId=2291) and navigate to my testcase folder (static suite), the tab 'Execute' is standard selected.

When I open/doubleclick a testcase to edit it, it opens 'Execution history for test case:'
I expect/want to open the testcase editor itself (non-grid view).

Can this be

[2019-12-09 12:48] BenResTech opened #6618 "Variable Names handled inconsistently"
The above information states (in the section on 'Set variables in pipeline)' that:
[code]

However, having just tested this, the name of the variable supplied to the Bash script is not automatically made into upper case if the variable is defined as an env var to the Bash task. My example was using the built-in system.accesstoken variable.

The following (which is compliant with the above document

[2019-12-09 14:26] chcomley commented on #6591
Hi @softwarecraft, Thanks for reaching out. This feature is only available on the page level, so it's not possible to follow the entire wiki. I recommend submitting a [feature request](https://developercommunity.visualstudio.com/spaces/21/index.html). Thank you!

[2019-12-09 14:34] #6591 closed

[2019-12-09 15:32] horros opened #6619 "Deploy canary stage, section 4 is maybe not quite clear"
The step says to "Provide appropriate values for the input dropdowns to locate your container registry", and reading through the docs one would assume that this means one should use the service connection to ACR created in the "Create service connections" step. The docs do not mention that the service connection needs to be an Azure Resource Manager connection.

---
#### Document Details

⚠ *Do no

[2019-12-09 15:41] o-o00o-o commented on #6597
Just further to this, just to give a bit more information

We have a "Release Flow" type git branching strategy. This is a master branch, some feature/* branches for work in progress and a set of releases/* branches.

I'm starting to wonder if this automatic linking of work items is not restricting to the last build of the current branch and is just comparing against the last build on this pipelin

[2019-12-09 17:24] msebolt commented on #6573
@utterdomain Thank you for the feedback, assigning this to the author for review.

[2019-12-09 17:30] msebolt commented on #6574
@ccagahr Thank you for the feedback, assigning this to the author for review.

Is the [Process template REST API](https://docs.microsoft.com/rest/api/azure/devops/processadmin/processes/export%20process%20template?view=azure-devops-rest-5.1) a suitable work-around?

[2019-12-09 17:46] msebolt commented on #6575
@manojpaidimarri Thank you for the feedback.

Please note this is a documentation forum so our support options are limited.  For product-related issues please move this issue [here](https://developercommunity.visualstudio.com/spaces/21/index.html).

What exactly does the `N-1` refer to?  Is the created date off by one day or do you need the time portion removed for easier filtering?

[2019-12-09 17:50] msebolt commented on #6578
@tbrophy Thank you for the feedback, assigning this to the author for review.

[2019-12-09 18:43] paulsancer commented on #2844
@kenkuo Did you manage to use multiple variable groups in your build?

[2019-12-09 19:03] BiribiriJaNai commented on #4919
@chcomley , I didn't get what I needed... I found **a part** of the solution to my problem, by myself.
There's still no documentation out there about the things I mentionned in my first post.
Thanks for **not** closing this issue.

[2019-12-09 19:13] jbburf opened #6620 "Configuring Task"
I'm trying to move local Xcode builds to azure's cloud pipeline but I've found the documentation to be extremely shallow. I am specifically trying to build without signing but nothing in the above documentation explains how to configure this task. Multiple options above are not available in the actual task (using the latest @5 version in Azure Devops). Things in the documentation are extremely poo

[2019-12-09 19:17] chcomley commented on #4919
I’ve reopened the issue and will help you get to the bottom of this, @BiribiriJaNai.

[2019-12-09 20:16] msebolt commented on #6579
@mtimperley Thank you for the feedback, assigning this to the author for review.

[2019-12-09 20:33] #5906 closed

[2019-12-09 21:04] snickler commented on #6588
From what I discovered, you can only use parameters in YAML files if they are within templates. You're better off defining variables in the pipeline in the form of 'Parameters.name' if you copied the YAML output from a classic pipeline.

[2019-12-09 21:27] #6566 closed

[2019-12-09 21:32] msebolt commented on #6580
@tbrophy Thank you for the feedback, a change to the documentation is pending.

[2019-12-09 21:36] msebolt commented on #6581
@yelob  Thank you for the feedback, closing now since the product team has picked up the issue.

For additional comments/updates, please use the link above.